GenericOrderGateway/WSDL/WeakClient/Cordys.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://schemas.kpn.com/wholesaleorderdesk/1.0/interface/sni" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="UpdateSNIOrderStatus" targetNamespace="http://schemas.kpn.com/wholesaleorderdesk/1.0/interface/sni">
    <wsdl:documentation>        v0.2 Change description for UpdatedSNIOrderType.OrderId, UpdatedSNIOrderType.ProductInstanceId 
             and UpdatedSNIOrderType.OrderStatus. Those values came form SNI not from WOD.
        v0.3 Change minOccurs to 0 for UpdatedSNIOrderType.OrderId and UpdatedSNIOrderType.ProductInstanceId.
        v0.4 RequesterID and Timestamp removed from header.
    
	</wsdl:documentation>
    <wsdl:types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.kpn.com/wholesaleorderdesk/1.0/interface/sni" xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://schemas.kpn.com/wholesaleorderdesk/1.0/interface/sni">
            <complexType name="UpdateSNIOrderStatusType">
                <sequence>
                    <element name="Header" type="tns:HeaderType"/>
                    <element name="UpdatedOrder" type="tns:UpdatedSNIOrderType"/>
                </sequence>
            </complexType>
            <complexType name="HeaderType">
                <all>
                    <element name="CorrelationId" type="string">
                        <annotation>
                            <documentation>Field which can be used by Service Provider to correlate request and response. WOD do not fill or change this field.</documentation>
                        </annotation>
                    </element>
                    <element name="RequestId" type="string">
                        <annotation>
                            <documentation>Needs to be defined by KPN.</documentation>
                        </annotation>
                    </element>
                    <element name="Synchronous" type="boolean">
                        <annotation>
                            <documentation>Needs to be defined by KPN.</documentation>
                        </annotation>
                    </element>
                    <element name="Originator" type="string">
                        <annotation>
                            <documentation>Party sending the EAI message - needs more explanation.</documentation>
                        </annotation>
                    </element>
                    <element name="Recipient" type="string">
                        <annotation>
                            <documentation>Party intended to receive the EAI message.</documentation>
                        </annotation>
                    </element>
                </all>
            </complexType>
            <complexType name="UpdatedSNIOrderType">
                <all>
                    <element maxOccurs="1" minOccurs="0" name="OrderId" type="string">
                        <annotation>
                            <documentation>                                Unique identifier of order generated by
                                SNI.
                            
							</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="ProductInstanceId" type="string">
                        <annotation>
                            <documentation>                                Unique product instance id which was created by SNI.
                            
							</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="1" name="OrderStatus" type="tns:OrderStatusType">
                        <annotation>
                            <documentation>                                Status of order in SNI.
                            
							</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="Errors" type="tns:ErrorsType">
                        <annotation>
                            <documentation>                                Errors if any occurs.s
                            
							</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="Parameters" type="tns:ParametersType">
                        <annotation>
                            <documentation>                                Parameters, which may be related with
                                current state of order. E.g. date when
                                product will be available for client.
                            
							</documentation>
                        </annotation>
                    </element>
                </all>
            </complexType>
            <simpleType name="OrderStatusType">
                <restriction base="string">
                    <enumeration value="RECEIVED"/>
                    <enumeration value="ACCEPTED"/>
                    <enumeration value="PLANNED"/>
                    <enumeration value="REJECTED"/>
                    <enumeration value="COMPLETED"/>
                    <enumeration value="CANCELLED"/>
                    <enumeration value="FAULT"/>
                    <enumeration value="UNKNOWN"/>
                </restriction>
            </simpleType>
            <complexType name="ParameterType">
                <sequence>
                    <element maxOccurs="1" minOccurs="1" name="Name" type="string"/>
                    <element maxOccurs="1" minOccurs="1" name="Value" type="string"/>
                </sequence>
            </complexType>
            <complexType name="ParametersType">
                <sequence>
                    <element maxOccurs="unbounded" minOccurs="0" name="Parameter" type="tns:ParameterType"/>
                </sequence>
            </complexType>
            <complexType name="ErrorsType">
                <sequence>
                    <element maxOccurs="unbounded" minOccurs="0" name="Error" type="tns:ErrorType"/>
                </sequence>
            </complexType>
            <complexType name="ErrorType">
                <sequence>
                    <element maxOccurs="1" minOccurs="1" name="ErrorCode" type="string">
                        <annotation>
                            <documentation>Error code.</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="ErrorDescription" type="string">
                        <annotation>
                            <documentation>                                Description for error.
                            
							</documentation>
                        </annotation>
                    </element>
                </sequence>
            </complexType>
            <complexType name="Empty"/>
            <element name="UpdateSNIOrderStatus" type="tns:UpdateSNIOrderStatusType"/>
            <element name="UpdateSNIOrderStatusResponse" type="tns:Empty"/>
        </schema>
    </wsdl:types>
    <wsdl:message name="UpdateSNIOrderStatusIn">
        <wsdl:part element="tns:UpdateSNIOrderStatus" name="operation"/>
    </wsdl:message>
    <wsdl:message name="UpdateSNIOrderStatusOut">
        <wsdl:part element="tns:UpdateSNIOrderStatusResponse" name="response"/>
    </wsdl:message>
    <wsdl:portType name="KPNWhiteLabelOrderDeskPortType">
        <wsdl:operation name="UpdateSNIOrderStatus">
            <wsdl:input message="tns:UpdateSNIOrderStatusIn"/>
            <wsdl:output message="tns:UpdateSNIOrderStatusOut"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="KPNWhiteLabelOrderDeskBinding" type="tns:KPNWhiteLabelOrderDeskPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="UpdateSNIOrderStatus">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="MethodSetSNICallback">
        <wsdl:port binding="tns:KPNWhiteLabelOrderDeskBinding" name="MethodSetSNICallbackPort">
            <soap:address location="http://l0410.kpnnl.local/cordys/com.eibus.web.soap.Gateway.wcp?organization=o=WOD,cn=cordys,o=kpnnl.local"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>