EDTAdapter/XSDSchemas/KanvasContractAdapter/Response/GetCtpLineDetails.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.example.com/unique/default/namespace/1113223891468"
	 targetNamespace = "http://xmlns.example.com/unique/default/namespace/1113223891468"
	 xmlns:KanvasResponse.xsd = "http://xmlns.kpn.com/fixed/kanvascontractadapter/common/KanvasResponse.xsd"
	 xmlns:PhoneNumber.xsd = "http://xmlns.kpn.com/fixed/common/PhoneNumber.xsd"
	 xmlns:CtpLine.xsd = "http://xmlns.example.com/unique/default/namespace/1113226991796"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified">
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/kanvascontractadapter/common/KanvasResponse.xsd" schemaLocation = "../Common/KanvasResponse.xsd"/>
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/common/PhoneNumber.xsd" schemaLocation = "../../Common/PhoneNumber.xsd"/>
	<xsd:import namespace = "http://xmlns.example.com/unique/default/namespace/1113226991796" schemaLocation = "../Common/CtpLine.xsd"/>
	<xsd:element name = "GetCtpLineDetails">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base = "KanvasResponse.xsd:KanvasResponse">
					<xsd:sequence>
						<xsd:element name = "NUMBER_OF_LINES" type = "xsd:string" minOccurs = "0"/>
						<xsd:element name = "LINE" minOccurs = "0" maxOccurs = "unbounded">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name = "CENTRAL_AREA_CODE" type = "xsd:string" minOccurs = "0"/>
									<xsd:element name = "INVOERKABEL_SEQUENCE_NUMBER" type = "xsd:string" minOccurs = "0"/>
									<xsd:element name = "DIKADER_NUMBER" type = "xsd:string" minOccurs = "0"/>
									<xsd:element name = "TELECOM_REGION_CODE" type = "xsd:string" minOccurs = "0"/>
									<xsd:element name = "LINE_STATUS" type = "xsd:string" minOccurs = "0"/>
									<xsd:element name = "CURRENT" type = "CtpLine.xsd:CtpLine" minOccurs = "0"/>
									<xsd:element name = "FUTURE" type = "CtpLine.xsd:CtpLine" minOccurs = "0"/>
									<xsd:element name = "LINE_TERMINATION_EQUIPMENT" minOccurs = "0">
										<xsd:complexType>
											<xsd:sequence>
												<xsd:element name = "USAGE_STATUS" type = "xsd:string" minOccurs = "0"/>
												<xsd:element name = "EQUIPMENT_CODE" type = "xsd:string" minOccurs = "0"/>
											</xsd:sequence>
										</xsd:complexType>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name = "PHONE_NUMBER" type = "PhoneNumber.xsd:PhoneNumber" minOccurs = "0"/>
					</xsd:sequence>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>