EDTAdapter/XSDSchemas/KanvasContractAdapter/Response/GetLocalLoopPath.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.example.com/unique/default/namespace/1111412947234"
	 targetNamespace = "http://xmlns.example.com/unique/default/namespace/1111412947234"
	 xmlns:CableSection.xsd = "http://xmlns.example.com/unique/default/namespace/1111417935359"
	 xmlns:KanvasResponse.xsd = "http://xmlns.kpn.com/fixed/kanvascontractadapter/common/KanvasResponse.xsd"
	 xmlns:Location.xsd = "http://xmlns.example.com/unique/default/namespace/1111410238843"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 xmlns:Node.xsd = "http://xmlns.example.com/unique/default/namespace/1111409998750"
	 elementFormDefault = "qualified">
	<xsd:import namespace = "http://xmlns.example.com/unique/default/namespace/1111417935359" schemaLocation = "../Common/CableSection.xsd"/>
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/kanvascontractadapter/common/KanvasResponse.xsd" schemaLocation = "../Common/KanvasResponse.xsd"/>
	<xsd:import namespace = "http://xmlns.example.com/unique/default/namespace/1111410238843" schemaLocation = "../Common/Location.xsd"/>
	<xsd:import namespace = "http://xmlns.example.com/unique/default/namespace/1111409998750" schemaLocation = "../Common/Node.xsd"/>
	<xsd:element name = "GetLocalLoopPath">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base = "KanvasResponse.xsd:KanvasResponse">
					<xsd:sequence>
						<xsd:element name = "NODE" type = "Node.xsd:Node" minOccurs = "0" maxOccurs = "unbounded"/>
						<xsd:element name = "CABLE_SECTION" type = "CableSection.xsd:CableSection" minOccurs = "0" maxOccurs = "unbounded"/>
						<xsd:element name = "LOCATION" type = "Location.xsd:Location" minOccurs = "0"/>
					</xsd:sequence>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>