Common/Common/Test Resources/XSDSchemas/TestComponent2/Response/TestRequestService.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.kpn.com/fixed/common/test/response/TestRequestService"
	 targetNamespace = "http://xmlns.kpn.com/fixed/common/test/response/TestRequestService"
	 xmlns:Base.xsd = "http://xmlns.kpn.com/common/cdm/Base.xsd"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 xmlns:ResultStatus.xsd = "http://xmlns.kpn.com/common/cdm/ResultStatus.xsd"
	 elementFormDefault = "qualified">
	<xsd:import namespace = "http://xmlns.kpn.com/common/cdm/Base.xsd" schemaLocation = "../../../../../XSDSchemas/Common/Base.xsd"/>
	<xsd:import namespace = "http://xmlns.kpn.com/common/cdm/ResultStatus.xsd" schemaLocation = "../../../../../XSDSchemas/Common/ResultStatus.xsd"/>
	<xsd:element name = "TestRequestService">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base = "Base.xsd:Base">
					<xsd:sequence>
						<xsd:element name = "RESULT_STATUS" type = "ResultStatus.xsd:ResultStatus"/>
						<xsd:element name = "ORDER_HEADER_OUT">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name = "DOC_TYPE" type = "xsd:string"/>
									<xsd:element name = "SALES_ORG" type = "xsd:string"/>
									<xsd:element name = "DISTR_CHAIN" type = "xsd:string"/>
									<xsd:element name = "DIVISION" type = "xsd:string"/>
									<xsd:element name = "REQ_DATE_H" type = "xsd:string"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name = "ELEMENT2" type = "xsd:string"/>
						<xsd:element name = "ELEMENT3" type = "xsd:string"/>
					</xsd:sequence>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>