GenericSOAPGateway/XSDSchemas/NIMVOIPAdapter/Request/GetNumberRegistrationDetails.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.kpn.com/fixed/NIMVOIPAdapter/Request/GetNumberRegistrationDetails.xsd"
	 targetNamespace = "http://xmlns.kpn.com/fixed/NIMVOIPAdapter/Request/GetNumberRegistrationDetails.xsd"
	 xmlns:Base.xsd = "http://xmlns.kpn.com/common/cdm/Base.xsd"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema">
	<xsd:import namespace = "http://xmlns.kpn.com/common/cdm/Base.xsd" schemaLocation = "../../Common/Base.xsd"/>
	<xsd:element name = "GetNumberRegistrationDetails">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base = "Base.xsd:Base">
					<xsd:sequence>
						<xsd:element name = "SERVICE_ID" type = "xsd:integer"/>
						<xsd:element name = "PHONE_NUMBER">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name = "AREA_CODE" type = "xsd:string"/>
									<xsd:element name = "SUBSCRIBER_NUMBER" type = "xsd:string"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>