EClipsAdapter/XSDSchemas/PortingServicesWF/Request/ChangeNumberInPorting.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.kpn.com/fixed/portingserviceswf/request/ChangeNumberInPorting.xsd"
	 targetNamespace = "http://xmlns.kpn.com/fixed/portingserviceswf/request/ChangeNumberInPorting.xsd"
	 xmlns:Base.xsd = "http://xmlns.kpn.com/common/cdm/Base.xsd"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified">
	<xsd:import namespace = "http://xmlns.kpn.com/common/cdm/Base.xsd" schemaLocation = "../../Common/Base.xsd"/>
	<xsd:element name = "ChangeNumberInPorting">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base = "Base.xsd:Base">
					<xsd:sequence>
						<xsd:element name = "PORTING_ID" type = "xsd:string"/>
						<xsd:element name = "WISH_DATE" type = "xsd:dateTime"/>
						<xsd:element name = "NOTE" type = "xsd:string" minOccurs = "0"/>
					</xsd:sequence>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>