EClipsAdapter/XSDSchemas/PortingServicesWF/Request/RequestNumberTariffChange.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.kpn.com/fixed/portingserviceswf/request/RequestNumberTariffChange.xsd"
	 targetNamespace = "http://xmlns.kpn.com/fixed/portingserviceswf/request/RequestNumberTariffChange.xsd"
	 xmlns:TariffInfo.xsd = "http://xmlns.kpn.com/fixed/portingserviceswf/common/TariffInfo.xsd"
	 xmlns:Base.xsd = "http://xmlns.kpn.com/common/cdm/Base.xsd"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified">
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/portingserviceswf/common/TariffInfo.xsd" schemaLocation = "../Common/TariffInfo.xsd"/>
	<xsd:import namespace = "http://xmlns.kpn.com/common/cdm/Base.xsd" schemaLocation = "../../Common/Base.xsd"/>
	<xsd:element name = "RequestNumberTariffChange">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base = "Base.xsd:Base">
					<xsd:sequence>
						<xsd:element name = "PLATFORM_PROVIDER" type = "xsd:string"/>
						<xsd:element name = "PLANNED_DATE_TIME" type = "xsd:dateTime"/>
						<xsd:element name = "TYPE_OF_NUMBER" type = "xsd:integer"/>
						<xsd:element name = "PRIORITY" type = "xsd:integer"/>
						<xsd:element name = "TARIFF_CHANGE_SEQUENCE" type = "TariffChangeSequence" maxOccurs = "unbounded"/>
					</xsd:sequence>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name = "TariffChangeSequence">
		<xsd:sequence>
			<xsd:element name = "NUMBER" type = "xsd:string"/>
			<xsd:element name = "TARIFF_INFO_OLD" type = "TariffInfo.xsd:TariffInfo" minOccurs = "0"/>
			<xsd:element name = "TARIFF_INFO_NEW" type = "TariffInfo.xsd:TariffInfo" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>