IKKAdapter/XSDSchemas/KanvasContractAdapter/Common/CtpLine.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.example.com/unique/default/namespace/1113226991796"
	 targetNamespace = "http://xmlns.example.com/unique/default/namespace/1113226991796"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 xmlns:PhoneNumber.xsd = "http://xmlns.kpn.com/fixed/common/PhoneNumber.xsd"
	 elementFormDefault = "qualified">
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/common/PhoneNumber.xsd" schemaLocation = "../../Common/PhoneNumber.xsd"/>
	<xsd:complexType name = "CtpLine">
		<xsd:sequence>
			<xsd:element name = "HOST_ID" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "LINE_SHORT_NAME" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "PORTING_STATUS" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "QUALITY_CATEGORY" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "ROUTING_TYPE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "SERVICE_ID" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "SERVICE_PROVIDER_ID" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "SERVICE_TYPE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "SERVICE_TYPE_EXTENSION" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "USAGE_STATUS" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "USAGE_STATUS_EXTENSION" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "PHONE_NUMBER" type = "PhoneNumber.xsd:PhoneNumber" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>