IKKAdapter/XSDSchemas/KanvasContractAdapter/Common/DirectDialBlock.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.example.com/unique/default/namespace/1113223074734"
	 targetNamespace = "http://xmlns.example.com/unique/default/namespace/1113223074734"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified">
	<xsd:complexType name = "DirectDialBlock">
		<xsd:sequence>
			<xsd:element name = "DIRECT_DIAL_BLOCK" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "HIGHEST_RELEASED_NUMBER" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "USAGE_STATUS" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "USAGE_STATUS_EXTENSION" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "PORTING_STATUS" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "SWITCHING_FLAG" type = "xsd:string" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>