IKKAdapter/XSDSchemas/KanvasContractAdapter/Common/PhysicalPort.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.example.com/unique/default/namespace/1111408602265"
	 targetNamespace = "http://xmlns.example.com/unique/default/namespace/1111408602265"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified">
	<xsd:complexType name = "PhysicalPort">
		<xsd:sequence>
			<xsd:element name = "PHYSICAL_PORT_ID" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "LOCATION_INDICATION" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "PHYSICAL_PORT_STATUS" type = "xsd:string" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>