IKKAdapter/XSDSchemas/KanvasContractAdapter/Common/Shelf.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.example.com/unique/default/namespace/1111408597203"
	 targetNamespace = "http://xmlns.example.com/unique/default/namespace/1111408597203"
	 xmlns:PhysicalPort.xsd = "http://xmlns.example.com/unique/default/namespace/1111408602265"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 xmlns:PhysicalPortRange.xsd = "http://xmlns.example.com/unique/default/namespace/1115728120000"
	 elementFormDefault = "qualified">
	<xsd:import namespace = "http://xmlns.example.com/unique/default/namespace/1111408602265" schemaLocation = "PhysicalPort.xsd"/>
	<xsd:import namespace = "http://xmlns.example.com/unique/default/namespace/1115728120000" schemaLocation = "PhysicalPortRange.xsd"/>
	<xsd:complexType name = "Shelf">
		<xsd:sequence>
			<xsd:element name = "SHELF_POSITION" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "PHYSICAL_PORT" type = "PhysicalPort.xsd:PhysicalPort" minOccurs = "0"/>
			<xsd:element name = "PHYSICAL_PORT_RANGE" type = "PhysicalPortRange.xsd:PhysicalPortRange" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>