EDTAdapter/XSDSchemas/VierTELAdapter/Request/GetLineMeasurement.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.example.com/unique/default/namespace/1087453945189"
	 targetNamespace = "http://xmlns.example.com/unique/default/namespace/1087453945189"
	 xmlns:Base.xsd = "http://xmlns.kpn.com/common/cdm/Base.xsd"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema">
	<xsd:import namespace = "http://xmlns.kpn.com/common/cdm/Base.xsd" schemaLocation = "../../Common/Base.xsd"/>
	<xsd:element name = "GetLineMeasurement">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base = "Base.xsd:Base">
					<xsd:sequence>
						<xsd:element name = "PHONE_NUMBER" type = "xsd:string"/>
						<xsd:element name = "MEASUREMENT_TYPE" type = "xsd:string"/>
						<xsd:element name = "TSC_SERVER" type = "xsd:string"/>
						<xsd:element name = "TIMEOUT" type = "xsd:integer" minOccurs = "0"/>
					</xsd:sequence>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element> 
</xsd:schema>
