EDTAdapter/XSDSchemas/ASTRIDAdapter/Publish/TroubleProgressReport.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.kpn.com/fixed/ASTRIDAdapter/Publish/TroubleProgressReport.xsd"
	 targetNamespace = "http://xmlns.kpn.com/fixed/ASTRIDAdapter/Publish/TroubleProgressReport.xsd"
	 xmlns:ASTRIDPublish.xsd = "http://xmlns.kpn.com/fixed/ASTRIDAdapter/common/ASTRIDPublish.xsd"
	 xmlns:CustomerOrganization.xsd = "http://xmlns.kpn.com/fixed/ASTRIDAdapter/common/CustomerOrganization.xsd"
	 xmlns:TroubleReport.xsd = "http://xmlns.kpn.com/fixed/ASTRIDAdapter/common/TroubleReport.xsd"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified">
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/ASTRIDAdapter/common/ASTRIDPublish.xsd" schemaLocation = "../Common/ASTRIDPublish.xsd"/>
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/ASTRIDAdapter/common/CustomerOrganization.xsd" schemaLocation = "../Common/CustomerOrganization.xsd"/>
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/ASTRIDAdapter/common/TroubleReport.xsd" schemaLocation = "../Common/TroubleReport.xsd"/>
	<xsd:element name = "TroubleProgressReport">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base = "ASTRIDPublish.xsd:ASTRIDPublish">
					<xsd:sequence>
						<xsd:element name = "TROUBLE_REPORT" type = "TroubleReport.xsd:TroubleReport" minOccurs = "0"/>
						<xsd:element name = "CUSTOMER_ORGANIZATION" type = "CustomerOrganization.xsd:CustomerOrganization" minOccurs = "0"/>
					</xsd:sequence>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>