Clever/CLEverSource/CLEverCore - Oracle/Processes/FrontendServices/Configuration/ExceptionCategory/ExceptionCategory.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://www.tibco.com/CLEver/Configuration/ExceptionCategory" xmlns:ns2="http://www.tibco.com/CLEver/FrontendServices/Configuration/ExceptionCategory/ExceptionCategoryInterfaceSpecs" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.tibco.com/CLEver/Configuration/ExceptionCategory" xmlns:ns3="http://www.tibco.com/CLEver/InternalException">
    <import location="ExceptionCategoryInterfaceSpecs.xsd" namespace="http://www.tibco.com/CLEver/FrontendServices/Configuration/ExceptionCategory/ExceptionCategoryInterfaceSpecs"/>
	<import location="../../../../Shared Resources/Schema Definitions/CLEver/Error.xsd" namespace="http://www.tibco.com/CLEver/InternalException"/>
    <message name="Create_ExceptionCategory_Input">
        <part element="ns2:Create_ExceptionCategory_Input" name="part1"/>
    </message>
    <message name="Create_ExceptionCategory_Output">
        <part element="ns2:Create_ExceptionCategory_Output" name="part1"/>
    </message>
    <message name="Update_ExceptionCategory_Input">
        <part element="ns2:Update_ExceptionCategory_Input" name="part1"/>
    </message>
    <message name="Update_ExceptionCategory_Output">
        <part element="ns2:Update_ExceptionCategory_Output" name="part1"/>
    </message>
    <message name="Delete_ExceptionCategory_Input">
        <part element="ns2:Delete_ExceptionCategory_Input" name="part1"/>
    </message>
    <message name="Delete_ExceptionCategory_Output">
        <part element="ns2:Delete_ExceptionCategory_Output" name="part1"/>
    </message>
    <message name="Retrieve_ExceptionCategory_Input">
        <part element="ns2:Retrieve_ExceptionCategory_Input" name="part1"/>
    </message>
    <message name="Retrieve_ExceptionCategory_Output">
        <part element="ns2:Retrieve_ExceptionCategory_Output" name="part1"/>
    </message>
    <message name="Retrieve_ExceptionCategoryParameters_Input">
        <part element="ns2:Retrieve_ExceptionCategoryParameters_Input" name="part1"/>
    </message>
    <message name="Retrieve_ExceptionCategoryParameters_Output">
        <part element="ns2:Retrieve_ExceptionCategoryParameters_Output" name="part1"/>
    </message>
	<message name="Exception">
        <part name="part1" element="ns3:ExceptionEnvelope"/>
    </message>
    <portType name="ExceptionCategory">
        <operation name="Create">
            <input message="ns:Create_ExceptionCategory_Input"/>
            <output message="ns:Create_ExceptionCategory_Output"/>
			<fault name="fault1" message="ns:Exception"/>
        </operation>
        <operation name="Update">
            <input message="ns:Update_ExceptionCategory_Input"/>
            <output message="ns:Update_ExceptionCategory_Output"/>
			<fault name="fault1" message="ns:Exception"/>
        </operation>
        <operation name="Delete">
            <input message="ns:Delete_ExceptionCategory_Input"/>
            <output message="ns:Delete_ExceptionCategory_Output"/>
			<fault name="fault1" message="ns:Exception"/>
        </operation>
        <operation name="Retrieve">
            <input message="ns:Retrieve_ExceptionCategory_Input"/>
            <output message="ns:Retrieve_ExceptionCategory_Output"/>
			<fault name="fault1" message="ns:Exception"/>
        </operation>
        <operation name="RetrieveParameters">
            <input message="ns:Retrieve_ExceptionCategoryParameters_Input"/>
            <output message="ns:Retrieve_ExceptionCategoryParameters_Output"/>
			<fault name="fault1" message="ns:Exception"/>
        </operation>
    </portType>
</definitions>