IKKAdapter/XSDSchemas/CustomerServices/Common/BillRecipient.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.kpn.com/fixed/CustomerServices/common/BillRecipient.xsd"
	 targetNamespace = "http://xmlns.kpn.com/fixed/CustomerServices/common/BillRecipient.xsd"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 xmlns:PropertyAddress.xsd = "http://xmlns.kpn.com/fixed/CustomerServices/common/PropertyAddress.xsd"
	 elementFormDefault = "qualified">
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/CustomerServices/common/PropertyAddress.xsd" schemaLocation = "PropertyAddress.xsd"/>
	<xsd:complexType name = "BillRecipient">
		<xsd:sequence>
			<xsd:element name = "CENTRAL_CUSTOMER_ID" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "NAME" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "PROPERTY_ADDRESS" type = "PropertyAddress.xsd:PropertyAddress" minOccurs = "0"/>
			<xsd:element name = "TRAILER_REFERENCE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "HOUSEBOAT_REFERENCE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "LOCATION_DESCRIPTION" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "MAIN_BRANCH_ID" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "PARTY_NAME" type = "xsd:string" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>