IKKAdapter/XSDSchemas/CustomerServices/Common/CustomerReference.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="ExternalCustomerReference.xsd"/>
	<xs:complexType name="CustomerReference">
		<xs:sequence>
			<xs:element name="ROLE" type="xs:string" minOccurs="0"/>
			<xs:element name="APPLICATION_ID" type="xs:string" minOccurs="0"/>
			<xs:element name="IS_UNLISTED" type="xs:string" minOccurs="0"/>
			<xs:element name="EXTERNAL_CUSTOMER_REFERENCE" type="ExternalCustomerReference" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
