IKKAdapter/XSDSchemas/CustomerServices/Common/Customer.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.kpn.com/fixed/CustomerServices/common/Customer.xsd"
	 targetNamespace = "http://xmlns.kpn.com/fixed/CustomerServices/common/Customer.xsd"
	 xmlns:CustomerReference.xsd = "http://xmlns.kpn.com/fixed/CustomerServices/common/CustomerReference.xsd"
	 xmlns:CustomerCreditProfile.xsd = "http://xmlns.kpn.com/fixed/CustomerServices/common/CustomerCreditProfile.xsd"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 xmlns:Party.xsd = "http://xmlns.kpn.com/fixed/CustomerServices/common/Party.xsd"
	 xmlns:PropertyAddress.xsd = "http://xmlns.kpn.com/fixed/CustomerServices/common/PropertyAddress.xsd"
	 elementFormDefault = "qualified">
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/CustomerServices/common/CustomerCreditProfile.xsd" schemaLocation = "CustomerCreditProfile.xsd"/>
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/CustomerServices/common/Party.xsd" schemaLocation = "Party.xsd"/>
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/CustomerServices/common/PropertyAddress.xsd" schemaLocation = "PropertyAddress.xsd"/>
	<xsd:complexType name = "Customer">
		<xsd:sequence>
			<xsd:element name = "CENTRAL_CUSTOMER_ID" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "PARTY" type = "Party.xsd:Party" minOccurs = "0"/>
			<xsd:element name = "PROPERTY_ADDRESS" type = "PropertyAddress.xsd:PropertyAddress" minOccurs = "0"/>
			<xsd:element name = "CUSTOMER_MARKET_SEGMENT" minOccurs = "0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name = "MARKET_GROUP_CODE" type = "xsd:string"/>
						<xsd:element name = "MARKET_SEGMENT_CODE" type = "xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name = "TELECOM_REGION_CODE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "CUSTOMER_CREDIT_PROFILE" type = "CustomerCreditProfile.xsd:CustomerCreditProfile" minOccurs = "0"/>
			<xsd:element name = "NAME" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "ADDRESS_STATUS" type = "xsd:string" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
