IKKAdapter/XSDSchemas/CustomerServices/Common/PartyName.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XML Spy v4.4 U (http://www.xmlspy.com) by Atos Origin (Atos Origin) -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:complexType name="PartyName">
		<xsd:sequence>
			<xsd:element name="PARTY_NAME" type="xsd:string" minOccurs="0"/>
			<xsd:element name="PARTY_NAME_DIACRITICS" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
