IKKAdapter/XSDSchemas/CustomerServices/Common/POBox.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.example.com/unique/default/namespace/1110966905238"
	 targetNamespace = "http://xmlns.example.com/unique/default/namespace/1110966905238"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 xmlns:PropertyAddress.xsd = "http://xmlns.kpn.com/fixed/CustomerServices/common/PropertyAddress.xsd"
	 elementFormDefault = "qualified">
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/CustomerServices/common/PropertyAddress.xsd" schemaLocation = "PropertyAddress.xsd"/>
	<xsd:complexType name = "POBox">
		<xsd:sequence>
			<xsd:element name = "CENTRAL_CUSTOMER_ID" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "NUMBER_OF_RECORDS" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "POBOX_NAME" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "POBOX_NUMBER" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "REPLACEMENT_CENTRAL_CUSTOMER_ID" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "PROPERTY_ADDRESS" type = "PropertyAddress.xsd:PropertyAddress" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>