IKKAdapter/XSDSchemas/CustomerServices/Common/ResultStatus.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v5 rel. 4 U (http://www.xmlspy.com) by sustaining tester (testing guru) -->
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xsd:complexType name="ResultStatus">
		<xsd:sequence>
			<xsd:element name="STATUS_CODE" type="xsd:string"/>
			<xsd:element name="MSG_CODE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ERROR_CODE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ERROR_DESCRIPTION" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
