GenericSOAPGateway/XSDSchemas/OrderServices/Imported/0091_GetOrderDetails_1.1_Response_EAI_BUS_SIDE.xsd

<?xml version="1.0" encoding="utf-8"?>

<xs:schema xmlns:tns="http://xmlns.kpn.com/EAI/fixed/0091_GetOrderDetails/1.1/Response"
	 xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 targetNamespace="http://xmlns.kpn.com/EAI/fixed/0091_GetOrderDetails/1.1/Response"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="BODY">
		<xs:annotation>
			<xs:documentation>This is the BODY object for KPN EAI service number 0091 - GetOrderDetails version 1.1 Response message.</xs:documentation>
			<xs:documentation>Automatically generated schema for service:'GetOrderDetails', version:'1.1'</xs:documentation>
			<xs:documentation>Generated on 2007-04-12 16:15:20Z</xs:documentation>
			<xs:documentation>Service paradigm is intended to be Request/Response</xs:documentation>
			<xs:documentation>Service ID is:'0091'</xs:documentation>
			<xs:documentation>The body must always have MinOccurs=0 and MaxOccurs=1, by definition of KPN EAI AG. (For request messages this has no apparent benefit)</xs:documentation>
			<xs:documentation>KPN EAI message body class.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:annotation>
					<xs:documentation>Artificial sequence to separate.</xs:documentation>
				</xs:annotation>
				<xs:element name="ORDER" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:annotation>
								<xs:documentation>Artificial sequence to separate.</xs:documentation>
							</xs:annotation>
							<xs:element name="ORDER_TYPE" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:annotation>
											<xs:documentation>Artificial sequence to separate.</xs:documentation>
										</xs:annotation>
										<xs:element name="ORDER_TYPE" type="xs:string" minOccurs="0">
											<xs:annotation>
												<xs:documentation>The value of this field is derived of the contents of the field 'ORDER_SUB_TYPE'.</xs:documentation>
												<xs:documentation>Default (autogenerated) min and max occurs values.</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="ORDER_SUB_TYPE" type="xs:string"/>
										<xs:element name="ORDER_SUB_TYPE2" type="xs:string" minOccurs="0">
											<xs:annotation>
												<xs:documentation>The value of this field is a generalisation of</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="ORDER_STATE">
								<xs:complexType>
									<xs:sequence>
										<xs:annotation>
											<xs:documentation>Artificial sequence to separate.</xs:documentation>
										</xs:annotation>
										<xs:element name="ORDER_STATE" type="xs:string" minOccurs="0">
											<xs:annotation>
												<xs:documentation>The value of this field is derived of the contents of the field 'ORDER_SUB_STATE'</xs:documentation>
												<xs:documentation>Default (autogenerated) min and max occurs values.</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="ORDER_SUB_STATE" type="xs:string"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="PRODUCT">
								<xs:complexType>
									<xs:sequence>
										<xs:annotation>
											<xs:documentation>Artificial sequence to separate.</xs:documentation>
										</xs:annotation>
										<xs:element name="PRODUCT_CATEGORY" type="xs:string"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="ORDER_ID" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:annotation>
											<xs:documentation>Artificial sequence to separate.</xs:documentation>
										</xs:annotation>
										<xs:element name="ORDER_ID_SCOPE" type="xs:string" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Default (autogenerated) min and max occurs values.</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="ORDER_ID" type="xs:string" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Default (autogenerated) min and max occurs values.</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="SUB_ORDER_ID" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:annotation>
											<xs:documentation>Artificial sequence to separate.</xs:documentation>
										</xs:annotation>
										<xs:element name="ORDER_ID_SCOPE" type="xs:string" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Default (autogenerated) min and max occurs values.</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="ORDER_ID" type="xs:string" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Default (autogenerated) min and max occurs values.</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="CREATION_DATE" type="xs:date" minOccurs="0">
								<xs:annotation>
									<xs:documentation>NOTE: If applicable the value of the underlying fields are translated from dateTime to date.</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="REQUESTED_COMPLETION_DATE" type="xs:dateTime" minOccurs="0"/>
							<xs:element name="PLANNED_COMPLETION_DATE" type="xs:dateTime" minOccurs="0"/>
							<xs:element name="SCHEDULED_DELIVERY_DATE" type="xs:dateTime" minOccurs="0"/>
							<xs:element name="COMPLETION_DATE" type="xs:dateTime" minOccurs="0"/>
							<xs:element name="PORTFOLIO_DOMAIN" type="xs:string"/>
							<xs:element name="ACCEPTANCE_DATE" type="xs:dateTime" minOccurs="0"/>
							<xs:element name="TECHNICAL_END_DATE" type="xs:date" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>