GenericSOAPGateway/XSDSchemas/OrderServices/Imported/0091_GetOrderDetails_1.1_Request_EAI_BUS_SIDE.xsd

<?xml version="1.0" encoding="utf-8"?>

<xs:schema xmlns:tns="http://xmlns.kpn.com/EAI/fixed/0091_GetOrderDetails/1.1/Request"
	 xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 targetNamespace="http://xmlns.kpn.com/EAI/fixed/0091_GetOrderDetails/1.1/Request"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:simpleType name="centralCustomerId_type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z,0-9]{8}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="BODY">
		<xs:annotation>
			<xs:documentation>This is the BODY object for KPN EAI service number 0091 - GetOrderDetails version 1.1 Request message.</xs:documentation>
			<xs:documentation>Automatically generated schema for service:'GetOrderDetails', version:'1.1'</xs:documentation>
			<xs:documentation>Generated on 2007-04-12 16:15:20Z</xs:documentation>
			<xs:documentation>Service paradigm is intended to be Request/Response</xs:documentation>
			<xs:documentation>Service ID is:'0091'</xs:documentation>
			<xs:documentation>The body must always have MinOccurs=0 and MaxOccurs=1, by definition of KPN EAI AG. (For request messages this has no apparent benefit)</xs:documentation>
			<xs:documentation>KPN EAI message body class.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:annotation>
					<xs:documentation>Artificial sequence to separate.</xs:documentation>
				</xs:annotation>
				<xs:element name="ORDER_ID">
					<xs:complexType>
						<xs:sequence>
							<xs:annotation>
								<xs:documentation>Artificial sequence to separate.</xs:documentation>
							</xs:annotation>
							<xs:element name="ORDER_ID_SCOPE" type="xs:string">
								<xs:annotation>
									<xs:documentation>undefined on API; string should suffice</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="ORDER_ID" type="xs:string" minOccurs="0"/>
							<xs:element name="CUSTOMER_ORDER_REFERENCE" type="xs:string" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="SUB_ORDER_ID" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:annotation>
								<xs:documentation>Artificial sequence to separate.</xs:documentation>
							</xs:annotation>
							<xs:element name="ORDER_ID_SCOPE" type="xs:string">
								<xs:annotation>
									<xs:documentation>not specified. String should suffice.</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="ORDER_ID" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="PORTFOLIO_DOMAIN" type="xs:string"/>
				<xs:element name="CENTRAL_CUSTOMER_ID" type="tns:centralCustomerId_type" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>