GenericOrderGateway/WSDL/GenericOrderGateway/WeakOrder.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Created by TIBCO WSDL-->
<wsdl:definitions xmlns:ns0="http://kpn.com/eai/generic/order" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://kpn.com/eai/generic/order/weak/wsdl/SubmitWeakOrderImpl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="Untitled" targetNamespace="http://kpn.com/eai/generic/order/weak/wsdl/SubmitWeakOrderImpl">
    <wsdl:types>
        <xs:schema xmlns="http://kpn.com/eai/generic/order" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://kpn.com/eai/generic/order">
            <xs:complexType name="ParametersType">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="Parameter">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="Name" type="xs:string"/>
                                <xs:element name="Value" type="xs:string"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="Action">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Name" type="xs:string"/>
                        <xs:element name="Parameters" type="ns0:ParametersType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="OrderItem">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ns0:OrderItemParameters"/>
                        <xs:element ref="ns0:Product"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="OrderItemParameters" type="ns0:ParametersType"/>
            <xs:element name="OrderParameters" type="ns0:ParametersType"/>
            <xs:element name="Product">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Group" type="xs:string"/>
                        <xs:element name="Name" type="xs:string"/>
                        <xs:element name="Version" type="xs:string"/>
                        <xs:element ref="ns0:Action"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="WeakOrder">
                <xs:complexType>
                    <xs:complexContent>
                        <xs:extension base="ns0:Order">
                            <xs:sequence>
                                <xs:element ref="ns0:OrderParameters"/>
                                <xs:element ref="ns0:OrderItem"/>
                            </xs:sequence>
                        </xs:extension>
                    </xs:complexContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="WeakOrderStatus">
                <xs:complexType>
                    <xs:complexContent>
                        <xs:extension base="ns0:OrderStatus">
                            <xs:sequence>
                                <xs:element ref="ns0:OrderParameters"/>
                                <xs:element ref="ns0:OrderItem"/>
                            </xs:sequence>
                        </xs:extension>
                    </xs:complexContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="WeakOrderFault">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="errorMessage" type="xs:string"/>
                        <xs:element name="errorCode" type="xs:string"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="detail" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="root">
                <xs:complexType/>
            </xs:element>
            <xs:complexType name="Error">
                <xs:sequence>
                    <xs:element name="code" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="detail" type="xs:string"/>
                    <xs:element name="description" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType abstract="true" name="Order">
                <xs:sequence>
                    <xs:element minOccurs="0" name="customerOrderId" type="xs:string"/>
                    <xs:element name="orderDateTime" type="xs:dateTime"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType abstract="true" name="OrderStatus">
                <xs:sequence>
                    <xs:element minOccurs="0" name="customerOrderId" type="xs:string"/>
                    <xs:element name="supplierOrderId" type="xs:string"/>
                    <xs:element minOccurs="0" name="error" type="ns0:Error"/>
                    <xs:element name="status" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:simpleType name="OrderStatusEnumeration">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="INITIAL"/>
                    <xs:enumeration value="ACCEPTED"/>
                    <xs:enumeration value="REJECTED"/>
                    <xs:enumeration value="ERROR"/>
                    <xs:enumeration value="COMPLETED"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="SubmitWeakOrderOut"/>
    <wsdl:message name="UpdateWeakOrderStatusOut"/>
    <wsdl:service name="SubmitWeakOrder">
        <wsdl:port binding="tns:SOAPEventSourceBinding" name="SOAPEventSource">
            <soap:address location="http://vm287:13400/GenericOrderGateway/Processes/Outbound/SubmitWeakOrder"/>
        </wsdl:port>
    </wsdl:service>
    <wsdl:service name="UpdateWeakOrderStatus">
        <wsdl:port binding="tns:SOAPEventSourceBinding" name="SOAPEventSource">
            <soap:address location="http://vm287:13400/GenericOrderGateway/Processes/Outbound/SubmitWeakOrder"/>
        </wsdl:port>
    </wsdl:service>
    <wsdl:portType name="WeakOrderServices">
        <wsdl:operation name="SubmitWeakOrder">
            <wsdl:input message="tns:SubmitWeakOrder"/>
            <wsdl:output message="tns:SubmitWeakOrderOut"/>
            <wsdl:fault message="tns:SubmitWeakOrderFault" name="SubmitWeakOrderFault"/>
        </wsdl:operation>
        <wsdl:operation name="UpdateWeakOrderStatus">
            <wsdl:input message="tns:UpdateWeakOrderStatus"/>
            <wsdl:output message="tns:UpdateWeakOrderStatusOut"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="SOAPEventSourceBinding" type="tns:WeakOrderServices">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="SubmitWeakOrder">
            <soap:operation soapAction="/GenericOrderGateway/Processes/Outbound/Sub/SubmitWeakOrder" style="document"/>
            <wsdl:input>
                <soap:body parts="SubmitWeakOrder" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="SubmitWeakOrderOut" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="SubmitWeakOrderFault">
                <soap:fault name="SubmitWeakOrderFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="UpdateWeakOrderStatus">
            <soap:operation soapAction="/GenericOrderGateway/Processes/Outbound/Sub/SubmitWeakOrder" style="document"/>
            <wsdl:input>
                <soap:body parts="UpdateWeakOrderStatus" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="UpdateWeakOrderStatusOut" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:message name="SubmitWeakOrder">
        <wsdl:part element="ns0:WeakOrder" name="SubmitWeakOrder"/>
    </wsdl:message>
    <wsdl:message name="SubmitWeakOrderFault">
        <wsdl:part element="ns0:WeakOrderFault" name="SubmitWeakOrderFault"/>
    </wsdl:message>
    <wsdl:message name="UpdateWeakOrderStatus">
        <wsdl:part element="ns0:WeakOrderStatus" name="UpdateWeakOrderStatus"/>
    </wsdl:message>
</wsdl:definitions>