SiebelZMAdapter/XSDSchemas/OrderServicesAdapter/Imported/OrderMessage.xsd

<?xml version="1.0" encoding="utf-8"?>

<!-- edited with XMLSpy v2006 sp2 U (http://www.altova.com) by bhogeshwar k (Atos Origin Nederland B.V.) -->
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	 xmlns:tns="http://xmlns.kpn.com/imported/ordermessage.xsd"
	 xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 targetNamespace="http://xmlns.kpn.com/imported/ordermessage.xsd"
	 elementFormDefault="unqualified"
	 attributeFormDefault="unqualified">
	<simpleType name="orderType_type">
		<annotation>
			<documentation>The deifferent types of orders i.e.:
- customerOrder
- networkResourceOrder
- wholesaleAccessOrder
- workOrder
			
			</documentation>
			<documentation>Default value is:''</documentation>
			<documentation>1000 length string limitation added by KPN EAI defaults.Increase size in Rose if required.</documentation>
		</annotation>
		<restriction base="xs:string">
			<maxLength value="1000"/>
		</restriction>
	</simpleType>
	<simpleType name="orderId_type">
		<annotation>
			<documentation>String limitation 1000 added by KPN EAI automated guideline supervision. Increase size in Rose if desired.</documentation>
		</annotation>
		<restriction base="xs:string">
			<maxLength value="1000"/>
		</restriction>
	</simpleType>
	<simpleType name="externalReference_type">
		<annotation>
			<documentation>String limitation 1000 added by KPN EAI automated guideline supervision. Increase size in Rose if desired.</documentation>
		</annotation>
		<restriction base="xs:string">
			<maxLength value="1000"/>
		</restriction>
	</simpleType>
	<simpleType name="creationDate_type">
		<restriction base="xs:dateTime"/>
	</simpleType>
	<simpleType name="dueDate_type">
		<restriction base="xs:dateTime"/>
	</simpleType>
	<simpleType name="orderPriority_type">
		<restriction base="xs:unsignedByte"/>
	</simpleType>
	<simpleType name="streetName_type">
		<restriction base="xs:string">
			<maxLength value="24"/>
		</restriction>
	</simpleType>
	<simpleType name="houseNumber_type">
		<restriction base="xs:string">
			<maxLength value="5"/>
		</restriction>
	</simpleType>
	<simpleType name="houseNumberExtension_type">
		<restriction base="xs:string">
			<maxLength value="6"/>
			<minLength value="0"/>
		</restriction>
	</simpleType>
	<simpleType name="dutchPostcodeNumbers_type">
		<restriction base="xs:string">
			<pattern value="\d{4}"/>
		</restriction>
	</simpleType>
	<simpleType name="dutchPostcodeLetters_type">
		<restriction base="xs:string">
			<pattern value="[a-zA-Z]{2}"/>
		</restriction>
	</simpleType>
	<simpleType name="cityName_type">
		<annotation>
			<documentation>String limitation 1000 added by KPN EAI automated guideline supervision. Increase size in Rose if desired.</documentation>
		</annotation>
		<restriction base="xs:string">
			<maxLength value="1000"/>
		</restriction>
	</simpleType>
	<simpleType name="countryCodeA2_type">
		<restriction base="xs:string">
			<length value="2"/>
		</restriction>
	</simpleType>
	<simpleType name="centralCustomerId_type">
		<restriction base="xs:string">
			<pattern value="[A-Z,0-9]{8}"/>
		</restriction>
	</simpleType>
	<simpleType name="productCategoryType_type">
		<annotation>
			<documentation>String limitation 1000 added by KPN EAI automated guideline supervision. Increase size in Rose if desired.</documentation>
		</annotation>
		<restriction base="xs:string">
			<maxLength value="1000"/>
		</restriction>
	</simpleType>
	<simpleType name="orderItemType_type">
		<annotation>
			<documentation>String limitation 1000 added by KPN EAI automated guideline supervision. Increase size in Rose if desired.</documentation>
		</annotation>
		<restriction base="xs:string">
			<maxLength value="1000"/>
		</restriction>
	</simpleType>
	<simpleType name="subscriberNumber_type">
		<annotation>
			<documentation>String limitation 1000 added by KPN EAI automated guideline supervision. Increase size in Rose if desired.</documentation>
		</annotation>
		<restriction base="xs:string">
			<maxLength value="1000"/>
		</restriction>
	</simpleType>
	<simpleType name="phoneNumberAreaCode_type">
		<restriction base="xs:string">
			<maxLength value="5"/>
			<minLength value="0"/>
			<whiteSpace value="collapse"/>
			<pattern value="\d*"/>
		</restriction>
	</simpleType>
	<simpleType name="phoneNumberCountryCode_type">
		<restriction base="xs:string">
			<maxLength value="3"/>
			<minLength value="1"/>
			<whiteSpace value="collapse"/>
			<pattern value="\d+"/>
		</restriction>
	</simpleType>
	<simpleType name="ipAddressValue_type">
		<annotation>
			<documentation>String limitation 1000 added by KPN EAI automated guideline supervision. Increase size in Rose if desired.</documentation>
		</annotation>
		<restriction base="xs:string">
			<maxLength value="1000"/>
		</restriction>
	</simpleType>
	<simpleType name="phoneNumberSubscriberNumber_type">
		<restriction base="xs:string">
			<maxLength value="15"/>
			<minLength value="1"/>
			<whiteSpace value="collapse"/>
			<pattern value="\d+"/>
		</restriction>
	</simpleType>
	<simpleType name="emailAddress_type">
		<restriction base="xs:string">
			<maxLength value="320"/>
			<pattern value="([\.a-zA-Z0-9_-])+@([a-zA-Z0-9_-])+(([a-zA-Z0-9_-])*\.([a-zA-Z0-9_-])+)+"/>
		</restriction>
	</simpleType>
	<simpleType name="dutchPostcode_type">
		<restriction base="xs:string">
			<length value="6"/>
			<pattern value="\d{4}[a-zA-Z]{2}"/>
		</restriction>
	</simpleType>
	<simpleType name="unformattedPostcode_type">
		<restriction base="xs:string">
			<length value="6"/>
		</restriction>
	</simpleType>
	<simpleType name="cityCode_type">
		<annotation>
			<documentation>*** For future use ***</documentation>
			<documentation>Field size limitation copied from API definition as EAI side had no limitation.</documentation>
		</annotation>
		<restriction base="xs:string">
			<maxLength value="6"/>
		</restriction>
	</simpleType>
	<simpleType name="contractId_type">
		<restriction base="xs:string">
			<maxLength value="9"/>
		</restriction>
	</simpleType>
	<simpleType name="appInfo_type">
		<restriction base="xs:string">
			<maxLength value="100"/>
		</restriction>
	</simpleType>
	<simpleType name="event_type">
		<restriction base="xs:string">
			<maxLength value="100"/>
		</restriction>
	</simpleType>
	<simpleType name="timestamp_type">
		<restriction base="xs:long"/>
	</simpleType>
	<simpleType name="messageId_type">
		<restriction base="xs:string"/>
	</simpleType>
	<simpleType name="externalRef_type">
		<restriction base="xs:string">
			<maxLength value="9"/>
		</restriction>
	</simpleType>
	<simpleType name="componentId_type">
		<restriction base="xs:string">
			<maxLength value="9"/>
		</restriction>
	</simpleType>
	<simpleType name="componentVersion_type">
		<restriction base="xs:string">
			<maxLength value="9"/>
		</restriction>
	</simpleType>
	<simpleType name="endUserInfo_type">
		<restriction base="xs:string"/>
	</simpleType>
	<simpleType name="sourceAddress_type">
		<restriction base="xs:string"/>
	</simpleType>
	<simpleType name="sequenceNo_type">
		<restriction base="xs:string">
			<maxLength value="9"/>
		</restriction>
	</simpleType>
	<simpleType name="interfaceId_type">
		<annotation>
			<documentation>String limitation 1000 added by KPN EAI automated guideline supervision. Increase size in Rose if desired.</documentation>
		</annotation>
		<restriction base="xs:string">
			<maxLength value="1000"/>
		</restriction>
	</simpleType>
	<simpleType name="messageVersion_type">
		<annotation>
			<documentation>String limitation 1000 added by KPN EAI automated guideline supervision. Increase size in Rose if desired.</documentation>
		</annotation>
		<restriction base="xs:string">
			<maxLength value="1000"/>
		</restriction>
	</simpleType>
	<simpleType name="messageObject_type">
		<annotation>
			<documentation>String limitation 1000 added by KPN EAI automated guideline supervision. Increase size in Rose if desired.</documentation>
		</annotation>
		<restriction base="xs:string">
			<maxLength value="1000"/>
		</restriction>
	</simpleType>
	<simpleType name="messageParadigm_type">
		<annotation>
			<documentation>String limitation 1000 added by KPN EAI automated guideline supervision. Increase size in Rose if desired.</documentation>
		</annotation>
		<restriction base="xs:string">
			<maxLength value="1000"/>
		</restriction>
	</simpleType>
	<simpleType name="functionalId_type">
		<annotation>
			<documentation>String limitation 1000 added by KPN EAI automated guideline supervision. Increase size in Rose if desired.</documentation>
		</annotation>
		<restriction base="xs:string">
			<maxLength value="1000"/>
		</restriction>
	</simpleType>
	<simpleType name="moduleId_type">
		<annotation>
			<documentation>String limitation 1000 added by KPN EAI automated guideline supervision. Increase size in Rose if desired.</documentation>
		</annotation>
		<restriction base="xs:string">
			<maxLength value="1000"/>
		</restriction>
	</simpleType>
	<simpleType name="messageName_type">
		<annotation>
			<documentation>String limitation 1000 added by KPN EAI automated guideline supervision. Increase size in Rose if desired.</documentation>
		</annotation>
		<restriction base="xs:string">
			<maxLength value="1000"/>
		</restriction>
	</simpleType>
	<simpleType name="messageDestination_type">
		<annotation>
			<documentation>String limitation 1000 added by KPN EAI automated guideline supervision. Increase size in Rose if desired.</documentation>
		</annotation>
		<restriction base="xs:string">
			<maxLength value="1000"/>
		</restriction>
	</simpleType>
	<element name="BODY">
		<annotation>
			<documentation>This is the BODY object for KPN EAI service number 0248 - ProcessProvisioningWorkOrder version 2.0 Request message.</documentation>
			<documentation>Automatically generated schema for service:'ProcessProvisioningWorkOrder', version:'2.0'</documentation>
			<documentation>Generated on 2007-08-03 11:36:50Z</documentation>
			<documentation>Service paradigm is intended to be Request/Response</documentation>
			<documentation>Service ID is:'0248'</documentation>
			<documentation>The body must always have MinOccurs=0 and MaxOccurs=1, by definition of KPN EAI AG. (For request messages this has no apparent benefit)</documentation>
			<documentation>KPN EAI message body class.</documentation>
		</annotation>
		<complexType>
			<sequence>
				<element name="ORDER">
					<complexType>
						<sequence>
							<element name="ORDER_HEADER">
								<annotation>
									<documentation>Artificial sequence to separate.</documentation>
								</annotation>
								<complexType>
									<sequence>
										<element name="ORDER_TYPE" type="tns:orderType_type"/>
										<element name="ORDER_ID" type="tns:orderId_type" minOccurs="0"/>
										<element name="CUSTOMER_ID" minOccurs="0">
											<annotation>
												<documentation>Artificial sequence to separate.</documentation>
											</annotation>
											<complexType>
												<sequence>
													<element name="ID_CKR" type="tns:centralCustomerId_type" minOccurs="0"/>
													<element name="ID_MCCS" type="tns:centralCustomerId_type" minOccurs="0"/>
													<element name="ID_PACKAGER" minOccurs="0">
														<complexType>
															<sequence>
																<element name="INTERNAL" type="xs:string" minOccurs="0"/>
																<element name="EXTERNAL" type="xs:string" minOccurs="0"/>
															</sequence>
														</complexType>
													</element>
												</sequence>
											</complexType>
										</element>
										<element name="EXTERNAL_REFERENCE" type="tns:externalReference_type" minOccurs="0"/>
										<element name="ORDER_STATUS" minOccurs="0" maxOccurs="unbounded">
											<annotation>
												<documentation>Artificial sequence to separate.</documentation>
											</annotation>
											<complexType>
												<sequence>
													<element name="ORDER_STATUS" type="xs:string" minOccurs="0"/>
													<element name="ERROR_CODE" type="xs:string" minOccurs="0"/>
													<element name="ERROR_DESCRIPTION" type="xs:string" minOccurs="0"/>
													<element name="DELIVERY_STATUS_CODE" type="xs:string" minOccurs="0"/>
													<element name="DELIVERY_STATUS_DESCRIPTION" type="xs:string" minOccurs="0"/>
													<element name="DELIVERY_STATUS_ADDITIONAL_INFORMATION" type="xs:string" minOccurs="0"/>
													<element name="STATUS_CODE" type="xs:string" minOccurs="0"/>
													<element name="STATUS_DESCRIPTION" type="xs:string" minOccurs="0"/>
												</sequence>
											</complexType>
										</element>
										<element name="CREATION_DATE" type="tns:creationDate_type"/>
										<element name="DUE_DATE" type="tns:dueDate_type" minOccurs="0"/>
										<element name="DELIVERY_ADDRESS" minOccurs="0">
											<annotation>
												<documentation>Artificial sequence to separate.</documentation>
											</annotation>
											<complexType>
												<choice>
													<element name="UNFORMATTED_ADDRESS" minOccurs="0">
														<annotation>
															<documentation>Artificial sequence to separate.</documentation>
														</annotation>
														<complexType>
															<sequence>
																<element name="ADDRESS_LINE" maxOccurs="unbounded">
																	<annotation>
																		<documentation>Artificial sequence to separate.</documentation>
																	</annotation>
																	<complexType>
																		<sequence>
																			<element name="ADDRESS_LINE" type="xs:string"/>
																		</sequence>
																	</complexType>
																</element>
															</sequence>
														</complexType>
													</element>
													<element name="LOGICAL_ADDRESS">
														<annotation>
															<documentation>Artificial sequence to separate.</documentation>
														</annotation>
														<complexType>
															<sequence>
																<element name="POBOX_NUMBER" type="xs:string" minOccurs="0"/>
																<element name="POBOX_NAME" type="xs:string" minOccurs="0"/>
																<element name="CITY_NAME" type="tns:cityName_type" minOccurs="0"/>
																<element name="CITY_CODE" type="tns:cityCode_type" minOccurs="0"/>
																<element name="COUNTRY" type="tns:cityName_type" minOccurs="0"/>
																<element name="COUNTRY_CODE" type="tns:countryCodeA2_type" minOccurs="0"/>
																<element name="POSTCODE">
																	<complexType>
																		<choice>
																			<element name="DUTCH_POSTCODE" type="tns:dutchPostcode_type" minOccurs="0"/>
																			<element name="UNFORMATTED_POSTCODE" type="tns:unformattedPostcode_type" minOccurs="0"/>
																		</choice>
																	</complexType>
																</element>
															</sequence>
														</complexType>
													</element>
													<element name="PROPERTY_ADDRESS">
														<annotation>
															<documentation>Artificial sequence to separate.</documentation>
														</annotation>
														<complexType>
															<sequence>
																<element name="STREET_NAME" type="tns:streetName_type"/>
																<element name="HOUSE_NUMBER" type="tns:houseNumber_type"/>
																<element name="HOUSE_NUMBER_EXTENSION" type="tns:houseNumberExtension_type" minOccurs="0">
																	<annotation>
																		<documentation>Default (autogenerated) min and max occurs values.</documentation>
																	</annotation>
																</element>
																<element name="CITY_NAME" type="tns:cityName_type"/>
																<element name="COUNTRY_CODE" type="tns:countryCodeA2_type"  minOccurs="0"/>
																<element name="POSTCODE">
																	<complexType>
																		<choice>
																			<element name="DUTCH_POSTCODE" type="tns:dutchPostcode_type" minOccurs="0"/>
																			<element name="UNFORMATTED_POSTCODE" type="tns:unformattedPostcode_type" minOccurs="0"/>
																		</choice>
																	</complexType>
																</element>
															</sequence>
														</complexType>
													</element>
												</choice>
											</complexType>
										</element>
										<element name="ORDER_PRIORITY" type="tns:orderPriority_type" minOccurs="0"/>
										<element name="OTHER_REFERENCE" minOccurs="0" maxOccurs="unbounded">
											<annotation>
												<documentation>Artificial sequence to separate.</documentation>
											</annotation>
											<complexType>
												<sequence>
													<element name="ORIGIN" type="xs:string"/>
													<element name="REFERENCE" type="xs:string"/>
												</sequence>
											</complexType>
										</element>
										<element name="PARENT_ORDER" minOccurs="0" maxOccurs="unbounded">
											<annotation>
												<documentation>Artificial sequence to separate.</documentation>
											</annotation>
											<complexType>
												<sequence>
													<element name="PARENT_ORDER_ID" type="tns:orderId_type"/>
												</sequence>
											</complexType>
										</element>
									</sequence>
								</complexType>
							</element>
							<element name="ORDER_ITEM" maxOccurs="unbounded">
								<complexType>
									<sequence>
										<element name="ORDER_ITEM_HEADER">
											<annotation>
												<documentation>Artificial sequence to separate.</documentation>
											</annotation>
											<complexType>
												<sequence>
													<element name="ORDER_ITEM_TYPE" type="tns:orderItemType_type"/>
													<element name="ORDER_ITEM_ID" type="tns:orderItemType_type" minOccurs="0"/>
													<element name="EXTERNAL_REFERENCE" type="tns:externalReference_type" minOccurs="0"/>
													<element name="ORDER_ITEM_STATUS" type="xs:string" minOccurs="0"/>
													<element name="DUE_DATE" type="tns:dueDate_type" minOccurs="0"/>
													<element name="REMARK" minOccurs="0" maxOccurs="unbounded">
														<complexType>
															<sequence>
																<element name="TYPE" type="xs:string" minOccurs="0"/>
																<element name="REMARK" type="xs:string" minOccurs="0"/>
															</sequence>
														</complexType>
													</element>
												</sequence>
											</complexType>
										</element>
										<element name="PRODUCT_CATEGORY" type="tns:productCategoryType_type"/>
										<element name="PRODUCT" minOccurs="0">
											<complexType>
												<sequence>
													<any namespace="##any" processContents="skip" maxOccurs="unbounded"/>
												</sequence>
											</complexType>
										</element>
										<element name="CONTRACT" minOccurs="0">
											<complexType>
												<sequence>
													<element name="CONTRACT_NUMBER" type="tns:contractId_type" minOccurs="0"/>
													<element name="CONTRACT_VERSION" type="xs:string" minOccurs="0"/>
												</sequence>
											</complexType>
										</element>
									</sequence>
								</complexType>
							</element>
						</sequence>
					</complexType>
				</element>
			</sequence>
		</complexType>
	</element>
</schema>