SiebelZMAdapter/XSDSchemas/OrderServicesAdapter/Imported/PRODUCT.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- edited with XMLSpy v2006 sp2 U (http://www.altova.com) by Atos Origin (Atos Origin Nederland B.V.) -->
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://xmlns.kpn.com/EAI/fixed/0248_ProcessProvisioningWorkOrder/2.0/Subscribe" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xmlns.kpn.com/EAI/fixed/0248_ProcessProvisioningWorkOrder/2.0/Subscribe" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<simpleType name="orderType_type">
		<annotation>
			<documentation>The deifferent types of orders i.e.:
- customerOrder
- networkResourceOrder
- wholesaleAccessOrder
- workOrder
			</documentation>
			<documentation>Default value is:''</documentation>
			<documentation>1000 length string limitation added by KPN EAI defaults.Increase size in Rose if required.</documentation>
		</annotation>
		<restriction base="xs:string">
			<maxLength value="1000"/>
			<enumeration value="customerOrder"/>
			<enumeration value="networkResourceOrder"/>
			<enumeration value="wholesaleAccessOrder"/>
			<enumeration value="workOrder"/>
			<enumeration value="undefined"/>
		</restriction>
	</simpleType>
	<simpleType name="orderId_type">
		<annotation>
			<documentation>String limitation 1000 added by KPN EAI automated guideline supervision. Increase size in Rose if desired.</documentation>
		</annotation>
		<restriction base="xs:string">
			<maxLength value="1000"/>
		</restriction>
	</simpleType>
	<simpleType name="externalReference_type">
		<annotation>
			<documentation>String limitation 1000 added by KPN EAI automated guideline supervision. Increase size in Rose if desired.</documentation>
		</annotation>
		<restriction base="xs:string">
			<maxLength value="1000"/>
		</restriction>
	</simpleType>
	<simpleType name="creationDate_type">
		<restriction base="xs:dateTime"/>
	</simpleType>
	<simpleType name="dueDate_type">
		<restriction base="xs:dateTime"/>
	</simpleType>
	<simpleType name="orderPriority_type">
		<restriction base="xs:unsignedByte"/>
	</simpleType>
	<simpleType name="streetName_type">
		<restriction base="xs:string">
			<maxLength value="24"/>
		</restriction>
	</simpleType>
	<simpleType name="houseNumber_type">
		<restriction base="xs:string">
			<maxLength value="5"/>
		</restriction>
	</simpleType>
	<simpleType name="houseNumberExtension_type">
		<restriction base="xs:string">
			<maxLength value="6"/>
			<minLength value="0"/>
		</restriction>
	</simpleType>
	<simpleType name="dutchPostcodeNumbers_type">
		<restriction base="xs:string">
			<pattern value="\d{4}"/>
		</restriction>
	</simpleType>
	<simpleType name="dutchPostcodeLetters_type">
		<restriction base="xs:string">
			<pattern value="[a-zA-Z]{2}"/>
		</restriction>
	</simpleType>
	<simpleType name="cityName_type">
		<annotation>
			<documentation>String limitation 1000 added by KPN EAI automated guideline supervision. Increase size in Rose if desired.</documentation>
		</annotation>
		<restriction base="xs:string">
			<maxLength value="1000"/>
		</restriction>
	</simpleType>
	<simpleType name="countryCodeA2_type">
		<restriction base="xs:string">
			<length value="2"/>
		</restriction>
	</simpleType>
	<simpleType name="centralCustomerId_type">
		<restriction base="xs:string">
			<pattern value="[A-Z,0-9]{8}"/>
		</restriction>
	</simpleType>
	<simpleType name="productCategoryType_type">
		<annotation>
			<documentation>String limitation 1000 added by KPN EAI automated guideline supervision. Increase size in Rose if desired.</documentation>
		</annotation>
		<restriction base="xs:string">
			<maxLength value="1000"/>
		</restriction>
	</simpleType>
	<simpleType name="orderItemType_type">
		<annotation>
			<documentation>String limitation 1000 added by KPN EAI automated guideline supervision. Increase size in Rose if desired.</documentation>
		</annotation>
		<restriction base="xs:string">
			<maxLength value="1000"/>
		</restriction>
	</simpleType>
	<simpleType name="subscriberNumber_type">
		<annotation>
			<documentation>String limitation 1000 added by KPN EAI automated guideline supervision. Increase size in Rose if desired.</documentation>
		</annotation>
		<restriction base="xs:string">
			<maxLength value="1000"/>
		</restriction>
	</simpleType>
	<simpleType name="phoneNumberAreaCode_type">
		<restriction base="xs:string">
			<maxLength value="5"/>
			<minLength value="0"/>
			<whiteSpace value="collapse"/>
			<pattern value="\d*"/>
		</restriction>
	</simpleType>
	<simpleType name="phoneNumberCountryCode_type">
		<restriction base="xs:string">
			<maxLength value="3"/>
			<minLength value="1"/>
			<whiteSpace value="collapse"/>
			<pattern value="\d+"/>
		</restriction>
	</simpleType>
	<simpleType name="ipAddressValue_type">
		<annotation>
			<documentation>String limitation 1000 added by KPN EAI automated guideline supervision. Increase size in Rose if desired.</documentation>
		</annotation>
		<restriction base="xs:string">
			<maxLength value="1000"/>
		</restriction>
	</simpleType>
	<simpleType name="phoneNumberSubscriberNumber_type">
		<restriction base="xs:string">
			<maxLength value="15"/>
			<minLength value="1"/>
			<whiteSpace value="collapse"/>
			<pattern value="\d+"/>
		</restriction>
	</simpleType>
	<simpleType name="emailAddress_type">
		<restriction base="xs:string">
			<maxLength value="320"/>
			<pattern value=" ([\.a-zA-Z0-9_-])+@([a-zA-Z0-9_-])+(([a-zA-Z0-9_-])*\.([a-zA-Z0-9_-])+)+"/>
		</restriction>
	</simpleType>
	<simpleType name="dutchPostcode_type">
		<restriction base="xs:string">
			<length value="6"/>
			<pattern value="\d{4}[a-zA-Z]{2}"/>
		</restriction>
	</simpleType>
	<simpleType name="cityCode_type">
		<annotation>
			<documentation>*** For future use ***</documentation>
			<documentation>Field size limitation copied from API definition as EAI side had no limitation.</documentation>
		</annotation>
		<restriction base="xs:string">
			<maxLength value="6"/>
		</restriction>
	</simpleType>
	<simpleType name="contractId_type">
		<restriction base="xs:string">
			<maxLength value="9"/>
		</restriction>
	</simpleType>
	<simpleType name="appInfo_type">
		<restriction base="xs:string">
			<maxLength value="100"/>
		</restriction>
	</simpleType>
	<simpleType name="event_type">
		<restriction base="xs:string">
			<maxLength value="100"/>
		</restriction>
	</simpleType>
	<simpleType name="timestamp_type">
		<restriction base="xs:long"/>
	</simpleType>
	<simpleType name="messageId_type">
		<restriction base="xs:string"/>
	</simpleType>
	<simpleType name="externalRef_type">
		<restriction base="xs:string">
			<maxLength value="9"/>
		</restriction>
	</simpleType>
	<simpleType name="componentId_type">
		<restriction base="xs:string">
			<maxLength value="9"/>
		</restriction>
	</simpleType>
	<simpleType name="componentVersion_type">
		<restriction base="xs:string">
			<maxLength value="9"/>
		</restriction>
	</simpleType>
	<simpleType name="endUserInfo_type">
		<restriction base="xs:string"/>
	</simpleType>
	<simpleType name="sourceAddress_type">
		<restriction base="xs:string"/>
	</simpleType>
	<simpleType name="sequenceNo_type">
		<restriction base="xs:string">
			<maxLength value="9"/>
		</restriction>
	</simpleType>
	<simpleType name="interfaceId_type">
		<annotation>
			<documentation>String limitation 1000 added by KPN EAI automated guideline supervision. Increase size in Rose if desired.</documentation>
		</annotation>
		<restriction base="xs:string">
			<maxLength value="1000"/>
		</restriction>
	</simpleType>
	<simpleType name="messageVersion_type">
		<annotation>
			<documentation>String limitation 1000 added by KPN EAI automated guideline supervision. Increase size in Rose if desired.</documentation>
		</annotation>
		<restriction base="xs:string">
			<maxLength value="1000"/>
		</restriction>
	</simpleType>
	<simpleType name="messageObject_type">
		<annotation>
			<documentation>String limitation 1000 added by KPN EAI automated guideline supervision. Increase size in Rose if desired.</documentation>
		</annotation>
		<restriction base="xs:string">
			<maxLength value="1000"/>
		</restriction>
	</simpleType>
	<simpleType name="messageParadigm_type">
		<annotation>
			<documentation>String limitation 1000 added by KPN EAI automated guideline supervision. Increase size in Rose if desired.</documentation>
		</annotation>
		<restriction base="xs:string">
			<maxLength value="1000"/>
		</restriction>
	</simpleType>
	<simpleType name="functionalId_type">
		<annotation>
			<documentation>String limitation 1000 added by KPN EAI automated guideline supervision. Increase size in Rose if desired.</documentation>
		</annotation>
		<restriction base="xs:string">
			<maxLength value="1000"/>
		</restriction>
	</simpleType>
	<simpleType name="moduleId_type">
		<annotation>
			<documentation>String limitation 1000 added by KPN EAI automated guideline supervision. Increase size in Rose if desired.</documentation>
		</annotation>
		<restriction base="xs:string">
			<maxLength value="1000"/>
		</restriction>
	</simpleType>
	<simpleType name="messageName_type">
		<annotation>
			<documentation>String limitation 1000 added by KPN EAI automated guideline supervision. Increase size in Rose if desired.</documentation>
		</annotation>
		<restriction base="xs:string">
			<maxLength value="1000"/>
		</restriction>
	</simpleType>
	<simpleType name="messageDestination_type">
		<annotation>
			<documentation>String limitation 1000 added by KPN EAI automated guideline supervision. Increase size in Rose if desired.</documentation>
		</annotation>
		<restriction base="xs:string">
			<maxLength value="1000"/>
		</restriction>
	</simpleType>
	<element name="SERVICE_VISIT_PRODUCT">
		<complexType>
			<sequence>
				<element name="APPOINTMENT" minOccurs="0">
					<complexType>
						<sequence>
							<element name="REQUESTED" minOccurs="0">
								<annotation>
									<documentation>The date requested by the customer</documentation>
								</annotation>
								<complexType>
									<sequence>
										<element name="DATE" type="date"/>
										<element name="START_TIME" type="time" minOccurs="0"/>
										<choice>
											<element name="END_TIME" type="time" minOccurs="0"/>
											<element name="DURATION" type="duration" minOccurs="0"/>
										</choice>
									</sequence>
								</complexType>
							</element>
							<element name="PLANNED" minOccurs="0">
								<annotation>
									<documentation>The moment of implementation as planned by Tango</documentation>
								</annotation>
								<complexType>
									<sequence>
										<element name="DATE" type="date"/>
										<element name="START_TIME" type="time" minOccurs="0"/>
										<choice>
											<element name="END_TIME" type="time" minOccurs="0"/>
											<element name="DURATION" type="duration" minOccurs="0"/>
										</choice>
									</sequence>
								</complexType>
							</element>
							<element name="ACTUAL" minOccurs="0">
								<annotation>
									<documentation>The moment the order is closed in Tango</documentation>
								</annotation>
								<complexType>
									<sequence>
										<element name="DATE" type="date"/>
										<element name="START_TIME" type="time" minOccurs="0"/>
										<choice>
											<element name="END_TIME" type="time" minOccurs="0"/>
											<element name="DURATION" type="duration" minOccurs="0"/>
										</choice>
									</sequence>
								</complexType>
							</element>
							<element name="LOCATION" minOccurs="0">
								<annotation>
									<documentation>Artificial sequence to separate.</documentation>
								</annotation>
								<complexType>
									<sequence>
										<element name="STREET_NAME" type="tns:streetName_type" minOccurs="0"/>
										<element name="HOUSE_NUMBER" type="tns:houseNumber_type" minOccurs="0"/>
										<element name="HOUSE_NUMBER_EXTENSION" type="tns:houseNumberExtension_type" minOccurs="0"/>
										<element name="DUTCH_POSTCODE" type="tns:dutchPostcode_type" minOccurs="0"/>
										<element name="CITY_CODE" type="tns:cityCode_type" minOccurs="0">
											<annotation>
												<documentation>*** For future use ***</documentation>
												<documentation>Default (autogenerated) min and max occurs values.</documentation>
											</annotation>
										</element>
										<element name="CITY_NAME" type="tns:cityName_type" minOccurs="0"/>
										<element name="RAYON" type="string" minOccurs="0"/>
									</sequence>
								</complexType>
							</element>
							<element name="SINGLE_SIDED_APPOINTMENT_FLAG" type="boolean" minOccurs="0">
								<annotation>
									<documentation>An indicator to show that the appointment was made without consulting the customer.</documentation>
									<documentation>Default (autogenerated) min and max occurs values.</documentation>
								</annotation>
							</element>
							<element name="URGENT_FLAG" type="boolean" minOccurs="0">
								<annotation>
									<documentation>Indicator for urgent delivery</documentation>
								</annotation>
							</element>
							<sequence>
								<element name="CHANGE" minOccurs="0">
									<complexType>
										<sequence>
											<element name="REASON" type="string"/>
											<element name="CHANGED_BY" type="string"/>
										</sequence>
									</complexType>
								</element>
							</sequence>
							<element name="TIMESPAN" type="time" minOccurs="0"/>
						</sequence>
					</complexType>
				</element>
				<element name="CONTACT" minOccurs="0">
					<annotation>
						<documentation>Artificial sequence to separate.</documentation>
					</annotation>
					<complexType>
						<sequence>
							<element name="CONTACT_MEDIUM">
								<complexType>
									<sequence>
										<element name="PHONE_NUMBER" type="tns:phoneNumberSubscriberNumber_type" minOccurs="0"/>
										<element name="EMAIL" type="tns:emailAddress_type" minOccurs="0"/>
									</sequence>
								</complexType>
							</element>
							<element name="CONTACT_PERSON">
								<complexType>
									<sequence>
										<element name="FIRST_NAME" type="string" minOccurs="0"/>
										<element name="LAST_NAME" type="string"/>
									</sequence>
								</complexType>
							</element>
							<element name="CUSTOMER_NAME" type="string" minOccurs="0"/>
						</sequence>
					</complexType>
				</element>
				<element name="ENGINEER" minOccurs="0">
					<annotation>
						<documentation>Artificial sequence to separate.</documentation>
					</annotation>
					<complexType>
						<sequence>
							<element name="NAME" type="string" minOccurs="0">
								<annotation>
									<documentation>Name of the assigned engineer</documentation>
								</annotation>
							</element>
							<element name="SKILL_LEVEL" type="string" minOccurs="0"/>
							<element name="SUPPLY_LOCATION_CODE" type="string" minOccurs="0"/>
							<element name="ASSIGNMENT_TYPE" type="string" minOccurs="0">
								<annotation>
									<documentation>Indicates whether the ENGINEER information is initial or a change. Value [INITIAL|CHANGE]</documentation>
								</annotation>
							</element>
						</sequence>
					</complexType>
				</element>
				<element name="INSTALLATION_TYPE" type="string" minOccurs="0">
					<annotation>
						<documentation>New, moving, demolition</documentation>
					</annotation>
				</element>
				<element name="RESOURCE" minOccurs="0" maxOccurs="unbounded">
					<annotation>
						<documentation>LOGICAL RESOURCES</documentation>
						<documentation>PHYSICAL RESOURCES</documentation>
					</annotation>
					<complexType>
						<sequence>
							<element name="RESOURCE_ROLE" type="string" minOccurs="0"/>
							<choice>
								<choice>
									<element name="PHONE_NUMBER_RANGE">
										<complexType>
											<sequence>
												<element name="AREA_CODE" type="tns:phoneNumberAreaCode_type" minOccurs="0"/>
												<element name="COUNTRY_CODE" type="tns:phoneNumberCountryCode_type" minOccurs="0"/>
												<element name="SUBSCRIBER_NUMBER" type="tns:subscriberNumber_type"/>
												<choice>
													<element name="END_SUBSCRIBER_NUMBER" type="tns:subscriberNumber_type"/>
													<element name="SIZE" type="positiveInteger"/>
												</choice>
												<element name="PORTING" type="boolean" minOccurs="0">
													<annotation>
														<documentation>Are the numbers to be inported</documentation>
														<documentation>Default (autogenerated) min and max occurs values.</documentation>
													</annotation>
												</element>
											</sequence>
										</complexType>
									</element>
									<element name="IP_NUMBER_RANGE">
										<complexType>
											<sequence>
												<element name="START_IP_ADDRESS" type="tns:ipAddressValue_type"/>
												<choice>
													<element name="END_IP_ADDRESS" type="tns:ipAddressValue_type"/>
													<element name="SIZE" type="positiveInteger"/>
												</choice>
											</sequence>
										</complexType>
									</element>
									<element name="PHONENUMBER_CURRENT_ACCESSLINE" type="string"/>
									<element name="CURRENT_TELEPHONE_TYPE" type="string">
										<annotation>
											<documentation>PSTN|ISDN</documentation>
										</annotation>
									</element>
								</choice>
								<choice>
									<element name="DEVICE_RESOURCE">
										<annotation>
											<documentation>NOT FINAL YET</documentation>
										</annotation>
										<complexType>
											<sequence>
												<element name="TYPE" type="string" minOccurs="0"/>
											</sequence>
										</complexType>
									</element>
									<sequence>
										<element name="PBX_RESOURCE">
											<complexType>
												<sequence>
													<element name="PBX_ID" type="string"/>
												</sequence>
											</complexType>
										</element>
									</sequence>
								</choice>
							</choice>
						</sequence>
					</complexType>
				</element>
				<element name="SERVICE" minOccurs="0">
					<complexType>
						<sequence>
							<element name="SERVICE_ROLE" type="string" minOccurs="0"/>
							<choice>
								<element name="LOGIN_ACCOUNT">
									<complexType>
										<sequence>
											<element name="USER_NAME" type="string"/>
											<element name="PASSWORD" type="string" minOccurs="0"/>
											<element name="COMMENTS" type="string" minOccurs="0"/>
											<element name="DOMAIN" type="string" minOccurs="0"/>
										</sequence>
									</complexType>
								</element>
								<element name="ACCESS_SERVICE">
									<annotation>
										<documentation>Artificial sequence to separate.</documentation>
									</annotation>
									<complexType>
										<sequence>
											<element name="UPLOAD" minOccurs="0">
												<annotation>
													<documentation>Artificial sequence to separate.</documentation>
												</annotation>
												<complexType>
													<sequence>
														<element name="MINIMUM" minOccurs="0">
															<complexType>
																<sequence>
																	<element name="UNIT" type="string" minOccurs="0"/>
																	<element name="AMOUNT" type="string"/>
																</sequence>
															</complexType>
														</element>
														<element name="MAXIMUM">
															<complexType>
																<sequence>
																	<element name="UNIT" type="string" minOccurs="0"/>
																	<element name="AMOUNT" type="integer"/>
																</sequence>
															</complexType>
														</element>
													</sequence>
												</complexType>
											</element>
											<element name="POP_ID" type="string" minOccurs="0"/>
											<element name="DOWNLOAD" minOccurs="0">
												<annotation>
													<documentation>Artificial sequence to separate.</documentation>
												</annotation>
												<complexType>
													<sequence>
														<element name="MINIMUM" minOccurs="0">
															<complexType>
																<sequence>
																	<element name="UNIT" type="string" minOccurs="0"/>
																	<element name="AMOUNT" type="integer"/>
																</sequence>
															</complexType>
														</element>
														<element name="MAXIMUM">
															<complexType>
																<sequence>
																	<element name="UNIT" type="string" minOccurs="0"/>
																	<element name="AMOUNT" type="integer"/>
																</sequence>
															</complexType>
														</element>
													</sequence>
												</complexType>
											</element>
											<element name="ISRA_ID" type="string" minOccurs="0">
												<annotation>
													<documentation>sip-stift?</documentation>
												</annotation>
											</element>
											<element name="SITE_ID" type="string" minOccurs="0"/>
											<element name="XDF_KEY" type="string" minOccurs="0"/>
											<element name="ACCESS_TYPE" type="string" minOccurs="0"/>
											<element name="ACCESS_SHARING_TYPE" type="string" minOccurs="0"/>
											<element name="ACCESS_ID" type="string" minOccurs="0"/>
											<element name="CURRENT_TELEPHONY_TYPE" type="string" minOccurs="0"/>
											<element name="PHONENUMBER_CURRENT_ACCESSLINE" type="string" minOccurs="0"/>
											<element name="SERVICE_INTERFACE_PORT" minOccurs="0">
												<complexType>
													<sequence>
														<element name="SIP_ID" type="string" minOccurs="0"/>
														<element name="PORT_NUMBER" type="string" minOccurs="0"/>
													</sequence>
												</complexType>
											</element>
											<element name="MIGRATION" type="boolean" minOccurs="0"/>
										</sequence>
									</complexType>
								</element>
								<element name="VOICE_SERVICE">
									<annotation>
										<documentation>Artificial sequence to separate.</documentation>
									</annotation>
									<complexType>
										<sequence>
											<element name="NUMBER_OF_SEATS" type="integer" minOccurs="0"/>
											<element name="MAXIMUM_CONCURRENT_CALLS" type="integer" minOccurs="0"/>
											<element name="MAXIMUM_CONCURRENT_INBOUND" type="integer" minOccurs="0"/>
											<element name="MAXIMUM_CONCURRENT_OUTBOUND" type="integer" minOccurs="0"/>
										</sequence>
									</complexType>
								</element>
								<element name="CONNECTION_SERVICE">
									<complexType>
										<sequence>
											<element name="CONNECTION_SERVICE_ID" type="string" minOccurs="0"/>
										</sequence>
									</complexType>
								</element>
								<element name="END_USER_ACCESS_POINT">
									<complexType>
										<sequence>
											<element name="END_USER-ACCESS_POINT_ID" minOccurs="0"/>
											<element name="NETWORK_TERMINATION_UNIT_PORT" minOccurs="0"/>
										</sequence>
									</complexType>
								</element>
							</choice>
						</sequence>
					</complexType>
				</element>
				<element name="RUNTIME_PARAMETERS" minOccurs="0">
					<complexType>
						<sequence>
							<element name="BILL_OF_MATERIAL" type="anyType" minOccurs="0"/>
							<element name="DEVICE_PURCHASE_ORDER_ID" type="string" minOccurs="0"/>
						</sequence>
					</complexType>
				</element>
			</sequence>
		</complexType>
	</element>
</schema>
