SiebelZMAdapter/XSDSchemas/OrderServicesAdapter/Imported/ZIPBPRODUCT.xsd

<?xml version="1.0" encoding="utf-8"?>

<!-- edited with XMLSpy v2006 sp2 U (http://www.altova.com) by Atos Origin (Atos Origin Nederland B.V.) -->
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	 xmlns:tns="http://xmlns.kpn.com/EAI/fixed/0248_ProcessProvisioningWorkOrder/2.0/Subscribe"
	 xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 targetNamespace="http://xmlns.kpn.com/EAI/fixed/0248_ProcessProvisioningWorkOrder/2.0/Subscribe"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<simpleType name="orderType_type">
		<annotation>
			<documentation>The deifferent types of orders i.e.:
- customerOrder
- networkResourceOrder
- wholesaleAccessOrder
- workOrder
			</documentation>
			<documentation>Default value is:''</documentation>
			<documentation>1000 length string limitation added by KPN EAI defaults.Increase size in Rose if required.</documentation>
		</annotation>
		<restriction base="xs:string">
			<maxLength value="1000"/>
			<enumeration value="customerOrder"/>
			<enumeration value="networkResourceOrder"/>
			<enumeration value="wholesaleAccessOrder"/>
			<enumeration value="workOrder"/>
			<enumeration value="undefined"/>
		</restriction>
	</simpleType>
	<simpleType name="orderId_type">
		<annotation>
			<documentation>String limitation 1000 added by KPN EAI automated guideline supervision. Increase size in Rose if desired.</documentation>
		</annotation>
		<restriction base="xs:string">
			<maxLength value="1000"/>
		</restriction>
	</simpleType>
	<simpleType name="externalReference_type">
		<annotation>
			<documentation>String limitation 1000 added by KPN EAI automated guideline supervision. Increase size in Rose if desired.</documentation>
		</annotation>
		<restriction base="xs:string">
			<maxLength value="1000"/>
		</restriction>
	</simpleType>
	<simpleType name="creationDate_type">
		<restriction base="xs:dateTime"/>
	</simpleType>
	<simpleType name="dueDate_type">
		<restriction base="xs:dateTime"/>
	</simpleType>
	<simpleType name="orderPriority_type">
		<restriction base="xs:unsignedByte"/>
	</simpleType>
	<simpleType name="streetName_type">
		<restriction base="xs:string">
			<maxLength value="24"/>
		</restriction>
	</simpleType>
	<simpleType name="houseNumber_type">
		<restriction base="xs:string">
			<maxLength value="5"/>
		</restriction>
	</simpleType>
	<simpleType name="houseNumberExtension_type">
		<restriction base="xs:string">
			<maxLength value="6"/>
			<minLength value="0"/>
		</restriction>
	</simpleType>
	<simpleType name="dutchPostcodeNumbers_type">
		<restriction base="xs:string">
			<pattern value="\d{4}"/>
		</restriction>
	</simpleType>
	<simpleType name="dutchPostcodeLetters_type">
		<restriction base="xs:string">
			<pattern value="[a-zA-Z]{2}"/>
		</restriction>
	</simpleType>
	<simpleType name="cityName_type">
		<annotation>
			<documentation>String limitation 1000 added by KPN EAI automated guideline supervision. Increase size in Rose if desired.</documentation>
		</annotation>
		<restriction base="xs:string">
			<maxLength value="1000"/>
		</restriction>
	</simpleType>
	<simpleType name="countryCodeA2_type">
		<restriction base="xs:string">
			<length value="2"/>
		</restriction>
	</simpleType>
	<simpleType name="centralCustomerId_type">
		<restriction base="xs:string">
			<pattern value="[A-Z,0-9]{8}"/>
		</restriction>
	</simpleType>
	<simpleType name="productCategoryType_type">
		<annotation>
			<documentation>String limitation 1000 added by KPN EAI automated guideline supervision. Increase size in Rose if desired.</documentation>
		</annotation>
		<restriction base="xs:string">
			<maxLength value="1000"/>
		</restriction>
	</simpleType>
	<simpleType name="orderItemType_type">
		<annotation>
			<documentation>String limitation 1000 added by KPN EAI automated guideline supervision. Increase size in Rose if desired.</documentation>
		</annotation>
		<restriction base="xs:string">
			<maxLength value="1000"/>
		</restriction>
	</simpleType>
	<simpleType name="subscriberNumber_type">
		<annotation>
			<documentation>String limitation 1000 added by KPN EAI automated guideline supervision. Increase size in Rose if desired.</documentation>
		</annotation>
		<restriction base="xs:string">
			<maxLength value="1000"/>
		</restriction>
	</simpleType>
	<simpleType name="phoneNumberAreaCode_type">
		<restriction base="xs:string">
			<maxLength value="5"/>
			<minLength value="0"/>
			<whiteSpace value="collapse"/>
			<pattern value="\d*"/>
		</restriction>
	</simpleType>
	<simpleType name="phoneNumberCountryCode_type">
		<restriction base="xs:string">
			<maxLength value="3"/>
			<minLength value="1"/>
			<whiteSpace value="collapse"/>
			<pattern value="\d+"/>
		</restriction>
	</simpleType>
	<simpleType name="ipAddressValue_type">
		<annotation>
			<documentation>String limitation 1000 added by KPN EAI automated guideline supervision. Increase size in Rose if desired.</documentation>
		</annotation>
		<restriction base="xs:string">
			<maxLength value="1000"/>
		</restriction>
	</simpleType>
	<simpleType name="phoneNumberSubscriberNumber_type">
		<restriction base="xs:string">
			<maxLength value="15"/>
			<minLength value="1"/>
			<whiteSpace value="collapse"/>
			<pattern value="\d+"/>
		</restriction>
	</simpleType>
	<simpleType name="emailAddress_type">
		<restriction base="xs:string">
			<maxLength value="320"/>
			<pattern value=" ([\.a-zA-Z0-9_-])+@([a-zA-Z0-9_-])+(([a-zA-Z0-9_-])*\.([a-zA-Z0-9_-])+)+"/>
		</restriction>
	</simpleType>
	<simpleType name="dutchPostcode_type">
		<restriction base="xs:string">
			<length value="6"/>
			<pattern value="\d{4}[a-zA-Z]{2}"/>
		</restriction>
	</simpleType>
	<simpleType name="cityCode_type">
		<annotation>
			<documentation>*** For future use ***</documentation>
			<documentation>Field size limitation copied from API definition as EAI side had no limitation.</documentation>
		</annotation>
		<restriction base="xs:string">
			<maxLength value="6"/>
		</restriction>
	</simpleType>
	<simpleType name="contractId_type">
		<restriction base="xs:string">
			<maxLength value="9"/>
		</restriction>
	</simpleType>
	<simpleType name="appInfo_type">
		<restriction base="xs:string">
			<maxLength value="100"/>
		</restriction>
	</simpleType>
	<simpleType name="event_type">
		<restriction base="xs:string">
			<maxLength value="100"/>
		</restriction>
	</simpleType>
	<simpleType name="timestamp_type">
		<restriction base="xs:long"/>
	</simpleType>
	<simpleType name="messageId_type">
		<restriction base="xs:string"/>
	</simpleType>
	<simpleType name="externalRef_type">
		<restriction base="xs:string">
			<maxLength value="9"/>
		</restriction>
	</simpleType>
	<simpleType name="componentId_type">
		<restriction base="xs:string">
			<maxLength value="9"/>
		</restriction>
	</simpleType>
	<simpleType name="componentVersion_type">
		<restriction base="xs:string">
			<maxLength value="9"/>
		</restriction>
	</simpleType>
	<simpleType name="endUserInfo_type">
		<restriction base="xs:string"/>
	</simpleType>
	<simpleType name="sourceAddress_type">
		<restriction base="xs:string"/>
	</simpleType>
	<simpleType name="sequenceNo_type">
		<restriction base="xs:string">
			<maxLength value="9"/>
		</restriction>
	</simpleType>
	<simpleType name="interfaceId_type">
		<annotation>
			<documentation>String limitation 1000 added by KPN EAI automated guideline supervision. Increase size in Rose if desired.</documentation>
		</annotation>
		<restriction base="xs:string">
			<maxLength value="1000"/>
		</restriction>
	</simpleType>
	<simpleType name="messageVersion_type">
		<annotation>
			<documentation>String limitation 1000 added by KPN EAI automated guideline supervision. Increase size in Rose if desired.</documentation>
		</annotation>
		<restriction base="xs:string">
			<maxLength value="1000"/>
		</restriction>
	</simpleType>
	<simpleType name="messageObject_type">
		<annotation>
			<documentation>String limitation 1000 added by KPN EAI automated guideline supervision. Increase size in Rose if desired.</documentation>
		</annotation>
		<restriction base="xs:string">
			<maxLength value="1000"/>
		</restriction>
	</simpleType>
	<simpleType name="messageParadigm_type">
		<annotation>
			<documentation>String limitation 1000 added by KPN EAI automated guideline supervision. Increase size in Rose if desired.</documentation>
		</annotation>
		<restriction base="xs:string">
			<maxLength value="1000"/>
		</restriction>
	</simpleType>
	<simpleType name="functionalId_type">
		<annotation>
			<documentation>String limitation 1000 added by KPN EAI automated guideline supervision. Increase size in Rose if desired.</documentation>
		</annotation>
		<restriction base="xs:string">
			<maxLength value="1000"/>
		</restriction>
	</simpleType>
	<simpleType name="moduleId_type">
		<annotation>
			<documentation>String limitation 1000 added by KPN EAI automated guideline supervision. Increase size in Rose if desired.</documentation>
		</annotation>
		<restriction base="xs:string">
			<maxLength value="1000"/>
		</restriction>
	</simpleType>
	<simpleType name="messageName_type">
		<annotation>
			<documentation>String limitation 1000 added by KPN EAI automated guideline supervision. Increase size in Rose if desired.</documentation>
		</annotation>
		<restriction base="xs:string">
			<maxLength value="1000"/>
		</restriction>
	</simpleType>
	<simpleType name="messageDestination_type">
		<annotation>
			<documentation>String limitation 1000 added by KPN EAI automated guideline supervision. Increase size in Rose if desired.</documentation>
		</annotation>
		<restriction base="xs:string">
			<maxLength value="1000"/>
		</restriction>
	</simpleType>
	<element name="ZIPB_PRODUCT">
		<complexType>
			<sequence>
				<element name="ZIPB_ID" minOccurs="0">
					<complexType>
						<sequence>
							<element name="CRM_ORDERITEM_ID" type="xs:string" minOccurs="0">
								<annotation>
									<documentation>The date requested by the customer</documentation>
								</annotation>
							</element>
							<element name="SERVICE_ID" type="xs:string" minOccurs="0">
								<annotation>
									<documentation>The moment of implementation as planned by Tango</documentation>
								</annotation>
							</element>
						</sequence>
					</complexType>
				</element>
			</sequence>
		</complexType>
	</element>
</schema>