Clever/CLEverSource/CLEverCore - Oracle/Processes/FrontendServices/Configuration/Channel/Channel.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://www.tibco.com/CLEver/Configuration/Channel" xmlns:ns2="http://www.tibco.com/CLEver/FrontendServices/Configuration/Channel/ChannelInterfaceSpecs" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.tibco.com/CLEver/Configuration/Channel" xmlns:ns3="http://www.tibco.com/CLEver/InternalException">
    <import location="ChannelInterfaceSpecs.xsd" namespace="http://www.tibco.com/CLEver/FrontendServices/Configuration/Channel/ChannelInterfaceSpecs"/>
	<import location="../../../../Shared Resources/Schema Definitions/CLEver/Error.xsd" namespace="http://www.tibco.com/CLEver/InternalException"/>
    <message name="Create_Channel_Input">
        <part element="ns2:Create_Channel_Input" name="part1"/>
    </message>
    <message name="Create_Channel_Output">
        <part element="ns2:Create_Channel_Output" name="part1"/>
    </message>
    <message name="Update_Channel_Input">
        <part element="ns2:Update_Channel_Input" name="part1"/>
    </message>
    <message name="Update_Channel_Output">
        <part element="ns2:Update_Channel_Output" name="part1"/>
    </message>
    <message name="Delete_Channel_Input">
        <part element="ns2:Delete_Channel_Input" name="part1"/>
    </message>
    <message name="Delete_Channel_Output">
        <part element="ns2:Delete_Channel_Output" name="part1"/>
    </message>
    <message name="Retrieve_Channel_Input">
        <part element="ns2:Retrieve_Channel_Input" name="part1"/>
    </message>
    <message name="Retrieve_Channel_Output">
        <part element="ns2:Retrieve_Channel_Output" name="part1"/>
    </message>
    <message name="Retrieve_ChannelParameters_Input">
        <part element="ns2:Retrieve_ChannelParameters_Input" name="part1"/>
    </message>
    <message name="Retrieve_ChannelParameters_Output">
        <part element="ns2:Retrieve_ChannelParameters_Output" name="part1"/>
    </message>
    <message name="Retrieve_ChannelMechanism_Input">
        <part element="ns2:Retrieve_ChannelMechanism_Input" name="part1"/>
    </message>
    <message name="Retrieve_ChannelMechanism_Output">
        <part element="ns2:Retrieve_ChannelMechanism_Output" name="part1"/>
    </message>
    <message name="Exception">
        <part name="part1" element="ns3:ExceptionEnvelope"/>
    </message>
    <portType name="Channel">
        <operation name="Create">
            <input message="ns:Create_Channel_Input"/>
            <output message="ns:Create_Channel_Output"/>
			<fault name="fault1" message="ns:Exception"/>
        </operation>
        <operation name="Update">
            <input message="ns:Update_Channel_Input"/>
            <output message="ns:Update_Channel_Output"/>
			<fault name="fault1" message="ns:Exception"/>
        </operation>
        <operation name="Delete">
            <input message="ns:Delete_Channel_Input"/>
            <output message="ns:Delete_Channel_Output"/>
			<fault name="fault1" message="ns:Exception"/>
        </operation>
        <operation name="Retrieve">
            <input message="ns:Retrieve_Channel_Input"/>
            <output message="ns:Retrieve_Channel_Output"/>
			<fault name="fault1" message="ns:Exception"/>
        </operation>
        <operation name="RetrieveParameters">
            <input message="ns:Retrieve_ChannelParameters_Input"/>
            <output message="ns:Retrieve_ChannelParameters_Output"/>
			<fault name="fault1" message="ns:Exception"/>
        </operation>
        <operation name="RetrieveChannelMechanism">
            <input message="ns:Retrieve_ChannelMechanism_Input"/>
            <output message="ns:Retrieve_ChannelMechanism_Output"/>
			<fault name="fault1" message="ns:Exception"/>
        </operation>
    </portType>
</definitions>