ASTRIDAdapter/XSDSchemas/NIMAllIPAdapter/Response/0288_GetDslamInfo_1.0_Response_EAI_BUS_SIDE.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://xmlns.kpn.com/EAI/fixed/0288_GetDslamInfo/1.0/Response" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xmlns.kpn.com/EAI/fixed/0288_GetDslamInfo/1.0/Response" elementFormDefault="qualified"
attributeFormDefault="qualified">
	<xs:simpleType name="nodeName_type">
		<xs:annotation>
			<xs:documentation>Name of the NODE in HBIS format (e.g. Gn2/ADM16/25)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="50"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="physicalResourceSatus_type">
		<xs:annotation>
			<xs:documentation>Administrative status of the node (e.g. in service, planned, phased out,...)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="1000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="nodeType_type">
		<xs:annotation>
			<xs:documentation>NODE type name is in the table NODETYPE referenced by this field in NODE table</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="nodeSubType_type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="8"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="WapArea_type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="8"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="WapVlanID_type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="8"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="VPN_type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="8"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="VLanID_type">
		<xs:restriction base="xs:string">
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ipAddressFormat_type">
		<xs:annotation>
			<xs:documentation>One of the follwing formats: 
0 - dotted decimal (default)
1 - CIDR
</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer"/>
	</xs:simpleType>
	<xs:simpleType name="subnetMask_type">
		<xs:annotation>
			<xs:documentation>String limitation 1000 added by KPN EAI automated guideline supervision. Increase size in Rose if desired.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="1000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="streetName_type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="24"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="houseNumber_type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="5"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="houseNumberExtension_type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="6"/>
			<xs:minLength value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="dutchPostcode_type">
		<xs:restriction base="xs:string">
			<xs:pattern value="\d{4}[a-zA-Z]{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="cityName_type">
		<xs:annotation>
			<xs:documentation>String limitation 1000 added by KPN EAI automated guideline supervision. Increase size in Rose if desired.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="1000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="portType_type">
		<xs:annotation>
			<xs:documentation>"ODF" </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="50"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="portId_type">
		<xs:annotation>
			<xs:documentation>Id of the PORT as registered in EMS.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="11"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="rackPosition_type">
		<xs:annotation>
			<xs:documentation>Tbd</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="6"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="shelfPosition_type">
		<xs:annotation>
			<xs:documentation>Tbd</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="14"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="shelfType_type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="255"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="slotPosition_type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="14"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="cardType_type">
		<xs:annotation>
			<xs:documentation>String limitation 1000 added by KPN EAI automated guideline supervision. Increase size in Rose if desired.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="1000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="pinDescription_type">
		<xs:annotation>
			<xs:documentation>xDF-id (sip stift)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="12"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="carrierType_type">
		<xs:annotation>
			<xs:documentation>String limitation 1000 added by KPN EAI automated guideline supervision. Increase size in Rose if desired.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="1000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="serviceId_type">
		<xs:annotation>
			<xs:documentation>Service instance Id, attribute otf the C-VLAN</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="1000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="BODY">
		<xs:annotation>
			<xs:documentation>This is the BODY object for KPN EAI service number 0288 - GetDslamInfo version 1.0 Response message.</xs:documentation>
			<xs:documentation>Automatically generated schema for service:'GetDslamInfo', version:'1.0'</xs:documentation>
			<xs:documentation>Generated on 2007-06-14 12:18:01Z</xs:documentation>
			<xs:documentation>Service paradigm is intended to be Invalid paradigm</xs:documentation>
			<xs:documentation>Service ID is:'0288'</xs:documentation>
			<xs:documentation>The body must always have MinOccurs=0 and MaxOccurs=1, by definition of KPN EAI AG. (For request messages this has no apparent benefit)</xs:documentation>
			<xs:documentation>KPN EAI message body class.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:annotation>
					<xs:documentation>Artificial sequence to separate.</xs:documentation>
				</xs:annotation>
				<xs:element name="DSLAM" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:annotation>
								<xs:documentation>Artificial sequence to separate.</xs:documentation>
							</xs:annotation>
							<xs:element name="NODE" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:annotation>
											<xs:documentation>Artificial sequence to separate.</xs:documentation>
										</xs:annotation>
										<xs:element name="IP_ADDRESS" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:annotation>
														<xs:documentation>Artificial sequence to separate.</xs:documentation>
													</xs:annotation>
													<xs:element name="IP_ADDRESS_VALUE" type="xs:string" minOccurs="0">
														<xs:annotation>
															<xs:documentation>IP address of the node in the internal network. Also known as Management ip address or loopback ip address (IPv4)</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="IP_ADDRESS_FORMAT" type="tns:ipAddressFormat_type" minOccurs="0">
														<xs:annotation>
															<xs:documentation>One of the follwing formats: 
0 - dotted decimal (default)
1 - CIDR
</xs:documentation>
															<xs:documentation>Default (autogenerated) min and max occurs values.</xs:documentation>
														</xs:annotation>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="ADDRESS" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Physical address of the NODE</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:annotation>
														<xs:documentation>Artificial sequence to separate.</xs:documentation>
													</xs:annotation>
													<xs:element name="GPS" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Geographical location of the Dslam</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:sequence>
																<xs:annotation>
																	<xs:documentation>Artificial sequence to separate.</xs:documentation>
																</xs:annotation>
																<xs:element name="LATITUDE" type="xs:string" minOccurs="0">
																	<xs:annotation>
																		<xs:documentation>Geographical position latitude (geogr. breedte)</xs:documentation>
																		<xs:documentation>Default (autogenerated) min and max occurs values.</xs:documentation>
																	</xs:annotation>
																</xs:element>
																<xs:element name="LONGITUDE" type="xs:string" minOccurs="0">
																	<xs:annotation>
																		<xs:documentation>Geographical position longitude (geogr. lengte)
</xs:documentation>
																		<xs:documentation>Default (autogenerated) min and max occurs values.</xs:documentation>
																	</xs:annotation>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="STREET_NAME" type="tns:streetName_type" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Default (autogenerated) min and max occurs values.</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="HOUSE_NUMBER" type="tns:houseNumber_type" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Default (autogenerated) min and max occurs values.</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="HOUSE_NUMBER_EXTENSION" type="tns:houseNumberExtension_type" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Default (autogenerated) min and max occurs values.</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="DUTCH_POSTCODE" type="tns:dutchPostcode_type" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Default (autogenerated) min and max occurs values.</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="CITY_NAME" type="tns:cityName_type" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Default (autogenerated) min and max occurs values.</xs:documentation>
														</xs:annotation>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="PORT" minOccurs="0" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation>The ODF port </xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:annotation>
														<xs:documentation>Artificial sequence to separate.</xs:documentation>
													</xs:annotation>
													<xs:element name="PORT_TYPE" type="tns:portType_type" minOccurs="0">
														<xs:annotation>
															<xs:documentation>"ODF" </xs:documentation>
															<xs:documentation>Default (autogenerated) min and max occurs values.</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="PORT_ID" type="tns:portId_type" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Id of the PORT as registered in EMS.</xs:documentation>
															<xs:documentation>Default (autogenerated) min and max occurs values.</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="PORT_NAME" type="xs:string" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Name of the PORT in HBIS format</xs:documentation>
															<xs:documentation>Default (autogenerated) min and max occurs values.</xs:documentation>
														</xs:annotation>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="RACK" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:annotation>
														<xs:documentation>Artificial sequence to separate.</xs:documentation>
													</xs:annotation>
													<xs:element name="SHELF" minOccurs="0">
														<xs:complexType>
															<xs:sequence>
																<xs:annotation>
																	<xs:documentation>Artificial sequence to separate.</xs:documentation>
																</xs:annotation>
																<xs:element name="SLOT" minOccurs="0">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:annotation>
																				<xs:documentation>Artificial sequence to separate.</xs:documentation>
																			</xs:annotation>
																			<xs:element name="CARD" minOccurs="0">
																				<xs:complexType>
																					<xs:sequence>
																						<xs:annotation>
																							<xs:documentation>Artificial sequence to separate.</xs:documentation>
																						</xs:annotation>
																						<xs:element name="PHYSICAL_PORT" minOccurs="0">
																							<xs:annotation>
																								<xs:documentation>Ports on the Dslam. Either to the customer (UNI) or network (NNI)</xs:documentation>
																							</xs:annotation>
																							<xs:complexType>
																								<xs:sequence>
																									<xs:annotation>
																										<xs:documentation>Artificial sequence to separate.</xs:documentation>
																									</xs:annotation>
																									<xs:element name="ACCESS_LOCATION" minOccurs="0">
																										<xs:annotation>
																											<xs:documentation>Physical address of the NT</xs:documentation>
																										</xs:annotation>
																										<xs:complexType>
																											<xs:sequence>
																												<xs:annotation>
																													<xs:documentation>Artificial sequence to separate.</xs:documentation>
																												</xs:annotation>
																												<xs:element name="GPS" minOccurs="0">
																													<xs:annotation>
																														<xs:documentation>Geographical location of the Dslam</xs:documentation>
																													</xs:annotation>
																													<xs:complexType>
																														<xs:sequence>
																															<xs:annotation>
																																<xs:documentation>Artificial sequence to separate.</xs:documentation>
																															</xs:annotation>
																															<xs:element name="LATITUDE" type="xs:string" minOccurs="0">
																																<xs:annotation>
																																	<xs:documentation>Geographical position latitude (geogr. breedte)</xs:documentation>
																																	<xs:documentation>Default (autogenerated) min and max occurs values.</xs:documentation>
																																</xs:annotation>
																															</xs:element>
																															<xs:element name="LONGITUDE" type="xs:string" minOccurs="0">
																																<xs:annotation>
																																	<xs:documentation>Geographical position longitude (geogr. lengte)
</xs:documentation>
																																	<xs:documentation>Default (autogenerated) min and max occurs values.</xs:documentation>
																																</xs:annotation>
																															</xs:element>
																														</xs:sequence>
																													</xs:complexType>
																												</xs:element>
																												<xs:element name="STREET_NAME" type="tns:streetName_type" minOccurs="0">
																													<xs:annotation>
																														<xs:documentation>Default (autogenerated) min and max occurs values.</xs:documentation>
																													</xs:annotation>
																												</xs:element>
																												<xs:element name="HOUSE_NUMBER" type="tns:houseNumber_type" minOccurs="0">
																													<xs:annotation>
																														<xs:documentation>Default (autogenerated) min and max occurs values.</xs:documentation>
																													</xs:annotation>
																												</xs:element>
																												<xs:element name="HOUSE_NUMBER_EXTENSION" type="tns:houseNumberExtension_type" minOccurs="0">
																													<xs:annotation>
																														<xs:documentation>Default (autogenerated) min and max occurs values.</xs:documentation>
																													</xs:annotation>
																												</xs:element>
																												<xs:element name="DUTCH_POSTCODE" type="tns:dutchPostcode_type" minOccurs="0">
																													<xs:annotation>
																														<xs:documentation>Default (autogenerated) min and max occurs values.</xs:documentation>
																													</xs:annotation>
																												</xs:element>
																												<xs:element name="CITY_NAME" type="tns:cityName_type" minOccurs="0">
																													<xs:annotation>
																														<xs:documentation>Default (autogenerated) min and max occurs values.</xs:documentation>
																													</xs:annotation>
																												</xs:element>
																											</xs:sequence>
																										</xs:complexType>
																									</xs:element>
																									<xs:element name="PORT_TYPE" type="tns:portType_type">
																										<xs:annotation>
																											<xs:documentation>Type of port either UNI or NNI
</xs:documentation>
																										</xs:annotation>
																									</xs:element>
																									<xs:element name="PORT_ID" type="tns:portId_type" minOccurs="0">
																										<xs:annotation>
																											<xs:documentation>Identifier of the PORT as known in EMS</xs:documentation>
																											<xs:documentation>Default (autogenerated) min and max occurs values.</xs:documentation>
																										</xs:annotation>
																									</xs:element>
																									<xs:element name="PORT_STATUS" type="xs:string" minOccurs="0">
																										<xs:annotation>
																											<xs:documentation>Administrative status of the PORT (e.g. in service, planned, phased out,...)</xs:documentation>
																											<xs:documentation>Default (autogenerated) min and max occurs values.</xs:documentation>
																										</xs:annotation>
																									</xs:element>
																									<xs:element name="SIP_STIFT" type="tns:pinDescription_type" minOccurs="0">
																										<xs:annotation>
																											<xs:documentation>xDF-id (sip stift)</xs:documentation>
																											<xs:documentation>Default (autogenerated) min and max occurs values.</xs:documentation>
																										</xs:annotation>
																									</xs:element>
																									<xs:element name="PORT_NAME" type="xs:string" minOccurs="0">
																										<xs:annotation>
																											<xs:documentation>Name of the PORT in HBIS format</xs:documentation>
																											<xs:documentation>Default (autogenerated) min and max occurs values.</xs:documentation>
																										</xs:annotation>
																									</xs:element>
																									<xs:element name="SERVICE_TYPE" type="tns:carrierType_type" minOccurs="0">
																										<xs:annotation>
																											<xs:documentation>Default (autogenerated) min and max occurs values.</xs:documentation>
																										</xs:annotation>
																									</xs:element>
																									<xs:element name="SERVICE" minOccurs="0" maxOccurs="unbounded">
																									    <xs:complexType>
																									        <xs:sequence>
																									            <xs:element name="VLAN_ID" type="tns:VLanID_type"/>
																									        </xs:sequence>
																									    </xs:complexType>
																									</xs:element>
																								</xs:sequence>
																							</xs:complexType>
																						</xs:element>
																						<xs:element name="CARD_TYPE" type="tns:cardType_type" minOccurs="0">
																							<xs:annotation>
																								<xs:documentation>Default (autogenerated) min and max occurs values.</xs:documentation>
																							</xs:annotation>
																						</xs:element>
																						<xs:element name="CARD_STATUS" type="xs:string" minOccurs="0">
																							<xs:annotation>
																								<xs:documentation>Administrative status of the CARD (e.g. in service, planned, phased out,...)</xs:documentation>
																								<xs:documentation>Default (autogenerated) min and max occurs values.</xs:documentation>
																							</xs:annotation>
																						</xs:element>
																						<xs:element name="CARD_POSITION" type="xs:string" minOccurs="0">
																							<xs:annotation>
																								<xs:documentation>Place of the card (in the rack) E.g. ZK454.1 </xs:documentation>
																								<xs:documentation>Default (autogenerated) min and max occurs values.</xs:documentation>
																							</xs:annotation>
																						</xs:element>
																						<xs:element name="CARD_BRAND" type="xs:string" minOccurs="0">
																							<xs:annotation>
																								<xs:documentation>Specification information about the card (brand, version) E.g. Alcatel, 3AL34962AB, 3.001.2B</xs:documentation>
																								<xs:documentation>Default (autogenerated) min and max occurs values.</xs:documentation>
																							</xs:annotation>
																						</xs:element>
																						<xs:element name="CARD_ID" type="xs:string" minOccurs="0">
																							<xs:annotation>
																								<xs:documentation>Identifier of the CARD as known in EMS</xs:documentation>
																								<xs:documentation>Default (autogenerated) min and max occurs values.</xs:documentation>
																							</xs:annotation>
																						</xs:element>
																						<xs:element name="CARD_NAME" type="xs:string" minOccurs="0">
																							<xs:annotation>
																								<xs:documentation>Unique identifier of the card (HBIS?)</xs:documentation>
																								<xs:documentation>Default (autogenerated) min and max occurs values.</xs:documentation>
																							</xs:annotation>
																						</xs:element>
																						<xs:element name="CARD_VERSION" type="xs:string" minOccurs="0">
																							<xs:annotation>
																								<xs:documentation>Default (autogenerated) min and max occurs values.</xs:documentation>
																							</xs:annotation>
																						</xs:element>
																					</xs:sequence>
																				</xs:complexType>
																			</xs:element>
																			<xs:element name="SLOT_NAME" type="xs:string" minOccurs="0">
																				<xs:annotation>
																					<xs:documentation>Name of the SLOT in HBIS format</xs:documentation>
																					<xs:documentation>Default (autogenerated) min and max occurs values.</xs:documentation>
																				</xs:annotation>
																			</xs:element>
																			<xs:element name="SLOT_POSITION" type="tns:slotPosition_type" minOccurs="0">
																				<xs:annotation>
																					<xs:documentation>Default (autogenerated) min and max occurs values.</xs:documentation>
																				</xs:annotation>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
																<xs:element name="SHELF_POSITION" type="tns:shelfPosition_type" minOccurs="0">
																	<xs:annotation>
																		<xs:documentation>Tbd</xs:documentation>
																		<xs:documentation>Default (autogenerated) min and max occurs values.</xs:documentation>
																	</xs:annotation>
																</xs:element>
																<xs:element name="SHELF_TYPE" type="tns:shelfType_type" minOccurs="0">
																	<xs:annotation>
																		<xs:documentation>Default (autogenerated) min and max occurs values.</xs:documentation>
																	</xs:annotation>
																</xs:element>
																<xs:element name="SHELF_STATUS" type="xs:string" minOccurs="0">
																	<xs:annotation>
																		<xs:documentation>Administrative status of the SELF (e.g. in service, planned, phased out,...)</xs:documentation>
																		<xs:documentation>Default (autogenerated) min and max occurs values.</xs:documentation>
																	</xs:annotation>
																</xs:element>
																<xs:element name="SHELF_ID" type="xs:string" minOccurs="0">
																	<xs:annotation>
																		<xs:documentation>Identifier of the SHELF as known in EMS</xs:documentation>
																		<xs:documentation>Default (autogenerated) min and max occurs values.</xs:documentation>
																	</xs:annotation>
																</xs:element>
																<xs:element name="SHELF_NAME" type="xs:string" minOccurs="0">
																	<xs:annotation>
																		<xs:documentation>Name of SHELF in HBIS format</xs:documentation>
																		<xs:documentation>Default (autogenerated) min and max occurs values.</xs:documentation>
																	</xs:annotation>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="RACK_POSITION" type="tns:rackPosition_type" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Tbd</xs:documentation>
															<xs:documentation>Default (autogenerated) min and max occurs values.</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="RACK_ID" type="xs:string" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Id of the RACK as known in EMS</xs:documentation>
															<xs:documentation>Default (autogenerated) min and max occurs values.</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="RACK_STATUS" type="tns:physicalResourceSatus_type" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Administrative status of the RACK</xs:documentation>
															<xs:documentation>Default (autogenerated) min and max occurs values.</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="RACK_NAME" type="xs:string" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Name of the RACK in HBIS format</xs:documentation>
															<xs:documentation>Default (autogenerated) min and max occurs values.</xs:documentation>
														</xs:annotation>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="SERVICE" minOccurs="0" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:annotation>
														<xs:documentation>Artificial sequence to separate.</xs:documentation>
													</xs:annotation>
													<xs:element name="SERVICE_ID" type="tns:serviceId_type" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Service instance Id, attribute otf the C-VLAN</xs:documentation>
															<xs:documentation>Default (autogenerated) min and max occurs values.</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="SERVICE_OPERATOR_ID" type="tns:serviceId_type" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Transport instance.
The ID of the operator delivering the service customer. This field is retrieved through a direct relation with the above service ID</xs:documentation>
															<xs:documentation>Default (auto generated) min and max occurs values.</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="E_NUMBER" type="xs:string" minOccurs="0">
														<xs:annotation>
															<xs:documentation>The E-number is the service object of the type e-number related to the ODF port (Ethernet number)</xs:documentation>
															<xs:documentation>Default (auto generated) min and max occurs values.</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="WAP_AREA" type="tns:WapArea_type" minOccurs="0"/>
													<xs:element name="WAP_VLAN_ID" type="tns:WapVlanID_type" minOccurs="0"/>
													<xs:element name="VPN" type="tns:VPN_type" minOccurs="0"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="NODE_NAME" type="tns:nodeName_type" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Name of the NODE in HBIS format (e.g. Gn2/ADM16/25)</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="NODE_STATUS" type="tns:physicalResourceSatus_type" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Administrative status of the node (e.g. in service, planned, phased out,...)</xs:documentation>
												<xs:documentation>Default (autogenerated) min and max occurs values.</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="NODE_TYPE" type="tns:nodeType_type" minOccurs="0">
											<xs:annotation>
												<xs:documentation>NODE type name is in the table NODETYPE referenced by this field in NODE table</xs:documentation>
												<xs:documentation>Default (autogenerated) min and max occurs values.</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="NODE_SUB_TYPE" type="tns:nodeSubType_type" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Default (autogenerated) min and max occurs values.</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="DOMAIN" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:annotation>
											<xs:documentation>Artificial sequence to separate.</xs:documentation>
										</xs:annotation>
										<xs:element name="TYPE" type="xs:string" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Domain where the node is acting.</xs:documentation>
												<xs:documentation>Default (autogenerated) min and max occurs values.</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
