EClipsAdapter/XSDSchemas/PortingServicesWF/Publish/NotifyNumberTariffChange.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 2 U (http://www.xmlspy.com) by a (University of Helsinki) -->
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:Base.xsd="http://xmlns.kpn.com/common/cdm/Base.xsd" xmlns:TariffInfo.xsd="http://xmlns.kpn.com/fixed/portingserviceswf/common/TariffInfo.xsd" xmlns="http://xmlns.kpn.com/fixed/portingserviceswf/publish/NotifyNumberTariffChange.xsd" targetNamespace="http://xmlns.kpn.com/fixed/portingserviceswf/publish/NotifyNumberTariffChange.xsd" elementFormDefault="qualified">
	<xsd:import namespace="http://xmlns.kpn.com/fixed/portingserviceswf/common/TariffInfo.xsd" schemaLocation="../Common/TariffInfo.xsd"/>
	<xsd:import namespace="http://xmlns.kpn.com/common/cdm/Base.xsd" schemaLocation="../../Common/Base.xsd"/>
	<xsd:element name="NotifyNumberTariffChange">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="Base.xsd:Base">
					<xsd:sequence>
						<xsd:element name="BROADCAST_ID" type="xsd:string"/>
						<xsd:element name="PLATFORM_PROVIDER" type="xsd:string"/>
						<xsd:element name="PLANNED_DATE_TIME" type="xsd:dateTime"/>
						<xsd:element name="TYPE_OF_NUMBER" type="xsd:integer"/>
						<xsd:element name="PRIORITY" type="xsd:integer"/>
						<xsd:element name="TARIFF_CHANGE_SEQUENCE" type="TariffChangeSequence" maxOccurs="unbounded"/>
					</xsd:sequence>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="TariffChangeSequence">
		<xsd:sequence>
			<xsd:element name="NUMBER" type="xsd:string"/>
			<xsd:element name="TARIFF_INFO_OLD" type="TariffInfo.xsd:TariffInfo"/>
			<xsd:element name="TARIFF_INFO_NEW" type="TariffInfo.xsd:TariffInfo"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
