EClipsAdapter/XSDSchemas/PortingServicesWF/Publish/NotifyNumberOutPortingSync.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.kpn.com/fixed/portingserviceswf/publish/tNumberOutportingSync.xsd"
	 targetNamespace = "http://xmlns.kpn.com/fixed/portingserviceswf/publish/tNumberOutportingSync.xsd"
	 xmlns:Base.xsd = "http://xmlns.kpn.com/common/cdm/Base.xsd"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified"
	 attributeFormDefault = "unqualified">
	<xsd:import namespace = "http://xmlns.kpn.com/common/cdm/Base.xsd" schemaLocation = "../../Common/Base.xsd"/>
	<!-- edited with XMLSpy v2006 sp2 U (http://www.altova.com) by Arjen Wassenaar (Atos Origin Nederland B.V.) -->
	
	
	<!-- edited with XMLSpy v2006 sp2 U (http://www.altova.com) by Arjen Wassenaar (Atos Origin Nederland B.V.) -->
	
	
	<!-- ACW 24-10-2006 initial version -->
	
	<xsd:element name = "NumberOutportingSync">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base = "Base.xsd:Base">
					<xsd:sequence>
						<xsd:element name = "PORTINGID" type = "xsd:string"/>
						<xsd:element name = "NUMBER_SERIES" minOccurs = "1" maxOccurs = "unbounded">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name = "NUMBER_SERIE">
										<xsd:complexType>
											<xsd:sequence>
												<xsd:element name = "START_OF_SERIE" type = "xsd:string"/>
												<xsd:element name = "END_OF_SERIE" type = "xsd:string"/>
											</xsd:sequence>
										</xsd:complexType>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>