EClipsAdapter/XSDSchemas/PortingServicesWF/Publish/NotifyPortingRequestAnswer.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.kpn.com/fixed/portingserviceswf/publish/NotifyPortingRequestAnswer.xsd"
	 targetNamespace = "http://xmlns.kpn.com/fixed/portingserviceswf/publish/NotifyPortingRequestAnswer.xsd"
	 xmlns:Base.xsd = "http://xmlns.kpn.com/common/cdm/Base.xsd"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 xmlns:NumberSerie.xsd = "http://xmlns.kpn.com/fixed/portingserviceswf/common/NumberSerie.xsd"
	 elementFormDefault = "qualified">
	<xsd:import namespace = "http://xmlns.kpn.com/common/cdm/Base.xsd" schemaLocation = "../../Common/Base.xsd"/>
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/portingserviceswf/common/NumberSerie.xsd" schemaLocation = "../Common/NumberSerie.xsd"/>
	<!-- edited with XMLSpy v2006 sp2 U (http://www.altova.com) by Arjen Wassenaar (Atos Origin Nederland B.V.) -->
	
	<xsd:element name = "NotifyPortingRequestAnswer">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base = "Base.xsd:Base">
					<xsd:sequence>
						<xsd:element name = "PORTING_ID" type = "xsd:string"/>
						<xsd:element name = "BLOCKING" type = "xsd:boolean"/>
						<xsd:element name = "PORTING_WISH_DATE_TIME" type = "xsd:dateTime" minOccurs = "0"/>
						<xsd:element name = "NUMBER_SEQUENCE" type = "NumberSequence" minOccurs = "0" maxOccurs = "unbounded"/>
					</xsd:sequence>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name = "NumberSequence">
		<xsd:sequence>
			<xsd:element name = "NUMBER_SERIE" type = "NumberSerie.xsd:NumberSerie" minOccurs = "0"/>
			<xsd:element name = "BLOCKING_CODE" type = "xsd:integer" minOccurs = "0"/>
			<xsd:element name = "PORTING_PROPOSED_DATE_TIME" type = "xsd:dateTime" minOccurs = "0"/>
			<xsd:element name = "NOTES" type = "xsd:string" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>