EClipsAdapter/XSDSchemas/PortingServicesWF/Publish/NotifyNumberOutPortingRequest.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.kpn.com/fixed/portingserviceswf/publish/NotifyNumberOutPortingRequest.xsd"
	 targetNamespace = "http://xmlns.kpn.com/fixed/portingserviceswf/publish/NotifyNumberOutPortingRequest.xsd"
	 xmlns:TariffInfo.xsd = "http://xmlns.kpn.com/fixed/portingserviceswf/common/TariffInfo.xsd"
	 xmlns:Base.xsd = "http://xmlns.kpn.com/common/cdm/Base.xsd"
	 xmlns:Customer.xsd = "http://xmlns.kpn.com/fixed/portingserviceswf/common/Customer.xsd"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 xmlns:NumberSerie.xsd = "http://xmlns.kpn.com/fixed/portingserviceswf/common/NumberSerie.xsd"
	 elementFormDefault = "qualified">
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/portingserviceswf/common/TariffInfo.xsd" schemaLocation = "../Common/TariffInfo.xsd"/>
	<xsd:import namespace = "http://xmlns.kpn.com/common/cdm/Base.xsd" schemaLocation = "../../Common/Base.xsd"/>
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/portingserviceswf/common/Customer.xsd" schemaLocation = "../Common/Customer.xsd"/>
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/portingserviceswf/common/NumberSerie.xsd" schemaLocation = "../Common/NumberSerie.xsd"/>
	<xsd:element name = "NotifyNumberOutPortingRequest">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base = "Base.xsd:Base">
					<xsd:sequence>
						<xsd:element name = "PORTING_ID" type = "xsd:string"/>
						<xsd:element name = "RECIPIENT_SERVICE_PROVIDER" type = "xsd:string" minOccurs = "0"/>
						<xsd:element name = "RECIPIENT_NETWORK_OPERATOR" type = "xsd:string"/>
						<xsd:element name = "DONOR_SERVICE_PROVIDER" type = "xsd:string" minOccurs = "0"/>
						<xsd:element name = "DONOR_NETWORK_OPERATOR" type = "xsd:string"/>
						<xsd:element name = "PORTING_WISH_DATE_TIME" type = "xsd:dateTime"/>
						<xsd:element name = "TYPE_OF_NUMBER" type = "xsd:integer"/>
						<xsd:element name = "NOTES" type = "xsd:string" minOccurs = "0"/>
						<xsd:element name = "CUSTOMER" type = "Customer.xsd:Customer"/>
						<xsd:element name = "NUMBER_SEQUENCE" type = "NumberSequence" maxOccurs = "unbounded"/>
					</xsd:sequence>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name = "NumberSequence">
		<xsd:sequence>
			<xsd:element name = "NUMBER_SERIE" type = "NumberSerie.xsd:NumberSerie"/>
			<xsd:element name = "TARIFF_INFO" type = "TariffInfo.xsd:TariffInfo" minOccurs = "0"/>
			<xsd:element name = "POINT_OF_PRESENCE" type = "xsd:string" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>