EClipsAdapter/XSDSchemas/PortingServicesWF/Publish/NotifyPlannedNumberActivation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2006 sp2 U (http://www.altova.com) by Arjen Wassenaar (Atos Origin Nederland B.V.) -->
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns="http://xmlns.kpn.com/fixed/portingserviceswf/publish/NotifyPlannedNumberActivation.xsd" xmlns:TariffInfo.xsd="http://xmlns.kpn.com/fixed/portingserviceswf/common/TariffInfo.xsd" xmlns:Base.xsd="http://xmlns.kpn.com/common/cdm/Base.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xmlns.kpn.com/fixed/portingserviceswf/publish/NotifyPlannedNumberActivation.xsd" elementFormDefault="qualified">
	<xsd:import namespace="http://xmlns.kpn.com/fixed/portingserviceswf/common/TariffInfo.xsd" schemaLocation="../Common/TariffInfo.xsd"/>
	<xsd:import namespace="http://xmlns.kpn.com/common/cdm/Base.xsd" schemaLocation="../../Common/Base.xsd"/>
	<xsd:element name="NotifyPlannedNumberActivation">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="Base.xsd:Base">
					<xsd:sequence>
						<xsd:element name="BROADCAST_ID" type="xsd:string"/>
						<xsd:element name="PLATFORM_PROVIDER" type="xsd:string"/>
						<xsd:element name="PLANNED_DATE_TIME" type="xsd:dateTime"/>
						<xsd:element name="TYPE_OF_NUMBER" type="xsd:integer"/>
						<xsd:element name="NOTE" type="xsd:string" minOccurs="0"/>
						<xsd:element name="PRIORITY" type="xsd:integer"/>
						<xsd:element name="PLANNED_ACTIVATION_SEQUENCE" type="PlannedActivationSequence" maxOccurs="unbounded"/>
					</xsd:sequence>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="PlannedActivationSequence">
		<xsd:sequence>
			<xsd:element name="NUMBER" type="xsd:string"/>
			<xsd:element name="TARIFF_INFO" type="TariffInfo.xsd:TariffInfo" minOccurs="0"/>
			<xsd:element name="POINT_OF_PRESENCE" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
