EClipsAdapter/XSDSchemas/PortingServicesWF/Publish/NotifyNumberDeactivation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2006 sp2 U (http://www.altova.com) by Arjen Wassenaar (Atos Origin Nederland B.V.) -->
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns="http://xmlns.kpn.com/fixed/portingserviceswf/publish/NotifyNumberDeactivation.xsd" xmlns:Base.xsd="http://xmlns.kpn.com/common/cdm/Base.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:NumberSerie.xsd="http://xmlns.kpn.com/fixed/portingserviceswf/common/NumberSerie.xsd" targetNamespace="http://xmlns.kpn.com/fixed/portingserviceswf/publish/NotifyNumberDeactivation.xsd" elementFormDefault="qualified">
	<xsd:import namespace="http://xmlns.kpn.com/common/cdm/Base.xsd" schemaLocation="../../Common/Base.xsd"/>
	<xsd:import namespace="http://xmlns.kpn.com/fixed/portingserviceswf/common/NumberSerie.xsd" schemaLocation="../Common/NumberSerie.xsd"/>
	<xsd:element name="NotifyNumberDeactivation">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="Base.xsd:Base">
					<xsd:sequence>
						<xsd:element name="BROADCAST_ID" type="xsd:string"/>
						<xsd:element name="CURRENT_NETWORK_OPERATOR_ID" type="xsd:string"/>
						<xsd:element name="ORIGINAL_NETWORK_OPERATOR_ID" type="xsd:string"/>
						<xsd:element name="TYPE_OF_NUMBER" type="xsd:integer"/>
						<xsd:element name="NUMBER_SEQUENCE" type="NUMBERSEQUENCE" maxOccurs="unbounded"/>
					</xsd:sequence>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="NUMBERSEQUENCE">
		<xsd:sequence>
			<xsd:element name="NUMBER_SERIE" type="NumberSerie.xsd:NumberSerie"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
