EClipsAdapter/XSDSchemas/PortingServicesWF/Publish/NotifyPlannedNumberDeactivation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns="http://xmlns.kpn.com/fixed/portingserviceswf/publish/NotifyPlannedNumberDeactivation.xsd" xmlns:Base.xsd="http://xmlns.kpn.com/common/cdm/Base.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xmlns.kpn.com/fixed/portingserviceswf/publish/NotifyPlannedNumberDeactivation.xsd" elementFormDefault="qualified">
	<xsd:import namespace="http://xmlns.kpn.com/common/cdm/Base.xsd" schemaLocation="../../Common/Base.xsd"/>
	<xsd:element name="NotifyPlannedNumberDeactivation">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="Base.xsd:Base">
					<xsd:sequence>
						<xsd:element name="BROADCAST_ID" type="xsd:string"/>
						<xsd:element name="PLATFORM_PROVIDER" type="xsd:string"/>
						<xsd:element name="PLANNED_DATE_TIME" type="xsd:dateTime"/>
						<xsd:element name="TYPE_OF_NUMBER" type="xsd:integer"/>
						<xsd:element name="PLANNED_DEACTIVATION_SEQUENCE" type="PlannedDeactivationSequence" maxOccurs="unbounded"/>
					</xsd:sequence>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="PlannedDeactivationSequence">
		<xsd:sequence>
			<xsd:element name="NUMBER" type="xsd:string"/>
			<xsd:element name="POINT_OF_PRESENCE" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
