GenericOrderGateway/XSDSchemas/UtilityServices/Request/ValidateMessageRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2006 sp2 U (http://www.altova.com) by Atos Origin (Atos Origin Nederland B.V.) -->
<xs:schema xmlns="http://xmlns.kpn.com/fixed/UtilityServices/Request/ValidateMessage" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns0="http://xmlns.kpn.com/common/cdm/Base.xsd" targetNamespace="http://xmlns.kpn.com/fixed/UtilityServices/Request/ValidateMessage" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="http://xmlns.kpn.com/common/cdm/Base.xsd" schemaLocation="../../Common/Base.xsd"/>
	<xs:element name="ValidateMessageRequest">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="ns0:Base">
					<xs:sequence>
						<xs:element name="BODY" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="NAMESPACE" type="xs:string"/>
									<xs:element name="XML_MESSAGE" type="xs:string"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
</xs:schema>
