EClipsAdapter/XSDSchemas/NumbesAdapter/Request/GetNumberInfoV2.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xs:schema xmlns = "http://xmlns.kpn.com/fixed/NumbesAdapter/Request/GetNumberInfoV2"
	 targetNamespace = "http://xmlns.kpn.com/fixed/NumbesAdapter/Request/GetNumberInfoV2"
	 xmlns:xs = "http://www.w3.org/2001/XMLSchema"
	 xmlns:ns0 = "http://xmlns.kpn.com/common/cdm/Base.xsd"
	 elementFormDefault = "qualified">
	<xs:import namespace = "http://xmlns.kpn.com/common/cdm/Base.xsd" schemaLocation = "../../Common/Base.xsd"/>
	<xs:element name = "GetNumberInfoRequest">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base = "ns0:Base">
					<xs:sequence>
						<xs:element name = "PHONE_NUMBER" minOccurs = "0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name = "START_OF_SERIE">
										<xs:simpleType>
											<xs:restriction base = "xs:string">
												<xs:maxLength value = "26"/>
												<xs:pattern value = "\+?[\d\-\(\)\s]{1,25}"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name = "TIME_AND_DATE" type = "xs:dateTime" minOccurs = "0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
</xs:schema>