ASTRIDAdapter/XSDSchemas/ASTRIDAdapter/Common/IDENT_S-0101.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.kpn.com/fixed/ASTRIDAdapter/common/IDENT_S-0101.xsd"
	 targetNamespace = "http://xmlns.kpn.com/fixed/ASTRIDAdapter/common/IDENT_S-0101.xsd"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified">
	<xsd:complexType name = "IDENT_S-0101">
		<xsd:sequence>
			<xsd:element name = "KLANTORDER_NUMMER" type = "xsd:integer" minOccurs = "0"/>
			<xsd:element name = "AANNAME_DATUM" type = "xsd:dateTime" minOccurs = "0"/>
			<xsd:element name = "IDENTIFICATIE_VAN_DE_MELDING" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "BRONSYSTEEM_ORDER_REFERENTIE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "DOELSYSTEEM_ORDER_REFERENTIE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "EXTERN_KLANTORDER_NUMMER" type = "xsd:string" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>