ASTRIDAdapter/XSDSchemas/ASTRIDAdapter/Common/KLASEL_S-0100.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2006 sp2 U (http://www.altova.com) by Joost Verbeek (Atos Origin Nederland B.V.) -->
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns="http://xmlns.kpn.com/fixed/ASTRIDAdapter/common/KLASEL_S-0100.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xmlns.kpn.com/fixed/ASTRIDAdapter/common/KLASEL_S-0100.xsd" elementFormDefault="qualified">
	<xsd:complexType name="KLASEL_S-0100">
		<xsd:sequence>
			<xsd:element name="ACTUELE_KLACHTEN" type="xsd:string" minOccurs="0"/>
			<xsd:element name="HISTORISCHE_KLACHTEN" type="xsd:string" minOccurs="0"/>
			<xsd:element name="KLANTORDER_NUMMER" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="AANNAME_DATUM" type="xsd:dateTime" minOccurs="0"/>
			<xsd:element name="IDENTIFICATIE_VAN_DE_MELDING" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CENTRALE_KLANT_REGISTRATIE_NR" type="xsd:string" minOccurs="0"/>
			<xsd:element name="KLANTNAAM" type="xsd:string" minOccurs="0"/>
			<xsd:element name="STRAATNAAM" type="xsd:string" minOccurs="0"/>
			<xsd:element name="POSTCODE_NUMERIEK" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="POSTCODE_ALFANUMERIEK" type="xsd:string" minOccurs="0"/>
			<xsd:element name="HUISNUMMER_NUMERIEK" type="xsd:string" minOccurs="0"/>
			<xsd:element name="HUISNUMMER_ALFANUMERIEK" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ONDERZOEKER_AFDELING" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ONDERZOEKER_NUMMER" type="xsd:string" minOccurs="0"/>
			<xsd:element name="EXTERN_KLANTORDER_NUMMER" type="xsd:string" minOccurs="0"/>
			<xsd:element name="BRONSYSTEEM_ORDER_REFERENTIE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="DATUM_VAN" type="xsd:date" minOccurs="0"/>
			<xsd:element name="DATUM_TOT_EN_MET" type="xsd:date" minOccurs="0"/>
			<xsd:element name="TELEFOONNUMMER" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CENTRALE_GEBIEDSCODE" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="PLAATSNAAM" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
