ASTRIDAdapter/XSDSchemas/ASTRIDAdapter/Common/PORTER_S-0100.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.kpn.com/fixed/ASTRIDAdapter/common/PORTER_S-0100.xsd"
	 targetNamespace = "http://xmlns.kpn.com/fixed/ASTRIDAdapter/common/PORTER_S-0100.xsd"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified">
	<xsd:complexType name = "PORTER_S-0100">
		<xsd:sequence>
			<xsd:element name = "KLACHT_1E_OPERATOR_CODE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "KLACHT_1E_OPERATOR_OMSCHRIJVING" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "KLACHT_1E_OPERATOR_TELEFOONNUMMER" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "KLACHT_1E_MUTATIE_TYPE_CODE" type = "xsd:integer" minOccurs = "0"/>
			<xsd:element name = "KLACHT_1E_MUTATIE_TYPE_OMSCHRIJVING" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "KLACHT_1E_DATUM_PORTERING" type = "xsd:dateTime" minOccurs = "0"/>
			<xsd:element name = "KLACHT_2E_TELEFOONNUMMER" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "KLACHT_2E_OPERATOR_CODE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "KLACHT_2E_OPERATOR_OMSCHRIJVING" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "KLACHT_2E_OPERATOR_TELEFOONNUMMER" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "KLACHT_2E_MUTATIE_TYPE_CODE" type = "xsd:integer" minOccurs = "0"/>
			<xsd:element name = "KLACHT_2E_MUTATIE_TYPE_OMSCHRIJVING" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "KLACHT_2E_DATUM_PORTERING" type = "xsd:dateTime" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>