ASTRIDAdapter/XSDSchemas/ASTRIDAdapter/Common/PRODUC_S-0102.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.kpn.com/fixed/ASTRIDAdapter/common/PRODUC_S-0102.xsd"
	 targetNamespace = "http://xmlns.kpn.com/fixed/ASTRIDAdapter/common/PRODUC_S-0102.xsd"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified">
	<xsd:complexType name = "PRODUC_S-0102">
		<xsd:sequence>
			<xsd:element name = "PRODUCTSOORTCODE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "PRODUCT_OMSCHRIJVING" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "FORMULE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "FORMULE_TOEGESTAAN" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "VERANTWOORDELIJKE_AFDELING" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "DATUM_UIT_SERVICE" type = "xsd:date" minOccurs = "0"/>
			<xsd:element name = "PRODUCTCATEGORIE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "ACTIEF_BIJ_AANNAME" type = "xsd:string" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>