ASTRIDAdapter/XSDSchemas/ASTRIDAdapter/Common/SERBOX_S-0100.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.kpn.com/fixed/ASTRIDAdapter/common/SERBOX_S-0100.xsd"
	 targetNamespace = "http://xmlns.kpn.com/fixed/ASTRIDAdapter/common/SERBOX_S-0100.xsd"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified">
	<xsd:complexType name = "SERBOX_S-0100">
		<xsd:sequence>
			<xsd:element name = "SERVICE_BOX_PROJECT_CODE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "SERVICE_BOX_TYPE_CONTRACT" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "SERVICE_BOX_BIJZONDERHEDEN" type = "xsd:string" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>