ASTRIDAdapter/XSDSchemas/ASTRIDAdapter/Common/STRBOX_S-0100.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.kpn.com/fixed/ASTRIDAdapter/common/STRBOX_S-0100.xsd"
	 targetNamespace = "http://xmlns.kpn.com/fixed/ASTRIDAdapter/common/STRBOX_S-0100.xsd"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified">
	<xsd:complexType name = "STRBOX_S-0100">
		<xsd:sequence>
			<xsd:element name = "STRATA_AFGEMELDE_KLANT_INDICATIE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "STRATA_BIJZONDERHEDEN" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "STRATA_OORZAAK_GEVONDEN_INDICATOR" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "STRATA_AARD_VAN_STORING_CODE" type = "xsd:integer" minOccurs = "0"/>
			<xsd:element name = "STRATA_NAAM" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "STRATA_IDENTIFICATIE_REGIOVOLGNUMMER" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "STRATA_VOLGNUMMER" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "STRATA_TELECOM_DISTRICT_CODE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "STRATA_WERKVELD_CODE" type = "xsd:string" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>