GenericSOAPGateway/XSDSchemas/KanvasContractAdapter/Request/GetPbxLines.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.example.com/unique/default/namespace/1113220090281"
	 targetNamespace = "http://xmlns.example.com/unique/default/namespace/1113220090281"
	 xmlns:PhoneNumber.xsd = "http://xmlns.kpn.com/fixed/common/PhoneNumber.xsd"
	 xmlns:PbxLine.xsd = "http://xmlns.example.com/unique/default/namespace/1113219709984"
	 xmlns:Pbx.xsd = "http://xmlns.example.com/unique/default/namespace/1113219960156"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 xmlns:KanvasRequest.xsd = "http://xmlns.kpn.com/fixed/kanvascontractadapter/common/KanvasRequest.xsd"
	 elementFormDefault = "qualified">
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/common/PhoneNumber.xsd" schemaLocation = "../../Common/PhoneNumber.xsd"/>
	<xsd:import namespace = "http://xmlns.example.com/unique/default/namespace/1113219709984" schemaLocation = "../Common/PbxLine.xsd"/>
	<xsd:import namespace = "http://xmlns.example.com/unique/default/namespace/1113219960156" schemaLocation = "../Common/Pbx.xsd"/>
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/kanvascontractadapter/common/KanvasRequest.xsd" schemaLocation = "../Common/KanvasRequest.xsd"/>
	<xsd:element name = "GetPbxLines">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base = "KanvasRequest.xsd:KanvasRequest">
					<xsd:sequence>
						<xsd:element name = "CURRENT_OR_FUTURE_FLAG" type = "xsd:string" minOccurs = "0"/>
						<xsd:element name = "PHONE_NUMBER" type = "PhoneNumber.xsd:PhoneNumber" minOccurs = "0"/>
						<xsd:element name = "PBX" type = "Pbx.xsd:Pbx" minOccurs = "0"/>
						<xsd:element name = "LINE" type = "PbxLine.xsd:PbxLine" minOccurs = "0"/>
					</xsd:sequence>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>