EDTAdapter/XSDSchemas/CKRAdapter/Request/FindCustomer.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.kpn.com/fixed/ckradapter/request/FindCustomer.xsd"
	 targetNamespace = "http://xmlns.kpn.com/fixed/ckradapter/request/FindCustomer.xsd"
	 xmlns:CustomerReference.xsd = "http://xmlns.kpn.com/fixed/ckradapter/common/CustomerReference.xsd"
	 xmlns:CKRRequest.xsd = "http://xmlns.kpn.com/fixed/ckradapter/common/CKRRequest.xsd"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 xmlns:PropertyAddress.xsd = "http://xmlns.kpn.com/fixed/ckradapter/common/PropertyAddress.xsd">
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/ckradapter/common/CustomerReference.xsd" schemaLocation = "../Common/CustomerReference.xsd"/>
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/ckradapter/common/CKRRequest.xsd" schemaLocation = "../Common/CKRRequest.xsd"/>
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/ckradapter/common/PropertyAddress.xsd" schemaLocation = "../Common/PropertyAddress.xsd"/>
	<xsd:element name = "FindCustomer">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base = "CKRRequest.xsd:CKRRequest">
					<xsd:sequence>
						<xsd:element name = "APPLICATION_ID" type = "xsd:string" minOccurs = "0"/>
						<xsd:element name = "USER_ID" type = "xsd:string" minOccurs = "0"/>
						<xsd:element name = "PARTY_NAME" type = "xsd:string" minOccurs = "0"/>
						<xsd:element name = "PARTY_ID" type = "xsd:string" minOccurs = "0"/>
						<xsd:element name = "CENTRAL_CUSTOMER_ID" type = "xsd:string" minOccurs = "0"/>
						<xsd:element name = "KVK_NUMBER" type = "xsd:string" minOccurs = "0"/>
						<xsd:element name = "DATE_OF_BIRTH" type = "xsd:date" minOccurs = "0"/>
						<xsd:element name = "PHONE_NUMBER" type = "xsd:string" minOccurs = "0"/>
						<xsd:element name = "IS_INTERNATIONAL" type = "xsd:string" minOccurs = "0"/>
						<xsd:element name = "IS_ACTIVE" type = "xsd:string" minOccurs = "0"/>
						<xsd:element name = "CUSTOMER_REFERENCE" type = "CustomerReference.xsd:CustomerReference" minOccurs = "0"/>
						<xsd:element name = "PROPERTY_ADDRESS" type = "PropertyAddress.xsd:PropertyAddress" minOccurs = "0"/>
						<xsd:element name = "SELECTION_STARTPOINT" type = "xsd:integer" minOccurs = "0"/>
						<xsd:element name = "MAX_RECORDS" type = "xsd:integer" minOccurs = "0"/>
						<xsd:element name = "ADDRESS_TYPE" type = "xsd:string" minOccurs = "0"/>
						<xsd:element name = "ROLE_TYPE" type = "xsd:string" minOccurs = "0"/>
					</xsd:sequence>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>