CLEver_BackendServices_Oracle/Shared Archive/Shared Resources/Schema Definitions/CLEver/BusinessDomain.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns="http://www.tibco.com/CLEver/BusinessDomain"
	 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	 xmlns:ns0="http://www.tibco.com/CLEver/ExtraTypes"
	 targetNamespace="http://www.tibco.com/CLEver/BusinessDomain"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xsd:import namespace="http://www.tibco.com/CLEver/ExtraTypes" schemaLocation="ExtraTypes.xsd"/>
	<xsd:element name="BusinessDomain">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="ID" type="xsd:integer" minOccurs="0"/>
				<xsd:element name="Name" type="xsd:string" minOccurs="0"/>
				<xsd:element name="Description" type="xsd:string" minOccurs="0"/>
				<xsd:element ref="ns0:Version" minOccurs="0"/>
				<xsd:element ref="ns0:Parameters" minOccurs="0"/>
				<xsd:element ref="ns0:SecurityInfo" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="BusinessDomains">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="BusinessDomain" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>