CLEver_BackendServices_Oracle/Shared Archive/Shared Resources/Schema Definitions/CLEver/Schedule.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns="http://www.tibco.com/CLEver/Schedule"
	 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	 xmlns:ns0="http://www.tibco.com/CLEver/ExtraTypes"
	 targetNamespace="http://www.tibco.com/CLEver/Schedule"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xsd:import namespace="http://www.tibco.com/CLEver/ExtraTypes" schemaLocation="ExtraTypes.xsd"/>
	<xsd:element name="Schedule">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="ID" type="xsd:integer" minOccurs="0"/>
				<xsd:element name="Name" type="xsd:string" minOccurs="0"/>
				<xsd:element name="Description" type="xsd:string" minOccurs="0"/>
				<xsd:element ref="TimeSeries" minOccurs="0"/>
				<xsd:element ref="ns0:Version" minOccurs="0"/>
				<xsd:element ref="ns0:SecurityInfo" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Schedules">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Schedule" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ID" type="xsd:string"/>
	<xsd:element name="TimeSeries">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="TimeSerie" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="StartDate" type="xsd:string" minOccurs="0"/>
							<xsd:element name="EndDate" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Monday" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Tuesday" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Wednesday" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Thursday" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Friday" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Saturday" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Sunday" type="xsd:string" minOccurs="0"/>
							<xsd:element name="StartTime" type="xsd:string" minOccurs="0"/>
							<xsd:element name="EndTime" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>