GenericSOAPGateway/XSDSchemas/NIMVOIPAdapter/Response/GetNumberRegistrationDetails.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.kpn.com/fixed/NIMVOIPAdapter/Response/GetNumberRegistrationDetails.xsd"
	 targetNamespace = "http://xmlns.kpn.com/fixed/NIMVOIPAdapter/Response/GetNumberRegistrationDetails.xsd"
	 xmlns:Base.xsd = "http://xmlns.kpn.com/common/cdm/Base.xsd"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 xmlns:ResultStatus.xsd = "http://xmlns.kpn.com/common/cdm/ResultStatus.xsd"
	 elementFormDefault = "qualified">
	<xsd:import namespace = "http://xmlns.kpn.com/common/cdm/Base.xsd" schemaLocation = "../../Common/Base.xsd"/>
	<xsd:import namespace = "http://xmlns.kpn.com/common/cdm/ResultStatus.xsd" schemaLocation = "../../Common/ResultStatus.xsd"/>
	<xsd:element name = "GetNumberRegistrationDetails">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base = "Base.xsd:Base">
					<xsd:sequence>
						<xsd:element name = "RESULT_STATUS" type = "ResultStatus.xsd:ResultStatus"/>
						<xsd:element name = "SERVICE_LEVEL" type = "xsd:string" minOccurs = "0"/>
						<xsd:element name = "PACKAGER_NAME" type = "xsd:string" minOccurs = "0"/>
						<xsd:element name = "TELCO_SHORT_NAME" type = "xsd:string" minOccurs = "0"/>
						<xsd:element name = "PROVISION_STATUS" type = "xsd:string" minOccurs = "0"/>
						<xsd:element name = "PROVISION_STATUS_START_DATE" type = "xsd:dateTime" minOccurs = "0"/>
						<xsd:element name = "PROVISION_STATUS_END_DATE" type = "xsd:dateTime" minOccurs = "0"/>
						<xsd:element name = "NUMBER_BLOCK_LOW" type = "xsd:string" minOccurs = "0"/>
						<xsd:element name = "NUMBER_BLOCK_HIGH" type = "xsd:string" minOccurs = "0"/>
						<xsd:element name = "CPS_BLOCKING_CODE" type = "xsd:string" minOccurs = "0"/>
						<xsd:element name = "SERVICE_ID" type = "xsd:integer" minOccurs = "0"/>
						<xsd:element name = "SERVICE_NAME" type = "xsd:string" minOccurs = "0"/>
						<xsd:element name = "PHONE_NUMBER" minOccurs = "0">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name = "MAIN_NUMBER" type = "xsd:string" minOccurs = "0"/>
									<xsd:element name = "PHONE_NUMBER_TYPE" type = "xsd:string" minOccurs = "0"/>
									<xsd:element name = "PHONE_NUMBER_ROLE" type = "xsd:string" minOccurs = "0"/>
									<xsd:element name = "SPECIAL_NUMBER" type = "xsd:string" minOccurs = "0"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>