GenericSOAPGateway/XSDSchemas/UtilityServices/Request/ConvertKas2PhoneNumber.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.kpn.com/fixed/UtilityServices/request/ConvertKas2PhoneNumber.xsd"
	 targetNamespace = "http://xmlns.kpn.com/fixed/UtilityServices/request/ConvertKas2PhoneNumber.xsd"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified"
	 attributeFormDefault = "qualified">
	<!-- edited with XML Spy v4.4 U (http://www.xmlspy.com) by Atos Origin (Atos Origin) -->
	
	<xsd:element name = "ConvertKas2PhoneNumber">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name = "KAS_NUMBER" type = "KAS_NUMBER" minOccurs = "0"/>
				<xsd:element name = "PHONE_NUMBER_10" type = "PHONE_NUMBER_10" minOccurs = "0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:simpleType name = "KAS_NUMBER">
		<xsd:restriction base = "xsd:string">
			<xsd:length value = "11"/>
			<xsd:pattern value = "[0-9]{11}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name = "PHONE_NUMBER_10">
		<xsd:restriction base = "xsd:string">
			<xsd:length value = "10"/>
			<xsd:pattern value = "[0-9]{10}"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>