IKKAdapter/XSDSchemas/EpiphanyINAAdapter/Request/StoreOfferResponse.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.kpn.com/fixed/EpiphanyINAAdapter/Request/StoreOfferResponse.xsd"
	 targetNamespace = "http://xmlns.kpn.com/fixed/EpiphanyINAAdapter/Request/StoreOfferResponse.xsd"
	 xmlns:Base.xsd = "http://xmlns.kpn.com/common/cdm/Base.xsd"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified"
	 attributeFormDefault = "qualified">
	<xsd:import namespace = "http://xmlns.kpn.com/common/cdm/Base.xsd" schemaLocation = "../../Common/Base.xsd"/>
	<!--Version: 1.3 Date: 05-09-2006 -->
	
	<xsd:element name = "StoreOfferResponse">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base = "Base.xsd:Base">
					<xsd:sequence>
						<xsd:element name = "OFFER_RESPONSE" type = "OFFER_RESPONSE" minOccurs = "0" maxOccurs = "unbounded"/>
					</xsd:sequence>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name = "OFFER_RESPONSE">
		<xsd:sequence>
			<xsd:element name = "RUNTIME_PARAMETER">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name = "SERVER_ID" type = "xsd:string"/>
						<xsd:element name = "SESSION_ID" type = "xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name = "CONTEXT" minOccurs = "0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name = "DESCRIPTION" type = "xsd:string" minOccurs = "0"/>
						<xsd:element name = "REASON" type = "xsd:string" minOccurs = "0"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name = "CUSTOMER" minOccurs = "0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name = "ID" minOccurs = "0">
							<xsd:complexType>
								<xsd:simpleContent>
									<xsd:extension base = "xsd:string">
										<xsd:attribute name = "CONTEXT" type = "xsd:string"/>
									</xsd:extension>
								</xsd:simpleContent>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name = "MOBILE_CONNECTION" minOccurs = "0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name = "INA_ID" minOccurs = "0"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name = "SALES_CHANNEL">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name = "DOMAIN" type = "xsd:string"/>
						<xsd:element name = "ID" type = "xsd:string" minOccurs = "0"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name = "ORGANIZATION" minOccurs = "0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name = "TEAM_ID" type = "xsd:string" minOccurs = "0"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name = "PRODUCT_OFFERING">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name = "NAME" type = "xsd:string"/>
						<xsd:element name = "STATUS" type = "xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>