EDTAdapter/XSDSchemas/BaanAdapter/Common/Dsl.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema targetNamespace="http://xmlns.kpn.com/fixed/BaanAdapter/common/Dsl.xsd" xmlns:Partner.xsd="http://xmlns.kpn.com/fixed/BaanAdapter/common/Partner.xsd" xmlns:Contract.xsd="http://xmlns.kpn.com/fixed/BaanAdapter/common/Contract.xsd" xmlns:PartnerInfo.xsd="http://xmlns.kpn.com/fixed/BaanAdapter/common/PartnerInfo.xsd" xmlns:Dslam.xsd="http://xmlns.kpn.com/fixed/BaanAdapter/common/Dslam.xsd" xmlns:DslModem.xsd="http://xmlns.kpn.com/fixed/BaanAdapter/common/DslModem.xsd" xmlns:Fia.xsd="http://xmlns.kpn.com/fixed/BaanAdapter/common/Fia.xsd" xmlns:PaymentAgent.xsd="http://xmlns.kpn.com/fixed/BaanAdapter/common/PaymentAgent.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:Mdfa.xsd="http://xmlns.kpn.com/fixed/BaanAdapter/common/Mdfa.xsd" xmlns="http://xmlns.kpn.com/fixed/BaanAdapter/common/Dsl.xsd" elementFormDefault="qualified">
	<xsd:import namespace="http://xmlns.kpn.com/fixed/BaanAdapter/common/Mdfa.xsd" schemaLocation="Mdfa.xsd"/>
	<xsd:import namespace="http://xmlns.kpn.com/fixed/BaanAdapter/common/PaymentAgent.xsd" schemaLocation="PaymentAgent.xsd"/>
	<xsd:import namespace="http://xmlns.kpn.com/fixed/BaanAdapter/common/Fia.xsd" schemaLocation="Fia.xsd"/>
	<xsd:import namespace="http://xmlns.kpn.com/fixed/BaanAdapter/common/DslModem.xsd" schemaLocation="DslModem.xsd"/>
	<xsd:import namespace="http://xmlns.kpn.com/fixed/BaanAdapter/common/Dslam.xsd" schemaLocation="Dslam.xsd"/>
	<xsd:import namespace="http://xmlns.kpn.com/fixed/BaanAdapter/common/PartnerInfo.xsd" schemaLocation="PartnerInfo.xsd"/>
	<xsd:import namespace="http://xmlns.kpn.com/fixed/BaanAdapter/common/Contract.xsd" schemaLocation="Contract.xsd"/>
	<xsd:import namespace="http://xmlns.kpn.com/fixed/BaanAdapter/common/Partner.xsd" schemaLocation="Partner.xsd"/>
	<!-- edited with XMLSPY v2004 rel. 4 U (http://www.xmlspy.com) by Arjen Wassenaar (Atos origin) -->
	<xsd:complexType name="DslType">
		<xsd:sequence>
			<xsd:element name="CONTRACT" type="Contract.xsd:ContractType" minOccurs="0"/>
			<xsd:element name="FIA" type="Fia.xsd:FiaType" minOccurs="0"/>
			<xsd:element name="DSLAM" type="Dslam.xsd:DslamType" minOccurs="0"/>
			<xsd:element name="DSLMODEM" type="DslModem.xsd:DslModemType" minOccurs="0"/>
			<xsd:element name="MDFA" type="Mdfa.xsd:MdfaType" minOccurs="0"/>
			<xsd:element name="PARTNER" type="Partner.xsd:PartnerType" minOccurs="0"/>
			<xsd:element name="PARTNER_INFO" type="PartnerInfo.xsd:PartnerInfoType" minOccurs="0"/>
			<xsd:element name="PAYMENT_AGENT" type="PaymentAgent.xsd:PaymentAgentType" minOccurs="0"/>
			<xsd:element name="SERVICE_ACTIVATION_DATE" type="xsd:date" minOccurs="0"/>
			<xsd:element name="SERVICE_PARAMETER" type="xsd:string" minOccurs="0"/>
			<xsd:element name="SERVICE_REF" type="xsd:string" minOccurs="0"/>
			<xsd:element name="SERVICE_TYPE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CONNECTION_SERVICE_ID" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
