EDTAdapter/XSDSchemas/BaanAdapter/Common/Dslam.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 4 U (http://www.xmlspy.com) by Arjen Wassenaar (Atos origin) -->
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema targetNamespace="http://xmlns.kpn.com/fixed/BaanAdapter/common/Dslam.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://xmlns.kpn.com/fixed/BaanAdapter/common/Dslam.xsd" elementFormDefault="qualified">
	<xsd:complexType name="DslamType">
		<xsd:sequence>
			<xsd:element name="DSLAM_LINETYPE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="INTERNAL_ID" type="xsd:string" minOccurs="0"/>
			<xsd:element name="PROVISIONING_CATEGORY" type="xsd:string" minOccurs="0"/>
			<xsd:element name="PHYSICAL_LOCATION" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
