EDTAdapter/XSDSchemas/BaanAdapter/Common/DslCustomerOrder.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 4 U (http://www.xmlspy.com) by Arjen Wassenaar (Atos origin) -->
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema targetNamespace="http://xmlns.example.com/unique/default/namespace/1093510435817" xmlns:OrderedDsl.xsd="http://xmlns.example.com/unique/default/namespace/1093451213843" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:PaymentAgent.xsd="http://xmlns.kpn.com/fixed/BaanAdapter/common/PaymentAgent.xsd" xmlns:CurrentDsl.xsd="http://xmlns.example.com/unique/default/namespace/1093450427603" xmlns:Contract.xsd="http://xmlns.kpn.com/fixed/BaanAdapter/common/Contract.xsd" xmlns="http://xmlns.example.com/unique/default/namespace/1093510435817" elementFormDefault="qualified">
	<xsd:import namespace="http://xmlns.kpn.com/fixed/BaanAdapter/common/Contract.xsd" schemaLocation="Contract.xsd"/>
	<xsd:import namespace="http://xmlns.example.com/unique/default/namespace/1093450427603" schemaLocation="CurrentDsl.xsd"/>
	<xsd:import namespace="http://xmlns.kpn.com/fixed/BaanAdapter/common/PaymentAgent.xsd" schemaLocation="PaymentAgent.xsd"/>
	<xsd:import namespace="http://xmlns.example.com/unique/default/namespace/1093451213843" schemaLocation="OrderedDsl.xsd"/>
	<xsd:complexType name="DslCustomerOrderType">
		<xsd:sequence>
			<xsd:element name="ACCEPT_DATE" type="xsd:date" minOccurs="0"/>
			<xsd:element name="CONTRACT" type="Contract.xsd:ContractType" minOccurs="0"/>
			<xsd:element name="CURRENTDSL" type="CurrentDsl.xsd:CurrentDslType" minOccurs="0"/>
			<xsd:element name="CUSTOMER_ORDER_REF" type="xsd:string" minOccurs="0"/>
			<xsd:element name="DELIVERY_DATE" type="xsd:date" minOccurs="0"/>
			<xsd:element name="ORDEREDDSL" type="OrderedDsl.xsd:OrderedDslType" minOccurs="0"/>
			<xsd:element name="PAYMENT_AGENT" type="PaymentAgent.xsd:PaymentAgentType" minOccurs="0"/>
			<xsd:element name="PLANNED_DELIVERY_DATE" type="xsd:date" minOccurs="0"/>
			<xsd:element name="PRODUCT_CODE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="RECEIVE_DATE" type="xsd:date" minOccurs="0"/>
			<xsd:element name="SERVICE_PARAMETER" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
