EDTAdapter/XSDSchemas/BaanAdapter/Common/Mdfa.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 4 U (http://www.xmlspy.com) by Arjen Wassenaar (Atos origin) -->
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema targetNamespace="http://xmlns.kpn.com/fixed/BaanAdapter/common/Mdfa.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:User.xsd="http://xmlns.kpn.com/fixed/BaanAdapter/common/User.xsd" xmlns:Address.xsd="http://xmlns.kpn.com/fixed/BaanAdapter/common/Address.xsd" xmlns:SipStift.xsd="http://xmlns.kpn.com/fixed/BaanAdapter/common/SipStift.xsd" xmlns="http://xmlns.kpn.com/fixed/BaanAdapter/common/Mdfa.xsd" elementFormDefault="qualified">
	<xsd:import namespace="http://xmlns.kpn.com/fixed/BaanAdapter/common/SipStift.xsd" schemaLocation="SipStift.xsd"/>
	<xsd:import namespace="http://xmlns.kpn.com/fixed/BaanAdapter/common/Address.xsd" schemaLocation="Address.xsd"/>
	<xsd:import namespace="http://xmlns.kpn.com/fixed/BaanAdapter/common/User.xsd" schemaLocation="User.xsd"/>
	<xsd:complexType name="MdfaType">
		<xsd:sequence>
			<xsd:element name="ADDRESS" type="Address.xsd:AddressType" minOccurs="0"/>
			<xsd:element name="SERVICE_REF" type="xsd:string" minOccurs="0"/>
			<xsd:element name="SIP_STIFT" type="SipStift.xsd:SipStiftType" minOccurs="0"/>
			<xsd:element name="USER" type="User.xsd:UserType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
