EDTAdapter/XSDSchemas/BaanAdapter/Common/OrderedDsl.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 4 U (http://www.xmlspy.com) by a wassenaar (student) -->
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema targetNamespace="http://xmlns.example.com/unique/default/namespace/1093451213843" elementFormDefault="qualified" xmlns="http://xmlns.example.com/unique/default/namespace/1093451213843" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:complexType name="OrderedDslType">
		<xsd:sequence>
			<xsd:element name="SERVICE_PARAMETER" type="xsd:string" minOccurs="0"/>
			<xsd:element name="SERVICE_REF" type="xsd:string" minOccurs="0"/>
			<xsd:element name="SERVICE_TYPE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CONNECTION_SERVICE_ID" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
