EDTAdapter/XSDSchemas/BaanAdapter/Common/Partner.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 4 U (http://www.xmlspy.com) by a wassenaar (student) -->
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema targetNamespace="http://xmlns.kpn.com/fixed/BaanAdapter/common/Partner.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://xmlns.kpn.com/fixed/BaanAdapter/common/Partner.xsd" elementFormDefault="qualified">
	<xsd:complexType name="PartnerType">
		<xsd:sequence>
			<xsd:element name="PARTNER_CODE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="PARTNER_NAME" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
