IKKAdapter/XSDSchemas/IKKAdapter/Services/FindCustomer.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified">
	<!-- edited with XMLSPY v5 rel. 4 U (http://www.xmlspy.com) by et8 (et8) -->
	
	<xsd:complexType name = "FindCustomerRequest">
		<xsd:sequence>
			<xsd:element name = "gebruikerCode" type = "xsd:string"/>
			<xsd:element name = "IKKStart" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "IKKMax" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "ckrNummer" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "geboorteDatum" type = "xsd:date" minOccurs = "0"/>
			<xsd:element name = "adresIndicator" type = "xsd:string"/>
			<xsd:element name = "rolIndicator" type = "xsd:string"/>
			<xsd:element name = "actiefIndicator" type = "xsd:string"/>
			<xsd:element name = "buitenlandIndicator" type = "xsd:string"/>
			<xsd:element name = "kvkNummer" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "maximumRecords" type = "xsd:string"/>
			<xsd:element name = "tinCode" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "naam" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "tcNummer" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "selectieStartpunt" type = "xsd:string"/>
			<xsd:element name = "PROPERTY_ADDRESS" minOccurs = "0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name = "straatNaam" type = "xsd:string" minOccurs = "0"/>
						<xsd:element name = "huisNummer" type = "xsd:string" minOccurs = "0"/>
						<xsd:element name = "huisNummerToevoeging" type = "xsd:string" minOccurs = "0"/>
						<xsd:element name = "postcodeCijfers" type = "xsd:string" minOccurs = "0"/>
						<xsd:element name = "postcodeLetters" type = "xsd:string" minOccurs = "0"/>
						<xsd:element name = "woonplaats" type = "xsd:string" minOccurs = "0"/>
						<xsd:element name = "woonplaatsCode" type = "xsd:string" minOccurs = "0"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name = "CUSTOMER_REFERENCE" minOccurs = "0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name = "EXTERNAL_CUSTOMER_REFERENCE" minOccurs = "0">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name = "dossierNummer" type = "xsd:string" minOccurs = "0"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name = "FindCustomerResponse">
		<xsd:sequence>
			<xsd:element name = "herkomstCode" type = "xsd:string"/>
			<xsd:element name = "transactieStatus" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "errorMessage" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "records" type = "xsd:string"/>
			<xsd:element name = "CUSTOMER" minOccurs = "0" maxOccurs = "unbounded">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name = "ckrNummer" type = "xsd:string" minOccurs = "0"/>
						<xsd:element name = "actiefIndicator" type = "xsd:string" minOccurs = "0"/>
						<xsd:element name = "PROPERTY_ADDRESS" minOccurs = "0">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name = "straatNaam" type = "xsd:string" minOccurs = "0"/>
									<xsd:element name = "huisNummer" type = "xsd:string" minOccurs = "0"/>
									<xsd:element name = "huisNummerToevoeging" type = "xsd:string" minOccurs = "0"/>
									<xsd:element name = "postcodeCijfers" type = "xsd:string" minOccurs = "0"/>
									<xsd:element name = "postcodeLetters" type = "xsd:string" minOccurs = "0"/>
									<xsd:element name = "woonplaats" type = "xsd:string" minOccurs = "0"/>
									<xsd:element name = "woonplaatsCode" type = "xsd:string" minOccurs = "0"/>
									<xsd:element name = "land" type = "xsd:string" minOccurs = "0"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name = "CUSTOMER_REFERENCE" minOccurs = "0">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name = "applicatieCode" type = "xsd:string" minOccurs = "0"/>
									<xsd:element name = "rolCode" type = "xsd:string" minOccurs = "0"/>
									<xsd:element name = "EXTERNAL_CUSTOMER_REFERENCE" minOccurs = "0">
										<xsd:complexType>
											<xsd:sequence>
												<xsd:element name = "dossierNummer" type = "xsd:string"/>
											</xsd:sequence>
										</xsd:complexType>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name = "PARTY" minOccurs = "0">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name = "tinCode" type = "xsd:string" minOccurs = "0"/>
									<xsd:element name = "geboorteDatum" type = "xsd:date" minOccurs = "0"/>
									<xsd:element name = "kvkNummer" type = "xsd:string" minOccurs = "0"/>
									<xsd:element name = "ingangsDatum" type = "xsd:date" minOccurs = "0"/>
									<xsd:element name = "eindDatum" type = "xsd:date" minOccurs = "0"/>
									<xsd:element name = "rechtsvormCode" type = "xsd:string" minOccurs = "0"/>
									<xsd:element name = "naamVestiging" type = "xsd:string" minOccurs = "0"/>
									<xsd:element name = "naamVestigingDiacrieten" type = "xsd:string" minOccurs = "0"/>
									<xsd:element name = "naamRechtsSubject" type = "xsd:string" minOccurs = "0"/>
									<xsd:element name = "naamRechtsSubjectDiacrieten" type = "xsd:string" minOccurs = "0"/>
									<xsd:element name = "ckrID" type = "xsd:string" minOccurs = "0"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
