IKKAdapter/XSDSchemas/IKKAdapter/Services/FindPropertyAddressAGOP.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified">
	<!-- edited with XMLSPY v5 rel. 4 U (http://www.xmlspy.com) by et8 (et8) -->
	
	<xsd:complexType name = "FindPropertyAddressAGOPRequest">
		<xsd:sequence>
			<xsd:element name = "gebruikerCode" type = "xsd:string"/>
			<xsd:element name = "postcodeCijfers" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "postcodeLetters" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "huisNummer" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "straatNaam" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "plaatsNaam" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "woonplaatsCode" type = "xsd:string" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name = "FindPropertyAddressAGOPResponse">
		<xsd:sequence>
			<xsd:element name = "herkomstCode" type = "xsd:string"/>
			<xsd:element name = "transactieStatus" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "errorMessage" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "recordNumber" type = "xsd:integer"/>
			<xsd:element name = "PROPERTY_ADDRESS" minOccurs = "0" maxOccurs = "unbounded">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name = "woonplaats" type = "xsd:string" minOccurs = "0"/>
						<xsd:element name = "woonplaatsCode" type = "xsd:string" minOccurs = "0"/>
						<xsd:element name = "straatNaam" type = "xsd:string" minOccurs = "0"/>
						<xsd:element name = "huisNummer" type = "xsd:string" minOccurs = "0"/>
						<xsd:element name = "evenIndicator" type = "xsd:string" minOccurs = "0"/>
						<xsd:element name = "postcodeCijfers" type = "xsd:string" minOccurs = "0"/>
						<xsd:element name = "postcodeLetters" type = "xsd:string" minOccurs = "0"/>
						<xsd:element name = "tcrCode" type = "xsd:string" minOccurs = "0"/>
						<xsd:element name = "FROM" minOccurs = "0">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name = "huisNummerVanaf" type = "xsd:string" minOccurs = "0"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name = "UNTIL" minOccurs = "0">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name = "huisNummerTot" type = "xsd:string" minOccurs = "0"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>