IKKAdapter/XSDSchemas/IKKAdapter/Services/GetAccountHierarchy.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified">
	<!-- edited with XMLSPY v5 rel. 4 U (http://www.xmlspy.com) by et8 (et8) -->
	
	<xsd:complexType name = "GetAccountHierarchyRequest">
		<xsd:sequence>
			<xsd:element name = "gebruikerCode" type = "xsd:string"/>
			<xsd:element name = "ckrNummer" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "accountNaam" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "IKKStart" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "IKKMax" type = "xsd:string" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name = "GetAccountHierarchyResponse">
		<xsd:sequence>
			<xsd:element name = "herkomstCode" type = "xsd:string"/>
			<xsd:element name = "transactieStatus" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "errorMessage" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "totalSubAccounts" type = "xsd:integer" minOccurs = "0"/>
			<xsd:element name = "PARENT" minOccurs = "0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name = "CUSTOMER" minOccurs = "0">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name = "accountnaam" type = "xsd:string" minOccurs = "0"/>
									<xsd:element name = "ckrNummer" type = "xsd:string" minOccurs = "0"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name = "PARTY" minOccurs = "0">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name = "naamRechtsSubject" type = "xsd:string" minOccurs = "0"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name = "EMPLOYEE" minOccurs = "0">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name = "registerNummerVerkoper" type = "xsd:string" minOccurs = "0"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name = "CHILD" minOccurs = "0" maxOccurs = "unbounded">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name = "PARTY" minOccurs = "0">
										<xsd:complexType>
											<xsd:sequence>
												<xsd:element name = "naamRechtsSubject" type = "xsd:string" minOccurs = "0"/>
											</xsd:sequence>
										</xsd:complexType>
									</xsd:element>
									<xsd:element name = "CUSTOMER" minOccurs = "0">
										<xsd:complexType>
											<xsd:sequence>
												<xsd:element name = "ckrNummer" type = "xsd:string" minOccurs = "0"/>
											</xsd:sequence>
										</xsd:complexType>
									</xsd:element>
									<xsd:element name = "EMPLOYEE" minOccurs = "0">
										<xsd:complexType>
											<xsd:sequence>
												<xsd:element name = "registerNummerVerkoper" type = "xsd:string" minOccurs = "0"/>
											</xsd:sequence>
										</xsd:complexType>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>