IKKAdapter/XSDSchemas/IKKAdapter/Services/GetAccount.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:complexType name="GetAccountRequest">
		<xsd:sequence>
			<xsd:element name="gebruikerCode" type="xsd:string"/>
			<xsd:element name="ckrNummer" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="GetAccountResponse">
		<xsd:sequence>
			<xsd:element name="herkomstCode" type="xsd:string"/>
			<xsd:element name="transactieStatus" type="xsd:string" minOccurs="0"/>
			<xsd:element name="errorMessage" type="xsd:string" minOccurs="0"/>
			<xsd:element name="totalSubAccounts" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="accountnaam" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ckrNummer" type="xsd:string" minOccurs="0"/>
			<xsd:element name="naamRechtsSubject" type="xsd:string" minOccurs="0"/>
			<xsd:element name="registerNummerVerkoper" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
