IKKAdapter/XSDSchemas/IKKAdapter/Services/GetBillRecipient.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified">
	<xsd:complexType name = "GetBillRecipientRequest">
		<xsd:sequence>
			<xsd:element name = "gebruikerCode" type = "xsd:string"/>
			<xsd:element name = "IKKStart" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "IKKMax" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "ckrNummer" type = "xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name = "GetBillRecipientResponse">
		<xsd:sequence>
			<xsd:element name = "herkomstCode" type = "xsd:string"/>
			<xsd:element name = "transactieStatus" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "errorMessage" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "totalRecords" type = "xsd:integer" minOccurs = "0"/>
			<xsd:element name = "ckrNummerHoofdVestiging" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "klantNaamHoofdVestiging" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "BILL_RECIPIENT" minOccurs = "0" maxOccurs = "unbounded">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name = "betaalagentId" type = "xsd:string" minOccurs = "0"/>
						<xsd:element name = "klantnaam" type = "xsd:string" minOccurs = "0"/>
						<xsd:element name = "PROPERTY_ADDRESS" minOccurs = "0">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name = "straat" type = "xsd:string" minOccurs = "0"/>
									<xsd:element name = "huisnummer" type = "xsd:string" minOccurs = "0"/>
									<xsd:element name = "huisnummerToevoeging" type = "xsd:string" minOccurs = "0"/>
									<xsd:element name = "woonplaats" type = "xsd:string" minOccurs = "0"/>
									<xsd:element name = "postcodeCijfers" type = "xsd:string" minOccurs = "0"/>
									<xsd:element name = "postcodeLetters" type = "xsd:string" minOccurs = "0"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>