IKKAdapter/XSDSchemas/IKKAdapter/Services/GetCustomerDetails.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified">
	<!-- edited with XMLSPY v5 rel. 4 U (http://www.xmlspy.com) by BuildGuru (EAI) -->
	
	<xsd:complexType name = "GetCustomerDetailsRequest">
		<xsd:sequence>
			<xsd:element name = "gebruikerCode" type = "xsd:string"/>
			<xsd:element name = "ckrNummer" type = "xsd:string"/>
			<xsd:element name = "geldigheidAdresDatum" type = "xsd:date"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name = "GetCustomerDetailsResponse">
		<xsd:sequence>
			<xsd:element name = "herkomstCode" type = "xsd:string"/>
			<xsd:element name = "transactieStatus" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "errorMessage" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "verkoopIndicator" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "accountIndicator" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "verhuizingIndicator" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "CUSTOMER" minOccurs = "0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name = "ckrNummer" type = "xsd:string" minOccurs = "0"/>
						<xsd:element name = "tcrCode" type = "xsd:string" minOccurs = "0"/>
						<xsd:element name = "marktGroepCode" type = "xsd:string" minOccurs = "0"/>
						<xsd:element name = "marktSegmentCode" type = "xsd:string" minOccurs = "0"/>
						<xsd:element name = "adresStatus" type = "xsd:string" minOccurs = "0"/>
						<xsd:element name = "PARTY" minOccurs = "0">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name = "TINcode" type = "xsd:string" minOccurs = "0"/>
									<xsd:element name = "geboorteDatum" type = "xsd:date" minOccurs = "0"/>
									<xsd:element name = "rechtsVormCode" type = "xsd:string" minOccurs = "0"/>
									<xsd:element name = "kvkNummer" type = "xsd:string" minOccurs = "0"/>
									<xsd:element name = "ingangsDatum" type = "xsd:date" minOccurs = "0"/>
									<xsd:element name = "eindDatum" type = "xsd:date" minOccurs = "0"/>
									<xsd:element name = "brancheNaam" type = "xsd:string" minOccurs = "0"/>
									<xsd:element name = "ckrNummerHoofdVestiging" type = "xsd:string" minOccurs = "0"/>
									<xsd:element name = "naamVestiging" type = "xsd:string" minOccurs = "0"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name = "ORGANIZATION_NAME" minOccurs = "0">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name = "naamRechtsSubject" type = "xsd:string" minOccurs = "0"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name = "INDIVIDUAL_NAME" minOccurs = "0">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name = "academischeTitels" type = "xsd:string" minOccurs = "0"/>
									<xsd:element name = "voorLetters" type = "xsd:string" minOccurs = "0"/>
									<xsd:element name = "adelijkeTitels" type = "xsd:string" minOccurs = "0"/>
									<xsd:element name = "voorVoegsels" type = "xsd:string" minOccurs = "0"/>
									<xsd:element name = "achterNaam" type = "xsd:string" minOccurs = "0"/>
									<xsd:element name = "volledigeNaam" type = "xsd:string" minOccurs = "0"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name = "CUSTOMER_CREDIT_PROFILE" minOccurs = "0">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name = "bicCode" type = "xsd:string" minOccurs = "0"/>
									<xsd:element name = "klasseGrootte" type = "xsd:string" minOccurs = "0"/>
									<xsd:element name = "vestigingType" type = "xsd:string" minOccurs = "0"/>
									<xsd:element name = "financieleStatus" type = "xsd:string" minOccurs = "0"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name = "PROPERTY_ADDRESS" minOccurs = "0">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name = "straatNaam" type = "xsd:string" minOccurs = "0"/>
									<xsd:element name = "huisNummer" type = "xsd:string" minOccurs = "0"/>
									<xsd:element name = "huisNummerToevoeging" type = "xsd:string" minOccurs = "0"/>
									<xsd:element name = "postcodeCijfers" type = "xsd:string" minOccurs = "0"/>
									<xsd:element name = "postcodeLetters" type = "xsd:string" minOccurs = "0"/>
									<xsd:element name = "woonplaats" type = "xsd:string" minOccurs = "0"/>
									<xsd:element name = "woonplaatsCode" type = "xsd:string" minOccurs = "0"/>
									<xsd:element name = "zipCodeVoor" type = "xsd:string" minOccurs = "0"/>
									<xsd:element name = "zipCodeNa" type = "xsd:string" minOccurs = "0"/>
									<xsd:element name = "land" type = "xsd:string" minOccurs = "0"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>