IKKAdapter/XSDSchemas/IKKAdapter/Services/GetLineDetails.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Common/ResultStatus.xsd"/>
	<xsd:complexType name="GetLineDetailsRequest">
		<xsd:sequence>
			<xsd:element name="districtCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="endUserName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="serviceID" type="xsd:string" minOccurs="0"/>
			<xsd:element name="areaCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="phoneNumber" type="xsd:string" minOccurs="0"/>
			<xsd:element name="currentOrFuture" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="GetLineDetailsResponse">
		<xsd:sequence>
			<xsd:element name="herkomstCode" type="xsd:string"/>
			<xsd:element name="transactieStatus" type="xsd:string" minOccurs="0"/>
			<xsd:element name="errorMessage" type="xsd:string" minOccurs="0"/>
			<xsd:element name="serviceType" type="xsd:string"/>
			<xsd:element name="isdnCategory" type="xsd:string" minOccurs="0"/>
			<xsd:element name="netNumber" type="xsd:string" minOccurs="0"/>
			<xsd:element name="localNumber" type="xsd:string" minOccurs="0"/>
			<xsd:element name="centralUnitHost" type="xsd:string" minOccurs="0"/>
			<xsd:element name="centralUnitConnection" type="xsd:string" minOccurs="0"/>
			<xsd:element name="centralUnitType" type="xsd:string" minOccurs="0"/>
			<xsd:element name="portingStatus" type="xsd:string" minOccurs="0"/>
			<xsd:element name="centralAreaID" type="xsd:string" minOccurs="0"/>
			<xsd:element name="serviceStatus" type="xsd:string"/>
			<xsd:element name="revokeReason" type="xsd:string"/>
			<xsd:element name="postalCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="houseNumber" type="xsd:string" minOccurs="0"/>
			<xsd:element name="houseNumberExtension" type="xsd:string" minOccurs="0"/>
			<xsd:element name="serviceID" type="xsd:string" minOccurs="0"/>
			<xsd:element name="telcoNameShort" type="xsd:string" minOccurs="0"/>
			<xsd:element name="qualityCategory" type="xsd:string" minOccurs="0"/>
			<xsd:element name="netLineService" type="xsd:string" minOccurs="0"/>
			<xsd:element name="netLineStatus" type="xsd:string" minOccurs="0"/>
			<xsd:element name="infraProvider" type="xsd:string" minOccurs="0"/>
			<xsd:element name="telephoneServiceType" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
