IKKAdapter/XSDSchemas/IKKAdapter/Services/GetLineFacilities.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Common/ResultStatus.xsd"/>
	<xsd:complexType name="GetLineFacilitiesRequest">
		<xsd:sequence>
			<xsd:element name="districtCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="endUserName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="currentOrFuture" type="xsd:string" minOccurs="0"/>
			<xsd:element name="serviceID" type="xsd:string" minOccurs="0"/>
			<xsd:element name="areaCode" type="xsd:string"/>
			<xsd:element name="phoneNumber" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="GetLineFacilitiesResponse">
		<xsd:sequence>
			<xsd:element name="herkomstCode" type="xsd:string"/>
			<xsd:element name="transactieStatus" type="xsd:string" minOccurs="0"/>
			<xsd:element name="errorMessage" type="xsd:string" minOccurs="0"/>
			<xsd:element name="numberOfFacilities" type="xsd:integer"/>
			<xsd:element name="Facility" minOccurs="0" maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="index" type="xsd:integer"/>
						<xsd:element name="facilityCode" type="xsd:string"/>
						<xsd:element name="description" type="xsd:string"/>
						<xsd:element name="status" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
