IKKAdapter/XSDSchemas/IKKAdapter/Services/GetPartyHierarchy.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified">
	<!-- edited with XMLSPY v5 rel. 4 U (http://www.xmlspy.com) by et8 (et8) -->
	
	<xsd:complexType name = "GetPartyHierarchyRequest">
		<xsd:sequence>
			<xsd:element name = "gebruikerCode" type = "xsd:string"/>
			<xsd:element name = "ckrNummer" type = "xsd:string"/>
			<xsd:element name = "START" minOccurs = "0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name = "ckrNummer" type = "xsd:string" minOccurs = "0"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name = "IKKStart" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "IKKMax" type = "xsd:string" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name = "GetPartyHierarchyResponse">
		<xsd:sequence>
			<xsd:element name = "herkomstCode" type = "xsd:string"/>
			<xsd:element name = "transactieStatus" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "errorMessage" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "naamRechtsSubject" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "naamRechtsSubjectDiacrieten" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "rechtsVormCode" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "geboorteDatum" type = "xsd:date" minOccurs = "0"/>
			<xsd:element name = "ckrNummerHoofdVestiging" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "recordNumber" type = "xsd:integer" minOccurs = "0"/>
			<xsd:element name = "PARTY" minOccurs = "0" maxOccurs = "unbounded">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name = "nonActiefIndicator" type = "xsd:string" minOccurs = "0"/>
						<xsd:element name = "naamVestiging" type = "xsd:string" minOccurs = "0"/>
						<xsd:element name = "naamVestigingDiacrieten" type = "xsd:string" minOccurs = "0"/>
						<xsd:element name = "kvkNummer" type = "xsd:string" minOccurs = "0"/>
						<xsd:element name = "ingangsDatum" type = "xsd:date" minOccurs = "0"/>
						<xsd:element name = "eindDatum" type = "xsd:date" minOccurs = "0"/>
						<xsd:element name = "PROPERTY_ADDRESS" minOccurs = "0">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name = "straatnaam" type = "xsd:string" minOccurs = "0"/>
									<xsd:element name = "huisNummer" type = "xsd:string" minOccurs = "0"/>
									<xsd:element name = "huisNummerToevoeging" type = "xsd:string" minOccurs = "0"/>
									<xsd:element name = "postcodeCijfers" type = "xsd:string" minOccurs = "0"/>
									<xsd:element name = "postcodeLetters" type = "xsd:string" minOccurs = "0"/>
									<xsd:element name = "zipCodeVoor" type = "xsd:string" minOccurs = "0"/>
									<xsd:element name = "woonplaats" type = "xsd:string" minOccurs = "0"/>
									<xsd:element name = "zipCodeNa" type = "xsd:string" minOccurs = "0"/>
									<xsd:element name = "land" type = "xsd:string" minOccurs = "0"/>
									<xsd:element name = "woonplaatsCode" type = "xsd:string" minOccurs = "0"/>
									<xsd:element name = "adresStatus" type = "xsd:string" minOccurs = "0"/>
									<xsd:element name = "adresAanmaakDatum" type = "xsd:date" minOccurs = "0"/>
									<xsd:element name = "adresWijzigingDatum" type = "xsd:date" minOccurs = "0"/>
									<xsd:element name = "adresWijzigingApplicatie" type = "xsd:string" minOccurs = "0"/>
									<xsd:element name = "adresWijzigingGebruiker" type = "xsd:string" minOccurs = "0"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name = "CUSTOMER" minOccurs = "0">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name = "ckrNummer" type = "xsd:string" minOccurs = "0"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>