IKKAdapter/XSDSchemas/IKKAdapter/Services/GetTickets.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Common/ResultStatus.xsd"/>
	<xsd:include schemaLocation="../Common/Ticket.xsd"/>
	<xsd:complexType name="GetTicketsRequest">
		<xsd:sequence>
			<xsd:element name="GUID" type="xsd:string"/>
			<xsd:element name="activeTickets" type="xsd:string"/>
			<xsd:element name="historicalTickets" type="xsd:string"/>
			<xsd:element name="streetName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="cityName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="fromDate" type="xsd:date"/>
			<xsd:element name="untilDate" type="xsd:date"/>
			<xsd:element name="customerRefNo" type="xsd:string" minOccurs="0"/>
			<xsd:element name="centralCustomerId" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="GetTicketsResponse">
		<xsd:sequence>
			<xsd:element name="herkomstCode" type="xsd:string"/>
			<xsd:element name="transactieStatus" type="xsd:string" minOccurs="0"/>
			<xsd:element name="errorMessage" type="xsd:string" minOccurs="0"/>
			<xsd:element name="GUID" type="xsd:string"/>
			<xsd:element name="TicketList">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Ticket" type="Ticket" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
