IKKAdapter/XSDSchemas/IKKAdapter/Services/ReportCustomerRevenue.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<!-- edited with XMLSPY v5 rel. 4 U (http://www.xmlspy.com) by et8 (et8) -->
	<xsd:complexType name="ReportCustomerRevenueRequest">
		<xsd:sequence>
			<xsd:element name="aggregatieNiveauKlant" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ckrNummer" type="xsd:string" minOccurs="0"/>
			<xsd:element name="aggregatieNiveauProduct" type="xsd:string" minOccurs="0"/>
			<xsd:element name="productCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="aggregatieNiveauTijd" type="xsd:string" minOccurs="0"/>
			<xsd:element name="beginPeriode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="eindPeriode" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ReportCustomerRevenueResponse">
		<xsd:sequence>
			<xsd:element name="herkomstCode" type="xsd:string"/>
			<xsd:element name="transactieStatus" type="xsd:string" minOccurs="0"/>
			<xsd:element name="errorMessage" type="xsd:string" minOccurs="0"/>
			<xsd:element name="REVENUE_REPORT" minOccurs="0" maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="CUSTOMER" minOccurs="0">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="aggregatieNiveauKlant" type="xsd:string" minOccurs="0"/>
									<xsd:element name="ckrNummer" type="xsd:string" minOccurs="0"/>
									<xsd:element name="naam" type="xsd:string" minOccurs="0"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="GROSS" minOccurs="0">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="brutoBedrag" type="xsd:string" minOccurs="0"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="NET" minOccurs="0">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="nettoBedrag" type="xsd:string" minOccurs="0"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="PERIOD" minOccurs="0">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="aggregatieNiveauTijd" type="xsd:string" minOccurs="0"/>
									<xsd:element name="periode" type="xsd:string" minOccurs="0"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="PRODUCT" minOccurs="0">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="aggregatieNiveauProduct" type="xsd:string" minOccurs="0"/>
									<xsd:element name="productCode" type="xsd:string" minOccurs="0"/>
									<xsd:element name="productOmschrijving" type="xsd:string" minOccurs="0"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
