SiebelZMAdapter/WSDL/SiebelZMAdapter/FindDocument.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Created by TIBCO WSDL-->
<wsdl:definitions xmlns:ns0="http://xmlns.kpn.com/common/cdm/ResultStatus.xsd" xmlns:ns1="http://www.siebel.com/xml/KZM_Docs_DB_Documents" xmlns:ns2="http://www.siebel.com/xml/KZM%20-%20Docs%20DB%20Retrieval" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://xmlns.kpn.com/fixed/SiebelZM/FindDocument.1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://xmlns.kpn.com/fixed/SiebelZM/FindDocument.1">
    <wsdl:types>
        <xsd:schema xmlns="http://xmlns.kpn.com/common/cdm/ResultStatus.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://xmlns.kpn.com/common/cdm/ResultStatus.xsd" version="1.1">
            <xsd:complexType name="ResultStatus">
                <xsd:attribute name="ERROR_CODE" type="xsd:string"/>
                <xsd:attribute name="ERROR_DESCRIPTION" type="xsd:string"/>
                <xsd:attribute name="MSG_CODE" type="xsd:string"/>
                <xsd:attribute name="STATUS" type="xsd:integer" use="required"/>
            </xsd:complexType>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsdLocal="http://www.siebel.com/xml/KZM_Docs_DB_Documents" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.siebel.com/xml/KZM_Docs_DB_Documents">
            <xsd:annotation>
                <xsd:documentation>Copyright (C) 2001-2004 Siebel Systems, Inc. All rights reserved. Siebel XSD Generation</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType name="CKR_NR">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="comparator" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="CKR_NR" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="CKR_NR_HIST">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="CKR_NR_HIST" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="comparator" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="CRM_BRAND">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="comparator" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="CRM_BRAND" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="CRM_BRIEFKENMERK">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="CRM_BRIEFKENMERK" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="comparator" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="CRM_BRIEFNUMMER">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="CRM_BRIEFNUMMER" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="comparator" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="CRM_CONTRACTNUMBER">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="CRM_CONTRACTNUMBER" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="comparator" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="CRM_CREATEDBY">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="CRM_CREATEDBY" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="comparator" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="CRM_CREATIONDATE">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="CRM_CREATIONDATE" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="comparator" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="CRM_CUSTOMER_CONTACT_ID">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="CRM_CUSTOMER_CONTACT_ID" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="comparator" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="CRM_DIRECTION">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="CRM_DIRECTION" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="comparator" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="CRM_FILENAME">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="CRM_FILENAME" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="comparator" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="CRM_FILETYPE">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="CRM_FILETYPE" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="comparator" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="CRM_MEDIUM">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="CRM_MEDIUM" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="comparator" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="CRM_ORDER_ID">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="orderid" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="comparator" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="CRM_ORIGINATING_IDENTIFIER">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="CRM_ORIGINATING_IDENTIFIER" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="comparator" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="CRM_ORIGINATING_SYSTEM">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="CRM_ORIGINATING_SYSTEM" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="comparator" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="CRM_PARENT_ACCOUNT_ID">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="parentaccountid" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="comparator" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="CRM_SUBJECT">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="CRM_SUBJECT" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="comparator" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="SiebelMessage">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="kzmdocsdbdocuments" type="xsdLocal:kzmdocsdbdocuments"/>
                </xsd:sequence>
                <xsd:attribute name="IntObjectFormat" type="xsd:string"/>
                <xsd:attribute name="IntObjectName" type="xsd:string"/>
                <xsd:attribute name="MessageId" type="xsd:string"/>
                <xsd:attribute name="MessageType" type="xsd:string"/>
            </xsd:complexType>
            <xsd:complexType name="body">
                <xsd:sequence>
                    <xsd:element name="searchattributes" type="xsdLocal:searchattributes"/>
                    <xsd:element name="requestedinformation" type="xsdLocal:requestedinformation"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="fetchoptions">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="startfetch" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="maxfetch" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="header">
                <xsd:sequence>
                    <xsd:element name="user" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="role" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="productgroup" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="password" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="marketsegment" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="domain" type="xsd:string"/>
                    <xsd:element name="documenttype" type="xsd:string"/>
                    <xsd:element name="applicationid" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="kzmdocsdbdocuments">
                <xsd:sequence>
                    <xsd:element name="message" type="xsdLocal:message"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="message">
                <xsd:sequence>
                    <xsd:element name="header" type="xsdLocal:header"/>
                    <xsd:element name="body" type="xsdLocal:body"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="orderinginformation">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="ordering" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="orderby" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="requestedinformation">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="URL" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="CRM_SUBJECT" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="CRM_PARENT_ACCOUNT_ID" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="CRM_ORIGINATING_SYSTEM" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="CRM_ORIGINATING_IDENTIFIER" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="CRM_ORDER_ID" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="CKR_NR_HIST" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="CRM_MEDIUM" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="CRM_BRIEFNUMMER" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="CRM_BRIEFKENMERK" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="CRM_FILETYPE" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="CRM_FILENAME" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="CRM_DIRECTION" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="CRM_CUSTOMER_CONTACT_ID" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="CRM_CREATIONDATE" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="CRM_CREATEDBY" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="CRM_CONTRACTNUMBER" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="CRM_BRAND" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="CKR_NR" type="xsd:string"/>
                    <xsd:element name="orderinginformation" type="xsdLocal:orderinginformation"/>
                    <xsd:element name="fetchoptions" type="xsdLocal:fetchoptions"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="searchattributes">
                <xsd:sequence>
                    <xsd:element name="CRM_SUBJECT" type="xsdLocal:CRM_SUBJECT"/>
                    <xsd:element name="CRM_PARENT_ACCOUNT_ID" type="xsdLocal:CRM_PARENT_ACCOUNT_ID"/>
                    <xsd:element name="CRM_ORIGINATING_SYSTEM" type="xsdLocal:CRM_ORIGINATING_SYSTEM"/>
                    <xsd:element name="CRM_ORIGINATING_IDENTIFIER" type="xsdLocal:CRM_ORIGINATING_IDENTIFIER"/>
                    <xsd:element name="CRM_ORDER_ID" type="xsdLocal:CRM_ORDER_ID"/>
                    <xsd:element name="CKR_NR_HIST" type="xsdLocal:CKR_NR_HIST"/>
                    <xsd:element name="CRM_MEDIUM" type="xsdLocal:CRM_MEDIUM"/>
                    <xsd:element name="CRM_BRIEFNUMMER" type="xsdLocal:CRM_BRIEFNUMMER"/>
                    <xsd:element name="CRM_BRIEFKENMERK" type="xsdLocal:CRM_BRIEFKENMERK"/>
                    <xsd:element name="CRM_FILETYPE" type="xsdLocal:CRM_FILETYPE"/>
                    <xsd:element name="CRM_FILENAME" type="xsdLocal:CRM_FILENAME"/>
                    <xsd:element name="CRM_DIRECTION" type="xsdLocal:CRM_DIRECTION"/>
                    <xsd:element name="CRM_CUSTOMER_CONTACT_ID" type="xsdLocal:CRM_CUSTOMER_CONTACT_ID"/>
                    <xsd:element name="CRM_CREATIONDATE" type="xsdLocal:CRM_CREATIONDATE"/>
                    <xsd:element name="CRM_CREATEDBY" type="xsdLocal:CRM_CREATEDBY"/>
                    <xsd:element name="CRM_CONTRACTNUMBER" type="xsdLocal:CRM_CONTRACTNUMBER"/>
                    <xsd:element name="CRM_BRAND" type="xsdLocal:CRM_BRAND"/>
                    <xsd:element name="CKR_NR" type="xsdLocal:CKR_NR"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="SiebelMessage" type="xsdLocal:SiebelMessage"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsdLocal="http://www.siebel.com/xml/KZM%20-%20Docs%20DB%20Retrieval" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.siebel.com/xml/KZM%20-%20Docs%20DB%20Retrieval">
            <xsd:annotation>
                <xsd:documentation>Copyright (C) 2001-2004 Siebel Systems, Inc. All rights reserved. Siebel XSD Generation</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType name="SiebelMessage">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="0" name="docsdbretrieval" type="xsdLocal:docsdbretrieval"/>
                </xsd:sequence>
                <xsd:attribute name="IntObjectFormat" type="xsd:string"/>
                <xsd:attribute name="IntObjectName" type="xsd:string"/>
                <xsd:attribute name="MessageId" type="xsd:string"/>
                <xsd:attribute name="MessageType" type="xsd:string"/>
            </xsd:complexType>
            <xsd:complexType name="docsdbdocumentinformation">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="URL" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="CRM_SUBJECT" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="CRM_PARENT_ACCOUNT_ID" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="CRM_ORIGINATING_SYSTEM" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="CRM_ORIGINATING_IDENTIFIER" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="CRM_ORDER_ID" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="CKR_NR_HIST" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="CRM_MEDIUM" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="CRM_FILETYPE" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="CRM_FILENAME" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="documentType" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="documentId" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="CRM_DIRECTION" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="CRM_CUSTOMER_CONTACT_ID" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="CRM_CREATIONDATE" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="CRM_CREATEDBY" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="CRM_CONTRACTNUMBER" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="CRM_BRIEFNUMMER" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="CRM_BRIEFKENMERK" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="CRM_BRAND" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="CKR_NR" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="docsdbretrieval">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="hasMore" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="serviceStatusDescription" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="serviceStatus" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="lastFetched" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="archive" type="xsd:string"/>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="docsdbdocumentinformation" type="xsdLocal:docsdbdocumentinformation"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="SiebelMessage" type="xsdLocal:SiebelMessage"/>
        </xsd:schema>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://xmlns.kpn.com/fixed/SiebelZM/FindDocument.1">
            <xs:import namespace="http://xmlns.kpn.com/common/cdm/ResultStatus.xsd"/>
            <xs:import namespace="http://www.siebel.com/xml/KZM_Docs_DB_Documents"/>
            <xs:import namespace="http://www.siebel.com/xml/KZM%20-%20Docs%20DB%20Retrieval"/>
            <xs:element name="Request">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ns1:SiebelMessage"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="Response">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="RESULT" type="ns0:ResultStatus"/>
                        <xs:element minOccurs="0" ref="ns2:SiebelMessage"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:service name="FindDocument-service1">
        <wsdl:port binding="tns:FindDocument.1.PortTypeEndpointBinding" name="FindDocument.1.PortTypeEndpoint">
            <soap:address location="http://AO-IN001582:7412/SiebelZMAdapter/SiebelZMAdapter/Processes/FindDocument"/>
        </wsdl:port>
    </wsdl:service>
    <wsdl:portType name="FindDocument.1.PortType">
        <wsdl:operation name="FindDocument.1">
            <wsdl:input message="tns:FindDocument.1.Request"/>
            <wsdl:output message="tns:FindDocument.1.Response"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="FindDocument.1.PortTypeEndpointBinding" type="tns:FindDocument.1.PortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="FindDocument.1">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input>
                <soap:body parts="parameters" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="parameters" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:message name="FindDocument.1.Request">
        <wsdl:part element="tns:Request" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="FindDocument.1.Response">
        <wsdl:part element="tns:Response" name="parameters"/>
    </wsdl:message>
</wsdl:definitions>