SiebelZMAdapter/WSDL/SiebelZMAdapter/FindCustomerIdByPhoneNumber_GetCKRNumber.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<?Siebel-Property-Set EscapeNames="false"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsdLocal1="http://www.siebel.com/xml/KZM%20CKRNumber%20Request" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsdLocal2="http://www.siebel.com/xml/KZM%20CKRNumber%20and%20NAW%20Response" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://siebel.com/GetCKRNumber" targetNamespace="http://siebel.com/GetCKRNumber">
    <types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" targetNamespace="http://siebel.com/GetCKRNumber">
            <xsd:import namespace="http://www.siebel.com/xml/KZM%20CKRNumber%20and%20NAW%20Response"/>
            <xsd:import namespace="http://www.siebel.com/xml/KZM%20CKRNumber%20Request"/>
            <xsd:element name="KZM_spcSearch_spcCKRNumber_Input">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element ref="xsdLocal1:Account"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="KZM_spcSearch_spcCKRNumber_Output">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element ref="xsdLocal2:Account"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
        <xsd:schema xmlns:xsdLocal1="http://www.siebel.com/xml/KZM%20CKRNumber%20Request" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" targetNamespace="http://www.siebel.com/xml/KZM%20CKRNumber%20Request">
            <xsd:annotation>
                <xsd:documentation>Copyright (C) 2001-2004 Siebel Systems, Inc. All rights reserved. Siebel XSD Generation</xsd:documentation>
            </xsd:annotation>
            <xsd:element name="Account" type="xsdLocal1:Account"/>
            <xsd:complexType name="AccountTopElmt">
                <xsd:sequence>
                    <xsd:element name="Account" maxOccurs="1" minOccurs="1" type="xsdLocal1:Account"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Account">
                <xsd:sequence>
                    <xsd:element name="PhoneNumber" maxOccurs="1" minOccurs="1" type="xsdLocal1:string10"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:simpleType name="string10">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="10"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:schema>
        <xsd:schema xmlns:xsdLocal2="http://www.siebel.com/xml/KZM%20CKRNumber%20and%20NAW%20Response" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" targetNamespace="http://www.siebel.com/xml/KZM%20CKRNumber%20and%20NAW%20Response">
            <xsd:annotation>
                <xsd:documentation>Copyright (C) 2001-2004 Siebel Systems, Inc. All rights reserved. Siebel XSD Generation</xsd:documentation>
            </xsd:annotation>
            <xsd:element name="Account" type="xsdLocal2:Account"/>
            <xsd:complexType name="AccountTopElmt">
                <xsd:sequence>
                    <xsd:element name="Account" maxOccurs="1" minOccurs="1" type="xsdLocal2:Account"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Account">
                <xsd:sequence>
                    <xsd:element name="CKRNumber" maxOccurs="1" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="KvKNumber" maxOccurs="1" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="ZipCode" maxOccurs="1" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="HouseNumber" maxOccurs="1" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="HouseNumberExtension" maxOccurs="1" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="PhoneNumber" maxOccurs="1" minOccurs="1" type="xsd:string"/>
                    <xsd:element name="ResultCode" maxOccurs="1" minOccurs="1" type="xsd:string"/>
                    <xsd:element name="Description" maxOccurs="1" minOccurs="1" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </types>
    <message name="KZM_spcSearch_spcCKRNumber_Input">
        <part name="KZM_spcSearch_spcCKRNumber_Input" element="tns:KZM_spcSearch_spcCKRNumber_Input"/>
    </message>
    <message name="KZM_spcSearch_spcCKRNumber_Output">
        <part name="KZM_spcSearch_spcCKRNumber_Output" element="tns:KZM_spcSearch_spcCKRNumber_Output"/>
    </message>
    <portType name="KZM_spcSearch_spcCKRNumber">
        <operation name="KZM_spcSearch_spcCKRNumber">
            <input message="tns:KZM_spcSearch_spcCKRNumber_Input"/>
            <output message="tns:KZM_spcSearch_spcCKRNumber_Output"/>
        </operation>
    </portType>
    <binding name="KZM_spcSearch_spcCKRNumber" type="tns:KZM_spcSearch_spcCKRNumber">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="KZM_spcSearch_spcCKRNumber">
            <soap:operation soapAction="document/http://siebel.com/GetCKRNumber:KZM_spcSearch_spcCKRNumber"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="KZM_spcGet_spcCKRNumber">
        <port binding="tns:KZM_spcSearch_spcCKRNumber" name="KZM_spcSearch_spcCKRNumber">
            <soap:address location="http://w0038/eai_NLD/start.swe?SWEExtSource=WebService&amp;SWEExtCmd=Execute&amp;UserName=SADMIN&amp;Password=h2VGUqVR"/>
        </port>
    </service>
</definitions>