SiebelZMAdapter/WSDL/SiebelZMAdapter/SendNotification.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Created by TIBCO WSDL-->
<wsdl:definitions xmlns:ns="http://www.w3.org/2001/XMLSchema" xmlns:ns0="http://xmlns.kpn.com/fixed/SiebelZM/SendNotification.1" xmlns:ns1="http://www.siebel.com/xml/sendNotificationResponse.xsd" xmlns:ns2="http://www.kpn.com/StreamServeRequest" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://xmlns.kpn.com/fixed/SiebelZM/SendNotification.1/SendNotification.1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="SendNotification" targetNamespace="http://xmlns.kpn.com/fixed/SiebelZM/SendNotification.1/SendNotification.1">
    <wsdl:types>
        <xsd:schema xmlns:this="http://www.siebel.com/xml/sendNotificationResponse.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.siebel.com/xml/sendNotificationResponse.xsd">
            <xsd:element name="sendNotificationResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" name="result_status">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element minOccurs="0" name="error_code" type="xsd:string"/>
                                    <xsd:element name="error_status" type="xsd:integer"/>
                                    <xsd:element minOccurs="0" name="error_description" type="xsd:string"/>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://xmlns.kpn.com/fixed/SiebelZM/SendNotification.1">
            <xs:element name="Request">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ns2:SiebelMessage"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="Response">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" ref="ns1:sendNotificationResponse"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsdLocal="http://www.kpn.com/StreamServeRequest" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.kpn.com/StreamServeRequest">
            <xsd:annotation>
                <xsd:documentation>Copyright (C) 2001-2004 Siebel Systems, Inc. All rights reserved. Siebel XSD Generation</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType name="Bcc">
                <xsd:sequence>
                    <xsd:element name="EmailAddress" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="DisplayName" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Cc">
                <xsd:sequence>
                    <xsd:element name="EmailAddress" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="DisplayName" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="From">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="DisplayName" type="xsd:string"/>
                    <xsd:element name="EmailAddress" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ReplyTo">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="DisplayName" type="xsd:string"/>
                    <xsd:element name="EmailAddress" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="SiebelMessage">
                <xsd:sequence>
                    <xsd:element name="kzmstreamserve" type="xsdLocal:kzmstreamserve"/>
                </xsd:sequence>
                <xsd:attribute name="IntObjectFormat" type="xsd:string"/>
                <xsd:attribute name="IntObjectName" type="xsd:string"/>
                <xsd:attribute name="MessageId" type="xsd:string"/>
                <xsd:attribute name="MessageType" type="xsd:string"/>
            </xsd:complexType>
            <xsd:complexType name="To">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="DisplayName" type="xsd:string"/>
                    <xsd:element name="EmailAddress" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="contactName">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="clericalTitle" type="xsd:string"/>
                    <xsd:element name="familyName" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="firstName" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="initials" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="familyNamePrefix" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="aristocraticTitle" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="academicTitle" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="customerId">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="ACCOUNTID" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="IDMCCS" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="IDCKR" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="delivery">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="companyName" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="archive" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="surfaceAddress" type="xsdLocal:surfaceAddress"/>
                    <xsd:element minOccurs="0" name="emailDelivery" type="xsdLocal:emailDelivery"/>
                    <xsd:element name="customerId" type="xsdLocal:customerId"/>
                    <xsd:element minOccurs="0" name="contactName" type="xsdLocal:contactName"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="documentSpecification">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="subject" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="productGroup" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="productId" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="marketSegment" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="eventName" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="eventId" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="documentType" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="brandName" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="brandId" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="emailDelivery">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="ReplyAllowed" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="Importance" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="To" type="xsdLocal:To"/>
                    <xsd:element minOccurs="0" name="ReplyTo" type="xsdLocal:ReplyTo"/>
                    <xsd:element minOccurs="0" name="From" type="xsdLocal:From"/>
                    <xsd:element minOccurs="0" name="Cc" type="xsdLocal:Cc"/>
                    <xsd:element minOccurs="0" name="Bcc" type="xsdLocal:Bcc"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="header">
                <xsd:sequence>
                    <xsd:element name="documentSpecification" type="xsdLocal:documentSpecification"/>
                    <xsd:element name="delivery" type="xsdLocal:delivery"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="kzmstreamserve">
                <xsd:sequence>
                    <xsd:element name="senddocument" type="xsdLocal:senddocument"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="logicalAddress">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="zipCodeBefore" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="zipCodeAfter" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="dutchPostCode" type="xsd:string"/>
                    <xsd:element name="POBox" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="country" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="cityCode" type="xsd:string"/>
                    <xsd:element name="cityName" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="propertyAddress">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="zipCodeBefore" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="zipCodeAfter" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="trailerReference" type="xsd:string"/>
                    <xsd:element name="streetName" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="dutchPostCode" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="locationDescription" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="houseNumberExtension" type="xsd:string"/>
                    <xsd:element name="houseNumber" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="houseBoatReference" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="country" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="cityCode" type="xsd:string"/>
                    <xsd:element name="cityName" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="requestor">
                <xsd:sequence>
                    <xsd:element name="userName" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="password" type="xsd:string"/>
                    <xsd:element name="applicationId" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="senddocument">
                <xsd:sequence>
                    <xsd:element name="requestor" type="xsdLocal:requestor"/>
                    <xsd:element name="properties">
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:any maxOccurs="unbounded" namespace="##any" processContents="skip"/>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="header" type="xsdLocal:header"/>
                    <xsd:element name="content">
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:any maxOccurs="unbounded" namespace="##any" processContents="skip"/>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="surfaceAddress">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="propertyAddress" type="xsdLocal:propertyAddress"/>
                    <xsd:element minOccurs="0" name="logicalAddress" type="xsdLocal:logicalAddress"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="SiebelMessage" type="xsdLocal:SiebelMessage"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="SendNotification.1.Request">
        <wsdl:part element="ns0:Request" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="SendNotification.1.Response">
        <wsdl:part element="ns0:Response" name="parameters"/>
    </wsdl:message>
    <wsdl:portType name="SendNotification.1.PortType">
        <wsdl:operation name="SendNotification.1">
            <wsdl:input message="tns:SendNotification.1.Request"/>
            <wsdl:output message="tns:SendNotification.1.Response"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="SOAPEventSourceBinding" type="tns:SendNotification.1.PortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="SendNotification.1">
            <soap:operation soapAction="SendNotification" style="document"/>
            <wsdl:input>
                <soap:body parts="parameters" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="parameters" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="SendNotification">
        <wsdl:port binding="tns:SOAPEventSourceBinding" name="SOAPEventSource">
            <soap:address location="http://AO-IN001590:48085/SiebelZMAdapter/Processes/SendNotification"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>