SiebelZMAdapter/WSDL/SiebelZMAdapter/UpdateCRMOrderStatus.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Created by TIBCO WSDL-->
<wsdl:definitions xmlns:ns0="http://xmlns.kpn.com/wsdl/imported/ordermessage.xsd" xmlns:ns1="http://www.siebel.com/xml/resultstatus.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://xmlns.kpn.com/fixed/SiebelZM/UpdateCRMOrderStatus.1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://xmlns.kpn.com/fixed/SiebelZM/UpdateCRMOrderStatus.1">
    <wsdl:types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://xmlns.kpn.com/wsdl/imported/ordermessage.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://xmlns.kpn.com/wsdl/imported/ordermessage.xsd">
            <simpleType name="appInfo_type">
                <restriction base="xs:string">
                    <maxLength value="100"/>
                </restriction>
            </simpleType>
            <simpleType name="centralCustomerId_type">
                <restriction base="xs:string">
                    <pattern value="[A-Z,0-9]{8}"/>
                </restriction>
            </simpleType>
            <simpleType name="cityCode_type">
                <annotation>
                    <documentation>*** For future use ***</documentation>
                    <documentation>Field size limitation copied from API definition as EAI side had no limitation.</documentation>
                </annotation>
                <restriction base="xs:string">
                    <maxLength value="6"/>
                </restriction>
            </simpleType>
            <simpleType name="cityName_type">
                <annotation>
                    <documentation>String limitation 1000 added by KPN EAI automated guideline supervision. Increase size in Rose if desired.</documentation>
                </annotation>
                <restriction base="xs:string">
                    <maxLength value="1000"/>
                </restriction>
            </simpleType>
            <simpleType name="componentId_type">
                <restriction base="xs:string">
                    <maxLength value="9"/>
                </restriction>
            </simpleType>
            <simpleType name="componentVersion_type">
                <restriction base="xs:string">
                    <maxLength value="9"/>
                </restriction>
            </simpleType>
            <simpleType name="contractId_type">
                <restriction base="xs:string">
                    <maxLength value="9"/>
                </restriction>
            </simpleType>
            <simpleType name="countryCodeA2_type">
                <restriction base="xs:string">
                    <length value="2"/>
                </restriction>
            </simpleType>
            <simpleType name="creationDate_type">
                <restriction base="xs:dateTime"/>
            </simpleType>
            <simpleType name="dueDate_type">
                <restriction base="xs:dateTime"/>
            </simpleType>
            <simpleType name="dutchPostcodeLetters_type">
                <restriction base="xs:string">
                    <pattern value="[a-zA-Z]{2}"/>
                </restriction>
            </simpleType>
            <simpleType name="dutchPostcodeNumbers_type">
                <restriction base="xs:string">
                    <pattern value="\d{4}"/>
                </restriction>
            </simpleType>
            <simpleType name="dutchPostcode_type">
                <restriction base="xs:string">
                    <length value="6"/>
                    <pattern value="\d{4}[a-zA-Z]{2}"/>
                </restriction>
            </simpleType>
            <simpleType name="emailAddress_type">
                <restriction base="xs:string">
                    <maxLength value="320"/>
                    <pattern value="^[-!#$%&amp;'*+/0-9=?A-Z^_a-z{|}~](\.?[-!#$%&amp;'*+/0-9=?A-Z^_a-z{|}~])*@[a-zA-Z](-?[a-zA-Z0-9])*(\.[a-zA-Z](-?[a-zA-Z0-9])*)+$"/>
                </restriction>
            </simpleType>
            <simpleType name="endUserInfo_type">
                <restriction base="xs:string"/>
            </simpleType>
            <simpleType name="event_type">
                <restriction base="xs:string">
                    <maxLength value="100"/>
                </restriction>
            </simpleType>
            <simpleType name="externalRef_type">
                <restriction base="xs:string">
                    <maxLength value="9"/>
                </restriction>
            </simpleType>
            <simpleType name="externalReference_type">
                <annotation>
                    <documentation>String limitation 1000 added by KPN EAI automated guideline supervision. Increase size in Rose if desired.</documentation>
                </annotation>
                <restriction base="xs:string">
                    <maxLength value="1000"/>
                </restriction>
            </simpleType>
            <simpleType name="functionalId_type">
                <annotation>
                    <documentation>String limitation 1000 added by KPN EAI automated guideline supervision. Increase size in Rose if desired.</documentation>
                </annotation>
                <restriction base="xs:string">
                    <maxLength value="1000"/>
                </restriction>
            </simpleType>
            <simpleType name="houseNumberExtension_type">
                <restriction base="xs:string">
                    <maxLength value="6"/>
                    <minLength value="0"/>
                </restriction>
            </simpleType>
            <simpleType name="houseNumber_type">
                <restriction base="xs:string">
                    <maxLength value="5"/>
                </restriction>
            </simpleType>
            <simpleType name="interfaceId_type">
                <annotation>
                    <documentation>String limitation 1000 added by KPN EAI automated guideline supervision. Increase size in Rose if desired.</documentation>
                </annotation>
                <restriction base="xs:string">
                    <maxLength value="1000"/>
                </restriction>
            </simpleType>
            <simpleType name="ipAddressValue_type">
                <annotation>
                    <documentation>String limitation 1000 added by KPN EAI automated guideline supervision. Increase size in Rose if desired.</documentation>
                </annotation>
                <restriction base="xs:string">
                    <maxLength value="1000"/>
                </restriction>
            </simpleType>
            <simpleType name="messageDestination_type">
                <annotation>
                    <documentation>String limitation 1000 added by KPN EAI automated guideline supervision. Increase size in Rose if desired.</documentation>
                </annotation>
                <restriction base="xs:string">
                    <maxLength value="1000"/>
                </restriction>
            </simpleType>
            <simpleType name="messageId_type">
                <restriction base="xs:string"/>
            </simpleType>
            <simpleType name="messageName_type">
                <annotation>
                    <documentation>String limitation 1000 added by KPN EAI automated guideline supervision. Increase size in Rose if desired.</documentation>
                </annotation>
                <restriction base="xs:string">
                    <maxLength value="1000"/>
                </restriction>
            </simpleType>
            <simpleType name="messageObject_type">
                <annotation>
                    <documentation>String limitation 1000 added by KPN EAI automated guideline supervision. Increase size in Rose if desired.</documentation>
                </annotation>
                <restriction base="xs:string">
                    <maxLength value="1000"/>
                </restriction>
            </simpleType>
            <simpleType name="messageParadigm_type">
                <annotation>
                    <documentation>String limitation 1000 added by KPN EAI automated guideline supervision. Increase size in Rose if desired.</documentation>
                </annotation>
                <restriction base="xs:string">
                    <maxLength value="1000"/>
                </restriction>
            </simpleType>
            <simpleType name="messageVersion_type">
                <annotation>
                    <documentation>String limitation 1000 added by KPN EAI automated guideline supervision. Increase size in Rose if desired.</documentation>
                </annotation>
                <restriction base="xs:string">
                    <maxLength value="1000"/>
                </restriction>
            </simpleType>
            <simpleType name="moduleId_type">
                <annotation>
                    <documentation>String limitation 1000 added by KPN EAI automated guideline supervision. Increase size in Rose if desired.</documentation>
                </annotation>
                <restriction base="xs:string">
                    <maxLength value="1000"/>
                </restriction>
            </simpleType>
            <simpleType name="orderId_type">
                <annotation>
                    <documentation>String limitation 1000 added by KPN EAI automated guideline supervision. Increase size in Rose if desired.</documentation>
                </annotation>
                <restriction base="xs:string">
                    <maxLength value="1000"/>
                </restriction>
            </simpleType>
            <simpleType name="orderItemType_type">
                <annotation>
                    <documentation>String limitation 1000 added by KPN EAI automated guideline supervision. Increase size in Rose if desired.</documentation>
                </annotation>
                <restriction base="xs:string">
                    <maxLength value="1000"/>
                </restriction>
            </simpleType>
            <simpleType name="orderPriority_type">
                <restriction base="xs:unsignedByte"/>
            </simpleType>
            <simpleType name="orderType_type">
                <annotation>
                    <documentation>The deifferent types of orders i.e.:
- customerOrder
- networkResourceOrder
- wholesaleAccessOrder
- workOrder
					</documentation>
                    <documentation>Default value is:''</documentation>
                    <documentation>1000 length string limitation added by KPN EAI defaults.Increase size in Rose if required.</documentation>
                </annotation>
                <restriction base="xs:string">
                    <maxLength value="1000"/>
                </restriction>
            </simpleType>
            <simpleType name="phoneNumberAreaCode_type">
                <restriction base="xs:string">
                    <maxLength value="5"/>
                    <minLength value="0"/>
                    <whiteSpace value="collapse"/>
                    <pattern value="\d*"/>
                </restriction>
            </simpleType>
            <simpleType name="phoneNumberCountryCode_type">
                <restriction base="xs:string">
                    <maxLength value="3"/>
                    <minLength value="1"/>
                    <whiteSpace value="collapse"/>
                    <pattern value="\d+"/>
                </restriction>
            </simpleType>
            <simpleType name="phoneNumberSubscriberNumber_type">
                <restriction base="xs:string">
                    <maxLength value="15"/>
                    <minLength value="1"/>
                    <whiteSpace value="collapse"/>
                    <pattern value="\d+"/>
                </restriction>
            </simpleType>
            <simpleType name="productCategoryType_type">
                <annotation>
                    <documentation>String limitation 1000 added by KPN EAI automated guideline supervision. Increase size in Rose if desired.</documentation>
                </annotation>
                <restriction base="xs:string">
                    <maxLength value="1000"/>
                </restriction>
            </simpleType>
            <simpleType name="sequenceNo_type">
                <restriction base="xs:string">
                    <maxLength value="9"/>
                </restriction>
            </simpleType>
            <simpleType name="sourceAddress_type">
                <restriction base="xs:string"/>
            </simpleType>
            <simpleType name="streetName_type">
                <restriction base="xs:string">
                    <maxLength value="24"/>
                </restriction>
            </simpleType>
            <simpleType name="subscriberNumber_type">
                <annotation>
                    <documentation>String limitation 1000 added by KPN EAI automated guideline supervision. Increase size in Rose if desired.</documentation>
                </annotation>
                <restriction base="xs:string">
                    <maxLength value="1000"/>
                </restriction>
            </simpleType>
            <simpleType name="timestamp_type">
                <restriction base="xs:long"/>
            </simpleType>
            <simpleType name="unformattedPostcode_type">
                <restriction base="xs:string">
                    <length value="6"/>
                </restriction>
            </simpleType>
            <element name="BODY">
                <annotation>
                    <documentation>This is the BODY object for KPN EAI service number 0248 - ProcessProvisioningWorkOrder version 2.0 Request message.</documentation>
                    <documentation>Automatically generated schema for service:'ProcessProvisioningWorkOrder', version:'2.0'</documentation>
                    <documentation>Generated on 2007-08-03 11:36:50Z</documentation>
                    <documentation>Service paradigm is intended to be Request/Response</documentation>
                    <documentation>Service ID is:'0248'</documentation>
                    <documentation>The body must always have MinOccurs=0 and MaxOccurs=1, by definition of KPN EAI AG. (For request messages this has no apparent benefit)</documentation>
                    <documentation>KPN EAI message body class.</documentation>
                </annotation>
                <complexType>
                    <sequence>
                        <element name="ORDER">
                            <complexType>
                                <sequence>
                                    <element name="ORDER_HEADER">
                                        <annotation>
                                            <documentation>Artificial sequence to separate.</documentation>
                                        </annotation>
                                        <complexType>
                                            <sequence>
                                                <element maxOccurs="unbounded" minOccurs="0" name="OTHER_REFERENCE">
                                                    <annotation>
                                                        <documentation>Artificial sequence to separate.</documentation>
                                                    </annotation>
                                                    <complexType>
                                                        <sequence>
                                                            <element name="ORIGIN" type="xs:string"/>
                                                            <element name="REFERENCE" type="xs:string"/>
                                                        </sequence>
                                                    </complexType>
                                                </element>
                                                <element maxOccurs="unbounded" minOccurs="0" name="PARENT_ORDER">
                                                    <annotation>
                                                        <documentation>Artificial sequence to separate.</documentation>
                                                    </annotation>
                                                    <complexType>
                                                        <sequence>
                                                            <element name="PARENT_ORDER_ID" type="tns:orderId_type"/>
                                                        </sequence>
                                                    </complexType>
                                                </element>
                                                <element minOccurs="0" name="DELIVERY_ADDRESS">
                                                    <annotation>
                                                        <documentation>Artificial sequence to separate.</documentation>
                                                    </annotation>
                                                    <complexType>
                                                        <choice>
                                                            <element name="LOGICAL_ADDRESS">
                                                                <annotation>
                                                                    <documentation>Artificial sequence to separate.</documentation>
                                                                </annotation>
                                                                <complexType>
                                                                    <sequence>
                                                                        <element minOccurs="0" name="POBOX_NUMBER" type="xs:string"/>
                                                                        <element minOccurs="0" name="POBOX_NAME" type="xs:string"/>
                                                                        <element minOccurs="0" name="CITY_NAME" type="tns:cityName_type"/>
                                                                        <element minOccurs="0" name="CITY_CODE" type="tns:cityCode_type"/>
                                                                        <element minOccurs="0" name="COUNTRY" type="tns:cityName_type"/>
                                                                        <element minOccurs="0" name="COUNTRY_CODE" type="tns:countryCodeA2_type"/>
                                                                        <element name="POSTCODE">
                                                                            <complexType>
                                                                                <choice>
                                                                                    <element minOccurs="0" name="DUTCH_POSTCODE" type="tns:dutchPostcode_type"/>
                                                                                    <element minOccurs="0" name="UNFORMATTED_POSTCODE" type="tns:unformattedPostcode_type"/>
                                                                                </choice>
                                                                            </complexType>
                                                                        </element>
                                                                    </sequence>
                                                                </complexType>
                                                            </element>
                                                            <element name="PROPERTY_ADDRESS">
                                                                <annotation>
                                                                    <documentation>Artificial sequence to separate.</documentation>
                                                                </annotation>
                                                                <complexType>
                                                                    <sequence>
                                                                        <element name="STREET_NAME" type="tns:streetName_type"/>
                                                                        <element name="HOUSE_NUMBER" type="tns:houseNumber_type"/>
                                                                        <element minOccurs="0" name="HOUSE_NUMBER_EXTENSION" type="tns:houseNumberExtension_type">
                                                                            <annotation>
                                                                                <documentation>Default (autogenerated) min and max occurs values.</documentation>
                                                                            </annotation>
                                                                        </element>
                                                                        <element name="CITY_NAME" type="tns:cityName_type"/>
                                                                        <element minOccurs="0" name="COUNTRY_CODE" type="tns:countryCodeA2_type"/>
                                                                        <element name="POSTCODE">
                                                                            <complexType>
                                                                                <choice>
                                                                                    <element minOccurs="0" name="DUTCH_POSTCODE" type="tns:dutchPostcode_type"/>
                                                                                    <element minOccurs="0" name="UNFORMATTED_POSTCODE" type="tns:unformattedPostcode_type"/>
                                                                                </choice>
                                                                            </complexType>
                                                                        </element>
                                                                    </sequence>
                                                                </complexType>
                                                            </element>
                                                            <element minOccurs="0" name="UNFORMATTED_ADDRESS">
                                                                <annotation>
                                                                    <documentation>Artificial sequence to separate.</documentation>
                                                                </annotation>
                                                                <complexType>
                                                                    <sequence>
                                                                        <element maxOccurs="unbounded" name="ADDRESS_LINE">
                                                                            <annotation>
                                                                                <documentation>Artificial sequence to separate.</documentation>
                                                                            </annotation>
                                                                            <complexType>
                                                                                <sequence>
                                                                                    <element name="ADDRESS_LINE" type="xs:string"/>
                                                                                </sequence>
                                                                            </complexType>
                                                                        </element>
                                                                    </sequence>
                                                                </complexType>
                                                            </element>
                                                        </choice>
                                                    </complexType>
                                                </element>
                                                <element minOccurs="0" name="CUSTOMER_ID">
                                                    <annotation>
                                                        <documentation>Artificial sequence to separate.</documentation>
                                                    </annotation>
                                                    <complexType>
                                                        <sequence>
                                                            <element minOccurs="0" name="ID_CKR" type="tns:centralCustomerId_type"/>
                                                            <element minOccurs="0" name="ID_MCCS" type="tns:centralCustomerId_type"/>
                                                            <element minOccurs="0" name="ID_PACKAGER">
                                                                <complexType>
                                                                    <sequence>
                                                                        <element minOccurs="0" name="INTERNAL" type="xs:string"/>
                                                                        <element minOccurs="0" name="EXTERNAL" type="xs:string"/>
                                                                    </sequence>
                                                                </complexType>
                                                            </element>
                                                        </sequence>
                                                    </complexType>
                                                </element>
                                                <element maxOccurs="unbounded" minOccurs="0" name="ORDER_STATUS">
                                                    <annotation>
                                                        <documentation>Artificial sequence to separate.</documentation>
                                                    </annotation>
                                                    <complexType>
                                                        <sequence>
                                                            <element minOccurs="0" name="ORDER_STATUS" type="xs:string"/>
                                                            <element minOccurs="0" name="ERROR_CODE" type="xs:string"/>
                                                            <element minOccurs="0" name="ERROR_DESCRIPTION" type="xs:string"/>
                                                            <element minOccurs="0" name="DELIVERY_STATUS_CODE" type="xs:string"/>
                                                            <element minOccurs="0" name="DELIVERY_STATUS_DESCRIPTION" type="xs:string"/>
                                                            <element minOccurs="0" name="DELIVERY_STATUS_ADDITIONAL_INFORMATION" type="xs:string"/>
                                                            <element minOccurs="0" name="STATUS_CODE" type="xs:string"/>
                                                            <element minOccurs="0" name="STATUS_DESCRIPTION" type="xs:string"/>
                                                        </sequence>
                                                    </complexType>
                                                </element>
                                                <element name="ORDER_TYPE" type="tns:orderType_type"/>
                                                <element minOccurs="0" name="ORDER_ID" type="tns:orderId_type"/>
                                                <element minOccurs="0" name="EXTERNAL_REFERENCE" type="tns:externalReference_type"/>
                                                <element name="CREATION_DATE" type="tns:creationDate_type"/>
                                                <element minOccurs="0" name="DUE_DATE" type="tns:dueDate_type"/>
                                                <element minOccurs="0" name="ORDER_PRIORITY" type="tns:orderPriority_type"/>
                                            </sequence>
                                        </complexType>
                                    </element>
                                    <element maxOccurs="unbounded" name="ORDER_ITEM">
                                        <complexType>
                                            <sequence>
                                                <element name="ORDER_ITEM_HEADER">
                                                    <annotation>
                                                        <documentation>Artificial sequence to separate.</documentation>
                                                    </annotation>
                                                    <complexType>
                                                        <sequence>
                                                            <element name="ORDER_ITEM_TYPE" type="tns:orderItemType_type"/>
                                                            <element minOccurs="0" name="ORDER_ITEM_ID" type="tns:orderItemType_type"/>
                                                            <element minOccurs="0" name="EXTERNAL_REFERENCE" type="tns:externalReference_type"/>
                                                            <element minOccurs="0" name="ORDER_ITEM_STATUS" type="xs:string"/>
                                                            <element minOccurs="0" name="DUE_DATE" type="tns:dueDate_type"/>
                                                            <element maxOccurs="unbounded" minOccurs="0" name="REMARK">
                                                                <complexType>
                                                                    <sequence>
                                                                        <element minOccurs="0" name="TYPE" type="xs:string"/>
                                                                        <element minOccurs="0" name="REMARK" type="xs:string"/>
                                                                    </sequence>
                                                                </complexType>
                                                            </element>
                                                        </sequence>
                                                    </complexType>
                                                </element>
                                                <element name="PRODUCT_CATEGORY" type="tns:productCategoryType_type"/>
                                                <element name="PRODUCT">
                                                    <complexType>
                                                        <sequence>
                                                            <any namespace="##any" processContents="skip"/>
                                                        </sequence>
                                                    </complexType>
                                                </element>
                                                <element minOccurs="0" name="CONTRACT">
                                                    <complexType>
                                                        <sequence>
                                                            <element minOccurs="0" name="CONTRACT_NUMBER" type="tns:contractId_type"/>
                                                            <element minOccurs="0" name="CONTRACT_VERSION" type="xs:string"/>
                                                        </sequence>
                                                    </complexType>
                                                </element>
                                            </sequence>
                                        </complexType>
                                    </element>
                                </sequence>
                            </complexType>
                        </element>
                    </sequence>
                </complexType>
            </element>
        </schema>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://xmlns.kpn.com/fixed/SiebelZM/UpdateCRMOrderStatus.1">
            <xs:import namespace="http://xmlns.kpn.com/wsdl/imported/ordermessage.xsd"/>
            <xs:import namespace="http://www.siebel.com/xml/resultstatus.xsd"/>
            <xs:element name="Request">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ns0:BODY">
                            <xs:annotation>
                                <xs:documentation>This is the BODY object for KPN EAI service number 0248 - ProcessProvisioningWorkOrder version 2.0 Request message.</xs:documentation>
                                <xs:documentation>Automatically generated schema for service:'ProcessProvisioningWorkOrder', version:'2.0'</xs:documentation>
                                <xs:documentation>Generated on 2007-08-03 11:36:50Z</xs:documentation>
                                <xs:documentation>Service paradigm is intended to be Request/Response</xs:documentation>
                                <xs:documentation>Service ID is:'0248'</xs:documentation>
                                <xs:documentation>The body must always have MinOccurs=0 and MaxOccurs=1, by definition of KPN EAI AG. (For request messages this has no apparent benefit)</xs:documentation>
                                <xs:documentation>KPN EAI message body class.</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="Response">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" ref="ns1:UpdateCRMOrderStatusResponse"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xsd:schema xmlns:this="http://www.siebel.com/xml/resultstatus.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.siebel.com/xml/resultstatus.xsd">
            <xsd:element name="UpdateCRMOrderStatusResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" name="result_status">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element minOccurs="0" name="error_code" type="xsd:string"/>
                                    <xsd:element name="error_status" type="xsd:integer"/>
                                    <xsd:element minOccurs="0" name="error_description" type="xsd:string"/>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>
    <wsdl:service name="UpdateCRMOrderStatus">
        <wsdl:port binding="tns:UpdateCRMOrderStatus.1.PortTypeEndpointBinding" name="UpdateCRMOrderStatus.1.PortTypeEndpoint">
            <soap:address location="http://AO-IN001597:7212/SiebelZMAdapter/Test%20Processes/SiebelZM/UpdateCRMOrderStatus_Stub"/>
        </wsdl:port>
    </wsdl:service>
    <wsdl:portType name="UpdateCRMOrderStatus.1.PortType">
        <wsdl:operation name="UpdateCRMOrderStatus.1">
            <wsdl:input message="tns:UpdateCRMOrderStatus.1.Request"/>
            <wsdl:output message="tns:UpdateCRMOrderStatus.1.Response"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="UpdateCRMOrderStatus.1.PortTypeEndpointBinding" type="tns:UpdateCRMOrderStatus.1.PortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="UpdateCRMOrderStatus.1">
            <soap:operation soapAction="UpdateCRMOrderStatus" style="document"/>
            <wsdl:input>
                <soap:body parts="parameters" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="parameters" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:message name="UpdateCRMOrderStatus.1.Request">
        <wsdl:part element="tns:Request" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="UpdateCRMOrderStatus.1.Response">
        <wsdl:part element="tns:Response" name="parameters"/>
    </wsdl:message>
</wsdl:definitions>