ASTRIDAdapter/XSDSchemas/Order/Publish/ManagedObjectReport.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.kpn.com/fixed/Order/Publish/ManagedObjectReport.xsd"
	 targetNamespace = "http://xmlns.kpn.com/fixed/Order/Publish/ManagedObjectReport.xsd"
	 xmlns:ManagedObject.xsd = "http://xmlns.kpn.com/fixed/Order/common/ManagedObject.xsd"
	 xmlns:TroubleReport.xsd = "http://xmlns.kpn.com/fixed/Order/common/TroubleReport.xsd"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 xmlns:Base.xsd = "http://xmlns.kpn.com/common/cdm/Base.xsd"
	 elementFormDefault = "qualified">
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/Order/common/ManagedObject.xsd" schemaLocation = "../Common/ManagedObject.xsd"/>
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/Order/common/TroubleReport.xsd" schemaLocation = "../Common/TroubleReport.xsd"/>
	<xsd:import namespace = "http://xmlns.kpn.com/common/cdm/Base.xsd" schemaLocation = "../../Common/Base.xsd"/>
	<xsd:element name = "ManagedObjectReport">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base = "Base.xsd:Base">
					<xsd:sequence>
						<xsd:element name = "TROUBLE_REPORT" type = "TroubleReport.xsd:TroubleReport" minOccurs = "0"/>
						<xsd:element name = "MANAGED_OBJECT" type = "ManagedObject.xsd:ManagedObject" minOccurs = "0"/>
					</xsd:sequence>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>