ASTRIDAdapter/XSDSchemas/CKRAdapter/Response/FindCustomer.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema targetNamespace="http://xmlns.kpn.com/fixed/ckradapter/response/FindCustomer.xsd" xmlns:CKRResponse.xsd="http://xmlns.kpn.com/fixed/ckradapter/common/CKRResponse.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:Customer.xsd="http://xmlns.kpn.com/fixed/ckradapter/common/Customer.xsd" xmlns="http://xmlns.kpn.com/fixed/ckradapter/response/FindCustomer.xsd" elementFormDefault="qualified">
	<xsd:import namespace="http://xmlns.kpn.com/fixed/ckradapter/common/Customer.xsd" schemaLocation="../Common/Customer.xsd"/>
	<xsd:import namespace="http://xmlns.kpn.com/fixed/ckradapter/common/CKRResponse.xsd" schemaLocation="../Common/CKRResponse.xsd"/>
	<xsd:element name="FindCustomer">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="CKRResponse.xsd:CKRResponse">
					<xsd:sequence>
						<xsd:element name="NUMBER_OF_RECORDS" type="xsd:integer" minOccurs="0"/>
						<xsd:element name="CUSTOMER" type="Customer.xsd:Customer" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
