EDTAdapter/XSDSchemas/Operations/Request/ProcessCustomerServiceChangeReport.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.kpn.com/fixed/Operations/Request/ProcessCustomerServiceChangeReport.xsd"
	 targetNamespace = "http://xmlns.kpn.com/fixed/Operations/Request/ProcessCustomerServiceChangeReport.xsd"
	 xmlns:ManagedObject.xsd = "http://xmlns.kpn.com/fixed/Operations/common/ManagedObject.xsd"
	 xmlns:Attachments.xsd = "http://xmlns.kpn.com/fixed/Operations/common/Attachments.xsd"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 xmlns:CustomerOrganization.xsd = "http://xmlns.kpn.com/fixed/Operations/common/CustomerOrganization.xsd"
	 xmlns:CustomerServiceChangeReport.xsd = "http://xmlns.kpn.com/fixed/Operations/common/CustomerServiceChangeReport.xsd"
	 xmlns:MITSRequest.xsd = "http://xmlns.kpn.com/fixed/Operations/common/MITSRequest.xsd"
	 xmlns:SupportedService.xsd = "http://xmlns.kpn.com/fixed/Operations/common/SupportedService.xsd"
	 xmlns:Mor1.xsd = "http://xmlns.kpn.com/fixed/Operations/common/Mor1.xsd"
	 xmlns:CustomerIncidentReport.xsd = "http://xmlns.kpn.com/fixed/Operations/common/CustomerIncidentReport.xsd"
	 xmlns:ManagedObjectInTrouble.xsd = "http://xmlns.kpn.com/fixed/Operations/common/ManagedObjectInTrouble.xsd"
	 xmlns:Attribute.xsd = "http://xmlns.kpn.com/fixed/Operations/common/Attribute.xsd"
	 elementFormDefault = "qualified">
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/Operations/common/ManagedObject.xsd" schemaLocation = "../Common/ManagedObject.xsd"/>
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/Operations/common/Attachments.xsd" schemaLocation = "../Common/Attachments.xsd"/>
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/Operations/common/CustomerOrganization.xsd" schemaLocation = "../Common/CustomerOrganization.xsd"/>
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/Operations/common/CustomerServiceChangeReport.xsd" schemaLocation = "../Common/CustomerServiceChangeReport.xsd"/>
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/Operations/common/MITSRequest.xsd" schemaLocation = "../Common/MITSRequest.xsd"/>
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/Operations/common/SupportedService.xsd" schemaLocation = "../Common/SupportedService.xsd"/>
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/Operations/common/Mor1.xsd" schemaLocation = "../Common/Mor1.xsd"/>
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/Operations/common/CustomerIncidentReport.xsd" schemaLocation = "../Common/CustomerIncidentReport.xsd"/>
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/Operations/common/ManagedObjectInTrouble.xsd" schemaLocation = "../Common/ManagedObjectInTrouble.xsd"/>
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/Operations/common/Attribute.xsd" schemaLocation = "../Common/Attribute.xsd"/>
	<!-- Version 1.0 23-05-2006 -->
	
	<xsd:element name = "CustomerServiceChangeReport">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base = "MITSRequest.xsd:MITSRequest">
					<xsd:sequence>
						<xsd:element name = "CustomerServiceChangeReport" type = "CustomerServiceChangeReport.xsd:CustomerServiceChangeReport" minOccurs = "0"/>
						<xsd:element name = "Customerorganization" type = "CustomerOrganization.xsd:CustomerOrganization" minOccurs = "0"/>
						<xsd:element name = "ManagedObject" type = "ManagedObject.xsd:ManagedObject" minOccurs = "0" maxOccurs = "unbounded"/>
						<xsd:element name = "SupportedService" type = "SupportedService.xsd:SupportedService" minOccurs = "0"/>
						<xsd:element name = "ManagedObjectInTrouble" type = "ManagedObjectInTrouble.xsd:ManagedObjectInTrouble" minOccurs = "0"/>
						<xsd:element name = "CustomerincidentReport" type = "CustomerIncidentReport.xsd:CustomerIncidentReport" minOccurs = "0"/>
						<xsd:element name = "Attachments" type = "Attachments.xsd:Attachments" minOccurs = "0" maxOccurs = "3"/>
						<xsd:element name = "Attribute" type = "Attribute.xsd:Attribute" minOccurs = "0" maxOccurs = "unbounded"/>
					</xsd:sequence>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>