EDTAdapter/XSDSchemas/EnginAdapter/Request/CloseIncident.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.example.com/unique/default/namespace/1086797948135"
	 targetNamespace = "http://xmlns.example.com/unique/default/namespace/1086797948135"
	 xmlns:Base.xsd = "http://xmlns.kpn.com/common/cdm/Base.xsd"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema">
	<xsd:import namespace = "http://xmlns.kpn.com/common/cdm/Base.xsd" schemaLocation = "../../Common/Base.xsd"/>
	<xsd:element name = "CloseIncident">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base = "Base.xsd:Base">
					<xsd:sequence>
						<xsd:element name = "CUSTOMER_REF_NO" type = "xsd:integer" minOccurs = "0"/>
						<xsd:element name = "MM007_PRODUCT_TYPE_ID" type = "xsd:string" minOccurs = "0"/>
						<xsd:element name = "REPAIR_REMARKS" type = "xsd:string" minOccurs = "0"/>
						<xsd:element name = "CLOSURE_REPORT_CODE" type = "xsd:integer" minOccurs = "0"/>
						<xsd:element name = "CREATED_ON_DATE_TIME" type = "xsd:dateTime" minOccurs = "0"/>
						<xsd:element name = "CLOSED_ON_DATE_TIME" type = "xsd:dateTime" minOccurs = "0"/>
						<xsd:element name = "CAUSE_CODE" type = "xsd:integer" minOccurs = "0"/>
						<xsd:element name = "CLOSURE_METHOD" type = "xsd:string" minOccurs = "0"/>
					</xsd:sequence>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
