EDTAdapter/XSDSchemas/EnginAdapter/Request/MakeAppointment.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.example.com/unique/default/namespace/1086798220677"
	 targetNamespace = "http://xmlns.example.com/unique/default/namespace/1086798220677"
	 xmlns:Base.xsd = "http://xmlns.kpn.com/common/cdm/Base.xsd"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema">
	<xsd:import namespace = "http://xmlns.kpn.com/common/cdm/Base.xsd" schemaLocation = "../../Common/Base.xsd"/>
	<xsd:element name = "MakeAppointment">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base = "Base.xsd:Base">
					<xsd:sequence>
						<xsd:element name = "MM007_RESEARCH_DEPARTMENT_CODE" type = "xsd:string" minOccurs = "0"/>
						<xsd:element name = "MM007_RESEARCH_EMPLOYEE_CODE" type = "xsd:string" minOccurs = "0"/>
						<xsd:element name = "APPOINTMENT_DATE" type = "xsd:date" minOccurs = "0"/>
						<xsd:element name = "START_TIME" type = "xsd:time" minOccurs = "0"/>
						<xsd:element name = "END_TIME" type = "xsd:time" minOccurs = "0"/>
					</xsd:sequence>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>