GenericOrderGateway/GenericOrderGateway/Shared Resources/SOAP.aeschema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.tibco.com/ns/ax/bc/SOAP/2002/10/aeschema" targetNamespace="http://www.tibco.com/ns/ax/bc/SOAP/2002/10/aeschema" elementFormDefault="qualified" attributeFormDefault="qualified" version="1.0">
    <xsd:element name="InitiatorRequest" type="tns:InitiatorRequest"/>
    <xsd:element name="ResponderResponse" type="tns:ResponderResponse"/>
    <xsd:element name="InitiatorResponse" type="tns:InitiatorResponse"/>
    <xsd:element name="ResponderRequest" type="tns:ResponderRequest"/>
    <xsd:element name="ResponderAck" type="tns:ResponderAck"/>
    <xsd:element name="ErrorNotify" type="tns:Advisory"/>
    <xsd:complexType xmlns:ae="http://www.tibco.com/ns/aemeta" name="ResponderAck" ae:aeDir="/tibco/public/class/ae/BC" ae:aeLocal="ResponderAck">
        <xsd:sequence>
            <xsd:element name="statusCode" type="xsd:int" minOccurs="0"/>
            <xsd:element name="statusMsg" type="xsd:string" minOccurs="0"/>
            <xsd:element name="operationType" type="xsd:string" minOccurs="0"/>
            <xsd:element name="closure" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType xmlns:ae="http://www.tibco.com/ns/aemeta" name="Advisory" ae:aeDir="/tibco/public/class/ae/SOAP" ae:aeLocal="Advisory" ae:JMSMode="topic">
        <xsd:sequence>
            <xsd:element name="statusCode" type="xsd:int" minOccurs="0"/>
            <xsd:element name="statusMsg" type="xsd:string" minOccurs="0"/>
            <xsd:element name="details" type="xsd:string" minOccurs="0"/>
            <xsd:element name="msgDirection" type="xsd:string" minOccurs="0"/>
            <xsd:element name="operationID" type="xsd:string" minOccurs="0"/>
            <xsd:element name="standardID" type="xsd:string" minOccurs="0"/>
            <xsd:element name="timestamp" type="xsd:string" minOccurs="0"/>
            <xsd:element name="transactionID" type="xsd:string" minOccurs="0"/>
            <xsd:element name="extraInfo" type="xsd:string" minOccurs="0"/>
            <xsd:element name="closure" type="xsd:string" minOccurs="0"/>
            <xsd:element name="host" type="tns:TradingPartner" minOccurs="0"/>
            <xsd:element name="tpName" type="xsd:string" minOccurs="0"/>
            <xsd:element name="tradingPartner" type="tns:TradingPartner" minOccurs="0"/>
            <xsd:element name="faultCode" type="xsd:string" minOccurs="0"/>
            <xsd:element name="faultString" type="xsd:string" minOccurs="0"/>
            <xsd:element name="faultActor" type="xsd:string" minOccurs="0"/>
            <xsd:element name="faultDetail" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType xmlns:ae="http://www.tibco.com/ns/aemeta" name="InitiatorRequest" ae:aeDir="/tibco/public/class/ae/SOAP" ae:aeLocal="InitiatorRequest">
        <xsd:sequence>
            <xsd:element name="standardID" type="xsd:string" minOccurs="0"/>
            <xsd:element name="transactionID" type="xsd:string" minOccurs="0"/>
            <xsd:element name="operationID" type="xsd:string" minOccurs="0"/>
            <xsd:element name="closure" type="xsd:string" minOccurs="0"/>
            <xsd:element name="tpName" type="xsd:string" minOccurs="0"/>
            <xsd:element xmlns:ae="http://www.tibco.com/ns/aemeta" name="attachment" type="tns:AttachmentWithNoOrigCType" maxOccurs="unbounded" ae:sequenceGN="true" ae:declAEDir="/tibco/public/sequence/ae/BC" ae:declAEType="Attachment" minOccurs="0"/>
            <xsd:element name="request" type="xsd:string" minOccurs="0"/>
            <xsd:element name="requestHeader" type="xsd:string" minOccurs="0"/>
            <xsd:element name="tpDomain" type="xsd:string" minOccurs="0"/>
            <xsd:element name="hostName" type="xsd:string" minOccurs="0"/>
            <xsd:element name="hostDomain" type="xsd:string" minOccurs="0"/>
            <xsd:element xmlns:ae="http://www.tibco.com/ns/aemeta" name="httpAttributes" type="tns:Attributes" maxOccurs="unbounded" ae:sequenceGN="true" ae:declAEDir="/tibco/public/sequence/ae/SOAP" ae:declAEType="Attributes" minOccurs="0"/>
            <xsd:element xmlns:ae="http://www.tibco.com/ns/aemeta" name="envelopeAttributes" type="tns:Attributes" maxOccurs="unbounded" ae:sequenceGN="true" ae:declAEDir="/tibco/public/sequence/ae/SOAP" ae:declAEType="Attributes" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType xmlns:ae="http://www.tibco.com/ns/aemeta" name="InitiatorResponse" ae:aeDir="/tibco/public/class/ae/SOAP" ae:aeLocal="InitiatorResponse">
        <xsd:sequence>
            <xsd:element name="resend" type="xsd:boolean" minOccurs="0"/>
            <xsd:element name="response" type="xsd:string" minOccurs="0"/>
            <xsd:element name="statusCode" type="xsd:integer" minOccurs="0"/>
            <xsd:element name="statusMsg" type="xsd:string" minOccurs="0"/>
            <xsd:element name="standardID" type="xsd:string" minOccurs="0"/>
            <xsd:element name="operationID" type="xsd:string" minOccurs="0"/>
            <xsd:element name="transactionID" type="xsd:string" minOccurs="0"/>
            <xsd:element name="closure" type="xsd:string" minOccurs="0"/>
            <xsd:element name="duplicate" type="xsd:boolean" minOccurs="0"/>
            <xsd:element xmlns:ae="http://www.tibco.com/ns/aemeta" name="attachment" type="tns:Attachment" maxOccurs="unbounded" ae:sequenceGN="true" ae:declAEDir="/tibco/public/sequence/ae/BC" ae:declAEType="Attachment" minOccurs="0"/>
            <xsd:element name="responseHeader" type="xsd:string" minOccurs="0"/>
            <xsd:element xmlns:ae="http://www.tibco.com/ns/aemeta" name="envelopeAttributes" type="tns:Attributes" maxOccurs="unbounded" ae:sequenceGN="true" ae:declAEDir="/tibco/public/sequence/ae/SOAP" ae:declAEType="Attributes" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType xmlns:ae="http://www.tibco.com/ns/aemeta" name="ResponderRequest" ae:aeDir="/tibco/public/class/ae/SOAP" ae:aeLocal="ResponderRequest">
        <xsd:sequence>
            <xsd:element name="resend" type="xsd:boolean" minOccurs="0"/>
            <xsd:element name="request" type="xsd:string" minOccurs="0"/>
            <xsd:element name="sourceTP" type="xsd:string" minOccurs="0"/>
            <xsd:element name="destinationTP" type="xsd:string" minOccurs="0"/>
            <xsd:element name="operationID" type="xsd:string" minOccurs="0"/>
            <xsd:element name="operationType" type="xsd:string" minOccurs="0"/>
            <xsd:element name="transactionID" type="xsd:string" minOccurs="0"/>
            <xsd:element name="duplicate" type="xsd:boolean" minOccurs="0"/>
            <xsd:element name="closure" type="xsd:string" minOccurs="0"/>
            <xsd:element name="standardID" type="xsd:string" minOccurs="0"/>
            <xsd:element xmlns:ae="http://www.tibco.com/ns/aemeta" name="attachment" type="tns:Attachment" maxOccurs="unbounded" ae:sequenceGN="true" ae:declAEDir="/tibco/public/sequence/ae/BC" ae:declAEType="Attachment" minOccurs="0"/>
            <xsd:element name="requestHeader" type="xsd:string" minOccurs="0"/>
            <xsd:element name="sourceTPDomain" type="xsd:string" minOccurs="0"/>
            <xsd:element name="destinationTPDomain" type="xsd:string" minOccurs="0"/>
            <xsd:element xmlns:ae="http://www.tibco.com/ns/aemeta" name="envelopeAttributes" type="tns:Attributes" maxOccurs="unbounded" ae:sequenceGN="true" ae:declAEDir="/tibco/public/sequence/ae/SOAP" ae:declAEType="Attributes" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType xmlns:ae="http://www.tibco.com/ns/aemeta" name="ResponderResponse" ae:aeDir="/tibco/public/class/ae/SOAP" ae:aeLocal="ResponderResponse">
        <xsd:sequence>
            <xsd:element name="statusCode" type="xsd:int" minOccurs="0"/>
            <xsd:element name="statusMsg" type="xsd:string" minOccurs="0"/>
            <xsd:element name="standardID" type="xsd:string" minOccurs="0"/>
            <xsd:element name="response" type="xsd:string" minOccurs="0"/>
            <xsd:element name="closure" type="xsd:string" minOccurs="1"/>
            <xsd:element xmlns:ae="http://www.tibco.com/ns/aemeta" name="attachment" type="tns:AttachmentWithNoOrigCType" maxOccurs="unbounded" ae:sequenceGN="true" ae:declAEDir="/tibco/public/sequence/ae/BC" ae:declAEType="Attachment" minOccurs="0"/>
            <xsd:element name="operationID" type="xsd:string" minOccurs="0"/>
            <xsd:element name="responseHeader" type="xsd:string" minOccurs="0"/>
            <xsd:element xmlns:ae="http://www.tibco.com/ns/aemeta" name="envelopeAttributes" type="tns:Attributes" maxOccurs="unbounded" ae:sequenceGN="true" ae:declAEDir="/tibco/public/sequence/ae/SOAP" ae:declAEType="Attributes" minOccurs="0"/>
            <xsd:element xmlns:ae="http://www.tibco.com/ns/aemeta" name="soapFault" type="tns:SOAPFault" maxOccurs="1" ae:sequenceGN="false" ae:declAEDir="/tibco/public/class/ae/SOAP" ae:declAEType="SOAPFault" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType xmlns:ae="http://www.tibco.com/ns/aemeta" name="Attachment" ae:aeDir="/tibco/public/class/ae/BC" ae:aeLocal="Attachment">
        <xsd:sequence>
            <xsd:element name="name" type="xsd:string" minOccurs="0"/>
            <xsd:element name="content-type" type="xsd:string" minOccurs="0"/>
            <xsd:element name="content-id" type="xsd:string" minOccurs="0"/>
            <xsd:element name="content" type="xsd:string" minOccurs="0"/>
            <xsd:element name="originalContentType" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType xmlns:ae="http://www.tibco.com/ns/aemeta" name="AttachmentWithNoOrigCType" ae:aeDir="/tibco/public/class/ae/BC" ae:aeLocal="Attachment">
        <xsd:sequence>
            <xsd:element name="name" type="xsd:string" minOccurs="0"/>
            <xsd:element name="content-type" type="xsd:string" minOccurs="0"/>
            <xsd:element name="content-id" type="xsd:string" minOccurs="0"/>
            <xsd:element name="content" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType xmlns:ae="http://www.tibco.com/ns/aemeta" name="TradingPartner" ae:aeDir="/tibco/public/class/ae/BC" ae:aeLocal="TradingPartner">
        <xsd:sequence>
            <xsd:element name="name" type="xsd:string" minOccurs="0"/>
            <xsd:element name="domain" type="xsd:string" minOccurs="0"/>
            <xsd:element name="id" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType xmlns:ae="http://www.tibco.com/ns/aemeta" name="Attributes" ae:aeDir="/tibco/public/class/ae/SOAP" ae:aeLocal="Attribute">
        <xsd:sequence>
            <xsd:element name="name" type="xsd:string" minOccurs="0"/>
            <xsd:element name="value" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType xmlns:ae="http://www.tibco.com/ns/aemeta" name="SOAPFault" ae:aeDir="/tibco/public/class/ae/SOAP" ae:aeLocal="SOAPFault">
        <xsd:sequence>
            <xsd:element name="faultCode" type="xsd:string" minOccurs="0"/>
            <xsd:element name="faultString" type="xsd:string" minOccurs="0"/>
            <xsd:element name="faultActor" type="xsd:string" minOccurs="0"/>
            <xsd:element xmlns:ae="http://www.tibco.com/ns/aemeta" name="faultDetail" type="tns:Detail" maxOccurs="unbounded" ae:sequenceGN="true" ae:declAEDir="/tibco/public/sequence/ae/SOAP" ae:declAEType="Detail" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType xmlns:ae="http://www.tibco.com/ns/aemeta" name="Detail" ae:aeDir="/tibco/public/class/ae/SOAP" ae:aeLocal="Detail">
        <xsd:sequence>
            <xsd:element name="code" type="xsd:string" minOccurs="0"/>
            <xsd:element name="description" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>