EDTAdapter/XSDSchemas/CKRAdapter/Common/Organization.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.example.com/unique/default/namespace/1086945036999"
	 targetNamespace = "http://xmlns.example.com/unique/default/namespace/1086945036999"
	 xmlns:OrganizationName.xsd = "http://xmlns.kpn.com/fixed/ckradapter/common/OrganizationName.xsd"
	 xmlns:Party.xsd = "http://xmlns.kpn.com/fixed/ckradapter/common/Party.xsd"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified">
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/ckradapter/common/OrganizationName.xsd" schemaLocation = "OrganizationName.xsd"/>
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/ckradapter/common/Party.xsd" schemaLocation = "Party.xsd"/>
	<xsd:complexType name = "Organization">
		<xsd:complexContent>
			<xsd:extension base = "Party.xsd:Party">
				<xsd:sequence>
					<xsd:element name = "KVK_NUMBER" type = "xsd:string" minOccurs = "0"/>
					<xsd:element name = "ORGANIZATION_NAME" type = "OrganizationName.xsd:OrganizationName" minOccurs = "0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
</xsd:schema>