ElasticSearchScrollAPI/SharedResources/REQUEST_search_scroll.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="JSON" type="JSONType"/>
  <xs:complexType name="JSONType">
    <xs:all>
     <xs:element type="xs:string" name="scroll" minOccurs="0"/>
     <xs:element type="xs:string" name="scroll_id" minOccurs="0"/>
    </xs:all>
  </xs:complexType>
</xs:schema>
