GenericSOAPGateway/XSDSchemas/InterDomainServices/Imported/0399_GetPhoneNumberInformation_1.0_Response_EAI_BUS_SIDE.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- edited with XMLSpy v2007 rel. 3 (http://www.altova.com) by Roland Stulemeijer (KPN Telecom) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns:tns="http://xmlns.kpn.com/EAI/fixed/0399_GetPhoneNumberInformation/1.0/Response"
	 targetNamespace="http://xmlns.kpn.com/EAI/fixed/0399_GetPhoneNumberInformation/1.0/Response"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:complexType name="ResultStatus">
		<xs:annotation>
			<xs:documentation>ResultStatusType</xs:documentation>
		</xs:annotation>
		<xs:attribute name="STATUS_CODE" type="xs:integer" use="required">
			<xs:annotation>
				<xs:documentation>0 = OK
1 = Technical error (time out, system down etc.)
2 = Functional error</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ERROR_CODE" type="xs:string">
			<xs:annotation>
				<xs:documentation>Contains error code send by providing system in case of functional error</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ERROR_DESCRIPTION" type="xs:string">
			<xs:annotation>
				<xs:documentation>Contains error description send byproviding system in case of functional error</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:element name="BODY">
		<xs:annotation>
			<xs:documentation>EAI Response BODY element</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CUSTOMER">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="CUSTOMER_ID">
								<xs:complexType>
									<xs:choice>
										<xs:element name="ID_CKR" type="xs:string" nillable="true">
											<xs:annotation>
												<xs:documentation>CKR Customer identification  from the request message (nillable)</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:choice>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="PHONE_NUMBER_DATA" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="PHONE_NUMBER">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="UNFORMATTED" type="xs:string">
											<xs:annotation>
												<xs:documentation>Phonenumber copied from requested message
A string optionally starting with a + and then only digits, hyphens, braces or space.</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="CURRENT_FUTURE" minOccurs="0" maxOccurs="2">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="CUSTOMER">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="CUSTOMER_ID">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="MATCH_INDICATOR" type="xs:string" nillable="true" minOccurs="0">
																	<xs:annotation>
																		<xs:documentation>Indicates or the ID_CKR identification is the same as the the ID_CKR from the request message. Values:
0 = no ID_CKR found for the main phonenumber
1 = match
2 = no match
both nillable: attribute is not present</xs:documentation>
																	</xs:annotation>
																</xs:element>
																<xs:element name="ID_CKR" type="xs:string" nillable="true">
																	<xs:annotation>
																		<xs:documentation>CKR Customer identification of the phonenumber(s) (nillable)</xs:documentation>
																	</xs:annotation>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="PHONE_NUMBER">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="MAIN">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="UNFORMATTED" type="xs:string">
																	<xs:annotation>
																		<xs:documentation>A string optionally starting with a + and then only digits, hyphens, braces or space.</xs:documentation>
																	</xs:annotation>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="CURRENT_OR_FUTURE_INDICATOR" type="xs:string" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Indicates or the information of the phonenumber(s) is "C" current or "F" future</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="PHONE_NUMBERS" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="PHONE_NUMBER">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="UNFORMATTED" type="xs:string">
																	<xs:annotation>
																		<xs:documentation>A string optionally starting with a + and then only digits, hyphens, braces or space.</xs:documentation>
																	</xs:annotation>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="PHONE_NUMBER_DETAILS" minOccurs="0" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="ACCESS_TYPE" type="xs:string" minOccurs="0">
																	<xs:annotation>
																		<xs:documentation>Shows what type of access is available on the line:
MA = MDF Access


</xs:documentation>
																	</xs:annotation>
																</xs:element>
																<xs:element name="PRODUCT_TYPE" type="xs:string" minOccurs="0">
																	<xs:annotation>
																		<xs:documentation>Indicates or the phonenumber(s) belongs to  ZIPB or IPB. Values:
0 = No_IPB_number
1 = ZIPB number
2 = IPB/ZIPB SOHO number
</xs:documentation>
																	</xs:annotation>
																</xs:element>
																<xs:element name="SUBSCRIBER_NUMBER_TYPE" type="xs:string" minOccurs="0">
																	<xs:annotation>
																		<xs:documentation>
H – Main Number (Hoofdnummer)
"" = "not known"</xs:documentation>
																	</xs:annotation>
																</xs:element>
																<xs:element name="SERVICE_TYPE" type="xs:string" minOccurs="0">
																	<xs:annotation>
																		<xs:documentation>Shows the kind of telephone service of the connection EP	EV-PSTN, single PSTN 
MP=MV-PSTN, multiple PSTN 
EI=EV-ISDN, single ISDN 
MI=MV-ISDN, multiple ISDN
VV=Fixed line
MA=MDF-Access
SA=SDF-Access
</xs:documentation>
																	</xs:annotation>
																</xs:element>
																<xs:element name="USAGE_STATUS" type="xs:string" minOccurs="0">
																	<xs:annotation>
																		<xs:documentation>0 = in use
1 = iinstallation broadband
2 = installation telephony
3 = cancalation broadband
4 = cancalation telefony
5 = others telephony order
6 = linesharing order
99 = others</xs:documentation>
																	</xs:annotation>
																</xs:element>
																<xs:element name="BROADBAND_DETAILS" minOccurs="0">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="BROADBAND_SERVICE_ID" type="xs:string" minOccurs="0">
																				<xs:annotation>
																					<xs:documentation>Unique identifier of the current service.</xs:documentation>
																				</xs:annotation>
																			</xs:element>
																			<xs:element name="BROADBAND_SERVICE_PROVIDER" type="xs:string" minOccurs="0">
																				<xs:annotation>
																					<xs:documentation>Short name of the broadband service provider. </xs:documentation>
																				</xs:annotation>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
																<xs:element name="BROADBAND" type="xs:boolean" minOccurs="0">
																	<xs:annotation>
																		<xs:documentation>Indication or broadband is available
0=not available
1=available</xs:documentation>
																	</xs:annotation>
																</xs:element>
																<xs:element name="CENTRAL_AREA_CODE" minOccurs="0"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="SERVICE_PROVIDER_ID" type="xs:string" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Short name of the current telecom operator. Values:
Unknown
KPN</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="PRODUCT" minOccurs="0" maxOccurs="unbounded">
														<xs:annotation>
															<xs:documentation>Note that only under the tag product "curent" product information will be given</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:sequence>
																<xs:element name="INSTALLED_BASE" minOccurs="0" maxOccurs="unbounded">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="PRODUCT_TYPE" type="xs:string" minOccurs="0">
																				<xs:annotation>
																					<xs:documentation>Indicates or the phonenumber(s) belongs to  ZIPB or IPB. Values:
0 = No_IPB_number
1 = ZIPB number
2 =IPB/ ZIPB SOHO number</xs:documentation>
																				</xs:annotation>
																			</xs:element>
																			<xs:element name="PRODUCT_STATUS" minOccurs="0">
																				<xs:annotation>
																					<xs:documentation>Operational status</xs:documentation>
																				</xs:annotation>
																			</xs:element>
																			<xs:element name="USAGE_STATUS" type="xs:string" minOccurs="0">
																				<xs:annotation>
																					<xs:documentation>0 – reserved for installation
1 – in use
2 – reserved for cancellation
</xs:documentation>
																				</xs:annotation>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
																<xs:element name="ORDER" minOccurs="0" maxOccurs="unbounded">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="PRODUCT_TYPE" type="xs:string" minOccurs="0">
																				<xs:annotation>
																					<xs:documentation>Indicates or the phonenumber(s) belongs to  ZIPB or IPB. Values:
0 = No_IPB_number
1 = IPB/ZIPB IP number
2 = ZIPB SOHO number
</xs:documentation>
																				</xs:annotation>
																			</xs:element>
																			<xs:element name="ORDER_STATUS" minOccurs="0">
																				<xs:annotation>
																					<xs:documentation>Indicates the last status of the order</xs:documentation>
																				</xs:annotation>
																			</xs:element>
																			<xs:element name="ORDER_STATUS_DATE" type="xs:dateTime" minOccurs="0">
																				<xs:annotation>
																					<xs:documentation>Date of the last status change of the order</xs:documentation>
																				</xs:annotation>
																			</xs:element>
																			<xs:element name="ORDER_ID" minOccurs="0">
																				<xs:annotation>
																					<xs:documentation>Number of the customer order</xs:documentation>
																				</xs:annotation>
																			</xs:element>
																			<xs:element name="SALES_CHANNEL" minOccurs="0">
																				<xs:annotation>
																					<xs:documentation>Name of the sales channel where the order has been taken in</xs:documentation>
																				</xs:annotation>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="RESULT_STATUS" type="tns:ResultStatus">
		<xs:annotation>
			<xs:documentation>EAI Response RESULT_STATUS element</xs:documentation>
		</xs:annotation>
	</xs:element>
</xs:schema>