GenericSOAPGateway/XSDSchemas/EnginAdapter/Common/ServiceLevelAgreement.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.example.com/unique/default/namespace/1086802679589"
	 targetNamespace = "http://xmlns.example.com/unique/default/namespace/1086802679589"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema">
	<xsd:complexType name = "ServiceLevelAgreement">
		<xsd:sequence>
			<xsd:element name = "INDEX" type = "xsd:integer" minOccurs = "0"/>
			<xsd:element name = "CONTRACT_WORKING_HOURS_CODE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "CONTRACT_RESPONSE_HOURS" type = "xsd:int" minOccurs = "0"/>
			<xsd:element name = "SLA_TYPE_CODE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "CENTRAL_CUSTOMER_ID" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "SLA_TYPE_SHORT_DESCRIPTION" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "AGREEMENT_ID" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "AGREEMENT_SHORT_DESCRIPTION" type = "xsd:string" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>