Clever/CLEverSource/CLEverCore - Oracle/Processes/FrontendServices/Configuration/ExceptionSeverity/ExceptionSeverity.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://www.tibco.com/CLEver/Configuration/ExceptionSeverity" xmlns:ns2="http://www.tibco.com/CLEver/FrontendServices/Configuration/ExceptionSeverity/ExceptionSeverityInterfaceSpecs" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns3="http://www.tibco.com/CLEver/InternalException" targetNamespace="http://www.tibco.com/CLEver/Configuration/ExceptionSeverity">
    <import namespace="http://www.tibco.com/CLEver/FrontendServices/Configuration/ExceptionSeverity/ExceptionSeverityInterfaceSpecs" location="ExceptionSeverityInterfaceSpecs.xsd"/>
    <import namespace="http://www.tibco.com/CLEver/InternalException" location="../../../../Shared Resources/Schema Definitions/CLEver/Error.xsd"/>
    <message name="Create_ExceptionSeverity_Input">
        <part element="ns2:Create_ExceptionSeverity_Input" name="part1"/>
    </message>
    <message name="Create_ExceptionSeverity_Output">
        <part element="ns2:Create_ExceptionSeverity_Output" name="part1"/>
    </message>
    <message name="Update_ExceptionSeverity_Input">
        <part element="ns2:Update_ExceptionSeverity_Input" name="part1"/>
    </message>
    <message name="Update_ExceptionSeverity_Output">
        <part element="ns2:Update_ExceptionSeverity_Output" name="part1"/>
    </message>
    <message name="Delete_ExceptionSeverity_Input">
        <part element="ns2:Delete_ExceptionSeverity_Input" name="part1"/>
    </message>
    <message name="Delete_ExceptionSeverity_Output">
        <part element="ns2:Delete_ExceptionSeverity_Output" name="part1"/>
    </message>
    <message name="Retrieve_ExceptionSeverity_Input">
        <part element="ns2:Retrieve_ExceptionSeverity_Input" name="part1"/>
    </message>
    <message name="Retrieve_ExceptionSeverity_Output">
        <part element="ns2:Retrieve_ExceptionSeverity_Output" name="part1"/>
    </message>
    <message name="Retrieve_ExceptionSeverityParameters_Input">
        <part element="ns2:Retrieve_ExceptionSeverityParameters_Input" name="part1"/>
    </message>
    <message name="Retrieve_ExceptionSeverityParameters_Output">
        <part element="ns2:Retrieve_ExceptionSeverityParameters_Output" name="part1"/>
    </message>
    <message name="Exception">
        <part name="part1" element="ns3:ExceptionEnvelope"/>
    </message>
    <portType name="ExceptionSeverity">
        <operation name="Create">
            <input message="ns:Create_ExceptionSeverity_Input"/>
            <output message="ns:Create_ExceptionSeverity_Output"/>
            <fault name="fault1" message="ns:Exception"/>
        </operation>
        <operation name="Update">
            <input message="ns:Update_ExceptionSeverity_Input"/>
            <output message="ns:Update_ExceptionSeverity_Output"/>
            <fault name="fault1" message="ns:Exception"/>
        </operation>
        <operation name="Delete">
            <input message="ns:Delete_ExceptionSeverity_Input"/>
            <output message="ns:Delete_ExceptionSeverity_Output"/>
            <fault name="fault1" message="ns:Exception"/>
        </operation>
        <operation name="Retrieve">
            <input message="ns:Retrieve_ExceptionSeverity_Input"/>
            <output message="ns:Retrieve_ExceptionSeverity_Output"/>
            <fault name="fault1" message="ns:Exception"/>
        </operation>
        <operation name="RetrieveParameters">
            <input message="ns:Retrieve_ExceptionSeverityParameters_Input"/>
            <output message="ns:Retrieve_ExceptionSeverityParameters_Output"/>
            <fault name="fault1" message="ns:Exception"/>
        </operation>
    </portType>
</definitions>