EDTAdapter/XSDSchemas/ASTRIDAdapter/Common/CONTR_S-0100.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.kpn.com/fixed/ASTRIDAdapter/common/CONTR_S-0100.xsd"
	 targetNamespace = "http://xmlns.kpn.com/fixed/ASTRIDAdapter/common/CONTR_S-0100.xsd"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified">
	<xsd:complexType name = "CONTR_S-0100">
		<xsd:sequence>
			<xsd:element name = "CONTRACTANT_NAAM" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "CONTRACTANT_STRAATNAAM" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "CONTRACTANT_HUISNR_NUMERIEK" type = "xsd:integer" minOccurs = "0"/>
			<xsd:element name = "CONTRACTANT_HUISNR_ALFANUMERIEK" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "CONTRACTANT_WOONPLAATS" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "CONTRACTANT_NAAM_CONTACTPERSOON" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "CONTRACTANT_TELEFOONNR_CONTACTPERSOON" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "CONTRACTANT_FAXNR_CONTACTPERSOON" type = "xsd:string" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>