EDTAdapter/XSDSchemas/ASTRIDAdapter/Common/KLADBL_S-0100_INFOBL_S-0100.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.kpn.com/fixed/ASTRIDAdapter/common/KLADBL_S-0100_INFOBL_S-0100.xsd"
	 targetNamespace = "http://xmlns.kpn.com/fixed/ASTRIDAdapter/common/KLADBL_S-0100_INFOBL_S-0100.xsd"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified">
	<xsd:complexType name = "KLADBL_S-0100_INFOBL_S-0100">
		<xsd:sequence>
			<xsd:element name = "IDENTIFICATIE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "SOORT_SLEUTEL" type = "xsd:integer" minOccurs = "0"/>
			<xsd:element name = "DATUM_AANMAAK" type = "xsd:dateTime" minOccurs = "0"/>
			<xsd:element name = "DATUM_VERWIJDEREN" type = "xsd:dateTime" minOccurs = "0"/>
			<xsd:element name = "TELEFOONNUMMER" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "PRODUCT_IDENTIFICATIE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "STRAATNAAM" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "PLAATSNAAM" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "POSTCODE_NUMERIEK" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "POSTCODE_ALFANUMERIEK" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "TELEFOONNUMMER_LAAG" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "TELEFOONNUMMER_HOOG" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "TEKST_1" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "TEKST_2" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "TEKST_3" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "TEKST_4" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "GEBRUIKERSNAAM" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "APPARATUURCODE" type = "xsd:integer" minOccurs = "0"/>
			<xsd:element name = "APPARATUUR_OMSCHRIJVING" type = "xsd:string" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>