EDTAdapter/XSDSchemas/Order/Common/ManagedObjectInTrouble.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.kpn.com/fixed/Order/common/ManagedObjectInTrouble.xsd"
	 targetNamespace = "http://xmlns.kpn.com/fixed/Order/common/ManagedObjectInTrouble.xsd"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 xmlns:SupportedService.xsd = "http://xmlns.kpn.com/fixed/Order/common/SupportedService.xsd"
	 elementFormDefault = "qualified">
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/Order/common/SupportedService.xsd" schemaLocation = "SupportedService.xsd"/>
	<xsd:complexType name = "ManagedObjectInTrouble">
		<xsd:sequence>
			<xsd:element name = "MANAGED_OBJECT_NAME" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "MANAGED_OBJECT_CLASS" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "MANAGED_OBJECT_INSTANCE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "NETWORK_CLASS" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "NETWORK_INSTANCE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "SUPPORTED_SERVICE" type = "SupportedService.xsd:SupportedService" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>