GenericSOAPGateway/XSDSchemas/NIMVOIP/Response/GetAreaCodeByPostcode.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 elementFormDefault="unqualified"
	 attributeFormDefault="unqualified">
	<xs:include schemaLocation="../Common/ccbi.xsd"/>
	<xs:element name="ENVELOPE">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="sfiResponse"/>
			</xs:sequence>
			<xs:attribute name="DESTINATION" type="xs:string"/>
			<xs:attribute name="SENDER" type="xs:string"/>
		</xs:complexType>
	</xs:element>
</xs:schema>