ASTRIDAdapter/XSDSchemas/EnginAdapter/Request/GetDisturbance.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.kpn.com/fixed/EnginAdapter/Request/GetDisturbance.xsd"
	 targetNamespace = "http://xmlns.kpn.com/fixed/EnginAdapter/Request/GetDisturbance.xsd"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 xmlns:EnginRequest.xsd = "http://xmlns.kpn.com/fixed/enginadapter/common/EnginRequest.xsd">
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/enginadapter/common/EnginRequest.xsd" schemaLocation = "../Common/EnginRequest.xsd"/>
	<xsd:element name = "GetDisturbance">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base = "EnginRequest.xsd:EnginRequest">
					<xsd:sequence>
						<xsd:element name = "HDR_SW-0101">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name = "AFZENDER_APPLICATIE" type = "xsd:string"/>
									<xsd:element name = "AFZENDER_GEBRUIKER" type = "xsd:string"/>
									<xsd:element name = "ONTVANGER_APPLICATIE" type = "xsd:string"/>
									<xsd:element name = "BERICHT_TYPE" type = "xsd:string"/>
									<xsd:element name = "FUNCTION_TYPE" type = "xsd:string"/>
									<xsd:element name = "BERICHT_VERSIE" type = "xsd:integer"/>
									<xsd:element name = "TRANSACTIE_ID" type = "xsd:string" minOccurs = "0"/>
									<xsd:element name = "DATUM_TIJD" type = "xsd:dateTime" minOccurs = "0"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name = "QRYLIM_S-0102">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name = "MAXIMUM_AANTAL" type = "xsd:integer" minOccurs = "0"/>
									<xsd:element name = "SLEUTEL_VOLGENDE_ITEM" type = "xsd:string" minOccurs = "0"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name = "VRST_Q_S-0100">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name = "GEPLAND_ONGEPLAND" type = "xsd:string" minOccurs = "0"/>
									<xsd:element name = "NETNUMMER" type = "xsd:string" minOccurs = "0"/>
									<xsd:element name = "ABONNEENUMMER" type = "xsd:string" minOccurs = "0"/>
									<xsd:element name = "LIJNBENAMING" type = "xsd:string" minOccurs = "0"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>