ASTRIDAdapter/XSDSchemas/EnginAdapter/Request/GetFormula.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.example.com/unique/default/namespace/1086801773556"
	 targetNamespace = "http://xmlns.example.com/unique/default/namespace/1086801773556"
	 xmlns:Base.xsd = "http://xmlns.kpn.com/common/cdm/Base.xsd"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema">
	<xsd:import namespace = "http://xmlns.kpn.com/common/cdm/Base.xsd" schemaLocation = "../../Common/Base.xsd"/>
	<xsd:element name = "GetFormula">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base = "Base.xsd:Base">
					<xsd:sequence>
						<xsd:element name = "TROUBLE_REPORT_DETECTION_TIME" type = "xsd:dateTime" minOccurs = "0"/>
						<xsd:element name = "MM007_PRODUCT_TYPE_CODE" type = "xsd:integer" minOccurs = "0"/>
						<xsd:element name = "MM007_SERVICE_HOURS_CODE" type = "xsd:string" minOccurs = "0"/>
						<xsd:element name = "MM007_SERVICE_RESPONSE_WINDOW" type = "xsd:integer" minOccurs = "0"/>
						<xsd:element name = "MM007_URGENCY_ID" type = "xsd:string" minOccurs = "0"/>
						<xsd:element name = "MM007_URGENCY_FLAG" type = "xsd:string" minOccurs = "0"/>
						<xsd:element name = "MM007_CUSTOMER_ORDER_TYPE" type = "xsd:string" minOccurs = "0"/>
						<xsd:element name = "MM007_TROUBLE_FLAG" type = "xsd:string" minOccurs = "0"/>
						<xsd:element name = "MM7_RESOLUTION_TIME" type = "xsd:dateTime" minOccurs = "0"/>
					</xsd:sequence>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>