ASTRIDAdapter/XSDSchemas/EnginAdapter/Request/GetResolvingAgency.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.example.com/unique/default/namespace/1086798170185"
	 targetNamespace = "http://xmlns.example.com/unique/default/namespace/1086798170185"
	 xmlns:Base.xsd = "http://xmlns.kpn.com/common/cdm/Base.xsd"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema">
	<xsd:import namespace = "http://xmlns.kpn.com/common/cdm/Base.xsd" schemaLocation = "../../Common/Base.xsd"/>
	<xsd:element name = "GetResolvingAgency">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base = "Base.xsd:Base">
					<xsd:sequence>
						<xsd:element name = "DUTCH_POSTCODE_NUMBERS" type = "xsd:string" minOccurs = "0"/>
						<xsd:element name = "DUTCH_POSTCODE_LETTERS" type = "xsd:string" minOccurs = "0"/>
						<xsd:element name = "HOUSE_NUMBER" type = "xsd:string" minOccurs = "0"/>
						<xsd:element name = "HOUSE_NUMBER_EXTENSION" type = "xsd:string" minOccurs = "0"/>
						<xsd:element name = "MM007_PRODUCT_TYPE_CODE" type = "xsd:string" minOccurs = "0"/>
					</xsd:sequence>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>