ASTRIDAdapter/XSDSchemas/EnginAdapter/Request/UpgradeFormula.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.example.com/unique/default/namespace/1086802017757"
	 targetNamespace = "http://xmlns.example.com/unique/default/namespace/1086802017757"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 xmlns:Base.xsd = "http://xmlns.kpn.com/common/cdm/Base.xsd">
	<xsd:import namespace = "http://xmlns.kpn.com/common/cdm/Base.xsd" schemaLocation = "../../Common/Base.xsd"/>
	<xsd:element name = "UpgradeFormula">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base = "Base.xsd:Base">
					<xsd:sequence>
						<xsd:element name = "TROUBLE_REPORT_DETECTION_TIME" type = "xsd:dateTime" minOccurs = "0"/>
						<xsd:element name = "FORMULA_ID" type = "xsd:string" minOccurs = "0"/>
						<xsd:element name = "MM007_RESOLUTION_TIME" type = "xsd:dateTime" minOccurs = "0"/>
						<xsd:element name = "REPAIR_DEADLINE_DATE_TIME" type = "xsd:dateTime" minOccurs = "0"/>
					</xsd:sequence>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>