EClipsAdapter/XSDSchemas/PortingServicesWF/Common/CustomerCreditProfile.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.kpn.com/fixed/portingserviceswf/common/CustomerCreditProfile.xsd"
	 targetNamespace = "http://xmlns.kpn.com/fixed/portingserviceswf/common/CustomerCreditProfile.xsd"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema">
	<xsd:complexType name = "CustomerCreditProfile">
		<xsd:sequence>
			<xsd:element name = "BIK_CODE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "CUSTOMER_SIZE_GROUP" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "KVK_REGISTRATION_TYPE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "FINANCIAL_STATUS" type = "xsd:string" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>