EClipsAdapter/XSDSchemas/PortingServicesWF/Common/IndividualName.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.kpn.com/fixed/portingserviceswf/common/IndividualName.xsd"
	 targetNamespace = "http://xmlns.kpn.com/fixed/portingserviceswf/common/IndividualName.xsd"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified">
	<xsd:complexType name = "IndividualName">
		<xsd:sequence>
			<xsd:element name = "ACADEMIC_TITLE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "INITIALS" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "ARISTOCRATIC_TITLE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "FAMILY_NAME_PREFIX" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "FAMILY_NAME" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "COMPLETE_NAME" type = "xsd:string" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>