EClipsAdapter/XSDSchemas/PortingServicesWF/Common/NumberSerie.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.kpn.com/fixed/portingserviceswf/common/NumberSerie.xsd"
	 targetNamespace = "http://xmlns.kpn.com/fixed/portingserviceswf/common/NumberSerie.xsd"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified">
	<xsd:complexType name = "NumberSerie">
		<xsd:sequence>
			<xsd:element name = "START_OF_SERIE" type = "xsd:string"/>
			<xsd:element name = "END_OF_SERIE" type = "xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>