EClipsAdapter/XSDSchemas/PortingServicesWF/Common/TariffInfo.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.kpn.com/fixed/portingserviceswf/common/TariffInfo.xsd"
	 targetNamespace = "http://xmlns.kpn.com/fixed/portingserviceswf/common/TariffInfo.xsd"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified">
	<xsd:complexType name = "TariffInfo">
		<xsd:sequence>
			<xsd:element name = "TARIFF_PEAK" type = "xsd:string"/>
			<xsd:element name = "TARIFF_OFFPEAK" type = "xsd:string"/>
			<xsd:element name = "CURRENCY_CODE" type = "xsd:string"/>
			<xsd:element name = "CHARGE_TYPE" type = "xsd:integer"/>
			<xsd:element name = "TAX_EXEMPTION_CODE" type = "xsd:integer"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>