GenericSOAPGateway/XSDSchemas/PMAdapter/Imported/0397_GetCustomerPaymentBehaviour_1.0_Request_EAI_BUS_SIDE.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- edited with XMLSpy v2007 rel. 3 (http://www.altova.com) by Rowy Burgy (KPN Telecom) -->
<xs:schema xmlns:tns="http://xmlns.kpn.com/EAI/fixed/0397_GetCustomerPaymentBehaviour/1.0/Request" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xmlns.kpn.com/EAI/fixed/0397_GetCustomerPaymentBehaviour/1.0/Request">
	<xs:element name="BODY">
		<xs:annotation>
			<xs:documentation>This is the BODY object for KPN EAI service number 0397 - GetCustomerPaymentBehaviour version 1.0 Request message.</xs:documentation>
			<xs:documentation>Automatically generated schema for service:'GetCustomerPaymentBehaviour', version:'1.0'</xs:documentation>
			<xs:documentation>Generated on 2008-05-14 16:29:36Z</xs:documentation>
			<xs:documentation>Service paradigm is intended to be Request/Response</xs:documentation>
			<xs:documentation>Service ID is:'0397'</xs:documentation>
			<xs:documentation>The body must always have MinOccurs=0 and MaxOccurs=1, by definition of KPN EAI AG. (For request messages this has no apparent benefit)</xs:documentation>
			<xs:documentation>KPN EAI message body class.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:annotation>
					<xs:documentation>Artificial sequence to separate.</xs:documentation>
				</xs:annotation>
				<xs:element name="CUSTOMER_SELECTION">
					<xs:complexType>
						<xs:choice>
							<xs:element name="CENTRAL_CUSTOMER_ID" type="xs:string">
								<xs:annotation>
									<xs:documentation>The CKR-number</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="KPN_RELATION_NR" type="xs:string">
								<xs:annotation>
									<xs:documentation>Future customer identifier.</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:choice>
					</xs:complexType>
				</xs:element>
				<xs:element name="DATA_SELECTION">
					<xs:complexType>
						<xs:sequence>
							<xs:annotation>
								<xs:documentation>Artificial sequence to separate.</xs:documentation>
							</xs:annotation>
							<xs:element name="PAGING" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:annotation>
											<xs:documentation>Artificial sequence to separate.</xs:documentation>
										</xs:annotation>
										<xs:element name="START_FROM_PM_CUSTOMER_ID" type="xs:string" minOccurs="0">
											<xs:annotation>
												<xs:documentation>PM_CUSTOMER_ID to start with in case of paging.</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="NR_RECORDS_EACH_PAGE" type="xs:int" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Number of records in a page in case of paging.</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="MAX_NR_RECORDS_IN_PAGE" type="xs:int" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Maximum number of records to return.</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="GET_PAYMENT_DETAILS" type="xs:string">
								<xs:annotation>
									<xs:documentation>Will the response have to contain payment details. Values: J /N (meaning Yes/No)</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="GET_CUSTOMER_OVERALL_STATUS" type="xs:string">
								<xs:annotation>
									<xs:documentation>Will the response have to contain the customer profile. Values: J /N (meaning Yes/No)</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="FILTER_CRITERIA" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:annotation>
								<xs:documentation>Artificial sequence to separate.</xs:documentation>
							</xs:annotation>
							<xs:element name="ADDRESS" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Address details to be filtered</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:annotation>
											<xs:documentation>Artificial sequence to separate.</xs:documentation>
										</xs:annotation>
										<xs:element name="DUTCH_POSTCODE_NUMBERS" type="xs:string" minOccurs="0">
											<xs:annotation>
												<xs:documentation>The numbers of the dutch postcode, for example 1234</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="DUTCH_POSTCODE_LETTERS" type="xs:string" minOccurs="0">
											<xs:annotation>
												<xs:documentation>The letters of the dutch postcode, for example AB</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="HOUSE_NUMBER" type="xs:string" minOccurs="0">
											<xs:annotation>
												<xs:documentation>The house number of the address</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="PM_CUSTOMER_ID" type="xs:string" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Customer reference: PM-kenmerk</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="MARKET_SEGMENT" type="xs:string" minOccurs="0">
								<xs:annotation>
									<xs:documentation>The market segment that needs to be filtered.</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="PRODUCT_GROUP" type="xs:string" minOccurs="0">
								<xs:annotation>
									<xs:documentation>The product group that will be used for filtering, for example PSTN/ISDN.</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="CUSTOMER_PRODUCT_ID" type="xs:string" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Identifier of the delivered product, for example a-nummer</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
