GenericSOAPGateway/XSDSchemas/PMAdapter/Imported/0397_GetCustomerPaymentBehaviour_1.0_Response_EAI_BUS_SIDE.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- edited with XMLSpy v2007 rel. 3 (http://www.altova.com) by Rowy Burgy (KPN Telecom) -->
<xs:schema xmlns:tns="http://xmlns.kpn.com/EAI/fixed/0397_GetCustomerPaymentBehaviour/1.0/Response" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xmlns.kpn.com/EAI/fixed/0397_GetCustomerPaymentBehaviour/1.0/Response">
	<xs:simpleType name="dutchPostcode_type">
		<xs:annotation>
			<xs:documentation>The postal code of the  customer</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="6"/>
			<xs:pattern value="\d{4}[a-zA-Z]{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="BODY">
		<xs:annotation>
			<xs:documentation>This is the BODY object for KPN EAI service number 0397 - GetCustomerPaymentBehaviour version 1.0 Response message.</xs:documentation>
			<xs:documentation>Automatically generated schema for service:'GetCustomerPaymentBehaviour', version:'1.0'</xs:documentation>
			<xs:documentation>Generated on 2008-05-14 16:29:36Z</xs:documentation>
			<xs:documentation>Service paradigm is intended to be Request/Response</xs:documentation>
			<xs:documentation>Service ID is:'0397'</xs:documentation>
			<xs:documentation>The body must always have MinOccurs=0 and MaxOccurs=1, by definition of KPN EAI AG. (For request messages this has no apparent benefit)</xs:documentation>
			<xs:documentation>KPN EAI message body class.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:annotation>
					<xs:documentation>Artificial sequence to separate.</xs:documentation>
				</xs:annotation>
				<xs:element name="CLIENT_PRODUCT" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:annotation>
								<xs:documentation>Artificial sequence to separate.</xs:documentation>
							</xs:annotation>
							<xs:element name="PAYMENT_STATUS">
								<xs:complexType>
									<xs:sequence>
										<xs:annotation>
											<xs:documentation>Artificial sequence to separate.</xs:documentation>
										</xs:annotation>
										<xs:element name="PAYMENT_METHOD" type="xs:string">
											<xs:annotation>
												<xs:documentation>Method of payment.</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="NUMBER_OF_REVERSALS" type="xs:int">
											<xs:annotation>
												<xs:documentation>Number of reversals per customer.</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="AVERAGE_PAYMENT_PERIOD" type="xs:int" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Average over the last three collections</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="CLASS_CODE" type="xs:string" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Classcode, 50 options</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="RISK_CLASS" type="xs:string">
											<xs:annotation>
												<xs:documentation>Possible values A,B,C,D,E</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="PAYMENT_ARRANGEMENT_MADE_FLAG" type="xs:string">
											<xs:annotation>
												<xs:documentation>T = Termijnregeling aanwezig
B = Betaalafspraak aanwezig
N = Niets aanwezig</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="POSTPONE_ALLOWED_FLAG" type="xs:string">
											<xs:annotation>
												<xs:documentation>Values: J /N (meaning Yes/No)</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="OUTSTANDING_CUSTOMER_COMPLAINT_FLAG" type="xs:string">
											<xs:annotation>
												<xs:documentation>Values: J /N (meaning Yes/No)</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="FINAL_INVOICE_FLAG" type="xs:string">
											<xs:annotation>
												<xs:documentation>Values: J /N (meaning Yes/No)</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="PAYMENT_DETAIL" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:annotation>
											<xs:documentation>Artificial sequence to separate.</xs:documentation>
										</xs:annotation>
										<xs:element name="INVOICE_RECORD" minOccurs="0" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:annotation>
														<xs:documentation>Artificial sequence to separate.</xs:documentation>
													</xs:annotation>
													<xs:element name="INVOICE_ID" type="xs:string" minOccurs="0">
														<xs:annotation>
															<xs:documentation>The ID of the invoice (for future use)</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="INVOICE_DATE" type="xs:date">
														<xs:annotation>
															<xs:documentation>Date of invoice.</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="INVOICE_DUE_DATE" type="xs:date" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Due date of invoice.</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="INVOICE_TEXT_LINE" type="xs:string" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Textline on the invoice.</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="INVOICE_AMOUNT" type="xs:string" minOccurs="0">
														<xs:annotation>
															<xs:documentation>expressed in Euro cents</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="INVOICE_BALANCE" type="xs:string" minOccurs="0">
														<xs:annotation>
															<xs:documentation>expressed in Euro cents</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="INVOICE_PAYMENT_DATE" type="xs:date" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Payment date.</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="INVOICE_PAYMENT_REVERSAL_DATE" type="xs:date" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Reversal date.</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="INVOICE_FIRST_REMINDER_DATE" type="xs:date" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Date of first reminder.</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="INVOICE_SECOND_REMINDER_DATE" type="xs:date" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Date of second reminder.</xs:documentation>
														</xs:annotation>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="BANK_ACCOUNT_NUMBER" type="xs:string" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Initially this will be the bank-giro number, later will be used with the IBAN-number</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="PAYMENT_ARRANGEMENT_DATE" type="xs:date" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Payment arrangement date</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="PHONE_DISCONNECT_FLAG" type="xs:string">
											<xs:annotation>
												<xs:documentation>Values: J /N (meaning Yes/No)</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="TOTAL_AMOUNT_DUE" type="xs:int">
											<xs:annotation>
												<xs:documentation>Expressed in euro cents.</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="NUMBER_OF_CLAIMS" type="xs:int">
											<xs:annotation>
												<xs:documentation>Number of claims.</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="PM_CUSTOMER_ID" type="xs:string">
								<xs:annotation>
									<xs:documentation>The PM customer id</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="PRODUCT_GROUP" type="xs:string" minOccurs="0"/>
							<xs:element name="COLLECTION_GROUP" type="xs:string" minOccurs="0"/>
							<xs:element name="DUTCH_POSTCODE" type="tns:dutchPostcode_type" minOccurs="0">
								<xs:annotation>
									<xs:documentation>The postal code of the  customer</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="HOUSE_NUMBER" type="xs:string" minOccurs="0">
								<xs:annotation>
									<xs:documentation>The house number</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="ADDRESS_TYPE" type="xs:string" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Indicates the role of the found address. Possible values: C (Contractant), B (Billing address) or G (User)</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="WARNING" type="xs:string" minOccurs="0">
								<xs:annotation>
									<xs:documentation>For future use.</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="CONTROL_INFORMATION">
					<xs:complexType>
						<xs:sequence>
							<xs:annotation>
								<xs:documentation>Artificial sequence to separate.</xs:documentation>
							</xs:annotation>
							<xs:element name="NR_RECORDS_BEFORE_FILTERING" type="xs:int">
								<xs:annotation>
									<xs:documentation>Number of records for client before filtering.</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="NR_RECORDS_AFTER_FILTERING" type="xs:int">
								<xs:annotation>
									<xs:documentation>Number of records for client after filtering.</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="IS_ALL_STATUS_RECORDS" type="xs:string">
								<xs:annotation>
									<xs:documentation>Indicator if all the records are present in the messsage. Values: J /N (meaning Yes/No)</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="OVERALL_CUSTOMER_STATUS" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:annotation>
								<xs:documentation>Artificial sequence to separate.</xs:documentation>
							</xs:annotation>
							<xs:element name="HIGHEST_OCCURING_RISK_CLASS" type="xs:string">
								<xs:annotation>
									<xs:documentation>Possible values A,B,C,D,E</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="LOWEST_OCCURING_RISK_CLASS" type="xs:string">
								<xs:annotation>
									<xs:documentation>Possible values A,B,C,D,E</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="PAYMENT_AGREEMENT_EXIST" type="xs:string">
								<xs:annotation>
									<xs:documentation>Values: J /N (meaning Yes/No)</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="NUMBER_OF_COMPLAINTS" type="xs:int">
								<xs:annotation>
									<xs:documentation>Number of incassostops.</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="FINAL_BILL_EXISTS" type="xs:string">
								<xs:annotation>
									<xs:documentation>Values: J /N (meaning Yes/No)</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="ORIGINAL_REQUEST">
					<xs:annotation>
						<xs:documentation>This is the REQUEST that is mapped from the RESPONSE-message from the API. </xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:annotation>
								<xs:documentation>Artificial sequence to separate.</xs:documentation>
							</xs:annotation>
							<xs:element name="CUSTOMER_SELECTION">
								<xs:complexType>
									<xs:choice>
										<xs:element name="CENTRAL_CUSTOMER_ID" type="xs:string">
											<xs:annotation>
												<xs:documentation>The CKR-number</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="KPN_RELATION_NR" type="xs:string">
											<xs:annotation>
												<xs:documentation>Future customer identifier.</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:choice>
								</xs:complexType>
							</xs:element>
							<xs:element name="DATA_SELECTION">
								<xs:complexType>
									<xs:sequence>
										<xs:annotation>
											<xs:documentation>Artificial sequence to separate.</xs:documentation>
										</xs:annotation>
										<xs:element name="PAGING" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:annotation>
														<xs:documentation>Artificial sequence to separate.</xs:documentation>
													</xs:annotation>
													<xs:element name="START_FROM_PM_CUSTOMER_ID" type="xs:string" minOccurs="0">
														<xs:annotation>
															<xs:documentation>PM_CUSTOMER_ID to start with in case of paging.</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="NR_RECORDS_EACH_PAGE" type="xs:int" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Number of records in a page in case of paging.</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="MAX_NR_RECORDS_IN_PAGE" type="xs:int" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Maximum number of records to return.</xs:documentation>
														</xs:annotation>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="GET_PAYMENT_DETAILS" type="xs:string">
											<xs:annotation>
												<xs:documentation>Will the response have to contain payment details. Values: J /N (meaning Yes/No)</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="GET_CUSTOMER_OVERALL_STATUS" type="xs:string">
											<xs:annotation>
												<xs:documentation>Will the response have to contain the customer profile. Values: J /N (meaning Yes/No)</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="FILTER_CRITERIA" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:annotation>
											<xs:documentation>Artificial sequence to separate.</xs:documentation>
										</xs:annotation>
										<xs:element name="ADDRESS" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Address details to be filtered</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:annotation>
														<xs:documentation>Artificial sequence to separate.</xs:documentation>
													</xs:annotation>
													<xs:element name="DUTCH_POSTCODE_NUMBERS" type="xs:string" minOccurs="0">
														<xs:annotation>
															<xs:documentation>The numbers of the dutch postcode, for example 1234</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="DUTCH_POSTCODE_LETTERS" type="xs:string" minOccurs="0">
														<xs:annotation>
															<xs:documentation>The letters of the dutch postcode, for example AB</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="HOUSE_NUMBER" type="xs:string" minOccurs="0">
														<xs:annotation>
															<xs:documentation>The house number of the address</xs:documentation>
														</xs:annotation>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="PM_CUSTOMER_ID" type="xs:string" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Customer reference: PM-kenmerk</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="MARKET_SEGMENT" type="xs:string" minOccurs="0">
											<xs:annotation>
												<xs:documentation>The market segment that needs to be filtered.</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="PRODUCT_GROUP" type="xs:string" minOccurs="0">
											<xs:annotation>
												<xs:documentation>The product group that will be used for filtering, for example PSTN/ISDN.</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="CUSTOMER_PRODUCT_ID" type="xs:string" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Identifier of the delivered product, for example a-nummer</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
