GenericSOAPGateway/XSDSchemas/PMAdapter/Imported/0407_HoldCollections_1.0_Request_EAI_BUS_SIDE.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://xmlns.kpn.com/EAI/fixed/0407_HoldCollections/1.0/Request" targetNamespace="http://xmlns.kpn.com/EAI/fixed/0407_HoldCollections/1.0/Request" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="BODY">
    <xs:annotation>
      <xs:documentation>This is the BODY object for KPN EAI service number 0407 - HoldCollections version 1.0 Request message.</xs:documentation>
      <xs:documentation>Automatically generated schema for service:'HoldCollections', version:'1.0'</xs:documentation>
      <xs:documentation>Generated on 2008-06-19 10:23:33Z</xs:documentation>
      <xs:documentation>Service paradigm is intended to be Request/Response</xs:documentation>
      <xs:documentation>Service ID is:'0407'</xs:documentation>
      <xs:documentation>The body must always have MinOccurs=0 and MaxOccurs=1, by definition of KPN EAI AG. (For request messages this has no apparent benefit)</xs:documentation>
      <xs:documentation>KPN EAI message body class.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:annotation>
          <xs:documentation>Artificial sequence to separate.</xs:documentation>
        </xs:annotation>
        <xs:element minOccurs="1" maxOccurs="1" name="CUSTOMER_SELECTION">
          <xs:complexType>
            <xs:choice>
              <xs:element minOccurs="1" maxOccurs="1" name="CENTRAL_CUSTOMER_ID" type="xs:string">
                <xs:annotation>
                  <xs:documentation>The CKR-number</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="1" maxOccurs="1" name="KPN_RELATION_NR" type="xs:string">
                <xs:annotation>
                  <xs:documentation>KPN Relation Number</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="1" maxOccurs="1" name="LOCAL_CUSTOMER_ID" type="xs:string">
                <xs:annotation>
                  <xs:documentation>Customer id as the customer is known in the billingstream.</xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:choice>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="1" maxOccurs="1" name="SERVICE_PARAMETERS">
          <xs:complexType>
            <xs:sequence>
              <xs:annotation>
                <xs:documentation>Artificial sequence to separate.</xs:documentation>
              </xs:annotation>
              <xs:element minOccurs="1" maxOccurs="1" name="ACTION" type="xs:string">
                <xs:annotation>
                  <xs:documentation>The action that has to be te take, ie SUSPEND or RESUME.  Field is case insensitive.</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="1" maxOccurs="1" name="REASON" type="xs:string">
                <xs:annotation>
                  <xs:documentation>The reason for the action, possible values Complaint, High Volume, Fraud. Currently only Complaint is supported. Field is case insensitive.</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="1" maxOccurs="1" name="STOP_DIRECT_DEBIT" type="xs:string">
                <xs:annotation>
                  <xs:documentation>Possible values Y/N.  Field is case insensitive.</xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="1" maxOccurs="1" name="CLAIM">
          <xs:complexType>
            <xs:sequence>
              <xs:annotation>
                <xs:documentation>Artificial sequence to separate.</xs:documentation>
              </xs:annotation>
              <xs:element minOccurs="0" maxOccurs="1" name="BILLING_SYSTEM_ID" type="xs:string">
                <xs:annotation>
                  <xs:documentation>ID of the billing application which produces the invoice.</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="1" name="INVOICE_ID" type="xs:string">
                <xs:annotation>
                  <xs:documentation>ID of the invoice</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="1" name="PAYMENT_ID" type="xs:string">
                <xs:annotation>
                  <xs:documentation>The ID of the Payment is the current identifier for payments with complaints.</xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="1" maxOccurs="1" name="CASE">
          <xs:complexType>
            <xs:sequence>
              <xs:annotation>
                <xs:documentation>Artificial sequence to separate.</xs:documentation>
              </xs:annotation>
              <xs:element minOccurs="1" maxOccurs="1" name="CASE_ID" type="xs:string">
                <xs:annotation>
                  <xs:documentation>Complaint id or case id from requesting application.</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="1" name="HOLD_COLLECTION_ID" type="xs:integer">
                <xs:annotation>
                  <xs:documentation>ID of the to be restarted COLLECTION. Mind this is an xsd:integer (unlimited numbers) and not a xsd:int.</xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>