GenericSOAPGateway/XSDSchemas/PMAdapter/Imported/0407_HoldCollections_1.0_Response_EAI_BUS_SIDE.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://xmlns.kpn.com/EAI/fixed/0407_HoldCollections/1.0/Response" targetNamespace="http://xmlns.kpn.com/EAI/fixed/0407_HoldCollections/1.0/Response" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="BODY">
    <xs:annotation>
      <xs:documentation>This is the BODY object for KPN EAI service number 0407 - HoldCollections version 1.0 Response message.</xs:documentation>
      <xs:documentation>Automatically generated schema for service:'HoldCollections', version:'1.0'</xs:documentation>
      <xs:documentation>Generated on 2008-06-19 10:23:35Z</xs:documentation>
      <xs:documentation>Service paradigm is intended to be Request/Response</xs:documentation>
      <xs:documentation>Service ID is:'0407'</xs:documentation>
      <xs:documentation>The body must always have MinOccurs=0 and MaxOccurs=1, by definition of KPN EAI AG. (For request messages this has no apparent benefit)</xs:documentation>
      <xs:documentation>KPN EAI message body class.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:annotation>
          <xs:documentation>Artificial sequence to separate.</xs:documentation>
        </xs:annotation>
        <xs:element minOccurs="1" maxOccurs="1" name="CONTROL_INFORMATION">
          <xs:complexType>
            <xs:sequence>
              <xs:annotation>
                <xs:documentation>Artificial sequence to separate.</xs:documentation>
              </xs:annotation>
              <xs:element minOccurs="1" maxOccurs="1" name="RESULT" type="xs:string">
                <xs:annotation>
                  <xs:documentation>Result of the suspend or resume action. Possible values: done or refused.</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="1" name="REMARKS" type="xs:string">
                <xs:annotation>
                  <xs:documentation>Relevant remarks or warnings.</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="1" name="HOLD_COLLECTION_ID" type="xs:integer">
                <xs:annotation>
                  <xs:documentation>ID of the hold collection. Make this field nillable.</xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>