ASTRIDAdapter/XSDSchemas/EnginAdapter/Response/GetDisturbance.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.kpn.com/fixed/EnginAdapter/Response/GetDisturbance.xsd"
	 targetNamespace = "http://xmlns.kpn.com/fixed/EnginAdapter/Response/GetDisturbance.xsd"
	 xmlns:EnginResponse.xsd = "http://xmlns.kpn.com/fixed/enginadapter/common/EnginResponse.xsd"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified">
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/enginadapter/common/EnginResponse.xsd" schemaLocation = "../Common/EnginResponse.xsd"/>
	<xsd:element name = "GetDisturbance">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base = "EnginResponse.xsd:EnginResponse">
					<xsd:sequence>
						<xsd:element name = "HDR_SW-0101" minOccurs = "0">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name = "AFZENDER_APPLICATIE" type = "xsd:string" minOccurs = "0"/>
									<xsd:element name = "AFZENDER_GEBRUIKER" type = "xsd:string" minOccurs = "0"/>
									<xsd:element name = "ONTVANGER_APPLICATIE" type = "xsd:string" minOccurs = "0"/>
									<xsd:element name = "BERICHT_TYPE" type = "xsd:string" minOccurs = "0"/>
									<xsd:element name = "FUNCTION_TYPE" type = "xsd:string" minOccurs = "0"/>
									<xsd:element name = "BERICHT_VERSIE" type = "xsd:integer" minOccurs = "0"/>
									<xsd:element name = "TRANSACTIE_ID" type = "xsd:string" minOccurs = "0"/>
									<xsd:element name = "DATUM_TIJD" type = "xsd:dateTime" minOccurs = "0"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name = "STATUS_S-0100" minOccurs = "0">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name = "RESULTAAT_CODE" type = "xsd:integer" minOccurs = "0"/>
									<xsd:element name = "RESULTAAT_TEKST" type = "xsd:string" minOccurs = "0"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name = "ANSLIM_S-0102" minOccurs = "0">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name = "AANTAL_ITEMS" type = "xsd:integer" minOccurs = "0"/>
									<xsd:element name = "TOTAAL_AANTAL_ITEMS" type = "xsd:integer" minOccurs = "0"/>
									<xsd:element name = "SLEUTEL_VOLGENDE_ITEM" type = "xsd:string" minOccurs = "0"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name = "Loop" minOccurs = "0" maxOccurs = "unbounded">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name = "VRST_A_S-0100" minOccurs = "0">
										<xsd:complexType>
											<xsd:sequence>
												<xsd:element name = "NETNUMMER" type = "xsd:string" minOccurs = "0"/>
												<xsd:element name = "ABONNEENUMMER" type = "xsd:string" minOccurs = "0"/>
												<xsd:element name = "DATUM_BEGINTIJDSTIP" type = "xsd:string" minOccurs = "0"/>
												<xsd:element name = "DATUM_EINDTIJDSTIP" type = "xsd:string" minOccurs = "0"/>
												<xsd:element name = "SERVICE_ID" type = "xsd:string" minOccurs = "0"/>
												<xsd:element name = "LIJNBENAMING" type = "xsd:string" minOccurs = "0"/>
												<xsd:element name = "MSN_J_N" type = "xsd:string" minOccurs = "0"/>
												<xsd:element name = "SOORT_NETWERK_ELEMENT" type = "xsd:string" minOccurs = "0"/>
												<xsd:element name = "SOORT_WERKZAAMHEDEN" type = "xsd:string" minOccurs = "0"/>
												<xsd:element name = "CENTRALEGEBIED" type = "xsd:string" minOccurs = "0"/>
												<xsd:element name = "GEPLAND___ONGEPLAND" type = "xsd:string" minOccurs = "0"/>
												<xsd:element name = "TOELICHTING" type = "xsd:string" minOccurs = "0"/>
												<xsd:element name = "ONDERBREKINGSDUUR_UREN" type = "xsd:string" minOccurs = "0"/>
												<xsd:element name = "ONDERBREKINGSDUUR_MINUTEN" type = "xsd:string" minOccurs = "0"/>
												<xsd:element name = "ONDERBREKINGSDUUR_SECONDEN" type = "xsd:string" minOccurs = "0"/>
												<xsd:element name = "HOST_KENMERK" type = "xsd:string" minOccurs = "0"/>
												<xsd:element name = "KANVAS_CENTRALE_WERK_PROJECT_NUMMER" type = "xsd:string" minOccurs = "0"/>
												<xsd:element name = "CODE_NETWERK_ELEMENT" type = "xsd:string" minOccurs = "0"/>
												<xsd:element name = "MANIPULATIEPUNT" type = "xsd:string" minOccurs = "0"/>
												<xsd:element name = "MANIPULATIEPUNT_HORIZONTAAL_VERTIKAAL" type = "xsd:string" minOccurs = "0"/>
												<xsd:element name = "MANIPULATIEPUNT_STIJL" type = "xsd:string" minOccurs = "0"/>
												<xsd:element name = "MANIPULATIEPUNT_CASSETTE" type = "xsd:string" minOccurs = "0"/>
												<xsd:element name = "MANIPULATIEPUNT_STIFT_LAAG" type = "xsd:string" minOccurs = "0"/>
												<xsd:element name = "MANIPULATIEPUNT_STIFT_HOOG" type = "xsd:string" minOccurs = "0"/>
												<xsd:element name = "DOORLASADER_HOOG" type = "xsd:string" minOccurs = "0"/>
												<xsd:element name = "DOORLASADER_LAAG" type = "xsd:string" minOccurs = "0"/>
												<xsd:element name = "PROJECTLEIDERNAAM" type = "xsd:string" minOccurs = "0"/>
												<xsd:element name = "PROJECTLEIDER_ADRES" type = "xsd:string" minOccurs = "0"/>
												<xsd:element name = "PROJECTLEIDER_HUISNUMMER" type = "xsd:string" minOccurs = "0"/>
												<xsd:element name = "PROJECTLEIDER_HUISNUMMER_TOEVOEGING" type = "xsd:string" minOccurs = "0"/>
												<xsd:element name = "PROJECTLEIDER_POSTCODE_NUMERIEK" type = "xsd:string" minOccurs = "0"/>
												<xsd:element name = "PROJECTLEIDER_POSTCODE_ALFANUMMERIEK" type = "xsd:string" minOccurs = "0"/>
												<xsd:element name = "PROJECTLEIDER_PLAATSNAAM" type = "xsd:string" minOccurs = "0"/>
												<xsd:element name = "PROJECTLEIDER_TELEFOON" type = "xsd:string" minOccurs = "0"/>
												<xsd:element name = "CONTACTPERSOON_NAAM" type = "xsd:string" minOccurs = "0"/>
												<xsd:element name = "CONTACTPERSOON_TELEFOONNUMMER" type = "xsd:string" minOccurs = "0"/>
												<xsd:element name = "Loop" minOccurs = "0" maxOccurs = "5">
													<xsd:complexType>
														<xsd:sequence>
															<xsd:element name = "VRST_B_S-0100" minOccurs = "0">
																<xsd:complexType>
																	<xsd:sequence>
																		<xsd:element name = "DATUM_BRIEF" type = "xsd:string" minOccurs = "0"/>
																		<xsd:element name = "BERICHT_OMSCHRIJVING" type = "xsd:string" minOccurs = "0"/>
																		<xsd:element name = "CONTRACTANT_VERZONDEN" type = "xsd:string" minOccurs = "0"/>
																		<xsd:element name = "CONTRACTANT_VERZONDEN_OMSCHRIJVING" type = "xsd:string" minOccurs = "0"/>
																		<xsd:element name = "GEBRUIKER_VERZONDEN" type = "xsd:string" minOccurs = "0"/>
																		<xsd:element name = "GEBRUIKER_VERZONDEN_OMSCHRIJVING" type = "xsd:string" minOccurs = "0"/>
																	</xsd:sequence>
																</xsd:complexType>
															</xsd:element>
														</xsd:sequence>
													</xsd:complexType>
												</xsd:element>
											</xsd:sequence>
										</xsd:complexType>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>