ASTRIDAdapter/XSDSchemas/EnginAdapter/Response/GetResolvingAgency.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.example.com/unique/default/namespace/1086802623578"
	 targetNamespace = "http://xmlns.example.com/unique/default/namespace/1086802623578"
	 xmlns:Base.xsd = "http://xmlns.kpn.com/common/cdm/Base.xsd"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 xmlns:ResultStatus.xsd = "http://xmlns.kpn.com/common/cdm/ResultStatus.xsd"
	 xmlns:Agency.xsd = "http://xmlns.example.com/unique/default/namespace/1086802629958">
	<xsd:import namespace = "http://xmlns.kpn.com/common/cdm/Base.xsd" schemaLocation = "../../Common/Base.xsd"/>
	<xsd:import namespace = "http://xmlns.kpn.com/common/cdm/ResultStatus.xsd" schemaLocation = "../../Common/ResultStatus.xsd"/>
	<xsd:import namespace = "http://xmlns.example.com/unique/default/namespace/1086802629958" schemaLocation = "../Common/Agency.xsd"/>
	<xsd:element name = "GetResolvingAgency">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base = "Base.xsd:Base">
					<xsd:sequence>
						<xsd:element name = "RESULT_STATUS" type = "ResultStatus.xsd:ResultStatus"/>
						<xsd:element name = "AGENCY" type = "Agency.xsd:Agency" minOccurs = "0" maxOccurs = "unbounded"/>
					</xsd:sequence>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>