WSDL_project/DesignModel/Common/XSDSchemas/Common/Currency.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.example.com/unique/default/namespace/1090935221812"
	 targetNamespace = "http://xmlns.example.com/unique/default/namespace/1090935221812"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified"
	 attributeFormDefault = "qualified">
	<xsd:element name = "AMOUNT" type = "xsd:string"/>
	<xsd:element name = "CURRENCY_CODE" type = "xsd:string"/>
	<xsd:complexType name = "Currency">
		<xsd:sequence>
			<xsd:element ref = "AMOUNT"/>
			<xsd:element ref = "CURRENCY_CODE"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>