WSDL_project/DesignModel/Common/XSDSchemas/Common/ERROR_CODE_Type.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v5 rel. 4 U (http://www.xmlspy.com) by rth77 (rth77) -->
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xs:schema targetNamespace="http://xmlns.kpn.com/mobile/m2c/cdm/ERROR_CODE_type.xsd" xmlns="http://xmlns.kpn.com/mobile/m2c/cdm/ERROR_CODE_type.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<!-- edited with XMLSPY v5 rel. 4 U (http://www.xmlspy.com) by rth77 (rth77) -->
	<xs:complexType name="Error_01-Service_not_available" block="restriction">
		<xs:simpleContent>
			<xs:extension base="xs:string"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="Error_02-Key_not_found_during_retrieval" block="restriction">
		<xs:simpleContent>
			<xs:extension base="xs:string"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="Error_03-Duplicate_key" block="restriction">
		<xs:simpleContent>
			<xs:extension base="xs:string"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="Error_04-Key_not_found_during_update" block="restriction">
		<xs:simpleContent>
			<xs:extension base="xs:string"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="Error_05-Key_not_found_during_delete" block="restriction">
		<xs:simpleContent>
			<xs:extension base="xs:string"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="Error_06-Invalid_Service_Request" block="restriction">
		<xs:simpleContent>
			<xs:extension base="xs:string"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="Error_07-Insert_failed" block="restriction">
		<xs:simpleContent>
			<xs:extension base="xs:string"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="Error_08-Update_failed" block="restriction">
		<xs:simpleContent>
			<xs:extension base="xs:string"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="Error_09-Non_specific_error" block="restriction">
		<xs:simpleContent>
			<xs:extension base="xs:string"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="Error_10-Backend_system_unavailable" block="restriction">
		<xs:simpleContent>
			<xs:extension base="xs:string"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="Error_11-Process_abandoned" block="restriction">
		<xs:simpleContent>
			<xs:extension base="xs:string"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="Error_12-Deletion_failed_because_of_data_conflict" block="restriction">
		<xs:simpleContent>
			<xs:extension base="xs:string"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="Error_13-Update_failed_because_of_data_conflict" block="restriction">
		<xs:simpleContent>
			<xs:extension base="xs:string"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="Error_14-Unauthorised_transaction" block="restriction">
		<xs:simpleContent>
			<xs:extension base="xs:string"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="Error_15-Unable_to_create_request_to_recipient_component" block="restriction">
		<xs:simpleContent>
			<xs:extension base="xs:string"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="Error_16-Unable_to_create_response_to_recipient_component" block="restriction">
		<xs:simpleContent>
			<xs:extension base="xs:string"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="Error_17-Unable_to_parse_request_to_recipient_component" block="restriction">
		<xs:simpleContent>
			<xs:extension base="xs:string"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="Error_18-Unable_to_parse_response_to_recipient_component" block="restriction">
		<xs:simpleContent>
			<xs:extension base="xs:string"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="Error_19-Maximum_number_of_items_in_request_exceeded" block="restriction">
		<xs:simpleContent>
			<xs:extension base="xs:string"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="Error_20-Invalid_field_value" block="restriction">
		<xs:simpleContent>
			<xs:extension base="xs:string"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="Error_21-Lookup_failure" block="restriction">
		<xs:simpleContent>
			<xs:extension base="xs:string"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="Error_22-Syntax_or_internal_error" block="restriction">
		<xs:simpleContent>
			<xs:extension base="xs:string"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="Error_23-Not_authorized_for_source_system" block="restriction">
		<xs:simpleContent>
			<xs:extension base="xs:string"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="Error_XXXX-Non_canonical_error" block="restriction">
		<xs:simpleContent>
			<xs:extension base="xs:string"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="Error_Types">
		<xs:choice>
			<xs:element name="Error_01-Service_not_available" type="Error_01-Service_not_available" minOccurs="0"/>
			<xs:element name="Error_02-Key_not_found_during_retrieval" type="Error_02-Key_not_found_during_retrieval" minOccurs="0"/>
			<xs:element name="Error_03-Duplicate_key" type="Error_03-Duplicate_key" minOccurs="0"/>
			<xs:element name="Error_04-Key_not_found_during_update" type="Error_04-Key_not_found_during_update" minOccurs="0"/>
			<xs:element name="Error_05-Key_not_found_during_delete" type="Error_05-Key_not_found_during_delete" minOccurs="0"/>
			<xs:element name="Error_06-Invalid_Service_Request" type="Error_06-Invalid_Service_Request" minOccurs="0"/>
			<xs:element name="Error_07-Insert_failed" type="Error_07-Insert_failed" minOccurs="0"/>
			<xs:element name="Error_08-Update_failed" type="Error_08-Update_failed" minOccurs="0"/>
			<xs:element name="Error_09-Non_specific_error" type="Error_09-Non_specific_error" minOccurs="0"/>
			<xs:element name="Error_10-Backend_system_unavailable" type="Error_10-Backend_system_unavailable" minOccurs="0"/>
			<xs:element name="Error_11-Process_abandoned" type="Error_11-Process_abandoned" minOccurs="0"/>
			<xs:element name="Error_12-Deletion_failed_because_of_data_conflict" type="Error_12-Deletion_failed_because_of_data_conflict" minOccurs="0"/>
			<xs:element name="Error_13-Update_failed_because_of_data_conflict" type="Error_13-Update_failed_because_of_data_conflict" minOccurs="0"/>
			<xs:element name="Error_14-Unauthorised_transaction" type="Error_14-Unauthorised_transaction" minOccurs="0"/>
			<xs:element name="Error_15-Unable_to_create_request_to_recipient_component" type="Error_15-Unable_to_create_request_to_recipient_component" minOccurs="0"/>
			<xs:element name="Error_16-Unable_to_create_response_to_recipient_component" type="Error_16-Unable_to_create_response_to_recipient_component" minOccurs="0"/>
			<xs:element name="Error_17-Unable_to_parse_request_to_recipient_component" type="Error_17-Unable_to_parse_request_to_recipient_component" minOccurs="0"/>
			<xs:element name="Error_18-Unable_to_parse_response_to_recipient_component" type="Error_18-Unable_to_parse_response_to_recipient_component" minOccurs="0"/>
			<xs:element name="Error_19-Maximum_number_of_items_in_request_exceeded" type="Error_19-Maximum_number_of_items_in_request_exceeded" minOccurs="0"/>
			<xs:element name="Error_20-Invalid_field_value" type="Error_20-Invalid_field_value" minOccurs="0"/>
			<xs:element name="Error_21-Lookup_failure" type="Error_21-Lookup_failure" minOccurs="0"/>
			<xs:element name="Error_22-Syntax_or_internal_error" type="Error_22-Syntax_or_internal_error" minOccurs="0"/>
			<xs:element name="Error_23-Not_authorized_for_source_system" type="Error_23-Not_authorized_for_source_system" minOccurs="0"/>
			<xs:element name="Error_XXXX-Non_canonical_error" type="Error_XXXX-Non_canonical_error" minOccurs="0"/>
		</xs:choice>
	</xs:complexType>
</xs:schema>
