WSDL_project/DesignModel/Common/XSDSchemas/Common/ProcessPropertyType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v5 rel. 4 U (http://www.xmlspy.com) by rth77 (rth77) -->
<!-- Mit XMLSpy v2007 rel. 3 sp1 (http://www.altova.com) von Stefan Haas (KPN Telecom) bearbeitet -->
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="qualified">
	<!-- Mit XMLSpy v2007 rel. 3 sp1 (http://www.altova.com) von Stefan Haas (KPN Telecom) bearbeitet -->
	<xsd:simpleType name="VisibilityPropertyType">
		<xsd:annotation>
			<xsd:documentation>Visibility tag</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Public"/>
			<xsd:enumeration value="Private"/>
			<xsd:enumeration value="Protected"/>
			<xsd:enumeration value="Removed"/>
			<xsd:enumeration value="n/a"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="YesNoPropertyType">
		<xsd:annotation>
			<xsd:documentation>Yes / No</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Yes"/>
			<xsd:enumeration value="No"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="InteractionPropertyType">
		<xsd:annotation>
			<xsd:documentation>Interaction tag</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Synchronous"/>
			<xsd:enumeration value="Asynchronous"/>
			<xsd:enumeration value="Partially Synchronous"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ModelStatusType">
		<xsd:annotation>
			<xsd:documentation>DM Status tag</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Documentation"/>
			<xsd:enumeration value="Stub"/>
			<xsd:enumeration value="Functional"/>
			<xsd:enumeration value="Operable"/>
			<xsd:enumeration value="Testable"/>
			<xsd:enumeration value="Partial Stub"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="DomainPropertyType">
		<xsd:annotation>
			<xsd:documentation>Global domains</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="CRM"/>
			<xsd:enumeration value="SRMO"/>
			<xsd:enumeration value="Billing"/>
			<xsd:enumeration value="EM"/>
			<xsd:enumeration value="EAI"/>
			<xsd:enumeration value="M2C"/>
			<xsd:enumeration value="Other"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ParadigmPropertyType">
		<xsd:annotation>
			<xsd:documentation>Messaging paradigms</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="RequestReply"/>
			<xsd:enumeration value="PublishSubscibe"/>
			<xsd:enumeration value="Other"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="SAPropertyType">
		<xsd:annotation>
			<xsd:documentation>Service availability categories</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="12x5"/>
			<xsd:enumeration value="24x7"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:element name="ProcessProperties">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="LastDesigner" type="xsd:string"/>
				<xsd:element name="LastUpdate" type="xsd:date"/>
				<xsd:element name="DesignVersionNumber" type="xsd:string" minOccurs="0"/>
				<xsd:element name="Properties" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>extended for UniDoc</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="ID" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Visibility" type="VisibilityPropertyType"/>
							<xsd:element name="Deprecated" type="YesNoPropertyType"/>
							<xsd:element name="Paradigm" type="ParadigmPropertyType" minOccurs="0"/>
							<xsd:element name="Interaction" type="InteractionPropertyType"/>
							<xsd:element name="SOx_Sensitive" type="YesNoPropertyType"/>
							<xsd:element name="Deprecated_Name" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Replacement_Name" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ModelStatus" type="ModelStatusType"/>
							<xsd:element name="Backend_Service_Name" type="xsd:string" minOccurs="0"/>
							<xsd:element name="M1C_Service_Name" type="xsd:string" minOccurs="0"/>
							<xsd:element name="RequestSubject" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ResponseSubject" type="xsd:string" minOccurs="0"/>
							<xsd:element name="MonitorSubject" type="xsd:string" minOccurs="0"/>
							<xsd:element name="OtherSubjectList" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="Name" type="xsd:string"/>
										<xsd:element name="Value" type="xsd:string"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="FunctionalRequirements" minOccurs="0">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="Pre-conditions" type="xsd:string" minOccurs="0"/>
										<xsd:element name="VersionInformation" minOccurs="0" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="Version" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Description" type="xsd:string" minOccurs="0"/>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="BusinessAreas" minOccurs="0">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="Domain">
														<xsd:complexType>
															<xsd:simpleContent>
																<xsd:extension base="DomainPropertyType">
																	<xsd:attribute name="Number" type="xsd:integer" use="optional"/>
																</xsd:extension>
															</xsd:simpleContent>
														</xsd:complexType>
													</xsd:element>
													<xsd:element name="SubDomain">
														<xsd:complexType>
															<xsd:simpleContent>
																<xsd:extension base="xsd:string">
																	<xsd:attribute name="Number" use="optional">
																		<xsd:simpleType>
																			<xsd:restriction base="xsd:integer">
																				<xsd:pattern value="[0-9][0-9][0-9][0-9]"/>
																			</xsd:restriction>
																		</xsd:simpleType>
																	</xsd:attribute>
																</xsd:extension>
															</xsd:simpleContent>
														</xsd:complexType>
													</xsd:element>
													<xsd:element name="Provider" type="xsd:string" minOccurs="0"/>
													<xsd:element name="Requestor" type="xsd:string" minOccurs="0"/>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="Reusability" default="Yes" minOccurs="0">
											<xsd:complexType>
												<xsd:simpleContent>
													<xsd:extension base="YesNoPropertyType">
														<xsd:attribute name="description" use="optional"/>
													</xsd:extension>
												</xsd:simpleContent>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="NonFunctionalRequirements" minOccurs="0">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="MessageSize" type="xsd:string" default="small" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>Expect size in kBytes, smal is less than 100 kB</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="MaximumContinuousFrequency" type="xsd:string" default="1000/day" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>Typical number of invocations per day</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="PeakFrequency" type="xsd:string" default="100/min" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>Physical limit of invocations per minute</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="AverageResponseTime" type="xsd:string" default="1000" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>Typcally expected time in msec</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="MaxResponseTime" type="xsd:string" default="60000" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>Maximally expectable time in msec</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="ReSendAbility" minOccurs="0">
											<xsd:complexType>
												<xsd:simpleContent>
													<xsd:extension base="YesNoPropertyType">
														<xsd:attribute name="description" use="optional"/>
													</xsd:extension>
												</xsd:simpleContent>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="MultiThreaded" type="YesNoPropertyType" default="Yes" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>Service may use multi threading</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="SpecialOerationsRequirements" minOccurs="0">
											<xsd:complexType>
												<xsd:simpleContent>
													<xsd:extension base="YesNoPropertyType">
														<xsd:attribute name="description" use="optional"/>
													</xsd:extension>
												</xsd:simpleContent>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="ServiceAvailability" default="12x5" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>12x5 - 7-19h online, 0.30h - 2h batch</xsd:documentation>
											</xsd:annotation>
											<xsd:complexType>
												<xsd:simpleContent>
													<xsd:extension base="SAPropertyType">
														<xsd:attribute name="description" use="optional"/>
													</xsd:extension>
												</xsd:simpleContent>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="SpecialLogging" default="No" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>Requirements beyond standard logging</xsd:documentation>
											</xsd:annotation>
											<xsd:complexType>
												<xsd:simpleContent>
													<xsd:extension base="YesNoPropertyType">
														<xsd:attribute name="description" use="optional"/>
													</xsd:extension>
												</xsd:simpleContent>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="FaultTolerance" default="No" minOccurs="0">
											<xsd:complexType>
												<xsd:simpleContent>
													<xsd:extension base="xsd:string">
														<xsd:attribute name="description" use="optional"/>
													</xsd:extension>
												</xsd:simpleContent>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="Persistence" default="No" minOccurs="0">
											<xsd:complexType>
												<xsd:simpleContent>
													<xsd:extension base="YesNoPropertyType">
														<xsd:attribute name="description" use="optional"/>
													</xsd:extension>
												</xsd:simpleContent>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="TransactionalBehaviour" default="No" minOccurs="0">
											<xsd:complexType>
												<xsd:simpleContent>
													<xsd:extension base="YesNoPropertyType">
														<xsd:attribute name="description" use="optional"/>
													</xsd:extension>
												</xsd:simpleContent>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="Recovery" default="Yes" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>Service needs to be recovered. If the request is lost, the application needs to re-send it</xsd:documentation>
											</xsd:annotation>
											<xsd:complexType>
												<xsd:simpleContent>
													<xsd:extension base="YesNoPropertyType">
														<xsd:attribute name="description" use="optional"/>
														<xsd:attribute name="timing"/>
													</xsd:extension>
												</xsd:simpleContent>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="SecurityDetails" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Deviations from "no-security" default</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="Authentication" default="No" minOccurs="0">
											<xsd:complexType>
												<xsd:simpleContent>
													<xsd:extension base="YesNoPropertyType">
														<xsd:attribute name="description" use="optional" default="No"/>
													</xsd:extension>
												</xsd:simpleContent>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="Authorization" default="No" minOccurs="0">
											<xsd:complexType>
												<xsd:simpleContent>
													<xsd:extension base="YesNoPropertyType">
														<xsd:attribute name="description" use="optional" default="No"/>
													</xsd:extension>
												</xsd:simpleContent>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="DataEncryptionAndTransportSecurity" default="No" minOccurs="0">
											<xsd:complexType>
												<xsd:simpleContent>
													<xsd:extension base="YesNoPropertyType">
														<xsd:attribute name="description" use="optional" default="No"/>
													</xsd:extension>
												</xsd:simpleContent>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="AuditTrail" default="No" minOccurs="0">
											<xsd:complexType>
												<xsd:simpleContent>
													<xsd:extension base="YesNoPropertyType">
														<xsd:attribute name="description" use="optional" default="No"/>
													</xsd:extension>
												</xsd:simpleContent>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="References" minOccurs="0">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="Reference" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="ID" type="xsd:string"/>
										<xsd:element name="Filename" type="xsd:string"/>
										<xsd:element name="Description" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Version" type="xsd:string" minOccurs="0"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="ValidationStatus" minOccurs="0">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="GenericList">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="AllMappingsCorrect" type="xsd:boolean"/>
										<xsd:element name="AnnotationsProvidedToAllElements" type="xsd:boolean"/>
										<xsd:element name="ChangeHistoryUpdated" type="xsd:boolean"/>
										<xsd:element name="CheckedMessagesAgainstXSDs" type="xsd:boolean"/>
										<xsd:element name="DescriptionMatchesSchemas" type="xsd:boolean"/>
										<xsd:element name="DesignModelErrorFree" type="xsd:boolean"/>
										<xsd:element name="ImageGenerated" type="xsd:boolean"/>
										<xsd:element name="NoMissingHTMLTagsInDescriptions" type="xsd:boolean"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="StartNodeList">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="FeatureListFilledIn" type="xsd:boolean"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="ProcessNodeList">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="AllErrorsMapped" type="xsd:boolean"/>
										<xsd:element name="MappingsValidatedForOptionalOrMandatoryFields" type="xsd:boolean"/>
										<xsd:element name="NoComplexMappings" type="xsd:boolean"/>
										<xsd:element name="OneErrorListPerProcessStep" type="xsd:boolean"/>
										<xsd:element name="ProcessNamesContainVersionNumber" type="xsd:boolean"/>
										<xsd:element name="ReferencesChecked" type="xsd:boolean"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="EndNodeList">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="ErrorListPresent" type="xsd:boolean"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="ErrorNodeList">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="AllApplicableErrorsExplained" type="xsd:boolean"/>
										<xsd:element name="DifferentNodePerProcessStep" type="xsd:boolean"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="Comments" minOccurs="0" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:documentation>Optional list of augmentation comments</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="Author" type="xsd:string"/>
							<xsd:element name="Date" type="xsd:date"/>
							<xsd:element name="Topic" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Note" type="xsd:string"/>
							<xsd:element name="Status">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:enumeration value="Raised"/>
										<xsd:enumeration value="Fixed"/>
										<xsd:enumeration value="Closed"/>
										<xsd:enumeration value="In Progress"/>
										<xsd:enumeration value="Rejected"/>
										<xsd:enumeration value="Deferred"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="UpdateList" minOccurs="0">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="Update" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="Updater" type="xsd:string"/>
													<xsd:element name="Date" type="xsd:date"/>
													<xsd:element name="Note" type="xsd:string"/>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:simpleType name="DomainNumberType" final="restriction">
		<xsd:annotation>
			<xsd:documentation>Global domain numbers</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:integer">
			<xsd:pattern value="[1-6]"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>
