WSDL_project/DesignModel/Common/XSDSchemas/Common/PRODUCT.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.kpn.com/mobile/m2c/cdm/product.xsd"
	 targetNamespace = "http://xmlns.kpn.com/mobile/m2c/cdm/product.xsd"
	 xmlns:CustomTypes.xsd = "http://xmlns.kpn.com/mobile/m2c/cdm/customtypes.xsd"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 version = "CDM_00.00.01"
	 elementFormDefault = "qualified"
	 attributeFormDefault = "qualified">
	<xsd:import namespace = "http://xmlns.kpn.com/mobile/m2c/cdm/customtypes.xsd" schemaLocation = "CustomTypes.xsd"/>
	<xsd:element name = "PRODUCT_ID" type = "xsd:string"/>
	<xsd:element name = "DESCRIPTION" type = "xsd:string"/>
	<xsd:element name = "SOLD_START_DATE" type = "xsd:dateTime"/>
	<xsd:element name = "SOLD_END_DATE" type = "xsd:dateTime"/>
	<xsd:element name = "BILLING_DATE" type = "xsd:dateTime"/>
	<xsd:element name = "PRICE" type = "CustomTypes.xsd:CurrencyType"/>
	<xsd:element name = "PRODUCT_TYPE" type = "xsd:string"/>
	<xsd:element name = "PRODUCT_SUBTYPE_1" type = "xsd:string"/>
	<xsd:element name = "PRODUCT_SUBTYPE_2" type = "xsd:string"/>
	<xsd:element name = "PRODUCT_SUBTYPE_3" type = "xsd:string"/>
	<xsd:complexType name = "PRODUCT">
		<xsd:sequence>
			<xsd:element ref = "BILLING_DATE" minOccurs = "0"/>
			<xsd:element ref = "DESCRIPTION" minOccurs = "0"/>
			<xsd:element ref = "PRICE" minOccurs = "0"/>
			<xsd:element ref = "PRODUCT_ID" minOccurs = "0"/>
			<xsd:element ref = "PRODUCT_SUBTYPE_1" minOccurs = "0"/>
			<xsd:element ref = "PRODUCT_SUBTYPE_2" minOccurs = "0"/>
			<xsd:element ref = "PRODUCT_SUBTYPE_3" minOccurs = "0"/>
			<xsd:element ref = "PRODUCT_TYPE" minOccurs = "0"/>
			<xsd:element ref = "SOLD_END_DATE" minOccurs = "0"/>
			<xsd:element ref = "SOLD_START_DATE" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>