WSDL_project/DesignModel/Common/XSDSchemas/Common/ResultStatus.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://xmlns.example.com/unique/default/namespace/1084716567111"
targetNamespace="http://xmlns.example.com/unique/default/namespace/1084716567111">
    <xsd:complexType name="ResultStatus">
        <xsd:attribute name="STATUS" type="xsd:integer" use="required"/>
        <xsd:attribute name="ERROR_CODE" type="xsd:string"/>
        <xsd:attribute name="ERROR_DESCRIPTION" type="xsd:string"/>
    </xsd:complexType>
</xsd:schema>
