WSDL_project/DesignModel/Common/XSDSchemas/Common/USER_GROUP.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.kpn.com/mobile/m2c/cdm/user_group.xsd"
	 targetNamespace = "http://xmlns.kpn.com/mobile/m2c/cdm/user_group.xsd"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 version = "CDM_00.00.01"
	 elementFormDefault = "qualified"
	 attributeFormDefault = "qualified">
	<xsd:element name = "USER_GROUP_NR" type = "xsd:string"/>
	<xsd:element name = "USER_GROUP_REF" type = "xsd:string"/>
	<xsd:complexType name = "USER_GROUP">
		<xsd:sequence>
			<xsd:element ref = "USER_GROUP_NR"/>
			<xsd:element ref = "USER_GROUP_REF"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>