EDTAdapter/XSDSchemas/ASTRIDAdapter/Response/CloseIncident.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.kpn.com/fixed/ASTRIDAdapter/Response/CloseIncident.xsd"
	 targetNamespace = "http://xmlns.kpn.com/fixed/ASTRIDAdapter/Response/CloseIncident.xsd"
	 xmlns:HDR-SW-0101.xsd = "http://xmlns.kpn.com/fixed/ASTRIDAdapter/common/HDR-SW-0101.xsd"
	 xmlns:STATUS_S-0100.xsd = "http://xmlns.kpn.com/fixed/ASTRIDAdapter/common/STATUS_S-0100.xsd"
	 xmlns:IDENT_S-0101.xsd = "http://xmlns.kpn.com/fixed/ASTRIDAdapter/common/IDENT_S-0101.xsd"
	 xmlns:ASTRIDResponse.xsd = "http://xmlns.kpn.com/fixed/ASTRIDAdapter/common/ASTRIDResponse.xsd"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified">
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/ASTRIDAdapter/common/HDR-SW-0101.xsd" schemaLocation = "../Common/HDR-SW-0101.xsd"/>
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/ASTRIDAdapter/common/STATUS_S-0100.xsd" schemaLocation = "../Common/STATUS_S-0100.xsd"/>
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/ASTRIDAdapter/common/IDENT_S-0101.xsd" schemaLocation = "../Common/IDENT_S-0101.xsd"/>
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/ASTRIDAdapter/common/ASTRIDResponse.xsd" schemaLocation = "../Common/ASTRIDResponse.xsd"/>
	<xsd:element name = "CloseIncident">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base = "ASTRIDResponse.xsd:ASTRIDResponse">
					<xsd:sequence>
						<xsd:element name="ENGIN">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name = "HDR-SW-0101" type = "HDR-SW-0101.xsd:HDR-SW-0101" minOccurs = "0"/>
									<xsd:element name = "STATUS_S-0100" type = "STATUS_S-0100.xsd:STATUS_S-0100" minOccurs = "0"/>
									<xsd:element name = "IDENT_S-0101" type = "IDENT_S-0101.xsd:IDENT_S-0101" minOccurs = "0"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>