GenericSOAPGateway/XSDSchemas/KanvasAdapter/Request/GetPhoneNumberDetails_2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns="http://xmlns.kpn.com/fixed/KanvasAdapter/Request/GetPhoneNumberDetails_2.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:KanvasRequest.xsd="http://xmlns.kpn.com/fixed/KanvasAdapter/common/KanvasRequest.xsd" targetNamespace="http://xmlns.kpn.com/fixed/KanvasAdapter/Request/GetPhoneNumberDetails_2.xsd" elementFormDefault="qualified">
	<xsd:import namespace="http://xmlns.kpn.com/fixed/KanvasAdapter/common/KanvasRequest.xsd" schemaLocation="../Common/KanvasRequest.xsd"/>
	<xsd:element name="GetPhoneNumberDetails">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="KanvasRequest.xsd:KanvasRequest">
					<xsd:sequence>
						<xsd:element name="CURRENT_OR_FUTURE_FLAG" type="xsd:string" minOccurs="0"/>
						<xsd:element name="PHONE_NUMBER" type="PhoneNumber"/>
					</xsd:sequence>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="PhoneNumber">
		<xsd:sequence>
			<xsd:element name="AREA_CODE" type="xsd:string"/>
			<xsd:element name="SUBSCRIBER_NUMBER" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
