Common/Common/Shared Resources/Errors.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.kpn.com/eai/common/errors"
	 targetNamespace = "http://xmlns.kpn.com/eai/common/errors"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 xmlns:tns = "http://www.tibco.com/pe/EngineTypes"
	 elementFormDefault = "qualified">
	<xsd:import namespace = "http://www.tibco.com/pe/EngineTypes" schemaLocation = "PEPlugins.xsd"/>
	<xsd:element name = "Errors">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "Error" maxOccurs = "unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "Error" type = "ErrorType"/>
	<xsd:element name = "ErrorReply" type = "ErrorReplyType"/>
	<xsd:complexType name = "ErrorType">
		<!--xsd:element name = "ErrorReport" type = "tns:ErrorReport" minOccurs = "0"/-->
		<xsd:sequence>
			<xsd:element name = "MsgCode" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "Params" type = "xsd:string" minOccurs = "0" maxOccurs = "unbounded"/>
			<xsd:element name = "MsgId" type = "xsd:string" minOccurs = "0"/>
			<xsd:element ref = "tns:ErrorReport" minOccurs = "0"/>
			<xsd:element name = "ActivityError" type = "xsd:anyType" minOccurs = "0"/>
			<xsd:element name = "ApplicationError" type = "xsd:anyType" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name = "ErrorReplyType">
		<xsd:sequence>
			<xsd:element name = "Body" minOccurs = "0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:any namespace = "##any" processContents = "strict"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element ref = "Errors"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>