Common/Common/Shared Resources/PEPlugins.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<schema xmlns = "http://www.w3.org/2001/XMLSchema"
	 targetNamespace = "http://www.tibco.com/pe/EngineTypes"
	 xmlns:tns = "http://www.tibco.com/pe/EngineTypes"
	 xmlns:xs = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified"
	 attributeFormDefault = "unqualified">
	<complexType name = "ErrorReport"
		 block = "restriction extension"
		 final = "restriction extension">
		<sequence>
			<element name = "StackTrace" type = "string" form = "unqualified"
				 block = "restriction extension substitution"/>
			<element name = "Msg" type = "string" form = "unqualified"
				 block = "restriction extension substitution"/>
			<element name = "FullClass" type = "string" form = "unqualified"
				 block = "restriction extension substitution"/>
			<element name = "Class" type = "string" form = "unqualified"
				 block = "restriction extension substitution"/>
			<element name = "ProcessStack" type = "string" form = "unqualified"
				 block = "restriction extension substitution"/>
			<element name = "MsgCode" type = "string" form = "unqualified"
				 block = "restriction extension substitution" minOccurs = "0"/>
			<element name = "Data" type = "tns:anydata" form = "unqualified"
				 block = "restriction extension substitution" minOccurs = "0"/>
		</sequence>
	</complexType>
	<complexType name = "ProcessContext"
		 block = "restriction extension"
		 final = "restriction extension">
		<sequence>
			<element name = "ProcessId" type = "long" form = "unqualified"
				 block = "restriction extension substitution"/>
			<element name = "ProjectName" type = "string" form = "unqualified"
				 block = "restriction extension substitution"/>
			<element name = "EngineName" type = "string" form = "unqualified"
				 block = "restriction extension substitution"/>
			<element name = "RestartedFromCheckpoint" type = "boolean" form = "unqualified"
				 block = "restriction extension substitution"/>
			<element name = "TrackingInfo" type = "string" form = "unqualified"
				 block = "restriction extension substitution" minOccurs = "0" maxOccurs = "unbounded"/>
			<element name = "CustomId" type = "string" form = "unqualified"
				 block = "restriction extension substitution" minOccurs = "0"/>
		</sequence>
	</complexType>
	<complexType name = "anydata"
		 block = "restriction extension"
		 final = "restriction extension">
		<sequence>
			<any namespace = "##any" processContents = "skip"/>
		</sequence>
	</complexType>
	<element name = "ErrorReport" type = "tns:ErrorReport"
		 block = "restriction extension substitution"
		 final = "restriction extension"/>
	<element name = "ProcessContext" type = "tns:ProcessContext"
		 block = "restriction extension substitution"
		 final = "restriction extension"/>
</schema>