GenericSOAPGateway/XSDSchemas/GenericSOAPGateway/Request/0003_AddCustomerReference_2.0_Request_EAI_BUS_SIDE.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://xmlns.kpn.com/EAI/fixed/0003_AddCustomerReference/2.0/Request" targetNamespace="http://xmlns.kpn.com/EAI/fixed/0003_AddCustomerReference/2.0/Request" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="centralCustomerId_type">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z,0-9]{8}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="employeeLoginName_type">
    <xs:restriction base="xs:string">
      <xs:maxLength value="25"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ckrApplicationid_type">
    <xs:restriction base="xs:string">
      <xs:maxLength value="3"/>
      <xs:minLength value="1"/>
    </xs:restriction>
  </xs:simpleType>
<xs:simpleType name="customerRole_type">
    <xs:annotation>
      <xs:documentation>Mandatory</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:annotation>
        <xs:documentation>DEFINITIONS:
The Customer Role further specifies the role of a customer. There is a limited number of possible roles for a customer.

TYPE:
String(2) enumeration

VALUES:
- "??" for payment agent
- "??" for contract owner
- "??" for user
- "??" for ???


NOTES:
- Valid values need to be added to this definition.</xs:documentation>
        <xs:documentation>Default value is:''</xs:documentation>
        <xs:documentation>Size limitation taken from API side, since EAI definition did not have one.</xs:documentation>
      </xs:annotation>
      <xs:maxLength value="2"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="externalCustomerReference_type">
    <xs:restriction base="xs:string">
      <xs:maxLength value="20"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="BODY">
    <xs:annotation>
      <xs:documentation>KPN EAI message body class.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:annotation>
          <xs:documentation>Artificial sequence to separate.</xs:documentation>
        </xs:annotation>
        <xs:element minOccurs="0" maxOccurs="1" name="CUSTOMER_REFERENCE">
          <xs:annotation>
            <xs:documentation>CDM CLASS
ExternalCustomerReference
</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:annotation>
                <xs:documentation>Artificial sequence to separate.</xs:documentation>
              </xs:annotation>
              <xs:element minOccurs="1" maxOccurs="1" name="EXTERNAL_CUSTOMER_REFERENCE">
                <xs:complexType>
                  <xs:sequence>
                    <xs:annotation>
                      <xs:documentation>Artificial sequence to separate.</xs:documentation>
                    </xs:annotation>
                    <xs:element minOccurs="1" maxOccurs="1" name="REF_NAME" type="tns:externalCustomerReference_type">
                      <xs:annotation>
                        <xs:documentation>Mandatory</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
			  <xs:element minOccurs="1" maxOccurs="1" name="ROLE" type="tns:customerRole_type">
                <xs:annotation>
                  <xs:documentation>Mandatory</xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="1" maxOccurs="1" name="CENTRAL_CUSTOMER_ID" type="tns:centralCustomerId_type"/>
       <xs:element minOccurs="0" maxOccurs="1" default="N" name="IS_UNLISTED" type="xs:string">
          <xs:annotation>
            <xs:documentation>DEFINITIONS:
This flag specifies whether the customer's reference is actually an unlisted phone number.</xs:documentation>
            <xs:documentation>Default (autogenerated) min and max occurs values.</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>