GenericSOAPGateway/XSDSchemas/GenericSOAPGateway/Request/0004_RemoveAllCustomerReferences_2.0_Request_EAI_BUS_SIDE.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://xmlns.kpn.com/EAI/fixed/0004_RemoveAllCustomerReferences/2.0/Request" targetNamespace="http://xmlns.kpn.com/EAI/fixed/0004_RemoveAllCustomerReferences/2.0/Request" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="externalCustomerReference_type">
    <xs:annotation>
      <xs:documentation>Mandatory</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="20" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="BODY">
    <xs:annotation>
      <xs:documentation>This is the BODY object for KPN EAI service number 0004 - RemoveAllCustomerReferences version 2.0 Request message.</xs:documentation>
      <xs:documentation>Automatically generated schema for service:'RemoveAllCustomerReferences', version:'2.0'</xs:documentation>
      <xs:documentation>Generated on 2007-03-23 13:50:29Z</xs:documentation>
      <xs:documentation>Service paradigm is intended to be Request/Response</xs:documentation>
      <xs:documentation>Service ID is:'0004'</xs:documentation>
      <xs:documentation>The body must always have MinOccurs=0 and MaxOccurs=1, by definition of KPN EAI AG. (For request messages this has no apparent benefit)</xs:documentation>
      <xs:documentation>KPN EAI message body class.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:annotation>
          <xs:documentation>Artificial sequence to separate.</xs:documentation>
        </xs:annotation>
        <xs:element minOccurs="1" maxOccurs="1" name="EXTERNAL_CUSTOMER_REFERENCE">
          <xs:complexType>
            <xs:sequence>
              <xs:annotation>
                <xs:documentation>Artificial sequence to separate.</xs:documentation>
              </xs:annotation>
              <xs:element minOccurs="1" maxOccurs="1" name="REF_NAME" type="tns:externalCustomerReference_type">
                <xs:annotation>
                  <xs:documentation>Mandatory</xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>