GenericSOAPGateway/XSDSchemas/GenericSOAPGateway/Request/0011_GetWorkorders_1.0_Request_EAI_BUS_SIDE.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://xmlns.kpn.com/EAI/fixed/0011_GetWorkorders/1.0/Request" targetNamespace="http://xmlns.kpn.com/EAI/fixed/0011_GetWorkorders/1.0/Request" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="centralCustomerId_type">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z,0-9]{8}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ckrApplicationid_type">
    <xs:annotation>
      <xs:documentation>NOTES:
This attribute is present in all CKR transactions and used for (among other things) cross-billing &amp; authentication purposes.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="3" />
      <xs:minLength value="1" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="BODY">
    <xs:annotation>
      <xs:documentation>This is the BODY object for KPN EAI service number 0011 - GetWorkorders version 1.0 Request message.</xs:documentation>
      <xs:documentation>Automatically generated schema for service:'GetWorkorders', version:'1.0'</xs:documentation>
      <xs:documentation>Generated on 2007-04-16 16:21:32Z</xs:documentation>
      <xs:documentation>Service paradigm is intended to be Request/Response</xs:documentation>
      <xs:documentation>Service ID is:'0011'</xs:documentation>
      <xs:documentation>The body must always have MinOccurs=0 and MaxOccurs=1, by definition of KPN EAI AG. (For request messages this has no apparent benefit)</xs:documentation>
      <xs:documentation>CDM CLASS:
&lt;i&gt;not based on a class&lt;/i&gt;</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:annotation>
          <xs:documentation>Artificial sequence to separate.</xs:documentation>
        </xs:annotation>
        <xs:element minOccurs="1" maxOccurs="1" name="CENTRAL_CUSTOMER_ID" type="tns:centralCustomerId_type" />
        <xs:element minOccurs="1" maxOccurs="1" name="APPLICATION_ID" type="tns:ckrApplicationid_type">
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>