GenericSOAPGateway/XSDSchemas/GenericSOAPGateway/Request/0027_GetDistrictCode_1.0_Request_EAI_BUS_SIDE.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://xmlns.kpn.com/EAI/fixed/0027_GetDistrictCode/1.0/Request" targetNamespace="http://xmlns.kpn.com/EAI/fixed/0027_GetDistrictCode/1.0/Request" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="centralAreaCode_type">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{6}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="dutchPostcode_type">
    <xs:restriction base="xs:string">
      <xs:pattern value="\d{4}[a-zA-Z]{2}" />
      <xs:length value="6" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="houseNumber_type">
    <xs:restriction base="xs:string">
      <xs:maxLength value="5" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="phoneNumberAreaCode_type">
    <xs:restriction base="xs:string">
      <xs:maxLength value="5" />
      <xs:pattern value="\d*" />
      <xs:whiteSpace value="collapse" />
      <xs:minLength value="0" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="BODY">
    <xs:annotation>
      <xs:documentation>This is the BODY object for KPN EAI service number 0027 - GetDistrictCode version 1.0 Request message.</xs:documentation>
      <xs:documentation>Automatically generated schema for service:'GetDistrictCode', version:'1.0'</xs:documentation>
      <xs:documentation>Generated on 2007-03-23 13:11:31Z</xs:documentation>
      <xs:documentation>Service paradigm is intended to be Request/Response</xs:documentation>
      <xs:documentation>Service ID is:'0027'</xs:documentation>
      <xs:documentation>The body must always have MinOccurs=0 and MaxOccurs=1, by definition of KPN EAI AG. (For request messages this has no apparent benefit)</xs:documentation>
      <xs:documentation>KPN EAI message body class.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:annotation>
          <xs:documentation>Artificial sequence to separate.</xs:documentation>
        </xs:annotation>
        <xs:element minOccurs="0" maxOccurs="1" name="PHONE_NUMBER">
          <xs:complexType>
            <xs:sequence>
              <xs:annotation>
                <xs:documentation>Artificial sequence to separate.</xs:documentation>
              </xs:annotation>
              <xs:element minOccurs="0" maxOccurs="1" name="AREA_CODE" type="tns:phoneNumberAreaCode_type">
                <xs:annotation>
                  <xs:documentation>Default (autogenerated) min and max occurs values.</xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="1" name="CENTRAL_AREA_CODE" type="tns:centralAreaCode_type">
          <xs:annotation>
            <xs:documentation>Default (autogenerated) min and max occurs values.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="1" name="DUTCH_POSTCODE" type="tns:dutchPostcode_type">
          <xs:annotation>
            <xs:documentation>Default (autogenerated) min and max occurs values.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="1" name="SERVICE_ID" type="xs:string">
          <xs:annotation>
            <xs:documentation>Default (autogenerated) min and max occurs values.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="1" name="HOUSE_NUMBER" type="tns:houseNumber_type">
          <xs:annotation>
            <xs:documentation>Default (autogenerated) min and max occurs values.</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>