GenericSOAPGateway/XSDSchemas/GenericSOAPGateway/Request/0042_GetPbxGroups_1.0_Request_EAI_BUS_SIDE.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://xmlns.kpn.com/EAI/fixed/0042_GetPbxGroups/1.0/Request" targetNamespace="http://xmlns.kpn.com/EAI/fixed/0042_GetPbxGroups/1.0/Request" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="phoneNumberAreaCode_type">
    <xs:restriction base="xs:string">
      <xs:maxLength value="5" />
      <xs:pattern value="\d*" />
      <xs:whiteSpace value="collapse" />
      <xs:minLength value="0" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="phoneNumberSubscriberNumber_type">
    <xs:restriction base="xs:string">
      <xs:whiteSpace value="collapse" />
      <xs:minLength value="1" />
      <xs:maxLength value="15" />
      <xs:pattern value="\d+" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="BODY">
    <xs:annotation>
      <xs:documentation>This is the BODY object for KPN EAI service number 0042 - GetPbxGroups version 1.0 Request message.</xs:documentation>
      <xs:documentation>Automatically generated schema for service:'GetPbxGroups', version:'1.0'</xs:documentation>
      <xs:documentation>Generated on 2007-04-16 18:05:04Z</xs:documentation>
      <xs:documentation>Service paradigm is intended to be Request/Response</xs:documentation>
      <xs:documentation>Service ID is:'0042'</xs:documentation>
      <xs:documentation>The body must always have MinOccurs=0 and MaxOccurs=1, by definition of KPN EAI AG. (For request messages this has no apparent benefit)</xs:documentation>
      <xs:documentation>KPN EAI message body class.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:annotation>
          <xs:documentation>Artificial sequence to separate.</xs:documentation>
        </xs:annotation>
        <xs:element minOccurs="1" maxOccurs="1" name="PHONE_NUMBER">
          <xs:complexType>
            <xs:sequence>
              <xs:annotation>
                <xs:documentation>Artificial sequence to separate.</xs:documentation>
              </xs:annotation>
              <xs:element minOccurs="1" maxOccurs="1" name="AREA_CODE" type="tns:phoneNumberAreaCode_type" />
              <xs:element minOccurs="1" maxOccurs="1" name="CALL_NUMBER" type="tns:phoneNumberSubscriberNumber_type" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="1" name="CURRENT_FUTURE_FLAG" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>