GenericSOAPGateway/XSDSchemas/GenericSOAPGateway/Request/0046_GetHouseNumberExtensions_1.0_Request_EAI_BUS_SIDE.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://xmlns.kpn.com/EAI/fixed/0046_GetHouseNumberExtensions/1.0/Request" targetNamespace="http://xmlns.kpn.com/EAI/fixed/0046_GetHouseNumberExtensions/1.0/Request" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="dutchPostcodeNumbers_type">
    <xs:restriction base="xs:string">
      <xs:pattern value="\d{4}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="dutchPostcodeLetters_type">
    <xs:restriction base="xs:string">
      <xs:pattern value="[a-zA-Z]{2}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="houseNumber_type">
    <xs:restriction base="xs:string">
      <xs:maxLength value="5" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="houseNumberExtension_type">
    <xs:annotation>
      <xs:documentation>This field is used to indicate the first house number extension to be returned in the reply list.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="6" />
      <xs:minLength value="0" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="BODY">
    <xs:annotation>
      <xs:documentation>This is the BODY object for KPN EAI service number 0046 - GetHouseNumberExtensions version 1.0 Request message.</xs:documentation>
      <xs:documentation>Automatically generated schema for service:'GetHouseNumberExtensions', version:'1.0'</xs:documentation>
      <xs:documentation>Generated on 2007-03-23 16:55:30Z</xs:documentation>
      <xs:documentation>Service paradigm is intended to be Request/Response</xs:documentation>
      <xs:documentation>Service ID is:'0046'</xs:documentation>
      <xs:documentation>The body must always have MinOccurs=0 and MaxOccurs=1, by definition of KPN EAI AG. (For request messages this has no apparent benefit)</xs:documentation>
      <xs:documentation>KPN EAI message body class.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:annotation>
          <xs:documentation>Artificial sequence to separate.</xs:documentation>
        </xs:annotation>
        <xs:element minOccurs="1" maxOccurs="1" name="PROPERTY_ADDRESS">
          <xs:complexType>
            <xs:sequence>
              <xs:annotation>
                <xs:documentation>Artificial sequence to separate.</xs:documentation>
              </xs:annotation>
              <xs:element minOccurs="1" maxOccurs="1" name="DUTCH_POSTCODE_NUMBERS" type="tns:dutchPostcodeNumbers_type" />
              <xs:element minOccurs="1" maxOccurs="1" name="DUTCH_POSTCODE_LETTERS" type="tns:dutchPostcodeLetters_type" />
              <xs:element minOccurs="1" maxOccurs="1" name="HOUSENUMBER" type="tns:houseNumber_type" />
              <xs:element minOccurs="0" maxOccurs="1" name="HOUSENUMBER_EXTENSION_FROM" type="tns:houseNumberExtension_type">
                <xs:annotation>
                  <xs:documentation>This field is used to indicate the first house number extension to be returned in the reply list.</xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>