GenericSOAPGateway/XSDSchemas/GenericSOAPGateway/Request/0052_GetPostCode_1.0_Request_EAI_BUS_SIDE.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://xmlns.kpn.com/EAI/fixed/0052_GetPostCode/1.0/Request" targetNamespace="http://xmlns.kpn.com/EAI/fixed/0052_GetPostCode/1.0/Request" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="cityName_type">
    <xs:restriction base="xs:string">
      <xs:annotation>
        <xs:documentation>Field size limitation copied from API definition as EAI side had no limitation.</xs:documentation>
      </xs:annotation>
      <xs:maxLength value="20" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="cityCode_type">
    <xs:restriction base="xs:string">
      <xs:annotation>
        <xs:documentation>Field size limitation copied from API definition as EAI side had no limitation.</xs:documentation>
      </xs:annotation>
      <xs:maxLength value="6" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="streetName_type">
    <xs:restriction base="xs:string">
      <xs:maxLength value="24" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="houseNumber_type">
    <xs:restriction base="xs:string">
      <xs:maxLength value="5" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="BODY">
    <xs:annotation>
      <xs:documentation>This is the BODY object for KPN EAI service number 0052 - GetPostCode version 1.0 Request message.</xs:documentation>
      <xs:documentation>Automatically generated schema for service:'GetPostCode', version:'1.0'</xs:documentation>
      <xs:documentation>Generated on 2007-04-12 16:05:59Z</xs:documentation>
      <xs:documentation>Service paradigm is intended to be Request/Response</xs:documentation>
      <xs:documentation>Service ID is:'0052'</xs:documentation>
      <xs:documentation>The body must always have MinOccurs=0 and MaxOccurs=1, by definition of KPN EAI AG. (For request messages this has no apparent benefit)</xs:documentation>
      <xs:documentation>KPN EAI message body class.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:annotation>
          <xs:documentation>Artificial sequence to separate.</xs:documentation>
        </xs:annotation>
        <xs:element minOccurs="0" maxOccurs="1" name="PROPERTY_ADDRESS">
          <xs:annotation>
            <xs:documentation>Note, that even though this is the only input changing it to optional breaks the service. However this change is made to accommodate the implementation of KPN EAI; and as such the change means nothing, as the implementation allows this anyway.</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:annotation>
                <xs:documentation>Artificial sequence to separate.</xs:documentation>
              </xs:annotation>
              <xs:element minOccurs="0" maxOccurs="1" name="CITY_NAME" type="tns:cityName_type" />
              <xs:element minOccurs="0" maxOccurs="1" name="CITY_CODE" type="tns:cityCode_type" />
              <xs:element minOccurs="1" maxOccurs="1" name="STREET_NAME" type="tns:streetName_type" />
              <xs:element minOccurs="1" maxOccurs="1" name="HOUSE_NUMBER" type="tns:houseNumber_type" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>