GenericSOAPGateway/XSDSchemas/GenericSOAPGateway/Request/0053_GetLocalLoopPath_1.1_Request_EAI_BUS_SIDE.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://xmlns.kpn.com/EAI/fixed/0053_GetLocalLoopPath/1.1/Request" targetNamespace="http://xmlns.kpn.com/EAI/fixed/0053_GetLocalLoopPath/1.1/Request" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="centralAreaCode_type">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{6}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="nodeName_type">
    <xs:restriction base="xs:string">
      <xs:maxLength value="50" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="nodeType_type">
    <xs:annotation>
      <xs:documentation>NODE_TYPE can contain the following values:
- "HVD"
- "KVD"
- "EK"
- "SIP"</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="4" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="rackPosition_type">
    <xs:restriction base="xs:string">
      <xs:maxLength value="6" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="shelfPosition_type">
    <xs:restriction base="xs:string">
      <xs:maxLength value="14" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="physicalPortId_type">
    <xs:restriction base="xs:string">
      <xs:maxLength value="10" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="portId_type">
    <xs:restriction base="xs:string">
      <xs:maxLength value="11" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="BODY">
    <xs:annotation>
      <xs:documentation>This is the BODY object for KPN EAI service number 0053 - GetLocalLoopPath version 1.1 Request message.</xs:documentation>
      <xs:documentation>Automatically generated schema for service:'GetLocalLoopPath', version:'1.1'</xs:documentation>
      <xs:documentation>Generated on 2007-05-04 15:09:55Z</xs:documentation>
      <xs:documentation>Service paradigm is intended to be Request/Response</xs:documentation>
      <xs:documentation>Service ID is:'0053'</xs:documentation>
      <xs:documentation>The body must always have MinOccurs=0 and MaxOccurs=1, by definition of KPN EAI AG. (For request messages this has no apparent benefit)</xs:documentation>
      <xs:documentation>KPN EAI message body class.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:annotation>
          <xs:documentation>Artificial sequence to separate.</xs:documentation>
        </xs:annotation>
        <xs:element minOccurs="0" maxOccurs="1" name="LOCATION">
          <xs:complexType>
            <xs:sequence>
              <xs:annotation>
                <xs:documentation>Artificial sequence to separate.</xs:documentation>
              </xs:annotation>
              <xs:element minOccurs="0" maxOccurs="1" name="NODE">
                <xs:complexType>
                  <xs:sequence>
                    <xs:annotation>
                      <xs:documentation>Artificial sequence to separate.</xs:documentation>
                    </xs:annotation>
                    <xs:element minOccurs="0" maxOccurs="1" name="NODE">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:annotation>
                            <xs:documentation>Artificial sequence to separate.</xs:documentation>
                          </xs:annotation>
                          <xs:element minOccurs="0" maxOccurs="1" name="RACK">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:annotation>
                                  <xs:documentation>Artificial sequence to separate.</xs:documentation>
                                </xs:annotation>
                                <xs:element minOccurs="0" maxOccurs="1" name="SHELF">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:annotation>
                                        <xs:documentation>Artificial sequence to separate.</xs:documentation>
                                      </xs:annotation>
                                      <xs:element minOccurs="0" maxOccurs="1" name="PHYSICAL_PORT">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:annotation>
                                              <xs:documentation>Artificial sequence to separate.</xs:documentation>
                                            </xs:annotation>
                                            <xs:element minOccurs="0" maxOccurs="1" name="PHYSICAL_PORT_ID" type="tns:physicalPortId_type" />
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element minOccurs="0" maxOccurs="1" name="SHELF_POSITION" type="tns:shelfPosition_type" />
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element minOccurs="0" maxOccurs="1" name="RACK_POSITION" type="tns:rackPosition_type" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element minOccurs="0" maxOccurs="1" name="NODE_NAME" type="tns:nodeName_type" />
                          <xs:element minOccurs="0" maxOccurs="1" name="NODE_TYPE" type="tns:nodeType_type">
                            <xs:annotation>
                              <xs:documentation>NODE_TYPE can contain the following values:
- "HVD"
- "KVD"
- "EK"
- "SIP"</xs:documentation>
                              <xs:documentation>Default (autogenerated) min and max occurs values.</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="PORT">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:annotation>
                            <xs:documentation>Artificial sequence to separate.</xs:documentation>
                          </xs:annotation>
                          <xs:element minOccurs="0" maxOccurs="1" name="PORT_ID" type="tns:portId_type" />
                          <xs:element minOccurs="0" maxOccurs="1" name="PORT_EQUIPMENT_TYPE" type="xs:string" />
                          <xs:element minOccurs="0" maxOccurs="1" name="PORT_EQUIPMENT_CODE" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="NODE_NAME" type="tns:nodeName_type" />
                    <xs:element minOccurs="0" maxOccurs="1" name="NODE_TYPE" type="tns:nodeType_type">
                      <xs:annotation>
                        <xs:documentation>NODE_TYPE can contain the following values:
- "HVD"
- "KVD"
- "EK"
- "SIP"</xs:documentation>
                        <xs:documentation>Default (autogenerated) min and max occurs values.</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="1" name="CENTRAL_AREA_CODE" type="tns:centralAreaCode_type" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="1" maxOccurs="1" name="CURRENT_OR_FUTURE_FLAG" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>