GenericSOAPGateway/XSDSchemas/GenericSOAPGateway/Request/0060_GetVirtualVoiceConnection_1.1_Request_EAI_BUS_SIDE.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://xmlns.kpn.com/EAI/fixed/0060_GetVirtualVoiceConnection/1.1/Request" targetNamespace="http://xmlns.kpn.com/EAI/fixed/0060_GetVirtualVoiceConnection/1.1/Request" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="phoneNumberAreaCode_type">
    <xs:restriction base="xs:string">
      <xs:maxLength value="5" />
      <xs:pattern value="\d*" />
      <xs:whiteSpace value="collapse" />
      <xs:minLength value="0" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="phoneNumberSubscriberNumber_type">
    <xs:restriction base="xs:string">
      <xs:whiteSpace value="collapse" />
      <xs:minLength value="1" />
      <xs:maxLength value="15" />
      <xs:pattern value="\d+" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="nodeName_type">
    <xs:restriction base="xs:string">
      <xs:maxLength value="50" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="portId_type">
    <xs:restriction base="xs:string">
      <xs:maxLength value="11" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="virtualPathIdentifier_type">
    <xs:restriction base="xs:string">
      <xs:pattern value="\d{1,4}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="vcIdentifier_type">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{0,5}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="serviceId_type">
    <xs:restriction base="xs:string">
      <xs:annotation>
        <xs:documentation>Field size limitation copied from API definition as EAI side had no limitation.</xs:documentation>
      </xs:annotation>
      <xs:maxLength value="14" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="serviceTypeCode_type">
    <xs:annotation>
      <xs:documentation>MA = MDF Access
SA = SDF Access</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="3" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="BODY">
    <xs:annotation>
      <xs:documentation>This is the BODY object for KPN EAI service number 0060 - GetVirtualVoiceConnection version 1.1 Request message.</xs:documentation>
      <xs:documentation>Automatically generated schema for service:'GetVirtualVoiceConnection', version:'1.1'</xs:documentation>
      <xs:documentation>Generated on 2007-05-04 15:30:16Z</xs:documentation>
      <xs:documentation>Service paradigm is intended to be Request/Response</xs:documentation>
      <xs:documentation>Service ID is:'0060'</xs:documentation>
      <xs:documentation>The body must always have MinOccurs=0 and MaxOccurs=1, by definition of KPN EAI AG. (For request messages this has no apparent benefit)</xs:documentation>
      <xs:documentation>KPN EAI message body class.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:annotation>
          <xs:documentation>Artificial sequence to separate.</xs:documentation>
        </xs:annotation>
        <xs:element minOccurs="0" maxOccurs="1" name="PHONE_NUMBER">
          <xs:complexType>
            <xs:sequence>
              <xs:annotation>
                <xs:documentation>Artificial sequence to separate.</xs:documentation>
              </xs:annotation>
              <xs:element minOccurs="0" maxOccurs="1" name="AREA_CODE" type="tns:phoneNumberAreaCode_type" />
              <xs:element minOccurs="0" maxOccurs="1" name="SUBSCRIBER_NUMBER" type="tns:phoneNumberSubscriberNumber_type" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="1" maxOccurs="1" name="NODE">
          <xs:complexType>
            <xs:sequence>
              <xs:annotation>
                <xs:documentation>Artificial sequence to separate.</xs:documentation>
              </xs:annotation>
              <xs:element minOccurs="1" maxOccurs="1" name="PORT">
                <xs:complexType>
                  <xs:sequence>
                    <xs:annotation>
                      <xs:documentation>Artificial sequence to separate.</xs:documentation>
                    </xs:annotation>
                    <xs:element minOccurs="0" maxOccurs="1" name="EQUIPMENT_CODE" type="xs:string" />
                    <xs:element minOccurs="0" maxOccurs="1" name="EQUIPMENT_TYPE" type="xs:string" />
                    <xs:element minOccurs="0" maxOccurs="1" name="PORT_ID" type="tns:portId_type" />
                    <xs:element minOccurs="0" maxOccurs="1" name="VPI" type="tns:virtualPathIdentifier_type" />
                    <xs:element minOccurs="0" maxOccurs="1" name="VCI" type="tns:vcIdentifier_type" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="1" name="NODE_NAME" type="tns:nodeName_type" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="1" maxOccurs="1" name="SERVICE">
          <xs:complexType>
            <xs:sequence>
              <xs:annotation>
                <xs:documentation>Artificial sequence to separate.</xs:documentation>
              </xs:annotation>
              <xs:element minOccurs="0" maxOccurs="1" name="SERVICE_ID" type="tns:serviceId_type" />
              <xs:element minOccurs="0" maxOccurs="1" name="SERVICE_TYPE" type="tns:serviceTypeCode_type">
                <xs:annotation>
                  <xs:documentation>MA = MDF Access
SA = SDF Access</xs:documentation>
                  <xs:documentation>Default (autogenerated) min and max occurs values.</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="1" name="SERVICE_INSTANCE" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="CENTRAL_UNIT_CONNECTION" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="1" name="CURRENT_OR_FUTURE_FLAG" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>