GenericSOAPGateway/XSDSchemas/GenericSOAPGateway/Request/0062_RequestMaintenanceReport_1.0_Request_EAI_BUS_SIDE.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://xmlns.kpn.com/EAI/fixed/0062_RequestMaintenanceReport/1.0/Request" targetNamespace="http://xmlns.kpn.com/EAI/fixed/0062_RequestMaintenanceReport/1.0/Request" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="centralAreaCode_type">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{6}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="nodeName_type">
    <xs:restriction base="xs:string">
      <xs:maxLength value="74" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="BODY">
    <xs:annotation>
      <xs:documentation>This is the BODY object for KPN EAI service number 0062 - RequestMaintenanceReport version 1.0 Request message.</xs:documentation>
      <xs:documentation>Automatically generated schema for service:'RequestMaintenanceReport', version:'1.0'</xs:documentation>
      <xs:documentation>Generated on 2007-03-23 13:18:39Z</xs:documentation>
      <xs:documentation>Service paradigm is intended to be Request/Response</xs:documentation>
      <xs:documentation>Service ID is:'0062'</xs:documentation>
      <xs:documentation>The body must always have MinOccurs=0 and MaxOccurs=1, by definition of KPN EAI AG. (For request messages this has no apparent benefit)</xs:documentation>
      <xs:documentation>KPN EAI message body class.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:annotation>
          <xs:documentation>Artificial sequence to separate.</xs:documentation>
        </xs:annotation>
        <xs:element minOccurs="0" maxOccurs="1" name="AREA">
          <xs:complexType>
            <xs:sequence>
              <xs:annotation>
                <xs:documentation>Artificial sequence to separate.</xs:documentation>
              </xs:annotation>
              <xs:element minOccurs="0" maxOccurs="1" name="NODE">
                <xs:complexType>
                  <xs:sequence>
                    <xs:annotation>
                      <xs:documentation>Artificial sequence to separate.</xs:documentation>
                    </xs:annotation>
                    <xs:element minOccurs="1" maxOccurs="1" name="NODE_NAME" type="tns:nodeName_type" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="1" maxOccurs="1" name="CENTRAL_AREA_CODE" type="tns:centralAreaCode_type" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="1" maxOccurs="1" name="ACTION" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="PROJECT_NUMBER" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>