GenericSOAPGateway/XSDSchemas/GenericSOAPGateway/Request/0073_GetCustomerPaymentStatus_1.0_Request_EAI_BUS_SIDE.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://xmlns.kpn.com/EAI/fixed/0073_GetCustomerPaymentStatus/1.0/Request" targetNamespace="http://xmlns.kpn.com/EAI/fixed/0073_GetCustomerPaymentStatus/1.0/Request" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="BODY">
    <xs:annotation>
      <xs:documentation>This is the BODY object for KPN EAI service number 0073 - GetCustomerPaymentStatus version 1.0 Request message.</xs:documentation>
      <xs:documentation>Automatically generated schema for service:'GetCustomerPaymentStatus', version:'1.0'</xs:documentation>
      <xs:documentation>Generated on 2007-04-19 15:35:21Z</xs:documentation>
      <xs:documentation>Service paradigm is intended to be Request/Response</xs:documentation>
      <xs:documentation>Service ID is:'0073'</xs:documentation>
      <xs:documentation>The body must always have MinOccurs=0 and MaxOccurs=1, by definition of KPN EAI AG. (For request messages this has no apparent benefit)</xs:documentation>
      <xs:documentation>KPN EAI message body class.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:annotation>
          <xs:documentation>Artificial sequence to separate.</xs:documentation>
        </xs:annotation>
        <xs:element minOccurs="1" maxOccurs="1" name="CUSTOMER_ACCOUNT_IDENTIFIER" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="PAYMENT_DELAYED_FLAG" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="PAYMENT_DELAYED_UNTIL" type="xs:string">
          <xs:annotation>
            <xs:documentation>8 numeric values containing string, depicting a datetime. Needs not be constrained on the message level. </xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>