GenericSOAPGateway/XSDSchemas/GenericSOAPGateway/Request/0074_GetCustomerPaymentDetails_1.0_Request_EAI_BUS_SIDE.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xs:schema xmlns:tns="http://xmlns.kpn.com/EAI/fixed/0074_GetCustomerPaymentDetails/1.0/Request" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xmlns.kpn.com/EAI/fixed/0074_GetCustomerPaymentDetails/1.0/Request">
	<xs:element name="BODY">
		<xs:complexType>
			<xs:sequence>				
				<xs:element name="CUSTOMER_ACCOUNT_IDENTIFIER" type="xs:string"/>
				<xs:element name="PAYMENT_DELAYED_FLAG" type="xs:string" minOccurs="0"/>
				<xs:element name="PAYMENT_DELAYED_UNTIL" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
