GenericSOAPGateway/XSDSchemas/GenericSOAPGateway/Request/0076_GetCustomerBillRecipient_1.3_Request_EAI_BUS_SIDE.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://xmlns.kpn.com/EAI/fixed/0076_GetCustomerBillRecipient/1.3/Request" targetNamespace="http://xmlns.kpn.com/EAI/fixed/0076_GetCustomerBillRecipient/1.3/Request" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="centralCustomerId_type">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z,0-9]{8}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="BODY">
    <xs:annotation>
      <xs:documentation>This is the BODY object for KPN EAI service number 0076 - GetCustomerBillRecipient version 1.3 Request message.</xs:documentation>
      <xs:documentation>Automatically generated schema for service:'GetCustomerBillRecipient', version:'1.3'</xs:documentation>
      <xs:documentation>Generated on 2007-03-30 13:49:52Z</xs:documentation>
      <xs:documentation>Service paradigm is intended to be Request/Response</xs:documentation>
      <xs:documentation>Service ID is:'0076'</xs:documentation>
      <xs:documentation>The body must always have MinOccurs=0 and MaxOccurs=1, by definition of KPN EAI AG. (For request messages this has no apparent benefit)</xs:documentation>
      <xs:documentation>KPN EAI message body class.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:annotation>
          <xs:documentation>Artificial sequence to separate.</xs:documentation>
        </xs:annotation>
        <xs:element minOccurs="0" maxOccurs="1" name="CONTRACT_OWNER">
          <xs:complexType>
            <xs:sequence>
              <xs:annotation>
                <xs:documentation>Artificial sequence to separate.</xs:documentation>
              </xs:annotation>
              <xs:element minOccurs="1" maxOccurs="1" name="CENTRAL_CUSTOMER_ID" type="tns:centralCustomerId_type" />
              <xs:element minOccurs="1" maxOccurs="1" name="ADDRESS_VALID_DATE" type="xs:date" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="1" name="BILL_RECIPIENT">
          <xs:complexType>
            <xs:sequence>
              <xs:annotation>
                <xs:documentation>Artificial sequence to separate.</xs:documentation>
              </xs:annotation>
              <xs:element minOccurs="1" maxOccurs="1" name="CENTRAL_CUSTOMER_ID" type="tns:centralCustomerId_type" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>