GenericSOAPGateway/XSDSchemas/GenericSOAPGateway/Request/0117_GetPartyHierarchy_1.0_Request_EAI_BUS_SIDE.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://xmlns.kpn.com/fixed/GenericSOAPGateway/XSDSchemas/GenericSOAPGateway/Request/
0117_GetPartyHierarchy_1.0_Request_EAI_BUS_SIDE.xsd" targetNamespace="http://xmlns.kpn.com/fixed/GenericSOAPGateway/XSDSchemas/GenericSOAPGateway/Request/
0117_GetPartyHierarchy_1.0_Request_EAI_BUS_SIDE.xsd" elementFormDefault="unqualified" attributeFormDefault="unqualified">
	<xs:simpleType name="centralCustomerId_type">
		<xs:annotation>
			<xs:documentation>Mandatory</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z,0-9]{8}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="BODY">
		<xs:annotation>
			<xs:documentation>This is the BODY object for KPN EAI service number 0117 - GetPartyHierarchy version 1.0 Request message.</xs:documentation>
			<xs:documentation>Automatically generated schema for service:'GetPartyHierarchy', version:'1.0'</xs:documentation>
			<xs:documentation>Generated on 2007-02-28 16:39:21Z</xs:documentation>
			<xs:documentation>Service paradigm is intended to be Request/Response</xs:documentation>
			<xs:documentation>Service ID is:'0117'</xs:documentation>
			<xs:documentation>The body must always have Minoccurs=0 and MaxOccurs=1.</xs:documentation>
			<xs:documentation>KPN EAI message body class.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:annotation>
					<xs:documentation>Artificial sequence to separate.</xs:documentation>
				</xs:annotation>
				<xs:element name="CUSTOMER" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:annotation>
								<xs:documentation>Artificial sequence to separate.</xs:documentation>
							</xs:annotation>
							<xs:element name="START">
								<xs:complexType>
									<xs:sequence>
										<xs:annotation>
											<xs:documentation>Artificial sequence to separate.</xs:documentation>
										</xs:annotation>
										<xs:element name="CENTRAL_CUSTOMER_ID" type="centralCustomerId_type" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="CENTRAL_CUSTOMER_ID" type="centralCustomerId_type">
								<xs:annotation>
									<xs:documentation>Mandatory</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
