GenericSOAPGateway/XSDSchemas/GenericSOAPGateway/Request/0130_ChangeDateOfBirth_1.0_Request_EAI_BUS_SIDE.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://xmlns.kpn.com/EAI/fixed/0130_ChangeDateOfBirth/1.0/Request" targetNamespace="http://xmlns.kpn.com/EAI/fixed/0130_ChangeDateOfBirth/1.0/Request" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="centralCustomerId_type">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z,0-9]{8}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="dateOfBirth_type">
    <xs:annotation>
      <xs:documentation>DEFINITIONS:
[general] The birth-date of a party is the date at which the party was initiated. For individuals this actually means the birth date and for organizations this means the date of registration in the authorized administrations. 

TYPE:
&lt;&lt;attribute&gt;&gt; Date

FORMAT:
&lt;&lt;attribute&gt;&gt; Date

NOTES:
The attributes is derived from the Date attribute.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:date" />
  </xs:simpleType>
  <xs:element name="BODY">
    <xs:annotation>
      <xs:documentation>This is the BODY object for KPN EAI service number 0130 - ChangeDateOfBirth version 1.0 Request message.</xs:documentation>
      <xs:documentation>Automatically generated schema for service:'ChangeDateOfBirth', version:'1.0'</xs:documentation>
      <xs:documentation>Generated on 2007-04-04 17:10:20Z</xs:documentation>
      <xs:documentation>Service paradigm is intended to be Request/Response</xs:documentation>
      <xs:documentation>Service ID is:'0130'</xs:documentation>
      <xs:documentation>The body must always have MinOccurs=0 and MaxOccurs=1, by definition of KPN EAI AG. (For request messages this has no apparent benefit)</xs:documentation>
      <xs:documentation>KPN EAI message body class.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:annotation>
          <xs:documentation>Artificial sequence to separate.</xs:documentation>
        </xs:annotation>
        <xs:element minOccurs="1" maxOccurs="1" name="CUSTOMER">
          <xs:complexType>
            <xs:sequence>
              <xs:annotation>
                <xs:documentation>Artificial sequence to separate.</xs:documentation>
              </xs:annotation>
              <xs:element minOccurs="1" maxOccurs="1" name="CENTRAL_CUSTOMER_ID" type="tns:centralCustomerId_type" />
              <xs:element minOccurs="0" maxOccurs="1" name="DATE_OF_BIRTH" type="tns:dateOfBirth_type">
                <xs:annotation>
                  <xs:documentation>DEFINITIONS:
[general] The birth-date of a party is the date at which the party was initiated. For individuals this actually means the birth date and for organizations this means the date of registration in the authorized administrations. 

TYPE:
&lt;&lt;attribute&gt;&gt; Date

FORMAT:
&lt;&lt;attribute&gt;&gt; Date

NOTES:
The attributes is derived from the Date attribute.</xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="1" maxOccurs="1" name="IS_DOUBLE" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="IS_DATE_OF_BIRTH" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>