GenericSOAPGateway/XSDSchemas/GenericSOAPGateway/Request/0150_FindCustomer_1.0_Request_EAI_BUS_SIDE.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://xmlns.kpn.com/EAI/fixed/0150_FindCustomer/1.0/Request" targetNamespace="http://xmlns.kpn.com/EAI/fixed/0150_FindCustomer/1.0/Request" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="centralCustomerId_type">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z,0-9]{8}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="dateOfBirth_type">
    <xs:restriction base="xs:date" />
  </xs:simpleType>
  <xs:simpleType name="kvkNumber_type">
    <xs:restriction base="xs:string">
      <xs:maxLength value="13" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="partyId_type">
    <xs:restriction base="xs:string">
      <xs:maxLength value="10" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="partyName_type">
    <xs:restriction base="xs:string">
      <xs:maxLength value="132" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ckrApplicationid_type">
    <xs:annotation>
      <xs:documentation>NOTES:
This attribute is present in all CKR transactions and used for (among other things) cross-billing &amp; authentication purposes.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="3" />
      <xs:minLength value="1" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="externalCustomerReference_type">
    <xs:restriction base="xs:string">
      <xs:maxLength value="20" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="streetName_type">
    <xs:annotation>
      <xs:documentation>Value is converted to upper case and may only contain alpha numeric characters and the wildcard character '*'</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="24" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="houseNumber_type">
    <xs:restriction base="xs:string">
      <xs:maxLength value="5" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="houseNumberExtension_type">
    <xs:restriction base="xs:string">
      <xs:maxLength value="6" />
      <xs:minLength value="0" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="dutchPostcodeNumbers_type">
    <xs:annotation>
      <xs:documentation>Value may only contain digits.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="\d{4}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="dutchPostcodeLetters_type">
    <xs:annotation>
      <xs:documentation>Value is converted to upper case and may only contain alphabetic characters.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[a-zA-Z]{2}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="cityName_type">
    <xs:annotation>
      <xs:documentation>Value is converted to upper case and may only contain alpha numeric characters.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:annotation>
        <xs:documentation>Field size limitation copied from API definition as EAI side had no limitation.</xs:documentation>
      </xs:annotation>
      <xs:maxLength value="18" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="cityCode_type">
    <xs:restriction base="xs:string">
      <xs:annotation>
        <xs:documentation>Field size limitation copied from API definition as EAI side had no limitation.</xs:documentation>
      </xs:annotation>
      <xs:maxLength value="6" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="phoneNumberCountryCode_type">
    <xs:annotation>
      <xs:documentation>Value is converted to KAS format using the Utility Service 134 ConvertPhoneNumber2Kas.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="3" />
      <xs:minLength value="1" />
      <xs:pattern value="\d+" />
      <xs:whiteSpace value="collapse" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="phoneNumberAreaCode_type">
    <xs:annotation>
      <xs:documentation>returned from service 0134</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="5" />
      <xs:pattern value="\d*" />
      <xs:whiteSpace value="collapse" />
      <xs:minLength value="0" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="phoneNumberSubscriberNumber_type">
    <xs:restriction base="xs:string">
      <xs:whiteSpace value="collapse" />
      <xs:minLength value="1" />
      <xs:maxLength value="15" />
      <xs:pattern value="\d+" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="BODY">
    <xs:annotation>
      <xs:documentation>This is the BODY object for KPN EAI service number 0150 - FindCustomer version 1.0 Request message.</xs:documentation>
      <xs:documentation>Automatically generated schema for service:'FindCustomer', version:'1.0'</xs:documentation>
      <xs:documentation>Generated on 2007-03-30 13:49:52Z</xs:documentation>
      <xs:documentation>Service paradigm is intended to be Request/Response</xs:documentation>
      <xs:documentation>Service ID is:'0150'</xs:documentation>
      <xs:documentation>The body must always have MinOccurs=0 and MaxOccurs=1, by definition of KPN EAI AG. (For request messages this has no apparent benefit)</xs:documentation>
      <xs:documentation>KPN EAI message body class.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:annotation>
          <xs:documentation>Artificial sequence to separate.</xs:documentation>
        </xs:annotation>
        <xs:element minOccurs="1" maxOccurs="1" name="CUSTOMER_REFERENCE">
          <xs:complexType>
            <xs:sequence>
              <xs:annotation>
                <xs:documentation>Artificial sequence to separate.</xs:documentation>
              </xs:annotation>
              <xs:element minOccurs="1" maxOccurs="1" name="ROLE_TYPE" type="xs:string">
                <xs:annotation>
                  <xs:documentation>Indicates which reference should be returned:

"G" user
"K" Contractant
"*" Both
</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="1" name="APPLICATION_ID" type="tns:ckrApplicationid_type">
                <xs:annotation>
                  <xs:documentation>NOTES:
This attribute is present in all CKR transactions and used for (among other things) cross-billing &amp; authentication purposes.</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="1" name="EXTERNAL_CUSTOMER_REFERENCE" type="tns:externalCustomerReference_type" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="1" name="PROPERTY_ADDRESS">
          <xs:complexType>
            <xs:sequence>
              <xs:annotation>
                <xs:documentation>Artificial sequence to separate.</xs:documentation>
              </xs:annotation>
              <xs:element minOccurs="0" maxOccurs="1" name="STREET_NAME" type="tns:streetName_type">
                <xs:annotation>
                  <xs:documentation>Value is converted to upper case and may only contain alpha numeric characters and the wildcard character '*'</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="1" name="HOUSE_NUMBER" type="tns:houseNumber_type" />
              <xs:element minOccurs="0" maxOccurs="1" name="HOUSE_NUMBER_EXTENSION" type="tns:houseNumberExtension_type" />
              <xs:element minOccurs="0" maxOccurs="1" name="DUTCH_POSTCODE_NUMBERS" type="tns:dutchPostcodeNumbers_type">
                <xs:annotation>
                  <xs:documentation>Value may only contain digits.</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="1" name="DUTCH_POSTCODE_LETTERS" type="tns:dutchPostcodeLetters_type">
                <xs:annotation>
                  <xs:documentation>Value is converted to upper case and may only contain alphabetic characters.</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="1" name="CITY_NAME" type="tns:cityName_type">
                <xs:annotation>
                  <xs:documentation>Value is converted to upper case and may only contain alpha numeric characters.</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="1" name="CITY_CODE" type="tns:cityCode_type" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="1" name="PHONE_NUMBER">
          <xs:complexType>
            <xs:sequence>
              <xs:annotation>
                <xs:documentation>Artificial sequence to separate.</xs:documentation>
              </xs:annotation>
              <xs:element minOccurs="0" maxOccurs="1" name="COUNTRY_CODE" type="tns:phoneNumberCountryCode_type">
                <xs:annotation>
                  <xs:documentation>Value is converted to KAS format using the Utility Service 134 ConvertPhoneNumber2Kas.</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="1" name="AREA_CODE" type="tns:phoneNumberAreaCode_type">
                <xs:annotation>
                  <xs:documentation>returned from service 0134</xs:documentation>
                  <xs:documentation>Default (autogenerated) min and max occurs values.</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="1" name="SUBSCRIBER_NUMBER" type="tns:phoneNumberSubscriberNumber_type">
                <xs:annotation>
                  <xs:documentation>Default (autogenerated) min and max occurs values.</xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="1" maxOccurs="1" name="ADDRESS_TYPE" type="xs:string">
          <xs:annotation>
            <xs:documentation>Indicates which address should be returned:

"V" previous address
"H" current address
"T" futuer address

</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="1" name="CENTRAL_CUSTOMER_ID" type="tns:centralCustomerId_type" />
        <xs:element minOccurs="0" maxOccurs="1" name="DATE_OF_BIRTH" type="tns:dateOfBirth_type" />
        <xs:element minOccurs="1" maxOccurs="1" name="IS_ACTIVE" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="IS_INTERNATIONAL" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="KVK_NUMBER" type="tns:kvkNumber_type" />
        <xs:element minOccurs="0" maxOccurs="1" name="MAX_RECORDS" type="xs:integer">
          <xs:annotation>
            <xs:documentation>default "049" (or lower due to the limited size of COMMAREA). Should be made a configurable deployment variable.</xs:documentation>
            <xs:documentation>Default (autogenerated) min and max occurs values.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="1" name="PARTY_ID" type="tns:partyId_type" />
        <xs:element minOccurs="0" maxOccurs="1" name="PARTY_NAME" type="tns:partyName_type" />
        <xs:element minOccurs="0" maxOccurs="1" name="SELECTION_START_POINT" type="xs:integer">
          <xs:annotation>
            <xs:documentation>Default (autogenerated) min and max occurs values.</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>