GenericSOAPGateway/XSDSchemas/GenericSOAPGateway/Request/0151_GetPartyHierarchy_1.0_Request_EAI_BUS_SIDE.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://xmlns.kpn.com/EAI/fixed/0151_GetPartyHierarchy/1.0/Request" targetNamespace="http://xmlns.kpn.com/EAI/fixed/0151_GetPartyHierarchy/1.0/Request" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="centralCustomerId_type">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z,0-9]{8}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="BODY">
    <xs:annotation>
      <xs:documentation>This is the BODY object for KPN EAI service number 0151 - GetPartyHierarchy version 1.0 Request message.</xs:documentation>
      <xs:documentation>Automatically generated schema for service:'GetPartyHierarchy', version:'1.0'</xs:documentation>
      <xs:documentation>Generated on 2007-03-30 13:56:17Z</xs:documentation>
      <xs:documentation>Service paradigm is intended to be Request/Response</xs:documentation>
      <xs:documentation>Service ID is:'0151'</xs:documentation>
      <xs:documentation>The body must always have MinOccurs=0 and MaxOccurs=1, by definition of KPN EAI AG. (For request messages this has no apparent benefit)</xs:documentation>
      <xs:documentation>KPN EAI message body class.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:annotation>
          <xs:documentation>Artificial sequence to separate.</xs:documentation>
        </xs:annotation>
        <xs:element minOccurs="1" maxOccurs="1" name="CUSTOMER">
          <xs:complexType>
            <xs:sequence>
              <xs:annotation>
                <xs:documentation>Artificial sequence to separate.</xs:documentation>
              </xs:annotation>
              <xs:element minOccurs="1" maxOccurs="1" name="CENTRAL_CUSTOMER_ID" type="tns:centralCustomerId_type" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="1" name="MAX_RECORDS" type="xs:positiveInteger">
          <xs:annotation>
            <xs:documentation>Default (autogenerated) min and max occurs values.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="1" name="SELECTION_START_POINT" type="xs:positiveInteger">
          <xs:annotation>
            <xs:documentation>Default (autogenerated) min and max occurs values.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="1" name="START_CENTRAL_CUSTOMER_ID" type="tns:centralCustomerId_type" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>