GenericSOAPGateway/XSDSchemas/GenericSOAPGateway/Request/0152_GetCustomerReference_1.0_Request_EAI_BUS_SIDE.xsd

<?xml version="1.0" encoding="utf-8"?>

<xs:schema xmlns:tns="http://xmlns.kpn.com/EAI/fixed/0152_GetCustomerReference/1.0/Request"
	 xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 targetNamespace="http://xmlns.kpn.com/EAI/fixed/0152_GetCustomerReference/1.0/Request"
	 elementFormDefault="unqualified"
	 attributeFormDefault="unqualified">
	<xs:simpleType name="centralCustomerId_type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z,0-9]{8}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="role_type">
		<xs:annotation>
			<xs:documentation>Default value is:''</xs:documentation>
			<xs:documentation>Size limitation taken from API side, since EAI definition did not have one.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="02"/>
			<xs:enumeration value="01"/>
			<xs:enumeration value="02"/>
			<xs:enumeration value="05"/>
			<xs:enumeration value="07"/>
			<xs:enumeration value="08"/>
			<xs:enumeration value="*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ckrApplicationid_type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="3"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="BODY">
		<xs:annotation>
			<xs:documentation>This is the BODY object for KPN EAI service number 0152 - GetCustomerReference version 1.0 Request message.</xs:documentation>
			<xs:documentation>Automatically generated schema for service:'GetCustomerReference', version:'1.0'</xs:documentation>
			<xs:documentation>Generated on 2007-04-12 16:17:56Z</xs:documentation>
			<xs:documentation>Service paradigm is intended to be Request/Response</xs:documentation>
			<xs:documentation>Service ID is:'0152'</xs:documentation>
			<xs:documentation>The body must always have MinOccurs=0 and MaxOccurs=1, by definition of KPN EAI AG. (For request messages this has no apparent benefit)</xs:documentation>
			<xs:documentation>KPN EAI message body class.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:annotation>
					<xs:documentation>Artificial sequence to separate.</xs:documentation>
				</xs:annotation>
				<xs:element name="CUSTOMER_REFERENCE">
					<xs:complexType>
						<xs:sequence>
							<xs:annotation>
								<xs:documentation>Artificial sequence to separate.</xs:documentation>
							</xs:annotation>
							<xs:element name="ROLE" type="tns:role_type"/>
							<xs:element name="APPLICATION_ID" type="tns:ckrApplicationid_type"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="CENTRAL_CUSTOMER_ID" type="tns:centralCustomerId_type"/>
				<xs:element name="SELECTION_START_POINT" type="xs:positiveInteger"/>
				<xs:element name="MAX_RECORDS" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>