GenericSOAPGateway/XSDSchemas/GenericSOAPGateway/Request/0204_GetCitybyCode_1.0_Request_EAI_BUS_SIDE.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://xmlns.kpn.com/EAI/fixed/0204_GetCitybyCode/1.0/Request" targetNamespace="http://xmlns.kpn.com/EAI/fixed/0204_GetCitybyCode/1.0/Request" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="cityCode_type">
    <xs:annotation>
      <xs:documentation>Wildcard input is allowed</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:annotation>
        <xs:documentation>Field size limitation copied from API definition as EAI side had no limitation.</xs:documentation>
      </xs:annotation>
      <xs:maxLength value="06" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="BODY">
    <xs:annotation>
      <xs:documentation>This is the BODY object for KPN EAI service number 0204 - GetCitybyCode version 1.0 Request message.</xs:documentation>
      <xs:documentation>Automatically generated schema for service:'GetCitybyCode', version:'1.0'</xs:documentation>
      <xs:documentation>Generated on 2007-04-12 16:43:28Z</xs:documentation>
      <xs:documentation>Service paradigm is intended to be Request/Response</xs:documentation>
      <xs:documentation>Service ID is:'0204'</xs:documentation>
      <xs:documentation>The body must always have MinOccurs=0 and MaxOccurs=1, by definition of KPN EAI AG. (For request messages this has no apparent benefit)</xs:documentation>
      <xs:documentation>KPN EAI message body class.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:annotation>
          <xs:documentation>Artificial sequence to separate.</xs:documentation>
        </xs:annotation>
        <xs:element minOccurs="1" maxOccurs="1" name="CITY_CODE" type="tns:cityCode_type">
          <xs:annotation>
            <xs:documentation>Wildcard input is allowed</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>