GenericSOAPGateway/XSDSchemas/GenericSOAPGateway/Request/0273_GetDistributionFrameAccessDetails_1.0_Request_EAI_BUS_SIDE.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns="http://xmlns.kpn.com/fixed/KanvasAdapter/Request/GetDistributionFrameAccessDetails.xsd" 
					   xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
					   targetNamespace="http://xmlns.kpn.com/fixed/KanvasAdapter/Request/GetDistributionFrameAccessDetails.xsd" elementFormDefault="qualified">
	<xsd:element name="BODY">
		<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="SERVICE_ID" type="xsd:string" minOccurs="0"/>
						<xsd:element name="RETURN_TP_FLAG" type="xsd:string" minOccurs="0"/>
						<xsd:element name="CENTRAL_AREA_CODE" type="xsd:string" minOccurs="0"/>
						<xsd:element name="CURRENT_OR_FUTURE_FLAG" type="xsd:string" minOccurs="0"/>
						<xsd:element name="NODE" type="Node" minOccurs="0"/>
					</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="Node">
		<xsd:sequence>
			<xsd:element name="NODE_NAME" type="xsd:string" minOccurs="0"/>
			<xsd:element name="RACK" type="Rack" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PhysicalPort">
		<xsd:sequence>
			<xsd:element name="PHYSICAL_PORT_ID" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Rack">
		<xsd:sequence>
			<xsd:element name="RACK_POSITION" type="xsd:string" minOccurs="0"/>
			<xsd:element name="SHELF" type="Shelf" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Shelf">
		<xsd:sequence>
			<xsd:element name="SHELF_POSITION" type="xsd:string" minOccurs="0"/>
			<xsd:element name="PHYSICAL_PORT" type="PhysicalPort" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
