IKKAdapter/XSDSchemas/IKKAdapter/Common/ComplaintCategory.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:complexType name="ComplaintCategory">
		<xsd:sequence>
			<xsd:element name="COMPLAINT_GROUP_CODE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="COMPLAINT_SPECIFIC_DESCRIPTION" type="xsd:string"/>
			<xsd:element name="COMPLAINT_STANDARD_DESCRIPTION" type="xsd:string"/>
			<xsd:element name="COMPLAINT_SUB_GROUP_CODE" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
