IKKAdapter/XSDSchemas/IKKAdapter/Common/ContactPerson.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:complexType name="ContactPerson">
		<xsd:sequence>
			<xsd:element name="FAMILY_NAME" type="xsd:string"/>
			<xsd:element name="PHONE_NUMBER" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
