IKKAdapter/XSDSchemas/IKKAdapter/Common/ErrorReport.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified"
	 attributeFormDefault = "unqualified">
	<xsd:complexType name = "ErrorReport">
		<xsd:sequence>
			<xsd:element name = "StackTrace" type = "xsd:string"/>
			<xsd:element name = "Msg" type = "xsd:string"/>
			<xsd:element name = "FullClass" type = "xsd:string"/>
			<xsd:element name = "Class" type = "xsd:string"/>
			<xsd:element name = "ProcessStack" type = "xsd:string"/>
			<xsd:element name = "MsgCode" type = "xsd:string"/>
			<xsd:element name = "Data">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:any namespace = "##any" processContents = "skip" minOccurs = "0" maxOccurs = "unbounded"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>