IKKAdapter/XSDSchemas/IKKAdapter/Common/LogLevel.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified"
	 attributeFormDefault = "unqualified">
	<xsd:element name = "ValidLogLevel" type = "LogLevel"/>
	<xsd:element name = "ValidLogLevelSet">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name = "LogLevelSet" type = "LogLevel" minOccurs = "6" maxOccurs = "6"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name = "LogLevel">
		<xsd:simpleContent>
			<xsd:extension base = "LogLevelName">
				<xsd:attribute name = "value" type = "LogLevelValue"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name = "LogLevelName">
		<xsd:restriction base = "xsd:string">
			<xsd:enumeration value = "FATAL"/>
			<xsd:enumeration value = "ERROR"/>
			<xsd:enumeration value = "WARN"/>
			<xsd:enumeration value = "INFO"/>
			<xsd:enumeration value = "TRACE"/>
			<xsd:enumeration value = "DEBUG"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name = "LogLevelValue">
		<xsd:restriction base = "xsd:integer">
			<xsd:maxInclusive value = "6"/>
			<xsd:minInclusive value = "1"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>