IKKAdapter/XSDSchemas/Common/ErrorLog.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified">
	<xsd:include schemaLocation = "./CMH.xsd"/>
		<xsd:complexType  name = "ErrorLog">
			<xsd:sequence>
				<xsd:element name = "ErrorLogHeadline" type = "xsd:string" minOccurs = "0"/>
				<xsd:element name = "ErrorLogBody">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name = "CHM" type = "CMH"/>
							<xsd:element name = "Payload" type = "xsd:anyType" minOccurs = "0" maxOccurs = "unbounded"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
</xsd:schema>