IKKAdapter/XSDSchemas/Common/ResultStatus2.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.kpn.com/common/cdm/ResultStatus2.xsd"
	 targetNamespace = "http://xmlns.kpn.com/common/cdm/ResultStatus2.xsd"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 version = "1.1"
	 elementFormDefault = "qualified"
	 attributeFormDefault = "qualified">
	<xsd:complexType name = "RESULT_STATUS">
		<xsd:sequence>
			<xsd:element name = "STATUS_CODE" type = "xsd:integer"/>
			<xsd:element name = "ERROR_CODE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "ERROR_DESCRIPTION" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "STATUS_MSG" type = "STATUS_MSG" minOccurs = "0" maxOccurs = "unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name = "STATUS_MSG">
		<xsd:sequence>
			<xsd:element name = "MSG_CODE" type = "xsd:string"/>
			<xsd:element name = "STATUS_CODE" type = "xsd:integer" minOccurs = "0"/>
			<xsd:element name = "DESCRIPTION" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "SERVICE_NAME" type = "xsd:string"/>
			<xsd:element name = "IDENTIFIER" type = "xsd:string" minOccurs = "0" maxOccurs = "unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>