ASTRIDAdapter/XSDSchemas/ASTRIDAdapter/Request/GetTickets.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.kpn.com/fixed/ASTRIDAdapter/Request/GetTickets.xsd"
	 targetNamespace = "http://xmlns.kpn.com/fixed/ASTRIDAdapter/Request/GetTickets.xsd"
	 xmlns:HDR-SW-0101.xsd = "http://xmlns.kpn.com/fixed/ASTRIDAdapter/common/HDR-SW-0101.xsd"
	 xmlns:QRYLIM_S-0101.xsd = "http://xmlns.kpn.com/fixed/ASTRIDAdapter/common/QRYLIM_S-0101.xsd"
	 xmlns:KLASEL_S-0100.xsd = "http://xmlns.kpn.com/fixed/ASTRIDAdapter/common/KLASEL_S-0100.xsd"
	 xmlns:ASTRIDRequest.xsd = "http://xmlns.kpn.com/fixed/ASTRIDAdapter/common/ASTRIDRequest.xsd"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified">
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/ASTRIDAdapter/common/HDR-SW-0101.xsd" schemaLocation = "../Common/HDR-SW-0101.xsd"/>
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/ASTRIDAdapter/common/QRYLIM_S-0101.xsd" schemaLocation = "../Common/QRYLIM_S-0101.xsd"/>
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/ASTRIDAdapter/common/KLASEL_S-0100.xsd" schemaLocation = "../Common/KLASEL_S-0100.xsd"/>
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/ASTRIDAdapter/common/ASTRIDRequest.xsd" schemaLocation = "../Common/ASTRIDRequest.xsd"/>
	<xsd:element name = "GetTickets">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base = "ASTRIDRequest.xsd:ASTRIDRequest">
					<xsd:sequence>
						<xsd:element name="ENGIN">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name = "HDR-SW-0101" type = "HDR-SW-0101.xsd:HDR-SW-0101" minOccurs = "0"/>
									<xsd:element name = "QRYLIM_S-0101" type = "QRYLIM_S-0101.xsd:QRYLIM_S-0101" minOccurs = "0"/>
									<xsd:element name = "KLASEL_S-0100" type = "KLASEL_S-0100.xsd:KLASEL_S-0100" minOccurs = "0"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>