ASTRIDAdapter/XSDSchemas/ASTRIDAdapter/Request/UpsertCustomerIncidentReport.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.kpn.com/fixed/ASTRIDAdapter/Request/UpsertCustomerIncidentReport.xsd"
	 targetNamespace = "http://xmlns.kpn.com/fixed/ASTRIDAdapter/Request/UpsertCustomerIncidentReport.xsd"
	 xmlns:ManagedObjectInTrouble.xsd = "http://xmlns.kpn.com/fixed/ASTRIDAdapter/common/ManagedObjectInTrouble.xsd"
	 xmlns:CustomerIncidentReport.xsd = "http://xmlns.kpn.com/fixed/ASTRIDAdapter/common/CustomerIncidentReport.xsd"
	 xmlns:ManagedObject.xsd = "http://xmlns.kpn.com/fixed/ASTRIDAdapter/common/ManagedObject.xsd"
	 xmlns:ASTRIDRequest.xsd = "http://xmlns.kpn.com/fixed/ASTRIDAdapter/common/ASTRIDRequest.xsd"
	 xmlns:CustomerOrganization.xsd = "http://xmlns.kpn.com/fixed/ASTRIDAdapter/common/CustomerOrganization.xsd"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 xmlns:Attachment.xsd = "http://xmlns.kpn.com/fixed/ASTRIDAdapter/common/Attachment.xsd"
	 elementFormDefault = "qualified">
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/ASTRIDAdapter/common/ManagedObjectInTrouble.xsd" schemaLocation = "../Common/ManagedObjectInTrouble.xsd"/>
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/ASTRIDAdapter/common/CustomerIncidentReport.xsd" schemaLocation = "../Common/CustomerIncidentReport.xsd"/>
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/ASTRIDAdapter/common/ManagedObject.xsd" schemaLocation = "../Common/ManagedObject.xsd"/>
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/ASTRIDAdapter/common/ASTRIDRequest.xsd" schemaLocation = "../Common/ASTRIDRequest.xsd"/>
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/ASTRIDAdapter/common/CustomerOrganization.xsd" schemaLocation = "../Common/CustomerOrganization.xsd"/>
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/ASTRIDAdapter/common/Attachment.xsd" schemaLocation = "../Common/Attachment.xsd"/>
	<xsd:element name = "UpsertCustomerIncidentReport">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base = "ASTRIDRequest.xsd:ASTRIDRequest">
					<xsd:sequence>
						<xsd:element name = "CUSTOMER_INCIDENT_REPORT" type = "CustomerIncidentReport.xsd:CustomerIncidentReport" minOccurs = "0"/>
						<xsd:element name = "CUSTOMER_ORGANIZATION" type = "CustomerOrganization.xsd:CustomerOrganization" minOccurs = "0"/>
						<xsd:element name = "MANAGED_OBJECT" type = "ManagedObject.xsd:ManagedObject" minOccurs = "0"/>
						<xsd:element name = "MANAGED_OBJECT_IN_TROUBLE" type = "ManagedObjectInTrouble.xsd:ManagedObjectInTrouble" minOccurs = "0"/>
						<xsd:element name = "ATTACHMENT" type = "Attachment.xsd:Attachment" minOccurs = "0" maxOccurs = "3"/>
					</xsd:sequence>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>