SiebelZMAdapter/XSDSchemas/SiebelZM/Request/kzmdocsdbdocuments.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	 xmlns:xsdLocal="http://www.siebel.com/xml/KZM_Docs_DB_Documents"
	 targetNamespace="http://www.siebel.com/xml/KZM_Docs_DB_Documents"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xsd:annotation>
		<xsd:documentation>Copyright (C) 2001-2004 Siebel Systems, Inc. All rights reserved. Siebel XSD Generation</xsd:documentation>
	</xsd:annotation>
	<xsd:element name="SiebelMessage" type="xsdLocal:SiebelMessage"/>
	<xsd:complexType name="SiebelMessage">
		<xsd:sequence>
			<xsd:element name="kzmdocsdbdocuments" type="xsdLocal:kzmdocsdbdocuments" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="MessageId" type="xsd:string"/>
		<xsd:attribute name="MessageType" type="xsd:string"/>
		<xsd:attribute name="IntObjectName" type="xsd:string"/>
		<xsd:attribute name="IntObjectFormat" type="xsd:string"/>
	</xsd:complexType>
	<xsd:complexType name="kzmdocsdbdocuments">
		<xsd:sequence>
			<xsd:element name="message" type="xsdLocal:message"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="message">
		<xsd:sequence>
			<xsd:element name="header" type="xsdLocal:header"/>
			<xsd:element name="body" type="xsdLocal:body"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="header">
		<xsd:sequence>
			<xsd:element name="user" type="xsd:string"/>
			<xsd:element name="role" type="xsd:string" minOccurs="0"/>
			<xsd:element name="productgroup" type="xsd:string" minOccurs="0"/>
			<xsd:element name="password" type="xsd:string" minOccurs="0"/>
			<xsd:element name="marketsegment" type="xsd:string" minOccurs="0"/>
			<xsd:element name="domain" type="xsd:string" minOccurs="0"/>
			<xsd:element name="documenttype" type="xsd:string"/>
			<xsd:element name="applicationid" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="body">
		<xsd:sequence>
			<xsd:element name="searchattributes" type="xsdLocal:searchattributes"/>
			<xsd:element name="requestedinformation" type="xsdLocal:requestedinformation"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="searchattributes">
		<xsd:sequence>
			<xsd:element name="CRM_SUBJECT" type="xsdLocal:CRM_SUBJECT"/>
			<xsd:element name="CRM_PARENT_ACCOUNT_ID" type="xsdLocal:CRM_PARENT_ACCOUNT_ID"/>
			<xsd:element name="CRM_ORIGINATING_SYSTEM" type="xsdLocal:CRM_ORIGINATING_SYSTEM"/>
			<xsd:element name="CRM_ORIGINATING_IDENTIFIER" type="xsdLocal:CRM_ORIGINATING_IDENTIFIER"/>
			<xsd:element name="CRM_ORDER_ID" type="xsdLocal:CRM_ORDER_ID"/>
			<xsd:element name="CKR_NR_HIST" type="xsdLocal:CKR_NR_HIST"/>
			<xsd:element name="CRM_MEDIUM" type="xsdLocal:CRM_MEDIUM"/>
			<xsd:element name="CRM_BRIEFNUMMER" type="xsdLocal:CRM_BRIEFNUMMER"/>
			<xsd:element name="CRM_BRIEFKENMERK" type="xsdLocal:CRM_BRIEFKENMERK"/>
			<xsd:element name="CRM_FILETYPE" type="xsdLocal:CRM_FILETYPE"/>
			<xsd:element name="CRM_FILENAME" type="xsdLocal:CRM_FILENAME"/>
			<xsd:element name="CRM_DIRECTION" type="xsdLocal:CRM_DIRECTION"/>
			<xsd:element name="CRM_CUSTOMER_CONTACT_ID" type="xsdLocal:CRM_CUSTOMER_CONTACT_ID"/>
			<xsd:element name="CRM_CREATIONDATE" type="xsdLocal:CRM_CREATIONDATE"/>
			<xsd:element name="CRM_CREATEDBY" type="xsdLocal:CRM_CREATEDBY"/>
			<xsd:element name="CRM_CONTRACTNUMBER" type="xsdLocal:CRM_CONTRACTNUMBER"/>
			<xsd:element name="CRM_BRAND" type="xsdLocal:CRM_BRAND"/>
			<xsd:element name="CKR_NR" type="xsdLocal:CKR_NR"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="requestedinformation">
		<xsd:sequence>
			<xsd:element name="URL" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CRM_SUBJECT" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CRM_PARENT_ACCOUNT_ID" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CRM_ORIGINATING_SYSTEM" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CRM_ORIGINATING_IDENTIFIER" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CRM_ORDER_ID" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CKR_NR_HST" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CRM_MEDIUM" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CRM_BRIEFNUMMER" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CRM_BRIEFKENMERK" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CRM_FILETYPE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CRM_FILENAME" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CRM_DIRECTION" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CRM_CUSTOMER_CONTACT_ID" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CRM_CREATIONDATE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CRM_CREATEDBY" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CRM_CONTRACTNUMBER" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CRM_BRAND" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CKR_NR" type="xsd:string" minOccurs="0"/>
			<xsd:element name="orderinginformation" type="xsdLocal:orderinginformation"/>
			<xsd:element name="fetchoptions" type="xsdLocal:fetchoptions"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CRM_SUBJECT">
		<xsd:sequence>
			<xsd:element name="CRM_SUBJECT" type="xsd:string" minOccurs="0"/>
			<xsd:element name="comparator" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CRM_PARENT_ACCOUNT_ID">
		<xsd:sequence>
			<xsd:element name="parentaccountid" type="xsd:string" minOccurs="0"/>
			<xsd:element name="comparator" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CRM_ORIGINATING_SYSTEM">
		<xsd:sequence>
			<xsd:element name="CRM_ORIGINATING_SYSTEM" type="xsd:string" minOccurs="0"/>
			<xsd:element name="comparator" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CRM_ORIGINATING_IDENTIFIER">
		<xsd:sequence>
			<xsd:element name="CRM_ORIGINATING_IDENTIFIER" type="xsd:string" minOccurs="0"/>
			<xsd:element name="comparator" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CRM_ORDER_ID">
		<xsd:sequence>
			<xsd:element name="orderid" type="xsd:string" minOccurs="0"/>
			<xsd:element name="comparator" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CKR_NR_HIST">
		<xsd:sequence>
			<xsd:element name="CKR_NR_HIST" type="xsd:string" minOccurs="0"/>
			<xsd:element name="comparator" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CRM_MEDIUM">
		<xsd:sequence>
			<xsd:element name="CRM_MEDIUM" type="xsd:string" minOccurs="0"/>
			<xsd:element name="comparator" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CRM_BRIEFNUMMER">
		<xsd:sequence>
			<xsd:element name="CRM_BRIEFNUMMER" type="xsd:string" minOccurs="0"/>
			<xsd:element name="comparator" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CRM_BRIEFKENMERK">
		<xsd:sequence>
			<xsd:element name="CRM_BRIEFKENMERK" type="xsd:string" minOccurs="0"/>
			<xsd:element name="comparator" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CRM_FILETYPE">
		<xsd:sequence>
			<xsd:element name="CRM_FILETYPE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="comparator" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CRM_FILENAME">
		<xsd:sequence>
			<xsd:element name="CRM_FILENAME" type="xsd:string" minOccurs="0"/>
			<xsd:element name="comparator" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CRM_DIRECTION">
		<xsd:sequence>
			<xsd:element name="CRM_DIRECTION" type="xsd:string" minOccurs="0"/>
			<xsd:element name="comparator" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CRM_CUSTOMER_CONTACT_ID">
		<xsd:sequence>
			<xsd:element name="CRM_CUSTOMER_CONTACT_ID" type="xsd:string" minOccurs="0"/>
			<xsd:element name="comparator" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CRM_CREATIONDATE">
		<xsd:sequence>
			<xsd:element name="CRM_CREATIONDATE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="comparator" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CRM_CREATEDBY">
		<xsd:sequence>
			<xsd:element name="CRM_CREATEDBY" type="xsd:string" minOccurs="0"/>
			<xsd:element name="comparator" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CRM_CONTRACTNUMBER">
		<xsd:sequence>
			<xsd:element name="CRM_CONTRACTNUMBER" type="xsd:string" minOccurs="0"/>
			<xsd:element name="comparator" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CRM_BRAND">
		<xsd:sequence>
			<xsd:element name="comparator" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CRM_BRAND" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CKR_NR">
		<xsd:sequence>
			<xsd:element name="comparator" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CKR_NR" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="orderinginformation">
		<xsd:sequence>
			<xsd:element name="ordering" type="xsd:string" minOccurs="0"/>
			<xsd:element name="orderby" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="fetchoptions">
		<xsd:sequence>
			<xsd:element name="startfetch" type="xsd:string" minOccurs="0"/>
			<xsd:element name="maxfetch" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>