IKKAdapter/XSDSchemas/EpiphanyINAAdapter/Response/GetInboundOffers.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns="http://xmlns.kpn.com/fixed/EpiphanyINAAdapter/Response/GetInboundOffers.xsd" xmlns:Base.xsd="http://xmlns.kpn.com/common/cdm/Base.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ResultStatus.xsd="http://xmlns.kpn.com/common/cdm/ResultStatus.xsd" targetNamespace="http://xmlns.kpn.com/fixed/EpiphanyINAAdapter/Response/GetInboundOffers.xsd" elementFormDefault="qualified">
	<xsd:import namespace="http://xmlns.kpn.com/common/cdm/Base.xsd" schemaLocation="../../Common/Base.xsd"/>
	<xsd:import namespace="http://xmlns.kpn.com/common/cdm/ResultStatus.xsd" schemaLocation="../../Common/ResultStatus.xsd"/>
	<xsd:element name="GetInboundOffers">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="Base.xsd:Base">
					<xsd:sequence>
						<xsd:element name="RESULT_STATUS" type="ResultStatus.xsd:ResultStatus"/>
						<xsd:element name="OFFER" minOccurs="0" maxOccurs="unbounded">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="MARKETING_CAMPAIGN">
										<xsd:complexType>
											<xsd:sequence>
												<xsd:element name="ID" type="xsd:string"/>
											</xsd:sequence>
										</xsd:complexType>
									</xsd:element>
									<xsd:element name="PRODUCT_OFFERING">
										<xsd:complexType>
											<xsd:sequence>
												<xsd:element name="IMAGE_LOCATION" type="xsd:string" minOccurs="0"/>
												<xsd:element name="LAST_MODIFIED_DATE" type="xsd:string" minOccurs="0"/>
												<xsd:element name="PROMO_ITEM" type="xsd:string" minOccurs="0"/>
												<xsd:element name="TYPE" type="xsd:string" minOccurs="0"/>
												<xsd:element name="TITLE" type="xsd:string" minOccurs="0"/>
												<xsd:element name="NAME" type="xsd:string"/>
												<xsd:element name="ID" type="xsd:string" minOccurs="0"/>
												<xsd:element name="SCORE" type="xsd:string" minOccurs="0"/>
												<xsd:element name="STATUS" type="xsd:string" minOccurs="0"/>
												<xsd:element name="BONUS" minOccurs="0">
													<xsd:complexType>
														<xsd:sequence>
															<xsd:element name="UNITS" type="xsd:string" minOccurs="0"/>
															<xsd:element name="AMOUNT" type="xsd:integer" minOccurs="0"/>
														</xsd:sequence>
													</xsd:complexType>
												</xsd:element>
												<xsd:element name="SALES_TEXT" minOccurs="0" maxOccurs="unbounded">
													<xsd:complexType>
														<xsd:sequence>
															<xsd:element name="NAME" type="xsd:string" minOccurs="0"/>
															<xsd:element name="VALUE" type="xsd:string" minOccurs="0"/>
														</xsd:sequence>
													</xsd:complexType>
												</xsd:element>
											</xsd:sequence>
										</xsd:complexType>
									</xsd:element>
									<xsd:element name="RUNTIME_PARAMETER" minOccurs="0">
										<xsd:complexType>
											<xsd:sequence>
												<xsd:element name="SERVER_ID" type="xsd:string" minOccurs="0"/>
												<xsd:element name="PRODUCT_DIALOG_SCRIPT" type="xsd:string" minOccurs="0"/>
											</xsd:sequence>
										</xsd:complexType>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="RUNTIME_PARAMETER" minOccurs="0">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="NUMBER_OF_OFFERS" type="xsd:integer" minOccurs="0"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
