ASTRIDAdapter/XSDSchemas/KanvasContractAdapter/Response/GetDirectDialBlocks.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.example.com/unique/default/namespace/1113223040015"
	 targetNamespace = "http://xmlns.example.com/unique/default/namespace/1113223040015"
	 xmlns:DirectDialBlock.xsd = "http://xmlns.example.com/unique/default/namespace/1113223074734"
	 xmlns:KanvasResponse.xsd = "http://xmlns.kpn.com/fixed/kanvascontractadapter/common/KanvasResponse.xsd"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified">
	<xsd:import namespace = "http://xmlns.example.com/unique/default/namespace/1113223074734" schemaLocation = "../Common/DirectDialBlock.xsd"/>
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/kanvascontractadapter/common/KanvasResponse.xsd" schemaLocation = "../Common/KanvasResponse.xsd"/>
	<xsd:element name = "GetDirectDialBlocks">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base = "KanvasResponse.xsd:KanvasResponse">
					<xsd:sequence>
						<xsd:element name = "NUMBER_OF_DIRECT_DIAL_BLOCKS" type = "xsd:string" minOccurs = "0"/>
						<xsd:element name = "DIRECT_DIAL_BLOCK" type = "DirectDialBlock.xsd:DirectDialBlock" minOccurs = "0" maxOccurs = "unbounded"/>
					</xsd:sequence>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>