ASTRIDAdapter/XSDSchemas/KanvasContractAdapter/Response/GetLeasedLineDetails.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.example.com/unique/default/namespace/1113223861421"
	 targetNamespace = "http://xmlns.example.com/unique/default/namespace/1113223861421"
	 xmlns:LeasedLine.xsd = "http://xmlns.example.com/unique/default/namespace/1113227710953"
	 xmlns:KanvasResponse.xsd = "http://xmlns.kpn.com/fixed/kanvascontractadapter/common/KanvasResponse.xsd"
	 xmlns:Port.xsd = "http://xmlns.example.com/unique/default/namespace/1111411714437"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified">
	<xsd:import namespace = "http://xmlns.example.com/unique/default/namespace/1113227710953" schemaLocation = "../Common/LeasedLine.xsd"/>
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/kanvascontractadapter/common/KanvasResponse.xsd" schemaLocation = "../Common/KanvasResponse.xsd"/>
	<xsd:import namespace = "http://xmlns.example.com/unique/default/namespace/1111411714437" schemaLocation = "../Common/Port.xsd"/>
	<xsd:element name = "GetLeasedLineDetails">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base = "KanvasResponse.xsd:KanvasResponse">
					<xsd:sequence>
						<xsd:element name = "FUNCTION" type = "xsd:string" minOccurs = "0"/>
						<xsd:element name = "LINE_NAME_EXTENSION" type = "xsd:string" minOccurs = "0"/>
						<xsd:element name = "LINE_QUALITY" type = "xsd:string" minOccurs = "0"/>
						<xsd:element name = "SEQUENCE_NUMBER" type = "xsd:string" minOccurs = "0"/>
						<xsd:element name = "NUMBER_OF_LINES" type = "xsd:string" minOccurs = "0"/>
						<xsd:element name = "LINE" type = "LeasedLine.xsd:LeasedLine" minOccurs = "0" maxOccurs = "unbounded"/>
						<xsd:element name = "PORT" type = "Port.xsd:Port" minOccurs = "0"/>
						<xsd:element name = "TTP_A_SIDE" minOccurs = "0">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name = "NAME" type = "xsd:string" minOccurs = "0"/>
									<xsd:element name = "NAME_EXTENSION" type = "xsd:string" minOccurs = "0"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name = "TTP_B_SIDE" minOccurs = "0">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name = "NAME" type = "xsd:string" minOccurs = "0"/>
									<xsd:element name = "NAME_EXTENSION" type = "xsd:string" minOccurs = "0"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>