ASTRIDAdapter/XSDSchemas/KanvasContractAdapter/Response/GetPbxFacilities.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.example.com/unique/default/namespace/1113220852218"
	 targetNamespace = "http://xmlns.example.com/unique/default/namespace/1113220852218"
	 xmlns:PbxGroupFacility.xsd = "http://xmlns.example.com/unique/default/namespace/1113220623296"
	 xmlns:KanvasResponse.xsd = "http://xmlns.kpn.com/fixed/kanvascontractadapter/common/KanvasResponse.xsd"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified">
	<xsd:import namespace = "http://xmlns.example.com/unique/default/namespace/1113220623296" schemaLocation = "../Common/PbxGroupFacility.xsd"/>
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/kanvascontractadapter/common/KanvasResponse.xsd" schemaLocation = "../Common/KanvasResponse.xsd"/>
	<xsd:element name = "GetPbxFacilities">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base = "KanvasResponse.xsd:KanvasResponse">
					<xsd:sequence>
						<xsd:element name = "NUMBER_OF_PBX_GROUP_FACILITIES" type = "xsd:string" minOccurs = "0"/>
						<xsd:element name = "PBX_GROUP_FACILITY" type = "PbxGroupFacility.xsd:PbxGroupFacility" minOccurs = "0" maxOccurs = "unbounded"/>
					</xsd:sequence>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>