ASTRIDAdapter/XSDSchemas/KanvasContractAdapter/Response/GetPhoneNumbersConnection.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.example.com/unique/default/namespace/1125415949109"
	 targetNamespace = "http://xmlns.example.com/unique/default/namespace/1125415949109"
	 xmlns:KanvasResponse.xsd = "http://xmlns.kpn.com/fixed/kanvascontractadapter/common/KanvasResponse.xsd"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified">
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/kanvascontractadapter/common/KanvasResponse.xsd" schemaLocation = "../Common/KanvasResponse.xsd"/>
	<xsd:element name = "GetPhoneNumbersConnection">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base = "KanvasResponse.xsd:KanvasResponse">
					<xsd:sequence>
						<xsd:element name = "AREA_CODE" type = "xsd:string" minOccurs = "0"/>
						<xsd:element name = "SERVICE_TYPE_EXTENSION" type = "xsd:string" minOccurs = "0"/>
						<xsd:element name = "ROUTING_TYPE" type = "xsd:string" minOccurs = "0"/>
						<xsd:element name = "NUMBER_OF_SUBSCRIBER_NUMBER" type = "xsd:string" minOccurs = "0"/>
						<xsd:element name = "SUBSCRIBER_NUMBER" type = "SubscriberNumber" minOccurs = "0" maxOccurs = "unbounded"/>
					</xsd:sequence>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name = "SubscriberNumber">
		<xsd:sequence>
			<xsd:element name = "SUBSCRIBER_NUMBER" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "MAIN_NUMBER" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "USAGE_STATUS" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "SUBSCRIBER_NUMBER_TYPE" type = "xsd:string" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>