ASTRIDAdapter/XSDSchemas/KanvasContractAdapter/Response/GetPbxLines.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.example.com/unique/default/namespace/1113220108890"
	 targetNamespace = "http://xmlns.example.com/unique/default/namespace/1113220108890"
	 xmlns:KanvasResponse.xsd = "http://xmlns.kpn.com/fixed/kanvascontractadapter/common/KanvasResponse.xsd"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 xmlns:PbxLine.xsd = "http://xmlns.example.com/unique/default/namespace/1113219709984"
	 xmlns:Pbx.xsd = "http://xmlns.example.com/unique/default/namespace/1113219960156"
	 elementFormDefault = "qualified">
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/kanvascontractadapter/common/KanvasResponse.xsd" schemaLocation = "../Common/KanvasResponse.xsd"/>
	<xsd:import namespace = "http://xmlns.example.com/unique/default/namespace/1113219709984" schemaLocation = "../Common/PbxLine.xsd"/>
	<xsd:import namespace = "http://xmlns.example.com/unique/default/namespace/1113219960156" schemaLocation = "../Common/Pbx.xsd"/>
	<xsd:element name = "GetPbxLines">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base = "KanvasResponse.xsd:KanvasResponse">
					<xsd:sequence>
						<xsd:element name = "NUMBER_OF_LINES" type = "xsd:string" minOccurs = "0"/>
						<xsd:element name = "ROUTING_TYPE" type = "xsd:string" minOccurs = "0"/>
						<xsd:element name = "LINE" minOccurs = "0" maxOccurs = "unbounded">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name = "NUMBER" type = "xsd:string" minOccurs = "0"/>
									<xsd:element name = "CURRENT_LINE" type = "PbxLine.xsd:PbxLine" minOccurs = "0"/>
									<xsd:element name = "FUTURE_LINE" type = "PbxLine.xsd:PbxLine" minOccurs = "0"/>
									<xsd:element name = "PBX" type = "Pbx.xsd:Pbx" minOccurs = "0"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>