ASTRIDAdapter/XSDSchemas/KanvasContractAdapter/Response/GetSubscriberNumbersSingleConnection.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.example.com/unique/default/namespace/1113208793250"
	 targetNamespace = "http://xmlns.example.com/unique/default/namespace/1113208793250"
	 xmlns:KanvasResponse.xsd = "http://xmlns.kpn.com/fixed/kanvascontractadapter/common/KanvasResponse.xsd"
	 xmlns:SubscriberNumber.xsd = "http://xmlns.example.com/unique/default/namespace/1113209043828"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified">
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/kanvascontractadapter/common/KanvasResponse.xsd" schemaLocation = "../Common/KanvasResponse.xsd"/>
	<xsd:import namespace = "http://xmlns.example.com/unique/default/namespace/1113209043828" schemaLocation = "../Common/SubscriberNumber.xsd"/>
	<xsd:element name = "GetSubscriberNumbersSingleConnection">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base = "KanvasResponse.xsd:KanvasResponse">
					<xsd:sequence>
						<xsd:element name = "SERVICE_TYPE_EXTENSION" type = "xsd:string" minOccurs = "0"/>
						<xsd:element name = "NUMBER_OF_SUBSCRIBER_NUMBER" type = "xsd:string" minOccurs = "0"/>
						<xsd:element name = "ROUTING_TYPE" type = "xsd:string" minOccurs = "0"/>
						<xsd:element name = "SUBSCRIBER_NUMBER" minOccurs = "0" maxOccurs = "unbounded">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name = "CURRENT" type = "SubscriberNumber.xsd:SubscriberNumber" minOccurs = "0"/>
									<xsd:element name = "FUTURE" type = "SubscriberNumber.xsd:SubscriberNumber" minOccurs = "0"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>