IKKAdapter/XSDSchemas/UtilityServices/Request/TestConvertKas2PhoneNumber.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema targetNamespace="http://xmlns.kpn.com/fixed/UtilityServices/request/ConvertKas2PhoneNumber.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://xmlns.kpn.com/fixed/UtilityServices/request/ConvertKas2PhoneNumber.xsd" elementFormDefault="qualified" attributeFormDefault="qualified">
	<!-- edited with XML Spy v4.4 U (http://www.xmlspy.com) by Atos Origin (Atos Origin) -->
	<xsd:element name="ConvertKas2PhoneNumber">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="KAS_NUMBER" type="xsd:string" minOccurs="0"/>
				<xsd:element name="PHONE_NUMBER_10" type="xsd:string" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
