SiebelZMAdapter/WSDL/GetBusinessSegmentOrders.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<?Siebel-Property-Set EscapeNames="false"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://siebel.com/ExportOrders" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsdLocal1="http://www.siebel.com/xml/KZM%20Account%20Info%20Request" xmlns:xsdLocal2="http://www.siebel.com/xml/KZM%20Order%20Account%20Data%20Export" targetNamespace="http://siebel.com/ExportOrders">
    <types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://siebel.com/ExportOrders">
            <xsd:import namespace="http://www.siebel.com/xml/KZM%20Order%20Account%20Data%20Export"/>
            <xsd:import namespace="http://www.siebel.com/xml/KZM%20Account%20Info%20Request"/>
            <xsd:element name="KZM_spcAccount_spcOrder_spcexport_Input">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="KZM_spcXMLDoc" type="xsd:string"/>
                        <xsd:element name="Process_spcInstance_spcId" type="xsd:string"/>
                        <xsd:element name="KZM_spcCKRNr" type="xsd:string"/>
                        <xsd:element name="KZM_spcUse_spcTestMessage" type="xsd:string"/>
                        <xsd:element name="Object_spcId" type="xsd:string"/>
                        <xsd:element name="Siebel_spcOperation_spcObject_spcId" type="xsd:string"/>
                        <xsd:element ref="xsdLocal1:Accounts"/>
                        <xsd:element name="Error_spcCode" type="xsd:string"/>
                        <xsd:element name="Error_spcMessage" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="KZM_spcAccount_spcOrder_spcexport_Output">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="Error_spcCode" type="xsd:string"/>
                        <xsd:element name="Error_spcMessage" type="xsd:string"/>
                        <xsd:element name="KZM_spcCKRNr" type="xsd:string"/>
                        <xsd:element ref="xsdLocal2:ListOfOrderEntry-Orders"/>
                        <xsd:element name="KZM_spcUse_spcTestMessage" type="xsd:string"/>
                        <xsd:element name="KZM_spcXMLDoc" type="xsd:string"/>
                        <xsd:element name="Object_spcId" type="xsd:string"/>
                        <xsd:element name="Process_spcInstance_spcId" type="xsd:string"/>
                        <xsd:element name="Siebel_spcOperation_spcObject_spcId" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsdLocal1="http://www.siebel.com/xml/KZM%20Account%20Info%20Request" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.siebel.com/xml/KZM%20Account%20Info%20Request">
            <xsd:annotation>
                <xsd:documentation>Copyright (C) 2001-2004 Siebel Systems, Inc. All rights reserved. Siebel XSD Generation</xsd:documentation>
            </xsd:annotation>
            <xsd:element name="Accounts" type="xsdLocal1:Accounts"/>
            <xsd:complexType name="AccountsTopElmt">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="1" name="Accounts" type="xsdLocal1:Accounts"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Accounts">
                <xsd:sequence>
                    <xsd:element name="Account" type="xsdLocal1:Account"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Account">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CKRNumber" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsdLocal2="http://www.siebel.com/xml/KZM%20Order%20Account%20Data%20Export" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.siebel.com/xml/KZM%20Order%20Account%20Data%20Export">
            <xsd:annotation>
                <xsd:documentation>Copyright (C) 2001-2004 Siebel Systems, Inc. All rights reserved. Siebel XSD Generation</xsd:documentation>
            </xsd:annotation>
            <xsd:element name="ListOfOrderEntry-Orders" type="xsdLocal2:ListOfOrderEntry-Orders"/>
            <xsd:complexType name="ListOfOrderEntry-OrdersTopElmt">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="1" name="ListOfOrderEntry-Orders" type="xsdLocal2:ListOfOrderEntry-Orders"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ListOfOrderEntry-Orders">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="OrderEntry-Orders" type="xsdLocal2:OrderEntry-Orders"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="OrderEntry-Orders">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="0" name="AccountName" type="xsdLocal2:string100"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="AccountId" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CKRNumber" type="xsdLocal2:string30"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="SubStatus" type="xsdLocal2:string30"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="OrderSubType" type="xsdLocal2:string30"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="OrderNumber" type="xsdLocal2:string30"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="OrderType" type="xsdLocal2:string30"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="Status" type="xsdLocal2:string30"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="ListOfAccount" type="xsdLocal2:ListOfAccount"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="ListOfKzm-BillingAccount" type="xsdLocal2:ListOfKzm-BillingAccount"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="ListOfKzm-ServiceAccount" type="xsdLocal2:ListOfKzm-ServiceAccount"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="ListOfOrderEntry-LineItems" type="xsdLocal2:ListOfOrderEntry-LineItems"/>
                </xsd:sequence>
                <xsd:attribute name="searchspec" type="xsd:string"/>
            </xsd:complexType>
            <xsd:complexType name="ListOfAccount">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="Account" type="xsdLocal2:Account"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Account">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CKRNumber" type="xsdLocal2:string30"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="CurrencyCode" type="xsdLocal2:string15"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="GroupTypeCode" type="xsdLocal2:string30"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="InternalOrgFlag" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="LegalForm" type="xsdLocal2:string30"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="Name" type="xsdLocal2:string100"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="PartyTypeCode" type="xsdLocal2:string30"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="PartyUId" type="xsdLocal2:string100"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="PriceList" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="PrivacyCode" type="xsdLocal2:string30"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="Type" type="xsdLocal2:string30"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="ListOfAccountContactAffiliation" type="xsdLocal2:ListOfAccountContactAffiliation"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ListOfKzm-BillingAccount">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="Kzm-BillingAccount" type="xsdLocal2:Kzm-BillingAccount"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Kzm-BillingAccount">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CKRNumber" type="xsdLocal2:string30"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="CurrencyCode" type="xsdLocal2:string15"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="GroupTypeCode" type="xsdLocal2:string30"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="InternalOrgFlag" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="LegalForm" type="xsdLocal2:string30"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="Name" type="xsdLocal2:string100"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="PartyTypeCode" type="xsdLocal2:string30"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="PartyUId" type="xsdLocal2:string100"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="PriceList" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="PrivacyCode" type="xsdLocal2:string30"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="Type" type="xsdLocal2:string30"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="ListOfKzm-Eai-BillingAccountContactAffiliation" type="xsdLocal2:ListOfKzm-Eai-BillingAccountContactAffiliation"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ListOfKzm-ServiceAccount">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="Kzm-ServiceAccount" type="xsdLocal2:Kzm-ServiceAccount"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Kzm-ServiceAccount">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CKRNumber" type="xsdLocal2:string30"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="CurrencyCode" type="xsdLocal2:string15"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="GroupTypeCode" type="xsdLocal2:string30"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="InternalOrgFlag" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="LegalForm" type="xsdLocal2:string30"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="Name" type="xsdLocal2:string100"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="PartyTypeCode" type="xsdLocal2:string30"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="PartyUId" type="xsdLocal2:string100"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="PriceList" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="PrivacyCode" type="xsdLocal2:string30"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="Type" type="xsdLocal2:string30"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="ListOfKzm-Eai-ServiceAccountContactAffiliation" type="xsdLocal2:ListOfKzm-Eai-ServiceAccountContactAffiliation"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ListOfOrderEntry-LineItems">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="OrderEntry-LineItems" type="xsdLocal2:OrderEntry-LineItems"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="OrderEntry-LineItems">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="0" name="ExtendedQuantity" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="MRCCxTotal" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="NRCCxTotal" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="ParentOrderItemId" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="ProductName" type="xsdLocal2:string100"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="Quantity" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="RootOrderItemId" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="ServiceId" type="xsdLocal2:string100"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="Status" type="xsdLocal2:string30"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="ListOfOrderItemXa" type="xsdLocal2:ListOfOrderItemXa"/>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="OrderEntry-LineItems" type="xsdLocal2:OrderEntry-LineItems"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ListOfAccountContactAffiliation">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="AccountContactAffiliation" type="xsdLocal2:AccountContactAffiliation"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="AccountContactAffiliation">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CellularPhone" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="EmailAddress" type="xsdLocal2:string100"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="EndDate" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="FaxPhone" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="FirstName" type="xsdLocal2:string50"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="LastName" type="xsdLocal2:string50"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="MF" type="xsdLocal2:string30"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="MM" type="xsdLocal2:string15"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="MiddleName" type="xsdLocal2:string50"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="StartDate" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="WorkPhone" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="ListOfAccountContactAffiliationDetail" type="xsdLocal2:ListOfAccountContactAffiliationDetail"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ListOfKzm-Eai-BillingAccountContactAffiliation">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="Kzm-Eai-BillingAccountContactAffiliation" type="xsdLocal2:Kzm-Eai-BillingAccountContactAffiliation"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Kzm-Eai-BillingAccountContactAffiliation">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CellularPhone" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="EmailAddress" type="xsdLocal2:string100"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="EndDate" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="FaxPhone" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="FirstName" type="xsdLocal2:string50"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="LastName" type="xsdLocal2:string50"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="MF" type="xsdLocal2:string30"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="MM" type="xsdLocal2:string15"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="MiddleName" type="xsdLocal2:string50"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="StartDate" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="WorkPhone" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="ListOfKzm-Eai-BillingAccountContactAffiliationDetail" type="xsdLocal2:ListOfKzm-Eai-BillingAccountContactAffiliationDetail"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ListOfKzm-Eai-ServiceAccountContactAffiliation">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="Kzm-Eai-ServiceAccountContactAffiliation" type="xsdLocal2:Kzm-Eai-ServiceAccountContactAffiliation"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Kzm-Eai-ServiceAccountContactAffiliation">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CellularPhone" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="EmailAddress" type="xsdLocal2:string100"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="EndDate" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="FaxPhone" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="FirstName" type="xsdLocal2:string50"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="LastName" type="xsdLocal2:string50"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="MF" type="xsdLocal2:string30"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="MM" type="xsdLocal2:string15"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="MiddleName" type="xsdLocal2:string50"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="StartDate" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="WorkPhone" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="ListOfKzm-Eai-ServiceAccountContactAffiliationDetail" type="xsdLocal2:ListOfKzm-Eai-ServiceAccountContactAffiliationDetail"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ListOfOrderItemXa">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="OrderItemXa" type="xsdLocal2:OrderItemXa"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="OrderItemXa">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="0" name="Name" type="xsdLocal2:string75"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="Value" type="xsdLocal2:string100"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ListOfAccountContactAffiliationDetail">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="AccountContactAffiliationDetail" type="xsdLocal2:AccountContactAffiliationDetail"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="AccountContactAffiliationDetail">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="1" name="Role" type="xsdLocal2:string30"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ListOfKzm-Eai-BillingAccountContactAffiliationDetail">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="Kzm-Eai-BillingAccountContactAffiliationDetail" type="xsdLocal2:Kzm-Eai-BillingAccountContactAffiliationDetail"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Kzm-Eai-BillingAccountContactAffiliationDetail">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="1" name="Role" type="xsdLocal2:string30"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ListOfKzm-Eai-ServiceAccountContactAffiliationDetail">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="Kzm-Eai-ServiceAccountContactAffiliationDetail" type="xsdLocal2:Kzm-Eai-ServiceAccountContactAffiliationDetail"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Kzm-Eai-ServiceAccountContactAffiliationDetail">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="1" name="Role" type="xsdLocal2:string30"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:simpleType name="string50">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="50"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="string75">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="75"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="string15">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="15"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="string30">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="30"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="string100">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="100"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:schema>
    </types>
    <message name="KZM_spcAccount_spcOrder_spcexport_Input">
        <part element="tns:KZM_spcAccount_spcOrder_spcexport_Input" name="KZM_spcAccount_spcOrder_spcexport_Input"/>
    </message>
    <message name="KZM_spcAccount_spcOrder_spcexport_Output">
        <part element="tns:KZM_spcAccount_spcOrder_spcexport_Output" name="KZM_spcAccount_spcOrder_spcexport_Output"/>
    </message>
    <portType name="KZM_spcAccount_spcOrder_spcExport">
        <operation name="KZM_spcAccount_spcOrder_spcexport">
            <input message="tns:KZM_spcAccount_spcOrder_spcexport_Input"/>
            <output message="tns:KZM_spcAccount_spcOrder_spcexport_Output"/>
        </operation>
    </portType>
    <binding name="KZM_spcAccount_spcOrder_spcExport" type="tns:KZM_spcAccount_spcOrder_spcExport">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="KZM_spcAccount_spcOrder_spcexport">
            <soap:operation soapAction="document/http://siebel.com/ExportOrders:KZM_spcAccount_spcOrder_spcexport"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="KZM_spcAccount_spcOrder_spcExport">
        <port binding="tns:KZM_spcAccount_spcOrder_spcExport" name="KZM_spcAccount_spcOrder_spcExport">
            <soap:address location="http://w0038/eai_NLD/start.swe?SWEExtSource=WebService&amp;SWEExtCmd=Execute&amp;UserName=CMS_INBOUND&amp;Password=CMS_INBOUND"/>
        </port>
    </service>
</definitions>