SiebelZMAdapter/WSDL/GetBusinessSegmentInstalledBase.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<?Siebel-Property-Set EscapeNames="false"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsdLocal1="http://www.siebel.com/xml/KZM%20Account%20Info%20Request" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsdLocal2="http://www.siebel.com/xml/KZM%20Installed%20Assets" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://siebel.com/ExportInstalledBase" targetNamespace="http://siebel.com/ExportInstalledBase">
    <types>
        <xsd:schema xmlns:xsdLocal1="http://www.siebel.com/xml/KZM%20Account%20Info%20Request" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" targetNamespace="http://www.siebel.com/xml/KZM%20Account%20Info%20Request">
            <xsd:annotation>
                <xsd:documentation>Copyright (C) 2001-2004 Siebel Systems, Inc. All rights reserved. Siebel XSD Generation</xsd:documentation>
            </xsd:annotation>
            <xsd:element name="Accounts" type="xsdLocal1:Accounts"/>
            <xsd:complexType name="AccountsTopElmt">
                <xsd:sequence>
                    <xsd:element name="Accounts" maxOccurs="1" minOccurs="1" type="xsdLocal1:Accounts"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Accounts">
                <xsd:sequence>
                    <xsd:element name="Account" type="xsdLocal1:Account"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Account">
                <xsd:sequence>
                    <xsd:element name="CKRNumber" maxOccurs="1" minOccurs="0" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
        <xsd:schema xmlns:xsdLocal2="http://www.siebel.com/xml/KZM%20Installed%20Assets" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" targetNamespace="http://www.siebel.com/xml/KZM%20Installed%20Assets">
            <xsd:annotation>
                <xsd:documentation>Copyright (C) 2001-2004 Siebel Systems, Inc. All rights reserved. Siebel XSD Generation</xsd:documentation>
            </xsd:annotation>
            <xsd:element name="ListOfAssetMgmt-Asset-Header" type="xsdLocal2:ListOfAssetMgmt-Asset-Header"/>
            <xsd:complexType name="ListOfAssetMgmt-Asset-HeaderTopElmt">
                <xsd:sequence>
                    <xsd:element name="ListOfAssetMgmt-Asset-Header" maxOccurs="1" minOccurs="1" type="xsdLocal2:ListOfAssetMgmt-Asset-Header"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ListOfAssetMgmt-Asset-Header">
                <xsd:sequence>
                    <xsd:element name="AssetMgmt-Asset-Header" maxOccurs="unbounded" minOccurs="0" type="xsdLocal2:AssetMgmt-Asset-Header"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="AssetMgmt-Asset-Header">
                <xsd:sequence>
                    <xsd:element name="CKRNumber" maxOccurs="1" minOccurs="0" type="xsdLocal2:string30"/>
                    <xsd:element name="AccountId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="AccountName" maxOccurs="1" minOccurs="0" type="xsdLocal2:string100"/>
                    <xsd:element name="ProductName" maxOccurs="1" minOccurs="1" type="xsdLocal2:string100"/>
                    <xsd:element name="Quantity" maxOccurs="1" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="ServiceId" maxOccurs="1" minOccurs="0" type="xsdLocal2:string100"/>
                    <xsd:element name="Status" maxOccurs="1" minOccurs="0" type="xsdLocal2:string30"/>
                    <xsd:element name="ListOfAccount" maxOccurs="1" minOccurs="0" type="xsdLocal2:ListOfAccount"/>
                    <xsd:element name="ListOfKzm-BillingAccount" maxOccurs="1" minOccurs="0" type="xsdLocal2:ListOfKzm-BillingAccount"/>
                    <xsd:element name="ListOfKzm-ServiceAccount" maxOccurs="1" minOccurs="0" type="xsdLocal2:ListOfKzm-ServiceAccount"/>
                    <xsd:element name="ListOfAssetMgmt-Asset" maxOccurs="1" minOccurs="0" type="xsdLocal2:ListOfAssetMgmt-Asset"/>
                </xsd:sequence>
                <xsd:attribute name="searchspec" type="xsd:string"/>
            </xsd:complexType>
            <xsd:complexType name="ListOfAccount">
                <xsd:sequence>
                    <xsd:element name="Account" maxOccurs="unbounded" minOccurs="0" type="xsdLocal2:Account"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Account">
                <xsd:sequence>
                    <xsd:element name="CKRNumber" maxOccurs="1" minOccurs="0" type="xsdLocal2:string30"/>
                    <xsd:element name="CurrencyCode" maxOccurs="1" minOccurs="1" type="xsdLocal2:string15"/>
                    <xsd:element name="GroupTypeCode" maxOccurs="1" minOccurs="1" type="xsdLocal2:string30"/>
                    <xsd:element name="InternalOrgFlag" maxOccurs="1" minOccurs="1" type="xsd:string"/>
                    <xsd:element name="LegalForm" maxOccurs="1" minOccurs="1" type="xsdLocal2:string30"/>
                    <xsd:element name="Name" maxOccurs="1" minOccurs="1" type="xsdLocal2:string100"/>
                    <xsd:element name="PartyTypeCode" maxOccurs="1" minOccurs="1" type="xsdLocal2:string30"/>
                    <xsd:element name="PartyUId" maxOccurs="1" minOccurs="1" type="xsdLocal2:string100"/>
                    <xsd:element name="PriceList" maxOccurs="1" minOccurs="1" type="xsd:string"/>
                    <xsd:element name="PrivacyCode" maxOccurs="1" minOccurs="1" type="xsdLocal2:string30"/>
                    <xsd:element name="Type" maxOccurs="1" minOccurs="1" type="xsdLocal2:string30"/>
                    <xsd:element name="ListOfAccountContactAffiliation" maxOccurs="1" minOccurs="0" type="xsdLocal2:ListOfAccountContactAffiliation"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ListOfKzm-BillingAccount">
                <xsd:sequence>
                    <xsd:element name="Kzm-BillingAccount" maxOccurs="unbounded" minOccurs="0" type="xsdLocal2:Kzm-BillingAccount"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Kzm-BillingAccount">
                <xsd:sequence>
                    <xsd:element name="CKRNumber" maxOccurs="1" minOccurs="0" type="xsdLocal2:string30"/>
                    <xsd:element name="CurrencyCode" maxOccurs="1" minOccurs="1" type="xsdLocal2:string15"/>
                    <xsd:element name="GroupTypeCode" maxOccurs="1" minOccurs="1" type="xsdLocal2:string30"/>
                    <xsd:element name="InternalOrgFlag" maxOccurs="1" minOccurs="1" type="xsd:string"/>
                    <xsd:element name="LegalForm" maxOccurs="1" minOccurs="0" type="xsdLocal2:string30"/>
                    <xsd:element name="Name" maxOccurs="1" minOccurs="1" type="xsdLocal2:string100"/>
                    <xsd:element name="PartyTypeCode" maxOccurs="1" minOccurs="1" type="xsdLocal2:string30"/>
                    <xsd:element name="PartyUId" maxOccurs="1" minOccurs="1" type="xsdLocal2:string100"/>
                    <xsd:element name="PriceList" maxOccurs="1" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="PrivacyCode" maxOccurs="1" minOccurs="1" type="xsdLocal2:string30"/>
                    <xsd:element name="Type" maxOccurs="1" minOccurs="1" type="xsdLocal2:string30"/>
                    <xsd:element name="ListOfKzm-Eai-BillingAccountContactAffiliation" maxOccurs="1" minOccurs="0" type="xsdLocal2:ListOfKzm-Eai-BillingAccountContactAffiliation"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ListOfKzm-ServiceAccount">
                <xsd:sequence>
                    <xsd:element name="Kzm-ServiceAccount" maxOccurs="unbounded" minOccurs="0" type="xsdLocal2:Kzm-ServiceAccount"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Kzm-ServiceAccount">
                <xsd:sequence>
                    <xsd:element name="CKRNumber" maxOccurs="1" minOccurs="0" type="xsdLocal2:string30"/>
                    <xsd:element name="CurrencyCode" maxOccurs="1" minOccurs="1" type="xsdLocal2:string15"/>
                    <xsd:element name="GroupTypeCode" maxOccurs="1" minOccurs="1" type="xsdLocal2:string30"/>
                    <xsd:element name="InternalOrgFlag" maxOccurs="1" minOccurs="1" type="xsd:string"/>
                    <xsd:element name="LegalForm" maxOccurs="1" minOccurs="0" type="xsdLocal2:string30"/>
                    <xsd:element name="Name" maxOccurs="1" minOccurs="1" type="xsdLocal2:string100"/>
                    <xsd:element name="PartyTypeCode" maxOccurs="1" minOccurs="1" type="xsdLocal2:string30"/>
                    <xsd:element name="PartyUId" maxOccurs="1" minOccurs="1" type="xsdLocal2:string100"/>
                    <xsd:element name="PriceList" maxOccurs="1" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="PrivacyCode" maxOccurs="1" minOccurs="1" type="xsdLocal2:string30"/>
                    <xsd:element name="Type" maxOccurs="1" minOccurs="1" type="xsdLocal2:string30"/>
                    <xsd:element name="ListOfKzm-Eai-ServiceAccountContactAffiliation" maxOccurs="1" minOccurs="0" type="xsdLocal2:ListOfKzm-Eai-ServiceAccountContactAffiliation"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ListOfAssetMgmt-Asset">
                <xsd:sequence>
                    <xsd:element name="AssetMgmt-Asset" maxOccurs="unbounded" minOccurs="0" type="xsdLocal2:AssetMgmt-Asset"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="AssetMgmt-Asset">
                <xsd:sequence>
                    <xsd:element name="AssetNumber" maxOccurs="1" minOccurs="1" type="xsdLocal2:string100"/>
                    <xsd:element name="MRCCxTotal" maxOccurs="1" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="NRCCxTotal" maxOccurs="1" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="ParentAssetId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="ProductName" maxOccurs="1" minOccurs="1" type="xsdLocal2:string100"/>
                    <xsd:element name="Quantity" maxOccurs="1" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="RootAssetId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="ServiceId" maxOccurs="1" minOccurs="0" type="xsdLocal2:string100"/>
                    <xsd:element name="ListOfAssetMgmt-AssetXa" maxOccurs="1" minOccurs="0" type="xsdLocal2:ListOfAssetMgmt-AssetXa"/>
                    <xsd:element name="AssetMgmt-Asset" maxOccurs="unbounded" minOccurs="0" type="xsdLocal2:AssetMgmt-Asset"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ListOfAccountContactAffiliation">
                <xsd:sequence>
                    <xsd:element name="AccountContactAffiliation" maxOccurs="unbounded" minOccurs="0" type="xsdLocal2:AccountContactAffiliation"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="AccountContactAffiliation">
                <xsd:sequence>
                    <xsd:element name="CellularPhone" maxOccurs="1" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="EmailAddress" maxOccurs="1" minOccurs="0" type="xsdLocal2:string100"/>
                    <xsd:element name="EndDate" maxOccurs="1" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="FaxPhone" maxOccurs="1" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="FirstName" maxOccurs="1" minOccurs="0" type="xsdLocal2:string50"/>
                    <xsd:element name="LastName" maxOccurs="1" minOccurs="1" type="xsdLocal2:string50"/>
                    <xsd:element name="MF" maxOccurs="1" minOccurs="1" type="xsdLocal2:string30"/>
                    <xsd:element name="MM" maxOccurs="1" minOccurs="1" type="xsdLocal2:string15"/>
                    <xsd:element name="MiddleName" maxOccurs="1" minOccurs="0" type="xsdLocal2:string50"/>
                    <xsd:element name="StartDate" maxOccurs="1" minOccurs="1" type="xsd:string"/>
                    <xsd:element name="WorkPhone" maxOccurs="1" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="ListOfAccountContactAffiliationDetail" maxOccurs="1" minOccurs="0" type="xsdLocal2:ListOfAccountContactAffiliationDetail"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ListOfKzm-Eai-BillingAccountContactAffiliation">
                <xsd:sequence>
                    <xsd:element name="Kzm-Eai-BillingAccountContactAffiliation" maxOccurs="unbounded" minOccurs="0" type="xsdLocal2:Kzm-Eai-BillingAccountContactAffiliation"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Kzm-Eai-BillingAccountContactAffiliation">
                <xsd:sequence>
                    <xsd:element name="CellularPhone" maxOccurs="1" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="EmailAddress" maxOccurs="1" minOccurs="0" type="xsdLocal2:string100"/>
                    <xsd:element name="EndDate" maxOccurs="1" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="FaxPhone" maxOccurs="1" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="FirstName" maxOccurs="1" minOccurs="0" type="xsdLocal2:string50"/>
                    <xsd:element name="LastName" maxOccurs="1" minOccurs="1" type="xsdLocal2:string50"/>
                    <xsd:element name="MF" maxOccurs="1" minOccurs="1" type="xsdLocal2:string30"/>
                    <xsd:element name="MM" maxOccurs="1" minOccurs="1" type="xsdLocal2:string15"/>
                    <xsd:element name="MiddleName" maxOccurs="1" minOccurs="0" type="xsdLocal2:string50"/>
                    <xsd:element name="StartDate" maxOccurs="1" minOccurs="1" type="xsd:string"/>
                    <xsd:element name="WorkPhone" maxOccurs="1" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="ListOfKzm-Eai-BillingAccountContactAffiliationDetail" maxOccurs="1" minOccurs="0" type="xsdLocal2:ListOfKzm-Eai-BillingAccountContactAffiliationDetail"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ListOfKzm-Eai-ServiceAccountContactAffiliation">
                <xsd:sequence>
                    <xsd:element name="Kzm-Eai-ServiceAccountContactAffiliation" maxOccurs="unbounded" minOccurs="0" type="xsdLocal2:Kzm-Eai-ServiceAccountContactAffiliation"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Kzm-Eai-ServiceAccountContactAffiliation">
                <xsd:sequence>
                    <xsd:element name="CellularPhone" maxOccurs="1" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="EmailAddress" maxOccurs="1" minOccurs="0" type="xsdLocal2:string100"/>
                    <xsd:element name="EndDate" maxOccurs="1" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="FaxPhone" maxOccurs="1" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="FirstName" maxOccurs="1" minOccurs="0" type="xsdLocal2:string50"/>
                    <xsd:element name="LastName" maxOccurs="1" minOccurs="1" type="xsdLocal2:string50"/>
                    <xsd:element name="MF" maxOccurs="1" minOccurs="1" type="xsdLocal2:string30"/>
                    <xsd:element name="MM" maxOccurs="1" minOccurs="1" type="xsdLocal2:string15"/>
                    <xsd:element name="MiddleName" maxOccurs="1" minOccurs="0" type="xsdLocal2:string50"/>
                    <xsd:element name="StartDate" maxOccurs="1" minOccurs="1" type="xsd:string"/>
                    <xsd:element name="WorkPhone" maxOccurs="1" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="ListOfKzm-Eai-ServiceAccountContactAffiliationDetail" maxOccurs="1" minOccurs="0" type="xsdLocal2:ListOfKzm-Eai-ServiceAccountContactAffiliationDetail"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ListOfAssetMgmt-AssetXa">
                <xsd:sequence>
                    <xsd:element name="AssetMgmt-AssetXa" maxOccurs="unbounded" minOccurs="0" type="xsdLocal2:AssetMgmt-AssetXa"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="AssetMgmt-AssetXa">
                <xsd:sequence>
                    <xsd:element name="Name" maxOccurs="1" minOccurs="0" type="xsdLocal2:string75"/>
                    <xsd:element name="Value" maxOccurs="1" minOccurs="0" type="xsdLocal2:string100"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ListOfAccountContactAffiliationDetail">
                <xsd:sequence>
                    <xsd:element name="AccountContactAffiliationDetail" maxOccurs="unbounded" minOccurs="0" type="xsdLocal2:AccountContactAffiliationDetail"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="AccountContactAffiliationDetail">
                <xsd:sequence>
                    <xsd:element name="Role" maxOccurs="1" minOccurs="1" type="xsdLocal2:string30"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ListOfKzm-Eai-BillingAccountContactAffiliationDetail">
                <xsd:sequence>
                    <xsd:element name="Kzm-Eai-BillingAccountContactAffiliationDetail" maxOccurs="unbounded" minOccurs="0" type="xsdLocal2:Kzm-Eai-BillingAccountContactAffiliationDetail"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Kzm-Eai-BillingAccountContactAffiliationDetail">
                <xsd:sequence>
                    <xsd:element name="Role" maxOccurs="1" minOccurs="1" type="xsdLocal2:string30"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ListOfKzm-Eai-ServiceAccountContactAffiliationDetail">
                <xsd:sequence>
                    <xsd:element name="Kzm-Eai-ServiceAccountContactAffiliationDetail" maxOccurs="unbounded" minOccurs="0" type="xsdLocal2:Kzm-Eai-ServiceAccountContactAffiliationDetail"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Kzm-Eai-ServiceAccountContactAffiliationDetail">
                <xsd:sequence>
                    <xsd:element name="Role" maxOccurs="1" minOccurs="1" type="xsdLocal2:string30"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:simpleType name="string50">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="50"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="string75">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="75"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="string15">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="15"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="string30">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="30"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="string100">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="100"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" targetNamespace="http://siebel.com/ExportInstalledBase">
            <xsd:import namespace="http://www.siebel.com/xml/KZM%20Installed%20Assets"/>
            <xsd:import namespace="http://www.siebel.com/xml/KZM%20Account%20Info%20Request"/>
            <xsd:element name="KZM_spcAccount_spcAsset_spcExport_Input">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="KZM_spcXMLDoc" type="xsd:string"/>
                        <xsd:element name="Process_spcInstance_spcId" type="xsd:string"/>
                        <xsd:element name="KZM_spcCKRNr" type="xsd:string"/>
                        <xsd:element name="KZM_spcUse_spcTestMessage" type="xsd:string"/>
                        <xsd:element name="Object_spcId" type="xsd:string"/>
                        <xsd:element name="Siebel_spcOperation_spcObject_spcId" type="xsd:string"/>
                        <xsd:element ref="xsdLocal1:Accounts"/>
                        <xsd:element name="KZM_spcIntObj_spcCount" type="xsd:string"/>
                        <xsd:element name="Error_spcCode" type="xsd:string"/>
                        <xsd:element name="Error_spcMessage" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="KZM_spcAccount_spcAsset_spcExport_Output">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="Error_spcCode" type="xsd:string"/>
                        <xsd:element name="Error_spcMessage" type="xsd:string"/>
                        <xsd:element name="KZM_spcCKRNr" type="xsd:string"/>
                        <xsd:element name="KZM_spcIntObj_spcCount" type="xsd:string"/>
                        <xsd:element ref="xsdLocal2:ListOfAssetMgmt-Asset-Header"/>
                        <xsd:element name="KZM_spcUse_spcTestMessage" type="xsd:string"/>
                        <xsd:element name="KZM_spcXMLDoc" type="xsd:string"/>
                        <xsd:element name="Object_spcId" type="xsd:string"/>
                        <xsd:element name="Process_spcInstance_spcId" type="xsd:string"/>
                        <xsd:element name="Siebel_spcOperation_spcObject_spcId" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </types>
    <message name="KZM_spcAccount_spcAsset_spcExport_Input">
        <part name="KZM_spcAccount_spcAsset_spcExport_Input" element="tns:KZM_spcAccount_spcAsset_spcExport_Input"/>
    </message>
    <message name="KZM_spcAccount_spcAsset_spcExport_Output">
        <part name="KZM_spcAccount_spcAsset_spcExport_Output" element="tns:KZM_spcAccount_spcAsset_spcExport_Output"/>
    </message>
    <portType name="KZM_spcAccount_spcAsset_spcExport">
        <operation name="KZM_spcAccount_spcAsset_spcExport">
            <input message="tns:KZM_spcAccount_spcAsset_spcExport_Input"/>
            <output message="tns:KZM_spcAccount_spcAsset_spcExport_Output"/>
        </operation>
    </portType>
    <binding name="KZM_spcAccount_spcAsset_spcExport" type="tns:KZM_spcAccount_spcAsset_spcExport">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="KZM_spcAccount_spcAsset_spcExport">
            <soap:operation soapAction="document/http://siebel.com/ExportInstalledBase:KZM_spcAccount_spcAsset_spcExport"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="KZM_spcAccount_spcAsset_spcExport">
        <port binding="tns:KZM_spcAccount_spcAsset_spcExport" name="KZM_spcAccount_spcAsset_spcExport">
            <soap:address location="http://w0038/eai_NLD/start.swe?SWEExtSource=WebService&amp;SWEExtCmd=Execute&amp;UserName=CMS_INBOUND&amp;Password=CMS_INBOUND"/>
        </port>
    </service>
</definitions>