SiebelZMAdapter/WSDL/GetBusinessSegmentOrders.2.wsdl

<?xml version="1.0" encoding="UTF-8"?><definitions
 xmlns="http://schemas.xmlsoap.org/wsdl/"
 xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
 xmlns:xsdLocal1="http://www.siebel.com/xml/KZM%20Account%20Info%20Request"
 targetNamespace="http://w0414.kpnnl.local/eai_enu"
 xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
 xmlns:xsdLocal2="http://www.siebel.com/xml/KZM%20Order%20Account%20Data%20Export"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 xmlns:tns="http://w0414.kpnnl.local/eai_enu"
><types
><xsd:schema
 elementFormDefault="qualified"
 attributeFormDefault="unqualified"
 xmlns:xsdLocal1="http://www.siebel.com/xml/KZM%20Account%20Info%20Request"
 targetNamespace="http://www.siebel.com/xml/KZM%20Account%20Info%20Request"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
><xsd:annotation
><xsd:documentation
>Copyright (C) 2001-2004 Siebel Systems, Inc. All rights reserved. Siebel XSD Generation</xsd:documentation
></xsd:annotation
><xsd:element
 name="Accounts"
 type="xsdLocal1:Accounts"
></xsd:element
><xsd:complexType
 name="AccountsTopElmt"
><xsd:sequence
><xsd:element
 name="Accounts"
 maxOccurs="1"
 minOccurs="1"
 type="xsdLocal1:Accounts"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="Accounts"
><xsd:sequence
><xsd:element
 name="Account"
 type="xsdLocal1:Account"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="Account"
><xsd:sequence
><xsd:element
 name="CKRNumber"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
></xsd:schema
><xsd:schema
 elementFormDefault="qualified"
 attributeFormDefault="unqualified"
 targetNamespace="http://www.siebel.com/xml/KZM%20Order%20Account%20Data%20Export"
 xmlns:xsdLocal2="http://www.siebel.com/xml/KZM%20Order%20Account%20Data%20Export"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
><xsd:annotation
><xsd:documentation
>Copyright (C) 2001-2004 Siebel Systems, Inc. All rights reserved. Siebel XSD Generation</xsd:documentation
></xsd:annotation
><xsd:element
 name="ListOfOrderEntry-Orders"
 type="xsdLocal2:ListOfOrderEntry-Orders"
></xsd:element
><xsd:complexType
 name="ListOfOrderEntry-OrdersTopElmt"
><xsd:sequence
><xsd:element
 name="ListOfOrderEntry-Orders"
 maxOccurs="1"
 minOccurs="1"
 type="xsdLocal2:ListOfOrderEntry-Orders"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="ListOfOrderEntry-Orders"
><xsd:sequence
><xsd:element
 name="OrderEntry-Orders"
 maxOccurs="unbounded"
 minOccurs="0"
 type="xsdLocal2:OrderEntry-Orders"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="OrderEntry-Orders"
><xsd:sequence
><xsd:element
 name="AccountName"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal2:string100"
></xsd:element
><xsd:element
 name="AccountId"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="CKRNumber"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal2:string30"
></xsd:element
><xsd:element
 name="SubStatus"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal2:string30"
></xsd:element
><xsd:element
 name="OrderNumber"
 maxOccurs="1"
 minOccurs="1"
 type="xsdLocal2:string30"
></xsd:element
><xsd:element
 name="OrderType"
 maxOccurs="1"
 minOccurs="1"
 type="xsdLocal2:string30"
></xsd:element
><xsd:element
 name="Status"
 maxOccurs="1"
 minOccurs="1"
 type="xsdLocal2:string30"
></xsd:element
><xsd:element
 name="ListOfAccount"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal2:ListOfAccount"
></xsd:element
><xsd:element
 name="ListOfKzm-BillingAccount"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal2:ListOfKzm-BillingAccount"
></xsd:element
><xsd:element
 name="ListOfKzm-ServiceAccount"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal2:ListOfKzm-ServiceAccount"
></xsd:element
><xsd:element
 name="ListOfOrderEntry-LineItems"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal2:ListOfOrderEntry-LineItems"
></xsd:element
></xsd:sequence
><xsd:attribute
 name="searchspec"
 type="xsd:string"
></xsd:attribute
></xsd:complexType
><xsd:complexType
 name="ListOfAccount"
><xsd:sequence
><xsd:element
 name="Account"
 maxOccurs="unbounded"
 minOccurs="0"
 type="xsdLocal2:Account"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="Account"
><xsd:sequence
><xsd:element
 name="CKRNumber"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal2:string30"
></xsd:element
><xsd:element
 name="CurrencyCode"
 maxOccurs="1"
 minOccurs="1"
 type="xsdLocal2:string15"
></xsd:element
><xsd:element
 name="GroupTypeCode"
 maxOccurs="1"
 minOccurs="1"
 type="xsdLocal2:string30"
></xsd:element
><xsd:element
 name="InternalOrgFlag"
 maxOccurs="1"
 minOccurs="1"
 type="xsd:string"
></xsd:element
><xsd:element
 name="LegalForm"
 maxOccurs="1"
 minOccurs="1"
 type="xsdLocal2:string30"
></xsd:element
><xsd:element
 name="Name"
 maxOccurs="1"
 minOccurs="1"
 type="xsdLocal2:string100"
></xsd:element
><xsd:element
 name="PartyTypeCode"
 maxOccurs="1"
 minOccurs="1"
 type="xsdLocal2:string30"
></xsd:element
><xsd:element
 name="PartyUId"
 maxOccurs="1"
 minOccurs="1"
 type="xsdLocal2:string100"
></xsd:element
><xsd:element
 name="PriceList"
 maxOccurs="1"
 minOccurs="1"
 type="xsd:string"
></xsd:element
><xsd:element
 name="PrivacyCode"
 maxOccurs="1"
 minOccurs="1"
 type="xsdLocal2:string30"
></xsd:element
><xsd:element
 name="Type"
 maxOccurs="1"
 minOccurs="1"
 type="xsdLocal2:string30"
></xsd:element
><xsd:element
 name="ListOfAccountContactAffiliation"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal2:ListOfAccountContactAffiliation"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="ListOfKzm-BillingAccount"
><xsd:sequence
><xsd:element
 name="Kzm-BillingAccount"
 maxOccurs="unbounded"
 minOccurs="0"
 type="xsdLocal2:Kzm-BillingAccount"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="Kzm-BillingAccount"
><xsd:sequence
><xsd:element
 name="CKRNumber"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal2:string30"
></xsd:element
><xsd:element
 name="CurrencyCode"
 maxOccurs="1"
 minOccurs="1"
 type="xsdLocal2:string15"
></xsd:element
><xsd:element
 name="GroupTypeCode"
 maxOccurs="1"
 minOccurs="1"
 type="xsdLocal2:string30"
></xsd:element
><xsd:element
 name="InternalOrgFlag"
 maxOccurs="1"
 minOccurs="1"
 type="xsd:string"
></xsd:element
><xsd:element
 name="LegalForm"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal2:string30"
></xsd:element
><xsd:element
 name="Name"
 maxOccurs="1"
 minOccurs="1"
 type="xsdLocal2:string100"
></xsd:element
><xsd:element
 name="PartyTypeCode"
 maxOccurs="1"
 minOccurs="1"
 type="xsdLocal2:string30"
></xsd:element
><xsd:element
 name="PartyUId"
 maxOccurs="1"
 minOccurs="1"
 type="xsdLocal2:string100"
></xsd:element
><xsd:element
 name="PriceList"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="PrivacyCode"
 maxOccurs="1"
 minOccurs="1"
 type="xsdLocal2:string30"
></xsd:element
><xsd:element
 name="Type"
 maxOccurs="1"
 minOccurs="1"
 type="xsdLocal2:string30"
></xsd:element
><xsd:element
 name="ListOfKzm-Eai-BillingAccountContactAffiliation"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal2:ListOfKzm-Eai-BillingAccountContactAffiliation"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="ListOfKzm-ServiceAccount"
><xsd:sequence
><xsd:element
 name="Kzm-ServiceAccount"
 maxOccurs="unbounded"
 minOccurs="0"
 type="xsdLocal2:Kzm-ServiceAccount"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="Kzm-ServiceAccount"
><xsd:sequence
><xsd:element
 name="CKRNumber"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal2:string30"
></xsd:element
><xsd:element
 name="CurrencyCode"
 maxOccurs="1"
 minOccurs="1"
 type="xsdLocal2:string15"
></xsd:element
><xsd:element
 name="GroupTypeCode"
 maxOccurs="1"
 minOccurs="1"
 type="xsdLocal2:string30"
></xsd:element
><xsd:element
 name="InternalOrgFlag"
 maxOccurs="1"
 minOccurs="1"
 type="xsd:string"
></xsd:element
><xsd:element
 name="LegalForm"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal2:string30"
></xsd:element
><xsd:element
 name="Name"
 maxOccurs="1"
 minOccurs="1"
 type="xsdLocal2:string100"
></xsd:element
><xsd:element
 name="PartyTypeCode"
 maxOccurs="1"
 minOccurs="1"
 type="xsdLocal2:string30"
></xsd:element
><xsd:element
 name="PartyUId"
 maxOccurs="1"
 minOccurs="1"
 type="xsdLocal2:string100"
></xsd:element
><xsd:element
 name="PriceList"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="PrivacyCode"
 maxOccurs="1"
 minOccurs="1"
 type="xsdLocal2:string30"
></xsd:element
><xsd:element
 name="Type"
 maxOccurs="1"
 minOccurs="1"
 type="xsdLocal2:string30"
></xsd:element
><xsd:element
 name="ListOfKzm-Eai-ServiceAccountContactAffiliation"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal2:ListOfKzm-Eai-ServiceAccountContactAffiliation"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="ListOfOrderEntry-LineItems"
><xsd:sequence
><xsd:element
 name="OrderEntry-LineItems"
 maxOccurs="unbounded"
 minOccurs="0"
 type="xsdLocal2:OrderEntry-LineItems"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="OrderEntry-LineItems"
><xsd:sequence
><xsd:element
 name="ExtendedQuantity"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="MRCCxTotal"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="NRCCxTotal"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ParentOrderItemId"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ProductName"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal2:string100"
></xsd:element
><xsd:element
 name="Quantity"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="RootOrderItemId"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ServiceId"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal2:string100"
></xsd:element
><xsd:element
 name="Status"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal2:string30"
></xsd:element
><xsd:element
 name="ListOfOrderItemXa"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal2:ListOfOrderItemXa"
></xsd:element
><xsd:element
 name="OrderEntry-LineItems"
 maxOccurs="unbounded"
 minOccurs="0"
 type="xsdLocal2:OrderEntry-LineItems"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="ListOfAccountContactAffiliation"
><xsd:sequence
><xsd:element
 name="AccountContactAffiliation"
 maxOccurs="unbounded"
 minOccurs="0"
 type="xsdLocal2:AccountContactAffiliation"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="AccountContactAffiliation"
><xsd:sequence
><xsd:element
 name="CellularPhone"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="EmailAddress"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal2:string100"
></xsd:element
><xsd:element
 name="EndDate"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="FaxPhone"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="FirstName"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal2:string50"
></xsd:element
><xsd:element
 name="LastName"
 maxOccurs="1"
 minOccurs="1"
 type="xsdLocal2:string50"
></xsd:element
><xsd:element
 name="MF"
 maxOccurs="1"
 minOccurs="1"
 type="xsdLocal2:string30"
></xsd:element
><xsd:element
 name="MM"
 maxOccurs="1"
 minOccurs="1"
 type="xsdLocal2:string15"
></xsd:element
><xsd:element
 name="MiddleName"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal2:string50"
></xsd:element
><xsd:element
 name="StartDate"
 maxOccurs="1"
 minOccurs="1"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Type"
 maxOccurs="1"
 minOccurs="1"
 type="xsdLocal2:string30"
></xsd:element
><xsd:element
 name="WorkPhone"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ListOfAccountContactAffiliationDetail"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal2:ListOfAccountContactAffiliationDetail"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="ListOfKzm-Eai-BillingAccountContactAffiliation"
><xsd:sequence
><xsd:element
 name="Kzm-Eai-BillingAccountContactAffiliation"
 maxOccurs="unbounded"
 minOccurs="0"
 type="xsdLocal2:Kzm-Eai-BillingAccountContactAffiliation"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="Kzm-Eai-BillingAccountContactAffiliation"
><xsd:sequence
><xsd:element
 name="CellularPhone"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="EmailAddress"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal2:string100"
></xsd:element
><xsd:element
 name="EndDate"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="FaxPhone"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="FirstName"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal2:string50"
></xsd:element
><xsd:element
 name="LastName"
 maxOccurs="1"
 minOccurs="1"
 type="xsdLocal2:string50"
></xsd:element
><xsd:element
 name="MF"
 maxOccurs="1"
 minOccurs="1"
 type="xsdLocal2:string30"
></xsd:element
><xsd:element
 name="MM"
 maxOccurs="1"
 minOccurs="1"
 type="xsdLocal2:string15"
></xsd:element
><xsd:element
 name="MiddleName"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal2:string50"
></xsd:element
><xsd:element
 name="StartDate"
 maxOccurs="1"
 minOccurs="1"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Type"
 maxOccurs="1"
 minOccurs="1"
 type="xsdLocal2:string30"
></xsd:element
><xsd:element
 name="WorkPhone"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ListOfKzm-Eai-BillingAccountContactAffiliationDetail"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal2:ListOfKzm-Eai-BillingAccountContactAffiliationDetail"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="ListOfKzm-Eai-ServiceAccountContactAffiliation"
><xsd:sequence
><xsd:element
 name="Kzm-Eai-ServiceAccountContactAffiliation"
 maxOccurs="unbounded"
 minOccurs="0"
 type="xsdLocal2:Kzm-Eai-ServiceAccountContactAffiliation"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="Kzm-Eai-ServiceAccountContactAffiliation"
><xsd:sequence
><xsd:element
 name="CellularPhone"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="EmailAddress"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal2:string100"
></xsd:element
><xsd:element
 name="EndDate"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="FaxPhone"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="FirstName"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal2:string50"
></xsd:element
><xsd:element
 name="LastName"
 maxOccurs="1"
 minOccurs="1"
 type="xsdLocal2:string50"
></xsd:element
><xsd:element
 name="MF"
 maxOccurs="1"
 minOccurs="1"
 type="xsdLocal2:string30"
></xsd:element
><xsd:element
 name="MM"
 maxOccurs="1"
 minOccurs="1"
 type="xsdLocal2:string15"
></xsd:element
><xsd:element
 name="MiddleName"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal2:string50"
></xsd:element
><xsd:element
 name="StartDate"
 maxOccurs="1"
 minOccurs="1"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Type"
 maxOccurs="1"
 minOccurs="1"
 type="xsdLocal2:string30"
></xsd:element
><xsd:element
 name="WorkPhone"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ListOfKzm-Eai-ServiceAccountContactAffiliationDetail"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal2:ListOfKzm-Eai-ServiceAccountContactAffiliationDetail"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="ListOfOrderItemXa"
><xsd:sequence
><xsd:element
 name="OrderItemXa"
 maxOccurs="unbounded"
 minOccurs="0"
 type="xsdLocal2:OrderItemXa"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="OrderItemXa"
><xsd:sequence
><xsd:element
 name="Name"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal2:string75"
></xsd:element
><xsd:element
 name="Value"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal2:string100"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="ListOfAccountContactAffiliationDetail"
><xsd:sequence
><xsd:element
 name="AccountContactAffiliationDetail"
 maxOccurs="unbounded"
 minOccurs="0"
 type="xsdLocal2:AccountContactAffiliationDetail"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="AccountContactAffiliationDetail"
><xsd:sequence
><xsd:element
 name="Role"
 maxOccurs="1"
 minOccurs="1"
 type="xsdLocal2:string30"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="ListOfKzm-Eai-BillingAccountContactAffiliationDetail"
><xsd:sequence
><xsd:element
 name="Kzm-Eai-BillingAccountContactAffiliationDetail"
 maxOccurs="unbounded"
 minOccurs="0"
 type="xsdLocal2:Kzm-Eai-BillingAccountContactAffiliationDetail"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="Kzm-Eai-BillingAccountContactAffiliationDetail"
><xsd:sequence
><xsd:element
 name="Role"
 maxOccurs="1"
 minOccurs="1"
 type="xsdLocal2:string30"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="ListOfKzm-Eai-ServiceAccountContactAffiliationDetail"
><xsd:sequence
><xsd:element
 name="Kzm-Eai-ServiceAccountContactAffiliationDetail"
 maxOccurs="unbounded"
 minOccurs="0"
 type="xsdLocal2:Kzm-Eai-ServiceAccountContactAffiliationDetail"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="Kzm-Eai-ServiceAccountContactAffiliationDetail"
><xsd:sequence
><xsd:element
 name="Role"
 maxOccurs="1"
 minOccurs="1"
 type="xsdLocal2:string30"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:simpleType
 name="string50"
><xsd:restriction
 base="xsd:string"
><xsd:maxLength
 value="50"
></xsd:maxLength
></xsd:restriction
></xsd:simpleType
><xsd:simpleType
 name="string75"
><xsd:restriction
 base="xsd:string"
><xsd:maxLength
 value="75"
></xsd:maxLength
></xsd:restriction
></xsd:simpleType
><xsd:simpleType
 name="string15"
><xsd:restriction
 base="xsd:string"
><xsd:maxLength
 value="15"
></xsd:maxLength
></xsd:restriction
></xsd:simpleType
><xsd:simpleType
 name="string30"
><xsd:restriction
 base="xsd:string"
><xsd:maxLength
 value="30"
></xsd:maxLength
></xsd:restriction
></xsd:simpleType
><xsd:simpleType
 name="string100"
><xsd:restriction
 base="xsd:string"
><xsd:maxLength
 value="100"
></xsd:maxLength
></xsd:restriction
></xsd:simpleType
></xsd:schema
><xsd:schema
 elementFormDefault="qualified"
 attributeFormDefault="unqualified"
 targetNamespace="http://w0414.kpnnl.local/eai_enu"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
><xsd:import
 namespace="http://www.siebel.com/xml/KZM%20Order%20Account%20Data%20Export"
></xsd:import
><xsd:import
 namespace="http://www.siebel.com/xml/KZM%20Account%20Info%20Request"
></xsd:import
><xsd:element
 name="KZM_spcAccount_spcOrder_spcexport_Input"
><xsd:complexType
><xsd:sequence
><xsd:element
 name="KZM_spcXMLDoc"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Process_spcInstance_spcId"
 type="xsd:string"
></xsd:element
><xsd:element
 name="KZM_spcCKRNr"
 type="xsd:string"
></xsd:element
><xsd:element
 name="KZM_spcUse_spcTestMessage"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Object_spcId"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Siebel_spcOperation_spcObject_spcId"
 type="xsd:string"
></xsd:element
><xsd:element
 ref="xsdLocal1:Accounts"
></xsd:element
><xsd:element
 name="Error_spcCode"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Error_spcMessage"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
></xsd:element
><xsd:element
 name="KZM_spcAccount_spcOrder_spcexport_Output"
><xsd:complexType
><xsd:sequence
><xsd:element
 name="Error_spcCode"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Error_spcMessage"
 type="xsd:string"
></xsd:element
><xsd:element
 name="KZM_spcCKRNr"
 type="xsd:string"
></xsd:element
><xsd:element
 ref="xsdLocal2:ListOfOrderEntry-Orders"
></xsd:element
><xsd:element
 name="KZM_spcUse_spcTestMessage"
 type="xsd:string"
></xsd:element
><xsd:element
 name="KZM_spcXMLDoc"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Object_spcId"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Process_spcInstance_spcId"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Siebel_spcOperation_spcObject_spcId"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
></xsd:element
></xsd:schema
></types
><message
 name="KZM_spcAccount_spcOrder_spcexport_Input"
><part
 name="KZM_spcAccount_spcOrder_spcexport_Input"
 element="tns:KZM_spcAccount_spcOrder_spcexport_Input"
></part
></message
><message
 name="KZM_spcAccount_spcOrder_spcexport_Output"
><part
 name="KZM_spcAccount_spcOrder_spcexport_Output"
 element="tns:KZM_spcAccount_spcOrder_spcexport_Output"
></part
></message
><portType
 name="KZM_spcAccount_spcOrder_spcExport"
><operation
 name="KZM_spcAccount_spcOrder_spcexport"
><input
 message="tns:KZM_spcAccount_spcOrder_spcexport_Input"
></input
><output
 message="tns:KZM_spcAccount_spcOrder_spcexport_Output"
></output
></operation
></portType
><binding
 name="KZM_spcAccount_spcOrder_spcExport"
 type="tns:KZM_spcAccount_spcOrder_spcExport"
><soap:binding
 transport="http://schemas.xmlsoap.org/soap/http"
 style="document"
></soap:binding
><operation
 name="KZM_spcAccount_spcOrder_spcexport"
><soap:operation
 soapAction="document/http://w0414.kpnnl.local/eai_enu:KZM_spcAccount_spcOrder_spcexport"
></soap:operation
><input
><soap:body
 use="literal"
></soap:body
></input
><output
><soap:body
 use="literal"
></soap:body
></output
></operation
></binding
><service
 name="KZM_spcAccount_spcOrder_spcExport"
><port
 binding="tns:KZM_spcAccount_spcOrder_spcExport"
 name="KZM_spcAccount_spcOrder_spcExport"
><soap:address
 location="http://w0414.kpnnl.local/eai_enu/start.swe?SWEExtSource=WebService&amp;SWEExtCmd=Execute&amp;UserName=UserName&amp;Password=Password"
></soap:address
></port
></service
></definitions
>
