GenericSOAPGateway/XSDSchemas/CKRAdapter/Imported/0285_ChangeStandardDirectoryListing_1.0_Request_EAI_BUS_SIDE.xsd

<?xml version = "1.0" encoding = "utf-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<schema xmlns = "http://www.w3.org/2001/XMLSchema"
	 targetNamespace = "http://xmlns.kpn.com/EAI/fixed/0285_ChangeStandardDirectoryListing/1.0/Request"
	 xmlns:tns = "http://xmlns.kpn.com/EAI/fixed/0285_ChangeStandardDirectoryListing/1.0/Request"
	 xmlns:xs = "http://www.w3.org/2001/XMLSchema" elementFormDefault = "qualified">
	<simpleType name = "phoneNumberListingDiscloseInDirectoryFlag_type">
		<annotation>
			<documentation>Show in directory.</documentation>
		</annotation>
		<restriction base = "boolean"/>
	</simpleType>
	<simpleType name = "phoneNumberListingDiscloseOnlineFlag_type">
		<annotation>
			<documentation>Show online.</documentation>
		</annotation>
		<restriction base = "boolean"/>
	</simpleType>
	<simpleType name = "phoneNumberListingDiscloseOnRequestFlag_type">
		<annotation>
			<documentation>Disclose on request by service desk.</documentation>
		</annotation>
		<restriction base = "boolean"/>
	</simpleType>
	<simpleType name = "phoneNumberListingDiscloseNeverFlag_type">
		<annotation>
			<documentation>Restricted disclosure (secret number).</documentation>
		</annotation>
		<restriction base = "boolean"/>
	</simpleType>
	<simpleType name = "phoneNumberListingDiscloseToBilledCallerFlag_type">
		<annotation>
			<documentation>Do not disclose on bills to callers.</documentation>
		</annotation>
		<restriction base = "boolean"/>
	</simpleType>
	<simpleType name = "phoneNumberAreaCode_type">
		<restriction base = "string">
			<maxLength value = "5"/>
			<minLength value = "0"/>
			<pattern value = "\d*"/>
			<whiteSpace value = "collapse"/>
		</restriction>
	</simpleType>
	<simpleType name = "phoneNumberSubscriberNumber_type">
		<restriction base = "string">
			<maxLength value = "15"/>
			<minLength value = "1"/>
			<pattern value = "\d+"/>
			<whiteSpace value = "collapse"/>
		</restriction>
	</simpleType>
	<element name = "BODY">
		<annotation>
			<documentation>This is the BODY object for KPN EAI service number 0285 - ChangeStandardDirectoryListing version 1.0 Request message.</documentation>
			<documentation>Automatically generated schema for service:'ChangeStandardDirectoryListing', version:'1.0'</documentation>
			<documentation>Generated on 2007-03-29 12:19:27Z</documentation>
			<documentation>Service paradigm is intended to be Request/Response</documentation>
			<documentation>Service ID is:'0285'</documentation>
			<documentation>The body must always have MinOccurs=0 and MaxOccurs=1, by definition of KPN EAI AG. (For request messages this has no apparent benefit)</documentation>
			<documentation>KPN EAI message body class.</documentation>
			<documentation>Artificial sequence to separate.</documentation>
		</annotation>
		<complexType>
			<sequence>
				<element name = "DIRECTORY_LISTING_SPECIFICATION" minOccurs = "0">
					<annotation>
						<documentation>Artificial sequence to separate.</documentation>
					</annotation>
					<complexType>
						<sequence>
							<element name = "DISCLOSE_IN_DIRECTORY" type = "tns:phoneNumberListingDiscloseInDirectoryFlag_type" minOccurs = "0">
								<annotation>
									<documentation>Show in directory.</documentation>
								</annotation>
							</element>
							<element name = "DISCLOSE_ONLINE" type = "tns:phoneNumberListingDiscloseOnlineFlag_type" minOccurs = "0">
								<annotation>
									<documentation>Show online.</documentation>
								</annotation>
							</element>
							<element name = "DISCLOSE_ON_REQUEST" type = "tns:phoneNumberListingDiscloseOnRequestFlag_type" minOccurs = "0">
								<annotation>
									<documentation>Disclose on request by service desk.</documentation>
								</annotation>
							</element>
							<element name = "IS_SECRET" type = "tns:phoneNumberListingDiscloseNeverFlag_type" minOccurs = "0">
								<annotation>
									<documentation>Restricted disclosure (secret number).</documentation>
								</annotation>
							</element>
							<element name = "HIDE_TO_CALLERS" type = "tns:phoneNumberListingDiscloseToBilledCallerFlag_type" minOccurs = "0">
								<annotation>
									<documentation>Do not disclose on bills to callers.</documentation>
								</annotation>
							</element>
						</sequence>
					</complexType>
				</element>
				<element name = "PHONE_NUMBER" minOccurs = "0">
					<annotation>
						<documentation>Affected phone number.</documentation>
						<documentation>Artificial sequence to separate.</documentation>
					</annotation>
					<complexType>
						<sequence>
							<element name = "AREA_CODE" type = "tns:phoneNumberAreaCode_type"/>
							<element name = "SUBSCRIBER_NUMBER" type = "tns:phoneNumberSubscriberNumber_type"/>
						</sequence>
					</complexType>
				</element>
			</sequence>
		</complexType>
	</element>
</schema>