GenericSOAPGateway/XSDSchemas/CKRAdapter/Imported/0287_RemoveStandardDirectoryListing_1.0_Request_EAI_BUS_SIDE.xsd

<?xml version = "1.0" encoding = "utf-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<schema xmlns = "http://www.w3.org/2001/XMLSchema"
	 targetNamespace = "http://xmlns.kpn.com/EAI/fixed/0287_RemoveStandardDirectoryListing/1.0/Request"
	 xmlns:tns = "http://xmlns.kpn.com/EAI/fixed/0287_RemoveStandardDirectoryListing/1.0/Request"
	 xmlns:xs = "http://www.w3.org/2001/XMLSchema" elementFormDefault = "qualified">
	<simpleType name = "phoneNumberAreaCode_type">
		<restriction base = "string">
			<maxLength value = "5"/>
			<minLength value = "0"/>
			<pattern value = "\d*"/>
			<whiteSpace value = "collapse"/>
		</restriction>
	</simpleType>
	<simpleType name = "phoneNumberSubscriberNumber_type">
		<restriction base = "string">
			<maxLength value = "15"/>
			<minLength value = "1"/>
			<pattern value = "\d+"/>
			<whiteSpace value = "collapse"/>
		</restriction>
	</simpleType>
	<element name = "BODY">
		<annotation>
			<documentation>This is the BODY object for KPN EAI service number 0287 - RemoveStandardDirectoryListing version 1.0 Request message.</documentation>
			<documentation>Automatically generated schema for service:'RemoveStandardDirectoryListing', version:'1.0'</documentation>
			<documentation>Generated on 2007-03-29 12:19:27Z</documentation>
			<documentation>Service paradigm is intended to be Request/Response</documentation>
			<documentation>Service ID is:'0287'</documentation>
			<documentation>The body must always have MinOccurs=0 and MaxOccurs=1, by definition of KPN EAI AG. (For request messages this has no apparent benefit)</documentation>
			<documentation>KPN EAI message body class.</documentation>
			<documentation>Artificial sequence to separate.</documentation>
		</annotation>
		<complexType>
			<sequence>
				<element name = "PHONE_NUMBER" minOccurs = "0">
					<annotation>
						<documentation>Affected phone number.</documentation>
						<documentation>Artificial sequence to separate.</documentation>
					</annotation>
					<complexType>
						<sequence>
							<element name = "AREA_CODE" type = "tns:phoneNumberAreaCode_type"/>
							<element name = "SUBSCRIBER_NUMBER" type = "tns:phoneNumberSubscriberNumber_type"/>
						</sequence>
					</complexType>
				</element>
			</sequence>
		</complexType>
	</element>
</schema>