GenericSOAPGateway/XSDSchemas/CKRAdapter/Imported/0308_GetStandardDirectoryListing_1.0_Response_EAI_BUS_SIDE.xsd

<?xml version = "1.0" encoding = "utf-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<schema xmlns = "http://www.w3.org/2001/XMLSchema"
	 targetNamespace = "http://xmlns.kpn.com/EAI/fixed/0308_GetStandardDirectoryListing/1.0/Response"
	 xmlns:tns = "http://xmlns.kpn.com/EAI/fixed/0308_GetStandardDirectoryListing/1.0/Response"
	 xmlns:xs = "http://www.w3.org/2001/XMLSchema" 	 elementFormDefault = "qualified">
	<simpleType name = "customerIdentifier_type">
		<annotation>
			<documentation>Field size limitation copied from API definition as EAI side had no limitation.</documentation>
		</annotation>
		<restriction base = "string">
			<maxLength value = "8"/>
		</restriction>
	</simpleType>
	<simpleType name = "phoneNumberListingEntryId_type">
		<annotation>
			<documentation>Entry identifier in directory listing database section.</documentation>
			<documentation>Field size limitation copied from API definition as EAI side had no limitation.</documentation>
		</annotation>
		<restriction base = "string">
			<maxLength value = "11"/>
		</restriction>
	</simpleType>
	<simpleType name = "phoneNumberListingDiscloseInDirectoryFlag_type">
		<annotation>
			<documentation>Show in directory.</documentation>
		</annotation>
		<restriction base = "boolean"/>
	</simpleType>
	<simpleType name = "phoneNumberListingDiscloseOnlineFlag_type">
		<annotation>
			<documentation>Show online.</documentation>
		</annotation>
		<restriction base = "boolean"/>
	</simpleType>
	<simpleType name = "phoneNumberListingDiscloseOnRequestFlag_type">
		<annotation>
			<documentation>Disclose on request by service desk.</documentation>
		</annotation>
		<restriction base = "boolean"/>
	</simpleType>
	<simpleType name = "phoneNumberListingDiscloseNeverFlag_type">
		<annotation>
			<documentation>Restricted disclosure (secret number).</documentation>
		</annotation>
		<restriction base = "boolean"/>
	</simpleType>
	<simpleType name = "phoneNumberListingDiscloseToBilledCallerFlag_type">
		<annotation>
			<documentation>Do not disclose on bills to callers.</documentation>
		</annotation>
		<restriction base = "boolean"/>
	</simpleType>
	<simpleType name = "phoneNumberNetworkGroup_type">
		<annotation>
			<documentation>Specifies network providing the connection: 'VOIP',  'FIXED'.</documentation>
			<documentation>Possible network service types, introduced for ZIPB IP. Corresponds initially to CKR admin-groep in relation to AVT, ARIS, where VOIP indicates a IPBased line and ARIS a fixed line.</documentation>
			<documentation>Default value is:''</documentation>
			<documentation>Size limitation taken from API side, since EAI definition did not have one.</documentation>
		</annotation>
		<restriction base = "string">
			<enumeration value = "FIXED"/>
			<enumeration value = "VOIP"/>
			<enumeration value = "MOBILE"/>
		</restriction>
	</simpleType>
	<simpleType name = "phoneNumberNetworkServiceType_type">
		<annotation>
			<documentation>Specifies network phone service type: 'PSTN, 'ISDN'.</documentation>
			<documentation>Possible network service types, introduced for ZIPB IP. Corresponds initially to CKR netwerk type.</documentation>
			<documentation>Default value is:''</documentation>
			<documentation>Size limitation taken from API side, since EAI definition did not have one.</documentation>
		</annotation>
		<restriction base = "string">
			<enumeration value = "PSTN"/>
			<enumeration value = "ISDN"/>
		</restriction>
	</simpleType>
	<simpleType name = "phoneNumberUsageType_type">
		<annotation>
			<documentation>Specifies network line usage: 'VOICE', 'FAX', 'DATA', 'PAYPHONE'.</documentation>
			<documentation>Possible network service types, introduced for ZIPB IP. Corresponds initially to CKR gebruik netlijn.</documentation>
			<documentation>Default value is:''</documentation>
			<documentation>Size limitation taken from API side, since EAI definition did not have one.</documentation>
		</annotation>
		<restriction base = "string">
			<enumeration value = "VOICE"/>
			<enumeration value = "FAX"/>
			<enumeration value = "DATA"/>
			<enumeration value = "PAYPHONE"/>
		</restriction>
	</simpleType>
	<simpleType name = "phoneNumberListingDiscloseSetDate_type">
		<annotation>
			<documentation>Datum ingang.</documentation>
		</annotation>
		<restriction base = "dateTime"/>
	</simpleType>
	<simpleType name = "phoneNumberAreaCode_type">
		<restriction base = "string">
			<maxLength value = "5"/>
			<minLength value = "0"/>
			<pattern value = "\d*"/>
			<whiteSpace value = "collapse"/>
		</restriction>
	</simpleType>
	<simpleType name = "phoneNumberSubscriberNumber_type">
		<restriction base = "string">
			<maxLength value = "15"/>
			<minLength value = "1"/>
			<pattern value = "\d+"/>
			<whiteSpace value = "collapse"/>
		</restriction>
	</simpleType>
	<element name = "BODY">
		<annotation>
			<documentation>This is the BODY object for KPN EAI service number 0308 - GetStandardDirectoryListing version 1.0 Response message.</documentation>
			<documentation>Automatically generated schema for service:'GetStandardDirectoryListing', version:'1.0'</documentation>
			<documentation>Generated on 2007-04-19 12:34:10Z</documentation>
			<documentation>Service paradigm is intended to be Request/Response</documentation>
			<documentation>Service ID is:'0308'</documentation>
			<documentation>The body must always have MinOccurs=0 and MaxOccurs=1, by definition of KPN EAI AG. (For request messages this has no apparent benefit)</documentation>
			<documentation>KPN EAI message body class.</documentation>
			<documentation>Artificial sequence to separate.</documentation>
		</annotation>
		<complexType>
			<sequence>
				<element name = "DIRECTORY_ENTRY" minOccurs = "0" maxOccurs = "unbounded">
					<annotation>
						<documentation>Artificial sequence to separate.</documentation>
					</annotation>
					<complexType>
						<sequence>
							<element name = "DIRECTORY_LISTING_SPECIFICATION" minOccurs = "0">
								<annotation>
									<documentation>Artificial sequence to separate.</documentation>
								</annotation>
								<complexType>
									<sequence>
										<element name = "DISCLOSE_IN_DIRECTORY" type = "tns:phoneNumberListingDiscloseInDirectoryFlag_type" minOccurs = "0">
											<annotation>
												<documentation>Show in directory.</documentation>
											</annotation>
										</element>
										<element name = "DISCLOSE_ONLINE" type = "tns:phoneNumberListingDiscloseOnlineFlag_type" minOccurs = "0">
											<annotation>
												<documentation>Show online.</documentation>
											</annotation>
										</element>
										<element name = "DISCLOSE_ON_REQUEST" type = "tns:phoneNumberListingDiscloseOnRequestFlag_type" minOccurs = "0">
											<annotation>
												<documentation>Disclose on request by service desk.</documentation>
											</annotation>
										</element>
										<element name = "IS_SECRET" type = "tns:phoneNumberListingDiscloseNeverFlag_type" minOccurs = "0">
											<annotation>
												<documentation>Restricted disclosure (secret number).</documentation>
											</annotation>
										</element>
										<element name = "HIDE_TO_CALLERS" type = "tns:phoneNumberListingDiscloseToBilledCallerFlag_type" minOccurs = "0">
											<annotation>
												<documentation>Do not disclose on bills to callers.</documentation>
											</annotation>
										</element>
									</sequence>
								</complexType>
							</element>
							<element name = "NETWORK" minOccurs = "0">
								<annotation>
									<documentation>Providing network.</documentation>
									<documentation>Artificial sequence to separate.</documentation>
								</annotation>
								<complexType>
									<sequence>
										<element name = "NETWORK_PROVIDER_GROUP" type = "tns:phoneNumberNetworkGroup_type">
											<annotation>
												<documentation>Specifies network providing the connection: 'VOIP',  'FIXED'.</documentation>
											</annotation>
										</element>
										<element name = "NETWORK_SERVICE_TYPE" type = "tns:phoneNumberNetworkServiceType_type" minOccurs = "0">
											<annotation>
												<documentation>Specifies network phone service type: 'PSTN, 'ISDN'.</documentation>
											</annotation>
										</element>
										<element name = "LINE_USAGE" type = "tns:phoneNumberUsageType_type" minOccurs = "0">
											<annotation>
												<documentation>Specifies network line usage: 'VOICE', 'FAX', 'DATA', 'PAYPHONE'.</documentation>
											</annotation>
										</element>
									</sequence>
								</complexType>
							</element>
							<element name = "VALIDITY_PERIOD" minOccurs = "0">
								<annotation>
									<documentation>Artificial sequence to separate.</documentation>
								</annotation>
								<complexType>
									<sequence>
										<element name = "FROM" type = "tns:phoneNumberListingDiscloseSetDate_type">
											<annotation>
												<documentation>Datum ingang.</documentation>
											</annotation>
										</element>
									</sequence>
								</complexType>
							</element>
							<element name = "PHONE_NUMBER" minOccurs = "0">
								<annotation>
									<documentation>Affected phone number.</documentation>
									<documentation>Artificial sequence to separate.</documentation>
								</annotation>
								<complexType>
									<sequence>
										<element name = "AREA_CODE" type = "tns:phoneNumberAreaCode_type"/>
										<element name = "SUBSCRIBER_NUMBER" type = "tns:phoneNumberSubscriberNumber_type"/>
									</sequence>
								</complexType>
							</element>
							<element name = "DIRECTORY_ENTRY_NR" type = "tns:phoneNumberListingEntryId_type">
								<annotation>
									<documentation>Entry identifier in directory listing database section.</documentation>
								</annotation>
							</element>
							<element name = "CENTRAL_CUSTOMER_ID" type = "tns:customerIdentifier_type" minOccurs = "0"/>
						</sequence>
					</complexType>
				</element>
				<element name = "REPLACEMENT_CENTRAL_CUSTOMER_ID" type = "tns:customerIdentifier_type" minOccurs = "0"/>
			</sequence>
		</complexType>
	</element>
</schema>