xAuthorityAdapter/XSDSchemas/xAuthority/BVoIPEnterpriseData.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://Enterprise.BVoIPOSSJ.VoIP.BuildingBlocks.ServiceLibrary" xmlns="http://Enterprise.BVoIPOSSJ.VoIP.BuildingBlocks.ServiceLibrary" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="BVoIPEnterpriseData">
    <xsd:annotation>
      <xsd:appinfo>
        <typeStorage>ServiceLibrary.BuildingBlocks.VoIP.BVoIPOSSJ.Enterprise.BVoIPEnterpriseData</typeStorage>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="ServiceData25">
        <xsd:sequence>
          <xsd:element name="synchronizeMode" type="xsd:boolean">
            <xsd:annotation>
              <xsd:appinfo>
                <typeStorage>boolean</typeStorage>
                <I18nKey>ServiceLibrary.BuildingBlocks.VoIP.BVoIPOSSJ.Enterprise.BVoIPEnterpriseData.synchronizeMode</I18nKey>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="serviceOfferingVersion" nillable="true" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo>
                <typeStorage>java.lang.String</typeStorage>
                <I18nKey>ServiceLibrary.BuildingBlocks.VoIP.BVoIPOSSJ.Enterprise.BVoIPEnterpriseData.serviceOfferingVersion</I18nKey>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="serviceOfferingPublication" nillable="true" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo>
                <typeStorage>java.lang.String</typeStorage>
                <I18nKey>ServiceLibrary.BuildingBlocks.VoIP.BVoIPOSSJ.Enterprise.BVoIPEnterpriseData.serviceOfferingPublication</I18nKey>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="customerParentGroups" nillable="true">
            <xsd:annotation>
              <xsd:appinfo>
                <axisType>Vector</axisType>
                <axisNamespace>http://xml.apache.org/xml-soap</axisNamespace>
                <typeStorage>java.lang.String[]</typeStorage>
                <I18nKey>ServiceLibrary.BuildingBlocks.VoIP.BVoIPOSSJ.Enterprise.BVoIPEnterpriseData.customerParentGroups</I18nKey>
              </xsd:appinfo>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" type="xsd:string">
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="customerName" nillable="true" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo>
                <typeStorage>java.lang.String</typeStorage>
                <I18nKey>ServiceLibrary.BuildingBlocks.VoIP.BVoIPOSSJ.Enterprise.BVoIPEnterpriseData.customerName</I18nKey>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="customerId" nillable="true" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo>
                <typeStorage>java.lang.String</typeStorage>
                <I18nKey>ServiceLibrary.BuildingBlocks.VoIP.BVoIPOSSJ.Enterprise.BVoIPEnterpriseData.customerId</I18nKey>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="customerDomain" nillable="true" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo>
                <typeStorage>java.lang.String</typeStorage>
                <I18nKey>ServiceLibrary.BuildingBlocks.VoIP.BVoIPOSSJ.Enterprise.BVoIPEnterpriseData.customerDomain</I18nKey>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="notifyCSR" type="xsd:boolean">
            <xsd:annotation>
              <xsd:appinfo>
                <typeStorage>boolean</typeStorage>
                <I18nKey>ServiceLibrary.BuildingBlocks.VoIP.BVoIPOSSJ.Enterprise.BVoIPEnterpriseData.notifyCSR</I18nKey>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="notifyTo" nillable="true" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo>
                <typeStorage>java.lang.String</typeStorage>
                <I18nKey>ServiceLibrary.BuildingBlocks.VoIP.BVoIPOSSJ.Enterprise.BVoIPEnterpriseData.notifyTo</I18nKey>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="sipDomain" nillable="true" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo>
                <typeStorage>java.lang.String</typeStorage>
                <I18nKey>ServiceLibrary.BuildingBlocks.VoIP.BVoIPOSSJ.Enterprise.BVoIPEnterpriseData.sipDomain</I18nKey>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="enableVoicemail" type="xsd:boolean">
            <xsd:annotation>
              <xsd:appinfo>
                <typeStorage>boolean</typeStorage>
                <I18nKey>ServiceLibrary.BuildingBlocks.VoIP.BVoIPOSSJ.Enterprise.BVoIPEnterpriseData.enableVoicemail</I18nKey>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="featurePackages" nillable="true">
            <xsd:annotation>
              <xsd:appinfo>
                <axisType>Vector</axisType>
                <axisNamespace>http://xml.apache.org/xml-soap</axisNamespace>
                <typeStorage>ServiceLibrary.BuildingBlocks.VoIP.BVoIPOSSJ.Data.FeaturePackageConfiguration[]</typeStorage>
                <I18nKey>ServiceLibrary.BuildingBlocks.VoIP.BVoIPOSSJ.Enterprise.BVoIPEnterpriseData.featurePackages</I18nKey>
              </xsd:appinfo>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="item" nillable="true" minOccurs="0" maxOccurs="unbounded" type="FeaturePackageConfiguration">
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="customAttributes" nillable="true">
            <xsd:annotation>
              <xsd:appinfo>
                <axisType>Map</axisType>
                <axisNamespace>http://xml.apache.org/xml-soap</axisNamespace>
                <typeStorage>java.util.HashMap</typeStorage>
                <containedType>java.lang.Object</containedType>
                <I18nKey>ServiceLibrary.BuildingBlocks.VoIP.BVoIPOSSJ.Enterprise.BVoIPEnterpriseData.customAttributes</I18nKey>
              </xsd:appinfo>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="item" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:appinfo>
                      <axisType>mapItem</axisType>
                    </xsd:appinfo>
                  </xsd:annotation>
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="key" type="xsd:string">
                      </xsd:element>
                      <xsd:element name="value" nillable="true" type="xsd:anyType">
                      </xsd:element>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="adminUsername" nillable="true" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo>
                <typeStorage>java.lang.String</typeStorage>
                <I18nKey>ServiceLibrary.BuildingBlocks.VoIP.BVoIPOSSJ.Enterprise.BVoIPEnterpriseData.adminUsername</I18nKey>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="adminPassword" nillable="true" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo>
                <typeStorage>java.lang.String</typeStorage>
                <I18nKey>ServiceLibrary.BuildingBlocks.VoIP.BVoIPOSSJ.Enterprise.BVoIPEnterpriseData.adminPassword</I18nKey>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="authUserName" nillable="true" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo>
                <typeStorage>java.lang.String</typeStorage>
                <I18nKey>ServiceLibrary.BuildingBlocks.VoIP.BVoIPOSSJ.Enterprise.BVoIPEnterpriseData.authUserName</I18nKey>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="authDomain" nillable="true" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo>
                <typeStorage>java.lang.String</typeStorage>
                <I18nKey>ServiceLibrary.BuildingBlocks.VoIP.BVoIPOSSJ.Enterprise.BVoIPEnterpriseData.authDomain</I18nKey>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="authPassword" nillable="true" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo>
                <typeStorage>java.lang.String</typeStorage>
                <I18nKey>ServiceLibrary.BuildingBlocks.VoIP.BVoIPOSSJ.Enterprise.BVoIPEnterpriseData.authPassword</I18nKey>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ServiceData25">
    <xsd:annotation>
      <xsd:appinfo>
        <typeStorage>com.atreus.ossj.sa.service.ServiceData25</typeStorage>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="BaseServiceData">
        <xsd:sequence>
          <xsd:element name="serviceState" nillable="true" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo>
                <I18nKey>com.atreus.ossj.sa.service.ServiceData25.serviceState</I18nKey>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="subscriberId" nillable="true" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo>
                <I18nKey>com.atreus.ossj.sa.service.ServiceData25.subscriberId</I18nKey>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="serviceId" nillable="true" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo>
                <I18nKey>com.atreus.ossj.sa.service.ServiceData25.serviceId</I18nKey>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="serviceOffering" nillable="true" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo>
                <I18nKey>com.atreus.ossj.sa.service.ServiceData25.serviceOffering</I18nKey>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="customerKey" nillable="true" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo>
                <I18nKey>com.atreus.ossj.sa.service.ServiceData25.customerKey</I18nKey>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="BaseServiceData">
    <xsd:annotation>
      <xsd:appinfo>
        <typeStorage>com.atreus.common.BaseServiceData</typeStorage>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FeaturePackageConfiguration">
    <xsd:annotation>
      <xsd:appinfo>
        <typeStorage>ServiceLibrary.BuildingBlocks.VoIP.BVoIPOSSJ.Data.FeaturePackageConfiguration</typeStorage>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="BaseServiceData">
        <xsd:sequence>
          <xsd:element name="selectionSetID" nillable="true" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo>
                <typeStorage>java.lang.String</typeStorage>
                <I18nKey>ServiceLibrary.BuildingBlocks.VoIP.BVoIPOSSJ.Data.FeaturePackageConfiguration.selectionSetID</I18nKey>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="packageType" nillable="true" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo>
                <typeStorage>java.lang.String</typeStorage>
                <I18nKey>ServiceLibrary.BuildingBlocks.VoIP.BVoIPOSSJ.Data.FeaturePackageConfiguration.packageType</I18nKey>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="packageID" nillable="true" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo>
                <typeStorage>java.lang.String</typeStorage>
                <I18nKey>ServiceLibrary.BuildingBlocks.VoIP.BVoIPOSSJ.Data.FeaturePackageConfiguration.packageID</I18nKey>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="limit" type="xsd:int">
            <xsd:annotation>
              <xsd:appinfo>
                <typeStorage>int</typeStorage>
                <I18nKey>ServiceLibrary.BuildingBlocks.VoIP.BVoIPOSSJ.Data.FeaturePackageConfiguration.limit</I18nKey>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="addOnPackages" nillable="true">
            <xsd:annotation>
              <xsd:appinfo>
                <axisType>Vector</axisType>
                <axisNamespace>http://xml.apache.org/xml-soap</axisNamespace>
                <typeStorage>ServiceLibrary.BuildingBlocks.VoIP.BVoIPOSSJ.Data.FeaturePackageConfiguration[]</typeStorage>
                <I18nKey>ServiceLibrary.BuildingBlocks.VoIP.BVoIPOSSJ.Data.FeaturePackageConfiguration.addOnPackages</I18nKey>
              </xsd:appinfo>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="item" nillable="true" minOccurs="0" maxOccurs="unbounded" type="FeaturePackageConfiguration">
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="BVoIPEnterpriseData" type="BVoIPEnterpriseData">
  </xsd:element>
</xsd:schema>