xAuthorityAdapter/XSDSchemas/xAuthority/BVoIPSiteData.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns="http://Site.BVoIPOSSJ.VoIP.BuildingBlocks.ServiceLibrary"
	 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	 targetNamespace="http://Site.BVoIPOSSJ.VoIP.BuildingBlocks.ServiceLibrary"
	 elementFormDefault="unqualified"
	 attributeFormDefault="unqualified">
	<xsd:complexType name="BVoIPSiteData">
		<xsd:annotation>
			<xsd:appinfo>
				<typeStorage>ServiceLibrary.BuildingBlocks.VoIP.BVoIPOSSJ.Site.BVoIPSiteData</typeStorage>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ServiceData25">
				<xsd:sequence>
					<xsd:element name="synchronizeMode" type="xsd:boolean">
						<xsd:annotation>
							<xsd:appinfo>
								<typeStorage>boolean</typeStorage>
								<I18nKey>ServiceLibrary.BuildingBlocks.VoIP.BVoIPOSSJ.Site.BVoIPSiteData.synchronizeMode</I18nKey>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="serviceOfferingPublication" type="xsd:string" nillable="true">
						<xsd:annotation>
							<xsd:appinfo>
								<typeStorage>java.lang.String</typeStorage>
								<I18nKey>ServiceLibrary.BuildingBlocks.VoIP.BVoIPOSSJ.Site.BVoIPSiteData.serviceOfferingPublication</I18nKey>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="serviceOfferingVersion" type="xsd:string" nillable="true">
						<xsd:annotation>
							<xsd:appinfo>
								<typeStorage>java.lang.String</typeStorage>
								<I18nKey>ServiceLibrary.BuildingBlocks.VoIP.BVoIPOSSJ.Site.BVoIPSiteData.serviceOfferingVersion</I18nKey>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="customerParentGroups" nillable="true">
						<xsd:annotation>
							<xsd:appinfo>
								<axisType>Vector</axisType>
								<axisNamespace>http://xml.apache.org/xml-soap</axisNamespace>
								<typeStorage>java.lang.String[]</typeStorage>
								<I18nKey>ServiceLibrary.BuildingBlocks.VoIP.BVoIPOSSJ.Site.BVoIPSiteData.customerParentGroups</I18nKey>
							</xsd:appinfo>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="item" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="customerName" type="xsd:string" nillable="true">
						<xsd:annotation>
							<xsd:appinfo>
								<typeStorage>java.lang.String</typeStorage>
								<I18nKey>ServiceLibrary.BuildingBlocks.VoIP.BVoIPOSSJ.Site.BVoIPSiteData.customerName</I18nKey>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="notifyCSR" type="xsd:boolean">
						<xsd:annotation>
							<xsd:appinfo>
								<typeStorage>boolean</typeStorage>
								<I18nKey>ServiceLibrary.BuildingBlocks.VoIP.BVoIPOSSJ.Site.BVoIPSiteData.notifyCSR</I18nKey>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="notifyTo" type="xsd:string" nillable="true">
						<xsd:annotation>
							<xsd:appinfo>
								<typeStorage>java.lang.String</typeStorage>
								<I18nKey>ServiceLibrary.BuildingBlocks.VoIP.BVoIPOSSJ.Site.BVoIPSiteData.notifyTo</I18nKey>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="groupName" type="xsd:string" nillable="true">
						<xsd:annotation>
							<xsd:appinfo>
								<typeStorage>java.lang.String</typeStorage>
								<I18nKey>ServiceLibrary.BuildingBlocks.VoIP.BVoIPOSSJ.Site.BVoIPSiteData.groupName</I18nKey>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="groupId" type="xsd:string" nillable="true">
						<xsd:annotation>
							<xsd:appinfo>
								<typeStorage>java.lang.String</typeStorage>
								<I18nKey>ServiceLibrary.BuildingBlocks.VoIP.BVoIPOSSJ.Site.BVoIPSiteData.groupId</I18nKey>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="locationCode" type="xsd:string" nillable="true">
						<xsd:annotation>
							<xsd:appinfo>
								<typeStorage>java.lang.String</typeStorage>
								<I18nKey>ServiceLibrary.BuildingBlocks.VoIP.BVoIPOSSJ.Site.BVoIPSiteData.locationCode</I18nKey>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="billingTelephoneNumber" type="xsd:string" nillable="true">
						<xsd:annotation>
							<xsd:appinfo>
								<typeStorage>java.lang.String</typeStorage>
								<I18nKey>ServiceLibrary.BuildingBlocks.VoIP.BVoIPOSSJ.Site.BVoIPSiteData.billingTelephoneNumber</I18nKey>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="timeZone" type="xsd:string" nillable="true">
						<xsd:annotation>
							<xsd:appinfo>
								<typeStorage>java.lang.String</typeStorage>
								<I18nKey>ServiceLibrary.BuildingBlocks.VoIP.BVoIPOSSJ.Site.BVoIPSiteData.timeZone</I18nKey>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="contactFirstName" type="xsd:string" nillable="true">
						<xsd:annotation>
							<xsd:appinfo>
								<typeStorage>java.lang.String</typeStorage>
								<I18nKey>ServiceLibrary.BuildingBlocks.VoIP.BVoIPOSSJ.Site.BVoIPSiteData.contactFirstName</I18nKey>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="contactLastName" type="xsd:string" nillable="true">
						<xsd:annotation>
							<xsd:appinfo>
								<typeStorage>java.lang.String</typeStorage>
								<I18nKey>ServiceLibrary.BuildingBlocks.VoIP.BVoIPOSSJ.Site.BVoIPSiteData.contactLastName</I18nKey>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="contactEmail" type="xsd:string" nillable="true">
						<xsd:annotation>
							<xsd:appinfo>
								<typeStorage>java.lang.String</typeStorage>
								<I18nKey>ServiceLibrary.BuildingBlocks.VoIP.BVoIPOSSJ.Site.BVoIPSiteData.contactEmail</I18nKey>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="contactPhone" type="xsd:string" nillable="true">
						<xsd:annotation>
							<xsd:appinfo>
								<typeStorage>java.lang.String</typeStorage>
								<I18nKey>ServiceLibrary.BuildingBlocks.VoIP.BVoIPOSSJ.Site.BVoIPSiteData.contactPhone</I18nKey>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="address1" type="xsd:string" nillable="true">
						<xsd:annotation>
							<xsd:appinfo>
								<typeStorage>java.lang.String</typeStorage>
								<I18nKey>ServiceLibrary.BuildingBlocks.VoIP.BVoIPOSSJ.Site.BVoIPSiteData.address1</I18nKey>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="address2" type="xsd:string" nillable="true">
						<xsd:annotation>
							<xsd:appinfo>
								<typeStorage>java.lang.String</typeStorage>
								<I18nKey>ServiceLibrary.BuildingBlocks.VoIP.BVoIPOSSJ.Site.BVoIPSiteData.address2</I18nKey>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="city" type="xsd:string" nillable="true">
						<xsd:annotation>
							<xsd:appinfo>
								<typeStorage>java.lang.String</typeStorage>
								<I18nKey>ServiceLibrary.BuildingBlocks.VoIP.BVoIPOSSJ.Site.BVoIPSiteData.city</I18nKey>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="stateOrProvince" type="xsd:string" nillable="true">
						<xsd:annotation>
							<xsd:appinfo>
								<typeStorage>java.lang.String</typeStorage>
								<I18nKey>ServiceLibrary.BuildingBlocks.VoIP.BVoIPOSSJ.Site.BVoIPSiteData.stateOrProvince</I18nKey>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="postalCode" type="xsd:string" nillable="true">
						<xsd:annotation>
							<xsd:appinfo>
								<typeStorage>java.lang.String</typeStorage>
								<I18nKey>ServiceLibrary.BuildingBlocks.VoIP.BVoIPOSSJ.Site.BVoIPSiteData.postalCode</I18nKey>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="country" type="xsd:string" nillable="true">
						<xsd:annotation>
							<xsd:appinfo>
								<typeStorage>java.lang.String</typeStorage>
								<I18nKey>ServiceLibrary.BuildingBlocks.VoIP.BVoIPOSSJ.Site.BVoIPSiteData.country</I18nKey>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="numberOfUsers" type="xsd:int">
						<xsd:annotation>
							<xsd:appinfo>
								<typeStorage>int</typeStorage>
								<I18nKey>ServiceLibrary.BuildingBlocks.VoIP.BVoIPOSSJ.Site.BVoIPSiteData.numberOfUsers</I18nKey>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="extensionLength" type="xsd:int">
						<xsd:annotation>
							<xsd:appinfo>
								<typeStorage>int</typeStorage>
								<I18nKey>ServiceLibrary.BuildingBlocks.VoIP.BVoIPOSSJ.Site.BVoIPSiteData.extensionLength</I18nKey>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="incomingDialingScheme" type="xsd:string" nillable="true">
						<xsd:annotation>
							<xsd:appinfo>
								<typeStorage>java.lang.String</typeStorage>
								<I18nKey>ServiceLibrary.BuildingBlocks.VoIP.BVoIPOSSJ.Site.BVoIPSiteData.incomingDialingScheme</I18nKey>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="trunkGroupCapacityLimit" type="xsd:string" nillable="true">
						<xsd:annotation>
							<xsd:appinfo>
								<typeStorage>java.lang.String</typeStorage>
								<I18nKey>ServiceLibrary.BuildingBlocks.VoIP.BVoIPOSSJ.Site.BVoIPSiteData.trunkGroupCapacityLimit</I18nKey>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="dnRanges" nillable="true">
						<xsd:annotation>
							<xsd:appinfo>
								<axisType>Vector</axisType>
								<axisNamespace>http://xml.apache.org/xml-soap</axisNamespace>
								<typeStorage>ServiceLibrary.BuildingBlocks.VoIP.BVoIPOSSJ.Data.DnRange[]</typeStorage>
								<I18nKey>ServiceLibrary.BuildingBlocks.VoIP.BVoIPOSSJ.Site.BVoIPSiteData.dnRanges</I18nKey>
							</xsd:appinfo>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="item" type="DnRange" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="sharedDevices" nillable="true">
						<xsd:annotation>
							<xsd:appinfo>
								<axisType>Vector</axisType>
								<axisNamespace>http://xml.apache.org/xml-soap</axisNamespace>
								<typeStorage>ServiceLibrary.BuildingBlocks.VoIP.BVoIPOSSJ.Data.Device[]</typeStorage>
								<I18nKey>ServiceLibrary.BuildingBlocks.VoIP.BVoIPOSSJ.Site.BVoIPSiteData.sharedDevices</I18nKey>
							</xsd:appinfo>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="item" type="Device" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="callCapacityGroups" nillable="true">
						<xsd:annotation>
							<xsd:appinfo>
								<axisType>Vector</axisType>
								<axisNamespace>http://xml.apache.org/xml-soap</axisNamespace>
								<typeStorage>ServiceLibrary.BuildingBlocks.VoIP.BVoIPOSSJ.Data.CallCapacityGroup[]</typeStorage>
								<I18nKey>ServiceLibrary.BuildingBlocks.VoIP.BVoIPOSSJ.Site.BVoIPSiteData.callCapacityGroups</I18nKey>
							</xsd:appinfo>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="item" type="CallCapacityGroup" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="customAttributes" nillable="true">
						<xsd:annotation>
							<xsd:appinfo>
								<axisType>Map</axisType>
								<axisNamespace>http://xml.apache.org/xml-soap</axisNamespace>
								<typeStorage>java.util.HashMap</typeStorage>
								<containedType>java.lang.Object</containedType>
								<I18nKey>ServiceLibrary.BuildingBlocks.VoIP.BVoIPOSSJ.Site.BVoIPSiteData.customAttributes</I18nKey>
							</xsd:appinfo>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="item" minOccurs="0" maxOccurs="unbounded">
									<xsd:annotation>
										<xsd:appinfo>
											<axisType>mapItem</axisType>
										</xsd:appinfo>
									</xsd:annotation>
									<xsd:complexType>
										<xsd:sequence>
											<xsd:element name="key" type="xsd:string"/>
											<xsd:element name="value" type="xsd:anyType" nillable="true"/>
										</xsd:sequence>
									</xsd:complexType>
								</xsd:element>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="groupFeaturePackage" type="FeaturePackage" nillable="true">
						<xsd:annotation>
							<xsd:appinfo>
								<typeStorage>ServiceLibrary.BuildingBlocks.VoIP.BVoIPOSSJ.Data.FeaturePackage</typeStorage>
								<I18nKey>ServiceLibrary.BuildingBlocks.VoIP.BVoIPOSSJ.Site.BVoIPSiteData.groupFeaturePackage</I18nKey>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="authUserName" type="xsd:string" nillable="true">
						<xsd:annotation>
							<xsd:appinfo>
								<typeStorage>java.lang.String</typeStorage>
								<I18nKey>ServiceLibrary.BuildingBlocks.VoIP.BVoIPOSSJ.Site.BVoIPSiteData.authUserName</I18nKey>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="authDomain" type="xsd:string" nillable="true">
						<xsd:annotation>
							<xsd:appinfo>
								<typeStorage>java.lang.String</typeStorage>
								<I18nKey>ServiceLibrary.BuildingBlocks.VoIP.BVoIPOSSJ.Site.BVoIPSiteData.authDomain</I18nKey>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="authPassword" type="xsd:string" nillable="true">
						<xsd:annotation>
							<xsd:appinfo>
								<typeStorage>java.lang.String</typeStorage>
								<I18nKey>ServiceLibrary.BuildingBlocks.VoIP.BVoIPOSSJ.Site.BVoIPSiteData.authPassword</I18nKey>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ServiceData25">
		<xsd:annotation>
			<xsd:appinfo>
				<typeStorage>com.atreus.ossj.sa.service.ServiceData25</typeStorage>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="BaseServiceData">
				<xsd:sequence>
					<xsd:element name="serviceState" type="xsd:string" nillable="true">
						<xsd:annotation>
							<xsd:appinfo>
								<I18nKey>com.atreus.ossj.sa.service.ServiceData25.serviceState</I18nKey>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="subscriberId" type="xsd:string" nillable="true">
						<xsd:annotation>
							<xsd:appinfo>
								<I18nKey>com.atreus.ossj.sa.service.ServiceData25.subscriberId</I18nKey>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="serviceId" type="xsd:string" nillable="true">
						<xsd:annotation>
							<xsd:appinfo>
								<I18nKey>com.atreus.ossj.sa.service.ServiceData25.serviceId</I18nKey>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="serviceOffering" type="xsd:string" nillable="true">
						<xsd:annotation>
							<xsd:appinfo>
								<I18nKey>com.atreus.ossj.sa.service.ServiceData25.serviceOffering</I18nKey>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="customerKey" type="xsd:string" nillable="true">
						<xsd:annotation>
							<xsd:appinfo>
								<I18nKey>com.atreus.ossj.sa.service.ServiceData25.customerKey</I18nKey>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="BaseServiceData">
		<xsd:annotation>
			<xsd:appinfo>
				<typeStorage>com.atreus.common.BaseServiceData</typeStorage>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:complexType>
	<xsd:complexType name="DnRange">
		<xsd:annotation>
			<xsd:appinfo>
				<typeStorage>ServiceLibrary.BuildingBlocks.VoIP.BVoIPOSSJ.Data.DnRange</typeStorage>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="BaseServiceData">
				<xsd:sequence>
					<xsd:element name="type" type="xsd:string" nillable="true">
						<xsd:annotation>
							<xsd:appinfo>
								<typeStorage>java.lang.String</typeStorage>
								<I18nKey>ServiceLibrary.BuildingBlocks.VoIP.BVoIPOSSJ.Data.DnRange.type</I18nKey>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="cc" type="xsd:string" nillable="true">
						<xsd:annotation>
							<xsd:appinfo>
								<typeStorage>java.lang.String</typeStorage>
								<I18nKey>ServiceLibrary.BuildingBlocks.VoIP.BVoIPOSSJ.Data.DnRange.cc</I18nKey>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="ndc" type="xsd:string" nillable="true">
						<xsd:annotation>
							<xsd:appinfo>
								<typeStorage>java.lang.String</typeStorage>
								<I18nKey>ServiceLibrary.BuildingBlocks.VoIP.BVoIPOSSJ.Data.DnRange.ndc</I18nKey>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="startingLineNumber" type="xsd:string" nillable="true">
						<xsd:annotation>
							<xsd:appinfo>
								<typeStorage>java.lang.String</typeStorage>
								<I18nKey>ServiceLibrary.BuildingBlocks.VoIP.BVoIPOSSJ.Data.DnRange.startingLineNumber</I18nKey>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="endingLineNumber" type="xsd:string" nillable="true">
						<xsd:annotation>
							<xsd:appinfo>
								<typeStorage>java.lang.String</typeStorage>
								<I18nKey>ServiceLibrary.BuildingBlocks.VoIP.BVoIPOSSJ.Data.DnRange.endingLineNumber</I18nKey>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="Device">
		<xsd:annotation>
			<xsd:appinfo>
				<typeStorage>ServiceLibrary.BuildingBlocks.VoIP.BVoIPOSSJ.Data.Device</typeStorage>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="BaseServiceData">
				<xsd:sequence>
					<xsd:element name="deviceName" type="xsd:string" nillable="true">
						<xsd:annotation>
							<xsd:appinfo>
								<typeStorage>java.lang.String</typeStorage>
								<I18nKey>ServiceLibrary.BuildingBlocks.VoIP.BVoIPOSSJ.Data.Device.deviceName</I18nKey>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="deviceType" type="xsd:string" nillable="true">
						<xsd:annotation>
							<xsd:appinfo>
								<typeStorage>java.lang.String</typeStorage>
								<I18nKey>ServiceLibrary.BuildingBlocks.VoIP.BVoIPOSSJ.Data.Device.deviceType</I18nKey>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="macAddress" type="xsd:string" nillable="true">
						<xsd:annotation>
							<xsd:appinfo>
								<typeStorage>java.lang.String</typeStorage>
								<I18nKey>ServiceLibrary.BuildingBlocks.VoIP.BVoIPOSSJ.Data.Device.macAddress</I18nKey>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="ipAddress" type="xsd:string" nillable="true">
						<xsd:annotation>
							<xsd:appinfo>
								<typeStorage>java.lang.String</typeStorage>
								<I18nKey>ServiceLibrary.BuildingBlocks.VoIP.BVoIPOSSJ.Data.Device.ipAddress</I18nKey>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="serialNumber" type="xsd:string" nillable="true">
						<xsd:annotation>
							<xsd:appinfo>
								<typeStorage>java.lang.String</typeStorage>
								<I18nKey>ServiceLibrary.BuildingBlocks.VoIP.BVoIPOSSJ.Data.Device.serialNumber</I18nKey>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="port" type="xsd:string" nillable="true">
						<xsd:annotation>
							<xsd:appinfo>
								<typeStorage>java.lang.String</typeStorage>
								<I18nKey>ServiceLibrary.BuildingBlocks.VoIP.BVoIPOSSJ.Data.Device.port</I18nKey>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="description" type="xsd:string" nillable="true">
						<xsd:annotation>
							<xsd:appinfo>
								<typeStorage>java.lang.String</typeStorage>
								<I18nKey>ServiceLibrary.BuildingBlocks.VoIP.BVoIPOSSJ.Data.Device.description</I18nKey>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CallCapacityGroup">
		<xsd:annotation>
			<xsd:appinfo>
				<typeStorage>ServiceLibrary.BuildingBlocks.VoIP.BVoIPOSSJ.Data.CallCapacityGroup</typeStorage>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="BaseServiceData">
				<xsd:sequence>
					<xsd:element name="groupName" type="xsd:string" nillable="true">
						<xsd:annotation>
							<xsd:appinfo>
								<typeStorage>java.lang.String</typeStorage>
								<I18nKey>ServiceLibrary.BuildingBlocks.VoIP.BVoIPOSSJ.Data.CallCapacityGroup.groupName</I18nKey>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="maximumActiveCalls" type="xsd:int">
						<xsd:annotation>
							<xsd:appinfo>
								<typeStorage>int</typeStorage>
								<I18nKey>ServiceLibrary.BuildingBlocks.VoIP.BVoIPOSSJ.Data.CallCapacityGroup.maximumActiveCalls</I18nKey>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="maximumCallsIn" type="xsd:int">
						<xsd:annotation>
							<xsd:appinfo>
								<typeStorage>int</typeStorage>
								<I18nKey>ServiceLibrary.BuildingBlocks.VoIP.BVoIPOSSJ.Data.CallCapacityGroup.maximumCallsIn</I18nKey>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="maximumCallsOut" type="xsd:int">
						<xsd:annotation>
							<xsd:appinfo>
								<typeStorage>int</typeStorage>
								<I18nKey>ServiceLibrary.BuildingBlocks.VoIP.BVoIPOSSJ.Data.CallCapacityGroup.maximumCallsOut</I18nKey>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="defaultGroup" type="xsd:boolean">
						<xsd:annotation>
							<xsd:appinfo>
								<typeStorage>boolean</typeStorage>
								<I18nKey>ServiceLibrary.BuildingBlocks.VoIP.BVoIPOSSJ.Data.CallCapacityGroup.defaultGroup</I18nKey>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="FeaturePackage">
		<xsd:annotation>
			<xsd:appinfo>
				<typeStorage>ServiceLibrary.BuildingBlocks.VoIP.BVoIPOSSJ.Data.FeaturePackage</typeStorage>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="BaseServiceData">
				<xsd:sequence>
					<xsd:element name="selectionSetID" type="xsd:string" nillable="true" minOccurs="0">
						<xsd:annotation>
							<xsd:appinfo>
								<typeStorage>java.lang.String</typeStorage>
								<I18nKey>ServiceLibrary.BuildingBlocks.VoIP.BVoIPOSSJ.Data.FeaturePackage.selectionSetID</I18nKey>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="packageID" type="xsd:string" nillable="true">
						<xsd:annotation>
							<xsd:appinfo>
								<typeStorage>java.lang.String</typeStorage>
								<I18nKey>ServiceLibrary.BuildingBlocks.VoIP.BVoIPOSSJ.Data.FeaturePackage.packageID</I18nKey>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="packageRateCode" type="xsd:string" nillable="true">
						<xsd:annotation>
							<xsd:appinfo>
								<typeStorage>java.lang.String</typeStorage>
								<I18nKey>ServiceLibrary.BuildingBlocks.VoIP.BVoIPOSSJ.Data.FeaturePackage.packageRateCode</I18nKey>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="addOnPackages" nillable="true">
						<xsd:annotation>
							<xsd:appinfo>
								<axisType>Vector</axisType>
								<axisNamespace>http://xml.apache.org/xml-soap</axisNamespace>
								<typeStorage>ServiceLibrary.BuildingBlocks.VoIP.BVoIPOSSJ.Data.FeaturePackage[]</typeStorage>
								<I18nKey>ServiceLibrary.BuildingBlocks.VoIP.BVoIPOSSJ.Data.FeaturePackage.addOnPackages</I18nKey>
							</xsd:appinfo>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="item" type="FeaturePackage" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="BVoIPSiteData" type="BVoIPSiteData"/>
</xsd:schema>