xAuthorityAdapter/XSDSchemas/xAuthority/BVoIPUserData.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://User.BVoIPOSSJ.VoIP.BuildingBlocks.ServiceLibrary" xmlns="http://User.BVoIPOSSJ.VoIP.BuildingBlocks.ServiceLibrary" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="BVoIPUserData">
    <xsd:annotation>
      <xsd:appinfo>
        <typeStorage>ServiceLibrary.BuildingBlocks.VoIP.BVoIPOSSJ.User.BVoIPUserData</typeStorage>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="ServiceData25">
        <xsd:sequence>
          <xsd:element name="serviceOfferingVersion" nillable="true" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo>
                <typeStorage>java.lang.String</typeStorage>
                <I18nKey>ServiceLibrary.BuildingBlocks.VoIP.BVoIPOSSJ.User.BVoIPUserData.serviceOfferingVersion</I18nKey>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="serviceOfferingPublication" nillable="true" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo>
                <typeStorage>java.lang.String</typeStorage>
                <I18nKey>ServiceLibrary.BuildingBlocks.VoIP.BVoIPOSSJ.User.BVoIPUserData.serviceOfferingPublication</I18nKey>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="synchronizeMode" type="xsd:boolean">
            <xsd:annotation>
              <xsd:appinfo>
                <typeStorage>boolean</typeStorage>
                <I18nKey>ServiceLibrary.BuildingBlocks.VoIP.BVoIPOSSJ.User.BVoIPUserData.synchronizeMode</I18nKey>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="customerParentGroups" nillable="true">
            <xsd:annotation>
              <xsd:appinfo>
                <axisType>Vector</axisType>
                <axisNamespace>http://xml.apache.org/xml-soap</axisNamespace>
                <typeStorage>java.lang.String[]</typeStorage>
                <I18nKey>ServiceLibrary.BuildingBlocks.VoIP.BVoIPOSSJ.User.BVoIPUserData.customerParentGroups</I18nKey>
              </xsd:appinfo>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" type="xsd:string">
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="customerName" nillable="true" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo>
                <typeStorage>java.lang.String</typeStorage>
                <I18nKey>ServiceLibrary.BuildingBlocks.VoIP.BVoIPOSSJ.User.BVoIPUserData.customerName</I18nKey>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="notifyCSR" type="xsd:boolean">
            <xsd:annotation>
              <xsd:appinfo>
                <typeStorage>boolean</typeStorage>
                <I18nKey>ServiceLibrary.BuildingBlocks.VoIP.BVoIPOSSJ.User.BVoIPUserData.notifyCSR</I18nKey>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="notifyTo" nillable="true" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo>
                <typeStorage>java.lang.String</typeStorage>
                <I18nKey>ServiceLibrary.BuildingBlocks.VoIP.BVoIPOSSJ.User.BVoIPUserData.notifyTo</I18nKey>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="siteID" nillable="true" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo>
                <typeStorage>java.lang.String</typeStorage>
                <I18nKey>ServiceLibrary.BuildingBlocks.VoIP.BVoIPOSSJ.User.BVoIPUserData.siteID</I18nKey>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="username" nillable="true" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo>
                <typeStorage>java.lang.String</typeStorage>
                <I18nKey>ServiceLibrary.BuildingBlocks.VoIP.BVoIPOSSJ.User.BVoIPUserData.username</I18nKey>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="firstName" nillable="true" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo>
                <typeStorage>java.lang.String</typeStorage>
                <I18nKey>ServiceLibrary.BuildingBlocks.VoIP.BVoIPOSSJ.User.BVoIPUserData.firstName</I18nKey>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="lastName" nillable="true" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo>
                <typeStorage>java.lang.String</typeStorage>
                <I18nKey>ServiceLibrary.BuildingBlocks.VoIP.BVoIPOSSJ.User.BVoIPUserData.lastName</I18nKey>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="userType" nillable="true" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo>
                <typeStorage>java.lang.String</typeStorage>
                <I18nKey>ServiceLibrary.BuildingBlocks.VoIP.BVoIPOSSJ.User.BVoIPUserData.userType</I18nKey>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="language" nillable="true" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo>
                <typeStorage>java.lang.String</typeStorage>
                <I18nKey>ServiceLibrary.BuildingBlocks.VoIP.BVoIPOSSJ.User.BVoIPUserData.language</I18nKey>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="clidFirstName" nillable="true" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo>
                <typeStorage>java.lang.String</typeStorage>
                <I18nKey>ServiceLibrary.BuildingBlocks.VoIP.BVoIPOSSJ.User.BVoIPUserData.clidFirstName</I18nKey>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="clidLastName" nillable="true" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo>
                <typeStorage>java.lang.String</typeStorage>
                <I18nKey>ServiceLibrary.BuildingBlocks.VoIP.BVoIPOSSJ.User.BVoIPUserData.clidLastName</I18nKey>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="portalPassword" nillable="true" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo>
                <typeStorage>java.lang.String</typeStorage>
                <I18nKey>ServiceLibrary.BuildingBlocks.VoIP.BVoIPOSSJ.User.BVoIPUserData.portalPassword</I18nKey>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="extension" nillable="true" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo>
                <typeStorage>java.lang.String</typeStorage>
                <I18nKey>ServiceLibrary.BuildingBlocks.VoIP.BVoIPOSSJ.User.BVoIPUserData.extension</I18nKey>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="countryCode" nillable="true" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo>
                <typeStorage>java.lang.String</typeStorage>
                <I18nKey>ServiceLibrary.BuildingBlocks.VoIP.BVoIPOSSJ.User.BVoIPUserData.countryCode</I18nKey>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="ndc" nillable="true" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo>
                <typeStorage>java.lang.String</typeStorage>
                <I18nKey>ServiceLibrary.BuildingBlocks.VoIP.BVoIPOSSJ.User.BVoIPUserData.ndc</I18nKey>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="lineNumber" nillable="true" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo>
                <typeStorage>java.lang.String</typeStorage>
                <I18nKey>ServiceLibrary.BuildingBlocks.VoIP.BVoIPOSSJ.User.BVoIPUserData.lineNumber</I18nKey>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="userFeaturePackage" nillable="true" type="FeaturePackage">
            <xsd:annotation>
              <xsd:appinfo>
                <typeStorage>ServiceLibrary.BuildingBlocks.VoIP.BVoIPOSSJ.Data.FeaturePackage</typeStorage>
                <I18nKey>ServiceLibrary.BuildingBlocks.VoIP.BVoIPOSSJ.User.BVoIPUserData.userFeaturePackage</I18nKey>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="device" nillable="true" type="Device">
            <xsd:annotation>
              <xsd:appinfo>
                <typeStorage>ServiceLibrary.BuildingBlocks.VoIP.BVoIPOSSJ.Data.Device</typeStorage>
                <I18nKey>ServiceLibrary.BuildingBlocks.VoIP.BVoIPOSSJ.User.BVoIPUserData.device</I18nKey>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="sipAuthenticationUsername" nillable="true" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo>
                <typeStorage>java.lang.String</typeStorage>
                <I18nKey>ServiceLibrary.BuildingBlocks.VoIP.BVoIPOSSJ.User.BVoIPUserData.sipAuthenticationUsername</I18nKey>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="sipAuthenticationPassword" nillable="true" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo>
                <typeStorage>java.lang.String</typeStorage>
                <I18nKey>ServiceLibrary.BuildingBlocks.VoIP.BVoIPOSSJ.User.BVoIPUserData.sipAuthenticationPassword</I18nKey>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="customAttributes" nillable="true">
            <xsd:annotation>
              <xsd:appinfo>
                <axisType>Map</axisType>
                <axisNamespace>http://xml.apache.org/xml-soap</axisNamespace>
                <typeStorage>java.util.HashMap</typeStorage>
                <containedType>java.lang.Object</containedType>
                <I18nKey>ServiceLibrary.BuildingBlocks.VoIP.BVoIPOSSJ.User.BVoIPUserData.customAttributes</I18nKey>
              </xsd:appinfo>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="item" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:appinfo>
                      <axisType>mapItem</axisType>
                    </xsd:appinfo>
                  </xsd:annotation>
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="key" type="xsd:string">
                      </xsd:element>
                      <xsd:element name="value" nillable="true" type="xsd:anyType">
                      </xsd:element>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="password" nillable="true" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo>
                <typeStorage>java.lang.String</typeStorage>
                <I18nKey>ServiceLibrary.BuildingBlocks.VoIP.BVoIPOSSJ.User.BVoIPUserData.password</I18nKey>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="emailAddress" nillable="true" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo>
                <typeStorage>java.lang.String</typeStorage>
                <I18nKey>ServiceLibrary.BuildingBlocks.VoIP.BVoIPOSSJ.User.BVoIPUserData.emailAddress</I18nKey>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="authUserName" nillable="true" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo>
                <typeStorage>java.lang.String</typeStorage>
                <I18nKey>ServiceLibrary.BuildingBlocks.VoIP.BVoIPOSSJ.User.BVoIPUserData.authUserName</I18nKey>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="authDomain" nillable="true" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo>
                <typeStorage>java.lang.String</typeStorage>
                <I18nKey>ServiceLibrary.BuildingBlocks.VoIP.BVoIPOSSJ.User.BVoIPUserData.authDomain</I18nKey>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="authPassword" nillable="true" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo>
                <typeStorage>java.lang.String</typeStorage>
                <I18nKey>ServiceLibrary.BuildingBlocks.VoIP.BVoIPOSSJ.User.BVoIPUserData.authPassword</I18nKey>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ServiceData25">
    <xsd:annotation>
      <xsd:appinfo>
        <typeStorage>com.atreus.ossj.sa.service.ServiceData25</typeStorage>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="BaseServiceData">
        <xsd:sequence>
          <xsd:element name="serviceState" nillable="true" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo>
                <I18nKey>com.atreus.ossj.sa.service.ServiceData25.serviceState</I18nKey>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="subscriberId" nillable="true" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo>
                <I18nKey>com.atreus.ossj.sa.service.ServiceData25.subscriberId</I18nKey>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="serviceId" nillable="true" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo>
                <I18nKey>com.atreus.ossj.sa.service.ServiceData25.serviceId</I18nKey>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="serviceOffering" nillable="true" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo>
                <I18nKey>com.atreus.ossj.sa.service.ServiceData25.serviceOffering</I18nKey>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="customerKey" nillable="true" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo>
                <I18nKey>com.atreus.ossj.sa.service.ServiceData25.customerKey</I18nKey>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="BaseServiceData">
    <xsd:annotation>
      <xsd:appinfo>
        <typeStorage>com.atreus.common.BaseServiceData</typeStorage>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FeaturePackage">
    <xsd:annotation>
      <xsd:appinfo>
        <typeStorage>ServiceLibrary.BuildingBlocks.VoIP.BVoIPOSSJ.Data.FeaturePackage</typeStorage>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="BaseServiceData">
        <xsd:sequence>
          <xsd:element name="selectionSetID" nillable="true" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo>
                <typeStorage>java.lang.String</typeStorage>
                <I18nKey>ServiceLibrary.BuildingBlocks.VoIP.BVoIPOSSJ.Data.FeaturePackage.selectionSetID</I18nKey>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="packageID" nillable="true" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo>
                <typeStorage>java.lang.String</typeStorage>
                <I18nKey>ServiceLibrary.BuildingBlocks.VoIP.BVoIPOSSJ.Data.FeaturePackage.packageID</I18nKey>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="packageRateCode" nillable="true" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo>
                <typeStorage>java.lang.String</typeStorage>
                <I18nKey>ServiceLibrary.BuildingBlocks.VoIP.BVoIPOSSJ.Data.FeaturePackage.packageRateCode</I18nKey>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="addOnPackages" nillable="true">
            <xsd:annotation>
              <xsd:appinfo>
                <axisType>Vector</axisType>
                <axisNamespace>http://xml.apache.org/xml-soap</axisNamespace>
                <typeStorage>ServiceLibrary.BuildingBlocks.VoIP.BVoIPOSSJ.Data.FeaturePackage[]</typeStorage>
                <I18nKey>ServiceLibrary.BuildingBlocks.VoIP.BVoIPOSSJ.Data.FeaturePackage.addOnPackages</I18nKey>
              </xsd:appinfo>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="item" nillable="true" minOccurs="0" maxOccurs="unbounded" type="FeaturePackage">
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Device">
    <xsd:annotation>
      <xsd:appinfo>
        <typeStorage>ServiceLibrary.BuildingBlocks.VoIP.BVoIPOSSJ.Data.Device</typeStorage>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="BaseServiceData">
        <xsd:sequence>
          <xsd:element name="deviceName" nillable="true" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo>
                <typeStorage>java.lang.String</typeStorage>
                <I18nKey>ServiceLibrary.BuildingBlocks.VoIP.BVoIPOSSJ.Data.Device.deviceName</I18nKey>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="deviceType" nillable="true" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo>
                <typeStorage>java.lang.String</typeStorage>
                <I18nKey>ServiceLibrary.BuildingBlocks.VoIP.BVoIPOSSJ.Data.Device.deviceType</I18nKey>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="macAddress" nillable="true" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo>
                <typeStorage>java.lang.String</typeStorage>
                <I18nKey>ServiceLibrary.BuildingBlocks.VoIP.BVoIPOSSJ.Data.Device.macAddress</I18nKey>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="ipAddress" nillable="true" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo>
                <typeStorage>java.lang.String</typeStorage>
                <I18nKey>ServiceLibrary.BuildingBlocks.VoIP.BVoIPOSSJ.Data.Device.ipAddress</I18nKey>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="serialNumber" nillable="true" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo>
                <typeStorage>java.lang.String</typeStorage>
                <I18nKey>ServiceLibrary.BuildingBlocks.VoIP.BVoIPOSSJ.Data.Device.serialNumber</I18nKey>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="port" nillable="true" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo>
                <typeStorage>java.lang.String</typeStorage>
                <I18nKey>ServiceLibrary.BuildingBlocks.VoIP.BVoIPOSSJ.Data.Device.port</I18nKey>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="description" nillable="true" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo>
                <typeStorage>java.lang.String</typeStorage>
                <I18nKey>ServiceLibrary.BuildingBlocks.VoIP.BVoIPOSSJ.Data.Device.description</I18nKey>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="BVoIPUserData" type="BVoIPUserData">
  </xsd:element>
</xsd:schema>