xAuthorityAdapter/XSDSchemas/xAuthority/ExtendedServiceValue.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns="http://www.serviceprovider.org/com/atreus/ossj/sa/service"
	 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	 xmlns:ns0="http://java.sun.com/products/oss/xml/ServiceActivation"
	 targetNamespace="http://www.serviceprovider.org/com/atreus/ossj/sa/service"
	 elementFormDefault="unqualified"
	 attributeFormDefault="unqualified">
	<xsd:import namespace="http://java.sun.com/products/oss/xml/ServiceActivation" schemaLocation="XmlServiceActivationSchema.xsd"/>
	<xsd:complexType name="ExtendedServiceValue">
		<xsd:complexContent>
			<xsd:extension base="ns0:ServiceValue">
				<xsd:sequence>
					<xsd:element name="attribute1" type="xsd:string" nillable="true" minOccurs="0"/>
					<xsd:element name="attribute2" type="xsd:string" nillable="true" minOccurs="0"/>
					<xsd:element name="attribute3" type="xsd:string" nillable="true" minOccurs="0"/>
					<xsd:element name="attribute4" type="xsd:string" nillable="true" minOccurs="0"/>
					<xsd:element name="attribute5" type="xsd:string" nillable="true" minOccurs="0"/>
					<xsd:element name="customerKey" type="xsd:string" nillable="true" minOccurs="0"/>
					<xsd:element name="serviceOffering" type="xsd:string" nillable="true" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="com.atreus.ossj.sa.service.ExtendedServiceValue" type="ExtendedServiceValue"/>
</xsd:schema>