CRMServices/XSDSchemas/CDCAdapter/Imported/0423_ValidateAddress_1.0_Response_EAI_BUS_SIDE.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://xmlns.kpn.com/EAI/fixed/0423_ValidateAddress/1.0/Response" targetNamespace="http://xmlns.kpn.com/EAI/fixed/0423_ValidateAddress/1.0/Response" elementFormDefault="qualified">
	<xs:include schemaLocation="CDM_Structures.xsd"/>
	<xs:element name="BODY" type="tns:BODY"/>
	<xs:complexType name="BODY">
		<xs:sequence>
			<xs:element name="RAW_DATA" type="xs:string" minOccurs="0"/>
			<xs:element name="ADDRESS" type="tns:PropertyAddress_Type"/>
			<xs:element name="CONTACT_PERSON" type="tns:ContactPerson_Type"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
