GenericOrderGateway/XSDSchemas/GenericOrderGateway/Imported/Product/ProductGroup_Tango.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- edited with XMLSpy v2007 rel. 3 (http://www.altova.com) by NLBSZSF2J (KPN Telecom) -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Common/Common_Types.xsd"/>
	<xsd:include schemaLocation="../Location/PropertyAddress_Type.xsd"/>
	<xsd:include schemaLocation="../Unallocated/Unallocated_Types.xsd"/>

	<!--##########################################################################-->
	<!--version = "1.0"-->
	<!--date = "15/08/2007"-->
	<!--##########################################################################-->
	<xsd:group name="ProductGroup_Tango">
		<xsd:choice>
			<xsd:element name="SERVICE_VISIT_PRODUCT" type="ServiceVisitProduct_Type"/>
		</xsd:choice>
	</xsd:group>

	<!--##########################################################################-->
	<xsd:complexType name="ServiceVisitProduct_Type">
		<xsd:sequence>
			<xsd:element name="APPOINTMENT" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Contians the date and time of the appointment for the service visit.</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="REQUESTED" type="LongTimePeriod_Type" minOccurs="0" maxOccurs="unbounded">
							<xsd:annotation>
								<xsd:documentation>The requested appointment time denotes availability from which the planner may choose.</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="PLANNED" type="LongTimePeriod_Type" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>The planned moment for the appointement.</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="ACTUAL" type="LongTimePeriod_Type" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>The actual moment of the appointment (in retrospect)</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="LOCATION" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>The location where the appointment will take place.</xsd:documentation>
							</xsd:annotation>
							<xsd:complexType>
								<xsd:complexContent>
									<xsd:extension base="PropertyAddress_Type">
										<xsd:sequence>
											<xsd:element name="RAYON" type="xsd:string" minOccurs="0"/>
										</xsd:sequence>
									</xsd:extension>
								</xsd:complexContent>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="SINGLE_SIDED_APPOINTMENT_FLAG" type="xsd:boolean" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>An indicator to show that the appointment was made without consulting the customer.</xsd:documentation>
								<xsd:documentation>Default (autogenerated) min and max occurs values.</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="URGENT_FLAG" type="xsd:boolean" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Indicator for urgent delivery</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:sequence minOccurs="0">
							<xsd:element name="CHANGED_BY" type="xsd:string"/>
							<xsd:element name="REASON" type="xsd:string"/>
						</xsd:sequence>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="CUSTOMER_NAME" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>The name the customer with whom the appointment is being made. Note that this is not the actual customer of this order, but rather the end-user's contractual party.</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="255"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="CONTACT" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="CONTACT_MEDIUM">
							<xsd:annotation>
								<xsd:documentation/>
								<xsd:documentation source="design">notice that the entity is locally defined and not reused from other parts of the cdm</xsd:documentation>
							</xsd:annotation>
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="PHONE_NUMBER" type="phoneNumber_Unformatted_Type" minOccurs="0"/>
									<xsd:element name="EMAIL" type="emailAddress_Type" minOccurs="0"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="CONTACT_PERSON">
							<xsd:annotation>
								<xsd:documentation/>
								<xsd:documentation source="design">notice that the entity is locally defined and not reused from other parts of the cdm</xsd:documentation>
							</xsd:annotation>
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="FIRST_NAME" type="xsd:string" minOccurs="0"/>
									<xsd:element name="LAST_NAME" type="xsd:string"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ENGINEER" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="NAME" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Name of the assigned engineer</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="SKILL_LEVEL" type="xsd:string" minOccurs="0"/>
						<xsd:element name="SUPPLY_LOCATION_CODE" type="xsd:string" minOccurs="0"/>
						<xsd:element name="ASSIGNMENT_TYPE" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Indicates whether the ENGINEER information is initial or a change. Value [INITIAL|CHANGE]</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="INSTALLATION_TYPE" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>New, moving, demolition</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="RESOURCE" minOccurs="0" maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="RESOURCE_ROLE" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Described the role of this resource in the context of this service visit (such as old phonenumber, new phone number etc.)</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:choice>
							<xsd:choice>
								<xsd:annotation>
									<xsd:documentation>LOGICAL RESOURCES</xsd:documentation>
								</xsd:annotation>
								<xsd:element name="PHONE_NUMBER_RANGE">
									<xsd:complexType>
										<xsd:complexContent>
											<xsd:extension base="PhoneNumberRange_Formatted_Type">
												<xsd:sequence>
													<xsd:element name="PORTING" type="xsd:boolean" minOccurs="0">
														<xsd:annotation>
															<xsd:documentation>Are the numbers to be inported</xsd:documentation>
															<xsd:documentation>Default (autogenerated) min and max occurs values.</xsd:documentation>
														</xsd:annotation>
													</xsd:element>
												</xsd:sequence>
											</xsd:extension>
										</xsd:complexContent>
									</xsd:complexType>
								</xsd:element>
								<xsd:element name="IP_NUMBER_RANGE" type="IpAddressRange_v4_Type"/>
							</xsd:choice>
							<xsd:choice>
								<xsd:annotation>
									<xsd:documentation>PHYSICAL RESOURCES</xsd:documentation>
								</xsd:annotation>
								<xsd:element name="DEVICE_RESOURCE">
									<xsd:complexType>
										<xsd:sequence>
											<xsd:element name="TYPE" type="xsd:string" minOccurs="0"/>
										</xsd:sequence>
									</xsd:complexType>
								</xsd:element>
								<xsd:element name="PBX_RESOURCE">
									<xsd:complexType>
										<xsd:sequence>
											<xsd:element name="SITE_ID" type="xsd:string" minOccurs="0"/>
											<xsd:element name="PBX_ID" type="xsd:string" minOccurs="0"/>
											<xsd:element name="POP_ID" type="xsd:string" minOccurs="0"/>
										</xsd:sequence>
									</xsd:complexType>
								</xsd:element>
							</xsd:choice>
						</xsd:choice>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="SERVICE" minOccurs="0" maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="SERVICE_ROLE" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Described the role of this service in the context of this service visit (such as old phonenumber, new phone number etc.)</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:choice>
							<xsd:element name="LOGIN_ACCOUNT">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="USER_NAME" type="xsd:string"/>
										<xsd:element name="PASSWORD" type="xsd:string" minOccurs="0"/>
										<xsd:element name="DOMAIN" type="xsd:string" minOccurs="0"/>
										<xsd:element name="COMMENTS" type="xsd:string" minOccurs="0"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="ACCESS_SERVICE">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="UPLOAD" minOccurs="0">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="MAXIMUM" type="BinarySpeedQuantity_Type"/>
													<xsd:element name="MINIMUM" type="BinarySpeedQuantity_Type" minOccurs="0"/>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="DOWNLOAD" minOccurs="0">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="MAXIMUM" type="BinarySpeedQuantity_Type"/>
													<xsd:element name="MINIMUM" type="BinarySpeedQuantity_Type" minOccurs="0"/>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="ACCESS_TYPE" type="xsd:string" minOccurs="0"/>
										<xsd:element name="ISRA_ID" type="xsd:string" minOccurs="0"/>
										<xsd:element name="XDF_KEY" type="xsd:string" minOccurs="0"/>
										<xsd:element name="ACCESS_SHARING_TYPE" type="xsd:string" minOccurs="0"/>
										<xsd:element name="ACCESS_ID" type="xsd:string" minOccurs="0"/>
										<xsd:element name="SERVICE_INTERFACE_PORT" minOccurs="0">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="SIP_ID" type="xsd:string" minOccurs="0"/>
													<xsd:element name="PORT_NUMBER" type="xsd:string" minOccurs="0"/>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="CURRENT_TELEPHONY_TYPE" type="xsd:string" minOccurs="0"/>
										<xsd:element name="PHONENUMBER_CURRENT_ACCESSLINE" type="phoneNumber_Unformatted_Type" minOccurs="0"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="VOICE_SERVICE">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="NUMBER_OF_SEATS" type="xsd:positiveInteger" minOccurs="0"/>
										<xsd:element name="MAXIMUM_CONCURRENT_CALLS" type="xsd:nonNegativeInteger" minOccurs="0"/>
										<xsd:element name="MAXIMUM_CONCURRENT_INBOUND" type="xsd:nonNegativeInteger" minOccurs="0"/>
										<xsd:element name="MAXIMUM_CONCURRENT_OUTBOUND" type="xsd:nonNegativeInteger" minOccurs="0"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="CONNECTION_SERVICE">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="CONNECTION_SERVICE_ID" type="xsd:string" minOccurs="0"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:choice>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="RUNTIME_PARAMETERS" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>This element contains parameters that could not (without defeating all logic) be assigned to any of the product's elements.</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="BILL_OF_MATERIAL" type="xsd:anyType" minOccurs="0"/>
						<xsd:element name="DEVICE_PURCHASE_ORDER_ID" type="xsd:string" minOccurs="0"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>