GenericOrderGateway/XSDSchemas/GenericOrderGateway/Imported/Product/Product_Type.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- edited with XMLSpy v2007 rel. 3 (http://www.altova.com) by Stulemeijer (KPN Telecom) -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	 xmlns:ns0="http://kpn.com/eai/product/generic"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Common/Common_Types.xsd"/>
	<xsd:include schemaLocation="../Unallocated/Unallocated_Types.xsd"/>

	<!--################################################################################-->
	<xsd:include schemaLocation="ProductGroup_Generic.xsd"/>
	<xsd:include schemaLocation="ProductGroup_xAuthority.xsd"/>
	<xsd:include schemaLocation="ProductGroup_Tango.xsd"/>
	<xsd:include schemaLocation="ProductGroup_Eclips.xsd"/>
	<xsd:include schemaLocation="ProductGroup_CramerOfa.xsd"/>
	<xsd:include schemaLocation="ProductGroup_Chorda_Sni.xsd"/>
	<xsd:include schemaLocation="ProductGroup_Fiber_Sni.xsd"/>
	<xsd:include schemaLocation="ProductGroup_Blip.xsd"/>
	<xsd:include schemaLocation="ProductGroup_Comet.xsd"/>
	<xsd:include schemaLocation="ProductGroup_OrderManager.xsd"/>

	<!--################################################################################-->
	<xsd:complexType name="AnyData_Type">
		<xsd:annotation>
			<xsd:documentation>Solve temporary extra data needed to be delivered</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence maxOccurs="unbounded">
			<xsd:any namespace="##any" processContents="strict"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="Action_Type" final="">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="New"/>
			<xsd:enumeration value="Change"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="Product_Type">
		<xsd:choice>
			<xsd:group ref="ProductGroup_Generic"/>
			<xsd:group ref="ProductGroup_xAuthority"/>
			<xsd:group ref="ProductGroup_Tango"/>
			<xsd:group ref="ProductGroup_Eclips"/>
			<xsd:group ref="ProductGroup_CramerOfa"/>
			<xsd:group ref="ProductGroup_Blip"/>
			<xsd:group ref="ProductGroup_Comet"/>
			<xsd:group ref="ProductGroup_Fiber_Sni"/>
			<xsd:group ref="ProductGroup_OrderManager"/>
		</xsd:choice>
	</xsd:complexType>
	<xsd:simpleType name="Service_Type">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="ZIPB"/>
			<xsd:enumeration value="Mail"/>
			<xsd:enumeration value="AccessPoint"/>
			<xsd:enumeration value="InternetAccess"/>
			<xsd:enumeration value="IPAdresses"/>
			<xsd:enumeration value="VoiceAccess"/>
			<xsd:enumeration value="CPE Router"/>
			<xsd:enumeration value="Domein"/>
			<xsd:enumeration value="DomeinTransfer"/>
			<xsd:enumeration value="Webspace"/>
			<xsd:enumeration value="ORB"/>
			<xsd:enumeration value="PinnenoIP"/>
			<xsd:enumeration value="PhoneNumbers"/>
			<xsd:enumeration value="VoicePackage"/>
			<xsd:enumeration value="Hardware"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>