GenericSOAPGateway/XSDSchemas/NumbesAdapter/Imported/0195_GetNumberInfo_2.0_Request_EAI_BUS_SIDE.xsd

<?xml version="1.0" encoding="utf-8"?>

<xs:schema xmlns:tns="http://xmlns.kpn.com/EAI/fixed/0195_GetNumberInfo/2.0/Request"
	 xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 targetNamespace="http://xmlns.kpn.com/EAI/fixed/0195_GetNumberInfo/2.0/Request"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:simpleType name="phoneNumber_type">
		<xs:annotation>
			<xs:documentation>The phone number for which number details are requested.
The number may have at most 1 separator, where the separator may not be a letter or digit. Example: 030-4500000</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="26"/>
			<xs:pattern value="\+?[\d\-\(\)\s]{1,25}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="BODY">
		<xs:annotation>
			<xs:documentation>This is the BODY object for KPN EAI service number 0195 - GetNumberInfo version 2.0 Request message.</xs:documentation>
			<xs:documentation>Automatically generated schema for service:'GetNumberInfo', version:'2.0'</xs:documentation>
			<xs:documentation>Generated on 2007-05-03 17:24:07Z</xs:documentation>
			<xs:documentation>Service paradigm is intended to be Request/Response</xs:documentation>
			<xs:documentation>Service ID is:'0195'</xs:documentation>
			<xs:documentation>The body must always have MinOccurs=0 and MaxOccurs=1, by definition of KPN EAI AG. (For request messages this has no apparent benefit)</xs:documentation>
			<xs:documentation>KPN EAI message body class.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:annotation>
					<xs:documentation>Artificial sequence to separate.</xs:documentation>
				</xs:annotation>
				<xs:element name="PHONE_NUMBER" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:annotation>
								<xs:documentation>Artificial sequence to separate.</xs:documentation>
							</xs:annotation>
							<xs:element name="START_OF_SERIE" type="tns:phoneNumber_type">
								<xs:annotation>
									<xs:documentation>The phone number for which number details are requested.
The number may have at most 1 separator, where the separator may not be a letter or digit. Example: 030-4500000</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="TIME_AND_DATE" type="xs:dateTime" minOccurs="0">
								<xs:annotation>
									<xs:documentation>If date-time is present, the number status at the indicated time is requested.</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>