GenericSOAPGateway/XSDSchemas/BaanAdapter/Common/Address.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 4 U (http://www.xmlspy.com) by a wassenaar (student) -->
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema targetNamespace="http://xmlns.kpn.com/fixed/BaanAdapter/common/Address.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://xmlns.kpn.com/fixed/BaanAdapter/common/Address.xsd" elementFormDefault="qualified">
	<xsd:complexType name="AddressType">
		<xsd:sequence>
			<xsd:element name="CITY" type="xsd:string" minOccurs="0"/>
			<xsd:element name="HOUSE_NUMBER" type="xsd:string" minOccurs="0"/>
			<xsd:element name="HOUSE_NUMBER_EXTENSION" type="xsd:string" minOccurs="0"/>
			<xsd:element name="POST_CODE_LETTERS" type="xsd:string" minOccurs="0"/>
			<xsd:element name="POST_CODE_NUMBERS" type="xsd:string" minOccurs="0"/>
			<xsd:element name="STREET_NAME" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
