GenericSOAPGateway/XSDSchemas/BaanAdapter/Common/Contract.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.kpn.com/fixed/BaanAdapter/common/Contract.xsd"
	 targetNamespace = "http://xmlns.kpn.com/fixed/BaanAdapter/common/Contract.xsd"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified">
	<!-- edited with XMLSPY v2004 rel. 2 U (http://www.xmlspy.com) by a (University of Helsinki) -->
	
	<xsd:complexType name = "ContractType">
		<xsd:sequence>
			<xsd:element name = "INTERNAL_CUSTOMER_ID" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "INITIAL_CONTRACT_PERIOD_END_DATE" type = "xsd:date" minOccurs = "0"/>
			<xsd:element name = "CONTRACT_FORM_CODE" type = "xsd:string" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>