GenericSOAPGateway/XSDSchemas/BaanAdapter/Common/DslModem.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 4 U (http://www.xmlspy.com) by a wassenaar (student) -->
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema targetNamespace="http://xmlns.kpn.com/fixed/BaanAdapter/common/DslModem.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://xmlns.kpn.com/fixed/BaanAdapter/common/DslModem.xsd" elementFormDefault="qualified">
	<xsd:complexType name="DslModemType">
		<xsd:sequence>
			<xsd:element name="PRODUCT_CODE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="PRODUCT_DESCRIPTION" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
