GenericSOAPGateway/XSDSchemas/BaanAdapter/Common/Fiaversion 2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2006 sp2 U (http://www.altova.com) by Arjen Wassenaar (Atos Origin Nederland B.V.) -->
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns="http://xmlns.kpn.com/fixed/BaanAdapter/common/Fia.xsd" xmlns:CircuitPosition.xsd="http://xmlns.kpn.com/fixed/BaanAdapter/common/CircuitPosition.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xmlns.kpn.com/fixed/BaanAdapter/common/Fia.xsd" elementFormDefault="qualified">
	<xsd:import namespace="http://xmlns.kpn.com/fixed/BaanAdapter/common/CircuitPosition.xsd" schemaLocation="CircuitPosition.xsd"/>
	<!-- edited with XMLSPY v2004 rel. 4 U (http://www.xmlspy.com) by Arjen Wassenaar (Atos origin) -->
	<xsd:complexType name="FiaType">
		<xsd:sequence>
			<xsd:element name="NRP" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CIRCUIT_POSITION" type="CircuitPosition.xsd:CircuitPositionType" minOccurs="0"/>
			<xsd:element name="PHYSICAL_PORT_ID" type="xsd:string" minOccurs="0"/>
			<xsd:element name="SERVICE_ID" type="xsd:string" minOccurs="0"/>
			<xsd:element name="P_CODE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="F_CODE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="SERVICE_ID_DOMAIN" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
