GenericSOAPGateway/XSDSchemas/BaanAdapter/Common/PartnerInfo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 4 U (http://www.xmlspy.com) by Arjen Wassenaar (Atos origin) -->
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema targetNamespace="http://xmlns.kpn.com/fixed/BaanAdapter/common/PartnerInfo.xsd" xmlns:CustomerAddress.xsd="http://xmlns.kpn.com/fixed/BaanAdapter/common/CustomerAddress.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://xmlns.kpn.com/fixed/BaanAdapter/common/PartnerInfo.xsd" elementFormDefault="qualified">
	<xsd:import namespace="http://xmlns.kpn.com/fixed/BaanAdapter/common/CustomerAddress.xsd" schemaLocation="CustomerAddress.xsd"/>
	<xsd:complexType name="PartnerInfoType">
		<xsd:sequence>
			<xsd:element name="CUSTOMER_NAME" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CUSTOMER_ADDRESS" type="CustomerAddress.xsd:CustomerAddressType" minOccurs="0"/>
			<xsd:element name="CUSTOMER_REF" type="xsd:string" minOccurs="0"/>
			<xsd:element name="TELEPHONE_NUMBER" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
