GenericSOAPGateway/XSDSchemas/BaanAdapter/Common/SipStift.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 2 U (http://www.xmlspy.com) by a (University of Helsinki) -->
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema targetNamespace="http://xmlns.kpn.com/fixed/BaanAdapter/common/SipStift.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://xmlns.kpn.com/fixed/BaanAdapter/common/SipStift.xsd" elementFormDefault="qualified">
	<xsd:complexType name="SipStiftType">
		<xsd:sequence>
			<xsd:element name="LOCATION" type="xsd:string" minOccurs="0"/>
			<xsd:element name="NODE_NAME" type="xsd:string" minOccurs="0"/>
			<xsd:element name="PHYSICAL_PORT_ID" type="xsd:string" minOccurs="0"/>
			<xsd:element name="RACK_POSITION" type="xsd:string" minOccurs="0"/>
			<xsd:element name="SHELF_POSITION" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
