GenericSOAPGateway/XSDSchemas/CKRAdapter/Publish/ReportCustomerUpdate.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.kpn.com/fixed/CKRAdapter/Publish/ReportCustomerUpdate.xsd"
	 targetNamespace = "http://xmlns.kpn.com/fixed/CKRAdapter/Publish/ReportCustomerUpdate.xsd"
	 xmlns:Base.xsd = "http://xmlns.kpn.com/common/cdm/Base.xsd"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified">
	<xsd:import namespace = "http://xmlns.kpn.com/common/cdm/Base.xsd" schemaLocation = "../../Common/Base.xsd"/>
	<xsd:element name = "ReportCustomerUpdate">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base = "Base.xsd:Base">
					<xsd:sequence>
						<xsd:element ref = "CUSTOMER"/>
						<xsd:element ref = "PARTY" minOccurs = "0"/>
						<xsd:element ref = "PROPERTY_ADDRESS" minOccurs = "0"/>
						<xsd:element ref = "POSTAL_ADDRESS" minOccurs = "0"/>
						<xsd:element ref = "RUNTIME_PARAMETER"/>
					</xsd:sequence>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "CUSTOMER">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name = "MARKET_GROUP_CODE" type = "xsd:string" minOccurs = "0"/>
				<xsd:element name = "MARKET_SEGMENT_CODE" type = "xsd:string" minOccurs = "0"/>
				<xsd:element name = "CUSTOMER_ID">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name = "CENTRAL_CUSTOMER_ID" type = "xsd:string"/>
							<xsd:element name = "CENTRAL_CUSTOMER_ID_NEW" type = "xsd:string" minOccurs = "0"/>
							<xsd:element name = "ISSUE_DATE" type = "xsd:date" minOccurs = "0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name = "CUSTOMER_CREDIT_PROFILE" minOccurs = "0">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name = "KVK_REGISTRATION_TYPE" type = "xsd:string" minOccurs = "0"/>
							<xsd:element name = "BIK_CODE" type = "xsd:string" minOccurs = "0"/>
							<xsd:element name = "FINANCIAL_STATUS" type = "xsd:string" minOccurs = "0"/>
							<xsd:element name = "CUSTOMER_SIZE_GROUP" type = "xsd:string" minOccurs = "0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name = "EXTERNAL_REFERENCE" minOccurs = "0" maxOccurs = "unbounded">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name = "APPLICATION_ID" type = "xsd:string" minOccurs = "0"/>
							<xsd:element name = "REF_NAME" type = "xsd:string" minOccurs = "0"/>
							<xsd:element name = "ROLE" type = "xsd:string" minOccurs = "0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "PARTY">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name = "CENTRAL_CUSTOMER_ID" type = "xsd:string" minOccurs = "0"/>
				<xsd:element name = "PARTY_ID" type = "xsd:string" minOccurs = "0"/>
				<xsd:element name = "KVK_NUMBER" type = "xsd:string" minOccurs = "0"/>
				<xsd:element name = "LEGAL_FORM_CODE" type = "xsd:string" minOccurs = "0"/>
				<xsd:element name = "DATE_OF_BIRTH" type = "xsd:date" nillable = "true" minOccurs = "0"/>
				<xsd:element name = "INDIVIDUAL_NAME" minOccurs = "0">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name = "ACADEMIC_TITLE" type = "xsd:string" minOccurs = "0"/>
							<xsd:element name = "INITIALS" type = "xsd:string" minOccurs = "0"/>
							<xsd:element name = "ARISTOCRATIC_TITLE" type = "xsd:string" minOccurs = "0"/>
							<xsd:element name = "FAMILY_NAME_PREFIX" type = "xsd:string" minOccurs = "0"/>
							<xsd:element name = "FAMILY_NAME" type = "xsd:string" minOccurs = "0"/>
							<xsd:element name = "COMPLETE_NAME" type = "xsd:string" minOccurs = "0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name = "ORGANIZATION_NAME" minOccurs = "0">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name = "TRADING_NAME" type = "xsd:string" minOccurs = "0"/>
							<xsd:element name = "BRANCH_NAME" type = "xsd:string" minOccurs = "0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "RUNTIME_PARAMETER">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name = "MUTATION_TYPE" type = "xsd:string"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "POSTAL_ADDRESS">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name = "POBOX_NAME" type = "xsd:string" minOccurs = "0"/>
				<xsd:element name = "POBOX_NUMBER" type = "xsd:string" minOccurs = "0"/>
				<xsd:element name = "DUTCH_POSTCODE" type = "xsd:string" minOccurs = "0"/>
				<xsd:element name = "ZIPCODE_BEFORE" type = "xsd:string" minOccurs = "0"/>
				<xsd:element name = "ZIPCODE_AFTER" type = "xsd:string" minOccurs = "0"/>
				<xsd:element name = "CITY_NAME" type = "xsd:string" minOccurs = "0"/>
				<xsd:element name = "COUNTRY" type = "xsd:string" minOccurs = "0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "PROPERTY_ADDRESS">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name = "DUTCH_POSTCODE" type = "xsd:string" minOccurs = "0"/>
				<xsd:element name = "HOUSE_NUMBER" type = "xsd:string" minOccurs = "0"/>
				<xsd:element name = "HOUSE_NUMBER_EXTENSION" type = "xsd:string" minOccurs = "0"/>
				<xsd:element name = "STREET_NAME" type = "xsd:string" minOccurs = "0"/>
				<xsd:element name = "ZIPCODE_BEFORE" type = "xsd:string" minOccurs = "0"/>
				<xsd:element name = "ZIPCODE_AFTER" type = "xsd:string" minOccurs = "0"/>
				<xsd:element name = "CITY_CODE" type = "xsd:string" minOccurs = "0"/>
				<xsd:element name = "CITY_NAME" type = "xsd:string" minOccurs = "0"/>
				<xsd:element name = "TELECOM_REGION_CODE" type = "xsd:string" minOccurs = "0"/>
				<xsd:element name = "COUNTRY" type = "xsd:string" minOccurs = "0"/>
				<xsd:element name = "HOUSEBOAT_REFERENCE" type = "xsd:string" minOccurs = "0"/>
				<xsd:element name = "TRAILER_REFERENCE" type = "xsd:string" minOccurs = "0"/>
				<xsd:element name = "LOCATION_DESCRIPTION" type = "xsd:string" minOccurs = "0"/>
				<xsd:element name = "ADDRESS_VALIDITY" minOccurs = "0">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name = "VALID_FROM_DATE" type = "xsd:date" minOccurs = "0"/>
							<xsd:element name = "VALID_UNTIL_DATE" type = "xsd:date" minOccurs = "0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>