GenericSOAPGateway/XSDSchemas/CKRAdapter/Publish/ReportBillRecipientUpdate.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.kpn.com/fixed/CKRAdapter/Publish/ReportBillRecipient.xsd"
	 targetNamespace = "http://xmlns.kpn.com/fixed/CKRAdapter/Publish/ReportBillRecipient.xsd"
	 xmlns:Base.xsd = "http://xmlns.kpn.com/common/cdm/Base.xsd"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified">
	<xsd:import namespace = "http://xmlns.kpn.com/common/cdm/Base.xsd" schemaLocation = "../../Common/Base.xsd"/>
	<xsd:element name = "ReportBillRecipientUpdate">
	<xsd:complexType>
		<xsd:complexContent>
			<xsd:extension base = "Base.xsd:Base">
				<xsd:sequence>
					<xsd:element ref = "BILL_RECIPIENT"/>
					<xsd:element ref = "RUNTIME_PARAMETER"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	</xsd:element>
	<xsd:element name = "BILL_RECIPIENT">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name = "NAME" type = "xsd:string" minOccurs = "0"/>
				<xsd:element name = "CUSTOMER_ID">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name = "CENTRAL_CUSTOMER_ID" type = "xsd:string"/>
							<xsd:element name = "CENTRAL_CUSTOMER_ID_NEW" type = "xsd:string" minOccurs = "0"/>
							<xsd:element name = "ISSUE_DATE" type = "xsd:date" minOccurs = "0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name = "PARTY" minOccurs = "0">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name = "CENTRAL_CUSTOMER_ID" type = "xsd:string" minOccurs = "0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name = "EXTERNAL_REFERENCE" minOccurs = "0" maxOccurs = "unbounded">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name = "APPLICATION_ID" type = "xsd:string" minOccurs = "0"/>
							<xsd:element name = "REF_NAME" type = "xsd:string" minOccurs = "0"/>
							<xsd:element name = "ROLE" type = "xsd:string" minOccurs = "0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name = "PROPERTY_ADDRESS" minOccurs = "0">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name = "DUTCH_POSTCODE" type = "xsd:string" minOccurs = "0"/>
							<xsd:element name = "HOUSE_NUMBER" type = "xsd:string" minOccurs = "0"/>
							<xsd:element name = "HOUSE_NUMBER_EXTENSION" type = "xsd:string" minOccurs = "0"/>
							<xsd:element name = "STREET_NAME" type = "xsd:string" minOccurs = "0"/>
							<xsd:element name = "ZIPCODE_BEFORE" type = "xsd:string" minOccurs = "0"/>
							<xsd:element name = "ZIPCODE_AFTER" type = "xsd:string" minOccurs = "0"/>
							<xsd:element name = "CITY_CODE" type = "xsd:string" minOccurs = "0"/>
							<xsd:element name = "CITY_NAME" type = "xsd:string" minOccurs = "0"/>
							<xsd:element name = "TELECOM_REGION_CODE" type = "xsd:string" minOccurs = "0"/>
							<xsd:element name = "COUNTRY" type = "xsd:string" minOccurs = "0"/>
							<xsd:element name = "HOUSEBOAT_REFERENCE" type = "xsd:string" minOccurs = "0"/>
							<xsd:element name = "TRAILER_REFERENCE" type = "xsd:string" minOccurs = "0"/>
							<xsd:element name = "LOCATION_DESCRIPTION" type = "xsd:string" minOccurs = "0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "RUNTIME_PARAMETER">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name = "MUTATION_TYPE" type = "xsd:string"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>