ASTRIDAdapter/XSDSchemas/EDTAdapter/Request/UpsertTroubleReport.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.kpn.com/fixed/EDTAdapter/Request/UpsertTroubleReport.xsd"
	 targetNamespace = "http://xmlns.kpn.com/fixed/EDTAdapter/Request/UpsertTroubleReport.xsd"
	 xmlns:ManagedObject.xsd = "http://xmlns.kpn.com/fixed/EDTAdapter/common/ManagedObject.xsd"
	 xmlns:CustomerOrganization.xsd = "http://xmlns.kpn.com/fixed/EDTAdapter/common/CustomerOrganization.xsd"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 xmlns:TroubleReport.xsd = "http://xmlns.kpn.com/fixed/EDTAdapter/common/TroubleReport.xsd"
	 xmlns:EDTRequest.xsd = "http://xmlns.kpn.com/fixed/EDTAdapter/common/EDTRequest.xsd"
	 xmlns:ManagedObjectInTrouble.xsd = "http://xmlns.kpn.com/fixed/EDTAdapter/common/ManagedObjectInTrouble.xsd"
	 elementFormDefault = "qualified">
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/EDTAdapter/common/ManagedObject.xsd" schemaLocation = "../Common/ManagedObject.xsd"/>
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/EDTAdapter/common/CustomerOrganization.xsd" schemaLocation = "../Common/CustomerOrganization.xsd"/>
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/EDTAdapter/common/TroubleReport.xsd" schemaLocation = "../Common/TroubleReport.xsd"/>
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/EDTAdapter/common/EDTRequest.xsd" schemaLocation = "../Common/EDTRequest.xsd"/>
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/EDTAdapter/common/ManagedObjectInTrouble.xsd" schemaLocation = "../Common/ManagedObjectInTrouble.xsd"/>
	<xsd:element name = "UpsertTroubleReport">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base = "EDTRequest.xsd:EDTRequest">
					<xsd:sequence>
						<xsd:element name = "TROUBLE_REPORT" type = "TroubleReport.xsd:TroubleReport" minOccurs = "0"/>
						<xsd:element name = "CUSTOMER_ORGANIZATION" type = "CustomerOrganization.xsd:CustomerOrganization" minOccurs = "0"/>
						<xsd:element name = "MANAGED_OBJECT_IN_TROUBLE" type = "ManagedObjectInTrouble.xsd:ManagedObjectInTrouble" minOccurs = "0"/>
						<xsd:element name = "MANAGED_OBJECT" type = "ManagedObject.xsd:ManagedObject" minOccurs = "0"/>
					</xsd:sequence>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>