GenericSOAPGateway/XSDSchemas/PMAdapter/Response/RegisterPromiseToPay.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.kpn.com/fixed/PMAdapter/Response/RegisterPromiseToPay.xsd"
	 targetNamespace = "http://xmlns.kpn.com/fixed/PMAdapter/Response/RegisterPromiseToPay.xsd"
	 xmlns:PMResponse.xsd = "http://xmlns.kpn.com/fixed/PMAdapter/common/PMResponse.xsd"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified">
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/PMAdapter/common/PMResponse.xsd" schemaLocation = "../Common/PMResponse.xsd"/>
	<xsd:element name = "RegisterPromiseToPay">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base = "PMResponse.xsd:PMResponse">
					<xsd:sequence>
						<xsd:element name = "CUSTOMER_ACCOUNT_IDENTIFIER" type = "xsd:string" minOccurs = "0"/>
						<xsd:element name = "PAYMENT_ACCEPTED_FLAG" type = "xsd:string" minOccurs = "0"/>
					</xsd:sequence>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>