EDTAdapter/XSDSchemas/EnginAdapter/Response/CheckAppointment.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.example.com/unique/default/namespace/1086802778671"
	 targetNamespace = "http://xmlns.example.com/unique/default/namespace/1086802778671"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 xmlns:ResultStatus.xsd = "http://xmlns.kpn.com/common/cdm/ResultStatus.xsd"
	 xmlns:AppointmentResponse.xsd = "http://xmlns.example.com/unique/default/namespace/1087395513868"
	 xmlns:Base.xsd = "http://xmlns.kpn.com/common/cdm/Base.xsd">
	<xsd:import namespace = "http://xmlns.kpn.com/common/cdm/ResultStatus.xsd" schemaLocation = "../../Common/ResultStatus.xsd"/>
	<xsd:import namespace = "http://xmlns.example.com/unique/default/namespace/1087395513868" schemaLocation = "../Common/AppointmentResponse.xsd"/>
	<xsd:import namespace = "http://xmlns.kpn.com/common/cdm/Base.xsd" schemaLocation = "../../Common/Base.xsd"/>
	<xsd:element name = "CheckAppointment">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base = "Base.xsd:Base">
					<xsd:sequence>
						<xsd:element name = "RESULT_STATUS" type = "ResultStatus.xsd:ResultStatus"/>
						<xsd:element name = "APPOINTMENT_RESPONSE" type = "AppointmentResponse.xsd:AppointmentResponse" minOccurs = "0"/>
					</xsd:sequence>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>