EDTAdapter/XSDSchemas/EnginAdapter/Response/GetAgenda.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.example.com/unique/default/namespace/1086802525597"
	 targetNamespace = "http://xmlns.example.com/unique/default/namespace/1086802525597"
	 xmlns:Base.xsd = "http://xmlns.kpn.com/common/cdm/Base.xsd"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 xmlns:CalendarDay.xsd = "http://xmlns.example.com/unique/default/namespace/1086802538887"
	 xmlns:ResultStatus.xsd = "http://xmlns.kpn.com/common/cdm/ResultStatus.xsd"
	 xmlns:ServiceVisitList.xsd = "http://xmlns.example.com/unique/default/namespace/1086802541771">
	<xsd:import namespace = "http://xmlns.kpn.com/common/cdm/Base.xsd" schemaLocation = "../../Common/Base.xsd"/>
	<xsd:import namespace = "http://xmlns.example.com/unique/default/namespace/1086802538887" schemaLocation = "../Common/CalendarDay.xsd"/>
	<xsd:import namespace = "http://xmlns.kpn.com/common/cdm/ResultStatus.xsd" schemaLocation = "../../Common/ResultStatus.xsd"/>
	<xsd:import namespace = "http://xmlns.example.com/unique/default/namespace/1086802541771" schemaLocation = "../Common/ServiceVisitList.xsd"/>
	<xsd:element name = "GetAgenda">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base = "Base.xsd:Base">
					<xsd:sequence>
						<xsd:element name = "RESULT_STATUS" type = "ResultStatus.xsd:ResultStatus"/>
						<xsd:element name = "SERVICE_VISIT_LIST" type = "ServiceVisitList.xsd:ServiceVisitList" minOccurs = "0" maxOccurs = "unbounded"/>
					</xsd:sequence>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>