EDTAdapter/XSDSchemas/EnginAdapter/Response/GetFormula.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.example.com/unique/default/namespace/1086802560428"
	 targetNamespace = "http://xmlns.example.com/unique/default/namespace/1086802560428"
	 xmlns:Base.xsd = "http://xmlns.kpn.com/common/cdm/Base.xsd"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 xmlns:TroubleReport.xsd = "http://xmlns.example.com/unique/default/namespace/1087368660275"
	 xmlns:ResultStatus.xsd = "http://xmlns.kpn.com/common/cdm/ResultStatus.xsd">
	<xsd:import namespace = "http://xmlns.kpn.com/common/cdm/Base.xsd" schemaLocation = "../../Common/Base.xsd"/>
	<xsd:import namespace = "http://xmlns.example.com/unique/default/namespace/1087368660275" schemaLocation = "../Common/TroubleReport.xsd"/>
	<xsd:import namespace = "http://xmlns.kpn.com/common/cdm/ResultStatus.xsd" schemaLocation = "../../Common/ResultStatus.xsd"/>
	<xsd:element name = "GetFormula">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base = "Base.xsd:Base">
					<xsd:sequence>
						<xsd:element name = "RESULT_STATUS" type = "ResultStatus.xsd:ResultStatus"/>
						<xsd:element name = "TROUBLE_REPORT" type = "TroubleReport.xsd:TroubleReport" minOccurs = "0"/>
					</xsd:sequence>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>