JMS_PERSISTENCE_TEST/Schemas/Persistence.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://test.com/jms/persistence"
	 targetNamespace="http://test.com/jms/persistence"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="Persistence">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="identifier"/>
				<xs:element ref="action"/>
				<xs:element ref="requester"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="identifier" type="xs:string"/>
	<xs:element name="action" type="xs:string"/>
	<xs:element name="requester" type="xs:string"/>
</xs:schema>