GenericOrderGateway/WSDL/COM/ZM-SNI-Products_multiVoiceAccess_v1.0.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Generated on 2009/03/16 15:53:09 with EAIPlugin 1.3.0 -->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:grp="http://kpn.com/products/ZM-SNI-Products" xmlns:ord="http://kpn.com/eai/generic/order/1.0" xmlns:prd="http://kpn.com/products/ZM-SNI-Products/multiVoiceAccess/data/v1.0" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://kpn.com/products/ZM-SNI-Products/multiVoiceAccess/v1" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://kpn.com/products/ZM-SNI-Products/multiVoiceAccess/v1">
    <wsdl:documentation>
    
    Version History:
    * 1.0 - Based on documents:&#xD;
- SNI-UC130_IS Create MultiVoiceAccess_1.0_021.xls&#xD;
- SNI-UC132_IS Update MultiVoiceAccess_1.0_021.xls&#xD;
- SNI-UC133_IS Delete MultiVoiceAccess_1.0_021.xls
</wsdl:documentation>
    <wsdl:types>
        <xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://kpn.com/products/ZM-SNI-Products" version="1.0">
            <!-- ================================================== -->
            <!-- =====  Simple Type Definitions  -->
            <!-- ================================================== -->
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <!--  CityType  <<simpleType>>  -->
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <xsd:simpleType name="CityType">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="24"/>
                </xsd:restriction>
            </xsd:simpleType>
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <!--  CompanyNameType  <<simpleType>>  -->
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <xsd:simpleType name="CompanyNameType">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="64"/>
                </xsd:restriction>
            </xsd:simpleType>
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <!--  CountryISOCode2Type  <<simpleType>>  -->
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <xsd:simpleType name="CountryISOCode2Type">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="2"/>
                </xsd:restriction>
            </xsd:simpleType>
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <!--  CountryNameType  <<simpleType>>  -->
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <xsd:simpleType name="CountryNameType">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="255"/>
                </xsd:restriction>
            </xsd:simpleType>
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <!--  EmailType  <<simpleType>>  -->
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <xsd:simpleType name="EmailType">
                <xsd:restriction base="xsd:string">
                    <xsd:minLength value="6"/>
                    <xsd:maxLength value="64"/>
                </xsd:restriction>
            </xsd:simpleType>
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <!--  HouseNumberExtType  <<simpleType>>  -->
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <xsd:simpleType name="HouseNumberExtType">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="4"/>
                </xsd:restriction>
            </xsd:simpleType>
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <!--  HouseNumberType  <<simpleType>>  -->
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <xsd:simpleType name="HouseNumberType">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="5"/>
                </xsd:restriction>
            </xsd:simpleType>
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <!--  KeyTypeEnum  -->
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <xsd:simpleType name="KeyTypeEnum">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="source"/>
                    <xsd:enumeration value="target"/>
                </xsd:restriction>
            </xsd:simpleType>
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <!--  NumberEnum  -->
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <xsd:simpleType name="NumberEnum">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="0"/>
                    <xsd:enumeration value="1"/>
                    <xsd:enumeration value="2"/>
                    <xsd:enumeration value="3"/>
                    <xsd:enumeration value="4"/>
                    <xsd:enumeration value="5"/>
                    <xsd:enumeration value="6"/>
                    <xsd:enumeration value="7"/>
                    <xsd:enumeration value="8"/>
                    <xsd:enumeration value="9"/>
                </xsd:restriction>
            </xsd:simpleType>
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <!--  OverbookingEnum  -->
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <xsd:simpleType name="OverbookingEnum">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="1"/>
                    <xsd:enumeration value="4"/>
                    <xsd:enumeration value="10"/>
                    <xsd:enumeration value="20"/>
                    <xsd:enumeration value="25"/>
                    <xsd:enumeration value="100"/>
                    <xsd:enumeration value="99999"/>
                </xsd:restriction>
            </xsd:simpleType>
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <!--  PasswordType  <<simpleType>>  -->
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <xsd:simpleType name="PasswordType">
                <xsd:restriction base="xsd:string">
                    <xsd:minLength value="8"/>
                    <xsd:maxLength value="60"/>
                </xsd:restriction>
            </xsd:simpleType>
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <!--  PersonInitialsType  <<simpleType>>  -->
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <xsd:simpleType name="PersonInitialsType">
                <xsd:restriction base="xsd:string">
                    <xsd:pattern value="[A-Za-z0-9 ,-_]{0,8}"/>
                </xsd:restriction>
            </xsd:simpleType>
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <!--  PersonLastNamePrefixType  <<simpleType>>  -->
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <xsd:simpleType name="PersonLastNamePrefixType">
                <xsd:restriction base="xsd:string">
                    <xsd:pattern value="[A-Za-z0-9 ,-_]{0,8}"/>
                </xsd:restriction>
            </xsd:simpleType>
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <!--  PersonLastNameType  <<simpleType>>  -->
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <xsd:simpleType name="PersonLastNameType">
                <xsd:restriction base="xsd:string">
                    <xsd:pattern value="[A-Za-z0-9 ,-_]{0,36}"/>
                </xsd:restriction>
            </xsd:simpleType>
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <!--  PhoneNumberType  <<simpleType>>  -->
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <xsd:simpleType name="PhoneNumberType">
                <xsd:restriction base="xsd:string">
                    <xsd:pattern value="\+[0-9]{1}[1-9]{1}[0-9]{9}"/>
                </xsd:restriction>
            </xsd:simpleType>
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <!--  QosAccessEnum  -->
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <xsd:simpleType name="QosAccessEnum">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="UBR+"/>
                    <xsd:enumeration value="VBRrt"/>
                    <xsd:enumeration value="Premium"/>
                    <xsd:enumeration value="Best Effort"/>
                </xsd:restriction>
            </xsd:simpleType>
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <!--  QuantityType  <<simpleType>>  -->
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <xsd:simpleType name="QuantityType">
                <xsd:restriction base="grp:String500Type">
                    <xsd:pattern value="[0-9]*"/>
                </xsd:restriction>
            </xsd:simpleType>
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <!--  ServiceIdType  <<simpleType>>  -->
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <xsd:simpleType name="ServiceIdType">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="100"/>
                </xsd:restriction>
            </xsd:simpleType>
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <!--  StreetNameType  <<simpleType>>  -->
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <xsd:simpleType name="StreetNameType">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="24"/>
                </xsd:restriction>
            </xsd:simpleType>
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <!--  String100NumericType  <<simpleType>>  -->
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <xsd:simpleType name="String100NumericType">
                <xsd:restriction base="xsd:string">
                    <xsd:pattern value="[0-9]{0,100}"/>
                </xsd:restriction>
            </xsd:simpleType>
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <!--  String100Type  <<simpleType>>  -->
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <xsd:simpleType name="String100Type">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="100"/>
                </xsd:restriction>
            </xsd:simpleType>
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <!--  String10Type  <<simpleType>>  -->
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <xsd:simpleType name="String10Type">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <!--  String129Type  <<simpleType>>  -->
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <xsd:simpleType name="String129Type">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="129"/>
                </xsd:restriction>
            </xsd:simpleType>
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <!--  String12Type  <<simpleType>>  -->
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <xsd:simpleType name="String12Type">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="12"/>
                </xsd:restriction>
            </xsd:simpleType>
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <!--  String15Type  <<simpleType>>  -->
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <xsd:simpleType name="String15Type">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <!--  String16Type  <<simpleType>>  -->
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <xsd:simpleType name="String16Type">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="16"/>
                </xsd:restriction>
            </xsd:simpleType>
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <!--  String20Type  <<simpleType>>  -->
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <xsd:simpleType name="String20Type">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <!--  String2Type  <<simpleType>>  -->
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <xsd:simpleType name="String2Type">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="2"/>
                </xsd:restriction>
            </xsd:simpleType>
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <!--  String32Type  <<simpleType>>  -->
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <xsd:simpleType name="String32Type">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="32"/>
                </xsd:restriction>
            </xsd:simpleType>
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <!--  String3NumericType  <<simpleType>>  -->
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <xsd:simpleType name="String3NumericType">
                <xsd:restriction base="xsd:string">
                    <xsd:pattern value="[0-9]{0,3}"/>
                </xsd:restriction>
            </xsd:simpleType>
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <!--  String4NumericType  <<simpleType>>  -->
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <xsd:simpleType name="String4NumericType">
                <xsd:restriction base="xsd:string">
                    <xsd:pattern value="[0-9]{0,4}"/>
                </xsd:restriction>
            </xsd:simpleType>
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <!--  String4Type  <<simpleType>>  -->
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <xsd:simpleType name="String4Type">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="4"/>
                </xsd:restriction>
            </xsd:simpleType>
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <!--  String500Type  <<simpleType>>  -->
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <xsd:simpleType name="String500Type">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="500"/>
                </xsd:restriction>
            </xsd:simpleType>
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <!--  String5Type  <<simpleType>>  -->
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <xsd:simpleType name="String5Type">
                <xsd:restriction base="xsd:string">
                    <xsd:length value="5"/>
                </xsd:restriction>
            </xsd:simpleType>
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <!--  String60Type  <<simpleType>>  -->
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <xsd:simpleType name="String60Type">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="60"/>
                </xsd:restriction>
            </xsd:simpleType>
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <!--  String64Type  <<simpleType>>  -->
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <xsd:simpleType name="String64Type">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="64"/>
                </xsd:restriction>
            </xsd:simpleType>
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <!--  String6NumericType  <<simpleType>>  -->
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <xsd:simpleType name="String6NumericType">
                <xsd:restriction base="xsd:string">
                    <xsd:pattern value="[0-9]{0,6}"/>
                </xsd:restriction>
            </xsd:simpleType>
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <!--  String6Type  <<simpleType>>  -->
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <xsd:simpleType name="String6Type">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="6"/>
                </xsd:restriction>
            </xsd:simpleType>
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <!--  String70Type  <<simpleType>>  -->
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <xsd:simpleType name="String70Type">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <!--  String85Type  <<simpleType>>  -->
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <xsd:simpleType name="String85Type">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <!--  String8Type  <<simpleType>>  -->
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <xsd:simpleType name="String8Type">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="8"/>
                </xsd:restriction>
            </xsd:simpleType>
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <!--  StringAlphanumericType  <<simpleType>>  -->
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <xsd:simpleType name="StringAlphanumericType">
                <xsd:restriction base="xsd:string">
                    <xsd:pattern value="[0-9]?"/>
                </xsd:restriction>
            </xsd:simpleType>
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <!--  YesNoEnum  -->
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <xsd:simpleType name="YesNoEnum">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="Y"/>
                    <xsd:enumeration value="N"/>
                </xsd:restriction>
            </xsd:simpleType>
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <!--  ZipCodeType  <<simpleType>>  -->
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <xsd:simpleType name="ZipCodeType">
                <xsd:restriction base="xsd:string">
                    <xsd:pattern value="[1-9][0-9]{3}[a-zA-Z]{2}"/>
                </xsd:restriction>
            </xsd:simpleType>
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <!--  numberOfSeatsType  <<simpleType>>  -->
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <xsd:simpleType name="numberOfSeatsType">
                <xsd:restriction base="xsd:string">
                    <xsd:pattern value="[1-9]\d*"/>
                </xsd:restriction>
            </xsd:simpleType>
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <!--  technicalDeliveryDateTimeType  <<simpleType>>  -->
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <xsd:simpleType name="technicalDeliveryDateTimeType">
                <xsd:restriction base="xsd:dateTime"/>
            </xsd:simpleType>
            <!-- ================================================== -->
            <!-- =====  Complex Type Definitions  -->
            <!-- ================================================== -->
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <!--  ZM-SNI-ProductsOrder  <<order>>  -->
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <xsd:complexType name="ZM-SNI-ProductsOrder">
                <xsd:sequence>
                    <xsd:element name="keyType" type="grp:KeyTypeEnum"/>
                </xsd:sequence>
            </xsd:complexType>
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <!--  ZM-SNI-ProductsOrderItem  <<orderItem>>  -->
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <xsd:complexType name="ZM-SNI-ProductsOrderItem"/>
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <!--  ZM-SNI-ProductsOrderStatus  <<orderStatus>>  -->
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <xsd:complexType name="ZM-SNI-ProductsOrderStatus"/>
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <!--  ZM-SNI-ProductsOrderStatusItem  <<orderStatusItem>>  -->
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <xsd:complexType name="ZM-SNI-ProductsOrderStatusItem"/>
        </xsd:schema>
        <xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://kpn.com/eai/generic/order/1.0" version="1.0">
            <!-- ================================================== -->
            <!-- =====  Simple Type Definitions  -->
            <!-- ================================================== -->
            <xsd:simpleType name="OrderStatusEnumeration">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="INITIAL"/>
                    <xsd:enumeration value="ACCEPTED"/>
                    <xsd:enumeration value="REJECTED"/>
                    <xsd:enumeration value="ERROR"/>
                    <xsd:enumeration value="COMPLETED"/>
                </xsd:restriction>
            </xsd:simpleType>
            <!-- ================================================== -->
            <!-- =====  Complex Type Definitions  -->
            <!-- ================================================== -->
            <xsd:complexType name="Error">
                <xsd:sequence>
                    <xsd:element name="code" type="xsd:string"/>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="detail" type="xsd:string"/>
                    <xsd:element name="description" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType abstract="true" name="Order">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="customerOrderId" type="xsd:string"/>
                    <xsd:element name="orderDateTime" type="xsd:dateTime"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType abstract="true" name="OrderStatus">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="customerOrderId" type="xsd:string"/>
                    <xsd:element name="supplierOrderId" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="error" type="ord:Error"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
        <xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://kpn.com/products/ZM-SNI-Products/multiVoiceAccess/data/v1.0" version="1.0">
            <xsd:import namespace="http://kpn.com/products/ZM-SNI-Products"/>
            <xsd:import namespace="http://kpn.com/eai/generic/order/1.0"/>
            <!-- ================================================== -->
            <!-- =====  Element Declarations  -->
            <!-- ================================================== -->
            <xsd:element name="multiVoiceAccesscreateRequest" type="prd:multiVoiceAccesscreateRequest"/>
            <xsd:element name="multiVoiceAccesscreateResponse" type="prd:multiVoiceAccesscreateResponse"/>
            <xsd:element name="multiVoiceAccessdeleteRequest" type="prd:multiVoiceAccessdeleteRequest"/>
            <xsd:element name="multiVoiceAccessdeleteResponse" type="prd:multiVoiceAccessdeleteResponse"/>
            <xsd:element name="multiVoiceAccessupdateRequest" type="prd:multiVoiceAccessupdateRequest"/>
            <xsd:element name="multiVoiceAccessupdateResponse" type="prd:multiVoiceAccessupdateResponse"/>
            <!-- ================================================== -->
            <!-- =====  Simple Type Definitions  -->
            <!-- ================================================== -->
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <!--  multiVoiceAccessStatusEnum  -->
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <xsd:simpleType name="multiVoiceAccessStatusEnum">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="Accepted"/>
                    <xsd:enumeration value="Rejected"/>
                    <xsd:enumeration value="Failed"/>
                    <xsd:enumeration value="Completed"/>
                </xsd:restriction>
            </xsd:simpleType>
            <!-- ================================================== -->
            <!-- =====  Complex Type Definitions  -->
            <!-- ================================================== -->
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <!--  createRequest  <<actionRequest>>  -->
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <xsd:complexType name="createRequest">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="fpIdMultiVoiceAccess" type="grp:ServiceIdType"/>
                    <xsd:element name="fpIdAccess" type="grp:ServiceIdType"/>
                    <xsd:element name="fpIdSpTemplate" type="grp:ServiceIdType"/>
                    <xsd:element name="voiceChannels" type="grp:String3NumericType"/>
                </xsd:sequence>
            </xsd:complexType>
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <!--  createResponse  <<actionResponse>>  -->
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <xsd:complexType name="createResponse">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="fpIdMultiVoiceAccess" type="grp:ServiceIdType"/>
                    <xsd:element minOccurs="0" name="technicalDeliveryDateTime" type="grp:technicalDeliveryDateTimeType"/>
                </xsd:sequence>
            </xsd:complexType>
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <!--  deleteRequest  <<actionRequest>>  -->
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <xsd:complexType name="deleteRequest">
                <xsd:sequence>
                    <xsd:element name="fpIdMultiVoiceAccess" type="grp:ServiceIdType"/>
                </xsd:sequence>
            </xsd:complexType>
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <!--  deleteResponse  <<actionResponse>>  -->
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <xsd:complexType name="deleteResponse">
                <xsd:sequence>
                    <xsd:element name="fpIdMultiVoiceAccess" type="grp:ServiceIdType"/>
                    <xsd:element minOccurs="0" name="technicalDeliveryDateTime" type="grp:technicalDeliveryDateTimeType"/>
                </xsd:sequence>
            </xsd:complexType>
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <!--  multiVoiceAccesscreateRequest  <<xsdGen>>  -->
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <xsd:complexType name="multiVoiceAccesscreateRequest">
                <xsd:complexContent>
                    <xsd:extension base="ord:Order">
                        <xsd:sequence>
                            <xsd:element name="OrderParameters" type="grp:ZM-SNI-ProductsOrder"/>
                            <xsd:element name="OrderItem" type="prd:multiVoiceAccesscreateRequestItem"/>
                        </xsd:sequence>
                    </xsd:extension>
                </xsd:complexContent>
            </xsd:complexType>
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <!--  multiVoiceAccesscreateRequestItem  -->
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <xsd:complexType name="multiVoiceAccesscreateRequestItem">
                <xsd:complexContent>
                    <xsd:extension base="grp:ZM-SNI-ProductsOrderItem">
                        <xsd:sequence>
                            <xsd:element name="Parameters" type="prd:createRequest"/>
                        </xsd:sequence>
                    </xsd:extension>
                </xsd:complexContent>
            </xsd:complexType>
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <!--  multiVoiceAccesscreateResponse  <<xsdGen>>  -->
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <xsd:complexType name="multiVoiceAccesscreateResponse">
                <xsd:complexContent>
                    <xsd:extension base="ord:OrderStatus">
                        <xsd:sequence>
                            <xsd:element name="status" type="prd:multiVoiceAccessStatusEnum"/>
                            <xsd:element name="OrderItem" type="prd:multiVoiceAccesscreateResponseItem"/>
                        </xsd:sequence>
                    </xsd:extension>
                </xsd:complexContent>
            </xsd:complexType>
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <!--  multiVoiceAccesscreateResponseItem  -->
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <xsd:complexType name="multiVoiceAccesscreateResponseItem">
                <xsd:complexContent>
                    <xsd:extension base="grp:ZM-SNI-ProductsOrderStatusItem">
                        <xsd:sequence>
                            <xsd:element minOccurs="0" name="Parameters" type="prd:createResponse"/>
                        </xsd:sequence>
                    </xsd:extension>
                </xsd:complexContent>
            </xsd:complexType>
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <!--  multiVoiceAccessdeleteRequest  <<xsdGen>>  -->
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <xsd:complexType name="multiVoiceAccessdeleteRequest">
                <xsd:complexContent>
                    <xsd:extension base="ord:Order">
                        <xsd:sequence>
                            <xsd:element name="OrderParameters" type="grp:ZM-SNI-ProductsOrder"/>
                            <xsd:element name="OrderItem" type="prd:multiVoiceAccessdeleteRequestItem"/>
                        </xsd:sequence>
                    </xsd:extension>
                </xsd:complexContent>
            </xsd:complexType>
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <!--  multiVoiceAccessdeleteRequestItem  -->
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <xsd:complexType name="multiVoiceAccessdeleteRequestItem">
                <xsd:complexContent>
                    <xsd:extension base="grp:ZM-SNI-ProductsOrderItem">
                        <xsd:sequence>
                            <xsd:element name="Parameters" type="prd:deleteRequest"/>
                        </xsd:sequence>
                    </xsd:extension>
                </xsd:complexContent>
            </xsd:complexType>
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <!--  multiVoiceAccessdeleteResponse  <<xsdGen>>  -->
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <xsd:complexType name="multiVoiceAccessdeleteResponse">
                <xsd:complexContent>
                    <xsd:extension base="ord:OrderStatus">
                        <xsd:sequence>
                            <xsd:element name="status" type="prd:multiVoiceAccessStatusEnum"/>
                            <xsd:element name="OrderItem" type="prd:multiVoiceAccessdeleteResponseItem"/>
                        </xsd:sequence>
                    </xsd:extension>
                </xsd:complexContent>
            </xsd:complexType>
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <!--  multiVoiceAccessdeleteResponseItem  -->
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <xsd:complexType name="multiVoiceAccessdeleteResponseItem">
                <xsd:complexContent>
                    <xsd:extension base="grp:ZM-SNI-ProductsOrderStatusItem">
                        <xsd:sequence>
                            <xsd:element minOccurs="0" name="Parameters" type="prd:deleteResponse"/>
                        </xsd:sequence>
                    </xsd:extension>
                </xsd:complexContent>
            </xsd:complexType>
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <!--  multiVoiceAccessupdateRequest  <<xsdGen>>  -->
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <xsd:complexType name="multiVoiceAccessupdateRequest">
                <xsd:complexContent>
                    <xsd:extension base="ord:Order">
                        <xsd:sequence>
                            <xsd:element name="OrderParameters" type="grp:ZM-SNI-ProductsOrder"/>
                            <xsd:element name="OrderItem" type="prd:multiVoiceAccessupdateRequestItem"/>
                        </xsd:sequence>
                    </xsd:extension>
                </xsd:complexContent>
            </xsd:complexType>
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <!--  multiVoiceAccessupdateRequestItem  -->
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <xsd:complexType name="multiVoiceAccessupdateRequestItem">
                <xsd:complexContent>
                    <xsd:extension base="grp:ZM-SNI-ProductsOrderItem">
                        <xsd:sequence>
                            <xsd:element name="Parameters" type="prd:updateRequest"/>
                        </xsd:sequence>
                    </xsd:extension>
                </xsd:complexContent>
            </xsd:complexType>
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <!--  multiVoiceAccessupdateResponse  <<xsdGen>>  -->
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <xsd:complexType name="multiVoiceAccessupdateResponse">
                <xsd:complexContent>
                    <xsd:extension base="ord:OrderStatus">
                        <xsd:sequence>
                            <xsd:element name="status" type="prd:multiVoiceAccessStatusEnum"/>
                            <xsd:element name="OrderItem" type="prd:multiVoiceAccessupdateResponseItem"/>
                        </xsd:sequence>
                    </xsd:extension>
                </xsd:complexContent>
            </xsd:complexType>
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <!--  multiVoiceAccessupdateResponseItem  -->
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <xsd:complexType name="multiVoiceAccessupdateResponseItem">
                <xsd:complexContent>
                    <xsd:extension base="grp:ZM-SNI-ProductsOrderStatusItem">
                        <xsd:sequence>
                            <xsd:element minOccurs="0" name="Parameters" type="prd:updateResponse"/>
                        </xsd:sequence>
                    </xsd:extension>
                </xsd:complexContent>
            </xsd:complexType>
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <!--  updateRequest  <<actionRequest>>  -->
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <xsd:complexType name="updateRequest">
                <xsd:sequence>
                    <xsd:element name="fpIdMultiVoiceAccess" type="grp:ServiceIdType"/>
                    <xsd:element name="voiceChannels" type="grp:String3NumericType"/>
                </xsd:sequence>
            </xsd:complexType>
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <!--  updateResponse  <<actionResponse>>  -->
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <xsd:complexType name="updateResponse">
                <xsd:sequence>
                    <xsd:element name="fpIdMultiVoiceAccess" type="grp:ServiceIdType"/>
                    <xsd:element minOccurs="0" name="technicalDeliveryDateTime" type="grp:technicalDeliveryDateTimeType"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="updateStatusUpdateRequest">
        <wsdl:part element="prd:multiVoiceAccessupdateResponse" name="multiVoiceAccessupdateStatusUpdateRequest"/>
    </wsdl:message>
    <wsdl:message name="deleteRequest">
        <wsdl:part element="prd:multiVoiceAccessdeleteRequest" name="multiVoiceAccessdeleteRequest"/>
    </wsdl:message>
    <wsdl:message name="createStatusUpdateRequest">
        <wsdl:part element="prd:multiVoiceAccesscreateResponse" name="multiVoiceAccesscreateStatusUpdateRequest"/>
    </wsdl:message>
    <wsdl:message name="deleteStatusUpdateRequest">
        <wsdl:part element="prd:multiVoiceAccessdeleteResponse" name="multiVoiceAccessdeleteStatusUpdateRequest"/>
    </wsdl:message>
    <wsdl:message name="Error">
        <wsdl:part name="Error" type="ord:Error"/>
    </wsdl:message>
    <wsdl:message name="createRequest">
        <wsdl:part element="prd:multiVoiceAccesscreateRequest" name="multiVoiceAccesscreateRequest"/>
    </wsdl:message>
    <wsdl:message name="updateRequest">
        <wsdl:part element="prd:multiVoiceAccessupdateRequest" name="multiVoiceAccessupdateRequest"/>
    </wsdl:message>
    <wsdl:portType name="multiVoiceAccessCallbackServices">
        <wsdl:operation name="createStatusUpdate">
            <wsdl:input message="tns:createStatusUpdateRequest" name="createStatusUpdateRequest"/>
        </wsdl:operation>
        <wsdl:operation name="updateStatusUpdate">
            <wsdl:input message="tns:updateStatusUpdateRequest" name="updateStatusUpdateRequest"/>
        </wsdl:operation>
        <wsdl:operation name="deleteStatusUpdate">
            <wsdl:input message="tns:deleteStatusUpdateRequest" name="deleteStatusUpdateRequest"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="multiVoiceAccessServices">
        <wsdl:operation name="update">
            <wsdl:input message="tns:updateRequest" name="updateRequest"/>
        </wsdl:operation>
        <wsdl:operation name="delete">
            <wsdl:input message="tns:deleteRequest" name="deleteRequest"/>
        </wsdl:operation>
        <wsdl:operation name="create">
            <wsdl:input message="tns:createRequest" name="createRequest"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="multiVoiceAccessCallbackBindingSOAP" type="tns:multiVoiceAccessCallbackServices">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="createStatusUpdate">
            <soap:operation soapAction="ZM-SNI-Products_multiVoiceAccess_1.0_create_Asynchronous" style="document"/>
            <wsdl:input name="createStatusUpdateRequest">
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="updateStatusUpdate">
            <soap:operation soapAction="ZM-SNI-Products_multiVoiceAccess_1.0_update_Asynchronous" style="document"/>
            <wsdl:input name="updateStatusUpdateRequest">
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="deleteStatusUpdate">
            <soap:operation soapAction="ZM-SNI-Products_multiVoiceAccess_1.0_delete_Asynchronous" style="document"/>
            <wsdl:input name="deleteStatusUpdateRequest">
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="multiVoiceAccessBindingSOAP" type="tns:multiVoiceAccessServices">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="update">
            <soap:operation soapAction="ZM-SNI-Products_multiVoiceAccess_1.0_update_Asynchronous" style="document"/>
            <wsdl:input name="updateRequest">
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="delete">
            <soap:operation soapAction="ZM-SNI-Products_multiVoiceAccess_1.0_delete_Asynchronous" style="document"/>
            <wsdl:input name="deleteRequest">
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="create">
            <soap:operation soapAction="ZM-SNI-Products_multiVoiceAccess_1.0_create_Asynchronous" style="document"/>
            <wsdl:input name="createRequest">
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="multiVoiceAccess">
        <wsdl:port binding="tns:multiVoiceAccessCallbackBindingSOAP" name="multiVoiceAccessCallbackServices">
            <soap:address location="http://localhost:8080/path/multiVoiceAccessCallbackServices"/>
        </wsdl:port>
        <wsdl:port binding="tns:multiVoiceAccessBindingSOAP" name="multiVoiceAccessServices">
            <soap:address location="http://localhost:8080/path/multiVoiceAccessServices"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>