ASTRIDAdapter/XSDSchemas/BSWAdapter/Response/CreateTroubleReport.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.kpn.com/fixed/BSWAdapter/response/CreateTroubleReport.xsd"
	 targetNamespace = "http://xmlns.kpn.com/fixed/BSWAdapter/response/CreateTroubleReport.xsd"
	 xmlns:ns1 = "http://xmlns.kpn.com/fixed/BSWAdapter/common/TroubleReport.xsd"
	 xmlns:Base.xsd = "http://xmlns.kpn.com/common/cdm/Base.xsd"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 xmlns:ResultStatus.xsd = "http://xmlns.kpn.com/common/cdm/ResultStatus.xsd"
	 elementFormDefault = "qualified"
	 attributeFormDefault = "qualified">
	<xsd:import namespace = "http://xmlns.kpn.com/common/cdm/Base.xsd" schemaLocation = "../../Common/Base.xsd"/>
	<xsd:import namespace = "http://xmlns.kpn.com/common/cdm/ResultStatus.xsd" schemaLocation = "../../Common/ResultStatus.xsd"/>
	<!-- edited with XMLSpy v2006 sp2 U (http://www.altova.com) by Hans Postma (Atos Origin Nederland B.V.) -->
	
	<xsd:element name = "CreateTroubleReport">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base = "Base.xsd:Base">
					<xsd:sequence>
						<xsd:element name = "RESULT_STATUS" type = "ResultStatus.xsd:ResultStatus"/>
						<xsd:element name = "ORIGINAL_MESSAGE" type = "xsd:string" minOccurs = "0"/>
						<xsd:element name = "TROUBLE_REPORT" minOccurs = "0">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name = "SERVICE_PROVIDER_TROUBLE_REPORT_ID" type = "xsd:string" minOccurs = "0"/>
									<xsd:element name = "TROUBLE_REPORT_ID" type = "xsd:string" minOccurs = "0"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>