ASTRIDAdapter/XSDSchemas/BSWAdapter/Response/GetTroubleReportStatus.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.kpn.com/fixed/BSWAdapter/response/GetTroubleReportStatus.xsd"
	 targetNamespace = "http://xmlns.kpn.com/fixed/BSWAdapter/response/GetTroubleReportStatus.xsd"
	 xmlns:Base.xsd = "http://xmlns.kpn.com/common/cdm/Base.xsd"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 xmlns:ResultStatus.xsd = "http://xmlns.kpn.com/common/cdm/ResultStatus.xsd"
	 xmlns:ns2 = "http://xmlns.kpn.com/fixed/BSWAdapter/common/PropertyAddress.xsd"
	 elementFormDefault = "qualified"
	 attributeFormDefault = "qualified">
	<xsd:import namespace = "http://xmlns.kpn.com/common/cdm/Base.xsd" schemaLocation = "../../Common/Base.xsd"/>
	<xsd:import namespace = "http://xmlns.kpn.com/common/cdm/ResultStatus.xsd" schemaLocation = "../../Common/ResultStatus.xsd"/>
	<!-- edited with XMLSpy v2006 sp2 U (http://www.altova.com) by Hans Postma (Atos Origin Nederland B.V.) -->
	
	<xsd:element name = "GetTroubleReportStatus">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base = "Base.xsd:Base">
					<xsd:sequence>
						<xsd:element name = "RESULT_STATUS" type = "ResultStatus.xsd:ResultStatus"/>
						<xsd:element name = "ORIGINAL_MESSAGE" type = "xsd:string" minOccurs = "0"/>
						<xsd:element name = "CUSTOMER_ORGANIZATION" minOccurs = "0">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name = "CONTACT_PERSON">
										<xsd:complexType>
											<xsd:sequence>
												<xsd:element name = "NAME" type = "xsd:string"/>
											</xsd:sequence>
										</xsd:complexType>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name = "TROUBLE_REPORT" minOccurs = "0">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name = "TROUBLE_REPORT_ID" type = "xsd:string" minOccurs = "0"/>
									<xsd:element name = "REPLY_SUBJECT" type = "xsd:string" minOccurs = "0"/>
									<xsd:element name = "SERVICE_PROVIDER_TROUBLE_REPORT_ID" type = "xsd:string" minOccurs = "0"/>
									<xsd:element name = "EVENT_TIME" type = "xsd:dateTime" minOccurs = "0"/>
									<xsd:element name = "TROUBLE_REPORT_STATUS_LINE_DATE" type = "xsd:dateTime" minOccurs = "0"/>
									<xsd:element name = "TROUBLE_REPORT_NUMBER_UPDATES" type = "xsd:string" minOccurs = "0"/>
									<xsd:element name = "STATUS_UPDATE" minOccurs = "0" maxOccurs = "unbounded">
										<xsd:complexType>
											<xsd:sequence>
												<xsd:element name = "TROUBLE_REPORT_CHANGEDATE" type = "xsd:dateTime" minOccurs = "0"/>
												<xsd:element name = "ACTIVITY_INFORMATION" type = "xsd:string" minOccurs = "0"/>
											</xsd:sequence>
										</xsd:complexType>
									</xsd:element>
									<xsd:element name = "TROUBLE_DESCRIPTION_SHORT" type = "xsd:string" minOccurs = "0"/>
									<xsd:element name = "SLA_CLEARING_TIME" type = "xsd:dateTime" minOccurs = "0"/>
									<xsd:element name = "SLA_FUNCTION" type = "xsd:string" minOccurs = "0"/>
									<xsd:element name = "SLA_NAME" type = "xsd:string" minOccurs = "0"/>
									<xsd:element name = "TROUBLE_REPORT_STATUS_LINE_DATE_SEND" type = "xsd:dateTime" minOccurs = "0"/>
									<xsd:element name = "TROUBLE_REPORT_STATE" type = "xsd:string" minOccurs = "0"/>
									<xsd:element name = "END_USER" minOccurs = "0">
										<xsd:complexType>
											<xsd:sequence>
												<xsd:element name = "NAME" type = "xsd:string" minOccurs = "0"/>
											</xsd:sequence>
										</xsd:complexType>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name = "MANAGED_OBJECT">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name = "MO_MOL_CITY" type = "xsd:string" minOccurs = "0"/>
									<xsd:element name = "MANAGED_OBJECT_INSTANCE_ID" type = "xsd:string" minOccurs = "0"/>
									<xsd:element name = "MANAGED_OBJECT_STATUS" type = "xsd:string" minOccurs = "0"/>
									<xsd:element name = "MANAGED_OBJECT_UPTIME" type = "xsd:string" minOccurs = "0"/>
									<xsd:element name = "MANAGED_OBJECT_INSTANCE" type = "xsd:string" minOccurs = "0"/>
									<xsd:element name = "SUPPORTED_SERVICE" minOccurs = "0" maxOccurs = "unbounded">
										<xsd:complexType>
											<xsd:sequence>
												<xsd:element name = "SUPPORTED_SERVICE_STATUS" type = "xsd:string" minOccurs = "0"/>
												<xsd:element name = "MO_SUPPORTED_SERVICE_REPAIRTIME" type = "xsd:string" minOccurs = "0"/>
												<xsd:element name = "MO_SUPPORTED_SERVICE_REPAIRENDTIME" type = "xsd:dateTime" minOccurs = "0"/>
												<xsd:element name = "MO_SUPPORTED_SERVICE_INSTANCE" type = "xsd:string" minOccurs = "0"/>
												<xsd:element name = "MO_SUPPORTED_SERVICE_UPTIME" type = "xsd:dateTime" minOccurs = "0"/>
											</xsd:sequence>
										</xsd:complexType>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>