GenericSOAPGateway/XSDSchemas/PMAdapter/Request/GetCustomerPaymentStatus.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.kpn.com/fixed/PMAdapter/Request/GetCustomerPaymentStatus.xsd"
	 targetNamespace = "http://xmlns.kpn.com/fixed/PMAdapter/Request/GetCustomerPaymentStatus.xsd"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 xmlns:PMRequest.xsd = "http://xmlns.kpn.com/fixed/PMAdapter/common/PMRequest.xsd"
	 elementFormDefault = "qualified">
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/PMAdapter/common/PMRequest.xsd" schemaLocation = "../Common/PMRequest.xsd"/>
	<xsd:element name = "GetCustomerPaymentStatus">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base = "PMRequest.xsd:PMRequest">
					<xsd:sequence>
						<xsd:element name = "CUSTOMER_ACCOUNT_IDENTIFIER" type = "xsd:string"/>
						<xsd:element name = "PAYMENT_DELAYED_FLAG" type = "xsd:string" minOccurs = "0"/>
						<xsd:element name = "PAYMENT_DELAYED_UNTIL" type = "xsd:string" minOccurs = "0"/>
					</xsd:sequence>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
