EDTAdapter/XSDSchemas/KanvasServices/Response/GetLineInformation.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.kpn.com/fixed/kanvasservices/response/GetLineInformation.xsd"
	 targetNamespace = "http://xmlns.kpn.com/fixed/kanvasservices/response/GetLineInformation.xsd"
	 xmlns:Base.xsd = "http://xmlns.kpn.com/common/cdm/Base.xsd"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 xmlns:ResultStatus.xsd = "http://xmlns.kpn.com/common/cdm/ResultStatus.xsd"
	 xmlns:LineInformation.xsd = "http://xmlns.kpn.com/fixed/kanvasservices/common/LineInformation.xsd"
	 elementFormDefault = "qualified"
	 attributeFormDefault = "qualified">
	<xsd:import namespace = "http://xmlns.kpn.com/common/cdm/Base.xsd" schemaLocation = "../../Common/Base.xsd"/>
	<xsd:import namespace = "http://xmlns.kpn.com/common/cdm/ResultStatus.xsd" schemaLocation = "../../Common/ResultStatus.xsd"/>
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/kanvasservices/common/LineInformation.xsd" schemaLocation = "../Common/LineInformation.xsd"/>
	<xsd:element name = "GetLineInformation">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base = "Base.xsd:Base">
					<xsd:sequence>
						<xsd:element name = "RESULT_STATUS" type = "ResultStatus.xsd:ResultStatus"/>
						<xsd:element name = "LINE_INFORMATION" type = "LineInformation.xsd:LineInformation" minOccurs = "0"/>
					</xsd:sequence>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>