EDTAdapter/XSDSchemas/KanvasServices/Response/GetServerName.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.kpn.com/fixed/kanvasservices/response/GetServerName.xsd"
	 targetNamespace = "http://xmlns.kpn.com/fixed/kanvasservices/response/GetServerName.xsd"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 xmlns:ResultStatus.xsd = "http://xmlns.kpn.com/common/cdm/ResultStatus.xsd"
	 elementFormDefault = "qualified"
	 attributeFormDefault = "qualified">
	<xsd:import namespace = "http://xmlns.kpn.com/common/cdm/ResultStatus.xsd" schemaLocation = "../../Common/ResultStatus.xsd"/>
	<xsd:element name = "GetServerName">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name = "RESULT_STATUS" type = "ResultStatus.xsd:ResultStatus"/>
				<xsd:element name = "TCD_CODE" type = "xsd:string" minOccurs = "0"/>
				<xsd:element name = "SERVER_NAME" type = "xsd:string" minOccurs = "0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>