GenericSOAPGateway/WSDL/S0389.GetSNIConfigurationDetails.2.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd" xmlns:service="http://xmlns.kpn.com/fixed/GenericSOAPGateway/S0389.GetSNIConfigurationDetails.2" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xmlns.kpn.com/fixed/GenericSOAPGateway/S0389.GetSNIConfigurationDetails.2">
    <import location="../XSDSchemas/WSS/oasis-200401-wss-wssecurity-secext-1.0.xsd" namespace="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd"/>
    <types>
        <xsd:schema xmlns:request="http://xmlns.kpn.com/EAI/fixed/0389_GetSNIConfigurationDetails/2.0/Request" xmlns:response="http://xmlns.kpn.com/EAI/fixed/0389_GetSNIConfigurationDetails/2.0/Response" xmlns:result="http://xmlns.kpn.com/common/soap/ResultStatus.xsd" elementFormDefault="qualified" targetNamespace="http://xmlns.kpn.com/fixed/GenericSOAPGateway/S0389.GetSNIConfigurationDetails.2">
            <xsd:import namespace="http://xmlns.kpn.com/common/soap/ResultStatus.xsd" schemaLocation="../XSDSchemas/SharedObjects/SoapResultStatus.xsd"/>
            <xsd:import namespace="http://xmlns.kpn.com/EAI/fixed/0389_GetSNIConfigurationDetails/2.0/Request" schemaLocation="../XSDSchemas/FiberSNIAdapter/Imported/0389_GetSNIConfigurationDetails_2.0_Request_EAI_BUS_SIDE.xsd"/>
            <xsd:import namespace="http://xmlns.kpn.com/EAI/fixed/0389_GetSNIConfigurationDetails/2.0/Response" schemaLocation="../XSDSchemas/FiberSNIAdapter/Imported/0389_GetSNIConfigurationDetails_2.0_Response_EAI_BUS_SIDE.xsd"/>
            <xsd:element name="Request">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element ref="request:BODY"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="Response">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="RESULT" type="result:ResultStatus"/>
                        <xsd:element maxOccurs="1" minOccurs="0" ref="response:BODY"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </types>
    <message name="S0389.GetSNIConfigurationDetails.2.Request">
        <part element="service:Request" name="parameters"/>
        <part element="ns:Security" name="headerparameters"/>
    </message>
    <message name="S0389.GetSNIConfigurationDetails.2.Response">
        <part element="service:Response" name="parameters"/>
    </message>
    <portType name="S0389.GetSNIConfigurationDetails.2.PortType">
        <operation name="S0389.GetSNIConfigurationDetails.2">
            <input message="service:S0389.GetSNIConfigurationDetails.2.Request"/>
            <output message="service:S0389.GetSNIConfigurationDetails.2.Response"/>
        </operation>
    </portType>
</definitions>
