GenericSOAPGateway/WSDL/S0399.GetPhoneNumberInformation.1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd" xmlns:ns2="http://xmlns.kpn.com/EAI/fixed/0399_GetPhoneNumberInformation/1.0/Request" xmlns:tns="http://xmlns.kpn.com/fixed/GenericSOAPGateway/S0399.GetPhoneNumberInformation.1" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xmlns.kpn.com/fixed/GenericSOAPGateway/S0399.GetPhoneNumberInformation.1">
    <import location="../XSDSchemas/WSS/oasis-200401-wss-wssecurity-secext-1.0.xsd" namespace="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd"/>
    <types>
        <xsd:schema xmlns:request="http://xmlns.kpn.com/EAI/fixed/0399_GetPhoneNumberInformation/1.0/Request" xmlns:response="http://xmlns.kpn.com/EAI/fixed/0399_GetPhoneNumberInformation/1.0/Response" xmlns:result="http://xmlns.kpn.com/common/soap/ResultStatus.xsd" elementFormDefault="unqualified" targetNamespace="http://xmlns.kpn.com/fixed/GenericSOAPGateway/S0399.GetPhoneNumberInformation.1">
            <xsd:import namespace="http://xmlns.kpn.com/common/soap/ResultStatus.xsd" schemaLocation="../XSDSchemas/SharedObjects/SoapResultStatus.xsd"/>
            <xsd:import namespace="http://xmlns.kpn.com/EAI/fixed/0399_GetPhoneNumberInformation/1.0/Request" schemaLocation="../XSDSchemas/InterDomainServices/Imported/0399_GetPhoneNumberInformation_1.0_Request_EAI_BUS_SIDE.xsd"/>
            <xsd:import namespace="http://xmlns.kpn.com/EAI/fixed/0399_GetPhoneNumberInformation/1.0/Response" schemaLocation="../XSDSchemas/InterDomainServices/Imported/0399_GetPhoneNumberInformation_1.0_Response_EAI_BUS_SIDE.xsd"/>
            <xsd:element name="Request">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element ref="request:BODY"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="Response">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="RESULT" type="result:ResultStatus"/>
                        <xsd:element maxOccurs="1" minOccurs="0" ref="response:BODY"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </types>
    <message name="S0399.GetPhoneNumberInformation.1.Request">
        <part element="tns:Request" name="parameters"/>
        <part element="ns:Security" name="headerparameters"/>
    </message>
    <message name="S0399.GetPhoneNumberInformation.1.Response">
        <part element="tns:Response" name="parameters"/>
    </message>
    <portType name="S0399.GetPhoneNumberInformation.1.PortType">
        <operation name="S0399.GetPhoneNumberInformation.1">
            <input message="tns:S0399.GetPhoneNumberInformation.1.Request"/>
            <output message="tns:S0399.GetPhoneNumberInformation.1.Response"/>
        </operation>
    </portType>
</definitions>