GenericSOAPGateway/XSDSchemas/NetworkResource/Imported/0388_GetNetworkResourceDetails_1.0_Response_EAI_BUS_SIDE.xsd

<?xml version="1.0" encoding="utf-8"?>

<!-- edited with XMLSpy v2006 sp2 U (http://www.altova.com) by Shyam Kasthala (Atos Origin Nederland B.V.) -->
<xs:schema xmlns:tns="http://xmlns.kpn.com/EAI/fixed/0388_GetNetworkResourceDetails/1.0/Response"
	 xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 targetNamespace="http://xmlns.kpn.com/EAI/fixed/0388_GetNetworkResourceDetails/1.0/Response"
	 elementFormDefault="unqualified"
	 attributeFormDefault="unqualified">
	<xs:simpleType name="nodeName_type">
		<xs:annotation>
			<xs:documentation>Name of the NODE in HBIS format (e.g. Gn2/ADM16/25)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="74"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="errorCode_type">
		<xs:annotation>
			<xs:documentation>Name of the NODE in HBIS format (e.g. Gn2/ADM16/25)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer"/>
	</xs:simpleType>
	<xs:simpleType name="errorDescription_type">
		<xs:annotation>
			<xs:documentation>Name of the NODE in HBIS format (e.g. Gn2/ADM16/25)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="statusCode_type">
		<xs:annotation>
			<xs:documentation>Name of the NODE in HBIS format (e.g. Gn2/ADM16/25)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="physicalResourceStatus_type">
		<xs:annotation>
			<xs:documentation>Administrative status of the node (e.g. in service, planned, phased out,...)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="1000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="nodeType_type">
		<xs:annotation>
			<xs:documentation>NODE type name is in the table NODETYPE referenced by this field in NODE table</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="nodeSubType_type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="8"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ipAddressFormat_type">
		<xs:annotation>
			<xs:documentation>One of the follwing formats: 
0 - dotted decimal (default)
1 - CIDR
</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer"/>
	</xs:simpleType>
	<xs:simpleType name="streetName_type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="24"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="houseNumber_type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="5"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="houseNumberExtension_type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="6"/>
			<xs:minLength value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="dutchPostcode_type">
		<xs:restriction base="xs:string">
			<xs:length value="6"/>
			<xs:pattern value="\d{4}[a-zA-Z]{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="cityName_type">
		<xs:annotation>
			<xs:documentation>String limitation 1000 added by KPN EAI automated guideline supervision. Increase size in Rose if desired.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="1000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="portType_type">
		<xs:annotation>
			<xs:documentation>"ODF" </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="50"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="rackPosition_type">
		<xs:annotation>
			<xs:documentation>Tbd</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="6"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="shelfPosition_type">
		<xs:annotation>
			<xs:documentation>Tbd</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="14"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="shelfType_type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="255"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="slotPosition_type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="14"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="cardType_type">
		<xs:annotation>
			<xs:documentation>String limitation 1000 added by KPN EAI automated guideline supervision. Increase size in Rose if desired.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="1000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="serviceType_type">
		<xs:annotation>
			<xs:documentation>String limitation 1000 added by KPN EAI automated guideline supervision. Increase size in Rose if desired.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="1000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="vlanId_type">
		<xs:annotation>
			<xs:documentation>This is the CVLan</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="1000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="serviceId_type">
		<xs:annotation>
			<xs:documentation>Service instance Id, attribute otf the C-VLAN</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="1000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="vpnId_type">
		<xs:annotation>
			<xs:documentation>String limitation 1000 added by KPN EAI automated guideline supervision. Increase size in Rose if desired.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="1000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="productCategoryName_type">
		<xs:annotation>
			<xs:documentation>String limitation 1000 added by KPN EAI automated guideline supervision. Increase size in Rose if desired.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="1000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="productInstanceIdentifier_type">
		<xs:annotation>
			<xs:documentation>String limitation 1000 added by KPN EAI automated guideline supervision. Increase size in Rose if desired.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="1000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="agreementType_type">
		<xs:annotation>
			<xs:documentation>An agreementType represents a specialization of an agreement.

Example:
A LOYALTY agreement is a specific type of agreement.

Type:
String, enumerated

Length:
unbound
</xs:documentation>
			<xs:documentation>Default value is:''</xs:documentation>
			<xs:documentation>Size limitation taken from API side, since EAI definition did not have one.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="25"/>
			<xs:enumeration value="Office hours"/>
			<xs:enumeration value="Best Effort"/>
			<xs:enumeration value="24x7"/>
			<xs:enumeration value="24x7 4 hours"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="orderId_type">
		<xs:annotation>
			<xs:documentation>Field size limitation copied from API definition as EAI side had no limitation.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="orderType_type">
		<xs:annotation>
			<xs:documentation>The deifferent types of orders i.e.:
- customerOrder
- networkResourceOrder
- wholesaleAccessOrder
- workOrder</xs:documentation>
			<xs:documentation>Default value is:''</xs:documentation>
			<xs:documentation>Size limitation taken from API side, since EAI definition did not have one.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="25"/>
			<xs:enumeration value="AccessInstance"/>
			<xs:enumeration value="ServiceInstance"/>
			<xs:enumeration value="ServiceLevelInstance"/>
			<xs:enumeration value="customerOrder"/>
			<xs:enumeration value="networkResourceOrder"/>
			<xs:enumeration value="wholesaleAccessOrder"/>
			<xs:enumeration value="workOrder"/>
			<xs:enumeration value="undefined"/>
			<xs:enumeration value="ProductServiceInstance"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="customerOrderReference_type">
		<xs:annotation>
			<xs:documentation>Field size limitation copied from API definition as EAI side had no limitation.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="15"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="orderStatus_type">
		<xs:annotation>
			<xs:documentation>Field size limitation copied from API definition as EAI side had no limitation.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="50"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="lineType_type">
		<xs:annotation>
			<xs:documentation>Field size limitation copied from API definition as EAI side had no limitation.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="carrierType_type">
		<xs:annotation>
			<xs:documentation>String limitation 1000 added by KPN EAI automated guideline supervision. Increase size in Rose if desired.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="1000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="portNumber_type">
		<xs:restriction base="xs:integer"/>
	</xs:simpleType>
	<xs:simpleType name="serviceIdentifier_type">
		<xs:annotation>
			<xs:documentation>String limitation 1000 added by KPN EAI automated guideline supervision. Increase size in Rose if desired.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="1000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="bandwidth_type">
		<xs:annotation>
			<xs:documentation>String limitation 1000 added by KPN EAI automated guideline supervision. Increase size in Rose if desired.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="1000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="partyName_type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="132"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="serviceInstanceIdentifier_type">
		<xs:annotation>
			<xs:documentation>Field size limitation copied from API definition as EAI side had no limitation.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="26"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="accessPointId_type">
		<xs:annotation>
			<xs:documentation>Field size limitation copied from API definition as EAI side had no limitation.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="12"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="customerIdentifier_type">
		<xs:annotation>
			<xs:documentation>String limitation 1000 added by KPN EAI automated guideline supervision. Increase size in Rose if desired.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="1000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="BODY">
		<xs:annotation>
			<xs:documentation>This is the BODY object for KPN EAI service number 0388 - GetNetworkResourceDetails version 1.0 Response message.</xs:documentation>
			<xs:documentation>Automatically generated schema for service:'GetNetworkResourceDetails', version:'1.0'</xs:documentation>
			<xs:documentation>Generated on 2008-03-10 16:02:24Z</xs:documentation>
			<xs:documentation>Service paradigm is intended to be Request/Response</xs:documentation>
			<xs:documentation>Service ID is:'0388'</xs:documentation>
			<xs:documentation>The body must always have MinOccurs=0 and MaxOccurs=1, by definition of KPN EAI AG. (For request messages this has no apparent benefit)</xs:documentation>
			<xs:documentation>KPN EAI message body class.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:annotation>
					<xs:documentation>Artificial sequence to separate.</xs:documentation>
				</xs:annotation>
				<xs:element name="RESOURCE_DETAILS" minOccurs="0">
					<xs:annotation>
						<xs:documentation>See accompanying taskflow sheet for details on subsidiary service invocations.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="DSLAM_DETAILS" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:annotation>
											<xs:documentation>Artificial sequence to separate.</xs:documentation>
										</xs:annotation>
										<xs:element name="DSLAM" minOccurs="0" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation>Response from 0288 - GetDslamInfo, full reponse body (payload) is copied. See 0288 service specification for field descriptions.</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:annotation>
														<xs:documentation>Artificial sequence to separate.</xs:documentation>
													</xs:annotation>
													<xs:element name="NODE" minOccurs="0">
														<xs:complexType>
															<xs:sequence>
																<xs:annotation>
																	<xs:documentation>Artificial sequence to separate.</xs:documentation>
																</xs:annotation>
																<xs:element name="IP_ADDRESS" minOccurs="0">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:annotation>
																				<xs:documentation>Artificial sequence to separate.</xs:documentation>
																			</xs:annotation>
																			<xs:element name="IP_ADDRESS_VALUE" type="xs:string" minOccurs="0">
																				<xs:annotation>
																					<xs:documentation>IP address of the node in the internal network. Also known as Management ip address or loopback ip address (IPv4)</xs:documentation>
																				</xs:annotation>
																			</xs:element>
																			<xs:element name="IP_ADDRESS_FORMAT" type="tns:ipAddressFormat_type" minOccurs="0">
																				<xs:annotation>
																					<xs:documentation>One of the follwing formats: 
0 - dotted decimal (default)
1 - CIDR
</xs:documentation>
																				</xs:annotation>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
																<xs:element name="ADDRESS" minOccurs="0">
																	<xs:annotation>
																		<xs:documentation>Physical address of the NODE</xs:documentation>
																	</xs:annotation>
																	<xs:complexType>
																		<xs:sequence>
																			<xs:annotation>
																				<xs:documentation>Artificial sequence to separate.</xs:documentation>
																			</xs:annotation>
																			<xs:element name="GPS" minOccurs="0">
																				<xs:annotation>
																					<xs:documentation>Geographical location of the Dslam.</xs:documentation>
																				</xs:annotation>
																				<xs:complexType>
																					<xs:sequence>
																						<xs:annotation>
																							<xs:documentation>Artificial sequence to separate.</xs:documentation>
																						</xs:annotation>
																						<xs:element name="LATITUDE" type="xs:string">
																							<xs:annotation>
																								<xs:documentation>Geographical position latitude (geogr. breedte)</xs:documentation>
																							</xs:annotation>
																						</xs:element>
																						<xs:element name="LONGITUDE" type="xs:string">
																							<xs:annotation>
																								<xs:documentation>Geographical position longitude (geogr. lengte)
</xs:documentation>
																							</xs:annotation>
																						</xs:element>
																					</xs:sequence>
																				</xs:complexType>
																			</xs:element>
																			<xs:element name="STREET_NAME" type="tns:streetName_type" minOccurs="0"/>
																			<xs:element name="HOUSE_NUMBER" type="tns:houseNumber_type" minOccurs="0"/>
																			<xs:element name="HOUSE_NUMBER_EXTENSION" type="tns:houseNumberExtension_type" minOccurs="0"/>
																			<xs:element name="DUTCH_POSTCODE" type="tns:dutchPostcode_type" minOccurs="0"/>
																			<xs:element name="CITY_NAME" type="tns:cityName_type" minOccurs="0"/>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
																<xs:element name="PORT" minOccurs="0" maxOccurs="unbounded">
																	<xs:annotation>
																		<xs:documentation>The ODF port </xs:documentation>
																	</xs:annotation>
																	<xs:complexType>
																		<xs:sequence>
																			<xs:annotation>
																				<xs:documentation>Artificial sequence to separate.</xs:documentation>
																			</xs:annotation>
																			<xs:element name="PORT_TYPE" type="tns:portType_type" minOccurs="0">
																				<xs:annotation>
																					<xs:documentation>"ODF" </xs:documentation>
																				</xs:annotation>
																			</xs:element>
																			<xs:element name="PORT_ID" type="xs:string" minOccurs="0">
																				<xs:annotation>
																					<xs:documentation>Id of the PORT as registered in EMS.</xs:documentation>
																				</xs:annotation>
																			</xs:element>
																			<xs:element name="PORT_NAME" type="xs:string" minOccurs="0">
																				<xs:annotation>
																					<xs:documentation>Name of the PORT in HBIS format</xs:documentation>
																				</xs:annotation>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
																<xs:element name="RACK" minOccurs="0">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:annotation>
																				<xs:documentation>Artificial sequence to separate.</xs:documentation>
																			</xs:annotation>
																			<xs:element name="SHELF" minOccurs="0" maxOccurs="unbounded">
																				<xs:complexType>
																					<xs:sequence>
																						<xs:annotation>
																							<xs:documentation>Artificial sequence to separate.</xs:documentation>
																						</xs:annotation>
																						<xs:element name="SLOT" minOccurs="0">
																							<xs:complexType>
																								<xs:sequence>
																									<xs:annotation>
																										<xs:documentation>Artificial sequence to separate.</xs:documentation>
																									</xs:annotation>
																									<xs:element name="CARD" minOccurs="0">
																										<xs:complexType>
																											<xs:sequence>
																												<xs:annotation>
																													<xs:documentation>Artificial sequence to separate.</xs:documentation>
																												</xs:annotation>
																												<xs:element name="PHYSICAL_PORT" minOccurs="0">
																													<xs:annotation>
																														<xs:documentation>Ports on the Dslam. Either to the customer (UNI) or network (NNI)</xs:documentation>
																													</xs:annotation>
																													<xs:complexType>
																														<xs:sequence>
																															<xs:annotation>
																																<xs:documentation>Artificial sequence to separate.</xs:documentation>
																															</xs:annotation>
																															<xs:element name="ACCESS_LOCATION" minOccurs="0">
																																<xs:annotation>
																																	<xs:documentation>Physical address of the NT</xs:documentation>
																																</xs:annotation>
																																<xs:complexType>
																																	<xs:sequence>
																																		<xs:annotation>
																																			<xs:documentation>Artificial sequence to separate.</xs:documentation>
																																		</xs:annotation>
																																		<xs:element name="GPS" minOccurs="0">
																																			<xs:annotation>
																																				<xs:documentation>Geographical location of the Dslam</xs:documentation>
																																			</xs:annotation>
																																			<xs:complexType>
																																				<xs:sequence>
																																					<xs:annotation>
																																						<xs:documentation>Artificial sequence to separate.</xs:documentation>
																																					</xs:annotation>
																																					<xs:element name="LATITUDE" type="xs:string">
																																						<xs:annotation>
																																							<xs:documentation>Geographical position latitude (geogr. breedte)</xs:documentation>
																																						</xs:annotation>
																																					</xs:element>
																																					<xs:element name="LONGITUDE" type="xs:string">
																																						<xs:annotation>
																																							<xs:documentation>Geographical position longitude (geogr. lengte)
</xs:documentation>
																																						</xs:annotation>
																																					</xs:element>
																																				</xs:sequence>
																																			</xs:complexType>
																																		</xs:element>
																																		<xs:element name="STREET_NAME" type="tns:streetName_type" minOccurs="0"/>
																																		<xs:element name="HOUSE_NUMBER" type="tns:houseNumber_type" minOccurs="0"/>
																																		<xs:element name="HOUSE_NUMBER_EXTENSION" type="tns:houseNumberExtension_type" minOccurs="0"/>
																																		<xs:element name="DUTCH_POSTCODE" type="tns:dutchPostcode_type" minOccurs="0"/>
																																		<xs:element name="CITY_NAME" type="tns:cityName_type" minOccurs="0"/>
																																	</xs:sequence>
																																</xs:complexType>
																															</xs:element>
																															<xs:element name="SERVICE" minOccurs="0" maxOccurs="unbounded">
																																<xs:complexType>
																																	<xs:sequence>
																																		<xs:annotation>
																																			<xs:documentation>Artificial sequence to separate.</xs:documentation>
																																		</xs:annotation>
																																		<xs:element name="VLAN_ID" type="tns:vlanId_type">
																																			<xs:annotation>
																																				<xs:documentation>This is the CVLan</xs:documentation>
																																			</xs:annotation>
																																		</xs:element>
																																	</xs:sequence>
																																</xs:complexType>
																															</xs:element>
																															<xs:element name="PORT_TYPE" type="tns:portType_type">
																																<xs:annotation>
																																	<xs:documentation>Type of port either UNI or NNI
</xs:documentation>
																																</xs:annotation>
																															</xs:element>
																															<xs:element name="PORT_ID" type="xs:string" minOccurs="0">
																																<xs:annotation>
																																	<xs:documentation>Identifier of the PORT as known in EMS</xs:documentation>
																																</xs:annotation>
																															</xs:element>
																															<xs:element name="PORT_STATUS" type="xs:string" minOccurs="0">
																																<xs:annotation>
																																	<xs:documentation>Administrative status of the PORT (e.g. in service, planned, phased out,...)</xs:documentation>
																																</xs:annotation>
																															</xs:element>
																															<xs:element name="SIP_STIFT" type="xs:string" minOccurs="0">
																																<xs:annotation>
																																	<xs:documentation>xDF-id (sip stift)</xs:documentation>
																																</xs:annotation>
																															</xs:element>
																															<xs:element name="PORT_NAME" type="xs:string" minOccurs="0">
																																<xs:annotation>
																																	<xs:documentation>Name of the PORT in HBIS format</xs:documentation>
																																</xs:annotation>
																															</xs:element>
																															<xs:element name="SERVICE_TYPE" type="tns:serviceType_type" minOccurs="0"/>
																														</xs:sequence>
																													</xs:complexType>
																												</xs:element>
																												<xs:element name="CARD_TYPE" type="tns:cardType_type" minOccurs="0"/>
																												<xs:element name="CARD_STATUS" type="xs:string" minOccurs="0">
																													<xs:annotation>
																														<xs:documentation>Administrative status of the CARD (e.g. in service, planned, phased out,...)</xs:documentation>
																													</xs:annotation>
																												</xs:element>
																												<xs:element name="CARD_POSITION" type="xs:string" minOccurs="0">
																													<xs:annotation>
																														<xs:documentation>Place of the card (in the rack) E.g. ZK454.1 </xs:documentation>
																													</xs:annotation>
																												</xs:element>
																												<xs:element name="CARD_BRAND" type="xs:string" minOccurs="0">
																													<xs:annotation>
																														<xs:documentation>Specification information about the card (brand, version) E.g. Alcatel, 3AL34962AB, 3.001.2B</xs:documentation>
																													</xs:annotation>
																												</xs:element>
																												<xs:element name="CARD_ID" type="xs:string" minOccurs="0">
																													<xs:annotation>
																														<xs:documentation>Identifier of the CARD as known in EMS</xs:documentation>
																													</xs:annotation>
																												</xs:element>
																												<xs:element name="CARD_NAME" type="xs:string" minOccurs="0">
																													<xs:annotation>
																														<xs:documentation>Unique identifier of the card (HBIS?)</xs:documentation>
																													</xs:annotation>
																												</xs:element>
																												<xs:element name="CARD_VERSION" type="xs:string" minOccurs="0"/>
																											</xs:sequence>
																										</xs:complexType>
																									</xs:element>
																									<xs:element name="SLOT_NAME" type="xs:string" minOccurs="0">
																										<xs:annotation>
																											<xs:documentation>Name of the SLOT in HBIS format</xs:documentation>
																										</xs:annotation>
																									</xs:element>
																									<xs:element name="SLOT_POSITION" type="tns:slotPosition_type" minOccurs="0"/>
																								</xs:sequence>
																							</xs:complexType>
																						</xs:element>
																						<xs:element name="SHELF_POSITION" type="tns:shelfPosition_type" minOccurs="0">
																							<xs:annotation>
																								<xs:documentation>Tbd</xs:documentation>
																							</xs:annotation>
																						</xs:element>
																						<xs:element name="SHELF_TYPE" type="tns:shelfType_type" minOccurs="0"/>
																						<xs:element name="SHELF_STATUS" type="xs:string" minOccurs="0">
																							<xs:annotation>
																								<xs:documentation>Administrative status of the SELF (e.g. in service, planned, phased out,...)</xs:documentation>
																							</xs:annotation>
																						</xs:element>
																						<xs:element name="SHELF_ID" type="xs:string" minOccurs="0">
																							<xs:annotation>
																								<xs:documentation>Identifier of the SHELF as known in EMS</xs:documentation>
																							</xs:annotation>
																						</xs:element>
																						<xs:element name="SHELF_NAME" type="xs:string" minOccurs="0">
																							<xs:annotation>
																								<xs:documentation>Name of SHELF in HBIS format</xs:documentation>
																							</xs:annotation>
																						</xs:element>
																					</xs:sequence>
																				</xs:complexType>
																			</xs:element>
																			<xs:element name="RACK_POSITION" type="tns:rackPosition_type" minOccurs="0">
																				<xs:annotation>
																					<xs:documentation>Tbd</xs:documentation>
																				</xs:annotation>
																			</xs:element>
																			<xs:element name="RACK_ID" type="xs:string" minOccurs="0">
																				<xs:annotation>
																					<xs:documentation>Id of the RACK as known in EMS</xs:documentation>
																				</xs:annotation>
																			</xs:element>
																			<xs:element name="RACK_STATUS" type="tns:physicalResourceStatus_type" minOccurs="0">
																				<xs:annotation>
																					<xs:documentation>Administrative status of the RACK</xs:documentation>
																				</xs:annotation>
																			</xs:element>
																			<xs:element name="RACK_NAME" type="xs:string" minOccurs="0">
																				<xs:annotation>
																					<xs:documentation>Name of the RACK in HBIS format</xs:documentation>
																				</xs:annotation>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
																<xs:element name="SERVICE" minOccurs="0" maxOccurs="unbounded">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:annotation>
																				<xs:documentation>Artificial sequence to separate.</xs:documentation>
																			</xs:annotation>
																			<xs:element name="SERVICE_ID" type="tns:serviceId_type">
																				<xs:annotation>
																					<xs:documentation>Service instance Id, attribute otf the C-VLAN</xs:documentation>
																				</xs:annotation>
																			</xs:element>
																			<xs:element name="SERVICE_OPERATOR_ID" type="tns:serviceId_type" minOccurs="0">
																				<xs:annotation>
																					<xs:documentation>Transport instance.
The ID of the operator delivering the service customer. This field is retrieved throuhg a direct relation with the above service ID</xs:documentation>
																				</xs:annotation>
																			</xs:element>
																			<xs:element name="E_NUMBER" type="xs:string" minOccurs="0">
																				<xs:annotation>
																					<xs:documentation>The E-number is the service object of the type e-number related to the ODF port (Ethernet number)</xs:documentation>
																				</xs:annotation>
																			</xs:element>
																			<xs:element name="WAP_AREA" type="xs:string" minOccurs="0"/>
																			<xs:element name="WAP_VLAN_ID" type="xs:string" minOccurs="0"/>
																			<xs:element name="VPN" type="tns:vpnId_type" minOccurs="0"/>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
																<xs:element name="NODE_NAME" type="tns:nodeName_type" minOccurs="0">
																	<xs:annotation>
																		<xs:documentation>Name of the NODE in HBIS format (e.g. Gn2/ADM16/25)</xs:documentation>
																	</xs:annotation>
																</xs:element>
																<xs:element name="NODE_STATUS" type="tns:physicalResourceStatus_type" minOccurs="0">
																	<xs:annotation>
																		<xs:documentation>Administrative status of the node (e.g. in service, planned, phased out,...)</xs:documentation>
																	</xs:annotation>
																</xs:element>
																<xs:element name="NODE_TYPE" type="tns:nodeType_type" minOccurs="0">
																	<xs:annotation>
																		<xs:documentation>NODE type name is in the table NODETYPE referenced by this field in NODE table</xs:documentation>
																	</xs:annotation>
																</xs:element>
																<xs:element name="NODE_SUB_TYPE" type="tns:nodeSubType_type" minOccurs="0"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="DOMAIN" minOccurs="0">
														<xs:complexType>
															<xs:sequence>
																<xs:annotation>
																	<xs:documentation>Artificial sequence to separate.</xs:documentation>
																</xs:annotation>
																<xs:element name="TYPE" type="xs:string" minOccurs="0">
																	<xs:annotation>
																		<xs:documentation>Domain where the node is acting.</xs:documentation>
																	</xs:annotation>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="RESULT_STATUS">
											<xs:complexType>
												<xs:sequence>
													<xs:annotation>
														<xs:documentation>Artificial sequence to separate.</xs:documentation>
													</xs:annotation>
													<xs:element name="ERROR_CODE" type="tns:errorCode_type" minOccurs="0"/>
													<xs:element name="ERROR_DESCRIPTION" type="tns:errorDescription_type" minOccurs="0"/>
													<xs:element name="STATUS_CODE" type="tns:statusCode_type"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="IP_SERVICES_DETAILS" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:annotation>
											<xs:documentation>Artificial sequence to separate.</xs:documentation>
										</xs:annotation>
										<xs:element name="IP_SERVICES" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Response from 0394 - GetIPConfigurationDetails, full reponse body (payload) is copied. See 0394 service specification for field descriptions.</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:annotation>
														<xs:documentation>Artificial sequence to separate.</xs:documentation>
													</xs:annotation>
													<xs:element name="PRODUCT" minOccurs="0" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence>
																<xs:annotation>
																	<xs:documentation>Artificial sequence to separate.</xs:documentation>
																</xs:annotation>
																<xs:element name="choice">
																	<xs:complexType>
																		<xs:choice>
																			<xs:element name="BROADBAND_ACCESS_PRODUCT">
																				<xs:complexType>
																					<xs:sequence>
																						<xs:annotation>
																							<xs:documentation>Artificial sequence to separate.</xs:documentation>
																						</xs:annotation>
																						<xs:element name="BANDWIDTH" minOccurs="0">
																							<xs:complexType>
																								<xs:sequence>
																									<xs:annotation>
																										<xs:documentation>Artificial sequence to separate.</xs:documentation>
																									</xs:annotation>
																									<xs:element name="BANDWIDTH_DOWN" type="xs:string" minOccurs="0"/>
																									<xs:element name="BANDWIDTH_UP" type="xs:string" minOccurs="0"/>
																								</xs:sequence>
																							</xs:complexType>
																						</xs:element>
																						<xs:element name="SERVICE" minOccurs="0" maxOccurs="unbounded">
																							<xs:complexType>
																								<xs:sequence>
																									<xs:annotation>
																										<xs:documentation>Artificial sequence to separate.</xs:documentation>
																									</xs:annotation>
																									<xs:element name="INTERNET_SERVICE">
																										<xs:complexType>
																											<xs:sequence>
																												<xs:annotation>
																													<xs:documentation>Artificial sequence to separate.</xs:documentation>
																												</xs:annotation>
																												<xs:element name="PRODUCT_ID" type="xs:string"/>
																												<xs:element name="IP_VPN" type="xs:string" minOccurs="0"/>
																												<xs:element name="IP_PROFILE" type="xs:string" minOccurs="0"/>
																												<xs:element name="IP_NETWORK" type="xs:string" minOccurs="0"/>
																												<xs:element name="FCODE" type="xs:string" minOccurs="0"/>
																												<xs:element name="TRANSPORT_INSTANCE_ID" type="xs:string" minOccurs="0"/>
																												<xs:element name="IP_SERVICE_NUMBER" type="xs:string" minOccurs="0"/>
																												<xs:element name="EAP_VLAN_ID" type="xs:string" minOccurs="0"/>
																											</xs:sequence>
																										</xs:complexType>
																									</xs:element>
																								</xs:sequence>
																							</xs:complexType>
																						</xs:element>
																						<xs:element name="PRODUCT_ID" type="xs:string"/>
																						<xs:element name="SPEED_PROFILE" type="xs:string" minOccurs="0"/>
																						<xs:element name="QUALITY_OF_SERVICE" type="xs:string" minOccurs="0"/>
																					</xs:sequence>
																				</xs:complexType>
																			</xs:element>
																			<xs:element name="VOIP_PRODUCT">
																				<xs:complexType>
																					<xs:sequence>
																						<xs:annotation>
																							<xs:documentation>Artificial sequence to separate.</xs:documentation>
																						</xs:annotation>
																						<xs:element name="BANDWIDTH" minOccurs="0">
																							<xs:complexType>
																								<xs:sequence>
																									<xs:annotation>
																										<xs:documentation>Artificial sequence to separate.</xs:documentation>
																									</xs:annotation>
																									<xs:element name="BANDWIDTH_DOWN" type="xs:string" minOccurs="0"/>
																									<xs:element name="BANDWIDTH_UP" type="xs:string" minOccurs="0"/>
																								</xs:sequence>
																							</xs:complexType>
																						</xs:element>
																						<xs:element name="SERVICE" minOccurs="0" maxOccurs="unbounded">
																							<xs:complexType>
																								<xs:sequence>
																									<xs:annotation>
																										<xs:documentation>Artificial sequence to separate.</xs:documentation>
																									</xs:annotation>
																									<xs:element name="INTERNET_SERVICE">
																										<xs:complexType>
																											<xs:sequence>
																												<xs:annotation>
																													<xs:documentation>Artificial sequence to separate.</xs:documentation>
																												</xs:annotation>
																												<xs:element name="PRODUCT_ID" type="xs:string"/>
																												<xs:element name="IP_VPN" type="xs:string" minOccurs="0"/>
																												<xs:element name="IP_PROFILE" type="xs:string" minOccurs="0"/>
																												<xs:element name="IP_NETWORK" type="xs:string" minOccurs="0"/>
																												<xs:element name="FCODE" type="xs:string" minOccurs="0"/>
																												<xs:element name="TRANSPORT_INSTANCE_ID" type="xs:string" minOccurs="0"/>
																												<xs:element name="IP_SERVICE_NUMBER" type="xs:string" minOccurs="0"/>
																												<xs:element name="EAP_VLAN_ID" type="xs:string" minOccurs="0"/>
																											</xs:sequence>
																										</xs:complexType>
																									</xs:element>
																								</xs:sequence>
																							</xs:complexType>
																						</xs:element>
																						<xs:element name="PRODUCT_ID" type="xs:string"/>
																						<xs:element name="SPEED_PROFILE" type="xs:string" minOccurs="0"/>
																						<xs:element name="QUALITY_OF_SERVICE" type="xs:string" minOccurs="0"/>
																					</xs:sequence>
																				</xs:complexType>
																			</xs:element>
																			<xs:element name="IPTV_PRODUCT">
																				<xs:complexType>
																					<xs:sequence>
																						<xs:annotation>
																							<xs:documentation>Artificial sequence to separate.</xs:documentation>
																						</xs:annotation>
																						<xs:element name="SERVICE" minOccurs="0" maxOccurs="unbounded">
																							<xs:complexType>
																								<xs:sequence>
																									<xs:annotation>
																										<xs:documentation>Artificial sequence to separate.</xs:documentation>
																									</xs:annotation>
																									<xs:element name="IPTV_SERVICE">
																										<xs:complexType>
																											<xs:sequence>
																												<xs:annotation>
																													<xs:documentation>Artificial sequence to separate.</xs:documentation>
																												</xs:annotation>
																												<xs:element name="PRODUCT_ID" type="xs:string"/>
																												<xs:element name="EAP_VLAN_ID" type="xs:string" minOccurs="0"/>
																												<xs:element name="TRANSPORT_INSTANCE_ID" type="xs:string" minOccurs="0"/>
																												<xs:element name="ACCESS_INSTANCE_ID" type="xs:string" minOccurs="0"/>
																											</xs:sequence>
																										</xs:complexType>
																									</xs:element>
																								</xs:sequence>
																							</xs:complexType>
																						</xs:element>
																						<xs:element name="PRODUCT_ID" type="xs:string"/>
																					</xs:sequence>
																				</xs:complexType>
																			</xs:element>
																		</xs:choice>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="RESULT_STATUS">
											<xs:complexType>
												<xs:sequence>
													<xs:annotation>
														<xs:documentation>Artificial sequence to separate.</xs:documentation>
													</xs:annotation>
													<xs:element name="ERROR_CODE" type="tns:errorCode_type" minOccurs="0"/>
													<xs:element name="ERROR_DESCRIPTION" type="tns:errorDescription_type" minOccurs="0"/>
													<xs:element name="STATUS_CODE" type="tns:statusCode_type"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="PRODUCT_DETAILS" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:annotation>
											<xs:documentation>Artificial sequence to separate.</xs:documentation>
										</xs:annotation>
										<xs:element name="PRODUCT" minOccurs="0" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation>Response from 0336 - GetWBAConfigurationDetails, full reponse body (payload) is copied. See 0336 service specification for field descriptions.</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:annotation>
														<xs:documentation>Artificial sequence to separate.</xs:documentation>
													</xs:annotation>
													<xs:element name="SERVICE_LEVEL_AGREEMENT" minOccurs="0">
														<xs:complexType>
															<xs:sequence>
																<xs:annotation>
																	<xs:documentation>Artificial sequence to separate.</xs:documentation>
																</xs:annotation>
																<xs:element name="ORDER_INFO" minOccurs="0">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:annotation>
																				<xs:documentation>Artificial sequence to separate.</xs:documentation>
																			</xs:annotation>
																			<xs:element name="ORDER_ID" type="tns:orderId_type" minOccurs="0"/>
																			<xs:element name="ORDER_TYPE" type="tns:orderType_type" minOccurs="0"/>
																			<xs:element name="ADMINISTRATIVE_START_DATE_TIME" type="xs:dateTime" minOccurs="0"/>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
																<xs:element name="SERVICE_LEVEL_TYPE" type="tns:agreementType_type" minOccurs="0"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="ORDER" minOccurs="0" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence>
																<xs:annotation>
																	<xs:documentation>Artificial sequence to separate.</xs:documentation>
																</xs:annotation>
																<xs:element name="EXTERNAL_CUSTOMER_ORDER_ID" type="tns:customerOrderReference_type" minOccurs="0"/>
																<xs:element name="ORDER_SCENARIO" type="xs:string" minOccurs="0"/>
																<xs:element name="ORDER_STATUS" type="tns:orderStatus_type" minOccurs="0"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="LINE_INFORMATION" minOccurs="0">
														<xs:complexType>
															<xs:sequence>
																<xs:annotation>
																	<xs:documentation>Artificial sequence to separate.</xs:documentation>
																</xs:annotation>
																<xs:element name="ACTUAL_ISRA_SPECS" type="xs:string" minOccurs="0"/>
																<xs:element name="LINE_TEST_REQUESTED" type="xs:boolean" minOccurs="0"/>
																<xs:element name="LINE_TYPE" type="tns:lineType_type" minOccurs="0"/>
																<xs:element name="OUTLET_REQUIRED" type="xs:boolean" minOccurs="0"/>
																<xs:element name="PORT_TYPE" type="tns:portType_type" minOccurs="0"/>
																<xs:element name="XTL_TYPE" type="xs:string" minOccurs="0"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="ACCESS_ELEMENTS" minOccurs="0" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence>
																<xs:annotation>
																	<xs:documentation>Artificial sequence to separate.</xs:documentation>
																</xs:annotation>
																<xs:element name="ORDER_INFO" minOccurs="0">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:annotation>
																				<xs:documentation>Artificial sequence to separate.</xs:documentation>
																			</xs:annotation>
																			<xs:element name="ADMINISTRATIVE_START_DATE_TIME" type="xs:dateTime" minOccurs="0"/>
																			<xs:element name="ORDER_ID" type="tns:orderId_type" minOccurs="0"/>
																			<xs:element name="ORDER_TYPE" type="tns:orderType_type" minOccurs="0"/>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
																<xs:element name="ACCESS_INSTANCE_ID" type="xs:string" minOccurs="0"/>
																<xs:element name="EXTERNAL_ACCESS_INSTANCE_ID" type="xs:string" minOccurs="0"/>
																<xs:element name="ACCESS_CLASS" type="xs:string" minOccurs="0"/>
																<xs:element name="CARD_TECHNOLOGY" type="xs:string" minOccurs="0"/>
																<xs:element name="CARRIER_TYPE" type="tns:carrierType_type" minOccurs="0"/>
																<xs:element name="CARRIER_VENDOR_ID" type="xs:string" minOccurs="0"/>
																<xs:element name="EAP_USAGE" type="xs:string" minOccurs="0"/>
																<xs:element name="I_SIP_NAME" type="xs:string" minOccurs="0"/>
																<xs:element name="I_SIP_VAR" type="xs:string" minOccurs="0"/>
																<xs:element name="INP_TYPE" type="xs:string" minOccurs="0"/>
																<xs:element name="IS_VIRTUAL_LAN" type="xs:boolean" minOccurs="0"/>
																<xs:element name="MIN_LINE_SPEED_DOWN_RATE" type="xs:string" minOccurs="0"/>
																<xs:element name="PORT_NUMBER" type="tns:portNumber_type" minOccurs="0"/>
																<xs:element name="PORTFOLIO_ID" type="xs:string" minOccurs="0"/>
																<xs:element name="TECHNOLOGY_TYPE" type="xs:string" minOccurs="0"/>
																<xs:element name="XDF_ACCESS_SERVICE_ID" type="tns:serviceIdentifier_type" minOccurs="0"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="BANDWIDTH" minOccurs="0">
														<xs:complexType>
															<xs:sequence>
																<xs:annotation>
																	<xs:documentation>Artificial sequence to separate.</xs:documentation>
																</xs:annotation>
																<xs:element name="MIN_BANDWIDTH_DOWN" type="tns:bandwidth_type" minOccurs="0"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="NODE" minOccurs="0">
														<xs:complexType>
															<xs:sequence>
																<xs:annotation>
																	<xs:documentation>Artificial sequence to separate.</xs:documentation>
																</xs:annotation>
																<xs:element name="DISTRIBUTION_POINT" type="xs:string" minOccurs="0"/>
																<xs:element name="DISTRIBUTION_POINT_TYPE" type="xs:string" minOccurs="0"/>
																<xs:element name="NODE_NAME" type="tns:nodeName_type" minOccurs="0"/>
																<xs:element name="QUALIFIED_LENGTH" type="xs:integer" minOccurs="0"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="END_USER_POINT" minOccurs="0">
														<xs:complexType>
															<xs:sequence>
																<xs:annotation>
																	<xs:documentation>Artificial sequence to separate.</xs:documentation>
																</xs:annotation>
																<xs:element name="LOCATION">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:annotation>
																				<xs:documentation>Artificial sequence to separate.</xs:documentation>
																			</xs:annotation>
																			<xs:element name="STREET_NAME" type="tns:streetName_type" minOccurs="0"/>
																			<xs:element name="HOUSE_NUMBER" type="tns:houseNumber_type" minOccurs="0"/>
																			<xs:element name="HOUSE_NUMBER_EXTENSION" type="tns:houseNumberExtension_type" minOccurs="0"/>
																			<xs:element name="DUTCH_POSTCODE" type="tns:dutchPostcode_type" minOccurs="0"/>
																			<xs:element name="CITY_NAME" type="tns:cityName_type" minOccurs="0"/>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
																<xs:element name="ORGANISATION_NAME" minOccurs="0">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:annotation>
																				<xs:documentation>Artificial sequence to separate.</xs:documentation>
																			</xs:annotation>
																			<xs:element name="PARTY_NAME" type="tns:partyName_type" minOccurs="0"/>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="TRANSPORT_CONFIGURATION" minOccurs="0" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence>
																<xs:annotation>
																	<xs:documentation>Artificial sequence to separate.</xs:documentation>
																</xs:annotation>
																<xs:element name="WHOLESALE_ACCESS_POINT" minOccurs="0" maxOccurs="unbounded">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:annotation>
																				<xs:documentation>Artificial sequence to separate.</xs:documentation>
																			</xs:annotation>
																			<xs:element name="ACCESS_POINT_ID" type="tns:accessPointId_type" minOccurs="0"/>
																			<xs:element name="WAP_AREA" type="xs:string" minOccurs="0"/>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
																<xs:element name="ORDER_INFO" minOccurs="0">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:annotation>
																				<xs:documentation>Artificial sequence to separate.</xs:documentation>
																			</xs:annotation>
																			<xs:element name="ADMINISTRATIVE_START_DATE_TIME" type="xs:dateTime" minOccurs="0"/>
																			<xs:element name="ORDER_ID" type="tns:orderId_type" minOccurs="0"/>
																			<xs:element name="ORDER_TYPE" type="tns:orderType_type" minOccurs="0"/>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
																<xs:element name="PIR_DOWN" type="xs:string" minOccurs="0"/>
																<xs:element name="PIR_UP" type="xs:string" minOccurs="0"/>
																<xs:element name="SERVICE_CLASS" type="xs:string" minOccurs="0"/>
																<xs:element name="SERVICE_INSTANCE_ID" type="tns:serviceInstanceIdentifier_type" minOccurs="0"/>
																<xs:element name="STATUS_SERVICE_INSTANCE" type="xs:string" minOccurs="0"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="CUSTOMER" minOccurs="0">
														<xs:complexType>
															<xs:sequence>
																<xs:annotation>
																	<xs:documentation>Artificial sequence to separate.</xs:documentation>
																</xs:annotation>
																<xs:element name="CUSTOMER_ID" type="tns:customerIdentifier_type" minOccurs="0"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="IP_PRODUCT_PROVIDER" type="xs:string" minOccurs="0"/>
													<xs:element name="PRODUCT_CATEGORY" type="tns:productCategoryName_type" minOccurs="0"/>
													<xs:element name="PRODUCT_INSTANCE_ID" type="tns:productInstanceIdentifier_type" minOccurs="0"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="RESULT_STATUS">
											<xs:complexType>
												<xs:sequence>
													<xs:annotation>
														<xs:documentation>Artificial sequence to separate.</xs:documentation>
													</xs:annotation>
													<xs:element name="ERROR_CODE" type="tns:errorCode_type" minOccurs="0"/>
													<xs:element name="ERROR_DESCRIPTION" type="tns:errorDescription_type" minOccurs="0"/>
													<xs:element name="STATUS_CODE" type="tns:statusCode_type"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>