GenericSOAPGateway/XSDSchemas/NetworkResource/Imported/0388_GetNetworkResourceDetails_2.0_Request_EAI_BUS_SIDE.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://xmlns.kpn.com/EAI/fixed/0388_GetNetworkResourceDetails/2.0/Request" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xmlns.kpn.com/EAI/fixed/0388_GetNetworkResourceDetails/2.0/Request">
	<xs:element name="BODY">
		<xs:annotation>
			<xs:documentation>This is the BODY object for KPN EAI service number 0388 - GetNetworkResourceDetails version 1.0 Request message.</xs:documentation>
			<xs:documentation>Automatically generated schema for service:'GetNetworkResourceDetails', version:'1.0'</xs:documentation>
			<xs:documentation>Generated on 2008-03-10 16:02:20Z</xs:documentation>
			<xs:documentation>Service paradigm is intended to be Request/Response</xs:documentation>
			<xs:documentation>Service ID is:'0388'</xs:documentation>
			<xs:documentation>The body must always have MinOccurs=0 and MaxOccurs=1, by definition of KPN EAI AG. (For request messages this has no apparent benefit)</xs:documentation>
			<xs:documentation>Essentially the request information required by the GetSNIConfigurationDetails</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:annotation>
					<xs:documentation>Artificial sequence to separate.</xs:documentation>
				</xs:annotation>
				<xs:element name="PRODUCT" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:annotation>
								<xs:documentation>Artificial sequence to separate.</xs:documentation>
							</xs:annotation>
							<xs:element name="SERVICE_ID" type="xs:string" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Identification of functional service supported  by configured network resources.</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="SERVICE_PROVIDER_ID" type="xs:string" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Identification of service provider.</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
