EDTAdapter/XSDSchemas/BaanAdapter/Request/ReportDSLFunctionalOrder.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 2 U (http://www.xmlspy.com) by a (University of Helsinki) -->
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema targetNamespace="http://xmlns.kpn.com/fixed/BaanAdapter/request/ReportDSLFunctionalOrder.xsd" xmlns="http://xmlns.kpn.com/fixed/BaanAdapter/request/ReportDSLFunctionalOrder.xsd" xmlns:Base.xsd="http://xmlns.kpn.com/common/cdm/Base.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ResultStatus.xsd="http://xmlns.kpn.com/common/cdm/ResultStatus.xsd" elementFormDefault="qualified">
	<xsd:import namespace="http://xmlns.kpn.com/common/cdm/Base.xsd" schemaLocation="../../Common/Base.xsd"/>
	<xsd:import namespace="http://xmlns.kpn.com/common/cdm/ResultStatus.xsd" schemaLocation="../../Common/ResultStatus.xsd"/>
	<!--Initial Version 1.0 on basis of Mapping Sheet v2.0 ACW , includes dienstnummer Connection_service_id-->
	<xsd:element name="ReportDSLFunctionalOrder">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="Base.xsd:Base">
					<xsd:sequence>
						<xsd:element name="DSL" type="DSLType"/>
						<xsd:element name="DSLCUSTOMERORDER" type="DSLCUSTOMERORDERType"/>
					</xsd:sequence>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="CONTRACTType">
		<xsd:sequence>
			<xsd:element name="CONTRACT_ID" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DSLType">
		<xsd:sequence>
			<xsd:element name="SERVICE_REF" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CONNECTION_SERVICE_ID" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CONTRACT" type="CONTRACTType"/>
			<xsd:sequence>
				<xsd:element name="MDFA" type="MDFAType"/>
			</xsd:sequence>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DSLCUSTOMERORDERType">
		<xsd:sequence>
			<xsd:element name="CUSTOMER_ORDER_REF" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PROPERTYADDRESSType">
		<xsd:sequence>
			<xsd:element name="DUTCH_POSTCODE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="HOUSE_NUMBER" type="xsd:string" minOccurs="0"/>
			<xsd:element name="HOUSE_NUMBER_EXTENSION" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="MDFAType">
		<xsd:sequence>
			<xsd:element name="PROPERTYADDRESS" type="PROPERTYADDRESSType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
