Clever/CLEverSource/CLEverCore - Oracle/Processes/FrontendServices/Configuration/Schedule/Schedule.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://www.tibco.com/CLEver/Configuration/Schedule" xmlns:ns2="http://www.tibco.com/CLEver/FrontendServices/Configuration/Schedule/ScheduleInterfaceSpecs" xmlns:ns3="http://www.tibco.com/CLEver/InternalException" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.tibco.com/CLEver/Configuration/Schedule">
    <import location="ScheduleInterfaceSpecs.xsd" namespace="http://www.tibco.com/CLEver/FrontendServices/Configuration/Schedule/ScheduleInterfaceSpecs"/>
    <import location="../../../../Shared Resources/Schema Definitions/CLEver/Error.xsd" namespace="http://www.tibco.com/CLEver/InternalException"/>
    <message name="Create_Schedule_Input">
        <part element="ns2:Create_Schedule_Input" name="part1"/>
    </message>
    <message name="Create_Schedule_Output">
        <part element="ns2:Create_Schedule_Output" name="part1"/>
    </message>
    <message name="Update_Schedule_Input">
        <part element="ns2:Update_Schedule_Input" name="part1"/>
    </message>
    <message name="Update_Schedule_Output">
        <part element="ns2:Update_Schedule_Output" name="part1"/>
    </message>
    <message name="Delete_Schedule_Input">
        <part element="ns2:Delete_Schedule_Input" name="part1"/>
    </message>
    <message name="Delete_Schedule_Output">
        <part element="ns2:Delete_Schedule_Output" name="part1"/>
    </message>
    <message name="Retrieve_Schedule_Input">
        <part element="ns2:Retrieve_Schedule_Input" name="part1"/>
    </message>
    <message name="Retrieve_Schedule_Output">
        <part element="ns2:Retrieve_Schedule_Output" name="part1"/>
    </message>
    <message name="Retrieve_ScheduleTimeSeries_Input">
        <part element="ns2:Retrieve_ScheduleTimeSeries_Input" name="part1"/>
    </message>
    <message name="Retrieve_ScheduleTimeSeries_Output">
        <part element="ns2:Retrieve_ScheduleTimeSeries_Output" name="part1"/>
    </message>
    <message name="Exception">
        <part element="ns3:ExceptionEnvelope" name="part1"/>
    </message>
    <portType name="Schedule">
        <operation name="Create">
            <input message="ns:Create_Schedule_Input"/>
            <output message="ns:Create_Schedule_Output"/>
            <fault message="ns:Exception" name="fault1"/>
        </operation>
        <operation name="Update">
            <input message="ns:Update_Schedule_Input"/>
            <output message="ns:Update_Schedule_Output"/>
            <fault message="ns:Exception" name="fault1"/>
        </operation>
        <operation name="Delete">
            <input message="ns:Delete_Schedule_Input"/>
            <output message="ns:Delete_Schedule_Output"/>
            <fault message="ns:Exception" name="fault1"/>
        </operation>
        <operation name="Retrieve">
            <input message="ns:Retrieve_Schedule_Input"/>
            <output message="ns:Retrieve_Schedule_Output"/>
            <fault message="ns:Exception" name="fault1"/>
        </operation>
        <operation name="RetrieveTimeSeries">
            <input message="ns:Retrieve_ScheduleTimeSeries_Input"/>
            <output message="ns:Retrieve_ScheduleTimeSeries_Output"/>
            <fault message="ns:Exception" name="fault1"/>
        </operation>
    </portType>
</definitions>