GenericOrderGateway/WSDL/SNI/SNI-FA_aoip_v1.0.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Generated on 2008/10/28 15:15:09 with EAIPlugin 1.2.0 -->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:grp="http://kpn.com/products/SNI-FA" xmlns:ord="http://kpn.com/eai/generic/order/1.0" xmlns:prd="http://kpn.com/products/SNI-FA/aoip/data/v1.0" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://kpn.com/products/SNI-FA/aoip/v1" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://kpn.com/products/SNI-FA/aoip/v1">
<wsdl:documentation>
    Alarm over IP functional product

    Version History:
    * 1.0 - Initial version
</wsdl:documentation>
<wsdl:types>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://kpn.com/eai/generic/order/1.0" version="1.0">
  <!-- ================================================== -->
  <!-- =====  Simple Type Definitions  -->
  <!-- ================================================== -->
  <xsd:simpleType name="OrderStatusEnumeration">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="INITIAL"/>
      <xsd:enumeration value="ACCEPTED"/>
      <xsd:enumeration value="REJECTED"/>
      <xsd:enumeration value="ERROR"/>
      <xsd:enumeration value="COMPLETED"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ================================================== -->
  <!-- =====  Complex Type Definitions  -->
  <!-- ================================================== -->
  <xsd:complexType name="Error">
    <xsd:sequence>
      <xsd:element name="code" type="xsd:string"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="detail" type="xsd:string"/>
      <xsd:element name="description" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType abstract="true" name="Order">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="customerOrderId" type="xsd:string"/>
      <xsd:element name="orderDateTime" type="xsd:dateTime"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType abstract="true" name="OrderStatus">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="customerOrderId" type="xsd:string"/>
      <xsd:element name="supplierOrderId" type="xsd:string"/>
      <xsd:element minOccurs="0" name="error" type="ord:Error"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://kpn.com/products/SNI-FA" version="1.0">
  <!-- ================================================== -->
  <!-- =====  Simple Type Definitions  -->
  <!-- ================================================== -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  E_activation  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:simpleType name="E_activation">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Active"/>
      <xsd:enumeration value="Inactive"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  E_callBarringServiceNumbers  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:simpleType name="E_callBarringServiceNumbers">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="0906"/>
      <xsd:enumeration value="0906-0909"/>
      <xsd:enumeration value="0900-0906-0909"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  E_carrierType  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:simpleType name="E_carrierType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="FTTC"/>
      <xsd:enumeration value="FTTH"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  E_keyType  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:simpleType name="E_keyType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="source"/>
      <xsd:enumeration value="target"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  E_orderScenario  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:simpleType name="E_orderScenario">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="New"/>
      <xsd:enumeration value="Migrate"/>
      <xsd:enumeration value="Move"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  E_qualityOfService  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:simpleType name="E_qualityOfService">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Best Effort"/>
      <xsd:enumeration value="Premium"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  E_yesNo  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:simpleType name="E_yesNo">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Y"/>
      <xsd:enumeration value="N"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  T_telephoneNumber  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:simpleType name="T_telephoneNumber">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  T_zipcode  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:simpleType name="T_zipcode">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <!-- ================================================== -->
  <!-- =====  Complex Type Definitions  -->
  <!-- ================================================== -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  SNI-FAOrder  <<order>>  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="SNI-FAOrder">
    <xsd:sequence>
      <xsd:element name="type" type="xsd:string"/>
      <xsd:element name="keyType" type="grp:E_keyType"/>
      <xsd:element name="requesterId" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  SNI-FAOrderItem  <<orderItem>>  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="SNI-FAOrderItem">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="serviceInstanceId" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  SNI-FAOrderStatus  <<orderStatus>>  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="SNI-FAOrderStatus">
    <xsd:sequence>
      <xsd:element name="keyType" type="grp:E_keyType"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  SNI-FAOrderStatusItem  <<orderStatusItem>>  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="SNI-FAOrderStatusItem">
    <xsd:sequence>
      <xsd:element name="serviceInstanceId" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://kpn.com/products/SNI-FA/aoip/data/v1.0" version="1.0">
  <xsd:import namespace="http://kpn.com/eai/generic/order/1.0"/>
  <xsd:import namespace="http://kpn.com/products/SNI-FA"/>
  <!-- ================================================== -->
  <!-- =====  Element Declarations  -->
  <!-- ================================================== -->
  <xsd:element name="aoipcreateRequest" type="prd:aoipcreateRequest"/>
  <xsd:element name="aoipcreateResponse" type="prd:aoipcreateResponse"/>
  <xsd:element name="aoipdeleteRequest" type="prd:aoipdeleteRequest"/>
  <xsd:element name="aoipdeleteResponse" type="prd:aoipdeleteResponse"/>
  <xsd:element name="aoipreadRequest" type="prd:aoipreadRequest"/>
  <xsd:element name="aoipreadResponse" type="prd:aoipreadResponse"/>
  <xsd:element name="aoipupdateRequest" type="prd:aoipupdateRequest"/>
  <xsd:element name="aoipupdateResponse" type="prd:aoipupdateResponse"/>
  <!-- ================================================== -->
  <!-- =====  Simple Type Definitions  -->
  <!-- ================================================== -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  aoipStatusEnum  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:simpleType name="aoipStatusEnum">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Rejected"/>
      <xsd:enumeration value="Failed"/>
      <xsd:enumeration value="Completed"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ================================================== -->
  <!-- =====  Complex Type Definitions  -->
  <!-- ================================================== -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  aoipcreateRequest  <<xsdGen>>  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="aoipcreateRequest">
    <xsd:complexContent>
      <xsd:extension base="ord:Order">
        <xsd:sequence>
          <xsd:element name="OrderParameters" type="grp:SNI-FAOrder"/>
          <xsd:element name="OrderItem" type="prd:aoipcreateRequestItem"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  aoipcreateRequestItem  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="aoipcreateRequestItem">
    <xsd:complexContent>
      <xsd:extension base="grp:SNI-FAOrderItem">
        <xsd:sequence>
          <xsd:element name="Parameters" type="prd:createRequest"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  aoipcreateResponse  <<xsdGen>>  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="aoipcreateResponse">
    <xsd:complexContent>
      <xsd:extension base="ord:OrderStatus">
        <xsd:sequence>
          <xsd:element name="status" type="prd:aoipStatusEnum"/>
          <xsd:element name="OrderStatusParameters" type="grp:SNI-FAOrderStatus"/>
          <xsd:element name="OrderItem" type="prd:aoipcreateResponseItem"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  aoipcreateResponseItem  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="aoipcreateResponseItem">
    <xsd:complexContent>
      <xsd:extension base="grp:SNI-FAOrderStatusItem">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="Parameters" type="prd:createResponse"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  aoipdeleteRequest  <<xsdGen>>  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="aoipdeleteRequest">
    <xsd:complexContent>
      <xsd:extension base="ord:Order">
        <xsd:sequence>
          <xsd:element name="OrderParameters" type="grp:SNI-FAOrder"/>
          <xsd:element name="OrderItem" type="prd:aoipdeleteRequestItem"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  aoipdeleteRequestItem  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="aoipdeleteRequestItem">
    <xsd:complexContent>
      <xsd:extension base="grp:SNI-FAOrderItem">
        <xsd:sequence>
          <xsd:element name="Parameters" type="prd:deleteRequest"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  aoipdeleteResponse  <<xsdGen>>  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="aoipdeleteResponse">
    <xsd:complexContent>
      <xsd:extension base="ord:OrderStatus">
        <xsd:sequence>
          <xsd:element name="status" type="prd:aoipStatusEnum"/>
          <xsd:element name="OrderStatusParameters" type="grp:SNI-FAOrderStatus"/>
          <xsd:element name="OrderItem" type="prd:aoipdeleteResponseItem"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  aoipdeleteResponseItem  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="aoipdeleteResponseItem">
    <xsd:complexContent>
      <xsd:extension base="grp:SNI-FAOrderStatusItem">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="Parameters" type="prd:deleteResponse"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  aoipreadRequest  <<xsdGen>>  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="aoipreadRequest">
    <xsd:complexContent>
      <xsd:extension base="ord:Order">
        <xsd:sequence>
          <xsd:element name="OrderParameters" type="grp:SNI-FAOrder"/>
          <xsd:element name="OrderItem" type="prd:aoipreadRequestItem"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  aoipreadRequestItem  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="aoipreadRequestItem">
    <xsd:complexContent>
      <xsd:extension base="grp:SNI-FAOrderItem">
        <xsd:sequence>
          <xsd:element name="Parameters" type="prd:readRequest"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  aoipreadResponse  <<xsdGen>>  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="aoipreadResponse">
    <xsd:complexContent>
      <xsd:extension base="ord:OrderStatus">
        <xsd:sequence>
          <xsd:element name="status" type="prd:aoipStatusEnum"/>
          <xsd:element name="OrderStatusParameters" type="grp:SNI-FAOrderStatus"/>
          <xsd:element name="OrderItem" type="prd:aoipreadResponseItem"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  aoipreadResponseItem  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="aoipreadResponseItem">
    <xsd:complexContent>
      <xsd:extension base="grp:SNI-FAOrderStatusItem">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="Parameters" type="prd:readResponse"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  aoipupdateRequest  <<xsdGen>>  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="aoipupdateRequest">
    <xsd:complexContent>
      <xsd:extension base="ord:Order">
        <xsd:sequence>
          <xsd:element name="OrderParameters" type="grp:SNI-FAOrder"/>
          <xsd:element name="OrderItem" type="prd:aoipupdateRequestItem"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  aoipupdateRequestItem  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="aoipupdateRequestItem">
    <xsd:complexContent>
      <xsd:extension base="grp:SNI-FAOrderItem">
        <xsd:sequence>
          <xsd:element name="Parameters" type="prd:updateRequest"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  aoipupdateResponse  <<xsdGen>>  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="aoipupdateResponse">
    <xsd:complexContent>
      <xsd:extension base="ord:OrderStatus">
        <xsd:sequence>
          <xsd:element name="status" type="prd:aoipStatusEnum"/>
          <xsd:element name="OrderStatusParameters" type="grp:SNI-FAOrderStatus"/>
          <xsd:element name="OrderItem" type="prd:aoipupdateResponseItem"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  aoipupdateResponseItem  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="aoipupdateResponseItem">
    <xsd:complexContent>
      <xsd:extension base="grp:SNI-FAOrderStatusItem">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="Parameters" type="prd:updateResponse"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  createRequest  <<actionRequest>>  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="createRequest">
    <xsd:sequence>
      <xsd:element name="fpIdSpTemplate" type="xsd:string"/>
      <xsd:element minOccurs="0" name="fpIdAoip" type="xsd:string"/>
      <xsd:element name="fpIdAccess" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  createResponse  <<actionResponse>>  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="createResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="fpIdAoip" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  deleteRequest  <<actionRequest>>  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="deleteRequest">
    <xsd:sequence>
      <xsd:element name="fpIdAoip" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  deleteResponse  <<actionResponse>>  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="deleteResponse">
    <xsd:sequence>
      <xsd:element name="fpIdAoip" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  readRequest  <<actionRequest>>  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="readRequest">
    <xsd:sequence>
      <xsd:element name="fpIdAoip" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  readResponse  <<actionResponse>>  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="readResponse">
    <xsd:sequence>
      <xsd:element name="fpIdAoip" type="xsd:string"/>
      <xsd:element minOccurs="0" name="fpIdSpTemplate" type="xsd:string"/>
      <xsd:element minOccurs="0" name="fpIdAccess" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  updateRequest  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="updateRequest">
    <xsd:sequence>
      <xsd:element name="fpIdAoip" type="xsd:string"/>
      <xsd:element name="fpIdAccessNew" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  updateResponse  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="updateResponse">
    <xsd:sequence>
      <xsd:element name="fpIdAoip" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
</wsdl:types>
<wsdl:message name="readStatusUpdateRequest">
<wsdl:part element="prd:aoipreadResponse" name="aoipreadStatusUpdateRequest"/>
</wsdl:message>
<wsdl:message name="Error">
<wsdl:part name="Error" type="ord:Error"/>
</wsdl:message>
<wsdl:message name="createStatusUpdateRequest">
<wsdl:part element="prd:aoipcreateResponse" name="aoipcreateStatusUpdateRequest"/>
</wsdl:message>
<wsdl:message name="readRequest">
<wsdl:part element="prd:aoipreadRequest" name="aoipreadRequest"/>
</wsdl:message>
<wsdl:message name="createRequest">
<wsdl:part element="prd:aoipcreateRequest" name="aoipcreateRequest"/>
</wsdl:message>
<wsdl:message name="updateStatusUpdateRequest">
<wsdl:part element="prd:aoipupdateResponse" name="aoipupdateStatusUpdateRequest"/>
</wsdl:message>
<wsdl:message name="deleteRequest">
<wsdl:part element="prd:aoipdeleteRequest" name="aoipdeleteRequest"/>
</wsdl:message>
<wsdl:message name="deleteStatusUpdateRequest">
<wsdl:part element="prd:aoipdeleteResponse" name="aoipdeleteStatusUpdateRequest"/>
</wsdl:message>
<wsdl:message name="updateRequest">
<wsdl:part element="prd:aoipupdateRequest" name="aoipupdateRequest"/>
</wsdl:message>
<wsdl:portType name="aoipCallbackServices">
<wsdl:operation name="createStatusUpdate">
<wsdl:input message="tns:createStatusUpdateRequest" name="createStatusUpdateRequest"/>
</wsdl:operation>
<wsdl:operation name="readStatusUpdate">
<wsdl:input message="tns:readStatusUpdateRequest" name="readStatusUpdateRequest"/>
</wsdl:operation>
<wsdl:operation name="deleteStatusUpdate">
<wsdl:input message="tns:deleteStatusUpdateRequest" name="deleteStatusUpdateRequest"/>
</wsdl:operation>
<wsdl:operation name="updateStatusUpdate">
<wsdl:input message="tns:updateStatusUpdateRequest" name="updateStatusUpdateRequest"/>
</wsdl:operation>
</wsdl:portType>
<wsdl:portType name="aoipServices">
<wsdl:operation name="create">
<wsdl:input message="tns:createRequest" name="createRequest"/>
</wsdl:operation>
<wsdl:operation name="update">
<wsdl:input message="tns:updateRequest" name="updateRequest"/>
</wsdl:operation>
<wsdl:operation name="delete">
<wsdl:input message="tns:deleteRequest" name="deleteRequest"/>
</wsdl:operation>
<wsdl:operation name="read">
<wsdl:input message="tns:readRequest" name="readRequest"/>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="aoipBindingSOAP" type="tns:aoipServices">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="create">
<soap:operation soapAction="SNI-FA_aoip_1.0_create_Asynchronous" style="document"/>
<wsdl:input name="createRequest">
<soap:body use="literal"/>
</wsdl:input>
</wsdl:operation>
<wsdl:operation name="update">
<soap:operation soapAction="SNI-FA_aoip_1.0_update_Asynchronous" style="document"/>
<wsdl:input name="updateRequest">
<soap:body use="literal"/>
</wsdl:input>
</wsdl:operation>
<wsdl:operation name="delete">
<soap:operation soapAction="SNI-FA_aoip_1.0_delete_Asynchronous" style="document"/>
<wsdl:input name="deleteRequest">
<soap:body use="literal"/>
</wsdl:input>
</wsdl:operation>
<wsdl:operation name="read">
<soap:operation soapAction="SNI-FA_aoip_1.0_read_Asynchronous" style="document"/>
<wsdl:input name="readRequest">
<soap:body use="literal"/>
</wsdl:input>
</wsdl:operation>
</wsdl:binding>
<wsdl:binding name="aoipCallbackBindingSOAP" type="tns:aoipCallbackServices">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="createStatusUpdate">
<soap:operation soapAction="SNI-FA_aoip_1.0_create_Asynchronous" style="document"/>
<wsdl:input name="createStatusUpdateRequest">
<soap:body use="literal"/>
</wsdl:input>
</wsdl:operation>
<wsdl:operation name="readStatusUpdate">
<soap:operation soapAction="SNI-FA_aoip_1.0_read_Asynchronous" style="document"/>
<wsdl:input name="readStatusUpdateRequest">
<soap:body use="literal"/>
</wsdl:input>
</wsdl:operation>
<wsdl:operation name="deleteStatusUpdate">
<soap:operation soapAction="SNI-FA_aoip_1.0_delete_Asynchronous" style="document"/>
<wsdl:input name="deleteStatusUpdateRequest">
<soap:body use="literal"/>
</wsdl:input>
</wsdl:operation>
<wsdl:operation name="updateStatusUpdate">
<soap:operation soapAction="SNI-FA_aoip_1.0_update_Asynchronous" style="document"/>
<wsdl:input name="updateStatusUpdateRequest">
<soap:body use="literal"/>
</wsdl:input>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="aoip">
<wsdl:port binding="tns:aoipBindingSOAP" name="aoipServices">
<soap:address location="http://localhost:8080/path/aoipServices"/>
</wsdl:port>
<wsdl:port binding="tns:aoipCallbackBindingSOAP" name="aoipCallbackServices">
<soap:address location="http://localhost:8080/path/aoipCallbackServices"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>
