GenericOrderGateway/WSDL/SNI/SNI-FA_pcVeilig_v1.0.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Generated on 2008/10/28 15:15:09 with EAIPlugin 1.2.0 -->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:grp="http://kpn.com/products/SNI-FA" xmlns:ord="http://kpn.com/eai/generic/order/1.0" xmlns:prd="http://kpn.com/products/SNI-FA/pcVeilig/data/v1.0" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://kpn.com/products/SNI-FA/pcVeilig/v1" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://kpn.com/products/SNI-FA/pcVeilig/v1">
<wsdl:documentation>
    PC Veilig functional product

    Version History:
    * 1.0 - Initial version
</wsdl:documentation>
<wsdl:types>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://kpn.com/eai/generic/order/1.0" version="1.0">
  <!-- ================================================== -->
  <!-- =====  Simple Type Definitions  -->
  <!-- ================================================== -->
  <xsd:simpleType name="OrderStatusEnumeration">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="INITIAL"/>
      <xsd:enumeration value="ACCEPTED"/>
      <xsd:enumeration value="REJECTED"/>
      <xsd:enumeration value="ERROR"/>
      <xsd:enumeration value="COMPLETED"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ================================================== -->
  <!-- =====  Complex Type Definitions  -->
  <!-- ================================================== -->
  <xsd:complexType name="Error">
    <xsd:sequence>
      <xsd:element name="code" type="xsd:string"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="detail" type="xsd:string"/>
      <xsd:element name="description" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType abstract="true" name="Order">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="customerOrderId" type="xsd:string"/>
      <xsd:element name="orderDateTime" type="xsd:dateTime"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType abstract="true" name="OrderStatus">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="customerOrderId" type="xsd:string"/>
      <xsd:element name="supplierOrderId" type="xsd:string"/>
      <xsd:element minOccurs="0" name="error" type="ord:Error"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://kpn.com/products/SNI-FA" version="1.0">
  <!-- ================================================== -->
  <!-- =====  Simple Type Definitions  -->
  <!-- ================================================== -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  E_activation  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:simpleType name="E_activation">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Active"/>
      <xsd:enumeration value="Inactive"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  E_callBarringServiceNumbers  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:simpleType name="E_callBarringServiceNumbers">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="0906"/>
      <xsd:enumeration value="0906-0909"/>
      <xsd:enumeration value="0900-0906-0909"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  E_carrierType  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:simpleType name="E_carrierType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="FTTC"/>
      <xsd:enumeration value="FTTH"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  E_keyType  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:simpleType name="E_keyType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="source"/>
      <xsd:enumeration value="target"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  E_orderScenario  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:simpleType name="E_orderScenario">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="New"/>
      <xsd:enumeration value="Migrate"/>
      <xsd:enumeration value="Move"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  E_qualityOfService  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:simpleType name="E_qualityOfService">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Best Effort"/>
      <xsd:enumeration value="Premium"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  E_yesNo  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:simpleType name="E_yesNo">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Y"/>
      <xsd:enumeration value="N"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  T_telephoneNumber  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:simpleType name="T_telephoneNumber">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  T_zipcode  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:simpleType name="T_zipcode">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <!-- ================================================== -->
  <!-- =====  Complex Type Definitions  -->
  <!-- ================================================== -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  SNI-FAOrder  <<order>>  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="SNI-FAOrder">
    <xsd:sequence>
      <xsd:element name="type" type="xsd:string"/>
      <xsd:element name="keyType" type="grp:E_keyType"/>
      <xsd:element name="requesterId" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  SNI-FAOrderItem  <<orderItem>>  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="SNI-FAOrderItem">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="serviceInstanceId" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  SNI-FAOrderStatus  <<orderStatus>>  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="SNI-FAOrderStatus">
    <xsd:sequence>
      <xsd:element name="keyType" type="grp:E_keyType"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  SNI-FAOrderStatusItem  <<orderStatusItem>>  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="SNI-FAOrderStatusItem">
    <xsd:sequence>
      <xsd:element name="serviceInstanceId" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://kpn.com/products/SNI-FA/pcVeilig/data/v1.0" version="1.0">
  <xsd:import namespace="http://kpn.com/eai/generic/order/1.0"/>
  <xsd:import namespace="http://kpn.com/products/SNI-FA"/>
  <!-- ================================================== -->
  <!-- =====  Element Declarations  -->
  <!-- ================================================== -->
  <xsd:element name="pcVeiligcreateRequest" type="prd:pcVeiligcreateRequest"/>
  <xsd:element name="pcVeiligcreateResponse" type="prd:pcVeiligcreateResponse"/>
  <xsd:element name="pcVeiligdeleteRequest" type="prd:pcVeiligdeleteRequest"/>
  <xsd:element name="pcVeiligdeleteResponse" type="prd:pcVeiligdeleteResponse"/>
  <!-- ================================================== -->
  <!-- =====  Simple Type Definitions  -->
  <!-- ================================================== -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  pcVeiligStatusEnum  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:simpleType name="pcVeiligStatusEnum">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Rejected"/>
      <xsd:enumeration value="Failed"/>
      <xsd:enumeration value="Completed"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ================================================== -->
  <!-- =====  Complex Type Definitions  -->
  <!-- ================================================== -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  createRequest  <<actionRequest>>  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="createRequest">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="fpIdPcVeilig" type="xsd:string"/>
      <xsd:element name="fpIdSpTemplate" type="xsd:string"/>
      <xsd:element name="fpIdUser" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  createResponse  <<actionResponse>>  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="createResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="fpIdPcVeilig" type="xsd:string"/>
      <xsd:element minOccurs="0" name="key" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  deleteRequest  <<actionRequest>>  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="deleteRequest">
    <xsd:sequence>
      <xsd:element name="fpIdPcVeilig" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  deleteResponse  <<actionResponse>>  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="deleteResponse">
    <xsd:sequence>
      <xsd:element name="fpIdPcVeilig" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  pcVeiligcreateRequest  <<xsdGen>>  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="pcVeiligcreateRequest">
    <xsd:complexContent>
      <xsd:extension base="ord:Order">
        <xsd:sequence>
          <xsd:element name="OrderParameters" type="grp:SNI-FAOrder"/>
          <xsd:element name="OrderItem" type="prd:pcVeiligcreateRequestItem"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  pcVeiligcreateRequestItem  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="pcVeiligcreateRequestItem">
    <xsd:complexContent>
      <xsd:extension base="grp:SNI-FAOrderItem">
        <xsd:sequence>
          <xsd:element name="Parameters" type="prd:createRequest"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  pcVeiligcreateResponse  <<xsdGen>>  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="pcVeiligcreateResponse">
    <xsd:complexContent>
      <xsd:extension base="ord:OrderStatus">
        <xsd:sequence>
          <xsd:element name="status" type="prd:pcVeiligStatusEnum"/>
          <xsd:element name="OrderStatusParameters" type="grp:SNI-FAOrderStatus"/>
          <xsd:element name="OrderItem" type="prd:pcVeiligcreateResponseItem"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  pcVeiligcreateResponseItem  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="pcVeiligcreateResponseItem">
    <xsd:complexContent>
      <xsd:extension base="grp:SNI-FAOrderStatusItem">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="Parameters" type="prd:createResponse"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  pcVeiligdeleteRequest  <<xsdGen>>  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="pcVeiligdeleteRequest">
    <xsd:complexContent>
      <xsd:extension base="ord:Order">
        <xsd:sequence>
          <xsd:element name="OrderParameters" type="grp:SNI-FAOrder"/>
          <xsd:element name="OrderItem" type="prd:pcVeiligdeleteRequestItem"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  pcVeiligdeleteRequestItem  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="pcVeiligdeleteRequestItem">
    <xsd:complexContent>
      <xsd:extension base="grp:SNI-FAOrderItem">
        <xsd:sequence>
          <xsd:element name="Parameters" type="prd:deleteRequest"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  pcVeiligdeleteResponse  <<xsdGen>>  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="pcVeiligdeleteResponse">
    <xsd:complexContent>
      <xsd:extension base="ord:OrderStatus">
        <xsd:sequence>
          <xsd:element name="status" type="prd:pcVeiligStatusEnum"/>
          <xsd:element name="OrderStatusParameters" type="grp:SNI-FAOrderStatus"/>
          <xsd:element name="OrderItem" type="prd:pcVeiligdeleteResponseItem"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  pcVeiligdeleteResponseItem  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="pcVeiligdeleteResponseItem">
    <xsd:complexContent>
      <xsd:extension base="grp:SNI-FAOrderStatusItem">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="Parameters" type="prd:deleteResponse"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>
</wsdl:types>
<wsdl:message name="Error">
<wsdl:part name="Error" type="ord:Error"/>
</wsdl:message>
<wsdl:message name="createStatusUpdateRequest">
<wsdl:part element="prd:pcVeiligcreateResponse" name="pcVeiligcreateStatusUpdateRequest"/>
</wsdl:message>
<wsdl:message name="createRequest">
<wsdl:part element="prd:pcVeiligcreateRequest" name="pcVeiligcreateRequest"/>
</wsdl:message>
<wsdl:message name="deleteRequest">
<wsdl:part element="prd:pcVeiligdeleteRequest" name="pcVeiligdeleteRequest"/>
</wsdl:message>
<wsdl:message name="deleteStatusUpdateRequest">
<wsdl:part element="prd:pcVeiligdeleteResponse" name="pcVeiligdeleteStatusUpdateRequest"/>
</wsdl:message>
<wsdl:portType name="pcVeiligCallbackServices">
<wsdl:operation name="createStatusUpdate">
<wsdl:input message="tns:createStatusUpdateRequest" name="createStatusUpdateRequest"/>
</wsdl:operation>
<wsdl:operation name="deleteStatusUpdate">
<wsdl:input message="tns:deleteStatusUpdateRequest" name="deleteStatusUpdateRequest"/>
</wsdl:operation>
</wsdl:portType>
<wsdl:portType name="pcVeiligServices">
<wsdl:operation name="create">
<wsdl:input message="tns:createRequest" name="createRequest"/>
</wsdl:operation>
<wsdl:operation name="delete">
<wsdl:input message="tns:deleteRequest" name="deleteRequest"/>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="pcVeiligCallbackBindingSOAP" type="tns:pcVeiligCallbackServices">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="createStatusUpdate">
<soap:operation soapAction="SNI-FA_pcVeilig_1.0_create_Asynchronous" style="document"/>
<wsdl:input name="createStatusUpdateRequest">
<soap:body use="literal"/>
</wsdl:input>
</wsdl:operation>
<wsdl:operation name="deleteStatusUpdate">
<soap:operation soapAction="SNI-FA_pcVeilig_1.0_delete_Asynchronous" style="document"/>
<wsdl:input name="deleteStatusUpdateRequest">
<soap:body use="literal"/>
</wsdl:input>
</wsdl:operation>
</wsdl:binding>
<wsdl:binding name="pcVeiligBindingSOAP" type="tns:pcVeiligServices">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="create">
<soap:operation soapAction="SNI-FA_pcVeilig_1.0_create_Asynchronous" style="document"/>
<wsdl:input name="createRequest">
<soap:body use="literal"/>
</wsdl:input>
</wsdl:operation>
<wsdl:operation name="delete">
<soap:operation soapAction="SNI-FA_pcVeilig_1.0_delete_Asynchronous" style="document"/>
<wsdl:input name="deleteRequest">
<soap:body use="literal"/>
</wsdl:input>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="pcVeilig">
<wsdl:port binding="tns:pcVeiligCallbackBindingSOAP" name="pcVeiligCallbackServices">
<soap:address location="http://localhost:8080/path/pcVeiligCallbackServices"/>
</wsdl:port>
<wsdl:port binding="tns:pcVeiligBindingSOAP" name="pcVeiligServices">
<soap:address location="http://localhost:8080/path/pcVeiligServices"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>
