GenericOrderGateway/WSDL/SNI/SNI-FA_accessIntranet_v1.0.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Generated on 2008/10/28 15:15:10 with EAIPlugin 1.2.0 -->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:grp="http://kpn.com/products/SNI-FA" xmlns:ord="http://kpn.com/eai/generic/order/1.0" xmlns:prd="http://kpn.com/products/SNI-FA/accessIntranet/data/v1.0" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://kpn.com/products/SNI-FA/accessIntranet/v1" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://kpn.com/products/SNI-FA/accessIntranet/v1">
<wsdl:documentation>
    Access Intranet functional product

    Version History:
    * 1.0 - Initial version
</wsdl:documentation>
<wsdl:types>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://kpn.com/eai/generic/order/1.0" version="1.0">
  <!-- ================================================== -->
  <!-- =====  Simple Type Definitions  -->
  <!-- ================================================== -->
  <xsd:simpleType name="OrderStatusEnumeration">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="INITIAL"/>
      <xsd:enumeration value="ACCEPTED"/>
      <xsd:enumeration value="REJECTED"/>
      <xsd:enumeration value="ERROR"/>
      <xsd:enumeration value="COMPLETED"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ================================================== -->
  <!-- =====  Complex Type Definitions  -->
  <!-- ================================================== -->
  <xsd:complexType name="Error">
    <xsd:sequence>
      <xsd:element name="code" type="xsd:string"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="detail" type="xsd:string"/>
      <xsd:element name="description" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType abstract="true" name="Order">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="customerOrderId" type="xsd:string"/>
      <xsd:element name="orderDateTime" type="xsd:dateTime"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType abstract="true" name="OrderStatus">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="customerOrderId" type="xsd:string"/>
      <xsd:element name="supplierOrderId" type="xsd:string"/>
      <xsd:element minOccurs="0" name="error" type="ord:Error"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://kpn.com/products/SNI-FA" version="1.0">
  <!-- ================================================== -->
  <!-- =====  Simple Type Definitions  -->
  <!-- ================================================== -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  E_activation  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:simpleType name="E_activation">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Active"/>
      <xsd:enumeration value="Inactive"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  E_callBarringServiceNumbers  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:simpleType name="E_callBarringServiceNumbers">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="0906"/>
      <xsd:enumeration value="0906-0909"/>
      <xsd:enumeration value="0900-0906-0909"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  E_carrierType  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:simpleType name="E_carrierType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="FTTC"/>
      <xsd:enumeration value="FTTH"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  E_keyType  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:simpleType name="E_keyType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="source"/>
      <xsd:enumeration value="target"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  E_orderScenario  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:simpleType name="E_orderScenario">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="New"/>
      <xsd:enumeration value="Migrate"/>
      <xsd:enumeration value="Move"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  E_qualityOfService  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:simpleType name="E_qualityOfService">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Best Effort"/>
      <xsd:enumeration value="Premium"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  E_yesNo  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:simpleType name="E_yesNo">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Y"/>
      <xsd:enumeration value="N"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  T_telephoneNumber  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:simpleType name="T_telephoneNumber">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  T_zipcode  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:simpleType name="T_zipcode">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <!-- ================================================== -->
  <!-- =====  Complex Type Definitions  -->
  <!-- ================================================== -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  SNI-FAOrder  <<order>>  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="SNI-FAOrder">
    <xsd:sequence>
      <xsd:element name="type" type="xsd:string"/>
      <xsd:element name="keyType" type="grp:E_keyType"/>
      <xsd:element name="requesterId" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  SNI-FAOrderItem  <<orderItem>>  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="SNI-FAOrderItem">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="serviceInstanceId" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  SNI-FAOrderStatus  <<orderStatus>>  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="SNI-FAOrderStatus">
    <xsd:sequence>
      <xsd:element name="keyType" type="grp:E_keyType"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  SNI-FAOrderStatusItem  <<orderStatusItem>>  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="SNI-FAOrderStatusItem">
    <xsd:sequence>
      <xsd:element name="serviceInstanceId" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://kpn.com/products/SNI-FA/accessIntranet/data/v1.0" version="1.0">
  <xsd:import namespace="http://kpn.com/eai/generic/order/1.0"/>
  <xsd:import namespace="http://kpn.com/products/SNI-FA"/>
  <!-- ================================================== -->
  <!-- =====  Element Declarations  -->
  <!-- ================================================== -->
  <xsd:element name="accessIntranetcancelRequest" type="prd:accessIntranetcancelRequest"/>
  <xsd:element name="accessIntranetcancelResponse" type="prd:accessIntranetcancelResponse"/>
  <xsd:element name="accessIntranetcreateRequest" type="prd:accessIntranetcreateRequest"/>
  <xsd:element name="accessIntranetcreateResponse" type="prd:accessIntranetcreateResponse"/>
  <xsd:element name="accessIntranetdeleteRequest" type="prd:accessIntranetdeleteRequest"/>
  <xsd:element name="accessIntranetdeleteResponse" type="prd:accessIntranetdeleteResponse"/>
  <xsd:element name="accessIntranetreplanRequest" type="prd:accessIntranetreplanRequest"/>
  <xsd:element name="accessIntranetreplanResponse" type="prd:accessIntranetreplanResponse"/>
  <xsd:element name="accessIntranetupdateRequest" type="prd:accessIntranetupdateRequest"/>
  <xsd:element name="accessIntranetupdateResponse" type="prd:accessIntranetupdateResponse"/>
  <!-- ================================================== -->
  <!-- =====  Simple Type Definitions  -->
  <!-- ================================================== -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  accessIntranetStatusEnum  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:simpleType name="accessIntranetStatusEnum">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Rejected"/>
      <xsd:enumeration value="Accepted"/>
      <xsd:enumeration value="Completed"/>
      <xsd:enumeration value="Failed"/>
      <xsd:enumeration value="Delivered"/>
      <xsd:enumeration value="Planned"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ================================================== -->
  <!-- =====  Complex Type Definitions  -->
  <!-- ================================================== -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  accessIntranetcancelRequest  <<xsdGen>>  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="accessIntranetcancelRequest">
    <xsd:complexContent>
      <xsd:extension base="ord:Order">
        <xsd:sequence>
          <xsd:element name="OrderParameters" type="grp:SNI-FAOrder"/>
          <xsd:element name="OrderItem" type="prd:accessIntranetcancelRequestItem"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  accessIntranetcancelRequestItem  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="accessIntranetcancelRequestItem">
    <xsd:complexContent>
      <xsd:extension base="grp:SNI-FAOrderItem">
        <xsd:sequence>
          <xsd:element name="Parameters" type="prd:cancelRequest"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  accessIntranetcancelResponse  <<xsdGen>>  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="accessIntranetcancelResponse">
    <xsd:complexContent>
      <xsd:extension base="ord:OrderStatus">
        <xsd:sequence>
          <xsd:element name="status" type="prd:accessIntranetStatusEnum"/>
          <xsd:element name="OrderStatusParameters" type="grp:SNI-FAOrderStatus"/>
          <xsd:element name="OrderItem" type="prd:accessIntranetcancelResponseItem"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  accessIntranetcancelResponseItem  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="accessIntranetcancelResponseItem">
    <xsd:complexContent>
      <xsd:extension base="grp:SNI-FAOrderStatusItem">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="Parameters" type="prd:cancelResponse"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  accessIntranetcreateRequest  <<xsdGen>>  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="accessIntranetcreateRequest">
    <xsd:complexContent>
      <xsd:extension base="ord:Order">
        <xsd:sequence>
          <xsd:element name="OrderParameters" type="grp:SNI-FAOrder"/>
          <xsd:element name="OrderItem" type="prd:accessIntranetcreateRequestItem"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  accessIntranetcreateRequestItem  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="accessIntranetcreateRequestItem">
    <xsd:complexContent>
      <xsd:extension base="grp:SNI-FAOrderItem">
        <xsd:sequence>
          <xsd:element name="Parameters" type="prd:createRequest"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  accessIntranetcreateResponse  <<xsdGen>>  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="accessIntranetcreateResponse">
    <xsd:complexContent>
      <xsd:extension base="ord:OrderStatus">
        <xsd:sequence>
          <xsd:element name="status" type="prd:accessIntranetStatusEnum"/>
          <xsd:element name="OrderStatusParameters" type="grp:SNI-FAOrderStatus"/>
          <xsd:element name="OrderItem" type="prd:accessIntranetcreateResponseItem"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  accessIntranetcreateResponseItem  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="accessIntranetcreateResponseItem">
    <xsd:complexContent>
      <xsd:extension base="grp:SNI-FAOrderStatusItem">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="Parameters" type="prd:createResponse"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  accessIntranetdeleteRequest  <<xsdGen>>  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="accessIntranetdeleteRequest">
    <xsd:complexContent>
      <xsd:extension base="ord:Order">
        <xsd:sequence>
          <xsd:element name="OrderParameters" type="grp:SNI-FAOrder"/>
          <xsd:element name="OrderItem" type="prd:accessIntranetdeleteRequestItem"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  accessIntranetdeleteRequestItem  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="accessIntranetdeleteRequestItem">
    <xsd:complexContent>
      <xsd:extension base="grp:SNI-FAOrderItem">
        <xsd:sequence>
          <xsd:element name="Parameters" type="prd:deleteRequest"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  accessIntranetdeleteResponse  <<xsdGen>>  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="accessIntranetdeleteResponse">
    <xsd:complexContent>
      <xsd:extension base="ord:OrderStatus">
        <xsd:sequence>
          <xsd:element name="status" type="prd:accessIntranetStatusEnum"/>
          <xsd:element name="OrderStatusParameters" type="grp:SNI-FAOrderStatus"/>
          <xsd:element name="OrderItem" type="prd:accessIntranetdeleteResponseItem"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  accessIntranetdeleteResponseItem  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="accessIntranetdeleteResponseItem">
    <xsd:complexContent>
      <xsd:extension base="grp:SNI-FAOrderStatusItem">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="Parameters" type="prd:deleteResponse"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  accessIntranetreplanRequest  <<xsdGen>>  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="accessIntranetreplanRequest">
    <xsd:complexContent>
      <xsd:extension base="ord:Order">
        <xsd:sequence>
          <xsd:element name="OrderParameters" type="grp:SNI-FAOrder"/>
          <xsd:element name="OrderItem" type="prd:accessIntranetreplanRequestItem"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  accessIntranetreplanRequestItem  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="accessIntranetreplanRequestItem">
    <xsd:complexContent>
      <xsd:extension base="grp:SNI-FAOrderItem">
        <xsd:sequence>
          <xsd:element name="Parameters" type="prd:replanRequest"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  accessIntranetreplanResponse  <<xsdGen>>  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="accessIntranetreplanResponse">
    <xsd:complexContent>
      <xsd:extension base="ord:OrderStatus">
        <xsd:sequence>
          <xsd:element name="status" type="prd:accessIntranetStatusEnum"/>
          <xsd:element name="OrderStatusParameters" type="grp:SNI-FAOrderStatus"/>
          <xsd:element name="OrderItem" type="prd:accessIntranetreplanResponseItem"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  accessIntranetreplanResponseItem  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="accessIntranetreplanResponseItem">
    <xsd:complexContent>
      <xsd:extension base="grp:SNI-FAOrderStatusItem">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="Parameters" type="prd:replanResponse"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  accessIntranetupdateRequest  <<xsdGen>>  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="accessIntranetupdateRequest">
    <xsd:complexContent>
      <xsd:extension base="ord:Order">
        <xsd:sequence>
          <xsd:element name="OrderParameters" type="grp:SNI-FAOrder"/>
          <xsd:element name="OrderItem" type="prd:accessIntranetupdateRequestItem"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  accessIntranetupdateRequestItem  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="accessIntranetupdateRequestItem">
    <xsd:complexContent>
      <xsd:extension base="grp:SNI-FAOrderItem">
        <xsd:sequence>
          <xsd:element name="Parameters" type="prd:updateRequest"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  accessIntranetupdateResponse  <<xsdGen>>  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="accessIntranetupdateResponse">
    <xsd:complexContent>
      <xsd:extension base="ord:OrderStatus">
        <xsd:sequence>
          <xsd:element name="status" type="prd:accessIntranetStatusEnum"/>
          <xsd:element name="OrderStatusParameters" type="grp:SNI-FAOrderStatus"/>
          <xsd:element name="OrderItem" type="prd:accessIntranetupdateResponseItem"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  accessIntranetupdateResponseItem  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="accessIntranetupdateResponseItem">
    <xsd:complexContent>
      <xsd:extension base="grp:SNI-FAOrderStatusItem">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="Parameters" type="prd:updateResponse"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  cancelRequest  <<actionRequest>>  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="cancelRequest">
    <xsd:sequence>
      <xsd:element name="refOrderId" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  cancelResponse  <<actionResponse>>  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="cancelResponse">
    <xsd:sequence>
      <xsd:element name="refOrderId" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  createRequest  <<actionRequest>>  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="createRequest">
    <xsd:sequence>
      <xsd:element name="fpIdSpTemplate" type="xsd:string"/>
      <xsd:element minOccurs="0" name="fpIdAccessIntranet" type="xsd:string"/>
      <xsd:element name="spFpIdUser" type="xsd:string"/>
      <xsd:element name="contactTelephoneNumber" type="xsd:string"/>
      <xsd:element name="contactName" type="xsd:string"/>
      <xsd:element name="accessZipcode" type="xsd:string"/>
      <xsd:element name="accessHouseNr" type="xsd:string"/>
      <xsd:element minOccurs="0" name="accessHouseNrExt" type="xsd:string"/>
      <xsd:element name="adminCheck" type="xsd:boolean"/>
      <xsd:element minOccurs="0" name="appointmentId" type="xsd:string"/>
      <xsd:element name="carrierType" type="xsd:string"/>
      <xsd:element minOccurs="0" name="israSpecs" type="xsd:string"/>
      <xsd:element name="orderScenario" type="xsd:string"/>
      <xsd:element minOccurs="0" name="referenceTelephoneNumber" type="xsd:string"/>
      <xsd:element minOccurs="0" name="wishDate" type="xsd:dateTime"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  createResponse  <<actionResponse>>  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="createResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="fpIdAccessIntranet" type="xsd:string"/>
      <xsd:element minOccurs="0" name="plannedDate" type="xsd:dateTime"/>
      <xsd:element minOccurs="0" name="manufacturer" type="xsd:string"/>
      <xsd:element minOccurs="0" name="modelName" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  deleteRequest  <<actionRequest>>  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="deleteRequest">
    <xsd:sequence>
      <xsd:element name="fpIdAccessIntranet" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  deleteResponse  <<actionResponse>>  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="deleteResponse">
    <xsd:sequence>
      <xsd:element name="fpIdAccessIntranet" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  replanRequest  <<actionRequest>>  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="replanRequest">
    <xsd:sequence>
      <xsd:element name="refOrderId" type="xsd:string"/>
      <xsd:element name="planDate" type="xsd:dateTime"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  replanResponse  <<actionResponse>>  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="replanResponse">
    <xsd:sequence>
      <xsd:element name="refOrderId" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  updateRequest  <<actionRequest>>  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="updateRequest">
    <xsd:sequence>
      <xsd:element name="fpIdAccessIntranet" type="xsd:string"/>
      <xsd:element name="fpIdUserNew" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  updateResponse  <<actionResponse>>  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="updateResponse">
    <xsd:sequence>
      <xsd:element name="fpIdAccessIntranet" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
</wsdl:types>
<wsdl:message name="cancelStatusUpdateRequest">
<wsdl:part element="prd:accessIntranetcancelResponse" name="accessIntranetcancelStatusUpdateRequest"/>
</wsdl:message>
<wsdl:message name="replanStatusUpdateRequest">
<wsdl:part element="prd:accessIntranetreplanResponse" name="accessIntranetreplanStatusUpdateRequest"/>
</wsdl:message>
<wsdl:message name="replanRequest">
<wsdl:part element="prd:accessIntranetreplanRequest" name="accessIntranetreplanRequest"/>
</wsdl:message>
<wsdl:message name="Error">
<wsdl:part name="Error" type="ord:Error"/>
</wsdl:message>
<wsdl:message name="createStatusUpdateRequest">
<wsdl:part element="prd:accessIntranetcreateResponse" name="accessIntranetcreateStatusUpdateRequest"/>
</wsdl:message>
<wsdl:message name="createRequest">
<wsdl:part element="prd:accessIntranetcreateRequest" name="accessIntranetcreateRequest"/>
</wsdl:message>
<wsdl:message name="updateStatusUpdateRequest">
<wsdl:part element="prd:accessIntranetupdateResponse" name="accessIntranetupdateStatusUpdateRequest"/>
</wsdl:message>
<wsdl:message name="cancelRequest">
<wsdl:part element="prd:accessIntranetcancelRequest" name="accessIntranetcancelRequest"/>
</wsdl:message>
<wsdl:message name="deleteRequest">
<wsdl:part element="prd:accessIntranetdeleteRequest" name="accessIntranetdeleteRequest"/>
</wsdl:message>
<wsdl:message name="deleteStatusUpdateRequest">
<wsdl:part element="prd:accessIntranetdeleteResponse" name="accessIntranetdeleteStatusUpdateRequest"/>
</wsdl:message>
<wsdl:message name="updateRequest">
<wsdl:part element="prd:accessIntranetupdateRequest" name="accessIntranetupdateRequest"/>
</wsdl:message>
<wsdl:portType name="accessIntranetCallbackServices">
<wsdl:operation name="replanStatusUpdate">
<wsdl:input message="tns:replanStatusUpdateRequest" name="replanStatusUpdateRequest"/>
</wsdl:operation>
<wsdl:operation name="createStatusUpdate">
<wsdl:input message="tns:createStatusUpdateRequest" name="createStatusUpdateRequest"/>
</wsdl:operation>
<wsdl:operation name="cancelStatusUpdate">
<wsdl:input message="tns:cancelStatusUpdateRequest" name="cancelStatusUpdateRequest"/>
</wsdl:operation>
<wsdl:operation name="deleteStatusUpdate">
<wsdl:input message="tns:deleteStatusUpdateRequest" name="deleteStatusUpdateRequest"/>
</wsdl:operation>
<wsdl:operation name="updateStatusUpdate">
<wsdl:input message="tns:updateStatusUpdateRequest" name="updateStatusUpdateRequest"/>
</wsdl:operation>
</wsdl:portType>
<wsdl:portType name="accessIntranetServices">
<wsdl:operation name="create">
<wsdl:input message="tns:createRequest" name="createRequest"/>
</wsdl:operation>
<wsdl:operation name="update">
<wsdl:input message="tns:updateRequest" name="updateRequest"/>
</wsdl:operation>
<wsdl:operation name="replan">
<wsdl:input message="tns:replanRequest" name="replanRequest"/>
</wsdl:operation>
<wsdl:operation name="delete">
<wsdl:input message="tns:deleteRequest" name="deleteRequest"/>
</wsdl:operation>
<wsdl:operation name="cancel">
<wsdl:input message="tns:cancelRequest" name="cancelRequest"/>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="accessIntranetCallbackBindingSOAP" type="tns:accessIntranetCallbackServices">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="replanStatusUpdate">
<soap:operation soapAction="SNI-FA_accessIntranet_1.0_replan_Asynchronous" style="document"/>
<wsdl:input name="replanStatusUpdateRequest">
<soap:body use="literal"/>
</wsdl:input>
</wsdl:operation>
<wsdl:operation name="createStatusUpdate">
<soap:operation soapAction="SNI-FA_accessIntranet_1.0_create_Asynchronous" style="document"/>
<wsdl:input name="createStatusUpdateRequest">
<soap:body use="literal"/>
</wsdl:input>
</wsdl:operation>
<wsdl:operation name="cancelStatusUpdate">
<soap:operation soapAction="SNI-FA_accessIntranet_1.0_cancel_Asynchronous" style="document"/>
<wsdl:input name="cancelStatusUpdateRequest">
<soap:body use="literal"/>
</wsdl:input>
</wsdl:operation>
<wsdl:operation name="deleteStatusUpdate">
<soap:operation soapAction="SNI-FA_accessIntranet_1.0_delete_Asynchronous" style="document"/>
<wsdl:input name="deleteStatusUpdateRequest">
<soap:body use="literal"/>
</wsdl:input>
</wsdl:operation>
<wsdl:operation name="updateStatusUpdate">
<soap:operation soapAction="SNI-FA_accessIntranet_1.0_update_Asynchronous" style="document"/>
<wsdl:input name="updateStatusUpdateRequest">
<soap:body use="literal"/>
</wsdl:input>
</wsdl:operation>
</wsdl:binding>
<wsdl:binding name="accessIntranetBindingSOAP" type="tns:accessIntranetServices">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="create">
<soap:operation soapAction="SNI-FA_accessIntranet_1.0_create_Asynchronous" style="document"/>
<wsdl:input name="createRequest">
<soap:body use="literal"/>
</wsdl:input>
</wsdl:operation>
<wsdl:operation name="update">
<soap:operation soapAction="SNI-FA_accessIntranet_1.0_update_Asynchronous" style="document"/>
<wsdl:input name="updateRequest">
<soap:body use="literal"/>
</wsdl:input>
</wsdl:operation>
<wsdl:operation name="replan">
<soap:operation soapAction="SNI-FA_accessIntranet_1.0_replan_Asynchronous" style="document"/>
<wsdl:input name="replanRequest">
<soap:body use="literal"/>
</wsdl:input>
</wsdl:operation>
<wsdl:operation name="delete">
<soap:operation soapAction="SNI-FA_accessIntranet_1.0_delete_Asynchronous" style="document"/>
<wsdl:input name="deleteRequest">
<soap:body use="literal"/>
</wsdl:input>
</wsdl:operation>
<wsdl:operation name="cancel">
<soap:operation soapAction="SNI-FA_accessIntranet_1.0_cancel_Asynchronous" style="document"/>
<wsdl:input name="cancelRequest">
<soap:body use="literal"/>
</wsdl:input>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="accessIntranet">
<wsdl:port binding="tns:accessIntranetBindingSOAP" name="accessIntranetServices">
<soap:address location="http://localhost:8080/path/accessIntranetServices"/>
</wsdl:port>
<wsdl:port binding="tns:accessIntranetCallbackBindingSOAP" name="accessIntranetCallbackServices">
<soap:address location="http://localhost:8080/path/accessIntranetCallbackServices"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>
