Clever/CLEverSource/CLEverCore - Oracle/Processes/FrontendServices/Configuration/HistoryRetain/HistoryRetain.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://www.tibco.com/CLEver/Configuration/HistoryRetain" xmlns:ns2="http://www.tibco.com/CLEver/FrontendServices/Configuration/HistoryRetain/HistoryRetainInterfaceSpecs" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.tibco.com/CLEver/Configuration/HistoryRetain" xmlns:ns3="http://www.tibco.com/CLEver/InternalException">
    <import location="HistoryRetainInterfaceSpecs.xsd" namespace="http://www.tibco.com/CLEver/FrontendServices/Configuration/HistoryRetain/HistoryRetainInterfaceSpecs"/>
	<import location="../../../../Shared Resources/Schema Definitions/CLEver/Error.xsd" namespace="http://www.tibco.com/CLEver/InternalException"/>
    <message name="Create_HistoryRetain_Input">
        <part element="ns2:Create_HistoryRetain_Input" name="part1"/>
    </message>
    <message name="Create_HistoryRetain_Output">
        <part element="ns2:Create_HistoryRetain_Output" name="part1"/>
    </message>
    <message name="Update_HistoryRetain_Input">
        <part element="ns2:Update_HistoryRetain_Input" name="part1"/>
    </message>
    <message name="Update_HistoryRetain_Output">
        <part element="ns2:Update_HistoryRetain_Output" name="part1"/>
    </message>
    <message name="Delete_HistoryRetain_Input">
        <part element="ns2:Delete_HistoryRetain_Input" name="part1"/>
    </message>
    <message name="Delete_HistoryRetain_Output">
        <part element="ns2:Delete_HistoryRetain_Output" name="part1"/>
    </message>
    <message name="Retrieve_HistoryRetain_Input">
        <part element="ns2:Retrieve_HistoryRetain_Input" name="part1"/>
    </message>
    <message name="Retrieve_HistoryRetain_Output">
        <part element="ns2:Retrieve_HistoryRetain_Output" name="part1"/>
    </message>
    <message name="Retrieve_HistoryRetainParameters_Input">
        <part element="ns2:Retrieve_HistoryRetainParameters_Input" name="part1"/>
    </message>
    <message name="Retrieve_HistoryRetainParameters_Output">
        <part element="ns2:Retrieve_HistoryRetainParameters_Output" name="part1"/>
    </message>
    <message name="Exception">
        <part name="part1" element="ns3:ExceptionEnvelope"/>
    </message>
    <portType name="HistoryRetain">
        <operation name="Create">
            <input message="ns:Create_HistoryRetain_Input"/>
            <output message="ns:Create_HistoryRetain_Output"/>
			<fault name="fault1" message="ns:Exception"/>
        </operation>
        <operation name="Update">
            <input message="ns:Update_HistoryRetain_Input"/>
            <output message="ns:Update_HistoryRetain_Output"/>
			<fault name="fault1" message="ns:Exception"/>
        </operation>
        <operation name="Delete">
            <input message="ns:Delete_HistoryRetain_Input"/>
            <output message="ns:Delete_HistoryRetain_Output"/>
			<fault name="fault1" message="ns:Exception"/>
        </operation>
        <operation name="Retrieve">
            <input message="ns:Retrieve_HistoryRetain_Input"/>
            <output message="ns:Retrieve_HistoryRetain_Output"/>
			<fault name="fault1" message="ns:Exception"/>
        </operation>
        <operation name="RetrieveParameters">
            <input message="ns:Retrieve_HistoryRetainParameters_Input"/>
            <output message="ns:Retrieve_HistoryRetainParameters_Output"/>
			<fault name="fault1" message="ns:Exception"/>
        </operation>
    </portType>
</definitions>