Clever/CLEverSource/CLEverCore - Oracle/Processes/FrontendServices/Configuration/BusinessDomain/BusinessDomain.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://www.tibco.com/CLEver/Configuration/BusinessDomain" xmlns:ns2="http://www.tibco.com/CLEver/FrontendServices/Configuration/BusinessDomain/BusinessDomainInterfaceSpecs" xmlns:ns3="http://www.tibco.com/CLEver/InternalException" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.tibco.com/CLEver/Configuration/BusinessDomain">
    <import location="BusinessDomainInterfaceSpecs.xsd" namespace="http://www.tibco.com/CLEver/FrontendServices/Configuration/BusinessDomain/BusinessDomainInterfaceSpecs"/>
    <import location="../../../../Shared Resources/Schema Definitions/CLEver/Error.xsd" namespace="http://www.tibco.com/CLEver/InternalException"/>
    <message name="Create_BusinessDomain_Input">
        <part element="ns2:Create_BusinessDomain_Input" name="part1"/>
    </message>
    <message name="Create_BusinessDomain_Output">
        <part element="ns2:Create_BusinessDomain_Output" name="part1"/>
    </message>
    <message name="Update_BusinessDomain_Input">
        <part element="ns2:Update_BusinessDomain_Input" name="part1"/>
    </message>
    <message name="Update_BusinessDomain_Output">
        <part element="ns2:Update_BusinessDomain_Output" name="part1"/>
    </message>
    <message name="Delete_BusinessDomain_Input">
        <part element="ns2:Delete_BusinessDomain_Input" name="part1"/>
    </message>
    <message name="Delete_BusinessDomain_Output">
        <part element="ns2:Delete_BusinessDomain_Output" name="part1"/>
    </message>
    <message name="Retrieve_BusinessDomain_Input">
        <part element="ns2:Retrieve_BusinessDomain_Input" name="part1"/>
    </message>
    <message name="Retrieve_BusinessDomain_Output">
        <part element="ns2:Retrieve_BusinessDomain_Output" name="part1"/>
    </message>
    <message name="Retrieve_BusinessDomainParameters_Input">
        <part element="ns2:Retrieve_BusinessDomainParameters_Input" name="part1"/>
    </message>
    <message name="Retrieve_BusinessDomainParameters_Output">
        <part element="ns2:Retrieve_BusinessDomainParameters_Output" name="part1"/>
    </message>
    <message name="Exception">
        <part element="ns3:ExceptionEnvelope" name="part1"/>
    </message>
    <portType name="BusinessDomain">
        <operation name="Create">
            <input message="ns:Create_BusinessDomain_Input"/>
            <output message="ns:Create_BusinessDomain_Output"/>
            <fault name="fault1" message="ns:Exception"/>
        </operation>
        <operation name="Update">
            <input message="ns:Update_BusinessDomain_Input"/>
            <output message="ns:Update_BusinessDomain_Output"/>
            <fault name="fault1" message="ns:Exception"/>
        </operation>
        <operation name="Delete">
            <input message="ns:Delete_BusinessDomain_Input"/>
            <output message="ns:Delete_BusinessDomain_Output"/>
            <fault name="fault1" message="ns:Exception"/>
        </operation>
        <operation name="Retrieve">
            <input message="ns:Retrieve_BusinessDomain_Input"/>
            <output message="ns:Retrieve_BusinessDomain_Output"/>
            <fault name="fault1" message="ns:Exception"/>
        </operation>
        <operation name="RetrieveParameters">
            <input message="ns:Retrieve_BusinessDomainParameters_Input"/>
            <output message="ns:Retrieve_BusinessDomainParameters_Output"/>
            <fault name="fault1" message="ns:Exception"/>
        </operation>
    </portType>
</definitions>