xAuthorityAdapter/xAuthorityAdapter/XSDSchemas/xAuthority/deleteDevice.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid XML Studio 0.9.13.0 (http://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="message">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="enterpriseId" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="siteId" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="deviceType" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="manufacturerOUI" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="serialNumber" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" fixed="High" name="firewallLevel" type="xs:string" />
      </xs:sequence>
      <xs:attribute fixed="delete" name="type" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string" />
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
</xs:schema>