EDTAdapter/XSDSchemas/EDTAdapter/Request/GetLineMeasurementUpdate.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.example.com/unique/default/namespace/1088423908924"
	 targetNamespace = "http://xmlns.example.com/unique/default/namespace/1088423908924"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 xmlns:Base.xsd = "http://xmlns.kpn.com/common/cdm/Base.xsd"
	 xmlns:ResultStatus.xsd = "http://xmlns.kpn.com/common/cdm/ResultStatus.xsd"
	 xmlns:LineMeasurementReport.xsd = "http://xmlns.example.com/unique/default/namespace/1087976529514"
	 elementFormDefault = "qualified">
	<xsd:import namespace = "http://xmlns.kpn.com/common/cdm/Base.xsd" schemaLocation = "../../Common/Base.xsd"/>
	<xsd:import namespace = "http://xmlns.kpn.com/common/cdm/ResultStatus.xsd" schemaLocation = "../../Common/ResultStatus.xsd"/>
	<xsd:import namespace = "http://xmlns.example.com/unique/default/namespace/1087976529514" schemaLocation = "../../VierTELAdapter/Common/LineMeasurementReport.xsd"/>
	<xsd:element name = "GetLineMeasurementUpdate">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base = "Base.xsd:Base">
					<xsd:sequence>
						<xsd:element name = "LINE_MEASUREMENT_REPORT" type = "LineMeasurementReport.xsd:LineMeasurementReport" minOccurs = "0"/>
						<xsd:element name = "RESULT_STATUS" type = "ResultStatus.xsd:ResultStatus"/>
					</xsd:sequence>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
