EDTAdapter/XSDSchemas/EDTAdapter/Request/UpdateTicketStatus.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.example.com/unique/default/namespace/1088423352744"
	 targetNamespace = "http://xmlns.example.com/unique/default/namespace/1088423352744"
	 xmlns:Base.xsd = "http://xmlns.kpn.com/common/cdm/Base.xsd"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 xmlns:ResultStatus.xsd = "http://xmlns.kpn.com/common/cdm/ResultStatus.xsd"
	 elementFormDefault = "qualified">
	<xsd:import namespace = "http://xmlns.kpn.com/common/cdm/Base.xsd" schemaLocation = "../../Common/Base.xsd"/>
	<xsd:import namespace = "http://xmlns.kpn.com/common/cdm/ResultStatus.xsd" schemaLocation = "../../Common/ResultStatus.xsd"/>
	<xsd:element name = "UpdateTicketStatus">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base = "Base.xsd:Base">
					<xsd:sequence>
						<xsd:element name = "RESULT_STATUS" type = "ResultStatus.xsd:ResultStatus"/>
						<xsd:element name = "CUSTOMER_REF_NO" type = "xsd:string" minOccurs = "0"/>
						<xsd:element name = "ACCEPT_DATE_TIME" type = "xsd:dateTime" minOccurs = "0"/>
						<xsd:element name = "MM007_SERVICE_ID" type = "xsd:string" minOccurs = "0"/>
						<xsd:element name = "MM007_SOURCE" type = "xsd:string" minOccurs = "0"/>
						<xsd:element name = "MM007_TARGET" type = "xsd:string" minOccurs = "0"/>
						<xsd:element name = "EXTERNAL_CUSTOMER_REF_NO" type = "xsd:string" minOccurs = "0"/>
					</xsd:sequence>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
