ASTRIDAdapter/XSDSchemas/NIMAllIPAdapter/Request/0288_GetDslamInfo_1.0_Request_EAI_BUS_SIDE.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://xmlns.kpn.com/EAI/fixed/0288_GetDslamInfo/1.0/Request" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xmlns.kpn.com/EAI/fixed/0288_GetDslamInfo/1.0/Request"
elementFormDefault="qualified"
attributeFormDefault="qualified">
	<xs:simpleType name="dslamInformationType_type">
		<xs:restriction base="xs:string">
			<xs:annotation>
				<xs:documentation>Type of request. Enumeration  of the listed requests. 

Type:
String</xs:documentation>
				<xs:documentation>Default value is:''</xs:documentation>
				<xs:documentation>1000 length string limitation added by KPN EAI defaults.Increase size in Rose if required.</xs:documentation>
			</xs:annotation>
			<xs:maxLength value="1000"/>
			<xs:enumeration value="cardInfo"/>
			<xs:enumeration value="cardStatus"/>
			<xs:enumeration value="nodeInfo"/>
			<xs:enumeration value="nodePortOdfInfo"/>
			<xs:enumeration value="nodeStatus"/>
			<xs:enumeration value="portInfo"/>
			<xs:enumeration value="portStatus"/>
			<xs:enumeration value="shelfStatus"/>
			<xs:enumeration value="serviceInfo"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="nodeName_type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="50"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ServiceID_type">
		<xs:restriction base="xs:string">
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="portPosition_type">
		<xs:annotation>
			<xs:documentation>Indentifier of the PORT as known in EMS</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="14"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="portType_type">
		<xs:annotation>
			<xs:documentation>Port type: UNI or NNI</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="50"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ipAddressFormat_type">
		<xs:restriction base="xs:integer"/>
	</xs:simpleType>
	<xs:simpleType name="portId_type">
		<xs:annotation>
			<xs:documentation>Indentifier of the ODF port as registered in EMS</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="11"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="BODY">
		<xs:annotation>
			<xs:documentation>This is the BODY object for KPN EAI service number 0288 - GetDslamInfo version 1.0 Request message.</xs:documentation>
			<xs:documentation>Automatically generated schema for service:'GetDslamInfo', version:'1.0'</xs:documentation>
			<xs:documentation>Generated on 2007-06-14 12:18:01Z</xs:documentation>
			<xs:documentation>Service paradigm is intended to be Invalid paradigm</xs:documentation>
			<xs:documentation>Service ID is:'0288'</xs:documentation>
			<xs:documentation>The body must always have MinOccurs=0 and MaxOccurs=1, by definition of KPN EAI AG. (For request messages this has no apparent benefit)</xs:documentation>
			<xs:documentation>KPN EAI message body class.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:annotation>
					<xs:documentation>Artificial sequence to separate.</xs:documentation>
				</xs:annotation>
				<xs:element name="DSLAM" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:annotation>
								<xs:documentation>Artificial sequence to separate.</xs:documentation>
							</xs:annotation>
							<xs:element name="NODE" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:annotation>
											<xs:documentation>Artificial sequence to separate.</xs:documentation>
										</xs:annotation>
										<xs:element name="RACK" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:annotation>
														<xs:documentation>Artificial sequence to separate.</xs:documentation>
													</xs:annotation>
													<xs:element name="SHELF" minOccurs="0">
														<xs:complexType>
															<xs:sequence>
																<xs:annotation>
																	<xs:documentation>Artificial sequence to separate.</xs:documentation>
																</xs:annotation>
																<xs:element name="SLOT" minOccurs="0">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:annotation>
																				<xs:documentation>Artificial sequence to separate.</xs:documentation>
																			</xs:annotation>
																			<xs:element name="CARD" minOccurs="0">
																				<xs:complexType>
																					<xs:sequence>
																						<xs:annotation>
																							<xs:documentation>Artificial sequence to separate.</xs:documentation>
																						</xs:annotation>
																						<xs:element name="PHYSICAL_PORT" minOccurs="0">
																							<xs:complexType>
																								<xs:sequence>
																									<xs:annotation>
																										<xs:documentation>Artificial sequence to separate.</xs:documentation>
																									</xs:annotation>
																									<xs:element name="PORT_ID" type="tns:portPosition_type" minOccurs="0">
																										<xs:annotation>
																											<xs:documentation>Indentifier of the PORT as known in EMS</xs:documentation>
																										</xs:annotation>
																									</xs:element>
																									<xs:element name="PORT_TYPE" type="tns:portType_type" minOccurs="0">
																										<xs:annotation>
																											<xs:documentation>Port type: UNI or NNI</xs:documentation>
																											<xs:documentation>Default (autogenerated) min and max occurs values.</xs:documentation>
																										</xs:annotation>
																									</xs:element>
																								</xs:sequence>
																							</xs:complexType>
																						</xs:element>
																						<xs:element name="CARD_ID" type="xs:string" minOccurs="0">
																							<xs:annotation>
																								<xs:documentation>Identifier of the CARD as known in EMS</xs:documentation>
																							</xs:annotation>
																						</xs:element>
																					</xs:sequence>
																				</xs:complexType>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
																<xs:element name="SHELF_ID" type="xs:string" minOccurs="0">
																	<xs:annotation>
																		<xs:documentation>Identifier of a shelf as known in EMS</xs:documentation>
																	</xs:annotation>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="RACK_ID" type="xs:string" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Identifier of a rack as known in EMS</xs:documentation>
														</xs:annotation>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="IP_ADDRESS" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:annotation>
														<xs:documentation>Artificial sequence to separate.</xs:documentation>
													</xs:annotation>
													<xs:element name="IP_ADDRESS_VALUE" type="xs:string" minOccurs="0"/>
													<xs:element name="IP_ADDRESS_FORMAT" type="tns:ipAddressFormat_type" minOccurs="0"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="PORT" minOccurs="0">
											<xs:annotation>
												<xs:documentation>ODF Port</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:annotation>
														<xs:documentation>Artificial sequence to separate.</xs:documentation>
													</xs:annotation>
													<xs:element name="PORT_TYPE" type="tns:portType_type" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Port type: ODF</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="PORT_ID" type="tns:portId_type" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Indentifier of the ODF port as registered in EMS</xs:documentation>
														</xs:annotation>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="SERVICE" minOccurs="0">
										    <xs:complexType>
										        <xs:sequence>
										            <xs:element name="SERVICE_ID" type="tns:ServiceID_type"/>
										        </xs:sequence>
										    </xs:complexType>
										</xs:element>
										<xs:element name="NODE_NAME" type="tns:nodeName_type" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="DSLAM_INFORMATION_TYPE" type="tns:dslamInformationType_type"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
