EClipsAdapter/WSDL/EcnsPortingServices.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2006 sp2 U (http://www.altova.com) by Gerrit (Atos Origin Nederland B.V.) -->
<!--Created by TIBCO WSDL-->
<!-- WSDL Version: 1.0 (29-11-2006), Imro Wittenberg, Initial version -->
<wsdl:definitions xmlns:ecnsxs="EcPsXsd_V0.2" xmlns:ecpsws="http://webservices.kpn-lls.com/V0.2/EcnsPortingServices.wsdl" xmlns:ns1="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservices.kpn-lls.com/V0.2/EcnsPortingServices.wsdl" name="Untitled">
	<wsdl:import namespace="EcPsXsd_V0.2" location="EcnsPortingServices.xsd"/>
	<wsdl:message name="StartPortingRequestReqMsg">
		<wsdl:part name="StartPortingRequestReqPart" element="ecnsxs:EcnsStartPortingRequestReq"/>
	</wsdl:message>
	<wsdl:message name="StartPortingRequestRespMsg">
		<wsdl:part name="StartPortingRequestRespPart" element="ecnsxs:EcnsStartPortingRequestResp"/>
	</wsdl:message>
	<wsdl:message name="ReceiveHandoverReqMsg">
		<wsdl:part name="ReceiveHandoverReqPart" element="ecnsxs:EcnsReceiveHandoverReq"/>
	</wsdl:message>
	<wsdl:message name="ReceiveHandoverRespMsg">
		<wsdl:part name="ReceiveHandoverRespPart" element="ecnsxs:EcnsReceiveHandoverResp"/>
	</wsdl:message>
	<wsdl:message name="StartDeactivationReqMsg">
		<wsdl:part name="StartDeactivationReqPart" element="ecnsxs:EcnsStartDeactivationReq"/>
	</wsdl:message>
	<wsdl:message name="StartDeactivationRespMsg">
		<wsdl:part name="StartDeactivationRespPart" element="ecnsxs:EcnsStartDeactivationResp"/>
	</wsdl:message>
	<wsdl:message name="ReceiveDeactivationReqMsg">
		<wsdl:part name="ReceiveDeactivationReqPart" element="ecnsxs:EcnsReceiveDeactivationReq"/>
	</wsdl:message>
	<wsdl:message name="ReceiveDeactivationRespMsg">
		<wsdl:part name="ReceiveDeactivationRespPart" element="ecnsxs:EcnsReceiveDeactivationResp"/>
	</wsdl:message>
	<wsdl:message name="StartPlannedDeactivationReqMsg">
		<wsdl:part name="StartPlannedDeactivationReqPart" element="ecnsxs:EcnsStartPlannedDeactivationReq"/>
	</wsdl:message>
	<wsdl:message name="StartPlannedDeactivationRespMsg">
		<wsdl:part name="StartPlannedDeactivationRespPart" element="ecnsxs:EcnsStartPlannedDeactivationResp"/>
	</wsdl:message>
	<wsdl:message name="ReceivePlannedDeactivationReqMsg">
		<wsdl:part name="ReceivePlannedDeactivationReqPart" element="ecnsxs:EcnsReceivePlannedDeactivationReq"/>
	</wsdl:message>
	<wsdl:message name="ReceivePlannedDeactivationRespMsg">
		<wsdl:part name="ReceivePlannedDeactivationRespPart" element="ecnsxs:EcnsReceivePlannedDeactivationResp"/>
	</wsdl:message>
	<wsdl:message name="StartPlannedActivationReqMsg">
		<wsdl:part name="StartPlannedActivationReqPart" element="ecnsxs:EcnsStartPlannedActivationReq"/>
	</wsdl:message>
	<wsdl:message name="StartPlannedActivationRespMsg">
		<wsdl:part name="StartPlannedActivationRespPart" element="ecnsxs:EcnsStartPlannedActivationResp"/>
	</wsdl:message>
	<wsdl:message name="ReceivePortingRequestAnswerReqMsg">
		<wsdl:part name="ReceivePortingRequestAnswerReqPart" element="ecnsxs:EcnsReceivePortingRequestAnswerReq"/>
	</wsdl:message>
	<wsdl:message name="ReceivePortingRequestAnswerRespMsg">
		<wsdl:part name="ReceivePortingRequestAnswerRespPart" element="ecnsxs:EcnsReceivePortingRequestAnswerResp"/>
	</wsdl:message>
	<wsdl:message name="ReceiveChangeRequestAnswerReqMsg">
		<wsdl:part name="ReceiveChangeRequestAnswerReqPart" element="ecnsxs:EcnsReceiveChangeRequestAnswerReq"/>
	</wsdl:message>
	<wsdl:message name="ReceiveChangeRequestAnswerRespMsg">
		<wsdl:part name="ReceiveChangeRequestAnswerRespPart" element="ecnsxs:EcnsReceiveChangeRequestAnswerResp"/>
	</wsdl:message>
	<wsdl:message name="StartPortingSynchronisationReqMsg">
		<wsdl:part name="StartPortingSynchronisationReqPart" element="ecnsxs:EcnsStartPortingSynchronisationReq"/>
	</wsdl:message>
	<wsdl:message name="StartPortingSynchronisationRespMsg">
		<wsdl:part name="StartPortingSynchronisationRespPart" element="ecnsxs:EcnsStartPortingSynchronisationResp"/>
	</wsdl:message>
	<wsdl:message name="StartCancelReqMsg">
		<wsdl:part name="StartCancelReqPart" element="ecnsxs:EcnsStartCancelReq"/>
	</wsdl:message>
	<wsdl:message name="StartCancelRespMsg">
		<wsdl:part name="StartCancelRespPart" element="ecnsxs:EcnsStartCancelResp"/>
	</wsdl:message>
	<wsdl:message name="StartChangeRequestReqMsg">
		<wsdl:part name="StartChangeRequestReqPart" element="ecnsxs:EcnsStartChangeRequestReq"/>
	</wsdl:message>
	<wsdl:message name="StartChangeRequestRespMsg">
		<wsdl:part name="StartChangeRequestRespPart" element="ecnsxs:EcnsStartChangeRequestResp"/>
	</wsdl:message>
	<wsdl:message name="ReceiveHoldReqMsg">
		<wsdl:part name="ReceiveHoldReqPart" element="ecnsxs:EcnsReceiveHoldReq"/>
	</wsdl:message>
	<wsdl:message name="ReceiveHoldRespMsg">
		<wsdl:part name="ReceiveHoldRespPart" element="ecnsxs:EcnsReceiveHoldResp"/>
	</wsdl:message>
	<wsdl:message name="ReceiveCancelReqMsg">
		<wsdl:part name="ReceiveCancelReqPart" element="ecnsxs:EcnsReceiveCancelReq"/>
	</wsdl:message>
	<wsdl:message name="ReceiveCancelRespMsg">
		<wsdl:part name="ReceiveCancelRespPart" element="ecnsxs:EcnsReceiveCancelResp"/>
	</wsdl:message>
	<wsdl:message name="ReceiveChangeRequestReqMsg">
		<wsdl:part name="ReceiveChangeRequestReqPart" element="ecnsxs:EcnsReceiveChangeRequestReq"/>
	</wsdl:message>
	<wsdl:message name="ReceiveChangeRequestRespMsg">
		<wsdl:part name="ReceiveChangeRequestRespPart" element="ecnsxs:EcnsReceiveChangeRequestResp"/>
	</wsdl:message>
	<wsdl:message name="ReceiveSynchronisationReqMsg">
		<wsdl:part name="ReceiveSynchronisationReqPart" element="ecnsxs:EcnsReceiveSynchronisationReq"/>
	</wsdl:message>
	<wsdl:message name="ReceiveSynchronisationRespMsg">
		<wsdl:part name="ReceiveSynchronisationRespPart" element="ecnsxs:EcnsReceiveSynchronisationResp"/>
	</wsdl:message>
	<wsdl:message name="ReceivePortingRequestReqMsg">
		<wsdl:part name="ReceivePortingRequestReqPart" element="ecnsxs:EcnsReceivePortingRequestReq"/>
	</wsdl:message>
	<wsdl:message name="ReceivePortingRequestRespMsg">
		<wsdl:part name="ReceivePortingRequestRespPart" element="ecnsxs:EcnsReceivePortingRequestResp"/>
	</wsdl:message>
	<wsdl:message name="StartChangeRequestAnswerReqMsg">
		<wsdl:part name="StartChangeRequestAnswerReqPart" element="ecnsxs:EcnsStartChangeRequestAnswerReq"/>
	</wsdl:message>
	<wsdl:message name="StartChangeRequestAnswerRespMsg">
		<wsdl:part name="StartChangeRequestAnswerRespPart" element="ecnsxs:EcnsStartChangeRequestAnswerResp"/>
	</wsdl:message>
	<wsdl:message name="StartHandoverReqMsg">
		<wsdl:part name="StartHandoverReqPart" element="ecnsxs:EcnsStartHandoverReq"/>
	</wsdl:message>
	<wsdl:message name="StartHandoverRespMsg">
		<wsdl:part name="StartHandoverRespPart" element="ecnsxs:EcnsStartHandoverResp"/>
	</wsdl:message>
	<wsdl:message name="StartHoldReqMsg">
		<wsdl:part name="StartHoldReqPart" element="ecnsxs:EcnsStartHoldReq"/>
	</wsdl:message>
	<wsdl:message name="StartHoldRespMsg">
		<wsdl:part name="StartHoldRespPart" element="ecnsxs:EcnsStartHoldResp"/>
	</wsdl:message>
	<wsdl:message name="StartPortingRequestAnswerReqMsg">
		<wsdl:part name="StartPortingRequestAnswerReqPart" element="ecnsxs:EcnsStartPortingRequestAnswerReq"/>
	</wsdl:message>
	<wsdl:message name="StartPortingRequestAnswerRespMsg">
		<wsdl:part name="StartPortingRequestAnswerRespPart" element="ecnsxs:EcnsStartPortingRequestAnswerResp"/>
	</wsdl:message>
	<wsdl:portType name="EcnsPortingServices">
		<!-- Definition of KPN's functional operations -->
		<wsdl:operation name="StartPortingRequestOperation">
			<wsdl:input message="ecpsws:StartPortingRequestReqMsg"/>
			<wsdl:output message="ecpsws:StartPortingRequestRespMsg"/>
		</wsdl:operation>
		<wsdl:operation name="ReceiveHandoverOperation">
			<wsdl:input message="ecpsws:ReceiveHandoverReqMsg"/>
			<wsdl:output message="ecpsws:ReceiveHandoverRespMsg"/>
		</wsdl:operation>
		<wsdl:operation name="StartDeactivationOperation">
			<wsdl:input message="ecpsws:StartDeactivationReqMsg"/>
			<wsdl:output message="ecpsws:StartDeactivationRespMsg"/>
		</wsdl:operation>
		<wsdl:operation name="ReceiveDeactivationOperation">
			<wsdl:input message="ecpsws:ReceiveDeactivationReqMsg"/>
			<wsdl:output message="ecpsws:ReceiveDeactivationRespMsg"/>
		</wsdl:operation>
		<wsdl:operation name="StartPlannedDeactivationOperation">
			<wsdl:input message="ecpsws:StartPlannedDeactivationReqMsg"/>
			<wsdl:output message="ecpsws:StartPlannedDeactivationRespMsg"/>
		</wsdl:operation>
		<wsdl:operation name="ReceivePlannedDeactivationOperation">
			<wsdl:input message="ecpsws:ReceivePlannedDeactivationReqMsg"/>
			<wsdl:output message="ecpsws:ReceivePlannedDeactivationRespMsg"/>
		</wsdl:operation>
		<wsdl:operation name="StartPlannedActivationOperation">
			<wsdl:input message="ecpsws:StartPlannedActivationReqMsg"/>
			<wsdl:output message="ecpsws:StartPlannedActivationRespMsg"/>
		</wsdl:operation>
		<wsdl:operation name="ReceivePortingRequestAnswerOperation">
			<wsdl:input message="ecpsws:ReceivePortingRequestAnswerReqMsg"/>
			<wsdl:output message="ecpsws:ReceivePortingRequestAnswerRespMsg"/>
		</wsdl:operation>
		<wsdl:operation name="ReceiveChangeRequestAnswerOperation">
			<wsdl:input message="ecpsws:ReceiveChangeRequestAnswerReqMsg"/>
			<wsdl:output message="ecpsws:ReceiveChangeRequestAnswerRespMsg"/>
		</wsdl:operation>
		<wsdl:operation name="StartPortingSynchronisationOperation">
			<wsdl:input message="ecpsws:StartPortingSynchronisationReqMsg"/>
			<wsdl:output message="ecpsws:StartPortingSynchronisationRespMsg"/>
		</wsdl:operation>
		<wsdl:operation name="ReceiveChangeRequestOperation">
			<wsdl:input message="ecpsws:ReceiveChangeRequestReqMsg"/>
			<wsdl:output message="ecpsws:ReceiveChangeRequestRespMsg"/>
		</wsdl:operation>
		<wsdl:operation name="StartCancelOperation">
			<wsdl:input message="ecpsws:StartCancelReqMsg"/>
			<wsdl:output message="ecpsws:StartCancelRespMsg"/>
		</wsdl:operation>
		<wsdl:operation name="StartChangeRequestOperation">
			<wsdl:input message="ecpsws:StartChangeRequestReqMsg"/>
			<wsdl:output message="ecpsws:StartChangeRequestRespMsg"/>
		</wsdl:operation>
		<wsdl:operation name="ReceiveHoldOperation">
			<wsdl:input message="ecpsws:ReceiveHoldReqMsg"/>
			<wsdl:output message="ecpsws:ReceiveHoldRespMsg"/>
		</wsdl:operation>
		<!-- ============== E-CLIPS 3.0 Sameer Parmar WorkPackage 3.0 Operations ============================ -->
		<!-- ============== E-CLIPS 3.0 Recieve ============================ -->
		<wsdl:operation name="ReceiveCancelOperation">
			<wsdl:input message="ecpsws:ReceiveCancelReqMsg"/>
			<wsdl:output message="ecpsws:ReceiveCancelRespMsg"/>
		</wsdl:operation>
		
		<wsdl:operation name="ReceivePortingRequestOperation">
			<wsdl:input message="ecpsws:ReceivePortingRequestReqMsg"/>
			<wsdl:output message="ecpsws:ReceivePortingRequestRespMsg"/>
		</wsdl:operation>
		<wsdl:operation name="ReceiveSynchronisationOperation">
			<wsdl:input message="ecpsws:ReceiveSynchronisationReqMsg"/>
			<wsdl:output message="ecpsws:ReceiveSynchronisationRespMsg"/>
		</wsdl:operation>
		<!-- ============== E-CLIPS 3.0 Send ============================ -->
		<wsdl:operation name="StartChangeRequestAnswerOperation">
			<wsdl:input message="ecpsws:StartChangeRequestAnswerReqMsg"/>
			<wsdl:output message="ecpsws:StartChangeRequestAnswerRespMsg"/>
		</wsdl:operation>
		<wsdl:operation name="StartHandoverOperation">
			<wsdl:input message="ecpsws:StartHandoverReqMsg"/>
			<wsdl:output message="ecpsws:StartHandoverRespMsg"/>
		</wsdl:operation>
		<wsdl:operation name="StartHoldOperation">
			<wsdl:input message="ecpsws:StartHoldReqMsg"/>
			<wsdl:output message="ecpsws:StartHoldRespMsg"/>
		</wsdl:operation>
		<wsdl:operation name="StartPortingRequestAnswerOperation">
			<wsdl:input message="ecpsws:StartPortingRequestAnswerReqMsg"/>
			<wsdl:output message="ecpsws:StartPortingRequestAnswerRespMsg"/>
		</wsdl:operation>
		<!-- ==============Upto here  E-CLIPS 3.0 Sameer Parmar WorkPackage 3.0 ============================ -->
	</wsdl:portType>
	<wsdl:binding name="EcnsSoapBinding" type="ecpsws:EcnsPortingServices">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<!-- Definition of the operations provided by EAI-PS -->
		<wsdl:operation name="StartPortingRequestOperation">
			<soap:operation style="document"/>
			<wsdl:input>
				<soap:body parts="StartPortingRequestReqPart" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="StartPortingRequestRespPart" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="StartDeactivationOperation">
			<soap:operation style="document"/>
			<wsdl:input>
				<soap:body parts="StartDeactivationReqPart" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="StartDeactivationRespPart" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="StartPlannedDeactivationOperation">
			<soap:operation style="document"/>
			<wsdl:input>
				<soap:body parts="StartPlannedDeactivationReqPart" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="StartPlannedDeactivationRespPart" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="StartPlannedActivationOperation">
			<soap:operation style="document"/>
			<wsdl:input>
				<soap:body parts="StartPlannedActivationReqPart" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="StartPlannedActivationRespPart" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="StartPortingSynchronisationOperation">
			<soap:operation style="document"/>
			<wsdl:input>
				<soap:body parts="StartPortingSynchronisationReqPart" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="StartPortingSynchronisationRespPart" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<!-- Definition of the operations provided by E-CLIPS -->
		<wsdl:operation name="ReceiveHandoverOperation">
			<soap:operation soapAction="/ProcessDefinitions/V0.2/ReceiveHandoverServer" style="document"/>
			<wsdl:input>
				<soap:body parts="ReceiveHandoverReqPart" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="ReceiveHandoverRespPart" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ReceiveDeactivationOperation">
			<soap:operation soapAction="/ProcessDefinitions/V0.2/ReceiveDeactivationServer" style="document"/>
			<wsdl:input>
				<soap:body parts="ReceiveDeactivationReqPart" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="ReceiveDeactivationRespPart" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ReceivePlannedDeactivationOperation">
			<soap:operation soapAction="/ProcessDefinitions/V0.2/ReceivePlannedDeactivationServer" style="document"/>
			<wsdl:input>
				<soap:body parts="ReceivePlannedDeactivationReqPart" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="ReceivePlannedDeactivationRespPart" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ReceivePortingRequestAnswerOperation">
			<soap:operation soapAction="/ProcessDefinitions/V0.2/ReceivePortingRequestAnswerServer" style="document"/>
			<wsdl:input>
				<soap:body parts="ReceivePortingRequestAnswerReqPart" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="ReceivePortingRequestAnswerRespPart" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ReceiveChangeRequestAnswerOperation">
			<soap:operation soapAction="/ProcessDefinitions/V0.2/ReceiveChangeRequestAnswerServer" style="document"/>
			<wsdl:input>
				<soap:body parts="ReceiveChangeRequestAnswerReqPart" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="ReceiveChangeRequestAnswerRespPart" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="StartCancelOperation">
			<soap:operation soapAction="/ProcessDefinitions/V0.2/StartCancelServer" style="document"/>
			<wsdl:input>
				<soap:body parts="StartCancelReqPart" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="StartCancelRespPart" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="StartChangeRequestOperation">
			<soap:operation soapAction="/ProcessDefinitions/V0.2/StartChangeRequestServer" style="document"/>
			<wsdl:input>
				<soap:body parts="StartChangeRequestReqPart" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="StartChangeRequestRespPart" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ReceiveHoldOperation">
			<soap:operation soapAction="/ProcessDefinitions/V0.2/ReceiveHoldServer" style="document"/>
			<wsdl:input>
				<soap:body parts="ReceiveHoldReqPart" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="ReceiveHoldRespPart" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<!-- ============== E-CLIPS 3.0 Sameer Parmar WorkPackage 3.0 Operations============================ -->
		<!-- ============== E-CLIPS 3.0 Recieve ============================ -->
		<wsdl:operation name="ReceiveCancelOperation">
			<soap:operation soapAction="/ProcessDefinitions/V0.2/ReceiveCancelServer" style="document"/>
			<wsdl:input>
				<soap:body parts="ReceiveCancelReqPart" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="ReceiveCancelRespPart" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ReceiveChangeRequestOperation">
			<soap:operation soapAction="/ProcessDefinitions/V0.2/ReceiveChangeRequestServer" style="document"/>
			<wsdl:input>
				<soap:body parts="ReceiveChangeRequestReqPart" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="ReceiveChangeRequestRespPart" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ReceivePortingRequestOperation">
			<soap:operation soapAction="/ProcessDefinitions/V0.2/ReceivePortingRequestServer" style="document"/>
			<wsdl:input>
				<soap:body parts="ReceivePortingRequestReqPart" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="ReceivePortingRequestRespPart" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ReceiveSynchronisationOperation">
			<soap:operation soapAction="/ProcessDefinitions/V0.2/ReceiveSynchronisationServer" style="document"/>
			<wsdl:input>
				<soap:body parts="ReceiveSynchronisationReqPart" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="ReceiveSynchronisationRespPart" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<!-- ============== E-CLIPS 3.0 Start ============================ -->
		<wsdl:operation name="StartChangeRequestAnswerOperation">
			<soap:operation soapAction="/ProcessDefinitions/V0.2/StartChangeRequestAnswer" style="document"/>
			<wsdl:input>
				<soap:body parts="StartChangeRequestAnswerReqPart" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="StartChangeRequestAnswerRespPart" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="StartHandoverOperation">
			<soap:operation soapAction="/ProcessDefinitions/V0.2/StartHandover" style="document"/>
			<wsdl:input>
				<soap:body parts="StartHandoverReqPart" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="StartHandoverRespPart" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="StartHoldOperation">
			<soap:operation soapAction="/ProcessDefinitions/V0.2/StartHold" style="document"/>
			<wsdl:input>
				<soap:body parts="StartHoldReqPart" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="StartHoldRespPart" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="StartPortingRequestAnswerOperation">
			<soap:operation soapAction="/ProcessDefinitions/V0.2/StartPortingRequestAnswer" style="document"/>
			<wsdl:input>
				<soap:body parts="StartPortingRequestAnswerReqPart" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="StartPortingRequestAnswerRespPart" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<!-- ==============Upto Here E-CLIPS 3.0 Sameer Parmar WorkPackage 3.0 ============================ -->
	</wsdl:binding>
	<wsdl:service name="EcnsPortingServicesService">
		<!-- ===============   EAI PORTING SERVICES WEBSERVICES =============================-->
		<wsdl:port name="StartPortingRequestHttpPort" binding="ecpsws:EcnsSoapBinding">
			<soap:address location="http://localhost:6070/EClipsAdapter/Processes/StartPortingRequest"/>
		</wsdl:port>
		<wsdl:port name="StartDeactivationHttpPort" binding="ecpsws:EcnsSoapBinding">
			<soap:address location="http://localhost:6070/EClipsAdapter/Processes/StartDeactivation"/>
		</wsdl:port>
		<wsdl:port name="StartPlannedDeactivationHttpPort" binding="ecpsws:EcnsSoapBinding">
			<soap:address location="http://localhost:6070/EClipsAdapter/Processes/StartPlannedDeactivation"/>
		</wsdl:port>
		<wsdl:port name="StartPlannedActivationHttpPort" binding="ecpsws:EcnsSoapBinding">
			<soap:address location="http://localhost:6070/EClipsAdapter/Processes/StartPlannedActivation"/>
		</wsdl:port>
		<wsdl:port name="StartPortingSynchronizationHttpPort" binding="ecpsws:EcnsSoapBinding">
			<soap:address location="http://localhost:6070/EClipsAdapter/Processes/StartPortingSynchronisation"/>
		</wsdl:port>
		<wsdl:port name="StartCancelHttpPort" binding="ecpsws:EcnsSoapBinding">
			<soap:address location="http://localhost:6070/EClipsAdapter/Processes/StartCancel"/>
		</wsdl:port>
		<wsdl:port name="StartChangeRequestHttpPort" binding="ecpsws:EcnsSoapBinding">
			<soap:address location="http://localhost:6070/EClipsAdapter/Processes/StartChangeRequest"/>
		</wsdl:port>
		<!-- ============== E-CLIPS WEB SERVICES ============================ -->
		<wsdl:port name="ReceiveHandoverHttpPort" binding="ecpsws:EcnsSoapBinding">
			<soap:address location="http://ctx109.nl.int.atosorigin.com:37304/ProcessDefinitions/V0.2/ReceiveHandoverServer"/>
		</wsdl:port>
		<wsdl:port name="ReceiveDeactivationHttpPort" binding="ecpsws:EcnsSoapBinding">
			<soap:address location="http://ctx109.nl.int.atosorigin.com:37304/ProcessDefinitions/V0.2/ReceiveDeactivationServer"/>
		</wsdl:port>
		<wsdl:port name="ReceivePlannedDeactivationHttpPort" binding="ecpsws:EcnsSoapBinding">
			<soap:address location="http://ctx109.nl.int.atosorigin.com:37304/ProcessDefinitions/V0.2/ReceivePlannedDeactivationServer"/>
		</wsdl:port>
		<wsdl:port name="ReceivePortingRequestAnswerHttpPort" binding="ecpsws:EcnsSoapBinding">
			<soap:address location="http://ctx109.nl.int.atosorigin.com:37304/ProcessDefinitions/V0.2/ReceivePortingRequestAnswerServer"/>
		</wsdl:port>
		<wsdl:port name="ReceiveChangeRequestAnswerHttpPort" binding="ecpsws:EcnsSoapBinding">
			<soap:address location="http://ctx109.nl.int.atosorigin.com:37304/ProcessDefinitions/V0.2/ReceiveChangeRequestAnswerServer"/>
		</wsdl:port>
		<wsdl:port name="ReceiveHoldHttpPort" binding="ecpsws:EcnsSoapBinding">
			<soap:address location="http://ctx109.nl.int.atosorigin.com:37304/ProcessDefinitions/V0.2/ReceiveHoldServer"/>
		</wsdl:port>
		<!-- ============== E-CLIPS 3.0 Sameer Parmar WorkPackage 3.0 Bindings============================ -->
		<!-- ============== E-CLIPS 3.0 Recieve ============================ -->
		<wsdl:port name="ReceiveCancelHttpPort" binding="ecpsws:EcnsSoapBinding">
			<soap:address location="http://ctx109.nl.int.atosorigin.com:37304/ProcessDefinitions/V0.2/ReceiveCancelServer"/>
		</wsdl:port>
		<wsdl:port name="ReceiveChangeRequestHttpPort" binding="ecpsws:EcnsSoapBinding">
			<soap:address location="http://ctx109.nl.int.atosorigin.com:37304/ProcessDefinitions/V0.2/ReceiveChangeRequestServer"/>
		</wsdl:port>
		<wsdl:port name="ReceivePortingRequestHttpPort" binding="ecpsws:EcnsSoapBinding">
			<soap:address location="http://ctx109.nl.int.atosorigin.com:37304/ProcessDefinitions/V0.2/ReceivePortingRequestServer"/>
		</wsdl:port>
		<wsdl:port name="ReceiveSynchronisationHttpPort" binding="ecpsws:EcnsSoapBinding">
			<soap:address location="http://ctx109.nl.int.atosorigin.com:37304/ProcessDefinitions/V0.2/ReceiveSynchronisationServer"/>
		</wsdl:port>
		<!-- ============== E-CLIPS 3.0 Start ============================ -->
		<wsdl:port name="StartChangeRequestAnswerHttpPort" binding="ecpsws:EcnsSoapBinding">
			<soap:address location="http://localhost:6070/EClipsAdapter/Processes/StartChangeRequestAnswer"/>
		</wsdl:port>
		<wsdl:port name="StartHandoverHttpPort" binding="ecpsws:EcnsSoapBinding">
			<soap:address location="http://localhost:6070/EClipsAdapter/Processes/StartHandover"/>
		</wsdl:port>
		<wsdl:port name="StartHoldHttpPort" binding="ecpsws:EcnsSoapBinding">
			<soap:address location="http://localhost:6070/EClipsAdapter/Processes/StartHold"/>
		</wsdl:port>
		<wsdl:port name="StartPortingRequestAnswerHttpPort" binding="ecpsws:EcnsSoapBinding">
			<soap:address location="http://localhost:6070/EClipsAdapter/Processes/StartPortingRequestAnswer"/>
		</wsdl:port>
		<!-- ==============Upto Here E-CLIPS 3.0 Sameer Parmar WorkPackage 3.0 ============================ -->
	</wsdl:service>
	<!-- Definition of the KPN operations -->
	<!-- xxxxxxxxxxx RESULT messages xxxxxxxxxxxxxxx -->
	<!-- xxxxx STANDARD RESPONSE -->
</wsdl:definitions>
