EClipsAdapter/WSDL/EcnsNumbes.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<schema xmlns = "http://www.w3.org/2001/XMLSchema"
	 targetNamespace = "EcNuXsd_V0.2"
	 xmlns:ecnuxs = "EcNuXsd_V0.2"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified">
	<annotation>
		<documentation xml:lang = "en">Structures for the E-CLIPS Numbes Adapter </documentation>
	</annotation>
	<!-- edited with XMLSpy v2006 sp2 U (http://www.altova.com) by HvdM (Atos Origin Nederland B.V.) -->
	
	
	<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by Hans van der Molen (Atos Origin) -->
	
	
	<!-- XSD Version: 1.0 (02-01-2008), Hans van der Molen, Initial version -->
	
	<element name = "GetNumberInfoRespStruct">
		<complexType>
			<sequence>
				<element name = "Body" minOccurs = "0">
					<complexType>
						<sequence>
							<element name = "PhoneNumber" minOccurs = "0">
								<complexType>
									<sequence>
										<element name = "AreaCode" type = "string" minOccurs = "0"/>
										<element name = "BhsFlags" type = "string" minOccurs = "0"/>
										<element name = "IsCvi" type = "string" minOccurs = "0"/>
										<element name = "Lri" type = "string" minOccurs = "0"/>
										<element name = "NumberCategory" type = "string" minOccurs = "0"/>
										<element name = "PreviousNetworkOperatorId" type = "string" minOccurs = "0"/>
										<element name = "ServiceType" type = "string" minOccurs = "0"/>
										<element name = "StartOfSerie" type = "string" minOccurs = "0"/>
										<element name = "StatusDescription" type = "string" minOccurs = "0"/>
										<element name = "StatusExchangeNrSerie" type = "string" minOccurs = "0"/>
										<element name = "StatusNumber" type = "string" minOccurs = "0"/>
										<element name = "SubscriberNumber" type = "string" minOccurs = "0"/>
										<element name = "TypeOfNumber" type = "string" minOccurs = "0"/>
										<element name = "Snr1" type = "string" minOccurs = "0"/>
										<element ref = "ecnuxs:Original" minOccurs = "0"/>
										<element ref = "ecnuxs:Current" minOccurs = "0"/>
										<element ref = "ecnuxs:ActionType" minOccurs = "0"/>
									</sequence>
								</complexType>
							</element>
						</sequence>
					</complexType>
				</element>
				<element name = "ResultStatus">
					<complexType>
						<sequence>
							<element name = "StatusCode" type = "string" minOccurs = "0"/>
							<element name = "ErrorCode" type = "string" minOccurs = "0"/>
							<element name = "ErrorDescription" type = "string" minOccurs = "0"/>
							<element name = "Description" type = "string" minOccurs = "0"/>
						</sequence>
					</complexType>
				</element>
			</sequence>
		</complexType>
	</element>
	<element name = "Original">
		<complexType>
			<sequence>
				<element name = "CentralAreaCode" type = "string" minOccurs = "0"/>
				<element name = "Host" type = "string" minOccurs = "0"/>
				<element name = "NetworkOperatorId" type = "string" minOccurs = "0"/>
				<element name = "SpcIdHost" type = "string" minOccurs = "0"/>
				<element name = "TelecomRegionCode" type = "string" minOccurs = "0"/>
			</sequence>
		</complexType>
	</element>
	<element name = "Current">
		<complexType>
			<sequence>
				<element name = "CentralAreaCode" type = "string" minOccurs = "0"/>
				<element name = "Host" type = "string" minOccurs = "0"/>
				<element name = "NetworkOperatorId" type = "string" minOccurs = "0"/>
				<element name = "SpcIdHost" type = "string" minOccurs = "0"/>
				<element name = "TelecomDistrictCode" type = "string" minOccurs = "0"/>
				<element name = "TelecomRegionCode" type = "string" minOccurs = "0"/>
			</sequence>
		</complexType>
	</element>
	<element name = "ActionType">
		<complexType>
			<sequence>
				<element name = "ActionType" type = "string" minOccurs = "0"/>
				<element name = "TimeAndDate" type = "dateTime" minOccurs = "0"/>
			</sequence>
		</complexType>
	</element>
	<element name = "GetNumberInfoReqStruct">
		<complexType>
			<sequence>
				<element name = "Body" minOccurs = "0">
					<complexType>
						<sequence>
							<element name = "PhoneNumber" minOccurs = "0">
								<complexType>
									<sequence>
										<element name = "StartOfSerie" type = "string"/>
										<element name = "TimeAndDate" type = "dateTime" minOccurs = "0"/>
									</sequence>
								</complexType>
							</element>
						</sequence>
					</complexType>
				</element>
			</sequence>
		</complexType>
	</element>
	
	<!-- For synchronic Start Porting Synchronisation Services-->
	
	<element name = "EcnsGetNumberInfoResp">
		<complexType>
			<sequence>
				<element ref = "ecnuxs:GetNumberInfoRespStruct"/>
			</sequence>
		</complexType>
	</element>
	<element name = "EcnsGetNumberInfoReq">
		<complexType>
			<sequence>
				<element ref = "ecnuxs:GetNumberInfoReqStruct"/>
			</sequence>
		</complexType>
	</element>
</schema>