EClipsAdapter/WSDL/EcnsOrdering.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2006 sp2 U (http://www.altova.com) by Gerrit (Atos Origin Nederland B.V.) -->
<!--version 0.2.3.1 (levering aan EAI tbv ZIPB) -->
<!--
$Log: EcnsOrdering.wsdl,v $
Revision 1.6  2007/05/25 09:21:33  nl22334
versie nummer aanpassing ivm levering aan EAI tbv ZIPB

Revision 1.5  2007/05/25 08:29:56  nl22334
Uitbreidingen met ZIPB operaties

Revision 1.4  2006/12/06 07:55:53  nl22334
Alleen Commentaar regels aangepast

-->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ecnsws="http://webservices.kpn-lls.com/V0.2/EcnsOrdering.wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ecnsxs="EcnsXsd_V0.2" xmlns:ns="Global" xmlns:ns1="http://www.w3.org/2001/XMLSchema" targetNamespace="http://webservices.kpn-lls.com/V0.2/EcnsOrdering.wsdl" name="Untitled">
	<wsdl:import namespace="EcnsXsd_V0.2" location="EcnsOrdering.xsd"/>
	<wsdl:message name="InportTelnrsReqMsg">
		<wsdl:part name="InportTelnrsReqPart" element="ecnsxs:EcnsInportTelnrs"/>
	</wsdl:message>
	<wsdl:message name="ReadTelnrReqMsg">
		<wsdl:part name="ReadTelnrReqPart" element="ecnsxs:EcnsReadTelnrReq"/>
	</wsdl:message>
	<wsdl:message name="ReadTelnrRespMsg">
		<wsdl:part name="ReadTelnrRespPart" element="ecnsxs:EcnsReadTelnrResp"/>
	</wsdl:message>
	<wsdl:message name="ReserveTelnrReqMsg">
		<wsdl:part name="ReserveTelnrReqPart" element="ecnsxs:EcnsReserveTelnr"/>
	</wsdl:message>
	<wsdl:message name="ReserveTelnrForInportReqMsg">
		<wsdl:part name="ReserveTelnrForInportReqPart" element="ecnsxs:EcnsReserveTelnrForInport"/>
	</wsdl:message>
	<wsdl:message name="ReleaseTelnrReqMsg">
		<wsdl:part name="ReleaseTelnrReqPart" element="ecnsxs:EcnsReleaseTelnr"/>
	</wsdl:message>
	<wsdl:message name="ResultInportTelnrsReqMsg">
		<wsdl:part name="ResultInportTelnrsReqPart" element="ecnsxs:EcnsResultInportTelnrs"/>
	</wsdl:message>
	<wsdl:message name="ResultReserveTelnrReqMsg">
		<wsdl:part name="ResultReserveTelnrReqPart" element="ecnsxs:EcnsResultReserveTelnr"/>
	</wsdl:message>
	<wsdl:message name="ResultReserveTelnrForInportReqMsg">
		<wsdl:part name="ResultReserveTelnrForInportReqPart" element="ecnsxs:EcnsResultReserveTelnrForInport"/>
	</wsdl:message>
	<wsdl:message name="ResultReleaseTelnrReqMsg">
		<wsdl:part name="ResultReleaseTelnrReqPart" element="ecnsxs:EcnsResultReleaseTelnr"/>
	</wsdl:message>
	<wsdl:message name="RequestAgreeToOutportReqMsg">
		<wsdl:part name="RequestAgreeToOutportReqPart" element="ecnsxs:EcnsRequestAgreeToOutport"/>
	</wsdl:message>
	<wsdl:message name="ReminderAgreeToOutportReqMsg">
		<wsdl:part name="ReminderAgreeToOutportReqPart" element="ecnsxs:EcnsReminderAgreeToOutport"/>
	</wsdl:message>
	<wsdl:message name="ResponseAgreeToOutportReqMsg">
		<wsdl:part name="ResponseAgreeToOutportReqPart" element="ecnsxs:EcnsResponseAgreeToOutport"/>
	</wsdl:message>
	<wsdl:message name="ResultOutportPerformedReqMsg">
		<wsdl:part name="ResultOutportPerformedReqPart" element="ecnsxs:EcnsResultOutportPerformed"/>
	</wsdl:message>
	<wsdl:message name="ResultOutportRefusedReqMsg">
		<wsdl:part name="ResultOutportRefusedReqPart" element="ecnsxs:EcnsResultOutportRefused"/>
	</wsdl:message>
	<wsdl:message name="HandleDeactivationReqMsg">
		<wsdl:part name="HandleDeactivationReqPart" element="ecnsxs:EcnsHandleDeactivation"/>
	</wsdl:message>
	<wsdl:message name="HandlePortingRequestReqMsg">
		<wsdl:part name="HandlePortingRequestReqPart" element="ecnsxs:EcnsHandlePortingRequest"/>
	</wsdl:message>
	<wsdl:message name="EcnsStandardResponse">
		<wsdl:part name="EcnsStandardResponse" element="ecnsxs:EcnsStandardResponse"/>
	</wsdl:message>
	<wsdl:message name="InportNumberSeriesReqMsg">
		<wsdl:part name="InportNumberSeriesReqPart" element="ecnsxs:EcnsInportNumberSeries"/>
	</wsdl:message>
	<wsdl:message name="ReserveNumberSeriesReqMsg">
		<wsdl:part name="ReserveNumberSeriesReqPart" element="ecnsxs:EcnsReserveNumberSeries"/>
	</wsdl:message>
	<wsdl:message name="ReserveNumberSeriesForInportReqMsg">
		<wsdl:part name="ReserveNumberSeriesForInportReqPart" element="ecnsxs:EcnsReserveNumberSeriesForInport"/>
	</wsdl:message>
	<wsdl:message name="AssignNumberSeriesReqMsg">
		<wsdl:part name="AssignNumberSeriesReqPart" element="ecnsxs:EcnsAssignNumberSeries"/>
	</wsdl:message>
	<wsdl:message name="ReleaseNumberSeriesReqMsg">
		<wsdl:part name="ReleaseNumberSeriesReqPart" element="ecnsxs:EcnsReleaseNumberSeries"/>
	</wsdl:message>
	<wsdl:message name="StartSyncInportReqMsg">
		<wsdl:part name="StartSyncInportReqPart" element="ecnsxs:EcnsStartSyncInportReq"/>
	</wsdl:message>
	<wsdl:message name="StartSyncInportRespMsg">
		<wsdl:part name="StartSyncInportRespPart" element="ecnsxs:EcnsStartSyncInportResp"/>
	</wsdl:message>
	<wsdl:message name="ResultInportNumberSeriesReqMsg">
		<wsdl:part name="ResultInportNumberSeriesReqPart" element="ecnsxs:EcnsResultInportNumberSeries"/>
	</wsdl:message>
	<wsdl:message name="ResultReserveNumberSeriesReqMsg">
		<wsdl:part name="ResultReserveNumberSeriesReqPart" element="ecnsxs:EcnsResultReserveNumberSeries"/>
	</wsdl:message>
	<wsdl:message name="ResultReserveNumberSeriesForInportReqMsg">
		<wsdl:part name="ResultReserveNumberSeriesForInportReqPart" element="ecnsxs:EcnsResultReserveNumberSeriesForInport"/>
	</wsdl:message>
	<wsdl:message name="ResultAssignNumberSeriesReqMsg">
		<wsdl:part name="ResultAssignNumberSeriesReqPart" element="ecnsxs:EcnsResultAssignNumberSeries"/>
	</wsdl:message>
	<wsdl:message name="ResultReleaseNumberSeriesReqMsg">
		<wsdl:part name="ResultReleaseNumberSeriesReqPart" element="ecnsxs:EcnsResultReleaseNumberSeries"/>
	</wsdl:message>
	<wsdl:portType name="EcnsOrdering">
		<!-- Definition of KPN's functional operations -->
		<wsdl:operation name="InportTelnrsOperation">
			<wsdl:input message="ecnsws:InportTelnrsReqMsg"/>
			<wsdl:output message="ecnsws:EcnsStandardResponse"/>
		</wsdl:operation>
		<wsdl:operation name="ReadTelnrOperation">
			<wsdl:input message="ecnsws:ReadTelnrReqMsg"/>
			<wsdl:output message="ecnsws:ReadTelnrRespMsg"/>
		</wsdl:operation>
		<wsdl:operation name="ReserveTelnrOperation">
			<wsdl:input message="ecnsws:ReserveTelnrReqMsg"/>
			<wsdl:output message="ecnsws:EcnsStandardResponse"/>
		</wsdl:operation>
		<wsdl:operation name="ReserveTelnrForInportOperation">
			<wsdl:input message="ecnsws:ReserveTelnrForInportReqMsg"/>
			<wsdl:output message="ecnsws:EcnsStandardResponse"/>
		</wsdl:operation>
		<wsdl:operation name="ReleaseTelnrOperation">
			<wsdl:input message="ecnsws:ReleaseTelnrReqMsg"/>
			<wsdl:output message="ecnsws:EcnsStandardResponse"/>
		</wsdl:operation>
		<!-- Definition of packagers operations for feedback on the asynchronic functions -->
		<wsdl:operation name="ResultInportTelnrsOperation">
			<wsdl:input message="ecnsws:ResultInportTelnrsReqMsg"/>
			<wsdl:output message="ecnsws:EcnsStandardResponse"/>
		</wsdl:operation>
		<wsdl:operation name="ResultReserveTelnrOperation">
			<wsdl:input message="ecnsws:ResultReserveTelnrReqMsg"/>
			<wsdl:output message="ecnsws:EcnsStandardResponse"/>
		</wsdl:operation>
		<wsdl:operation name="ResultReserveTelnrForInportOperation">
			<wsdl:input message="ecnsws:ResultReserveTelnrForInportReqMsg"/>
			<wsdl:output message="ecnsws:EcnsStandardResponse"/>
		</wsdl:operation>
		<wsdl:operation name="ResultReleaseTelnrOperation">
			<wsdl:input message="ecnsws:ResultReleaseTelnrReqMsg"/>
			<wsdl:output message="ecnsws:EcnsStandardResponse"/>
		</wsdl:operation>
		<!-- Definitions of operations for the outporting process -->
		<wsdl:operation name="RequestAgreeToOutportOperation">
			<wsdl:documentation>implemented by the packagers</wsdl:documentation>
			<wsdl:input message="ecnsws:RequestAgreeToOutportReqMsg"/>
			<wsdl:output message="ecnsws:EcnsStandardResponse"/>
		</wsdl:operation>
		<wsdl:operation name="ReminderAgreeToOutportOperation">
			<wsdl:documentation>implemented by the packagers</wsdl:documentation>
			<wsdl:input message="ecnsws:ReminderAgreeToOutportReqMsg"/>
			<wsdl:output message="ecnsws:EcnsStandardResponse"/>
		</wsdl:operation>
		<wsdl:operation name="ResponseAgreeToOutportOperation">
			<wsdl:documentation>implemented by KPN</wsdl:documentation>
			<wsdl:input message="ecnsws:ResponseAgreeToOutportReqMsg"/>
			<wsdl:output message="ecnsws:EcnsStandardResponse"/>
		</wsdl:operation>
		<wsdl:operation name="ResultOutportPerformedOperation">
			<wsdl:documentation>implemented by packagers</wsdl:documentation>
			<wsdl:input message="ecnsws:ResultOutportPerformedReqMsg"/>
			<wsdl:output message="ecnsws:EcnsStandardResponse"/>
		</wsdl:operation>
		<wsdl:operation name="ResultOutportRefusedOperation">
			<wsdl:documentation>implemented by packagers</wsdl:documentation>
			<wsdl:input message="ecnsws:ResultOutportRefusedReqMsg"/>
			<wsdl:output message="ecnsws:EcnsStandardResponse"/>
		</wsdl:operation>
		<!-- Definition of KPN's internal operations (not for packagers)-->
		<wsdl:operation name="HandleDeactivationOperation">
			<wsdl:documentation>implemented by the packagers</wsdl:documentation>
			<wsdl:input message="ecnsws:HandleDeactivationReqMsg"/>
			<wsdl:output message="ecnsws:EcnsStandardResponse"/>
		</wsdl:operation>
		<wsdl:operation name="HandlePortingRequestOperation">
			<wsdl:documentation>implemented by the packagers</wsdl:documentation>
			<wsdl:input message="ecnsws:HandlePortingRequestReqMsg"/>
			<wsdl:output message="ecnsws:EcnsStandardResponse"/>
		</wsdl:operation>
		<!-- operations added for ZIPB (E-CLIPS 1.1) -->
		<!-- INPTNR -->
		<wsdl:operation name="InportNumberSeriesOperation">
			<wsdl:documentation>implemented by KPN</wsdl:documentation>
			<wsdl:input message="ecnsws:InportNumberSeriesReqMsg"/>
			<wsdl:output message="ecnsws:EcnsStandardResponse"/>
		</wsdl:operation>
		<!-- RESTNR -->
		<wsdl:operation name="ReserveNumberSeriesOperation">
			<wsdl:documentation>implemented by KPN</wsdl:documentation>
			<wsdl:input message="ecnsws:ReserveNumberSeriesReqMsg"/>
			<wsdl:output message="ecnsws:EcnsStandardResponse"/>
		</wsdl:operation>
		<!-- RTNRIP -->
		<wsdl:operation name="ReserveNumberSeriesForInportOperation">
			<wsdl:documentation>implemented by KPN</wsdl:documentation>
			<wsdl:input message="ecnsws:ReserveNumberSeriesForInportReqMsg"/>
			<wsdl:output message="ecnsws:EcnsStandardResponse"/>
		</wsdl:operation>
		<!-- TOETNR -->
		<wsdl:operation name="AssignNumberSeriesOperation">
			<wsdl:documentation>implemented by KPN</wsdl:documentation>
			<wsdl:input message="ecnsws:AssignNumberSeriesReqMsg"/>
			<wsdl:output message="ecnsws:EcnsStandardResponse"/>
		</wsdl:operation>
		<!-- VRGTNR -->
		<wsdl:operation name="ReleaseNumberSeriesOperation">
			<wsdl:documentation>implemented by KPN</wsdl:documentation>
			<wsdl:input message="ecnsws:ReleaseNumberSeriesReqMsg"/>
			<wsdl:output message="ecnsws:EcnsStandardResponse"/>
		</wsdl:operation>
		<!-- STSYNC -->
		<wsdl:operation name="StartSyncInportOperation">
			<wsdl:documentation>implemented by KPN</wsdl:documentation>
			<wsdl:input message="ecnsws:StartSyncInportReqMsg"/>
			<wsdl:output message="ecnsws:StartSyncInportRespMsg"/>
		</wsdl:operation>
		<!-- Asynchronic result operation for INPTNR -->
		<wsdl:operation name="ResultInportNumberSeriesOperation">
			<wsdl:documentation>implemented by packager</wsdl:documentation>
			<wsdl:input message="ecnsws:ResultInportNumberSeriesReqMsg"/>
			<wsdl:output message="ecnsws:EcnsStandardResponse"/>
		</wsdl:operation>
		<!-- Asynchronic result operation for RESTNR -->
		<wsdl:operation name="ResultReserveNumberSeriesOperation">
			<wsdl:documentation>implemented by packager</wsdl:documentation>
			<wsdl:input message="ecnsws:ResultReserveNumberSeriesReqMsg"/>
			<wsdl:output message="ecnsws:EcnsStandardResponse"/>
		</wsdl:operation>
		<!-- Asynchronic result operation for RTNRIP -->
		<wsdl:operation name="ResultReserveNumberSeriesForInportOperation">
			<wsdl:documentation>implemented by packager</wsdl:documentation>
			<wsdl:input message="ecnsws:ResultReserveNumberSeriesForInportReqMsg"/>
			<wsdl:output message="ecnsws:EcnsStandardResponse"/>
		</wsdl:operation>
		<!-- Asynchronic result operation for TOETNR -->
		<wsdl:operation name="ResultAssignNumberSeriesOperation">
			<wsdl:documentation>implemented by packager</wsdl:documentation>
			<wsdl:input message="ecnsws:ResultAssignNumberSeriesReqMsg"/>
			<wsdl:output message="ecnsws:EcnsStandardResponse"/>
		</wsdl:operation>
		<!-- Asynchronic result operation for VRGTNR -->
		<wsdl:operation name="ResultReleaseNumberSeriesOperation">
			<wsdl:documentation>implemented by packager</wsdl:documentation>
			<wsdl:input message="ecnsws:ResultReleaseNumberSeriesReqMsg"/>
			<wsdl:output message="ecnsws:EcnsStandardResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="EcnsSoapBinding" type="ecnsws:EcnsOrdering">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="InportTelnrsOperation">
			<wsdl:documentation>functional product : INPTLF</wsdl:documentation>
			<soap:operation soapAction="/ProcessDefinitions/V0.2/InportTelnrsServer" style="document"/>
			<wsdl:input>
				<soap:body parts="InportTelnrsReqPart" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="EcnsStandardResponse" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ReadTelnrOperation">
			<wsdl:documentation>functional product : OPVTLF</wsdl:documentation>
			<soap:operation soapAction="/ProcessDefinitions/V0.2/ReadTelnrServer" style="document"/>
			<wsdl:input>
				<soap:body parts="ReadTelnrReqPart" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="ReadTelnrRespPart" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ReserveTelnrOperation">
			<wsdl:documentation>functional product : RESTLF</wsdl:documentation>
			<soap:operation soapAction="/ProcessDefinitions/V0.2/ReserveTelnrServer" style="document"/>
			<wsdl:input>
				<soap:body parts="ReserveTelnrReqPart" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="EcnsStandardResponse" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ReserveTelnrForInportOperation">
			<wsdl:documentation>functional product : RTLFIP</wsdl:documentation>
			<soap:operation soapAction="/ProcessDefinitions/V0.2/ReserveTelnrForInportServer" style="document"/>
			<wsdl:input>
				<soap:body parts="ReserveTelnrForInportReqPart" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="EcnsStandardResponse" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ReleaseTelnrOperation">
			<wsdl:documentation>functional product : VRGTLF</wsdl:documentation>
			<soap:operation soapAction="/ProcessDefinitions/V0.2/ReleaseTelnrServer" style="document"/>
			<wsdl:input>
				<soap:body parts="ReleaseTelnrReqPart" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="EcnsStandardResponse" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<!-- Definition of the operations provided by the packagers -->
		<wsdl:operation name="ResultInportTelnrsOperation">
			<wsdl:documentation>feedback on functional product : INPTLF</wsdl:documentation>
			<soap:operation soapAction="to_be_defined_by_each_packager" style="document"/>
			<wsdl:input>
				<soap:body parts="ResultInportTelnrsReqPart" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="EcnsStandardResponse" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ResultReserveTelnrOperation">
			<wsdl:documentation>feedback on functional product : RESTLF</wsdl:documentation>
			<soap:operation soapAction="to_be_defined_by_each_packager" style="document"/>
			<wsdl:input>
				<soap:body parts="ResultReserveTelnrReqPart" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="EcnsStandardResponse" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ResultReserveTelnrForInportOperation">
			<wsdl:documentation>feedback on functional product : RTLFIP</wsdl:documentation>
			<soap:operation soapAction="to_be_defined_by_each_packager" style="document"/>
			<wsdl:input>
				<soap:body parts="ResultReserveTelnrForInportReqPart" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="EcnsStandardResponse" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ResultReleaseTelnrOperation">
			<wsdl:documentation>feedback on functional product : VRGTLF</wsdl:documentation>
			<soap:operation soapAction="to_be_defined_by_each_packagerr" style="document"/>
			<wsdl:input>
				<soap:body parts="ResultReleaseTelnrReqPart" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="EcnsStandardResponse" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<!-- Operations for the outporting process -->
		<wsdl:operation name="RequestAgreeToOutportOperation">
			<wsdl:documentation>implemented by packagers</wsdl:documentation>
			<soap:operation soapAction="to_be_defined_by_each_packagerr" style="document"/>
			<wsdl:input>
				<soap:body parts="RequestAgreeToOutportReqPart" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="EcnsStandardResponse" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ReminderAgreeToOutportOperation">
			<wsdl:documentation>implemented by packagers</wsdl:documentation>
			<soap:operation soapAction="to_be_defined_by_each_packagerr" style="document"/>
			<wsdl:input>
				<soap:body parts="ReminderAgreeToOutportReqPart" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="EcnsStandardResponse" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ResponseAgreeToOutportOperation">
			<wsdl:documentation>implemented by KPN</wsdl:documentation>
			<soap:operation soapAction="/ProcessDefinitions/V0.2/ResponseAgreeToOutportServer" style="document"/>
			<wsdl:input>
				<soap:body parts="ResponseAgreeToOutportReqPart" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="EcnsStandardResponse" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ResultOutportPerformedOperation">
			<wsdl:documentation>implemented by packagers</wsdl:documentation>
			<soap:operation soapAction="to_be_defined_by_each_packagerr" style="document"/>
			<wsdl:input>
				<soap:body parts="ResultOutportPerformedReqPart" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="EcnsStandardResponse" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ResultOutportRefusedOperation">
			<wsdl:documentation>implemented by packagers</wsdl:documentation>
			<soap:operation soapAction="to_be_defined_by_each_packagerr" style="document"/>
			<wsdl:input>
				<soap:body parts="ResultOutportRefusedReqPart" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="EcnsStandardResponse" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<!-- Definition of KPN's internal operations (not for packagers) -->
		<wsdl:operation name="HandleDeactivationOperation">
			<wsdl:documentation>functional product : AFHDEA</wsdl:documentation>
			<soap:operation soapAction="/ProcessDefinitions/V0.2/HandleDeactivationServer" style="document"/>
			<wsdl:input>
				<soap:body parts="HandleDeactivationReqPart" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="EcnsStandardResponse" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="HandlePortingRequestOperation">
			<wsdl:documentation>functional product : AFHPRQ</wsdl:documentation>
			<soap:operation soapAction="/ProcessDefinitions/V0.2/HandlePortingRequestServer" style="document"/>
			<wsdl:input>
				<soap:body parts="HandlePortingRequestReqPart" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="EcnsStandardResponse" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<!-- operations added for ZIPB (E-CLIPS 1.1) -->
		<!-- INPTNR -->
		<wsdl:operation name="InportNumberSeriesOperation">
			<wsdl:documentation>functional product : INPTNR</wsdl:documentation>
			<soap:operation soapAction="/ProcessDefinitions/V0.2/InportNumberSeriesServer" style="document"/>
			<wsdl:input>
				<soap:body parts="InportNumberSeriesReqPart" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="EcnsStandardResponse" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<!-- RESTNR -->
		<wsdl:operation name="ReserveNumberSeriesOperation">
			<wsdl:documentation>functional product : RESTNR</wsdl:documentation>
			<soap:operation soapAction="/ProcessDefinitions/V0.2/ReserveNumberSeriesServer" style="document"/>
			<wsdl:input>
				<soap:body parts="ReserveNumberSeriesReqPart" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="EcnsStandardResponse" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<!-- RTNRIP -->
		<wsdl:operation name="ReserveNumberSeriesForInportOperation">
			<wsdl:documentation>functional product : RTNRIP</wsdl:documentation>
			<soap:operation soapAction="/ProcessDefinitions/V0.2/ReserveNumberSeriesForInportServer" style="document"/>
			<wsdl:input>
				<soap:body parts="ReserveNumberSeriesForInportReqPart" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="EcnsStandardResponse" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<!-- TOETNR -->
		<wsdl:operation name="AssignNumberSeriesOperation">
			<wsdl:documentation>functional product : TOETNR</wsdl:documentation>
			<soap:operation soapAction="/ProcessDefinitions/V0.2/AssignNumberSeriesServer" style="document"/>
			<wsdl:input>
				<soap:body parts="AssignNumberSeriesReqPart" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="EcnsStandardResponse" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<!-- VRGTNR -->
		<wsdl:operation name="ReleaseNumberSeriesOperation">
			<wsdl:documentation>functional product : VRGTNR</wsdl:documentation>
			<soap:operation soapAction="/ProcessDefinitions/V0.2/ReleaseNumberSeriesServer" style="document"/>
			<wsdl:input>
				<soap:body parts="ReleaseNumberSeriesReqPart" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="EcnsStandardResponse" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<!-- STSYNC -->
		<wsdl:operation name="StartSyncInportOperation">
			<wsdl:documentation>functional product : STSYNC</wsdl:documentation>
			<soap:operation soapAction="/ProcessDefinitions/V0.2/StartSyncInportServer" style="document"/>
			<wsdl:input>
				<soap:body parts="StartSyncInportReqPart" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="StartSyncInportRespPart" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<!-- INPTNR -->
		<wsdl:operation name="ResultInportNumberSeriesOperation">
			<wsdl:documentation>asynchronic response on functional product : INPTNR</wsdl:documentation>
			<soap:operation soapAction="/ProcessDefinitions/V0.2/ResultInportNumberSeriesServer" style="document"/>
			<wsdl:input>
				<soap:body parts="ResultInportNumberSeriesReqPart" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="EcnsStandardResponse" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<!-- RESTNR -->
		<wsdl:operation name="ResultReserveNumberSeriesOperation">
			<wsdl:documentation>asynchronic response on functional product : RESTNR</wsdl:documentation>
			<soap:operation soapAction="/ProcessDefinitions/V0.2/ResultReserveNumberSeriesServer" style="document"/>
			<wsdl:input>
				<soap:body parts="ResultReserveNumberSeriesReqPart" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="EcnsStandardResponse" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<!-- RTNRIP -->
		<wsdl:operation name="ResultReserveNumberSeriesForInportOperation">
			<wsdl:documentation>asynchronic response on functional product : RTNRIP</wsdl:documentation>
			<soap:operation soapAction="/ProcessDefinitions/V0.2/ResultReserveNumberSeriesForInportServer" style="document"/>
			<wsdl:input>
				<soap:body parts="ResultReserveNumberSeriesForInportReqPart" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="EcnsStandardResponse" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<!-- TOETNR -->
		<wsdl:operation name="ResultAssignNumberSeriesOperation">
			<wsdl:documentation>asynchronic response on functional product : TOETNR</wsdl:documentation>
			<soap:operation soapAction="/ProcessDefinitions/V0.2/ResultAssignNumberSeriesServer" style="document"/>
			<wsdl:input>
				<soap:body parts="ResultAssignNumberSeriesReqPart" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="EcnsStandardResponse" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<!-- VRGTNR -->
		<wsdl:operation name="ResultReleaseNumberSeriesOperation">
			<wsdl:documentation>asynchronic response on functional product : VRGTNR</wsdl:documentation>
			<soap:operation soapAction="/ProcessDefinitions/V0.2/ResultReleaseNumberSeriesServer" style="document"/>
			<wsdl:input>
				<soap:body parts="ResultReleaseNumberSeriesReqPart" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="EcnsStandardResponse" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="EcnsOrderingService">
		<!-- ===============   KPN SERVICES =============================-->
		<wsdl:port name="InportTelnrsHttpPort" binding="ecnsws:EcnsSoapBinding">
			<soap:address location="http://hdxs6d.telecom.ptt.nl:36999/ProcessDefinitions/V0.2/InportTelnrsServer"/>
		</wsdl:port>
		<wsdl:port name="ReadTelnrHttpPort" binding="ecnsws:EcnsSoapBinding">
			<soap:address location="http://hdxs6d.telecom.ptt.nl:36999/ProcessDefinitions/V0.2/ReadTelnrServer"/>
		</wsdl:port>
		<wsdl:port name="ReserveTelnrHttpPort" binding="ecnsws:EcnsSoapBinding">
			<soap:address location="http://hdxs6d.telecom.ptt.nl:36999/ProcessDefinitions/V0.2/ReserveTelnrServer"/>
		</wsdl:port>
		<wsdl:port name="ReserveTelnrForInportHttpPort" binding="ecnsws:EcnsSoapBinding">
			<soap:address location="http://hdxs6d.telecom.ptt.nl:36999/ProcessDefinitions/V0.2/ReserveTelnrForInportServer"/>
		</wsdl:port>
		<wsdl:port name="ReleaseTelnrHttpPort" binding="ecnsws:EcnsSoapBinding">
			<soap:address location="http://hdxs6d.telecom.ptt.nl:36999/ProcessDefinitions/V0.2/ReleaseTelnrServer"/>
		</wsdl:port>
		<!-- ============== PACKAGER SERVICES ============================ -->
		<wsdl:port name="ResultInportTelnrsHttpPort" binding="ecnsws:EcnsSoapBinding">
			<soap:address location="http://packager_machine_adress:9999/location_defined_by_packager"/>
		</wsdl:port>
		<wsdl:port name="ResultReserveTelnrHttpPort" binding="ecnsws:EcnsSoapBinding">
			<soap:address location="http://packager_machine_adress:9999/location_defined_by_packagerr"/>
		</wsdl:port>
		<wsdl:port name="ResultReserveTelnrForInportHttpPort" binding="ecnsws:EcnsSoapBinding">
			<soap:address location="http://packager_machine_adress:9999/location_defined_by_packager"/>
		</wsdl:port>
		<wsdl:port name="ResultReleaseTelnrHttpPort" binding="ecnsws:EcnsSoapBinding">
			<soap:address location="http://packager_machine_adress:9999/location_defined_by_packager"/>
		</wsdl:port>
		<!-- ================ MIXED SERVICES FOR OUTPORTING PROCESS========= -->
		<wsdl:port name="RequestAgreeToOutportHttpPort" binding="ecnsws:EcnsSoapBinding">
			<soap:address location="http://packager_machine_adress:9999/location_defined_by_packager"/>
		</wsdl:port>
		<wsdl:port name="ReminderAgreeToOutportHttpPort" binding="ecnsws:EcnsSoapBinding">
			<soap:address location="http://packager_machine_adress:9999/location_defined_by_packager"/>
		</wsdl:port>
		<wsdl:port name="ResponseAgreeToOutportHttpPort" binding="ecnsws:EcnsSoapBinding">
			<soap:address location="http://hdxs6d.telecom.ptt.nl:36999/ProcessDefinitions/V0.2/ResponseAgreeToOutportServer"/>
		</wsdl:port>
		<wsdl:port name="ResultOutportPerformedHttpPort" binding="ecnsws:EcnsSoapBinding">
			<soap:address location="http://packager_machine_adress:9999/location_defined_by_packager"/>
		</wsdl:port>
		<wsdl:port name="ResultOutportRefusedHttpPort" binding="ecnsws:EcnsSoapBinding">
			<soap:address location="http://packager_machine_adress:9999/location_defined_by_packager"/>
		</wsdl:port>
		<!-- ===============   INTERNAL E-CLIPS KPN SERVICES (NOT FOR PACKAGERS) ======-->
		<wsdl:port name="HandleDeactivationHttpPort" binding="ecnsws:EcnsSoapBinding">
			<soap:address location="http://hdxs6d.telecom.ptt.nl:36999/ProcessDefinitions/V0.2/HandleDeactivationServer"/>
		</wsdl:port>
		<wsdl:port name="HandlePortingRequestHttpPort" binding="ecnsws:EcnsSoapBinding">
			<soap:address location="http://hdxs6d.telecom.ptt.nl:36999/ProcessDefinitions/V0.2/HandlePortingRequestServer"/>
		</wsdl:port>
		<!-- ===============   ZIPB KPN SERVICES =============================-->
		<!-- INPTNR -->
		<wsdl:port name="InportNumberSeriesHttpPort" binding="ecnsws:EcnsSoapBinding">
			<soap:address location="http://hdxs6d.telecom.ptt.nl:37999/ProcessDefinitions/V0.2/InportNumberSeriesServer"/>
		</wsdl:port>
		<!-- RESTNR -->
		<wsdl:port name="ReserveNumberSeriesHttpPort" binding="ecnsws:EcnsSoapBinding">
			<soap:address location="http://hdxs6d.telecom.ptt.nl:37999/ProcessDefinitions/V0.2/ReserveNumberSeriesServer"/>
		</wsdl:port>
		<!-- RTNRIP -->
		<wsdl:port name="ReserveNumberSeriesForInportHttpPort" binding="ecnsws:EcnsSoapBinding">
			<soap:address location="http://hdxs6d.telecom.ptt.nl:37999/ProcessDefinitions/V0.2/ReserveNumberSeriesForInportServer"/>
		</wsdl:port>
		<!-- TOETNR -->
		<wsdl:port name="AssignNumberSeriesHttpPort" binding="ecnsws:EcnsSoapBinding">
			<soap:address location="http://hdxs6d.telecom.ptt.nl:37999/ProcessDefinitions/V0.2/AssignNumberSeriesServer"/>
		</wsdl:port>
		<!-- VRGTNR -->
		<wsdl:port name="ReleaseNumberSeriesHttpPort" binding="ecnsws:EcnsSoapBinding">
			<soap:address location="http://hdxs6d.telecom.ptt.nl:37999/ProcessDefinitions/V0.2/ReleaseNumberSeriesServer"/>
		</wsdl:port>
		<!-- STSYNC -->
		<wsdl:port name="StartSyncInportHttpPort" binding="ecnsws:EcnsSoapBinding">
			<soap:address location="http://hdxs6d.telecom.ptt.nl:37999/ProcessDefinitions/V0.2/StartSyncInportServer"/>
		</wsdl:port>
		<!-- ===============   ZIPB Packager SERVICES =============================-->
		<!-- Asynchronic result on INPTNR -->
		<wsdl:port name="ResultInportNumberSeriesHttpPort" binding="ecnsws:EcnsSoapBinding">
			<soap:address location="packager_machine_adress:9999/location_defined_by_packager"/>
		</wsdl:port>
		<!-- Asynchronic result on RESTNR -->
		<wsdl:port name="ResultReserveNumberSeriesHttpPort" binding="ecnsws:EcnsSoapBinding">
			<soap:address location="packager_machine_adress:9999/location_defined_by_packager"/>
		</wsdl:port>
		<!-- Asynchronic result on RTNRIP -->
		<wsdl:port name="ResultReserveNumberSeriesForInportHttpPort" binding="ecnsws:EcnsSoapBinding">
			<soap:address location="packager_machine_adress:9999/location_defined_by_packager"/>
		</wsdl:port>
		<!-- Asynchronic result on TOETNR -->
		<wsdl:port name="ResultAssignNumberSeriesHttpPort" binding="ecnsws:EcnsSoapBinding">
			<soap:address location="packager_machine_adress:9999/location_defined_by_packager"/>
		</wsdl:port>
		<!-- Asynchronic result on VRGTNR -->
		<wsdl:port name="ResultReleaseNumberSeriesHttpPort" binding="ecnsws:EcnsSoapBinding">
			<soap:address location="packager_machine_adress:9999/location_defined_by_packager"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
