EClipsAdapter/WSDL/EcnsPortingServices.xsd

<?xml version="1.0"?>
<!-- edited with XMLSpy v2006 sp2 U (http://www.altova.com) by Hans Postma (Atos Origin Nederland B.V.) -->
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by Gerrit Smink (Atos Origin) -->
<!-- XSD Version: 1.0 (29-11-2006), Imro Wittenberg, Initial version -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ecpsxs="EcPsXsd_V0.2" targetNamespace="EcPsXsd_V0.2" elementFormDefault="qualified">
	<xsd:annotation>
		<xsd:documentation xml:lang="en">Structures for the E-CLIPS Porting Services Adapter </xsd:documentation>
	</xsd:annotation>
	<!-- ========== Global definitions =================================== -->
	<xsd:simpleType name="ValidPostalCode">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{4}[A-Z]{2}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CurrencyEnum">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="0" id="NLG"/>
			<xsd:enumeration value="1" id="EURO"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="BTWEnum">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="0" id="europeesVrijgesteld"/>
			<xsd:enumeration value="1" id="btwVrijgesteld"/>
			<xsd:enumeration value="2" id="btwLaagTarief"/>
			<xsd:enumeration value="3" id="btwHoogTarief"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TariffTypeEnum">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="0" id="minutes"/>
			<xsd:enumeration value="1" id="call"/>
			<xsd:enumeration value="2" id="miaco067"/>
			<xsd:enumeration value="3" id="friaco067"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TypeOfNumberEnum">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="0" id="fixed"/>
			<xsd:enumeration value="1" id="mobile"/>
			<xsd:enumeration value="2" id="service"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="PriorityEnum">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="0" id="standaard"/>
			<xsd:enumeration value="1" id="urgent"/>
			<xsd:enumeration value="2" id="spoed"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="AN1-3">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="3"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="AN1-4">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="4"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="AN1-5">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="5"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="AN1-6">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="6"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="AN1-8">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="8"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="AN1-10">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="10"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="AN1-19">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="19"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="AN1-20">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="20"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="AN1-24">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="24"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="AN1-30">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="30"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="AN1-70">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="70"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="AN1-100">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="100"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="AN3-6">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="3"/>
			<xsd:maxLength value="6"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="AN7-8">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="7"/>
			<xsd:maxLength value="8"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="AN9-26">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="9"/>
			<xsd:maxLength value="26"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- ======================DEFINITION OF THE SUB STRUCTUREs ========================= -->
	<xsd:element name="StatusResponsePS">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:annotation>
					<xsd:documentation>0 is OK</xsd:documentation>
				</xsd:annotation>
				<xsd:element name="ResultCode" type="xsd:integer"/>
				<xsd:element name="MessageCode" type="xsd:string" minOccurs="0"/>
				<xsd:element name="ErrorCode" type="xsd:string" minOccurs="0"/>
				<xsd:element name="ErrorDescription" type="xsd:string" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="NumberSerieStruct">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="StartOfSerie" type="ecpsxs:AN1-20"/>
				<xsd:element name="EndOfSerie" type="ecpsxs:AN1-20"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="TariffInfoStruct">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="TariffPeak" type="ecpsxs:AN7-8"/>
				<xsd:element name="TariffOffPeak" type="ecpsxs:AN7-8"/>
				<xsd:element name="TariffCurrency" type="ecpsxs:CurrencyEnum"/>
				<xsd:element name="TariffType" type="ecpsxs:TariffTypeEnum"/>
				<xsd:element name="TariffBtw" type="ecpsxs:BTWEnum"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="CustomerInfoStruct">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Initials" type="ecpsxs:AN1-6" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Without '.' or spaces</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="Prefix" type="ecpsxs:AN1-10" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Full, example ‘de’, ‘van der’</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="LastName" type="ecpsxs:AN1-70" minOccurs="0"/>
				<xsd:element name="CompanyName" type="ecpsxs:AN1-70" minOccurs="0"/>
				<xsd:element name="Address" type="ecpsxs:AN1-24"/>
				<xsd:element name="HouseNumber" type="ecpsxs:AN1-5"/>
				<xsd:element name="HouseNrExt" type="ecpsxs:AN1-4" minOccurs="0"/>
				<xsd:element name="PostalCode" type="ecpsxs:ValidPostalCode" minOccurs="0"/>
				<xsd:element name="City" type="ecpsxs:AN1-24"/>
				<xsd:element name="CountryCode" type="ecpsxs:AN1-3"/>
				<xsd:element name="CustomerId" type="ecpsxs:AN1-20" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<!-- Request structure Start Porting Request -->
	<xsd:element name="StartPortingRequestReqStruct">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="external_sync" type="xsd:boolean" minOccurs="0"/>
				<xsd:element name="RecipientNetworkOperator" type="ecpsxs:AN3-6"/>
				<xsd:element name="RecipientServiceProvider" type="ecpsxs:AN3-6" minOccurs="0"/>
				<xsd:element name="DonorNetworkOperator" type="ecpsxs:AN3-6"/>
				<xsd:element name="DonorServiceProvider" type="ecpsxs:AN3-6" minOccurs="0"/>
				<xsd:element name="WhishDateTime" type="xsd:dateTime"/>
				<xsd:element name="TypeOfNumber" type="ecpsxs:TypeOfNumberEnum"/>
				<xsd:element name="Note" type="ecpsxs:AN1-100" minOccurs="0"/>
				<xsd:element ref="ecpsxs:CustomerInfoStruct"/>
				<xsd:element name="NumberOfRepeats" maxOccurs="250">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element ref="ecpsxs:NumberSerieStruct"/>
							<xsd:element ref="ecpsxs:TariffInfoStruct" minOccurs="0"/>
							<xsd:element name="PointOfPresence" type="ecpsxs:AN1-24" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<!-- Reply structure Start Porting Request -->
	<xsd:element name="StartPortingRequestRespStruct">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ecpsxs:StatusResponsePS"/>
				<xsd:element name="PortingId" type="ecpsxs:AN9-26" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<!-- Request structure Receive Handover -->
	<xsd:element name="ReceiveHandoverReqStruct">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="PortingId" type="ecpsxs:AN9-26"/>
				<xsd:element name="ActualDateTime" type="xsd:dateTime"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<!-- Reply structure Receive Handover -->
	<xsd:element name="ReceiveHandoverRespStruct">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ecpsxs:StatusResponsePS"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<!-- Request structure Start Deactivation -->
	<xsd:element name="StartDeactivationReqStruct">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="CurrentNetworkOperator" type="ecpsxs:AN3-6"/>
				<xsd:element name="OriginalNetworkOperator" type="ecpsxs:AN3-6"/>
				<xsd:element name="TypeOfNumber" type="ecpsxs:TypeOfNumberEnum"/>
				<xsd:element name="NumberOfRepeats" maxOccurs="250">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element ref="ecpsxs:NumberSerieStruct"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<!-- Reply structure Start Deactivation -->
	<xsd:element name="StartDeactivationRespStruct">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ecpsxs:StatusResponsePS"/>
				<xsd:element name="BroadcastId" type="ecpsxs:AN1-19" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<!-- Request structure Start Planned Deactivation -->
	<xsd:element name="StartPlannedDeactivationReqStruct">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="PlatformProvider" type="ecpsxs:AN3-6"/>
				<xsd:element name="PlannedDateTime" type="xsd:dateTime"/>
				<xsd:element name="TypeOfNumber" type="ecpsxs:TypeOfNumberEnum"/>
				<xsd:element name="NumberOfRepeats" maxOccurs="250">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="Number" type="ecpsxs:AN1-20"/>
							<xsd:element name="PointOfPresence" type="ecpsxs:AN1-24"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<!-- Reply structure Start Planned Deactivation -->
	<xsd:element name="StartPlannedDeactivationRespStruct">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ecpsxs:StatusResponsePS"/>
				<xsd:element name="BroadcastId" type="ecpsxs:AN1-19" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<!-- Request structure Receive Deactivation -->
	<xsd:element name="ReceiveDeactivationReqStruct">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="BroadcastId" type="ecpsxs:AN1-19"/>
				<xsd:element name="CurrentNetworkOperator" type="ecpsxs:AN3-6"/>
				<xsd:element name="OriginalNetworkOperator" type="ecpsxs:AN3-6"/>
				<xsd:element name="TypeOfNumber" type="ecpsxs:TypeOfNumberEnum"/>
				<xsd:element name="NumberOfRepeats" maxOccurs="250">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element ref="ecpsxs:NumberSerieStruct"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<!-- Reply structure Receive Deactivation -->
	<xsd:element name="ReceiveDeactivationRespStruct">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ecpsxs:StatusResponsePS"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<!-- Request structure Receive Planned Deactivation -->
	<xsd:element name="ReceivePlannedDeactivationReqStruct">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="BroadcastId" type="ecpsxs:AN1-19"/>
				<xsd:element name="PlatformProvider" type="ecpsxs:AN1-6"/>
				<xsd:element name="PlannedDateTime" type="xsd:dateTime"/>
				<xsd:element name="TypeOfNumber" type="ecpsxs:TypeOfNumberEnum"/>
				<xsd:element name="NumberOfRepeats" maxOccurs="250">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="Number" type="ecpsxs:AN1-20"/>
							<xsd:element name="PointOfPresence" type="ecpsxs:AN1-24"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<!-- Reply structure Receive Planned Deactivation -->
	<xsd:element name="ReceivePlannedDeactivationRespStruct">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ecpsxs:StatusResponsePS"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<!-- Request structure Start Planned Activation -->
	<xsd:element name="StartPlannedActivationReqStruct">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="PlatformProvider" type="ecpsxs:AN1-6"/>
				<xsd:element name="PlannedDateTime" type="xsd:dateTime"/>
				<xsd:element name="TypeOfNumber" type="ecpsxs:TypeOfNumberEnum"/>
				<xsd:element name="Note" type="ecpsxs:AN1-100" minOccurs="0"/>
				<xsd:element name="Priority" type="ecpsxs:PriorityEnum"/>
				<xsd:element name="NumberOfRepeats" maxOccurs="250">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="Number" type="ecpsxs:AN1-20"/>
							<xsd:element ref="ecpsxs:TariffInfoStruct" minOccurs="0"/>
							<xsd:element name="PointOfPresence" type="ecpsxs:AN1-24"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<!-- Reply structure Start Planned Activation -->
	<xsd:element name="StartPlannedActivationRespStruct">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ecpsxs:StatusResponsePS"/>
				<xsd:element name="BroadcastId" type="ecpsxs:AN1-19" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<!-- Request structure Receive Porting Request Answer -->
	<xsd:element name="ReceivePortingRequestAnswerReqStruct">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="PortingId" type="ecpsxs:AN9-26"/>
				<xsd:element name="Blocking" type="xsd:boolean"/>
				<xsd:element name="PortingWishDateTime" type="xsd:dateTime" minOccurs="0"/>
				<xsd:element name="NumberOfRepeats" minOccurs="0" maxOccurs="250">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element ref="ecpsxs:NumberSerieStruct" minOccurs="0"/>
							<xsd:element name="BlockingCode" type="xsd:integer" minOccurs="0"/>
							<xsd:element name="ProposedDateTime" type="xsd:dateTime" minOccurs="0"/>
							<xsd:element name="Note" type="ecpsxs:AN1-100" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<!-- Reply structure Receive Porting Request Answer -->
	<xsd:element name="ReceivePortingRequestAnswerRespStruct">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ecpsxs:StatusResponsePS"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<!-- Request structure Receive Change Porting Request Answer -->
	<xsd:element name="ReceiveChangeRequestAnswerReqStruct">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="PortingId" type="ecpsxs:AN9-26"/>
				<xsd:element name="Blocking" type="xsd:boolean"/>
				<xsd:element name="PortingWishDateTime" type="xsd:dateTime" minOccurs="0"/>
				<xsd:element name="ProposedDateTime" type="xsd:dateTime" minOccurs="0"/>
				<xsd:element name="Note" type="ecpsxs:AN1-100" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<!-- Reply structure Receive Change Porting Request Answer -->
	<xsd:element name="ReceiveChangeRequestAnswerRespStruct">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ecpsxs:StatusResponsePS"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<!-- Request structure Start Porting Synchronisation -->
	<xsd:element name="StartPortingSynchronisationReqStruct">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="PortingId" type="ecpsxs:AN9-26"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<!-- Reply structure Start Porting Synchronisation -->
	<xsd:element name="StartPortingSynchronisationRespStruct">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ecpsxs:StatusResponsePS"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="StartCancelReqStruct">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="PortingId" type="ecpsxs:AN9-26"/>
				<xsd:element name="Note" type="ecpsxs:AN1-100" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="StartCancelRespStruct">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ecpsxs:StatusResponsePS"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="StartChangeRequestReqStruct">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="PortingId" type="ecpsxs:AN9-26"/>
				<xsd:element name="WishDateTime" type="xsd:dateTime"/>
				<xsd:element name="Note" type="ecpsxs:AN1-100" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="StartChangeRequestRespStruct">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ecpsxs:StatusResponsePS"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ReceiveHoldReqStruct">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="PortingId" type="ecpsxs:AN9-26"/>
				<xsd:element name="Note" type="ecpsxs:AN1-100"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<!-- Reply structure Receive Number OutPortingComplete -->
	<xsd:element name="ReceiveHoldRespStruct">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ecpsxs:StatusResponsePS"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<!-- Sameer E-Clips 3.0 Release Workpackage -->
	<!-- Request Structure  ReceiveCancel -->
	<xsd:element name="ReceiveCancelReqStruct">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="PortingId" type="ecpsxs:AN9-26"/>
				<xsd:element name="Note" type="ecpsxs:AN1-100"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<!-- Reply structure  ReceiveCancel-->
	<xsd:element name="ReceiveCancelRespStruct">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ecpsxs:StatusResponsePS"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<!-- Request Structure  ReceiveCancelChangeRequest -->
	<xsd:element name="ReceiveChangeRequestReqStruct">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="PortingId" type="ecpsxs:AN9-26"/>
				<xsd:element name="WishDateTime" type="xsd:dateTime"/>
				<xsd:element name="Note" type="ecpsxs:AN1-100" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<!-- Reply structure  ReceiveCancelChangeRequest-->
	<xsd:element name="ReceiveChangeRequestRespStruct">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ecpsxs:StatusResponsePS"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<!-- Request Structure  ReceiveSaveOutPortingRequest -->
	<xsd:element name="ReceivePortingRequestReqStruct">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="PortingId" type="ecpsxs:AN9-26"/>
				<xsd:element name="RecipientNetworkOperator" type="ecpsxs:AN3-6"/>
				<xsd:element name="RecipientServiceProvider" type="ecpsxs:AN3-6" minOccurs="0"/>
				<xsd:element name="DonorNetworkOperator" type="ecpsxs:AN3-6"/>
				<xsd:element name="DonorServiceProvider" type="ecpsxs:AN3-6" minOccurs="0"/>
				<xsd:element ref="ecpsxs:CustomerInfoStruct"/>
				<xsd:element name="WishDateTime" type="xsd:dateTime"/>
				<xsd:element name="TypeOfNumber" type="ecpsxs:TypeOfNumberEnum"/>
				<xsd:element name="Note" type="ecpsxs:AN1-100" minOccurs="0"/>
				<xsd:element name="NumberOfRepeats" maxOccurs="250">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element ref="ecpsxs:NumberSerieStruct"/>
							<xsd:element ref="ecpsxs:TariffInfoStruct" minOccurs="0"/>
							<xsd:element name="PointOfPresence" type="ecpsxs:AN1-24" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<!-- Reply structure  ReceiveSaveOutPortingRequest-->
	<xsd:element name="ReceivePortingRequestRespStruct">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ecpsxs:StatusResponsePS"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<!-- Request structure Start Change Porting Request Answer -->
	<xsd:element name="StartChangeRequestAnswerReqStruct">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="PortingId" type="ecpsxs:AN9-26"/>
				<xsd:element name="Blocking" type="xsd:boolean"/>
				<xsd:element name="WishDateTime" type="xsd:dateTime" minOccurs="0"/>
				<xsd:element name="ProposedDateTime" type="xsd:dateTime" minOccurs="0"/>
				<xsd:element name="Note" type="ecpsxs:AN1-100" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<!-- Reply structure Start Change Porting Request Answer -->
	<xsd:element name="StartChangeRequestAnswerRespStruct">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ecpsxs:StatusResponsePS"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<!-- Request structure Start Handover -->
	<xsd:element name="StartHandoverReqStruct">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="PortingId" type="ecpsxs:AN9-26"/>
				<xsd:element name="ActualPortingDateTime" type="xsd:dateTime"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<!-- Reply structure Start Handover -->
	<xsd:element name="StartHandoverRespStruct">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ecpsxs:StatusResponsePS"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="StartHoldReqStruct">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="PortingId" type="ecpsxs:AN9-26"/>
				<xsd:element name="Note" type="ecpsxs:AN1-100"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<!-- Reply structure Receive Number OutPortingComplete -->
	<xsd:element name="StartHoldRespStruct">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ecpsxs:StatusResponsePS"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<!-- Request structure Start Porting Request Answer -->
	<xsd:element name="StartPortingRequestAnswerReqStruct">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="PortingId" type="ecpsxs:AN9-26"/>
				<xsd:element name="Blocking" type="xsd:boolean"/>
				<xsd:element name="WishDateTime" type="xsd:dateTime" minOccurs="0"/>
				<xsd:element name="NumberOfRepeats" maxOccurs="250">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element ref="ecpsxs:NumberSerieStruct"/>
							<xsd:element name="BlockingCode" type="xsd:integer" minOccurs="0"/>
							<xsd:element name="ProposedDateTime" type="xsd:dateTime" minOccurs="0"/>
							<xsd:element name="Note" type="ecpsxs:AN1-100" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<!-- Reply structure Start Porting Request Answer -->
	<xsd:element name="StartPortingRequestAnswerRespStruct">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ecpsxs:StatusResponsePS"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<!-- Request structure  -->
	<xsd:element name="ReceiveSynchronisationReqStruct">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="PortingId" type="ecpsxs:AN9-26"/>
				<xsd:element name="NumberOfRepeats" maxOccurs="250">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element ref="ecpsxs:NumberSerieStruct"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<!-- Reply structure RecieveSynchronisation -->
	<xsd:element name="ReceiveSynchronisationRespStruct">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ecpsxs:StatusResponsePS"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<!--Upto here Sameer E-Clips 3.0 Release Workpackage -->
	<!-- ========= DEFINITION OF THE E-CLIPS NS MESSAGES ===============================-->
	<!-- For synchronic Start Porting request operation Porting Services-->
	<xsd:element name="EcnsStartPortingRequestReq">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ecpsxs:StartPortingRequestReqStruct"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="EcnsStartPortingRequestResp">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ecpsxs:StartPortingRequestRespStruct"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<!-- For synchronic Receive Handover operation Porting Services-->
	<xsd:element name="EcnsReceiveHandoverReq">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ecpsxs:ReceiveHandoverReqStruct"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="EcnsReceiveHandoverResp">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ecpsxs:ReceiveHandoverRespStruct"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<!-- For synchronic Start Deactivation operation Porting Services-->
	<xsd:element name="EcnsStartDeactivationReq">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ecpsxs:StartDeactivationReqStruct"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="EcnsStartDeactivationResp">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ecpsxs:StartDeactivationRespStruct"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<!-- For synchronic Receive Deactivation operation Porting Services-->
	<xsd:element name="EcnsReceiveDeactivationReq">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ecpsxs:ReceiveDeactivationReqStruct"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="EcnsReceiveDeactivationResp">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ecpsxs:ReceiveDeactivationRespStruct"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<!-- For synchronic Start Deactivation operation Porting Services-->
	<xsd:element name="EcnsStartPlannedDeactivationReq">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ecpsxs:StartPlannedDeactivationReqStruct"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="EcnsStartPlannedDeactivationResp">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ecpsxs:StartPlannedDeactivationRespStruct"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<!-- For synchronic Receive Planned Deactivation operation Porting Services-->
	<xsd:element name="EcnsReceivePlannedDeactivationReq">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ecpsxs:ReceivePlannedDeactivationReqStruct"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="EcnsReceivePlannedDeactivationResp">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ecpsxs:ReceivePlannedDeactivationRespStruct"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<!-- For synchronic Start Planned Activation operation Porting Services-->
	<xsd:element name="EcnsStartPlannedActivationReq">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ecpsxs:StartPlannedActivationReqStruct"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="EcnsStartPlannedActivationResp">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ecpsxs:StartPlannedActivationRespStruct"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<!-- For synchronic Receive Blocking Porting Request Answer Services-->
	<xsd:element name="EcnsReceivePortingRequestAnswerReq">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ecpsxs:ReceivePortingRequestAnswerReqStruct"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="EcnsReceivePortingRequestAnswerResp">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ecpsxs:ReceivePortingRequestAnswerRespStruct"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<!-- For synchronic Receive Change Porting Request Answer Services-->
	<xsd:element name="EcnsReceiveChangeRequestAnswerReq">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ecpsxs:ReceiveChangeRequestAnswerReqStruct"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="EcnsReceiveChangeRequestAnswerResp">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ecpsxs:ReceiveChangeRequestAnswerRespStruct"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<!-- For synchronic Start Porting Synchronisation Services-->
	<xsd:element name="EcnsStartPortingSynchronisationReq">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ecpsxs:StartPortingSynchronisationReqStruct"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="EcnsStartPortingSynchronisationResp">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ecpsxs:StartPortingSynchronisationRespStruct"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="EcnsStartCancelReq">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ecpsxs:StartCancelReqStruct"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="EcnsStartCancelResp">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ecpsxs:StartCancelRespStruct"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="EcnsStartChangeRequestReq">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ecpsxs:StartChangeRequestReqStruct"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="EcnsStartChangeRequestResp">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ecpsxs:StartChangeRequestRespStruct"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="EcnsReceiveHoldReq">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ecpsxs:ReceiveHoldReqStruct"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="EcnsReceiveHoldResp">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ecpsxs:ReceiveHoldRespStruct"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<!-- Sameer Parmar E-Clips 3.0 Release Workpackage-->
	<!--ReceiveCancel -->
	<xsd:element name="EcnsReceiveCancelReq">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ecpsxs:ReceiveCancelReqStruct"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="EcnsReceiveCancelResp">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ecpsxs:ReceiveCancelRespStruct"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<!--ReceiveCancelChangeRequest -->
	<xsd:element name="EcnsReceiveChangeRequestReq">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ecpsxs:ReceiveChangeRequestReqStruct"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="EcnsReceiveChangeRequestResp">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ecpsxs:ReceiveChangeRequestRespStruct"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<!--ReceivePortingRequest -->
	<xsd:element name="EcnsReceivePortingRequestReq">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ecpsxs:ReceivePortingRequestReqStruct"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="EcnsReceivePortingRequestResp">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ecpsxs:ReceivePortingRequestRespStruct"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<!--StartChangeRequestAnswer -->
	<xsd:element name="EcnsStartChangeRequestAnswerReq">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ecpsxs:StartChangeRequestAnswerReqStruct"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="EcnsStartChangeRequestAnswerResp">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ecpsxs:StartChangeRequestAnswerRespStruct"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<!--StartHandover -->
	<xsd:element name="EcnsStartHandoverReq">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ecpsxs:StartHandoverReqStruct"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="EcnsStartHandoverResp">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ecpsxs:StartHandoverRespStruct"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<!--StartHold -->
	<xsd:element name="EcnsStartHoldReq">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ecpsxs:StartHoldReqStruct"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="EcnsStartHoldResp">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ecpsxs:StartHoldRespStruct"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<!--StartPortingRequestAnswer -->
	<xsd:element name="EcnsStartPortingRequestAnswerReq">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ecpsxs:StartPortingRequestAnswerReqStruct"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="EcnsStartPortingRequestAnswerResp">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ecpsxs:StartPortingRequestAnswerRespStruct"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<!--ReceiveSynchronisation -->
	<xsd:element name="EcnsReceiveSynchronisationReq">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ecpsxs:ReceiveSynchronisationReqStruct"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="EcnsReceiveSynchronisationResp">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ecpsxs:ReceiveSynchronisationRespStruct"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<!--Upto here  Sameer Parmar E-Clips 3.0 Release Workpackage-->
</xsd:schema>
