EClipsAdapter/WSDL/MmspOrdering.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2006 sp2 U (http://www.altova.com) by Gerrit (Atos Origin Nederland B.V.) -->
<!--version 0.2.6.1 (levering aan EAI tbv ZIPB) -->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:mmspws="http://webservices.kpn-lls.com/V0.2/MmspOrdering.wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mmspxs="MmspXsd_V0.2" xmlns:ns="Global" xmlns:ns1="http://www.w3.org/2001/XMLSchema" targetNamespace="http://webservices.kpn-lls.com/V0.2/MmspOrdering.wsdl" name="Untitled">
	<wsdl:import namespace="MmspXsd_V0.2" location="MmspOrdering.xsd"/>
	<wsdl:message name="NewMMAccountReqMsg">
		<wsdl:part name="NewMMAccountReqPart" element="mmspxs:MmspNewMMAccount"/>
	</wsdl:message>
	<wsdl:message name="UpdateMMAccountReqMsg">
		<wsdl:part name="UpdateMMAccountReqPart" element="mmspxs:MmspUpdateMMAccount"/>
	</wsdl:message>
	<wsdl:message name="DeleteMMAccountReqMsg">
		<wsdl:part name="DeleteMMAccountReqPart" element="mmspxs:MmspDeleteMMAccount"/>
	</wsdl:message>
	<wsdl:message name="ReadMMAccountReqMsg">
		<wsdl:part name="ReadMMAccountReqPart" element="mmspxs:MmspReadMMAccountReq"/>
	</wsdl:message>
	<wsdl:message name="ReadMMAccountRespMsg">
		<wsdl:part name="ReadMMAccountRespPart" element="mmspxs:MmspReadMMAccountResp"/>
	</wsdl:message>
	<wsdl:message name="ReadTcaAvailableReqMsg">
		<wsdl:part name="ReadTcaAvailableReqPart" element="mmspxs:MmspReadTcaAvailableReq"/>
	</wsdl:message>
	<wsdl:message name="ReadTcaAvailableRespMsg">
		<wsdl:part name="ReadTcaAvailableRespPart" element="mmspxs:MmspReadTcaAvailableResp"/>
	</wsdl:message>
	<wsdl:message name="UpdateMMAccountPasswordReqMsg">
		<wsdl:part name="UpdateMMAccountPasswordReqPart" element="mmspxs:MmspUpdateMMAccountPasswordReq"/>
	</wsdl:message>
	<wsdl:message name="UpdateMMAccountPasswordRespMsg">
		<wsdl:part name="UpdateMMAccountPasswordRespPart" element="mmspxs:MmspUpdateMMAccountPasswordResp"/>
	</wsdl:message>
	<wsdl:message name="UpdateMMAccountFeatureSettingReqMsg">
		<wsdl:part name="UpdateMMAccountFeatureSettingReqPart" element="mmspxs:MmspUpdateMMAccountFeatureSettingReq"/>
	</wsdl:message>
	<wsdl:message name="UpdateMMAccountFeatureSettingRespMsg">
		<wsdl:part name="UpdateMMAccountFeatureSettingRespPart" element="mmspxs:MmspUpdateMMAccountFeatureSettingResp"/>
	</wsdl:message>
	<wsdl:message name="SetVoIPEntryReqMsg">
		<wsdl:part name="SetVoIPEntryReqPart" element="mmspxs:MmspSetVoIPEntryReq"/>
	</wsdl:message>
	<wsdl:message name="SetVoIPEntryRespMsg">
		<wsdl:part name="SetVoIPEntryRespPart" element="mmspxs:MmspSetVoIPEntryResp"/>
	</wsdl:message>
	<wsdl:message name="DeleteVoIPEntryReqMsg">
		<wsdl:part name="DeleteVoIPEntryReqPart" element="mmspxs:MmspDeleteVoIPEntryReq"/>
	</wsdl:message>
	<wsdl:message name="DeleteVoIPEntryRespMsg">
		<wsdl:part name="DeleteVoIPEntryRespPart" element="mmspxs:MmspDeleteVoIPEntryResp"/>
	</wsdl:message>
	<wsdl:message name="ResultNewMMAccountReqMsg">
		<wsdl:part name="ResultNewMMAccountReqPart" element="mmspxs:MmspResultNewMMAccount"/>
	</wsdl:message>
	<wsdl:message name="ResultUpdateMMAccountReqMsg">
		<wsdl:part name="ResultUpdateMMAccountReqPart" element="mmspxs:MmspResultUpdateMMAccount"/>
	</wsdl:message>
	<wsdl:message name="ResultDeleteMMAccountReqMsg">
		<wsdl:part name="ResultDeleteMMAccountReqPart" element="mmspxs:MmspResultDeleteMMAccount"/>
	</wsdl:message>
	<wsdl:message name="MmspStandardResponse">
		<wsdl:part name="MmspStandardResponse" element="mmspxs:MmspStandardResponse"/>
	</wsdl:message>
	<wsdl:portType name="MmspOrdering">
		<!-- Definition of KPN's first 6 functional operations -->
		<wsdl:operation name="NewMMAccountOperation">
			<wsdl:input message="mmspws:NewMMAccountReqMsg"/>
			<wsdl:output message="mmspws:MmspStandardResponse"/>
		</wsdl:operation>
		<wsdl:operation name="UpdateMMAccountOperation">
			<wsdl:input message="mmspws:UpdateMMAccountReqMsg"/>
			<wsdl:output message="mmspws:MmspStandardResponse"/>
		</wsdl:operation>
		<wsdl:operation name="DeleteMMAccountOperation">
			<wsdl:input message="mmspws:DeleteMMAccountReqMsg"/>
			<wsdl:output message="mmspws:MmspStandardResponse"/>
		</wsdl:operation>
		<wsdl:operation name="ReadMMAccountOperation">
			<wsdl:input message="mmspws:ReadMMAccountReqMsg"/>
			<wsdl:output message="mmspws:ReadMMAccountRespMsg"/>
		</wsdl:operation>
		<wsdl:operation name="ReadTcaAvailableOperation">
			<wsdl:input message="mmspws:ReadTcaAvailableReqMsg"/>
			<wsdl:output message="mmspws:ReadTcaAvailableRespMsg"/>
		</wsdl:operation>
		<wsdl:operation name="UpdateMMAccountPasswordOperation">
			<wsdl:input message="mmspws:UpdateMMAccountPasswordReqMsg"/>
			<wsdl:output message="mmspws:UpdateMMAccountPasswordRespMsg"/>
		</wsdl:operation>
		<wsdl:operation name="UpdateMMAccountFeatureSettingOperation">
			<wsdl:input message="mmspws:UpdateMMAccountFeatureSettingReqMsg"/>
			<wsdl:output message="mmspws:UpdateMMAccountFeatureSettingRespMsg"/>
		</wsdl:operation>
		<wsdl:operation name="SetVoIPEntryOperation">
			<wsdl:input message="mmspws:SetVoIPEntryReqMsg"/>
			<wsdl:output message="mmspws:SetVoIPEntryRespMsg"/>
		</wsdl:operation>
		<wsdl:operation name="DeleteVoIPEntryOperation">
			<wsdl:input message="mmspws:DeleteVoIPEntryReqMsg"/>
			<wsdl:output message="mmspws:DeleteVoIPEntryRespMsg"/>
		</wsdl:operation>
		<!-- Definition of packagers first 3 functional operations -->
		<wsdl:operation name="ResultNewMMAccountOperation">
			<wsdl:input message="mmspws:ResultNewMMAccountReqMsg"/>
			<wsdl:output message="mmspws:MmspStandardResponse"/>
		</wsdl:operation>
		<wsdl:operation name="ResultUpdateMMAccountOperation">
			<wsdl:input message="mmspws:ResultUpdateMMAccountReqMsg"/>
			<wsdl:output message="mmspws:MmspStandardResponse"/>
		</wsdl:operation>
		<wsdl:operation name="ResultDeleteMMAccountOperation">
			<wsdl:input message="mmspws:ResultDeleteMMAccountReqMsg"/>
			<wsdl:output message="mmspws:MmspStandardResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="MmspSoapBinding" type="mmspws:MmspOrdering">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<!-- Definition of the 7 KPN operations -->
		<wsdl:operation name="NewMMAccountOperation">
			<wsdl:documentation>The operation has no documentation</wsdl:documentation>
			<soap:operation soapAction="/ProcessDefinitions/V0.2/NewMMAccountServer" style="document"/>
			<wsdl:input>
				<soap:body parts="NewMMAccountReqPart" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="MmspStandardResponse" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="UpdateMMAccountOperation">
			<wsdl:documentation>The operation has no documentation</wsdl:documentation>
			<soap:operation soapAction="/ProcessDefinitions/V0.2/UpdateMMAccountServer" style="document"/>
			<wsdl:input>
				<soap:body parts="UpdateMMAccountReqPart" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="MmspStandardResponse" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="DeleteMMAccountOperation">
			<wsdl:documentation>The operation has no documentation</wsdl:documentation>
			<soap:operation soapAction="/ProcessDefinitions/V0.2/DeleteMMAccountServer" style="document"/>
			<wsdl:input>
				<soap:body parts="DeleteMMAccountReqPart" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="MmspStandardResponse" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ReadMMAccountOperation">
			<wsdl:documentation>The operation has no documentation</wsdl:documentation>
			<soap:operation soapAction="/ProcessDefinitions/V0.2/ReadMMAccountServer" style="document"/>
			<wsdl:input>
				<soap:body parts="ReadMMAccountReqPart" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="ReadMMAccountRespPart" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ReadTcaAvailableOperation">
			<wsdl:documentation>The operation has no documentation</wsdl:documentation>
			<soap:operation soapAction="/ProcessDefinitions/V0.2/ReadTcaAvailableServer" style="document"/>
			<wsdl:input>
				<soap:body parts="ReadTcaAvailableReqPart" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="ReadTcaAvailableRespPart" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="UpdateMMAccountPasswordOperation">
			<wsdl:documentation>The operation has no documentation</wsdl:documentation>
			<soap:operation soapAction="/ProcessDefinitions/V0.2/UpdateMMAccountPasswordServer" style="document"/>
			<wsdl:input>
				<soap:body parts="UpdateMMAccountPasswordReqPart" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="UpdateMMAccountPasswordRespPart" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="UpdateMMAccountFeatureSettingOperation">
			<wsdl:documentation>The operation has no documentation</wsdl:documentation>
			<soap:operation soapAction="/ProcessDefinitions/V0.2/UpdateMMAccountFeatureSettingServer" style="document"/>
			<wsdl:input>
				<soap:body parts="UpdateMMAccountFeatureSettingReqPart" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="UpdateMMAccountFeatureSettingRespPart" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="SetVoIPEntryOperation">
			<wsdl:documentation>The operation has no documentation</wsdl:documentation>
			<soap:operation soapAction="/ProcessDefinitions/V0.2/SetVoIPEntryServer" style="document"/>
			<wsdl:input>
				<soap:body parts="SetVoIPEntryReqPart" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="SetVoIPEntryRespPart" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="DeleteVoIPEntryOperation">
			<wsdl:documentation>The operation has no documentation</wsdl:documentation>
			<soap:operation soapAction="/ProcessDefinitions/V0.2/DeleteVoIPEntryServer" style="document"/>
			<wsdl:input>
				<soap:body parts="DeleteVoIPEntryReqPart" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="DeleteVoIPEntryRespPart" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<!-- Definition of the first 3 operations provided by the packager(s) -->
		<wsdl:operation name="ResultNewMMAccountOperation">
			<wsdl:documentation>The operation has no documentation</wsdl:documentation>
			<soap:operation soapAction="to_be_defined_by_each_packager" style="document"/>
			<wsdl:input>
				<soap:body parts="ResultNewMMAccountReqPart" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="MmspStandardResponse" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ResultUpdateMMAccountOperation">
			<wsdl:documentation>The operation has no documentation</wsdl:documentation>
			<soap:operation soapAction="to_be_defined_by_each_packager" style="document"/>
			<wsdl:input>
				<soap:body parts="ResultUpdateMMAccountReqPart" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="MmspStandardResponse" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ResultDeleteMMAccountOperation">
			<wsdl:documentation>The operation has no documentation</wsdl:documentation>
			<soap:operation soapAction="to_be_defined_by_each_packager" style="document"/>
			<wsdl:input>
				<soap:body parts="ResultDeleteMMAccountReqPart" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="MmspStandardResponse" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="MmspOrderingService">
		<!-- ===============KPN SERVICE =============================-->
		<wsdl:port name="NewMMAccountHttpPort" binding="mmspws:MmspSoapBinding">
			<soap:address location="http://hdxs6d.telecom.ptt.nl:36999/ProcessDefinitions/V0.2/NewMMAccountServer"/>
		</wsdl:port>
		<wsdl:port name="UpdateMMAccountHttpPort" binding="mmspws:MmspSoapBinding">
			<soap:address location="http://hdxs6d.telecom.ptt.nl:36999/ProcessDefinitions/V0.2/UpdateMMAccountServer"/>
		</wsdl:port>
		<wsdl:port name="DeleteMMAccountHttpPort" binding="mmspws:MmspSoapBinding">
			<soap:address location="http://hdxs6d.telecom.ptt.nl:36999/ProcessDefinitions/V0.2/DeleteMMAccountServer"/>
		</wsdl:port>
		<wsdl:port name="ReadMMAccountHttpPort" binding="mmspws:MmspSoapBinding">
			<soap:address location="http://hdxs6d.telecom.ptt.nl:36999/ProcessDefinitions/V0.2/ReadMMAccountServer"/>
		</wsdl:port>
		<wsdl:port name="ReadTcaAvailableHttpPort" binding="mmspws:MmspSoapBinding">
			<soap:address location="http://hdxs6d.telecom.ptt.nl:36999/ProcessDefinitions/V0.2/ReadTcaAvailableServer"/>
		</wsdl:port>
		<wsdl:port name="UpdateMMAccountPasswordHttpPort" binding="mmspws:MmspSoapBinding">
			<soap:address location="http://hdxs6d.telecom.ptt.nl:36999/ProcessDefinitions/V0.2/UpdateMMAccountPasswordServer"/>
		</wsdl:port>
		<wsdl:port name="UpdateMMAccountFeatureSettingHttpPort" binding="mmspws:MmspSoapBinding">
			<soap:address location="http://hdxs6d.telecom.ptt.nl:36999/ProcessDefinitions/V0.2/UpdateMMAccountFeatureSettingServer"/>
		</wsdl:port>
		<wsdl:port name="SetVoIPEntryHttpPort" binding="mmspws:MmspSoapBinding">
			<soap:address location="http://hdxs6d.telecom.ptt.nl:36999/ProcessDefinitions/V0.2/SetVoIPEntryServer"/>
		</wsdl:port>
		<wsdl:port name="DeleteVoIPEntryHttpPort" binding="mmspws:MmspSoapBinding">
			<soap:address location="http://hdxs6d.telecom.ptt.nl:36999/ProcessDefinitions/V0.2/DeleteVoIPEntryServer"/>
		</wsdl:port>
		<!-- ===============PACKAGER SERVICE =============================-->
		<wsdl:port name="ResultNewMMAccountHttpPort" binding="mmspws:MmspSoapBinding">
			<soap:address location="http://packager_machine_adress:9999/location_defined_by_packager"/>
		</wsdl:port>
		<wsdl:port name="ResultUpdateMMAccountHttpPort" binding="mmspws:MmspSoapBinding">
			<soap:address location="http://packager_machine_adress:9999/location_defined_by_packager"/>
		</wsdl:port>
		<wsdl:port name="ResultDeleteMMAccountHttpPort" binding="mmspws:MmspSoapBinding">
			<soap:address location="http://packager_machine_adress:9999/location_defined_by_packager"/>
		</wsdl:port>
	</wsdl:service>
	<!-- ============ Messages for the KPN operations ======================-->
	<!-- ============ Messages for the Packager operations ======================-->
	<!--Definition of the operations-->
</wsdl:definitions>
