GenericOrderGateway/XSDSchemas/OrderServices/Imported/0396_GetOrderStatus_1.0_Response_EAI_BUS_SIDE.xsd

<?xml version="1.0" encoding="utf-8"?>

<xs:schema xmlns:tns="http://xmlns.kpn.com/EAI/fixed/0396_GetOrderStatus/1.0/Response"
	 xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 targetNamespace="http://xmlns.kpn.com/EAI/fixed/0396_GetOrderStatus/1.0/Response"
	 elementFormDefault="unqualified"
	 attributeFormDefault="unqualified">
	<xs:simpleType name="orderType_type">
		<xs:annotation>
			<xs:documentation>The deifferent types of orders i.e.:
- customerOrder
- networkResourceOrder
- wholesaleAccessOrder
- workOrder</xs:documentation>
			<xs:documentation>Default value is:''</xs:documentation>
			<xs:documentation>1000 length string limitation added by KPN EAI defaults.Increase size in Rose if required.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="1000"/>
			<xs:enumeration value="customerOrder"/>
			<xs:enumeration value="networkResourceOrder"/>
			<xs:enumeration value="wholesaleAccessOrder"/>
			<xs:enumeration value="workOrder"/>
			<xs:enumeration value="STATUS_REQUEST"/>
			<xs:enumeration value="undefined"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="orderId_type">
		<xs:annotation>
			<xs:documentation>String limitation 1000 added by KPN EAI automated guideline supervision. Increase size in Rose if desired.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="1000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="externalReference_type">
		<xs:annotation>
			<xs:documentation>String limitation 1000 added by KPN EAI automated guideline supervision. Increase size in Rose if desired.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="1000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="creationDate_type">
		<xs:restriction base="xs:dateTime"/>
	</xs:simpleType>
	<xs:simpleType name="dueDate_type">
		<xs:restriction base="xs:dateTime"/>
	</xs:simpleType>
	<xs:simpleType name="orderPriority_type">
		<xs:restriction base="xs:unsignedByte"/>
	</xs:simpleType>
	<xs:simpleType name="productCategoryName_type">
		<xs:annotation>
			<xs:documentation>String limitation 1000 added by KPN EAI automated guideline supervision. Increase size in Rose if desired.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="1000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="cityName_type">
		<xs:annotation>
			<xs:documentation>String limitation 1000 added by KPN EAI automated guideline supervision. Increase size in Rose if desired.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="1000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="cityCode_type">
		<xs:annotation>
			<xs:documentation>String limitation 1000 added by KPN EAI automated guideline supervision. Increase size in Rose if desired.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="1000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="countryCodeA2_type">
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="dutchPostcode_type">
		<xs:restriction base="xs:string">
			<xs:length value="6"/>
			<xs:pattern value="\d{4}[a-zA-Z]{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="anyType_type">
		<xs:restriction base="xs:anyType"/>
	</xs:simpleType>
	<xs:simpleType name="streetName_type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="24"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="houseNumber_type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="5"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="houseNumberExtension_type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="6"/>
			<xs:minLength value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="dutchPostcodeNumbers_type">
		<xs:restriction base="xs:string">
			<xs:pattern value="\d{4}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="dutchPostcodeLetters_type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[a-zA-Z]{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="centralCustomerId_type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z,0-9]{8}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="productCategoryType_type">
		<xs:annotation>
			<xs:documentation>String limitation 1000 added by KPN EAI automated guideline supervision. Increase size in Rose if desired.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="1000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="orderItemType_type">
		<xs:annotation>
			<xs:documentation>String limitation 1000 added by KPN EAI automated guideline supervision. Increase size in Rose if desired.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="1000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="contractId_type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="BODY">
		<xs:annotation>
			<xs:documentation>This is the BODY object for KPN EAI service number 0396 - GetOrderStatus version 1.0 Response message.</xs:documentation>
			<xs:documentation>Automatically generated schema for service:'GetOrderStatus', version:'1.0'</xs:documentation>
			<xs:documentation>Generated on 2008-03-20 14:13:50Z</xs:documentation>
			<xs:documentation>Service paradigm is intended to be Request/Response</xs:documentation>
			<xs:documentation>Service ID is:'0396'</xs:documentation>
			<xs:documentation>The body must always have MinOccurs=0 and MaxOccurs=1, by definition of KPN EAI AG. (For request messages this has no apparent benefit)</xs:documentation>
			<xs:documentation>KPN EAI message body class.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:annotation>
					<xs:documentation>Artificial sequence to separate.</xs:documentation>
				</xs:annotation>
				<xs:element name="ORDER">
					<xs:complexType>
						<xs:sequence>
							<xs:annotation>
								<xs:documentation>Artificial sequence to separate.</xs:documentation>
							</xs:annotation>
							<xs:element name="ORDER_HEADER">
								<xs:complexType>
									<xs:sequence>
										<xs:annotation>
											<xs:documentation>Artificial sequence to separate.</xs:documentation>
										</xs:annotation>
										<xs:element name="OTHER_REFERENCE" minOccurs="0" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:annotation>
														<xs:documentation>Artificial sequence to separate.</xs:documentation>
													</xs:annotation>
													<xs:element name="ORIGIN" type="xs:string"/>
													<xs:element name="REFERENCE" type="xs:string"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="PARENT_ORDER" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:annotation>
														<xs:documentation>Artificial sequence to separate.</xs:documentation>
													</xs:annotation>
													<xs:element name="PARENT_ORDER_ID" type="tns:orderId_type"/>
													<xs:element name="PARENT_SYSTEM_REFERENCE" type="xs:string" minOccurs="0"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="DELIVERY_ADDRESS" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:annotation>
														<xs:documentation>Artificial sequence to separate.</xs:documentation>
													</xs:annotation>
													<xs:element name="choice">
														<xs:complexType>
															<xs:choice>
																<xs:element name="UNFORMATTED_ADDRESS">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:annotation>
																				<xs:documentation>Artificial sequence to separate.</xs:documentation>
																			</xs:annotation>
																			<xs:element name="ADDRESS_LINE" type="xs:string" maxOccurs="unbounded"/>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
																<xs:element name="LOGICAL_ADDRESS">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:annotation>
																				<xs:documentation>Artificial sequence to separate.</xs:documentation>
																			</xs:annotation>
																			<xs:element name="POSTCODE">
																				<xs:complexType>
																					<xs:sequence>
																						<xs:annotation>
																							<xs:documentation>Artificial sequence to separate.</xs:documentation>
																						</xs:annotation>
																						<xs:element name="choice">
																							<xs:complexType>
																								<xs:choice>
																									<xs:element name="DUTCH_POSTCODE" type="tns:dutchPostcode_type" minOccurs="0"/>
																									<xs:element name="UNFORMATTED_POSTCODE" type="tns:anyType_type" minOccurs="0"/>
																								</xs:choice>
																							</xs:complexType>
																						</xs:element>
																					</xs:sequence>
																				</xs:complexType>
																			</xs:element>
																			<xs:element name="POBOX_NUMBER" type="xs:string" minOccurs="0"/>
																			<xs:element name="POBOX_NAME" type="xs:string" minOccurs="0"/>
																			<xs:element name="CITY_NAME" type="tns:cityName_type" minOccurs="0"/>
																			<xs:element name="CITY_CODE" type="tns:cityCode_type" minOccurs="0"/>
																			<xs:element name="COUNTRY_CODE" type="tns:countryCodeA2_type" minOccurs="0"/>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
																<xs:element name="PROPERTY_ADDRESS">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:annotation>
																				<xs:documentation>Artificial sequence to separate.</xs:documentation>
																			</xs:annotation>
																			<xs:element name="STREET_NAME" type="tns:streetName_type" minOccurs="0"/>
																			<xs:element name="HOUSE_NUMBER" type="tns:houseNumber_type" minOccurs="0"/>
																			<xs:element name="HOUSE_NUMBER_EXTENSION" type="tns:houseNumberExtension_type" minOccurs="0"/>
																			<xs:element name="POSTCODE_NUMBERS" type="tns:dutchPostcodeNumbers_type" minOccurs="0"/>
																			<xs:element name="POSTCODE_LETTERS" type="tns:dutchPostcodeLetters_type" minOccurs="0"/>
																			<xs:element name="CITY_NAME" type="tns:cityName_type" minOccurs="0"/>
																			<xs:element name="COUNTRY_CODE" type="tns:countryCodeA2_type" minOccurs="0"/>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
															</xs:choice>
														</xs:complexType>
													</xs:element>
													<xs:element name="VALIDITY" minOccurs="0" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence>
																<xs:annotation>
																	<xs:documentation>Artificial sequence to separate.</xs:documentation>
																</xs:annotation>
																<xs:element name="ADDRESS_STATE" type="xs:string" minOccurs="0">
																	<xs:annotation>
																		<xs:documentation>Default (autogenerated) min and max occurs values.</xs:documentation>
																	</xs:annotation>
																</xs:element>
																<xs:element name="ADDRESS_LAST_CHANGED_DATE" type="xs:string" minOccurs="0">
																	<xs:annotation>
																		<xs:documentation>Default (autogenerated) min and max occurs values.</xs:documentation>
																	</xs:annotation>
																</xs:element>
																<xs:element name="ADDRESS_LAST_CHANGED_BY" type="xs:string" minOccurs="0">
																	<xs:annotation>
																		<xs:documentation>Default (autogenerated) min and max occurs values.</xs:documentation>
																	</xs:annotation>
																</xs:element>
																<xs:element name="ADDRESS_CHECK" type="xs:string" minOccurs="0">
																	<xs:annotation>
																		<xs:documentation>Default (autogenerated) min and max occurs values.</xs:documentation>
																	</xs:annotation>
																</xs:element>
																<xs:element name="ADDRESS_CHECK_DATE" type="xs:string" minOccurs="0">
																	<xs:annotation>
																		<xs:documentation>Default (autogenerated) min and max occurs values.</xs:documentation>
																	</xs:annotation>
																</xs:element>
																<xs:element name="ADDRESS_CREATION_DATE" type="xs:string" minOccurs="0">
																	<xs:annotation>
																		<xs:documentation>Default (autogenerated) min and max occurs values.</xs:documentation>
																	</xs:annotation>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="RAYON" type="xs:string" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Default (autogenerated) min and max occurs values.</xs:documentation>
														</xs:annotation>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="CUSTOMER_ID" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:annotation>
														<xs:documentation>Artificial sequence to separate.</xs:documentation>
													</xs:annotation>
													<xs:element name="ID_PACKAGER" minOccurs="0">
														<xs:complexType>
															<xs:sequence>
																<xs:annotation>
																	<xs:documentation>Artificial sequence to separate.</xs:documentation>
																</xs:annotation>
																<xs:element name="INTERNAL" type="xs:string" minOccurs="0"/>
																<xs:element name="EXTERNAL" type="xs:string" minOccurs="0"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="ID_CKR" type="tns:centralCustomerId_type" minOccurs="0"/>
													<xs:element name="ID_MCCS" type="tns:centralCustomerId_type" minOccurs="0"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="ORDER_STATUS" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:annotation>
														<xs:documentation>Artificial sequence to separate.</xs:documentation>
													</xs:annotation>
													<xs:element name="ORDER_STATUS" type="xs:string" minOccurs="0"/>
													<xs:element name="ERROR_CODE" type="xs:string" minOccurs="0"/>
													<xs:element name="ERROR_DESCRIPTION" type="xs:string" minOccurs="0"/>
													<xs:element name="DELIVERY_STATUS_CODE" type="xs:string" minOccurs="0"/>
													<xs:element name="DELIVERY_STATUS_DESCRIPTION" type="xs:string" minOccurs="0"/>
													<xs:element name="DELIVERY_STATUS_ADDITIONAL_INFORMATION" type="xs:string" minOccurs="0"/>
													<xs:element name="STATUS_CODE" type="xs:string" minOccurs="0"/>
													<xs:element name="STATUS_DESCRIPTION" type="xs:string" minOccurs="0"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="ORDER_TYPE" type="tns:orderType_type" minOccurs="0"/>
										<xs:element name="ORDER_ID" type="tns:orderId_type" minOccurs="0"/>
										<xs:element name="EXTERNAL_REFERENCE" type="tns:externalReference_type" minOccurs="0"/>
										<xs:element name="CREATION_DATE" type="tns:creationDate_type"/>
										<xs:element name="DUE_DATE" type="tns:dueDate_type" minOccurs="0"/>
										<xs:element name="ORDER_PRIORITY" type="tns:orderPriority_type" minOccurs="0"/>
										<xs:element name="COMMERCIAL_PRODUCT_CATEGORY" type="tns:productCategoryName_type"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="ORDER_ITEM" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:annotation>
											<xs:documentation>Artificial sequence to separate.</xs:documentation>
										</xs:annotation>
										<xs:element name="ORDER_ITEM_HEADER">
											<xs:complexType>
												<xs:sequence>
													<xs:annotation>
														<xs:documentation>Artificial sequence to separate.</xs:documentation>
													</xs:annotation>
													<xs:element name="REMARK" minOccurs="0" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence>
																<xs:annotation>
																	<xs:documentation>Artificial sequence to separate.</xs:documentation>
																</xs:annotation>
																<xs:element name="TYPE" type="xs:string" minOccurs="0"/>
																<xs:element name="REMARK" type="xs:string" minOccurs="0"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="ORDER_ITEM_TYPE" type="tns:orderItemType_type"/>
													<xs:element name="ORDER_ITEM_ID" type="tns:orderItemType_type" minOccurs="0"/>
													<xs:element name="EXTERNAL_REFERENCE" type="tns:externalReference_type" minOccurs="0"/>
													<xs:element name="ORDER_ITEM_STATUS" type="xs:string" minOccurs="0"/>
													<xs:element name="DUE_DATE" type="tns:dueDate_type" minOccurs="0"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="PRODUCT" type="xs:anyType" minOccurs="0"/>

										<!--xs:element name="PRODUCT" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:annotation>
														<xs:documentation>Artificial sequence to separate.</xs:documentation>
													</xs:annotation>
													<xs:element name="any" type="tns:anyType_type"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element-->
										<xs:element name="CONTRACT" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:annotation>
														<xs:documentation>Artificial sequence to separate.</xs:documentation>
													</xs:annotation>
													<xs:element name="CONTRACT_PERIOD" minOccurs="0" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence>
																<xs:annotation>
																	<xs:documentation>Artificial sequence to separate.</xs:documentation>
																</xs:annotation>
																<xs:element name="choice">
																	<xs:complexType>
																		<xs:choice>
																			<xs:element name="UNTIL" type="xs:dateTime"/>
																			<xs:element name="DURATION" type="xs:duration"/>
																		</xs:choice>
																	</xs:complexType>
																</xs:element>
																<xs:element name="FROM" type="xs:date" minOccurs="0"/>
																<xs:element name="STATUS" type="xs:string" minOccurs="0"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="CONTRACT_NUMBER" type="tns:contractId_type" minOccurs="0"/>
													<xs:element name="CONTRACT_VERSION" type="xs:string" minOccurs="0"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="PRODUCT_CATEGORY" type="tns:productCategoryType_type"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>