GenericSOAPGateway/XSDSchemas/CKRAdapter/Common/BillRecipient.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema targetNamespace="http://xmlns.kpn.com/fixed/ckradapter/common/BillRecipient.xsd" xmlns="http://xmlns.kpn.com/fixed/ckradapter/common/BillRecipient.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:PropertyAddress.xsd="http://xmlns.kpn.com/fixed/ckradapter/common/PropertyAddress.xsd" elementFormDefault="qualified">
	<xsd:import namespace="http://xmlns.kpn.com/fixed/ckradapter/common/PropertyAddress.xsd" schemaLocation="PropertyAddress.xsd"/>
	<xsd:complexType name="BillRecipient">
		<xsd:sequence>
			<xsd:element name="BILL_RECIPIENT_CUSTOMER_ID" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ID" type="xsd:string" minOccurs="0"/>
			<xsd:element name="NAME" type="xsd:string" minOccurs="0"/>
			<xsd:element name="PROPERTY_ADDRESS" type="PropertyAddress.xsd:PropertyAddress" minOccurs="0"/>
			<xsd:element name="TRAILER_REFERENCE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="HOUSEBOAT_REFERENCE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="LOCATION_DESCRIPTION" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
