GenericSOAPGateway/XSDSchemas/CKRAdapter/Common/PartyName.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XML Spy v4.4 U (http://www.xmlspy.com) by Atos Origin (Atos Origin) -->
<xsd:schema targetNamespace="http://xmlns.kpn.com/fixed/ckradapter/common/PartyName.xsd" xmlns="http://xmlns.kpn.com/fixed/ckradapter/common/PartyName.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:complexType name="PartyName">
		<xsd:sequence>
			<xsd:element name="PARTY_NAME" type="xsd:string" minOccurs="0"/>
			<xsd:element name="PARTY_NAME_DIACRITICS" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
