GenericSOAPGateway/XSDSchemas/CKRAdapter/Common/Party.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema targetNamespace="http://xmlns.kpn.com/fixed/ckradapter/common/Party.xsd" xmlns="http://xmlns.kpn.com/fixed/ckradapter/common/Party.xsd" xmlns:Customer.xsd="http://xmlns.kpn.com/fixed/ckradapter/common/Customer.xsd" xmlns:OrganizationName.xsd="http://xmlns.kpn.com/fixed/ckradapter/common/OrganizationName.xsd" xmlns:IndividualName.xsd="http://xmlns.kpn.com/fixed/ckradapter/common/IndividualName.xsd" xmlns:PropertyAddress.xsd="http://xmlns.kpn.com/fixed/ckradapter/common/PropertyAddress.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:import namespace="http://xmlns.kpn.com/fixed/ckradapter/common/OrganizationName.xsd" schemaLocation="OrganizationName.xsd"/>
	<xsd:import namespace="http://xmlns.kpn.com/fixed/ckradapter/common/IndividualName.xsd" schemaLocation="IndividualName.xsd"/>
	<xsd:import namespace="http://xmlns.kpn.com/fixed/ckradapter/common/PropertyAddress.xsd" schemaLocation="PropertyAddress.xsd"/>
	<xsd:import namespace="http://xmlns.kpn.com/fixed/ckradapter/common/Customer.xsd" schemaLocation="Customer.xsd"/>
	<xsd:complexType name="Party">
		<xsd:sequence>
			<xsd:element name="VALID_FROM_DATE" type="xsd:date" minOccurs="0"/>
			<xsd:element name="VALID_UNTIL_DATE" type="xsd:date" minOccurs="0"/>
			<xsd:element name="PARTY_ID" type="xsd:string" minOccurs="0"/>
			<xsd:element name="PARTY_NAME" type="xsd:string" minOccurs="0"/>
			<xsd:element name="PARTY_NAME_DIACRITICS" type="xsd:string" minOccurs="0"/>
			<xsd:element name="BRANCH_NAME" type="xsd:string" minOccurs="0"/>
			<xsd:element name="BRANCH_NAME_DIACRITICS" type="xsd:string" minOccurs="0"/>
			<xsd:element name="LEGAL_FORM_CODE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="LEGAL_FORM_NAME" type="xsd:string" minOccurs="0"/>
			<xsd:element name="DATE_OF_BIRTH" type="xsd:date" minOccurs="0"/>
			<xsd:element name="CENTRAL_CUSTOMER_ID" type="xsd:string" minOccurs="0"/>
			<xsd:element name="KVK_NUMBER" type="xsd:string" minOccurs="0"/>
			<xsd:element name="IS_ACTIVE" type="xsd:boolean" minOccurs="0"/>
			<xsd:element name="ORGANIZATION_NAME" type="OrganizationName.xsd:OrganizationName" minOccurs="0"/>
			<xsd:element name="INDIVIDUAL_NAME" type="IndividualName.xsd:IndividualName" minOccurs="0"/>
			<xsd:element name="PROPERTY_ADDRESS" type="PropertyAddress.xsd:PropertyAddress" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
