IKKAdapter/WSDL/IKKAdapter/GetOfferHistory.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--WSDL created on 01-09-2006-->
<wsdl:definitions xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:intf="http://www.kpn.com/EpiphanyBusinessConnector/GetOfferHistory" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:impl="http://www.kpn.com/EpiphanyBusinessConnector/GetOfferHistory" targetNamespace="http://www.kpn.com/EpiphanyBusinessConnector/GetOfferHistory">
    <wsdl:types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.kpn.com/EpiphanyBusinessConnector/GetOfferHistory">
            <complexType name="type_GetOfferHistoryRequest">
                <sequence>
                    <element maxOccurs="1" minOccurs="0" name="CkrNr" nillable="true" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="MobielNummer" nillable="true" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="OfferHistoryDepth" nillable="true" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="RowCount" nillable="true" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="StaticAttribute" nillable="true" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="OfferStatus" nillable="true" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="ChannelType" nillable="true" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="OfferNaam" nillable="true" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="FlushSession" nillable="true" type="xsd:string"/>
                </sequence>
            </complexType>
            <element name="GetOfferHistoryRequest" type="impl:type_GetOfferHistoryRequest"/>
            <complexType name="type_status">
                <sequence>
                    <element name="STATUS_CODE" type="xsd:integer"/>
                    <element maxOccurs="1" minOccurs="0" name="MSG_CODE" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="ERROR_CODE" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="ERROR_DESCRIPTION" type="xsd:string"/>
                </sequence>
            </complexType>
            <complexType name="OfferHistoryType">
                <sequence>
                    <element name="Variabel" nillable="true" type="xsd:string"/>
                    <element name="ServerId" nillable="true" type="xsd:string"/>
                </sequence>
            </complexType>
            <complexType name="type_GetOfferHistoryResponse">
                <sequence>
                    <element name="RESULT_STATUS" type="impl:type_status"/>
                    <element maxOccurs="1" minOccurs="0" name="OfferHistory" nillable="true" type="impl:OfferHistoryType"/>
                </sequence>
            </complexType>
            <element name="GetOfferHistoryResponse" type="impl:type_GetOfferHistoryResponse"/>
        </schema>
    </wsdl:types>
    <wsdl:message name="GetOfferHistoryRequest">
        <wsdl:part element="impl:GetOfferHistoryRequest" name="GetOfferHistoryRequest"/>
    </wsdl:message>
    <wsdl:message name="GetOfferHistoryResponse">
        <wsdl:part element="impl:GetOfferHistoryResponse" name="GetOfferHistoryResponse"/>
    </wsdl:message>
    <wsdl:portType name="GetOfferHistoryPortType">
        <wsdl:operation name="GetOfferHistory" parameterOrder="GetOfferHistoryRequest">
            <wsdl:input message="impl:GetOfferHistoryRequest" name="GetOfferHistoryRequest"/>
            <wsdl:output message="impl:GetOfferHistoryResponse" name="GetOfferHistoryResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="GetOfferHistorySoapSoapBinding" type="impl:GetOfferHistoryPortType">
        <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="GetOfferHistory">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input name="GetOfferHistoryRequest">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="GetOfferHistoryResponse">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="GetOfferHistoryService">
        <wsdl:port binding="impl:GetOfferHistorySoapSoapBinding" name="GetOfferHistorySoap">
            <wsdlsoap:address location="http://hdxs7q.telecom.ptt.nl:9080/EBC/services/GetOfferHistorySoap"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>