GenericSOAPGateway/XSDSchemas/SiebelZMAdapter/Common/ContactPerson.xsd

<?xml version="1.0" encoding="utf-8"?>

<!-- edited with XMLSpy v2006 sp2 U (http://www.altova.com) by bhogeshwar k (Atos Origin Nederland B.V.) -->
<!-- Created with Liquid XML Studio 1.0.6.0 (http://www.liquid-technologies.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns:ns1="http://xmlns.kpn.com/fixed/SiebelZMAdapter/Common/ContactPerson.xsd"
	 targetNamespace="http://xmlns.kpn.com/fixed/SiebelZMAdapter/Common/ContactPerson.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:complexType name="type_ContactPerson">
		<xs:sequence>
			<xs:element name="LAST_NAME" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CONTACT_ROLE" minOccurs="0" maxOccurs="unbounded">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="30"/>
						<xs:enumeration value="Contractor"/>
						<xs:enumeration value="Financial"/>
						<xs:enumeration value="Technical"/>
						<xs:enumeration value="Residential"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="FIRST_NAME" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="MIDDLE_NAME" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PRIMARY_CONTACT_ROLE" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Contractor"/>
						<xs:enumeration value="Financial"/>
						<xs:enumeration value="Technical"/>
						<xs:enumeration value="Residential"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="GENDER" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="30"/>
						<xs:enumeration value="MALE"/>
						<xs:enumeration value="FEMALE"/>
						<xs:enumeration value="UNKNOWN"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="TITLE" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="15"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="EMAIL_ADDRESS" default="person@contact.me" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="320"/>
						<xs:pattern value="([\.a-zA-Z0-9_-])+@([a-zA-Z0-9_-])+(([a-zA-Z0-9_-])*\.([a-zA-Z0-9_-])+)+"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="VALIDITY_PERIOD" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="FROM" type="xs:dateTime"/>
						<xs:element name="UNTIL" type="xs:dateTime" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="WORK_NUMBER" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="WORK_NUMBER">
							<xs:complexType>
								<xs:choice>
									<xs:element name="UNFORMATTED">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="25"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
								</xs:choice>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="FAX_NUMBER" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="FAX_NUMBER">
							<xs:complexType>
								<xs:choice>
									<xs:element name="UNFORMATTED">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="25"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
								</xs:choice>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="MOBILE_NUMBER" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="MOBILE_NUMBER">
							<xs:complexType>
								<xs:choice>
									<xs:element name="UNFORMATTED">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="25"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
								</xs:choice>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>