GenericOrderGateway/XSDSchemas/GenericOrderGateway/Imported/Unallocated/Unallocated_Types.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- edited with XMLSpy v2007 rel. 3 (http://www.altova.com) by NLBSZSF2J (KPN Telecom) -->
<!-- edited with XMLSPY v5 rel. 4 U (http://www.xmlspy.com) by Atos Origin (Atos Origin) -->
<!-- KPN EAI Party_Type.xsd
Version 0.1
Last edit date: 11/11/2006
Revision history: 
11/11/2006, processed kpn fixed data requirements and spell corrections
-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xsd:include schemaLocation="../Common/Common_Types.xsd"/>
	<xsd:include schemaLocation="../Location/PropertyAddress_Type.xsd"/>
	<xsd:include schemaLocation="../Order/Order_Type.xsd"/>
	<xsd:complexType name="ContactMedium_Type">
		<xsd:annotation>
			<xsd:documentation>Generic contact medium provides a structure to store a single contact medium in. This is typically used to contact persons and/or companies.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="USAGE_COMMENTS" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Additional comment applicable to the usage of the contact medium data. For example "Don't call after 17:00".</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="200"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="VALIDITY_PERIOD" type="ValidityPeriod_Type" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Specified a period for which the contact medium is valid.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:choice>
				<xsd:element name="TELEPHONE" type="PhoneNumber_Type" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>A phone number to have verbal contact with a person.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="MOBILE" type="PhoneNumber_Type" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>A phone number to have verbal contact with a person.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="FAX" type="PhoneNumber_Type" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>A phone number to send fax-similea to.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="POSTAL_ADDRESS" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>An address to send items to.</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="NAME" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ADDRESS" type="PropertyAddress_Type" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="EMAIL_ADDRESS" type="emailAddress_Type" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>An internet e-mail address to send written text and / or documents to.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:choice>
		</xsd:sequence>
	</xsd:complexType>

	<!--###########################################################################-->
	<xsd:complexType name="PhoneNumber_Type">
		<xsd:annotation>
			<xsd:documentation>Generic polymoprhic phone number structure(s)</xsd:documentation>
		</xsd:annotation>
		<xsd:choice>
			<xsd:element name="DETAILED" type="PhoneNumber_Formatted_Type">
				<xsd:annotation>
					<xsd:documentation>A phone number split into the separate components. All formatting is removed and the number can be dialed automatically.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="UNFORMATTED" type="phoneNumber_Unformatted_Type">
				<xsd:annotation>
					<xsd:documentation>A string optionally starting with a + and then only digits, hyphens, braces or space.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="FREE_FORMAT" type="phoneNumber_FreeText_Type">
				<xsd:annotation>
					<xsd:documentation>Any text that cannot just be dialed automatically, but has likely to be interpreted by a Human.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="PhoneNumber_Formatted_Type">
		<xsd:annotation>
			<xsd:documentation>A phone number split into the separate components. All formatting is removed and the number can be dialed automatically.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="COUNTRY_CODE" type="phoneNumber_CountryCode_Type" default="31" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>The combination of one, two or three digits identifying a specific country, countries in an integrated numbering plan, or a specific geographic area - e.g. 31 = netherlands</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="AREA_CODE" type="phoneNumber_AreaCode_Type" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>National Destination code - a nationally optional code field. It can be a decimal digit or a combination of decimal digits identifying a numbering area within a country (or group of countries included in one integrated numbering plan or a specific geographic area) and/or network/services. eg 070</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="SUBSCRIBER_NUMBER" type="phoneNumber_SubscriberNumber_Type">
				<xsd:annotation>
					<xsd:documentation>The number identifying a subscriber in a network or numbering area eg 123456</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:group name="PhoneNumber_Formatted_Group">
		<xsd:sequence>
			<xsd:element name="COUNTRY_CODE" type="phoneNumber_CountryCode_Type" default="31" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>The combination of one, two or three digits identifying a specific country, countries in an integrated numbering plan, or a specific geographic area - e.g. 31 = netherlands</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="AREA_CODE" type="phoneNumber_AreaCode_Type" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>National Destination code - a nationally optional code field. It can be a decimal digit or a combination of decimal digits identifying a numbering area within a country (or group of countries included in one integrated numbering plan or a specific geographic area) and/or network/services. eg 070</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="SUBSCRIBER_NUMBER" type="phoneNumber_SubscriberNumber_Type">
				<xsd:annotation>
					<xsd:documentation>The number identifying a subscriber in a network or numbering area eg 123456</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:simpleType name="phoneNumber_FreeText_Type" final="#all">
		<xsd:annotation>
			<xsd:documentation>Any text that cannot just be dialed automatically, but has likely to be interpreted by a Human.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="25"/>
			<xsd:whiteSpace value="collapse"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="phoneNumber_CountryCode_Type">
		<xsd:annotation>
			<xsd:documentation>The combination of one, two or three digits identifying a specific country, countries in an integrated numbering plan, or a specific geographic area - e.g. 31 = netherlands</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1" fixed="true"/>
			<xsd:maxLength value="3" fixed="true"/>
			<xsd:whiteSpace value="collapse" fixed="true"/>
			<xsd:pattern value="\d+"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="phoneNumber_AreaCode_Type">
		<xsd:annotation>
			<xsd:documentation>National Destination code - a nationally optional code field. It can be a decimal digit or a combination of decimal digits identifying a numbering area within a country (or group of countries included in one integrated numbering plan or a specific geographic area) and/or network/services. eg 070</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1" fixed="true"/>
			<xsd:maxLength value="5" fixed="true"/>
			<xsd:whiteSpace value="collapse" fixed="true"/>
			<xsd:pattern value="\d+"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="phoneNumber_SubscriberNumber_Type">
		<xsd:annotation>
			<xsd:documentation>The number identifying a subscriber in a network or numbering area eg 123456</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="15" fixed="true"/>
			<xsd:minLength value="1" fixed="true"/>
			<xsd:whiteSpace value="collapse" fixed="true"/>
			<xsd:pattern value="\d+"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="phoneNumber_Unformatted_Type">
		<xsd:annotation>
			<xsd:documentation>A string optionally starting with a + and then only digits, hyphens, braces or space.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="26" fixed="true"/>
			<xsd:minLength value="1" fixed="true"/>
			<xsd:whiteSpace value="collapse" fixed="true"/>
			<xsd:pattern value="\+?[\d\-\(\)\s]{1,25}"/>
		</xsd:restriction>
	</xsd:simpleType>

	<!--###########################################################################-->
	<xsd:complexType name="PhoneNumberRange_Type">
		<xsd:sequence>
			<xsd:element name="START" type="PhoneNumber_Type"/>
			<xsd:element name="END" type="PhoneNumber_Type"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PhoneNumberRange_Formatted_Type">
		<xsd:annotation>
			<xsd:documentation>A range of phonenumbers whose structure is formatted.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="PhoneNumber_Formatted_Type">
				<xsd:choice>
					<xsd:element name="END_SUBSCRIBER_NUMBER" type="phoneNumber_SubscriberNumber_Type">
						<xsd:annotation>
							<xsd:documentation>The number identifying the last subscriber number of in a network or numbering area eg 123456</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="SIZE" type="xsd:positiveInteger"/>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="PhoneNumberRange_Unformatted_Type">
		<xsd:sequence>
			<xsd:element name="UNFORMATTED_PHONENUMBER" type="phoneNumber_Unformatted_Type">
				<xsd:annotation>
					<xsd:documentation>A string optionally starting with a + and then only digits, hyphens, braces or space.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:choice>
				<xsd:element name="END_UNFORMATTED_PHONENUMBER" type="phoneNumber_Unformatted_Type">
					<xsd:annotation>
						<xsd:documentation>A string optionally starting with a + and then only digits, hyphens, braces or space.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="SIZE" type="xsd:positiveInteger"/>
			</xsd:choice>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PhoneNumberRange_FreeText_Type">
		<xsd:sequence>
			<xsd:element name="FREE_FORMAT_PHONENUMBER" type="phoneNumber_FreeText_Type">
				<xsd:annotation>
					<xsd:documentation>Any text that cannot just be dialed automatically, but has likely to be interpreted by a Human.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:choice>
				<xsd:element name="END_FREE_FORMAT_PHONENUMBER" type="phoneNumber_FreeText_Type">
					<xsd:annotation>
						<xsd:documentation>Any text that cannot just be dialed automatically, but has likely to be interpreted by a Human.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="SIZE" type="xsd:positiveInteger"/>
			</xsd:choice>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PhoneNumberRange_Hybrid_Type">
		<xsd:annotation>
			<xsd:documentation>Alternate way to specify a phonenumber range where the various types of phonenumbers may be used simultaneously.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:choice>
				<xsd:annotation>
					<xsd:documentation>Choicegroup to choose between the possible formats for the first phonenumber in the range.</xsd:documentation>
				</xsd:annotation>
				<xsd:group ref="PhoneNumber_Formatted_Group"/>
				<xsd:element name="UNFORMATTED_PHONENUMBER" type="phoneNumber_Unformatted_Type">
					<xsd:annotation>
						<xsd:documentation>A string optionally starting with a + and then only digits, hyphens, braces or space.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="FREE_FORMAT_PHONENUMBER" type="phoneNumber_FreeText_Type">
					<xsd:annotation>
						<xsd:documentation>Any text that cannot just be dialed automatically, but has likely to be interpreted by a Human.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:choice>
			<xsd:choice>
				<xsd:annotation>
					<xsd:documentation>Choice group to select the manner in wqhich the groups size is expressed: Either via a size or by specifying th elast number in the range.</xsd:documentation>
				</xsd:annotation>
				<xsd:choice>
					<xsd:annotation>
						<xsd:documentation>Choice group to choose between the possible formats for the last phonenumber in the range.</xsd:documentation>
					</xsd:annotation>
					<xsd:element name="END_SUBSCRIBER_NUMBER" type="phoneNumber_SubscriberNumber_Type">
						<xsd:annotation>
							<xsd:documentation>The number identifying the last subscriber number of in a network or numbering area eg 123456</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="END_UNFORMATTED_PHONENUMBER" type="phoneNumber_Unformatted_Type">
						<xsd:annotation>
							<xsd:documentation>A string optionally starting with a + and then only digits, hyphens, braces or space.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="END_FREE_FORMAT_PHONENUMBER" type="phoneNumber_FreeText_Type">
						<xsd:annotation>
							<xsd:documentation>Any text that cannot just be dialed automatically, but has likely to be interpreted by a Human.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:choice>
				<xsd:element name="SIZE" type="xsd:positiveInteger"/>
			</xsd:choice>
		</xsd:sequence>
	</xsd:complexType>

	<!--###########################################################################-->
	<xsd:simpleType name="emailAddress_Type">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="^[\w-]+(\.[\w-]+)*@([\w-]+\.)+[a-zA-Z]{2,7}$">
				<xsd:annotation>
					<xsd:documentation>Matches 99.99% of e-mail addresses (excludes IP e-mails, which are rarely used). The {2,7} at the end leaves space for top level domains as short as .ca but leaves room for new ones like .museum, etc.</xsd:documentation>
				</xsd:annotation>
			</xsd:pattern>
		</xsd:restriction>
	</xsd:simpleType>

	<!--###########################################################################-->
	<xsd:complexType name="IpAddressRange_v4_Type">
		<xsd:sequence>
			<xsd:element name="START_IP_ADDRESS" type="ipAddress_v4_DotDecimal_Type"/>
			<xsd:choice>
				<xsd:element name="END_IP_ADDRESS" type="ipAddress_v4_DotDecimal_Type"/>
				<xsd:element name="SIZE" type="xsd:positiveInteger"/>
			</xsd:choice>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="ipAddress_v4_DotDecimal_Type">
		<xsd:annotation>
			<xsd:documentation>An IP Address that matches the following form: 
132.174.95.5
Note that special addresses such as 127.0.0.1 or invalid values such as 999.999.999.999 are not covered by this type</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ipAddress_v4_CIDR_Type">
		<xsd:annotation>
			<xsd:documentation>An IP Address that matches the following CIDR form:
132.174.0.0/27</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}/[0-9]{1,2}"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>