GOG/WSDL/WeakOrderConcreteFinal1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Created by TIBCO WSDL-->
<wsdl:definitions xmlns:jms="http://www.tibco.com/namespaces/ws/2004/soap/binding/JMS" xmlns:jndi="http://www.tibco.com/namespaces/ws/2004/soap/apis/jndi" xmlns:ns0="http://kpn.com/eai/generic/order" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://kpn.com/eai/generic/order/weak/wsdl/SubmitWeakOrderImpl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Untitled" targetNamespace="http://kpn.com/eai/generic/order/weak/wsdl/SubmitWeakOrderImpl">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://kpn.com/eai/generic/order">
            <xs:complexType name="Error">
                <xs:sequence>
                    <xs:element name="code" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="detail" type="xs:string"/>
                    <xs:element name="description" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType abstract="true" name="Order">
                <xs:sequence>
                    <xs:element minOccurs="0" name="customerOrderId" type="xs:string"/>
                    <xs:element name="orderDateTime" type="xs:dateTime"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType abstract="true" name="OrderStatus">
                <xs:sequence>
                    <xs:element minOccurs="0" name="customerOrderId" type="xs:string"/>
                    <xs:element name="supplierOrderId" type="xs:string"/>
                    <xs:element minOccurs="0" name="error" type="ns0:Error"/>
                    <xs:element name="status" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:simpleType name="OrderStatusEnumeration">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="INITIAL"/>
                    <xs:enumeration value="ACCEPTED"/>
                    <xs:enumeration value="REJECTED"/>
                    <xs:enumeration value="ERROR"/>
                    <xs:enumeration value="COMPLETED"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:complexType name="ParametersType">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="Parameter">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="Name" type="xs:string"/>
                                <xs:choice>
                                    <xs:element name="Parameters" type="ns0:ParametersType"/>
                                    <xs:element name="Value" type="xs:string"/>
                                </xs:choice>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="Action">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Name" type="xs:string"/>
                        <xs:element name="Parameters" type="ns0:ParametersType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="OrderItem">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ns0:OrderItemParameters"/>
                        <xs:element ref="ns0:Product"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="OrderItemParameters" type="ns0:ParametersType"/>
            <xs:element name="OrderParameters" type="ns0:ParametersType"/>
            <xs:element name="Product">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Group" type="xs:string"/>
                        <xs:element name="Name" type="xs:string"/>
                        <xs:element name="Version" type="xs:string"/>
                        <xs:element ref="ns0:Action"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="WeakOrder">
                <xs:complexType>
                    <xs:complexContent>
                        <xs:extension base="ns0:Order">
                            <xs:sequence>
                                <xs:element ref="ns0:OrderParameters"/>
                                <xs:element ref="ns0:OrderItem"/>
                            </xs:sequence>
                        </xs:extension>
                    </xs:complexContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="WeakOrderFault">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="errorMessage" type="xs:string"/>
                        <xs:element name="errorCode" type="xs:string"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="detail" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="WeakOrderStatus">
                <xs:complexType>
                    <xs:complexContent>
                        <xs:extension base="ns0:OrderStatus">
                            <xs:sequence>
                                <xs:element ref="ns0:OrderParameters"/>
                                <xs:element ref="ns0:OrderItem"/>
                            </xs:sequence>
                        </xs:extension>
                    </xs:complexContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="root">
                <xs:complexType/>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:service name="SubmitWeakOrder">
        <wsdl:port binding="tns:SOAPEventSourceBinding" name="WeakOrderServices">
            <soap:address location="jms:temp?targetService=SubmitWeakOrder"/>
            <jndi:context>
                <jndi:property name="java.naming.provider.url" type="java.lang.String">tibjmsnaming://localhost:7222</jndi:property>
                <jndi:property name="java.naming.factory.initial" type="java.lang.String">com.tibco.tibjms.naming.TibjmsInitialContextFactory</jndi:property>
            </jndi:context>
            <jms:connectionFactory>QueueConnectionFactory</jms:connectionFactory>
            <jms:targetAddress destination="topic">temp</jms:targetAddress>
        </wsdl:port>
        <wsdl:port binding="tns:SOAPEventSourceCallBackBinding" name="WeakOrderCallBackServices">
            <soap:address location="jms:temp?targetService=SubmitWeakOrder"/>
            <jndi:context>
                <jndi:property name="java.naming.provider.url" type="java.lang.String">tibjmsnaming://localhost:7222</jndi:property>
                <jndi:property name="java.naming.factory.initial" type="java.lang.String">com.tibco.tibjms.naming.TibjmsInitialContextFactory</jndi:property>
            </jndi:context>
            <jms:connectionFactory>QueueConnectionFactory</jms:connectionFactory>
            <jms:targetAddress destination="queue">temp</jms:targetAddress>
        </wsdl:port>
    </wsdl:service>
    <wsdl:portType name="WeakOrderServices">
        <wsdl:operation name="SubmitWeakOrder">
            <wsdl:input message="tns:SubmitWeakOrder"/>
            <wsdl:output message="tns:SubmitWeakOrderOut"/>
            <wsdl:fault message="tns:SubmitWeakOrderFault" name="SubmitWeakOrderFault"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="WeakOrderCallBackServices">
        <wsdl:operation name="UpdateWeakOrderStatus">
            <wsdl:input message="tns:UpdateWeakOrderStatus"/>
            <wsdl:output message="tns:UpdateWeakOrderStatusOut"/>
            <wsdl:fault message="tns:UpdateWeakOrderStatusFault" name="UpdateWeakOrderStatusFault"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="SOAPEventSourceBinding" type="tns:WeakOrderServices">
        <soap:binding style="document" transport="http://www.tibco.com/namespaces/ws/2004/soap/binding/JMS"/>
        <jms:binding messageFormat="bytes"/>
        <wsdl:operation name="SubmitWeakOrder">
            <soap:operation soapAction="/GenericOrderGateway/Processes/Outbound/Sub/SubmitWeakOrder" style="document"/>
            <wsdl:input>
                <soap:body parts="SubmitWeakOrder" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="status" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="SubmitWeakOrderFault">
                <soap:fault name="SubmitWeakOrderFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="SOAPEventSourceCallBackBinding" type="tns:WeakOrderCallBackServices">
        <soap:binding style="document" transport="http://www.tibco.com/namespaces/ws/2004/soap/binding/JMS"/>
        <jms:binding messageFormat="bytes"/>
        <wsdl:operation name="UpdateWeakOrderStatus">
            <soap:operation soapAction="/GenericOrderGateway/Processes/Outbound/Sub/SubmitWeakOrder" style="document"/>
            <wsdl:input>
                <soap:body parts="UpdateWeakOrderStatus" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="status" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="UpdateWeakOrderStatusFault">
                <soap:fault name="UpdateWeakOrderStatusFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:message name="SubmitWeakOrder">
        <wsdl:part element="ns0:WeakOrder" name="SubmitWeakOrder"/>
    </wsdl:message>
    <wsdl:message name="SubmitWeakOrderOut">
        <wsdl:part name="status" type="xsd:string"/>
    </wsdl:message>
    <wsdl:message name="SubmitWeakOrderFault">
        <wsdl:part element="ns0:WeakOrderFault" name="SubmitWeakOrderFault"/>
    </wsdl:message>
    <wsdl:message name="UpdateWeakOrderStatus">
        <wsdl:part element="ns0:WeakOrderStatus" name="UpdateWeakOrderStatus"/>
    </wsdl:message>
    <wsdl:message name="UpdateWeakOrderStatusOut">
        <wsdl:part name="status" type="xsd:string"/>
    </wsdl:message>
    <wsdl:message name="UpdateWeakOrderStatusFault">
        <wsdl:part element="ns0:WeakOrderFault" name="UpdateWeakOrderStatusFault"/>
    </wsdl:message>
</wsdl:definitions>