ASTRIDAdapter/XSDSchemas/ASTRIDAdapter/Publish/ProductUpdateNotification.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.kpn.com/fixed/ASTRIDAdapter/Publish/ProductUpdateNotification.xsd"
	 targetNamespace = "http://xmlns.kpn.com/fixed/ASTRIDAdapter/Publish/ProductUpdateNotification.xsd"
	 xmlns:HDR-SW-0101.xsd = "http://xmlns.kpn.com/fixed/ASTRIDAdapter/common/HDR-SW-0101.xsd"
	 xmlns:BATCH_C-0100.xsd = "http://xmlns.kpn.com/fixed/ASTRIDAdapter/common/BATCH_C-0100.xsd"
	 xmlns:PRODUC_S-0102.xsd = "http://xmlns.kpn.com/fixed/ASTRIDAdapter/common/PRODUC_S-0102.xsd"
	 xmlns:ASTRIDPublish.xsd = "http://xmlns.kpn.com/fixed/ASTRIDAdapter/common/ASTRIDPublish.xsd"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified">
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/ASTRIDAdapter/common/HDR-SW-0101.xsd" schemaLocation = "../Common/HDR-SW-0101.xsd"/>
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/ASTRIDAdapter/common/BATCH_C-0100.xsd" schemaLocation = "../Common/BATCH_C-0100.xsd"/>
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/ASTRIDAdapter/common/PRODUC_S-0102.xsd" schemaLocation = "../Common/PRODUC_S-0102.xsd"/>
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/ASTRIDAdapter/common/ASTRIDPublish.xsd" schemaLocation = "../Common/ASTRIDPublish.xsd"/>
	<xsd:element name = "ProductUpdateNotification">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base = "ASTRIDPublish.xsd:ASTRIDPublish">
					<xsd:sequence>
						<xsd:element name="ENGIN">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name = "HDR-SW-0101" type = "HDR-SW-0101.xsd:HDR-SW-0101" minOccurs = "0"/>
									<xsd:element name = "BATCH_C-0100" type = "BATCH_C-0100.xsd:BATCH_C-0100" minOccurs = "0"/>
									<xsd:element name="Loop" minOccurs = "0" maxOccurs = "2000">
										<xsd:complexType>
											<xsd:sequence>
												<xsd:element name = "PRODUC_S-0102" type = "PRODUC_S-0102.xsd:PRODUC_S-0102" minOccurs = "0"/>
											</xsd:sequence>
										</xsd:complexType>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>