ASTRIDAdapter/XSDSchemas/ASTRIDAdapter/Publish/TroubleReport.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.kpn.com/fixed/ASTRIDAdapter/Publish/TroubleReport.xsd"
	 targetNamespace = "http://xmlns.kpn.com/fixed/ASTRIDAdapter/Publish/TroubleReport.xsd"
	 xmlns:Attachment.xsd = "http://xmlns.kpn.com/fixed/ASTRIDAdapter/common/Attachment.xsd"
	 xmlns:ManagedObjectInTrouble.xsd = "http://xmlns.kpn.com/fixed/ASTRIDAdapter/common/ManagedObjectInTrouble.xsd"
	 xmlns:ManagedObject.xsd = "http://xmlns.kpn.com/fixed/ASTRIDAdapter/common/ManagedObject.xsd"
	 xmlns:ASTRIDPublish.xsd = "http://xmlns.kpn.com/fixed/ASTRIDAdapter/common/ASTRIDPublish.xsd"
	 xmlns:CustomerOrganization.xsd = "http://xmlns.kpn.com/fixed/ASTRIDAdapter/common/CustomerOrganization.xsd"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 xmlns:TroubleReport.xsd = "http://xmlns.kpn.com/fixed/ASTRIDAdapter/common/TroubleReport.xsd"
	 elementFormDefault = "qualified">
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/ASTRIDAdapter/common/Attachment.xsd" schemaLocation = "../Common/Attachment.xsd"/>
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/ASTRIDAdapter/common/ManagedObjectInTrouble.xsd" schemaLocation = "../Common/ManagedObjectInTrouble.xsd"/>
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/ASTRIDAdapter/common/ManagedObject.xsd" schemaLocation = "../Common/ManagedObject.xsd"/>
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/ASTRIDAdapter/common/ASTRIDPublish.xsd" schemaLocation = "../Common/ASTRIDPublish.xsd"/>
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/ASTRIDAdapter/common/CustomerOrganization.xsd" schemaLocation = "../Common/CustomerOrganization.xsd"/>
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/ASTRIDAdapter/common/TroubleReport.xsd" schemaLocation = "../Common/TroubleReport.xsd"/>
	<xsd:element name = "TroubleReport">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base = "ASTRIDPublish.xsd:ASTRIDPublish">
					<xsd:sequence>
						<xsd:element name = "TROUBLE_REPORT" type = "TroubleReport.xsd:TroubleReport" minOccurs = "0"/>
						<xsd:element name = "CUSTOMER_ORGANIZATION" type = "CustomerOrganization.xsd:CustomerOrganization" minOccurs = "0"/>
						<xsd:element name = "MANAGED_OBJECT_IN_TROUBLE" type = "ManagedObjectInTrouble.xsd:ManagedObjectInTrouble" minOccurs = "0"/>
						<xsd:element name = "MANAGED_OBJECT" type = "ManagedObject.xsd:ManagedObject" minOccurs = "0"/>
						<xsd:element name = "ATTACHMENT" type = "Attachment.xsd:Attachment" minOccurs = "0" maxOccurs = "3"/>
					</xsd:sequence>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>