SiebelZMAdapter/XSDSchemas/SiebelZMAdapter/Imported/0364_GetBusinessSegmentInstalledBase_1.0_Response_EAI_BUS_SIDE.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- edited with XMLSpy v2006 sp2 U (http://www.altova.com) by bhogeshwar k (Atos Origin Nederland B.V.) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://xmlns.kpn.com/EAI/fixed/GetBusinessSegmentInstalledBaseResponse"
	 xmlns:ns0="http://xmlns.kpn.com/fixed/SiebelZMAdapter/Common/Product.xsd"
	 targetNamespace="http://xmlns.kpn.com/EAI/fixed/GetBusinessSegmentInstalledBaseResponse"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:import namespace="http://xmlns.kpn.com/fixed/SiebelZMAdapter/Common/Product.xsd" schemaLocation="../Common/Product.xsd"/>
	<xs:element name="BODY">
		<xs:annotation>
			<xs:documentation>Comment describing your root element</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="INSTALLED_BASE" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="PRODUCT_CATEGORY" type="xs:string" default="ZIPB IP"/>
							<xs:element name="CUSTOMER_ID" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="ID_CKR" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:pattern value="[A-Z,0-9]{8}"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="CUSTOMER_ACCOUNT" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="ACCOUNT_NAME" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="100"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="ACCOUNT_ID" type="xs:string" minOccurs="0"/>
										<xs:element name="QUANTITY" type="xs:positiveInteger" minOccurs="0"/>
										<xs:element name="SERVICE_ID" type="xs:string" minOccurs="0"/>
										<xs:element name="PRODUCT_NAME" type="xs:string" minOccurs="0"/>
										<xs:element name="STATUS" type="xs:string" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="ZIPB_PRODUCT" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="PRODUCT_INSTANCE_ID" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="30"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="QUANTITY" type="xs:positiveInteger" minOccurs="0"/>
										<xs:element name="SERVICE_ID" type="xs:string" minOccurs="0"/>
										<xs:element name="PRODUCT_LIST" type="ns0:type_ProductList" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>