SiebelZMAdapter/XSDSchemas/SiebelZMAdapter/Imported/0386_FindCustomerIdByPhoneNumber_1.0_Response_EAI_BUS_SIDE.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://xmlns.kpn.com/EAI/fixed/0386_FindCustomerIdByPhoneNumber/1.0/Response" targetNamespace="http://xmlns.kpn.com/EAI/fixed/0386_FindCustomerIdByPhoneNumber/1.0/Response" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="phoneNumber_type">
    <xs:restriction base="xs:string">
      <xs:maxLength value="25" />
      <xs:pattern value="\+?[\d\-\(\)\s]{1,25}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="centralCustomerId_type">
    <xs:annotation>
      <xs:documentation>Represents a customer id from CKR, Siebel ZM or Siebel CM. There are no (harmful) overlaps between these systems.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z,0-9]{8}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="BODY">
    <xs:annotation>
      <xs:documentation>This is the BODY object for KPN EAI service number 0386 - FindCustomerIdByPhoneNumber version 1.0 Response message.</xs:documentation>
      <xs:documentation>Automatically generated schema for service:'FindCustomerIdByPhoneNumber', version:'1.0'</xs:documentation>
      <xs:documentation>Generated on 2008-04-01 11:51:34Z</xs:documentation>
      <xs:documentation>Service paradigm is intended to be Request/Response</xs:documentation>
      <xs:documentation>Service ID is:'0386'</xs:documentation>
      <xs:documentation>The body must always have MinOccurs=0 and MaxOccurs=1, by definition of KPN EAI AG. (For request messages this has no apparent benefit)</xs:documentation>
      <xs:documentation>KPN EAI message body class.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:annotation>
          <xs:documentation>Artificial sequence to separate.</xs:documentation>
        </xs:annotation>
        <xs:element minOccurs="1" maxOccurs="1" name="PHONE_NUMBER">
          <xs:complexType>
            <xs:sequence>
              <xs:annotation>
                <xs:documentation>Artificial sequence to separate.</xs:documentation>
              </xs:annotation>
              <xs:element minOccurs="1" maxOccurs="1" name="UNFORMATTED" type="tns:phoneNumber_type" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="1" name="CUSTOMER">
          <xs:complexType>
            <xs:sequence>
              <xs:annotation>
                <xs:documentation>Artificial sequence to separate.</xs:documentation>
              </xs:annotation>
              <xs:element minOccurs="0" maxOccurs="1" name="CUSTOMER_ID">
                <xs:complexType>
                  <xs:sequence>
                    <xs:annotation>
                      <xs:documentation>Artificial sequence to separate.</xs:documentation>
                    </xs:annotation>
                    <xs:element minOccurs="1" maxOccurs="1" name="ID_CKR" type="tns:centralCustomerId_type">
                      <xs:annotation>
                        <xs:documentation>Represents a customer id from CKR, Siebel ZM or Siebel CM. There are no (harmful) overlaps between these systems.</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="1" name="PROPERTY_ADDRESS">
                <xs:complexType>
                  <xs:sequence>
                    <xs:annotation>
                      <xs:documentation>Artificial sequence to separate.</xs:documentation>
                    </xs:annotation>
                    <xs:element minOccurs="0" maxOccurs="1" name="HOUSE_NUMBER" type="xs:string" />
                    <xs:element minOccurs="0" maxOccurs="1" name="HOUSE_NUMBER_EXTENSION" type="xs:string" />
                    <xs:element minOccurs="0" maxOccurs="1" name="DUTCH_POSTCODE" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="1" name="PARTY">
                <xs:complexType>
                  <xs:sequence>
                    <xs:annotation>
                      <xs:documentation>Artificial sequence to separate.</xs:documentation>
                    </xs:annotation>
                    <xs:element minOccurs="0" maxOccurs="1" name="ORGANISATION">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:annotation>
                            <xs:documentation>Artificial sequence to separate.</xs:documentation>
                          </xs:annotation>
                          <xs:element minOccurs="0" maxOccurs="1" name="KVK_REGISTRATION">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:annotation>
                                  <xs:documentation>Artificial sequence to separate.</xs:documentation>
                                </xs:annotation>
                                <xs:element minOccurs="1" maxOccurs="1" name="KVK_NUMBER" type="xs:string" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>