IKKAdapter/XSDSchemas/CustomerServices/Response/FindCustomer.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.kpn.com/fixed/CustomerServices/Response/FindCustomer.xsd"
	 targetNamespace = "http://xmlns.kpn.com/fixed/CustomerServices/Response/FindCustomer.xsd"
	 xmlns:Base.xsd = "http://xmlns.kpn.com/common/cdm/Base.xsd"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 xmlns:ResultStatus.xsd = "http://xmlns.kpn.com/common/cdm/ResultStatus.xsd"
	 xmlns:PropertyAddress.xsd = "http://xmlns.kpn.com/fixed/CustomerServices/common/PropertyAddress.xsd"
	 elementFormDefault = "qualified">
	<xsd:import namespace = "http://xmlns.kpn.com/common/cdm/Base.xsd" schemaLocation = "../../Common/Base.xsd"/>
	<xsd:import namespace = "http://xmlns.kpn.com/common/cdm/ResultStatus.xsd" schemaLocation = "../../Common/ResultStatus.xsd"/>
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/CustomerServices/common/PropertyAddress.xsd" schemaLocation = "../Common/PropertyAddress.xsd"/>
	
	<xsd:element name = "FindCustomer">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base = "Base.xsd:Base">
					<xsd:sequence>
						<xsd:element name = "RESULT_STATUS" type = "ResultStatus.xsd:ResultStatus"/>
						<xsd:element name = "NUMBER_OF_RECORDS" type = "xsd:integer" minOccurs = "0"/>
						<xsd:element name = "CUSTOMER" minOccurs = "0" maxOccurs = "unbounded">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name = "CENTRAL_CUSTOMER_ID" type = "xsd:string" minOccurs = "0"/>
									<xsd:element name = "IS_ACTIVE" type = "xsd:string" minOccurs = "0"/>
									<xsd:element name = "PROPERTY_ADDRESS" type = "PropertyAddress.xsd:PropertyAddress" minOccurs = "0"/>
									<xsd:element name = "PARTY" minOccurs = "0">
										<xsd:complexType>
											<xsd:sequence>
												<xsd:element name = "PARTY_ID" type = "xsd:string" minOccurs = "0"/>
												<xsd:element name = "DATE_OF_BIRTH" type = "xsd:date" minOccurs = "0"/>
												<xsd:element name = "KVK_NUMBER" type = "xsd:string" minOccurs = "0"/>
												<xsd:element name = "VALID_FROM_DATE" type = "xsd:date" minOccurs = "0"/>
												<xsd:element name = "VALID_UNTIL_DATE" type = "xsd:date" minOccurs = "0"/>
												<xsd:element name = "BRANCH_NAME" type = "xsd:string" minOccurs = "0"/>
												<xsd:element name = "BRANCH_NAME_DIACRITICS" type = "xsd:string" minOccurs = "0"/>
												<xsd:element name = "PARTY_NAME" type = "xsd:string" minOccurs = "0"/>
												<xsd:element name = "PARTY_NAME_DIACRITICS" type = "xsd:string" minOccurs = "0"/>
												<xsd:element name = "MAIN_BRANCH_ID" type = "xsd:string" minOccurs = "0"/>
												<xsd:element name = "LEGAL_FORM_CODE" type = "xsd:string" minOccurs = "0"/>
											</xsd:sequence>
										</xsd:complexType>
									</xsd:element>
									<xsd:element name = "CUSTOMER_REFERENCE">
										<xsd:complexType>
											<xsd:sequence>
												<xsd:element name = "APPLICATION_ID" type = "xsd:string"/>
												<xsd:element name = "ROLE_TYPE" type = "xsd:string"/>
												<xsd:element name = "EXTERNAL_CUSTOMER_REFERENCE" type = "xsd:string"/>
											</xsd:sequence>
										</xsd:complexType>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>