IKKAdapter/XSDSchemas/CustomerServices/Response/GetCustomerReference.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.kpn.com/fixed/CustomerServices/response/GetCustomerReference.xsd"
	 targetNamespace = "http://xmlns.kpn.com/fixed/CustomerServices/response/GetCustomerReference.xsd"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 xmlns:CKRResponse.xsd = "http://xmlns.kpn.com/fixed/CustomerServices/common/CKRResponse.xsd"
	 elementFormDefault = "qualified">
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/CustomerServices/common/CKRResponse.xsd" schemaLocation = "../Common/CKRResponse.xsd"/>	
	<xsd:element name = "GetCustomerReference">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base = "CKRResponse.xsd:CKRResponse">
					<xsd:sequence>
						<xsd:element name = "REPLACEMENT_CENTRAL_CUSTOMER_ID" type = "xsd:string" minOccurs = "0"/>
						<xsd:element name = "NUMBER_OF_RECORDS" type = "xsd:integer" minOccurs = "0"/>
						<xsd:element name = "CUSTOMER_REFERENCE" type = "CUSTOMER_REFERENCEType" minOccurs = "0" maxOccurs = "unbounded"/>
					</xsd:sequence>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name = "CUSTOMER_REFERENCEType">
		<xsd:sequence>
			<xsd:element name = "ROLE" type = "xsd:string"/>
			<xsd:element name = "APPLICATION_ID" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "IS_UNLISTED" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "REF_NAME" type = "xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>