GenericSOAPGateway/XSDSchemas/NumbesAdapter/Publish/UpdateNumber.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2006 sp2 U (http://www.altova.com) by Arjen Wassenaar (Atos Origin Nederland B.V.) -->
<!-- VERSION 1.0.0 Arjen Wassenaar 16 March 2006 -->
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:Base.xsd="http://xmlns.kpn.com/common/cdm/Base.xsd" xmlns="http://xmlns.kpn.com/fixed/NumbesAdapter/publish/UpdateNumber" xmlns:ns1="http://xmlns.kpn.com/fixed/NumbesAdapter/publish/UpdateNumber" targetNamespace="http://xmlns.kpn.com/fixed/NumbesAdapter/publish/UpdateNumber" elementFormDefault="qualified">
	<xsd:import namespace="http://xmlns.kpn.com/common/cdm/Base.xsd" schemaLocation="../../Common/Base.xsd"/>
	<xsd:element name="UPDATE_NUMBER">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="Base.xsd:Base">
					<xsd:sequence>
						<xsd:element name="TYPE_OF_NUMBER" type="xsd:string" minOccurs="0"/>
						<xsd:element name="STATUS_NUMBER" type="xsd:string" minOccurs="0"/>
						<xsd:element name="ACTION_TYPE" type="xsd:string" minOccurs="0"/>
						<xsd:element name="ACTION_TIME_AND_DATE" type="xsd:string" minOccurs="0"/>
						<xsd:element name="CURRENT_NETWORK_OPERATOR_ID" type="xsd:string" minOccurs="0"/>
						<xsd:element name="ORIGINAL_NETWORK_OPERATOR_ID" type="xsd:string" minOccurs="0"/>
						<xsd:element name="CURRENT_TELECOM_DISTRICT_CODE" type="xsd:string" minOccurs="0"/>
						<xsd:element name="CURRENT_TELECOM_REGION_CODE" type="xsd:string" minOccurs="0"/>
						<xsd:element name="CURRENT_SPC_ID_HOST" type="xsd:string" minOccurs="0"/>
						<xsd:element name="ORIGINAL_SPC_ID_HOST" type="xsd:string" minOccurs="0"/>
						<xsd:element name="CURRENT_HOST" type="xsd:string" minOccurs="0"/>
						<xsd:element name="ORIGINAL_HOST" type="xsd:string" minOccurs="0"/>
						<xsd:element name="CURRENT_CENTRAL_AREA_CODE" type="xsd:string" minOccurs="0"/>
						<xsd:element name="PREFERABLE_CENTRAL_AREA_CODE" type="xsd:string" minOccurs="0"/>
						<xsd:element name="LRI" type="xsd:string" minOccurs="0"/>
						<xsd:element name="PREVIOUS_NETWORK_OPERATOR_ID" type="xsd:string" minOccurs="0"/>
						<xsd:element name="ORIGINAL_TELECOM_REGION_CODE" type="xsd:string" minOccurs="0"/>
						<xsd:element name="NUMBER_CATEGORY" type="xsd:string" minOccurs="0"/>
						<xsd:element name="STATUS_EXCHANGE_NR_SERIE" type="xsd:string" minOccurs="0"/>
						<xsd:element name="SERVICE_TYPE" type="xsd:string" minOccurs="0"/>
						<xsd:element name="PREVIOUS_PORTING_STATUS" type="xsd:string" minOccurs="0"/>
						<xsd:element name="CVI_INGESTELD_JN" type="xsd:string" minOccurs="0"/>
						<xsd:element name="LAST_ACTION_TYPE_CODE" type="xsd:string" minOccurs="0"/>
						<xsd:element name="LAST_ACTION_TYPE_DESCRIPTION" type="xsd:string" minOccurs="0"/>
						<xsd:element name="STATUS_DESCRIPTION" type="xsd:string" minOccurs="0"/>
						<xsd:element name="NUMBER_SERIE" type="ns1:NUMBER_SERIEType" minOccurs="0"/>
						<xsd:element name="PHONE_NUMBER" type="ns1:PHONE_NUMBERType" minOccurs="0"/>
					</xsd:sequence>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="NUMBER_SERIEType">
		<xsd:sequence>
			<xsd:element name="START_OF_SERIE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="END_OF_SERIE" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PHONE_NUMBERType">
		<xsd:sequence>
			<xsd:element name="SUBSCRIBER_NUMER" type="xsd:string" minOccurs="0"/>
			<xsd:element name="AREA_CODE" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
