GenericSOAPGateway/XSDSchemas/TangoAdapter/Request/ProcessProvisioningWorkOrder.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.kpn.com/fixed/TangoAdapter/Request/ProcessProvisioningWorkOrder.xsd"
	 targetNamespace = "http://xmlns.kpn.com/fixed/TangoAdapter/Request/ProcessProvisioningWorkOrder.xsd"
	 xmlns:TangoRequest.xsd = "http://xmlns.kpn.com/fixed/TangoAdapter/common/TangoRequest.xsd"
	 xmlns:Customer.xsd = "http://xmlns.kpn.com/fixed/TangoAdapter/Common/Customer.xsd"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 xmlns:WorkOrder.xsd = "http://xmlns.kpn.com/fixed/TangoAdapter/Common/WorkOrder.xsd"
	 elementFormDefault = "qualified"
	 attributeFormDefault = "unqualified">
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/TangoAdapter/common/TangoRequest.xsd" schemaLocation = "../Common/TangoRequest.xsd"/>
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/TangoAdapter/Common/Customer.xsd" schemaLocation = "../Common/Customer.xsd"/>
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/TangoAdapter/Common/WorkOrder.xsd" schemaLocation = "../Common/WorkOrder.xsd"/>
	<xsd:element name = "ProcessProvisioningWorkOrder">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base = "TangoRequest.xsd:TangoRequest">
					<xsd:sequence>
						<xsd:element name = "WORKORDER" type = "WorkOrder.xsd:type_WorkOrder"/>
						<xsd:element name = "CUSTOMER" type = "Customer.xsd:type_Customer" minOccurs = "0"/>
					</xsd:sequence>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>