ASTRIDAdapter/XSDSchemas/Operations/Publish/AssessTroubleReportClosure.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2006 sp2 U (http://www.altova.com) by Hans Postma (Atos Origin Nederland B.V.) -->
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns="http://xmlns.kpn.com/fixed/Operations/publish/AssessTroubleReportClosure.xsd" xmlns:Base.xsd="http://xmlns.kpn.com/common/cdm/Base.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xmlns.kpn.com/fixed/Operations/publish/AssessTroubleReportClosure.xsd" elementFormDefault="unqualified" attributeFormDefault="unqualified">
	<xsd:import namespace="http://xmlns.kpn.com/common/cdm/Base.xsd" schemaLocation="../../Common/Base.xsd"/>
	<xsd:element name="AssessTroubleReportClosure">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="Base.xsd:Base">
					<xsd:sequence>
						<xsd:element name="TROUBLE_REPORT">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="CUSTOMER_INCIDENT_REPORT_ID" type="xsd:string" minOccurs="0"/>
									<xsd:element name="ACCEPT_SOLUTION" type="xsd:string" minOccurs="0"/>
									<xsd:element name="CONFIRMATION_TEXT" type="xsd:string" minOccurs="0"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
