ASTRIDAdapter/XSDSchemas/Operations/Publish/NotifyTroubleReportStatusChange.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2006 sp2 U (http://www.altova.com) by Hans Postma (Atos Origin Nederland B.V.) -->
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns="http://xmlns.kpn.com/fixed/Operations/publish/NotifyTroubleReportStatusChange.xsd" xmlns:Base.xsd="http://xmlns.kpn.com/common/cdm/Base.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:TroubleReport.xsd="http://xmlns.kpn.com/fixed/BSWAdapter/common/TroubleReport.xsd" targetNamespace="http://xmlns.kpn.com/fixed/Operations/publish/NotifyTroubleReportStatusChange.xsd" elementFormDefault="unqualified" attributeFormDefault="unqualified">
	<xsd:import namespace="http://xmlns.kpn.com/common/cdm/Base.xsd" schemaLocation="../../Common/Base.xsd"/>
	<xsd:element name="NotifyTroubleReportStatusChange">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="Base.xsd:Base">
					<xsd:sequence>
						<xsd:element name="ERROR" type="xsd:string" minOccurs="0"/>
						<xsd:element name="ERROR_MESSAGE" type="xsd:string" minOccurs="0"/>
						<xsd:element name="MANAGED_OBJECT" minOccurs="0">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="NETWORK_INSTANCE" type="xsd:string" minOccurs="0"/>
									<xsd:element name="SUPPORTED_SERVICE" minOccurs="0" maxOccurs="unbounded">
										<xsd:complexType>
											<xsd:sequence>
												<xsd:element name="SUPPORTED_SERVICE_STATUS" type="xsd:string" minOccurs="0"/>
											</xsd:sequence>
										</xsd:complexType>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="TROUBLE_REPORT" minOccurs="0" maxOccurs="unbounded">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="SERVICE_PROVIDER_TROUBLE_REPORT_ID" type="xsd:string" minOccurs="0"/>
									<xsd:element name="TROUBLE_REPORT_ID" type="xsd:string" minOccurs="0"/>
									<xsd:element name="SLA_CLEARING_TIME" type="xsd:dateTime" minOccurs="0"/>
									<xsd:element name="TROUBLE_REPORT_STATUS_LINE_DATE_SEND" type="xsd:dateTime" minOccurs="0"/>
									<xsd:element name="TROUBLE_REPORT_STATUS_LINE_DATE" type="xsd:dateTime" minOccurs="0"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
