IKKAdapter/XSDSchemas/EnginAdapter/Common/ComplaintCategory.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.example.com/unique/default/namespace/1087726986577"
	 targetNamespace = "http://xmlns.example.com/unique/default/namespace/1087726986577"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified">
	<xsd:complexType name = "ComplaintCategory">
		<xsd:sequence>
			<xsd:element name = "COMPLAINT_GROUP_CODE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "COMPLAINT_SPECIFIC_DESCRIPTION" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "COMPLAINT_STANDARD_DESCRIPTION" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "COMPLAINT_SUB_GROUP_CODE" type = "xsd:string" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>