IKKAdapter/XSDSchemas/EnginAdapter/Common/RefreshSchedule.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.example.com/unique/default/namespace/1094721551963"
	 targetNamespace = "http://xmlns.example.com/unique/default/namespace/1094721551963"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified">
	<xsd:complexType name = "RefreshSchedule">
		<xsd:sequence>
			<xsd:element name = "SCHEDULED_DATETIME" type = "xsd:dateTime" minOccurs = "0"/>
			<xsd:element name = "STATUS" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "DESCRIPTION" type = "xsd:string" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>