GenericSOAPGateway/XSDSchemas/TangoAdapter/Common/Address.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.kpn.com/fixed/TangoAdapter/Common/Address.xsd"
	 targetNamespace = "http://xmlns.kpn.com/fixed/TangoAdapter/Common/Address.xsd"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema">
	<xsd:complexType name = "type_Address">
		<xsd:sequence>
			<xsd:element name = "STREET_NAME" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "HOUSE_NUMBER" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "HOUSE_NUMBER_EXTENSION" type = "xsd:string" minOccurs = "0"/>
			<xsd:choice>
				<xsd:element name = "DUTCH_POSTCODE" minOccurs = "0">
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:pattern value="[1-9][0-9]{3}[ ]?[a-zA-Z]{2}"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:sequence>
					<xsd:element name = "DUTCH_POSTCODE_NUMBERS" minOccurs = "0">
						<xsd:simpleType>
  							<xsd:restriction base="xsd:integer">
								<xsd:pattern value="[0-9][0-9][0-9][0-9]"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name = "DUTCH_POSTCODE_LETTERS" minOccurs = "0">
						<xsd:simpleType>
  							<xsd:restriction base="xsd:string">
								<xsd:pattern value="[a-zA-Z]{2}"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
				</xsd:sequence>
			</xsd:choice>
			<xsd:element name = "CITY_CODE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "CITY_NAME" type = "xsd:string" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>