GenericSOAPGateway/XSDSchemas/TangoAdapter/Common/Analysis.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.kpn.com/fixed/TangoAdapter/Common/Analysis.xsd"
	 targetNamespace = "http://xmlns.kpn.com/fixed/TangoAdapter/Common/Analysis.xsd"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified"
	 attributeFormDefault = "unqualified">
	<xsd:element name = "ANALYSIS" type = "type_ANALYSIS"/>
	<xsd:complexType name = "type_ANALYSIS">
		<xsd:sequence>
			<xsd:element name = "ANALYST_ID" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "ANALYSIS_END_DATETIME" type = "xsd:dateTime" minOccurs = "0"/>
			<xsd:element name = "PRELIMINARY" type = "type_PRELIMINARY" minOccurs = "0"/>
			<xsd:element name = "ACTIVITY" type = "type_ACTIVITY" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name = "type_PRELIMINARY">
		<xsd:sequence>
			<xsd:element name = "DEPARTMENT" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "ANALYST_ID" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "ASSIGNED_DATETIME" type = "xsd:dateTime" minOccurs = "0"/>
			<xsd:element name = "ANALYSIS_START_DATETIME" type = "xsd:dateTime" minOccurs = "0"/>
			<xsd:element name = "ANALYSIS_END_DATETIME" type = "xsd:dateTime" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name = "type_ACTIVITY">
		<xsd:sequence>
			<xsd:element name = "ROUTING_TO" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "ROOT_CAUSE_TYPE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "ROOT_CAUSE_DESCRIPTION" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "RESOLUTION_NOTIFICATION_CHANNEL" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "ANALYST" type = "type_ANALYST" minOccurs = "0"/>
			<xsd:element name = "DATE" type = "type_DATE" minOccurs = "0"/>
			<xsd:element name = "RESEARCHER" type = "type_RESEARCHER" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name = "type_ANALYST">
		<xsd:sequence>
			<xsd:element name = "DETERMINE_DEFAULT" type = "xsd:boolean" minOccurs = "0"/>
			<xsd:element name = "CODE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "DESCRIPTION" type = "xsd:string" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name = "type_DATE">
		<xsd:sequence>
			<xsd:element name = "ASSIGNED_DATETIME" type = "xsd:dateTime" minOccurs = "0"/>
			<xsd:element name = "ANALYSIS_END_DATETIME" type = "xsd:dateTime" minOccurs = "0"/>
			<xsd:element name = "ACTIVITY_START_DATETIME" type = "xsd:dateTime" minOccurs = "0"/>
			<xsd:element name = "ACTIVITY_END_DATETIME" type = "xsd:dateTime" minOccurs = "0"/>
			<xsd:element name = "INCIDENT_CLOSE_DATETIME" type = "xsd:dateTime" minOccurs = "0"/>
			<xsd:element name = "INCIDENT_CLOSED_CONFIRMATION_DATETIME" type = "xsd:dateTime" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name = "type_RESEARCHER">
		<xsd:sequence>
			<xsd:element name = "WORK_AREA" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "DEPARTMENT" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "ID" type = "xsd:string" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>