GenericSOAPGateway/XSDSchemas/TangoAdapter/Common/Attribute.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.kpn.com/fixed/TangoAdapter/Common/Attribute.xsd"
	 targetNamespace = "http://xmlns.kpn.com/fixed/TangoAdapter/Common/Attribute.xsd"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema">
	<xsd:complexType name = "type_Attribute">
		<xsd:sequence>
			<xsd:element name = "NAME" type = "xsd:string"/>
			<xsd:element name = "VALUE" type = "xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>