GenericSOAPGateway/XSDSchemas/TangoAdapter/Common/CFS.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.kpn.com/fixed/TangoAdapter/Common/CFS.xsd"
	 targetNamespace = "http://xmlns.kpn.com/fixed/TangoAdapter/Common/CFS.xsd"
	 xmlns:LogicalResource.xsd = "http://xmlns.kpn.com/fixed/TangoAdapter/Common/LogicalResource.xsd"
	 xmlns:PhysicalResource.xsd = "http://xmlns.kpn.com/fixed/TangoAdapter/Common/PhysicalResource.xsd"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema">
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/TangoAdapter/Common/LogicalResource.xsd" schemaLocation = "../Common/LogicalResource.xsd"/>
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/TangoAdapter/Common/PhysicalResource.xsd" schemaLocation = "../Common/PhysicalResource.xsd"/>
	<xsd:complexType name = "type_CFS">
		<xsd:sequence>
			<xsd:element name = "LOGICAL_RESOURCE" type = "LogicalResource.xsd:type_LogicalResource" minOccurs = "0"/>
			<xsd:element name = "PHYSICAL_RESOURCE" type = "PhysicalResource.xsd:type_PhysicalResource" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>