GenericSOAPGateway/XSDSchemas/TangoAdapter/Common/Complaint.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.kpn.com/fixed/TangoAdapter/Common/Complaint.xsd"
	 targetNamespace = "http://xmlns.kpn.com/fixed/TangoAdapter/Common/Complaint.xsd"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified"
	 attributeFormDefault = "unqualified">
	<xsd:element name = "COMPLAINT" type = "type_COMPLAINT"/>
	<xsd:complexType name = "type_COMPLAINT">
		<xsd:sequence>
			<xsd:element name = "GROUP" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "ID" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "DESCRIPTION" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "NOTE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "REMARKS" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "REPEATED_INCIDENT" type = "xsd:boolean" minOccurs = "0"/>
			<xsd:element name = "OUTSIDE_NORM_PLAN_CALENDAR" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "OUTSIDE_NORM_REQUEST_CUSTOMER" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "SLA_FORMULA" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "COST_AGREE" type = "xsd:boolean" minOccurs = "0"/>
			<xsd:element name = "PRODUCT" type = "type_PRODUCT" minOccurs = "0"/>
			<xsd:element name = "REPORT" type = "type_REPORT" minOccurs = "0"/>
			<xsd:element name = "URGENCY" type = "type_URGENCY" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name = "type_PRODUCT">
		<xsd:sequence>
			<xsd:element name = "TYPE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "DESCRIPTION" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "FIRST_TYPE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "FIRST_DESCRIPTION" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "CATEGORY_DESCRIPTION" type = "xsd:string" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name = "type_REPORT">
		<xsd:sequence>
			<xsd:element name = "TYPE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "DESCRIPTION" type = "xsd:string" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name = "type_URGENCY">
		<xsd:sequence>
			<xsd:element name = "PERCEIVED_URGENCY" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "PERCEIVED_URGENCY_DESCRIPTION" type = "xsd:string" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>