GenericSOAPGateway/XSDSchemas/TangoAdapter/Common/ConnectionsOverview.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.kpn.com/fixed/TangoAdapter/Common/ConnectionsOverview.xsd"
	 targetNamespace = "http://xmlns.kpn.com/fixed/TangoAdapter/Common/ConnectionsOverview.xsd"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema">
	<xsd:complexType name = "type_ConnectionsOverview">
		<xsd:sequence>
			<xsd:element name = "KANVAS_BLOCK" type = "type_KanvasBlock" minOccurs = "0" maxOccurs = "unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name = "type_KanvasBlock">
		<xsd:sequence>
			<xsd:element name = "KANVAS_LINE" type = "xsd:string" minOccurs = "0" maxOccurs = "unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>