GenericSOAPGateway/XSDSchemas/TangoAdapter/Common/Contractor.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.kpn.com/fixed/TangoAdapter/Common/Contractor.xsd"
	 targetNamespace = "http://xmlns.kpn.com/fixed/TangoAdapter/Common/Contractor.xsd"
	 xmlns:Contact.xsd = "http://xmlns.kpn.com/fixed/TangoAdapter/Common/Contact.xsd"
	 xmlns:Address.xsd = "http://xmlns.kpn.com/fixed/TangoAdapter/Common/Address.xsd"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema">
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/TangoAdapter/Common/Contact.xsd" schemaLocation = "../Common/Contact.xsd"/>
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/TangoAdapter/Common/Address.xsd" schemaLocation = "../Common/Address.xsd"/>
	<xsd:complexType name = "type_Contractor">
		<xsd:sequence>
			<xsd:element name = "NAME" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "ID" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "KVK_NUMBER" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "ADDRESS" type = "Address.xsd:type_Address" minOccurs = "0"/>
			<xsd:element name = "CONTACT_PERSON" type = "Contact.xsd:type_Contact" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>