GenericSOAPGateway/XSDSchemas/TangoAdapter/Common/Contact.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.kpn.com/fixed/TangoAdapter/Common/Contact.xsd"
	 targetNamespace = "http://xmlns.kpn.com/fixed/TangoAdapter/Common/Contact.xsd"
	 xmlns:PhoneNumber.xsd = "http://xmlns.kpn.com/fixed/TangoAdapter/Common/PhoneNumber.xsd"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema">
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/TangoAdapter/Common/PhoneNumber.xsd" schemaLocation = "../Common/PhoneNumber.xsd"/>
	<xsd:complexType name = "type_Contact">
		<xsd:sequence>
			<xsd:element name = "NAME" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "PHONE_NUMBER" type = "PhoneNumber.xsd:type_PhoneNumber" minOccurs = "0"/>
			<xsd:element name = "FAX_NUMBER" type = "xsd:string" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>