GenericSOAPGateway/XSDSchemas/TangoAdapter/Common/Customer.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.kpn.com/fixed/TangoAdapter/Common/Customer.xsd"
	 targetNamespace = "http://xmlns.kpn.com/fixed/TangoAdapter/Common/Customer.xsd"
	 xmlns:Contractor.xsd = "http://xmlns.kpn.com/fixed/TangoAdapter/Common/Contractor.xsd"
	 xmlns:User.xsd = "http://xmlns.kpn.com/fixed/TangoAdapter/Common/User.xsd"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema">
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/TangoAdapter/Common/Contractor.xsd" schemaLocation = "../Common/Contractor.xsd"/>
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/TangoAdapter/Common/User.xsd" schemaLocation = "../Common/User.xsd"/>
	<xsd:complexType name = "type_Customer">
		<xsd:sequence>
			<xsd:element name = "CONTRACTOR" type = "Contractor.xsd:type_Contractor" minOccurs="0"/>
			<xsd:element name = "USER" type = "User.xsd:type_User" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>