GenericSOAPGateway/XSDSchemas/TangoAdapter/Common/Engineer.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.kpn.com/fixed/TangoAdapter/Common/Engineer.xsd"
	 targetNamespace = "http://xmlns.kpn.com/fixed/TangoAdapter/Common/Engineer.xsd"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema">
	<xsd:complexType name = "type_Engineer">
		<xsd:sequence>
			<xsd:element name = "CLUSTER_CODE_EMPLOYEE" type = "xsd:integer" minOccurs = "0"/>
			<xsd:element name = "ID" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "STOCK_LOCATION_NUMBER_USED_BY" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "STOCK_LOCATION_NUMBER_SUPPLIED_BY" type = "xsd:string" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>