GenericSOAPGateway/XSDSchemas/TangoAdapter/Common/Facility.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.kpn.com/fixed/TangoAdapter/Common/Facility.xsd"
	 targetNamespace = "http://xmlns.kpn.com/fixed/TangoAdapter/Common/Facility.xsd"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema">
	<xsd:complexType name = "type_Facility">
		<xsd:sequence>
			<xsd:element name = "DESCRIPTION" type = "xsd:string"/>
			<xsd:element name = "MUTATION_CODE" type = "xsd:string"/>
			<xsd:element name = "MUTATION_DESCRIPTION" type = "xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>