GenericSOAPGateway/XSDSchemas/TangoAdapter/Common/Incident.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.kpn.com/fixed/TangoAdapter/Common/Incident.xsd"
	 targetNamespace = "http://xmlns.kpn.com/fixed/TangoAdapter/Common/Incident.xsd"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified"
	 attributeFormDefault = "unqualified">
	<xsd:element name = "INCIDENT" type = "type_INCIDENT"/>
	<xsd:complexType name = "type_INCIDENT">
		<xsd:sequence>
			<xsd:element name = "CUSTOMER_ORDER_NUMBER" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "ID" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "PHONE_NUMBER" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "LEADING_SERVICE_ID" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "EXTERNAL_CUSTOMER_ORDER_NUMBER" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "BSD_INCIDENT_INDICATOR" type = "xsd:boolean" minOccurs = "0"/>
			<xsd:element name = "ORDER_TYPE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "SUB_NUMBER" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "ACCEPTED_DATETIME" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "ACCEPTED_BY_USER" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "PRODUCT" type = "type_PRODUCT" minOccurs = "0"/>
			<xsd:element name = "STATUS" type = "type_STATUS" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name = "type_PRODUCT">
		<xsd:sequence>
			<xsd:element name = "ID" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "TYPE" type = "type_TYPE" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name = "type_TYPE">
		<xsd:sequence>
			<xsd:element name = "ID" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "DESCRIPTION" type = "xsd:string" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name = "type_STATUS">
		<xsd:sequence>
			<xsd:element name = "DESCRIPTION" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "STATUS" type = "xsd:integer" minOccurs = "0"/>
			<xsd:element name = "STATUS_CHANGE_DATETIME" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "PREVIOUS" type = "type_PREVIOUS" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name = "type_PREVIOUS">
		<xsd:sequence>
			<xsd:element name = "STATUS" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "DESCRIPTION" type = "xsd:string" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>