GenericSOAPGateway/XSDSchemas/TangoAdapter/Common/KabelVerdeler.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.kpn.com/fixed/TangoAdapter/Common/KabelVerdeler.xsd"
	 targetNamespace = "http://xmlns.kpn.com/fixed/TangoAdapter/Common/KabelVerdeler.xsd"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 xmlns:KabelRegel.xsd = "http://xmlns.kpn.com/fixed/TangoAdapter/Common/KabelRegel.xsd">
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/TangoAdapter/Common/KabelRegel.xsd" schemaLocation = "../Common/KabelRegel.xsd"/>
	<xsd:complexType name = "type_KabelVerdeler">
		<xsd:sequence>
			<xsd:element name = "KANVAS_KVD_DISTRIBUTIE_ADRES" type = "xsd:string"/>
			<xsd:element name = "KANVAS_KVD_DISTRIBUTIE_PLAATS" type = "xsd:string"/>
			<xsd:element name = "KANVAS_KVD_DISTRIBUTIE_PUNT" type = "xsd:string"/>
			<xsd:element name = "KABELREGEL" type = "KabelRegel.xsd:type_KabelRegel"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>