GenericSOAPGateway/XSDSchemas/TangoAdapter/Common/LogicalResource.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.kpn.com/fixed/TangoAdapter/Common/LogicalResource.xsd"
	 targetNamespace = "http://xmlns.kpn.com/fixed/TangoAdapter/Common/LogicalResource.xsd"
	 xmlns:IP.xsd = "http://xmlns.kpn.com/fixed/TangoAdapter/Common/IP.xsd"
	 xmlns:PhoneNumber.xsd = "http://xmlns.kpn.com/fixed/TangoAdapter/Common/PhoneNumber.xsd"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema">
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/TangoAdapter/Common/IP.xsd" schemaLocation = "../Common/IP.xsd"/>
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/TangoAdapter/Common/PhoneNumber.xsd" schemaLocation = "../Common/PhoneNumber.xsd"/>
	<xsd:complexType name = "type_LogicalResource">
		<xsd:sequence>
			<xsd:element name = "OLD_PHONE_NUMBER" type = "PhoneNumber.xsd:type_PhoneNumber" minOccurs = "0"/>
			<xsd:element name = "NEW_PHONE_NUMBER" type = "PhoneNumber.xsd:type_PhoneNumber" minOccurs = "0"/>
			<xsd:element name = "IP" type = "IP.xsd:type_IP" minOccurs = "0" maxOccurs = "unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>