GenericSOAPGateway/XSDSchemas/TangoAdapter/Common/Material.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.kpn.com/fixed/TangoAdapter/Common/Material.xsd"
	 targetNamespace = "http://xmlns.kpn.com/fixed/TangoAdapter/Common/Material.xsd"
	 xmlns:Price.xsd = "http://xmlns.kpn.com/fixed/TangoAdapter/Common/Price.xsd"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 xmlns:Attribute.xsd = "http://xmlns.kpn.com/fixed/TangoAdapter/Common/Attribute.xsd">
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/TangoAdapter/Common/Price.xsd" schemaLocation = "../Common/Price.xsd"/>
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/TangoAdapter/Common/Attribute.xsd" schemaLocation = "Attribute.xsd"/>
	<xsd:complexType name = "type_Material">
		<xsd:sequence>
			<xsd:element name = "PART_NUMBER" type = "xsd:string"/>
			<xsd:element name = "DESCRIPTION" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "QUANTITY" type = "xsd:integer" minOccurs = "0"/>
			<xsd:element name = "QUANTITY_COLLECTED" type = "xsd:integer" minOccurs = "0"/>
			<xsd:element name = "DELIVERING_METHOD" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "PRICE" type = "Price.xsd:type_Price" minOccurs = "0"/>
			<xsd:element name = "ATTRIBUTES" type = "Attribute.xsd:type_Attribute" minOccurs = "0" maxOccurs = "unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>