GenericSOAPGateway/XSDSchemas/TangoAdapter/Common/Mutation.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.kpn.com/fixed/TangoAdapter/Common/Mutation.xsd"
	 targetNamespace = "http://xmlns.kpn.com/fixed/TangoAdapter/Common/Mutation.xsd"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema">
	<xsd:complexType name = "type_Mutation">
		<xsd:sequence>
			<xsd:element name = "CODE" type = "xsd:string"/>
			<xsd:element name = "DESCRIPTION" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "TYPE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "TYPE_DESCRIPTION" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "NOTE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "BUILD_CODE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "DEMOLITION_CODE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "KANVAS_PLAATS" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "KANVAS_ADRES" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "KANVAS_HOST" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "KANVAS_CGB" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "INVOERKABEL_SEQUENCE_NUMBER" type = "xsd:integer" minOccurs = "0"/>
			<xsd:element name = "ADER_NUMMER" type = "xsd:integer" minOccurs = "0"/>
			<xsd:element name = "CAP_ID" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "ENGINEER_ACTIVITY" type = "xsd:boolean" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>