GenericSOAPGateway/XSDSchemas/TangoAdapter/Common/Obligation.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.kpn.com/fixed/TangoAdapter/Common/Obligation.xsd"
	 targetNamespace = "http://xmlns.kpn.com/fixed/TangoAdapter/Common/Obligation.xsd"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified">
	<xsd:element name = "OBLIGATION">
		<xsd:complexType/>
	</xsd:element>
	<xsd:complexType name = "type_OBLIGATION">
		<xsd:sequence>
			<xsd:element name = "SLA_CLEARING_TIME" type = "xsd:dateTime" minOccurs = "0"/>
			<xsd:element name = "CALCULATED_RESOLUTION_TIMESTAMP" type = "xsd:dateTime" minOccurs = "0"/>
			<xsd:element name = "CUSTOMER_VISIT_INDICATOR" type = "xsd:boolean" minOccurs = "0"/>
			<xsd:element name = "URGENT_MAJOR_MINOR_INDICATOR" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "URGENT" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "APPOINTMENT_OUTSIDE_NORM" type = "xsd:boolean" minOccurs = "0"/>
			<xsd:element name = "FIRST_RESOLUTION_DATETIME" type = "xsd:dateTime" minOccurs = "0"/>
			<xsd:element name = "APPOINTMENT" type = "type_APPOINTMENT" minOccurs = "0"/>
			<xsd:element name = "COMPLAINT" type = "type_COMPLAINT" minOccurs = "0"/>
			<xsd:element name = "CONTRACT" type = "type_CONTRACT" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name = "type_APPOINTMENT">
		<xsd:sequence>
			<xsd:element name = "PLANNED_TIMESLOT_START" type = "xsd:time" minOccurs = "0"/>
			<xsd:element name = "PLANNED_TIMESLOT_END" type = "xsd:time" minOccurs = "0"/>
			<xsd:element name = "PART_OF_DAY_CODE" type = "xsd:integer" minOccurs = "0"/>
			<xsd:element name = "DATE" type = "xsd:dateTime" minOccurs = "0"/>
			<xsd:element name = "ID" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "DEPARTMENT" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "WORK_AREA" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "ORGANIZATION_DESCRIPTION" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "ORGANIZATION" type = "xsd:string" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name = "type_COMPLAINT">
		<xsd:sequence>
			<xsd:element name = "INDICATION" type = "xsd:boolean" minOccurs = "0"/>
			<xsd:element name = "ORGANIZATION_CODE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "PART_OF_DAY_CODE" type = "xsd:integer" minOccurs = "0"/>
			<xsd:element name = "TIMESLOT_START" type = "xsd:time" minOccurs = "0"/>
			<xsd:element name = "TIMESLOT_END" type = "xsd:time" minOccurs = "0"/>
			<xsd:element name = "APPOINTMENT_DATE" type = "xsd:dateTime" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name = "type_CONTRACT">
		<xsd:sequence>
			<xsd:element name = "ID" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "HALF_HOUR_INDICATOR" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "DATE_ACTIVE" type = "xsd:dateTime" minOccurs = "0"/>
			<xsd:element name = "AMOUNT" type = "xsd:integer" minOccurs = "0"/>
			<xsd:element name = "WORKHOURS_CODE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "RESPONSE_HOURS" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "TYPE" type = "xsd:integer" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>