GenericSOAPGateway/XSDSchemas/TangoAdapter/Common/Operator.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.kpn.com/fixed/TangoAdapter/Common/Operator.xsd"
	 targetNamespace = "http://xmlns.kpn.com/fixed/TangoAdapter/Common/Operator.xsd"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "unqualified"
	 attributeFormDefault = "unqualified">
	<xsd:element name = "OPERATOR" type = "type_OPERATOR"/>
	<xsd:complexType name = "type_OPERATOR">
		<xsd:sequence>
			<xsd:element name = "CODE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "DESCRIPTION" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "PHONE_NUMBER" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "PORTING_DATE" type = "xsd:dateTime" minOccurs = "0"/>
			<xsd:element name = "MUTATION" type = "type_MUTATION" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name = "type_MUTATION">
		<xsd:sequence>
			<xsd:element name = "CODE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "DESCRIPTION" type = "xsd:string" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>