GenericSOAPGateway/XSDSchemas/TangoAdapter/Common/Order.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.kpn.com/fixed/TangoAdapter/Common/Order.xsd"
	 targetNamespace = "http://xmlns.kpn.com/fixed/TangoAdapter/Common/Order.xsd"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 xmlns:Engineer.xsd = "http://xmlns.kpn.com/fixed/TangoAdapter/Common/Engineer.xsd"
	 xmlns:Material.xsd = "http://xmlns.kpn.com/fixed/TangoAdapter/Common/Material.xsd">
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/TangoAdapter/Common/Engineer.xsd" schemaLocation = "../Common/Engineer.xsd"/>
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/TangoAdapter/Common/Material.xsd" schemaLocation = "../Common/Material.xsd"/>
	<xsd:complexType name = "type_Order">
		<xsd:sequence>
			<xsd:element name = "ID" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "ACTION" type = "xsd:string"/>
			<xsd:element name = "CONTRACT_TYPE_LETTER" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "DATE_UPDATE" type = "xsd:dateTime"/>
			<xsd:element name = "ENGINEER" type = "Engineer.xsd:type_Engineer" minOccurs = "0"/>
			<xsd:element name = "MATERIAL" type = "Material.xsd:type_Material" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>