GenericSOAPGateway/XSDSchemas/TangoAdapter/Common/OrderMaterial.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.kpn.com/fixed/TangoAdapter/Common/OrderMaterial.xsd"
	 targetNamespace = "http://xmlns.kpn.com/fixed/TangoAdapter/Common/OrderMaterial.xsd"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema">
	<xsd:complexType name = "type_OrderMaterial">
		<xsd:sequence>
			<xsd:element name = "ID" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "SERIAL_NUMBER" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "REPAIRABLE" type = "xsd:boolean" minOccurs = "0"/>
			<xsd:element name = "REPAIRCARD_NUMBER" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "RETURN" type = "xsd:boolean" minOccurs = "0"/>
			<xsd:element name = "ROR_CODE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "CCC_CODE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "AMOUNT" type = "xsd:integer" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>