GenericSOAPGateway/XSDSchemas/TangoAdapter/Common/PhoneNumber.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.kpn.com/fixed/TangoAdapter/Common/PhoneNumber.xsd"
	 targetNamespace = "http://xmlns.kpn.com/fixed/TangoAdapter/Common/PhoneNumber.xsd"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema">
	<xsd:complexType name = "type_PhoneNumber">
		<xsd:sequence>
			<xsd:element name = "PHONE_NUMBER" minOccurs = "0">
				<xsd:simpleType>
					<xsd:restriction base = "xsd:string">
						<xsd:pattern value = "\+?[\d\-\(\)\s]{1,25}"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name = "COUNTRY_CODE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "AREA_CODE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "SUBSCRIBER_NUMBER" type = "xsd:string" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>