GenericSOAPGateway/XSDSchemas/TangoAdapter/Common/PhysicalResource.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.kpn.com/fixed/TangoAdapter/Common/PhysicalResource.xsd"
	 targetNamespace = "http://xmlns.kpn.com/fixed/TangoAdapter/Common/PhysicalResource.xsd"
	 xmlns:Mutation.xsd = "http://xmlns.kpn.com/fixed/TangoAdapter/Common/Mutation.xsd"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema">
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/TangoAdapter/Common/Mutation.xsd" schemaLocation = "../Common/Mutation.xsd"/>
	<xsd:complexType name = "type_PhysicalResource">
		<xsd:sequence>
			<xsd:element name = "LINE_QUALITY" type = "xsd:string" minOccurs="0"/>
			<xsd:element name = "MUTATION" type = "Mutation.xsd:type_Mutation"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>