GenericSOAPGateway/XSDSchemas/TangoAdapter/Common/Price.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.kpn.com/fixed/TangoAdapter/Common/Price.xsd"
	 targetNamespace = "http://xmlns.kpn.com/fixed/TangoAdapter/Common/Price.xsd"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema">
	<xsd:complexType name = "type_Price">
		<xsd:sequence>
			<xsd:element name = "AMOUNT" type = "xsd:decimal"/>
			<xsd:element name = "CURRENCY" type = "xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>