GenericSOAPGateway/XSDSchemas/TangoAdapter/Common/Product.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.kpn.com/fixed/TangoAdapter/Common/Product.xsd"
	 targetNamespace = "http://xmlns.kpn.com/fixed/TangoAdapter/Common/Product.xsd"
	 xmlns:Price.xsd = "http://xmlns.kpn.com/fixed/TangoAdapter/Common/Price.xsd"
	 xmlns:PriceRecurring.xsd = "http://xmlns.kpn.com/fixed/TangoAdapter/Common/PriceRecurring.xsd"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema">
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/TangoAdapter/Common/Price.xsd" schemaLocation = "../Common/Price.xsd"/>
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/TangoAdapter/Common/PriceRecurring.xsd" schemaLocation = "../Common/PriceRecurring.xsd"/>
	<xsd:complexType name = "type_Product">
		<xsd:sequence>
			<xsd:element name = "ID" type = "xsd:string"/>
			<xsd:element name = "SCOPE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "DESCRIPTION" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "ACTION" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "ARTICLE_ID" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "SUPPLIER_ID" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "REPAIRABLE" type = "xsd:boolean" minOccurs = "0"/>
			<xsd:element name = "OVERNIGHT_DELIVERY" type = "xsd:boolean" minOccurs = "0"/>
			<xsd:element name = "TARIF_ID" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "TARIF_GROUP_CUSTOMER" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "TARIF_GROUP_INTERNAL" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "PRODUCT_CLUSTER" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "PORTFOLIO_OWNER" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "BUSINESS_UNIT" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "DELIVERY" type = "xsd:integer" minOccurs = "0"/>
			<xsd:element name = "BILL" minOccurs = "0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name = "DESCRIPTION" type = "xsd:string" minOccurs = "0"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name = "PRICE" type = "Price.xsd:type_Price" minOccurs = "0" maxOccurs = "unbounded"/>
			<xsd:element name = "RENTAL_PRICE" type = "PriceRecurring.xsd:type_PriceRecurring" minOccurs = "0"/>
			<xsd:element name = "ENGINEER_SKILL" minOccurs = "0" maxOccurs = "unbounded">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name = "TYPE" type = "xsd:integer" minOccurs = "0"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name = "DELIVERY_PRICE" type = "Price.xsd:type_Price" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>