GenericSOAPGateway/XSDSchemas/TangoAdapter/Common/RFS.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.kpn.com/fixed/TangoAdapter/Common/RFS.xsd"
	 targetNamespace = "http://xmlns.kpn.com/fixed/TangoAdapter/Common/RFS.xsd"
	 xmlns:KabelVerdeler.xsd = "http://xmlns.kpn.com/fixed/TangoAdapter/Common/KabelVerdeler.xsd"
	 xmlns:ISRA.xsd = "http://xmlns.kpn.com/fixed/TangoAdapter/Common/ISRA.xsd"
	 xmlns:HoofdVerdeler.xsd = "http://xmlns.kpn.com/fixed/TangoAdapter/Common/HoofdVerdeler.xsd"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema">
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/TangoAdapter/Common/KabelVerdeler.xsd" schemaLocation = "../Common/KabelVerdeler.xsd"/>
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/TangoAdapter/Common/ISRA.xsd" schemaLocation = "../Common/ISRA.xsd"/>
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/TangoAdapter/Common/HoofdVerdeler.xsd" schemaLocation = "../Common/HoofdVerdeler.xsd"/>
	<xsd:complexType name = "type_RFS">
		<xsd:sequence>
			<xsd:element name = "ISRA" type = "ISRA.xsd:type_ISRA"/>
			<xsd:element name = "HOOFDVERDELER" type = "HoofdVerdeler.xsd:type_HoofdVerdeler"/>
			<xsd:element name = "KABELVERDELER" type = "KabelVerdeler.xsd:type_KabelVerdeler" minOccurs = "0" maxOccurs = "unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>