GenericSOAPGateway/XSDSchemas/TangoAdapter/Common/ServiceVisit.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.kpn.com/fixed/TangoAdapter/Common/ServiceVisit.xsd"
	 targetNamespace = "http://xmlns.kpn.com/fixed/TangoAdapter/Common/ServiceVisit.xsd"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema">
	<xsd:complexType name = "type_ServiceVisit">
		<xsd:choice>
			<xsd:element name = "PLANNED_TIMESLOT">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name = "START" type = "xsd:time"/>
						<xsd:element name = "END" type = "xsd:time"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name = "URGENT" type = "xsd:boolean"/>
		</xsd:choice>
	</xsd:complexType>
</xsd:schema>