GenericSOAPGateway/XSDSchemas/TangoAdapter/Common/StrataBox.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.kpn.com/fixed/TangoAdapter/Common/StrataBox.xsd"
	 targetNamespace = "http://xmlns.kpn.com/fixed/TangoAdapter/Common/StrataBox.xsd"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified">
	<xsd:element name = "STRATABOX" type = "type_STRATABOX"/>
	<xsd:complexType name = "type_STRATABOX">
		<xsd:sequence>
			<xsd:element name = "CUSTOMER_CHECKOUT_INDICATOR" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "REMARKS" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "CAUSE_FOUND_INDICATOR" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "CAUSE_OF_DISTURBANCE_CODE" type = "xsd:integer" minOccurs = "0"/>
			<xsd:element name = "NAME" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "TRACKING_REGION_ID" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "TRACKING_ID" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "TELECOM_DISTRICT_CODE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "WORKAREA_CODE" type = "xsd:string" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>