GenericSOAPGateway/XSDSchemas/TangoAdapter/Common/User.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.kpn.com/fixed/TangoAdapter/Common/User.xsd"
	 targetNamespace = "http://xmlns.kpn.com/fixed/TangoAdapter/Common/User.xsd"
	 xmlns:Contact.xsd = "http://xmlns.kpn.com/fixed/TangoAdapter/Common/Contact.xsd"
	 xmlns:Address.xsd = "http://xmlns.kpn.com/fixed/TangoAdapter/Common/Address.xsd"
	 xmlns:PhoneNumber.xsd = "http://xmlns.kpn.com/fixed/TangoAdapter/Common/PhoneNumber.xsd"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema">
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/TangoAdapter/Common/Contact.xsd" schemaLocation = "Contact.xsd"/>
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/TangoAdapter/Common/Address.xsd" schemaLocation = "Address.xsd"/>
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/TangoAdapter/Common/PhoneNumber.xsd" schemaLocation = "PhoneNumber.xsd"/>
	<xsd:complexType name = "type_User">
		<xsd:sequence>
			<xsd:element name = "NAME" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "ID" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "SCOPE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "LEGAL_FORM_CODE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "TELECOM_DISTRICT_CODE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "TELECOM_REGION_CODE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "ADDRESS" type = "Address.xsd:type_Address" minOccurs = "0"/>
			<xsd:element name = "CONTACT_PERSON" type = "Contact.xsd:type_Contact" minOccurs = "0"/>
			<xsd:element name = "PHONE_NUMBER" type = "PhoneNumber.xsd:type_PhoneNumber" minOccurs = "0"/>
			<xsd:element name = "NEW_ADDRESS" type = "Address.xsd:type_Address" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>