GenericSOAPGateway/XSDSchemas/TangoAdapter/Common/WorkOrderItem.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.kpn.com/fixed/TangoAdapter/Common/WorkOrderItem.xsd"
	 targetNamespace = "http://xmlns.kpn.com/fixed/TangoAdapter/Common/WorkOrderItem.xsd"
	 xmlns:Facility.xsd = "http://xmlns.kpn.com/fixed/TangoAdapter/Common/Facility.xsd"
	 xmlns:RFS.xsd = "http://xmlns.kpn.com/fixed/TangoAdapter/Common/RFS.xsd"
	 xmlns:ConnectionsOverview.xsd = "http://xmlns.kpn.com/fixed/TangoAdapter/Common/ConnectionsOverview.xsd"
	 xmlns:CFS.xsd = "http://xmlns.kpn.com/fixed/TangoAdapter/Common/CFS.xsd"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema">
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/TangoAdapter/Common/Facility.xsd" schemaLocation = "../Common/Facility.xsd"/>
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/TangoAdapter/Common/RFS.xsd" schemaLocation = "../Common/RFS.xsd"/>
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/TangoAdapter/Common/ConnectionsOverview.xsd" schemaLocation = "../Common/ConnectionsOverview.xsd"/>
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/TangoAdapter/Common/CFS.xsd" schemaLocation = "../Common/CFS.xsd"/>
	<xsd:complexType name = "type_WorkOrderItem">
		<xsd:sequence>
			<xsd:element name = "WORK_ORDER_ITEM_TYPE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "NETLINE_NUMBER" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "CFS" type = "CFS.xsd:type_CFS" minOccurs = "0"/>
			<xsd:element name = "FACILITY" type = "Facility.xsd:type_Facility" minOccurs = "0" maxOccurs = "unbounded"/>
			<xsd:element name = "RFS" type = "RFS.xsd:type_RFS" minOccurs = "0"/>
			<xsd:element name = "CONNECTIONS_OVERVIEW" type = "ConnectionsOverview.xsd:type_ConnectionsOverview" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>