GenericSOAPGateway/XSDSchemas/TangoAdapter/Common/WorkOrder.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.kpn.com/fixed/TangoAdapter/Common/WorkOrder.xsd"
	 targetNamespace = "http://xmlns.kpn.com/fixed/TangoAdapter/Common/WorkOrder.xsd"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 xmlns:Service.xsd = "http://xmlns.kpn.com/fixed/TangoAdapter/Common/Service.xsd"
	 xmlns:Milestone.xsd = "http://xmlns.kpn.com/fixed/TangoAdapter/Common/Milestone.xsd"
	 xmlns:Product.xsd = "http://xmlns.kpn.com/fixed/TangoAdapter/Common/Product.xsd"
	 xmlns:Activity.xsd = "http://xmlns.kpn.com/fixed/TangoAdapter/Common/Activity.xsd"
	 xmlns:Status.xsd = "http://xmlns.kpn.com/fixed/TangoAdapter/Common/Status.xsd"
	 xmlns:Note.xsd = "http://xmlns.kpn.com/fixed/TangoAdapter/Common/Note.xsd"
	 xmlns:WorkOrderItem.xsd = "http://xmlns.kpn.com/fixed/TangoAdapter/Common/WorkOrderItem.xsd"
	 xmlns:PhoneNumber.xsd = "http://xmlns.kpn.com/fixed/TangoAdapter/Common/PhoneNumber.xsd"
	 xmlns:Material.xsd = "http://xmlns.kpn.com/fixed/TangoAdapter/Common/Material.xsd"
	 xmlns:ServiceVisit.xsd = "http://xmlns.kpn.com/fixed/TangoAdapter/Common/ServiceVisit.xsd"
	 xmlns:RelatedActivity.xsd = "http://xmlns.kpn.com/fixed/TangoAdapter/Common/RelatedActivity.xsd">
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/TangoAdapter/Common/Service.xsd" schemaLocation = "../Common/Service.xsd"/>
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/TangoAdapter/Common/Milestone.xsd" schemaLocation = "../Common/Milestone.xsd"/>
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/TangoAdapter/Common/Product.xsd" schemaLocation = "../Common/Product.xsd"/>
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/TangoAdapter/Common/Activity.xsd" schemaLocation = "../Common/Activity.xsd"/>
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/TangoAdapter/Common/Status.xsd" schemaLocation = "../Common/Status.xsd"/>
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/TangoAdapter/Common/Note.xsd" schemaLocation = "../Common/Note.xsd"/>
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/TangoAdapter/Common/WorkOrderItem.xsd" schemaLocation = "../Common/WorkOrderItem.xsd"/>
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/TangoAdapter/Common/PhoneNumber.xsd" schemaLocation = "../Common/PhoneNumber.xsd"/>
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/TangoAdapter/Common/Material.xsd" schemaLocation = "../Common/Material.xsd"/>
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/TangoAdapter/Common/ServiceVisit.xsd" schemaLocation = "../Common/ServiceVisit.xsd"/>
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/TangoAdapter/Common/RelatedActivity.xsd" schemaLocation = "../Common/RelatedActivity.xsd"/>
	<xsd:complexType name = "type_WorkOrder">
		<xsd:sequence>
			<xsd:element name = "ID" type = "xsd:string"/>
			<xsd:element name = "CUSTOMER_ORDER_REFERENCE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "BILLING_SYSTEM" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "INDOOR_OUTDOOR_ACTIVITY" type = "xsd:integer" minOccurs = "0"/>
			<xsd:element name = "ORGANIZATIONAL_UNIT" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "PRODUCT_CATEGORY" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "DISTRICT_AREA" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "CUSTOMER_ORDER_ID" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "NORM_DURATION" type = "xsd:integer" minOccurs = "0"/>
			<xsd:element name = "TELCO_DESCRIPTION" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "ACTIVITY_CODE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "COMPLETION_DATE" type = "xsd:date" minOccurs = "0"/>
			<xsd:element name = "WORK_ORDER_ITEM" type = "WorkOrderItem.xsd:type_WorkOrderItem" minOccurs = "0" maxOccurs = "unbounded"/>
			<xsd:element name = "NOTE" type = "Note.xsd:type_Note" minOccurs = "0"/>
			<xsd:element name = "MILESTONE" type = "Milestone.xsd:type_Milestone" minOccurs = "0" maxOccurs = "2"/>
			<xsd:element name = "SERVICE_VISIT" type = "ServiceVisit.xsd:type_ServiceVisit" minOccurs = "0"/>
			<xsd:element name = "RELATED_ACTIVITY" type = "RelatedActivity.xsd:type_RelatedActivity" minOccurs = "0" maxOccurs = "unbounded"/>
			<xsd:element name = "MATERIAL" type = "Material.xsd:type_Material" minOccurs = "0" maxOccurs = "unbounded"/>
			<xsd:element name = "ACTIVITY" type = "Activity.xsd:type_Activity" minOccurs = "0" maxOccurs = "unbounded"/>
			<xsd:element name = "PHONE_NUMBER" type = "PhoneNumber.xsd:type_PhoneNumber" minOccurs = "0"/>
			<xsd:element name = "PRODUCT" type = "Product.xsd:type_Product" minOccurs = "0"/>
			<xsd:element name = "STATUS" type = "Status.xsd:type_Status" minOccurs = "0"/>
			<xsd:element name = "SERVICE" type = "Service.xsd:type_Service" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>