Clever/CLEverSource/CLEverCore - Oracle/Processes/FrontendServices/Configuration/Version/Version.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://www.tibco.com/CLEver/Configuration/Version" xmlns:ns2="http://www.tibco.com/CLEver/FrontendServices/Configuration/Version/VersionInterfaceSpecs" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.tibco.com/CLEver/Configuration/Version" xmlns:ns3="http://www.tibco.com/CLEver/InternalException">
    <import location="VersionInterfaceSpecs.xsd" namespace="http://www.tibco.com/CLEver/FrontendServices/Configuration/Version/VersionInterfaceSpecs"/>
	<import location="../../../../Shared Resources/Schema Definitions/CLEver/Error.xsd" namespace="http://www.tibco.com/CLEver/InternalException"/>
    <message name="Create_Version_Input">
        <part element="ns2:Create_Version_Input" name="part1"/>
    </message>
    <message name="Create_Version_Output">
        <part element="ns2:Create_Version_Output" name="part1"/>
    </message>
    <message name="Copy_Version_Input">
        <part element="ns2:Copy_Version_Input" name="part1"/>
    </message>
    <message name="Copy_Version_Output">
        <part element="ns2:Copy_Version_Output" name="part1"/>
    </message>
    <message name="Activate_Version_Input">
        <part element="ns2:Activate_Version_Input" name="part1"/>
    </message>
    <message name="Activate_Version_Output">
        <part element="ns2:Activate_Version_Output" name="part1"/>
    </message>
    <message name="Retire_Version_Input">
        <part element="ns2:Retire_Version_Input" name="part1"/>
    </message>
    <message name="Retire_Version_Output">
        <part element="ns2:Retire_Version_Output" name="part1"/>
    </message>
    <message name="Delete_Version_Input">
        <part element="ns2:Delete_Version_Input" name="part1"/>
    </message>
    <message name="Delete_Version_Output">
        <part element="ns2:Delete_Version_Output" name="part1"/>
    </message>
    <message name="Retrieve_Version_Input">
        <part element="ns2:Retrieve_Version_Input" name="part1"/>
    </message>
    <message name="Retrieve_Version_Output">
        <part element="ns2:Retrieve_Version_Output" name="part1"/>
    </message>
    <message name="Import_Version_Input">
        <part element="ns2:Import_Version_Input" name="part1"/>
    </message>
    <message name="Import_Version_Output">
        <part element="ns2:Import_Version_Output" name="part1"/>
    </message>
    <message name="Export_Version_Input">
        <part element="ns2:Export_Version_Input" name="part1"/>
    </message>
    <message name="Export_Version_Output">
        <part element="ns2:Export_Version_Output" name="part1"/>
    </message>
		<message name="Exception">
        <part name="part1" element="ns3:ExceptionEnvelope"/>
    </message>
    <portType name="Version">
        <operation name="Create">
            <input message="ns:Create_Version_Input"/>
            <output message="ns:Create_Version_Output"/>
			<fault name="fault1" message="ns:Exception"/>
        </operation>
        <operation name="Copy">
            <input message="ns:Copy_Version_Input"/>
            <output message="ns:Copy_Version_Output"/>
			<fault name="fault1" message="ns:Exception"/>
        </operation>
        <operation name="Activate">
            <input message="ns:Activate_Version_Input"/>
            <output message="ns:Activate_Version_Output"/>
			<fault name="fault1" message="ns:Exception"/>
        </operation>
        <operation name="Retire">
            <input message="ns:Retire_Version_Input"/>
            <output message="ns:Retire_Version_Output"/>
			<fault name="fault1" message="ns:Exception"/>
        </operation>
        <operation name="Delete">
            <input message="ns:Delete_Version_Input"/>
            <output message="ns:Delete_Version_Output"/>
			<fault name="fault1" message="ns:Exception"/>
        </operation>
        <operation name="Retrieve">
            <input message="ns:Retrieve_Version_Input"/>
            <output message="ns:Retrieve_Version_Output"/>
			<fault name="fault1" message="ns:Exception"/>
        </operation>
        <operation name="Import">
            <input message="ns:Import_Version_Input"/>
            <output message="ns:Import_Version_Output"/>
			<fault name="fault1" message="ns:Exception"/>
        </operation>
        <operation name="Export">
            <input message="ns:Export_Version_Input"/>
            <output message="ns:Export_Version_Output"/>
			<fault name="fault1" message="ns:Exception"/>
        </operation>
    </portType>
</definitions>