ASTRIDAdapter/ASTRIDAdapter/Shared Resources/InitialError.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.kpn.com/fixed/coinadapter/internal/InitialError.xsd"
	 targetNamespace = "http://xmlns.kpn.com/fixed/coinadapter/internal/InitialError.xsd"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified">
	<xsd:element name = "InitialError">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name = "Abort" type = "xsd:boolean" minOccurs = "0"/>
				<xsd:element name = "StackTrace" type = "xsd:string"/>
				<xsd:element name = "Msg" type = "xsd:string"/>
				<xsd:element name = "FullClass" type = "xsd:string"/>
				<xsd:element name = "Class" type = "xsd:string"/>
				<xsd:element name = "ProcessStack" type = "xsd:string"/>
				<xsd:element name = "MsgCode" type = "xsd:string" minOccurs = "0"/>
				<xsd:element name = "Data" minOccurs = "0">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:any namespace = "##any" processContents = "strict"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>