ASTRIDAdapter/WSDL/ASTRIDAdapter/CHECK_APPOINTMENT.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!-- edited with XMLSpy v2006 U (http://www.altova.com) by test (JK) -->
<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ns0="http://tempuri.org" xmlns:s="urn:CHECK_APPOINTMENT" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:CHECK_APPOINTMENT">
	<wsdl:types>
		<xsd:schema elementFormDefault="qualified" targetNamespace="urn:CHECK_APPOINTMENT">
			<xsd:element name="CheckAppointmentRequest" type="s:KSD_CheckAppointment"/>
			<xsd:complexType name="KSD_CheckAppointment">
				<xsd:sequence>
					<xsd:element name="GUID" nillable="true" type="xsd:string"/>
					<xsd:element name="systemDate" nillable="true" type="xsd:dateTime"/>
					<xsd:element name="formulaId" nillable="true" type="xsd:string"/>
					<xsd:element name="repairDeadline" nillable="true" type="xsd:dateTime"/>
					<xsd:element name="expectedTime" nillable="true" type="xsd:dateTime"/>
					<xsd:element name="researchDepartmentCode" nillable="true" type="xsd:string"/>
					<xsd:element name="researchEmployeeCode" nillable="true" type="xsd:string"/>
					<xsd:element name="appointmentDate" nillable="true" type="xsd:date"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="CheckAppointmentResponse" type="s:KSD_Appointment"/>
			<xsd:complexType name="KSD_Appointment">
				<xsd:sequence>
					<xsd:element name="GUID" nillable="true" type="xsd:string"/>
					<xsd:element name="appointmentWithinNorm" nillable="true" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
	</wsdl:types>
	<message name="CheckAppointmentRequestMsg">
		<part name="parameters" element="s:CheckAppointmentRequest"/>
	</message>
	<message name="CheckAppointmentResponseMsg">
		<part name="parameters" element="s:CheckAppointmentResponse"/>
	</message>
	<portType name="CHECK_APPOINTMENTPortType">
		<operation name="CheckAppointmentRequest">
			<input message="s:CheckAppointmentRequestMsg"/>
			<output message="s:CheckAppointmentResponseMsg"/>
		</operation>
	</portType>
	<binding name="CHECK_APPOINTMENTSoapBinding" type="s:CHECK_APPOINTMENTPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="CheckAppointmentRequest">
			<soap:operation soapAction="urn:CHECK_APPOINTMENT/CheckAppointment" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="CHECK_APPOINTMENT_SERVICE">
		<wsdl:documentation>versie 2.0</wsdl:documentation>
		<port name="CHECK_APPOINTMENTSoap" binding="s:CHECK_APPOINTMENTSoapBinding">
			<soap:address location="http://localhost:9190/ExpertDeskAdapter"/>
		</port>
	</service>
</wsdl:definitions>
