ASTRIDAdapter/WSDL/ASTRIDAdapter/FindPropertyAddress.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ns0="http://tempuri.org" xmlns:s="urn:FindPropertyAddress" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:FindPropertyAddress">
	<wsdl:types>
		<xsd:schema elementFormDefault="qualified" targetNamespace="urn:FindPropertyAddress">
			<xsd:import namespace="http://tempuri.org"/>
			<xsd:element name="FindPropertyAddress" type="s:GetInputMap"/>
			<xsd:complexType name="GetInputMap">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="GUID" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="DUTCH_POSTCODE_NUMBERS" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="DUTCH_POSTCODE_LETTERS" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="HOUSE_NUMBER" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="STREET_NAME" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="CITY_NAME" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="CITY_CODE" nillable="true" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="FindPropertyAddressResponse" type="ns0:Message"/>
			<xsd:element name="AuthenticationInfo" type="s:AuthenticationInfo"/>
			<xsd:complexType name="AuthenticationInfo">
				<xsd:sequence>
					<xsd:element name="userName" type="xsd:string"/>
					<xsd:element name="password" type="xsd:string"/>
					<xsd:element minOccurs="0" name="authentication" type="xsd:string"/>
					<xsd:element minOccurs="0" name="locale" type="xsd:string"/>
					<xsd:element minOccurs="0" name="timeZone" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
		<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://tempuri.org" xmlns="http://tempuri.org" xmlns:xs="http://www.w3.org/2001/XMLSchema">
			<xs:complexType name="Message">
				<xs:sequence>
					<xs:element minOccurs="0" name="General" type="GeneralType"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="GeneralType">
				<xs:sequence>
					<xs:element minOccurs="0" name="GUID" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="STATUS" nillable="true" type="xs:int"/>
					<xs:element minOccurs="0" name="MSG_CODE" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="ERROR_CODE" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="ERROR_DESCRIPTION" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="NUMBER_OF_RECORDS" nillable="true" type="xs:int"/>
					<xs:element minOccurs="0" name="ReplyLoop" type="ReplyLoopType"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ReplyLoopType">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="ReplyLoop" type="ReplyLoop"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ReplyLoop">
				<xs:sequence>
					<xs:element minOccurs="0" name="index" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="CITY_NAME" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="CITY_CODE" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="STREET_NAME" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="HOUSE_NUMBER" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="DUTCH_POSTCODE_NUMBERS" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="DUTCH_POSTCODE_LETTERS" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="TELECOM_REGION_CODE" nillable="true" type="xs:int"/>
					<xs:element minOccurs="0" name="IS_ODD" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="HOUSE_NUMBER_FROM" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="HOUSE_NUMBER_TO" nillable="true" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="FindPropertyAddressSoapOut">
		<wsdl:part name="parameters" element="s:FindPropertyAddressResponse"/>
	</wsdl:message>
	<wsdl:message name="FindPropertyAddressSoapIn">
		<wsdl:part name="parameters" element="s:FindPropertyAddress"/>
	</wsdl:message>
	<wsdl:message name="ARAuthenticate">
		<wsdl:part name="parameters" element="s:AuthenticationInfo"/>
	</wsdl:message>
	<wsdl:portType name="FindPropertyAddressPortType">
		<wsdl:operation name="FindPropertyAddress">
			<wsdl:input message="s:FindPropertyAddressSoapIn"/>
			<wsdl:output message="s:FindPropertyAddressSoapOut"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="FindPropertyAddressSoapBinding" type="s:FindPropertyAddressPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="FindPropertyAddress">
			<soap:operation soapAction="urn:FindPropertyAddress/FindPropertyAddress" style="document"/>
			<wsdl:input>
				<soap:header message="s:ARAuthenticate" part="parameters" use="literal"/>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="FindPropertyAddressService">
		<wsdl:documentation>
versie 2.0  </wsdl:documentation>
		<wsdl:port name="FindPropertyAddressSoap" binding="s:FindPropertyAddressSoapBinding">
			<soap:address location="http://manlab10/arsys/services/ARService?server=manlab10&amp;webService=FindPropertyAddress"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
