ASTRIDAdapter/WSDL/ASTRIDAdapter/FindCustomer.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ns0="http://tempuri.org" xmlns:s="urn:FindCustomer" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:FindCustomer">
	<wsdl:types>
		<xsd:schema elementFormDefault="qualified" targetNamespace="urn:FindCustomer">
			<xsd:import namespace="http://tempuri.org"/>
			<xsd:element name="FindCustomer" type="s:GetInputMap"/>
			<xsd:complexType name="GetInputMap">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="GUID" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="APPLICATION_ID" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="CENTRAL_CUSTOMER_ID" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="DATE_OF_BIRTH" nillable="true" type="xsd:date"/>
					<xsd:element minOccurs="0" name="ADDRESS_TYPE" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="ROLE_TYPE" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="IS_ACTIVE" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="IS_INTERNATIONAL" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="KVK_NUMBER" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="MAX_RECORDS" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="PARTY_ID" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="PARTY_NAME" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="PHONE_NUMBER" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="SELECTION_START_POINT" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="USER_ID" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="STREET_NAME" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="HOUSE_NUMBER" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="HOUSE_NUMBER_EXTENSION" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="DUTCH_POSTCODE_NUMBERS" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="DUTCH_POSTCODE_LETTERS" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="CITY_NAME" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="CITY_CODE" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="APPLICATION_ID2" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="ROLE_TYPE2" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="REF_NAME" nillable="true" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="FindCustomerResponse" type="ns0:Message"/>
			<xsd:element name="AuthenticationInfo" type="s:AuthenticationInfo"/>
			<xsd:complexType name="AuthenticationInfo">
				<xsd:sequence>
					<xsd:element name="userName" type="xsd:string"/>
					<xsd:element name="password" type="xsd:string"/>
					<xsd:element minOccurs="0" name="authentication" type="xsd:string"/>
					<xsd:element minOccurs="0" name="locale" type="xsd:string"/>
					<xsd:element minOccurs="0" name="timeZone" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
		<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://tempuri.org" xmlns="http://tempuri.org" xmlns:xs="http://www.w3.org/2001/XMLSchema">
			<xs:complexType name="Message">
				<xs:sequence>
					<xs:element minOccurs="0" name="General" type="GeneralType"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="GeneralType">
				<xs:sequence>
					<xs:element minOccurs="0" name="GUID" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="STATUS" nillable="true" type="xs:int"/>
					<xs:element minOccurs="0" name="MSG_CODE" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="ERROR_CODE" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="ERROR_DESCRIPTION" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="NUMBER_OF_RECORDS" nillable="true" type="xs:int"/>
					<xs:element minOccurs="0" name="CUSTOMER" type="CUSTOMERType"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="CUSTOMERType">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="CUSTOMER" type="CUSTOMER"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="CUSTOMER">
				<xs:sequence>
					<xs:element minOccurs="0" name="CENTRAL_CUSTOMER_ID" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="IS_ACTIVE" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="STREET_NAME" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="HOUSE_NUMBER" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="HOUSE_NUMBER_EXTENSION" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="DUTCH_POSTCODE_NUMBERS" nillable="true" type="xs:int"/>
					<xs:element minOccurs="0" name="DUTCH_POSTCODE_LETTERS" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="CITY_NAME" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="CITY_CODE" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="COUNTRY" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="APPLICATION_ID" nillable="true" type="xs:int"/>
					<xs:element minOccurs="0" name="ROLE" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="REF_NAME" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="PARTY_ID" nillable="true" type="xs:int"/>
					<xs:element minOccurs="0" name="DATE_OF_BIRTH" nillable="true" type="xs:date"/>
					<xs:element minOccurs="0" name="KVK_NUMBER" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="VALID_FROM_DATE" nillable="true" type="xs:date"/>
					<xs:element minOccurs="0" name="VALID_UNTIL_DATE" nillable="true" type="xs:date"/>
					<xs:element minOccurs="0" name="LEGAL_FORM_CODE" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="BRANCHE_NAME" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="BRANCHE_NAME_DIACRITICS" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="PARTY_NAME" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="PARTY_NAME_DIACRITICS" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="CENTRAL_CUSTOMER_ID_MAIN" nillable="true" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="FindCustomerSoapOut">
		<wsdl:part name="parameters" element="s:FindCustomerResponse"/>
	</wsdl:message>
	<wsdl:message name="ARAuthenticate">
		<wsdl:part name="parameters" element="s:AuthenticationInfo"/>
	</wsdl:message>
	<wsdl:message name="FindCustomerSoapIn">
		<wsdl:part name="parameters" element="s:FindCustomer"/>
	</wsdl:message>
	<wsdl:portType name="FindCustomerPortType">
		<wsdl:operation name="FindCustomer">
			<wsdl:input message="s:FindCustomerSoapIn"/>
			<wsdl:output message="s:FindCustomerSoapOut"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="FindCustomerSoapBinding" type="s:FindCustomerPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="FindCustomer">
			<soap:operation soapAction="urn:FindCustomer/FindCustomer" style="document"/>
			<wsdl:input>
				<soap:header message="s:ARAuthenticate" part="parameters" use="literal"/>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="FindCustomerService">
		<wsdl:documentation>
versie 2.0  </wsdl:documentation>
		<wsdl:port name="FindCustomerSoap" binding="s:FindCustomerSoapBinding">
			<soap:address location="http://manlab10/arsys/services/ARService?server=manlab10&amp;webService=FindCustomer"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
