ASTRIDAdapter/WSDL/ASTRIDAdapter/GenericMessageRequest.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ns0="http://tempuri.org" xmlns:s="urn:GenericMessageRequest" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:GenericMessageRequest">
	<!-- Version of this WSDL is 11 -->
    <types>
        <xsd:schema elementFormDefault="qualified" targetNamespace="urn:GenericMessageRequest">
            <xsd:import namespace="http://tempuri.org"/>
            <xsd:element name="GenericMessage" type="ns0:Message"/>
            <xsd:element name="GenericMessageResponse" type="s:OutputMapping"/>
            <xsd:complexType name="OutputMapping">
                <xsd:sequence>
                    <xsd:element name="GUID" type="xsd:string"/>
                    <xsd:element name="error" type="xsd:string"/>
                    <xsd:element name="error_message" type="xsd:string"/>
                    <xsd:element name="error_status" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="AuthenticationInfo" type="s:AuthenticationInfo"/>
            <xsd:complexType name="AuthenticationInfo">
                <xsd:sequence>
                    <xsd:element name="userName" type="xsd:string"/>
                    <xsd:element name="password" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="authentication" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="locale" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="timeZone" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
        <xs:schema xmlns="http://tempuri.org" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://tempuri.org">
            <xs:complexType name="Message">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Header" type="HeaderType"/>
                    <xs:element minOccurs="0" name="General" type="GeneralType"/>
                    <xs:element minOccurs="0" name="Customer_info" type="Customer_infoType"/>
                    <xs:element minOccurs="0" name="Managed_Object_Info" type="Managed_Object_InfoType"/>
                    <xs:element minOccurs="0" name="Managed_object_in_trouble_info" type="Managed_object_in_trouble_infoType"/>
                    <xs:element minOccurs="0" name="Attachments" type="AttachmentsType"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="HeaderType">
                <xs:sequence>
                    <xs:element minOccurs="0" name="GUID" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="managed_object_class" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="managed_object_class_extension" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="managed_object_class_version" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="message_origination_it_domain" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="message_instance" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="message_creation_time" nillable="true" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="message_destination_it_domain" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="GeneralType">
                <xs:sequence>
                    <xs:element minOccurs="0" name="customer_service_incident_report_identifier" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="customer_service_incident_report_initiation" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="trouble_report_identifier" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="alarm_report_identifier" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="service_provider_trouble_report_identifier" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="event_time" nillable="true" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="error" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="error_message" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="error_status" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="impact" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="urgency" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="priority" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="perceived_trouble_severity" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="activity_information" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="activity_information_list" nillable="true" type="activity_information_list_Type"/>
                    <xs:element minOccurs="0" name="analysis_information" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="question_list" nillable="true" type="question_list_Type"/>
                    <xs:element minOccurs="0" name="Non_Generic_Field_List" nillable="true" type="Non_Generic_Field_List_Type"/>
                    <xs:element minOccurs="0" name="closure_service_type" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="probable_cause" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="sla_clearing_time" nillable="true" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="sla_function" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="sla_name" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="reply_subject" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="incident_found" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="incident_report_state" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="incident_report_date" nillable="true" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="network_class" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="trouble_type" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="request_type" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="creation_type" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="problem_details" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="trouble_description_short" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="trouble_description_long" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="trouble_detection_time" nillable="true" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="trouble_found" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="trouble_report_state" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="trouble_report_changedate" nillable="true" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="trouble_report_status_line" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="trouble_report_status_line_date" nillable="true" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="trouble_report_status_line_date_send" nillable="true" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="trouble_report_number_updates" nillable="true" type="xs:int"/>
                    <xs:element minOccurs="0" name="end_user_name" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="end_user_telephone" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Customer_infoType">
                <xs:sequence>
                    <xs:element minOccurs="0" name="customer_organization" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="manager_contact_person" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="co_city" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="co_contact_person" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="co_contact_person_electronic_mail_address" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="co_contact_person_fax_number" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="co_contact_person_telephone_number" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="co_contact_person_mobile_telephone_number" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="co_country" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="co_house_number" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="co_house_number_extension" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="co_incident_reporter" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="co_incident_reporter_electronic_mail_address" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="co_incident_reporter_fax_number" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="co_incident_reporter_telephone_number" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="co_street" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="co_zip_code" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Managed_Object_InfoType">
                <xs:sequence>
                    <xs:element minOccurs="0" name="managed_object_instance" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="mo_managed_object_backup" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="mo_managed_object_class" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="mo_managed_object_graphical_representation" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="mo_managed_object_instance" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="mo_mol_city" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="mo_mol_country" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="mo_mol_house_number" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="mo_mol_house_number_extension" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="mo_mol_location_code" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="mo_mol_street" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="mo_mol_zip_code" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="mo_network_class" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="mo_network_instance" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="mo_ssl_city" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="mo_ssl_country" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="mo_ssl_house_number" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="mo_ssl_house_number_extension" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="mo_ssl_location_code" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="mo_ssl_street" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="mo_ssl_zip_code" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="mo_supported_service_attribute_name" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="mo_supported_service_attribute_value" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="MOR0" nillable="true" type="MOR0Type"/>
                    <xs:element minOccurs="0" name="mo_supported_service_status" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="mo_supported_service_uptime" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="mo_supported_service_modify_date" nillable="true" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="mo_supported_service_repairtime" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="mo_supported_service_repairstarttime" nillable="true" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="mo_supported_service_repairendtime" nillable="true" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="mo_supported_service_backup" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="mo_supported_service_class" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="mo_supported_service_graphical_representation" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="mo_supported_service_instance" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="service_instance_list" nillable="true" type="service_instance_list_Type"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Managed_object_in_trouble_infoType">
                <xs:sequence>
                    <xs:element minOccurs="0" name="moit_managed_object_class" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="moit_managed_object_instance" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="moit_network_class" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="moit_network_instance" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="moit_ssl_city" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="moit_ssl_country" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="moit_ssl_house_number" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="moit_ssl_house_number_extension" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="moit_ssl_street" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="moit_ssl_zip_code" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="moit_supported_service_attribute_name" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="moit_supported_service_attribute_value" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="moit_supported_service_class" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="moit_supported_service_instance" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="AttachmentsType">
                <xs:sequence>
                    <xs:element minOccurs="0" name="attachment_1_attachmentName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="attachment_1_attachmentData" nillable="true" type="xs:base64Binary"/>
                    <xs:element minOccurs="0" name="attachment_1_attachmentOrigSize" nillable="true" type="xs:int"/>
                    <xs:element minOccurs="0" name="attachment_2_attachmentName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="attachment_2_attachmentData" nillable="true" type="xs:base64Binary"/>
                    <xs:element minOccurs="0" name="attachment_2_attachmentOrigSize" nillable="true" type="xs:int"/>
                    <xs:element minOccurs="0" name="attachment_3_attachmentName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="attachment_3_attachmentData" nillable="true" type="xs:base64Binary"/>
                    <xs:element minOccurs="0" name="attachment_3_attachmentOrigSize" nillable="true" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="MOR0s" type="MOR0Type"/>
            <xs:complexType name="MOR0Type">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="MOR0" nillable="true" type="MOR0"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="MOR0">
                <xs:sequence>
                    <xs:element minOccurs="0" name="mo_supported_service_attribute_name_1" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="mo_supported_service_attribute_value_1" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="order_1" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="MOR1" nillable="true" type="MOR1Type"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="MOR1s" type="MOR1Type"/>
            <xs:complexType name="MOR1Type">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="MOR1" nillable="true" type="MOR1"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="MOR1">
                <xs:sequence>
                    <xs:element minOccurs="0" name="mo_supported_service_attribute_name_2" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="mo_supported_service_attribute_value_2" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="order_2" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="Non_Generic_Field_List" type="Non_Generic_Field_List_Type"/>
            <xs:complexType name="Non_Generic_Field_List_Type">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="Non_Generic_Field" nillable="true" type="Non_Generic_Field"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Non_Generic_Field">
                <xs:sequence>
                    <xs:element minOccurs="0" name="non_Generic_Field_name" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="non_Generic_Field_value" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="non_Generic_Field_order" nillable="true" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="question_list" type="question_list_Type"/>
            <xs:complexType name="question_list_Type">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="question" nillable="true" type="question"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="question">
                <xs:sequence>
                    <xs:element minOccurs="0" name="analysis_question" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="analysis_answer" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="activity_information_list" type="activity_information_list_Type"/>
            <xs:complexType name="activity_information_list_Type">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="activity_information_element" nillable="true" type="activity_information_element"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="activity_information_element">
                <xs:sequence>
                    <xs:element default="geen" minOccurs="0" name="activity_information_value" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="activity_information_change_date" nillable="true" type="xs:dateTime"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="service_instance_list" type="service_instance_list_Type"/>
            <xs:complexType name="service_instance_list_Type">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="service_instance" nillable="true" type="service_instance"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="service_instance">
                <xs:sequence>
                    <xs:element minOccurs="0" name="mo_supported_service_instance_id" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="mo_supported_service_instance_status" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="mo_supported_service_instance_status_UpTime" nillable="true" type="xs:dateTime"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Answer">
                <xs:sequence>
                    <xs:element minOccurs="0" name="GUID" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="error" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="error_message" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="error_status" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </types>
    <message name="ARAuthenticate">
        <part element="s:AuthenticationInfo" name="parameters"/>
    </message>
    <message name="GenericMessageSoapOut">
        <part element="s:GenericMessageResponse" name="parameters"/>
    </message>
    <message name="GenericMessageSoapIn">
        <part element="s:GenericMessage" name="parameters"/>
    </message>
    <portType name="GenericMessageRequestPortType">
        <operation name="GenericMessage">
            <input message="s:GenericMessageSoapIn"/>
            <output message="s:GenericMessageSoapOut"/>
        </operation>
    </portType>
    <binding name="GenericMessageRequestSoapBinding" type="s:GenericMessageRequestPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="GenericMessage">
            <soap:operation soapAction="urn:GenericMessageRequest/GenericMessage" style="document"/>
            <input>
                <soap:header message="s:ARAuthenticate" part="parameters" use="literal"/>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="GenericMessageRequestService">
        <port binding="s:GenericMessageRequestSoapBinding" name="GenericMessageRequestSoap">
            <soap:address location="http://manlab10/arsys/services/ARService?server=manlab10&amp;webService=GenericMessageRequest"/>
        </port>
    </service>
</definitions>