ASTRIDAdapter/WSDL/ASTRIDAdapter/GetCtpLineDetails.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ns0="http://tempuri.org" xmlns:s="urn:GetCtpLineDetails" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:GetCtpLineDetails">
	<wsdl:types>
		<xsd:schema elementFormDefault="qualified" targetNamespace="urn:GetCtpLineDetails">
			<xsd:import namespace="http://tempuri.org"/>
			<xsd:element name="GetInformation" type="s:GetInputMap"/>
			<xsd:complexType name="GetInputMap">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="GUID" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="TTP_NUMBER" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="CENTRAL_AREA_CODE_OFFSET" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="INVOERKABEL_SEQUENCE_NUMBER_OFFSET" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="DIKADER_NUMBER_OFFSET" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="POST_CODE_LETTERS" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="POST_CODE_NUMBERS" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="HOUSE_NUMBER" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="HOUSE_NUMBER_EXTENSION" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="MAXIMUM_NUMBER_OF_LINES" nillable="true" type="xsd:int"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="GetInformationResponse" type="ns0:Message"/>
			<xsd:element name="AuthenticationInfo" type="s:AuthenticationInfo"/>
			<xsd:complexType name="AuthenticationInfo">
				<xsd:sequence>
					<xsd:element name="userName" type="xsd:string"/>
					<xsd:element name="password" type="xsd:string"/>
					<xsd:element minOccurs="0" name="authentication" type="xsd:string"/>
					<xsd:element minOccurs="0" name="locale" type="xsd:string"/>
					<xsd:element minOccurs="0" name="timeZone" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
		<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://tempuri.org" xmlns="http://tempuri.org" xmlns:xs="http://www.w3.org/2001/XMLSchema">
			<xs:complexType name="Message">
				<xs:sequence>
					<xs:element minOccurs="0" name="General" type="GeneralType"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="GeneralType">
				<xs:sequence>
					<xs:element minOccurs="0" name="GUID" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="STATUS" nillable="true" type="xs:int"/>
					<xs:element minOccurs="0" name="MSG_CODE" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="ERROR_CODE" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="ERROR_DESCRIPTION" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="AREA_CODE" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="NUMBER_OF_LINES" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="LINE" type="LINEType"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="LINEType">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="LINE" type="LINE"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="LINE">
				<xs:sequence>
					<xs:element minOccurs="0" name="index" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="CENTRAL_AREA_CODE" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="INVOERKABEL_SEQUENCE_NUMBER" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="DIKADER_NUMBER" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="TELECOM_REGION_CODE" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="LINE_STATUS" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="CURRENT_HOST_ID" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="CURRENT_LINE_SHORT_NAME" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="CURRENT_PORTING_STATUS" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="CURRENT_QUALITY_CATEGORY" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="CURRENT_ROUTING_TYPE" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="CURRENT_SERVICE_ID" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="CURRENT_SERVICE_PROVIDER_ID" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="CURRENT_SERVICE_TYPE" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="CURRENT_SERVICE_TYPE_EXTENSION" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="CURRENT_USAGE_STATUS" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="CURRENT_USAGE_STATUS_EXTENSION" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="CURRENT_SUBSCRIBER_NUMBER" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="CURRENT_CALL_NUMBER" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="FUTURE_HOST_ID" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="FUTURE_LINE_SHORT_NAME" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="FUTURE_PORTING_STATUS" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="FUTURE_QUALITY_CATEGORY" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="FUTURE_ROUTING_TYPE" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="FUTURE_SERVICE_ID" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="FUTURE_SERVICE_PROVIDER_ID" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="FUTURE_SERVICE_TYPE" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="FUTURE_SERVICE_TYPE_EXTENSION" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="FUTURE_USAGE_STATUS" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="FUTURE_USAGE_STATUS_EXTENSION" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="FUTURE_SUBSCRIBER_NUMBER" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="FUTURE_CALL_NUMBER" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="USAGE_STATUS" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="EQUIPMENT_CODE" nillable="true" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="ARAuthenticate">
		<wsdl:part name="parameters" element="s:AuthenticationInfo"/>
	</wsdl:message>
	<wsdl:message name="GetInformationSoapOut">
		<wsdl:part name="parameters" element="s:GetInformationResponse"/>
	</wsdl:message>
	<wsdl:message name="GetInformationSoapIn">
		<wsdl:part name="parameters" element="s:GetInformation"/>
	</wsdl:message>
	<wsdl:portType name="GetCtpLineDetailsPortType">
		<wsdl:operation name="GetInformation">
			<wsdl:input message="s:GetInformationSoapIn"/>
			<wsdl:output message="s:GetInformationSoapOut"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="GetCtpLineDetailsSoapBinding" type="s:GetCtpLineDetailsPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="GetInformation">
			<soap:operation soapAction="urn:GetCtpLineDetails/GetInformation" style="document"/>
			<wsdl:input>
				<soap:header message="s:ARAuthenticate" part="parameters" use="literal"/>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="GetCtpLineDetailsService">
		<wsdl:documentation>
versie 2.2  </wsdl:documentation>
		<wsdl:port name="GetCtpLineDetailsSoap" binding="s:GetCtpLineDetailsSoapBinding">
			<soap:address location="http://manlab10/arsys/services/ARService?server=manlab10&amp;webService=GetCtpLineDetails"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
