ASTRIDAdapter/WSDL/ASTRIDAdapter/GetIbisInformation.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ns0="http://tempuri.org" xmlns:s="urn:GetIbisInformation" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:GetIbisInformation">
	<wsdl:types>
		<xsd:schema elementFormDefault="qualified" targetNamespace="urn:GetIbisInformation">
			<xsd:import namespace="http://tempuri.org"/>
			<xsd:element name="GetIbisInformation" type="s:InputMapping"/>
			<xsd:complexType name="InputMapping">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="GUID" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="afzender_applicatie" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="afzender_gebruiker" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="Ontvanger_applicatie" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="bericht_type" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="function_type" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="bericht_versie" nillable="true" type="xsd:int"/>
					<xsd:element minOccurs="0" name="transactie_ID" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="datum_tijd" nillable="true" type="xsd:dateTime"/>
					<xsd:element minOccurs="0" name="maximum_aantal" nillable="true" type="xsd:int"/>
					<xsd:element minOccurs="0" name="sleutel_volgende_item" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="Gepland_ongepland" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="Netnummer" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="Abonneenummer" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="Lijnbenaming" nillable="true" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="GetIbisInformationResponse" type="ns0:Answer"/>
			<xsd:element name="AuthenticationInfo" type="s:AuthenticationInfo"/>
			<xsd:complexType name="AuthenticationInfo">
				<xsd:sequence>
					<xsd:element name="userName" type="xsd:string"/>
					<xsd:element name="password" type="xsd:string"/>
					<xsd:element minOccurs="0" name="authentication" type="xsd:string"/>
					<xsd:element minOccurs="0" name="locale" type="xsd:string"/>
					<xsd:element minOccurs="0" name="timeZone" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
		<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://tempuri.org" xmlns="http://tempuri.org" xmlns:xs="http://www.w3.org/2001/XMLSchema">
			<xs:complexType name="Answer">
				<xs:sequence>
					<xs:element minOccurs="0" name="GUID" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="afzender_applicatie" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="afzender_gebruiker" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="Ontvanger_applicatie" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="bericht_type" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="function_type" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="bericht_versie" nillable="true" type="xs:int"/>
					<xs:element minOccurs="0" name="transactie_ID" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="datum_tijd" nillable="true" type="xs:dateTime"/>
					<xs:element minOccurs="0" name="Resultaat_code" nillable="true" type="xs:int"/>
					<xs:element minOccurs="0" name="Resultaat_tekst" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="STATUS" nillable="true" type="xs:int"/>
					<xs:element minOccurs="0" name="MSG_CODE" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="ERROR_CODE" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="ERROR_DESCRIPTION" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="Aantal_items" nillable="true" type="xs:int"/>
					<xs:element minOccurs="0" name="Totaal_aantal_items" nillable="true" type="xs:int"/>
					<xs:element minOccurs="0" name="Sleutel_volgende_item" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="ReplyLoops" type="ReplyLoopType"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ReplyLoopType">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="ReplyLoop" type="ReplyLoop"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ReplyLoop2Type">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="ReplyLoop2" type="ReplyLoop2"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ReplyLoop">
				<xs:sequence>
					<xs:element minOccurs="0" name="index" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="Netnummer" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="Abonneenummer" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="datum_begintijdstip" nillable="true" type="xs:dateTime"/>
					<xs:element minOccurs="0" name="datum_eindtijdstip" nillable="true" type="xs:dateTime"/>
					<xs:element minOccurs="0" name="Service_ID" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="Lijnbenaming" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="msn_j_n" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="Soort_Netwerk_element" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="Soort_Werkzaamheden" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="Centralegebied" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="Gepland___Ongepland" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="Toelichting" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="Onderbrekingsduur_uren" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="Onderbrekingsduur_minuten" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="Onderbrekingsduur_seconden" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="Host_kenmerk" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="Kanvas_Centrale_Werk_Project_nummer" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="Code_Netwerk_Element" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="Manipulatiepunt" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="Manipulatiepunt_Horizontaal_Vertikaal" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="Manipulatiepunt_Stijl" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="Manipulatiepunt_Cassette" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="Manipulatiepunt_Stift_Laag" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="Manipulatiepunt_Stift_Hoog" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="Doorlasader-Hoog" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="Doorlasader-Laag" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="ProjectleiderNaam" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="Projectleider_Adres" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="Projectleider_Huisnummer" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="Projectleider_Huisnummer_Toevoeging" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="Projectleider_Postcode_Numeriek" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="Projectleider_Postcode_Alfanummeriek" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="Projectleider_Plaatsnaam" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="Projectleider_Telefoon" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="Contactpersoon_Naam" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="Contactpersoon_Telefoonnummer" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="ReplyLoops2" type="ReplyLoop2Type"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ReplyLoop2">
				<xs:sequence>
					<xs:element minOccurs="0" name="Datum_brief" nillable="true" type="xs:date"/>
					<xs:element minOccurs="0" name="Bericht_Omschrijving" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="Contractant_Verzonden" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="Contractant_Verzonden_Omschrijving" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="Gebruiker_Verzonden" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="Gebruiker_Verzonden_Omschrijving" nillable="true" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="GetIbisInformationSoapOut">
		<wsdl:part name="parameters" element="s:GetIbisInformationResponse"/>
	</wsdl:message>
	<wsdl:message name="ARAuthenticate">
		<wsdl:part name="parameters" element="s:AuthenticationInfo"/>
	</wsdl:message>
	<wsdl:message name="GetIbisInformationSoapIn">
		<wsdl:part name="parameters" element="s:GetIbisInformation"/>
	</wsdl:message>
	<wsdl:portType name="GetIbisInformationPortType">
		<wsdl:operation name="GetIbisInformation">
			<wsdl:input message="s:GetIbisInformationSoapIn"/>
			<wsdl:output message="s:GetIbisInformationSoapOut"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="GetIbisInformationSoapBinding" type="s:GetIbisInformationPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="GetIbisInformation">
			<soap:operation soapAction="urn:GetIbisInformation/GetIbisInformation" style="document"/>
			<wsdl:input>
				<soap:header message="s:ARAuthenticate" part="parameters" use="literal"/>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="GetIbisInformationService">
		<wsdl:documentation>
versie 2.0  </wsdl:documentation>
		<wsdl:port name="GetIbisInformationSoap" binding="s:GetIbisInformationSoapBinding">
			<soap:address location="http://manlab10/arsys/services/ARService?server=manlab10&amp;webService=GetIbisInformation"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
