ASTRIDAdapter/WSDL/ASTRIDAdapter/GetLineDetails.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ns0="http://tempuri.org" xmlns:s="urn:GetLineDetails" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:GetLineDetails">
	<wsdl:types>
		<xsd:schema elementFormDefault="qualified" targetNamespace="urn:GetLineDetails">
			<xsd:import namespace="http://tempuri.org"/>
			<xsd:element name="GetInformation" type="s:GetInputMap"/>
			<xsd:complexType name="GetInputMap">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="GUID" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="CURRENT_OR_FUTURE_FLAG" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="SERVICE_ID" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="AREA_CODE" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="SUBSCRIBER_NUMBER" nillable="true" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="GetInformationResponse" type="ns0:Message"/>
			<xsd:element name="AuthenticationInfo" type="s:AuthenticationInfo"/>
			<xsd:complexType name="AuthenticationInfo">
				<xsd:sequence>
					<xsd:element name="userName" type="xsd:string"/>
					<xsd:element name="password" type="xsd:string"/>
					<xsd:element minOccurs="0" name="authentication" type="xsd:string"/>
					<xsd:element minOccurs="0" name="locale" type="xsd:string"/>
					<xsd:element minOccurs="0" name="timeZone" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
		<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://tempuri.org" xmlns="http://tempuri.org" xmlns:xs="http://www.w3.org/2001/XMLSchema">
			<xs:complexType name="Message">
				<xs:sequence>
					<xs:element minOccurs="0" name="General" type="GeneralType"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="GeneralType">
				<xs:sequence>
					<xs:element minOccurs="0" name="GUID" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="STATUS" nillable="true" type="xs:int"/>
					<xs:element minOccurs="0" name="MSG_CODE" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="ERROR_CODE" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="ERROR_DESCRIPTION" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="SERVICE_TYPE" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="ISDN_CATEGORY" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="PORTING_STATUS" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="CENTRAL_AREA_CODE" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="SERVICE_STATUS" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="REVOKE_REASON_CODE" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="SERVICE_ID" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="TELCO_SHORT_NAME" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="QUALITY_CATEGORY" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="NET_LINE_SERVICE" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="NET_LINE_SERVICE_STATUS" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="INFRASTRUCTURE_PROVIDER" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="ROUTING_TYPE" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="HOST" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="CONNECTION" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="UNIT_TYPE" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="AREA_CODE" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="SUBSCRIBER_NUMBER" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="HOUSE_NUMBER" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="HOUSE_NUMBER_EXTENSION" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="POST_CODE_NUMBERS" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="POST_CODE_LETTERS" nillable="true" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="GetInformationSoapOut">
		<wsdl:part name="parameters" element="s:GetInformationResponse"/>
	</wsdl:message>
	<wsdl:message name="ARAuthenticate">
		<wsdl:part name="parameters" element="s:AuthenticationInfo"/>
	</wsdl:message>
	<wsdl:message name="GetInformationSoapIn">
		<wsdl:part name="parameters" element="s:GetInformation"/>
	</wsdl:message>
	<wsdl:portType name="GetLineDetailsPortType">
		<wsdl:operation name="GetInformation">
			<wsdl:input message="s:GetInformationSoapIn"/>
			<wsdl:output message="s:GetInformationSoapOut"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="GetLineDetailsSoapBinding" type="s:GetLineDetailsPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="GetInformation">
			<soap:operation soapAction="urn:GetLineDetails/GetInformation" style="document"/>
			<wsdl:input>
				<soap:header message="s:ARAuthenticate" part="parameters" use="literal"/>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="GetLineDetailsService">
		<wsdl:documentation>
versie 2.0  </wsdl:documentation>
		<wsdl:port name="GetLineDetailsSoap" binding="s:GetLineDetailsSoapBinding">
			<soap:address location="http://manlab10/arsys/services/ARService?server=manlab10&amp;webService=GetLineDetails"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
