ASTRIDAdapter/WSDL/ASTRIDAdapter/GetMdfAccessInformation.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ns0="http://tempuri.org" xmlns:s="urn:GetMdfAccessInformation" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:GetMdfAccessInformation">
    <types>
        <xsd:schema elementFormDefault="qualified" targetNamespace="urn:GetMdfAccessInformation">
            <xsd:import namespace="http://tempuri.org"/>
            <xsd:element name="GetInformation" type="s:GetInputMap"/>
            <xsd:complexType name="GetInputMap">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="GUID" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="SERVICE_ID" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="RETURN_TTPS_FLAG" nillable="true" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="GetInformationResponse" type="ns0:Message"/>
            <xsd:element name="AuthenticationInfo" type="s:AuthenticationInfo"/>
            <xsd:complexType name="AuthenticationInfo">
                <xsd:sequence>
                    <xsd:element name="userName" type="xsd:string"/>
                    <xsd:element name="password" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="authentication" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="locale" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="timeZone" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
        <xs:schema xmlns="http://tempuri.org" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://tempuri.org">
            <xs:complexType name="Message">
                <xs:sequence>
                    <xs:element minOccurs="0" name="General" type="GeneralType"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="GeneralType">
                <xs:sequence>
                    <xs:element minOccurs="0" name="GUID" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="STATUS" nillable="true" type="xs:int"/>
                    <xs:element minOccurs="0" name="MSG_CODE" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="ERROR_CODE" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="ERROR_DESCRIPTION" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="CENTRAL_AREA_CODE" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="ROUTING_TYPE" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="SERVICE_PROVIDER_SHORT_NAME" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="TRAIL_TERMINATION_POINT" type="TRAIL_TERMINATION_POINTType"/>
                    <xs:element minOccurs="0" name="INFRA_PROVIDER_SHORT_NAME" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="SPECTRAL_QUALITY_CATEGORY" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="TP_LOCATION_CODE" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="TP_LOCATION_DESCRIPTION" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="TP_NUMBER" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="TP_NUMBER_EXTENSION" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="TP_TYPE" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="CITY_NAME" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="HOUSE_NUMBER" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="HOUSE_NUMBER_EXTENSION" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="POST_CODE_LETTERS" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="POST_CODE_NUMBERS" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="STREET_NAME" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="TRAIL_TERMINATION_POINTType">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="TRAIL_TERMINATION_POINT" type="TRAIL_TERMINATION_POINT"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="TRAIL_TERMINATION_POINT">
                <xs:sequence>
                    <xs:element minOccurs="0" name="index" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="CABLE_SECTION_NUMBER" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="DIKADER_NUMBER" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="NODE_NAME" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="RACK_POSITION" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="SHELF_POSITION" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="PHYSICAL_PORT_ID" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="PHYSICAL_PORT_STATUS" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="AREA_CODE" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="SUBSCRIBER_NUMBER" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </types>
    <message name="GetInformationSoapOut">
        <part name="parameters" element="s:GetInformationResponse"/>
    </message>
    <message name="GetInformationSoapIn">
        <part name="parameters" element="s:GetInformation"/>
    </message>
    <message name="ARAuthenticate">
        <part name="parameters" element="s:AuthenticationInfo"/>
    </message>
    <portType name="GetMdfAccessInformationPortType">
        <operation name="GetInformation">
            <input message="s:GetInformationSoapIn"/>
            <output message="s:GetInformationSoapOut"/>
        </operation>
    </portType>
    <binding name="GetMdfAccessInformationSoapBinding" type="s:GetMdfAccessInformationPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="GetInformation">
            <soap:operation soapAction="urn:GetMdfAccessInformation/GetInformation" style="document"/>
            <input>
                <soap:header message="s:ARAuthenticate" part="parameters" use="literal"/>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="GetMdfAccessInformationService">
        <documentation>
versie 2.0  </documentation>
        <port name="GetMdfAccessInformationSoap" binding="s:GetMdfAccessInformationSoapBinding">
            <soap:address location="http://manlab10/arsys/services/ARService?server=manlab10&amp;webService=GetMdfAccessInformation"/>
        </port>
    </service>
</definitions>