ASTRIDAdapter/WSDL/ASTRIDAdapter/GetNumbes.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ns0="http://tempuri.org" xmlns:s="urn:GetNumbes" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:GetNumbes">
	<wsdl:types>
		<xsd:schema elementFormDefault="qualified" targetNamespace="urn:GetNumbes">
			<xsd:import namespace="http://tempuri.org"/>
			<xsd:element name="GetNumbes" type="s:InputMapping"/>
			<xsd:complexType name="InputMapping">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="GUID" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="TIME_AND_DATE" nillable="true" type="xsd:dateTime"/>
					<xsd:element minOccurs="0" name="START_OF_SERIE" nillable="true" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="GetNumbesResponse" type="ns0:Message"/>
			<xsd:element name="AuthenticationInfo" type="s:AuthenticationInfo"/>
			<xsd:complexType name="AuthenticationInfo">
				<xsd:sequence>
					<xsd:element name="userName" type="xsd:string"/>
					<xsd:element name="password" type="xsd:string"/>
					<xsd:element minOccurs="0" name="authentication" type="xsd:string"/>
					<xsd:element minOccurs="0" name="locale" type="xsd:string"/>
					<xsd:element minOccurs="0" name="timeZone" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
		<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://tempuri.org" xmlns="http://tempuri.org" xmlns:xs="http://www.w3.org/2001/XMLSchema">
			<xs:complexType name="Message">
				<xs:sequence>
					<xs:element minOccurs="0" name="Header" type="HeaderType"/>
					<xs:element minOccurs="0" name="General" type="GeneralType"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="HeaderType">
				<xs:sequence>
					<xs:element minOccurs="0" name="GUID" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="STATUS" nillable="true" type="xs:int"/>
					<xs:element minOccurs="0" name="MSG_CODE" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="ERROR_CODE" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="ERROR_DESCRIPTION" nillable="true" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="GeneralType">
				<xs:sequence>
					<xs:element minOccurs="0" name="TYPE_OF_NUMBER" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="STATUS_NUMBER" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="ACTION_TYPE" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="ACTION_TIME_AND_DATE" nillable="true" type="xs:dateTime"/>
					<xs:element minOccurs="0" name="CURRENT_NETWORK_OPERATOR_ID" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="ORIGINAL_NETWORK_OPERATOR_ID" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="CURRENT_TELECOM_DISTRICT_CODE" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="CURRENT_TELECOM_REGION_CODE" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="CURRENT_SPC_ID_HOST" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="ORIGINAL_SPC_ID_HOST" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="CURRENT_HOST" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="ORIGINAL_HOST" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="CURRENT_CENTRAL_AREA_CODE" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="PREFERABLE_CENTRAL_AREA_CODE" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="LRI" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="PREVIOUS_NETWORK_OPERATOR_ID" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="ORIGINAL_TELECOM_REGION_CODE" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="NUMBER_CATEGORY" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="STATUS_EXCHANGE_NR_SERIE" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="SERVICE_TYPE" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="CVI_INGESTELD_JN" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="LAST_ACTION_TYPE_CODE" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="LAST_ACTION_TYPE_DESCRIPTION" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="STATUS_DESCRIPTION" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="START_OF_SERIE" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="SUBSCRIBER_NUMBER" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="AREA_CODE" nillable="true" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="GetNumbesSoapIn">
		<wsdl:part name="parameters" element="s:GetNumbes"/>
	</wsdl:message>
	<wsdl:message name="GetNumbesSoapOut">
		<wsdl:part name="parameters" element="s:GetNumbesResponse"/>
	</wsdl:message>
	<wsdl:message name="ARAuthenticate">
		<wsdl:part name="parameters" element="s:AuthenticationInfo"/>
	</wsdl:message>
	<wsdl:portType name="GetNumbesPortType">
		<wsdl:operation name="GetNumbes">
			<wsdl:input message="s:GetNumbesSoapIn"/>
			<wsdl:output message="s:GetNumbesSoapOut"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="GetNumbesSoapBinding" type="s:GetNumbesPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="GetNumbes">
			<soap:operation soapAction="urn:GetNumbes/GetNumbes" style="document"/>
			<wsdl:input>
				<soap:header message="s:ARAuthenticate" part="parameters" use="literal"/>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="GetNumbesService">
		<wsdl:documentation>
versie 2.0  </wsdl:documentation>
		<wsdl:port name="GetNumbesSoap" binding="s:GetNumbesSoapBinding">
			<soap:address location="http://manlab10/arsys/services/ARService?server=manlab10&amp;webService=GetNumbes"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
