ASTRIDAdapter/WSDL/ASTRIDAdapter/MAKE_APPOINTMENT.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ns0="http://tempuri.org" xmlns:s="urn:MAKE_APPOINTMENT" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:MAKE_APPOINTMENT">
	<wsdl:types>
		<xsd:schema elementFormDefault="qualified" targetNamespace="urn:MAKE_APPOINTMENT">
			<xsd:element name="MakeAppointmentRequest" type="s:KSD_MakeAppointment"/>
			<xsd:complexType name="KSD_MakeAppointment">
				<xsd:sequence>
					<xsd:element name="GUID" nillable="true" type="xsd:string"/>
					<xsd:element name="researchDepartmentCode" nillable="true" type="xsd:string"/>
					<xsd:element name="researchEmployeeCode" nillable="true" type="xsd:string"/>
					<xsd:element name="appointmentDate" nillable="true" type="xsd:date"/>
					<xsd:element name="visitWindowStartTime" nillable="true" type="xsd:time"/>
					<xsd:element name="visitWindowEndTime" nillable="true" type="xsd:time"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="MakeAppointmentResponse" type="s:KSD_Appointment"/>
			<xsd:complexType name="KSD_Appointment">
				<xsd:sequence>
					<xsd:element name="GUID" nillable="true" type="xsd:string"/>
					<xsd:element name="status" nillable="true" type="xsd:integer"/>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
	</wsdl:types>
	<message name="MakeAppointmentRequestMsg">
		<part name="parameters" element="s:MakeAppointmentRequest"/>
	</message>
	<message name="MakeAppointmentResponseMsg">
		<part name="parameters" element="s:MakeAppointmentResponse"/>
	</message>
	<portType name="MAKE_APPOINTMENTPortType">
		<operation name="MakeAppointmentRequest">
			<input message="s:MakeAppointmentRequestMsg"/>
			<output message="s:MakeAppointmentResponseMsg"/>
		</operation>
	</portType>
	<binding name="MAKE_APPOINTMENTSoapBinding" type="s:MAKE_APPOINTMENTPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="MakeAppointmentRequest">
			<soap:operation soapAction="urn:MAKE_APPOINTMENT/MakeAppointment" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="MAKE_APPOINTMENT_SERVICE">
		<wsdl:documentation>versie 2.0</wsdl:documentation>
		<port name="MAKE_APPOINTMENTSoap" binding="s:MAKE_APPOINTMENTSoapBinding">
			<soap:address location="http://localhost:9190/ExpertDeskAdapter"/>
		</port>
	</service>
</wsdl:definitions>
