ASTRIDAdapter/WSDL/ASTRIDAdapter/RequestBatch.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="urn:RequestBatch" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ns0="http://tempuri.org" xmlns:s="urn:RequestBatch" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
 <wsdl:types>
  <xsd:schema elementFormDefault="qualified" targetNamespace="urn:RequestBatch">
   <xsd:import namespace="http://tempuri.org"/>
   <xsd:element name="RequestBatch" type="s:CreateInputMap"/>
   <xsd:complexType name="CreateInputMap">
    <xsd:sequence>
     <xsd:element minOccurs="0" name="GUID" nillable="true" type="xsd:string"/>
     <xsd:element minOccurs="0" name="afzender_applicatie" nillable="true" type="xsd:string"/>
     <xsd:element minOccurs="0" name="afzender_gebruiker" nillable="true" type="xsd:string"/>
     <xsd:element minOccurs="0" name="Ontvanger_applicatie" nillable="true" type="xsd:string"/>
     <xsd:element minOccurs="0" name="bericht_type" nillable="true" type="xsd:string"/>
     <xsd:element minOccurs="0" name="function_type" nillable="true" type="xsd:string"/>
     <xsd:element minOccurs="0" name="bericht_versie" nillable="true" type="xsd:int"/>
     <xsd:element minOccurs="0" name="transactie_ID" nillable="true" type="xsd:string"/>
     <xsd:element minOccurs="0" name="datum_tijd" nillable="true" type="xsd:dateTime"/>
     <xsd:element minOccurs="0" name="batch_identificatie" nillable="true" type="xsd:string"/>
     <xsd:element minOccurs="0" name="Tijdstip" nillable="true" type="xsd:dateTime"/>
     <xsd:element minOccurs="0" name="bericht_limiet" nillable="true" type="xsd:string"/>
     <xsd:element minOccurs="0" name="status_code" nillable="true" type="xsd:string"/>
     <xsd:element minOccurs="0" name="fout_melding" nillable="true" type="xsd:string"/>
     <xsd:element minOccurs="0" name="parameter_1" nillable="true" type="xsd:string"/>
     <xsd:element minOccurs="0" name="parameter_2" nillable="true" type="xsd:string"/>
     <xsd:element minOccurs="0" name="parameter_3" nillable="true" type="xsd:string"/>
     <xsd:element minOccurs="0" name="parameter_4" nillable="true" type="xsd:string"/>
     <xsd:element minOccurs="0" name="parameter_5" nillable="true" type="xsd:string"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="RequestBatchResponse" type="ns0:Answer"/>
   <xsd:element name="AuthenticationInfo" type="s:AuthenticationInfo"/>
   <xsd:complexType name="AuthenticationInfo">
    <xsd:sequence>
     <xsd:element name="userName" type="xsd:string"/>
     <xsd:element name="password" type="xsd:string"/>
     <xsd:element minOccurs="0" name="authentication" type="xsd:string"/>
     <xsd:element minOccurs="0" name="locale" type="xsd:string"/>
     <xsd:element minOccurs="0" name="timeZone" type="xsd:string"/>
    </xsd:sequence>
   </xsd:complexType>
  </xsd:schema>
  <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://tempuri.org" xmlns="http://tempuri.org" xmlns:xs="http://www.w3.org/2001/XMLSchema">


	     <xs:complexType name="Answer">


		       <xs:sequence>


			         <xs:element minOccurs="0" name="GUID" nillable="true" type="xs:string"/>


			         <xs:element minOccurs="0" name="afzender_applicatie" nillable="true" type="xs:string"/>


			         <xs:element minOccurs="0" name="afzender_gebruiker" nillable="true" type="xs:string"/>


			         <xs:element minOccurs="0" name="Ontvanger_applicatie" nillable="true" type="xs:string"/>


			         <xs:element minOccurs="0" name="bericht_type" nillable="true" type="xs:string"/>


			         <xs:element minOccurs="0" name="function_type" nillable="true" type="xs:string"/>


			         <xs:element minOccurs="0" name="bericht_versie" nillable="true" type="xs:int"/>


			         <xs:element minOccurs="0" name="transactie_ID" nillable="true" type="xs:string"/>


			         <xs:element minOccurs="0" name="datum_tijd" nillable="true" type="xs:dateTime"/>


			         <xs:element minOccurs="0" name="Resultaat_code" nillable="true" type="xs:int"/>


			         <xs:element minOccurs="0" name="Resultaat_tekst" nillable="true" type="xs:string"/>


			         <xs:element minOccurs="0" name="STATUS" nillable="true" type="xs:int"/>


			         <xs:element minOccurs="0" name="MSG_CODE" nillable="true" type="xs:string"/>


			         <xs:element minOccurs="0" name="ERROR_CODE" nillable="true" type="xs:string"/>


			         <xs:element minOccurs="0" name="ERROR_DESCRIPTION" nillable="true" type="xs:string"/>


			         <xs:element minOccurs="0" name="Aantal_items" nillable="true" type="xs:int"/>


			         <xs:element minOccurs="0" name="Sleutel_volgende_item" nillable="true" type="xs:string"/>


			         <xs:element minOccurs="0" name="ReplyLoops" type="ReplyLoopType"/>


		       </xs:sequence>


	     </xs:complexType>


	     <xs:complexType name="ReplyLoopType">


		       <xs:sequence>


			         <xs:element maxOccurs="unbounded" minOccurs="0" name="ReplyLoop" type="ReplyLoop"/>


		       </xs:sequence>


	     </xs:complexType>


	     <xs:complexType name="ReplyLoop">


		       <xs:sequence>


			         <xs:element minOccurs="0" name="batch_identificatie" nillable="true" type="xs:string"/>


			         <xs:element minOccurs="0" name="Tijdstip" nillable="true" type="xs:dateTime"/>


			         <xs:element minOccurs="0" name="bericht-limiet" nillable="true" type="xs:string"/>


			         <xs:element minOccurs="0" name="status_code" nillable="true" type="xs:string"/>


			         <xs:element minOccurs="0" name="fout_melding" nillable="true" type="xs:string"/>


			         <xs:element minOccurs="0" name="parameter_1" nillable="true" type="xs:string"/>


			         <xs:element minOccurs="0" name="parameter_2" nillable="true" type="xs:string"/>


			         <xs:element minOccurs="0" name="parameter_3" nillable="true" type="xs:string"/>


			         <xs:element minOccurs="0" name="parameter_4" nillable="true" type="xs:string"/>


			         <xs:element minOccurs="0" name="parameter_5" nillable="true" type="xs:string"/>


		       </xs:sequence>


	     </xs:complexType>


   </xs:schema>
 </wsdl:types>

   <wsdl:message name="ARAuthenticate">

      <wsdl:part element="s:AuthenticationInfo" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="RequestBatchSoapOut">

      <wsdl:part element="s:RequestBatchResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="RequestBatchSoapIn">

      <wsdl:part element="s:RequestBatch" name="parameters"/>

   </wsdl:message>

   <wsdl:portType name="RequestBatchPortType">

      <wsdl:operation name="RequestBatch">

         <wsdl:input message="s:RequestBatchSoapIn"/>

         <wsdl:output message="s:RequestBatchSoapOut"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="RequestBatchSoapBinding" type="s:RequestBatchPortType">

      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="RequestBatch">

         <soap:operation soapAction="urn:RequestBatch/RequestBatch" style="document"/>

         <wsdl:input>

            <soap:header message="s:ARAuthenticate" part="parameters" use="literal">

            </soap:header>

            <soap:body use="literal"/>

         </wsdl:input>

         <wsdl:output>

            <soap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="RequestBatchService">

  <wsdl:documentation>
versie 2.0  </wsdl:documentation>

      <wsdl:port binding="s:RequestBatchSoapBinding" name="RequestBatchSoap">

         <soap:address location="http://manlab10/arsys/services/ARService?server=manlab10&amp;webService=RequestBatch"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>

