ASTRIDAdapter/WSDL/ASTRIDAdapter/SendProductTable.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ns0="http://tempuri.org" xmlns:s="urn:SendProductTable" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:SendProductTable">
	<wsdl:types>
		<xsd:schema elementFormDefault="qualified" targetNamespace="urn:SendProductTable">
			<xsd:import namespace="http://tempuri.org"/>
			<xsd:element name="SendProductTable" type="ns0:Request"/>
			<xsd:element name="SendProductTableResponse" type="s:OutputMapping"/>
			<xsd:complexType name="OutputMapping">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="GUID" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="afzender_applicatie" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="afzender_gebruiker" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="Ontvanger_applicatie" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="bericht_type" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="function_type" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="bericht_versie" nillable="true" type="xsd:int"/>
					<xsd:element minOccurs="0" name="transactie_ID" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="datum_tijd" nillable="true" type="xsd:dateTime"/>
					<xsd:element minOccurs="0" name="Resultaat_code" nillable="true" type="xsd:int"/>
					<xsd:element minOccurs="0" name="Resultaat_tekst" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="STATUS" nillable="true" type="xsd:int"/>
					<xsd:element minOccurs="0" name="MSG_CODE" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="ERROR_CODE" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="ERROR_DESCRIPTION" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="klantorder_nummer" nillable="true" type="xsd:int"/>
					<xsd:element minOccurs="0" name="aanname_datum" nillable="true" type="xsd:dateTime"/>
					<xsd:element minOccurs="0" name="identificatie_van_de_melding" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="bronsysteem_order_referentie" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="doelsysteem_order_referentie" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="extern_klantorder_nummer" nillable="true" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="AuthenticationInfo" type="s:AuthenticationInfo"/>
			<xsd:complexType name="AuthenticationInfo">
				<xsd:sequence>
					<xsd:element name="userName" type="xsd:string"/>
					<xsd:element name="password" type="xsd:string"/>
					<xsd:element minOccurs="0" name="authentication" type="xsd:string"/>
					<xsd:element minOccurs="0" name="locale" type="xsd:string"/>
					<xsd:element minOccurs="0" name="timeZone" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
		<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://tempuri.org" xmlns="http://tempuri.org" xmlns:xs="http://www.w3.org/2001/XMLSchema">
			<xs:complexType name="Request">
				<xs:sequence>
					<xs:element minOccurs="0" name="GUID" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="afzender_applicatie" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="afzender_gebruiker" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="Ontvanger_applicatie" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="bericht_type" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="function_type" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="bericht_versie" nillable="true" type="xs:int"/>
					<xs:element minOccurs="0" name="transactie_ID" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="datum_tijd" nillable="true" type="xs:dateTime"/>
					<xs:element minOccurs="0" name="Batchnaam" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="aantal_records_in_bericht" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="Volgnummer" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="laatste_deel" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="RequestLoops" type="RequestLoopType"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="RequestLoopType">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="RequestLoop" type="RequestLoop"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="RequestLoop">
				<xs:sequence>
					<xs:element minOccurs="0" name="index" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="Productsoortcode" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="product_omschrijving" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="Formule" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="Formule_toegestaan" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="Verantwoordelijke_afdeling" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="Datum_uit_service" nillable="true" type="xs:date"/>
					<xs:element minOccurs="0" name="Productcategorie" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="Actief_bij_aanname" nillable="true" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="ARAuthenticate">
		<wsdl:part name="parameters" element="s:AuthenticationInfo"/>
	</wsdl:message>
	<wsdl:message name="SendProductTableSoapIn">
		<wsdl:part name="parameters" element="s:SendProductTable"/>
	</wsdl:message>
	<wsdl:message name="SendProductTableSoapOut">
		<wsdl:part name="parameters" element="s:SendProductTableResponse"/>
	</wsdl:message>
	<wsdl:portType name="SendProductTablePortType">
		<wsdl:operation name="SendProductTable">
			<wsdl:input message="s:SendProductTableSoapIn"/>
			<wsdl:output message="s:SendProductTableSoapOut"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="SendProductTableSoapBinding" type="s:SendProductTablePortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="SendProductTable">
			<soap:operation soapAction="urn:SendProductTable/SendProductTable" style="document"/>
			<wsdl:input>
				<soap:header message="s:ARAuthenticate" part="parameters" use="literal"/>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="SendProductTableService">
		<wsdl:documentation>
versie 2.0  </wsdl:documentation>
		<wsdl:port name="SendProductTableSoap" binding="s:SendProductTableSoapBinding">
			<soap:address location="http://manlab10/arsys/services/ARService?server=manlab10&amp;webService=SendProductTable"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
