ASTRIDAdapter/WSDL/ASTRIDAdapter/SendTicket.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ns0="http://tempuri.org" xmlns:s="urn:SendTicket" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:SendTicket">
	<wsdl:types>
		<xsd:schema elementFormDefault="qualified" targetNamespace="urn:SendTicket">
			<xsd:import namespace="http://tempuri.org"/>
			<xsd:element name="SendTicket" type="ns0:Message"/>
			<xsd:element name="SendTicketResponse" type="s:OutputMapping"/>
			<xsd:complexType name="OutputMapping">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="GUID" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="afzender_applicatie" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="afzender_gebruiker" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="Ontvanger_applicatie" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="bericht_type" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="function_type" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="bericht_versie" nillable="true" type="xsd:int"/>
					<xsd:element minOccurs="0" name="transactie_ID" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="datum_tijd" nillable="true" type="xsd:dateTime"/>
					<xsd:element minOccurs="0" name="Resultaat_code" nillable="true" type="xsd:int"/>
					<xsd:element minOccurs="0" name="Resultaat_tekst" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="klantorder_nummer" nillable="true" type="xsd:int"/>
					<xsd:element minOccurs="0" name="aanname_datum" nillable="true" type="xsd:dateTime"/>
					<xsd:element minOccurs="0" name="identificatie_van_de_melding" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="bronsysteem_order_referentie" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="doelsysteem_order_referentie" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="extern_klantorder_nummer" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="STATUS" nillable="true" type="xsd:int"/>
					<xsd:element minOccurs="0" name="MSG_CODE" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="ERROR_CODE" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="ERROR_DESCRIPTION" nillable="true" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="AuthenticationInfo" type="s:AuthenticationInfo"/>
			<xsd:complexType name="AuthenticationInfo">
				<xsd:sequence>
					<xsd:element name="userName" type="xsd:string"/>
					<xsd:element name="password" type="xsd:string"/>
					<xsd:element minOccurs="0" name="authentication" type="xsd:string"/>
					<xsd:element minOccurs="0" name="locale" type="xsd:string"/>
					<xsd:element minOccurs="0" name="timeZone" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
		<xs:schema xmlns="http://tempuri.org" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://tempuri.org" elementFormDefault="qualified" attributeFormDefault="unqualified">
			<xs:complexType name="Message">
				<xs:sequence>
					<xs:element name="Header" type="HeaderType" minOccurs="0"/>
					<xs:element name="General" type="GeneralType" minOccurs="0"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="HeaderType">
				<xs:sequence>
					<xs:element name="GUID" type="xs:string" nillable="true" minOccurs="0"/>
					<xs:element name="afzender_applicatie" type="xs:string" nillable="true" minOccurs="0"/>
					<xs:element name="afzender_gebruiker" type="xs:string" nillable="true" minOccurs="0"/>
					<xs:element name="Ontvanger_applicatie" type="xs:string" nillable="true" minOccurs="0"/>
					<xs:element name="bericht_type" type="xs:string" nillable="true" minOccurs="0"/>
					<xs:element name="function_type" type="xs:string" nillable="true" minOccurs="0"/>
					<xs:element name="bericht_versie" type="xs:int" nillable="true" minOccurs="0"/>
					<xs:element name="transactie_ID" type="xs:string" nillable="true" minOccurs="0"/>
					<xs:element name="datum_tijd" type="xs:dateTime" nillable="true" minOccurs="0"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="GeneralType">
				<xs:sequence>
					<xs:element name="klantorder_nummer" type="xs:int" nillable="true" minOccurs="0"/>
					<xs:element name="Status" type="xs:int" nillable="true" minOccurs="0"/>
					<xs:element name="status_omschrijving" type="xs:string" nillable="true" minOccurs="0"/>
					<xs:element name="datum_waarop_status_verkregen_is" type="xs:dateTime" nillable="true" minOccurs="0"/>
					<xs:element name="aanname_datum" type="xs:dateTime" nillable="true" minOccurs="0"/>
					<xs:element name="identificatie_van_de_melding" type="xs:string" nillable="true" minOccurs="0"/>
					<xs:element name="leidende_service_id" type="xs:string" nillable="true" minOccurs="0"/>
					<xs:element name="Telefoonnummer" type="xs:string" nillable="true" minOccurs="0"/>
					<xs:element name="type_product_ID" type="xs:string" nillable="true" minOccurs="0"/>
					<xs:element name="type_product_ID_omschrijving" type="xs:string" nillable="true" minOccurs="0"/>
					<xs:element name="product_ID" type="xs:string" nillable="true" minOccurs="0"/>
					<xs:element name="Ondernummer" type="xs:string" nillable="true" minOccurs="0"/>
					<xs:element name="extern_klantorder_nummer" type="xs:string" nillable="true" minOccurs="0"/>
					<xs:element name="order_type_afkorting" type="xs:string" nillable="true" minOccurs="0"/>
					<xs:element name="naam_van_gebruiker_die_klacht_aanneemt" type="xs:string" nillable="true" minOccurs="0"/>
					<xs:element name="vorige_status" type="xs:int" nillable="true" minOccurs="0"/>
					<xs:element name="vorige_status_omschrijving" type="xs:string" nillable="true" minOccurs="0"/>
					<xs:element name="indicatie_of_het_een_BSD_melding_betreft" type="xs:string" nillable="true" minOccurs="0"/>
					<xs:element name="klantnaam" type="xs:string" nillable="true" minOccurs="0"/>
					<xs:element name="straatnaam" type="xs:string" nillable="true" minOccurs="0"/>
					<xs:element name="huisnummer_numeriek" type="xs:string" nillable="true" minOccurs="0"/>
					<xs:element name="huisnummer_alfanumeriek" type="xs:string" nillable="true" minOccurs="0"/>
					<xs:element name="postcode_numeriek" type="xs:int" nillable="true" minOccurs="0"/>
					<xs:element name="postcode_alfanumeriek" type="xs:string" nillable="true" minOccurs="0"/>
					<xs:element name="plaatsnaam" type="xs:string" nillable="true" minOccurs="0"/>
					<xs:element name="plaatsnaam_code" type="xs:string" nillable="true" minOccurs="0"/>
					<xs:element name="correspondentie_naam" type="xs:string" nillable="true" minOccurs="0"/>
					<xs:element name="correspondentie_telefoonnr" type="xs:string" nillable="true" minOccurs="0"/>
					<xs:element name="centrale_klant_registratie_nr" type="xs:string" nillable="true" minOccurs="0"/>
					<xs:element name="rechtsvorm_code" type="xs:string" nillable="true" minOccurs="0"/>
					<xs:element name="telecom_regio_code" type="xs:string" nillable="true" minOccurs="0"/>
					<xs:element name="telecom_district_code" type="xs:string" nillable="true" minOccurs="0"/>
					<xs:element name="productsoort_code" type="xs:int" nillable="true" minOccurs="0"/>
					<xs:element name="productsoort_omschrijving" type="xs:string" nillable="true" minOccurs="0"/>
					<xs:element name="rapportage_code" type="xs:int" nillable="true" minOccurs="0"/>
					<xs:element name="rapportage_omschrijving" type="xs:string" nillable="true" minOccurs="0"/>
					<xs:element name="klacht_groep" type="xs:int" nillable="true" minOccurs="0"/>
					<xs:element name="klacht_nummer" type="xs:int" nillable="true" minOccurs="0"/>
					<xs:element name="klacht_omschrijving" type="xs:string" nillable="true" minOccurs="0"/>
					<xs:element name="klacht_tekst" type="xs:string" nillable="true" minOccurs="0"/>
					<xs:element name="urgentie_door_klant_aangegeven_code" type="xs:string" nillable="true" minOccurs="0"/>
					<xs:element name="urgentie_door_klant_aangegeven_omschrijving" type="xs:string" nillable="true" minOccurs="0"/>
					<xs:element name="Bijzonderheden" type="xs:string" nillable="true" minOccurs="0"/>
					<xs:element name="klacht_1e_productsoort_code" type="xs:int" nillable="true" minOccurs="0"/>
					<xs:element name="klacht_1e_productsoort_omschrijving" type="xs:string" nillable="true" minOccurs="0"/>
					<xs:element name="product_categorie_omschrijving" type="xs:string" nillable="true" minOccurs="0"/>
					<xs:element name="Herhaalstoring" type="xs:string" nillable="true" minOccurs="0"/>
					<xs:element name="Buiten_norm_plan_Kal" type="xs:string" nillable="true" minOccurs="0"/>
					<xs:element name="Buiten_norm_Verzoek_klant" type="xs:string" nillable="true" minOccurs="0"/>
					<xs:element name="Formule" type="xs:string" nillable="true" minOccurs="0"/>
					<xs:element name="Kosten_akkoord_" type="xs:string" nillable="true" minOccurs="0"/>
					<xs:element name="routeren_naar" type="xs:string" nillable="true" minOccurs="0"/>
					<xs:element name="bepaal_default_analist" type="xs:string" nillable="true" minOccurs="0"/>
					<xs:element name="analist_code" type="xs:string" nillable="true" minOccurs="0"/>
					<xs:element name="analist_omschrijving" type="xs:string" nillable="true" minOccurs="0"/>
					<xs:element name="onderzoeker_werkgebied" type="xs:string" nillable="true" minOccurs="0"/>
					<xs:element name="onderzoeker_afdeling" type="xs:string" nillable="true" minOccurs="0"/>
					<xs:element name="onderzoeker_nummer" type="xs:string" nillable="true" minOccurs="0"/>
					<xs:element name="uitgifte_datum1" type="xs:dateTime" nillable="true" minOccurs="0"/>
					<xs:element name="analyse_einddatum" type="xs:dateTime" nillable="true" minOccurs="0"/>
					<xs:element name="datum_aanvang_werkzaamheden1" type="xs:dateTime" nillable="true" minOccurs="0"/>
					<xs:element name="datum_einde_werkzaamheden1" type="xs:dateTime" nillable="true" minOccurs="0"/>
					<xs:element name="datum_terugmelden_klacht" type="xs:dateTime" nillable="true" minOccurs="0"/>
					<xs:element name="datum_gereedmelden_klacht" type="xs:dateTime" nillable="true" minOccurs="0"/>
					<xs:element name="aard_van_storing_code" type="xs:int" nillable="true" minOccurs="0"/>
					<xs:element name="aard_van_storing_omschrijving" type="xs:string" nillable="true" minOccurs="0"/>
					<xs:element name="gereedmelding_wijze" type="xs:string" nillable="true" minOccurs="0"/>
					<xs:element name="herstel_tijdstip" type="xs:dateTime" nillable="true" minOccurs="0"/>
					<xs:element name="berekend_tijdstip" type="xs:dateTime" nillable="true" minOccurs="0"/>
					<xs:element name="contract_soort" type="xs:int" nillable="true" minOccurs="0"/>
					<xs:element name="afspraak_organisatie" type="xs:string" nillable="true" minOccurs="0"/>
					<xs:element name="afspraak_organisatie_omschrijving" type="xs:string" nillable="true" minOccurs="0"/>
					<xs:element name="afspraak_onderzoeker_werkgebied" type="xs:string" nillable="true" minOccurs="0"/>
					<xs:element name="afspraak_onderzoeker_afdeling" type="xs:string" nillable="true" minOccurs="0"/>
					<xs:element name="afspraak_onderzoeker_nummer" type="xs:string" nillable="true" minOccurs="0"/>
					<xs:element name="afspraak_datum" type="xs:dateTime" nillable="true" minOccurs="0"/>
					<xs:element name="afspraak_dagdeel_code" type="xs:int" nillable="true" minOccurs="0"/>
					<xs:element name="afspraak_dagdeel_van" type="xs:time" nillable="true" minOccurs="0"/>
					<xs:element name="afspraak_dagdeel_tot" type="xs:time" nillable="true" minOccurs="0"/>
					<xs:element name="indicatie_we_geen_bezoek_bij_afspraak" type="xs:string" nillable="true" minOccurs="0"/>
					<xs:element name="contract_werktijd_code" type="xs:string" nillable="true" minOccurs="0"/>
					<xs:element name="contract_response_uren" type="xs:int" nillable="true" minOccurs="0"/>
					<xs:element name="contract_identificatie_nummer_pakket" type="xs:string" nillable="true" minOccurs="0"/>
					<xs:element name="contract_halfuur_indicator" type="xs:string" nillable="true" minOccurs="0"/>
					<xs:element name="contract_datum_in_dienst" type="xs:dateTime" nillable="true" minOccurs="0"/>
					<xs:element name="urgentie_code" type="xs:string" nillable="true" minOccurs="0"/>
					<xs:element name="urgentie_major_minor_indicatie" type="xs:string" nillable="true" minOccurs="0"/>
					<xs:element name="klacht_indicatie_1e_bezoek_bij_afspraak" type="xs:string" nillable="true" minOccurs="0"/>
					<xs:element name="klacht__1e_organisatie_code_tbv_dde" type="xs:string" nillable="true" minOccurs="0"/>
					<xs:element name="klacht_1e_dagdeel_code" type="xs:int" nillable="true" minOccurs="0"/>
					<xs:element name="klacht_1e_dagdeel_van" type="xs:time" nillable="true" minOccurs="0"/>
					<xs:element name="klacht_1e_dagdeel_tot" type="xs:time" nillable="true" minOccurs="0"/>
					<xs:element name="klacht_1e_afspraak_datum" type="xs:dateTime" nillable="true" minOccurs="0"/>
					<xs:element name="indicatie_afspraak_buiten_norm" type="xs:string" nillable="true" minOccurs="0"/>
					<xs:element name="aantal_contracten" type="xs:int" nillable="true" minOccurs="0"/>
					<xs:element name="_1e_hersteltijdstip" type="xs:dateTime" nillable="true" minOccurs="0"/>
					<xs:element name="contractant_naam" type="xs:string" nillable="true" minOccurs="0"/>
					<xs:element name="contractant_straatnaam" type="xs:string" nillable="true" minOccurs="0"/>
					<xs:element name="contractant_huisnr_numeriek" type="xs:int" nillable="true" minOccurs="0"/>
					<xs:element name="contractant_huisnr_alfanumeriek" type="xs:string" nillable="true" minOccurs="0"/>
					<xs:element name="contractant_woonplaats" type="xs:string" nillable="true" minOccurs="0"/>
					<xs:element name="contractant_naam_contactpersoon" type="xs:string" nillable="true" minOccurs="0"/>
					<xs:element name="contractant_telefoonnr_contactpersoon" type="xs:string" nillable="true" minOccurs="0"/>
					<xs:element name="contractant_faxnr_Contactpersoon" type="xs:string" nillable="true" minOccurs="0"/>
					<xs:element name="centrale_gebiedscode" type="xs:int" nillable="true" minOccurs="0"/>
					<xs:element name="ISDN_type_aansluiting" type="xs:string" nillable="true" minOccurs="0"/>
					<xs:element name="poort_id_equipement_adres" type="xs:string" nillable="true" minOccurs="0"/>
					<xs:element name="poort_id_apparatuur" type="xs:string" nillable="true" minOccurs="0"/>
					<xs:element name="poort_id_equipement_type" type="xs:string" nillable="true" minOccurs="0"/>
					<xs:element name="Infragegevens" type="xs:string" nillable="true" minOccurs="0"/>
					<xs:element name="Kwaliteitscategorie" type="xs:string" nillable="true" minOccurs="0"/>
					<xs:element name="meetgegevens_1" type="xs:string" nillable="true" minOccurs="0"/>
					<xs:element name="meetgegevens_2" type="xs:string" nillable="true" minOccurs="0"/>
					<xs:element name="datum_in_observatie" type="xs:dateTime" nillable="true" minOccurs="0"/>
					<xs:element name="datum_uit_observatie" type="xs:dateTime" nillable="true" minOccurs="0"/>
					<xs:element name="verzamelcode" type="xs:string" nillable="true" minOccurs="0"/>
					<xs:element name="infocenter" type="xs:string" nillable="true" minOccurs="0"/>
					<xs:element name="klacht_1e_operator_code" type="xs:string" nillable="true" minOccurs="0"/>
					<xs:element name="klacht_1e_operator_omschrijving" type="xs:string" nillable="true" minOccurs="0"/>
					<xs:element name="klacht_1e_operator_telefoonnummer" type="xs:string" nillable="true" minOccurs="0"/>
					<xs:element name="klacht_1e_mutatie_type_code" type="xs:int" nillable="true" minOccurs="0"/>
					<xs:element name="klacht_1e_mutatie_type_omschrijving" type="xs:string" nillable="true" minOccurs="0"/>
					<xs:element name="klacht_1e_datum_portering" type="xs:dateTime" nillable="true" minOccurs="0"/>
					<xs:element name="klacht_2e_telefoonnummer" type="xs:string" nillable="true" minOccurs="0"/>
					<xs:element name="klacht_2e_operator_code" type="xs:string" nillable="true" minOccurs="0"/>
					<xs:element name="klacht_2e_operator_omschrijving" type="xs:string" nillable="true" minOccurs="0"/>
					<xs:element name="klacht_2e_operator_telefoonnummer" type="xs:string" nillable="true" minOccurs="0"/>
					<xs:element name="klacht_2e_mutatie_type_code" type="xs:int" nillable="true" minOccurs="0"/>
					<xs:element name="klacht_2e_mutatie_type_omschrijving" type="xs:string" nillable="true" minOccurs="0"/>
					<xs:element name="klacht_2e_datum_portering" type="xs:dateTime" nillable="true" minOccurs="0"/>
					<xs:element name="Bronsysteem_order_referentie" type="xs:string" nillable="true" minOccurs="0"/>
					<xs:element name="Doelsysteem_order_referentie" type="xs:string" nillable="true" minOccurs="0"/>
					<xs:element name="Afhandelend_systeem" type="xs:string" nillable="true" minOccurs="0"/>
					<xs:element name="Abonnement_op_voortgangsinformatie" type="xs:string" nillable="true" minOccurs="0"/>
					<xs:element name="Service_box_project_code" type="xs:string" nillable="true" minOccurs="0"/>
					<xs:element name="Service_box_type_contract" type="xs:string" nillable="true" minOccurs="0"/>
					<xs:element name="Service_box_bijzonderheden" type="xs:string" nillable="true" minOccurs="0"/>
					<xs:element name="STRATA_afgemelde_klant_indicatie" type="xs:string" nillable="true" minOccurs="0"/>
					<xs:element name="STRATA_bijzonderheden" type="xs:string" nillable="true" minOccurs="0"/>
					<xs:element name="STRATA_oorzaak_gevonden_indicator" type="xs:string" nillable="true" minOccurs="0"/>
					<xs:element name="STRATA_aard_van_storing_code" type="xs:int" nillable="true" minOccurs="0"/>
					<xs:element name="STRATA_naam" type="xs:string" nillable="true" minOccurs="0"/>
					<xs:element name="STRATA_identificatie_regiovolgnummer" type="xs:string" nillable="true" minOccurs="0"/>
					<xs:element name="STRATA_volgnummer" type="xs:string" nillable="true" minOccurs="0"/>
					<xs:element name="STRATA_telecom_district_code" type="xs:string" nillable="true" minOccurs="0"/>
					<xs:element name="STRATA_werkveld_code" type="xs:string" nillable="true" minOccurs="0"/>
					<xs:element name="VV_A_zijde_telefoonnr" type="xs:string" nillable="true" minOccurs="0"/>
					<xs:element name="VV_A_zijde_naam" type="xs:string" nillable="true" minOccurs="0"/>
					<xs:element name="VV_A_zijde_adres" type="xs:string" nillable="true" minOccurs="0"/>
					<xs:element name="VV_A_zijde_plaats" type="xs:string" nillable="true" minOccurs="0"/>
					<xs:element name="VV_B_zijde_telefoonnr" type="xs:string" nillable="true" minOccurs="0"/>
					<xs:element name="VV_B_zijde_naam" type="xs:string" nillable="true" minOccurs="0"/>
					<xs:element name="VV_B_zijde_adres" type="xs:string" nillable="true" minOccurs="0"/>
					<xs:element name="VV_B_zijde_plaats" type="xs:string" nillable="true" minOccurs="0"/>
					<xs:element name="VV_NIPO_telefoonnr" type="xs:string" nillable="true" minOccurs="0"/>
					<xs:element name="VV_NIPO_naam_" type="xs:string" nillable="true" minOccurs="0"/>
					<xs:element name="vorige_analist_code" type="xs:string" nillable="true" minOccurs="0"/>
					<xs:element name="datum_einde_analyse" type="xs:dateTime" nillable="true" minOccurs="0"/>
					<xs:element name="vorige_onderzoeker_afdeling" type="xs:string" nillable="true" minOccurs="0"/>
					<xs:element name="vorige_onderzoeker_nummer" type="xs:string" nillable="true" minOccurs="0"/>
					<xs:element name="uitgifte_datum2" type="xs:dateTime" nillable="true" minOccurs="0"/>
					<xs:element name="datum_aanvang_werkzaamheden2" type="xs:dateTime" nillable="true" minOccurs="0"/>
					<xs:element name="datum_einde_werkzaamheden2" type="xs:dateTime" nillable="true" minOccurs="0"/>
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="ARAuthenticate">
		<wsdl:part name="parameters" element="s:AuthenticationInfo"/>
	</wsdl:message>
	<wsdl:message name="SendTicketSoapIn">
		<wsdl:part name="parameters" element="s:SendTicket"/>
	</wsdl:message>
	<wsdl:message name="SendTicketSoapOut">
		<wsdl:part name="parameters" element="s:SendTicketResponse"/>
	</wsdl:message>
	<wsdl:portType name="SendTicketPortType">
		<wsdl:operation name="SendTicket">
			<wsdl:input message="s:SendTicketSoapIn"/>
			<wsdl:output message="s:SendTicketSoapOut"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="SendTicketSoapBinding" type="s:SendTicketPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="SendTicket">
			<soap:operation soapAction="urn:SendTicket/SendTicket" style="document"/>
			<wsdl:input>
				<soap:header message="s:ARAuthenticate" part="parameters" use="literal"/>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="SendTicketService">
		<wsdl:documentation>
versie 2.0  </wsdl:documentation>
		<wsdl:port name="SendTicketSoap" binding="s:SendTicketSoapBinding">
			<soap:address location="http://manlab10/arsys/services/ARService?server=manlab10&amp;webService=SendTicket"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
