ASTRIDAdapter/WSDL/ASTRIDAdapter/SendStatus_903.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ns0="http://tempuri.org" xmlns:s="urn:SendStatus_903" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:SendStatus_903">
	<wsdl:types>
		<xsd:schema elementFormDefault="qualified" targetNamespace="urn:SendStatus_903">
			<xsd:import namespace="http://tempuri.org"/>
			<xsd:element name="SendStatus" type="ns0:Message"/>
			<xsd:element name="SendStatusResponse" type="s:OutputMapping"/>
			<xsd:complexType name="OutputMapping">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="GUID" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="afzender_applicatie" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="afzender_gebruiker" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="Ontvanger_applicatie" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="bericht_type" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="function_type" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="bericht_versie" nillable="true" type="xsd:int"/>
					<xsd:element minOccurs="0" name="transactie_ID" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="datum_tijd" nillable="true" type="xsd:dateTime"/>
					<xsd:element minOccurs="0" name="Resultaat_code" nillable="true" type="xsd:int"/>
					<xsd:element minOccurs="0" name="Resultaat_tekst" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="klantorder_nummer" nillable="true" type="xsd:int"/>
					<xsd:element minOccurs="0" name="aanname_datum" nillable="true" type="xsd:dateTime"/>
					<xsd:element minOccurs="0" name="identificatie_van_de_melding" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="bronsysteem_order_referentie" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="doelsysteem_order_referentie" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="extern_klantorder_nummer" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="STATUS" nillable="true" type="xsd:int"/>
					<xsd:element minOccurs="0" name="MSG_CODE" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="ERROR_CODE" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="ERROR_DESCRIPTION" nillable="true" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="AuthenticationInfo" type="s:AuthenticationInfo"/>
			<xsd:complexType name="AuthenticationInfo">
				<xsd:sequence>
					<xsd:element name="userName" type="xsd:string"/>
					<xsd:element name="password" type="xsd:string"/>
					<xsd:element minOccurs="0" name="authentication" type="xsd:string"/>
					<xsd:element minOccurs="0" name="locale" type="xsd:string"/>
					<xsd:element minOccurs="0" name="timeZone" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
		<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://tempuri.org" xmlns="http://tempuri.org" xmlns:xs="http://www.w3.org/2001/XMLSchema">
			<xs:complexType name="Message">
				<xs:sequence>
					<xs:element minOccurs="0" name="Header" type="HeaderType"/>
					<xs:element minOccurs="0" name="General" type="GeneralType"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="HeaderType">
				<xs:sequence>
					<xs:element minOccurs="0" name="GUID" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="afzender_applicatie" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="afzender_gebruiker" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="Ontvanger_applicatie" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="bericht_type" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="function_type" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="bericht_versie" nillable="true" type="xs:int"/>
					<xs:element minOccurs="0" name="transactie_ID" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="datum_tijd" nillable="true" type="xs:dateTime"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="GeneralType">
				<xs:sequence>
					<xs:element minOccurs="0" name="klantorder_nummer" nillable="true" type="xs:int"/>
					<xs:element minOccurs="0" name="Status" nillable="true" type="xs:int"/>
					<xs:element minOccurs="0" name="status_omschrijving" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="datum_waarop_status_verkregen_is" nillable="true" type="xs:dateTime"/>
					<xs:element minOccurs="0" name="aanname_datum" nillable="true" type="xs:dateTime"/>
					<xs:element minOccurs="0" name="identificatie_van_de_melding" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="leidende_service_id" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="Telefoonnummer" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="type_product_ID" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="type_product_ID_omschrijving" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="product_ID" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="Ondernummer" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="extern_klantorder_nummer" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="order_type_afkorting" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="naam_van_gebruiker_die_klacht_aanneemt" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="vorige_status" nillable="true" type="xs:int"/>
					<xs:element minOccurs="0" name="vorige_status_omschrijving" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="indicatie_of_het_een_BSD_melding_betreft" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="klantnaam" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="straatnaam" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="huisnummer_numeriek" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="huisnummer_alfanumeriek" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="postcode_numeriek" nillable="true" type="xs:int"/>
					<xs:element minOccurs="0" name="postcode_alfanumeriek" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="plaatsnaam" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="plaatsnaam_code" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="correspondentie_naam" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="correspondentie_telefoonnr" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="centrale_klant_registratie_nr" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="rechtsvorm_code" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="telecom_regio_code" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="telecom_district_code" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="productsoort_code" nillable="true" type="xs:int"/>
					<xs:element minOccurs="0" name="productsoort_omschrijving" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="rapportage_code" nillable="true" type="xs:int"/>
					<xs:element minOccurs="0" name="rapportage_omschrijving" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="klacht_groep" nillable="true" type="xs:int"/>
					<xs:element minOccurs="0" name="klacht_nummer" nillable="true" type="xs:int"/>
					<xs:element minOccurs="0" name="klacht_omschrijving" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="klacht_tekst" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="urgentie_door_klant_aangegeven_code" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="urgentie_door_klant_aangegeven_omschrijving" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="Bijzonderheden" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="klacht_1e_productsoort_code" nillable="true" type="xs:int"/>
					<xs:element minOccurs="0" name="klacht_1e_productsoort_omschrijving" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="product_categorie_omschrijving" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="Herhaalstoring" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="Buiten_norm_plan_Kal" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="Buiten_norm_Verzoek_klant" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="Formule" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="Kosten_akkoord_" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="routeren_naar" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="bepaal_default_analist" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="analist_code" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="analist_omschrijving" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="onderzoeker_werkgebied" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="onderzoeker_afdeling" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="onderzoeker_nummer" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="uitgifte_datum1" nillable="true" type="xs:dateTime"/>
					<xs:element minOccurs="0" name="analyse_einddatum" nillable="true" type="xs:dateTime"/>
					<xs:element minOccurs="0" name="datum_aanvang_werkzaamheden1" nillable="true" type="xs:dateTime"/>
					<xs:element minOccurs="0" name="datum_einde_werkzaamheden1" nillable="true" type="xs:dateTime"/>
					<xs:element minOccurs="0" name="datum_terugmelden_klacht" nillable="true" type="xs:dateTime"/>
					<xs:element minOccurs="0" name="datum_gereedmelden_klacht" nillable="true" type="xs:dateTime"/>
					<xs:element minOccurs="0" name="aard_van_storing_code" nillable="true" type="xs:int"/>
					<xs:element minOccurs="0" name="aard_van_storing_omschrijving" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="gereedmelding_wijze" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="herstel_tijdstip" nillable="true" type="xs:dateTime"/>
					<xs:element minOccurs="0" name="berekend_tijdstip" nillable="true" type="xs:dateTime"/>
					<xs:element minOccurs="0" name="contract_soort" nillable="true" type="xs:int"/>
					<xs:element minOccurs="0" name="afspraak_organisatie" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="afspraak_organisatie_omschrijving" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="afspraak_onderzoeker_werkgebied" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="afspraak_onderzoeker_afdeling" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="afspraak_onderzoeker_nummer" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="afspraak_datum" nillable="true" type="xs:dateTime"/>
					<xs:element minOccurs="0" name="afspraak_dagdeel_code" nillable="true" type="xs:int"/>
					<xs:element minOccurs="0" name="afspraak_dagdeel_van" nillable="true" type="xs:time"/>
					<xs:element minOccurs="0" name="afspraak_dagdeel_tot" nillable="true" type="xs:time"/>
					<xs:element minOccurs="0" name="indicatie_wel_geen_bezoek_bij_afspraak" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="contract_werktijd_code" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="contract_response_uren" nillable="true" type="xs:int"/>
					<xs:element minOccurs="0" name="contract_identificatie_nummer_pakket" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="contract_halfuur_indicator" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="contract_datum_in_dienst" nillable="true" type="xs:dateTime"/>
					<xs:element minOccurs="0" name="urgentie_code" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="urgentie_major_minor_indicatie" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="klacht_indicatie_1e_bezoek_bij_afspraak" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="klacht__1e_organisatie_code_tbv_dde" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="klacht_1e_dagdeel_code" nillable="true" type="xs:int"/>
					<xs:element minOccurs="0" name="klacht_1e_dagdeel_van" nillable="true" type="xs:time"/>
					<xs:element minOccurs="0" name="klacht_1e_dagdeel_tot" nillable="true" type="xs:time"/>
					<xs:element minOccurs="0" name="klacht_1e_afspraak_datum" nillable="true" type="xs:dateTime"/>
					<xs:element minOccurs="0" name="indicatie_afspraak_buiten_norm" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="aantal_contracten" nillable="true" type="xs:int"/>
					<xs:element minOccurs="0" name="_1e_hersteltijdstip" nillable="true" type="xs:dateTime"/>
					<xs:element minOccurs="0" name="contractant_naam" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="contractant_straatnaam" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="contractant_huisnr_numeriek" nillable="true" type="xs:int"/>
					<xs:element minOccurs="0" name="contractant_huisnr_alfanumeriek" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="contractant_woonplaats" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="contractant_naam_contactpersoon" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="contractant_telefoonnr_contactpersoon" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="contractant_faxnr_Contactpersoon" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="centrale_gebiedscode" nillable="true" type="xs:int"/>
					<xs:element minOccurs="0" name="ISDN_type_aansluiting" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="poort_id_equipement_adres" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="poort_id_apparatuur" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="poort_id_equipement_type" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="Infragegevens" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="Kwaliteitscategorie" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="meetgegevens_1" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="meetgegevens_2" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="datum_in_observatie" nillable="true" type="xs:dateTime"/>
					<xs:element minOccurs="0" name="datum_uit_observatie" nillable="true" type="xs:dateTime"/>
					<xs:element minOccurs="0" name="verzamelcode" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="infocenter" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="klacht_1e_operator_code" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="klacht_1e_operator_omschrijving" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="klacht_1e_operator_telefoonnummer" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="klacht_1e_mutatie_type_code" nillable="true" type="xs:int"/>
					<xs:element minOccurs="0" name="klacht_1e_mutatie_type_omschrijving" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="klacht_1e_datum_portering" nillable="true" type="xs:dateTime"/>
					<xs:element minOccurs="0" name="klacht_2e_telefoonnummer" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="klacht_2e_operator_code" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="klacht_2e_operator_omschrijving" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="klacht_2e_operator_telefoonnummer" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="klacht_2e_mutatie_type_code" nillable="true" type="xs:int"/>
					<xs:element minOccurs="0" name="klacht_2e_mutatie_type_omschrijving" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="klacht_2e_datum_portering" nillable="true" type="xs:dateTime"/>
					<xs:element minOccurs="0" name="Bronsysteem_order_referentie" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="Doelsysteem_order_referentie" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="Afhandelend_systeem" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="Abonnement_op_voortgangsinformatie" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="Service_box_project_code" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="Service_box_type_contract" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="Service_box_bijzonderheden" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="STRATA_afgemelde_klant_indicatie" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="STRATA_bijzonderheden" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="STRATA_oorzaak_gevonden_indicator" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="STRATA_aard_van_storing_code" nillable="true" type="xs:int"/>
					<xs:element minOccurs="0" name="STRATA_naam" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="STRATA_identificatie_regiovolgnummer" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="STRATA_volgnummer" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="STRATA_telecom_district_code" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="STRATA_werkveld_code" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="VV_A_zijde_telefoonnr" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="VV_A_zijde_naam" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="VV_A_zijde_adres" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="VV_A_zijde_plaats" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="VV_B_zijde_telefoonnr" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="VV_B_zijde_naam" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="VV_B_zijde_adres" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="VV_B_zijde_plaats" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="VV_NIPO_telefoonnr" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="VV_NIPO_naam_" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="vorige_analist_code" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="datum_einde_analyse" nillable="true" type="xs:dateTime"/>
					<xs:element minOccurs="0" name="vorige_onderzoeker_afdeling" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="vorige_onderzoeker_nummer" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="uitgifte_datum2" nillable="true" type="xs:dateTime"/>
					<xs:element minOccurs="0" name="datum_aanvang_werkzaamheden2" nillable="true" type="xs:dateTime"/>
					<xs:element minOccurs="0" name="datum_einde_werkzaamheden2" nillable="true" type="xs:dateTime"/>
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="SendStatusSoapOut">
		<wsdl:part name="parameters" element="s:SendStatusResponse"/>
	</wsdl:message>
	<wsdl:message name="SendStatusSoapIn">
		<wsdl:part name="parameters" element="s:SendStatus"/>
	</wsdl:message>
	<wsdl:message name="ARAuthenticate">
		<wsdl:part name="parameters" element="s:AuthenticationInfo"/>
	</wsdl:message>
	<wsdl:portType name="SendStatus_903PortType">
		<wsdl:operation name="SendStatus">
			<wsdl:input message="s:SendStatusSoapIn"/>
			<wsdl:output message="s:SendStatusSoapOut"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="SendStatus_903SoapBinding" type="s:SendStatus_903PortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="SendStatus">
			<soap:operation soapAction="urn:SendStatus_903/SendStatus" style="document"/>
			<wsdl:input>
				<soap:header message="s:ARAuthenticate" part="parameters" use="literal"/>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="SendStatus_903Service">
		<wsdl:documentation>
versie 2.1  </wsdl:documentation>
		<wsdl:port name="SendStatus_903Soap" binding="s:SendStatus_903SoapBinding">
			<soap:address location="http://manlab10/arsys/services/ARService?server=manlab10&amp;webService=SendStatus_903"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
