WSDL_project/DesignModel/Common/ExternalSchemas/M1C/MCL_ERROR_CODE_Type.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2007 rel. 3 (http://www.altova.com) by Bart de Koning (KPN Telecom) -->
<!-- edited with XMLSPY v2004 rel. 4 U (http://www.xmlspy.com) by Hans Wulffraat (KPN Mobiel Nederland BV) -->
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://xmlns.kpn.com/mobile/m2c/m1c/MCL_ERROR_CODE_type.xsd" targetNamespace="http://xmlns.kpn.com/mobile/m2c/m1c/MCL_ERROR_CODE_type.xsd" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<!-- edited with XMLSPY v5 rel. 4 U (http://www.xmlspy.com) by rth77 (rth77) -->
	<xs:complexType name="Error_-999911119-Backend_down" block="restriction">
		<xs:simpleContent>
			<xs:extension base="xs:string"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="Error_-1-Syntax_or_internal_error" block="restriction">
		<xs:simpleContent>
			<xs:extension base="xs:string"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="Error_0-OK" block="restriction">
		<xs:simpleContent>
			<xs:extension base="xs:string"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="Error_not_0-Unknown_error" block="restriction">
		<xs:simpleContent>
			<xs:extension base="xs:string"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="Error_1-Geen_autorisatie" block="restriction">
		<xs:simpleContent>
			<xs:extension base="xs:string"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="Error_1-klantnr_BOnummer_onbekend" block="restriction">
		<xs:simpleContent>
			<xs:extension base="xs:string"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="Error_1-Not_found" block="restriction">
		<xs:simpleContent>
			<xs:extension base="xs:string"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="Error_1-Onbekend_mobiel_nummer" block="restriction">
		<xs:simpleContent>
			<xs:extension base="xs:string"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="Error_1-Simkaart_hoort_NIET_bij_de_aansluiting" block="restriction">
		<xs:simpleContent>
			<xs:extension base="xs:string"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="Error_1_3-Gegeven_niet_gevonden" block="restriction">
		<xs:simpleContent>
			<xs:extension base="xs:string"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="Error_1_4-Mobiel_nummer_bestaat_niet" block="restriction">
		<xs:simpleContent>
			<xs:extension base="xs:string"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="Error_1_8-Klant_onbekend" block="restriction">
		<xs:simpleContent>
			<xs:extension base="xs:string"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="Error_1_22-Geen_autorisatie_voor_MCCS" block="restriction">
		<xs:simpleContent>
			<xs:extension base="xs:string"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="Error_1_23-Geen_autorisatie_voor_MCCS" block="restriction">
		<xs:simpleContent>
			<xs:extension base="xs:string"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="Error_1_28-Geen_autorisatie_voor_MCCS" block="restriction">
		<xs:simpleContent>
			<xs:extension base="xs:string"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="Error_2-Aansluiting_hoort_niet_bij_het_klantnummer" block="restriction">
		<xs:simpleContent>
			<xs:extension base="xs:string"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="Error_2-Opgegeven_criteria_niet_goed_gevuld" block="restriction">
		<xs:simpleContent>
			<xs:extension base="xs:string"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="Error_2-Teveel_klanten_gevonden" block="restriction">
		<xs:simpleContent>
			<xs:extension base="xs:string"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="Error_3-Aanmaken_klantorder_niet_gelukt" block="restriction">
		<xs:simpleContent>
			<xs:extension base="xs:string"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="Error_3-Aanmaken_deelorder_niet_gelukt" block="restriction">
		<xs:simpleContent>
			<xs:extension base="xs:string"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="Error_3-Bij_invoerder_zijn_geen_voorlopige_klantorders_meer" block="restriction">
		<xs:simpleContent>
			<xs:extension base="xs:string"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="Error_3-Geen_GSM_kaart_gevonden_neem_contact_op_met_Tabelbeheer" block="restriction">
		<xs:simpleContent>
			<xs:extension base="xs:string"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="Error_3-Klant_niet_geautoriseerd" block="restriction">
		<xs:simpleContent>
			<xs:extension base="xs:string"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="Error_3-Opgegeven_Klantorder_is_nog_niet_definitief" block="restriction">
		<xs:simpleContent>
			<xs:extension base="xs:string"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="Error_4-Opgegeven_deelorder_is_al_geannuleerd" block="restriction">
		<xs:simpleContent>
			<xs:extension base="xs:string"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="Error_4-Klantorder_is_niet_voorlopig_opvragen_kostenoverzicht_is_niet_mogelijk" block="restriction">
		<xs:simpleContent>
			<xs:extension base="xs:string"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="Error_5-Deelorder_mag_niet_worden_geannuleerd" block="restriction">
		<xs:simpleContent>
			<xs:extension base="xs:string"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="Error_99-Unknown_or_unexpected_error" block="restriction">
		<xs:simpleContent>
			<xs:extension base="xs:string"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="Error_4002-Er_zijn_geen_klanten_die_aan_de_zoekcriteria_voldoen" block="restriction">
		<xs:simpleContent>
			<xs:extension base="xs:string"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="Error_4006-Geen_verkochte_simkaart_gevonden_met_opgegeven_nummer" block="restriction">
		<xs:simpleContent>
			<xs:extension base="xs:string"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="Error_4006_9-Mobiel_nummer_bestaat_niet" block="restriction">
		<xs:simpleContent>
			<xs:extension base="xs:string"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="Error_4006_16-Ingevoerde_kaart_referentie_niet_gevonden" block="restriction">
		<xs:simpleContent>
			<xs:extension base="xs:string"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="Error_4006_24-Klantnummer_niet_aanwezig" block="restriction">
		<xs:simpleContent>
			<xs:extension base="xs:string"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="Error_4210_3-Klantnummer_niet_aanwezig" block="restriction">
		<xs:simpleContent>
			<xs:extension base="xs:string"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="Error_4220_10-Combinatie_niet_gevonden" block="restriction">
		<xs:simpleContent>
			<xs:extension base="xs:string"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="Error_4220_11-Geen_gevallen_met_geselecteerde_zoekcriteria" block="restriction">
		<xs:simpleContent>
			<xs:extension base="xs:string"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="Error_4754-Geen_gevallen_met_geselecteerde_zoekcriteria" block="restriction">
		<xs:simpleContent>
			<xs:extension base="xs:string"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="Error_7002_6-Geen_autorisatie_voor_MCCS" block="restriction">
		<xs:simpleContent>
			<xs:extension base="xs:string"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="Error_7002_7-Geen_autorisatie_voor_MCCS" block="restriction">
		<xs:simpleContent>
			<xs:extension base="xs:string"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="Error_X_7001-Meer_data_beschikbaar" block="restriction">
		<xs:simpleContent>
			<xs:extension base="xs:string"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="Error_7002_7001-Geen_autorisatie_voor_MCCS" block="restriction">
		<xs:simpleContent>
			<xs:extension base="xs:string"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="Error_7003_1-Geen_autorisatie_voor_MCCS" block="restriction">
		<xs:simpleContent>
			<xs:extension base="xs:string"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="Error_7565-De_combinatie_van_postcode_en_huisnummer_bestaat_niet" block="restriction">
		<xs:simpleContent>
			<xs:extension base="xs:string"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="MCL_AUTH_Adapter_Error_Types">
		<xs:choice>
			<xs:element name="Error_-999911119-Backend_down" type="Error_-999911119-Backend_down" minOccurs="0"/>
			<xs:element name="Error_not_0-Unknown_error" type="Error_0-OK" minOccurs="0"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="MCL_BBP_Adapter_Error_Types">
		<xs:choice>
			<xs:element name="Error_-999911119-Backend_down" type="Error_-999911119-Backend_down" minOccurs="0"/>
			<xs:element name="Error_-1-Syntax_or_internal_error" type="Error_-1-Syntax_or_internal_error" minOccurs="0"/>
			<xs:element name="Error_0-OK" type="Error_0-OK" minOccurs="0"/>
			<xs:element name="Error_1-Not_found" type="Error_1-Not_found" minOccurs="0"/>
			<xs:element name="Error_2-Opgegeven_criteria_niet_goed_gevuld" type="Error_2-Opgegeven_criteria_niet_goed_gevuld" minOccurs="0"/>
			<xs:element name="Error_99-Unknown_or_unexpected_error" type="Error_99-Unknown_or_unexpected_error" minOccurs="0"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="MCL_CIB_Adapter_Error_Types">
		<xs:choice>
			<xs:element name="Error_-999911119-Backend_down" type="Error_-999911119-Backend_down" minOccurs="0"/>
			<xs:element name="Error_-1-Syntax_or_internal_error" type="Error_-1-Syntax_or_internal_error" minOccurs="0"/>
			<xs:element name="Error_0-OK" type="Error_0-OK" minOccurs="0"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="MCL_Front_End_Adapter_Error_Types">
		<xs:choice>
			<xs:element name="Error_-999911119-Backend_down" type="Error_-999911119-Backend_down" minOccurs="0"/>
			<xs:element name="Error_-1-Syntax_or_internal_error" type="Error_-1-Syntax_or_internal_error" minOccurs="0"/>
			<xs:element name="Error_0-OK" type="Error_0-OK" minOccurs="0"/>
			<xs:element name="Error_not_0-Unknown_error" type="Error_not_0-Unknown_error" minOccurs="0"/>
			<xs:element name="Error_1-Geen_autorisatie" type="Error_1-Not_found" minOccurs="0"/>
			<xs:element name="Error_1-klantnr_BOnummer_onbekend" type="Error_1-klantnr_BOnummer_onbekend" minOccurs="0"/>
			<xs:element name="Error_1-Not_found" type="Error_1-Not_found" minOccurs="0"/>
			<xs:element name="Error_1-Onbekend_mobiel_nummer" type="Error_1-Onbekend_mobiel_nummer" minOccurs="0"/>
			<xs:element name="Error_1-Simkaart_hoort_NIET_bij_de_aansluiting" type="Error_1-Simkaart_hoort_NIET_bij_de_aansluiting" minOccurs="0"/>
			<xs:element name="Error_1_4-Mobiel_nummer_bestaat_niet" type="Error_1_4-Mobiel_nummer_bestaat_niet" minOccurs="0"/>
			<xs:element name="Error_1_8-Klant_onbekend" type="Error_1_8-Klant_onbekend" minOccurs="0"/>
			<xs:element name="Error_1_22-Geen_autorisatie_voor_MCCS" type="Error_1_22-Geen_autorisatie_voor_MCCS" minOccurs="0"/>
			<xs:element name="Error_1_23-Geen_autorisatie_voor_MCCS" type="Error_1_23-Geen_autorisatie_voor_MCCS" minOccurs="0"/>
			<xs:element name="Error_1_28-Geen_autorisatie_voor_MCCS" type="Error_1_28-Geen_autorisatie_voor_MCCS" minOccurs="0"/>
			<xs:element name="Error_2-Aansluiting_hoort_niet_bij_het_klantnummer" type="Error_2-Aansluiting_hoort_niet_bij_het_klantnummer" minOccurs="0"/>
			<xs:element name="Error_2-Teveel_klanten_gevonden" type="Error_3-Klant_niet_geautoriseerd" minOccurs="0"/>
			<xs:element name="Error_2-Opgegeven_criteria_niet_goed_gevuld" type="Error_2-Opgegeven_criteria_niet_goed_gevuld" minOccurs="0"/>
			<xs:element name="Error_3-Klant_niet_geautoriseerd" type="Error_3-Klant_niet_geautoriseerd" minOccurs="0"/>
			<xs:element name="Error_3-Aanmaken_klantorder_niet_gelukt" type="Error_3-Aanmaken_klantorder_niet_gelukt" minOccurs="0"/>
			<xs:element name="Error_3-Aanmaken_deelorder_niet_gelukt" type="Error_3-Aanmaken_deelorder_niet_gelukt" minOccurs="0"/>
			<xs:element name="Error_3-Bij_invoerder_zijn_geen_voorlopige_klantorders_meer" type="xs:gYearMonth" minOccurs="0"/>
			<xs:element name="Error_3-Geen_GSM_kaart_gevonden_neem_contact_op_met_Tabelbeheer" type="Error_3-Geen_GSM_kaart_gevonden_neem_contact_op_met_Tabelbeheer" minOccurs="0"/>
			<xs:element name="Error_3-Opgegeven_Klantorder_is_nog_niet_definitief" type="Error_3-Opgegeven_Klantorder_is_nog_niet_definitief" minOccurs="0"/>
			<xs:element name="Error_4-Klantorder_is_niet_voorlopig_opvragen_kostenoverzicht_is_niet_mogelijk" type="Error_4-Klantorder_is_niet_voorlopig_opvragen_kostenoverzicht_is_niet_mogelijk" minOccurs="0"/>
			<xs:element name="Error_4-Opgegeven_deelorder_is_al_geannuleerd" type="Error_4-Opgegeven_deelorder_is_al_geannuleerd" minOccurs="0"/>
			<xs:element name="Error_5-Deelorder_mag_niet_worden_geannuleerd" type="Error_5-Deelorder_mag_niet_worden_geannuleerd" minOccurs="0"/>
			<xs:element name="Error_99-Unknown_or_unexpected_error" type="Error_99-Unknown_or_unexpected_error" minOccurs="0"/>
			<xs:element name="Error_4006-Geen_verkochte_simkaart_gevonden_met_opgegeven_nummer" type="Error_4006-Geen_verkochte_simkaart_gevonden_met_opgegeven_nummer" minOccurs="0"/>
			<xs:element name="Error_4006_16-Ingevoerde_kaart_referentie_niet_gevonden" type="Error_4006_16-Ingevoerde_kaart_referentie_niet_gevonden" minOccurs="0"/>
			<xs:element name="Error_4006_24-Klantnummer_niet_aanwezig" minOccurs="0"/>
			<xs:element name="Error_4210_3-Klantnummer_niet_aanwezig" type="Error_4220_10-Combinatie_niet_gevonden" minOccurs="0"/>
			<xs:element name="Error_4220_10-Combinatie_niet_gevonden" minOccurs="0"/>
			<xs:element name="Error_4220_11-Geen_gevallen_met_geselecteerde_zoekcriteria" type="Error_4220_11-Geen_gevallen_met_geselecteerde_zoekcriteria" minOccurs="0"/>
			<xs:element name="Error_7002_6-Geen_autorisatie_voor_MCCS" type="Error_7002_6-Geen_autorisatie_voor_MCCS" minOccurs="0"/>
			<xs:element name="Error_7002_7-Geen_autorisatie_voor_MCCS" type="Error_7002_7-Geen_autorisatie_voor_MCCS" minOccurs="0"/>
			<xs:element name="Error_7002_7001-Geen_autorisatie_voor_MCCS" type="Error_7003_1-Geen_autorisatie_voor_MCCS" minOccurs="0"/>
			<xs:element name="Error_7003_1-Geen_autorisatie_voor_MCCS" minOccurs="0"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="MCL_IBOB_Adapter_Error_Types">
		<xs:choice>
			<xs:element name="Error_-999911119-Backend_down" type="Error_-999911119-Backend_down" minOccurs="0"/>
			<xs:element name="Error_0-OK" type="Error_0-OK" minOccurs="0"/>
			<xs:element name="Error_not_0-Unknown_error" type="Error_not_0-Unknown_error" minOccurs="0"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="MCL_MCCS_Adapter_Error_Types">
		<xs:choice>
			<xs:element name="Error_-999911119-Backend_down" type="Error_-999911119-Backend_down" minOccurs="0"/>
			<xs:element name="Error_-1-Syntax_or_internal_error" type="Error_-1-Syntax_or_internal_error" minOccurs="0"/>
			<xs:element name="Error_0-OK" type="Error_0-OK" minOccurs="0"/>
			<xs:element name="Error_not_0-Unknown_error" type="Error_not_0-Unknown_error" minOccurs="0"/>
			<xs:element name="Error_1_4-Mobiel_nummer_bestaat_niet" type="Error_1_4-Mobiel_nummer_bestaat_niet" minOccurs="0"/>
			<xs:element name="Error_1_8-Klant_onbekend" type="Error_1_8-Klant_onbekend" minOccurs="0"/>
			<xs:element name="Error_1_22-Geen_autorisatie_voor_MCCS" type="Error_1_22-Geen_autorisatie_voor_MCCS" minOccurs="0"/>
			<xs:element name="Error_1_23-Geen_autorisatie_voor_MCCS" type="Error_1_23-Geen_autorisatie_voor_MCCS" minOccurs="0"/>
			<xs:element name="Error_1_28-Geen_autorisatie_voor_MCCS" type="Error_1_28-Geen_autorisatie_voor_MCCS" minOccurs="0"/>
			<xs:element name="Error_4006-Geen_verkochte_simkaart_gevonden_met_opgegeven_nummer" type="Error_4006-Geen_verkochte_simkaart_gevonden_met_opgegeven_nummer" minOccurs="0"/>
			<xs:element name="Error_4006_16-Ingevoerde_kaart_referentie_niet_gevonden" type="Error_4006_16-Ingevoerde_kaart_referentie_niet_gevonden" minOccurs="0"/>
			<xs:element name="Error_4006_24-Klantnummer_niet_aanwezig" minOccurs="0"/>
			<xs:element name="Error_4210_3-Klantnummer_niet_aanwezig" type="Error_4006_24-Klantnummer_niet_aanwezig" minOccurs="0"/>
			<xs:element name="Error_4220_10-Combinatie_niet_gevonden" minOccurs="0"/>
			<xs:element name="Error_4220_11-Geen_gevallen_met_geselecteerde_zoekcriteria" type="Error_4220_11-Geen_gevallen_met_geselecteerde_zoekcriteria" minOccurs="0"/>
			<xs:element name="Error_4754-Geen_gevallen_met_geselecteerde_zoekcriteria" type="Error_4754-Geen_gevallen_met_geselecteerde_zoekcriteria" minOccurs="0"/>
			<xs:element name="Error_7002_6-Geen_autorisatie_voor_MCCS" type="Error_7002_6-Geen_autorisatie_voor_MCCS" minOccurs="0"/>
			<xs:element name="Error_7002_7-Geen_autorisatie_voor_MCCS" type="Error_7002_7-Geen_autorisatie_voor_MCCS" minOccurs="0"/>
			<xs:element name="Error_7002_7001-Geen_autorisatie_voor_MCCS" type="Error_7003_1-Geen_autorisatie_voor_MCCS" minOccurs="0"/>
			<xs:element name="Error_7003_1-Geen_autorisatie_voor_MCCS" minOccurs="0"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="MCL_ORD_Adapter_Error_Types">
		<xs:choice>
			<xs:element name="Error_-999911119-Backend_down" type="Error_-999911119-Backend_down" minOccurs="0"/>
			<xs:element name="Error_-1-Syntax_or_internal_error" type="Error_-1-Syntax_or_internal_error" minOccurs="0"/>
			<xs:element name="Error_0-OK" type="Error_0-OK" minOccurs="0"/>
			<xs:element name="Error_1-Not_found" type="Error_1-Not_found" minOccurs="0"/>
			<xs:element name="Error_2-Opgegeven_criteria_niet_goed_gevuld" type="Error_2-Opgegeven_criteria_niet_goed_gevuld" minOccurs="0"/>
			<xs:element name="Error_99-Unknown_or_unexpected_error" type="Error_99-Unknown_or_unexpected_error" minOccurs="0"/>
			<xs:element name="Error_3-Aanmaken_klantorder_niet_gelukt" type="Error_3-Aanmaken_klantorder_niet_gelukt" minOccurs="0"/>
			<xs:element name="Error_3-Aanmaken_deelorder_niet_gelukt" type="Error_3-Aanmaken_deelorder_niet_gelukt" minOccurs="0"/>
			<xs:element name="Error_3-Bij_invoerder_zijn_geen_voorlopige_klantorders_meer" type="xs:gYearMonth" minOccurs="0"/>
			<xs:element name="Error_3-Opgegeven_Klantorder_is_nog_niet_definitief" type="Error_3-Opgegeven_Klantorder_is_nog_niet_definitief" minOccurs="0"/>
			<xs:element name="Error_4-Klantorder_is_niet_voorlopig_opvragen_kostenoverzicht_is_niet_mogelijk" type="Error_4-Klantorder_is_niet_voorlopig_opvragen_kostenoverzicht_is_niet_mogelijk" minOccurs="0"/>
			<xs:element name="Error_4-Opgegeven_deelorder_is_al_geannuleerd" type="Error_4-Opgegeven_deelorder_is_al_geannuleerd" minOccurs="0"/>
			<xs:element name="Error_5-Deelorder_mag_niet_worden_geannuleerd" type="Error_5-Deelorder_mag_niet_worden_geannuleerd" minOccurs="0"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="MCL_PC_Adapter_Error_Types">
		<xs:choice>
			<xs:element name="Error_-999911119-Backend_down" type="Error_-999911119-Backend_down" minOccurs="0"/>
			<xs:element name="Error_-1-Syntax_or_internal_error" type="Error_-1-Syntax_or_internal_error" minOccurs="0"/>
			<xs:element name="Error_0-OK" type="Error_0-OK" minOccurs="0"/>
			<xs:element name="Error_1-Not_found" type="Error_1-Not_found" minOccurs="0"/>
			<xs:element name="Error_2-Opgegeven_criteria_niet_goed_gevuld" type="Error_2-Opgegeven_criteria_niet_goed_gevuld" minOccurs="0"/>
			<xs:element name="Error_3-Geen_GSM_kaart_gevonden_neem_contact_op_met_Tabelbeheer" type="Error_3-Geen_GSM_kaart_gevonden_neem_contact_op_met_Tabelbeheer" minOccurs="0"/>
			<xs:element name="Error_99-Unknown_or_unexpected_error" type="Error_99-Unknown_or_unexpected_error" minOccurs="0"/>
		</xs:choice>
	</xs:complexType>
	<!-- MCL_MVPN_Adapter_Error_Types -->
	<xs:complexType name="MCL_MVPN_Adapter_Error" block="restriction">
		<xs:simpleContent>
			<xs:extension base="xs:string"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="MCL_MVPN_Application_Fatal_Error_2001_2100" block="restriction">
		<xs:simpleContent>
			<xs:extension base="xs:string"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="MCL_MVPN_CAI_Message_Error_3001_3100" block="restriction">
		<xs:simpleContent>
			<xs:extension base="xs:string"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="MCL_MVPN_TSP_Specific_Error_9330_9399" block="restriction">
		<xs:simpleContent>
			<xs:extension base="xs:string"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="MCL_MVPN_Adapter_Error_Types">
		<xs:choice>
			<xs:element name="Error_-999911119-Backend_down" type="MCL_MVPN_Adapter_Error" minOccurs="0"/>
			<xs:element name="Error_-1-Syntax_or_internal_error" type="MCL_MVPN_Adapter_Error" minOccurs="0"/>
			<xs:element name="Error_0-Success" type="MCL_MVPN_Adapter_Error" minOccurs="0"/>
			<xs:element name="Error_1-The_specified_User_Group_is_not_found" type="MCL_MVPN_Adapter_Error" minOccurs="0"/>
			<xs:element name="Error_1-The_specified_Service_User_is_not_found" type="MCL_MVPN_Adapter_Error" minOccurs="0"/>
			<xs:element name="Error_6-Service_User_Number_is_already_in_use_for_SUNR_and_SUNR2" type="MCL_MVPN_Adapter_Error" minOccurs="0"/>
			<xs:element name="Error_7-Service_User_Short_Number_is_already_in_use" type="MCL_MVPN_Adapter_Error" minOccurs="0"/>
			<xs:element name="Error_8-Service_User_Short_Number_does_not_fit_in_parents_number_scheme" type="MCL_MVPN_Adapter_Error" minOccurs="0"/>
			<xs:element name="Error_2001_2100-MVPN_Application_Fatal_Error" type="MCL_MVPN_Adapter_Error" minOccurs="0"/>
			<xs:element name="Error_2001-Application_database_error" type="MCL_MVPN_Application_Fatal_Error_2001_2100" minOccurs="0"/>
			<xs:element name="Error_2002-Internal_application_error" type="MCL_MVPN_Application_Fatal_Error_2001_2100" minOccurs="0"/>
			<xs:element name="Error_3001_3100-MVPN_CAI_Message_Error" type="MCL_MVPN_Adapter_Error" minOccurs="0"/>
			<xs:element name="Error_3001-Invalid_command" type="MCL_MVPN_CAI_Message_Error_3001_3100" minOccurs="0"/>
			<xs:element name="Error_3002-Operation_not_supported" type="MCL_MVPN_CAI_Message_Error_3001_3100" minOccurs="0"/>
			<xs:element name="Error_3004-The_request_could_not_be_fulfilled._Check_the_specified_parameters" type="MCL_MVPN_CAI_Message_Error_3001_3100" minOccurs="0"/>
			<xs:element name="Error_3006-Operator_ID_and_or_Password_invalid" type="MCL_MVPN_CAI_Message_Error_3001_3100" minOccurs="0"/>
			<xs:element name="Error_3007-Rejection_must_log_on_first" type="MCL_MVPN_CAI_Message_Error_3001_3100" minOccurs="0"/>
			<xs:element name="Error_3008-Invalid_command_sequence" type="MCL_MVPN_CAI_Message_Error_3001_3100" minOccurs="0"/>
			<xs:element name="Error_9330_9399-MVPN_TSP_Specific_Error" type="MCL_MVPN_Adapter_Error" minOccurs="0"/>
			<xs:element name="Error_9331-Alias_Deref_Problem" type="MCL_MVPN_TSP_Specific_Error_9330_9399" minOccurs="0"/>
			<xs:element name="Error_9332-Alias_Problem" type="MCL_MVPN_TSP_Specific_Error_9330_9399" minOccurs="0"/>
			<xs:element name="Error_9333-Already_Exist" type="MCL_MVPN_TSP_Specific_Error_9330_9399" minOccurs="0"/>
			<xs:element name="Error_9335-Busy" type="MCL_MVPN_TSP_Specific_Error_9330_9399" minOccurs="0"/>
			<xs:element name="Error_9336-Compare_False" type="MCL_MVPN_TSP_Specific_Error_9330_9399" minOccurs="0"/>
			<xs:element name="Error_9337-Compare_True" type="MCL_MVPN_TSP_Specific_Error_9330_9399" minOccurs="0"/>
			<xs:element name="Error_9338-Constraint_Violation" type="MCL_MVPN_TSP_Specific_Error_9330_9399" minOccurs="0"/>
			<xs:element name="Error_9342-Inappropriate_Authorisation" type="MCL_MVPN_TSP_Specific_Error_9330_9399" minOccurs="0"/>
			<xs:element name="Error_9343-Inappropriate_Matching" type="MCL_MVPN_TSP_Specific_Error_9330_9399" minOccurs="0"/>
			<xs:element name="Error_9344-Insufficient_Access" type="MCL_MVPN_TSP_Specific_Error_9330_9399" minOccurs="0"/>
			<xs:element name="Error_9346-Invalid_Credentials" type="MCL_MVPN_TSP_Specific_Error_9330_9399" minOccurs="0"/>
			<xs:element name="Error_9347-Invalid_DN_Syntax" type="MCL_MVPN_TSP_Specific_Error_9330_9399" minOccurs="0"/>
			<xs:element name="Error_9348-Invalid_Syntax" type="MCL_MVPN_TSP_Specific_Error_9330_9399" minOccurs="0"/>
			<xs:element name="Error_9351-Loop_Detect" type="MCL_MVPN_TSP_Specific_Error_9330_9399" minOccurs="0"/>
			<xs:element name="Error_9352-Naming_Violation" type="MCL_MVPN_TSP_Specific_Error_9330_9399" minOccurs="0"/>
			<xs:element name="Error_9354-No_Object_Class_Mods." type="MCL_MVPN_TSP_Specific_Error_9330_9399" minOccurs="0"/>
			<xs:element name="Error_9355-No_Such_Attribute_Or_Value" type="MCL_MVPN_TSP_Specific_Error_9330_9399" minOccurs="0"/>
			<xs:element name="Error_9356-No_Such_Object" type="MCL_MVPN_TSP_Specific_Error_9330_9399" minOccurs="0"/>
			<xs:element name="Error_9357-Not_Allowed_On_Non-leaf" type="MCL_MVPN_TSP_Specific_Error_9330_9399" minOccurs="0"/>
			<xs:element name="Error_9358-Not_Allowed_On_RDN" type="MCL_MVPN_TSP_Specific_Error_9330_9399" minOccurs="0"/>
			<xs:element name="Error_9359-Object_Class_Violation" type="MCL_MVPN_TSP_Specific_Error_9330_9399" minOccurs="0"/>
			<xs:element name="Error_9360-Operations_Error" type="MCL_MVPN_TSP_Specific_Error_9330_9399" minOccurs="0"/>
			<xs:element name="Error_9361-Other" type="MCL_MVPN_TSP_Specific_Error_9330_9399" minOccurs="0"/>
			<xs:element name="Error_9364-Protocol_Error" type="MCL_MVPN_TSP_Specific_Error_9330_9399" minOccurs="0"/>
			<xs:element name="Error_9367-Size_Limit_Exceeded" type="MCL_MVPN_TSP_Specific_Error_9330_9399" minOccurs="0"/>
			<xs:element name="Error_9368-Strong_Authorisation_Not_Supported" type="MCL_MVPN_TSP_Specific_Error_9330_9399" minOccurs="0"/>
			<xs:element name="Error_9369-Strong_Authorisation_Required" type="MCL_MVPN_TSP_Specific_Error_9330_9399" minOccurs="0"/>
			<xs:element name="Error_9370-Time_Limit_Exceeded" type="MCL_MVPN_TSP_Specific_Error_9330_9399" minOccurs="0"/>
			<xs:element name="Error_9372-Type_or_Value_Exists" type="MCL_MVPN_TSP_Specific_Error_9330_9399" minOccurs="0"/>
			<xs:element name="Error_9373-Unavailable" type="MCL_MVPN_TSP_Specific_Error_9330_9399" minOccurs="0"/>
			<xs:element name="Error_9374-Undefined_type" type="MCL_MVPN_TSP_Specific_Error_9330_9399" minOccurs="0"/>
			<xs:element name="Error_9375-Unwilling_To_Perform" type="MCL_MVPN_TSP_Specific_Error_9330_9399" minOccurs="0"/>
			<!--_Application_Errors (1-30)_-->
			<!--_Application_Fatal_Errors (2001-2100)_-->
			<!--_CAI_Message_Errors (3001-3100)_-->
			<!--_TSP_Specific_Errors (9330-9399)_-->
		</xs:choice>
	</xs:complexType>
	<!-- MCL_MBIA_Adapter_Error_Types -->
	<xs:complexType name="MCL_MBIA_Adapter_Error_Types">
		<xs:choice>
			<xs:element name="Error_-999911119-Backend_down" type="Error_-999911119-Backend_down" minOccurs="0"/>
			<xs:element name="Error_0-OK" type="Error_0-OK" minOccurs="0"/>
			<xs:element name="Error_not_0-Unknown_error" type="Error_not_0-Unknown_error" minOccurs="0"/>
		</xs:choice>
	</xs:complexType>
	<!-- MCL_MBIA_FES_Error_Message_Types -->
	<xs:complexType name="MCL_MBIA_FES_Error" block="restriction">
		<xs:simpleContent>
			<xs:extension base="xs:string"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="MCL_MBIA_FES_Message" block="restriction">
		<xs:simpleContent>
			<xs:extension base="xs:string"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="MCL_MBIA_FES_Error_Message_Types">
		<xs:choice>
			<xs:element name="Error_-999911119-Backend_down" type="MCL_MBIA_FES_Error" minOccurs="0"/>
			<xs:element name="Error_-1-Syntax_or_internal_error" type="MCL_MBIA_FES_Error" minOccurs="0"/>
			<xs:element name="Error_0-Success" type="MCL_MBIA_FES_Message" minOccurs="0"/>
			<xs:element name="Error_1-Verplicht_veld_niet_ingevuld" type="MCL_MBIA_FES_Message" minOccurs="0"/>
			<xs:element name="Error_2-Verplicht_veld_niet_correct_ingevuld" type="MCL_MBIA_FES_Message" minOccurs="0"/>
			<xs:element name="Error_3-Doorschakeling_1_is_verplicht_als_doorschakeling_2_gebruikt_wordt" type="MCL_MBIA_FES_Message" minOccurs="0"/>
			<xs:element name="Error_4-Doorschakeling_1_en_2_moeten_ingevuld_zijn_voor_de_functie_naar_laatste_doorschakeling_bij_in_gesprek" type="MCL_MBIA_FES_Message" minOccurs="0"/>
			<xs:element name="Error_5-Een_toegestaan_en_of_geblokkeerd_nummer_komt_meer_dan_eens_voor_nummers_moeten_uniek_zijn" type="MCL_MBIA_FES_Message" minOccurs="0"/>
			<xs:element name="Error_6-Een_toegestaan_en_of_geblokkeerde_categorie_overlapt_een_andere_categorien_moeten_volledig_uniek_zijn" type="MCL_MBIA_FES_Message" minOccurs="0"/>
			<xs:element name="Error_7-Het_mobiele_nummer_is_niet_geregistreerd_in_MCCS" type="MCL_MBIA_FES_Message" minOccurs="0"/>
			<xs:element name="Error_8-Het_mobiele_nummer_hoort_niet_bij_deze_Service_Provider" type="MCL_MBIA_FES_Message" minOccurs="0"/>
			<xs:element name="Error_9-Het_mobiele_nummer_hoort_niet_bij_deze_klant" type="MCL_MBIA_FES_Message" minOccurs="0"/>
			<xs:element name="Error_10-Het_mobiele_nummer_is_reeds_geregistreerd_bij_de_GRIPdienst" type="MCL_MBIA_FES_Message" minOccurs="0"/>
			<xs:element name="Error_11-Het_mobiele_nummer_is_niet_correct_geregistreerd__Neem_contact_op_met_KMC" type="MCL_MBIA_FES_Message" minOccurs="0"/>
			<xs:element name="Error_12-Het_mobiele_nummer_is_niet_geregistreerd_bij_de_GRIPdienst" type="MCL_MBIA_FES_Message" minOccurs="0"/>
			<xs:element name="Error_13-De_schakeltijden_voor_toegestane_nummerslijsten_zijn_niet_uniek" type="MCL_MBIA_FES_Message" minOccurs="0"/>
			<xs:element name="Error_14-Het_PABXAccessType_en_het_ConnectionType_conflicteren" type="MCL_MBIA_FES_Message" minOccurs="0"/>
			<xs:element name="Error_15-Ongeldige_VBOV-waarde_in_vergelijking_met_de_VBOV_in_MCCS" type="MCL_MBIA_FES_Message" minOccurs="0"/>
			<xs:element name="Error_21-Het_interne_nummer_is_reeds_in_gebruik" type="MCL_MBIA_FES_Message" minOccurs="0"/>
			<xs:element name="Error_22-Het_interne_nummer_past_niet_binnen_het_PABX_nummerplan" type="MCL_MBIA_FES_Message" minOccurs="0"/>
			<xs:element name="Error_41-Onbekende_GRIPGebruikersgroep" type="MCL_MBIA_FES_Message" minOccurs="0"/>
			<xs:element name="Error_61-Onbekend_GripContract" type="MCL_MBIA_FES_Message" minOccurs="0"/>
			<xs:element name="Error_99-Er_is_een_fout_opgetreden_neem_contact_op_met_KMC" type="MCL_MBIA_FES_Message" minOccurs="0"/>
			<!-- Messages -->
		</xs:choice>
	</xs:complexType>
</xs:schema>
