GenericSOAPGateway/XSDSchemas/UtilityServices/Imported/0393_ConvertKas2PhoneNumber_1.0_Request_EAI_BUS_SIDE.xsd

<?xml version = "1.0" encoding = "utf-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<schema xmlns = "http://www.w3.org/2001/XMLSchema"
	 targetNamespace = "http://xmlns.kpn.com/EAI/fixed/0393_ConvertKas2PhoneNumber/1.0/Request"
	 xmlns:tns = "http://xmlns.kpn.com/EAI/fixed/0393_ConvertKas2PhoneNumber/1.0/Request"
	 xmlns:xs = "http://www.w3.org/2001/XMLSchema">
	<element name = "BODY">
		<annotation>
			<documentation>This is the BODY object for KPN EAI service number 0393 - ConvertKas2PhoneNumber version 1.0 Request message.</documentation>
			<documentation>Automatically generated schema for service:'ConvertKas2PhoneNumber', version:'1.0'</documentation>
			<documentation>Generated on 2008-02-19 14:44:40Z</documentation>
			<documentation>Service paradigm is intended to be Request/Response</documentation>
			<documentation>Service ID is:'0393'</documentation>
			<documentation>The body must always have MinOccurs=0 and MaxOccurs=1, by definition of KPN EAI AG. (For request messages this has no apparent benefit)</documentation>
			<documentation>KPN EAI message body class.</documentation>
			<documentation>Artificial sequence to separate.</documentation>
		</annotation>
		<complexType>
			<sequence>
				<element name = "KAS_NUMBER" minOccurs = "0">
					<simpleType>
						<restriction base = "string">
							<length value = "11"/>
							<pattern value = "\d{11}"/>
						</restriction>
					</simpleType>
				</element>
				<element name = "PHONE_NUMBER_10" minOccurs = "0">
					<simpleType>
						<restriction base = "string">
							<length value = "10"/>
							<pattern value = "\d{10}"/>
						</restriction>
					</simpleType>
				</element>
			</sequence>
		</complexType>
	</element>
</schema>