EDTAdapter/XSDSchemas/EDTAdapter/Common/IncidentProgressReport.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.kpn.com/fixed/EDTAdapter/common/IncidentProgressReport.xsd"
	 targetNamespace = "http://xmlns.kpn.com/fixed/EDTAdapter/common/IncidentProgressReport.xsd"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified">
	<xsd:complexType name = "IncidentProgressReport">
		<xsd:sequence>
			<xsd:element name = "CUSTOMER_INCIDENT_REPORT_INITIATION" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "CUSTOMER_SERVICE_INCIDENT_REFERENCE_NUMBER" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "CUSTOMER_SERVICE_INCIDENT_REPORT_IDENTIFIER" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "MANAGER_ORGANIZATION" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "PROGRESS_TYPE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "TPE_TYPE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "START_TIME" type = "xsd:dateTime" minOccurs = "0"/>
			<xsd:element name = "END_TIME" type = "xsd:dateTime" minOccurs = "0"/>
			<xsd:element name = "MANAGER_CONTACT_PERSON" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "MANAGER_CONTACT_PERSON_TELEPHONE_NUMBER" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "STATE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "NOTE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "TYPE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "DESCRIPTION" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "BUSINESS_TO_BUSINESS_ORGANIZATION" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "TROUBLE_REPORT_ID" type = "xsd:string" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>