EDTAdapter/XSDSchemas/EDTAdapter/Common/ManagedObject.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.kpn.com/fixed/EDTAdapter/common/ManagedObject.xsd"
	 targetNamespace = "http://xmlns.kpn.com/fixed/EDTAdapter/common/ManagedObject.xsd"
	 xmlns:Mor1.xsd = "http://xmlns.kpn.com/fixed/EDTAdapter/common/Mor1.xsd"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 xmlns:PropertyAddress.xsd = "http://xmlns.kpn.com/fixed/EDTAdapter/common/PropertyAddress.xsd"
	 elementFormDefault = "qualified">
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/EDTAdapter/common/Mor1.xsd" schemaLocation = "../Common/Mor1.xsd"/>
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/EDTAdapter/common/PropertyAddress.xsd" schemaLocation = "PropertyAddress.xsd"/>
	<xsd:complexType name = "ManagedObject">
		<xsd:sequence>
			<xsd:element name = "ORDER" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "IN_TROUBLE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "MANAGED_OBJECT_INSTANCE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "MANAGED_OBJECT_CLASS" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "MO_AFFECTED_TYPE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "PROPERTY_ADDRESS" type = "PropertyAddress.xsd:PropertyAddress" minOccurs = "0"/>
			<xsd:element name = "MOR1" type = "Mor1.xsd:MOR1" minOccurs = "0" maxOccurs = "unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>