EDTAdapter/XSDSchemas/EDTAdapter/Common/Note.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.example.com/unique/default/namespace/1093445296802"
	 targetNamespace = "http://xmlns.example.com/unique/default/namespace/1093445296802"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified"
	 attributeFormDefault = "qualified">
	<xsd:complexType name = "Note">
		<xsd:sequence>
			<xsd:element name = "INDEX" type = "xsd:integer" minOccurs = "0"/>
			<xsd:element name = "NOTEPAD_ID" type = "xsd:string"/>
			<xsd:element name = "NOTEPAD_KEY_TYPE" type = "xsd:integer"/>
			<xsd:element name = "CREATION_DATETIME" type = "xsd:dateTime" minOccurs = "0"/>
			<xsd:element name = "DELETION_DATETIME" type = "xsd:dateTime" minOccurs = "0"/>
			<xsd:element name = "PHONE_NUMBER" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "MM007_PRODUCT_ID" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "STREET_NAME" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "CITY_NAME" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "DUTCH_POSTCODE_NUMBERS" type = "xsd:integer" minOccurs = "0"/>
			<xsd:element name = "DUTCH_POSTCODE_LETTERS" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "PHONE_NUMBER_RANGE_START" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "PHONE_NUMBER_RANGE_END" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "NOTEPAD_TEXT_1" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "NOTEPAD_TEXT_2" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "NOTEPAD_TEXT_3" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "NOTEPAD_TEXT_4" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "EMPLOYEE_LOGIN_NAME" type = "xsd:string" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>