EDTAdapter/XSDSchemas/EDTAdapter/Common/SupportedService.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.kpn.com/fixed/EDTAdapter/common/SupportedService.xsd"
	 targetNamespace = "http://xmlns.kpn.com/fixed/EDTAdapter/common/SupportedService.xsd"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 xmlns:PropertyAddress.xsd = "http://xmlns.kpn.com/fixed/common/PropertyAddress.xsd"
	 elementFormDefault = "qualified">
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/common/PropertyAddress.xsd" schemaLocation = "../../Common/PropertyAddress.xsd"/>
	<xsd:complexType name = "SupportedService">
		<xsd:sequence>
			<xsd:element name = "SUPPORTED_SERVICE_BACKUP" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "SUPPORTED_SERVICE_GRAPHICAL_REPRESENTATION" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "SUPPORTED_SERVICE_CLASS" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "SUPPORTED_SERVICE_INSTANCE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "PROPERTY_ADDRESS" type = "PropertyAddress.xsd:PropertyAddress" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>