EDTAdapter/XSDSchemas/EDTAdapter/Common/TroubleReport.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.kpn.com/fixed/EDTAdapter/common/TroubleReport.xsd"
	 targetNamespace = "http://xmlns.kpn.com/fixed/EDTAdapter/common/TroubleReport.xsd"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified">
	<xsd:complexType name = "TroubleReport">
		<xsd:sequence>
			<xsd:element name = "CUSTOMER_REFERENCE_NUMBER" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "CUSTOMER_SERVICE_INCIDENT_REFERENCE_NUMBER" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "CUSTOMER_SERVICE_INCIDENT_REPORT_INITIATION" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "ANALYSIS_INFORMATION" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "CUSTOMER_INCIDENT_REPORT_ID" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "PERCEIVED_TROUBLE_SEVERITY" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "SLA_CLEARING_TIME" type = "xsd:dateTime" minOccurs = "0"/>
			<xsd:element name = "TROUBLE_DESCRIPTION_LONG" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "TROUBLE_DESCRIPTION_SHORT" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "TROUBLE_DETECTION_DATETIME" type = "xsd:dateTime" minOccurs = "0"/>
			<xsd:element name = "TROUBLE_REPORT_ID" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "TROUBLE_TYPE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "BUSINESS_TO_BUSINESS_ORGANIZATION" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "MANAGER_CONTACT_PERSON_NAME" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "MANAGER_CONTACT_PERSON_EMAIL" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "MANAGER_CONTACT_PERSON_PHONE_NUMBER" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "MANAGER_ORGANIZATION" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "EVENT_TIME" type = "xsd:dateTime" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>