EDTAdapter/XSDSchemas/EnginAdapter/Common/Agency.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.example.com/unique/default/namespace/1086802629958"
	 targetNamespace = "http://xmlns.example.com/unique/default/namespace/1086802629958"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema">
	<xsd:complexType name = "Agency">
		<xsd:sequence>
			<xsd:element name = "MM007_RESEARCH_DEPARTMENT_CODE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "MM007_RESEARCH_EMPLOYEE_CODE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "MM007_RESEARCH_AGENCY_CODE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "APPOINT_REQUIRED" type = "xsd:string" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>