EDTAdapter/XSDSchemas/EnginAdapter/Common/CalendarDay.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.example.com/unique/default/namespace/1086802538887"
	 targetNamespace = "http://xmlns.example.com/unique/default/namespace/1086802538887"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 xmlns:ServiceVisitList.xsd = "http://xmlns.example.com/unique/default/namespace/1086802541771">
	<xsd:import namespace = "http://xmlns.example.com/unique/default/namespace/1086802541771" schemaLocation = "ServiceVisitList.xsd"/>
	<xsd:complexType name = "CalendarDay">
		<xsd:sequence>
			<xsd:element name = "DATE" type = "xsd:date" minOccurs = "0"/>
			<xsd:element name = "PARTS_OF_DAY_COUNT" type = "xsd:int" minOccurs = "0"/>
			<xsd:element name = "SERVICE_VISIT_LIST" type = "ServiceVisitList.xsd:ServiceVisitList" minOccurs = "0" maxOccurs = "unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>