EDTAdapter/XSDSchemas/EnginAdapter/Common/HDR-SW-0101.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.kpn.com/fixed/ASTRIDAdapter/common/HDR-SW-0101.xsd"
	 targetNamespace = "http://xmlns.kpn.com/fixed/ASTRIDAdapter/common/HDR-SW-0101.xsd"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified">
	<xsd:complexType name = "HDR-SW-0101">
		<xsd:sequence>
			<xsd:element name = "AFZENDER_APPLICATIE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "AFZENDER_GEBRUIKER" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "ONTVANGER_APPLICATIE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "BERICHT_TYPE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "FUNCTION_TYPE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "BERICHT_VERSIE" type = "xsd:integer" minOccurs = "0"/>
			<xsd:element name = "TRANSACTIE_ID" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "DATUM_TIJD" type = "xsd:dateTime" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>