EDTAdapter/XSDSchemas/EnginAdapter/Common/KLACHT_S-0102.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.kpn.com/fixed/ASTRIDAdapter/common/KLACHT_S-0102.xsd"
	 targetNamespace = "http://xmlns.kpn.com/fixed/ASTRIDAdapter/common/KLACHT_S-0102.xsd"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified">
	<xsd:complexType name = "KLACHT_S-0102">
		<xsd:sequence>
			<xsd:element name = "PRODUCTSOORT_CODE" type = "xsd:integer" minOccurs = "0"/>
			<xsd:element name = "PRODUCTSOORT_OMSCHRIJVING" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "RAPPORTAGE_CODE" type = "xsd:integer" minOccurs = "0"/>
			<xsd:element name = "RAPPORTAGE_OMSCHRIJVING" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "KLACHT_GROEP" type = "xsd:integer" minOccurs = "0"/>
			<xsd:element name = "KLACHT_NUMMER" type = "xsd:integer" minOccurs = "0"/>
			<xsd:element name = "KLACHT_OMSCHRIJVING" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "KLACHT_TEKST" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "URGENTIE_DOOR_KLANT_AANGEGEVEN_CODE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "URGENTIE_DOOR_KLANT_AANGEGEVEN_OMSCHRIJVING" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "BIJZONDERHEDEN" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "KLACHT_1E_PRODUCTSOORT_CODE" type = "xsd:integer" minOccurs = "0"/>
			<xsd:element name = "KLACHT_1E_PRODUCTSOORT_OMSCHRIJVING" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "PRODUCT_CATEGORIE_OMSCHRIJVING" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "HERHAALSTORING" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "BUITEN_NORM_PLAN_KAL" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "BUITEN_NORM_VERZOEK_KLANT" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "FORMULE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "KOSTEN_AKKOORD_" type = "xsd:string" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>