EDTAdapter/XSDSchemas/EnginAdapter/Common/KLANT_S-0100.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.kpn.com/fixed/ASTRIDAdapter/common/KLANT_S-0100.xsd"
	 targetNamespace = "http://xmlns.kpn.com/fixed/ASTRIDAdapter/common/KLANT_S-0100.xsd"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified">
	<xsd:complexType name = "KLANT_S-0100">
		<xsd:sequence>
			<xsd:element name = "KLANTNAAM" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "STRAATNAAM" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "HUISNUMMER_NUMERIEK" type = "xsd:integer" minOccurs = "0"/>
			<xsd:element name = "HUISNUMMER_ALFANUMERIEK" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "POSTCODE_NUMERIEK" type = "xsd:integer" minOccurs = "0"/>
			<xsd:element name = "POSTCODE_ALFANUMERIEK" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "PLAATSNAAM" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "PLAATSNAAM_CODE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "CORRESPONDENTIE_NAAM" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "CORRESPONDENTIE_TELEFOONNR" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "CENTRALE_KLANT_REGISTRATIE_NR" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "RECHTSVORM_CODE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "TELECOM_REGIO_CODE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "TELECOM_DISTRICT_CODE" type = "xsd:string" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>