EDTAdapter/XSDSchemas/EnginAdapter/Common/MELD_S-0100.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.kpn.com/fixed/ASTRIDAdapter/common/MELD_S-0100.xsd"
	 targetNamespace = "http://xmlns.kpn.com/fixed/ASTRIDAdapter/common/MELD_S-0100.xsd"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified">
	<xsd:complexType name = "MELD_S-0100">
		<xsd:sequence>
			<xsd:element name = "KLANTORDER_NUMMER" type = "xsd:integer" minOccurs = "0"/>
			<xsd:element name = "STATUS" type = "xsd:integer" minOccurs = "0"/>
			<xsd:element name = "STATUS_OMSCHRIJVING" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "DATUM_WAAROP_STATUS_VERKREGEN_IS" type = "xsd:dateTime" minOccurs = "0"/>
			<xsd:element name = "AANNAME_DATUM" type = "xsd:dateTime" minOccurs = "0"/>
			<xsd:element name = "IDENTIFICATIE_VAN_DE_MELDING" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "LEIDENDE_SERVICE_ID" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "TELEFOONNUMMER" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "TYPE_PRODUCT_ID" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "TYPE_PRODUCT_ID_OMSCHRIJVING" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "PRODUCT_ID" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "ONDERNUMMER" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "EXTERN_KLANTORDER_NUMMER" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "ORDER_TYPE_AFKORTING" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "NAAM_VAN_GEBRUIKER_DIE_KLACHT_AANNEEMT" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "VORIGE_STATUS" type = "xsd:integer" minOccurs = "0"/>
			<xsd:element name = "VORIGE_STATUS_OMSCHRIJVING" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "INDICATIE_OF_HET_EEN_BSD_MELDING_BETREFT" type = "xsd:string" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>