EDTAdapter/XSDSchemas/EnginAdapter/Common/TECH_S-0100.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.kpn.com/fixed/ASTRIDAdapter/common/TECH_S-0100.xsd"
	 targetNamespace = "http://xmlns.kpn.com/fixed/ASTRIDAdapter/common/TECH_S-0100.xsd"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified">
	<xsd:complexType name = "TECH_S-0100">
		<xsd:sequence>
			<xsd:element name = "BRONSYSTEEM_ORDER_REFERENTIE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "DOELSYSTEEM_ORDER_REFERENTIE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "AFHANDELEND_SYSTEEM" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "ABONNEMENT_OP_VOORTGANGSINFORMATIE" type = "xsd:string" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>