EDTAdapter/XSDSchemas/EnginAdapter/Common/TroubleReport.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.example.com/unique/default/namespace/1087368660275"
	 targetNamespace = "http://xmlns.example.com/unique/default/namespace/1087368660275"
	 xmlns:IdentifiedCustomer.xsd = "http://xmlns.example.com/unique/default/namespace/1087727306677"
	 xmlns:ComplaintCategory.xsd = "http://xmlns.example.com/unique/default/namespace/1087726986577"
	 xmlns:ServiceVisit.xsd = "http://xmlns.example.com/unique/default/namespace/1087731458057"
	 xmlns:ContactPerson.xsd = "http://xmlns.example.com/unique/default/namespace/1087727167217"
	 xmlns:ServiceFormula.xsd = "http://xmlns.example.com/unique/default/namespace/1086802581528"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 xmlns:WorkOrder.xsd = "http://xmlns.example.com/unique/default/namespace/1087731847987"
	 elementFormDefault = "qualified">
	<xsd:import namespace = "http://xmlns.example.com/unique/default/namespace/1087727306677" schemaLocation = "IdentifiedCustomer.xsd"/>
	<xsd:import namespace = "http://xmlns.example.com/unique/default/namespace/1087726986577" schemaLocation = "ComplaintCategory.xsd"/>
	<xsd:import namespace = "http://xmlns.example.com/unique/default/namespace/1087731458057" schemaLocation = "ServiceVisit.xsd"/>
	<xsd:import namespace = "http://xmlns.example.com/unique/default/namespace/1087727167217" schemaLocation = "ContactPerson.xsd"/>
	<xsd:import namespace = "http://xmlns.example.com/unique/default/namespace/1086802581528" schemaLocation = "ServiceFormula.xsd"/>
	<xsd:import namespace = "http://xmlns.example.com/unique/default/namespace/1087731847987" schemaLocation = "WorkOrder.xsd"/>
	<xsd:complexType name = "TroubleReport">
		<xsd:sequence>
			<xsd:element name = "ACCEPT_DATE_TIME" type = "xsd:dateTime" minOccurs = "0"/>
			<xsd:element name = "ANALYSIS_INFORMATION" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "ANALYSIS_INFORMATION_SUMMARY" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "ANALYST_ID" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "APPOINTMENT_ENGINEER_AREA" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "ASSIGNED_DATE_TIME" type = "xsd:dateTime" minOccurs = "0"/>
			<xsd:element name = "CLOSED_DATE" type = "xsd:dateTime" minOccurs = "0"/>
			<xsd:element name = "CLOSURE_REPORT_CODE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "CREATED_ON_DATE" type = "xsd:dateTime" minOccurs = "0"/>
			<xsd:element name = "CUSTOMER_ACK_COMPLETE_DATETIME" type = "xsd:dateTime" minOccurs = "0"/>
			<xsd:element name = "EMPLOYEE_LOGIN_NAME" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "EXTERNAL_CUSTOMER_REF_NO" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "FORMULA_ID" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "ISDN_SUB_NUMBER" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "MM007C_TROUBLE_URGENCY_FLAG" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "MM007C_TROUBLE_URGENCY_ID" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "MM007R_PRODUCT_TYPE_DESCRIPTION" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "MM007_ANALYST_TEXT" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "MM007_APPOINTMENT_DT" type = "xsd:dateTime" minOccurs = "0"/>
			<xsd:element name = "MM007_APPOINTMENT_ORG_TEXT" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "MM007_BAAN_CONTRACT_ID" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "MM007_CONTRACT_BEGIN_DT" type = "xsd:dateTime" minOccurs = "0"/>
			<xsd:element name = "MM007_CONTRACT_CODE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "MM007_CONTRACT_HALFHOUR_IND" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "MM007_CUSTOMER_ACCEPTS_COSTS" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "MM007_CUSTOMER_CONTRACT_COUNT" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "MM007_DISPATCH_SYSTEM" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "MM007_ENGINEER_WILL_VISIT_CUSTOMER" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "MM007_ORDER_TYPE_ABBREVIATION" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "MM007_OWNED_TROUBLE_REPORT" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "MM007_PART_OF_DAY_BEGIN_TM" type = "xsd:time" minOccurs = "0"/>
			<xsd:element name = "MM007_PART_OF_DAY_CODE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "MM007_PART_OF_DAY_END_TM" type = "xsd:time" minOccurs = "0"/>
			<xsd:element name = "MM007_PART_OF_DAY_ORG_CODE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "MM007_PRODUCT_CATEGORY_ID" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "MM007_PRODUCT_ID" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "MM007_PRODUCT_TYPE_CODE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "MM007_PRODUCT_TYPE_CODE_1" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "MM007_PRODUCT_TYPE_DESCRIPTION" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "MM007_PRODUCT_TYPE_DESCRIPTION_1" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "MM007_PRODUCT_TYPE_ID" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "MM007_REGION_ID_SEQ_NUMBER" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "MM007_REPAIR_REMARKS" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "MM007_REPORT_KEY" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "MM007_RESEARCH_AREA" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "MM007_RESEARCH_DEPARTMENT_CODE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "MM007_RESEARCH_EMPLOYEE_CODE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "MM007_ROUTED_TO" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "MM007_SERVICE_HOURS_CODE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "MM007_SERVICE_ID" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "MM007_SERVICE_PHONE_NUMBER" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "MM007_SERVICE_RESPONSE_WINDOW" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "MM007_SOURCE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "MM007_SPECIFY_DEFAULT_ANALIST" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "MM007_STRATA_NAME" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "MM007_STRATA_SEQ_NUMBER" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "MM007_SUBSCRIBED_TO_NOTIFICATIONS" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "MM007_TARGET" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "MM007_TROUBLE_CAUSE_CODE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "MM007_TROUBLE_URGENCY_FLAG" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "MM007_TROUBLE_URGENCY_ID" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "MM007_VISIT_IND_1" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "MM007_WORK_AREA_CODE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "NOTIFICATION_COMPLETE_DATETIME" type = "xsd:dateTime" minOccurs = "0"/>
			<xsd:element name = "PRV_TROUBLE_STATUS_CODE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "PRV_TROUBLE_STATUS_DESCRIPTION" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "REPAIR_DEADLINE_DATE_TIME" type = "xsd:dateTime" minOccurs = "0"/>
			<xsd:element name = "REPAIR_REMARKS" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "REPEATED_TROUBLE_FLAG" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "REPORT_DESCR" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "RESEARCH_DEPARTMENT_CODE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "RESEARCH_EMPLOYEE_CODE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "SLA_CLEARING_DATE_TIME" type = "xsd:dateTime" minOccurs = "0"/>
			<xsd:element name = "SLA_CLEARING_DATE_TIME_1" type = "xsd:dateTime" minOccurs = "0"/>
			<xsd:element name = "STRATA_TROUBLE_CLOSURE_METHOD" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "TROUBLE_CAUSE_CODE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "TROUBLE_CAUSE_DESCRIPTION" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "TROUBLE_CLOSURE_METHOD" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "TROUBLE_REPORT_ID" type = "xsd:integer" minOccurs = "0"/>
			<xsd:element name = "TROUBLE_RESOLUTION_CODE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "TROUBLE_STATUS_CODE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "TROUBLE_STATUS_DESCRIPTION" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "SERVICE_FORMULA" type = "ServiceFormula.xsd:ServiceFormula" minOccurs = "0" maxOccurs = "unbounded"/>
			<xsd:element name = "CONTACT_PERSON" type = "ContactPerson.xsd:ContactPerson" minOccurs = "0"/>
			<xsd:element name = "COMPLAINT_CATEGORY" type = "ComplaintCategory.xsd:ComplaintCategory" minOccurs = "0"/>
			<xsd:element name = "IDENTIFIED_CUSTOMER" type = "IdentifiedCustomer.xsd:IdentifiedCustomer" minOccurs = "0"/>
			<xsd:element name = "SERVICE_VISIT" type = "ServiceVisit.xsd:ServiceVisit" minOccurs = "0"/>
			<xsd:element name = "WORK_ORDER" type = "WorkOrder.xsd:WorkOrder" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>