EDTAdapter/XSDSchemas/EnginAdapter/Common/VERPL_S-0100.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.kpn.com/fixed/ASTRIDAdapter/common/VERPL_S-0100.xsd"
	 targetNamespace = "http://xmlns.kpn.com/fixed/ASTRIDAdapter/common/VERPL_S-0100.xsd"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified">
	<xsd:complexType name = "VERPL_S-0100">
		<xsd:sequence>
			<xsd:element name = "HERSTEL_TIJDSTIP" type = "xsd:dateTime" minOccurs = "0"/>
			<xsd:element name = "BEREKEND_TIJDSTIP" type = "xsd:dateTime" minOccurs = "0"/>
			<xsd:element name = "CONTRACT_SOORT" type = "xsd:integer" minOccurs = "0"/>
			<xsd:element name = "AFSPRAAK_ORGANISATIE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "AFSPRAAK_ORGANISATIE_OMSCHRIJVING" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "AFSPRAAK_ONDERZOEKER_WERKGEBIED" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "AFSPRAAK_ONDERZOEKER_AFDELING" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "AFSPRAAK_ONDERZOEKER_NUMMER" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "AFSPRAAK_DATUM" type = "xsd:dateTime" minOccurs = "0"/>
			<xsd:element name = "AFSPRAAK_DAGDEEL_CODE" type = "xsd:integer" minOccurs = "0"/>
			<xsd:element name = "AFSPRAAK_DAGDEEL_VAN" type = "xsd:time" minOccurs = "0"/>
			<xsd:element name = "AFSPRAAK_DAGDEEL_TOT" type = "xsd:time" minOccurs = "0"/>
			<xsd:element name = "INDICATIE_WEL_GEEN_BEZOEK_BIJ_AFSPRAAK" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "CONTRACT_WERKTIJD_CODE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "CONTRACT_RESPONSE_UREN" type = "xsd:integer" minOccurs = "0"/>
			<xsd:element name = "CONTRACT_IDENTIFICATIE_NUMMER_PAKKET" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "CONTRACT_HALFUUR_INDICATOR" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "CONTRACT_DATUM_IN_DIENST" type = "xsd:dateTime" minOccurs = "0"/>
			<xsd:element name = "URGENTIE_CODE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "URGENTIE_MAJOR_MINOR_INDICATIE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "KLACHT_INDICATIE_1E_BEZOEK_BIJ_AFSPRAAK" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "KLACHT_1E_ORGANISATIE_CODE_TBV_DDE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "KLACHT_1E_DAGDEEL_CODE" type = "xsd:integer" minOccurs = "0"/>
			<xsd:element name = "KLACHT_1E_DAGDEEL_VAN" type = "xsd:time" minOccurs = "0"/>
			<xsd:element name = "KLACHT_1E_DAGDEEL_TOT" type = "xsd:time" minOccurs = "0"/>
			<xsd:element name = "KLACHT_1E_AFSPRAAK_DATUM" type = "xsd:dateTime" minOccurs = "0"/>
			<xsd:element name = "INDICATIE_AFSPRAAK_BUITEN_NORM" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "AANTAL_CONTRACTEN" type = "xsd:integer" minOccurs = "0"/>
			<xsd:element name = "HERSTELTIJDSTIP_1E" type = "xsd:dateTime" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>