EDTAdapter/XSDSchemas/EnginAdapter/Common/VV_S-0100.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.kpn.com/fixed/ASTRIDAdapter/common/VV_S-0100.xsd"
	 targetNamespace = "http://xmlns.kpn.com/fixed/ASTRIDAdapter/common/VV_S-0100.xsd"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified">
	<xsd:complexType name = "VV_S-0100">
		<xsd:sequence>
			<xsd:element name = "VV_A_ZIJDE_TELEFOONNR" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "VV_A_ZIJDE_NAAM" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "VV_A_ZIJDE_ADRES" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "VV_A_ZIJDE_PLAATS" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "VV_B_ZIJDE_TELEFOONNR" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "VV_B_ZIJDE_NAAM" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "VV_B_ZIJDE_ADRES" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "VV_B_ZIJDE_PLAATS" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "VV_NIPO_TELEFOONNR" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "VV_NIPO_NAAM" type = "xsd:string" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>