EDTAdapter/XSDSchemas/EnginAdapter/Common/WERK_S-0100.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.kpn.com/fixed/ASTRIDAdapter/common/WERK_S-0100.xsd"
	 targetNamespace = "http://xmlns.kpn.com/fixed/ASTRIDAdapter/common/WERK_S-0100.xsd"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified">
	<xsd:complexType name = "WERK_S-0100">
		<xsd:sequence>
			<xsd:element name = "ROUTEREN_NAAR" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "BEPAAL_DEFAULT_ANALIST" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "ANALIST_CODE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "ANALIST_OMSCHRIJVING" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "ONDERZOEKER_WERKGEBIED" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "ONDERZOEKER_AFDELING" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "ONDERZOEKER_NUMMER" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "UITGIFTE_DATUM" type = "xsd:dateTime" minOccurs = "0"/>
			<xsd:element name = "ANALYSE_EINDDATUM" type = "xsd:dateTime" minOccurs = "0"/>
			<xsd:element name = "DATUM_AANVANG_WERKZAAMHEDEN" type = "xsd:dateTime" minOccurs = "0"/>
			<xsd:element name = "DATUM_EINDE_WERKZAAMHEDEN" type = "xsd:dateTime" minOccurs = "0"/>
			<xsd:element name = "DATUM_TERUGMELDEN_KLACHT" type = "xsd:dateTime" minOccurs = "0"/>
			<xsd:element name = "DATUM_GEREEDMELDEN_KLACHT" type = "xsd:dateTime" minOccurs = "0"/>
			<xsd:element name = "AARD_VAN_STORING_CODE" type = "xsd:integer" minOccurs = "0"/>
			<xsd:element name = "AARD_VAN_STORING_OMSCHRIJVING" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "GEREEDMELDING_WIJZE" type = "xsd:string" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>