GenericSOAPGateway/XSDSchemas/StreamServeAdapter/Request/SendNotificationRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- edited with XMLSpy v2006 sp2 U (http://www.altova.com) by Atos Origin (Atos Origin Nederland B.V.) -->
<xs:schema xmlns:tns="http://xmlns.kpn.com/fixed/DocumentServices/Request/SendNotification.xsd"
	 xmlns:Base.xsd="http://xmlns.kpn.com/common/cdm/Base.xsd"
	 xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 targetNamespace="http://xmlns.kpn.com/fixed/DocumentServices/Request/SendNotification.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:import namespace="http://xmlns.kpn.com/common/cdm/Base.xsd" schemaLocation="../../Common/Base.xsd"/>
	<xs:element name="SendNotification">
		<xs:annotation>
			<xs:documentation>Comment describing your root element</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="Base.xsd:Base">
					<xs:sequence>
						<xs:element name="REQUESTOR">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="APPLICATION_ID" type="xs:string"/>
									<xs:element name="USERNAME" type="xs:string"/>
									<xs:element name="PASSWORD" type="xs:string" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="DELIVERY" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="DESTINATION">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="COMPANY_NAME" type="xs:string" minOccurs="0"/>
												<xs:element name="ARCHIVE" type="xs:boolean" minOccurs="0"/>
												<xs:element name="CUSTOMER_ID">
													<xs:complexType>
														<xs:sequence>
															<xs:element name="ID_CKR" minOccurs="0">
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:length value="8"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:element>
															<xs:element name="ID_MCCS" type="xs:string" minOccurs="0"/>
															<xs:element name="ID_ACCOUNT" type="xs:string" minOccurs="0"/>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
												<xs:element name="CONTACT_NAME">
													<xs:complexType>
														<xs:sequence>
															<xs:element name="ARISTOCRATIC_TITLE" type="xs:string" minOccurs="0"/>
															<xs:element name="ACADEMIC_TITLE" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
															<xs:element name="CLERICAL_TITLE" type="xs:string" minOccurs="0"/>
															<xs:element name="FIRST_NAME" type="xs:string" minOccurs="0"/>
															<xs:element name="INITIALS" type="xs:string" minOccurs="0"/>
															<xs:element name="FAMILY_NAME_PREFIX" type="xs:string" minOccurs="0"/>
															<xs:element name="FAMILY_NAME" type="xs:string"/>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
												<xs:element name="SURFACE_ADDRESS" minOccurs="0">
													<xs:complexType>
														<xs:sequence>
															<xs:element name="LOGICAL_ADDRESS" minOccurs="0">
																<xs:complexType>
																	<xs:sequence>
																		<xs:element name="POBOX" type="xs:string"/>
																		<xs:element name="DUTCH_POSTCODE" minOccurs="0">
																			<xs:simpleType>
																				<xs:restriction base="xs:string">
																					<xs:length value="6"/>
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:element>
																		<xs:element name="CITY_NAME" type="xs:string"/>
																		<xs:element name="CITY_CODE" type="xs:string" minOccurs="0"/>
																		<xs:element name="COUNTRY" type="xs:string" minOccurs="0"/>
																		<xs:element name="ZIPCODE_BEFORE" type="xs:string" minOccurs="0"/>
																		<xs:element name="ZIPCODE_AFTER" type="xs:string" minOccurs="0"/>
																	</xs:sequence>
																</xs:complexType>
															</xs:element>
															<xs:element name="PROPERTY_ADDRESS" minOccurs="0">
																<xs:complexType>
																	<xs:sequence>
																		<xs:element name="STREET_NAME" type="xs:string"/>
																		<xs:element name="HOUSE_NUMBER">
																			<xs:simpleType>
																				<xs:restriction base="xs:string">
																					<xs:maxLength value="5"/>
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:element>
																		<xs:element name="HOUSE_NUMBER_EXTENSION" minOccurs="0">
																			<xs:simpleType>
																				<xs:restriction base="xs:string">
																					<xs:maxLength value="6"/>
																					<xs:minLength value="0"/>
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:element>
																		<xs:element name="HOUSEBOAT_REFERENCE" type="xs:string" minOccurs="0"/>
																		<xs:element name="TRAILER_REFERENCE" type="xs:string" minOccurs="0"/>
																		<xs:element name="LOCATION_DESCRIPTION" type="xs:string" minOccurs="0"/>
																		<xs:element name="DUTCH_POSTCODE" minOccurs="0">
																			<xs:simpleType>
																				<xs:restriction base="xs:string">
																					<xs:length value="6"/>
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:element>
																		<xs:element name="CITY_NAME" type="xs:string"/>
																		<xs:element name="CITY_CODE" type="xs:string" minOccurs="0"/>
																		<xs:element name="COUNTRY" type="xs:string" minOccurs="0"/>
																		<xs:element name="ZIPCODE_BEFORE" type="xs:string" minOccurs="0"/>
																		<xs:element name="ZIPCODE_AFTER" type="xs:string" minOccurs="0"/>
																	</xs:sequence>
																</xs:complexType>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
												<xs:element name="EMAIL_DELIVERY" minOccurs="0">
													<xs:complexType>
														<xs:sequence>
															<xs:element name="REPLY_ALLOWED" type="xs:boolean"/>
															<xs:element name="IMPORTANCE" type="xs:string" minOccurs="0"/>
															<xs:element name="TO" minOccurs="0" maxOccurs="unbounded">
																<xs:complexType>
																	<xs:sequence>
																		<xs:element name="DISPLAY_NAME" type="xs:string" minOccurs="0"/>
																		<xs:element name="EMAIL_ADDRESS">
																			<xs:simpleType>
																				<xs:restriction base="xs:string">
																					<xs:maxLength value="320"/>
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:element>
																	</xs:sequence>
																</xs:complexType>
															</xs:element>
															<xs:element name="CC" minOccurs="0" maxOccurs="unbounded">
																<xs:complexType>
																	<xs:sequence>
																		<xs:element name="DISPLAY_NAME" type="xs:string" minOccurs="0"/>
																		<xs:element name="EMAIL_ADDRESS">
																			<xs:simpleType>
																				<xs:restriction base="xs:string">
																					<xs:maxLength value="320"/>
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:element>
																	</xs:sequence>
																</xs:complexType>
															</xs:element>
															<xs:element name="BCC" minOccurs="0" maxOccurs="unbounded">
																<xs:complexType>
																	<xs:sequence>
																		<xs:element name="DISPLAY_NAME" type="xs:string" minOccurs="0"/>
																		<xs:element name="EMAIL_ADDRESS">
																			<xs:simpleType>
																				<xs:restriction base="xs:string">
																					<xs:maxLength value="320"/>
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:element>
																	</xs:sequence>
																</xs:complexType>
															</xs:element>
															<xs:element name="FROM" minOccurs="0">
																<xs:complexType>
																	<xs:sequence>
																		<xs:element name="DISPLAY_NAME" type="xs:string" minOccurs="0"/>
																		<xs:element name="EMAIL_ADDRESS">
																			<xs:simpleType>
																				<xs:restriction base="xs:string">
																					<xs:maxLength value="320"/>
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:element>
																	</xs:sequence>
																</xs:complexType>
															</xs:element>
															<xs:element name="REPLY_TO" minOccurs="0">
																<xs:complexType>
																	<xs:sequence>
																		<xs:element name="DISPLAY_NAME" type="xs:string" minOccurs="0"/>
																		<xs:element name="EMAIL_ADDRESS">
																			<xs:simpleType>
																				<xs:restriction base="xs:string">
																					<xs:maxLength value="320"/>
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:element>
																	</xs:sequence>
																</xs:complexType>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="DOCUMENT_SPECIFICATION">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="EVENT_ID" type="xs:string" minOccurs="0"/>
												<xs:element name="EVENT_NAME" type="xs:string" minOccurs="0"/>
												<xs:element name="DOCUMENT_TYPE" type="xs:string"/>
												<xs:element name="MARKET_SEGMENT" type="xs:string" minOccurs="0"/>
												<xs:element name="PRODUCT_ID" type="xs:string" minOccurs="0"/>
												<xs:element name="PRODUCT_GROUP" type="xs:string" minOccurs="0"/>
												<xs:element name="BRAND_ID" type="xs:string" minOccurs="0"/>
												<xs:element name="BRAND_NAME" type="xs:string" minOccurs="0"/>
												<xs:element name="SUBJECT" type="xs:string"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="PROPERTIES">
							<xs:complexType>
								<xs:sequence>
									<xs:any namespace="##any" processContents="skip" maxOccurs="unbounded"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="CONTENT">
							<xs:complexType>
								<xs:sequence>
									<xs:any namespace="##any" processContents="skip" maxOccurs="unbounded"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
</xs:schema>