Clever/CLEverSource/CLEverCore - Oracle/Processes/FrontendServices/Configuration/Policy/Policy.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://www.tibco.com/CLEver/Configuration/Policy" xmlns:ns2="http://www.tibco.com/CLEver/FrontendServices/Configuration/Policy/PolicyInterfaceSpecs" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.tibco.com/CLEver/Configuration/Policy" xmlns:ns3="http://www.tibco.com/CLEver/InternalException">
    <import location="PolicyInterfaceSpecs.xsd" namespace="http://www.tibco.com/CLEver/FrontendServices/Configuration/Policy/PolicyInterfaceSpecs"/>
	<import location="../../../../Shared Resources/Schema Definitions/CLEver/Error.xsd" namespace="http://www.tibco.com/CLEver/InternalException"/>
    <message name="Create_Policy_Input">
        <part element="ns2:Create_Policy_Input" name="part1"/>
    </message>
    <message name="Create_Policy_Output">
        <part element="ns2:Create_Policy_Output" name="part1"/>
    </message>
    <message name="Update_Policy_Input">
        <part element="ns2:Update_Policy_Input" name="part1"/>
    </message>
    <message name="Update_Policy_Output">
        <part element="ns2:Update_Policy_Output" name="part1"/>
    </message>
    <message name="Delete_Policy_Input">
        <part element="ns2:Delete_Policy_Input" name="part1"/>
    </message>
    <message name="Delete_Policy_Output">
        <part element="ns2:Delete_Policy_Output" name="part1"/>
    </message>
    <message name="Retrieve_Policy_Input">
        <part element="ns2:Retrieve_Policy_Input" name="part1"/>
    </message>
    <message name="Retrieve_Policy_Output">
        <part element="ns2:Retrieve_Policy_Output" name="part1"/>
    </message>
    <message name="Retrieve_PolicyNotifcations_Input">
        <part name="part1" element="ns2:Retrieve_PolicyNotifications_Input"/>
    </message>
    <message name="Retrieve_PolicyNotifcations_Output">
        <part name="part1" element="ns2:Retrieve_PolicyNotifications_Output"/>
    </message>
	    <message name="Exception">
        <part name="part1" element="ns3:ExceptionEnvelope"/>
    </message>
    <portType name="Policy">
        <operation name="Create">
            <input message="ns:Create_Policy_Input"/>
            <output message="ns:Create_Policy_Output"/>
			<fault name="fault1" message="ns:Exception"/>
        </operation>
        <operation name="Update">
            <input message="ns:Update_Policy_Input"/>
            <output message="ns:Update_Policy_Output"/>
			<fault name="fault1" message="ns:Exception"/>
        </operation>
        <operation name="Delete">
            <input message="ns:Delete_Policy_Input"/>
            <output message="ns:Delete_Policy_Output"/>
			<fault name="fault1" message="ns:Exception"/>
        </operation>
        <operation name="Retrieve">
            <input message="ns:Retrieve_Policy_Input"/>
            <output message="ns:Retrieve_Policy_Output"/>
			<fault name="fault1" message="ns:Exception"/>
        </operation>
        <operation name="RetrieveNotifications">
            <input message="ns:Retrieve_PolicyNotifcations_Input"/>
            <output message="ns:Retrieve_PolicyNotifcations_Output"/>
			<fault name="fault1" message="ns:Exception"/>
        </operation>
    </portType>
</definitions>