ASTRIDAdapter/XSDSchemas/NumbesAdapter/Request/GetNumberInfo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 2 U (http://www.xmlspy.com) by a (University of Helsinki) -->
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema targetNamespace="http://xmlns.kpn.com/fixed/NumbesAdapter/Request/GetNumberInfo" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:Base.xsd="http://xmlns.kpn.com/common/cdm/Base.xsd" xmlns="http://xmlns.kpn.com/fixed/NumbesAdapter/Request/GetNumberInfo" elementFormDefault="qualified">
	<xsd:import namespace="http://xmlns.kpn.com/common/cdm/Base.xsd" schemaLocation="../../Common/Base.xsd"/>
	<xsd:element name="GetNumberInfo">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="Base.xsd:Base">
					<xsd:sequence>
						<xsd:element name="TIME_AND_DATE" type="xsd:string" minOccurs="0"/>
						<xsd:element name="NUMBER_SERIE" type="NUMBER_SERIEType"/>
					</xsd:sequence>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="NUMBER_SERIEType">
		<xsd:sequence>
			<xsd:element name="START_OF_SERIE" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
