ASTRIDAdapter/XSDSchemas/KanvasContractAdapter/Common/DpmbsIsdn2Details.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.example.com/unique/default/namespace/1113228290656"
	 targetNamespace = "http://xmlns.example.com/unique/default/namespace/1113228290656"
	 xmlns:PhoneNumber.xsd = "http://xmlns.kpn.com/fixed/common/PhoneNumber.xsd"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified">
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/common/PhoneNumber.xsd" schemaLocation = "../../Common/PhoneNumber.xsd"/>
	<xsd:complexType name = "DpmbsIsdn2Details">
		<xsd:sequence>
			<xsd:element name = "PHONENUMBER_TYPE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "CURRENT_SUBSCRIBER_NUMBER" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "FUTURE_SUBSCRIBER_NUMBER" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "STATUS" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "DMB_LINK_ID" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "TIME_SLOT" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "DLCI_NUMBER" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "TEI_NUMBER" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "TEI_STATUS" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "SERVICE_TYPE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "DPMBS_TYPE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "BD_SEQUENCE_NUMBER" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "BD_GROUP" minOccurs = "0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name = "BD_GROUP_NUMBER" type = "xsd:string"/>
						<xsd:element name = "BD_MEMBER">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name = "BD_MEMBER_NUMBER" type = "xsd:string"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name = "TRUNK" minOccurs = "0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name = "TRUNK_GROUP_ID" type = "xsd:string"/>
						<xsd:element name = "TRUNK_ID" type = "xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>