ASTRIDAdapter/XSDSchemas/KanvasContractAdapter/Common/Location.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.example.com/unique/default/namespace/1111410238843"
	 targetNamespace = "http://xmlns.example.com/unique/default/namespace/1111410238843"
	 xmlns:TrailTerminationPoint.xsd = "http://xmlns.example.com/unique/default/namespace/1111410018625"
	 xmlns:TerminationPoint.xsd = "http://xmlns.example.com/unique/default/namespace/1111408472703"
	 xmlns:Node.xsd = "http://xmlns.example.com/unique/default/namespace/1111409998750"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified">
	<xsd:import namespace = "http://xmlns.example.com/unique/default/namespace/1111410018625" schemaLocation = "TrailTerminationPoint.xsd"/>
	<xsd:import namespace = "http://xmlns.example.com/unique/default/namespace/1111408472703" schemaLocation = "TerminationPoint.xsd"/>
	<xsd:import namespace = "http://xmlns.example.com/unique/default/namespace/1111409998750" schemaLocation = "Node.xsd"/>
	<xsd:complexType name = "Location">
		<xsd:sequence>
			<xsd:element name = "CENTRAL_AREA_CODE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "ROUTING_TYPE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "SERVICE_PROVIDER_SHORT_NAME" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "TRAIL_TERMINATION_POINT" type = "TrailTerminationPoint.xsd:TrailTerminationPoint" minOccurs = "0" maxOccurs = "unbounded"/>
			<xsd:element name = "TERMINATION_POINT" type = "TerminationPoint.xsd:TerminationPoint" minOccurs = "0"/>
			<xsd:element name = "NODE" type = "Node.xsd:Node" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>