ASTRIDAdapter/XSDSchemas/KanvasContractAdapter/Common/Pbx.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.example.com/unique/default/namespace/1113219960156"
	 targetNamespace = "http://xmlns.example.com/unique/default/namespace/1113219960156"
	 xmlns:PbxGroup.xsd = "http://xmlns.example.com/unique/default/namespace/1113220541234"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified">
	<xsd:import namespace = "http://xmlns.example.com/unique/default/namespace/1113220541234" schemaLocation = "PbxGroup.xsd"/>
	<xsd:complexType name = "Pbx">
		<xsd:sequence>
			<xsd:element name = "GROUP_NUMBER" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "NUMBER_OF_PBX_GROUPS" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "NUMBER" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "FACILITY_CODE_OFFSET" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "GROUP_NUMBER_OFFSET" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "USAGE_STATUS" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "USAGE_STATUS_EXTENSION" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "PBX_GROUP" type = "PbxGroup.xsd:PbxGroup" minOccurs = "0" maxOccurs = "unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>