ASTRIDAdapter/XSDSchemas/KanvasContractAdapter/Common/PbxGroup.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.example.com/unique/default/namespace/1113220541234"
	 targetNamespace = "http://xmlns.example.com/unique/default/namespace/1113220541234"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified">
	<xsd:complexType name = "PbxGroup">
		<xsd:sequence>
			<xsd:element name = "NUMBER" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "NUMBER_OFFSET" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "DIRECTION" type = "xsd:string" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>