ASTRIDAdapter/XSDSchemas/KanvasContractAdapter/Common/PbxGroupFacility.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.example.com/unique/default/namespace/1113220623296"
	 targetNamespace = "http://xmlns.example.com/unique/default/namespace/1113220623296"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 xmlns:Pbx.xsd = "http://xmlns.example.com/unique/default/namespace/1113219960156"
	 elementFormDefault = "qualified">
	<xsd:import namespace = "http://xmlns.example.com/unique/default/namespace/1113219960156" schemaLocation = "Pbx.xsd"/>
	<xsd:complexType name = "PbxGroupFacility">
		<xsd:sequence>
			<xsd:element name = "FACILITY_CODE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "DESCRIPTION" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "STATUS" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "PBX" type = "Pbx.xsd:Pbx" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>