ASTRIDAdapter/XSDSchemas/KanvasContractAdapter/Common/PhoneNumberSet.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.example.com/unique/default/namespace/1115625527437"
	 targetNamespace = "http://xmlns.example.com/unique/default/namespace/1115625527437"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 xmlns:PhoneNumberSetField.xsd = "http://xmlns.example.com/unique/default/namespace/1115626142328"
	 elementFormDefault = "qualified">
	<xsd:import namespace = "http://xmlns.example.com/unique/default/namespace/1115626142328" schemaLocation = "PhoneNumberSetField.xsd"/>
	<xsd:complexType name = "PhoneNumberSet">
		<xsd:sequence>
			<xsd:element name = "CURRENT" type = "PhoneNumberSetField.xsd:PhoneNumberSetField" minOccurs = "0"/>
			<xsd:element name = "FUTURE" type = "PhoneNumberSetField.xsd:PhoneNumberSetField" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>