ASTRIDAdapter/XSDSchemas/KanvasContractAdapter/Common/PhysicalPortRange.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.example.com/unique/default/namespace/1115728120000"
	 targetNamespace = "http://xmlns.example.com/unique/default/namespace/1115728120000"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified">
	<xsd:complexType name = "PhysicalPortRange">
		<xsd:sequence>
			<xsd:element name = "PHYSICAL_PORT_ID_BEGIN" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "PHYSICAL_PORT_ID_END" type = "xsd:string" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>