ASTRIDAdapter/XSDSchemas/KanvasContractAdapter/Common/Port.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.example.com/unique/default/namespace/1111411714437"
	 targetNamespace = "http://xmlns.example.com/unique/default/namespace/1111411714437"
	 xmlns:Service.xsd = "http://xmlns.example.com/unique/default/namespace/1115622617765"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 xmlns:PhoneNumberSet.xsd = "http://xmlns.example.com/unique/default/namespace/1115625527437"
	 elementFormDefault = "qualified">
	<xsd:import namespace = "http://xmlns.example.com/unique/default/namespace/1115622617765" schemaLocation = "Service.xsd"/>
	<xsd:import namespace = "http://xmlns.example.com/unique/default/namespace/1115625527437" schemaLocation = "PhoneNumberSet.xsd"/>
	<xsd:complexType name = "Port">
		<xsd:sequence>
			<xsd:element name = "PORT_ID" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "PORT_EQUIPMENT_CODE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "PORT_EQUIPMENT_TYPE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "PORT_FACILITY" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "VOICE_SERVICE_TYPE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "PROVISIONING_STATUS" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "USERPORT_NUMBER" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "PHONE_NUMBER_SET" type = "PhoneNumberSet.xsd:PhoneNumberSet" minOccurs = "0" maxOccurs = "unbounded"/>
			<xsd:element name = "VPI" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "VCI" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "SERVICE" type = "Service.xsd:Service" minOccurs = "0" maxOccurs = "2" />
			<xsd:element name = "WHOLESALE_ACCESS_POINT_ID" type = "xsd:string" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>