ASTRIDAdapter/XSDSchemas/KanvasContractAdapter/Common/SubscriberNumber.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.example.com/unique/default/namespace/1113209043828"
	 targetNamespace = "http://xmlns.example.com/unique/default/namespace/1113209043828"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified">
	<xsd:complexType name = "SubscriberNumber">
		<xsd:sequence>
			<xsd:element name = "QUALITY_CATEGORY" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "SERVICE_PROVIDER_ID" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "SERVICE_ID" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "PORTING_STATUS" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "USAGE_STATUS" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "USAGE_STATUS_EXTENSION" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "SUBSCRIBER_NUMBER" type = "xsd:string" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>