ASTRIDAdapter/XSDSchemas/KanvasContractAdapter/Common/TerminationPoint.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.example.com/unique/default/namespace/1111408472703"
	 targetNamespace = "http://xmlns.example.com/unique/default/namespace/1111408472703"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 xmlns:PropertyAddress.xsd = "http://xmlns.kpn.com/fixed/common/PropertyAddress.xsd"
	 elementFormDefault = "qualified">
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/common/PropertyAddress.xsd" schemaLocation = "../Common/PropertyAddress.xsd"/>
	<xsd:complexType name = "TerminationPoint">
		<xsd:sequence>
			<xsd:element name = "INFRA_PROVIDER_SHORT_NAME" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "SPECTRAL_QUALITY_CATEGORY" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "TP_LOCATION_CODE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "TP_LOCATION_DESCRIPTION" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "TP_NUMBER" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "TP_NUMBER_EXTENSION" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "TP_TYPE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "PROPERTY_ADDRESS" type = "PropertyAddress.xsd:PropertyAddress" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>