ASTRIDAdapter/XSDSchemas/KanvasContractAdapter/Common/TrailTerminationPoint.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.example.com/unique/default/namespace/1111410018625"
	 targetNamespace = "http://xmlns.example.com/unique/default/namespace/1111410018625"
	 xmlns:PhoneNumber.xsd = "http://xmlns.kpn.com/fixed/common/PhoneNumber.xsd"
	 xmlns:Node.xsd = "http://xmlns.example.com/unique/default/namespace/1111409998750"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified">
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/common/PhoneNumber.xsd" schemaLocation = "../../Common/PhoneNumber.xsd"/>
	<xsd:import namespace = "http://xmlns.example.com/unique/default/namespace/1111409998750" schemaLocation = "Node.xsd"/>
	<xsd:complexType name = "TrailTerminationPoint">
		<xsd:sequence>
			<xsd:element name = "CENTRAL_AREA_CODE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "TTP_NUMBER" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "TTP_NUMBER_EXTENSION" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "TTP_LOCATION_CODE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "TTP_LOCATION_DESCRIPTION" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "CABLE_SECTION_NUMBER" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "DIKADER_NUMBER" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "NODE" type = "Node.xsd:Node" minOccurs = "0"/>
			<xsd:element name = "PHONE_NUMBER" type = "PhoneNumber.xsd:PhoneNumber" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>