Clever/CLEverSource/CLEverCore - Oracle/Processes/FrontendServices/Configuration/Rule/Rule.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://www.tibco.com/CLEver/Configuration/Rule" xmlns:ns2="http://www.tibco.com/CLEver/FrontendServices/Configuration/Rule/RuleInterfaceSpecs" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.tibco.com/CLEver/Configuration/Rule" xmlns:ns3="http://www.tibco.com/CLEver/InternalException">
    <import location="RuleInterfaceSpecs.xsd" namespace="http://www.tibco.com/CLEver/FrontendServices/Configuration/Rule/RuleInterfaceSpecs"/>
	<import location="../../../../Shared Resources/Schema Definitions/CLEver/Error.xsd" namespace="http://www.tibco.com/CLEver/InternalException"/>
    <message name="Create_Rule_Input">
        <part element="ns2:Create_Rule_Input" name="part1"/>
    </message>
    <message name="Create_Rule_Output">
        <part element="ns2:Create_Rule_Output" name="part1"/>
    </message>
    <message name="Update_Rule_Input">
        <part element="ns2:Update_Rule_Input" name="part1"/>
    </message>
    <message name="Update_Rule_Output">
        <part element="ns2:Update_Rule_Output" name="part1"/>
    </message>
    <message name="Delete_Rule_Input">
        <part element="ns2:Delete_Rule_Input" name="part1"/>
    </message>
    <message name="Delete_Rule_Output">
        <part element="ns2:Delete_Rule_Output" name="part1"/>
    </message>
    <message name="Retrieve_Rule_Input">
        <part element="ns2:Retrieve_Rule_Input" name="part1"/>
    </message>
    <message name="Retrieve_Rule_Output">
        <part element="ns2:Retrieve_Rule_Output" name="part1"/>
    </message>
    <message name="Retrieve_RuleParameters_Input">
        <part element="ns2:Retrieve_RuleParameters_Input" name="part1"/>
    </message>
    <message name="Retrieve_RuleParameters_Output">
        <part element="ns2:Retrieve_RuleParameters_Output" name="part1"/>
    </message>
	    <message name="Exception">
        <part name="part1" element="ns3:ExceptionEnvelope"/>
    </message>
    <portType name="Rule">
        <operation name="Create">
            <input message="ns:Create_Rule_Input"/>
            <output message="ns:Create_Rule_Output"/>
			<fault name="fault1" message="ns:Exception"/>
        </operation>
        <operation name="Update">
            <input message="ns:Update_Rule_Input"/>
            <output message="ns:Update_Rule_Output"/>
			<fault name="fault1" message="ns:Exception"/>
        </operation>
        <operation name="Delete">
            <input message="ns:Delete_Rule_Input"/>
            <output message="ns:Delete_Rule_Output"/>
			<fault name="fault1" message="ns:Exception"/>
        </operation>
        <operation name="Retrieve">
            <input message="ns:Retrieve_Rule_Input"/>
            <output message="ns:Retrieve_Rule_Output"/>
			<fault name="fault1" message="ns:Exception"/>
        </operation>
        <operation name="RetrieveParameters">
            <input message="ns:Retrieve_RuleParameters_Input"/>
            <output message="ns:Retrieve_RuleParameters_Output"/>
			<fault name="fault1" message="ns:Exception"/>
        </operation>
    </portType>
</definitions>