EDTAdapter/XSDSchemas/Operations/Common/Attachment.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!-- Version 1.0 22-05-2006 -->
<xsd:schema xmlns = "http://xmlns.kpn.com/fixed/Operations/common/Attachment.xsd"
	 targetNamespace = "http://xmlns.kpn.com/fixed/Operations/common/Attachment.xsd"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified">
	<xsd:complexType name = "Attachment">
		<xsd:sequence>
    			<xsd:element name = "DATA" type = "xsd:base64Binary" minOccurs = "0"/>
    			<xsd:element name = "SIZE" type = "xsd:integer" minOccurs = "0"/>
    			<xsd:element name = "NAME" type = "xsd:string" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>