EDTAdapter/XSDSchemas/Operations/Common/CustomerServiceChangeReport.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.kpn.com/fixed/Operations/common/CustomerServiceChangeReport.xsd"
	 targetNamespace = "http://xmlns.kpn.com/fixed/Operations/common/CustomerServiceChangeReport.xsd"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified">
	<!-- Version 1.0 22-05-2006 -->
	
	<xsd:complexType name = "CustomerServiceChangeReport">
		<xsd:sequence>
			<xsd:element name = "CUSTOMER_REFERENCE_NUMBER" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "CUSTOMER_CHANGE_REPORT_ID" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "CUSTOMER_CHANGE_REPORT_INITIATION" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "CHANGE_IDENTIFIER" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "CHANGE_REPORT_ID" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "ANALYSIS_INFORMATION" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "CHANGE_TYPE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "CHANGE_DESCRIPTION_LONG" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "CHANGE_DESCRIPTION_SHORT" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "CHANGE_START_DATETIME" type = "xsd:dateTime" minOccurs = "0"/>
			<xsd:element name = "CHANGE_WISH_DATETIME" type = "xsd:dateTime" minOccurs = "0"/>
			<xsd:element name = "SLA_CLEARING_TIME" type = "xsd:dateTime" minOccurs = "0"/>
			<xsd:element name = "BUSINESS_TO_BUSINESS_ORGANIZATION" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "MANAGER_CONTACT_PERSON_NAME" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "MANAGER_CONTACT_PERSON_EMAIL" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "MANAGER_CONTACT_PERSON_PHONE_NUMBER" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "MANAGER_ORGANIZATION" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "MANAGER_ORGANIZATION_EMAIL" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "MANAGER_ORGANIZATION_PHONE_NUMBER" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "CUSTOMER_SERVICE_CHANGE_REFERENCE_NUMBER" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "CUSTOMER_SERVICE_CHANGE_IDENTIFIER" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "CUSTOMER_SERVICE_CHANGE_INITIATION" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "SERVICE_PROVIDER_CHANGE_IDENTIFIER" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "CLOSURE_SERVICE_TYPE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "CHANGE_REPORT_STATE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "EVENT_TIME" type = "xsd:dateTime" minOccurs = "0"/>
			<xsd:element name = "PAUSE_ENDTIME" type = "xsd:dateTime" minOccurs = "0"/>
			<xsd:element name = "PAUSE_REASON" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "CHANGE_ACTION_TAKEN" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "CHANGE_ACTION_INFORMATION_TYPE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "CHANGE_ACTION_INFORMATION" type = "xsd:string" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>