EDTAdapter/XSDSchemas/KanvasServices/Common/LineInformation.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.kpn.com/fixed/kanvasservices/common/LineInformation.xsd"
	 targetNamespace = "http://xmlns.kpn.com/fixed/kanvasservices/common/LineInformation.xsd"
	 xmlns:LineDetail.xsd = "http://xmlns.kpn.com/fixed/kanvascontractadapter/common/LineDetail.xsd"
	 xmlns:LineFacility.xsd = "http://xmlns.kpn.com/fixed/kanvascontractadapter/common/LineFacility.xsd"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified">
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/kanvascontractadapter/common/LineDetail.xsd" schemaLocation = "../../KanvasContractAdapter/Common/LineDetail.xsd"/>
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/kanvascontractadapter/common/LineFacility.xsd" schemaLocation = "../../KanvasContractAdapter/Common/LineFacility.xsd"/>
	<xsd:complexType name = "LineInformation">
		<xsd:sequence>
			<xsd:element name = "LINE_DETAIL" type = "LineDetail.xsd:LineDetail" minOccurs = "0"/>
			<xsd:element name = "NR_OF_FACILITIES" type = "xsd:integer" minOccurs = "0"/>
			<xsd:element name = "LINE_FACILITY" type = "LineFacility.xsd:LineFacility" minOccurs = "0" maxOccurs = "unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>