EDTAdapter/XSDSchemas/KanvasServices/Common/LineInfoRequest.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.kpn.com/fixed/kanvasservices/common/LineInfoRequest.xsd"
	 targetNamespace = "http://xmlns.kpn.com/fixed/kanvasservices/common/LineInfoRequest.xsd"
	 xmlns:PhoneNumber.xsd = "http://xmlns.kpn.com/fixed/common/PhoneNumber.xsd"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified"
	 attributeFormDefault = "qualified">
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/common/PhoneNumber.xsd" schemaLocation = "../../Common/PhoneNumber.xsd"/>
	<xsd:complexType name = "LineInfoRequest">
		<xsd:sequence>
			<xsd:element name = "PHONE_NUMBER" type = "PhoneNumber.xsd:PhoneNumber" minOccurs = "0"/>
			<xsd:element name = "CURRENT_OR_FUTURE_FLAG" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "SERVICE_ID" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "FACILITY_CODE_FROM" type = "xsd:string" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>