IKKAdapter/XSDSchemas/ASTRIDAdapter/Response/GetTickets.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.kpn.com/fixed/ASTRIDAdapter/Response/GetTickets.xsd"
	 targetNamespace = "http://xmlns.kpn.com/fixed/ASTRIDAdapter/Response/GetTickets.xsd"
	 xmlns:HDR-SW-0101.xsd = "http://xmlns.kpn.com/fixed/ASTRIDAdapter/common/HDR-SW-0101.xsd"
	 xmlns:STATUS_S-0100.xsd = "http://xmlns.kpn.com/fixed/ASTRIDAdapter/common/STATUS_S-0100.xsd"
	 xmlns:ANSLIM_S-0101.xsd = "http://xmlns.kpn.com/fixed/ASTRIDAdapter/common/ANSLIM_S-0101.xsd"
	 xmlns:MELD_S-0100.xsd = "http://xmlns.kpn.com/fixed/ASTRIDAdapter/common/MELD_S-0100.xsd"
	 xmlns:KLANT_S-0100.xsd = "http://xmlns.kpn.com/fixed/ASTRIDAdapter/common/KLANT_S-0100.xsd"
	 xmlns:KLACHT_S-0102.xsd = "http://xmlns.kpn.com/fixed/ASTRIDAdapter/common/KLACHT_S-0102.xsd"
	 xmlns:WERK_S-0100.xsd = "http://xmlns.kpn.com/fixed/ASTRIDAdapter/common/WERK_S-0100.xsd"
	 xmlns:VERPL_S-0100.xsd = "http://xmlns.kpn.com/fixed/ASTRIDAdapter/common/VERPL_S-0100.xsd"
	 xmlns:CONTR_S-0100.xsd = "http://xmlns.kpn.com/fixed/ASTRIDAdapter/common/CONTR_S-0100.xsd"
	 xmlns:INFRA_S-0100.xsd = "http://xmlns.kpn.com/fixed/ASTRIDAdapter/common/INFRA_S-0100.xsd"
	 xmlns:MEET_S-0100.xsd = "http://xmlns.kpn.com/fixed/ASTRIDAdapter/common/MEET_S-0100.xsd"
	 xmlns:OBSERV_S-0100.xsd = "http://xmlns.kpn.com/fixed/ASTRIDAdapter/common/OBSERV_S-0100.xsd"
	 xmlns:OVERIG_S-0101.xsd = "http://xmlns.kpn.com/fixed/ASTRIDAdapter/common/OVERIG_S-0101.xsd"
	 xmlns:PORTER_S-0100.xsd = "http://xmlns.kpn.com/fixed/ASTRIDAdapter/common/PORTER_S-0100.xsd"
	 xmlns:TECH_S-0100.xsd = "http://xmlns.kpn.com/fixed/ASTRIDAdapter/common/TECH_S-0100.xsd"
	 xmlns:SERBOX_S-0100.xsd = "http://xmlns.kpn.com/fixed/ASTRIDAdapter/common/SERBOX_S-0100.xsd"
	 xmlns:STRBOX_S-0100.xsd = "http://xmlns.kpn.com/fixed/ASTRIDAdapter/common/STRBOX_S-0100.xsd"
	 xmlns:VV_S-0100.xsd = "http://xmlns.kpn.com/fixed/ASTRIDAdapter/common/VV_S-0100.xsd"
	 xmlns:VORANA_S-0100.xsd = "http://xmlns.kpn.com/fixed/ASTRIDAdapter/common/VORANA_S-0100.xsd"
	 xmlns:VOROND_S-0100.xsd = "http://xmlns.kpn.com/fixed/ASTRIDAdapter/common/VOROND_S-0100.xsd"
	 xmlns:ASTRIDResponse.xsd = "http://xmlns.kpn.com/fixed/ASTRIDAdapter/common/ASTRIDResponse.xsd"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified">
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/ASTRIDAdapter/common/HDR-SW-0101.xsd" schemaLocation = "../Common/HDR-SW-0101.xsd"/>
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/ASTRIDAdapter/common/STATUS_S-0100.xsd" schemaLocation = "../Common/STATUS_S-0100.xsd"/>
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/ASTRIDAdapter/common/ANSLIM_S-0101.xsd" schemaLocation = "../Common/ANSLIM_S-0101.xsd"/>
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/ASTRIDAdapter/common/MELD_S-0100.xsd" schemaLocation = "../Common/MELD_S-0100.xsd"/>
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/ASTRIDAdapter/common/KLANT_S-0100.xsd" schemaLocation = "../Common/KLANT_S-0100.xsd"/>
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/ASTRIDAdapter/common/KLACHT_S-0102.xsd" schemaLocation = "../Common/KLACHT_S-0102.xsd"/>
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/ASTRIDAdapter/common/WERK_S-0100.xsd" schemaLocation = "../Common/WERK_S-0100.xsd"/>
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/ASTRIDAdapter/common/VERPL_S-0100.xsd" schemaLocation = "../Common/VERPL_S-0100.xsd"/>
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/ASTRIDAdapter/common/CONTR_S-0100.xsd" schemaLocation = "../Common/CONTR_S-0100.xsd"/>
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/ASTRIDAdapter/common/INFRA_S-0100.xsd" schemaLocation = "../Common/INFRA_S-0100.xsd"/>
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/ASTRIDAdapter/common/MEET_S-0100.xsd" schemaLocation = "../Common/MEET_S-0100.xsd"/>
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/ASTRIDAdapter/common/OBSERV_S-0100.xsd" schemaLocation = "../Common/OBSERV_S-0100.xsd"/>
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/ASTRIDAdapter/common/OVERIG_S-0101.xsd" schemaLocation = "../Common/OVERIG_S-0101.xsd"/>
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/ASTRIDAdapter/common/PORTER_S-0100.xsd" schemaLocation = "../Common/PORTER_S-0100.xsd"/>
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/ASTRIDAdapter/common/TECH_S-0100.xsd" schemaLocation = "../Common/TECH_S-0100.xsd"/>
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/ASTRIDAdapter/common/SERBOX_S-0100.xsd" schemaLocation = "../Common/SERBOX_S-0100.xsd"/>
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/ASTRIDAdapter/common/STRBOX_S-0100.xsd" schemaLocation = "../Common/STRBOX_S-0100.xsd"/>
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/ASTRIDAdapter/common/VV_S-0100.xsd" schemaLocation = "../Common/VV_S-0100.xsd"/>
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/ASTRIDAdapter/common/VORANA_S-0100.xsd" schemaLocation = "../Common/VORANA_S-0100.xsd"/>
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/ASTRIDAdapter/common/VOROND_S-0100.xsd" schemaLocation = "../Common/VOROND_S-0100.xsd"/>
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/ASTRIDAdapter/common/ASTRIDResponse.xsd" schemaLocation = "../Common/ASTRIDResponse.xsd"/>
	<xsd:element name = "GetTickets">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base = "ASTRIDResponse.xsd:ASTRIDResponse">
					<xsd:sequence>
						<xsd:element name="ENGIN">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name = "HDR-SW-0101" type = "HDR-SW-0101.xsd:HDR-SW-0101" minOccurs = "0"/>
									<xsd:element name = "STATUS_S-0100" type = "STATUS_S-0100.xsd:STATUS_S-0100" minOccurs = "0"/>
									<xsd:element name = "ANSLIM_S-0101" type = "ANSLIM_S-0101.xsd:ANSLIM_S-0101" minOccurs = "0"/>
									<xsd:element name="Loop" minOccurs = "0" maxOccurs = "10">
										<xsd:complexType>
											<xsd:sequence>
												<xsd:element name = "MELD_S-0100" type = "MELD_S-0100.xsd:MELD_S-0100" minOccurs = "0"/>
												<xsd:element name = "KLANT_S-0100" type = "KLANT_S-0100.xsd:KLANT_S-0100" minOccurs = "0"/>
												<xsd:element name = "KLACHT_S-0102" type = "KLACHT_S-0102.xsd:KLACHT_S-0102" minOccurs = "0"/>
												<xsd:element name = "WERK_S-0100" type = "WERK_S-0100.xsd:WERK_S-0100" minOccurs = "0"/>
												<xsd:element name = "VERPL_S-0100" type = "VERPL_S-0100.xsd:VERPL_S-0100" minOccurs = "0"/>
												<xsd:element name = "CONTR_S-0100" type = "CONTR_S-0100.xsd:CONTR_S-0100" minOccurs = "0"/>
												<xsd:element name = "INFRA_S-0100" type = "INFRA_S-0100.xsd:INFRA_S-0100" minOccurs = "0"/>
												<xsd:element name = "MEET_S-0100" type = "MEET_S-0100.xsd:MEET_S-0100" minOccurs = "0"/>
												<xsd:element name = "OBSERV_S-0100" type = "OBSERV_S-0100.xsd:OBSERV_S-0100" minOccurs = "0"/>
												<xsd:element name = "OVERIG_S-0101" type = "OVERIG_S-0101.xsd:OVERIG_S-0101" minOccurs = "0"/>
												<xsd:element name = "PORTER_S-0100" type = "PORTER_S-0100.xsd:PORTER_S-0100" minOccurs = "0"/>
												<xsd:element name = "TECH_S-0100" type = "TECH_S-0100.xsd:TECH_S-0100" minOccurs = "0"/>
												<xsd:element name = "SERBOX_S-0100" type = "SERBOX_S-0100.xsd:SERBOX_S-0100" minOccurs = "0"/>
												<xsd:element name = "STRBOX_S-0100" type = "STRBOX_S-0100.xsd:STRBOX_S-0100" minOccurs = "0"/>
												<xsd:element name = "VV_S-0100" type = "VV_S-0100.xsd:VV_S-0100" minOccurs = "0"/>
												<xsd:element name = "VORANA_S-0100" type = "VORANA_S-0100.xsd:VORANA_S-0100" minOccurs = "0"/>
												<xsd:element name = "VOROND_S-0100" type = "VOROND_S-0100.xsd:VOROND_S-0100" minOccurs = "0"/>
											</xsd:sequence>
										</xsd:complexType>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>