ASTRIDAdapter/XSDSchemas/KanvasAdapter/Response/GetDistributionFrameAccessInformation.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.kpn.com/fixed/KanvasAdapter/Response/GetDistributionFrameAccessInformation.xsd"
	 targetNamespace = "http://xmlns.kpn.com/fixed/KanvasAdapter/Response/GetDistributionFrameAccessInformation.xsd"
	 xmlns:KanvasResponse.xsd = "http://xmlns.kpn.com/fixed/KanvasAdapter/common/KanvasResponse.xsd"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified">
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/KanvasAdapter/common/KanvasResponse.xsd" schemaLocation = "../Common/KanvasResponse.xsd"/>
	<xsd:element name = "GetDistributionFrameAccessInformation">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base = "KanvasResponse.xsd:KanvasResponse">
					<xsd:sequence>
						<xsd:element name = "LOCATION" type = "Location" minOccurs = "0"/>
					</xsd:sequence>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name = "PropertyAddress">
		<xsd:sequence>
			<xsd:element name = "CITY_NAME" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "HOUSE_NUMBER" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "HOUSE_NUMBER_EXTENSION" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "DUTCH_POSTCODE_NUMBERS" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "DUTCH_POSTCODE_LETTERS" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "STREET_NAME" type = "xsd:string" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name = "Location">
		<xsd:sequence>
			<xsd:element name = "CENTRAL_AREA_CODE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "ROUTING_TYPE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "SERVICE_PROVIDER_SHORT_NAME" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "TRAIL_TERMINATION_POINT" type = "TrailTerminationPoint" minOccurs = "0" maxOccurs = "5"/>
			<xsd:element name = "TERMINATION_POINT" type = "TerminationPoint" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name = "Node">
		<xsd:sequence>
			<xsd:element name = "NODE_NAME" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "RACK" type = "Rack" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name = "PhoneNumber">
		<xsd:sequence>
			<xsd:element name = "AREA_CODE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "SUBSCRIBER_NUMBER" type = "xsd:string" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name = "PhysicalPort">
		<xsd:sequence>
			<xsd:element name = "PHYSICAL_PORT_ID" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "PHYSICAL_PORT_STATUS" type = "xsd:string" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name = "Rack">
		<xsd:sequence>
			<xsd:element name = "RACK_POSITION" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "SHELF" type = "Shelf" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name = "Shelf">
		<xsd:sequence>
			<xsd:element name = "SHELF_POSITION" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "PHYSICAL_PORT" type = "PhysicalPort" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name = "TerminationPoint">
		<xsd:sequence>
			<xsd:element name = "INFRA_PROVIDER_SHORT_NAME" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "QUALITY_CATEGORY" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "TP_LOCATION_CODE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "TP_LOCATION_DESCRIPTION" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "TP_NUMBER" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "TP_NUMBER_EXTENSION" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "TP_TYPE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "SERVICE_TYPE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "PROPERTY_ADDRESS" type = "PropertyAddress" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name = "TrailTerminationPoint">
		<xsd:sequence>
			<xsd:element name = "CABLE_SECTION_NUMBER" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "DIKADER_NUMBER" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "NODE" type = "Node" minOccurs = "0"/>
			<xsd:element name = "PHONE_NUMBER" type = "PhoneNumber" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>