ASTRIDAdapter/XSDSchemas/KanvasAdapter/Response/GetLocalLoopPath.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.kpn.com/fixed/KanvasAdapter/Response/GetLocalLoopPath.xsd"
	 targetNamespace = "http://xmlns.kpn.com/fixed/KanvasAdapter/Response/GetLocalLoopPath.xsd"
	 xmlns:KanvasResponse.xsd = "http://xmlns.kpn.com/fixed/KanvasAdapter/common/KanvasResponse.xsd"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified">
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/KanvasAdapter/common/KanvasResponse.xsd" schemaLocation = "../Common/KanvasResponse.xsd"/>
	<xsd:element name = "GetLocalLoopPath">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base = "KanvasResponse.xsd:KanvasResponse">
					<xsd:sequence>
						<xsd:element name = "NODE" type = "RootNode" minOccurs = "0" maxOccurs = "6"/>
						<xsd:element name = "CABLE_SECTION" type = "CableSection" minOccurs = "0" maxOccurs = "5"/>
						<xsd:element name = "LOCATION" type = "Location" minOccurs = "0"/>
					</xsd:sequence>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name = "CableSection">
		<xsd:sequence>
			<xsd:element name = "INDEX" type = "xsd:string"/>
			<xsd:element name = "CABLE_SECTION_NUMBER" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "STATUS" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "CROSS_CONNECT_STATE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "QUALITY_CATEGORIE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "INBOUND_NODE" type = "InboundNode" minOccurs = "0"/>
			<xsd:element name = "OUTBOUND_NODE" type = "OutboundNode" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name = "InboundNode">
		<xsd:sequence>
			<xsd:element name = "NODE_NAME" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "RACK" type = "InboundRack" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name = "InboundPhysicalPort">
		<xsd:sequence>
			<xsd:element name = "PHYSICAL_PORT_ID" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "LOCATION_INDICATION" type = "xsd:string" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name = "InboundRack">
		<xsd:sequence>
			<xsd:element name = "RACK_POSITION" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "SHELF" type = "InboundShelf" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name = "InboundShelf">
		<xsd:sequence>
			<xsd:element name = "SHELF_POSITION" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "PHYSICAL_PORT" type = "InboundPhysicalPort" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name = "Location">
		<xsd:sequence>
			<xsd:element name = "CENTRAL_AREA_CODE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "NODE" type = "LocationNode" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name = "LocationNode">
		<xsd:sequence>
			<xsd:element name = "INFRA_PROVIDER_SHORT_NAME" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "NODE_NAME" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "SERVICE_TYPE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "RACK" type = "LocationRack" minOccurs = "0"/>
			<xsd:element name = "PORT" type = "LocationPort" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name = "LocationPhysicalPort">
		<xsd:sequence>
			<xsd:element name = "PHYSICAL_PORT_ID" type = "xsd:string" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name = "LocationPort">
		<xsd:sequence>
			<xsd:element name = "PORT_EQUIPMENT_CODE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "PORT_EQUIPMENT_TYPE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "PORT_ID" type = "xsd:string" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name = "LocationRack">
		<xsd:sequence>
			<xsd:element name = "RACK_POSITION" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "SHELF" type = "LocationShelf" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name = "LocationShelf">
		<xsd:sequence>
			<xsd:element name = "SHELF_POSITION" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "PHYSICAL_PORT" type = "LocationPhysicalPort" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name = "OutboundNode">
		<xsd:sequence>
			<xsd:element name = "NODE_NAME" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "RACK" type = "OutboundRack" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name = "OutboundPhysicalPort">
		<xsd:sequence>
			<xsd:element name = "PHYSICAL_PORT_ID" type = "xsd:string" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name = "OutboundRack">
		<xsd:sequence>
			<xsd:element name = "RACK_POSITION" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "SHELF" type = "OutboundShelf" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name = "OutboundShelf">
		<xsd:sequence>
			<xsd:element name = "SHELF_POSITION" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "PHYSICAL_PORT" type = "OutboundPhysicalPort" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name = "PropertyAddress">
		<xsd:sequence>
			<xsd:element name = "CITY_CODE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "HOUSE_NUMBER" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "HOUSE_NUMBER_EXTENSION" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "POSTCODE_LETTERS" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "POSTCODE_NUMBERS" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "STREET_NAME" type = "xsd:string" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name = "RootNode">
		<xsd:sequence>
			<xsd:element name = "INDEX" type = "xsd:string"/>
			<xsd:element name = "NODE_NAME" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "LOCATION_CODE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "NODE_SUB_TYPE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "NODE_TYPE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "SERVICE_PROVIDER_SHORT_NAME" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "ADDRESS" type = "PropertyAddress" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>