ASTRIDAdapter/XSDSchemas/KanvasAdapter/Response/GetSubscriberNumbersSingleConnection.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.kpn.com/fixed/KanvasAdapter/Response/GetSubscriberNumbersSingleConnection.xsd"
	 targetNamespace = "http://xmlns.kpn.com/fixed/KanvasAdapter/Response/GetSubscriberNumbersSingleConnection.xsd"
	 xmlns:KanvasResponse.xsd = "http://xmlns.kpn.com/fixed/KanvasAdapter/common/KanvasResponse.xsd"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified">
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/KanvasAdapter/common/KanvasResponse.xsd" schemaLocation = "../Common/KanvasResponse.xsd"/>
	<xsd:element name = "GetSubscriberNumbersSingleConnection">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base = "KanvasResponse.xsd:KanvasResponse">
					<xsd:sequence>
						<xsd:element name = "SERVICE_TYPE_EXTENSION" type = "xsd:string" minOccurs = "0"/>
						<xsd:element name = "NUMBER_OF_SUBSCRIBER_NUMBER" type = "xsd:string" minOccurs = "0"/>
						<xsd:element name = "ROUTING_TYPE" type = "xsd:string" minOccurs = "0"/>
						<xsd:element name = "SUBSCRIBER_NUMBER" type = "SubscriberNumber" minOccurs = "0" maxOccurs = "8"/>
					</xsd:sequence>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name = "SubscriberNumber">
		<xsd:sequence>
			<xsd:element name = "CURRENT" type = "SubscriberNumberInfo" minOccurs = "0"/>
			<xsd:element name = "FUTURE" type = "SubscriberNumberInfo" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name = "SubscriberNumberInfo">
		<xsd:sequence>
			<xsd:element name = "QUALITY_CATEGORY" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "SERVICE_PROVIDER_ID" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "SERVICE_ID" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "PORTING_STATUS" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "USAGE_STATUS_EXTENSION" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "USAGE_STATUS" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "SUBSCRIBER_NUMBER" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "SERVICE_TYPE" type = "xsd:string" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>