ASTRIDAdapter/XSDSchemas/KanvasAdapter/Response/GetVirtualVoiceConnection.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.kpn.com/fixed/KanvasAdapter/Response/GetVirtualVoiceConnection.xsd"
	 targetNamespace = "http://xmlns.kpn.com/fixed/KanvasAdapter/Response/GetVirtualVoiceConnection.xsd"
	 xmlns:KanvasResponse.xsd = "http://xmlns.kpn.com/fixed/KanvasAdapter/common/KanvasResponse.xsd"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified">
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/KanvasAdapter/common/KanvasResponse.xsd" schemaLocation = "../Common/KanvasResponse.xsd"/>
	<xsd:element name = "GetVirtualVoiceConnection">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base = "KanvasResponse.xsd:KanvasResponse">
					<xsd:sequence>
						<xsd:element name = "NODE" type = "Node" minOccurs = "0" maxOccurs = "2"/>
					</xsd:sequence>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name = "Node">
		<xsd:sequence>
			<xsd:element name = "NODE_NAME" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "NODE_TYPE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "DIRECT_DIAL_BLOCK_AVAILABLE_FLAG" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "PORT" type = "Port" minOccurs = "0" maxOccurs = "4"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name = "PhoneNumber">
		<xsd:sequence>
			<xsd:element name = "MAIN_OR_CALL_NUMBER" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "AREA_CODE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "SUBSCRIBER_NUMBER" type = "xsd:string" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name = "PhoneNumberSet">
		<xsd:sequence>
			<xsd:element name = "INDEX" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "CURRENT" type = "PhoneNumberSetField" minOccurs = "0"/>
			<xsd:element name = "FUTURE" type = "PhoneNumberSetField" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name = "PhoneNumberSetField">
		<xsd:sequence>
			<xsd:element name = "SERVICE_TYPE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "USAGE_TYPE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "USAGE_TYPE_EXTENSION" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "PORTING_STATUS" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "NODE_NAME" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "FACILITY_AVAILABLE_FLAG" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "PHONE_NUMBER" type = "PhoneNumber" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name = "Port">
		<xsd:sequence>
			<xsd:element name = "EQUIPMENT_TYPE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "EQUIPMENT_CODE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "PORT_ID" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "VOICE_SERVICE_TYPE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "PROVISIONING_STATUS" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "USERPORT_NUMBER" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "WHOLESALE_ACCESS_POINT_ID" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "VPI" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "VCI" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "SERVICE" type = "Service" minOccurs = "0" maxOccurs = "2"/>
			<xsd:element name = "PHONE_NUMBER_SET" type = "PhoneNumberSet" minOccurs = "0" maxOccurs = "8"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name = "Service">
		<xsd:sequence>
			<xsd:element name = "SERVICE_ID" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "SERVICE_TYPE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "CENTRAL_UNIT_CONNECTION" type = "xsd:string" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>