EDTAdapter/XSDSchemas/EpacityGateway/Response/GetVpnInstalledBase.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.kpn.com/fixed/EpacityGateway/response/GetVpnInstalledBase.xsd"
	 targetNamespace = "http://xmlns.kpn.com/fixed/EpacityGateway/response/GetVpnInstalledBase.xsd"
	 xmlns:Base.xsd = "http://xmlns.kpn.com/common/cdm/Base.xsd"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 xmlns:ResultStatus.xsd = "http://xmlns.kpn.com/common/cdm/ResultStatus.xsd"
	 elementFormDefault = "qualified"
	 attributeFormDefault = "qualified">
	<xsd:import namespace = "http://xmlns.kpn.com/common/cdm/Base.xsd" schemaLocation = "../../Common/Base.xsd"/>
	<xsd:import namespace = "http://xmlns.kpn.com/common/cdm/ResultStatus.xsd" schemaLocation = "../../Common/ResultStatus.xsd"/>
	<xsd:element name = "GetVpnInstalledBase">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base = "Base.xsd:Base">
					<xsd:sequence>
						<xsd:element name = "RESULT_STATUS" type = "ResultStatus.xsd:ResultStatus"/>
						<xsd:element name = "RESULT_SET" minOccurs = "0">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name = "RESULT_SET_TOTAL" type = "xsd:integer"/>
									<xsd:element name = "RESULT_SET_TIMESTAMP" type = "xsd:string"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name = "SERVICE_ITEM" minOccurs = "0" maxOccurs = "unbounded">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name = "PORTFOLIO_DOMAIN" type = "xsd:string" minOccurs = "0"/>
									<xsd:element name = "SERVICE_ID">
										<xsd:complexType>
											<xsd:sequence>
												<xsd:element name = "SERVICE_ID" type = "xsd:string"/>
												<xsd:element name = "SERVICE_ID_SCOPE" type = "xsd:string"/>
												<xsd:element name = "CUSTOMER_SERVICE_REFERENCE" type = "xsd:string"/>
											</xsd:sequence>
										</xsd:complexType>
									</xsd:element>
									<xsd:element name = "PROPERTY_ADDRESS" minOccurs = "0">
										<xsd:complexType>
											<xsd:sequence>
												<xsd:element name = "CITY" type = "xsd:string"/>
												<xsd:element name = "POSTCODE_NUMBERS" type = "xsd:string"/>
												<xsd:element name = "POSTCODE_LETTERS" type = "xsd:string"/>
												<xsd:element name = "STREET_NAME" type = "xsd:string"/>
											</xsd:sequence>
										</xsd:complexType>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>