IKKAdapter/XSDSchemas/ASTRIDAdapter/Common/ANSLIM_S-0101.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.kpn.com/fixed/ASTRIDAdapter/common/ANSLIM_S-0101.xsd"
	 targetNamespace = "http://xmlns.kpn.com/fixed/ASTRIDAdapter/common/ANSLIM_S-0101.xsd"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified">
	<xsd:complexType name = "ANSLIM_S-0101">
		<xsd:sequence>
			<xsd:element name = "AANTAL_ITEMS" type = "xsd:integer" minOccurs = "0"/>
			<xsd:element name = "SLEUTEL_VOLGENDE_ITEM" type = "xsd:string" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>