IKKAdapter/XSDSchemas/ASTRIDAdapter/Common/BATCH_I-0100.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.kpn.com/fixed/ASTRIDAdapter/common/BATCH_I-0100.xsd"
	 targetNamespace = "http://xmlns.kpn.com/fixed/ASTRIDAdapter/common/BATCH_I-0100.xsd"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified">
	<xsd:complexType name = "BATCH_I-0100">
		<xsd:sequence>
			<xsd:element name = "BATCH_IDENTIFICATIE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "TIJDSTIP" type = "xsd:dateTime" minOccurs = "0"/>
			<xsd:element name = "BERICHT_LIMIET" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "STATUS_CODE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "FOUT_MELDING" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "PARAMETER_1" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "PARAMETER_2" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "PARAMETER_3" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "PARAMETER_4" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "PARAMETER_5" type = "xsd:string" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>



