IKKAdapter/XSDSchemas/ASTRIDAdapter/Common/CustomerIncidentReport.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.kpn.com/fixed/ASTRIDAdapter/common/CustomerIncidentReport.xsd"
	 targetNamespace = "http://xmlns.kpn.com/fixed/ASTRIDAdapter/common/CustomerIncidentReport.xsd"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified">
	<xsd:complexType name = "CustomerIncidentReport">
		<xsd:sequence>
			<xsd:element name = "CUSTOMER_INCIDENT_REPORT_ID" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "CUSTOMER_INCIDENT_REPORT_INITIATION" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "TROUBLE_REPORT_ID" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "END_USER_NAME" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "PERCEIVED_TROUBLE_SEVERITY" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "ANALYSIS_INFORMATION" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "INCIDENT_FOUND" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "INCIDENT_REPORT_STATE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "TROUBLE_TYPE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "TROUBLE_DESCRIPTION_LONG" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "TROUBLE_DESCRIPTION_SHORT" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "TROUBLE_DETECTION_DATETIME" type = "xsd:dateTime" minOccurs = "0"/>
			<xsd:element name = "SLA_CLEARING_TIME" type = "xsd:dateTime" minOccurs = "0"/>
			<xsd:element name = "CLOSURE_SERVICE_TYPE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "TROUBLE_FOUND" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "TROUBLE_REPORT_STATUS" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "CUSTOMER_INCIDENT_PROGRESS" type = "xsd:string" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>