IKKAdapter/XSDSchemas/ASTRIDAdapter/Common/INFRA_S-0100.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.kpn.com/fixed/ASTRIDAdapter/common/INFRA_S-0100.xsd"
	 targetNamespace = "http://xmlns.kpn.com/fixed/ASTRIDAdapter/common/INFRA_S-0100.xsd"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified">
	<xsd:complexType name = "INFRA_S-0100">
		<xsd:sequence>
			<xsd:element name = "CENTRALE_GEBIEDSCODE" type = "xsd:integer" minOccurs = "0"/>
			<xsd:element name = "ISDN_TYPE_AANSLUITING" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "POORT_ID_EQUIPEMENT_ADRES" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "POORT_ID_APPARATUUR" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "POORT_ID_EQUIPEMENT_TYPE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "INFRAGEGEVENS" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "KWALITEITSCATEGORIE" type = "xsd:string" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>