ASTRIDAdapter/XSDSchemas/TangoAdapter/Imported/ProductGroup_Tango.xsd

<?xml version="1.0" encoding="utf-8"?>

<!-- edited with XMLSpy v2006 sp2 U (http://www.altova.com) by bhogeshwar k (Atos Origin Nederland B.V.) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:simpleType name="amount_type">
		<xs:annotation>
			<xs:documentation>The amount of the costs including VAT</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
		<!-- edited with XMLSpy v2006 sp2 U (http://www.altova.com) by alok ranjan (Atos Origin Nederland B.V.) -->
	</xs:simpleType>
	<xs:simpleType name="currencyCodes_type">
		<xs:annotation>
			<xs:documentation>DEFINITIONS:
[general] The currency code is based on the ISO 4217 standard for currency codes which is mostly constructed by concatenating the country's two letters code of the ISO 3166-1 alpha-2 code list (see attribute countryCodeA2) and the initial of the currency itself. For Japan this would be JPY.

TYPE:
String

LENGTH:
3

NOTES:
- The codes are taken form the ISO-4217 standard.
- The ISO 4217 maintenance agency (MA), the British Standards Institution, is responsible for maintaining the list of codes.
			
			
			
			
			</xs:documentation>
			<xs:documentation>Default value is:'EUR'</xs:documentation>
			<xs:documentation>1000 length string limitation added by KPN EAI defaults.Increase size in Rose if required.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="1000"/>
			<xs:enumeration value="AED"/>
			<xs:enumeration value="AFN"/>
			<xs:enumeration value="ALL"/>
			<xs:enumeration value="AMD"/>
			<xs:enumeration value="ANG"/>
			<xs:enumeration value="AOA"/>
			<xs:enumeration value="ARS"/>
			<xs:enumeration value="AUD"/>
			<xs:enumeration value="AWG"/>
			<xs:enumeration value="AZN"/>
			<xs:enumeration value="BAM"/>
			<xs:enumeration value="BBD"/>
			<xs:enumeration value="BDT"/>
			<xs:enumeration value="BGN"/>
			<xs:enumeration value="BHD"/>
			<xs:enumeration value="BIF"/>
			<xs:enumeration value="BMD"/>
			<xs:enumeration value="BND"/>
			<xs:enumeration value="BOB"/>
			<xs:enumeration value="BOV"/>
			<xs:enumeration value="BRL"/>
			<xs:enumeration value="BSD"/>
			<xs:enumeration value="BTN"/>
			<xs:enumeration value="BWP"/>
			<xs:enumeration value="BYR"/>
			<xs:enumeration value="BZD"/>
			<xs:enumeration value="CAD"/>
			<xs:enumeration value="CDF"/>
			<xs:enumeration value="CHF"/>
			<xs:enumeration value="CLF"/>
			<xs:enumeration value="CLP"/>
			<xs:enumeration value="CNY"/>
			<xs:enumeration value="COP"/>
			<xs:enumeration value="COU"/>
			<xs:enumeration value="CRC"/>
			<xs:enumeration value="CSD"/>
			<xs:enumeration value="CUP"/>
			<xs:enumeration value="CVE"/>
			<xs:enumeration value="CYP"/>
			<xs:enumeration value="CZK"/>
			<xs:enumeration value="DJF"/>
			<xs:enumeration value="DKK"/>
			<xs:enumeration value="DOP"/>
			<xs:enumeration value="DZD"/>
			<xs:enumeration value="EEK"/>
			<xs:enumeration value="EGP"/>
			<xs:enumeration value="ERN"/>
			<xs:enumeration value="ETB"/>
			<xs:enumeration value="EUR"/>
			<xs:enumeration value="FJD"/>
			<xs:enumeration value="FKP"/>
			<xs:enumeration value="GBP"/>
			<xs:enumeration value="GEL"/>
			<xs:enumeration value="GHC"/>
			<xs:enumeration value="GIP"/>
			<xs:enumeration value="GMD"/>
			<xs:enumeration value="GNF"/>
			<xs:enumeration value="GTQ"/>
			<xs:enumeration value="GYD"/>
			<xs:enumeration value="HKD"/>
			<xs:enumeration value="HNL"/>
			<xs:enumeration value="HRK"/>
			<xs:enumeration value="HTG"/>
			<xs:enumeration value="HUF"/>
			<xs:enumeration value="IDR"/>
			<xs:enumeration value="ILS"/>
			<xs:enumeration value="INR"/>
			<xs:enumeration value="IQD"/>
			<xs:enumeration value="IRR"/>
			<xs:enumeration value="ISK"/>
			<xs:enumeration value="JMD"/>
			<xs:enumeration value="JOD"/>
			<xs:enumeration value="JPY"/>
			<xs:enumeration value="KES"/>
			<xs:enumeration value="KGS"/>
			<xs:enumeration value="KHR"/>
			<xs:enumeration value="KMF"/>
			<xs:enumeration value="KPW"/>
			<xs:enumeration value="KRW"/>
			<xs:enumeration value="KWD"/>
			<xs:enumeration value="KYD"/>
			<xs:enumeration value="KZT"/>
			<xs:enumeration value="LAK"/>
			<xs:enumeration value="LBP"/>
			<xs:enumeration value="LKR"/>
			<xs:enumeration value="LRD"/>
			<xs:enumeration value="LSL"/>
			<xs:enumeration value="LTL"/>
			<xs:enumeration value="LVL"/>
			<xs:enumeration value="LYD"/>
			<xs:enumeration value="MAD"/>
			<xs:enumeration value="MDL"/>
			<xs:enumeration value="MGA"/>
			<xs:enumeration value="MKD"/>
			<xs:enumeration value="MMK"/>
			<xs:enumeration value="MNT"/>
			<xs:enumeration value="MOP"/>
			<xs:enumeration value="MRO"/>
			<xs:enumeration value="MTL"/>
			<xs:enumeration value="MUR"/>
			<xs:enumeration value="MVR"/>
			<xs:enumeration value="MWK"/>
			<xs:enumeration value="MXN"/>
			<xs:enumeration value="MXV"/>
			<xs:enumeration value="MYR"/>
			<xs:enumeration value="MZM"/>
			<xs:enumeration value="NAD"/>
			<xs:enumeration value="NGN"/>
			<xs:enumeration value="NIO"/>
			<xs:enumeration value="NOK"/>
			<xs:enumeration value="NPR"/>
			<xs:enumeration value="NZD"/>
			<xs:enumeration value="OMR"/>
			<xs:enumeration value="PAB"/>
			<xs:enumeration value="PEN"/>
			<xs:enumeration value="PGK"/>
			<xs:enumeration value="PHP"/>
			<xs:enumeration value="PKR"/>
			<xs:enumeration value="PLN"/>
			<xs:enumeration value="PYG"/>
			<xs:enumeration value="QAR"/>
			<xs:enumeration value="RON"/>
			<xs:enumeration value="RUB"/>
			<xs:enumeration value="RWF"/>
			<xs:enumeration value="SAR"/>
			<xs:enumeration value="SBD"/>
			<xs:enumeration value="SCR"/>
			<xs:enumeration value="SDD"/>
			<xs:enumeration value="SEK"/>
			<xs:enumeration value="SGD"/>
			<xs:enumeration value="SHP"/>
			<xs:enumeration value="SIT"/>
			<xs:enumeration value="SKK"/>
			<xs:enumeration value="SLL"/>
			<xs:enumeration value="SOS"/>
			<xs:enumeration value="SRD"/>
			<xs:enumeration value="STD"/>
			<xs:enumeration value="SYP"/>
			<xs:enumeration value="SZL"/>
			<xs:enumeration value="THB"/>
			<xs:enumeration value="TJS"/>
			<xs:enumeration value="TMM"/>
			<xs:enumeration value="TND"/>
			<xs:enumeration value="TOP"/>
			<xs:enumeration value="TRY"/>
			<xs:enumeration value="TTD"/>
			<xs:enumeration value="TWD"/>
			<xs:enumeration value="TZS"/>
			<xs:enumeration value="UAH"/>
			<xs:enumeration value="UGX"/>
			<xs:enumeration value="USD"/>
			<xs:enumeration value="UYU"/>
			<xs:enumeration value="UZS"/>
			<xs:enumeration value="VEB"/>
			<xs:enumeration value="VND"/>
			<xs:enumeration value="VUV"/>
			<xs:enumeration value="WST"/>
			<xs:enumeration value="XAF"/>
			<xs:enumeration value="XAG"/>
			<xs:enumeration value="XAU"/>
			<xs:enumeration value="XBA"/>
			<xs:enumeration value="XBB"/>
			<xs:enumeration value="XBC"/>
			<xs:enumeration value="XBD"/>
			<xs:enumeration value="XCD"/>
			<xs:enumeration value="XDR"/>
			<xs:enumeration value="XFO"/>
			<xs:enumeration value="XFU"/>
			<xs:enumeration value="XOF"/>
			<xs:enumeration value="XPD"/>
			<xs:enumeration value="XPF"/>
			<xs:enumeration value="XPT"/>
			<xs:enumeration value="XTS"/>
			<xs:enumeration value="XXX"/>
			<xs:enumeration value="YER"/>
			<xs:enumeration value="ZAR"/>
			<xs:enumeration value="ZMK"/>
			<xs:enumeration value="ZWD"/>
			<xs:enumeration value="ZWD"/>
			<xs:enumeration value="ZWD"/>
			<xs:enumeration value="ZWD"/>
			<xs:enumeration value="ZWD"/>
			<xs:enumeration value="ZWD"/>
			<xs:enumeration value="ZWD"/>
			<xs:enumeration value="ZWD"/>
			<xs:enumeration value="ZWD"/>
			<xs:enumeration value="ZWD"/>
			<xs:enumeration value="ZWD"/>
			<xs:enumeration value="ZWD"/>
			<xs:enumeration value="ZWD"/>
			<xs:enumeration value="ZWD"/>
			<xs:enumeration value="ZWD"/>
			<xs:enumeration value="ZWD"/>
			<xs:enumeration value="ZWD"/>
			<xs:enumeration value="ZWD"/>
			<xs:enumeration value="ZWD"/>
			<xs:enumeration value="ZWD"/>
			<xs:enumeration value="ZWD"/>
			<xs:enumeration value="ZWD"/>
			<xs:enumeration value="ZWD"/>
			<xs:enumeration value="ZWD"/>
			<xs:enumeration value="ZWD"/>
			<xs:enumeration value="ZWD"/>
			<xs:enumeration value="ZWD"/>
			<xs:enumeration value="ZWD"/>
			<xs:enumeration value="ZWD"/>
			<xs:enumeration value="ZWD"/>
			<xs:enumeration value="ZWD"/>
			<xs:enumeration value="ZWD"/>
			<xs:enumeration value="ZWD"/>
			<xs:enumeration value="ZWD"/>
			<xs:enumeration value="ZWD"/>
			<xs:enumeration value="ZWD"/>
			<xs:enumeration value="ZWD"/>
			<xs:enumeration value="ZWD"/>
			<xs:enumeration value="ZWD"/>
			<xs:enumeration value="ZWD"/>
			<xs:enumeration value="ZWD"/>
			<xs:enumeration value="ZWD"/>
			<xs:enumeration value="ZWD"/>
			<xs:enumeration value="ZWD"/>
			<xs:enumeration value="ZWD"/>
			<xs:enumeration value="ZWD"/>
			<xs:enumeration value="ZWD"/>
			<xs:enumeration value="ZWD"/>
			<xs:enumeration value="ZWD"/>
			<xs:enumeration value="ZWD"/>
			<xs:enumeration value="ZWD"/>
			<xs:enumeration value="ZWD"/>
			<xs:enumeration value="ZWD"/>
			<xs:enumeration value="ZWD"/>
			<xs:enumeration value="ZWD"/>
			<xs:enumeration value="ZWD"/>
			<xs:enumeration value="ZWD"/>
			<xs:enumeration value="ZWD"/>
			<xs:enumeration value="ZWD"/>
			<xs:enumeration value="ZWD"/>
			<xs:enumeration value="ZWD"/>
			<xs:enumeration value="ZWD"/>
			<xs:enumeration value="ZWD"/>
			<xs:enumeration value="ZWD"/>
			<xs:enumeration value="ZWD"/>
			<xs:enumeration value="ZWD"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="orderType_type">
		<xs:annotation>
			<xs:documentation>The deifferent types of orders i.e.:
- customerOrder
- networkResourceOrder
- wholesaleAccessOrder
- workOrder
			
			
			
			
			
			
			
			
			
			
			</xs:documentation>
			<xs:documentation>Default value is:''</xs:documentation>
			<xs:documentation>1000 length string limitation added by KPN EAI defaults.Increase size in Rose if required.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="1000"/>
			<xs:enumeration value="customerOrder"/>
			<xs:enumeration value="networkResourceOrder"/>
			<xs:enumeration value="wholesaleAccessOrder"/>
			<xs:enumeration value="workOrder"/>
			<xs:enumeration value="undefined"/>
		</xs:restriction>
		<!-- edited with XMLSpy v2006 sp2 U (http://www.altova.com) by Atos Origin (Atos Origin Nederland B.V.) -->
	</xs:simpleType>
	<xs:simpleType name="slaclearingdatetime_type">
		<xs:restriction base="xs:dateTime"/>
	</xs:simpleType>
	<xs:simpleType name="description_type">
		<xs:annotation>
			<xs:documentation>String limitation 1000 added by KPN EAI automated guideline supervision. Increase size in Rose if desired.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="1000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="workOrderReference_type">
		<xs:annotation>
			<xs:documentation>String limitation 1000 added by KPN EAI automated guideline supervision. Increase size in Rose if desired.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="1000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="orderId_type">
		<xs:annotation>
			<xs:documentation>String limitation 1000 added by KPN EAI automated guideline supervision. Increase size in Rose if desired.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="1000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="externalReference_type">
		<xs:annotation>
			<xs:documentation>String limitation 1000 added by KPN EAI automated guideline supervision. Increase size in Rose if desired.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="1000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="creationDate_type">
		<xs:restriction base="xs:dateTime"/>
	</xs:simpleType>
	<xs:simpleType name="dueDate_type">
		<xs:restriction base="xs:dateTime"/>
	</xs:simpleType>
	<xs:simpleType name="orderPriority_type">
		<xs:restriction base="xs:unsignedByte"/>
	</xs:simpleType>
	<xs:simpleType name="phoneNumber_type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="26"/>
			<xs:pattern value="\+?[\d\-\(\)\s]{1,25}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="streetNameNEN5825_type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="43"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="portId_type">
		<xs:annotation>
			<xs:documentation>NT-Port</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="11"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="streetName_type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="24"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="houseNumber_type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="5"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="houseNumberExtension_type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="6"/>
			<xs:minLength value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="dutchPostcodeNumbers_type">
		<xs:restriction base="xs:string">
			<xs:pattern value="\d{4}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="dutchPostcodeLetters_type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[a-zA-Z]{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="cityName_type">
		<xs:annotation>
			<xs:documentation>String limitation 1000 added by KPN EAI automated guideline supervision. Increase size in Rose if desired.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="1000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="countryCodeA2_type">
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="centralCustomerId_type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z,0-9]{8}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="productCategoryType_type">
		<xs:annotation>
			<xs:documentation>String limitation 1000 added by KPN EAI automated guideline supervision. Increase size in Rose if desired.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="1000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="orderItemType_type">
		<xs:annotation>
			<xs:documentation>String limitation 1000 added by KPN EAI automated guideline supervision. Increase size in Rose if desired.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="1000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="subscriberNumber_type">
		<xs:annotation>
			<xs:documentation>String limitation 1000 added by KPN EAI automated guideline supervision. Increase size in Rose if desired.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="1000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="phoneNumberAreaCode_type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="5"/>
			<xs:minLength value="0"/>
			<xs:whiteSpace value="collapse"/>
			<xs:pattern value="\d*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="phoneNumberCountryCode_type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="3"/>
			<xs:minLength value="1"/>
			<xs:whiteSpace value="collapse"/>
			<xs:pattern value="\d+"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ipAddressValue_type">
		<xs:annotation>
			<xs:documentation>String limitation 1000 added by KPN EAI automated guideline supervision. Increase size in Rose if desired.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="1000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="phoneNumberSubscriberNumber_type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="15"/>
			<xs:minLength value="1"/>
			<xs:whiteSpace value="collapse"/>
			<xs:pattern value="\d+"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="emailAddress_type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="320"/>
			<xs:pattern value="([\.a-zA-Z0-9_-])+@([a-zA-Z0-9_-])+(([a-zA-Z0-9_-])*\.([a-zA-Z0-9_-])+)+"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="dutchPostcode_type">
		<xs:restriction base="xs:string">
			<xs:length value="6"/>
			<xs:pattern value="\d{4}[a-zA-Z]{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="cityCode_type">
		<xs:annotation>
			<xs:documentation>*** For future use ***</xs:documentation>
			<xs:documentation>Field size limitation copied from API definition as EAI side had no limitation.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="6"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="contractId_type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="appInfo_type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="100"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="event_type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="100"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="timestamp_type">
		<xs:restriction base="xs:long"/>
	</xs:simpleType>
	<xs:simpleType name="messageId_type">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="externalRef_type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="componentId_type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="componentVersion_type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="endUserInfo_type">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="sourceAddress_type">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="sequenceNo_type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="interfaceId_type">
		<xs:annotation>
			<xs:documentation>String limitation 1000 added by KPN EAI automated guideline supervision. Increase size in Rose if desired.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="1000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="messageVersion_type">
		<xs:annotation>
			<xs:documentation>String limitation 1000 added by KPN EAI automated guideline supervision. Increase size in Rose if desired.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="1000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="messageObject_type">
		<xs:annotation>
			<xs:documentation>String limitation 1000 added by KPN EAI automated guideline supervision. Increase size in Rose if desired.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="1000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="messageParadigm_type">
		<xs:annotation>
			<xs:documentation>String limitation 1000 added by KPN EAI automated guideline supervision. Increase size in Rose if desired.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="1000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="functionalId_type">
		<xs:annotation>
			<xs:documentation>String limitation 1000 added by KPN EAI automated guideline supervision. Increase size in Rose if desired.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="1000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="moduleId_type">
		<xs:annotation>
			<xs:documentation>String limitation 1000 added by KPN EAI automated guideline supervision. Increase size in Rose if desired.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="1000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="messageName_type">
		<xs:annotation>
			<xs:documentation>String limitation 1000 added by KPN EAI automated guideline supervision. Increase size in Rose if desired.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="1000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="messageDestination_type">
		<xs:annotation>
			<xs:documentation>String limitation 1000 added by KPN EAI automated guideline supervision. Increase size in Rose if desired.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="1000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Product_Type">
		<xs:choice>
			<xs:element name="TROUBLE_SERVICE_VISIT_PRODUCT">
				<xs:annotation>
					<xs:documentation>Artificial xs:sequence to separate.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="CONTACT" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Artificial xs:sequence to separate.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="CONTACT_MEDIUM">
										<xs:annotation>
											<xs:documentation>Artificial xs:sequence to separate.</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="PHONENUMBER" type="phoneNumberSubscriberNumber_type" minOccurs="0"/>
												<xs:element name="EMAIL" type="emailAddress_type" minOccurs="0"/>
												<xs:element name="FAXNUMBER" type="phoneNumber_type" minOccurs="0"/>
												<xs:element name="MOBILE_PHONENUMBER" type="phoneNumber_type" minOccurs="0"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="CONTACT_PERSON">
										<xs:annotation>
											<xs:documentation>Artificial xs:sequence to separate.</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="FIRST_NAME" type="xs:string" minOccurs="0"/>
												<xs:element name="LAST_NAME" type="xs:string"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="CUSTOMER_NAME" type="xs:string" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="MANAGED_OBJECT" minOccurs="0" maxOccurs="2">
							<xs:annotation>
								<xs:documentation>Artificial xs:sequence to separate.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="NAME" type="xs:string"/>
									<xs:element name="VALUE" type="xs:string"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="SERVICE_PROVIDER" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="SP_ID" type="xs:string"/>
									<xs:element name="SPEX_ID" type="xs:string" minOccurs="0"/>
									<xs:element name="SPEX_NAME" type="xs:string" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="CUSTOMER" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="SP_CUSTOMERID" type="xs:string" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="RUNTIME_PARAMETERS" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="TECHNICAL_DATA" type="xs:string" minOccurs="0"/>
									<xs:element name="FP_DATA" type="xs:string" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="OBLIGATION" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Artificial xs:sequence to separate.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="APPOINTMENT" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Artificial xs:sequence to separate.</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="ID" type="xs:string" minOccurs="0"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="SLA_CLEARING_TIME" type="slaclearingdatetime_type" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="INCIDENT" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Artificial xs:sequence to separate.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="PROGRESS" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Artificial xs:sequence to separate.</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="INITIATED_BY" type="xs:string" minOccurs="0"/>
												<xs:element name="DESCRIPTION" type="xs:string" minOccurs="0"/>
												<xs:element name="STATUS" type="workOrderReference_type" minOccurs="0"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="HOURS" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Artificial xs:sequence to separate.</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="TRAVEL" type="xs:dateTime" minOccurs="0"/>
												<xs:element name="WORK" type="xs:dateTime" minOccurs="0"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="SHORT_DESCRIPTION" type="xs:string" minOccurs="0"/>
									<xs:element name="PROBABLE_CAUSE" type="xs:string" minOccurs="0"/>
									<xs:element name="DESCRIPTION" type="description_type" minOccurs="0"/>
									<xs:element name="GROUP" type="xs:string" minOccurs="0"/>
									<xs:element name="ALLOCATED" type="xs:string" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Is assigned</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="STATUS" type="xs:string" minOccurs="0"/>
									<xs:element name="CLOSUREDESCRIPTION" type="xs:string" minOccurs="0"/>
									<xs:element name="ACTION" type="xs:string" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Indicates status change. E.g. 'Accepted' </xs:documentation>
											<xs:documentation>Default (autogenerated) min and max occurs values.</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="PROCESSCODE" type="xs:string" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Default (autogenerated) min and max occurs values.</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="ROOT_CAUSE" minOccurs="0" maxOccurs="4">
							<xs:annotation>
								<xs:documentation>Artificial xs:sequence to separate.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="LEVEL" type="xs:string" minOccurs="0"/>
									<xs:element name="TECHNICAL_LEVEL" type="xs:string" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="ENGINEER" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Artificial xs:sequence to separate.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="NAME" type="xs:string" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Name of the assigned engineer</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="SKILL_LEVEL" type="xs:string" minOccurs="0"/>
									<xs:element name="SUPPLY_LOCATION_CODE" type="xs:string" minOccurs="0"/>
									<xs:element name="ASSIGNMENT_TYPE" type="xs:string" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Indicates whether the ENGINEER information is initial or a change. Value [INITIAL|CHANGE]</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="SKILL" type="xs:string" minOccurs="0"/>
									<xs:element name="ID" type="xs:string" minOccurs="0"/>
									<xs:element name="PHONENUMBER" type="xs:string" minOccurs="0"/>
									<xs:element name="USER_NAME" type="xs:string" minOccurs="0">
										<xs:annotation>
											<xs:documentation>The username of the engineer. In the KPN situation this will be the RUIS name</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="APPOINTMENT" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Artificial xs:sequence to separate.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="WISH_DATE" type="xs:dateTime" minOccurs="0"/>
									<xs:element name="LEAD_TIME" type="xs:int" minOccurs="0"/>
									<xs:element name="NORM_DURATION" type="xs:int" minOccurs="0"/>
									<xs:element name="EARLIEST_START" type="xs:dateTime" minOccurs="0"/>
									<xs:element name="CHANGE" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Artificial xs:sequence to separate.</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="REASON" type="xs:string"/>
												<xs:element name="CHANGED_BY" type="xs:string"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="ACTUAL" minOccurs="0">
										<xs:annotation>
											<xs:documentation>The moment the order is closed in Tango</xs:documentation>
											<xs:documentation>Artificial xs:sequence to separate.</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="choice">
													<xs:complexType>
														<xs:choice>
															<xs:element name="END_DATETIME" type="xs:dateTime"/>
															<xs:element name="DURATION" type="xs:duration"/>
														</xs:choice>
													</xs:complexType>
												</xs:element>
												<xs:element name="START_DATETIME" type="xs:dateTime"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="PLANNED" minOccurs="0">
										<xs:annotation>
											<xs:documentation>The moment of implementation as planned by Tango</xs:documentation>
											<xs:documentation>Artificial xs:sequence to separate.</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="choice">
													<xs:complexType>
														<xs:choice>
															<xs:element name="END_DATETIME" type="xs:dateTime"/>
															<xs:element name="DURATION" type="xs:duration"/>
														</xs:choice>
													</xs:complexType>
												</xs:element>
												<xs:element name="START_DATETIME" type="xs:dateTime"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="LOCATION" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Artificial xs:sequence to separate.</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="STREET_NAME" type="streetNameNEN5825_type" minOccurs="0"/>
												<xs:element name="HOUSE_NUMBER" type="houseNumber_type" minOccurs="0"/>
												<xs:element name="HOUSE_NUMBER_EXTENSION" type="houseNumberExtension_type" minOccurs="0"/>
												<xs:element name="DUTCH_POSTCODE" type="dutchPostcode_type" minOccurs="0"/>
												<xs:element name="CITY_CODE" type="cityCode_type" minOccurs="0">
													<xs:annotation>
														<xs:documentation>*** For future use ***</xs:documentation>
														<xs:documentation>Default (autogenerated) min and max occurs values.</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="CITY_NAME" type="cityName_type" minOccurs="0"/>
												<xs:element name="RAYON" type="xs:string" minOccurs="0"/>
												<xs:element name="TAG" type="xs:string" minOccurs="0">
													<xs:annotation>
														<xs:documentation>Reference to a location</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="AFSLUITCATEGORIE_LAATSTE_NIVO" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Artificial xs:sequence to separate.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="AFSLUITCATEGORIE" type="xs:string" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Default (autogenerated) min and max occurs values.</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="AFSLUITCATEGORIE_ID" type="xs:string" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Default (autogenerated) min and max occurs values.</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="TECHNISCHE_AFSLUITCATEGORIE" type="xs:string" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Default (autogenerated) min and max occurs values.</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="TECHNISCHE_AFSLUITCATEGORIE_ID" type="xs:string" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Default (autogenerated) min and max occurs values.</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="INSTALLATION_TYPE" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>New, moving, demolition</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="PRODUCT_NAME" type="xs:string" minOccurs="0"/>
						<xs:element name="ROOT_CAUSE_LATEST_LEVEL" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="ROOT_CAUSE" type="xs:string" minOccurs="0"/>
									<xs:element name="ROOT_CAUSE_ID" type="xs:string" minOccurs="0"/>
									<xs:element name="TECHNICAL_ROOT_CAUSE" type="xs:string" minOccurs="0"/>
									<xs:element name="TECHNICAL_ROOT_CAUSE_ID" type="xs:string" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="ATTACHMENTS" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Artificial sequence to separate.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="ATTACHMENT" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Artificial sequence to separate.</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="DATA" type="xs:base64Binary"/>
												<xs:element name="SIZE" type="xs:int" minOccurs="0"/>
												<xs:element name="NAME" type="xs:string"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="COSTS" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Artificial sequence to separate.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="TYPE" type="xs:string">
										<xs:annotation>
											<xs:documentation>The type of costs. E.g. Meerwerk</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="AMOUNT" type="amount_type">
										<xs:annotation>
											<xs:documentation>The amount of the costs including VAT</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="CURRENCY" type="currencyCodes_type"/>
									<xs:element name="VAT_RATE" type="xs:decimal">
										<xs:annotation>
											<xs:documentation>The VAT percentage</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="DESCRIPTION" type="xs:string" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Description of the costs</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="NOTES" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="PLANNER_NOTES" type="xs:string" minOccurs="0"/>
									<xs:element name="ENGINEER_NOTES" type="xs:string" minOccurs="0"/>
									<xs:element name="PVO_COMMENTS" type="xs:string" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="MATERIAL" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Artificial xs:sequence to separate.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="CODE" type="xs:string"/>
									<xs:element name="DESCRIPTION" type="xs:string" minOccurs="0"/>
									<xs:element name="QUANTITY" type="xs:integer"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="LABOUR" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Artificial xs:sequence to separate.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="CODE" type="xs:string"/>
									<xs:element name="DESCRIPTION" type="xs:string" minOccurs="0"/>
									<xs:element name="QUANTITY" type="xs:integer"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="SERVICE_VISIT_PRODUCT">
				<xs:annotation>
					<xs:documentation>Artificial xs:sequence to separate.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="CUSTOMER" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="SP_CUSTOMERID" type="xs:string" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="RESOURCE" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Artificial xs:sequence to separate.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="choice">
										<xs:complexType>
											<xs:choice>
												<xs:element name="choice_logical">
													<xs:annotation>
														<xs:documentation>Logical</xs:documentation>
													</xs:annotation>
													<xs:complexType>
														<xs:choice>
															<xs:element name="PHONENUMBER_RANGE">
																<xs:annotation>
																	<xs:documentation>Artificial xs:sequence to separate.</xs:documentation>
																</xs:annotation>
																<xs:complexType>
																	<xs:sequence>
																		<xs:element name="choice2">
																			<xs:complexType>
																				<xs:choice>
																					<xs:element name="choice3">
																						<xs:complexType>
																							<xs:choice>
																								<xs:element name="END_FORMATTED_PHONENUMBER" minOccurs="0" maxOccurs="unbounded">
																									<xs:annotation>
																										<xs:documentation>Artificial xs:sequence to separate.</xs:documentation>
																									</xs:annotation>
																									<xs:complexType>
																										<xs:sequence>
																											<xs:element name="SUBSCRIBER_NUMBER" type="subscriberNumber_type"/>
																											<xs:element name="AREA_CODE" type="phoneNumberAreaCode_type" minOccurs="0"/>
																											<xs:element name="COUNTRY_CODE" type="phoneNumberCountryCode_type" minOccurs="0"/>
																										</xs:sequence>
																									</xs:complexType>
																								</xs:element>
																								<xs:element name="END_UNFORMATTED_PHONENUMBER" type="phoneNumber_type"/>
																							</xs:choice>
																						</xs:complexType>
																					</xs:element>
																					<xs:element name="SIZE" type="xs:int"/>
																				</xs:choice>
																			</xs:complexType>
																		</xs:element>
																		<xs:element name="choice1">
																			<xs:complexType>
																				<xs:choice>
																					<xs:element name="FORMATTED_PHONENUMBER" minOccurs="0" maxOccurs="unbounded">
																						<xs:annotation>
																							<xs:documentation>Artificial xs:sequence to separate.</xs:documentation>
																						</xs:annotation>
																						<xs:complexType>
																							<xs:sequence>
																								<xs:element name="SUBSCRIBER_NUMBER" type="subscriberNumber_type"/>
																								<xs:element name="AREA_CODE" type="phoneNumberAreaCode_type" minOccurs="0"/>
																								<xs:element name="COUNTRY_CODE" type="phoneNumberCountryCode_type" minOccurs="0"/>
																							</xs:sequence>
																						</xs:complexType>
																					</xs:element>
																					<xs:element name="UNFORMATTED_PHONENUMBER" type="phoneNumber_type"/>
																				</xs:choice>
																			</xs:complexType>
																		</xs:element>
																		<xs:element name="PORTING" type="xs:boolean" minOccurs="0">
																			<xs:annotation>
																				<xs:documentation>Are the numbers to be inported</xs:documentation>
																				<xs:documentation>Default (autogenerated) min and max occurs values.</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																		<xs:element name="NUMBERBLOCK" type="xs:boolean" minOccurs="0"/>
																	</xs:sequence>
																</xs:complexType>
															</xs:element>
															<xs:element name="IP_NUMBER_RANGE">
																<xs:annotation>
																	<xs:documentation>Artificial xs:sequence to separate.</xs:documentation>
																</xs:annotation>
																<xs:complexType>
																	<xs:sequence>
																		<xs:element name="choice">
																			<xs:complexType>
																				<xs:choice>
																					<xs:element name="END_IP_ADDRESS" type="ipAddressValue_type"/>
																					<xs:element name="SIZE" type="xs:int"/>
																				</xs:choice>
																			</xs:complexType>
																		</xs:element>
																		<xs:element name="START_IP_ADDRESS" type="ipAddressValue_type"/>
																	</xs:sequence>
																</xs:complexType>
															</xs:element>
														</xs:choice>
													</xs:complexType>
												</xs:element>
												<xs:element name="choice_physical">
													<xs:annotation>
														<xs:documentation>Physical</xs:documentation>
													</xs:annotation>
													<xs:complexType>
														<xs:choice>
															<xs:element name="DEVICE_RESOURCE">
																<xs:annotation>
																	<xs:documentation>Artificial xs:sequence to separate.</xs:documentation>
																</xs:annotation>
																<xs:complexType>
																	<xs:sequence>
																		<xs:element name="TYPE" type="xs:string" minOccurs="0"/>
																	</xs:sequence>
																</xs:complexType>
															</xs:element>
															<xs:element name="PBX_RESOURCE">
																<xs:annotation>
																	<xs:documentation>Artificial xs:sequence to separate.</xs:documentation>
																</xs:annotation>
																<xs:complexType>
																	<xs:sequence>
																		<xs:element name="PBX_ID" type="xs:string" minOccurs="0"/>
																	</xs:sequence>
																</xs:complexType>
															</xs:element>
														</xs:choice>
													</xs:complexType>
												</xs:element>
											</xs:choice>
										</xs:complexType>
									</xs:element>
									<xs:element name="RESOURCE_ROLE" type="xs:string" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="RUNTIME_PARAMETERS" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Artificial xs:sequence to separate.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="BILL_OF_MATERIAL" type="xs:anyType" minOccurs="0"/>
									<xs:element name="DEVICE_PURCHASE_ORDER_ID" type="xs:string" minOccurs="0"/>
									<xs:element name="TECHNICAL_DATA" type="xs:string" minOccurs="0"/>
									<xs:element name="FP_DATA" type="xs:string" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="CONTACT" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Artificial xs:sequence to separate.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="CONTACT_MEDIUM">
										<xs:annotation>
											<xs:documentation>Artificial xs:sequence to separate.</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="PHONENUMBER" type="phoneNumberSubscriberNumber_type" minOccurs="0"/>
												<xs:element name="EMAIL" type="emailAddress_type" minOccurs="0"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="CONTACT_PERSON">
										<xs:annotation>
											<xs:documentation>Artificial xs:sequence to separate.</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="FIRST_NAME" type="xs:string" minOccurs="0"/>
												<xs:element name="LAST_NAME" type="xs:string"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="CUSTOMER_NAME" type="xs:string" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="SERVICE_PROVIDER" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="SP_ID" type="xs:string"/>
									<xs:element name="SPEX_ID" type="xs:string" minOccurs="0"/>
									<xs:element name="SPEX_NAME" type="xs:string" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="ENGINEER" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Artificial xs:sequence to separate.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="NAME" type="xs:string" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Name of the assigned engineer</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="SKILL_LEVEL" type="xs:string" minOccurs="0"/>
									<xs:element name="SUPPLY_LOCATION_CODE" type="xs:string" minOccurs="0"/>
									<xs:element name="ASSIGNMENT_TYPE" type="xs:string" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Indicates whether the ENGINEER information is initial or a change. Value [INITIAL|CHANGE]</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="SKILL" type="xs:string" minOccurs="0"/>
									<xs:element name="LOCAL_PRESENCE_IND" type="xs:boolean" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="APPOINTMENT" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Artificial xs:sequence to separate.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="CHANGE" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Artificial xs:sequence to separate.</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="REASON" type="xs:string"/>
												<xs:element name="CHANGED_BY" type="xs:string"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="REQUESTED" minOccurs="0" maxOccurs="unbounded">
										<xs:annotation>
											<xs:documentation>The date requested by the customer</xs:documentation>
											<xs:documentation>Artificial xs:sequence to separate.</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="choice">
													<xs:complexType>
														<xs:choice>
															<xs:element name="END_DATETIME" type="xs:dateTime"/>
															<xs:element name="DURATION" type="xs:duration"/>
														</xs:choice>
													</xs:complexType>
												</xs:element>
												<xs:element name="START_DATETIME" type="xs:dateTime"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="PLANNED" minOccurs="0">
										<xs:annotation>
											<xs:documentation>The moment of implementation as planned by Tango</xs:documentation>
											<xs:documentation>Artificial xs:sequence to separate.</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="choice">
													<xs:complexType>
														<xs:choice>
															<xs:element name="END_DATETIME" type="xs:dateTime"/>
															<xs:element name="DURATION" type="xs:duration"/>
														</xs:choice>
													</xs:complexType>
												</xs:element>
												<xs:element name="START_DATETIME" type="xs:dateTime"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="ACTUAL" minOccurs="0">
										<xs:annotation>
											<xs:documentation>The moment the order is closed in Tango</xs:documentation>
											<xs:documentation>Artificial xs:sequence to separate.</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="choice">
													<xs:complexType>
														<xs:choice>
															<xs:element name="END_DATETIME" type="xs:dateTime"/>
															<xs:element name="DURATION" type="xs:duration"/>
														</xs:choice>
													</xs:complexType>
												</xs:element>
												<xs:element name="START_DATETIME" type="xs:dateTime"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="LOCATION" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Artificial xs:sequence to separate.</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="STREET_NAME" type="streetNameNEN5825_type" minOccurs="0"/>
												<xs:element name="HOUSE_NUMBER" type="houseNumber_type" minOccurs="0"/>
												<xs:element name="HOUSE_NUMBER_EXTENSION" type="houseNumberExtension_type" minOccurs="0"/>
												<xs:element name="DUTCH_POSTCODE" type="dutchPostcode_type" minOccurs="0"/>
												<xs:element name="CITY_CODE" type="cityCode_type" minOccurs="0">
													<xs:annotation>
														<xs:documentation>*** For future use ***</xs:documentation>
														<xs:documentation>Default (autogenerated) min and max occurs values.</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="CITY_NAME" type="cityName_type" minOccurs="0"/>
												<xs:element name="RAYON" type="xs:string" minOccurs="0"/>
												<xs:element name="TAG" type="xs:string" minOccurs="0">
													<xs:annotation>
														<xs:documentation>Reference to a location</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="TIMESPAN" type="xs:time" minOccurs="0"/>
									<xs:element name="URGENT_FLAG" type="xs:boolean" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Indicator for urgent delivery</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="SINGLE_SIDED_APPOINTMENT_FLAG" type="xs:boolean" minOccurs="0">
										<xs:annotation>
											<xs:documentation>An indicator to show that the appointment was made without consulting the customer.</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="WISH_DATE" type="xs:dateTime" minOccurs="0"/>
									<xs:element name="LEAD_TIME" type="xs:int" minOccurs="0"/>
									<xs:element name="NORM_DURATION" type="xs:int" minOccurs="0"/>
									<xs:element name="EARLIEST_START" type="xs:dateTime" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="COSTS" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Artificial sequence to separate.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="TYPE" type="xs:string">
										<xs:annotation>
											<xs:documentation>The type of costs. E.g. Meerwerk</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="AMOUNT" type="amount_type">
										<xs:annotation>
											<xs:documentation>The amount of the costs including VAT</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="CURRENCY" type="currencyCodes_type"/>
									<xs:element name="VAT_RATE" type="xs:decimal">
										<xs:annotation>
											<xs:documentation>The VAT percentage</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="DESCRIPTION" type="xs:string" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Description of the costs</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="NOTES" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="PLANNER_NOTES" type="xs:string" minOccurs="0"/>
									<xs:element name="ENGINEER_NOTES" type="xs:string" minOccurs="0"/>
									
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="ATTACHMENTS" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Artificial sequence to separate.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="ATTACHMENT" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Artificial sequence to separate.</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="DATA" type="xs:base64Binary"/>
												<xs:element name="SIZE" type="xs:int" minOccurs="0"/>
												<xs:element name="NAME" type="xs:string"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="SERVICE" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Artificial xs:sequence to separate.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="choice">
										<xs:complexType>
											<xs:choice>
												<xs:element name="LOGIN_ACCOUNT">
													<xs:annotation>
														<xs:documentation>Artificial xs:sequence to separate.</xs:documentation>
													</xs:annotation>
													<xs:complexType>
														<xs:sequence>
															<xs:element name="USER_NAME" type="xs:string"/>
															<xs:element name="PASSWORD" type="xs:string" minOccurs="0"/>
															<xs:element name="COMMENTS" type="xs:string" minOccurs="0"/>
															<xs:element name="DOMAIN" type="xs:string" minOccurs="0"/>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
												<xs:element name="ACCESS_SERVICE">
													<xs:annotation>
														<xs:documentation>Artificial xs:sequence to separate.</xs:documentation>
													</xs:annotation>
													<xs:complexType>
														<xs:sequence>
															<xs:element name="SERVICE_INTERFACE_PORT" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Artificial xs:sequence to separate.</xs:documentation>
																</xs:annotation>
																<xs:complexType>
																	<xs:sequence>
																		<xs:element name="SIP_ID" type="xs:string" minOccurs="0"/>
																		<xs:element name="PORT_NUMBER" type="xs:string" minOccurs="0"/>
																	</xs:sequence>
																</xs:complexType>
															</xs:element>
															<xs:element name="DOWNLOAD" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Artificial xs:sequence to separate.</xs:documentation>
																</xs:annotation>
																<xs:complexType>
																	<xs:sequence>
																		<xs:element name="MAXIMUM">
																			<xs:annotation>
																				<xs:documentation>Artificial xs:sequence to separate.</xs:documentation>
																			</xs:annotation>
																			<xs:complexType>
																				<xs:sequence>
																					<xs:element name="UNIT" type="xs:string" minOccurs="0"/>
																					<xs:element name="AMOUNT" type="xs:integer"/>
																				</xs:sequence>
																			</xs:complexType>
																		</xs:element>
																		<xs:element name="MINIMUM" minOccurs="0">
																			<xs:annotation>
																				<xs:documentation>Artificial xs:sequence to separate.</xs:documentation>
																			</xs:annotation>
																			<xs:complexType>
																				<xs:sequence>
																					<xs:element name="UNIT" type="xs:string" minOccurs="0"/>
																					<xs:element name="AMOUNT" type="xs:integer"/>
																				</xs:sequence>
																			</xs:complexType>
																		</xs:element>
																	</xs:sequence>
																</xs:complexType>
															</xs:element>
															<xs:element name="UPLOAD" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Artificial xs:sequence to separate.</xs:documentation>
																</xs:annotation>
																<xs:complexType>
																	<xs:sequence>
																		<xs:element name="MINIMUM" minOccurs="0">
																			<xs:annotation>
																				<xs:documentation>Artificial xs:sequence to separate.</xs:documentation>
																			</xs:annotation>
																			<xs:complexType>
																				<xs:sequence>
																					<xs:element name="UNIT" type="xs:string" minOccurs="0"/>
																					<xs:element name="AMOUNT" type="xs:integer"/>
																				</xs:sequence>
																			</xs:complexType>
																		</xs:element>
																		<xs:element name="MAXIMUM">
																			<xs:annotation>
																				<xs:documentation>Artificial xs:sequence to separate.</xs:documentation>
																			</xs:annotation>
																			<xs:complexType>
																				<xs:sequence>
																					<xs:element name="UNIT" type="xs:string" minOccurs="0"/>
																					<xs:element name="AMOUT" type="xs:integer"/>
																				</xs:sequence>
																			</xs:complexType>
																		</xs:element>
																	</xs:sequence>
																</xs:complexType>
															</xs:element>
															<xs:element name="ACCESS_TYPE" type="xs:string" minOccurs="0"/>
															<xs:element name="ACCESS_SHARING_TYPE" type="xs:string" minOccurs="0"/>
															<xs:element name="ACCESS_ID" type="xs:string" minOccurs="0"/>
															<xs:element name="ISRA_ID" type="xs:string" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>sip-stift?</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="XDF_KEY" type="xs:string" minOccurs="0"/>
															<xs:element name="PHONENUMBER_CURRENT_ACCESSLINE" type="xs:string" minOccurs="0"/>
															<xs:element name="CURRENT_TELEPHONY_TYPE" type="xs:string" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>PSTN|ISDN</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="POP_ID" type="xs:string" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>An identifier of the point-of-presence.</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="SITE_ID" type="xs:string" minOccurs="0"/>
															<xs:element name="MIGRATION" type="xs:boolean" minOccurs="0"/>
															<xs:element name="READY_FOR_SERVICE_DATE" type="xs:dateTime" minOccurs="0"/>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
												<xs:element name="VOICE_SERVICE">
													<xs:annotation>
														<xs:documentation>Artificial xs:sequence to separate.</xs:documentation>
													</xs:annotation>
													<xs:complexType>
														<xs:sequence>
															<xs:element name="NUMBER_OF_SEATS" type="xs:integer" minOccurs="0"/>
															<xs:element name="MAXIMUM_CONCURRENT_CALLS" type="xs:integer" minOccurs="0"/>
															<xs:element name="MAXIMUM_CONCURRENT_INBOUND" type="xs:integer" minOccurs="0"/>
															<xs:element name="MAXIMUM_CONCURRENT_OUTBOUND" type="xs:integer" minOccurs="0"/>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
												<xs:element name="CONNECTION_SERVICE">
													<xs:annotation>
														<xs:documentation>Artificial xs:sequence to separate.</xs:documentation>
													</xs:annotation>
													<xs:complexType>
														<xs:sequence>
															<xs:element name="CONNECTION_SERVICE_ID" type="xs:string" minOccurs="0"/>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
												<xs:element name="END_USER_ACCESS_POINT">
													<xs:annotation>
														<xs:documentation>Artificial xs:sequence to separate.</xs:documentation>
													</xs:annotation>
													<xs:complexType>
														<xs:sequence>
															<xs:element name="END_USER_ACCESS_POINT_ID" type="xs:string" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>EAP-ID</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="NETWORK_TERMINATION_UNIT_PORT" type="portId_type" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>NT-Port</xs:documentation>
																</xs:annotation>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
											</xs:choice>
										</xs:complexType>
									</xs:element>
									<xs:element name="SERVICE_ROLE" type="xs:string" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="INSTALLATION_TYPE" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>New, moving, demolition</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="MATERIAL" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Artificial xs:sequence to separate.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="CODE" type="xs:string"/>
									<xs:element name="DESCRIPTION" type="xs:string" minOccurs="0"/>
									<xs:element name="QUANTITY" type="xs:integer"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="LABOUR" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Artificial xs:sequence to separate.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="CODE" type="xs:string"/>
									<xs:element name="DESCRIPTION" type="xs:string" minOccurs="0"/>
									<xs:element name="QUANTITY" type="xs:integer"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="PRODUCT_NAME" type="xs:string" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:choice>
	</xs:complexType>
</xs:schema>