GenericSOAPGateway/XSDSchemas/NIMVOIP/Common/ConstructOrderRequest.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xs:schema xmlns:xs = "http://www.w3.org/2001/XMLSchema">
	<xs:element name = "ENVELOPE">
		<xs:annotation>
			<xs:documentation>Comment describing your root element</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name = "sfiRequest">
					<xs:complexType>
						<xs:sequence>
							<xs:element name = "requestId" type = "xs:unsignedLong"/>
							<xs:element name = "userName" type = "xs:string"/>
							<xs:element name = "constrOrder">
								<xs:complexType>
									<xs:sequence>
										<xs:element name = "serviceId">
											<xs:complexType>
												<xs:sequence>
													<xs:element name = "dimObjectType" type = "xs:unsignedInt"/>
													<xs:element name = "dimObjectId" type = "xs:unsignedInt"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name = "updateNumberInfo">
											<xs:complexType>
												<xs:sequence>
													<xs:element name = "orderName" type = "xs:string"/>
													<xs:element name = "plannedCompDate" type = "xs:string"/>
													<xs:element name = "relatedOrderDocumentId" type = "xs:unsignedInt"/>
													<xs:element name = "serviceName" type = "xs:string"/>
													<xs:element name = "status" type = "xs:string"/>
													<xs:element name = "errorCode" type = "xs:unsignedInt"/>
													<xs:element name = "errorDescription" type = "xs:string"/>
													<xs:element name = "areaCode" type = "xs:string" minOccurs = "0"/>
													<xs:element name = "BHSFlags" type = "xs:string" minOccurs = "0"/>
													<xs:element name = "isCVI" type = "xs:string" minOccurs = "0"/>
													<xs:element name = "LRI" type = "xs:string" minOccurs = "0"/>
													<xs:element name = "numberCategory" type = "xs:string" minOccurs = "0"/>
													<xs:element name = "previousNetworkOperatorId" type = "xs:string" minOccurs = "0"/>
													<xs:element name = "serviceType" type = "xs:string" minOccurs = "0"/>
													<xs:element name = "startOfSerie" type = "xs:string" minOccurs = "0"/>
													<xs:element name = "statusDescription" type = "xs:string" minOccurs = "0"/>
													<xs:element name = "statusExchangeNrSerie" type = "xs:string" minOccurs = "0"/>
													<xs:element name = "statusNumber" type = "xs:string" minOccurs = "0"/>
													<xs:element name = "subscriberNumber" type = "xs:string" minOccurs = "0"/>
													<xs:element name = "typeOfNumber" type = "xs:string" minOccurs = "0"/>
													<xs:element name = "orgCentralAreaCode" type = "xs:string" minOccurs = "0"/>
													<xs:element name = "orgHost" type = "xs:string" minOccurs = "0"/>
													<xs:element name = "orgNetworkOperatorId" type = "xs:string" minOccurs = "0"/>
													<xs:element name = "orgSpcIdHost" type = "xs:string" minOccurs = "0"/>
													<xs:element name = "orgTelecomRegionCode" type = "xs:string" minOccurs = "0"/>
													<xs:element name = "curCentralAreaCode" type = "xs:string" minOccurs = "0"/>
													<xs:element name = "curHost" type = "xs:string" minOccurs = "0"/>
													<xs:element name = "curNetworkOperatorId" type = "xs:string" minOccurs = "0"/>
													<xs:element name = "curSpcIdHost" type = "xs:string" minOccurs = "0"/>
													<xs:element name = "curTelecomDistrictCode" type = "xs:string" minOccurs = "0"/>
													<xs:element name = "curTelecomRegionCode" type = "xs:string" minOccurs = "0"/>
													<xs:element name = "actionType" type = "xs:string" minOccurs = "0"/>
													<xs:element name = "timeAndDate" type = "xs:string" minOccurs = "0"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name = "DESTINATION" type = "xs:string"/>
			<xs:attribute name = "SENDER" type = "xs:string"/>
		</xs:complexType>
	</xs:element>
</xs:schema>