GenericSOAPGateway/XSDSchemas/NIMVOIP/Common/RealiseOrderResponse.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xs:schema xmlns:xs = "http://www.w3.org/2001/XMLSchema">
	<xs:element name = "ENVELOPE">
		<xs:annotation>
			<xs:documentation>Comment describing your root element</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name = "sfiResponse">
					<xs:complexType>
						<xs:sequence>
							<xs:element name = "requestId" type = "xs:unsignedLong"/>
							<xs:element name = "realizeOrderResp">
								<xs:complexType>
									<xs:sequence>
										<xs:element name = "errorCode" type = "xs:unsignedInt"/>
										<xs:element name = "errorMessage" type = "xs:string" minOccurs = "0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name = "DESTINATION" type = "xs:string"/>
			<xs:attribute name = "SENDER" type = "xs:string"/>
		</xs:complexType>
	</xs:element>
</xs:schema>