GenericSOAPGateway/XSDSchemas/NIMVOIP/Common/RealiseOrderRequest.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xs:schema xmlns:xs = "http://www.w3.org/2001/XMLSchema">
	<xs:element name = "ENVELOPE">
		<xs:annotation>
			<xs:documentation>Comment describing your root element</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name = "sfiRequest">
					<xs:complexType>
						<xs:sequence>
							<xs:element name = "requestId" type = "xs:unsignedLong"/>
							<xs:element name = "userName" type = "xs:string"/>
							<xs:element name = "realizeOrder">
								<xs:complexType>
									<xs:sequence>
										<xs:element name = "orderId">
											<xs:complexType>
												<xs:sequence>
													<xs:element name = "dimObjectType" type = "xs:unsignedInt"/>
													<xs:element name = "dimObjectId" type = "xs:unsignedInt"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name = "DESTINATION" type = "xs:string"/>
			<xs:attribute name = "SENDER" type = "xs:string"/>
		</xs:complexType>
	</xs:element>
</xs:schema>