EDTAdapter/WSDL/EDTAdapter/001 - FIND_CUSTOMER.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ns0="http://tempuri.org" xmlns:s="urn:FIND_CUSTOMER" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:FIND_CUSTOMER">
    <types>
        <xsd:schema elementFormDefault="qualified" targetNamespace="urn:FIND_CUSTOMER">
            <xsd:element name="FindCustomer" type="s:KSD_FindCustomer"/>
            <xsd:complexType name="KSD_FindCustomer">
                <xsd:sequence>
                    <xsd:element name="GUID" type="xsd:string"/>
                    <xsd:element name="Organisatie" type="xsd:string"/>
                    <xsd:element name="TINCode" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="Straat" type="xsd:string"/>
                    <xsd:element name="Huisnr" type="xsd:string"/>
                    <xsd:element name="Huisnr_Toev" type="xsd:string"/>
                    <xsd:element name="Pstcodcyf" type="xsd:string"/>
                    <xsd:element name="Pstcodlet" type="xsd:string"/>
                    <xsd:element name="Plaats" type="xsd:string"/>
                    <xsd:element name="Telefoonnummer" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="FindCustomerResponse" type="s:KSD_CustomerList"/>
            <xsd:complexType name="KSD_CustomerList">
                <xsd:sequence>
                    <xsd:element name="GUID" type="xsd:string"/>
                    <xsd:element name="CustomerList" type="s:Customer" minOccurs="0" maxOccurs="1"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Customer">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="Customer" type="s:CustomerType"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="CustomerType">
                <xsd:sequence>
                    <xsd:element name="TINCode" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="CKRNummer" type="xsd:string"/>
                    <xsd:element name="Straat" type="xsd:string"/>
                    <xsd:element name="Huisnr" type="xsd:string"/>
                    <xsd:element name="Huisnr_Toev" type="xsd:string"/>
                    <xsd:element name="Pstcodcyf" type="xsd:string"/>
                    <xsd:element name="Pstcodlet" type="xsd:string"/>
                    <xsd:element name="Plaats" type="xsd:string"/>
                    <xsd:element name="codwpl" type="xsd:string"/>
                    <xsd:element name="codrvx" type="xsd:string"/>
                    <xsd:element name="datgeb" type="xsd:string"/>
                    <xsd:element name="namrsx" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </types>
    <message name="FindCustomerRequestMsg">
        <part name="parameters" element="s:FindCustomer"/>
    </message>
    <message name="FindCustomerResponseMsg">
        <part name="parameters" element="s:FindCustomerResponse"/>
    </message>
    <portType name="FIND_CUSTOMERPortType">
        <operation name="FindCustomer">
            <input message="s:FindCustomerRequestMsg"/>
            <output message="s:FindCustomerResponseMsg"/>
        </operation>
    </portType>
    <binding name="FIND_CUSTOMERSoapBinding" type="s:FIND_CUSTOMERPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="FindCustomer">
            <soap:operation soapAction="urn:FIND_CUSTOMER/FindCustomer" style="document"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="FIND_CUSTOMER_SERVICE">
        <port name="FIND_CUSTOMERSoap" binding="s:FIND_CUSTOMERSoapBinding">
            <soap:address location="http://localhost:48093/EDTAdapter/Processes/FindCustomer"/>
        </port>
    </service>
</definitions>