EDTAdapter/WSDL/EDTAdapter/002 - GET_CUSTOMER_DETAILS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ns0="http://tempuri.org" xmlns:s="urn:GET_CUSTOMER_DETAILS" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:GET_CUSTOMER_DETAILS">
    <types>
        <xsd:schema elementFormDefault="qualified" targetNamespace="urn:GET_CUSTOMER_DETAILS">
            <xsd:element name="GetCustomerDetails" type="s:KSD_GetCustomerDetails"/>
            <xsd:complexType name="KSD_GetCustomerDetails">
                <xsd:sequence>
                    <xsd:element name="GUID" type="xsd:string"/>
                    <xsd:element name="CKRNummer" type="xsd:string"/>
                    <xsd:element name="SystemDate" type="xsd:date"/>
                    <xsd:element name="iagop_code" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="GetCustomerDetailsResponse" type="s:KSD_CustomerDetails"/>
            <xsd:complexType name="KSD_CustomerDetails">
                <xsd:sequence>
                    <xsd:element name="GUID" type="xsd:string"/>
                    <xsd:element name="CKRNummer" type="xsd:string"/>
                    <xsd:element name="Straat" type="xsd:string"/>
                    <xsd:element name="Huisnr" type="xsd:string"/>
                    <xsd:element name="Huisnr_Toev" type="xsd:string"/>
                    <xsd:element name="Pstcodcyf" type="xsd:string"/>
                    <xsd:element name="Pstcodlet" type="xsd:string"/>
                    <xsd:element name="Plaats" type="xsd:string"/>
                    <xsd:element name="tincod" type="xsd:string"/>
                    <xsd:element name="codrvx" type="xsd:string"/>
                    <xsd:element name="datgeb" type="xsd:string"/>
                    <xsd:element name="ckrnumhfd" type="xsd:string"/>
                    <xsd:element name="kvknum" type="xsd:string"/>
                    <xsd:element name="dating" type="xsd:string"/>
                    <xsd:element name="datend" type="xsd:string"/>
                    <xsd:element name="zipvoor" type="xsd:string"/>
                    <xsd:element name="zipna" type="xsd:string"/>
                    <xsd:element name="indxxx" type="xsd:string"/>
                    <xsd:element name="codwpl" type="xsd:string"/>
                    <xsd:element name="codmagrp" type="xsd:string"/>
                    <xsd:element name="codmaseg" type="xsd:string"/>
                    <xsd:element name="biccod" type="xsd:string"/>
                    <xsd:element name="klasgrtt" type="xsd:string"/>
                    <xsd:element name="typvst" type="xsd:string"/>
                    <xsd:element name="finsta" type="xsd:string"/>
                    <xsd:element name="codtcr" type="xsd:string"/>
                    <xsd:element name="NENklntnam" type="xsd:string"/>
                    <xsd:element name="NENacadTitel" type="xsd:string"/>
                    <xsd:element name="NENInit" type="xsd:string"/>
                    <xsd:element name="NENadelTitel" type="xsd:string"/>
                    <xsd:element name="NENPrefix" type="xsd:string"/>
                    <xsd:element name="NENSurname" type="xsd:string"/>
                    <xsd:element name="statusadres" type="xsd:string"/>
                    <xsd:element name="indverh" type="xsd:string"/>
                    <xsd:element name="indacc" type="xsd:string"/>
                    <xsd:element name="iverver" type="xsd:string"/>
                    <xsd:element name="iagopnen" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </types>
    <message name="GetCustomerDetailsRequestMsg">
        <part name="parameters" element="s:GetCustomerDetails"/>
    </message>
    <message name="GetCustomerDetailsResponseMsg">
        <part name="parameters" element="s:GetCustomerDetailsResponse"/>
    </message>
    <portType name="GET_CUSTOMER_DETAILSPortType">
        <operation name="GetCustomerDetails">
            <input message="s:GetCustomerDetailsRequestMsg"/>
            <output message="s:GetCustomerDetailsResponseMsg"/>
        </operation>
    </portType>
    <binding name="GET_CUSTOMER_DETAILSSoapBinding" type="s:GET_CUSTOMER_DETAILSPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="GetCustomerDetails">
            <soap:operation soapAction="urn:GET_CUSTOMER_DETAILS/GetCustomerDetails" style="document"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="GET_CUSTOMER_DETAILS_SERVICE">
        <port name="GET_CUSTOMER_DETAILSSoap" binding="s:GET_CUSTOMER_DETAILSSoapBinding">
            <soap:address location="http://localhost:48093/EDTAdapter/Processes/GetCustomerDetails"/>
        </port>
    </service>
</definitions>