EDTAdapter/WSDL/EDTAdapter/005 - GET_TICKETS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ns0="http://tempuri.org" xmlns:s="urn:GET_TICKETS" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:GET_TICKETS">
    <types>
        <xsd:schema elementFormDefault="qualified" targetNamespace="urn:GET_TICKETS">
            <xsd:element name="GetTickets" type="s:KSD_GetTickets"/>
            <xsd:complexType name="KSD_GetTickets">
                <xsd:sequence>
                    <xsd:element name="GUID" type="xsd:string"/>
                    <xsd:element name="activeTickets" type="xsd:string"/>
                    <xsd:element name="historicalTickets" type="xsd:string"/>
                    <xsd:element name="streetName" type="xsd:string"/>
                    <xsd:element name="cityName" type="xsd:string"/><!-- EAI0001243 changed date to string -->
                    <xsd:element name="fromDate" type="xsd:string"/><!-- EAI0001243 changed date to string -->
                    <xsd:element name="untilDate" type="xsd:string"/>
                    <xsd:element name="customerRefNo" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="GetTicketsResponse" type="s:KSD_Tickets"/>
            <xsd:complexType name="KSD_Tickets">
                <xsd:sequence>
                    <xsd:element name="GUID" type="xsd:string"/>
                    <xsd:element name="TicketList" type="s:Ticket"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Ticket">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="Ticket" type="s:TicketType"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="TicketType">
                <xsd:sequence>
                    <xsd:element name="ACCEPT_DATE_TIME" type="xsd:dateTime" minOccurs="0"/>
                    <xsd:element name="ANALYSIS_INFORMATION" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ANALYSIS_INFORMATION_SUMMARY" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ANALYST_ID" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="APPOINTMENT_ENGINEER_AREA" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ASSIGNED_DATE_TIME" type="xsd:dateTime" minOccurs="0"/>
                    <xsd:element name="CLOSED_DATE" type="xsd:dateTime" minOccurs="0"/>
                    <xsd:element name="CLOSURE_REPORT_CODE" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CREATED_ON_DATE" type="xsd:dateTime" minOccurs="0"/>
                    <xsd:element name="CUSTOMER_ACK_COMPLETE_DATETIME" type="xsd:dateTime" minOccurs="0"/>
                    <xsd:element name="EMPLOYEE_LOGIN_NAME" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="EXTERNAL_CUSTOMER_REF_NO" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="FORMULA_ID" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ISDN_SUB_NUMBER" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MM007C_TROUBLE_URGENCY_FLAG" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MM007C_TROUBLE_URGENCY_ID" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MM007R_PRODUCT_TYPE_DESCRIPTION" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MM007_ANALYST_TEXT" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MM007_APPOINTMENT_DT" type="xsd:dateTime" minOccurs="0"/>
                    <xsd:element name="MM007_APPOINTMENT_ORG_TEXT" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MM007_BAAN_CONTRACT_ID" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MM007_CONTRACT_BEGIN_DT" type="xsd:dateTime" minOccurs="0"/>
                    <xsd:element name="MM007_CONTRACT_CODE" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MM007_CONTRACT_HALFHOUR_IND" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MM007_CUSTOMER_ACCEPTS_COSTS" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MM007_CUSTOMER_CONTRACT_COUNT" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MM007_DISPATCH_SYSTEM" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MM007_ENGINEER_WILL_VISIT_CUSTOMER" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MM007_ORDER_TYPE_ABBREVIATION" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MM007_OWNED_TROUBLE_REPORT" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MM007_PART_OF_DAY_BEGIN_TM" type="xsd:time" minOccurs="0"/>
                    <xsd:element name="MM007_PART_OF_DAY_CODE" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MM007_PART_OF_DAY_END_TM" type="xsd:time" minOccurs="0"/>
                    <xsd:element name="MM007_PART_OF_DAY_ORG_CODE" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MM007_PRODUCT_CATEGORY_ID" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MM007_PRODUCT_ID" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MM007_PRODUCT_TYPE_CODE" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MM007_PRODUCT_TYPE_CODE_1" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MM007_PRODUCT_TYPE_DESCRIPTION" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MM007_PRODUCT_TYPE_DESCRIPTION_1" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MM007_PRODUCT_TYPE_ID" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MM007_REGION_ID_SEQ_NUMBER" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MM007_REPAIR_REMARKS" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MM007_REPORT_KEY" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MM007_RESEARCH_AREA" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MM007_RESEARCH_DEPARTMENT_CODE" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MM007_RESEARCH_EMPLOYEE_CODE" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MM007_ROUTED_TO" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MM007_SERVICE_HOURS_CODE" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MM007_SERVICE_ID" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MM007_SERVICE_PHONE_NUMBER" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MM007_SERVICE_RESPONSE_WINDOW" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MM007_SOURCE" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MM007_SPECIFY_DEFAULT_ANALIST" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MM007_STRATA_NAME" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MM007_STRATA_SEQ_NUMBER" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MM007_SUBSCRIBED_TO_NOTIFICATIONS" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MM007_TARGET" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MM007_TROUBLE_CAUSE_CODE" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MM007_TROUBLE_URGENCY_FLAG" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MM007_TROUBLE_URGENCY_ID" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MM007_VISIT_IND_1" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MM007_WORK_AREA_CODE" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="NOTIFICATION_COMPLETE_DATETIME" type="xsd:dateTime" minOccurs="0"/>
                    <xsd:element name="PRV_TROUBLE_STATUS_CODE" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="PRV_TROUBLE_STATUS_DESCRIPTION" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="REPAIR_DEADLINE_DATE_TIME" type="xsd:dateTime" minOccurs="0"/>
                    <xsd:element name="REPAIR_REMARKS" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="REPEATED_TROUBLE_FLAG" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="REPORT_DESCR" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="RESEARCH_DEPARTMENT_CODE" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="RESEARCH_EMPLOYEE_CODE" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SLA_CLEARING_DATE_TIME" type="xsd:dateTime" minOccurs="0"/>
                    <xsd:element name="SLA_CLEARING_DATE_TIME_1" type="xsd:dateTime" minOccurs="0"/>
                    <xsd:element name="STRATA_TROUBLE_CLOSURE_METHOD" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TROUBLE_CAUSE_CODE" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TROUBLE_CAUSE_DESCRIPTION" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TROUBLE_CLOSURE_METHOD" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TROUBLE_REPORT_ID" type="xsd:integer" minOccurs="0"/>
                    <xsd:element name="TROUBLE_RESOLUTION_CODE" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TROUBLE_STATUS_CODE" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TROUBLE_STATUS_DESCRIPTION" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CONTACT_PERSON" type="s:ContactPerson" minOccurs="0"/>
                    <xsd:element name="COMPLAINT_CATEGORY" type="s:ComplaintCategory" minOccurs="0"/>
                    <xsd:element name="IDENTIFIED_CUSTOMER" type="s:IdentifiedCustomer" minOccurs="0"/>
                    <xsd:element name="SERVICE_VISIT" type="s:ServiceVisit" minOccurs="0"/>
                    <xsd:element name="WORK_ORDER" type="s:WorkOrder" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ContactPerson">
                <xsd:sequence>
                    <xsd:element name="FAMILY_NAME" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="PHONE_NUMBER" type="xsd:string" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ComplaintCategory">
                <xsd:sequence>
                    <xsd:element name="COMPLAINT_GROUP_CODE" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="COMPLAINT_SPECIFIC_DESCRIPTION" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="COMPLAINT_STANDARD_DESCRIPTION" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="COMPLAINT_SUB_GROUP_CODE" type="xsd:string" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="IdentifiedCustomer">
                <xsd:sequence>
                    <xsd:element name="CENTRAL_CUSTOMER_ID" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="PARTY_NAME" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TELECOM_DISTRICT_CODE" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TELECOM_REGION_CODE" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="STRATA_TELECOM_DISTRICT_CODE" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="PARTY" type="s:Party" minOccurs="0"/>
                    <xsd:element name="PROPERTY_ADDRESS" type="s:PropertyAddress" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ServiceVisit">
                <xsd:sequence>
                    <xsd:element name="START_DATE_TIME" type="xsd:dateTime" minOccurs="0"/>
                    <xsd:element name="VISIT_WINDOW_START_TIME" type="xsd:time" minOccurs="0"/>
                    <xsd:element name="VISIT_WINDOW_END_TIME" type="xsd:time" minOccurs="0"/>
                    <xsd:element name="MM007_APPOINTMENT_OUTSIDE_CUSTOMER_NORM" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MM007_APPOINTMENT_OUTSIDE_NORM_CALENDAR" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MM007_APPOINTMENT_PART_OF_DAY" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MM007_RESEARCH_DEPARTMENT_CODE" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MM007_RESEARCH_EMPLOYEE_CODE" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="RESEARCH_AGENCY_CODE" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="APPOINTMENT_WITHIN_NORM" type="xsd:string" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="WorkOrder">
                <xsd:sequence>
                    <xsd:element name="WORK_ORDER_ACTUAL_END_DATETIME" type="xsd:dateTime" minOccurs="0"/>
                    <xsd:element name="WORK_ORDER_ACTUAL_START_DATETIME" type="xsd:dateTime" minOccurs="0"/>
                    <xsd:element name="WORK_ORDER_COMPLETION_DATETIME" type="xsd:dateTime" minOccurs="0"/>
                    <xsd:element name="WORK_ORDER_ISSUE_DATETIME" type="xsd:dateTime" minOccurs="0"/>
                    <xsd:element name="PRV_WORK_ORDER_ISSUE_DATETIME" type="xsd:dateTime" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Party">
                <xsd:sequence>
                    <xsd:element name="LEGAL_FORM_CODE" type="xsd:string" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="PropertyAddress">
                <xsd:sequence>
                    <xsd:element name="CITY_CODE" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CITY_NAME" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DUTCH_POSTCODE_LETTERS" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DUTCH_POSTCODE_NUMBERS" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="HOUSE_NUMBER" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="HOUSE_NUMBER_EXTENSION" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="STREET_NAME" type="xsd:string" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </types>
    <message name="GetTicketsRequestMsg">
        <part name="parameters" element="s:GetTickets"/>
    </message>
    <message name="GetTicketsResponseMsg">
        <part name="parameters" element="s:GetTicketsResponse"/>
    </message>
    <portType name="GET_TICKETSPortType">
        <operation name="GetTickets">
            <input message="s:GetTicketsRequestMsg"/>
            <output message="s:GetTicketsResponseMsg"/>
        </operation>
    </portType>
    <binding name="GET_TICKETSSoapBinding" type="s:GET_TICKETSPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="GetTickets">
            <soap:operation soapAction="urn:GET_TICKETS/GetTickets" style="document"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="GET_TICKETS_SERVICE">
        <port name="GET_TICKETSSoap" binding="s:GET_TICKETSSoapBinding">
            <soap:address location="http://localhost:48093/EDTAdapter/Processes/GetTickets"/>
        </port>
    </service>
</definitions>