EDTAdapter/WSDL/EDTAdapter/006a - GET_LINE_MEASUREMENT_UPDATE.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ns0="http://tempuri.org" xmlns:s="urn:GetLineMeasurementUpdateRequest" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:GetLineMeasurementUpdateRequest">
	<types>
		<xsd:schema elementFormDefault="qualified" targetNamespace="urn:GetLineMeasurementUpdateRequest">
			<xsd:import namespace="http://tempuri.org"/>
			<xsd:element name="GetLineMeasurementUpdate" type="s:CreateInputMap"/>
			<xsd:complexType name="CreateInputMap">
				<xsd:sequence>
					<xsd:element ref="ns0:GetLineMeasurementUpdateRequest"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="GetLineMeasurementUpdateResponse" type="s:CreateOutputMap"/>
			<xsd:complexType name="CreateOutputMap">
				<xsd:sequence>
					<xsd:element ref="ns0:GetLineMeasurementUpdateResponse"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="AuthenticationInfo" type="s:AuthenticationInfo"/>
			<xsd:complexType name="AuthenticationInfo">
				<xsd:sequence>
					<xsd:element name="userName" type="xsd:string"/>
					<xsd:element name="password" type="xsd:string"/>
					<xsd:element minOccurs="0" name="authentication" type="xsd:string"/>
					<xsd:element minOccurs="0" name="locale" type="xsd:string"/>
					<xsd:element minOccurs="0" name="timeZone" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
		<xs:schema xmlns="http://tempuri.org" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://tempuri.org">
			<xs:element name="GetLineMeasurementUpdateRequest" type="KSD_GetLineMeasurementUpdate">
				<xs:annotation>
					<xs:documentation>Comment describing your root element</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:complexType name="KSD_GetLineMeasurementUpdate">
				<xs:sequence>
					<xs:element name="STATUS_CODE" type="xs:string"/>
					<xs:element name="ERROR_CODE" type="xs:string"/>
					<xs:element name="ERROR_DESCRIPTION" type="xs:string"/>
					<xs:element name="ACVoltageAB" type="xs:string"/>
					<xs:element name="ACVoltageALeg" type="xs:string"/>
					<xs:element name="ACVoltageBA" type="xs:string"/>
					<xs:element name="ACVoltageBLeg" type="xs:string"/>
					<xs:element name="Background" type="xs:string"/>
					<xs:element name="BackgroundCurrentALeg" type="xs:string"/>
					<xs:element name="BackgroundCurrentBLeg" type="xs:string"/>
					<xs:element name="Battery" type="xs:string"/>
					<xs:element name="CableLength" type="xs:string"/>
					<xs:element name="CableType" type="xs:string"/>
					<xs:element name="CapacitanceAB" type="xs:string"/>
					<xs:element name="CapacitanceALeg" type="xs:string"/>
					<xs:element name="CapacitanceBA" type="xs:string"/>
					<xs:element name="CapacitanceBLeg" type="xs:string"/>
					<xs:element name="CapacitanceCable" type="xs:string"/>
					<xs:element name="CapacitanceMutual" type="xs:string"/>
					<xs:element name="ConductanceAB" type="xs:string"/>
					<xs:element name="ConductanceALeg" type="xs:string"/>
					<xs:element name="ConductanceBA" type="xs:string"/>
					<xs:element name="ConductanceBLeg" type="xs:string"/>
					<xs:element name="DCCurrentAB" type="xs:string"/>
					<xs:element name="DCCurrentALeg" type="xs:string"/>
					<xs:element name="DCCurrentALegBattery" type="xs:string"/>
					<xs:element name="DCCurrentBA" type="xs:string"/>
					<xs:element name="DCCurrentBLeg" type="xs:string"/>
					<xs:element name="DCCurrentBLegBattery" type="xs:string"/>
					<xs:element name="DCVoltageAB" type="xs:string"/>
					<xs:element name="DCVoltageALeg" type="xs:string"/>
					<xs:element name="DCVoltageBA" type="xs:string"/>
					<xs:element name="DCVoltageBLeg" type="xs:string"/>
					<xs:element name="Dispatch" type="xs:string"/>
					<xs:element name="GUID" type="xs:string"/>
					<xs:element name="ISDNDigitalResult" type="xs:string"/>
					<xs:element maxOccurs="5" minOccurs="0" name="InsulationFaults" type="InsulationFault"/>
					<xs:element name="LineCondition" type="xs:string"/>
					<xs:element name="LineType" type="xs:string"/>
					<xs:element name="MeasurementType" type="xs:string"/>
					<xs:element name="MeasurementVoltage" type="xs:string"/>
					<xs:element name="PhoneNumber" type="xs:string"/>
					<xs:element name="PowerInfluence" type="xs:string"/>
					<xs:element name="PrebcoVoltageALeg" type="xs:string"/>
					<xs:element name="PrebcoVoltageBLeg" type="xs:string"/>
					<xs:element name="ResistanceAB" type="xs:string"/>
					<xs:element name="ResistanceALeg" type="xs:string"/>
					<xs:element name="ResistanceALegBattery" type="xs:string"/>
					<xs:element name="ResistanceBA" type="xs:string"/>
					<xs:element name="ResistanceBLeg" type="xs:string"/>
					<xs:element name="ResistanceBLegBattery" type="xs:string"/>
					<xs:element name="SignatureCode" type="xs:string"/>
					<xs:element name="SusceptanceAB" type="xs:string"/>
					<xs:element name="SusceptanceALeg" type="xs:string"/>
					<xs:element name="SusceptanceBA" type="xs:string"/>
					<xs:element name="SusceptanceBLeg" type="xs:string"/>
					<xs:element name="Termination" type="xs:string"/>
					<xs:element name="Time" type="xs:dateTime"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="InsulationFault">
				<xs:sequence>
					<xs:element name="InsulationFault" type="InsulationFaultType"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="InsulationFaultType">
				<xs:sequence>
					<xs:element name="FaultType" type="xs:string"/>
					<xs:element name="Magnitude" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:element name="GetLineMeasurementUpdateResponse" type="KSD_LineMeasurementAck"/>
			<xs:complexType name="KSD_LineMeasurementAck">
				<xs:sequence>
					<xs:element name="GUID" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
	</types>
	<message name="GetLineMeasurementUpdateSoapIn">
		<part element="s:GetLineMeasurementUpdate" name="parameters"/>
	</message>
	<message name="GetLineMeasurementUpdateSoapOut">
		<part element="s:GetLineMeasurementUpdateResponse" name="parameters"/>
	</message>
	<message name="ARAuthenticate">
		<part element="s:AuthenticationInfo" name="parameters"/>
	</message>
	<portType name="GetLineMeasurementUpdateRequestPortType">
		<operation name="GetLineMeasurementUpdate">
			<input message="s:GetLineMeasurementUpdateSoapIn"/>
			<output message="s:GetLineMeasurementUpdateSoapOut"/>
		</operation>
	</portType>
	<binding name="GetLineMeasurementUpdateRequestSoapBinding" type="s:GetLineMeasurementUpdateRequestPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="GetLineMeasurementUpdate">
			<soap:operation soapAction="urn:GetLineMeasurementUpdateRequest/GetLineMeasurementUpdate" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="GetLineMeasurementUpdateRequestService">
		<port binding="s:GetLineMeasurementUpdateRequestSoapBinding" name="GetLineMeasurementUpdateRequestSoap">
			<soap:address location="http://localhost:48093/EDTAdapter/Processes/GetLineMeasurementUpdateRequest"/>
		</port>
	</service>
</definitions>
