EDTAdapter/WSDL/EDTAdapter/009 - UPGRADE_FORMULA.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ns0="http://tempuri.org" xmlns:s="urn:UPGRADE_FORMULA" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:UPGRADE_FORMULA">
    <types>
        <xsd:schema elementFormDefault="qualified" targetNamespace="urn:UPGRADE_FORMULA">
            <xsd:element name="UpgradeFormula" type="s:KSD_UpgradeFormula"/>
            <xsd:complexType name="KSD_UpgradeFormula">
                <xsd:sequence>
                    <xsd:element name="GUID" type="xsd:string"/><!-- EAI00001243 dateTime to string -->
                    <xsd:element name="troubleReportDetectionTime" type="xsd:string"/>
                    <xsd:element name="formulaId" type="xsd:string"/><!-- EAI00001243 dateTime to string -->
                    <xsd:element name="expectedResolutionDateTime" type="xsd:string"/><!-- EAI00001243 dateTime to string -->
                    <xsd:element name="deadlineDateTime" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="UpgradeFormulaResponse" type="s:KSD_Formula"/>
            <xsd:complexType name="KSD_Formula">
                <xsd:sequence>
                    <xsd:element name="GUID" type="xsd:string"/><!-- EAI00001243 dateTime to string -->
                    <xsd:element name="deadlineDateTime" type="xsd:string"/>
                    <xsd:element name="formulaId" type="xsd:string"/>
                    <xsd:element name="TroubleReports" type="s:TroubleReport"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="TroubleReport">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="TroubleReport" type="s:TroubleReportType"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="TroubleReportType">
                <xsd:sequence>
                    <xsd:element name="formulaCode" type="xsd:string"/>
                    <xsd:element name="formulaDescription" type="xsd:string"/><!-- EAI00001243 integer to string -->
                    <xsd:element name="formulaLevel" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </types>
    <message name="UpgradeFormulaRequestMsg">
        <part name="parameters" element="s:UpgradeFormula"/>
    </message>
    <message name="UpgradeFormulaResponseMsg">
        <part name="parameters" element="s:UpgradeFormulaResponse"/>
    </message>
    <portType name="UPGRADE_FORMULAPortType">
        <operation name="UpgradeFormula">
            <input message="s:UpgradeFormulaRequestMsg"/>
            <output message="s:UpgradeFormulaResponseMsg"/>
        </operation>
    </portType>
    <binding name="UPGRADE_FORMULASoapBinding" type="s:UPGRADE_FORMULAPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="UpgradeFormula">
            <soap:operation soapAction="urn:UPGRADE_FORMULA/UpgradeFormula" style="document"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="UPGRADE_FORMULA_SERVICE">
        <port name="UPGRADE_FORMULASoap" binding="s:UPGRADE_FORMULASoapBinding">
            <soap:address location="http://localhost:48093/EDTAdapter/Processes/UpgradeFormula"/>
        </port>
    </service>
</definitions>