EDTAdapter/WSDL/EDTAdapter/014 - SEND_TICKET.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ns0="http://tempuri.org" xmlns:s="urn:SEND_TICKET" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:SEND_TICKET">
    <types>
        <xsd:schema elementFormDefault="qualified" targetNamespace="urn:SEND_TICKET">
            <xsd:element name="SendTicket" type="s:KSD_SendTicket"/>
            <xsd:complexType name="KSD_SendTicket">
                <xsd:sequence>
                    <xsd:element name="GUID" type="xsd:string"/>
                    <xsd:element name="ACCEPT_DATE_TIME" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ANALYSIS_INFORMATION" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ANALYSIS_INFORMATION_SUMMARY" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ANALYST_ID" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="APPOINTMENT_ENGINEER_AREA" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ASSIGNED_DATE_TIME" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CLOSED_DATE" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CLOSURE_REPORT_CODE" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CREATED_ON_DATE" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CUSTOMER_ACK_COMPLETE_DATETIME" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="EMPLOYEE_LOGIN_NAME" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="EXTERNAL_CUSTOMER_REF_NO" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="FORMULA_ID" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ISDN_SUB_NUMBER" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MM007C_TROUBLE_URGENCY_FLAG" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MM007C_TROUBLE_URGENCY_ID" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MM007R_PRODUCT_TYPE_DESCRIPTION" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MM007_ANALYST_TEXT" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MM007_APPOINTMENT_DT" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MM007_APPOINTMENT_ORG_TEXT" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MM007_BAAN_CONTRACT_ID" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MM007_CONTRACT_BEGIN_DT" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MM007_CONTRACT_CODE" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MM007_CONTRACT_HALFHOUR_IND" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MM007_CUSTOMER_ACCEPTS_COSTS" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MM007_CUSTOMER_CONTRACT_COUNT" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MM007_DISPATCH_SYSTEM" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MM007_ENGINEER_WILL_VISIT_CUSTOMER" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MM007_ORDER_TYPE_ABBREVIATION" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MM007_OWNED_TROUBLE_REPORT" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MM007_PART_OF_DAY_BEGIN_TM" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MM007_PART_OF_DAY_CODE" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MM007_PART_OF_DAY_END_TM" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MM007_PART_OF_DAY_ORG_CODE" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MM007_PRODUCT_CATEGORY_ID" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MM007_PRODUCT_ID" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MM007_PRODUCT_TYPE_CODE" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MM007_PRODUCT_TYPE_CODE_1" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MM007_PRODUCT_TYPE_DESCRIPTION" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MM007_PRODUCT_TYPE_DESCRIPTION_1" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MM007_PRODUCT_TYPE_ID" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MM007_REGION_ID_SEQ_NUMBER" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MM007_REPAIR_REMARKS" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MM007_REPORT_KEY" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MM007_RESEARCH_AREA" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MM007_RESEARCH_DEPARTMENT_CODE" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MM007_RESEARCH_EMPLOYEE_CODE" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MM007_ROUTED_TO" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MM007_SERVICE_HOURS_CODE" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MM007_SERVICE_ID" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MM007_SERVICE_PHONE_NUMBER" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MM007_SERVICE_RESPONSE_WINDOW" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MM007_SOURCE" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MM007_SPECIFY_DEFAULT_ANALIST" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MM007_STRATA_NAME" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MM007_STRATA_SEQ_NUMBER" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MM007_SUBSCRIBED_TO_NOTIFICATIONS" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MM007_TARGET" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MM007_TROUBLE_CAUSE_CODE" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MM007_TROUBLE_URGENCY_FLAG" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MM007_TROUBLE_URGENCY_ID" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MM007_VISIT_IND_1" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MM007_WORK_AREA_CODE" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="NOTIFICATION_COMPLETE_DATETIME" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="PRV_TROUBLE_STATUS_CODE" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="PRV_TROUBLE_STATUS_DESCRIPTION" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="REPAIR_DEADLINE_DATE_TIME" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="REPAIR_REMARKS" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="REPEATED_TROUBLE_FLAG" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="REPORT_DESCR" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="RESEARCH_DEPARTMENT_CODE" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="RESEARCH_EMPLOYEE_CODE" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SLA_CLEARING_DATE_TIME" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SLA_CLEARING_DATE_TIME_1" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="STRATA_TROUBLE_CLOSURE_METHOD" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TROUBLE_CAUSE_CODE" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TROUBLE_CAUSE_DESCRIPTION" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TROUBLE_CLOSURE_METHOD" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TROUBLE_REPORT_ID" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TROUBLE_RESOLUTION_CODE" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TROUBLE_STATUS_CODE" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TROUBLE_STATUS_DESCRIPTION" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="FAMILY_NAME" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="PHONE_NUMBER" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="COMPLAINT_GROUP_CODE" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="COMPLAINT_SPECIFIC_DESCRIPTION" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="COMPLAINT_STANDARD_DESCRIPTION" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="COMPLAINT_SUB_GROUP_CODE" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CENTRAL_CUSTOMER_ID" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="PARTY_NAME" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TELECOM_DISTRICT_CODE" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TELECOM_REGION_CODE" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="STRATA_TELECOM_DISTRICT_CODE" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="LEGAL_FORM_CODE" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CITY_CODE" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CITY_NAME" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DUTCH_POSTCODE_LETTERS" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DUTCH_POSTCODE_NUMBERS" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="HOUSE_NUMBER" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="HOUSE_NUMBER_EXTENSION" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="STREET_NAME" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="START_DATE_TIME" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="VISIT_WINDOW_START_TIME" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="VISIT_WINDOW_END_TIME" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MM007_APPOINTMENT_OUTSIDE_CUSTOMER_NORM" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MM007_APPOINTMENT_OUTSIDE_NORM_CALENDAR" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MM007_APPOINTMENT_PART_OF_DAY" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SV_MM007_RESEARCH_DEPARTMENT_CODE" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SV_MM007_RESEARCH_EMPLOYEE_CODE" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="RESEARCH_AGENCY_CODE" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="APPOINTMENT_WITHIN_NORM" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="WORK_ORDER_ACTUAL_END_DATETIME" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="WORK_ORDER_ACTUAL_START_DATETIME" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="WORK_ORDER_COMPLETION_DATETIME" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="WORK_ORDER_ISSUE_DATETIME" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="PRV_WORK_ORDER_ISSUE_DATETIME" type="xsd:string" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="SendTicketResponse" type="s:KSD_TicketConfirmation"/>
            <xsd:complexType name="KSD_TicketConfirmation">
                <xsd:sequence>
                    <xsd:element name="GUID" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ContactPerson">
                <xsd:sequence>
                    <xsd:element name="FAMILY_NAME" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="PHONE_NUMBER" type="xsd:string" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ComplaintCategory">
                <xsd:sequence>
                    <xsd:element name="COMPLAINT_GROUP_CODE" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="COMPLAINT_SPECIFIC_DESCRIPTION" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="COMPLAINT_STANDARD_DESCRIPTION" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="COMPLAINT_SUB_GROUP_CODE" type="xsd:string" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="IdentifiedCustomer">
                <xsd:sequence>
                    <xsd:element name="CENTRAL_CUSTOMER_ID" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="PARTY_NAME" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TELECOM_DISTRICT_CODE" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TELECOM_REGION_CODE" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="STRATA_TELECOM_DISTRICT_CODE" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="PARTY" type="s:Party" minOccurs="0"/>
                    <xsd:element name="PROPERTY_ADDRESS" type="s:PropertyAddress" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ServiceVisit">
                <xsd:sequence>
                    <xsd:element name="START_DATE_TIME" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="VISIT_WINDOW_START_TIME" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="VISIT_WINDOW_END_TIME" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MM007_APPOINTMENT_OUTSIDE_CUSTOMER_NORM" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MM007_APPOINTMENT_OUTSIDE_NORM_CALENDAR" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MM007_APPOINTMENT_PART_OF_DAY" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MM007_RESEARCH_DEPARTMENT_CODE" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MM007_RESEARCH_EMPLOYEE_CODE" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="RESEARCH_AGENCY_CODE" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="APPOINTMENT_WITHIN_NORM" type="xsd:string" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="WorkOrder">
                <xsd:sequence>
                    <xsd:element name="WORK_ORDER_ACTUAL_END_DATETIME" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="WORK_ORDER_ACTUAL_START_DATETIME" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="WORK_ORDER_COMPLETION_DATETIME" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="WORK_ORDER_ISSUE_DATETIME" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="PRV_WORK_ORDER_ISSUE_DATETIME" type="xsd:string" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Party">
                <xsd:sequence>
                    <xsd:element name="LEGAL_FORM_CODE" type="xsd:string" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="PropertyAddress">
                <xsd:sequence>
                    <xsd:element name="CITY_CODE" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CITY_NAME" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DUTCH_POSTCODE_LETTERS" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DUTCH_POSTCODE_NUMBERS" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="HOUSE_NUMBER" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="HOUSE_NUMBER_EXTENSION" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="STREET_NAME" type="xsd:string" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </types>
    <message name="SendTicketRequestMsg">
        <part name="parameters" element="s:SendTicket"/>
    </message>
    <message name="SendTicketResponseMsg">
        <part name="parameters" element="s:SendTicketResponse"/>
    </message>
    <portType name="SEND_TICKETPortType">
        <operation name="SendTicket">
            <input message="s:SendTicketRequestMsg"/>
            <output message="s:SendTicketResponseMsg"/>
        </operation>
    </portType>
    <binding name="SEND_TICKETSoapBinding" type="s:SEND_TICKETPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="SendTicket">
            <soap:operation soapAction="urn:SEND_TICKET/SendTicket" style="document"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="SEND_TICKET_SERVICE">
        <port name="SEND_TICKETSoap" binding="s:SEND_TICKETSoapBinding">
            <soap:address location="http://localhost:48093/EDTAdapter/Processes/SendTicket"/>
        </port>
    </service>
</definitions>