EDTAdapter/WSDL/EDTAdapter/840-CustomerServiceRequest.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:s="urn:CustomerServiceRequest" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CustomerServiceRequest" targetNamespace="urn:CustomerServiceRequest">
    <types>
        <xsd:schema elementFormDefault="qualified" targetNamespace="urn:CustomerServiceRequest">
			<!-- ===============   RESPONSE   ============================================ -->
            <xsd:element name="CustomerServiceRequestResponse" type="s:CustomerServiceRequestResponseType"/>
            <xsd:complexType name="CustomerServiceRequestResponseType">
                <xsd:sequence>
                    <xsd:element name="RESULT_STATUS" type="s:ResultStatus"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ResultStatus">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="ERROR_CODE" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="ERROR_DESCRIPTION" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="MSG_CODE" type="xsd:string"/>
                    <xsd:element name="STATUS" type="xsd:integer"/>
                </xsd:sequence>
            </xsd:complexType>
			<!-- ===============   REQUEST   ============================================ -->
            <xsd:element name="CustomerServiceRequestRequest" type="s:CustomerServiceRequestRequestType"/>
            <xsd:complexType name="CustomerServiceRequestRequestType">
                <xsd:sequence>
                    <xsd:element name="SOAP_HEADER">
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:element name="managed_object_class" type="xsd:string"/>
                                <xsd:element name="managed_object_class_extension" type="xsd:string"/>
                                <xsd:element name="managed_object_class_version" type="xsd:string"/>
                                <xsd:element name="message_orgination_it_domain" type="xsd:string"/>
                                <xsd:element name="message_destination_it_domain" type="xsd:string"/>
                                <xsd:element name="message_instance" type="xsd:string"/>
                                <xsd:element name="message_creation_time" type="xsd:string"/>
                                <xsd:element name="messageGuid"/>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="BODY">
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:element name="managed_object_class" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="request_notification_type" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="customer_service_request_number" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="customer_service_request_identifier" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="customer_service_request_reference_number" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="customer_service_request_reference_number1" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="request_wishdate" type="xsd:dateTime"/>
                                <xsd:element name="request_description_long" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="mo_supported_service_impact" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="mo_supported_service_urgency" type="xsd:string"/>
                                <xsd:element name="attachment_1_attachment_id" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="attachment_1_attachment_url" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="attachment_1_attachment_type" type="xsd:string"/>
                                <xsd:element name="attachment_2_attachment_id" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="attachment_2_attachment_url" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="attachment_2_attachment_type" type="xsd:string"/>
                                <xsd:element name="attachment_3_attachment_id" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="attachment_3_attachment_url" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="attachment_3_attachment_type" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="mo_supported_service_class" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="supported_service_process" type="xsd:string"/>
                                <xsd:element maxOccurs="unbounded" minOccurs="0" name="supported_service_parameters">
                                    <xsd:complexType>
                                        <xsd:sequence>
                                            <xsd:element minOccurs="0" name="order" type="xsd:string"/>
                                            <xsd:element name="supported_service_specification_parameter" type="xsd:string"/>
                                            <xsd:element minOccurs="0" name="supported_service_specification_value" type="xsd:string"/>
                                        </xsd:sequence>
                                    </xsd:complexType>
                                </xsd:element>
                                <xsd:element maxOccurs="unbounded" minOccurs="0" name="MOR0">
                                    <xsd:complexType>
                                        <xsd:sequence>
                                            <xsd:element minOccurs="0" name="order" type="xsd:string"/>
                                            <xsd:element minOccurs="0" name="mo_instance" type="xsd:string"/>
                                            <xsd:element minOccurs="0" name="mo_action" type="xsd:string"/>
                                            <xsd:element minOccurs="0" name="mo_class" type="xsd:string"/>
                                            <xsd:element maxOccurs="unbounded" minOccurs="0" name="MOR1">
                                                <xsd:complexType>
                                                    <xsd:sequence>
                                                        <xsd:element minOccurs="0" name="order" type="xsd:string"/>
                                                        <xsd:element name="mo_attribute_name" type="xsd:string"/>
                                                        <xsd:element minOccurs="0" name="mo_attribute_value_old" type="xsd:string"/>
                                                        <xsd:element minOccurs="0" name="mo_attribute_value_new" type="xsd:string"/>
                                                    </xsd:sequence>
                                                </xsd:complexType>
                                            </xsd:element>
                                        </xsd:sequence>
                                    </xsd:complexType>
                                </xsd:element>
                                <xsd:element name="customer" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="customer_organisation" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="co_contact_person" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="co_request_reporter" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="co_contact_person_contact_methode" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="co_contact_person_electronic_mail_address" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="co_contact_person_telephone_number" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="co_contact_person_fax_number" type="xsd:string"/>
                                <xsd:element name="customer_service_request_type" type="xsd:string"/>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
			<!-- @ReferencedElements@ -->
        </xsd:schema>
    </types>
    <message name="CustomerServiceRequestRequest">
        <part element="s:CustomerServiceRequestRequest" name="parameters"/>
    </message>
    <message name="CustomerServiceRequestResponse">
        <part element="s:CustomerServiceRequestResponse" name="parameters"/>
    </message>
    <portType name="CustomerServiceRequestPortType">
        <operation name="CustomerServiceRequest">
            <input message="s:CustomerServiceRequestRequest"/>
            <output message="s:CustomerServiceRequestResponse"/>
        </operation>
    </portType>
    <binding name="CustomerServiceRequestSoapBinding" type="s:CustomerServiceRequestPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="CustomerServiceRequest">
            <soap:operation soapAction="CustomerServiceRequest" style="document"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="CustomerServiceRequestService">
        <documentation>@ServiceNumber@  CustomerServiceRequest - @ResourceComment@ </documentation>
        <port binding="s:CustomerServiceRequestSoapBinding" name="CustomerServiceRequestPort">
            <soap:address location="http://vm262:/EDT/Inbound/CustomerServiceRequest"/>
        </port>
    </service>
</definitions>