EDTAdapter/WSDL/EDTAdapter/844 - CustomerServiceReportStateAndStatusUpdateAcknowledgement.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:s="urn:CustomerServiceReportStateAndStatusUpdateAcknowledgement" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CustomerServiceReportStateAndStatusUpdateAcknowledgement" targetNamespace="urn:CustomerServiceReportStateAndStatusUpdateAcknowledgement">
    <types>
        <xsd:schema elementFormDefault="qualified" targetNamespace="urn:CustomerServiceReportStateAndStatusUpdateAcknowledgement">
			<!-- ===============   RESPONSE   ============================================ -->
            <xsd:element name="CustomerServiceReportStateAndStatusUpdateAcknowledgementResponse" type="s:CustomerServiceReportStateAndStatusUpdateAcknowledgementResponseType"/>
            <xsd:complexType name="CustomerServiceReportStateAndStatusUpdateAcknowledgementResponseType">
                <xsd:sequence>
                    <xsd:element name="RESULT_STATUS" type="s:ResultStatus"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ResultStatus">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="ERROR_CODE" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="ERROR_DESCRIPTION" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="MSG_CODE" type="xsd:string"/>
                    <xsd:element name="STATUS" type="xsd:integer"/>
                </xsd:sequence>
            </xsd:complexType>
			<!-- ===============   REQUEST   ============================================ -->
            <xsd:element name="CustomerServiceReportStateAndStatusUpdateAcknowledgementRequest" type="s:CustomerServiceReportStateAndStatusUpdateAcknowledgementRequestType"/>
            <xsd:complexType name="CustomerServiceReportStateAndStatusUpdateAcknowledgementRequestType">
                <xsd:sequence>
                    <xsd:element name="SOAP_HEADER">
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:element name="transactionID"/>
                                <xsd:element name="managed_object_class" type="xsd:string"/>
                                <xsd:element name="managed_object_class_extension" type="xsd:string"/>
                                <xsd:element name="managed_object_class_version" type="xsd:string"/>
                                <xsd:element name="message_orgination_it_domain" type="xsd:string"/>
                                <xsd:element name="message_destination_it_domain" type="xsd:string"/>
                                <xsd:element name="message_instance" type="xsd:string"/>
                                <xsd:element name="message_creation_time" type="xsd:string"/>
                                <xsd:element name="from">
                                    <xsd:complexType>
                                        <xsd:sequence>
                                            <xsd:element name="name" type="xsd:string"/>
                                            <xsd:element default="01" minOccurs="0" name="domain" type="xsd:string"/>
                                        </xsd:sequence>
                                    </xsd:complexType>
                                </xsd:element>
                                <xsd:element name="to">
                                    <xsd:complexType>
                                        <xsd:sequence>
                                            <xsd:element name="name" type="xsd:string"/>
                                            <xsd:element default="01" minOccurs="0" name="domain" type="xsd:string"/>
                                        </xsd:sequence>
                                    </xsd:complexType>
                                </xsd:element>
                                <xsd:element name="operationID" type="xsd:string"/>
                                <xsd:element default="syncRequestResponse" name="operationType" type="xsd:string"/>
                                <xsd:element name="messageGuid"/>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="BODY">
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:element name="managed_object_class" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="request_notification_type" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="customer_service_request_number" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="customer_service_request_reference_number" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="customer_service_request_identifier" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="request_report_customer_state" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="request_closure_code" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="pause_code" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="request_description_code" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="sla_end_time" type="xsd:dateTime"/>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
			<!-- @ReferencedElements@ -->
        </xsd:schema>
    </types>
    <message name="CustomerServiceReportStateAndStatusUpdateAcknowledgementRequest">
        <part element="s:CustomerServiceReportStateAndStatusUpdateAcknowledgementRequest" name="parameters"/>
    </message>
    <message name="CustomerServiceReportStateAndStatusUpdateAcknowledgementResponse">
        <part element="s:CustomerServiceReportStateAndStatusUpdateAcknowledgementResponse" name="parameters"/>
    </message>
    <portType name="CustomerServiceReportStateAndStatusUpdateAcknowledgementPortType">
        <operation name="CustomerServiceReportStateAndStatusUpdateAcknowledgement">
            <input message="s:CustomerServiceReportStateAndStatusUpdateAcknowledgementRequest"/>
            <output message="s:CustomerServiceReportStateAndStatusUpdateAcknowledgementResponse"/>
        </operation>
    </portType>
    <binding name="CustomerServiceReportStateAndStatusUpdateAcknowledgementSoapBinding" type="s:CustomerServiceReportStateAndStatusUpdateAcknowledgementPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="CustomerServiceReportStateAndStatusUpdateAcknowledgement">
            <soap:operation soapAction="CustomerServiceReportStateAndStatusUpdateAcknowledgement" style="document"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="CustomerServiceReportStateAndStatusUpdateAcknowledgementService">
        <documentation>@ServiceNumber@  CustomerServiceReportStateAndStatusUpdateAcknowledgement - @ResourceComment@ </documentation>
        <port binding="s:CustomerServiceReportStateAndStatusUpdateAcknowledgementSoapBinding" name="CustomerServiceReportStateAndStatusUpdateAcknowledgementPort">
            <soap:address location="http://vm262:/EDT/Inbound/CustomerServiceReportStateAndStatusUpdateAcknowledgement"/>
        </port>
    </service>
</definitions>