EDTAdapter/WSDL/EDTAdapter/846 - CustomerServiceRequestUpdateNotification.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:s="urn:CustomerServiceRequestUpdateNotification" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CustomerServiceRequestUpdateNotification" targetNamespace="urn:CustomerServiceRequestUpdateNotification">
    <types>
        <xsd:schema elementFormDefault="qualified" targetNamespace="urn:CustomerServiceRequestUpdateNotification">
			<!-- ===============   RESPONSE   ============================================ -->
            <xsd:element name="CustomerServiceRequestUpdateNotificationResponse" type="s:CustomerServiceRequestUpdateNotificationResponseType"/>
            <xsd:complexType name="CustomerServiceRequestUpdateNotificationResponseType">
                <xsd:sequence>
                    <xsd:element name="RESULT_STATUS" type="s:ResultStatus"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ResultStatus">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="ERROR_CODE" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="ERROR_DESCRIPTION" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="MSG_CODE" type="xsd:string"/>
                    <xsd:element name="STATUS" type="xsd:integer"/>
                </xsd:sequence>
            </xsd:complexType>
			<!-- ===============   REQUEST   ============================================ -->
            <xsd:element name="CustomerServiceRequestUpdateNotificationRequest" type="s:CustomerServiceRequestUpdateNotificationRequestType"/>
            <xsd:complexType name="CustomerServiceRequestUpdateNotificationRequestType">
                <xsd:sequence>
                    <xsd:element name="SOAP_HEADER">
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:element name="transactionID"/>
                                <xsd:element name="managed_object_class" type="xsd:string"/>
                                <xsd:element name="managed_object_class_extension" type="xsd:string"/>
                                <xsd:element name="managed_object_class_version" type="xsd:string"/>
                                <xsd:element name="message_orgination_it_domain" type="xsd:string"/>
                                <xsd:element name="message_destination_it_domain" type="xsd:string"/>
                                <xsd:element name="message_instance" type="xsd:string"/>
                                <xsd:element name="message_creation_time" type="xsd:string"/>
                                <xsd:element name="from">
                                    <xsd:complexType>
                                        <xsd:sequence>
                                            <xsd:element name="name" type="xsd:string"/>
                                            <xsd:element default="01" minOccurs="0" name="domain" type="xsd:string"/>
                                        </xsd:sequence>
                                    </xsd:complexType>
                                </xsd:element>
                                <xsd:element name="to">
                                    <xsd:complexType>
                                        <xsd:sequence>
                                            <xsd:element name="name" type="xsd:string"/>
                                            <xsd:element default="01" minOccurs="0" name="domain" type="xsd:string"/>
                                        </xsd:sequence>
                                    </xsd:complexType>
                                </xsd:element>
                                <xsd:element name="operationID" type="xsd:string"/>
                                <xsd:element default="syncRequestResponse" name="operationType" type="xsd:string"/>
                                <xsd:element name="messageGuid"/>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="BODY">
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:element name="managed_object_class" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="request_notification_type" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="customer_service_request_number" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="customer_service_request_reference_number" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="customer_service_request_identifier" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="acknowledgement_due_time" type="xsd:dateTime"/>
                                <xsd:element minOccurs="0" name="request_closure_code" type="xsd:string"/>
                                <xsd:element name="attachment_1_attachment_id" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="attachment_1_attachment_url" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="attachment_1_attachment_type" type="xsd:string"/>
                                <xsd:element name="attachment_2_attachment_id" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="attachment_2_attachment_url" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="attachment_2_attachment_type" type="xsd:string"/>
                                <xsd:element name="attachment_3_attachment_id" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="attachment_3_attachment_url" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="attachment_3_attachment_type" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="co_contact_person" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="co_request_reporter" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="co_contact_person_contact_methode" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="co_contact_person_electronic_mail_address" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="co_contact_person_telephone_number" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="co_contact_person_fax_number" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="sla_end_time" type="xsd:dateTime"/>
                                <xsd:element name="status" type="xsd:int"/>
                                <xsd:element minOccurs="0" name="error_code" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="error_description" type="xsd:string"/>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
			<!-- @ReferencedElements@ -->
        </xsd:schema>
    </types>
    <message name="CustomerServiceRequestUpdateNotificationRequest">
        <part element="s:CustomerServiceRequestUpdateNotificationRequest" name="parameters"/>
    </message>
    <message name="CustomerServiceRequestUpdateNotificationResponse">
        <part element="s:CustomerServiceRequestUpdateNotificationResponse" name="parameters"/>
    </message>
    <portType name="CustomerServiceRequestUpdateNotificationPortType">
        <operation name="CustomerServiceRequestUpdateNotification">
            <input message="s:CustomerServiceRequestUpdateNotificationRequest"/>
            <output message="s:CustomerServiceRequestUpdateNotificationResponse"/>
        </operation>
    </portType>
    <binding name="CustomerServiceRequestUpdateNotificationSoapBinding" type="s:CustomerServiceRequestUpdateNotificationPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="CustomerServiceRequestUpdateNotification">
            <soap:operation soapAction="CustomerServiceRequestUpdateNotification" style="document"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="CustomerServiceRequestUpdateNotificationService">
        <documentation>@ServiceNumber@  CustomerServiceRequestUpdateNotification - @ResourceComment@ </documentation>
        <port binding="s:CustomerServiceRequestUpdateNotificationSoapBinding" name="CustomerServiceRequestUpdateNotificationPort">
            <soap:address location="http://vm262:/EDT/Inbound/CustomerServiceRequestUpdateNotification"/>
        </port>
    </service>
</definitions>