EDTAdapter/WSDL/EDTAdapter/869 - ProactiveCustomerServiceRequestConfirmation.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:s="urn:ProactiveCustomerServiceRequestConfirmation" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ProactiveCustomerServiceRequestConfirmation" targetNamespace="urn:ProactiveCustomerServiceRequestConfirmation">
    <types>
        <xsd:schema elementFormDefault="qualified" targetNamespace="urn:ProactiveCustomerServiceRequestConfirmation">
			<!-- ===============   RESPONSE   ============================================ -->
            <xsd:element name="ProactiveCustomerServiceRequestConfirmationResponse" type="s:ProactiveCustomerServiceRequestConfirmationResponseType"/>
            <xsd:complexType name="ProactiveCustomerServiceRequestConfirmationResponseType">
                <xsd:sequence>
                    <xsd:element name="RESULT_STATUS" type="s:ResultStatus"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ResultStatus">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="ERROR_CODE" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="ERROR_DESCRIPTION" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="MSG_CODE" type="xsd:string"/>
                    <xsd:element name="STATUS" type="xsd:integer"/>
                </xsd:sequence>
            </xsd:complexType>
			<!-- ===============   REQUEST   ============================================ -->
            <xsd:element name="ProactiveCustomerServiceRequestConfirmationRequest" type="s:ProactiveCustomerServiceRequestConfirmationRequestType"/>
            <xsd:complexType name="ProactiveCustomerServiceRequestConfirmationRequestType">
                <xsd:sequence>
                    <xsd:element name="SOAP_HEADER">
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:element name="transactionID"/>
                                <xsd:element name="managed_object_class" type="xsd:string"/>
                                <xsd:element name="managed_object_class_extension" type="xsd:string"/>
                                <xsd:element name="managed_object_class_version" type="xsd:string"/>
                                <xsd:element name="message_orgination_it_domain" type="xsd:string"/>
                                <xsd:element name="message_destination_it_domain" type="xsd:string"/>
                                <xsd:element name="message_instance" type="xsd:string"/>
                                <xsd:element name="message_creation_time" type="xsd:string"/>
                                <xsd:element name="messageGuid"/>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="BODY">
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:element name="managed_object_class" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="request_notification_type" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="customer_service_request_number" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="customer_service_request_reference_number" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="customer_service_request_identifier" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="error_code" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="error_description" type="xsd:string"/>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
			<!-- @ReferencedElements@ -->
        </xsd:schema>
    </types>
    <message name="ProactiveCustomerServiceRequestConfirmationRequest">
        <part element="s:ProactiveCustomerServiceRequestConfirmationRequest" name="parameters"/>
    </message>
    <message name="ProactiveCustomerServiceRequestConfirmationResponse">
        <part element="s:ProactiveCustomerServiceRequestConfirmationResponse" name="parameters"/>
    </message>
    <portType name="ProactiveCustomerServiceRequestConfirmationPortType">
        <operation name="ProactiveCustomerServiceRequestConfirmation">
            <input message="s:ProactiveCustomerServiceRequestConfirmationRequest"/>
            <output message="s:ProactiveCustomerServiceRequestConfirmationResponse"/>
        </operation>
    </portType>
    <binding name="ProactiveCustomerServiceRequestConfirmationSoapBinding" type="s:ProactiveCustomerServiceRequestConfirmationPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="ProactiveCustomerServiceRequestConfirmation">
            <soap:operation soapAction="ProactiveCustomerServiceRequestConfirmation" style="document"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="ProactiveCustomerServiceRequestConfirmationService">
        <documentation>@ServiceNumber@  ProactiveCustomerServiceRequestConfirmation - @ResourceComment@ </documentation>
        <port binding="s:ProactiveCustomerServiceRequestConfirmationSoapBinding" name="ProactiveCustomerServiceRequestConfirmationPort">
            <soap:address location="http://vm262:/EDT/Inbound/ProactiveCustomerServiceRequestConfirmation"/>
        </port>
    </service>
</definitions>