EDTAdapter/WSDL/EDTAdapter/B2B_CustomerServiceRequest_SSU.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="urn:B2B_CustomerServiceRequest_SSU" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ns0="http://tempuri.org" xmlns:s="urn:B2B_CustomerServiceRequest_SSU" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
 <wsdl:types>
  <xsd:schema elementFormDefault="qualified" targetNamespace="urn:B2B_CustomerServiceRequest_SSU">
   <xsd:import namespace="http://tempuri.org"/>
   <xsd:element name="Create" type="ns0:Message"/>
   <xsd:element name="CreateResponse" type="s:CreateOutputMap"/>
   <xsd:complexType name="CreateOutputMap">
    <xsd:sequence>
     <xsd:element name="GUID" type="xsd:string"/>
     <xsd:element name="STATUS" type="xsd:int"/>
     <xsd:element name="MSG_CODE" type="xsd:string"/>
     <xsd:element name="ERROR_CODE" type="xsd:string"/>
     <xsd:element name="ERROR_DESCRIPTION" type="xsd:string"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="AuthenticationInfo" type="s:AuthenticationInfo"/>
   <xsd:complexType name="AuthenticationInfo">
    <xsd:sequence>
     <xsd:element name="userName" type="xsd:string"/>
     <xsd:element name="password" type="xsd:string"/>
     <xsd:element minOccurs="0" name="authentication" type="xsd:string"/>
     <xsd:element minOccurs="0" name="locale" type="xsd:string"/>
     <xsd:element minOccurs="0" name="timeZone" type="xsd:string"/>
    </xsd:sequence>
   </xsd:complexType>
  </xsd:schema>
  <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://tempuri.org" xmlns="http://tempuri.org" xmlns:xs="http://www.w3.org/2001/XMLSchema">


	     <xs:complexType name="Message">


		       <xs:sequence>


			         <xs:element minOccurs="0" name="GUID" nillable="true" type="xs:string"/>


			         <xs:element minOccurs="0" name="managed_object_class" nillable="true" type="xs:string"/>


			         <xs:element minOccurs="0" name="message_origination_it_domain" nillable="true" type="xs:string"/>


			         <xs:element minOccurs="0" name="message_destination_it_domain" nillable="true" type="xs:string"/>


			         <xs:element minOccurs="0" name="message_creation_time" nillable="true" type="xs:dateTime"/>


			         <xs:element minOccurs="0" name="request_notification_type" nillable="true" type="xs:string"/>


			         <xs:element minOccurs="0" name="customer_service_request_reference_number" nillable="true" type="xs:string"/>


			         <xs:element minOccurs="0" name="customer_service_request_identifier" nillable="true" type="xs:string"/>


			         <xs:element minOccurs="0" name="customer_service_request_number" nillable="true" type="xs:string"/>


			         <xs:element minOccurs="0" name="request_report_phase" nillable="true" type="xs:string"/>


			         <xs:element minOccurs="0" name="request_report_state" nillable="true" type="xs:string"/>


			         <xs:element minOccurs="0" name="request_report_customer_state" nillable="true" type="xs:string"/>


			         <xs:element minOccurs="0" name="event_time" nillable="true" type="xs:dateTime"/>


			         <xs:element minOccurs="0" name="acknowledgement_due_time" nillable="true" type="xs:int"/>


			         <xs:element minOccurs="0" name="request_closure_code" nillable="true" type="xs:string"/>


			         <xs:element minOccurs="0" name="request_closure_description" nillable="true" type="xs:string"/>


			         <xs:element minOccurs="0" name="manager_contact_person" nillable="true" type="xs:string"/>


			         <xs:element minOccurs="0" name="manager_contact_person_telephone_number" nillable="true" type="xs:string"/>


			         <xs:element minOccurs="0" name="manager_contact_person_fax_number" nillable="true" type="xs:string"/>


			         <xs:element minOccurs="0" name="manager_contact_person_mobile_number" nillable="true" type="xs:string"/>


			         <xs:element minOccurs="0" name="manager_contact_person_contact_methode" nillable="true" type="xs:string"/>


			         <xs:element minOccurs="0" name="manager_contact_person_electronic_mail_address" nillable="true" type="xs:string"/>


			         <xs:element minOccurs="0" name="request_action_information" nillable="true" type="xs:string"/>


			         <xs:element minOccurs="0" name="manager_organisation" nillable="true" type="xs:string"/>


			         <xs:element minOccurs="0" name="pause_reason" nillable="true" type="xs:string"/>


			         <xs:element minOccurs="0" name="pause_code" nillable="true" type="xs:string"/>


			         <xs:element minOccurs="0" name="pause_starttime" nillable="true" type="xs:dateTime"/>


			         <xs:element minOccurs="0" name="pause_endtime" nillable="true" type="xs:dateTime"/>


			         <xs:element minOccurs="0" name="mo_class" nillable="true" type="xs:string"/>


			         <xs:element minOccurs="0" name="mo_instance" nillable="true" type="xs:string"/>


			         <xs:element minOccurs="0" name="sla_end_time" nillable="true" type="xs:dateTime"/>


			         <xs:element minOccurs="0" name="planned_end" nillable="true" type="xs:dateTime"/>


			         <xs:element minOccurs="0" name="actuel_end_time" nillable="true" type="xs:dateTime"/>


			         <xs:element minOccurs="0" name="MOR0" nillable="true" type="MOR0_Type"/>


			         <xs:element minOccurs="0" name="MOR1" nillable="true" type="MOR1_Type"/>


			         <xs:element minOccurs="0" name="attachement_id" nillable="true" type="xs:string"/>


			         <xs:element minOccurs="0" name="attachement_type" nillable="true" type="xs:string"/>


			         <xs:element minOccurs="0" name="attachement_name" nillable="true" type="xs:string"/>


			         <xs:element minOccurs="0" name="attachement_url" nillable="true" type="xs:string"/>


			         <xs:element minOccurs="0" name="request_description_long" nillable="true" type="xs:string"/>


			         <xs:element minOccurs="0" name="request_description_code" nillable="true" type="xs:string"/>


			         <xs:element minOccurs="0" name="supported_service_proces" nillable="true" type="xs:string"/>


			         <xs:element minOccurs="0" name="supported_service_specification" nillable="true" type="xs:string"/>


			         <xs:element minOccurs="0" name="mo_supported_service_class" nillable="true" type="xs:string"/>


			         <xs:element minOccurs="0" name="attachment_1_attachmentName" nillable="true" type="xs:string"/>


               <xs:element minOccurs="0" name="attachment_1_attachmentData" nillable="true" type="xs:base64Binary"/>


               <xs:element minOccurs="0" name="attachment_1_attachmentOrigSize" nillable="true" type="xs:int"/>


               <xs:element minOccurs="0" name="attachment_2_attachmentName" nillable="true" type="xs:string"/>


               <xs:element minOccurs="0" name="attachment_2_attachmentData" nillable="true" type="xs:base64Binary"/>


               <xs:element minOccurs="0" name="attachment_2_attachmentOrigSize" nillable="true" type="xs:int"/>


               <xs:element minOccurs="0" name="attachment_3_attachmentName" nillable="true" type="xs:string"/>


               <xs:element minOccurs="0" name="attachment_3_attachmentData" nillable="true" type="xs:base64Binary"/>


               <xs:element minOccurs="0" name="attachment_3_attachmentOrigSize" nillable="true" type="xs:int"/>



		       </xs:sequence>


	     </xs:complexType>


	     <xs:complexType name="MOR0_Type">


		       <xs:sequence>


			         <xs:element maxOccurs="unbounded" minOccurs="0" name="MOR0" type="MOR0"/>


		       </xs:sequence>


	     </xs:complexType>


	     <xs:complexType name="MOR0">


		       <xs:sequence>


			         <xs:element minOccurs="0" name="order" nillable="true" type="xs:string"/>


			         <xs:element minOccurs="0" name="mo_class" nillable="true" type="xs:string"/>


			         <xs:element minOccurs="0" name="mo_instance" nillable="true" type="xs:string"/>


			         <xs:element minOccurs="0" name="activity" nillable="true" type="xs:string"/>


		       </xs:sequence>


	     </xs:complexType>


	     <xs:complexType name="MOR1_Type">


		       <xs:sequence>


			         <xs:element maxOccurs="unbounded" minOccurs="0" name="MOR1" type="MOR1"/>


		       </xs:sequence>


	     </xs:complexType>


	     <xs:complexType name="MOR1">


		       <xs:sequence>


			         <xs:element minOccurs="0" name="order" nillable="true" type="xs:string"/>


			         <xs:element minOccurs="0" name="label" nillable="true" type="xs:string"/>


			         <xs:element minOccurs="0" name="type" nillable="true" type="xs:string"/>


			         <xs:element minOccurs="0" name="value" nillable="true" type="xs:string"/>


			         <xs:element minOccurs="0" name="value_old" nillable="true" type="xs:string"/>


		       </xs:sequence>


	     </xs:complexType>


   </xs:schema>
 </wsdl:types>

   <wsdl:message name="ARAuthenticate">

      <wsdl:part element="s:AuthenticationInfo" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="CreateSoapIn">

      <wsdl:part element="s:Create" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="CreateSoapOut">

      <wsdl:part element="s:CreateResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:portType name="B2B_CustomerServiceRequest_SSUPortType">

      <wsdl:operation name="Create">

         <wsdl:input message="s:CreateSoapIn"/>

         <wsdl:output message="s:CreateSoapOut"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="B2B_CustomerServiceRequest_SSUSoapBinding" type="s:B2B_CustomerServiceRequest_SSUPortType">

      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="Create">

         <soap:operation soapAction="urn:B2B_CustomerServiceRequest_SSU/Create" style="document"/>

         <wsdl:input>

            <soap:header message="s:ARAuthenticate" part="parameters" use="literal">

            </soap:header>

            <soap:body use="literal"/>

         </wsdl:input>

         <wsdl:output>

            <soap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="B2B_CustomerServiceRequest_SSUService">

      <wsdl:port binding="s:B2B_CustomerServiceRequest_SSUSoapBinding" name="B2B_CustomerServiceRequest_SSUSoap">

         <soap:address location="http://manlab9/arsys/services/ARService?server=manlab9&amp;webService=B2B_CustomerServiceRequest_SSU"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>

