EDTAdapter/WSDL/EDTAdapter/GenericMessageRequest.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ns0="http://tempuri.org" xmlns:s="urn:GenericMessageRequest" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:GenericMessageRequest">
    <types>
        <xsd:schema elementFormDefault="qualified" targetNamespace="urn:GenericMessageRequest">
            <xsd:import namespace="http://tempuri.org"/>
            <xsd:element name="GenericMessage" type="ns0:Message"/>
            <xsd:element name="GenericMessageResponse" type="s:OutputMapping"/>
            <xsd:complexType name="OutputMapping">
                <xsd:sequence>
                    <xsd:element name="GUID" type="xsd:string"/>
                    <xsd:element name="error" type="xsd:string"/>
                    <xsd:element name="error_message" type="xsd:string"/>
                    <xsd:element name="error_status" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
        <xs:schema xmlns="http://tempuri.org" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://tempuri.org">
            <xs:complexType name="Message">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Header" type="HeaderType"/>
                    <xs:element minOccurs="0" name="General" type="GeneralType"/>
                    <xs:element minOccurs="0" name="Customer_info" type="Customer_infoType"/>
                    <xs:element minOccurs="0" name="Managed_Object_Info" type="Managed_Object_InfoType"/>
                    <xs:element minOccurs="0" name="Managed_object_in_trouble_info" type="Managed_object_in_trouble_infoType"/>
                    <xs:element minOccurs="0" name="Attachments" type="AttachmentsType"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="HeaderType">
                <xs:sequence>
                    <xs:element name="GUID" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="error" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="error_message" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="error_status" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="managed_object_class" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="managed_object_class_extension" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="managed_object_class_version" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="message_origination_it_domain" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="message_instance" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="message_creation_time" nillable="true" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="message_destination_it_domain" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="GeneralType">
                <xs:sequence>
                    <xs:element minOccurs="0" name="customer_service_incident_report_identifier" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="customer_service_incident_report_initiation" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="trouble_report_identifier" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="alarm_report_identifier" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="service_provider_trouble_report_identifier" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="event_time" nillable="true" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="impact" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="urgency" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="priority" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="perceived_trouble_severity" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="activity_information" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="analysis_information" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="closure_service_type" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="probable_cause" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="sla_clearing_time" nillable="true" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="reply_subject" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="incident_found" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="incident_report_state" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="network_class" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="trouble_type" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="trouble_description_short" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="trouble_description_long" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="trouble_detection_time" nillable="true" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="trouble_found" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="trouble_report_state" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="trouble_report_status_line" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="trouble_report_status_line_date" nillable="true" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="end_user_name" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Customer_infoType">
                <xs:sequence>
                    <xs:element minOccurs="0" name="customer_organization" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="manager_contact_person" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="co_city" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="co_contact_person" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="co_contact_person_electronic_mail_address" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="co_contact_person_fax_number" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="co_contact_person_telephone_number" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="co_country" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="co_house_number" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="co_house_number_extension" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="co_incident_reporter" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="co_incident_reporter_electronic_mail_address" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="co_incident_reporter_fax_number" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="co_incident_reporter_telephone_number" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="co_street" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="co_zip_code" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Managed_Object_InfoType">
                <xs:sequence>
                    <xs:element minOccurs="0" name="managed_object_instance" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="mo_managed_object_backup" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="mo_managed_object_class" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="mo_managed_object_graphical_representation" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="mo_managed_object_instance" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="mo_mol_city" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="mo_mol_country" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="mo_mol_house_number" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="mo_mol_house_number_extension" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="mo_mol_location_code" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="mo_mol_street" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="mo_mol_zip_code" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="mo_network_class" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="mo_network_instance" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="mo_ssl_city" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="mo_ssl_country" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="mo_ssl_house_number" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="mo_ssl_house_number_extension" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="mo_ssl_location_code" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="mo_ssl_street" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="mo_ssl_zip_code" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="mo_supported_service_attribute_name" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="mo_supported_service_attribute_value" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="mo_supported_service_backup" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="mo_supported_service_class" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="mo_supported_service_graphical_representation" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="mo_supported_service_instance" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Managed_object_in_trouble_infoType">
                <xs:sequence>
                    <xs:element minOccurs="0" name="moit_managed_object_class" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="moit_managed_object_instance" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="moit_network_class" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="moit_network_instance" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="moit_ssl_city" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="moit_ssl_country" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="moit_ssl_house_number" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="moit_ssl_house_number_extension" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="moit_ssl_street" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="moit_ssl_zip_code" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="moit_supported_service_attribute_name" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="moit_supported_service_attribute_value" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="moit_supported_service_class" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="moit_supported_service_instance" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="AttachmentsType">
                <xs:sequence>
                    <xs:element minOccurs="0" name="attachment_1_attachmentName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="attachment_1_attachmentData" nillable="true" type="xs:base64Binary"/>
                    <xs:element minOccurs="0" name="attachment_1_attachmentOrigSize" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="attachment_2_attachmentName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="attachment_2_attachmentData" nillable="true" type="xs:base64Binary"/>
                    <xs:element minOccurs="0" name="attachment_2_attachmentOrigSize" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="attachment_3_attachmentName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="attachment_3_attachmentData" nillable="true" type="xs:base64Binary"/>
                    <xs:element minOccurs="0" name="attachment_3_attachmentOrigSize" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </types>
    <message name="GenericMessageSoapIn">
        <part name="parameters" element="s:GenericMessage"/>
    </message>
    <message name="GenericMessageSoapOut">
        <part name="parameters" element="s:GenericMessageResponse"/>
    </message>
    <portType name="GenericMessageRequestPortType">
        <operation name="GenericMessage">
            <input message="s:GenericMessageSoapIn"/>
            <output message="s:GenericMessageSoapOut"/>
        </operation>
    </portType>
    <binding name="GenericMessageRequestSoapBinding" type="s:GenericMessageRequestPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="GenericMessage">
            <soap:operation soapAction="urn:GenericMessageRequest/GenericMessage" style="document"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="GenericMessageRequestService">
        <port name="GenericMessageRequestSoap" binding="s:GenericMessageRequestSoapBinding">
            <soap:address location="http://ltjurgen/arsys/services/ARService?server=ltjurgen2&amp;webService=GenericMessageRequest"/>
        </port>
    </service>
</definitions>