EDTAdapter/WSDL/EDTAdapter/Trouble_Report_5.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ns0="http://tempuri.org" xmlns:s="urn:Trouble_Report_5" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:Trouble_Report_5">
	<wsdl:types>
		<xsd:schema elementFormDefault="qualified" targetNamespace="urn:Trouble_Report_5">
			<xsd:import namespace="http://tempuri.org"/>
			<xsd:element name="Create" type="ns0:Message"/>
			<xsd:element name="CreateResponse" type="s:GetOutputMap"/>
			<xsd:complexType name="GetOutputMap">
				<xsd:sequence>
					<xsd:element name="GUID" type="xsd:string"/>
					<xsd:element name="error" type="xsd:string"/>
					<xsd:element name="error_message" type="xsd:string"/>
					<xsd:element name="error_status" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="AuthenticationInfo" type="s:AuthenticationInfo"/>
			<xsd:complexType name="AuthenticationInfo">
				<xsd:sequence>
					<xsd:element name="userName" type="xsd:string"/>
					<xsd:element name="password" type="xsd:string"/>
					<xsd:element minOccurs="0" name="authentication" type="xsd:string"/>
					<xsd:element minOccurs="0" name="locale" type="xsd:string"/>
					<xsd:element minOccurs="0" name="timeZone" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
		<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://tempuri.org" xmlns="http://tempuri.org" xmlns:xs="http://www.w3.org/2001/XMLSchema">
			<xs:complexType name="Message">
				<xs:sequence>
					<xs:element minOccurs="0" name="Header" type="HeaderType"/>
					<xs:element minOccurs="0" name="General" type="GeneralType"/>
					<xs:element minOccurs="0" name="attributes" type="attributesType"/>
					<xs:element minOccurs="0" name="MOR0" type="MOR0Type"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="HeaderType">
				<xs:sequence>
					<xs:element name="GUID" type="xs:string"/>
					<xs:element name="managed_object_class" type="xs:string"/>
					<xs:element name="managed_object_class_extension" type="xs:string"/>
					<xs:element name="managed_object_class_version" type="xs:string"/>
					<xs:element name="message_origination_it_domain" type="xs:string"/>
					<xs:element name="message_destination_it_domain" type="xs:string"/>
					<xs:element name="message_instance" type="xs:string"/>
					<xs:element name="message_creation_time" nillable="true" type="xs:dateTime"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="GeneralType">
				<xs:sequence>
					<xs:element name="customer_service_incident_reference_number" type="xs:string"/>
					<xs:element name="customer_service_incident_report_identifier" type="xs:string"/>
					<xs:element name="trouble_report_identifier" type="xs:string"/>
					<xs:element name="perceived_trouble_severity" type="xs:string"/>
					<xs:element name="analysis_information" type="xs:string"/>
					<xs:element name="sla_clearing_time" nillable="true" type="xs:dateTime"/>
					<xs:element name="trouble_type" type="xs:string"/>
					<xs:element name="trouble_description_short" type="xs:string"/>
					<xs:element name="trouble_description_long" type="xs:string"/>
					<xs:element name="trouble_detection_time" nillable="true" type="xs:dateTime"/>
					<xs:element name="customer_reference_number" type="xs:string"/>
					<xs:element name="manager_organisation" type="xs:string"/>
					<xs:element name="manager_contact_person" type="xs:string"/>
					<xs:element name="manager_contact_person_electronic_mail_address" type="xs:string"/>
					<xs:element name="manager_contact_person_telephone_number" type="xs:string"/>
					<xs:element name="business_to_business_organisation" type="xs:string"/>
					<xs:element name="customer_organisation" type="xs:string"/>
					<xs:element name="co_identification" type="xs:string"/>
					<xs:element name="co_telephone_number" type="xs:string"/>
					<xs:element name="co_city" type="xs:string"/>
					<xs:element name="co_contact_person" type="xs:string"/>
					<xs:element name="co_contact_person_electronic_mail_address" type="xs:string"/>
					<xs:element name="co_contact_person_fax_number" type="xs:string"/>
					<xs:element name="co_contact_person_telephone_number" type="xs:string"/>
					<xs:element name="co_contact_person_contact_methode" type="xs:string"/>
					<xs:element name="co_country" type="xs:string"/>
					<xs:element name="co_house_number" type="xs:string"/>
					<xs:element name="co_house_number_extension" type="xs:string"/>
					<xs:element name="co_incident_reporter" type="xs:string"/>
					<xs:element name="co_incident_reporter_electronic_mail_address" type="xs:string"/>
					<xs:element name="co_incident_reporter_fax_number" type="xs:string"/>
					<xs:element name="co_incident_reporter_telephone_number" type="xs:string"/>
					<xs:element name="co_incident_reporter_contact_methode" type="xs:string"/>
					<xs:element name="co_street" type="xs:string"/>
					<xs:element name="co_zip_code" type="xs:string"/>
					<xs:element name="mo_supported_service_class" type="xs:string"/>
					<xs:element name="mo_supported_service_instance" type="xs:string"/>
					<xs:element name="attachment_1_attachmentName" nillable="true" type="xs:string"/>
					<xs:element name="attachment_1_attachmentData" nillable="true" type="xs:base64Binary"/>
					<xs:element name="attachment_1_attachmentOrigSize" nillable="true" type="xs:int"/>
					<xs:element name="attachment_2_attachmentName" nillable="true" type="xs:string"/>
					<xs:element name="attachment_2_attachmentData" nillable="true" type="xs:base64Binary"/>
					<xs:element name="attachment_2_attachmentOrigSize" nillable="true" type="xs:int"/>
					<xs:element name="attachment_3_attachmentName" nillable="true" type="xs:string"/>
					<xs:element name="attachment_3_attachmentData" nillable="true" type="xs:base64Binary"/>
					<xs:element name="attachment_3_attachmentOrigSize" nillable="true" type="xs:int"/>
				</xs:sequence>
			</xs:complexType>
			<xs:element name="MOR0s" type="MOR0Type"/>
			<xs:complexType name="MOR0Type">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="MOR0" type="MOR0"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="MOR0">
				<xs:sequence>
					<xs:element minOccurs="0" name="order" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="in_trouble" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="mo_managed_object_class" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="mo_managed_object_instance" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="mo_mol_city" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="mo_mol_country" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="mo_mol_house_number" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="mo_mol_house_number_extension" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="mo_mol_location_code" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="mo_mol_street" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="mo_mol_zip_code" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="mo_affected_type" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="MOR1" type="MOR1Type"/>
				</xs:sequence>
			</xs:complexType>
			<xs:element name="MOR1s" type="MOR1Type"/>
			<xs:complexType name="MOR1Type">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="MOR1" type="MOR1"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="MOR1">
				<xs:sequence>
					<xs:element minOccurs="0" name="order" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="label" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="type" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="value" nillable="true" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:element name="attributes" type="attributesType"/>
			<xs:complexType name="attributesType">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="attribute" type="attribute"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="attribute">
				<xs:sequence>
					<xs:element name="order" type="xs:string"/>
					<xs:element name="label" type="xs:string"/>
					<xs:element name="type" type="xs:string"/>
					<xs:element name="value" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="Answer">
				<xs:sequence>
					<xs:element minOccurs="0" name="GUID" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="error" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="error_message" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="error_status" nillable="true" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="CreateSoapOut">
		<wsdl:part name="parameters" element="s:CreateResponse"/>
	</wsdl:message>
	<wsdl:message name="CreateSoapIn">
		<wsdl:part name="parameters" element="s:Create"/>
	</wsdl:message>
	<wsdl:message name="ARAuthenticate">
		<wsdl:part name="parameters" element="s:AuthenticationInfo"/>
	</wsdl:message>
	<wsdl:portType name="Trouble_Report_5PortType">
		<wsdl:operation name="Create">
			<wsdl:input message="s:CreateSoapIn"/>
			<wsdl:output message="s:CreateSoapOut"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="Trouble_Report_5SoapBinding" type="s:Trouble_Report_5PortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="Create">
			<soap:operation soapAction="urn:Trouble_Report_5/Create" style="document"/>
			<wsdl:input>
				<soap:header message="s:ARAuthenticate" part="parameters" use="literal"/>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="Trouble_Report_5Service">
		<wsdl:port name="Trouble_Report_5Soap" binding="s:Trouble_Report_5SoapBinding">
			<soap:address location="http://hdxs5d/arsys/services/ARService?server=hdxs5d&amp;webService=Trouble_Report_5"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
