GenericSOAPGateway/XSDSchemas/CKRAdapter/Response/GetCustomerDetails.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.kpn.com/fixed/ckradapter/response/GetCustomerDetails.xsd"
	 targetNamespace = "http://xmlns.kpn.com/fixed/ckradapter/response/GetCustomerDetails.xsd"
	 xmlns:Customer.xsd = "http://xmlns.kpn.com/fixed/ckradapter/common/Customer.xsd"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 xmlns:CKRResponse.xsd = "http://xmlns.kpn.com/fixed/ckradapter/common/CKRResponse.xsd"
	 elementFormDefault = "qualified">
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/ckradapter/common/Customer.xsd" schemaLocation = "../Common/Customer.xsd"/>
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/ckradapter/common/CKRResponse.xsd" schemaLocation = "../Common/CKRResponse.xsd"/>
	<xsd:element name = "GetCustomerDetails">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base = "CKRResponse.xsd:CKRResponse">
					<xsd:sequence>
						<xsd:element name = "CUSTOMER" type = "Customer.xsd:Customer" minOccurs = "0"/>
						<xsd:element name = "IS_MOVE" type = "xsd:string" minOccurs = "0"/>
						<xsd:element name = "IS_PART_OF_ACCOUNT" type = "xsd:string" minOccurs = "0"/>
						<xsd:element name = "HAS_RESPONSIBLE_SALESPERSON" type = "xsd:string" minOccurs = "0"/>
					</xsd:sequence>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>