GenericSOAPGateway/XSDSchemas/CKRAdapter/Response/GetCustomerAssignee.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.kpn.com/fixed/ckradapter/response/GetCustomerAssignee.xsd"
	 targetNamespace = "http://xmlns.kpn.com/fixed/ckradapter/response/GetCustomerAssignee.xsd"
	 xmlns:ns1 = "http://xmlns.kpn.com/fixed/ckradapter/common/CKRRequest.xsd"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 xmlns:ns2 = "http://xmlns.kpn.com/fixed/ckradapter/common/CKRResponse.xsd"
	 elementFormDefault = "qualified"
	 attributeFormDefault = "unqualified">
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/ckradapter/common/CKRResponse.xsd" schemaLocation = "../Common/CKRResponse.xsd"/>
	<!-- edited with XMLSpy v2006 sp2 U (http://www.altova.com) by Arjen Wassenaar (Atos Origin Nederland B.V.) -->

	<xsd:element name = "GetCustomerAssignee">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base = "ns2:CKRResponse">
					<xsd:sequence>
						<xsd:element name = "NUMBER_OF_RECORDS" type = "xsd:int" minOccurs = "0"/>
						<xsd:element name = "EMPLOYEE" type = "EMPLOYEEType" minOccurs = "0" maxOccurs = "unbounded"/>
					</xsd:sequence>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name = "EMPLOYEEType">
		<xsd:sequence>
			<xsd:element name = "CENTRAL_CUSTOMER_ID" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "USER_ID" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "APPLICATION_ID" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "EMPLOYEE_REGISTRATION_NUMBER" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "ASSIGNED_TO" type = "xsd:string" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>