GenericSOAPGateway/XSDSchemas/CKRAdapter/Response/GetIsUnlisted.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.kpn.com/fixed/ckradapter/response/GetIsUnlisted.xsd"
	 targetNamespace = "http://xmlns.kpn.com/fixed/ckradapter/response/GetIsUnlisted.xsd"
	 xmlns:ns1 = "http://xmlns.kpn.com/fixed/ckradapter/common/CKRResponse.xsd"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified"
	 attributeFormDefault = "unqualified">
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/ckradapter/common/CKRResponse.xsd" schemaLocation = "../Common/CKRResponse.xsd"/>
	<!-- edited with XMLSpy v2006 sp2 U (http://www.altova.com) by Arjen Wassenaar (Atos Origin Nederland B.V.) -->
	
	<xsd:element name = "GetIsUnlisted">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base = "ns1:CKRResponse">
					<xsd:sequence>
						<xsd:element name = "PHONE_NUMBER" type = "xsd:string" minOccurs = "0"/>
						<xsd:element name = "IS_UNLISTED" type = "xsd:string" minOccurs = "0"/>
					</xsd:sequence>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>