GenericSOAPGateway/XSDSchemas/CKRAdapter/Response/GetPOBox.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.kpn.com/fixed/ckradapter/response/GetPOBox.xsd"
	 targetNamespace = "http://xmlns.kpn.com/fixed/ckradapter/response/GetPOBox.xsd"
	 xmlns:CKRResponse.xsd = "http://xmlns.kpn.com/fixed/ckradapter/common/CKRResponse.xsd"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 xmlns:PropertyAddress.xsd = "http://xmlns.kpn.com/fixed/ckradapter/common/PropertyAddress.xsd"
	 elementFormDefault = "qualified">
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/ckradapter/common/CKRResponse.xsd" schemaLocation = "../Common/CKRResponse.xsd"/>
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/ckradapter/common/PropertyAddress.xsd" schemaLocation = "../Common/PropertyAddress.xsd"/>
	<xsd:element name = "GetPOBox">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base = "CKRResponse.xsd:CKRResponse">
					<xsd:sequence>
						<xsd:element name = "NUMBER_OF_RECORDS" type = "xsd:integer" minOccurs = "0"/>
						<xsd:element name = "REPLACEMENT_CENTRAL_CUSTOMER_ID" type = "xsd:string" minOccurs = "0"/>
						<xsd:element name = "POBOX_REPLY" minOccurs = "0" maxOccurs = "unbounded">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name = "CENTRAL_CUSTOMER_ID" type = "xsd:string" minOccurs = "0"/>
									<xsd:element name = "POBOX_NUMBER" type = "xsd:string" minOccurs = "0"/>
									<xsd:element name = "POBOX_NAME" type = "xsd:string" minOccurs = "0"/>
									<xsd:element name = "PROPERTY_ADDRESS" type = "PropertyAddress.xsd:PropertyAddress" minOccurs = "0"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>