GenericSOAPGateway/XSDSchemas/CKRAdapter/Response/GetSubscriberAGOP.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.kpn.com/fixed/ckradapter/response/GetSubscriberAGOP.xsd"
	 targetNamespace = "http://xmlns.kpn.com/fixed/ckradapter/response/GetSubscriberAGOP.xsd"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 xmlns:CKRResponse.xsd = "http://xmlns.kpn.com/fixed/ckradapter/common/CKRResponse.xsd"
	 elementFormDefault = "qualified">
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/ckradapter/common/CKRResponse.xsd" schemaLocation = "../Common/CKRResponse.xsd"/>
	<xsd:element name = "GetSubscriberAGOP">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base = "CKRResponse.xsd:CKRResponse">
					<xsd:sequence>
						<xsd:element name = "PHONE_NUMBER" type = "xsd:string" minOccurs = "0"/>
						<xsd:element name = "TRANSACTION_CODE" type = "xsd:string" minOccurs = "0"/>
						<xsd:element name = "RAYON_CODE" type = "xsd:string" minOccurs = "0"/>
						<xsd:element name = "PARTY" minOccurs = "0">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name = "PARTY_NAME" minOccurs = "0">
										<xsd:complexType>
											<xsd:sequence>
												<xsd:element name = "PARTY_NAME" type = "xsd:string" minOccurs = "0"/>
												<xsd:element name = "PARTY_NAME_DIACRITICS" type = "xsd:string" minOccurs = "0"/>
											</xsd:sequence>
										</xsd:complexType>
									</xsd:element>
									<xsd:element name = "CUSTOMER" minOccurs = "0">
										<xsd:complexType>
											<xsd:sequence>
												<xsd:element name = "CENTRAL_CUSTOMER_ID" type = "xsd:string" minOccurs = "0"/>
												<xsd:element name = "PHONE_NUMBER" minOccurs = "0">
													<xsd:complexType>
														<xsd:sequence>
															<xsd:element name = "SHOW_PHONE_NUMBER" type = "xsd:string" minOccurs = "0"/>
															<xsd:element name = "NET_LINE_USAGE" type = "xsd:string" minOccurs = "0"/>
															<xsd:element name = "PHONE_NUMBER" type = "xsd:string" minOccurs = "0"/>
															<xsd:element name = "LINE_TYPE" type = "xsd:string" minOccurs = "0"/>
															<xsd:element name = "IS_PUBLISHED" type = "xsd:string" minOccurs = "0"/>
															<xsd:element name = "IS_RETRIEVABLE" type = "xsd:string" minOccurs = "0"/>
															<xsd:element name = "IS_SECRET" type = "xsd:string" minOccurs = "0"/>
														</xsd:sequence>
													</xsd:complexType>
												</xsd:element>
											</xsd:sequence>
										</xsd:complexType>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>