GenericSOAPGateway/XSDSchemas/CKRAdapter/Response/GetStandardDirectoryListing_old.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xs:schema xmlns = "http://xmlns.kpn.com/fixed/ckradapter/response/GetStandardDirectoryListing.xsd"
	 targetNamespace = "http://xmlns.kpn.com/fixed/ckradapter/response/GetStandardDirectoryListing.xsd"
	 xmlns:xs = "http://www.w3.org/2001/XMLSchema"
	 xmlns:CKRResponse.xsd = "http://xmlns.kpn.com/fixed/ckradapter/common/CKRResponse.xsd"
	 elementFormDefault = "qualified"
	 attributeFormDefault = "unqualified">
	<xs:import namespace = "http://xmlns.kpn.com/fixed/ckradapter/common/CKRResponse.xsd" schemaLocation = "../Common/CKRResponse.xsd"/>
	<!-- edited with XMLSpy v2007 (http://www.altova.com) by A130590 (EMBRACE) -->
	
	<xs:element name = "GetStandardDirectoryListing">
		<xs:annotation>
			<xs:documentation>Comment describing your root element</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base = "CKRResponse.xsd:CKRResponse">
					<xs:sequence>
						<xs:element name = "REPLACEMENT_CENTRAL_CUSTOMER_ID" minOccurs = "0"/>
						<xs:element name = "DIRECTORY_ENTRY" minOccurs = "0" maxOccurs = "unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name = "CENTRAL_CUSTOMER_ID" type = "xs:string" minOccurs = "0"/>
									<xs:element name = "DIRECTORY_ENTRY_NR" type = "xs:string"/>
									<xs:element name = "DIRECTORY_LISTING_SPECIFICATION" minOccurs = "0">
										<xs:complexType>
											<xs:sequence>
												<xs:element name = "DISCLOSE_IN_DIRECTORY" type = "xs:boolean" minOccurs = "0"/>
												<xs:element name = "DISCLOSE_ONLINE" type = "xs:boolean" minOccurs = "0"/>
												<xs:element name = "DISCLOSE_ON_REQUEST" type = "xs:boolean" minOccurs = "0"/>
												<xs:element name = "IS_SECRET" type = "xs:boolean" minOccurs = "0"/>
												<xs:element name = "HIDE_TO_CALLERS" type = "xs:boolean" minOccurs = "0"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name = "PHONE_NUMBER" minOccurs = "0">
										<xs:complexType>
											<xs:sequence>
												<xs:element name = "AREA_CODE" type = "xs:string"/>
												<xs:element name = "SUBSCRIBER_NUMBER" type = "xs:string"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name = "VALIDITY_PERIOD" minOccurs = "0">
										<xs:complexType>
											<xs:sequence>
												<xs:element name = "FROM" type = "xs:dateTime"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name = "NETWORK" minOccurs = "0">
										<xs:complexType>
											<xs:sequence>
												<xs:element name = "NETWORK_PROVIDER_GROUP" type = "xs:string"/>
												<xs:element name = "NETWORK_SERVICE_TYPE" type = "xs:string" minOccurs = "0"/>
												<xs:element name = "LINE_USAGE" type = "xs:string" minOccurs = "0"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
</xs:schema>