GenericSOAPGateway/XSDSchemas/CKRAdapter/Response/UpdatePOBox.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.kpn.com/fixed/ckradapter/response/UpdatePOBox.xsd"
	 targetNamespace = "http://xmlns.kpn.com/fixed/ckradapter/response/UpdatePOBox.xsd"
	 xmlns:ns1 = "http://xmlns.kpn.com/fixed/ckradapter/common/CKRResponse.xsd"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 xmlns:PropertyAddress.xsd = "http://xmlns.kpn.com/fixed/ckradapter/common/PropertyAddress.xsd"
	 elementFormDefault = "qualified"
	 attributeFormDefault = "unqualified">
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/ckradapter/common/CKRResponse.xsd" schemaLocation = "../Common/CKRResponse.xsd"/>
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/ckradapter/common/PropertyAddress.xsd" schemaLocation = "../Common/PropertyAddress.xsd"/>

	<xsd:element name = "UpdatePOBox">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base = "ns1:CKRResponse">
					<xsd:sequence>
						<xsd:element name = "REPLACEMENT_CENTRAL_CUSTOMER_ID" type = "xsd:string" minOccurs = "0"/>
						<xsd:element name = "PROPERTY_ADDRESS" type = "PropertyAddress.xsd:PropertyAddress" minOccurs = "0"/>
					</xsd:sequence>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>