IKKAdapter/XSDSchemas/CKRAdapter/Response/GetBillRecipient.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.kpn.com/fixed/ckradapter/response/GetBillRecipient.xsd"
	 targetNamespace = "http://xmlns.kpn.com/fixed/ckradapter/response/GetBillRecipient.xsd"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 xmlns:CKRResponse.xsd = "http://xmlns.kpn.com/fixed/ckradapter/common/CKRResponse.xsd"
	 xmlns:BillRecipient.xsd = "http://xmlns.kpn.com/fixed/ckradapter/common/BillRecipient.xsd"
	 elementFormDefault = "qualified">
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/ckradapter/common/CKRResponse.xsd" schemaLocation = "../Common/CKRResponse.xsd"/>
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/ckradapter/common/BillRecipient.xsd" schemaLocation = "../Common/BillRecipient.xsd"/>
	<xsd:element name = "GetBillRecipient">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base = "CKRResponse.xsd:CKRResponse">
					<xsd:sequence>
						<xsd:element name = "NUMBER_OF_RECORDS" type = "xsd:integer" minOccurs = "0"/>
						<xsd:element name = "PARTY_NAME" type = "xsd:string" minOccurs = "0"/>
						<xsd:element name = "MAIN_BRANCH_ID" type = "xsd:string" minOccurs = "0"/>
						<xsd:element name = "BILL_RECIPIENT" type = "BillRecipient.xsd:BillRecipient" minOccurs = "0" maxOccurs = "unbounded"/>
					</xsd:sequence>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>