ASTRIDAdapter/XSDSchemas/KanvasAdapter/Request/GetDistributionFrameAccessInformation.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.kpn.com/fixed/KanvasAdapter/Request/GetDistributionFrameAccessInformation.xsd"
	 targetNamespace = "http://xmlns.kpn.com/fixed/KanvasAdapter/Request/GetDistributionFrameAccessInformation.xsd"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 xmlns:KanvasRequest.xsd = "http://xmlns.kpn.com/fixed/KanvasAdapter/common/KanvasRequest.xsd"
	 elementFormDefault = "qualified">
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/KanvasAdapter/common/KanvasRequest.xsd" schemaLocation = "../Common/KanvasRequest.xsd"/>
	<xsd:element name = "GetDistributionFrameAccessInfoformation">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base = "KanvasRequest.xsd:KanvasRequest">
					<xsd:sequence>
						<xsd:element name = "SERVICE_ID" type = "xsd:string" minOccurs = "0"/>
						<xsd:element name = "RETURN_TTPS_FLAG" type = "xsd:string" minOccurs = "0"/>
					</xsd:sequence>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>