ASTRIDAdapter/XSDSchemas/KanvasAdapter/Request/GetLocalLoopPath.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns="http://xmlns.kpn.com/fixed/KanvasAdapter/Request/GetLocalLoopPath.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:KanvasRequest.xsd="http://xmlns.kpn.com/fixed/KanvasAdapter/common/KanvasRequest.xsd" targetNamespace="http://xmlns.kpn.com/fixed/KanvasAdapter/Request/GetLocalLoopPath.xsd" elementFormDefault="qualified">
	<xsd:import namespace="http://xmlns.kpn.com/fixed/KanvasAdapter/common/KanvasRequest.xsd" schemaLocation="../Common/KanvasRequest.xsd"/>
	<xsd:element name="GetLocalLoopPath">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="KanvasRequest.xsd:KanvasRequest">
					<xsd:sequence>
						<xsd:element name="CURRENT_OR_FUTURE_FLAG" type="xsd:string" minOccurs="1"/>
						<xsd:element name="LOCATION" type="Location" minOccurs="0"/>
					</xsd:sequence>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="Location">
		<xsd:sequence>
			<xsd:element name="CENTRAL_AREA_CODE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="NODE" type="LocationNode" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="LocationNode">
		<xsd:sequence>
			<xsd:element name="NODE_NAME" type="xsd:string" minOccurs="0"/>
			<xsd:element name="NODE_TYPE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="NODE" type="NodeNode" minOccurs="0"/>
			<xsd:element name="PORT" type="Port" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="NodeNode">
		<xsd:sequence>
			<xsd:element name="NODE_NAME" type="xsd:string" minOccurs="0"/>
			<xsd:element name="NODE_TYPE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="RACK" type="Rack" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PhysicalPort">
		<xsd:sequence>
			<xsd:element name="PHYSICAL_PORT_ID" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Port">
		<xsd:sequence>
			<xsd:element name="PORT_ID" type="xsd:string" minOccurs="0"/>
			<xsd:element name="PORT_EQUIPMENT_TYPE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="PORT_EQUIPMENT_CODE" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Rack">
		<xsd:sequence>
			<xsd:element name="RACK_POSITION" type="xsd:string" minOccurs="0"/>
			<xsd:element name="SHELF" type="Shelf" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Shelf">
		<xsd:sequence>
			<xsd:element name="SHELF_POSITION" type="xsd:string" minOccurs="0"/>
			<xsd:element name="PHYSICAL_PORT" type="PhysicalPort" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
