ASTRIDAdapter/XSDSchemas/KanvasAdapter/Request/GetVirtualVoiceConnection.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns="http://xmlns.kpn.com/fixed/KanvasAdapter/Request/GetVirtualVoiceConnection.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:KanvasRequest.xsd="http://xmlns.kpn.com/fixed/KanvasAdapter/common/KanvasRequest.xsd" targetNamespace="http://xmlns.kpn.com/fixed/KanvasAdapter/Request/GetVirtualVoiceConnection.xsd" elementFormDefault="qualified">
	<xsd:import namespace="http://xmlns.kpn.com/fixed/KanvasAdapter/common/KanvasRequest.xsd" schemaLocation="../Common/KanvasRequest.xsd"/>
	<xsd:element name="GetVirtualVoiceConnection">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="KanvasRequest.xsd:KanvasRequest">
					<xsd:sequence>
						<xsd:element name="CURRENT_FUTURE_FLAG" type="xsd:string" minOccurs="0"/>
						<xsd:element name="PHONE_NUMBER" type="PhoneNumber" minOccurs="0"/>
						<xsd:element name="NODE" type="Node" minOccurs="0" maxOccurs="unbounded"/>
						<xsd:element name="SERVICE" type="Service" minOccurs="0" maxOccurs="2"/>
					</xsd:sequence>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="PhoneNumber">
		<xsd:sequence>
			<xsd:element name="AREA_CODE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="SUBSCRIBER_NUMBER" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Node">
		<xsd:sequence>
			<xsd:element name="NODE_NAME" type="xsd:string" minOccurs="0"/>
			<xsd:element name="PORT" type="Port" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Port">
		<xsd:sequence>
			<xsd:element name="EQUIPMENT_CODE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="EQUIPMENT_TYPE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="PORT_ID" type="xsd:string" minOccurs="0"/>
			<xsd:element name="VPI" type="xsd:string" minOccurs="0"/>
			<xsd:element name="VCI" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Service">
		<xsd:sequence>
			<xsd:element name="SERVICE_ID" type="xsd:string" minOccurs="0"/>
			<xsd:element name="SERVICE_TYPE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="SERVICE_INSTANCE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CENTRAL_UNIT_CONNECTION" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
