GenericSOAPGateway/XSDSchemas/PostcodeServices/Response/GetPropertyAddress.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.kpn.com/fixed/postcodeservices/response/GetPropertyAddressResponse.xsd"
	 targetNamespace = "http://xmlns.kpn.com/fixed/postcodeservices/response/GetPropertyAddressResponse.xsd"
	 xmlns:Base.xsd = "http://xmlns.kpn.com/common/cdm/Base.xsd"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 xmlns:ResultStatus.xsd = "http://xmlns.kpn.com/common/cdm/ResultStatus.xsd"
	 elementFormDefault = "qualified">
	<xsd:import namespace = "http://xmlns.kpn.com/common/cdm/Base.xsd" schemaLocation = "../../Common/Base.xsd"/>
	<xsd:import namespace = "http://xmlns.kpn.com/common/cdm/ResultStatus.xsd" schemaLocation = "../../Common/ResultStatus.xsd"/>
	<xsd:element name = "GetPropertyAddressResponse">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base = "Base.xsd:Base">
					<xsd:sequence>
						<xsd:element name = "NUMBER_OF_RECORDS" type = "xsd:nonNegativeInteger" minOccurs = "0"/>
						<xsd:element name = "PROPERTY_ADDRESS" type = "PropertyAddress" minOccurs = "0" maxOccurs = "unbounded"/>
						<xsd:element name = "RESULT_STATUS" type = "ResultStatus.xsd:ResultStatus"/>
					</xsd:sequence>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name = "PropertyAddress">
		<xsd:sequence>
			<xsd:element name = "CITY_NAME" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "CITY_CODE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "STREET_NAME" type = "xsd:string"/>
			<xsd:element name = "HOUSE_NUMBER" type = "xsd:string"/>
			<xsd:element name = "DUTCH_POSTCODE_NUMBERS" type = "xsd:nonNegativeInteger"/>
			<xsd:element name = "DUTCH_POSTCODE_LETTERS" type = "xsd:string"/>
			<xsd:element name = "IS_ODD" type = "xsd:string"/>
			<xsd:element name = "FROM" type = "FromUntil" minOccurs = "0"/>
			<xsd:element name = "UNTIL" type = "FromUntil" minOccurs = "0"/>
			<xsd:element name = "TELECOM_DISTRICT" type = "TelecomDistrict" minOccurs = "0"/>
			<xsd:element name = "TELECOM_REGION" type = "TelecomRegion" minOccurs = "0"/>
			<xsd:element name = "OLD_TELECOM_REGION" type = "OldTelecomRegion" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name = "FromUntil">
		<xsd:sequence>
			<xsd:element name = "HOUSE_NUMBER" type = "xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name = "TelecomRegion">
		<xsd:sequence>
			<xsd:element name = "ID" type = "xsd:nonNegativeInteger"/>
			<xsd:element name = "CODE" type = "xsd:string"/>
			<xsd:element name = "NAME" type = "xsd:string"/>
			<xsd:element name = "MAIL" type = "xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name = "TelecomDistrict">
		<xsd:sequence>
			<xsd:element name = "CODE" type = "xsd:string"/>
			<xsd:element name = "NAME" type = "xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name = "OldTelecomRegion">
		<xsd:sequence>
			<xsd:element name = "ID" type = "xsd:nonNegativeInteger"/>
			<xsd:element name = "CODE" type = "xsd:string"/>
			<xsd:element name = "NAME" type = "xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>