GenericSOAPGateway/XSDSchemas/KanvasContractAdapter/Common/CableSection.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.example.com/unique/default/namespace/1111417935359"
	 targetNamespace = "http://xmlns.example.com/unique/default/namespace/1111417935359"
	 xmlns:Node.xsd = "http://xmlns.example.com/unique/default/namespace/1111409998750"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified">
	<xsd:import namespace = "http://xmlns.example.com/unique/default/namespace/1111409998750" schemaLocation = "Node.xsd"/>
	<xsd:complexType name = "CableSection">
		<xsd:sequence>
			<xsd:element name = "INDEX" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "CABLE_SECTION_NUMBER" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "STATUS" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "CROSS_CONNECT_STATE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "INBOUND_NODE" type = "Node.xsd:Node" minOccurs = "0"/>
			<xsd:element name = "OUTBOUND_NODE" type = "Node.xsd:Node" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>