GenericSOAPGateway/XSDSchemas/KanvasContractAdapter/Common/Rack.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.example.com/unique/default/namespace/1111410000656"
	 targetNamespace = "http://xmlns.example.com/unique/default/namespace/1111410000656"
	 xmlns:Shelf.xsd = "http://xmlns.example.com/unique/default/namespace/1111408597203"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified">
	<xsd:import namespace = "http://xmlns.example.com/unique/default/namespace/1111408597203" schemaLocation = "Shelf.xsd"/>
	<xsd:complexType name = "Rack">
		<xsd:sequence>
			<xsd:element name = "RACK_POSITION" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "SHELF" type = "Shelf.xsd:Shelf" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>