IKKAdapter/XSDSchemas/PIOAdapter/Common/Customer.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:complexType name="Customer">
		<xsd:sequence>
			<xsd:element name="CENTRAL_CUSTOMER_ID" type="xsd:string" minOccurs="0"/>
			<xsd:element name="COMPLETE_NAME" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
