IKKAdapter/XSDSchemas/PIOAdapter/Common/Last.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:complexType name="Last">
		<xsd:sequence>
			<xsd:element name="YEAR" type="xsd:string" minOccurs="0"/>
			<xsd:element name="QUARTER" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
