IKKAdapter/XSDSchemas/PIOAdapter/Common/Period.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:complexType name="Period">
		<xs:sequence>
			<xs:element name="YESR" type="xs:string" minOccurs="0"/>
			<xs:element name="QUARTER" type="xs:string" minOccurs="0"/>
			<xs:element name="MONTH" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
