IKKAdapter/XSDSchemas/PIOAdapter/Common/Product.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v5 rel. 4 U (http://www.xmlspy.com) by BuildGuru (EAI) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:complexType name="Product">
		<xs:sequence>
			<xs:element name="PRODUCT_CODE" type="xs:string" minOccurs="0"/>
			<xs:element name="PRODUCT_DESCRIPTION" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
