IKKAdapter/XSDSchemas/PIOAdapter/Common/RevenueReport.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified"
	 attributeFormDefault = "unqualified">
	<xsd:include schemaLocation = "./Customer.xsd"/>
	<xsd:include schemaLocation = "./Gross.xsd"/>
	<xsd:include schemaLocation = "./Net.xsd"/>
	<xsd:include schemaLocation = "./Period.xsd"/>
	<xsd:include schemaLocation = "./Product.xsd"/>
	<xsd:complexType name = "RevenueReport">
		<xsd:sequence>
			<xsd:element name = "CUSTOMER" minOccurs = "0">
				<xsd:complexType>
					<xsd:complexContent>
						<xsd:extension base = "Customer">
							<xsd:sequence>
								<xsd:element name = "CUSTOMER_AGGREGATION_LEVEL" type = "xsd:string" minOccurs = "0"/>
							</xsd:sequence>
						</xsd:extension>
					</xsd:complexContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name = "GROSS" type = "Gross" minOccurs = "0"/>
			<xsd:element name = "NET" type = "Net" minOccurs = "0"/>
			<xsd:element name = "PERIOD" minOccurs = "0">
				<xsd:complexType>
					<xsd:complexContent>
						<xsd:extension base = "Period">
							<xsd:sequence>
								<xsd:element name = "PERIOD_AGGREGATION_LEVEL" type = "xsd:string" minOccurs = "0"/>
							</xsd:sequence>
						</xsd:extension>
					</xsd:complexContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name = "PRODUCT" minOccurs = "0">
				<xsd:complexType>
					<xsd:complexContent>
						<xsd:extension base = "Product">
							<xsd:sequence>
								<xsd:element name = "PRODUCT_AGGREGATION_LEVEL" type = "xsd:string" minOccurs = "0"/>
							</xsd:sequence>
						</xsd:extension>
					</xsd:complexContent>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>