EDTAdapter/XSDSchemas/KanvasContractAdapter/Common/Area.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.example.com/unique/default/namespace/1115622015640"
	 targetNamespace = "http://xmlns.example.com/unique/default/namespace/1115622015640"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 xmlns:Node.xsd = "http://xmlns.example.com/unique/default/namespace/1111409998750"
	 elementFormDefault = "qualified">
	<xsd:import namespace = "http://xmlns.example.com/unique/default/namespace/1111409998750" schemaLocation = "Node.xsd"/>
	<xsd:complexType name = "Area">
		<xsd:sequence>
			<xsd:element name = "CENTRAL_AREA_CODE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "NODE" type = "Node.xsd:Node" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>