EDTAdapter/XSDSchemas/KanvasContractAdapter/Common/Cable.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.example.com/unique/default/namespace/1115621826265"
	 targetNamespace = "http://xmlns.example.com/unique/default/namespace/1115621826265"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified">
	<xsd:complexType name = "Cable">
		<xsd:sequence>
			<xsd:element name = "CABLE_NAME" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "DADER_RANGE" minOccurs = "0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name = "DADER_BEGIN" type = "xsd:string" minOccurs = "0"/>
						<xsd:element name = "DADER_END" type = "xsd:string" minOccurs = "0"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>