EDTAdapter/XSDSchemas/KanvasContractAdapter/Common/LeasedLine.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.example.com/unique/default/namespace/1113227710953"
	 targetNamespace = "http://xmlns.example.com/unique/default/namespace/1113227710953"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 xmlns:PropertyAddress.xsd = "http://xmlns.kpn.com/fixed/common/PropertyAddress.xsd"
	 elementFormDefault = "qualified">
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/common/PropertyAddress.xsd" schemaLocation = "../Common/PropertyAddress.xsd"/>
	<xsd:complexType name = "LeasedLine">
		<xsd:sequence>
			<xsd:element name = "LINE_STATUS" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "INVOERKABEL_SEQUENCE_NUMBER" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "DIKADER_NUMBER" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "INFRA_PROVIDER_SHORT_NAME" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "PROPERTY_ADDRESS" type = "PropertyAddress.xsd:PropertyAddress" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>