EDTAdapter/XSDSchemas/KanvasContractAdapter/Common/LineDetail.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.kpn.com/fixed/kanvascontractadapter/common/LineDetail.xsd"
	 targetNamespace = "http://xmlns.kpn.com/fixed/kanvascontractadapter/common/LineDetail.xsd"
	 xmlns:PhoneNumber.xsd = "http://xmlns.kpn.com/fixed/common/PhoneNumber.xsd"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 xmlns:PropertyAddress.xsd = "http://xmlns.kpn.com/fixed/common/PropertyAddress.xsd"
	 elementFormDefault = "qualified"
	 attributeFormDefault = "qualified">
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/common/PhoneNumber.xsd" schemaLocation = "../../Common/PhoneNumber.xsd"/>
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/common/PropertyAddress.xsd" schemaLocation = "../Common/PropertyAddress.xsd"/>
	<xsd:complexType name = "LineDetail">
		<xsd:sequence>
			<xsd:element name = "SERVICE_TYPE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "ISDN_CATEGORY" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "PHONE_NUMBER" type = "PhoneNumber.xsd:PhoneNumber" minOccurs = "0"/>
			<xsd:element name = "CENTRAL_UNIT_HOST" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "CENTRAL_UNIT_CONNECTION" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "CENTRAL_UNIT_TYPE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "PORTING_STATUS" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "CENTRAL_AREA_CODE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "SERVICE_STATUS" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "REVOKE_REASON_CODE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "PROPERTY_ADDRESS" type = "PropertyAddress.xsd:PropertyAddress" minOccurs = "0"/>
			<xsd:element name = "SERVICE_ID" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "TELCO_SHORT_NAME" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "QUALITY_CATEGORY" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "NET_LINE_SERVICE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "NET_LINE_SERVICE_STATUS" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "INFRASTRUCTURE_PROVIDER" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "ROUTING_TYPE" type = "xsd:string" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>