EDTAdapter/XSDSchemas/KanvasContractAdapter/Common/Node.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<schema xmlns = "http://www.w3.org/2001/XMLSchema"
	 targetNamespace = "http://xmlns.example.com/unique/default/namespace/1111409998750"
	 xmlns:Node.xsd = "http://xmlns.example.com/unique/default/namespace/1111409998750"
	 xmlns:Rack.xsd = "http://xmlns.example.com/unique/default/namespace/1111410000656"
	 xmlns:LogicalPort.xsd = "http://xmlns.example.com/unique/default/namespace/1111414513046"
	 xmlns:Port.xsd = "http://xmlns.example.com/unique/default/namespace/1111411714437"
	 xmlns:ExternalReference.xsd = "http://xmlns.example.com/unique/default/namespace/1111414581812"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 xmlns:PropertyAddress.xsd = "http://xmlns.kpn.com/fixed/common/PropertyAddress.xsd"
	 elementFormDefault = "qualified">
	<import namespace = "http://xmlns.example.com/unique/default/namespace/1111410000656" schemaLocation = "Rack.xsd"/>
	<import namespace = "http://xmlns.example.com/unique/default/namespace/1111414513046" schemaLocation = "LogicalPort.xsd"/>
	<import namespace = "http://xmlns.example.com/unique/default/namespace/1111411714437" schemaLocation = "Port.xsd"/>
	<import namespace = "http://xmlns.example.com/unique/default/namespace/1111414581812" schemaLocation = "ExternalReference.xsd"/>
	<import namespace = "http://xmlns.kpn.com/fixed/common/PropertyAddress.xsd" schemaLocation = "../Common/PropertyAddress.xsd"/>
	<complexType name = "Node">
		<sequence>
			<element name = "INDEX" type = "string" minOccurs = "0"/>
			<element name = "NODE_NAME" type = "string" minOccurs = "0"/>
			<element name = "NODE_TYPE" type = "string" minOccurs = "0"/>
			<element name = "SIDE" type = "string" minOccurs = "0"/>
			<element name = "NODE_SUB_TYPE" type = "string" minOccurs = "0"/>
			<element name = "LOCATION_CODE" type = "string" minOccurs = "0"/>
			<element name = "INFRA_PROVIDER_SHORT_NAME" type = "string" minOccurs = "0"/>
			<element name = "SERVICE_PROVIDER_SHORT_NAME" type = "string" minOccurs = "0"/>
			<element name = "NODE" type = "Node.xsd:Node" minOccurs = "0"/>
			<element name = "RACK" type = "Rack.xsd:Rack" minOccurs = "0"/>
			<element name = "PORT" type = "Port.xsd:Port" minOccurs = "0" maxOccurs = "unbounded"/>
			<element name = "ADDRESS" type = "PropertyAddress.xsd:PropertyAddress" minOccurs = "0"/>
			<element name = "LOGICAL_PORT" type = "LogicalPort.xsd:LogicalPort" minOccurs = "0"/>
			<element name = "EXTERNAL_REFERENCE" type = "ExternalReference.xsd:ExternalReference" minOccurs = "0"/>
			<element name = "DIRECT_DIAL_BLOCK_AVAILABLE_FLAG" type = "string" minOccurs = "0"/>
		</sequence>
	</complexType>
	<simpleType name = "String">
		<restriction base = "string"/>
	</simpleType>
</schema>