EDTAdapter/XSDSchemas/KanvasContractAdapter/Common/PbxLine.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.example.com/unique/default/namespace/1113219709984"
	 targetNamespace = "http://xmlns.example.com/unique/default/namespace/1113219709984"
	 xmlns:Port.xsd = "http://xmlns.example.com/unique/default/namespace/1111411714437"
	 xmlns:PhoneNumber.xsd = "http://xmlns.kpn.com/fixed/common/PhoneNumber.xsd"
	 xmlns:Pbx.xsd = "http://xmlns.example.com/unique/default/namespace/1113219960156"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified">
	<xsd:import namespace = "http://xmlns.example.com/unique/default/namespace/1111411714437" schemaLocation = "Port.xsd"/>
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/common/PhoneNumber.xsd" schemaLocation = "../../Common/PhoneNumber.xsd"/>
	<xsd:import namespace = "http://xmlns.example.com/unique/default/namespace/1113219960156" schemaLocation = "Pbx.xsd"/>
	<xsd:complexType name = "PbxLine">
		<xsd:sequence>
			<xsd:element name = "CHANNEL_NUMBER" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "USAGE_STATUS" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "USAGE_STATUS_EXTENSION" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "SHORT_NAME" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "PORT" type = "Port.xsd:Port" minOccurs = "0"/>
			<xsd:element name = "PHONE_NUMBER" type = "PhoneNumber.xsd:PhoneNumber" minOccurs = "0"/>
			<xsd:element name = "NUMBER_OFFSET" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "ROUTING_TYPE" type = "xsd:string" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>