EDTAdapter/XSDSchemas/KanvasContractAdapter/Common/PhoneNumberSetField.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.example.com/unique/default/namespace/1115626142328"
	 targetNamespace = "http://xmlns.example.com/unique/default/namespace/1115626142328"
	 xmlns:PhoneNumber.xsd = "http://xmlns.kpn.com/fixed/common/PhoneNumber.xsd"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified">
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/common/PhoneNumber.xsd" schemaLocation = "../../Common/PhoneNumber.xsd"/>
	<xsd:complexType name = "PhoneNumberSetField">
		<xsd:sequence>
			<xsd:element name = "SERVICE_TYPE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "USAGE_TYPE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "USAGE_TYPE_EXTENSION" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "PORTING_STATUS" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "NODE_NAME" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "FACILITY_AVAILABLE_FLAG" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "PHONE_NUMBER" type = "PhoneNumber.xsd:PhoneNumber" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>