EDTAdapter/XSDSchemas/O2/Request/GetVpnOrders.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.kpn.com/fixed/EpacityGateway/request/GetVpnOrders.xsd"
	 targetNamespace = "http://xmlns.kpn.com/fixed/EpacityGateway/request/GetVpnOrders.xsd"
	 xmlns:Base.xsd = "http://xmlns.kpn.com/common/cdm/Base.xsd"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema">
	<xsd:import namespace = "http://xmlns.kpn.com/common/cdm/Base.xsd" schemaLocation = "../../Common/Base.xsd"/>
	<xsd:element name = "GetVpnOrders">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base = "Base.xsd:Base">
					<xsd:sequence>
						<xsd:element name = "CUSTOMER" minOccurs = "0">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name = "CENTRAL_CUSTOMER_ID" type = "xsd:string"/>
									<xsd:element name = "PARTY_ID" type = "xsd:string" minOccurs = "0"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name = "ORDER" minOccurs = "0">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name = "ORDER_CREATED_AFTER_DATE" type = "xsd:date" minOccurs = "0"/>
									<xsd:element name = "ORDER_STATE_FILTER" type = "xsd:string" minOccurs = "0"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name = "PROPERTY_ADDRESS" minOccurs = "0">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name = "HOUSE_NUMBER_EXTENSION" type = "xsd:string" minOccurs = "0"/>
									<xsd:element name = "HOUSE_NUMBER" type = "xsd:string" minOccurs = "0"/>
									<xsd:element name = "POSTCODE_NUMBERS" type = "xsd:string" minOccurs = "0"/>
									<xsd:element name = "POSTCODE_LETTERS" type = "xsd:string" minOccurs = "0"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name = "RESULT_SET" minOccurs = "0">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name = "RESULT_SET_OFFSET" type = "xsd:integer"/>
									<xsd:element name = "RESULT_SET_SIZE" type = "xsd:integer"/>
									<xsd:element name = "RESULT_SET_SORT_FIELD" type = "xsd:string" minOccurs = "0"/>
									<xsd:element name = "RESULT_SET_TIMESTAMP" type = "xsd:string"/>
									<xsd:element name = "RESULT_SET_SORT_DIRECTION" type = "xsd:string" minOccurs = "0"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>