ASTRIDAdapter/XSDSchemas/Common/ResultStatus.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<xsd:schema xmlns = "http://xmlns.kpn.com/common/cdm/ResultStatus.xsd"
	 targetNamespace = "http://xmlns.kpn.com/common/cdm/ResultStatus.xsd"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 version = "1.1"
	 elementFormDefault = "qualified"
	 attributeFormDefault = "qualified">
	<xsd:complexType name = "ResultStatus">
		<xsd:attribute name = "STATUS" use = "required" type = "xsd:integer"/>
		<xsd:attribute name = "MSG_CODE" type = "xsd:string"/>
		<xsd:attribute name = "ERROR_CODE" type = "xsd:string"/>
		<xsd:attribute name = "ERROR_DESCRIPTION" type = "xsd:string"/>
	</xsd:complexType>
</xsd:schema>