GenericOrderGateway/XSDSchemas/UtilityServices/Response/ValidateMessageResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2006 sp2 U (http://www.altova.com) by Atos Origin (Atos Origin Nederland B.V.) -->
<xs:schema xmlns="http://xmlns.kpn.com/fixed/UtilityServices/Response/ValidateMessage" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns0="http://xmlns.kpn.com/common/cdm/ResultStatus.xsd" xmlns:ns2="http://xmlns.kpn.com/common/cdm/Base.xsd" targetNamespace="http://xmlns.kpn.com/fixed/UtilityServices/Response/ValidateMessage" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="http://xmlns.kpn.com/common/cdm/ResultStatus.xsd" schemaLocation="../../Common/ResultStatus.xsd"/>
	<xs:import namespace="http://xmlns.kpn.com/common/cdm/Base.xsd" schemaLocation="../../Common/Base.xsd"/>
	<!-- edited with XMLSpy v2006 sp2 U (http://www.altova.com) by Shyam Kasthala (Atos Origin Nederland B.V.) -->
	<xs:element name="ValidateMessageResponse">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="ns2:Base">
					<xs:sequence>
						<xs:element name="RESULTSTATUS" type="ns0:ResultStatus"/>
						<xs:element name="BODY" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="VALID" type="xs:boolean" minOccurs="0"/>
									<xs:element name="ERROR" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
</xs:schema>
