IKKAdapter/XSDSchemas/PIOAdapter/Request/ReportCustomerRevenue.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.kpn.com/fixed/PIOAdapter/Request/ReportCustomerRevenue.xsd"
	 targetNamespace = "http://xmlns.kpn.com/fixed/PIOAdapter/Request/ReportCustomerRevenue.xsd"
	 xmlns:Base.xsd = "http://xmlns.kpn.com/common/cdm/Base.xsd"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified">
	<xsd:import namespace = "http://xmlns.kpn.com/common/cdm/Base.xsd" schemaLocation = "../../Common/Base.xsd"/>
	<xsd:element name = "ReportCustomerRevenue">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base = "Base.xsd:Base">
					<xsd:sequence>
						<xsd:element name = "CUSTOMER">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name = "CUSTOMER_AGGREGATION_LEVEL" type = "xsd:string"/>
									<xsd:element name = "CENTRAL_CUSTOMER_ID" type = "xsd:string"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name = "PRODUCT">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name = "PRODUCT_AGGREGATION_LEVEL" type = "xsd:string"/>
									<xsd:element name = "PRODUCT_CODE" type = "xsd:string" minOccurs = "0"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name = "PERIOD">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name = "PERIOD_AGGREGATION_LEVEL" type = "xsd:string"/>
									<xsd:element name = "FIRST" minOccurs = "0">
										<xsd:complexType>
											<xsd:sequence>
												<xsd:element name = "YEAR" type = "xsd:string" minOccurs = "0"/>
												<xsd:element name = "QUARTER" type = "xsd:string" minOccurs = "0"/>
											</xsd:sequence>
										</xsd:complexType>
									</xsd:element>
									<xsd:element name = "LAST" minOccurs = "0">
										<xsd:complexType>
											<xsd:sequence>
												<xsd:element name = "YEAR" type = "xsd:string" minOccurs = "0"/>
												<xsd:element name = "QUARTER" type = "xsd:string" minOccurs = "0"/>
											</xsd:sequence>
										</xsd:complexType>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>