Clever/CLEverSource/CLEverCore - Oracle/Processes/FrontendServices/Configuration/TechnicalDomain/TechnicalDomain.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://www.tibco.com/CLEver/Configuration/TechnicalDomain" xmlns:ns2="http://www.tibco.com/CLEver/FrontendServices/Configuration/TechnicalDomain/TechnicalDomainInterfaceSpecs" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.tibco.com/CLEver/Configuration/TechnicalDomain" xmlns:ns3="http://www.tibco.com/CLEver/InternalException">
    <import location="TechnicalDomainInterfaceSpecs.xsd" namespace="http://www.tibco.com/CLEver/FrontendServices/Configuration/TechnicalDomain/TechnicalDomainInterfaceSpecs"/>
	<import location="../../../../Shared Resources/Schema Definitions/CLEver/Error.xsd" namespace="http://www.tibco.com/CLEver/InternalException"/>
    <message name="Create_TechnicalDomain_Input">
        <part element="ns2:Create_TechnicalDomain_Input" name="part1"/>
    </message>
    <message name="Create_TechnicalDomain_Output">
        <part element="ns2:Create_TechnicalDomain_Output" name="part1"/>
    </message>
    <message name="Update_TechnicalDomain_Input">
        <part element="ns2:Update_TechnicalDomain_Input" name="part1"/>
    </message>
    <message name="Update_TechnicalDomain_Output">
        <part element="ns2:Update_TechnicalDomain_Output" name="part1"/>
    </message>
    <message name="Delete_TechnicalDomain_Input">
        <part element="ns2:Delete_TechnicalDomain_Input" name="part1"/>
    </message>
    <message name="Delete_TechnicalDomain_Output">
        <part element="ns2:Delete_TechnicalDomain_Output" name="part1"/>
    </message>
    <message name="Retrieve_TechnicalDomain_Input">
        <part element="ns2:Retrieve_TechnicalDomain_Input" name="part1"/>
    </message>
    <message name="Retrieve_TechnicalDomain_Output">
        <part element="ns2:Retrieve_TechnicalDomain_Output" name="part1"/>
    </message>
    <message name="Retrieve_TechnicalDomainParameters_Input">
        <part element="ns2:Retrieve_TechnicalDomainParameters_Input" name="part1"/>
    </message>
    <message name="Retrieve_TechnicalDomainParameters_Output">
        <part element="ns2:Retrieve_TechnicalDomainParameters_Output" name="part1"/>
    </message>
		<message name="Exception">
        <part name="part1" element="ns3:ExceptionEnvelope"/>
    </message>
    <portType name="TechnicalDomain">
        <operation name="Create">
            <input message="ns:Create_TechnicalDomain_Input"/>
            <output message="ns:Create_TechnicalDomain_Output"/>
			<fault name="fault1" message="ns:Exception"/>
        </operation>
        <operation name="Update">
            <input message="ns:Update_TechnicalDomain_Input"/>
            <output message="ns:Update_TechnicalDomain_Output"/>
			<fault name="fault1" message="ns:Exception"/>
        </operation>
        <operation name="Delete">
            <input message="ns:Delete_TechnicalDomain_Input"/>
            <output message="ns:Delete_TechnicalDomain_Output"/>
			<fault name="fault1" message="ns:Exception"/>
        </operation>
        <operation name="Retrieve">
            <input message="ns:Retrieve_TechnicalDomain_Input"/>
            <output message="ns:Retrieve_TechnicalDomain_Output"/>
			<fault name="fault1" message="ns:Exception"/>
        </operation>
        <operation name="RetrieveParameters">
            <input message="ns:Retrieve_TechnicalDomainParameters_Input"/>
            <output message="ns:Retrieve_TechnicalDomainParameters_Output"/>
			<fault name="fault1" message="ns:Exception"/>
        </operation>
    </portType>
</definitions>