Clever/CLEverSource/CLEverCore - Oracle/Processes/FrontendServices/Configuration/Notification/Notification.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://www.tibco.com/CLEver/Configuration/Notification" xmlns:ns2="http://www.tibco.com/CLEver/FrontendServices/Configuration/Notification/NotificationInterfaceSpecs" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns3="http://www.tibco.com/CLEver/InternalException" targetNamespace="http://www.tibco.com/CLEver/Configuration/Notification">
    <import location="NotificationInterfaceSpecs.xsd" namespace="http://www.tibco.com/CLEver/FrontendServices/Configuration/Notification/NotificationInterfaceSpecs"/>
    <import location="../../../../Shared Resources/Schema Definitions/CLEver/Error.xsd" namespace="http://www.tibco.com/CLEver/InternalException"/>
    <message name="Create_Notification_Input">
        <part element="ns2:Create_Notification_Input" name="part1"/>
    </message>
    <message name="Create_Notification_Output">
        <part element="ns2:Create_Notification_Output" name="part1"/>
    </message>
    <message name="Update_Notification_Input">
        <part element="ns2:Update_Notification_Input" name="part1"/>
    </message>
    <message name="Update_Notification_Output">
        <part element="ns2:Update_Notification_Output" name="part1"/>
    </message>
    <message name="Delete_Notification_Input">
        <part element="ns2:Delete_Notification_Input" name="part1"/>
    </message>
    <message name="Delete_Notification_Output">
        <part element="ns2:Delete_Notification_Output" name="part1"/>
    </message>
    <message name="Retrieve_Notification_Input">
        <part element="ns2:Retrieve_Notification_Input" name="part1"/>
    </message>
    <message name="Retrieve_Notification_Output">
        <part element="ns2:Retrieve_Notification_Output" name="part1"/>
    </message>
    <message name="Retrieve_NotificationParameters_Input">
        <part name="part1" element="ns2:Retrieve_NotificationParameters_Input"/>
    </message>
    <message name="Retrieve_NotificationParameters_Output">
        <part name="part1" element="ns2:Retrieve_NotificationParameters_Output"/>
    </message>
    <message name="Exception">
        <part name="part1" element="ns3:ExceptionEnvelope"/>
    </message>
    <portType name="Notification">
        <operation name="Create">
            <input message="ns:Create_Notification_Input"/>
            <output message="ns:Create_Notification_Output"/>
            <fault name="fault1" message="ns:Exception"/>
        </operation>
        <operation name="Update">
            <input message="ns:Update_Notification_Input"/>
            <output message="ns:Update_Notification_Output"/>
            <fault name="fault1" message="ns:Exception"/>
        </operation>
        <operation name="Delete">
            <input message="ns:Delete_Notification_Input"/>
            <output message="ns:Delete_Notification_Output"/>
            <fault name="fault1" message="ns:Exception"/>
        </operation>
        <operation name="Retrieve">
            <input message="ns:Retrieve_Notification_Input"/>
            <output message="ns:Retrieve_Notification_Output"/>
            <fault name="fault1" message="ns:Exception"/>
        </operation>
        <operation name="RetrieveParameters">
            <input message="ns:Retrieve_NotificationParameters_Input"/>
            <output message="ns:Retrieve_NotificationParameters_Output"/>
            <fault name="fault1" message="ns:Exception"/>
        </operation>
    </portType>
</definitions>