GenericSOAPGateway/XSDSchemas/PMAdapter/Common/Factuur.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.example.com/unique/default/namespace/1112197291687"
	 targetNamespace = "http://xmlns.example.com/unique/default/namespace/1112197291687"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified">
	<xsd:complexType name = "Factuur">
		<xsd:sequence>
			<xsd:element name = "FACTUUR_KENMERK" type = "xsd:string"/>
			<xsd:element name = "FACTUUR_VERZENDDATUM" type = "xsd:date"/>
			<xsd:element name = "FACTUUR_VERVALDATUM" type = "xsd:date"/>
			<xsd:element name = "FACTUUR_BEDRAG" type = "xsd:string"/>
			<xsd:element name = "FACTUUR_SALDO" type = "xsd:string"/>
			<xsd:element name = "FACTUUR_DATUM_BETALING" type = "xsd:date"/>
			<xsd:element name = "FACTUUR_DATUM_STORNERING" type = "xsd:date"/>
			<xsd:element name = "FACTUUR_DATUM_1E_HERINNERING" type = "xsd:date"/>
			<xsd:element name = "FACTUUR_DATUM_2E_HERINNERING" type = "xsd:date"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>