GenericSOAPGateway/XSDSchemas/PMAdapter/Common/InvoiceSummary.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.kpn.com/fixed/PMAdapter/common/InvoiceSummary.xsd"
	 targetNamespace = "http://xmlns.kpn.com/fixed/PMAdapter/common/InvoiceSummary.xsd"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified">
	<xsd:complexType name = "InvoiceSummary">
		<xsd:sequence>
			<xsd:element name = "INVOICE_DATE" type = "xsd:date" minOccurs = "0"/>
			<xsd:element name = "INVOICE_DUE_DATE" type = "xsd:date" minOccurs = "0"/>
			<xsd:element name = "INVOICE_TEXT_LINE" type = "xsd:string"/>
			<xsd:element name = "INVOICE_AMOUNT" type = "xsd:string"/>
			<xsd:element name = "INVOICE_BALANCE" type = "xsd:string"/>
			<xsd:element name = "INVOICE_PAYMENT_DATE" type = "xsd:date" minOccurs = "0"/>
			<xsd:element name = "INVOICE_PAYMENT_REVERSAL_DATE" type = "xsd:date" minOccurs = "0"/>
			<xsd:element name = "INVOICE_FIRST_REMINDER_DATE" type = "xsd:date" minOccurs = "0"/>
			<xsd:element name = "INVOICE_SECOND_REMINDER_DATE" type = "xsd:date" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>