GenericSOAPGateway/XSDSchemas/CKRAdapter/Request/AddCustomerReference.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.kpn.com/fixed/ckradapter/request/AddCustomerReference.xsd"
	 targetNamespace = "http://xmlns.kpn.com/fixed/ckradapter/request/AddCustomerReference.xsd"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 xmlns:CKRRequest.xsd = "http://xmlns.kpn.com/fixed/ckradapter/common/CKRRequest.xsd"
	 xmlns:CustomerReference.xsd = "http://xmlns.kpn.com/fixed/ckradapter/common/CustomerReference.xsd"
	 elementFormDefault = "qualified">
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/ckradapter/common/CKRRequest.xsd" schemaLocation = "../Common/CKRRequest.xsd"/>
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/ckradapter/common/CustomerReference.xsd" schemaLocation = "../Common/CustomerReference.xsd"/>
	<xsd:element name = "AddCustomerReference">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base = "CKRRequest.xsd:CKRRequest">
					<xsd:sequence>
						<xsd:element name = "APPLICATION_ID" type = "xsd:string" minOccurs = "0"/>
						<xsd:element name = "USER_ID" type = "xsd:string" minOccurs = "0"/>
						<xsd:element name = "CENTRAL_CUSTOMER_ID" type = "xsd:string" minOccurs = "0"/>
						<xsd:element name = "CUSTOMER_REFERENCE" type = "CustomerReference.xsd:CustomerReference" minOccurs = "0"/>
						<xsd:element name = "IS_UNLISTED" type = "xsd:string" minOccurs = "0"/>
					</xsd:sequence>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>