GenericSOAPGateway/XSDSchemas/CKRAdapter/Request/ChangeCustomerReference.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.kpn.com/fixed/ckradapter/request/ChangeCustomerReference.xsd"
	 targetNamespace = "http://xmlns.kpn.com/fixed/ckradapter/request/ChangeCustomerReference.xsd"
	 xmlns:ns1 = "http://xmlns.kpn.com/fixed/ckradapter/common/CKRRequest.xsd"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 xmlns:ns2 = "http://xmlns.kpn.com/fixed/ckradapter/common/ExternalCustomerReference.xsd"
	 elementFormDefault = "qualified"
	 attributeFormDefault = "unqualified">
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/ckradapter/common/CKRRequest.xsd" schemaLocation = "../Common/CKRRequest.xsd"/>
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/ckradapter/common/ExternalCustomerReference.xsd" schemaLocation = "../Common/ExternalCustomerReference.xsd"/>
	<!-- edited with XMLSpy v2006 sp2 U (http://www.altova.com) by Arjen Wassenaar (Atos Origin Nederland B.V.) -->
	
	<xsd:element name = "ChangeCustomerReference">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base = "ns1:CKRRequest">
					<xsd:sequence>
						<xsd:element name = "IS_UNLISTED" type = "xsd:string"/>
						<xsd:element name = "EXTERNAL_CUSTOMER_REFERENCE">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name = "OLD">
										<xsd:complexType>
											<xsd:sequence>
												<xsd:element name = "REF_NAME" type = "xsd:string"/>
											</xsd:sequence>
										</xsd:complexType>
									</xsd:element>
									<xsd:element name = "NEW">
										<xsd:complexType>
											<xsd:sequence>
												<xsd:element name = "REF_NAME" type = "xsd:string"/>
											</xsd:sequence>
										</xsd:complexType>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>