GenericSOAPGateway/XSDSchemas/CKRAdapter/Request/CreatePartyAGOP.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.kpn.com/fixed/ckradapter/request/CreatePartyAGOP.xsd"
	 targetNamespace = "http://xmlns.kpn.com/fixed/ckradapter/request/CreatePartyAGOP.xsd"
	 xmlns:CKRRequest.xsd = "http://xmlns.kpn.com/fixed/ckradapter/common/CKRRequest.xsd"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified">
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/ckradapter/common/CKRRequest.xsd" schemaLocation = "../Common/CKRRequest.xsd"/>
	<!-- edited with XML Spy v4.4 U (http://www.xmlspy.com) by Atos Origin (Atos Origin) -->
	
	<xsd:element name = "CreatePartyAGOP">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base = "CKRRequest.xsd:CKRRequest">
					<xsd:sequence>
						<xsd:element name = "ADDRESS_CHECK_DATE" type = "xsd:date" minOccurs = "0"/>
						<xsd:element name = "ADDRESS_CHECK" type = "xsd:string"/>
						<xsd:element name = "IS_DOUBLE" type = "xsd:string"/>
						<xsd:element name = "KVK_NUMBER_CHECK" type = "xsd:string"/>
						<xsd:element name = "IS_UNLISTED" type = "xsd:string" minOccurs = "0"/>
						<xsd:element name = "NAME_CHECK" type = "xsd:string"/>
						<xsd:element name = "DATE_OF_BIRTH_CHECK" type = "xsd:string"/>
						<xsd:element name = "LEGAL_FORM_CHECK" type = "xsd:string"/>
						<xsd:element name = "PARTY" type = "PARTYType"/>
						<xsd:element name = "PARTY_NAME" type = "PARTY_NAMEType"/>
						<xsd:element name = "CUSTOMER" type = "CUSTOMERType" minOccurs = "0"/>
						<xsd:element name = "CUSTOMER_REFERENCE" type = "CUSTOMER_REFERENCEType" minOccurs = "0"/>
					</xsd:sequence>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name = "PARTYType">
		<xsd:sequence>
			<xsd:element name = "LEGAL_FORM_CODE" type = "xsd:string"/>
			<xsd:element name = "DATE_OF_BIRTH" type = "xsd:date" minOccurs = "0"/>
			<xsd:element name = "VALID_FROM_DATE" type = "xsd:date"/>
			<xsd:element name = "KVK_NUMBER" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "PROPERTY_ADDRESS" type = "PARTY_PROPERTY_ADDRESSType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name = "PARTY_PROPERTY_ADDRESSType">
		<xsd:sequence>
			<xsd:element name = "STREET_NAME" type = "xsd:string"/>
			<xsd:element name = "HOUSE_NUMBER" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "HOUSE_NUMBER_EXTENSION" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "CITY_NAME" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "CITY_CODE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "COUNTRY" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "DUTCH_POSTCODE_LETTERS" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "DUTCH_POSTCODE_NUMBERS" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "ZIPCODE_BEFORE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "ZIPCODE_AFTER" type = "xsd:string" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name = "PARTY_NAMEType">
		<xsd:sequence>
			<xsd:element name = "PARTY_NAME_DIACRITICS" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "PARTY_NAME" type = "xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name = "CUSTOMERType">
		<xsd:sequence>
			<xsd:element name = "PARTY" type = "CUSTOMER_PARTYType" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name = "CUSTOMER_PARTYType">
		<xsd:sequence>
			<xsd:element name = "BRANCH_NAME_DIACRITICS" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "BRANCH_NAME" type = "xsd:string" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name = "CUSTOMER_REFERENCEType">
		<xsd:sequence>
			<xsd:element name = "ROLE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "EXTERNAL_CUSTOMER_REFERENCE" type = "EXTERNAL_CUSTOMER_REFERENCEType" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name = "EXTERNAL_CUSTOMER_REFERENCEType">
		<xsd:sequence>
			<xsd:element name = "REF_NAME" type = "xsd:string" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>