GenericSOAPGateway/XSDSchemas/CKRAdapter/Request/GetPOBox.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.kpn.com/fixed/ckradapter/request/GetPOBox.xsd"
	 targetNamespace = "http://xmlns.kpn.com/fixed/ckradapter/request/GetPOBox.xsd"
	 xmlns:CKRRequest.xsd = "http://xmlns.kpn.com/fixed/ckradapter/common/CKRRequest.xsd"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 xmlns:PropertyAddress.xsd = "http://xmlns.kpn.com/fixed/ckradapter/common/PropertyAddress.xsd"
	 elementFormDefault = "qualified">
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/ckradapter/common/CKRRequest.xsd" schemaLocation = "../Common/CKRRequest.xsd"/>
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/ckradapter/common/PropertyAddress.xsd" schemaLocation = "../Common/PropertyAddress.xsd"/>
	<xsd:element name = "GetPOBox">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base = "CKRRequest.xsd:CKRRequest">
					<xsd:sequence>
						<xsd:element name = "APPLICATION_ID" type = "xsd:string" minOccurs = "0"/>
						<xsd:element name = "USER_ID" type = "xsd:string" minOccurs = "0"/>
						<xsd:element name = "CENTRAL_CUSTOMER_ID" type = "xsd:string" minOccurs = "0"/>
						<xsd:element name = "POBOX_NUMBER" type = "xsd:string" minOccurs = "0"/>
						<xsd:element name = "PROPERTY_ADDRESS" type = "PropertyAddress.xsd:PropertyAddress" minOccurs = "0"/>
					</xsd:sequence>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>