GenericSOAPGateway/XSDSchemas/CKRAdapter/Request/GetStandardDirectoryListing_old.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xs:schema xmlns = "http://xmlns.kpn.com/fixed/ckradapter/request/GetStandardDirectoryListing.xsd"
	 targetNamespace = "http://xmlns.kpn.com/fixed/ckradapter/request/GetStandardDirectoryListing.xsd"
 xmlns:xs = "http://www.w3.org/2001/XMLSchema" xmlns:CKRRequest.xsd = "http://xmlns.kpn.com/fixed/ckradapter/common/CKRRequest.xsd"
	 elementFormDefault = "qualified"
	 attributeFormDefault = "unqualified">
	<xs:import namespace = "http://xmlns.kpn.com/fixed/ckradapter/common/CKRRequest.xsd" schemaLocation = "../Common/CKRRequest.xsd"/>
	<!-- edited with XMLSpy v2007 (http://www.altova.com) by A130590 (EMBRACE) -->
	
	<xs:element name = "GetStandardDirectoryListing">
		<xs:annotation>
			<xs:documentation>Comment describing your root element</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base = "CKRRequest.xsd:CKRRequest">
					<xs:sequence>
						<xs:element name = "CENTRAL_CUSTOMER_ID" type = "xs:string" minOccurs = "0"/>
						<xs:element name = "PHONE_NUMBER" minOccurs = "0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name = "AREA_CODE" type = "xs:string"/>
									<xs:element name = "SUBSCRIBER_NUMBER" type = "xs:string"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
</xs:schema>