GenericSOAPGateway/XSDSchemas/CKRAdapter/Request/MoveCustomerAddress.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.kpn.com/fixed/ckradapter/request/MoveCustomerAddress.xsd"
	 targetNamespace = "http://xmlns.kpn.com/fixed/ckradapter/request/MoveCustomerAddress.xsd"
	 xmlns:ns1 = "http://xmlns.kpn.com/fixed/ckradapter/common/CKRRequest.xsd"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified"
	 attributeFormDefault = "unqualified">
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/ckradapter/common/CKRRequest.xsd" schemaLocation = "../Common/CKRRequest.xsd"/>
	<!-- edited with XMLSpy v2006 sp2 U (http://www.altova.com) by Arjen Wassenaar (Atos Origin Nederland B.V.) -->
	
	<xsd:element name = "MoveCustomerAddress">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base = "ns1:CKRRequest">
					<xsd:sequence>
						<xsd:element name = "IS_DOUBLE" type = "xsd:string"/>
						<xsd:element name = "ADDRESS_CHECK" type = "xsd:string"/>
						<xsd:element name = "IS_UPDATE" type = "xsd:string"/>
						<xsd:element name = "CUSTOMER" type = "CUSTOMERType"/>
					</xsd:sequence>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name = "PROPERTY_ADDRESSType">
		<xsd:sequence>
			<xsd:element name = "STREET_NAME" type = "xsd:string"/>
			<xsd:element name = "HOUSE_NUMBER" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "HOUSE_NUMBER_EXTENSION" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "DUTCH_POSTCODE_NUMBERS" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "DUTCH_POSTCODE_LETTERS" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "ZIPCODE_BEFORE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "CITY_NAME" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "ZIPCODE_AFTER" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "COUNTRY" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "CITY_CODE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "ADDRESS_CHECK_DATE" type = "xsd:date" minOccurs = "0"/>
			<xsd:element name = "VALID_FROM_DATE" type = "xsd:date"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name = "CUSTOMERType">
		<xsd:sequence>
			<xsd:element name = "CENTRAL_CUSTOMER_ID" type = "xsd:string"/>
			<xsd:element name = "PROPERTY_ADDRESS" type = "PROPERTY_ADDRESSType"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>