GenericSOAPGateway/XSDSchemas/CKRAdapter/Request/UpdatePOBox.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.kpn.com/fixed/ckradapter/request/UpdatePOBox.xsd"
	 targetNamespace = "http://xmlns.kpn.com/fixed/ckradapter/request/UpdatePOBox.xsd"
	 xmlns:ns1 = "http://xmlns.kpn.com/fixed/ckradapter/common/CKRRequest.xsd"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 xmlns:PropertyAddress.xsd = "http://xmlns.kpn.com/fixed/ckradapter/common/PropertyAddress.xsd"
	 elementFormDefault = "qualified"
	 attributeFormDefault = "unqualified">
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/ckradapter/common/CKRRequest.xsd" schemaLocation = "../Common/CKRRequest.xsd"/>
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/ckradapter/common/PropertyAddress.xsd" schemaLocation = "../Common/PropertyAddress.xsd"/>
	<!-- edited with XMLSpy v2006 sp2 U (http://www.altova.com) by Arjen Wassenaar (Atos Origin Nederland B.V.) -->
	
	<xsd:element name = "UpdatePOBox">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base = "ns1:CKRRequest">
					<xsd:sequence>
						<xsd:element name = "CENTRAL_CUSTOMER_ID" type = "xsd:string"/>
						<xsd:element name = "POBOX_NUMBER" type = "xsd:string"/>
						<xsd:element name = "POBOX_CHECK" type = "xsd:string"/>
						<xsd:element name = "POBOX_NAME" type = "xsd:string" minOccurs = "0"/>
						<xsd:element name = "PROPERTY_ADDRESS" type = "PropertyAddress.xsd:PropertyAddress" minOccurs = "0"/>
					</xsd:sequence>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>