GenericSOAPGateway/XSDSchemas/CKRAdapter/Request/UpdateBillRecipient.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.kpn.com/fixed/ckradapter/request/UpdateBillRecipient.xsd"
	 targetNamespace = "http://xmlns.kpn.com/fixed/ckradapter/request/UpdateBillRecipient.xsd"
	 xmlns:ns1 = "http://xmlns.kpn.com/fixed/ckradapter/common/CKRRequest.xsd"
	 xmlns:BillRecipient.xsd = "http://xmlns.kpn.com/fixed/ckradapter/common/BillRecipient.xsd"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified"
	 attributeFormDefault = "unqualified">
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/ckradapter/common/CKRRequest.xsd" schemaLocation = "../Common/CKRRequest.xsd"/>
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/ckradapter/common/BillRecipient.xsd" schemaLocation = "../Common/BillRecipient.xsd"/>
	<!-- edited with XMLSpy v2006 sp2 U (http://www.altova.com) by Arjen Wassenaar (Atos Origin Nederland B.V.) -->
	
	<xsd:element name = "UpdateBillRecipient">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base = "ns1:CKRRequest">
					<xsd:sequence>
						<xsd:element name = "ADDRESS_CHECK" type = "xsd:string"/>
						<xsd:element name = "BILL_RECIPIENT" type = "BillRecipient.xsd:BillRecipient"/>
					</xsd:sequence>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>