GenericSOAPGateway/XSDSchemas/CKRAdapter/Request/UpdateKVKNumber.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.kpn.com/fixed/ckradapter/request/UpdateKVKNumber.xsd"
	 targetNamespace = "http://xmlns.kpn.com/fixed/ckradapter/request/UpdateKVKNumber.xsd"
	 xmlns:ns1 = "http://xmlns.kpn.com/fixed/ckradapter/common/CKRRequest.xsd"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified"
	 attributeFormDefault = "unqualified">
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/ckradapter/common/CKRRequest.xsd" schemaLocation = "../Common/CKRRequest.xsd"/>
	<!-- edited with XMLSpy v2006 sp2 U (http://www.altova.com) by Arjen Wassenaar (Atos Origin Nederland B.V.) -->
	
	<xsd:element name = "UpdateKVKNumber">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base = "ns1:CKRRequest">
					<xsd:sequence>
						<xsd:element name = "KVK_NUMBER_CHECK" type = "xsd:string"/>
						<xsd:element name = "IS_DOUBLE" type = "xsd:string"/>
						<xsd:element name = "CUSTOMER" type = "CUSTOMERType"/>
						<xsd:element name = "PARTY" type = "PARTYType"/>
					</xsd:sequence>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name = "CUSTOMERType">
		<xsd:sequence>
			<xsd:element name = "CENTRAL_CUSTOMER_ID" type = "xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name = "PARTYType">
		<xsd:sequence>
			<xsd:element name = "KVK_NUMBER" type = "xsd:string" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>