ASTRIDAdapter/XSDSchemas/ASTRIDAdapter/Response/ScheduleNotepadRefresh.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.kpn.com/fixed/ASTRIDAdapter/Response/ScheduleNotepadRefresh.xsd"
	 targetNamespace = "http://xmlns.kpn.com/fixed/ASTRIDAdapter/Response/ScheduleNotepadRefresh.xsd"
	 xmlns:HDR-SW-0101.xsd = "http://xmlns.kpn.com/fixed/ASTRIDAdapter/common/HDR-SW-0101.xsd"
	 xmlns:STATUS_S-0100.xsd = "http://xmlns.kpn.com/fixed/ASTRIDAdapter/common/STATUS_S-0100.xsd"
	 xmlns:ANSLIM_S-0101.xsd = "http://xmlns.kpn.com/fixed/ASTRIDAdapter/common/ANSLIM_S-0101.xsd"
	 xmlns:BATCH_I-0100.xsd = "http://xmlns.kpn.com/fixed/ASTRIDAdapter/common/BATCH_I-0100.xsd"
	 xmlns:ASTRIDResponse.xsd = "http://xmlns.kpn.com/fixed/ASTRIDAdapter/common/ASTRIDResponse.xsd"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified">
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/ASTRIDAdapter/common/HDR-SW-0101.xsd" schemaLocation = "../Common/HDR-SW-0101.xsd"/>
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/ASTRIDAdapter/common/STATUS_S-0100.xsd" schemaLocation = "../Common/STATUS_S-0100.xsd"/>
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/ASTRIDAdapter/common/ANSLIM_S-0101.xsd" schemaLocation = "../Common/ANSLIM_S-0101.xsd"/>
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/ASTRIDAdapter/common/BATCH_I-0100.xsd" schemaLocation = "../Common/BATCH_I-0100.xsd"/>
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/ASTRIDAdapter/common/ASTRIDResponse.xsd" schemaLocation = "../Common/ASTRIDResponse.xsd"/>
	<xsd:element name = "ScheduleNotepadRefresh">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base = "ASTRIDResponse.xsd:ASTRIDResponse">
					<xsd:sequence>
						<xsd:element name="ENGIN">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name = "HDR-SW-0101" type = "HDR-SW-0101.xsd:HDR-SW-0101" minOccurs = "0"/>
									<xsd:element name = "STATUS_S-0100" type = "STATUS_S-0100.xsd:STATUS_S-0100" minOccurs = "0"/>
									<xsd:element name = "ANSLIM_S-0101" type = "ANSLIM_S-0101.xsd:ANSLIM_S-0101" minOccurs = "0"/>
									<xsd:element name="Loop" minOccurs = "0" maxOccurs = "10">
										<xsd:complexType>
											<xsd:sequence>
												<xsd:element name = "BATCH_I-0100" type = "BATCH_I-0100.xsd:BATCH_I-0100" minOccurs = "0"/>
											</xsd:sequence>
										</xsd:complexType>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>