IKKAdapter/XSDSchemas/CKRAdapter/Common/InvocationException.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:complexType name="InvocationException">
		<xsd:sequence>
			<xsd:element name="msg" type="xsd:string"/>
			<xsd:element name="msgCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="methodName" type="xsd:string"/>
			<xsd:element name="exceptionClassName" type="xsd:string"/>
			<xsd:element name="exceptionMessage" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
