IKKAdapter/XSDSchemas/CKRAdapter/Common/Motive.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XML Spy v4.4 U (http://www.xmlspy.com) by Atos Origin (Atos Origin) -->
<xsd:schema targetNamespace="http://xmlns.kpn.com/fixed/ckradapter/common/Motive.xsd" xmlns="http://xmlns.kpn.com/fixed/ckradapter/common/Motive.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:complexType name="Motive">
		<xsd:sequence>
			<xsd:element name="MOTIVE_ID" type="xsd:string" minOccurs="0"/>
			<xsd:element name="MOTIVE_TYPE" type="xsd:string"  minOccurs="0"/>
			<xsd:element name="MUTATION_TYPE" type="xsd:string"  minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
