IKKAdapter/XSDSchemas/CKRAdapter/Common/PhoneNumber.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v5 rel. 4 U (http://www.xmlspy.com) by sustaining tester (testing guru) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:complexType name="PhoneNumber">
		<xs:sequence>
			<xs:element name="COUNTRY_CODE" type="xs:string" fixed="31"/>
			<xs:element name="AREA_CODE" type="xs:string" minOccurs="0"/>
			<xs:element name="SUBSCRIBER_NUMBER" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
