IKKAdapter/XSDSchemas/CKRAdapter/Common/SoapUri.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:complexType name="SoapUri">
		<xsd:sequence>
			<xsd:element name="hostname" type="xsd:string" minOccurs="0"/>
			<xsd:element name="port" type="xsd:string" minOccurs="0"/>
			<xsd:element name="resourcePath" type="xsd:string" minOccurs="0"/>
			<xsd:element name="filter" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
