IKKAdapter/XSDSchemas/CKRAdapter/Common/WsdlInspectionSoap.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xs:schema xmlns:xs = "http://www.w3.org/2001/XMLSchema" xmlns:wsilUddi = "http://schemas.xmlsoap.org/ws/2001/10/inspection/uddi/" xmlns:wsilWsdl = "http://schemas.xmlsoap.org/ws/2001/10/inspection/wsdl/"
	 elementFormDefault = "qualified"
	 attributeFormDefault = "unqualified">
	<xs:element name = "inspection">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref = "abstract"/>
				<xs:element name = "service" minOccurs = "0" maxOccurs = "unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref = "abstract"/>
							<xs:element name = "description">
								<xs:complexType>
									<xs:attribute name = "referencedNamespace" type = "xs:anyURI"/>
									<xs:attribute name = "location" type = "xs:anyURI"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute ref = "nsABCDEF"/>
			<xs:attribute ref = "wsilWsdl"/>
			<xs:attribute ref = "wsilUddi"/>
		</xs:complexType>
	</xs:element>
	<xs:element name = "abstract" type = "xs:string"/>
	<xs:attribute name = "nsABCDEF" type = "xs:anyURI"/>
	<xs:attribute name = "wsilWsdl" type = "xs:anyURI"/>
	<xs:attribute name = "wsilUddi" type = "xs:anyURI"/>
</xs:schema>