IKKAdapter/XSDSchemas/EnginAdapter/Request/GetTickets.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.example.com/unique/default/namespace/1086798344886"
	 targetNamespace = "http://xmlns.example.com/unique/default/namespace/1086798344886"
	 xmlns:Base.xsd = "http://xmlns.kpn.com/common/cdm/Base.xsd"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema">
	<xsd:import namespace = "http://xmlns.kpn.com/common/cdm/Base.xsd" schemaLocation = "../../Common/Base.xsd"/>
	<xsd:element name = "GetTickets">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base = "Base.xsd:Base">
					<xsd:sequence>
						<xsd:element name = "ACTIVE_TICKETS" type = "xsd:string" minOccurs = "0"/>
						<xsd:element name = "HISTORICAL_TICKETS" type = "xsd:string" minOccurs = "0"/>
						<xsd:element name = "STREET_NAME" type = "xsd:string" minOccurs = "0"/>
						<xsd:element name = "CITY_NAME" type = "xsd:string" minOccurs = "0"/>
						<xsd:element name = "FROM_DATE" type = "xsd:date" minOccurs = "0"/>
						<xsd:element name = "UNTIL_DATE" type = "xsd:date" minOccurs = "0"/>
						<xsd:element name = "CUSTOMER_REF_NO" type = "xsd:string" minOccurs = "0"/>
						<xsd:element name = "CENTRAL_CUSTOMER_ID" type = "xsd:string" minOccurs = "0"/>
					</xsd:sequence>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>