Clever/CLEverSource/CLEverCore - Oracle/Shared Resources/Schema Definitions/CLEver/ACL.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://www.tibco.com/CLEver/namespace/Custom"
	 targetNamespace = "http://www.tibco.com/CLEver/namespace/Custom"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified">
	<xsd:element name = "ACL">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name = "ApplicationID" type = "xsd:string"/>
				<xsd:element name = "RoleID" type = "xsd:string"/>
				<xsd:element ref = "Privilege" minOccurs = "0" maxOccurs = "unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "Privilege">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name = "Name" type = "xsd:string"/>
				<xsd:element name = "isAllowed" type = "xsd:boolean"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "ACLs">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "ACL" minOccurs = "0" maxOccurs = "unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "Privileges">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "Privilege" minOccurs = "0" maxOccurs = "unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>