Clever/CLEverSource/CLEverCore - Oracle/Shared Resources/Schema Definitions/CLEver/Exception.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.tibco.com/CLEver/Exception"
	 xmlns:ns0="http://www.tibco.com/CLEver/ExtraTypes"
	 targetNamespace="http://www.tibco.com/CLEver/Exception"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:import namespace="http://www.tibco.com/CLEver/ExtraTypes" schemaLocation="ExtraTypes.xsd"/>
	<xs:element name="Exception">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ID" type="xs:string" minOccurs="0"/>
				<xs:element ref="ns0:ProcessContext"/>
				<xs:element ref="ExceptionDetail"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Exceptions">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Exception" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ExceptionDetail">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ExceptionCategory" type="xs:string" minOccurs="0"/>
				<xs:element name="ExceptionSeverity" type="xs:string" minOccurs="0"/>
				<xs:element name="ExceptionType" type="xs:string" minOccurs="0"/>
				<xs:element name="ExceptionCode" type="xs:string" minOccurs="0"/>
				<xs:element name="Message" type="xs:string" minOccurs="0"/>
				<xs:element name="ReplyDestination" type="xs:string" minOccurs="0"/>
				<xs:element name="TransactionData" type="xs:string" minOccurs="0"/>
				<xs:element name="DumpAnalysis" type="xs:string" minOccurs="0"/>
				<xs:element name="Status" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>