Clever/CLEverSource/CLEverCore - Oracle/Shared Resources/Schema Definitions/CLEver/GUID Reply.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://www.tibco.com/CLEver/namespace/Custom/GUID_Relpy"
	 targetNamespace = "http://www.tibco.com/CLEver/namespace/Custom/GUID_Relpy"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified">
	<xsd:element name = "GUID_Reply">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "GUID_Array" minOccurs = "0" maxOccurs = "unbounded"/>
				<xsd:element name = "Message" type = "xsd:string" minOccurs = "0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "GUID_Array">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name = "GUID" type = "xsd:string"/>
				<xsd:element name = "Number" type = "xsd:integer" minOccurs = "0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>