Clever/CLEverSource/CLEverCore - Oracle/Shared Resources/Schema Definitions/CLEver/HistoryRetain.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns="http://www.tibco.com/CLEver/HistoryRetain"
	 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	 xmlns:ns0="http://www.tibco.com/CLEver/ExtraTypes"
	 targetNamespace="http://www.tibco.com/CLEver/HistoryRetain"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xsd:import namespace="http://www.tibco.com/CLEver/ExtraTypes" schemaLocation="ExtraTypes.xsd"/>
	<xsd:element name="HistoryRetain">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="ID" type="xsd:integer" minOccurs="0"/>
				<xsd:element name="Name" type="xsd:string" minOccurs="0"/>
				<xsd:element name="Description" type="xsd:string" minOccurs="0"/>
				<xsd:element name="BusinessDomainID" type="xsd:integer" minOccurs="0"/>
				<xsd:element name="TechnicalDomainID" type="xsd:integer" minOccurs="0"/>
				<xsd:element name="Component" type="xsd:string" minOccurs="0"/>
				<xsd:element name="Service" type="xsd:string" minOccurs="0"/>
				<xsd:element name="LogExpiry" type="xsd:integer"/>
				<xsd:element name="ExceptionExpiry" type="xsd:integer"/>
				<xsd:element name="StoreLogAttachements" type="xsd:boolean"/>
				<xsd:element ref="ns0:Version" minOccurs="0"/>
				<xsd:element ref="ns0:Parameters" minOccurs="0"/>
				<xsd:element ref="ns0:SecurityInfo" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="HistoryRetainFull">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="ID" type="xsd:integer" minOccurs="0"/>
				<xsd:element name="Name" type="xsd:string" minOccurs="0"/>
				<xsd:element name="Description" type="xsd:string" minOccurs="0"/>
				<xsd:element name="BusinessDomain" type="xsd:string" minOccurs="0"/>
				<xsd:element name="TechnicalDomain" type="xsd:string" minOccurs="0"/>
				<xsd:element name="Component" type="xsd:string" minOccurs="0"/>
				<xsd:element name="Service" type="xsd:string" minOccurs="0"/>
				<xsd:element name="LogExpiry" type="xsd:integer"/>
				<xsd:element name="ExceptionExpiry" type="xsd:integer"/>
				<xsd:element name="StoreLogAttachements" type="xsd:boolean"/>
				<xsd:element ref="ns0:Version" minOccurs="0"/>
				<xsd:element ref="ns0:Parameters" minOccurs="0"/>
				<xsd:element ref="ns0:SecurityInfo" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="HistoryRetains">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="HistoryRetain" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="HistoryRetainsFull">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="HistoryRetainFull" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>