Clever/CLEverSource/CLEverCore - Oracle/Shared Resources/Schema Definitions/CLEver/Resolution.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns="http://www.tibco.com/CLEver/Resolution"
	 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	 xmlns:ns0="http://www.tibco.com/CLEver/ExtraTypes"
	 xmlns:ns1="http://www.tibco.com/CLEver/Channel"
	 targetNamespace="http://www.tibco.com/CLEver/Resolution"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xsd:import namespace="http://www.tibco.com/CLEver/ExtraTypes" schemaLocation="ExtraTypes.xsd"/>
	<xsd:import namespace="http://www.tibco.com/CLEver/Channel" schemaLocation="Channel.xsd"/>
	<xsd:element name="Resolution">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="ID" type="xsd:integer" minOccurs="0"/>
				<xsd:element name="Name" type="xsd:string" minOccurs="0"/>
				<xsd:element name="Description" type="xsd:string" minOccurs="0"/>
				<xsd:element name="ChannelID" type="xsd:string" minOccurs="0"/>
				<xsd:element ref="Parameter" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="ns0:Version" minOccurs="0"/>
				<xsd:element ref="ns0:SecurityInfo" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Resolutions">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Resolution" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ResolutionParameters">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Parameter" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="Channel"/>
				<xsd:element ref="ID"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Parameter">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Name" type="xsd:string"/>
				<xsd:element name="Value" type="xsd:string" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Channel" type="xsd:string"/>
	<xsd:element name="ID" type="xsd:string"/>
	<xsd:element name="ResolutionFull">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Name" type="xsd:string" minOccurs="0"/>
				<xsd:element name="Description" type="xsd:string" minOccurs="0"/>
				<xsd:element ref="ns1:Channel"/>
				<xsd:element ref="Parameter" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="ns0:Version" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>