Clever/CLEverSource/CLEverCore - Oracle/Shared Resources/Schema Definitions/CLEver/Roles.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://www.tibco.com/CLEver/namespace/Custom"
	 targetNamespace = "http://www.tibco.com/CLEver/namespace/Custom"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified">
	<xsd:element name = "Roles">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "Role" minOccurs = "0" maxOccurs = "unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "Role">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name = "ID" type = "xsd:string" minOccurs = "0"/>
				<xsd:element name = "Name" type = "xsd:string"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>