Clever/CLEverSource/CLEverCore - Oracle/Shared Resources/Schema Definitions/CLEver/Rule.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns="http://www.tibco.com/CLEver/Rule"
	 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	 xmlns:ns0="http://www.tibco.com/CLEver/ExtraTypes"
	 xmlns:ns1="http://www.tibco.com/CLEver/BusinessDomain"
	 xmlns:ns2="http://www.tibco.com/CLEver/Channel"
	 xmlns:ns3="http://www.tibco.com/CLEver/ExceptionCategory"
	 xmlns:ns4="http://www.tibco.com/CLEver/ExceptionSeverity"
	 xmlns:ns5="http://www.tibco.com/CLEver/ExceptionType"
	 xmlns:ns6="http://www.tibco.com/CLEver/Notification"
	 xmlns:ns7="http://www.tibco.com/CLEver/Policy"
	 xmlns:ns8="http://www.tibco.com/CLEver/Resolution"
	 xmlns:ns9="http://www.tibco.com/CLEver/Schedule"
	 xmlns:ns10="http://www.tibco.com/CLEver/TechnicalDomain"
	 xmlns:ns11="http://www.tibco.com/CLEver/ExceptionCode"
	 targetNamespace="http://www.tibco.com/CLEver/Rule"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xsd:import namespace="http://www.tibco.com/CLEver/ExtraTypes" schemaLocation="ExtraTypes.xsd"/>
	<xsd:import namespace="http://www.tibco.com/CLEver/BusinessDomain" schemaLocation="BusinessDomain.xsd"/>
	<xsd:import namespace="http://www.tibco.com/CLEver/Channel" schemaLocation="Channel.xsd"/>
	<xsd:import namespace="http://www.tibco.com/CLEver/ExceptionCategory" schemaLocation="ExceptionCategory.xsd"/>
	<xsd:import namespace="http://www.tibco.com/CLEver/ExceptionSeverity" schemaLocation="ExceptionSeverity.xsd"/>
	<xsd:import namespace="http://www.tibco.com/CLEver/ExceptionType" schemaLocation="ExceptionType.xsd"/>
	<xsd:import namespace="http://www.tibco.com/CLEver/Notification" schemaLocation="Notification.xsd"/>
	<xsd:import namespace="http://www.tibco.com/CLEver/Policy" schemaLocation="Policy.xsd"/>
	<xsd:import namespace="http://www.tibco.com/CLEver/Resolution" schemaLocation="Resolution.xsd"/>
	<xsd:import namespace="http://www.tibco.com/CLEver/Schedule" schemaLocation="Schedule.xsd"/>
	<xsd:import namespace="http://www.tibco.com/CLEver/TechnicalDomain" schemaLocation="TechnicalDomain.xsd"/>
	<xsd:import namespace="http://www.tibco.com/CLEver/ExceptionCode" schemaLocation="ExceptionCode.xsd"/>
	<xsd:element name="Rule">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="ID" type="xsd:integer" minOccurs="0"/>
				<xsd:element name="Name" type="xsd:string" minOccurs="0"/>
				<xsd:element name="Description" type="xsd:string" minOccurs="0"/>
				<xsd:element name="BusinessDomainID" type="xsd:integer" minOccurs="0"/>
				<xsd:element name="TechnicalDomainID" type="xsd:integer" minOccurs="0"/>
				<xsd:element name="CategoryID" type="xsd:integer" minOccurs="0"/>
				<xsd:element name="TypeID" type="xsd:integer" minOccurs="0"/>
				<xsd:element name="SeverityID" type="xsd:integer" minOccurs="0"/>
				<xsd:element name="CodeID" type="xsd:integer"/>
				<xsd:element name="Hostname" type="xsd:string" minOccurs="0"/>
				<xsd:element name="Component" type="xsd:string" minOccurs="0"/>
				<xsd:element name="Service" type="xsd:string" minOccurs="0"/>
				<xsd:element name="Process" type="xsd:string" minOccurs="0"/>
				<xsd:element name="PolicyID" type="xsd:integer" minOccurs="0"/>
				<xsd:element name="ExecutionPriority" type="xsd:integer" minOccurs="0"/>
				<xsd:element ref="ns0:Version" minOccurs="0"/>
				<xsd:element ref="ns0:Parameters" minOccurs="0"/>
				<xsd:element ref="ns0:SecurityInfo" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Rules">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Rule" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="RulesFull">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="RuleFull" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="RuleFull">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="ID" type="xsd:int"/>
				<xsd:element name="Name" type="xsd:string"/>
				<xsd:element name="Description" type="xsd:string" minOccurs="0"/>
				<xsd:element ref="ns1:BusinessDomain"/>
				<xsd:element ref="ns10:TechnicalDomain"/>
				<xsd:element ref="ns3:ExceptionCategory"/>
				<xsd:element ref="ns5:ExceptionType"/>
				<xsd:element ref="ns11:ExceptionCode"/>
				<xsd:element ref="ns4:ExceptionSeverity"/>
				<xsd:element name="Hostname" type="xsd:string" minOccurs="0"/>
				<xsd:element name="Component" type="xsd:string" minOccurs="0"/>
				<xsd:element name="Service" type="xsd:string" minOccurs="0"/>
				<xsd:element name="Process" type="xsd:string" minOccurs="0"/>
				<xsd:element ref="ns7:PolicyFull"/>
				<xsd:element name="ExecutionPriority" type="xsd:integer" minOccurs="0"/>
				<xsd:element ref="ns0:Parameters" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>