Clever/CLEverSource/CLEverCore - Oracle/Shared Resources/Schema Definitions/CLEver/Version.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns="http://www.tibco.com/CLEver/Version"
	 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	 xmlns:ns0="http://www.tibco.com/CLEver/ExtraTypes"
	 targetNamespace="http://www.tibco.com/CLEver/Version"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xsd:import namespace="http://www.tibco.com/CLEver/ExtraTypes" schemaLocation="ExtraTypes.xsd"/>
	<xsd:element name="Version">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="ID" type="xsd:string" minOccurs="0"/>
				<xsd:element name="Major" type="xsd:integer" minOccurs="0"/>
				<xsd:element name="Minor" type="xsd:int" minOccurs="0"/>
				<xsd:element name="Status" type="xsd:int" minOccurs="0"/>
				<xsd:element name="Created" type="xsd:date" minOccurs="0"/>
				<xsd:element name="CreatedBy" type="xsd:string" minOccurs="0"/>
				<xsd:element name="Published" type="xsd:date" minOccurs="0"/>
				<xsd:element name="PublishedBy" type="xsd:string" minOccurs="0"/>
				<xsd:element name="Retired" type="xsd:date" minOccurs="0"/>
				<xsd:element name="RetiredBy" type="xsd:string" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Versions">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Version" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Export">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="ConfigurationType" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="Name" type="xsd:string"/>
							<xsd:element name="ConfigurationObject" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:any namespace="##any" processContents="strict"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>