GenericOrderGateway/XSDSchemas/OrderServices/Response/GetOrderDetails.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.kpn.com/fixed/OrderServices/response/GetOrderDetails.xsd"
	 targetNamespace = "http://xmlns.kpn.com/fixed/OrderServices/response/GetOrderDetails.xsd"
	 xmlns:Base.xsd = "http://xmlns.kpn.com/common/cdm/Base.xsd"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 xmlns:ResultStatus.xsd = "http://xmlns.kpn.com/common/cdm/ResultStatus.xsd"
	 elementFormDefault = "qualified"
	 attributeFormDefault = "qualified">
	<xsd:import namespace = "http://xmlns.kpn.com/common/cdm/Base.xsd" schemaLocation = "../../Common/Base.xsd"/>
	<xsd:import namespace = "http://xmlns.kpn.com/common/cdm/ResultStatus.xsd" schemaLocation = "../../Common/ResultStatus.xsd"/>
	<xsd:element name = "GetOrderDetails">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base = "Base.xsd:Base">
					<xsd:sequence>
						<xsd:element name = "RESULT_STATUS" type = "ResultStatus.xsd:ResultStatus"/>
						<xsd:element name = "ORDER" minOccurs = "0" maxOccurs = "unbounded">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name = "CREATION_DATE" type = "xsd:date" minOccurs = "0"/>
									<xsd:element name = "REQUESTED_COMPLETION_DATE" type = "xsd:date" minOccurs = "0"/>
									<xsd:element name = "PLANNED_COMPLETION_DATE" type = "xsd:date" minOccurs = "0"/>
									<xsd:element name = "SCHEDULED_DELIVERY_DATE" type = "xsd:date" minOccurs = "0"/>
									<xsd:element name = "COMPLETION_DATE" type = "xsd:date" minOccurs = "0"/>
									<xsd:element name = "PORTFOLIO_DOMAIN" type = "xsd:string" minOccurs = "0"/>
									<xsd:element name = "ACCEPTATION_DATE" type = "xsd:date" minOccurs = "0"/>
									<xsd:element name = "TECHNICAL_END_DATE" type = "xsd:date" minOccurs = "0"/>
									<xsd:element name = "ORDER_TYPE" minOccurs = "0">
										<xsd:complexType>
											<xsd:sequence>
												<xsd:element name = "ORDER_TYPE" type = "xsd:string"/>
												<xsd:element name = "ORDER_SUB_TYPE" type = "xsd:string"/>
												<xsd:element name = "ORDER_SUB_TYPE2" type = "xsd:string" minOccurs = "0"/>
											</xsd:sequence>
										</xsd:complexType>
									</xsd:element>
									<xsd:element name = "ORDER_STATE">
										<xsd:complexType>
											<xsd:sequence>
												<xsd:element name = "ORDER_STATE" type = "xsd:string"/>
												<xsd:element name = "ORDER_SUB_STATE" type = "xsd:string"/>
											</xsd:sequence>
										</xsd:complexType>
									</xsd:element>
									<xsd:element name = "PRODUCT">
										<xsd:complexType>
											<xsd:sequence>
												<xsd:element name = "PRODUCT_CATEGORY" type = "xsd:string"/>
											</xsd:sequence>
										</xsd:complexType>
									</xsd:element>
									<xsd:element name = "ORDER_ID">
										<xsd:complexType>
											<xsd:sequence>
												<xsd:element name = "ORDER_ID_SCOPE" type = "xsd:string"/>
												<xsd:element name = "ORDER_ID" type = "xsd:string"/>
											</xsd:sequence>
										</xsd:complexType>
									</xsd:element>
									<xsd:element name = "SUB_ORDER_ID" minOccurs = "0">
										<xsd:complexType>
											<xsd:sequence>
												<xsd:element name = "ORDER_ID_SCOPE" type = "xsd:string"/>
												<xsd:element name = "ORDER_ID" type = "xsd:string"/>
											</xsd:sequence>
										</xsd:complexType>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>