EDTAdapter/XSDSchemas/VierTELAdapter/Common/ExpertData.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.example.com/unique/default/namespace/1087977746374"
	 targetNamespace = "http://xmlns.example.com/unique/default/namespace/1087977746374"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified">
	<xsd:complexType name = "ExpertData">
		<xsd:sequence>
			<xsd:element name = "INDEX" type = "xsd:integer" minOccurs = "0"/>
			<xsd:element name = "LTS_DISPATCH" type = "xsd:integer" minOccurs = "0"/>
			<xsd:element name = "LINE_DISPATCH" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "PFI_DISPATCH" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "CONFIDENCE" type = "xsd:double" minOccurs = "0"/>
			<xsd:element name = "ACTION" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "WORST_FAULT_TYPE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "FAULT_LOCATION" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "FAULT_LOCATION_REFERENCE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "FAULT_LOCATION_FEET" type = "xsd:double" minOccurs = "0"/>
			<xsd:element name = "FAULT_LOCATION_METERS" type = "xsd:double" minOccurs = "0"/>
			<xsd:element name = "CURRENT_LENGTH_AVAILABLE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "CURRENT_LENGTH_FEET" type = "xsd:double" minOccurs = "0"/>
			<xsd:element name = "CURRENT_LENGTH_METERS" type = "xsd:double" minOccurs = "0"/>
			<xsd:element name = "REFERENCE_LENGTH_AVAILABLE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "REFERENCE_LENGTH_FEET" type = "xsd:double" minOccurs = "0"/>
			<xsd:element name = "REFERENCE_LENGTH_METERS" type = "xsd:double" minOccurs = "0"/>
			<xsd:element name = "NETWORK_TERMINATION" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "NETWORK_DETECTION" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "PREMISES_DETECTION" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "PREMISES_ACCESS" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "LINE_REFERENCE" type = "xsd:string" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>