EDTAdapter/XSDSchemas/VierTELAdapter/Common/InsulationFault.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.example.com/unique/default/namespace/1087976981805"
	 targetNamespace = "http://xmlns.example.com/unique/default/namespace/1087976981805"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified">
	<xsd:complexType name = "InsulationFault">
		<xsd:sequence>
			<xsd:element name = "FAULT_TYPE" type = "xsd:string"/>
			<xsd:element name = "MAGNITUDE" type = "xsd:integer"/>
			<xsd:element name = "MAGNITUDE_UNITS" type = "xsd:string"/>
			<xsd:element name = "IS_SIGNATURE" type = "xsd:boolean"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>