EDTAdapter/XSDSchemas/VierTELAdapter/Common/LineMeasurementReport.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.example.com/unique/default/namespace/1087976529514"
	 targetNamespace = "http://xmlns.example.com/unique/default/namespace/1087976529514"
	 xmlns:ExpertData.xsd = "http://xmlns.example.com/unique/default/namespace/1087977746374"
	 xmlns:InsulationFault.xsd = "http://xmlns.example.com/unique/default/namespace/1087976981805"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified">
	<xsd:import namespace = "http://xmlns.example.com/unique/default/namespace/1087977746374" schemaLocation = "ExpertData.xsd"/>
	<xsd:import namespace = "http://xmlns.example.com/unique/default/namespace/1087976981805" schemaLocation = "InsulationFault.xsd"/>
	<xsd:complexType name = "LineMeasurementReport">
		<xsd:sequence>
			<xsd:element name = "PHONE_NUMBER" type = "xsd:string"/>
			<xsd:element name = "MEASUREMENT_TYPE" type = "xsd:string"/>
			<xsd:element name = "TIME" type = "xsd:dateTime" minOccurs = "0"/>
			<xsd:element name = "DISPATCH" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "EXPERT_DATA" type = "ExpertData.xsd:ExpertData" minOccurs = "0"/>
			<xsd:element name = "INSULATION_FAULT" type = "InsulationFault.xsd:InsulationFault" minOccurs = "0" maxOccurs = "5"/>
			<xsd:element name = "POWER_INFLUENCE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "HAZARDOUS_VOLTS" type = "xsd:boolean" minOccurs = "0"/>
			<xsd:element name = "BACKGROUND" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "TERMINATION" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "CABLE_TYPE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "CABLE_LENGTH" type = "xsd:integer" minOccurs = "0"/>
			<xsd:element name = "CABLE_IMBALANCE" type = "xsd:integer" minOccurs = "0"/>
			<xsd:element name = "BATTERY" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "LINE_CONDITION" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "SIGNATURE_CODE" type = "xsd:integer" minOccurs = "0"/>
			<xsd:element name = "LINE_TYPE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "ISDN_DIGITAL_RESULT" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "SWITCH_NAME" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "MEASUREMENT_VOLTAGE" type = "xsd:integer" minOccurs = "0"/>
			<xsd:element name = "DC_VOLTAGE_A_LEG" type = "xsd:integer" minOccurs = "0"/>
			<xsd:element name = "DC_VOLTAGE_B_LEG" type = "xsd:integer" minOccurs = "0"/>
			<xsd:element name = "DC_VOLTAGE_AB" type = "xsd:integer" minOccurs = "0"/>
			<xsd:element name = "DC_VOLTAGE_BA" type = "xsd:integer" minOccurs = "0"/>
			<xsd:element name = "AC_VOLTAGE_A_LEG" type = "xsd:integer" minOccurs = "0"/>
			<xsd:element name = "AC_VOLTAGE_B_LEG" type = "xsd:integer" minOccurs = "0"/>
			<xsd:element name = "AC_VOLTAGE_AB" type = "xsd:integer" minOccurs = "0"/>
			<xsd:element name = "AC_VOLTAGE_BA" type = "xsd:integer" minOccurs = "0"/>
			<xsd:element name = "BACKGROUND_CURRENT_A_LEG" type = "xsd:integer" minOccurs = "0"/>
			<xsd:element name = "BACKGROUND_CURRENT_B_LEG" type = "xsd:integer" minOccurs = "0"/>
			<xsd:element name = "CAPACITANCE_A_LEG" type = "xsd:integer" minOccurs = "0"/>
			<xsd:element name = "CAPACITANCE_B_LEG" type = "xsd:integer" minOccurs = "0"/>
			<xsd:element name = "CAPACITANCE_AB" type = "xsd:integer" minOccurs = "0"/>
			<xsd:element name = "CAPACITANCE_BA" type = "xsd:integer" minOccurs = "0"/>
			<xsd:element name = "CAPACITANCE_CABLE" type = "xsd:integer" minOccurs = "0"/>
			<xsd:element name = "CAPACITANCE_MUTUAL" type = "xsd:integer" minOccurs = "0"/>
			<xsd:element name = "SUSCEPTANCE_A_LEG" type = "xsd:integer" minOccurs = "0"/>
			<xsd:element name = "SUSCEPTANCE_B_LEG" type = "xsd:integer" minOccurs = "0"/>
			<xsd:element name = "SUSCEPTANCE_A_LEG_MUTUAL" type = "xsd:integer" minOccurs = "0"/>
			<xsd:element name = "SUSCEPTANCE_B_LEG_MUTUAL" type = "xsd:integer" minOccurs = "0"/>
			<xsd:element name = "SUSCEPTANCE_AB" type = "xsd:integer" minOccurs = "0"/>
			<xsd:element name = "SUSCEPTANCE_BA" type = "xsd:integer"/>
			<xsd:element name = "CONDUCTANCE_A_LEG" type = "xsd:integer" minOccurs = "0"/>
			<xsd:element name = "CONDUCTANCE_B_LEG" type = "xsd:integer" minOccurs = "0"/>
			<xsd:element name = "CONDUCTANCE_A_LEG_MUTUAL" type = "xsd:integer" minOccurs = "0"/>
			<xsd:element name = "CONDUCTANCE_B_LEG_MUTUAL" type = "xsd:integer" minOccurs = "0"/>
			<xsd:element name = "CONDUCTANCE_AB" type = "xsd:integer" minOccurs = "0"/>
			<xsd:element name = "CONDUCTANCE_BA" type = "xsd:integer"/>
			<xsd:element name = "RESISTANCE_A_LEG" type = "xsd:integer" minOccurs = "0"/>
			<xsd:element name = "RESISTANCE_A_LEG_UNITS" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "RESISTANCE_B_LEG" type = "xsd:integer" minOccurs = "0"/>
			<xsd:element name = "RESISTANCE_B_LEG_UNITS" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "RESISTANCE_AB" type = "xsd:integer" minOccurs = "0"/>
			<xsd:element name = "RESISTANCE_AB_UNITS" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "RESISTANCE_BA" type = "xsd:integer" minOccurs = "0"/>
			<xsd:element name = "RESISTANCE_BA_UNITS" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "RESISTANCE_A_LEG_BATTERY" type = "xsd:integer" minOccurs = "0"/>
			<xsd:element name = "RESISTANCE_A_LEG_BATTERY_UNITS" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "RESISTANCE_B_LEG_BATTERY" type = "xsd:integer" minOccurs = "0"/>
			<xsd:element name = "RESISTANCE_B_LEG_BATTERY_UNITS" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "DC_CURRENT_A_LEG" type = "xsd:integer" minOccurs = "0"/>
			<xsd:element name = "DC_CURRENT_B_LEG" type = "xsd:integer" minOccurs = "0"/>
			<xsd:element name = "DC_CURRENT_AB" type = "xsd:integer" minOccurs = "0"/>
			<xsd:element name = "DC_CURRENT_BA" type = "xsd:integer" minOccurs = "0"/>
			<xsd:element name = "DC_CURRENT_A_LEG_BATTERY" type = "xsd:integer" minOccurs = "0"/>
			<xsd:element name = "DC_CURRENT_B_LEG_BATTERY" type = "xsd:integer" minOccurs = "0"/>
			<xsd:element name = "PREBCO_VOLTAGE_A_LEG" type = "xsd:integer" minOccurs = "0"/>
			<xsd:element name = "PREBCO_VOLTAGE_B_LEG" type = "xsd:integer" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>