ASTRIDAdapter/XSDSchemas/KanvasContractAdapter/Request/GetDlcPortReference.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.example.com/unique/default/namespace/1111413082078"
	 targetNamespace = "http://xmlns.example.com/unique/default/namespace/1111413082078"
	 xmlns:Location.xsd = "http://xmlns.example.com/unique/default/namespace/1111410238843"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 xmlns:KanvasRequest.xsd = "http://xmlns.kpn.com/fixed/kanvascontractadapter/common/KanvasRequest.xsd"
	 xmlns:ExternalReference.xsd = "http://xmlns.example.com/unique/default/namespace/1111414581812"
	 elementFormDefault = "qualified">
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/kanvascontractadapter/common/KanvasRequest.xsd" schemaLocation = "../Common/KanvasRequest.xsd"/>
	<xsd:import namespace = "http://xmlns.example.com/unique/default/namespace/1111410238843" schemaLocation = "../Common/Location.xsd"/>
	<xsd:import namespace = "http://xmlns.example.com/unique/default/namespace/1111414581812" schemaLocation = "../Common/ExternalReference.xsd"/>
	<xsd:element name = "GetDlcPortReference">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base = "KanvasRequest.xsd:KanvasRequest">
					<xsd:sequence>
						<xsd:element name = "LOCATION" type = "Location.xsd:Location" minOccurs = "0"/>
						<xsd:element name = "EXTERNAL_REFERENCE" type = "ExternalReference.xsd:ExternalReference" minOccurs = "0"/>
					</xsd:sequence>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>