ASTRIDAdapter/XSDSchemas/KanvasContractAdapter/Request/GetFreeDikader.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.example.com/unique/default/namespace/1113208057015"
	 targetNamespace = "http://xmlns.example.com/unique/default/namespace/1113208057015"
	 xmlns:Location.xsd = "http://xmlns.example.com/unique/default/namespace/1111410238843"
	 xmlns:PhoneNumber.xsd = "http://xmlns.kpn.com/fixed/common/PhoneNumber.xsd"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 xmlns:KanvasRequest.xsd = "http://xmlns.kpn.com/fixed/kanvascontractadapter/common/KanvasRequest.xsd"
	 xmlns:PropertyAddress.xsd = "http://xmlns.kpn.com/fixed/common/PropertyAddress.xsd"
	 elementFormDefault = "qualified">
	<xsd:import namespace = "http://xmlns.example.com/unique/default/namespace/1111410238843" schemaLocation = "../Common/Location.xsd"/>
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/common/PhoneNumber.xsd" schemaLocation = "../../Common/PhoneNumber.xsd"/>
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/kanvascontractadapter/common/KanvasRequest.xsd" schemaLocation = "../Common/KanvasRequest.xsd"/>
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/common/PropertyAddress.xsd" schemaLocation = "../Common/PropertyAddress.xsd"/>
	<xsd:element name = "GetFreeDikader">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base = "KanvasRequest.xsd:KanvasRequest">
					<xsd:sequence>
						<xsd:element name = "INVOERKABEL_SEQUENCE_NUMBER" type = "xsd:string" minOccurs = "0"/>
						<xsd:element name = "DIKADER_NUMBER" type = "xsd:string" minOccurs = "0"/>
						<xsd:element name = "PROPERTY_ADDRESS" type = "PropertyAddress.xsd:PropertyAddress" minOccurs = "0"/>
						<xsd:element name = "LOCATION" type = "Location.xsd:Location" minOccurs = "0"/>
						<xsd:element name = "PHONE_NUMBER" type = "PhoneNumber.xsd:PhoneNumber" minOccurs = "0"/>
					</xsd:sequence>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>