ASTRIDAdapter/XSDSchemas/KanvasContractAdapter/Request/GetPhoneNumbersConnection.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.example.com/unique/default/namespace/1125415906781"
	 targetNamespace = "http://xmlns.example.com/unique/default/namespace/1125415906781"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 xmlns:KanvasRequest.xsd = "http://xmlns.kpn.com/fixed/kanvascontractadapter/common/KanvasRequest.xsd"
	 elementFormDefault = "qualified">
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/kanvascontractadapter/common/KanvasRequest.xsd" schemaLocation = "../Common/KanvasRequest.xsd"/>
	<xsd:element name = "GetPhoneNumbersConnection">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base = "KanvasRequest.xsd:KanvasRequest">
					<xsd:sequence>
						<xsd:element name = "CURRENT_OR_FUTURE_FLAG" type = "xsd:string" minOccurs = "0"/>
						<xsd:element name = "SUBSCRIBER_NUMBER_OFFSET" type = "xsd:string" minOccurs = "0"/>
						<xsd:element name = "PHONE_NUMBER" type = "PhoneNumber" minOccurs = "0"/>
					</xsd:sequence>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name = "PhoneNumber">
		<xsd:sequence>
			<xsd:element name = "AREA_CODE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "SUBSCRIBER_NUMBER" type = "xsd:string" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>