ASTRIDAdapter/XSDSchemas/KanvasContractAdapter/Request/GetVirtualVoiceConnection.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.example.com/unique/default/namespace/1115622706015"
	 targetNamespace = "http://xmlns.example.com/unique/default/namespace/1115622706015"
	 xmlns:PhoneNumber.xsd = "http://xmlns.kpn.com/fixed/common/PhoneNumber.xsd"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 xmlns:Node.xsd = "http://xmlns.example.com/unique/default/namespace/1111409998750"
	 xmlns:Service.xsd = "http://xmlns.example.com/unique/default/namespace/1115622617765"
	 xmlns:KanvasRequest.xsd = "http://xmlns.kpn.com/fixed/kanvascontractadapter/common/KanvasRequest.xsd"
	 elementFormDefault = "qualified">
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/common/PhoneNumber.xsd" schemaLocation = "../../Common/PhoneNumber.xsd"/>
	<xsd:import namespace = "http://xmlns.example.com/unique/default/namespace/1111409998750" schemaLocation = "../Common/Node.xsd"/>
	<xsd:import namespace = "http://xmlns.example.com/unique/default/namespace/1115622617765" schemaLocation = "../Common/Service.xsd"/>
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/kanvascontractadapter/common/KanvasRequest.xsd" schemaLocation = "../Common/KanvasRequest.xsd"/>
	<xsd:element name = "GetVirtualVoiceConnection">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base = "KanvasRequest.xsd:KanvasRequest">
					<xsd:sequence>
						<xsd:element name = "CURRENT_OR_FUTURE_FLAG" type = "xsd:string" minOccurs = "0"/>
						<xsd:element name = "PHONE_NUMBER" type = "PhoneNumber.xsd:PhoneNumber" minOccurs = "0"/>
						<xsd:element name = "NODE" type = "Node.xsd:Node" minOccurs = "0" maxOccurs = "unbounded" />
						<xsd:element name = "SERVICE" type = "Service.xsd:Service" minOccurs = "0" maxOccurs = "2"/>
					</xsd:sequence>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>