ASTRIDAdapter/XSDSchemas/KanvasContractAdapter/Request/RequestLocalLoopReport.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.example.com/unique/default/namespace/1115622250968"
	 targetNamespace = "http://xmlns.example.com/unique/default/namespace/1115622250968"
	 xmlns:Cable.xsd = "http://xmlns.example.com/unique/default/namespace/1115621826265"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 xmlns:Area.xsd = "http://xmlns.example.com/unique/default/namespace/1115622015640"
	 xmlns:KanvasRequest.xsd = "http://xmlns.kpn.com/fixed/kanvascontractadapter/common/KanvasRequest.xsd"
	 elementFormDefault = "qualified">
	<xsd:import namespace = "http://xmlns.example.com/unique/default/namespace/1115621826265" schemaLocation = "../Common/Cable.xsd"/>
	<xsd:import namespace = "http://xmlns.example.com/unique/default/namespace/1115622015640" schemaLocation = "../Common/Area.xsd"/>
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/kanvascontractadapter/common/KanvasRequest.xsd" schemaLocation = "../Common/KanvasRequest.xsd"/>
	<xsd:element name = "RequestLocalLoopReport">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base = "KanvasRequest.xsd:KanvasRequest">
					<xsd:sequence>
						<xsd:element name = "REQUEST_ID" type = "xsd:string" minOccurs = "0"/>
						<xsd:element name = "AREA" type = "Area.xsd:Area" minOccurs = "0"/>
						<xsd:element name = "CABLE" type = "Cable.xsd:Cable" minOccurs = "0"/>
					</xsd:sequence>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>