Clever/CLEverSource/CLEverCore - Oracle/Processes/FrontendServices/Configuration/ExceptionCode/ExceptionCode.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://www.tibco.com/CLEver/Configuration/ExceptionCode" xmlns:ns2="http://www.tibco.com/CLEver/FrontendServices/Configuration/ExceptionCode/ExceptionCodeInterfaceSpecs" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns3="http://www.tibco.com/CLEver/InternalException" targetNamespace="http://www.tibco.com/CLEver/Configuration/ExceptionCode">
    <import namespace="http://www.tibco.com/CLEver/FrontendServices/Configuration/ExceptionCode/ExceptionCodeInterfaceSpecs" location="ExceptionCodeInterfaceSpecs.xsd"/>
    <import namespace="http://www.tibco.com/CLEver/InternalException" location="../../../../Shared Resources/Schema Definitions/CLEver/Error.xsd"/>
    <message name="Create_ExceptionCode_Input">
        <part element="ns2:Create_ExceptionCode_Input" name="part1"/>
    </message>
    <message name="Create_ExceptionCode_Output">
        <part element="ns2:Create_ExceptionCode_Output" name="part1"/>
    </message>
    <message name="Update_ExceptionCode_Input">
        <part element="ns2:Update_ExceptionCode_Input" name="part1"/>
    </message>
    <message name="Update_ExceptionCode_Output">
        <part element="ns2:Update_ExceptionCode_Output" name="part1"/>
    </message>
    <message name="Delete_ExceptionCode_Input">
        <part element="ns2:Delete_ExceptionCode_Input" name="part1"/>
    </message>
    <message name="Delete_ExceptionCode_Output">
        <part element="ns2:Delete_ExceptionCode_Output" name="part1"/>
    </message>
    <message name="Retrieve_ExceptionCode_Input">
        <part element="ns2:Retrieve_ExceptionCode_Input" name="part1"/>
    </message>
    <message name="Retrieve_ExceptionCode_Output">
        <part element="ns2:Retrieve_ExceptionCode_Output" name="part1"/>
    </message>
    <message name="Retrieve_ExceptionCodeParameters_Input">
        <part element="ns2:Retrieve_ExceptionCodeParameters_Input" name="part1"/>
    </message>
    <message name="Retrieve_ExceptionCodeParameters_Output">
        <part element="ns2:Retrieve_ExceptionCodeParameters_Output" name="part1"/>
    </message>
    <message name="Exception">
        <part name="part1" element="ns3:ExceptionEnvelope"/>
    </message>
    <portType name="ExceptionCode">
        <operation name="Create">
            <input message="ns:Create_ExceptionCode_Input"/>
            <output message="ns:Create_ExceptionCode_Output"/>
            <fault name="fault1" message="ns:Exception"/>
        </operation>
        <operation name="Update">
            <input message="ns:Update_ExceptionCode_Input"/>
            <output message="ns:Update_ExceptionCode_Output"/>
            <fault name="fault1" message="ns:Exception"/>
        </operation>
        <operation name="Delete">
            <input message="ns:Delete_ExceptionCode_Input"/>
            <output message="ns:Delete_ExceptionCode_Output"/>
            <fault name="fault1" message="ns:Exception"/>
        </operation>
        <operation name="Retrieve">
            <input message="ns:Retrieve_ExceptionCode_Input"/>
            <output message="ns:Retrieve_ExceptionCode_Output"/>
            <fault name="fault1" message="ns:Exception"/>
        </operation>
        <operation name="RetrieveParameters">
            <input message="ns:Retrieve_ExceptionCodeParameters_Input"/>
            <output message="ns:Retrieve_ExceptionCodeParameters_Output"/>
            <fault name="fault1" message="ns:Exception"/>
        </operation>
    </portType>
</definitions>