EDTAdapter/XSDSchemas/BaanAdapter/Response/ReportDSLFunctionalOrder.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 2 U (http://www.xmlspy.com) by a (University of Helsinki) -->
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema targetNamespace="http://xmlns.kpn.com/fixed/BaanAdapter/response/ReportDSLFunctionalOrder.xsd" xmlns="http://xmlns.kpn.com/fixed/BaanAdapter/response/ReportDSLFunctionalOrder.xsd" xmlns:Base.xsd="http://xmlns.kpn.com/common/cdm/Base.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ResultStatus.xsd="http://xmlns.kpn.com/common/cdm/ResultStatus.xsd" elementFormDefault="qualified">
	<xsd:import namespace="http://xmlns.kpn.com/common/cdm/Base.xsd" schemaLocation="../../Common/Base.xsd"/>
	<xsd:import namespace="http://xmlns.kpn.com/common/cdm/ResultStatus.xsd" schemaLocation="../../Common/ResultStatus.xsd"/>
	<!--Initial Version 1.0 on basis of Mapping Sheet v2.0 ACW , includes dienstnummer Connection_service_id-->
	<xsd:element name="ReportDSLFunctionalOrder">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="Base.xsd:Base">
					<xsd:sequence>
						<xsd:element name="RESULT_STATUS" type="ResultStatus.xsd:ResultStatus"/>
						<xsd:element name="DSLCUSTOMERORDER" type="DSLCUSTOMERORDERType" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="DSLCUSTOMERORDERType">
		<xsd:sequence>
			<xsd:element name="UPDATE_STATUS" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CUSTOMER_ORDER_REF" type="xsd:string" minOccurs="0"/>
			<xsd:element name="RECEIVE_DATE_TIME" type="xsd:date" minOccurs="0"/>
			<xsd:element name="ACCEPT_DATE_TIME" type="xsd:date" minOccurs="0"/>
			<xsd:element name="PLANNED_DELIVERY_DATE" type="xsd:date" minOccurs="0"/>
			<xsd:element name="DELIVERY_DATE_TIME" type="xsd:date" minOccurs="0"/>
			<xsd:element name="ORDER_STATUS" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CUSTOMER_WISH_DATE" type="xsd:date" minOccurs="0"/>
			<xsd:element name="TECHNICAL_END_DATE" type="xsd:date" minOccurs="0"/>
			<xsd:element name="PRODUCT_CODE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CURRENTDSL" type="CURRENTDSLType" minOccurs="0"/>
			<xsd:element name="ORDEREDDSL" type="ORDEREDDSLType" minOccurs="0"/>
			<xsd:element name="PAYMENTAGENT" type="PAYMENTAGENTType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CURRENTDSLType">
		<xsd:sequence>
			<xsd:element name="SERVICE_TYPE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="SERVICE_REF" type="xsd:string" minOccurs="0"/>
			<xsd:element name="SERVICE_PARAMETER" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CONTRACT" type="CONTRACTType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CONTRACTType">
		<xsd:sequence>
			<xsd:element name="CONTRACT_ID" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CONNECTION_SERVICE_ID" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ORDEREDDSLType">
		<xsd:sequence>
			<xsd:element name="SERVICE_TYPE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="SERVICE_PARAMETER" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PAYMENTAGENTType">
		<xsd:sequence>
			<xsd:element name="PAYMENT_AGENT_ID" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
