Clever/CLEverSource/CLEverCore - Oracle/Processes/FrontendServices/Configuration/Resolutions/Resolution.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://www.tibco.com/CLEver/Configuration/Resolution" xmlns:ns2="http://www.tibco.com/CLEver/FrontendServices/Configuration/Resolution/ResolutionInterfaceSpecs" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.tibco.com/CLEver/Configuration/Resolution" xmlns:ns3="http://www.tibco.com/CLEver/InternalException">
    <import namespace="http://www.tibco.com/CLEver/FrontendServices/Configuration/Resolution/ResolutionInterfaceSpecs" location="ResolutionsInterfaceSpecs.xsd"/>
	<import location="../../../../Shared Resources/Schema Definitions/CLEver/Error.xsd" namespace="http://www.tibco.com/CLEver/InternalException"/>
    <message name="Create_Resolution_Input">
        <part name="part1" element="ns2:Create_Resolution_Input"/>
    </message>
    <message name="Create_Resolution_Output">
        <part element="ns2:Create_Resolution_Output" name="part1"/>
    </message>
    <message name="Update_Resolution_Input">
        <part element="ns2:Update_Resolution_Input" name="part1"/>
    </message>
    <message name="Update_Resolution_Output">
        <part element="ns2:Update_Resolution_Output" name="part1"/>
    </message>
    <message name="Delete_Resolution_Input">
        <part element="ns2:Delete_Resolution_Input" name="part1"/>
    </message>
    <message name="Delete_Resolution_Output">
        <part element="ns2:Delete_Resolution_Output" name="part1"/>
    </message>
    <message name="Retrieve_Resolution_Input">
        <part element="ns2:Retrieve_Resolution_Input" name="part1"/>
    </message>
    <message name="Retrieve_Resolution_Output">
        <part element="ns2:Retrieve_Resolution_Output" name="part1"/>
    </message>
    <message name="Retrieve_ResolutionParameters_Input">
        <part element="ns2:Retrieve_ResolutionParameters_Input" name="part1"/>
    </message>
    <message name="Retrieve_ResolutionParameters_Output">
        <part element="ns2:Retrieve_ResolutionParameters_Output" name="part1"/>
    </message>
	    <message name="Exception">
        <part name="part1" element="ns3:ExceptionEnvelope"/>
    </message>
    <portType name="Resolution">
        <operation name="Create">
            <input message="ns:Create_Resolution_Input"/>
            <output message="ns:Create_Resolution_Output"/>
			<fault name="fault1" message="ns:Exception"/>
        </operation>
        <operation name="Update">
            <input message="ns:Update_Resolution_Input"/>
            <output message="ns:Update_Resolution_Output"/>
			<fault name="fault1" message="ns:Exception"/>
        </operation>
        <operation name="Delete">
            <input message="ns:Delete_Resolution_Input"/>
            <output message="ns:Delete_Resolution_Output"/>
			<fault name="fault1" message="ns:Exception"/>
        </operation>
        <operation name="Retrieve">
            <input message="ns:Retrieve_Resolution_Input"/>
            <output message="ns:Retrieve_Resolution_Output"/>
			<fault name="fault1" message="ns:Exception"/>
        </operation>
        <operation name="RetrieveParameters">
            <input message="ns:Retrieve_ResolutionParameters_Input"/>
            <output message="ns:Retrieve_ResolutionParameters_Output"/>
			<fault name="fault1" message="ns:Exception"/>
        </operation>
    </portType>
</definitions>