GenericSOAPGateway/XSDSchemas/WBAAdapter/Imported/0336_GetWBAConfigurationDetails_1.0_Response_EAI_BUS_SIDE.xsd

<?xml version="1.0" encoding="utf-8"?>

<!-- edited with XMLSpy v2006 sp2 U (http://www.altova.com) by Atos Origin (Atos Origin Nederland B.V.) -->
<!-- 200080421 JFG Corrected lineType_type maxLength to 10 -->
<xs:schema xmlns:tns="http://xmlns.kpn.com/EAI/fixed/0336_GetWBAConfigurationDetails/1.0/Response"
	 xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 targetNamespace="http://xmlns.kpn.com/EAI/fixed/0336_GetWBAConfigurationDetails/1.0/Response"
	 elementFormDefault="unqualified"
	 attributeFormDefault="unqualified">
	<xs:simpleType name="productCategoryName_type">
		<xs:annotation>
			<xs:documentation>Field size limitation copied from API definition as EAI side had no limitation.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="50"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="productInstanceIdentifier_type">
		<xs:annotation>
			<xs:documentation>Field size limitation copied from API definition as EAI side had no limitation.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="16"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="externalProductInstanceIdentifier_type">
		<xs:annotation>
			<xs:documentation>Field size limitation copied from API definition as EAI side had no limitation.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="16"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="productType_type">
		<xs:annotation>
			<xs:documentation>Field size limitation copied from API definition as EAI side had no limitation.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="16"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="serviceGroupIdentifier_type">
		<xs:annotation>
			<xs:documentation>Field size limitation copied from API definition as EAI side had no limitation.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="16"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="agreementType_type">
		<xs:annotation>
			<xs:documentation>An agreementType represents a specialization of an agreement.

Example:
A LOYALTY agreement is a specific type of agreement.

Type:
String, enumerated

Length:
unbound
</xs:documentation>
			<xs:documentation>Default value is:''</xs:documentation>
			<xs:documentation>Size limitation taken from API side, since EAI definition did not have one.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="25"/>
			<xs:enumeration value="Office hours"/>
			<xs:enumeration value="Best Effort"/>
			<xs:enumeration value="24x7"/>
			<xs:enumeration value="24x7 4 hours"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="agreementIdentifier_type">
		<xs:annotation>
			<xs:documentation>An agreementIdentifier represents a specialization of an agreement.
			</xs:documentation>
			<xs:documentation>Size limitation taken from API side, since EAI definition did not have one.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="orderId_type">
		<xs:annotation>
			<xs:documentation>Field size limitation copied from API definition as EAI side had no limitation.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="orderType_type">
		<xs:annotation>
			<xs:documentation>The deifferent types of orders i.e.:
- customerOrder
- networkResourceOrder
- wholesaleAccessOrder
- workOrder</xs:documentation>
			<xs:documentation>Default value is:''</xs:documentation>
			<xs:documentation>Size limitation taken from API side, since EAI definition did not have one.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="25"/>
			<xs:enumeration value="AccessInstance"/>
			<xs:enumeration value="ServiceInstance"/>
			<xs:enumeration value="ServiceLevelInstance"/>
			<xs:enumeration value="customerOrder"/>
			<xs:enumeration value="networkResourceOrder"/>
			<xs:enumeration value="wholesaleAccessOrder"/>
			<xs:enumeration value="workOrder"/>
			<xs:enumeration value="undefined"/>
			<xs:enumeration value="ProductServiceInstance"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="customerOrderReference_type">
		<xs:annotation>
			<xs:documentation>Field size limitation copied from API definition as EAI side had no limitation.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="15"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="orderStatus_type">
		<xs:annotation>
			<xs:documentation>Field size limitation copied from API definition as EAI side had no limitation.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="50"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="lineType_type">
		<xs:annotation>
			<xs:documentation>Field size limitation copied from API definition as EAI side had no limitation.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="portType_type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="50"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="carrierType_type">
		<xs:annotation>
			<xs:documentation>Field size limitation copied from API definition as EAI side had no limitation.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="50"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="portNumber_type">
		<xs:restriction base="xs:integer"/>
	</xs:simpleType>
	<xs:simpleType name="serviceIdentifier_type">
		<xs:annotation>
			<xs:documentation>Field size limitation copied from API definition as EAI side had no limitation.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="bandwidth_type">
		<xs:annotation>
			<xs:documentation>Field size limitation copied from API definition as EAI side had no limitation.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="50"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="nodeName_type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="50"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="streetName_type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="24"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="houseNumber_type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="5"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="houseNumberExtension_type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="6"/>
			<xs:minLength value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="dutchPostcode_type">
		<xs:restriction base="xs:string">
			<xs:length value="6"/>
			<xs:pattern value="\d{4}[a-zA-Z]{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="cityName_type">
		<xs:annotation>
			<xs:documentation>Field size limitation copied from API definition as EAI side had no limitation.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="24"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="partyName_type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="132"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="serviceInstanceIdentifier_type">
		<xs:annotation>
			<xs:documentation>Field size limitation copied from API definition as EAI side had no limitation.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="26"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="accessPointId_type">
		<xs:annotation>
			<xs:documentation>Field size limitation copied from API definition as EAI side had no limitation.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="12"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="customerIdentifier_type">
		<xs:annotation>
			<xs:documentation>Field size limitation copied from API definition as EAI side had no limitation.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="BODY">
		<xs:annotation>
			<xs:documentation>This is the BODY object for KPN EAI service number 0336 - GetWBAConfigurationDetails version 1.0 Response message.</xs:documentation>
			<xs:documentation>Automatically generated schema for service:'GetWBAConfigurationDetails', version:'1.0'</xs:documentation>
			<xs:documentation>Generated on 2007-08-13 11:36:52Z</xs:documentation>
			<xs:documentation>Service paradigm is intended to be Request/Response</xs:documentation>
			<xs:documentation>Service ID is:'0336'</xs:documentation>
			<xs:documentation>The body must always have MinOccurs=0 and MaxOccurs=1, by definition of KPN EAI AG. (For request messages this has no apparent benefit)</xs:documentation>
			<xs:documentation>KPN EAI message body class.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:annotation>
					<xs:documentation>Artificial sequence to separate.</xs:documentation>
				</xs:annotation>
				<xs:element name="PRODUCT" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:annotation>
								<xs:documentation>Artificial sequence to separate.</xs:documentation>
							</xs:annotation>
							<xs:element name="SERVICE_LEVEL_AGREEMENT" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:annotation>
											<xs:documentation>Artificial sequence to separate.</xs:documentation>
										</xs:annotation>
										<xs:element name="ORDER_INFO" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:annotation>
														<xs:documentation>Artificial sequence to separate.</xs:documentation>
													</xs:annotation>
													<xs:element name="ORDER_ID" type="tns:orderId_type" minOccurs="0"/>
													<xs:element name="ORDER_TYPE" type="tns:orderType_type" minOccurs="0"/>
													<xs:element name="ADMINISTRATIVE_START_DATE_TIME" type="xs:dateTime" minOccurs="0"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="SERVICE_LEVEL_ID" type="xs:string" minOccurs="0"/>
										<xs:element name="SERVICE_LEVEL_TYPE" type="tns:agreementType_type" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="ORDER" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:annotation>
											<xs:documentation>Artificial sequence to separate.</xs:documentation>
										</xs:annotation>
										<xs:element name="EXTERNAL_CUSTOMER_ORDER_ID" type="tns:customerOrderReference_type" minOccurs="0"/>
										<xs:element name="ORDER_SCENARIO" type="xs:string" minOccurs="0"/>
										<xs:element name="ORDER_STATUS" type="tns:orderStatus_type" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="LINE_INFORMATION" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:annotation>
											<xs:documentation>Artificial sequence to separate.</xs:documentation>
										</xs:annotation>
										<xs:element name="ACTUAL_ISRA_SPECS" type="xs:string" minOccurs="0"/>
										<xs:element name="LINE_TEST_REQUESTED" type="xs:string" minOccurs="0"/>
										<xs:element name="LINE_TYPE" type="tns:lineType_type" minOccurs="0"/>
										<xs:element name="NUMBER_OF_NT_PORTS" type="xs:string" minOccurs="0"/>
										<xs:element name="OUTLET_REQUIRED" type="xs:string" minOccurs="0"/>
										<xs:element name="PORT_TYPE" type="tns:portType_type" minOccurs="0"/>
										<xs:element name="XTL_TYPE" type="xs:string" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="ACCESS_ELEMENTS" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:annotation>
											<xs:documentation>Artificial sequence to separate.</xs:documentation>
										</xs:annotation>
										<xs:element name="ORDER_INFO" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:annotation>
														<xs:documentation>Artificial sequence to separate.</xs:documentation>
													</xs:annotation>
													<xs:element name="ADMINISTRATIVE_START_DATE_TIME" type="xs:dateTime" minOccurs="0"/>
													<xs:element name="ORDER_ID" type="tns:orderId_type" minOccurs="0"/>
													<xs:element name="ORDER_TYPE" type="tns:orderType_type" minOccurs="0"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="ACCESS_INSTANCE_ID" type="xs:string" minOccurs="0"/>
										<xs:element name="EXTERNAL_ACCESS_INSTANCE_ID" type="xs:string" minOccurs="0"/>
										<xs:element name="ACCESS_CLASS" type="xs:string" minOccurs="0"/>
										<xs:element name="CARD_TECHNOLOGY" type="xs:string" minOccurs="0"/>
										<xs:element name="CARRIER_TYPE" type="tns:carrierType_type" minOccurs="0"/>
										<xs:element name="CARRIER_VENDOR_ID" type="xs:string" minOccurs="0"/>
										<xs:element name="EAP_USAGE" type="xs:string" minOccurs="0"/>
										<xs:element name="I_SIP_NAME" type="xs:string" minOccurs="0"/>
										<xs:element name="I_SIP_VAR" type="xs:string" minOccurs="0"/>
										<xs:element name="INP_TYPE" type="xs:string" minOccurs="0"/>
										<xs:element name="IS_VIRTUAL_LAN" type="xs:boolean" minOccurs="0"/>
										<xs:element name="MIN_LINE_SPEED_DOWN_RATE" type="xs:string" minOccurs="0"/>
										<xs:element name="PORT_NUMBER" type="tns:portNumber_type" minOccurs="0"/>
										<xs:element name="PORTFOLIO_ID" type="xs:string" minOccurs="0"/>
										<xs:element name="TECHNOLOGY_TYPE" type="xs:string" minOccurs="0"/>
										<xs:element name="XDF_ACCESS_SERVICE_ID" type="tns:serviceIdentifier_type" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="BANDWIDTH" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:annotation>
											<xs:documentation>Artificial sequence to separate.</xs:documentation>
										</xs:annotation>
										<xs:element name="MIN_BANDWIDTH_DOWN" type="tns:bandwidth_type" minOccurs="0"/>
										<xs:element name="MIN_BANDWIDTH_UP" type="xs:string" minOccurs="0"/>
										<xs:element name="MAX_BANDWIDTH" type="xs:integer" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="NODE" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:annotation>
											<xs:documentation>Artificial sequence to separate.</xs:documentation>
										</xs:annotation>
										<xs:element name="DISTRIBUTION_POINT" type="xs:string" minOccurs="0"/>
										<xs:element name="DISTRIBUTION_POINT_TYPE" type="xs:string" minOccurs="0"/>
										<xs:element name="NODE_NAME" type="tns:nodeName_type" minOccurs="0"/>
										<xs:element name="QUALIFIED_LENGTH" type="xs:integer" minOccurs="0"/>
										<xs:element name="LENGTH_MEASUREMENT_TYPE" type="xs:string" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="END_USER_POINT" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:annotation>
											<xs:documentation>Artificial sequence to separate.</xs:documentation>
										</xs:annotation>
										<xs:element name="LOCATION">
											<xs:complexType>
												<xs:sequence>
													<xs:annotation>
														<xs:documentation>Artificial sequence to separate.</xs:documentation>
													</xs:annotation>
													<xs:element name="STREET_NAME" type="tns:streetName_type" minOccurs="0"/>
													<xs:element name="HOUSE_NUMBER" type="tns:houseNumber_type" minOccurs="0"/>
													<xs:element name="HOUSE_NUMBER_EXTENSION" type="tns:houseNumberExtension_type" minOccurs="0"/>
													<xs:element name="DUTCH_POSTCODE" type="tns:dutchPostcode_type" minOccurs="0"/>
													<xs:element name="CITY_NAME" type="tns:cityName_type" minOccurs="0"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="ORGANISATION_NAME" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:annotation>
														<xs:documentation>Artificial sequence to separate.</xs:documentation>
													</xs:annotation>
													<xs:element name="PARTY_NAME" type="tns:partyName_type" minOccurs="0"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="TELEPHONE">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="UNFORMATTED" type="xs:string" minOccurs="0"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="TRANSPORT_CONFIGURATION" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:annotation>
											<xs:documentation>Artificial sequence to separate.</xs:documentation>
										</xs:annotation>
										<xs:element name="WHOLESALE_ACCESS_POINT" minOccurs="0" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:annotation>
														<xs:documentation>Artificial sequence to separate.</xs:documentation>
													</xs:annotation>
													<xs:element name="ACCESS_POINT_ID" type="tns:accessPointId_type" minOccurs="0"/>
													<xs:element name="WAP_AREA" type="xs:string" minOccurs="0"/>
													<xs:element name="VIRTUAL_LAN_ID" type="xs:string" minOccurs="0"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="ORDER_INFO" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:annotation>
														<xs:documentation>Artificial sequence to separate.</xs:documentation>
													</xs:annotation>
													<xs:element name="ADMINISTRATIVE_START_DATE_TIME" type="xs:dateTime" minOccurs="0"/>
													<xs:element name="ORDER_ID" type="tns:orderId_type" minOccurs="0"/>
													<xs:element name="ORDER_TYPE" type="tns:orderType_type" minOccurs="0"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="PIR_DOWN" type="xs:string" minOccurs="0"/>
										<xs:element name="PIR_UP" type="xs:string" minOccurs="0"/>
										<xs:element name="SERVICE_TYPE_ID" type="xs:string" minOccurs="0"/>
										<xs:element name="SERVICE_CLASS" type="xs:string" minOccurs="0"/>
										<xs:element name="SERVICE_INSTANCE_ID" type="tns:serviceInstanceIdentifier_type" minOccurs="0"/>
										<xs:element name="EXTERNAL_SERVICE_INSTANCE_ID" type="xs:string" minOccurs="0"/>
										<xs:element name="STATUS_SERVICE_INSTANCE" type="xs:string" minOccurs="0"/>
										<xs:element name="TRANSPORT_INSTANCE_ID" type="xs:string" minOccurs="0"/>
										<xs:element name="END_USER_ACCESS_POINT" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="ETHERNET_END_POINT" minOccurs="0">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="VIRTUAL_LAN_ID" type="xs:string" minOccurs="0"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="CUSTOMER_CONNECTION" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="NUMBER" type="xs:integer" minOccurs="0"/>
													<xs:element name="TAG" type="xs:string" minOccurs="0"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="CUSTOMER" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:annotation>
											<xs:documentation>Artificial sequence to separate.</xs:documentation>
										</xs:annotation>
										<xs:element name="CUSTOMER_ID" type="tns:customerIdentifier_type" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="BROADBAND_CONFIGURATION" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="BROADCAST_ELEMENT" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="NUMBER_OF_TV_CHANNELS" type="xs:string" minOccurs="0"/>
													<xs:element name="MAX_BANDWIDTH" type="xs:string" minOccurs="0"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="IP_PRODUCT_PROVIDER" type="xs:string" minOccurs="0"/>
							<xs:element name="PRODUCT_INSTANCE_ID" type="tns:productInstanceIdentifier_type" minOccurs="0"/>
							<xs:element name="EXTERNAL_PRODUCT_INSTANCE_ID" type="xs:string" minOccurs="0"/>
							<xs:element name="PRODUCT_TYPE" type="xs:string" minOccurs="0"/>
							<xs:element name="PRODUCT_CATEGORY" type="tns:productCategoryName_type" minOccurs="0"/>
							<xs:element name="SERVICE_GROUP_ID" type="xs:string" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>