GenericSOAPGateway/XSDSchemas/TangoAdapter/Publish/ProcessMaterialOrder.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.kpn.com/fixed/TangoAdapter/Publish/ProcessMaterialOrder"
	 targetNamespace = "http://xmlns.kpn.com/fixed/TangoAdapter/Publish/ProcessMaterialOrder"
	 xmlns:TangoPublish.xsd = "http://xmlns.kpn.com/fixed/TangoAdapter/common/TangoPublish.xsd"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 xmlns:Engineer.xsd = "http://xmlns.kpn.com/fixed/TangoAdapter/Common/Engineer.xsd"
	 xmlns:OrderMaterial.xsd = "http://xmlns.kpn.com/fixed/TangoAdapter/Common/OrderMaterial.xsd"
	 elementFormDefault = "unqualified"
	 attributeFormDefault = "unqualified">
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/TangoAdapter/common/TangoPublish.xsd" schemaLocation = "../Common/TangoPublish.xsd"/>
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/TangoAdapter/Common/Engineer.xsd" schemaLocation = "../Common/Engineer.xsd"/>
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/TangoAdapter/Common/OrderMaterial.xsd" schemaLocation = "../Common/OrderMaterial.xsd"/>
	<xsd:element name = "ProcessMaterialOrder">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base = "TangoPublish.xsd:TangoPublish">
					<xsd:sequence>
						<xsd:element name = "ORDER" minOccurs = "0">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name = "ID" type = "xsd:string" minOccurs = "0"/>
									<xsd:element name = "ACTION">
										<xsd:simpleType>
											<xsd:restriction base = "xsd:string">
												<xsd:enumeration value = "USAGE"/>
												<xsd:enumeration value = "RETURN"/>
												<xsd:enumeration value = "ORDER"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name = "CONTRACT_TYPE_LETTER" type = "xsd:string" minOccurs = "0"/>
									<xsd:element name = "DATE_UPDATE" type = "xsd:dateTime" minOccurs = "0"/>
									<xsd:element name = "MATERIAL" type = "OrderMaterial.xsd:type_OrderMaterial" minOccurs = "0"/>
									<xsd:element name = "ENGINEER" type = "Engineer.xsd:type_Engineer" minOccurs = "0"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>