GenericSOAPGateway/XSDSchemas/TangoAdapter/Publish/ServiceWorkOrderStatus.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.kpn.com/fixed/TangoAdapter/Publish/ServiceWorkOrderStatus"
	 targetNamespace = "http://xmlns.kpn.com/fixed/TangoAdapter/Publish/ServiceWorkOrderStatus"
	 xmlns:Operator.xsd = "http://xmlns.kpn.com/fixed/TangoAdapter/Common/Operator.xsd"
	 xmlns:Analysis.xsd = "http://xmlns.kpn.com/fixed/TangoAdapter/Common/Analysis.xsd"
	 xmlns:Complaint.xsd = "http://xmlns.kpn.com/fixed/TangoAdapter/Common/Complaint.xsd"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 xmlns:TangoPublish.xsd = "http://xmlns.kpn.com/fixed/TangoAdapter/common/TangoPublish.xsd"
	 xmlns:Incident.xsd = "http://xmlns.kpn.com/fixed/TangoAdapter/Common/Incident.xsd"
	 xmlns:Obligation.xsd = "http://xmlns.kpn.com/fixed/TangoAdapter/Common/Obligation.xsd"
	 xmlns:Customer.xsd = "http://xmlns.kpn.com/fixed/TangoAdapter/Common/Customer.xsd"
	 xmlns:StrataBox.xsd = "http://xmlns.kpn.com/fixed/TangoAdapter/Common/StrataBox.xsd"
	 elementFormDefault = "qualified"
	 attributeFormDefault = "unqualified">
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/TangoAdapter/Common/Operator.xsd" schemaLocation = "../Common/Operator.xsd"/>
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/TangoAdapter/Common/Analysis.xsd" schemaLocation = "../Common/Analysis.xsd"/>
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/TangoAdapter/Common/Complaint.xsd" schemaLocation = "../Common/Complaint.xsd"/>
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/TangoAdapter/common/TangoPublish.xsd" schemaLocation = "../Common/TangoPublish.xsd"/>
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/TangoAdapter/Common/Incident.xsd" schemaLocation = "../Common/Incident.xsd"/>
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/TangoAdapter/Common/Obligation.xsd" schemaLocation = "../Common/Obligation.xsd"/>
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/TangoAdapter/Common/Customer.xsd" schemaLocation = "../Common/Customer.xsd"/>
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/TangoAdapter/Common/StrataBox.xsd" schemaLocation = "../Common/StrataBox.xsd"/>
	<xsd:element name = "ServiceWorkOrderStatus">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base = "TangoPublish.xsd:TangoPublish">
					<xsd:sequence>
						<xsd:element name = "ANALYSIS" type = "Analysis.xsd:type_ANALYSIS" minOccurs = "0"/>
						<xsd:element name = "COMPLAINT" type = "Complaint.xsd:type_COMPLAINT" minOccurs = "0"/>
						<xsd:element name = "CUSTOMER" type = "Customer.xsd:type_Customer" minOccurs = "0"/>
						<xsd:element name = "FIXED_LINE" type = "type_FIXED_LINE" minOccurs = "0"/>
						<xsd:element name = "INCIDENT" type = "Incident.xsd:type_INCIDENT" minOccurs = "0"/>
						<xsd:element name = "INFRASTRUCTURE" type = "type_INFRASTRUCTURE" minOccurs = "0"/>
						<xsd:element name = "MEASUREMENT" type = "type_MEASUREMENT" minOccurs = "0" maxOccurs = "unbounded"/>
						<xsd:element name = "OBLIGATION" type = "Obligation.xsd:type_OBLIGATION" minOccurs = "0"/>
						<xsd:element name = "OBSERVATION" type = "type_OBSERVATION" minOccurs = "0"/>
						<xsd:element name = "OTHER" type = "type_OTHER" minOccurs = "0"/>
						<xsd:element name = "PORTING" type = "type_PORTING" minOccurs = "0"/>
						<xsd:element name = "SERVICE_BOX" type = "type_SERVICE_BOX" minOccurs = "0"/>
						<xsd:element name = "STRATA_BOX" type = "StrataBox.xsd:type_STRATABOX" minOccurs = "0"/>
						<xsd:element name = "TECHNICAL_DATA" type = "type_TECHNICAL_DATA" minOccurs = "0"/>
					</xsd:sequence>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name = "type_FIXED_LINE">
		<xsd:sequence>
			<xsd:element name = "NAME" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "PHONE_NUMBER" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "A_SIDE" type = "type_SIDE" minOccurs = "0"/>
			<xsd:element name = "B_SIDE" type = "type_SIDE" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name = "type_SIDE">
		<xsd:sequence>
			<xsd:element name = "PHONE_NUMBER" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "NAME" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "ADDRESS" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "CITY_NAME" type = "xsd:string" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name = "type_INFRASTRUCTURE">
		<xsd:sequence>
			<xsd:element name = "CENTRAL_AREA_CODE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "ISDN_TYPE_CONNECTION" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "DATA" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "QUALITY_CATEGORY" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "PORT" type = "type_PORT" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name = "type_PORT">
		<xsd:sequence>
			<xsd:element name = "LOCATION" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "DEVICE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "DEVICE_TYPE" type = "xsd:string" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name = "type_OTHER">
		<xsd:sequence>
			<xsd:element name = "INFOCENTER" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "INCIDENT_TYPE" type = "xsd:string" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name = "type_PORTING">
		<xsd:sequence>
			<xsd:element name = "PHONE_NUMBER" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "FIRST_OPERATOR" type = "Operator.xsd:type_OPERATOR" minOccurs = "0"/>
			<xsd:element name = "SECOND_OPERATOR" type = "Operator.xsd:type_OPERATOR" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name = "type_SERVICE_BOX">
		<xsd:sequence>
			<xsd:element name = "PROJECT_CODE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "CONTRACT_TYPE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "REMARKS" type = "xsd:string" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name = "type_TECHNICAL_DATA">
		<xsd:sequence>
			<xsd:element name = "SOURCE_SYSTEM_ORDER_REFERENCE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "TARGET_SYSTEM_ORDER_REFERENCE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "HANDLING_SYSTEM" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "PUBLISH_PROGRESS" type = "xsd:boolean" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name = "type_OBSERVATION">
		<xsd:sequence>
			<xsd:element name = "START_DATETIME" type = "xsd:dateTime" minOccurs = "0"/>
			<xsd:element name = "END_DATETIME" type = "xsd:dateTime" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name = "type_MEASUREMENT">
		<xsd:sequence>
			<xsd:element name = "RESULT" type = "xsd:string" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>