GenericSOAPGateway/XSDSchemas/NumbesAdapter/Response/GetNumberInfo.2.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xs:schema xmlns = "http://xmlns.kpn.com/fixed/NumbesAdapter/Response/GetNumberInfoV2"
	 targetNamespace = "http://xmlns.kpn.com/fixed/NumbesAdapter/Response/GetNumberInfoV2"
	 xmlns:xs = "http://www.w3.org/2001/XMLSchema"
	 xmlns:ns0 = "http://xmlns.kpn.com/common/cdm/ResultStatus.xsd"
	 xmlns:ns2 = "http://xmlns.kpn.com/common/cdm/Base.xsd"
	 elementFormDefault = "qualified">
	<xs:import namespace = "http://xmlns.kpn.com/common/cdm/ResultStatus.xsd" schemaLocation = "../../Common/ResultStatus.xsd"/>
	<xs:import namespace = "http://xmlns.kpn.com/common/cdm/Base.xsd" schemaLocation = "../../Common/Base.xsd"/>
	<!-- edited with XMLSpy v2006 sp2 U (http://www.altova.com) by Shyam Kasthala (Atos Origin Nederland B.V.) -->
	
	<xs:element name = "GetNumberInfoResponse">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base = "ns2:Base">
					<xs:sequence>
						<xs:element name = "RESULTSTATUS" type = "ns0:ResultStatus"/>
						<xs:element name = "PHONE_NUMBER">
							<xs:complexType>
								<xs:sequence>
									<xs:element name = "AREA_CODE" type = "xs:string" minOccurs = "0"/>
									<xs:element name = "BHS_FLAGS" type = "xs:string" minOccurs = "0"/>
									<xs:element name = "IS_CVI" type = "xs:boolean" minOccurs = "0"/>
									<xs:element name = "LRI" type = "xs:string" minOccurs = "0"/>
									<xs:element name = "NUMBER_CATEGORY" type = "xs:string" minOccurs = "0"/>
									<xs:element name = "PREVIOUS_NETWORK_OPERATOR_ID" type = "xs:string" minOccurs = "0"/>
									<xs:element name = "SERVICE_TYPE" type = "xs:string" minOccurs = "0"/>
									<xs:element name = "PHONE_NUMBER" type = "xs:string" minOccurs = "0"/>
									<xs:element name = "STATUS_DESCRIPTION" type = "xs:string" minOccurs = "0"/>
									<xs:element name = "STATUS_EXCHANGE_NR_SERIE" type = "xs:string" minOccurs = "0"/>
									<xs:element name = "STATUS_NUMBER" type = "xs:string" minOccurs = "0"/>
									<xs:element name = "CALL_NUMBER" type = "xs:string" minOccurs = "0"/>
									<xs:element name = "TYPE_OF_NUMBER" type = "xs:string" minOccurs = "0"/>
									<xs:element name = "SNR1" type = "xs:string" minOccurs = "0"/>
									<xs:element name = "ORIGINAL" minOccurs = "0">
										<xs:complexType>
											<xs:sequence>
												<xs:element name = "CENTRAL_AREA_CODE" type = "xs:string" minOccurs = "0"/>
												<xs:element name = "HOST" type = "xs:string" minOccurs = "0"/>
												<xs:element name = "NETWORK_OPERATOR_ID" type = "xs:string" minOccurs = "0"/>
												<xs:element name = "SPC_ID_HOST" type = "xs:string" minOccurs = "0"/>
												<xs:element name = "TELECOM_REGION_CODE" type = "xs:string" minOccurs = "0"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name = "CURRENT" minOccurs = "0">
										<xs:complexType>
											<xs:sequence>
												<xs:element name = "CENTRAL_AREA_CODE" type = "xs:string" minOccurs = "0"/>
												<xs:element name = "HOST" type = "xs:string" minOccurs = "0"/>
												<xs:element name = "NETWORK_OPERATOR_ID" type = "xs:string" minOccurs = "0"/>
												<xs:element name = "SPC_ID_HOST" type = "xs:string" minOccurs = "0"/>
												<xs:element name = "TELECOM_DISTRICT_CODE" type = "xs:string" minOccurs = "0"/>
												<xs:element name = "TELECOM_REGION_CODE" type = "xs:string" minOccurs = "0"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name = "ACTION_TYPE" minOccurs = "0">
										<xs:complexType>
											<xs:sequence>
												<xs:element name = "TIME_AND_DATE" type = "xs:dateTime" minOccurs = "0"/>
												<xs:element name = "ACTION_TYPE" type = "xs:string" minOccurs = "0"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
</xs:schema>