ASTRIDAdapter/XSDSchemas/EnginAdapter/Common/IdentifiedCustomer.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.example.com/unique/default/namespace/1087727306677"
	 targetNamespace = "http://xmlns.example.com/unique/default/namespace/1087727306677"
	 xmlns:Party.xsd = "http://xmlns.example.com/unique/default/namespace/1087727411248"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 xmlns:PropertyAddress.xsd = "http://xmlns.example.com/unique/default/namespace/1087727473027"
	 elementFormDefault = "qualified">
	<xsd:import namespace = "http://xmlns.example.com/unique/default/namespace/1087727411248" schemaLocation = "Party.xsd"/>
	<xsd:import namespace = "http://xmlns.example.com/unique/default/namespace/1087727473027" schemaLocation = "PropertyAddress.xsd"/>
	<xsd:complexType name = "IdentifiedCustomer">
		<xsd:sequence>
			<xsd:element name = "CENTRAL_CUSTOMER_ID" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "PARTY_NAME" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "TELECOM_DISTRICT_CODE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "TELECOM_REGION_CODE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "STRATA_TELECOM_DISTRICT_CODE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "PARTY" type = "Party.xsd:Party" minOccurs = "0"/>
			<xsd:element name = "PROPERTY_ADDRESS" type = "PropertyAddress.xsd:PropertyAddress" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>