ASTRIDAdapter/XSDSchemas/EnginAdapter/Common/PropertyAddress.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.example.com/unique/default/namespace/1087727473027"
	 targetNamespace = "http://xmlns.example.com/unique/default/namespace/1087727473027"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified">
	<xsd:complexType name = "PropertyAddress">
		<xsd:sequence>
			<xsd:element name = "CITY_CODE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "CITY_NAME" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "DUTCH_POSTCODE_LETTERS" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "DUTCH_POSTCODE_NUMBERS" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "HOUSE_NUMBER" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "HOUSE_NUMBER_EXTENSION" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "STREET_NAME" type = "xsd:string" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>