ASTRIDAdapter/XSDSchemas/EnginAdapter/Common/ServiceVisit.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.example.com/unique/default/namespace/1087731458057"
	 targetNamespace = "http://xmlns.example.com/unique/default/namespace/1087731458057"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified">
	<xsd:complexType name = "ServiceVisit">
		<xsd:sequence>
			<xsd:element name = "START_DATE_TIME" type = "xsd:dateTime" minOccurs = "0"/>
			<xsd:element name = "VISIT_WINDOW_START_TIME" type = "xsd:time" minOccurs = "0"/>
			<xsd:element name = "VISIT_WINDOW_END_TIME" type = "xsd:time" minOccurs = "0"/>
			<xsd:element name = "MM007_APPOINTMENT_OUTSIDE_CUSTOMER_NORM" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "MM007_APPOINTMENT_OUTSIDE_NORM_CALENDAR" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "MM007_APPOINTMENT_PART_OF_DAY" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "MM007_RESEARCH_DEPARTMENT_CODE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "MM007_RESEARCH_EMPLOYEE_CODE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "RESEARCH_AGENCY_CODE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "APPOINTMENT_WITHIN_NORM" type = "xsd:string" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>