ASTRIDAdapter/XSDSchemas/EnginAdapter/Common/ServiceFormula.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.example.com/unique/default/namespace/1086802581528"
	 targetNamespace = "http://xmlns.example.com/unique/default/namespace/1086802581528"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema">
	<xsd:complexType name = "ServiceFormula">
		<xsd:sequence>
			<xsd:element name = "FORMULA_CODE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "FORMULA_DESCRIPTION" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "FORMULA_LEVEL" type = "xsd:int" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>