ASTRIDAdapter/XSDSchemas/EnginAdapter/Common/ServiceVisitList.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.example.com/unique/default/namespace/1086802541771"
	 targetNamespace = "http://xmlns.example.com/unique/default/namespace/1086802541771"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema">
	<xsd:complexType name = "ServiceVisitList">
		<xsd:sequence>
			<xsd:element name = "INDEX" type = "xsd:integer" minOccurs = "0"/>
			<xsd:element name = "DATE" type = "xsd:date" minOccurs = "0"/>
			<xsd:element name = "START_TIME" type = "xsd:time" minOccurs = "0"/>
			<xsd:element name = "END_TIME" type = "xsd:time" minOccurs = "0"/>
			<xsd:element name = "AVAILABLE_APPOINTMENTS" type = "xsd:int" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>