ASTRIDAdapter/XSDSchemas/EnginAdapter/Common/WorkOrder.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.example.com/unique/default/namespace/1087731847987"
	 targetNamespace = "http://xmlns.example.com/unique/default/namespace/1087731847987"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified">
	<xsd:element name = "root">
		<xsd:complexType/>
	</xsd:element>
	<xsd:complexType name = "WorkOrder">
		<xsd:sequence>
			<xsd:element name = "WORK_ORDER_ACTUAL_END_DATETIME" type = "xsd:dateTime" minOccurs = "0"/>
			<xsd:element name = "WORK_ORDER_ACTUAL_START_DATETIME" type = "xsd:dateTime" minOccurs = "0"/>
			<xsd:element name = "WORK_ORDER_COMPLETION_DATETIME" type = "xsd:dateTime" minOccurs = "0"/>
			<xsd:element name = "WORK_ORDER_ISSUE_DATETIME" type = "xsd:dateTime" minOccurs = "0"/>
			<xsd:element name = "PRV_WORK_ORDER_ISSUE_DATETIME" type = "xsd:dateTime" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>