GenericSOAPGateway/XSDSchemas/BaanAdapter/Response/ReportDSLInstalledBase.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2006 sp2 U (http://www.altova.com) by Arjen Wassenaar (Atos Origin Nederland B.V.) -->
<!-- edited with XMLSPY v2004 rel. 2 U (http://www.xmlspy.com) by a (University of Helsinki) -->
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns:ResultStatus.xsd="http://xmlns.kpn.com/common/cdm/ResultStatus.xsd" xmlns:Base.xsd="http://xmlns.kpn.com/common/cdm/Base.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:Dsl.xsd="http://xmlns.kpn.com/fixed/BaanAdapter/common/Dsl.xsd" xmlns="http://xmlns.kpn.com/fixed/BaanAdapter/response/ReportDSLInstalledBase.xsd" xmlns:ns2="http://xmlns.kpn.com/fixed/BaanAdapter/common/DslV2.xsd" targetNamespace="http://xmlns.kpn.com/fixed/BaanAdapter/response/ReportDSLInstalledBase.xsd" elementFormDefault="qualified">
	<xsd:import namespace="http://xmlns.kpn.com/fixed/BaanAdapter/common/Dsl.xsd" schemaLocation="../Common/Dsl.xsd"/>
	<xsd:import namespace="http://xmlns.kpn.com/common/cdm/Base.xsd" schemaLocation="../../Common/Base.xsd"/>
	<xsd:import namespace="http://xmlns.kpn.com/common/cdm/ResultStatus.xsd" schemaLocation="../../Common/ResultStatus.xsd"/>
	<xsd:element name="ReportDSLInstalledBaseResponse">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="Base.xsd:Base">
					<xsd:sequence>
						<xsd:element name="RESULT_STATUS" type="ResultStatus.xsd:ResultStatus"/>
						<xsd:element name="BAANRECORD" type="Dsl.xsd:DslType" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
