ASTRIDAdapter/XSDSchemas/EDTAdapter/Common/ContactPerson.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.kpn.com/fixed/EDTAdapter/common/ContactPerson.xsd"
	 targetNamespace = "http://xmlns.kpn.com/fixed/EDTAdapter/common/ContactPerson.xsd"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified">
	<xsd:complexType name = "ContactPerson">
		<xsd:sequence>
			<xsd:element name = "NAME" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "EMAIL" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "FAX_NUMBER" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "PHONE_NUMBER" type = "xsd:string" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>