ASTRIDAdapter/XSDSchemas/EDTAdapter/Common/CustomerOrganization.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.kpn.com/fixed/EDTAdapter/common/CustomerOrganization.xsd"
	 targetNamespace = "http://xmlns.kpn.com/fixed/EDTAdapter/common/CustomerOrganization.xsd"
	 xmlns:IncidentReporter.xsd = "http://xmlns.kpn.com/fixed/EDTAdapter/common/IncidentReporter.xsd"
	 xmlns:ContactPerson.xsd = "http://xmlns.kpn.com/fixed/EDTAdapter/common/ContactPerson.xsd"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 xmlns:PropertyAddress.xsd = "http://xmlns.kpn.com/fixed/common/PropertyAddress.xsd"
	 elementFormDefault = "qualified">
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/EDTAdapter/common/IncidentReporter.xsd" schemaLocation = "IncidentReporter.xsd"/>
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/EDTAdapter/common/ContactPerson.xsd" schemaLocation = "ContactPerson.xsd"/>
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/common/PropertyAddress.xsd" schemaLocation = "../../Common/PropertyAddress.xsd"/>
	<xsd:complexType name = "CustomerOrganization">
		<xsd:sequence>
			<xsd:element name = "CUSTOMER_ORGANIZATION_NAME" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "MANAGER_CONTACT_PERSON_NAME" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "PROPERTY_ADDRESS" type = "PropertyAddress.xsd:PropertyAddress" minOccurs = "0"/>
			<xsd:element name = "CONTACT_PERSON" type = "ContactPerson.xsd:ContactPerson" minOccurs = "0"/>
			<xsd:element name = "INCIDENT_REPORTER" type = "IncidentReporter.xsd:IncidentReporter" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>