ASTRIDAdapter/XSDSchemas/EDTAdapter/Common/ManagedObject.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.kpn.com/fixed/EDTAdapter/common/ManagedObject.xsd"
	 targetNamespace = "http://xmlns.kpn.com/fixed/EDTAdapter/common/ManagedObject.xsd"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 xmlns:SupportedService.xsd = "http://xmlns.kpn.com/fixed/EDTAdapter/common/SupportedService.xsd"
	 xmlns:Attributes.xsd = "http://xmlns.kpn.com/fixed/EDTAdapter/common/Attributes.xsd"
	 xmlns:PropertyAddress.xsd = "http://xmlns.kpn.com/fixed/common/PropertyAddress.xsd"
	 elementFormDefault = "qualified">
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/EDTAdapter/common/SupportedService.xsd" schemaLocation = "SupportedService.xsd"/>
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/EDTAdapter/common/Attributes.xsd" schemaLocation = "Attributes.xsd"/>
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/common/PropertyAddress.xsd" schemaLocation = "../../Common/PropertyAddress.xsd"/>
	<xsd:complexType name = "ManagedObject">
		<xsd:sequence>
			<xsd:element name = "MANAGED_OBJECT_INSTANCE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "MANAGED_OBJECT_BACKUP" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "MANAGED_OBJECT_CLASS" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "MANAGED_OBJECT_GRAPHICAL_REPRESENTATION" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "MANAGED_OBJECT_INSTANCE_ID" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "NETWORK_CLASS" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "NETWORK_INSTANCE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "PROPERTY_ADDRESS" type = "PropertyAddress.xsd:PropertyAddress" minOccurs = "0"/>
			<xsd:element name = "ATTRIBUTES" type = "Attributes.xsd:Attributes" minOccurs = "0" maxOccurs = "unbounded"/>
			<xsd:element name = "SUPPORTED_SERVICE" type = "SupportedService.xsd:SupportedService" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>