ASTRIDAdapter/XSDSchemas/CKRAdapter/Common/CustomerReference.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.kpn.com/fixed/ckradapter/common/CustomerReference.xsd"
	 targetNamespace = "http://xmlns.kpn.com/fixed/ckradapter/common/CustomerReference.xsd"
	 xmlns:ExternalCustomerReference.xsd = "http://xmlns.kpn.com/fixed/ckradapter/common/ExternalCustomerReference.xsd"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified">
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/ckradapter/common/ExternalCustomerReference.xsd" schemaLocation = "ExternalCustomerReference.xsd"/>
	<xsd:complexType name = "CustomerReference">
		<xsd:sequence>
			<xsd:element name = "ROLE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "APPLICATION_ID" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "EXTERNAL_CUSTOMER_REFERENCE" type = "ExternalCustomerReference.xsd:ExternalCustomerReference" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>