EDTAdapter/WSDL/Outbound/B2B_Proactive_CustomerServiceRequest.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="urn:B2B_Proactive_CustomerServiceRequest" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ns0="http://tempuri.org" xmlns:s="urn:B2B_Proactive_CustomerServiceRequest" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
 <wsdl:types>
  <xsd:schema elementFormDefault="qualified" targetNamespace="urn:B2B_Proactive_CustomerServiceRequest">
   <xsd:import namespace="http://tempuri.org"/>
   <xsd:element name="Create" type="ns0:Message"/>
   <xsd:element name="CreateResponse" type="s:CreateOutputMap"/>
   <xsd:complexType name="CreateOutputMap">
    <xsd:sequence>
     <xsd:element name="GUID" type="xsd:string"/>
     <xsd:element name="STATUS" type="xsd:int"/>
     <xsd:element name="MSG_CODE" type="xsd:string"/>
     <xsd:element name="ERROR_CODE" type="xsd:string"/>
     <xsd:element name="ERROR_DESCRIPTION" type="xsd:string"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="AuthenticationInfo" type="s:AuthenticationInfo"/>
   <xsd:complexType name="AuthenticationInfo">
    <xsd:sequence>
     <xsd:element name="userName" type="xsd:string"/>
     <xsd:element name="password" type="xsd:string"/>
     <xsd:element minOccurs="0" name="authentication" type="xsd:string"/>
     <xsd:element minOccurs="0" name="locale" type="xsd:string"/>
     <xsd:element minOccurs="0" name="timeZone" type="xsd:string"/>
    </xsd:sequence>
   </xsd:complexType>
  </xsd:schema>
  <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://tempuri.org" xmlns="http://tempuri.org" xmlns:xs="http://www.w3.org/2001/XMLSchema">


	     <xs:complexType name="Message">


		       <xs:sequence>


			         <xs:element minOccurs="0" name="GUID" nillable="true" type="xs:string"/>


			         <xs:element minOccurs="0" name="managed_object_class" nillable="true" type="xs:string"/>


			         <xs:element minOccurs="0" name="message_origination_domain" nillable="true" type="xs:string"/>


			         <xs:element minOccurs="0" name="message_destination_domain" nillable="true" type="xs:string"/>


			         <xs:element minOccurs="0" name="message_creation_time" nillable="true" type="xs:dateTime"/>


			         <xs:element minOccurs="0" name="customer_service_request_identifier" nillable="true" type="xs:string"/>


			         <xs:element minOccurs="0" name="customer_service_request_reference_number" nillable="true" type="xs:string"/>


			         <xs:element minOccurs="0" name="customer_service_request_number" nillable="true" type="xs:string"/>


			         <xs:element minOccurs="0" name="analysis_information" nillable="true" type="xs:string"/>


			         <xs:element minOccurs="0" name="request_description_long" nillable="true" type="xs:string"/>


			         <xs:element minOccurs="0" name="request_detection_time" nillable="true" type="xs:dateTime"/>


			         <xs:element minOccurs="0" name="co_identification" nillable="true" type="xs:string"/>


			         <xs:element minOccurs="0" name="customer" nillable="true" type="xs:string"/>


			         <xs:element minOccurs="0" name="customer_organisation" nillable="true" type="xs:string"/>


			         <xs:element minOccurs="0" name="co_domain_id" nillable="true" type="xs:string"/>


			         <xs:element minOccurs="0" name="co_contact_person" nillable="true" type="xs:string"/>


			         <xs:element minOccurs="0" name="co_contact_person_electronic_mail_address" nillable="true" type="xs:string"/>


			         <xs:element minOccurs="0" name="co_contact_person_fax_number" nillable="true" type="xs:string"/>


			         <xs:element minOccurs="0" name="co_contact_person_telephone_number" nillable="true" type="xs:string"/>


			         <xs:element minOccurs="0" name="co_contact_person_mobile_number" nillable="true" type="xs:string"/>


			         <xs:element minOccurs="0" name="co_contact_person_contact_methode" nillable="true" type="xs:string"/>


			         <xs:element minOccurs="0" name="co_request_reporter" nillable="true" type="xs:string"/>


			         <xs:element minOccurs="0" name="co_request_reporter_electronic_mail_address" nillable="true" type="xs:string"/>


			         <xs:element minOccurs="0" name="co_request_reporter_fax_number" nillable="true" type="xs:string"/>


			         <xs:element minOccurs="0" name="co_request_reporter_telephone_number" nillable="true" type="xs:string"/>


			         <xs:element minOccurs="0" name="co_request_reporter_contact_methode" nillable="true" type="xs:string"/>


			         <xs:element minOccurs="0" name="customer_service_request_type" nillable="true" type="xs:string"/>


			         <xs:element minOccurs="0" name="supported_service_proces" nillable="true" type="xs:string"/>


			         <xs:element minOccurs="0" name="supported_service_specification" nillable="true" type="xs:string"/>


			         <xs:element minOccurs="0" name="supported_service_parameters" nillable="true" type="supported_service_parameters_Type"/>


			         <xs:element minOccurs="0" name="mo_supported_service_class" nillable="true" type="xs:string"/>


			         <xs:element minOccurs="0" name="mo_supported_service_impact" nillable="true" type="xs:string"/>


			         <xs:element minOccurs="0" name="mo_supported_service_urgency" nillable="true" type="xs:string"/>


			         <xs:element minOccurs="0" name="mo_class" nillable="true" type="xs:string"/>


			         <xs:element minOccurs="0" name="mo_instance" nillable="true" type="xs:string"/>


			         <xs:element minOccurs="0" name="mo_activity" nillable="true" type="xs:string"/>


			         <xs:element minOccurs="0" name="mo_attributes" nillable="true" type="mo_attributes_Type"/>


			         <xs:element minOccurs="0" name="request_wishdate" nillable="true" type="xs:dateTime"/>


			         <xs:element minOccurs="0" name="attachment_1_attachmentName" nillable="true" type="xs:string"/>


               <xs:element minOccurs="0" name="attachment_1_attachmentData" nillable="true" type="xs:base64Binary"/>


               <xs:element minOccurs="0" name="attachment_1_attachmentOrigSize" nillable="true" type="xs:int"/>


               <xs:element minOccurs="0" name="attachment_2_attachmentName" nillable="true" type="xs:string"/>


               <xs:element minOccurs="0" name="attachment_2_attachmentData" nillable="true" type="xs:base64Binary"/>


               <xs:element minOccurs="0" name="attachment_2_attachmentOrigSize" nillable="true" type="xs:int"/>


               <xs:element minOccurs="0" name="attachment_3_attachmentName" nillable="true" type="xs:string"/>


               <xs:element minOccurs="0" name="attachment_3_attachmentData" nillable="true" type="xs:base64Binary"/>


               <xs:element minOccurs="0" name="attachment_3_attachmentOrigSize" nillable="true" type="xs:int"/>


               <xs:element minOccurs="0" name="request_information_type" nillable="true" type="xs:string"/>



		       </xs:sequence>


	     </xs:complexType>


	     <xs:complexType name="supported_service_parameters_Type">


		       <xs:sequence>


			         <xs:element maxOccurs="unbounded" minOccurs="0" name="supported_service_parameters" type="supported_service_parameters"/>


		       </xs:sequence>


	     </xs:complexType>


	     <xs:complexType name="supported_service_parameters">


		       <xs:sequence>


			         <xs:element minOccurs="0" name="order" nillable="true" type="xs:string"/>


			         <xs:element minOccurs="0" name="supported_service_specification_parameter" nillable="true" type="xs:string"/>


			         <xs:element minOccurs="0" name="supported_service_specification_value" nillable="true" type="xs:string"/>


		       </xs:sequence>


	     </xs:complexType>


	     <xs:complexType name="mo_attributes_Type">


		       <xs:sequence>


			         <xs:element maxOccurs="unbounded" minOccurs="0" name="mo_attributes" type="mo_attributes"/>


		       </xs:sequence>


	     </xs:complexType>


	     <xs:complexType name="mo_attributes">


		       <xs:sequence>


			         <xs:element minOccurs="0" name="order" nillable="true" type="xs:string"/>


			         <xs:element minOccurs="0" name="mo_attribute_name" nillable="true" type="xs:string"/>


			         <xs:element minOccurs="0" name="mo_attribute_value_old" nillable="true" type="xs:string"/>


			         <xs:element minOccurs="0" name="mo_attribute_value_new" nillable="true" type="xs:string"/>


		       </xs:sequence>


	     </xs:complexType>


   </xs:schema>
 </wsdl:types>

   <wsdl:message name="ARAuthenticate">

      <wsdl:part element="s:AuthenticationInfo" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="CreateSoapOut">

      <wsdl:part element="s:CreateResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="CreateSoapIn">

      <wsdl:part element="s:Create" name="parameters"/>

   </wsdl:message>

   <wsdl:portType name="B2B_Proactive_CustomerServiceRequestPortType">

      <wsdl:operation name="Create">

         <wsdl:input message="s:CreateSoapIn"/>

         <wsdl:output message="s:CreateSoapOut"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="B2B_Proactive_CustomerServiceRequestSoapBinding" type="s:B2B_Proactive_CustomerServiceRequestPortType">

      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="Create">

         <soap:operation soapAction="urn:B2B_Proactive_CustomerServiceRequest/Create" style="document"/>

         <wsdl:input>

            <soap:header message="s:ARAuthenticate" part="parameters" use="literal">

            </soap:header>

            <soap:body use="literal"/>

         </wsdl:input>

         <wsdl:output>

            <soap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="B2B_Proactive_CustomerServiceRequestService">

      <wsdl:port binding="s:B2B_Proactive_CustomerServiceRequestSoapBinding" name="B2B_Proactive_CustomerServiceRequestSoap">

         <soap:address location="http://manlab9/arsys/services/ARService?server=manlab9&amp;webService=B2B_Proactive_CustomerServiceRequest"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>

