EDTAdapter/XSDSchemas/KanvasServices/Request/GetServerName.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.kpn.com/fixed/kanvasservices/request/GetServerName.xsd"
	 targetNamespace = "http://xmlns.kpn.com/fixed/kanvasservices/request/GetServerName.xsd"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified"
	 attributeFormDefault = "qualified">
	<xsd:element name = "GetServerName">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name = "AREA_CODE" type = "xsd:string" minOccurs = "0"/>
				<xsd:element name = "SERVICE_ID" type = "xsd:string" minOccurs = "0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>