IKKAdapter/XSDSchemas/PIOAdapter/Response/ReportRevenueAvailability.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.kpn.com/fixed/PIOAdapter/Response/ReportRevenueAvailibility.xsd"
	 targetNamespace = "http://xmlns.kpn.com/fixed/PIOAdapter/Response/ReportRevenueAvailibility.xsd"
	 xmlns:Base.xsd = "http://xmlns.kpn.com/common/cdm/Base.xsd"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 xmlns:ResultStatus.xsd = "http://xmlns.kpn.com/common/cdm/ResultStatus.xsd"
	 elementFormDefault = "qualified">
	<xsd:import namespace = "http://xmlns.kpn.com/common/cdm/Base.xsd" schemaLocation = "../../Common/Base.xsd"/>
	<xsd:import namespace = "http://xmlns.kpn.com/common/cdm/ResultStatus.xsd" schemaLocation = "../../Common/ResultStatus.xsd"/>
	<xsd:element name = "ReportCustomerAvailibility">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base = "Base.xsd:Base">
					<xsd:sequence>
						<xsd:element name = "RESULT_STATUS" type = "ResultStatus.xsd:ResultStatus"/>
						<xsd:element name = "PERIOD" minOccurs = "0" maxOccurs = "unbounded">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name = "YEAR" type = "xsd:string" minOccurs = "0"/>
									<xsd:element name = "QUARTER" type = "xsd:string" minOccurs = "0"/>
									<xsd:element name = "MONTH" type = "xsd:string" minOccurs = "0"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>