IKKAdapter/XSDSchemas/UtilityServices/Response/ConvertKas2PhoneNumber.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.kpn.com/fixed/UtilityServices/response/ConvertKas2PhoneNumber.xsd"
	 targetNamespace = "http://xmlns.kpn.com/fixed/UtilityServices/response/ConvertKas2PhoneNumber.xsd"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified"
	 attributeFormDefault = "qualified">
	<xsd:element name = "ConvertKas2PhoneNumber">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name = "RESULT" type = "RESULT"/>
				<xsd:element name = "PHONE_NUMBER" type = "PHONE_NUMBER" minOccurs = "0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:simpleType name = "RESULT">
		<xsd:restriction base = "xsd:string">
			<xsd:enumeration value = "OK"/>
			<xsd:enumeration value = "NO DATA"/>
			<xsd:enumeration value = "INVALID DATA"/>
			<xsd:enumeration value = "UNKNOWN AREA_CODE, ASSUMED 3 DIGITS"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name = "phoneNumberAreaCode">
		<xsd:restriction base = "xsd:string">
			<xsd:maxLength value = "5"/>
			<xsd:minLength value = "2"/>
			<xsd:pattern value = "[0-9]+"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name = "phoneNumberSubscriberNumber">
		<xsd:restriction base = "xsd:string">
			<xsd:maxLength value = "8"/>
			<xsd:minLength value = "5"/>
			<xsd:pattern value = "[0-9]+"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name = "PHONE_NUMBER">
		<xsd:sequence>
			<xsd:element name = "COUNTRY_CODE" type = "xsd:string" fixed = "31"/>
			<xsd:element name = "AREA_CODE" type = "phoneNumberAreaCode"/>
			<xsd:element name = "SUBSCRIBER_NUMBER" type = "phoneNumberSubscriberNumber"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>