GenericOrderGateway/XSDSchemas/GenericOrderGateway/Imported/Common/Base.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.kpn.com/common/cdm/Base.xsd"
	 targetNamespace = "http://xmlns.kpn.com/common/cdm/Base.xsd"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 version = "1.1"
	 elementFormDefault = "qualified"
	 attributeFormDefault = "qualified">
	<xsd:complexType name = "Base">
		<xsd:sequence>
			<xsd:element name = "CMH" type = "CMHInfo"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name = "CMHInfo">
		<xsd:sequence>
		<!-- ID refers to the Interface ID = requirement number. 
			For most interfaces the IID remains constant during the entire flow. 
			For publish-subscribe, one-to-many interfaces, the IID will be 
			re-set by the functional module that branches off to another 
			subscribing data-flow. -->
			<xsd:element name = "ID" type = "xsd:string"/>
		<!-- NAME refers to the Service Name, e.g. FindCustomer. -->
			<xsd:element name = "NAME" type = "xsd:string"/>
		<!-- FID refers to a functional identifier, e.g. Order #, or 
			CKR ID which can link the message to the users in the Error 
			Logging module. I.e. the user can call and say I miss order 
			# 123454, and the EAI operator can immediately find the related data. -->
			<xsd:element name = "FID" type = "xsd:string" minOccurs = "0"/>
		<!-- MID refers to the Functional Module ID. The functional 
			module is a part of a physical component that performs a functional 
			task for an interface, e.g. 001.10: call the GetCustomer service 
			from the KSD ExpertDesk adapter. In the Error-logging MID links the 
			operator back to the design documentation and to which service and 
			component were used. -->
			<xsd:element name = "MID" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "PARADIGM" type = "xsd:string"/>
			<xsd:element name = "OBJECT" type = "xsd:string"/>
			<xsd:element name = "VERSION" type = "xsd:string"/>
			<xsd:element name = "FROM" type = "FromInfo"/>
			<xsd:element name = "TO" type = "ToInfo"/>
			<xsd:element name = "TRACKING" type = "TrackingInfo" minOccurs = "0"/>
			<xsd:element name = "ATTRIBUTE" type = "Attribute" minOccurs = "0" maxOccurs = "unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name = "FromInfo">
		<xsd:attribute name = "COMPONENT_ID" use = "required" type = "xsd:string"/>
		<xsd:attribute name = "COMPONENT_VERSION" type = "xsd:string"/>
		<xsd:attribute name = "END_USER_INFO" type = "xsd:string"/>
		<xsd:attribute name = "SOURCE_ADDRESS" type = "xsd:string"/>
	</xsd:complexType>
	<xsd:complexType name = "ToInfo">
		<xsd:attribute name = "DESTINATION" use = "required" type = "xsd:string"/>
	</xsd:complexType>
	<xsd:complexType name = "TrackingInfo">
		<xsd:sequence>
			<xsd:element name = "MESSAGE_ID" type = "xsd:string"/>
			<xsd:element name = "EXTERNAL_REF" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "ITEM" type = "ItemType" minOccurs = "0" maxOccurs = "unbounded"/>
			<xsd:element name = "SEQUENCE_NO" type = "xsd:string" minOccurs = "0" maxOccurs = "unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name = "ItemType">
		<xsd:attribute name = "APPINFO" use = "required" type = "xsd:string"/>
		<xsd:attribute name = "EVENT" use = "required" type = "xsd:string"/>
		<xsd:attribute name = "TIMESTAMP" use = "required" type = "xsd:long"/>
	</xsd:complexType>
	<xsd:complexType name = "Attribute">
		<xsd:attribute name = "NAME" use = "required" type = "xsd:string"/>
		<xsd:attribute name = "VALUE" use = "required" type = "xsd:string"/>
	</xsd:complexType>
</xsd:schema>