GenericSOAPGateway/XSDSchemas/GenericSOAPGateway/Response/0027_GetDistrictCode_1.0_Response_EAI_BUS_SIDE.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://xmlns.kpn.com/EAI/fixed/0027_GetDistrictCode/1.0/Response" targetNamespace="http://xmlns.kpn.com/EAI/fixed/0027_GetDistrictCode/1.0/Response" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="BODY">
    <xs:annotation>
      <xs:documentation>This is the BODY object for KPN EAI service number 0027 - GetDistrictCode version 1.0 Response message.</xs:documentation>
      <xs:documentation>Automatically generated schema for service:'GetDistrictCode', version:'1.0'</xs:documentation>
      <xs:documentation>Generated on 2007-03-23 13:11:36Z</xs:documentation>
      <xs:documentation>Service paradigm is intended to be Request/Response</xs:documentation>
      <xs:documentation>Service ID is:'0027'</xs:documentation>
      <xs:documentation>The body must always have MinOccurs=0 and MaxOccurs=1, by definition of KPN EAI AG. (For request messages this has no apparent benefit)</xs:documentation>
      <xs:documentation>KPN EAI message body class.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:annotation>
          <xs:documentation>Artificial sequence to separate.</xs:documentation>
        </xs:annotation>
        <xs:element minOccurs="0" maxOccurs="1" name="TELECOM_DISTRICT_CODE" type="xs:string">
          <xs:annotation>
            <xs:documentation>Default (autogenerated) min and max occurs values.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="1" name="USED_APPROACH" type="xs:string">
          <xs:annotation>
            <xs:documentation>Default (autogenerated) min and max occurs values.</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>