GenericSOAPGateway/XSDSchemas/GenericSOAPGateway/Response/0038_GetLineFacilities_1.0_Response_EAI_BUS_SIDE.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://xmlns.kpn.com/EAI/fixed/0038_GetLineFacilities/1.0/Response" targetNamespace="http://xmlns.kpn.com/EAI/fixed/0038_GetLineFacilities/1.0/Response" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="BODY">
    <xs:annotation>
      <xs:documentation>This is the BODY object for KPN EAI service number 0038 - GetLineFacilities version 1.0 Response message.</xs:documentation>
      <xs:documentation>Automatically generated schema for service:'GetLineFacilities', version:'1.0'</xs:documentation>
      <xs:documentation>Generated on 2007-03-23 13:11:36Z</xs:documentation>
      <xs:documentation>Service paradigm is intended to be Request/Response</xs:documentation>
      <xs:documentation>Service ID is:'0038'</xs:documentation>
      <xs:documentation>The body must always have MinOccurs=0 and MaxOccurs=1, by definition of KPN EAI AG. (For request messages this has no apparent benefit)</xs:documentation>
      <xs:documentation>KPN EAI message body class.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:annotation>
          <xs:documentation>Artificial sequence to separate.</xs:documentation>
        </xs:annotation>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="LINE_FACILITY">
          <xs:complexType>
            <xs:sequence>
              <xs:annotation>
                <xs:documentation>Artificial sequence to separate.</xs:documentation>
              </xs:annotation>
              <xs:element minOccurs="0" maxOccurs="1" name="FACILITY_CODE" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="DESCRIPTION" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="STATUS" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="1" name="NUMBER_OF_FACILITIES" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>