GenericSOAPGateway/XSDSchemas/GenericSOAPGateway/Response/0041_GetDlcPortReference_1.0_Response_EAI_BUS_SIDE.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://xmlns.kpn.com/EAI/fixed/0041_GetDlcPortReference/1.0/Response" targetNamespace="http://xmlns.kpn.com/EAI/fixed/0041_GetDlcPortReference/1.0/Response" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="BODY">
    <xs:annotation>
      <xs:documentation>This is the BODY object for KPN EAI service number 0041 - GetDlcPortReference version 1.0 Response message.</xs:documentation>
      <xs:documentation>Automatically generated schema for service:'GetDlcPortReference', version:'1.0'</xs:documentation>
      <xs:documentation>Generated on 2007-04-16 18:09:11Z</xs:documentation>
      <xs:documentation>Service paradigm is intended to be Request/Response</xs:documentation>
      <xs:documentation>Service ID is:'0041'</xs:documentation>
      <xs:documentation>The body must always have MinOccurs=0 and MaxOccurs=1, by definition of KPN EAI AG. (For request messages this has no apparent benefit)</xs:documentation>
      <xs:documentation>KPN EAI message body class.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:annotation>
          <xs:documentation>Artificial sequence to separate.</xs:documentation>
        </xs:annotation>
        <xs:element minOccurs="0" maxOccurs="1" name="NODE">
          <xs:complexType>
            <xs:sequence>
              <xs:annotation>
                <xs:documentation>Artificial sequence to separate.</xs:documentation>
              </xs:annotation>
              <xs:element minOccurs="0" maxOccurs="1" name="LOGICAL_PORT">
                <xs:complexType>
                  <xs:sequence>
                    <xs:annotation>
                      <xs:documentation>Artificial sequence to separate.</xs:documentation>
                    </xs:annotation>
                    <xs:element minOccurs="0" maxOccurs="1" name="EXTERNAL_REFERENCE">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:annotation>
                            <xs:documentation>Artificial sequence to separate.</xs:documentation>
                          </xs:annotation>
                          <xs:element minOccurs="0" maxOccurs="1" name="REFERENCE" type="xs:string" />
                          <xs:element minOccurs="0" maxOccurs="1" name="REFERER" type="xs:string">
                            <xs:annotation>
                              <xs:documentation>A constant value that specifies that the reference returned has meaning in the context of the 4-tel application. It is filled in by the adapter.</xs:documentation>
                              <xs:documentation>Default (autogenerated) min and max occurs values.</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="1" name="EXTERNAL_REFERENCE">
                <xs:complexType>
                  <xs:sequence>
                    <xs:annotation>
                      <xs:documentation>Artificial sequence to separate.</xs:documentation>
                    </xs:annotation>
                    <xs:element minOccurs="0" maxOccurs="1" name="REFERENCE" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>3 digit string</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="REFERER" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>A constant value that specifies that the reference returned has meaning in the context of the 4-tel application. It is filled in by the adapter.</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>