GenericSOAPGateway/XSDSchemas/GenericSOAPGateway/Response/0043_GetDirectDialBlocks_1.0_Response_EAI_BUS_SIDE.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://xmlns.kpn.com/EAI/fixed/0043_GetDirectDialBlocks/1.0/Response" targetNamespace="http://xmlns.kpn.com/EAI/fixed/0043_GetDirectDialBlocks/1.0/Response" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="phoneNumberSubscriberNumber_type">
    <xs:restriction base="xs:string">
      <xs:whiteSpace value="collapse" />
      <xs:minLength value="1" />
      <xs:maxLength value="15" />
      <xs:pattern value="\d+" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="BODY">
    <xs:annotation>
      <xs:documentation>This is the BODY object for KPN EAI service number 0043 - GetDirectDialBlocks version 1.0 Response message.</xs:documentation>
      <xs:documentation>Automatically generated schema for service:'GetDirectDialBlocks', version:'1.0'</xs:documentation>
      <xs:documentation>Generated on 2007-04-16 18:06:25Z</xs:documentation>
      <xs:documentation>Service paradigm is intended to be Request/Response</xs:documentation>
      <xs:documentation>Service ID is:'0043'</xs:documentation>
      <xs:documentation>The body must always have MinOccurs=0 and MaxOccurs=1, by definition of KPN EAI AG. (For request messages this has no apparent benefit)</xs:documentation>
      <xs:documentation>KPN EAI message body class.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:annotation>
          <xs:documentation>Artificial sequence to separate.</xs:documentation>
        </xs:annotation>
        <xs:element minOccurs="0" maxOccurs="10" name="DIRECT_DIAL_BLOCK">
          <xs:complexType>
            <xs:sequence>
              <xs:annotation>
                <xs:documentation>Artificial sequence to separate.</xs:documentation>
              </xs:annotation>
              <xs:element minOccurs="0" maxOccurs="1" name="DIRECT_DIAL_BLOCK" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="HIGHEST_RELEASED_NUMBER" type="tns:phoneNumberSubscriberNumber_type" />
              <xs:element minOccurs="0" maxOccurs="1" name="USAGE_STATUS" type="xs:string">
                <xs:annotation>
                  <xs:documentation>{empty} - unknown
"0" - Reserved
"1" - In use
"2" - Reserved for cancellation</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="1" name="USAGE_STATUS_EXTENSION" type="xs:string">
                <xs:annotation>
                  <xs:documentation>{empty} - unknown
"01" - Inport from other provider
"02" - Outport to other provider</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="1" name="PORTING_STATUS" type="xs:string">
                <xs:annotation>
                  <xs:documentation>{empty} - unknown
"0" - Reserved
"1" - In use
"2" - Reserved for cancellation</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="1" name="SWITCHING_FLAG" type="xs:string">
                <xs:annotation>
                  <xs:documentation>"J" - Dialblock is assigned to a PBX.
"N" - Dialblock is not assigned to a PBX.
</xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="1" name="NUMBER_OF_DIRECT_DIAL_BLOCKS" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>