GenericSOAPGateway/XSDSchemas/GenericSOAPGateway/Response/0044_GetDpmbsIsdn2_1.0_Response_EAI_BUS_SIDE.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://xmlns.kpn.com/EAI/fixed/0044_GetDpmbsIsdn2/1.0/Response" targetNamespace="http://xmlns.kpn.com/EAI/fixed/0044_GetDpmbsIsdn2/1.0/Response" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="phoneNumberSubscriberNumber_type">
    <xs:restriction base="xs:string">
      <xs:whiteSpace value="collapse" />
      <xs:minLength value="1" />
      <xs:maxLength value="15" />
      <xs:pattern value="\d+" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="phoneNumberAreaCode_type">
    <xs:restriction base="xs:string">
      <xs:maxLength value="5" />
      <xs:pattern value="\d*" />
      <xs:whiteSpace value="collapse" />
      <xs:minLength value="0" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="BODY">
    <xs:annotation>
      <xs:documentation>This is the BODY object for KPN EAI service number 0044 - GetDpmbsIsdn2 version 1.0 Response message.</xs:documentation>
      <xs:documentation>Automatically generated schema for service:'GetDpmbsIsdn2', version:'1.0'</xs:documentation>
      <xs:documentation>Generated on 2007-05-23 15:15:14Z</xs:documentation>
      <xs:documentation>Service paradigm is intended to be Request/Response</xs:documentation>
      <xs:documentation>Service ID is:'0044'</xs:documentation>
      <xs:documentation>The body must always have MinOccurs=0 and MaxOccurs=1, by definition of KPN EAI AG. (For request messages this has no apparent benefit)</xs:documentation>
      <xs:documentation>KPN EAI message body class.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:annotation>
          <xs:documentation>Artificial sequence to separate.</xs:documentation>
        </xs:annotation>
        <xs:element minOccurs="0" maxOccurs="8" name="DPMBS_ISDN2_DETAILS">
          <xs:complexType>
            <xs:sequence>
              <xs:annotation>
                <xs:documentation>Artificial sequence to separate.</xs:documentation>
              </xs:annotation>
              <xs:element minOccurs="1" maxOccurs="1" name="BD_GROUP">
                <xs:complexType>
                  <xs:sequence>
                    <xs:annotation>
                      <xs:documentation>Artificial sequence to separate.</xs:documentation>
                    </xs:annotation>
                    <xs:element minOccurs="1" maxOccurs="1" name="BD_MEMBER">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:annotation>
                            <xs:documentation>Artificial sequence to separate.</xs:documentation>
                          </xs:annotation>
                          <xs:element minOccurs="0" maxOccurs="1" name="BD_MEMBER_NUMBER" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="BD_GROUP_NUMBER" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="1" maxOccurs="1" name="TRUNK">
                <xs:complexType>
                  <xs:sequence>
                    <xs:annotation>
                      <xs:documentation>Artificial sequence to separate.</xs:documentation>
                    </xs:annotation>
                    <xs:element minOccurs="0" maxOccurs="1" name="TRUNK_GROUP_ID" type="xs:string" />
                    <xs:element minOccurs="0" maxOccurs="1" name="TRUNK_ID" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="1" name="PHONENUMBER_TYPE" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="CURRENT_SUBSCRIBER_NUMBER" type="tns:phoneNumberSubscriberNumber_type" />
              <xs:element minOccurs="0" maxOccurs="1" name="FUTURE_SUBSCRIBER_NUMBER" type="tns:phoneNumberSubscriberNumber_type" />
              <xs:element minOccurs="0" maxOccurs="1" name="STATUS" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="DMB_LINK_ID" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="TIME_SLOT" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="DLCI_NUMBER" type="xs:string">
                <xs:annotation>
                  <xs:documentation>Data Link Connection Identifier Number</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="1" name="TEI_NUMBER" type="xs:string">
                <xs:annotation>
                  <xs:documentation>Terminal Endpoint Identifier Number</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="1" name="TEI_STATUS" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="SERVICE_TYPE" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="DPMBS_TYPE" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="BD_SEQUENCE_NUMBER" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="1" name="OPERATOR">
          <xs:complexType>
            <xs:sequence>
              <xs:annotation>
                <xs:documentation>Artificial sequence to separate.</xs:documentation>
              </xs:annotation>
              <xs:element minOccurs="0" maxOccurs="1" name="PHONENUMBER">
                <xs:complexType>
                  <xs:sequence>
                    <xs:annotation>
                      <xs:documentation>Artificial sequence to separate.</xs:documentation>
                    </xs:annotation>
                    <xs:element minOccurs="0" maxOccurs="1" name="AREA_CODE" type="tns:phoneNumberAreaCode_type" />
                    <xs:element minOccurs="0" maxOccurs="1" name="SUBSCRIBER_NUMBER" type="tns:phoneNumberSubscriberNumber_type" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="1" name="OPERATOR_CODE" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="OPERATOR_NAME" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="X25_CONNECTION_TEST_NUMBER" type="xs:string">
                <xs:annotation>
                  <xs:documentation>Number provided by the operator to test the connection.</xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="1" name="NUMBER_OF_PHONENUMBERS" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="RSM_NUMBER" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="ROUTING_TYPE" type="xs:string">
          <xs:annotation>
            <xs:documentation>Indicates the type of routing for the line, 
"VD" indicates that the line is used for Voice over Dsl and that the routing is packet-switched, 
"KL" indicates the classical form of switched 'routing'.</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>