GenericSOAPGateway/XSDSchemas/GenericSOAPGateway/Response/0045_GetPbxFacilities_1.0_Response_EAI_BUS_SIDE.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://xmlns.kpn.com/EAI/fixed/0045_GetPbxFacilities/1.0/Response" targetNamespace="http://xmlns.kpn.com/EAI/fixed/0045_GetPbxFacilities/1.0/Response" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="BODY">
    <xs:annotation>
      <xs:documentation>This is the BODY object for KPN EAI service number 0045 - GetPbxFacilities version 1.0 Response message.</xs:documentation>
      <xs:documentation>Automatically generated schema for service:'GetPbxFacilities', version:'1.0'</xs:documentation>
      <xs:documentation>Generated on 2007-04-12 16:05:59Z</xs:documentation>
      <xs:documentation>Service paradigm is intended to be Request/Response</xs:documentation>
      <xs:documentation>Service ID is:'0045'</xs:documentation>
      <xs:documentation>The body must always have MinOccurs=0 and MaxOccurs=1, by definition of KPN EAI AG. (For request messages this has no apparent benefit)</xs:documentation>
      <xs:documentation>KPN EAI message body class.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:annotation>
          <xs:documentation>Artificial sequence to separate.</xs:documentation>
        </xs:annotation>
        <xs:element minOccurs="0" maxOccurs="4" name="PBX_GROUP_FACILITY">
          <xs:complexType>
            <xs:sequence>
              <xs:annotation>
                <xs:documentation>Artificial sequence to separate.</xs:documentation>
              </xs:annotation>
              <xs:element minOccurs="0" maxOccurs="1" name="PBX">
                <xs:complexType>
                  <xs:sequence>
                    <xs:annotation>
                      <xs:documentation>Artificial sequence to separate.</xs:documentation>
                    </xs:annotation>
                    <xs:element minOccurs="0" maxOccurs="1" name="GROUP_NUMBER" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="1" name="FACILITY_CODE" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="DESCRIPTION" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="STATUS" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="1" name="NUMBER_OF_PBX_GROUP_FACILITIES" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>