GenericSOAPGateway/XSDSchemas/GenericSOAPGateway/Response/0047_GetPbxLines_1.0_Response_EAI_BUS_SIDE.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://xmlns.kpn.com/EAI/fixed/0047_GetPbxLines/1.0/Response" targetNamespace="http://xmlns.kpn.com/EAI/fixed/0047_GetPbxLines/1.0/Response" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="lineShortName_type">
    <xs:restriction base="xs:string">
      <xs:annotation>
        <xs:documentation>Field size limitation copied from API definition as EAI side had no limitation.</xs:documentation>
      </xs:annotation>
      <xs:maxLength value="8" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="portId_type">
    <xs:restriction base="xs:string">
      <xs:maxLength value="11" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="phoneNumberSubscriberNumber_type">
    <xs:restriction base="xs:string">
      <xs:whiteSpace value="collapse" />
      <xs:minLength value="1" />
      <xs:maxLength value="15" />
      <xs:pattern value="\d+" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="BODY">
    <xs:annotation>
      <xs:documentation>This is the BODY object for KPN EAI service number 0047 - GetPbxLines version 1.0 Response message.</xs:documentation>
      <xs:documentation>Automatically generated schema for service:'GetPbxLines', version:'1.0'</xs:documentation>
      <xs:documentation>Generated on 2007-04-20 10:11:08Z</xs:documentation>
      <xs:documentation>Service paradigm is intended to be Request/Response</xs:documentation>
      <xs:documentation>Service ID is:'0047'</xs:documentation>
      <xs:documentation>The body must always have MinOccurs=0 and MaxOccurs=1, by definition of KPN EAI AG. (For request messages this has no apparent benefit)</xs:documentation>
      <xs:documentation>KPN EAI message body class.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:annotation>
          <xs:documentation>Artificial sequence to separate.</xs:documentation>
        </xs:annotation>
        <xs:element minOccurs="0" maxOccurs="20" name="LINE">
          <xs:complexType>
            <xs:sequence>
              <xs:annotation>
                <xs:documentation>Artificial sequence to separate.</xs:documentation>
              </xs:annotation>
              <xs:element minOccurs="0" maxOccurs="1" name="CURRENT_LINE">
                <xs:complexType>
                  <xs:sequence>
                    <xs:annotation>
                      <xs:documentation>Artificial sequence to separate.</xs:documentation>
                    </xs:annotation>
                    <xs:element minOccurs="0" maxOccurs="1" name="PORT">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:annotation>
                            <xs:documentation>Artificial sequence to separate.</xs:documentation>
                          </xs:annotation>
                          <xs:element minOccurs="0" maxOccurs="1" name="PORT_EQUIPMENT_CODE" type="xs:string" />
                          <xs:element minOccurs="0" maxOccurs="1" name="PORT_EQUIPMENT_TYPE" type="xs:string" />
                          <xs:element minOccurs="0" maxOccurs="1" name="PORT_ID" type="tns:portId_type" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="PHONE_NUMBER">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:annotation>
                            <xs:documentation>Artificial sequence to separate.</xs:documentation>
                          </xs:annotation>
                          <xs:element minOccurs="0" maxOccurs="1" name="SUBSCRIBER_NUMBER" type="tns:phoneNumberSubscriberNumber_type" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="CHANNEL_NUMBER" type="xs:string" />
                    <xs:element minOccurs="0" maxOccurs="1" name="USAGE_STATUS" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>"1" - In Use
"2" - Reserved for cancelation</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="USAGE_STATUS_EXTENSION" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>{empty} - unknown
"01" - In Port from other operator
"02" - OutPort to other operatoe
"03" - Port modification/change
"04" - Number change
"05" - sub-number modification
"06" - sub-number change</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="SHORT_NAME" type="tns:lineShortName_type" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="1" name="FUTURE_LINE">
                <xs:complexType>
                  <xs:sequence>
                    <xs:annotation>
                      <xs:documentation>Artificial sequence to separate.</xs:documentation>
                    </xs:annotation>
                    <xs:element minOccurs="0" maxOccurs="1" name="PORT">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:annotation>
                            <xs:documentation>Artificial sequence to separate.</xs:documentation>
                          </xs:annotation>
                          <xs:element minOccurs="0" maxOccurs="1" name="PORT_EQUIPMENT_CODE" type="xs:string" />
                          <xs:element minOccurs="0" maxOccurs="1" name="PORT_EQUIPMENT_TYPE" type="xs:string" />
                          <xs:element minOccurs="0" maxOccurs="1" name="PORT_ID" type="tns:portId_type" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="PHONE_NUMBER">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:annotation>
                            <xs:documentation>Artificial sequence to separate.</xs:documentation>
                          </xs:annotation>
                          <xs:element minOccurs="0" maxOccurs="1" name="SUBSCRIBER_NUMBER" type="tns:phoneNumberSubscriberNumber_type" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="CHANNEL_NUMBER" type="xs:string" />
                    <xs:element minOccurs="0" maxOccurs="1" name="USAGE_STATUS" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>{empty} - unknown
"0" - Reserved</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="USAGE_STATUS_EXTENSION" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>{empty} - unknown
"01" - In Port from other operator
"02" - OutPort to other operatoe
"03" - Port modification/change
"04" - Number change
"05" - sub-number modification
"06" - sub-number change</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="SHORT_NAME" type="tns:lineShortName_type" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="1" name="PBX">
                <xs:complexType>
                  <xs:sequence>
                    <xs:annotation>
                      <xs:documentation>Artificial sequence to separate.</xs:documentation>
                    </xs:annotation>
                    <xs:element minOccurs="0" maxOccurs="1" name="GROUP_NUMBER" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="1" name="NUMBER" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="1" name="NUMBER_OF_LINES" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="ROUTING_TYPE" type="xs:string">
          <xs:annotation>
            <xs:documentation>Indicates the type of routing for the line, 
"VD" indicates that the line is used for Voice over Dsl and that the routing is packet-switched, 
"KL" indicates the classical form of switched 'routing'.</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>