GenericSOAPGateway/XSDSchemas/GenericSOAPGateway/Response/0048_GetLeasedLineDetails_1.0_Response_EAI_BUS_SIDE.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://xmlns.kpn.com/EAI/fixed/0048_GetLeasedLineDetails/1.0/Response" targetNamespace="http://xmlns.kpn.com/EAI/fixed/0048_GetLeasedLineDetails/1.0/Response" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="dutchPostcodeNumbers_type">
    <xs:restriction base="xs:string">
      <xs:pattern value="\d{4}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="dutchPostcodeLetters_type">
    <xs:restriction base="xs:string">
      <xs:pattern value="[a-zA-Z]{2}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="houseNumber_type">
    <xs:restriction base="xs:string">
      <xs:maxLength value="5" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="houseNumberExtension_type">
    <xs:restriction base="xs:string">
      <xs:maxLength value="6" />
      <xs:minLength value="0" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="portId_type">
    <xs:restriction base="xs:string">
      <xs:maxLength value="11" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="BODY">
    <xs:annotation>
      <xs:documentation>This is the BODY object for KPN EAI service number 0048 - GetLeasedLineDetails version 1.0 Response message.</xs:documentation>
      <xs:documentation>Automatically generated schema for service:'GetLeasedLineDetails', version:'1.0'</xs:documentation>
      <xs:documentation>Generated on 2007-03-23 16:59:46Z</xs:documentation>
      <xs:documentation>Service paradigm is intended to be Request/Response</xs:documentation>
      <xs:documentation>Service ID is:'0048'</xs:documentation>
      <xs:documentation>The body must always have MinOccurs=0 and MaxOccurs=1, by definition of KPN EAI AG. (For request messages this has no apparent benefit)</xs:documentation>
      <xs:documentation>KPN EAI message body class.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:annotation>
          <xs:documentation>Artificial sequence to separate.</xs:documentation>
        </xs:annotation>
        <xs:element minOccurs="0" maxOccurs="4" name="LINE">
          <xs:complexType>
            <xs:sequence>
              <xs:annotation>
                <xs:documentation>Artificial sequence to separate.</xs:documentation>
              </xs:annotation>
              <xs:element minOccurs="0" maxOccurs="1" name="PROPERTYADDRESS">
                <xs:complexType>
                  <xs:sequence>
                    <xs:annotation>
                      <xs:documentation>Artificial sequence to separate.</xs:documentation>
                    </xs:annotation>
                    <xs:element minOccurs="0" maxOccurs="1" name="DUTCH_POSTCODE_NUMBERS" type="tns:dutchPostcodeNumbers_type" />
                    <xs:element minOccurs="0" maxOccurs="1" name="DUTCH_POSTCODE_LETTERS" type="tns:dutchPostcodeLetters_type" />
                    <xs:element minOccurs="0" maxOccurs="1" name="HOUSE_NUMBER" type="tns:houseNumber_type" />
                    <xs:element minOccurs="0" maxOccurs="1" name="HOUSE_NUMBER_EXTENSION" type="tns:houseNumberExtension_type" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="1" name="LINE_STATUS" type="xs:string">
                <xs:annotation>
                  <xs:documentation>VRY : Verbinding van huisadres tot de kabelverdeler.
VA : Voorbereide Aansluiting. Verbinding van huisadres tot de hoofdverdeler.
RVA : Reservering aanleg Voorbereide Aansluiting
OVA : Opheffing Voorbereide Aansluiting
VVA : Volledig Voorbereide Aansluiting. Verbinding van huisadres tot de poort.
RVV : Reservering aanleg van een VVA
OVV : Opheffing VVA 
VMA : Volledig  MDF-A aansluiting. Verbinding van huisadres tot SIP
RMA : Reservering MDF-A aansluiting.
OMA : Opheffing MDF-A aansluiting.
VSA : Volledige SDF-A aansluiting.
RSA : Reservering SDF-A aansluiting.
OSA : Opheffing SDF-A aansluiting.</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="1" name="INVOERKABEL_SEQUENCE_NUMBER" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="DIKADER_NUMBER" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="INFRA_PROVIDER_SHORT_NAME" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="1" name="PORT">
          <xs:complexType>
            <xs:sequence>
              <xs:annotation>
                <xs:documentation>Artificial sequence to separate.</xs:documentation>
              </xs:annotation>
              <xs:element minOccurs="0" maxOccurs="1" name="PORT_EQUIPMENT_CODE" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="PORT_EQUIPMENT_TYPE" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="PORT_ID" type="tns:portId_type" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="1" name="TTP_A_SIDE">
          <xs:complexType>
            <xs:sequence>
              <xs:annotation>
                <xs:documentation>Artificial sequence to separate.</xs:documentation>
              </xs:annotation>
              <xs:element minOccurs="0" maxOccurs="1" name="NAME" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="NAME_EXTENSION" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="1" name="TTP_B_SIDE">
          <xs:complexType>
            <xs:sequence>
              <xs:annotation>
                <xs:documentation>Artificial sequence to separate.</xs:documentation>
              </xs:annotation>
              <xs:element minOccurs="0" maxOccurs="1" name="NAME" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="NAME_EXTENSION" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="1" name="FUNCTION" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="LINE_NAME_EXTENSION" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="LINE_QUALITY" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="SEQUENCE_NUMBER" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="NUMBER_OF_LINES" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>