GenericSOAPGateway/XSDSchemas/GenericSOAPGateway/Response/0049_GetCtpLineDetails_1.0_Response_EAI_BUS_SIDE.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://xmlns.kpn.com/EAI/fixed/0049_GetCtpLineDetails/1.0/Response" targetNamespace="http://xmlns.kpn.com/EAI/fixed/0049_GetCtpLineDetails/1.0/Response" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="centralAreaCode_type">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{6}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="telecomRegionCode_type">
    <xs:restriction base="xs:string">
      <xs:annotation>
        <xs:documentation>DEFINITIONS:
KPN has divided the Netherlands into telecom regions which are (also) defined in the CKR code table this division is depricated, but still widely used within KPN.

TYPE:
String (2) enumerated, numerics

VALUES:
See attached file, under 'Oude Telecomregio's'.

NOTES:
- This attributes uses the numeric code for each region, there is another field that uses the abbreveated text version of the region (telecomRegionCodeName).
- KPN no longer actively uses the regions and has switched to rayons instead. Many systems still depend on the attribute.</xs:documentation>
        <xs:documentation>Default value is:''</xs:documentation>
        <xs:documentation>Size limitation taken from API side, since EAI definition did not have one.</xs:documentation>
      </xs:annotation>
      <xs:maxLength value="2" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="serviceProviderId_type">
    <xs:restriction base="xs:string">
      <xs:maxLength value="6" />
      <xs:minLength value="3" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="phoneNumberSubscriberNumber_type">
    <xs:restriction base="xs:string">
      <xs:whiteSpace value="collapse" />
      <xs:minLength value="1" />
      <xs:maxLength value="15" />
      <xs:pattern value="\d+" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="phoneNumberAreaCode_type">
    <xs:restriction base="xs:string">
      <xs:maxLength value="5" />
      <xs:pattern value="\d*" />
      <xs:whiteSpace value="collapse" />
      <xs:minLength value="0" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="BODY">
    <xs:annotation>
      <xs:documentation>This is the BODY object for KPN EAI service number 0049 - GetCtpLineDetails version 1.0 Response message.</xs:documentation>
      <xs:documentation>Automatically generated schema for service:'GetCtpLineDetails', version:'1.0'</xs:documentation>
      <xs:documentation>Generated on 2007-04-20 10:00:57Z</xs:documentation>
      <xs:documentation>Service paradigm is intended to be Request/Response</xs:documentation>
      <xs:documentation>Service ID is:'0049'</xs:documentation>
      <xs:documentation>The body must always have MinOccurs=0 and MaxOccurs=1, by definition of KPN EAI AG. (For request messages this has no apparent benefit)</xs:documentation>
      <xs:documentation>KPN EAI message body class.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:annotation>
          <xs:documentation>Artificial sequence to separate.</xs:documentation>
        </xs:annotation>
        <xs:element minOccurs="0" maxOccurs="5" name="LINE">
          <xs:complexType>
            <xs:sequence>
              <xs:annotation>
                <xs:documentation>Artificial sequence to separate.</xs:documentation>
              </xs:annotation>
              <xs:element minOccurs="0" maxOccurs="1" name="CURRENT">
                <xs:complexType>
                  <xs:sequence>
                    <xs:annotation>
                      <xs:documentation>Artificial sequence to separate.</xs:documentation>
                    </xs:annotation>
                    <xs:element minOccurs="0" maxOccurs="1" name="PHONE_NUMBER">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:annotation>
                            <xs:documentation>Artificial sequence to separate.</xs:documentation>
                          </xs:annotation>
                          <xs:element minOccurs="0" maxOccurs="1" name="SUBSCRIBER_NUMBER" type="tns:phoneNumberSubscriberNumber_type" />
                          <xs:element minOccurs="0" maxOccurs="1" name="CALL_NUMBER" type="tns:phoneNumberSubscriberNumber_type" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="HOST_ID" type="xs:string" />
                    <xs:element minOccurs="0" maxOccurs="1" name="LINE_SHORT_NAME" type="xs:string" />
                    <xs:element minOccurs="0" maxOccurs="1" name="PORTING_STATUS" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>{empty} - unknown
"0" - Reserved
"1" - InUse
"2" - Reserved for Cancellation</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="QUALITY_CATEGORY" type="xs:string" />
                    <xs:element minOccurs="0" maxOccurs="1" name="ROUTING_TYPE" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>Indicates the type of routing for the line, 
"VD" indicates that the line is used for Voice over Dsl and that the routing is packet-switched, 
"KL" indicates the classical form of switched 'routing'.</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="SERVICE_ID" type="xs:string" />
                    <xs:element minOccurs="0" maxOccurs="1" name="SERVICE_PROVIDER_ID" type="tns:serviceProviderId_type" />
                    <xs:element minOccurs="0" maxOccurs="1" name="SERVICE_TYPE" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>leeg : geen netlijn dienst
TF   : dienst telefonie
VV   : dienst Vaste verbinding
MA  : dienst MDF-Access
SA   : dienst SDF-Access
</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="SERVICE_TYPE_EXTENSION" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>EP - Enkelvoudig PSTN
EI - Enkelvoudig ISDN (categorie A)
MP - Meervoudig PSTN
MI - Meervoudig ISDN
leeg - geen TF dienst</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="USAGE_STATUS" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>{empty} - unknown
"1" - In use
"2" - Reserved for cancellation</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="USAGE_STATUS_EXTENSION" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>{empty} - unknown
"02" - OutPort to other operatoe
"03" - Port modification/change
"04" - Number change
"05" - sub-number modification
"06" - sub-number change
"08" - reserved for technical porting</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="1" name="FUTURE">
                <xs:complexType>
                  <xs:sequence>
                    <xs:annotation>
                      <xs:documentation>Artificial sequence to separate.</xs:documentation>
                    </xs:annotation>
                    <xs:element minOccurs="0" maxOccurs="1" name="PHONE_NUMBER">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:annotation>
                            <xs:documentation>Artificial sequence to separate.</xs:documentation>
                          </xs:annotation>
                          <xs:element minOccurs="0" maxOccurs="1" name="SUBSCRIBER_NUMBER" type="tns:phoneNumberSubscriberNumber_type" />
                          <xs:element minOccurs="0" maxOccurs="1" name="CALL_NUMBER" type="tns:phoneNumberSubscriberNumber_type" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="HOST_ID" type="xs:string" />
                    <xs:element minOccurs="0" maxOccurs="1" name="LINE_SHORT_NAME" type="xs:string" />
                    <xs:element minOccurs="0" maxOccurs="1" name="PORTING_STATUS" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>"0" - Reserved
"1" - InUse
"2" - Reserved for Cancellation</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="QUALITY_CATEGORY" type="xs:string" />
                    <xs:element minOccurs="0" maxOccurs="1" name="ROUTING_TYPE" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>Indicates the type of routing for the line, 
"VD" indicates that the line is used for Voice over Dsl and that the routing is packet-switched, 
"KL" indicates the classical form of switched 'routing'.</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="SERVICE_ID" type="xs:string" />
                    <xs:element minOccurs="0" maxOccurs="1" name="SERVICE_PROVIDER_ID" type="tns:serviceProviderId_type" />
                    <xs:element minOccurs="0" maxOccurs="1" name="SERVICE_TYPE" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>leeg : geen netlijn dienst
TF   : dienst telefonie
VV   : dienst Vaste verbinding
MA  : dienst MDF-Access
SA   : dienst SDF-Access</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="SERVICE_TYPE_EXTENSION" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>EP - Enkelvoudig PSTN
EI - Enkelvoudig ISDN
MP - Meervoudig PSTN
MI - Meervoudig ISDN</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="USAGE_STATUS" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>{empty} - unknown
"0" - Reserved</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="USAGE_STATUS_EXTENSION" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>{empty} - unknown
"01" - In Port from other operator
"08" - reserved for technical porting</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="1" name="LINE_TERMINATION_EQUIPMENT">
                <xs:complexType>
                  <xs:sequence>
                    <xs:annotation>
                      <xs:documentation>Artificial sequence to separate.</xs:documentation>
                    </xs:annotation>
                    <xs:element minOccurs="0" maxOccurs="1" name="USAGE_STATUS" type="xs:string" />
                    <xs:element minOccurs="0" maxOccurs="1" name="EQUIPMENT_CODE" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="1" name="CENTRAL_AREA_CODE" type="tns:centralAreaCode_type" />
              <xs:element minOccurs="0" maxOccurs="1" name="INVOERKABEL_SEQUENCE_NUMBER" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="DIKADER_NUMBER" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="TELECOM_REGION_CODE" type="tns:telecomRegionCode_type" />
              <xs:element minOccurs="0" maxOccurs="1" name="LINE_STATUS" type="xs:string">
                <xs:annotation>
                  <xs:documentation>VRY	:	Verbinding van huisadres tot de kabelverdeler.
VA	:	Voorbereide Aansluiting. Verbinding van huisadres tot de hoofdverdeler.
RVA	:	Reservering aanleg Voorbereide Aansluiting
OVA	:	Reservering opheffing Voorbereide Aansluiting
VVA	:	Volledig Voorbereide Aansluiting. Verbinding van huisadres tot de poort.
RVV	:	Reservering aanleg van een VVA
OVV	:	Opheffing VVA 
VMA	:	Volledig  MDF-A aansluiting. Verbinding van huisadres tot SIP
RMA	:	Reservering MDF-A aansluiting. 
OMA	:	Opheffing MDF-A aansluiting.
VSA	:	Volledige SDF-A aansluiting.
RSA	:	Reservering SDF-A aansluiting.
OSA	:	Opheffing SDF-A aansluiting.</xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="1" name="PHONE_NUMBER">
          <xs:complexType>
            <xs:sequence>
              <xs:annotation>
                <xs:documentation>Artificial sequence to separate.</xs:documentation>
              </xs:annotation>
              <xs:element minOccurs="0" maxOccurs="1" name="AREA_CODE" type="tns:phoneNumberAreaCode_type" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="1" name="NUMBER_OF_LINES" type="xs:string">
          <xs:annotation>
            <xs:documentation>Default (autogenerated) min and max occurs values.</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>