GenericSOAPGateway/XSDSchemas/GenericSOAPGateway/Response/0050_GetSubscriberNumbersSingleConnection_1.1_Response_EAI_BUS_SIDE.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://xmlns.kpn.com/EAI/fixed/0050_GetSubscriberNumbersSingleConnection/1.1/Response" targetNamespace="http://xmlns.kpn.com/EAI/fixed/0050_GetSubscriberNumbersSingleConnection/1.1/Response" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="serviceProviderId_type">
    <xs:restriction base="xs:string">
      <xs:maxLength value="6" />
      <xs:minLength value="3" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="phoneNumberSubscriberNumber_type">
    <xs:restriction base="xs:string">
      <xs:whiteSpace value="collapse" />
      <xs:minLength value="1" />
      <xs:maxLength value="15" />
      <xs:pattern value="\d+" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="BODY">
    <xs:annotation>
      <xs:documentation>This is the BODY object for KPN EAI service number 0050 - GetSubscriberNumbersSingleConnection version 1.1 Response message.</xs:documentation>
      <xs:documentation>Automatically generated schema for service:'GetSubscriberNumbersSingleConnection', version:'1.1'</xs:documentation>
      <xs:documentation>Generated on 2007-04-20 10:12:47Z</xs:documentation>
      <xs:documentation>Service paradigm is intended to be Request/Response</xs:documentation>
      <xs:documentation>Service ID is:'0050'</xs:documentation>
      <xs:documentation>The body must always have MinOccurs=0 and MaxOccurs=1, by definition of KPN EAI AG. (For request messages this has no apparent benefit)</xs:documentation>
      <xs:documentation>KPN EAI message body class.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:annotation>
          <xs:documentation>Artificial sequence to separate.</xs:documentation>
        </xs:annotation>
        <xs:element minOccurs="0" maxOccurs="8" name="SUBSCRIBER_NUMBER">
          <xs:complexType>
            <xs:sequence>
              <xs:annotation>
                <xs:documentation>Artificial sequence to separate.</xs:documentation>
              </xs:annotation>
              <xs:element minOccurs="0" maxOccurs="1" name="CURRENT">
                <xs:complexType>
                  <xs:sequence>
                    <xs:annotation>
                      <xs:documentation>Artificial sequence to separate.</xs:documentation>
                    </xs:annotation>
                    <xs:element minOccurs="0" maxOccurs="1" name="QUALITY_CATEGORY" type="xs:string" />
                    <xs:element minOccurs="0" maxOccurs="1" name="SERVICE_PROVIDER_ID" type="tns:serviceProviderId_type" />
                    <xs:element minOccurs="0" maxOccurs="1" name="SERVICE_ID" type="xs:string" />
                    <xs:element minOccurs="0" maxOccurs="1" name="PORTING_STATUS" type="xs:string" />
                    <xs:element minOccurs="0" maxOccurs="1" name="USAGE_STATUS_EXTENSION" type="xs:string" />
                    <xs:element minOccurs="0" maxOccurs="1" name="USAGE_STATUS" type="xs:string" />
                    <xs:element minOccurs="0" maxOccurs="1" name="SUBSCRIBER_NUMBER" type="tns:phoneNumberSubscriberNumber_type" />
                    <xs:element minOccurs="0" maxOccurs="1" name="SERVICE_TYPE" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>This field will be populated after Kanvas release SDF Access.
Please contact EAI functional management if missing.</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="1" name="FUTURE">
                <xs:complexType>
                  <xs:sequence>
                    <xs:annotation>
                      <xs:documentation>Artificial sequence to separate.</xs:documentation>
                    </xs:annotation>
                    <xs:element minOccurs="0" maxOccurs="1" name="QUALITY_CATEGORY" type="xs:string" />
                    <xs:element minOccurs="0" maxOccurs="1" name="SERVICE_PROVIDER_ID" type="tns:serviceProviderId_type" />
                    <xs:element minOccurs="0" maxOccurs="1" name="SERVICE_ID" type="xs:string" />
                    <xs:element minOccurs="0" maxOccurs="1" name="PORTING_STATUS" type="xs:string" />
                    <xs:element minOccurs="0" maxOccurs="1" name="USAGE_STATUS_EXTENSION" type="xs:string" />
                    <xs:element minOccurs="0" maxOccurs="1" name="USAGE_STATUS" type="xs:string" />
                    <xs:element minOccurs="0" maxOccurs="1" name="SUBSCRIBER_NUMBER" type="tns:phoneNumberSubscriberNumber_type" />
                    <xs:element minOccurs="0" maxOccurs="1" name="SERVICE_TYPE" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>This field will be populated after Kanvas release SDF Access.
Please contact EAI functional management if missing.</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="1" name="SERVICE_TYPE_EXTENSION" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="NUMBER_OF_SUBSCRIBER_NUMBER" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="ROUTING_TYPE" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>