GenericSOAPGateway/XSDSchemas/GenericSOAPGateway/Response/0051_GetPhoneNumberPort_1.0_Response_EAI_BUS_SIDE.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://xmlns.kpn.com/EAI/fixed/0051_GetPhoneNumberPort/1.0/Response" targetNamespace="http://xmlns.kpn.com/EAI/fixed/0051_GetPhoneNumberPort/1.0/Response" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="nodeName_type">
    <xs:restriction base="xs:string">
      <xs:maxLength value="74" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="portId_type">
    <xs:restriction base="xs:string">
      <xs:maxLength value="11" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="BODY">
    <xs:annotation>
      <xs:documentation>This is the BODY object for KPN EAI service number 0051 - GetPhoneNumberPort version 1.0 Response message.</xs:documentation>
      <xs:documentation>Automatically generated schema for service:'GetPhoneNumberPort', version:'1.0'</xs:documentation>
      <xs:documentation>Generated on 2007-03-30 14:21:38Z</xs:documentation>
      <xs:documentation>Service paradigm is intended to be Request/Response</xs:documentation>
      <xs:documentation>Service ID is:'0051'</xs:documentation>
      <xs:documentation>The body must always have MinOccurs=0 and MaxOccurs=1, by definition of KPN EAI AG. (For request messages this has no apparent benefit)</xs:documentation>
      <xs:documentation>KPN EAI message body class.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:annotation>
          <xs:documentation>Artificial sequence to separate.</xs:documentation>
        </xs:annotation>
        <xs:element minOccurs="0" maxOccurs="2" name="NODE">
          <xs:complexType>
            <xs:sequence>
              <xs:annotation>
                <xs:documentation>Artificial sequence to separate.</xs:documentation>
              </xs:annotation>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="PORT">
                <xs:complexType>
                  <xs:sequence>
                    <xs:annotation>
                      <xs:documentation>Artificial sequence to separate.</xs:documentation>
                    </xs:annotation>
                    <xs:element minOccurs="0" maxOccurs="1" name="PORT_ID" type="tns:portId_type" />
                    <xs:element minOccurs="0" maxOccurs="1" name="PORT_EQUIPMENT_CODE" type="xs:string" />
                    <xs:element minOccurs="0" maxOccurs="1" name="PORT_EQUIPMENT_TYPE" type="xs:string" />
                    <xs:element minOccurs="0" maxOccurs="1" name="PORT_FACILITY" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>Default (autogenerated) min and max occurs values.</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="1" name="NODE_NAME" type="tns:nodeName_type" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="1" name="ROUTING_TYPE" type="xs:string">
          <xs:annotation>
            <xs:documentation>Indicates the type of routing for the line, 
"VD" indicates that the line is used for Voice over Dsl and that the routing is packet-switched, 
"KL" indicates the classical form of switched 'routing'.</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>