GenericSOAPGateway/XSDSchemas/GenericSOAPGateway/Response/0052_GetPostCode_1.0_Response_EAI_BUS_SIDE.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://xmlns.kpn.com/EAI/fixed/0052_GetPostCode/1.0/Response" targetNamespace="http://xmlns.kpn.com/EAI/fixed/0052_GetPostCode/1.0/Response" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="dutchPostcode_type">
    <xs:restriction base="xs:string">
      <xs:pattern value="\d{4}[a-zA-Z]{2}" />
      <xs:length value="6" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="BODY">
    <xs:annotation>
      <xs:documentation>This is the BODY object for KPN EAI service number 0052 - GetPostCode version 1.0 Response message.</xs:documentation>
      <xs:documentation>Automatically generated schema for service:'GetPostCode', version:'1.0'</xs:documentation>
      <xs:documentation>Generated on 2007-04-12 16:05:59Z</xs:documentation>
      <xs:documentation>Service paradigm is intended to be Request/Response</xs:documentation>
      <xs:documentation>Service ID is:'0052'</xs:documentation>
      <xs:documentation>The body must always have MinOccurs=0 and MaxOccurs=1, by definition of KPN EAI AG. (For request messages this has no apparent benefit)</xs:documentation>
      <xs:documentation>KPN EAI message body class.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:annotation>
          <xs:documentation>Artificial sequence to separate.</xs:documentation>
        </xs:annotation>
        <xs:element minOccurs="0" maxOccurs="1" name="DUTCH_POSTCODE" type="tns:dutchPostcode_type" />
        <xs:element minOccurs="0" maxOccurs="1" name="FICTIONAL_DUTCH_POSTCODE_FLAG" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>