GenericSOAPGateway/XSDSchemas/GenericSOAPGateway/Response/0053_GetLocalLoopPath_1.1_Response_EAI_BUS_SIDE.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://xmlns.kpn.com/EAI/fixed/0053_GetLocalLoopPath/1.1/Response" targetNamespace="http://xmlns.kpn.com/EAI/fixed/0053_GetLocalLoopPath/1.1/Response" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="nodeName_type">
    <xs:restriction base="xs:string">
      <xs:maxLength value="50" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="nodeSubType_type">
    <xs:restriction base="xs:string">
      <xs:maxLength value="8" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="nodeType_type">
    <xs:restriction base="xs:string">
      <xs:maxLength value="4" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="cityCode_type">
    <xs:restriction base="xs:string">
      <xs:annotation>
        <xs:documentation>Field size limitation copied from API definition as EAI side had no limitation.</xs:documentation>
      </xs:annotation>
      <xs:maxLength value="6" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="houseNumber_type">
    <xs:restriction base="xs:string">
      <xs:maxLength value="5" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="houseNumberExtension_type">
    <xs:restriction base="xs:string">
      <xs:maxLength value="6" />
      <xs:minLength value="0" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="dutchPostcodeLetters_type">
    <xs:restriction base="xs:string">
      <xs:pattern value="[a-zA-Z]{2}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="dutchPostcodeNumbers_type">
    <xs:restriction base="xs:string">
      <xs:pattern value="\d{4}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="streetName_type">
    <xs:restriction base="xs:string">
      <xs:maxLength value="24" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="cableSectionNumber_type">
    <xs:restriction base="xs:string">
      <xs:length value="10" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="cableSectionStatus_type">
    <xs:restriction base="xs:string">
      <xs:length value="1" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="rackPosition_type">
    <xs:restriction base="xs:string">
      <xs:maxLength value="6" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="shelfPosition_type">
    <xs:restriction base="xs:string">
      <xs:maxLength value="14" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="physicalPortId_type">
    <xs:restriction base="xs:string">
      <xs:maxLength value="10" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="centralAreaCode_type">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{6}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="portId_type">
    <xs:restriction base="xs:string">
      <xs:maxLength value="11" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="BODY">
    <xs:annotation>
      <xs:documentation>This is the BODY object for KPN EAI service number 0053 - GetLocalLoopPath version 1.1 Response message.</xs:documentation>
      <xs:documentation>Automatically generated schema for service:'GetLocalLoopPath', version:'1.1'</xs:documentation>
      <xs:documentation>Generated on 2007-05-04 15:09:55Z</xs:documentation>
      <xs:documentation>Service paradigm is intended to be Request/Response</xs:documentation>
      <xs:documentation>Service ID is:'0053'</xs:documentation>
      <xs:documentation>The body must always have MinOccurs=0 and MaxOccurs=1, by definition of KPN EAI AG. (For request messages this has no apparent benefit)</xs:documentation>
      <xs:documentation>KPN EAI message body class.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:annotation>
          <xs:documentation>Artificial sequence to separate.</xs:documentation>
        </xs:annotation>
        <xs:element minOccurs="0" maxOccurs="6" name="NODE">
          <xs:complexType>
            <xs:sequence>
              <xs:annotation>
                <xs:documentation>Artificial sequence to separate.</xs:documentation>
              </xs:annotation>
              <xs:element minOccurs="0" maxOccurs="1" name="ADDRESS">
                <xs:complexType>
                  <xs:sequence>
                    <xs:annotation>
                      <xs:documentation>Artificial sequence to separate.</xs:documentation>
                    </xs:annotation>
                    <xs:element minOccurs="0" maxOccurs="1" name="CITY_CODE" type="tns:cityCode_type" />
                    <xs:element minOccurs="0" maxOccurs="1" name="HOUSE_NUMBER" type="tns:houseNumber_type" />
                    <xs:element minOccurs="0" maxOccurs="1" name="HOUSE_NUMBER_EXTENSION" type="tns:houseNumberExtension_type" />
                    <xs:element minOccurs="0" maxOccurs="1" name="DUTCH_POSTCODE_LETTERS" type="tns:dutchPostcodeLetters_type" />
                    <xs:element minOccurs="0" maxOccurs="1" name="DUTCH_POSTCODE_NUMBERS" type="tns:dutchPostcodeNumbers_type" />
                    <xs:element minOccurs="0" maxOccurs="1" name="STREET_NAME" type="tns:streetName_type" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="1" name="NODE_NAME" type="tns:nodeName_type" />
              <xs:element minOccurs="0" maxOccurs="1" name="LOCATION_CODE" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="NODE_SUB_TYPE" type="tns:nodeSubType_type" />
              <xs:element minOccurs="0" maxOccurs="1" name="NODE_TYPE" type="tns:nodeType_type" />
              <xs:element minOccurs="0" maxOccurs="1" name="SERVICE_PROVIDER_SHORT_NAME" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="INDEX" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="5" name="CABLE_SECTION">
          <xs:complexType>
            <xs:sequence>
              <xs:annotation>
                <xs:documentation>Artificial sequence to separate.</xs:documentation>
              </xs:annotation>
              <xs:element minOccurs="0" maxOccurs="1" name="INBOUND_NODE">
                <xs:complexType>
                  <xs:sequence>
                    <xs:annotation>
                      <xs:documentation>Artificial sequence to separate.</xs:documentation>
                    </xs:annotation>
                    <xs:element minOccurs="0" maxOccurs="1" name="RACK">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:annotation>
                            <xs:documentation>Artificial sequence to separate.</xs:documentation>
                          </xs:annotation>
                          <xs:element minOccurs="0" maxOccurs="1" name="SHELF">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:annotation>
                                  <xs:documentation>Artificial sequence to separate.</xs:documentation>
                                </xs:annotation>
                                <xs:element minOccurs="0" maxOccurs="1" name="PHYSICAL_PORT">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:annotation>
                                        <xs:documentation>Artificial sequence to separate.</xs:documentation>
                                      </xs:annotation>
                                      <xs:element minOccurs="0" maxOccurs="1" name="PHYSICAL_PORT_ID" type="tns:physicalPortId_type" />
                                      <xs:element minOccurs="0" maxOccurs="1" name="LOCATION_INDICATION" type="xs:string" />
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element minOccurs="0" maxOccurs="1" name="SHELF_POSITION" type="tns:shelfPosition_type" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element minOccurs="0" maxOccurs="1" name="RACK_POSITION" type="tns:rackPosition_type" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="NODE_NAME" type="tns:nodeName_type">
                      <xs:annotation>
                        <xs:documentation>Refers to a node in the sequence of nodes.</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="1" name="OUTBOUND_NODE">
                <xs:complexType>
                  <xs:sequence>
                    <xs:annotation>
                      <xs:documentation>Artificial sequence to separate.</xs:documentation>
                    </xs:annotation>
                    <xs:element minOccurs="0" maxOccurs="1" name="RACK">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:annotation>
                            <xs:documentation>Artificial sequence to separate.</xs:documentation>
                          </xs:annotation>
                          <xs:element minOccurs="0" maxOccurs="1" name="SHELF">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:annotation>
                                  <xs:documentation>Artificial sequence to separate.</xs:documentation>
                                </xs:annotation>
                                <xs:element minOccurs="0" maxOccurs="1" name="PHYSICAL_PORT">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:annotation>
                                        <xs:documentation>Artificial sequence to separate.</xs:documentation>
                                      </xs:annotation>
                                      <xs:element minOccurs="0" maxOccurs="1" name="PHYSICAL_PORT_ID" type="tns:physicalPortId_type" />
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element minOccurs="0" maxOccurs="1" name="SHELF_POSITION" type="tns:shelfPosition_type" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element minOccurs="0" maxOccurs="1" name="RACK_POSITION" type="tns:rackPosition_type" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="NODE_NAME" type="tns:nodeName_type" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="1" name="CABLE_SECTION_NUMBER" type="tns:cableSectionNumber_type" />
              <xs:element minOccurs="0" maxOccurs="1" name="STATUS" type="tns:cableSectionStatus_type" />
              <xs:element minOccurs="0" maxOccurs="1" name="CROSS_CONNECT_STATE" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="QUALITY_CATEGORY" type="xs:string">
                <xs:annotation>
                  <xs:documentation>QUALITY_CATEGORY can contain the following values:
- "ATL"
- "HTL"
- "ITL"
- "PTL"
- "STL"
This field is part of Kanvas release 1.8_A, and will not be present in actual responses until that release is in production.</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="1" name="INDEX" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="1" name="LOCATION">
          <xs:complexType>
            <xs:sequence>
              <xs:annotation>
                <xs:documentation>Artificial sequence to separate.</xs:documentation>
              </xs:annotation>
              <xs:element minOccurs="0" maxOccurs="1" name="NODE">
                <xs:complexType>
                  <xs:sequence>
                    <xs:annotation>
                      <xs:documentation>Artificial sequence to separate.</xs:documentation>
                    </xs:annotation>
                    <xs:element minOccurs="0" maxOccurs="1" name="RACK">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:annotation>
                            <xs:documentation>Artificial sequence to separate.</xs:documentation>
                          </xs:annotation>
                          <xs:element minOccurs="0" maxOccurs="1" name="SHELF">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:annotation>
                                  <xs:documentation>Artificial sequence to separate.</xs:documentation>
                                </xs:annotation>
                                <xs:element minOccurs="0" maxOccurs="1" name="PHYSICAL_PORT">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:annotation>
                                        <xs:documentation>Artificial sequence to separate.</xs:documentation>
                                      </xs:annotation>
                                      <xs:element minOccurs="0" maxOccurs="1" name="PHYSICAL_PORT_ID" type="tns:physicalPortId_type" />
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element minOccurs="0" maxOccurs="1" name="SHELF_POSITION" type="tns:shelfPosition_type" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element minOccurs="0" maxOccurs="1" name="RACK_POSITION" type="tns:rackPosition_type" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="PORT">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:annotation>
                            <xs:documentation>Artificial sequence to separate.</xs:documentation>
                          </xs:annotation>
                          <xs:element minOccurs="0" maxOccurs="1" name="PORT_EQUIPMENT_CODE" type="xs:string" />
                          <xs:element minOccurs="0" maxOccurs="1" name="PORT_EQUIPMENT_TYPE" type="xs:string" />
                          <xs:element minOccurs="0" maxOccurs="1" name="PORT_ID" type="tns:portId_type" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="INFRA_PROVIDER_SHORT_NAME" type="xs:string" />
                    <xs:element minOccurs="0" maxOccurs="1" name="NODE_NAME" type="tns:nodeName_type">
                      <xs:annotation>
                        <xs:documentation>Refers to a node in the sequence of nodes.</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="SERVICE_TYPE" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>SERVICE_TYPE can contain the following values:
- "MA"
- "SA"
This field is part of Kanvas release 1.8_A, and will not be present in actual responses until that release is in production.</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="1" name="CENTRAL_AREA_CODE" type="tns:centralAreaCode_type" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>