GenericSOAPGateway/XSDSchemas/GenericSOAPGateway/Response/0055_GetFreeDikader_1.0_Response_EAI_BUS_SIDE.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://xmlns.kpn.com/EAI/fixed/0055_GetFreeDikader/1.0/Response" targetNamespace="http://xmlns.kpn.com/EAI/fixed/0055_GetFreeDikader/1.0/Response" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="BODY">
    <xs:annotation>
      <xs:documentation>This is the BODY object for KPN EAI service number 0055 - GetFreeDikader version 1.0 Response message.</xs:documentation>
      <xs:documentation>Automatically generated schema for service:'GetFreeDikader', version:'1.0'</xs:documentation>
      <xs:documentation>Generated on 2007-03-30 14:36:05Z</xs:documentation>
      <xs:documentation>Service paradigm is intended to be Request/Response</xs:documentation>
      <xs:documentation>Service ID is:'0055'</xs:documentation>
      <xs:documentation>The body must always have MinOccurs=0 and MaxOccurs=1, by definition of KPN EAI AG. (For request messages this has no apparent benefit)</xs:documentation>
      <xs:documentation>KPN EAI message body class.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:annotation>
          <xs:documentation>Artificial sequence to separate.</xs:documentation>
        </xs:annotation>
        <xs:element minOccurs="0" maxOccurs="1" name="INVOERKABEL_SEQUENCE_NUMBER" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="DIKADER_NUMBER" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="SUPPORTS_ISDN" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="NT1_FLAG" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>