GenericSOAPGateway/XSDSchemas/GenericSOAPGateway/Response/0056_GetTrailTerminationPoints_1.0_Response_EAI_BUS_SIDE.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://xmlns.kpn.com/EAI/fixed/0056_GetTrailTerminationPoints/1.0/Response" targetNamespace="http://xmlns.kpn.com/EAI/fixed/0056_GetTrailTerminationPoints/1.0/Response" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="centralAreaCode_type">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{6}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="BODY">
    <xs:annotation>
      <xs:documentation>This is the BODY object for KPN EAI service number 0056 - GetTrailTerminationPoints version 1.0 Response message.</xs:documentation>
      <xs:documentation>Automatically generated schema for service:'GetTrailTerminationPoints', version:'1.0'</xs:documentation>
      <xs:documentation>Generated on 2007-04-10 12:23:57Z</xs:documentation>
      <xs:documentation>Service paradigm is intended to be Request/Response</xs:documentation>
      <xs:documentation>Service ID is:'0056'</xs:documentation>
      <xs:documentation>The body must always have MinOccurs=0 and MaxOccurs=1, by definition of KPN EAI AG. (For request messages this has no apparent benefit)</xs:documentation>
      <xs:documentation>KPN EAI message body class.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:annotation>
          <xs:documentation>Artificial sequence to separate.</xs:documentation>
        </xs:annotation>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="TRAIL_TERMINATION_POINT">
          <xs:complexType>
            <xs:sequence>
              <xs:annotation>
                <xs:documentation>Artificial sequence to separate.</xs:documentation>
              </xs:annotation>
              <xs:element minOccurs="0" maxOccurs="1" name="CENTRAL_AREA_CODE" type="tns:centralAreaCode_type" />
              <xs:element minOccurs="0" maxOccurs="1" name="TTP_NUMBER" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="TTP_NUMBER_EXTENSION" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="TTP_LOCATION_CODE" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="TTP_LOCATION_DESCRIPTION" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="1" name="NUMBER_OF_TRAILS" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>