GenericSOAPGateway/XSDSchemas/GenericSOAPGateway/Response/0058_GetPhoneNumbersConnection_1.0_Response_EAI_BUS_SIDE.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://xmlns.kpn.com/EAI/fixed/0058_GetPhoneNumbersConnection/1.0/Response" targetNamespace="http://xmlns.kpn.com/EAI/fixed/0058_GetPhoneNumbersConnection/1.0/Response" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="phoneNumberAreaCode_type">
    <xs:restriction base="xs:string">
      <xs:maxLength value="5" />
      <xs:pattern value="\d*" />
      <xs:whiteSpace value="collapse" />
      <xs:minLength value="0" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="phoneNumberSubscriberNumber_type">
    <xs:restriction base="xs:string">
      <xs:whiteSpace value="collapse" />
      <xs:minLength value="1" />
      <xs:maxLength value="15" />
      <xs:pattern value="\d+" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="BODY">
    <xs:annotation>
      <xs:documentation>This is the BODY object for KPN EAI service number 0058 - GetPhoneNumbersConnection version 1.0 Response message.</xs:documentation>
      <xs:documentation>Automatically generated schema for service:'GetPhoneNumbersConnection', version:'1.0'</xs:documentation>
      <xs:documentation>Generated on 2007-04-12 16:06:00Z</xs:documentation>
      <xs:documentation>Service paradigm is intended to be Request/Response</xs:documentation>
      <xs:documentation>Service ID is:'0058'</xs:documentation>
      <xs:documentation>The body must always have MinOccurs=0 and MaxOccurs=1, by definition of KPN EAI AG. (For request messages this has no apparent benefit)</xs:documentation>
      <xs:documentation>KPN EAI message body class.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:annotation>
          <xs:documentation>Artificial sequence to separate.</xs:documentation>
        </xs:annotation>
        <xs:element minOccurs="0" maxOccurs="50" name="SUBSCRIBERNUMBER">
          <xs:complexType>
            <xs:sequence>
              <xs:annotation>
                <xs:documentation>Artificial sequence to separate.</xs:documentation>
              </xs:annotation>
              <xs:element minOccurs="0" maxOccurs="1" name="SUBSCRIBER_NUMBER" type="tns:phoneNumberSubscriberNumber_type" />
              <xs:element minOccurs="0" maxOccurs="1" name="MAIN_NUMBER" type="tns:phoneNumberSubscriberNumber_type" />
              <xs:element minOccurs="0" maxOccurs="1" name="USAGE_STATUS" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="SUBSCRIBER_NUMBER_TYPE" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="1" name="AREA_CODE" type="tns:phoneNumberAreaCode_type" />
        <xs:element minOccurs="0" maxOccurs="1" name="SERVICE_TYPE_EXTENSION" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="ROUTING_TYPE" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="AMOUNT_OF_SUBSCRIBER_NUMBERS" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>