GenericSOAPGateway/XSDSchemas/GenericSOAPGateway/Response/0073_GetCustomerPaymentStatus_1.0_Response_EAI_BUS_SIDE.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://xmlns.kpn.com/EAI/fixed/0073_GetCustomerPaymentStatus/1.0/Response" targetNamespace="http://xmlns.kpn.com/EAI/fixed/0073_GetCustomerPaymentStatus/1.0/Response" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="BODY">
    <xs:annotation>
      <xs:documentation>This is the BODY object for KPN EAI service number 0073 - GetCustomerPaymentStatus version 1.0 Response message.</xs:documentation>
      <xs:documentation>Automatically generated schema for service:'GetCustomerPaymentStatus', version:'1.0'</xs:documentation>
      <xs:documentation>Generated on 2007-04-19 15:35:21Z</xs:documentation>
      <xs:documentation>Service paradigm is intended to be Request/Response</xs:documentation>
      <xs:documentation>Service ID is:'0073'</xs:documentation>
      <xs:documentation>The body must always have MinOccurs=0 and MaxOccurs=1, by definition of KPN EAI AG. (For request messages this has no apparent benefit)</xs:documentation>
      <xs:documentation>KPN EAI message body class.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:annotation>
          <xs:documentation>Artificial sequence to separate.</xs:documentation>
        </xs:annotation>
        <xs:element minOccurs="1" maxOccurs="1" name="CUSTOMER_ACCOUNT_IDENTIFIER" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="CLASS_CODE" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="RISK_CLASS" type="xs:string">
          <xs:annotation>
            <xs:documentation>A character ranging from 'A' to 'E' indicating the risk of this customer not paying.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="1" maxOccurs="1" name="PAYMENT_ARRANGEMENT_MADE_FLAG" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="POSTPONE_ALLOWED_FLAG" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="OUTSTANDING_CUSTOMER_COMPLAINT_FLAG" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="FINAL_INVOICE_FLAG" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>