GenericSOAPGateway/XSDSchemas/GenericSOAPGateway/Response/0074_GetCustomerPaymentDetails_1.0_Response_EAI_BUS_SIDE.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xs:schema xmlns:tns="http://xmlns.kpn.com/EAI/fixed/0074_GetCustomerPaymentDetails/1.0/Response" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xmlns.kpn.com/EAI/fixed/0074_GetCustomerPaymentDetails/1.0/Response">
	<xs:element name="BODY">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="BANK_ACCOUNT_NUMBER" type="xs:string" minOccurs="0"/>
				<xs:element name="PAYMENT_ARRANGEMENT_DATE" type="xs:date" minOccurs="0"/>
				<xs:element name="PHONE_DISCONNECT_FLAG" type="xs:string" minOccurs="0"/>
				<xs:element name="TOTAL_AMOUNT" type="xs:string" minOccurs="0"/>
				<xs:element name="INVOICESUMMARY" minOccurs="0" maxOccurs="4">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="INVOICE_DATE" type="xs:date" minOccurs="0"/>
							<xs:element name="INVOICE_DUE_DATE" type="xs:date" minOccurs="0"/>
							<xs:element name="INVOICE_TEXT_LINE" type="xs:string"/>
							<xs:element name="INVOICE_AMOUNT" type="xs:string"/>
							<xs:element name="INVOICE_BALANCE" type="xs:string"/>
							<xs:element name="INVOICE_PAYMENT_DATE" type="xs:date" minOccurs="0"/>
							<xs:element name="INVOICE_PAYMENT_REVERSAL_DATE" type="xs:date" minOccurs="0"/>
							<xs:element name="INVOICE_FIRST_REMINDER_DATE" type="xs:date" minOccurs="0"/>
							<xs:element name="INVOICE_SECOND_REMINDER_DATE" type="xs:date" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
