GenericSOAPGateway/XSDSchemas/GenericSOAPGateway/Response/0090_GetOrders_1.1_Response_EAI_BUS_SIDE.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://xmlns.kpn.com/EAI/fixed/0090_GetOrders/1.1/Response" targetNamespace="http://xmlns.kpn.com/EAI/fixed/0090_GetOrders/1.1/Response" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="BODY">
    <xs:annotation>
      <xs:documentation>This is the BODY object for KPN EAI service number 0090 - GetOrders version 1.1 Response message.</xs:documentation>
      <xs:documentation>Automatically generated schema for service:'GetOrders', version:'1.1'</xs:documentation>
      <xs:documentation>Generated on 2007-04-19 12:24:16Z</xs:documentation>
      <xs:documentation>Service paradigm is intended to be Request/Response</xs:documentation>
      <xs:documentation>Service ID is:'0090'</xs:documentation>
      <xs:documentation>The body must always have MinOccurs=0 and MaxOccurs=1, by definition of KPN EAI AG. (For request messages this has no apparent benefit)</xs:documentation>
      <xs:documentation>KPN EAI message body class.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:annotation>
          <xs:documentation>Artificial sequence to separate.</xs:documentation>
        </xs:annotation>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="ORDER">
          <xs:complexType>
            <xs:sequence>
              <xs:annotation>
                <xs:documentation>Artificial sequence to separate.</xs:documentation>
              </xs:annotation>
              <xs:element minOccurs="1" maxOccurs="1" name="ORDER_ID">
                <xs:complexType>
                  <xs:sequence>
                    <xs:annotation>
                      <xs:documentation>Artificial sequence to separate.</xs:documentation>
                    </xs:annotation>
                    <xs:element minOccurs="0" maxOccurs="1" name="ORDER_ID_SCOPE" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>Default (autogenerated) min and max occurs values.</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="1" maxOccurs="1" name="ORDER_ID" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="1" name="ORDER_TYPE">
                <xs:complexType>
                  <xs:sequence>
                    <xs:annotation>
                      <xs:documentation>Artificial sequence to separate.</xs:documentation>
                    </xs:annotation>
                    <xs:element minOccurs="1" maxOccurs="1" name="ORDER_TYPE" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>The value of this field is derived of the contents of the field 'ORDER_SUB_TYPE'.</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="ORDER_SUB_TYPE" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>Default (autogenerated) min and max occurs values.</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="ORDER_SUB_TYPE2" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>The value of this field is a generalisation of</xs:documentation>
                        <xs:documentation>Default (autogenerated) min and max occurs values.</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="1" name="ORDER_STATE">
                <xs:complexType>
                  <xs:sequence>
                    <xs:annotation>
                      <xs:documentation>Artificial sequence to separate.</xs:documentation>
                    </xs:annotation>
                    <xs:element minOccurs="1" maxOccurs="1" name="ORDER_STATE" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>The value of this field is derived of the contents of the field 'ORDER_SUB_STATE'</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="ORDER_SUB_STATE" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>Default (autogenerated) min and max occurs values.</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="SUB_ORDER">
                <xs:complexType>
                  <xs:sequence>
                    <xs:annotation>
                      <xs:documentation>Artificial sequence to separate.</xs:documentation>
                    </xs:annotation>
                    <xs:element minOccurs="0" maxOccurs="1" name="ORDER_ID">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:annotation>
                            <xs:documentation>Artificial sequence to separate.</xs:documentation>
                          </xs:annotation>
                          <xs:element minOccurs="1" maxOccurs="1" name="ORDER_ID_SCOPE" type="xs:string" />
                          <xs:element minOccurs="1" maxOccurs="1" name="ORDER_ID" type="xs:int" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="ORDER_TYPE">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:annotation>
                            <xs:documentation>Artificial sequence to separate.</xs:documentation>
                          </xs:annotation>
                          <xs:element minOccurs="1" maxOccurs="1" name="ORDER_TYPE" type="xs:string">
                            <xs:annotation>
                              <xs:documentation>The value of this field is derived of the contents of the field 'ORDER_SUB_TYPE'.</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element minOccurs="1" maxOccurs="1" name="ORDER_SUB_TYPE" type="xs:string" />
                          <xs:element minOccurs="0" maxOccurs="1" name="ORDER_SUB_TYPE2" type="xs:string">
                            <xs:annotation>
                              <xs:documentation>The value of this field is a generalisation of</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="ORDER_STATE">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:annotation>
                            <xs:documentation>Artificial sequence to separate.</xs:documentation>
                          </xs:annotation>
                          <xs:element minOccurs="1" maxOccurs="1" name="ORDER_STATE" type="xs:string">
                            <xs:annotation>
                              <xs:documentation>The value of this field is derived of the contents of the field 'ORDER_SUB_STATE'</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element minOccurs="1" maxOccurs="1" name="ORDER_SUB_STATE" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="PRODUCT">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:annotation>
                            <xs:documentation>Artificial sequence to separate.</xs:documentation>
                          </xs:annotation>
                          <xs:element minOccurs="1" maxOccurs="1" name="PRODUCT_CATEGORY" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="1" name="PORTFOLIO_DOMAIN" type="xs:string">
                <xs:annotation>
                  <xs:documentation>Default (autogenerated) min and max occurs values.</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="1" maxOccurs="1" name="CUSTOMER_NAME" type="xs:string">
                <xs:annotation>
                  <xs:documentation>The CUSTOMER_NAME field provides an indicative name of the customer, it should not be used for storage or autoamated matching as may contian concatenated field information.</xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="1" name="RESULT_SET">
          <xs:complexType>
            <xs:sequence>
              <xs:annotation>
                <xs:documentation>Artificial sequence to separate.</xs:documentation>
              </xs:annotation>
              <xs:element minOccurs="1" maxOccurs="1" name="RESULT_SET_TOTAL" type="xs:nonNegativeInteger" />
              <xs:element minOccurs="1" maxOccurs="1" name="RESULT_SET_TIMESTAMP" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>