GenericSOAPGateway/XSDSchemas/GenericSOAPGateway/Response/0091_GetOrderDetails_1.1_Response_EAI_BUS_SIDE.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://xmlns.kpn.com/fixed/GenericSOAPGateway/XSDSchemas/GenericSOAPGateway/Response/0091_GetOrderDetails_1.1_Response_EAI_BUS_SIDE.xsd" 
targetNamespace="http://xmlns.kpn.com/fixed/GenericSOAPGateway/XSDSchemas/GenericSOAPGateway/Response/0091_GetOrderDetails_1.1_Response_EAI_BUS_SIDE.xsd" elementFormDefault="unqualified" attributeFormDefault="unqualified">
  <xs:element name="BODY">
    <xs:annotation>
      <xs:documentation>This is the BODY object for KPN EAI service number 0091 - GetOrderDetails version 1.1 Response message.</xs:documentation>
      <xs:documentation>Automatically generated schema for service:'GetOrderDetails', version:'1.1'</xs:documentation>
      <xs:documentation>Generated on 2007-02-28 16:15:21Z</xs:documentation>
      <xs:documentation>Service paradigm is intended to be Request/Response</xs:documentation>
      <xs:documentation>Service ID is:'0091'</xs:documentation>
      <xs:documentation>The body must always have Minoccurs=0 and MaxOccurs=1.</xs:documentation>
      <xs:documentation>KPN EAI message body class.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:annotation>
          <xs:documentation>Artificial sequence to separate.</xs:documentation>
        </xs:annotation>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="ORDER">
          <xs:complexType>
            <xs:sequence>
              <xs:annotation>
                <xs:documentation>Artificial sequence to separate.</xs:documentation>
              </xs:annotation>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="ORDER_TYPE">
                <xs:complexType>
                  <xs:sequence>
                    <xs:annotation>
                      <xs:documentation>Artificial sequence to separate.</xs:documentation>
                    </xs:annotation>
                    <xs:element minOccurs="0" maxOccurs="1" name="ORDER_TYPE" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>The value of this field is derived of the contents of the field 'ORDER_SUB_TYPE'.</xs:documentation>
                        <xs:documentation>Default (autogenerated) min and max occurs values.</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="1" maxOccurs="1" name="ORDER_SUB_TYPE" type="xs:string" />
                    <xs:element minOccurs="0" maxOccurs="1" name="ORDER_SUB_TYPE2" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>The value of this field is a generalisation of</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="1" maxOccurs="1" name="ORDER_STATE">
                <xs:complexType>
                  <xs:sequence>
                    <xs:annotation>
                      <xs:documentation>Artificial sequence to separate.</xs:documentation>
                    </xs:annotation>
                    <xs:element minOccurs="0" maxOccurs="1" name="ORDER_STATE" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>The value of this field is derived of the contents of the field 'ORDER_SUB_STATE'</xs:documentation>
                        <xs:documentation>Default (autogenerated) min and max occurs values.</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="1" maxOccurs="1" name="ORDER_SUB_STATE" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="1" maxOccurs="1" name="PRODUCT">
                <xs:complexType>
                  <xs:sequence>
                    <xs:annotation>
                      <xs:documentation>Artificial sequence to separate.</xs:documentation>
                    </xs:annotation>
                    <xs:element minOccurs="1" maxOccurs="1" name="PRODUCT_CATEGORY" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="1" name="ORDER_ID">
                <xs:complexType>
                  <xs:sequence>
                    <xs:annotation>
                      <xs:documentation>Artificial sequence to separate.</xs:documentation>
                    </xs:annotation>
                    <xs:element minOccurs="0" maxOccurs="1" name="ORDER_ID_SCOPE" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>Default (autogenerated) min and max occurs values.</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="ORDER_ID" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>Default (autogenerated) min and max occurs values.</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="SUB_ORDER_ID">
                <xs:complexType>
                  <xs:sequence>
                    <xs:annotation>
                      <xs:documentation>Artificial sequence to separate.</xs:documentation>
                    </xs:annotation>
                    <xs:element minOccurs="0" maxOccurs="1" name="ORDER_ID_SCOPE" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>Default (autogenerated) min and max occurs values.</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="ORDER_ID" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>Default (autogenerated) min and max occurs values.</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="1" name="CREATION_DATE" type="xs:date">
                <xs:annotation>
                  <xs:documentation>NOTE: If applicable the value of the underlying fields are translated from dateTime to date.</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="1" name="REQUESTED_COMPLETION_DATE" type="xs:dateTime" />
              <xs:element minOccurs="0" maxOccurs="1" name="PLANNED_COMPLETION_DATE" type="xs:dateTime" />
              <xs:element minOccurs="0" maxOccurs="1" name="SCHEDULED_DELIVERY_DATE" type="xs:dateTime" />
              <xs:element minOccurs="0" maxOccurs="1" name="COMPLETION_DATE" type="xs:dateTime" />
              <xs:element minOccurs="1" maxOccurs="1" name="PORTFOLIO_DOMAIN" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="ACCEPTANCE_DATE" type="xs:dateTime" />
              <xs:element minOccurs="0" maxOccurs="1" name="TECHNICAL_END_DATE" type="xs:date" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>