GenericSOAPGateway/XSDSchemas/GenericSOAPGateway/Response/0201_GetCustomerAssignee_1.0_Response_EAI_BUS_SIDE.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://xmlns.kpn.com/EAI/fixed/0201_GetCustomerAssignee/1.0/Response" targetNamespace="http://xmlns.kpn.com/EAI/fixed/0201_GetCustomerAssignee/1.0/Response" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="centralCustomerId_type">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z,0-9]{8}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="employeeLoginName_type">
    <xs:restriction base="xs:string">
      <xs:maxLength value="25" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ckrApplicationid_type">
    <xs:restriction base="xs:string">
      <xs:maxLength value="3" />
      <xs:minLength value="1" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="employeeRegistrationNumber_type">
    <xs:restriction base="xs:string">
      <xs:maxLength value="6" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="BODY">
    <xs:annotation>
      <xs:documentation>This is the BODY object for KPN EAI service number 0201 - GetCustomerAssignee version 1.0 Response message.</xs:documentation>
      <xs:documentation>Automatically generated schema for service:'GetCustomerAssignee', version:'1.0'</xs:documentation>
      <xs:documentation>Generated on 2007-04-12 16:43:28Z</xs:documentation>
      <xs:documentation>Service paradigm is intended to be Request/Response</xs:documentation>
      <xs:documentation>Service ID is:'0201'</xs:documentation>
      <xs:documentation>The body must always have MinOccurs=0 and MaxOccurs=1, by definition of KPN EAI AG. (For request messages this has no apparent benefit)</xs:documentation>
      <xs:documentation>KPN EAI message body class.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:annotation>
          <xs:documentation>Artificial sequence to separate.</xs:documentation>
        </xs:annotation>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="EMPLOYEE">
          <xs:complexType>
            <xs:sequence>
              <xs:annotation>
                <xs:documentation>Artificial sequence to separate.</xs:documentation>
              </xs:annotation>
              <xs:element minOccurs="0" maxOccurs="1" name="CENTRAL_CUSTOMER_ID" type="tns:centralCustomerId_type" />
              <xs:element minOccurs="0" maxOccurs="1" name="USER_ID" type="tns:employeeLoginName_type" />
              <xs:element minOccurs="0" maxOccurs="1" name="APPLICATION_ID" type="tns:ckrApplicationid_type" />
              <xs:element minOccurs="0" maxOccurs="1" name="EMPLOYEE_REGISTRATION_NUMBER" type="tns:employeeRegistrationNumber_type" />
              <xs:element minOccurs="0" maxOccurs="1" name="ASSIGNED_TO" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="1" name="NUMBER_OF_RECORDS" type="xs:integer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>