GenericSOAPGateway/XSDSchemas/GenericSOAPGateway/Response/0273_GetDistributionFrameAccessDetails_1.0_Response_EAI_BUS_SIDE.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://xmlns.kpn.com/EAI/fixed/0273_GetDistributionFrameAccessDetails/1.0/Response" 
					  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
					   xmlns:ns0="http://xmlns.kpn.com/fixed/common//PropertyAddress" 
					  targetNamespace="http://xmlns.kpn.com/EAI/fixed/0273_GetDistributionFrameAccessDetails/1.0/Response" elementFormDefault="qualified" attributeFormDefault="unqualified">
	
	<xsd:element name="BODY">
		<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="CENTRAL_AREA_CODE" type="xsd:string" minOccurs="0"/>
						<xsd:element name="TELCO_SHORT_NAME" type="xsd:string" minOccurs="0"/>
						<xsd:element name="QUALITY_CATEGORY" type="xsd:string" minOccurs="0"/>
						<xsd:element name="TP_NUMBER" type="xsd:string" minOccurs="0"/>
						<xsd:element name="TP_NUMBER_EXTENSION" type="xsd:string" minOccurs="0"/>
						<xsd:element name="TP_TYPE" type="xsd:string" minOccurs="0"/>
						<xsd:element name="SERVICE_TYPE" type="xsd:string" minOccurs="0"/>
						<xsd:element name="TP_LOCATION_CODE" type="xsd:string" minOccurs="0"/>
						<xsd:element name="TP_LOCATION_DESCRIPTION" type="xsd:string" minOccurs="0"/>
						<xsd:element name="SERVICE_ID" type="xsd:string" minOccurs="0"/>
						<xsd:element name="INFRA_PROVIDER_SHORT_NAME" type="xsd:string" minOccurs="0"/>
						<xsd:element name="ROUTING_TYPE" type="xsd:string" minOccurs="0"/>
						<xsd:element name="INVOERADER" type="InvoerAderType" minOccurs="0" maxOccurs="5"/>
						<xsd:element name="PROPERTY_ADDRESS" type="PropertyAddress" minOccurs="0"/>
					</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="BandType">
		<xsd:sequence>
			<xsd:element name="STATUS_SIP" type="xsd:string" minOccurs="0"/>
			<xsd:element name="NODE" type="Node" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="InvoerAderType">
		<xsd:sequence>
			<xsd:element name="RELATION_TYPE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="INVOERKABEL_SEQUENCE_NUMBER_OR_TP_NUMBER" type="xsd:string" minOccurs="0"/>
			<xsd:element name="DIKADER_NUMBER_OR_IS_PHYSICAL_PORT_ID" type="xsd:string" minOccurs="0"/>
			<xsd:element name="IS_PHYSICAL_PORT_ID" type="xsd:string" minOccurs="0"/>
			<xsd:element name="PHONE_NUMBER" type="PhoneNumber" minOccurs="0"/>
			<xsd:element name="BROADBAND" type="BandType" minOccurs="0"/>
			<xsd:element name="SMALLBAND" type="BandType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Node">
		<xsd:sequence>
			<xsd:element name="NODE_NAME" type="xsd:string" minOccurs="0"/>
			<xsd:element name="RACK" type="Rack" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PhoneNumber">
		<xsd:sequence>
			<xsd:element name="AREA_CODE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="SUBSCRIBER_NUMBER" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PhysicalPort">
		<xsd:sequence>
			<xsd:element name="PHYSICAL_PORT_ID" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PropertyAddress">
		<xsd:sequence>
			<xsd:element name="CITY_NAME" type="xsd:string" minOccurs="0"/>
			<xsd:element name="STREET_NAME" type="xsd:string" minOccurs="0"/>
			<xsd:element name="HOUSE_NUMBER" type="xsd:string" minOccurs="0"/>
			<xsd:element name="HOUSE_NUMBER_EXTENSION" type="xsd:string" minOccurs="0"/>
			<xsd:element name="DUTCH_POSTCODE_NUMBERS" type="xsd:string" minOccurs="0"/>
			<xsd:element name="DUTCH_POSTCODE_LETTERS" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Rack">
		<xsd:sequence>
			<xsd:element name="RACK_POSITION" type="xsd:string" minOccurs="0"/>
			<xsd:element name="SHELF" type="Shelf" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Shelf">
		<xsd:sequence>
			<xsd:element name="SHELF_POSITION" type="xsd:string" minOccurs="0"/>
			<xsd:element name="PHYSICAL_PORT" type="PhysicalPort" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
