GenericSOAPGateway/XSDSchemas/GenericSOAPGateway/Response/0291_GetPhoneNumberDetails_1.0_Response_EAI_BUS_SIDE.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns="http://xmlns.kpn.com/EAI/fixed/0291_GetPhoneNumberDetails/2.0/Response" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xmlns.kpn.com/EAI/fixed/0291_GetPhoneNumberDetails/2.0/Response" elementFormDefault="qualified">
	<xsd:element name="BODY">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="SERVICE_TYPE" type="xsd:string" minOccurs="0"/>
				<xsd:element name="CENTRAL_AREA_CODE" type="xsd:string" minOccurs="0"/>
				<xsd:element name="ROUTING_TYPE" type="xsd:string" minOccurs="0"/>
				<xsd:element name="NUMBER_OF_SUBSCRIBER_NUMBERS" type="xsd:string" minOccurs="0"/>
				<xsd:element name="INVOERKABEL_SEQUENCE_NUMBER" type="xsd:string" minOccurs="0"/>
				<xsd:element name="DIKADER_NUMBER" type="xsd:string" minOccurs="0"/>
				<xsd:element name="TTP_NUMBER" type="xsd:string" minOccurs="0"/>
				<xsd:element name="TELECOM_REGIO_CODE" type="xsd:string" minOccurs="0"/>
				<xsd:element name="HOST_ID" type="xsd:string" minOccurs="0"/>
				<xsd:element name="PHONE_NUMBER" type="PhoneNumberDetails" minOccurs="0" maxOccurs="8"/>
				<xsd:element name="PROPERTY_ADDRESS" type="PropertyAddress" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="PhoneNumberDetails">
		<xsd:sequence>
			<xsd:element name="NUMBER_OF_FACILITIES" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CURRENT" type="PhoneNumberDetailsInfo" minOccurs="0"/>
			<xsd:element name="FUTURE" type="PhoneNumberDetailsInfo" minOccurs="0"/>
			<xsd:element name="LINE_FACILITY" type="LineFacility" minOccurs="0" maxOccurs="24"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PhoneNumberDetailsInfo">
		<xsd:sequence>
			<xsd:element name="PORTING_STATUS" type="xsd:string" minOccurs="0"/>
			<xsd:element name="SUBSCRIBER_NUMBER" type="xsd:string" minOccurs="0"/>
			<xsd:element name="SERVICE_STATUS" type="xsd:string" minOccurs="0"/>
			<xsd:element name="REVOKE_REASON_CODE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="SERVICE_ID" type="xsd:string" minOccurs="0"/>
			<xsd:element name="SERVICE_PROVIDER_ID" type="xsd:string" minOccurs="0"/>
			<xsd:element name="QUALITY_CATEGORY" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ACCESS_TYPE" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="LineFacility">
		<xsd:sequence>
			<xsd:element name="FACILITY_CODE" type="xsd:string" minOccurs="0"/>
			<xsd:element name="DESCRIPTION" type="xsd:string" minOccurs="0"/>
			<xsd:element name="STATUS" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PropertyAddress">
		<xsd:sequence>
			<xsd:element name="HOUSE_NUMBER" type="xsd:string" minOccurs="0"/>
			<xsd:element name="HOUSE_NUMBER_EXTENSION" type="xsd:string" minOccurs="0"/>
			<xsd:element name="DUTCH_POSTCODE_NUMBERS" type="xsd:string" minOccurs="0"/>
			<xsd:element name="DUTCH_POSTCODE_LETTERS" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
