GenericSOAPGateway/XSDSchemas/KanvasContractAdapter/Response/GetDpmbsIsdn2.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.example.com/unique/default/namespace/1113223755812"
	 targetNamespace = "http://xmlns.example.com/unique/default/namespace/1113223755812"
	 xmlns:KanvasResponse.xsd = "http://xmlns.kpn.com/fixed/kanvascontractadapter/common/KanvasResponse.xsd"
	 xmlns:DpmbsIsdn2Details.xsd = "http://xmlns.example.com/unique/default/namespace/1113228290656"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 xmlns:PhoneNumber.xsd = "http://xmlns.kpn.com/fixed/common/PhoneNumber.xsd"
	 elementFormDefault = "qualified">
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/kanvascontractadapter/common/KanvasResponse.xsd" schemaLocation = "../Common/KanvasResponse.xsd"/>
	<xsd:import namespace = "http://xmlns.example.com/unique/default/namespace/1113228290656" schemaLocation = "../Common/DpmbsIsdn2Details.xsd"/>
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/common/PhoneNumber.xsd" schemaLocation = "../../Common/PhoneNumber.xsd"/>
	<xsd:element name = "GetDpmbsIsdn2">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base = "KanvasResponse.xsd:KanvasResponse">
					<xsd:sequence>
						<xsd:element name = "NUMBER_OF_PHONENUMBERS" type = "xsd:string" minOccurs = "0"/>
						<xsd:element name = "RSM_NUMBER" type = "xsd:string" minOccurs = "0"/>
						<xsd:element name = "ROUTING_TYPE" type = "xsd:string" minOccurs = "0"/>
						<xsd:element name = "DPMBS_ISDN2_DETAILS" type = "DpmbsIsdn2Details.xsd:DpmbsIsdn2Details" minOccurs = "0" maxOccurs = "unbounded"/>
						<xsd:element name = "OPERATOR" minOccurs = "0">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name = "OPERATOR_CODE" type = "xsd:string" minOccurs = "0"/>
									<xsd:element name = "OPERATOR_NAME" type = "xsd:string" minOccurs = "0"/>
									<xsd:element name = "X25_CONNECTION_TEST_NUMBER" type = "xsd:string" minOccurs = "0"/>
									<xsd:element name = "PHONE_NUMBER" type = "PhoneNumber.xsd:PhoneNumber" minOccurs = "0"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>