GenericSOAPGateway/XSDSchemas/KanvasContractAdapter/Response/GetFreeDikader.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.example.com/unique/default/namespace/1113208067656"
	 targetNamespace = "http://xmlns.example.com/unique/default/namespace/1113208067656"
	 xmlns:KanvasResponse.xsd = "http://xmlns.kpn.com/fixed/kanvascontractadapter/common/KanvasResponse.xsd"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified">
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/kanvascontractadapter/common/KanvasResponse.xsd" schemaLocation = "../Common/KanvasResponse.xsd"/>
	<xsd:element name = "GetFreeDikader">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base = "KanvasResponse.xsd:KanvasResponse">
					<xsd:sequence>
						<xsd:element name = "INVOERKABEL_SEQUENCE_NUMBER" type = "xsd:string" minOccurs = "0"/>
						<xsd:element name = "DIKADER_NUMBER" type = "xsd:string" minOccurs = "0"/>
						<xsd:element name = "SUPPORTS_ISDN" type = "xsd:string" minOccurs = "0"/>
						<xsd:element name = "NT1_FLAG" type = "xsd:string" minOccurs = "0"/>
					</xsd:sequence>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>