GenericSOAPGateway/XSDSchemas/KanvasContractAdapter/Response/GetTrailTerminationPoints.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.example.com/unique/default/namespace/1111415260828"
	 targetNamespace = "http://xmlns.example.com/unique/default/namespace/1111415260828"
	 xmlns:TrailTerminationPoint.xsd = "http://xmlns.example.com/unique/default/namespace/1111410018625"
	 xmlns:KanvasResponse.xsd = "http://xmlns.kpn.com/fixed/kanvascontractadapter/common/KanvasResponse.xsd"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified">
	<xsd:import namespace = "http://xmlns.example.com/unique/default/namespace/1111410018625" schemaLocation = "../Common/TrailTerminationPoint.xsd"/>
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/kanvascontractadapter/common/KanvasResponse.xsd" schemaLocation = "../Common/KanvasResponse.xsd"/>
	<xsd:element name = "GetTrailTerminationPoints">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base = "KanvasResponse.xsd:KanvasResponse">
					<xsd:sequence>
						<xsd:element name = "NUMBER_OF_TRAILS" type = "xsd:string" minOccurs = "0"/>
						<xsd:element name = "TRAIL_TERMINATION_POINT" type = "TrailTerminationPoint.xsd:TrailTerminationPoint" minOccurs = "0" maxOccurs = "unbounded"/>
					</xsd:sequence>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>