Clever/CLEverSource/CLEverCore - Oracle/Processes/FrontendServices/Configuration/ExceptionType/ExceptionType.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://www.tibco.com/CLEver/Configuration/ExceptionType" xmlns:ns2="http://www.tibco.com/CLEver/FrontendServices/Configuration/ExceptionType/ExceptionTypeInterfaceSpecs" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.tibco.com/CLEver/Configuration/ExceptionType" xmlns:ns3="http://www.tibco.com/CLEver/InternalException">
    <import location="ExceptionTypeInterfaceSpecs.xsd" namespace="http://www.tibco.com/CLEver/FrontendServices/Configuration/ExceptionType/ExceptionTypeInterfaceSpecs"/>
	<import location="../../../../Shared Resources/Schema Definitions/CLEver/Error.xsd" namespace="http://www.tibco.com/CLEver/InternalException"/>
    <message name="Create_ExceptionType_Input">
        <part element="ns2:Create_ExceptionType_Input" name="part1"/>
    </message>
    <message name="Create_ExceptionType_Output">
        <part element="ns2:Create_ExceptionType_Output" name="part1"/>
    </message>
    <message name="Update_ExceptionType_Input">
        <part element="ns2:Update_ExceptionType_Input" name="part1"/>
    </message>
    <message name="Update_ExceptionType_Output">
        <part element="ns2:Update_ExceptionType_Output" name="part1"/>
    </message>
    <message name="Delete_ExceptionType_Input">
        <part element="ns2:Delete_ExceptionType_Input" name="part1"/>
    </message>
    <message name="Delete_ExceptionType_Output">
        <part element="ns2:Delete_ExceptionType_Output" name="part1"/>
    </message>
    <message name="Retrieve_ExceptionType_Input">
        <part element="ns2:Retrieve_ExceptionType_Input" name="part1"/>
    </message>
    <message name="Retrieve_ExceptionType_Output">
        <part element="ns2:Retrieve_ExceptionType_Output" name="part1"/>
    </message>
    <message name="Retrieve_ExceptionTypeParameters_Input">
        <part element="ns2:Retrieve_ExceptionTypeParameters_Input" name="part1"/>
    </message>
    <message name="Retrieve_ExceptionTypeParameters_Output">
        <part element="ns2:Retrieve_ExceptionTypeParameters_Output" name="part1"/>
    </message>
    <message name="Exception">
        <part name="part1" element="ns3:ExceptionEnvelope"/>
    </message>
    <portType name="ExceptionType">
        <operation name="Create">
            <input message="ns:Create_ExceptionType_Input"/>
            <output message="ns:Create_ExceptionType_Output"/>
			<fault name="fault1" message="ns:Exception"/>
        </operation>
        <operation name="Update">
            <input message="ns:Update_ExceptionType_Input"/>
            <output message="ns:Update_ExceptionType_Output"/>
			<fault name="fault1" message="ns:Exception"/>
        </operation>
        <operation name="Delete">
            <input message="ns:Delete_ExceptionType_Input"/>
            <output message="ns:Delete_ExceptionType_Output"/>
			<fault name="fault1" message="ns:Exception"/>
        </operation>
        <operation name="Retrieve">
            <input message="ns:Retrieve_ExceptionType_Input"/>
            <output message="ns:Retrieve_ExceptionType_Output"/>
			<fault name="fault1" message="ns:Exception"/>
        </operation>
        <operation name="RetrieveParameters">
            <input message="ns:Retrieve_ExceptionTypeParameters_Input"/>
            <output message="ns:Retrieve_ExceptionTypeParameters_Output"/>
			<fault name="fault1" message="ns:Exception"/>
        </operation>
    </portType>
</definitions>