GenericSOAPGateway/XSDSchemas/DocumentServices/Imported/0320_FindDocument_2.0_Request_EAI_BUS_SIDE.xsd

<?xml version="1.0" encoding="utf-8"?>

<!-- edited with XMLSpy v2007 rel. 3 (http://www.altova.com) by NLBSZSF2J (KPN Telecom) -->
<xsd:schema xmlns="http://xmlns.kpn.com/EAI/fixed/0320_FindDocument/2.0/Request"
	 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	 targetNamespace="http://xmlns.kpn.com/EAI/fixed/0320_FindDocument/2.0/Request"
	 elementFormDefault="unqualified"
	 attributeFormDefault="unqualified">

	<!--#### VERSION 2.1#1 ####-->
	<xsd:element name="BODY" type="requestMessage_type">
		<xsd:annotation>
			<xsd:documentation>This is the BODY object for KPN EAI service number 0320 - FindDocument version 2.0 Request message.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>

	<!--#####################################################-->
	<xsd:complexType name="requestMessage_type">
		<xsd:sequence>
			<xsd:element name="REQUESTOR" type="Requestor_type">
				<xsd:annotation>
					<xsd:documentation>Informaiton about the requestor (user) of this service. Some backend systems require valid credentials in order to return documentation.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DOCUMENT_INFORMATION" type="DocumentInformation_type" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>The document information is expressed in terms of document properties, such as CustomerIdentification, DocumentName, DocumentDate, DocumentReference (Dutch: kenmerk). Additional properties can be document type specific, such as InvoiceNumber, InvoiceDueDate and Amount for Invoices.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ARCHIVE_INSTANCE_SELECTION" type="ArchiveInstanceSelection_type">
				<xsd:annotation>
					<xsd:documentation>Selection criteria to address the appropriate archives.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DOCUMENT_SELECTION">
				<xsd:annotation>
					<xsd:documentation>Selection criteria to retreive the appropriate documents.</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:complexContent>
						<xsd:extension base="DocumentSelection_type">
							<xsd:sequence>
								<xsd:element name="DOCUMENT_SPECIFICATION" type="DocumentSpecification_type" maxOccurs="unbounded">
									<xsd:annotation>
										<xsd:documentation>Document specification entry. Multiple entries are possible, resulting in an 'or' action, references for all documents matching any of the document specification etries will be returned.</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
							</xsd:sequence>
						</xsd:extension>
					</xsd:complexContent>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<!--#####################################################-->
	<xsd:complexType name="Requestor_type">
		<xsd:sequence>
			<xsd:element name="APPLICATION_ID" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Identifier for application posting the request on behalf of a user.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="USERNAME" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>User that triggers the service request.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ROLE" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Role for the user that triggers the request as understood by the DocsDB instances that will be addressed.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="PASSWORD" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Optional password. Password is used when no certification is available.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DocumentInformation_type">
		<xsd:sequence>
			<xsd:element name="ORDERING" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Specify ordering for return list. Multiple ordering properties are possible, in which case the specification order implies ordering precedence.</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="PROPERTY_NAME" type="xsd:string">
							<xsd:annotation>
								<xsd:documentation>Order based on values for this property. Order based on values for this property. If empty no ordering will take place</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="ORDER" type="xsd:string" default="ASCENDING" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Specify order for property 'NAME' to be used when composing result list. possible values: ascending, descending. The 'natural' order for the property data type will be used (as implemented in the backend database engine). Default="ASCENDING"</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="PROPERTY_NAME" type="xsd:string" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Indicate what information should be returned with the document references. If no poperties are provided then the results depend on however the archive has been configured.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ArchiveInstanceSelection_type">
		<xsd:sequence>
			<xsd:element name="DOCUMENT_TYPE" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Search only for specified document types. Document types are CustomerOrder, Letter, Contract, Invoice, </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="MARKET_SEGMENT" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Select from set of documents stored for any of these market segments.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DOMAIN" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Select from set of documents stored for any of these business domains.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="PRODUCT_GROUP" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Select from set of documents stored relating to any of these products.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ROUTING_PROPERTY" minOccurs="0" maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="NAME" type="xsd:string">
							<xsd:annotation>
								<xsd:documentation>Specified an arbitrary property name used for selecting the appropriate backedn systems.</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="VALUE" type="xsd:string">
							<xsd:annotation>
								<xsd:documentation>Specified an arbitrary property value used for selecting the appropriate backedn systems.</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DocumentSpecification_type">
		<xsd:sequence>
			<xsd:element name="DOCUMENT_PROPERTIES" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>This structure contains all known selectable fields and a container for back-end specific fields that are not part of the common meta data structure or CDM</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="ADDRESS" minOccurs="0" maxOccurs="unbounded">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="FORMATTED_ADDRESS" minOccurs="0">
										<xsd:complexType>
											<xsd:sequence>
												<xsd:element name="STREET_NAME" type="stringParameter_type" minOccurs="0">
													<xsd:annotation>
														<xsd:documentation>Streetname in the address</xsd:documentation>
													</xsd:annotation>
												</xsd:element>
												<xsd:element name="HOUSE_NUMBER" type="stringParameter_type" minOccurs="0">
													<xsd:annotation>
														<xsd:documentation>House number in the address</xsd:documentation>
													</xsd:annotation>
												</xsd:element>
												<xsd:element name="HOUSE_NUMBER_EXTENSION" type="stringParameter_type" minOccurs="0">
													<xsd:annotation>
														<xsd:documentation>HOUSE_NUMBER_EXTENSION in the address</xsd:documentation>
													</xsd:annotation>
												</xsd:element>
												<xsd:element name="POST_CODE" type="stringParameter_type" minOccurs="0">
													<xsd:annotation>
														<xsd:documentation>POST_CODE in the address</xsd:documentation>
													</xsd:annotation>
												</xsd:element>
												<xsd:element name="CITY" type="stringParameter_type" minOccurs="0">
													<xsd:annotation>
														<xsd:documentation>CITY in the address</xsd:documentation>
													</xsd:annotation>
												</xsd:element>
												<xsd:element name="COUNTRY" type="stringParameter_type" minOccurs="0">
													<xsd:annotation>
														<xsd:documentation>COUNTRY in the address</xsd:documentation>
													</xsd:annotation>
												</xsd:element>
											</xsd:sequence>
										</xsd:complexType>
									</xsd:element>
									<xsd:element name="UNFORMATTED_ADDRESS" minOccurs="0" maxOccurs="unbounded">
										<xsd:complexType>
											<xsd:sequence>
												<xsd:element name="COMPLETE_ADDRESS" type="stringParameter_type" minOccurs="0">
													<xsd:annotation>
														<xsd:documentation>Whole or a part of an unformatted address. In case of more than one unformatted parts of an address, each part wil have an ascending sequencenumber as attibute.</xsd:documentation>
													</xsd:annotation>
												</xsd:element>
											</xsd:sequence>
										</xsd:complexType>
									</xsd:element>
									<xsd:element name="ROLE" type="xsd:string"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="CUSTOM_FIELD" minOccurs="0" maxOccurs="unbounded">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="NAME" type="xsd:string">
										<xsd:annotation>
											<xsd:documentation>Document property to select in comparison.</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="VALUE" type="stringParameter_type">
										<xsd:annotation>
											<xsd:documentation>Selection expression which may contain wildcards as allowed by target application.</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="PARTY" minOccurs="0" maxOccurs="unbounded">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="FORMATTED_NAME" minOccurs="0" maxOccurs="unbounded">
										<xsd:complexType>
											<xsd:sequence>
												<xsd:element name="UNFORMATTED_NAME" minOccurs="0" maxOccurs="unbounded">
													<xsd:complexType>
														<xsd:sequence>
															<xsd:element name="COMPLETE_NAME" type="stringParameter_type" minOccurs="0">
																<xsd:annotation>
																	<xsd:documentation>An unformatted name of a person or Organisation. i.e. "De Heer A.B.C. de Boer"</xsd:documentation>
																</xsd:annotation>
															</xsd:element>
														</xsd:sequence>
													</xsd:complexType>
												</xsd:element>
												<xsd:element name="ARISTOCRATIC_TITLE" type="stringParameter_type" minOccurs="0">
													<xsd:annotation>
														<xsd:documentation>The Aristocratic title of a person</xsd:documentation>
													</xsd:annotation>
												</xsd:element>
												<xsd:element name="ACADEMIC_TITLE" type="stringParameter_type" minOccurs="0">
													<xsd:annotation>
														<xsd:documentation>The ACADEMIC_TITLE title of a person</xsd:documentation>
													</xsd:annotation>
												</xsd:element>
												<xsd:element name="INITIALS" type="stringParameter_type" minOccurs="0">
													<xsd:annotation>
														<xsd:documentation>The Initials of a person</xsd:documentation>
													</xsd:annotation>
												</xsd:element>
												<xsd:element name="FAMILY_NAME_PREFIX" type="stringParameter_type" minOccurs="0">
													<xsd:annotation>
														<xsd:documentation>The Prefix in a family name of a person</xsd:documentation>
													</xsd:annotation>
												</xsd:element>
												<xsd:element name="FAMILY_NAME" type="stringParameter_type" minOccurs="0">
													<xsd:annotation>
														<xsd:documentation>The Family name of a person</xsd:documentation>
													</xsd:annotation>
												</xsd:element>
											</xsd:sequence>
										</xsd:complexType>
									</xsd:element>
									<xsd:choice minOccurs="0">
										<xsd:element name="KPN_RELATION_ID" type="stringParameter_type">
											<xsd:annotation>
												<xsd:documentation>The unique ID of a customer in UCM</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="CKR_ID" type="stringParameter_type">
											<xsd:annotation>
												<xsd:documentation>The unique ID of a customer in CKR</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="MCCS_ID" type="stringParameter_type">
											<xsd:annotation>
												<xsd:documentation>The unique ID of a customer in MCCS</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
									</xsd:choice>
									<xsd:element name="ROLE" type="xsd:string">
										<xsd:annotation>
											<xsd:documentation>Role of the party as used in this structure</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="ORGANISATON_NAME" type="stringParameter_type" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>Name of an Organisation</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="ID" type="stringParameter_type" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>ID of a Party in an application of KPN</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="KVK_NUMBER" type="stringParameter_type" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>KVK_Number is the "Kamer van Koophandel" Number of a Company</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="INTERACTION_ID" type="stringParameter_type" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>Specific CRM ID of a certain interaction with a customer</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="DOCUMENT" minOccurs="0" maxOccurs="unbounded">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="DATE" minOccurs="0" maxOccurs="unbounded">
										<xsd:complexType>
											<xsd:sequence>
												<xsd:element name="ROLE" type="xsd:string">
													<xsd:annotation>
														<xsd:documentation>Role of the date beloging to a document</xsd:documentation>
													</xsd:annotation>
												</xsd:element>
												<xsd:element name="DATE" type="dateTimeParameter_type" minOccurs="0">
													<xsd:annotation>
														<xsd:documentation>Date of the document belonging to the role</xsd:documentation>
													</xsd:annotation>
												</xsd:element>
											</xsd:sequence>
										</xsd:complexType>
									</xsd:element>
									<xsd:element name="TYPE" type="stringParameter_type" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>Type of a Document</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="ID" type="stringParameter_type" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>unique ID of a document in the Archive instance</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="NAME" type="stringParameter_type" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>Name of a document</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="FILE_NAME" type="stringParameter_type" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>FILE_NAME of a document</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="FILE_SIZE" type="stringParameter_type" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>FILE_SIZE of a document</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="FILE_EXTENSION" type="stringParameter_type" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>FILE_EXTENSION of a document</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="CREATOR" type="stringParameter_type" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>Creator or Author of a document</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="SUBJECT" type="stringParameter_type" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>SUBJECT of a document</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="REVISION" type="stringParameter_type" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>Numer of the Revision of a document</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="DIRECTION" type="stringParameter_type" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>Shows or a document was received from or was sended to a customer</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="URL" type="stringParameter_type" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>The unique url to indentify a document in an Archive instance. It also can be use to retrieve a document directly from the Archive</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="PRODUCT" minOccurs="0" maxOccurs="unbounded">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="ID" type="stringParameter_type" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>Unique ID of a Product</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="NAME" type="stringParameter_type" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>Name of a Product</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="CATEGORY" type="stringParameter_type" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>Category of a Product</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="BRAND" type="stringParameter_type" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>Brand in the market to which a product belongs</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="MARKET" minOccurs="0" maxOccurs="unbounded">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="BRAND" type="stringParameter_type" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>Brand in the Market to specify a certain product range like Hi, KPN, Telfort</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="SEGMENT" type="stringParameter_type" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>A Segment to specify a part of the Market like Business an Consumer</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="GROUP" type="stringParameter_type" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>A Group specifies a group of Organisations in the market like Banking or Care </xsd:documentation>
										</xsd:annotation>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="ORDER" minOccurs="0" maxOccurs="unbounded">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="DATE" minOccurs="0" maxOccurs="unbounded">
										<xsd:complexType>
											<xsd:sequence>
												<xsd:element name="ROLE" type="xsd:string">
													<xsd:annotation>
														<xsd:documentation>Specifies the role of the date of an order</xsd:documentation>
													</xsd:annotation>
												</xsd:element>
												<xsd:element name="DATE" type="dateTimeParameter_type" minOccurs="0">
													<xsd:annotation>
														<xsd:documentation>Date of the order belonging to the role</xsd:documentation>
													</xsd:annotation>
												</xsd:element>
											</xsd:sequence>
										</xsd:complexType>
									</xsd:element>
									<xsd:element name="ID" type="stringParameter_type" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>ID of an order in an application of KPN</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="TYPE" type="stringParameter_type" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>Type of an Order</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="EXTERNAL_REFERENCE" type="stringParameter_type" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>The order reference of the external party</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="INVOICE" minOccurs="0" maxOccurs="unbounded">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="DATE" minOccurs="0" maxOccurs="unbounded">
										<xsd:complexType>
											<xsd:sequence>
												<xsd:element name="ROLE" type="xsd:string">
													<xsd:annotation>
														<xsd:documentation>Specifies the role of the date of an invoice</xsd:documentation>
													</xsd:annotation>
												</xsd:element>
												<xsd:element name="DATE" type="dateTimeParameter_type" minOccurs="0">
													<xsd:annotation>
														<xsd:documentation>Date of the invoice belonging to the role</xsd:documentation>
													</xsd:annotation>
												</xsd:element>
											</xsd:sequence>
										</xsd:complexType>
									</xsd:element>
									<xsd:element name="NUMBER" type="stringParameter_type" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>Unique number of an invoice</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="BILLING_CHAIN" type="stringParameter_type" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>Name of the Billing Chain which created the invoice</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="CURRENCY" type="stringParameter_type" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>The currency of an invoice</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="AMOUNT" type="stringParameter_type" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>The total amount of an invoice</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="PAPER" type="booleanParameter_type" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>Indicates or an invoice is sended as paper by POST to the customer</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="EMAIL" type="booleanParameter_type" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>Indicates or an invoice is sended by email to the customer</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="KPN_ORGANISATION" minOccurs="0" maxOccurs="unbounded">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="BUSINESS_UNIT" type="stringParameter_type" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>Indicates the internal KPN Business Unit</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="ORGANIZATIONAL_UNIT" type="stringParameter_type" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>Indicates an internal Organisational Unit of KPN</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="ORGANIZATIONAL_SUBUNIT" type="stringParameter_type" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>Indicates an internal Department of an Organisational Unit of KPN</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="CENTER_CODE" type="stringParameter_type" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>Unique financial organisation code of a Department internal KPN</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="BUSINESS_PROCESS" type="booleanParameter_type" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>Indicated a business process internal KPN</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="DOMAIN" type="stringParameter_type" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>Indicates or an invoice is sended by email to the customer</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="OTHERS" minOccurs="0" maxOccurs="unbounded">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="BANK_ACCOUNT" type="stringParameter_type" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>Bank Account registered in the metadata of a document</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="PHONE_NUMBER" type="stringParameter_type" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>Phone number registered in the metadata of a document</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="EMAIL_ADDRESS" type="stringParameter_type" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>Email address registered in the metadata of a document</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="SMS_NOTIFY_PHONE_NUMBER" type="stringParameter_type" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>Phone number for sending annotations registered in the metadata of a document</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="COMMENT" type="booleanParameter_type" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>Comment registered in the metadata of a document</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SelectionRange_type">
		<xsd:sequence>
			<xsd:element name="MAX_RESULTS" type="xsd:positiveInteger">
				<xsd:annotation>
					<xsd:documentation>The maximum number of matches to return. If not specified, the service will use a maximum limit of 20 which is the limit per backend. Each backend is thus limited to a maximum of 20 results per request. The total number of results may be more than 20 as each backend may return at most 20 results.
Default value= 20</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DocumentSelection_type">
		<xsd:sequence>
			<xsd:element name="SELECTION_RANGE" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="MAX_RESULTS" type="xsd:positiveInteger">
							<xsd:annotation>
								<xsd:documentation>The maximum number of matches to return. If not specified, the service will use a maximum limit of 20 which is the limit per backend. Each backend is thus limited to a maximum of 20 results per request. The total number of results may be more than 20 as each backend may return at most 20 results.
Default value= 20</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="PAGE_NUMBER" type="xsd:positiveInteger"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<!--#####################################################-->
	<xsd:complexType name="stringParameter_type">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="COMPARATOR" type="stringComparator_type" default="MATCHES"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="stringComparator_type">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="MATCHES"/>
			<xsd:enumeration value="SUBSTRING"/>
			<xsd:enumeration value="="/>
			<xsd:enumeration value="&lt;"/>
			<xsd:enumeration value=">"/>
			<xsd:enumeration value="&lt;="/>
			<xsd:enumeration value=">="/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="IntegerParameter_type">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="COMPARATOR" type="integerComparator_type" default="MATCHES"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="integerComparator_type">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="MATCHES"/>
			<xsd:enumeration value="SUBSTRING"/>
			<xsd:enumeration value="="/>
			<xsd:enumeration value="&lt;"/>
			<xsd:enumeration value=">"/>
			<xsd:enumeration value="&lt;="/>
			<xsd:enumeration value=">="/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="dateTimeParameter_type">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="COMPARATOR" type="dateTimeComparator_type" default="MATCHES"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="dateTimeComparator_type">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="MATCHES"/>
			<xsd:enumeration value="SUBSTRING"/>
			<xsd:enumeration value="="/>
			<xsd:enumeration value="&lt;"/>
			<xsd:enumeration value=">"/>
			<xsd:enumeration value="&lt;="/>
			<xsd:enumeration value=">="/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="booleanParameter_type">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="COMPARATOR" type="booleanComparator_type" default="MATCHES"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="booleanComparator_type">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="MATCHES"/>
			<xsd:enumeration value="SUBSTRING"/>
			<xsd:enumeration value="="/>
			<xsd:enumeration value="&lt;"/>
			<xsd:enumeration value=">"/>
			<xsd:enumeration value="&lt;="/>
			<xsd:enumeration value=">="/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>