GenericSOAPGateway/XSDSchemas/DocumentServices/Imported/FindDocumentOnGeneric_1.0_Response_EAI_BUS_SIDE.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- edited with XMLSpy v2007 rel. 3 (http://www.altova.com) by Roland Stulemeijer (KPN Telecom) -->
<xs:schema xmlns:tns="http://xmlns.kpn.com/EAI/fixed/FindDocumentOnGeneric/1.0/Response" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xmlns.kpn.com/EAI/fixed/FindDocumentOnGeneric/1.0/Response" elementFormDefault="unqualified" attributeFormDefault="unqualified">
	<xs:element name="BODY">
		<xs:annotation>
			<xs:documentation>This is the BODY object for KPN EAI service number FindDocumentOnGeneric version 1.0 Response message.</xs:documentation>
			<xs:documentation>Automatically generated schema for service:'FindDocumentOnGeneric', version:'1.0'</xs:documentation>
			<xs:documentation>Generated on 2008-08-26 17:30:31Z</xs:documentation>
			<xs:documentation>Service paradigm is intended to be Request/Response</xs:documentation>
			<xs:documentation>Service ID is:'0413'</xs:documentation>
			<xs:documentation>The body must always have MinOccurs=0 and MaxOccurs=1, by definition of KPN EAI AG. (For request messages this has no apparent benefit)</xs:documentation>
			<xs:documentation>KPN EAI message body class.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:annotation>
					<xs:documentation>Artificial sequence to separate.</xs:documentation>
				</xs:annotation>
				<xs:element name="RESULT" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Set of results for all archives that returned references, one RESULT element with a set of references per archive.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:annotation>
								<xs:documentation>Artificial sequence to separate.</xs:documentation>
							</xs:annotation>
							<xs:element name="DOCUMENT" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:annotation>
											<xs:documentation>Artificial sequence to separate.</xs:documentation>
										</xs:annotation>
										<xs:element name="DOCUMENT_PROPERTIES" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:annotation>
														<xs:documentation>Artificial sequence to separate.</xs:documentation>
													</xs:annotation>
													<xs:element name="PROPERTY_NAME" type="xs:string">
														<xs:annotation>
															<xs:documentation>"Name of additional information field characterising the reference. The contents of this field are derived from the value as indicated in the 'mapping instruction column' of the request message. The value is constructed based on the names in the request message and if not found, then the name used by the backend service. For example: 
if the request provided the value ""BILLING"" for .../ADDRESS/ROLE and a value for .../ADDRESS/STREET_NAME, then when the backend service returns the value of this field (if associated with the found documents) in the name-value pair where the name is set to ""BILLING/STREET_NAME"". Addtional properties for which no canonical mapping is available will be used in non-canonical format and are front-end and/or back-end specific."
</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="VALUE" type="xs:string">
														<xs:annotation>
															<xs:documentation>Value for PROPERTY_NAME.
</xs:documentation>
														</xs:annotation>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="ARCHIVE_INSTANCE" type="xs:string">
								<xs:annotation>
									<xs:documentation>"Name of the Archive instance that did return the document references.
The Archive instance module response will only contain a single RESULT element for this connected archive. The different Archive modules may contain multiple RESULT elements.  
At the moment of use of multiple Archive instances this field must be given though to the requestor for use in other services like 0414 - SendDocument."
</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="ERROR_CODE" type="xs:string" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Error code as return by the document archive.</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="ERROR_DESCRIPTION" type="xs:string" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Status description as returned by the document archive.</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="TOTAL_ROWS" type="xs:integer" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Total number of rows of available matches in the mentioned Archive.
</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="LAST_PAGE" type="xs:integer" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Sequence number of the last page which can be returned from the mentioned Archive instance
</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
