IKKAdapter/XSDSchemas/KanvasContractAdapter/Response/GetLineFacilities.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.kpn.com/fixed/kanvascontractadapter/response/GetLineFacilities.xsd"
	 targetNamespace = "http://xmlns.kpn.com/fixed/kanvascontractadapter/response/GetLineFacilities.xsd"
	 xmlns:KanvasResponse.xsd = "http://xmlns.kpn.com/fixed/kanvascontractadapter/common/KanvasResponse.xsd"
	 xmlns:LineFacility.xsd = "http://xmlns.kpn.com/fixed/kanvascontractadapter/common/LineFacility.xsd"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified">
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/kanvascontractadapter/common/KanvasResponse.xsd" schemaLocation = "../Common/KanvasResponse.xsd"/>
	<xsd:import namespace = "http://xmlns.kpn.com/fixed/kanvascontractadapter/common/LineFacility.xsd" schemaLocation = "../Common/LineFacility.xsd"/>
	<xsd:element name = "GetLineFacilities">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base = "KanvasResponse.xsd:KanvasResponse">
					<xsd:sequence>
						<xsd:element name = "NUMBER_OF_FACILITIES" type = "xsd:string" minOccurs = "0"/>
						<xsd:element name = "LINE_FACILITY" type = "LineFacility.xsd:LineFacility" minOccurs = "0" maxOccurs = "unbounded"/>
					</xsd:sequence>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>