WSDL_project/DesignModel/Common/XSDSchemas/RegisterCleanOrder.1/Request/RegisterCleanOrder.1Request.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.kpn.com/mobile/m2c/cdm/registercleanorder.1request.xsd"
	 targetNamespace = "http://xmlns.kpn.com/mobile/m2c/cdm/registercleanorder.1request.xsd"
	 xmlns:Base.xsd = "http://xmlns.kpn.com/mobile/m2c/cdm/base.xsd"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified"
	 attributeFormDefault = "qualified">
	<xsd:import namespace = "http://xmlns.kpn.com/mobile/m2c/cdm/base.xsd" schemaLocation = "../../Common/Base.xsd"/>
	<xsd:element name = "RegisterCleanOrderRequest">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base = "Base.xsd:Base">
					<xsd:sequence>
						<xsd:element name = "BODY">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name = "USER" type = "USER"/>
									<xsd:element name = "CONTACT_DETAILS" type = "CONTACT_DETAILS"/>
									<xsd:element name = "ORDER_INFO" type = "ORDER_INFO"/>
									<xsd:element name = "RUNTIME_PARAMETER_LIST" minOccurs = "0">
										<xsd:complexType>
											<xsd:sequence>
												<xsd:element name = "RUNTIME_PARAMETER" maxOccurs = "unbounded">
													<xsd:complexType>
														<xsd:sequence>
															<xsd:element name = "NAME" type = "NEString"/>
														</xsd:sequence>
													</xsd:complexType>
												</xsd:element>
											</xsd:sequence>
										</xsd:complexType>
									</xsd:element>
									<xsd:element name = "MOBILE_CONNECTION" minOccurs = "0">
										<xsd:complexType>
											<xsd:sequence>
												<xsd:element name = "MSISDN" type = "TelecomNumberDetailed"/>
											</xsd:sequence>
										</xsd:complexType>
									</xsd:element>
									<xsd:element name = "INSTALLED_PRODUCT_LIST" minOccurs = "0">
										<xsd:complexType>
											<xsd:sequence>
												<xsd:element name = "INSTALLED_PRODUCT" maxOccurs = "unbounded">
													<xsd:complexType>
														<xsd:sequence>
															<xsd:element name = "PRODUCT">
																<xsd:complexType>
																	<xsd:sequence>
																		<xsd:element name = "ID_UPN" type = "NEString"/>
																	</xsd:sequence>
																</xsd:complexType>
															</xsd:element>
															<xsd:element name = "PRODUCT_CHARACTERISTIC_LIST" minOccurs = "0">
																<xsd:complexType>
																	<xsd:sequence>
																		<xsd:element name = "PRODUCT_CHARACTERISTIC">
																			<xsd:complexType>
																				<xsd:sequence>
																					<xsd:element name = "ID_PC" type = "NEString"/>
																					<xsd:element name = "VALUE" type = "NEString"/>
																					<xsd:element name = "START_DATETIME" type = "xsd:dateTime" minOccurs = "0"/>
																					<xsd:element name = "END_DATETIME" type = "xsd:dateTime" minOccurs = "0"/>
																				</xsd:sequence>
																			</xsd:complexType>
																		</xsd:element>
																	</xsd:sequence>
																</xsd:complexType>
															</xsd:element>
															<xsd:element name = "CONTRACT">
																<xsd:complexType>
																	<xsd:sequence>
																		<xsd:element name = "ID_CIB" type = "xsd:string" minOccurs = "0"/>
																		<xsd:element name = "ACTIVATION_DATETIME" type = "xsd:dateTime"/>
																		<xsd:element name = "IS_RENEWABLE" type = "xsd:boolean" minOccurs = "0"/>
																		<xsd:element name = "NEXT_RENEWAL_DATETIME" type = "xsd:dateTime" minOccurs = "0"/>
																		<xsd:element name = "START_DATETIME" type = "xsd:dateTime"/>
																		<xsd:element name = "END_DATETIME" type = "xsd:dateTime"/>
																	</xsd:sequence>
																</xsd:complexType>
															</xsd:element>
															<xsd:element name = "ACTIVATION_DATETIME" type = "xsd:dateTime"/>
														</xsd:sequence>
													</xsd:complexType>
												</xsd:element>
											</xsd:sequence>
										</xsd:complexType>
									</xsd:element>
									<xsd:element name = "AGREEMENT_LIST" minOccurs = "0">
										<xsd:complexType>
											<xsd:sequence>
												<xsd:element name = "AGREEMENT" maxOccurs = "unbounded">
													<xsd:complexType>
														<xsd:sequence>
															<xsd:element name = "PRODUCT">
																<xsd:complexType>
																	<xsd:sequence>
																		<xsd:element name = "ID_UPN" type = "NEString"/>
																	</xsd:sequence>
																</xsd:complexType>
															</xsd:element>
														</xsd:sequence>
													</xsd:complexType>
												</xsd:element>
											</xsd:sequence>
										</xsd:complexType>
									</xsd:element>
									<xsd:element name = "SERVICE_PROVIDER" type = "SERVICE_PROVIDER_VIEW_ID_MCCS"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name = "SERVICE_PROVIDER_VIEW_ID_MCCS">
		<xsd:sequence>
			<xsd:element name = "ID_MCCS" type = "NEString"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name = "TelecomNumberDetailedEmpty">
		<xsd:simpleContent>
			<xsd:extension base = "xsd:string">
				<xsd:attribute name = "country" type = "xsd:string"/>
				<xsd:attribute name = "area" type = "xsd:string"/>
				<xsd:attribute name = "subscriber" type = "xsd:string"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name = "TelecomNumberDetailed">
		<xsd:simpleContent>
			<xsd:extension base = "NEString">
				<xsd:attribute name = "country" use = "required" type = "NEString"/>
				<xsd:attribute name = "area" use = "required" type = "NEString"/>
				<xsd:attribute name = "subscriber" use = "required" type = "NEString"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name = "NEString">
		<xsd:annotation>
			<xsd:documentation>Not Empty String</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base = "xsd:string">
			<xsd:minLength value = "1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name = "USER">
		<xsd:sequence>
			<xsd:element name = "ID_UOB" type = "NEString"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name = "IMPEDIMENT">
		<xsd:sequence>
			<xsd:element name = "CODE" type = "NEString"/>
			<xsd:element name = "DESCRIPTION" type = "NEString"/>
			<xsd:element name = "PRIORITY" type = "xsd:integer"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name = "RESULT">
		<xsd:sequence>
			<xsd:element name = "CODE" type = "xsd:integer" minOccurs = "0"/>
			<xsd:element name = "DESCRIPTION" type = "xsd:string" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name = "COMMUNICATION_CHANNEL">
		<xsd:sequence>
			<xsd:element name = "APPLICATION" type = "NEString"/>
			<xsd:element name = "ID" type = "NEString"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name = "CONTACT_DETAILS">
		<xsd:sequence>
			<xsd:element name = "CONTACT_REFERENCE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "COMMUNICATION_CHANNEL" type = "COMMUNICATION_CHANNEL"/>
			<xsd:element name = "TIMESTAMP" type = "xsd:dateTime"/>
			<xsd:element name = "CUSTOMER_ACCEPTANCE_RESULT" minOccurs = "0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name = "KAM_REFERENCE" type = "xsd:integer" minOccurs = "0"/>
						<xsd:element name = "KAM_CHECK_RESULT" type = "NEString"/>
						<xsd:element name = "RESULT" type = "RESULT" minOccurs = "0"/>
						<xsd:element name = "DEVIATION" type = "xsd:integer" minOccurs = "0"/>
						<xsd:element name = "IMPEDIMENT_LIST" minOccurs = "0">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name = "IMPEDIMENT" type = "IMPEDIMENT" maxOccurs = "unbounded"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name = "DEALER" type = "DEALER"/>
			<xsd:element name = "CUSTOMER" type = "CUSTOMER"/>
			<xsd:element name = "CUSTOMER_REPRESENTATIVE_LIST">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name = "CUSTOMER_REPRESENTATIVE" minOccurs = "2" maxOccurs = "2">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name = "ROLE" type = "NEString"/>
									<xsd:element name = "NAME" type = "NAME"/>
									<xsd:element name = "ADDRESS" type = "ADDRESS"/>
									<xsd:element name = "FUNCTION" type = "xsd:string" minOccurs = "0"/>
									<xsd:element name = "TELEPHONE_BUSINESS" type = "TelecomNumberDetailed" minOccurs = "0"/>
									<xsd:element name = "FAX_NUMBER" type = "TelecomNumberDetailed" minOccurs = "0"/>
									<xsd:element name = "EMAIL_ADDRESS" type = "xsd:string" minOccurs = "0"/>
									<xsd:element name = "GENDER" type = "xsd:string" minOccurs = "0"/>
									<xsd:element name = "DATE_OF_BIRTH" type = "xsd:date" minOccurs = "0"/>
									<xsd:element name = "IDENTIFICATION" type = "IDENTIFICATION2" minOccurs = "0"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name = "DEALER">
		<xsd:sequence>
			<xsd:element name = "ID_MCCS" type = "NEString"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name = "NAME">
		<xsd:sequence>
			<xsd:element name = "TITLES" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "INITIALS" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "FAMILY_NAME_PREFIX" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "FAMILY_NAME" type = "NEString"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name = "CUSTOMER">
		<xsd:sequence>
			<xsd:element name = "ID_MCCS" type = "NEString"/>
			<xsd:element name = "NAME" type = "NAME"/>
			<xsd:element name = "ADDRESS" type = "ADDRESS"/>
			<xsd:element name = "MAIL_ADDRESS" type = "ADDRESS" minOccurs = "0"/>
			<xsd:element name = "PRIVATE_BUSINESS" type = "xsd:string" minOccurs = "0"/>
			<xsd:choice>
				<xsd:element name = "TELEPHONE_BUSINESS" type = "TelecomNumberDetailed" minOccurs = "0"/>
				<xsd:element name = "TELEPHONE_PRIVATE" type = "TelecomNumberDetailed" minOccurs = "0"/>
			</xsd:choice>
			<xsd:element name = "FAX_NUMBER" type = "TelecomNumberDetailed" minOccurs = "0"/>
			<xsd:element name = "GENDER" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "DATE_OF_BIRTH" type = "xsd:date" minOccurs = "0"/>
			<xsd:element name = "IDENTIFICATION" type = "IDENTIFICATION" minOccurs = "0"/>
			<xsd:element name = "STAY_REASON" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "KVK_NUMBER" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "LEGAL_FORM_ID_GTX" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "CUSTOMER_VALUE" minOccurs = "0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name = "CODE" type = "xsd:string" minOccurs = "0"/>
						<xsd:element name = "DESCRIPTION" type = "xsd:string" minOccurs = "0"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name = "ADDRESS">
		<xsd:sequence>
			<xsd:element name = "POSTCODE" type = "NEString"/>
			<xsd:element name = "STREET_NAME" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "HOUSE_NUMBER" type = "xsd:integer"/>
			<xsd:element name = "HOUSE_NUMBER_EXTENSION" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "CITY_NAME" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "COUNTRY" type = "COUNTRY" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name = "COUNTRY">
		<xsd:sequence>
			<xsd:element name = "NAME" type = "NEString"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name = "ADDRESS2">
		<xsd:sequence>
			<xsd:element name = "CITY_NAME" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "COUNTRY" type = "COUNTRY" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name = "IDENTIFICATION2">
		<xsd:sequence>
			<xsd:element name = "TYPE" type = "NEString"/>
			<xsd:element name = "ID" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "ISSUED" type = "ADDRESS3" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name = "ADDRESS3">
		<xsd:sequence>
			<xsd:element name = "COUNTRY" type = "COUNTRY" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name = "ORDER_INFO">
		<xsd:sequence>
			<xsd:element name = "ORDER" type = "ORDER"/>
			<xsd:element name = "PAYMENT_AGREEMENT_INFO" type = "PAYMENT_AGREEMENT_INFO" minOccurs = "0"/>
			<xsd:element name = "PAYMENT" type = "PAYMENT"/>
			<xsd:element name = "RECIPIENT" type = "RECIPIENT" minOccurs = "0"/>
			<xsd:element name = "PORTING_ORDER_INFO" type = "PORTING_ORDER_INFO" minOccurs = "0"/>
			<xsd:element name = "ORDER_LINE_INFO_LIST">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name = "ORDER_LINE_INFO" type = "ORDER_LINE_INFO" maxOccurs = "unbounded"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name = "ORDER">
		<xsd:sequence>
			<xsd:element name = "TYPE_ID_UOB" type = "NEString"/>
			<xsd:element name = "IS_COMPENSATABLE" type = "xsd:boolean"/>
			<xsd:element name = "IS_CUSTOMER_VALUE_APPLICABLE" type = "xsd:boolean"/>
			<xsd:element name = "DELIVERY_METHOD" type = "NEString"/>
			<xsd:element name = "ACCEPTANCE_RESULT" minOccurs = "0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name = "KAM_REFERENCE" type = "xsd:integer" minOccurs = "0"/>
						<xsd:element name = "KAM_CHECK_RESULT" type = "NEString"/>
						<xsd:element name = "RESULT" type = "RESULT" minOccurs = "0"/>
						<xsd:element name = "DEVIATION" type = "xsd:integer" minOccurs = "0"/>
						<xsd:element name = "IMPEDIMENT_LIST" minOccurs = "0">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name = "IMPEDIMENT" type = "IMPEDIMENT" maxOccurs = "unbounded"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name = "ID_EXTERNAL" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "COMMENT" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "DESIRED_DATETIME" type = "xsd:dateTime"/>
			<xsd:element name = "BACK_ORDER_ALLOWED" type = "xsd:boolean"/>
			<xsd:element name = "DELIVERY_INSTRUCTION" type = "xsd:string" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name = "PAYMENT_AGREEMENT_INFO">
		<xsd:sequence>
			<xsd:element name = "PAYER" type = "PAYER" minOccurs = "0"/>
			<xsd:element name = "PAYMENT_AGREEMENT" type = "PAYMENT_AGREEMENT"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name = "PAYER">
		<xsd:sequence>
			<xsd:element name = "NAME" type = "NAME3"/>
			<xsd:element name = "GENDER" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "ADDRESS" type = "ADDRESS"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name = "NAME3">
		<xsd:sequence>
			<xsd:element name = "TITLES" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "INITIALS" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "FAMILY_NAME_PREFIX" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "FAMILY_NAME" type = "NEString"/>
			<xsd:element name = "OTHER_PART" type = "xsd:string" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name = "PAYMENT_AGREEMENT">
		<xsd:sequence>
			<xsd:element name = "NUMBER" type = "NEString"/>
			<xsd:element name = "AUTOMATIC_PAYMENT" type = "xsd:boolean" minOccurs = "0"/>
			<xsd:element name = "ACCOUNT_TYPE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "ACCOUNT_NUMBER" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "USER_GROUP" type = "USER_GROUP2" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name = "USER_GROUP2">
		<xsd:sequence>
			<xsd:element name = "REFERENCE" type = "xsd:string" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name = "ADDRESS4">
		<xsd:sequence>
			<xsd:element name = "POSTCODE" type = "NEString"/>
			<xsd:element name = "STREET_NAME" type = "NEString"/>
			<xsd:element name = "HOUSE_NUMBER" type = "xsd:integer"/>
			<xsd:element name = "HOUSE_NUMBER_EXTENSION" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "CITY_NAME" type = "NEString"/>
			<xsd:element name = "COUNTRY" type = "COUNTRY"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name = "RECIPIENT">
		<xsd:sequence>
			<xsd:element name = "NAME" type = "NAME"/>
			<xsd:element name = "GENDER" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "ADDRESS" type = "ADDRESS4"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name = "PAYMENT">
		<xsd:sequence>
			<xsd:element name = "METHOD_TYPE_ID_UOB" type = "NEString"/>
			<xsd:element name = "BILLING_TYPE" type = "NEString"/>
			<xsd:element name = "REFERENCE" type = "xsd:string" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name = "PORTING_ORDER_INFO">
		<xsd:sequence>
			<xsd:element name = "PORTING_ORDER" type = "PORTING_ORDER"/>
			<xsd:element name = "SIMCARD" minOccurs = "0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name = "ICC_ABBREVIATION" type = "NEString"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name = "EXTERNAL_CUSTOMER">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name = "ID_EXTERNAL" type = "xsd:string" minOccurs = "0"/>
						<xsd:element name = "NAME" type = "NAME2"/>
						<xsd:element name = "ADDRESS" type = "ADDRESS4"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name = "PORTING_ORDER">
		<xsd:sequence>
			<xsd:element name = "DONOR_NO" type = "NETWORK_OPERATOR"/>
			<xsd:element name = "DONOR_SP" type = "SERVICE_PROVIDER"/>
			<xsd:element name = "IS_DEVIANT" type = "xsd:boolean"/>
			<xsd:element name = "PLANNED_DATETIME" type = "xsd:dateTime"/>
			<xsd:element name = "DONOR_PAYMENT_TYPE" type = "NEString"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name = "NETWORK_OPERATOR">
		<xsd:sequence>
			<xsd:element name = "ID" type = "NEString"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name = "SERVICE_PROVIDER">
		<xsd:sequence>
			<xsd:element name = "ID_PORBES" type = "NEString"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name = "NAME2">
		<xsd:sequence>
			<xsd:element name = "OTHER_PART" type = "NEString"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name = "MonetarySum">
		<xsd:simpleContent>
			<xsd:extension base = "xsd:decimal">
				<xsd:attribute name = "CurrencyType" use = "required" type = "NEString"/>
				<xsd:attribute name = "Factor" use = "required" type = "xsd:decimal"/>
				<xsd:attribute name = "Sign" type = "xsd:string"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name = "ORDER_LINE_INFO">
		<xsd:sequence>
			<xsd:element name = "ORDER_LINE_LIST">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name = "ORDER_LINE" type = "ORDER_LINE" maxOccurs = "unbounded"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name = "MOBILE_CONNECTION_INFO" minOccurs = "0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name = "MOBILE_CONNECTION" type = "MOBILE_CONNECTION" minOccurs = "0"/>
						<xsd:element name = "SIMCARD" type = "SIMCARD" minOccurs = "0"/>
						<xsd:element name = "DEVICE" type = "DEVICE" minOccurs = "0"/>
						<xsd:element name = "PAYMENT_AGREEMENT" type = "PAYMENT_AGREEMENT2" minOccurs = "0"/>
						<xsd:element name = "USER_GROUP" type = "USER_GROUP" minOccurs = "0"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name = "ORDER_CHECK" type = "ORDER_CHECK" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name = "ORDER_LINE">
		<xsd:sequence>
			<xsd:element name = "NUMBER_OF_INSTANCES" type = "xsd:integer"/>
			<xsd:element name = "PRODUCT" type = "PRODUCT"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name = "PRODUCT">
		<xsd:sequence>
			<xsd:choice>
				<xsd:element name = "ID_AIC" type = "NEString"/>
				<xsd:element name = "ID_UPN" type = "NEString"/>
			</xsd:choice>
			<xsd:element name = "PRODUCT_CHARACTERISTIC_LIST" minOccurs = "0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name = "PRODUCT_CHARACTERISTIC" type = "PRODUCT_CHARACTERISTIC" maxOccurs = "unbounded"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name = "PRICE" type = "MonetarySum" minOccurs = "0"/>
			<xsd:element name = "DISCOUNT" type = "MonetarySum" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name = "PRODUCT_CHARACTERISTIC">
		<xsd:sequence>
			<xsd:element name = "ID_PC" type = "NEString"/>
			<xsd:element name = "VALUE" type = "NEString"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name = "MOBILE_CONNECTION">
		<xsd:sequence>
			<xsd:element name = "MSISDN" type = "TelecomNumberDetailed" minOccurs = "0"/>
			<xsd:element name = "MSISDN_INFO_LIST" minOccurs = "0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name = "MSISDN_INFO" type = "MSISDN_INFO" maxOccurs = "2"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name = "BLOCKING_RANGE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "DIRECTORY_SECRECY" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "IS_HIDDEN" type = "xsd:boolean" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name = "MSISDN_INFO">
		<xsd:sequence>
			<xsd:element name = "MSISDN" type = "TelecomNumberDetailedEmpty" minOccurs = "0"/>
			<xsd:element name = "TYPE" type = "NEString"/>
			<xsd:element name = "SPEED" type = "xsd:integer" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name = "ORDER_CHECK">
		<xsd:sequence>
			<xsd:element name = "IS_CHECKED" type = "xsd:boolean" minOccurs = "0"/>
			<xsd:element name = "ORDER_CHECK_ITEM_LIST" minOccurs = "0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name = "ORDER_CHECK_ITEM" maxOccurs = "unbounded">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name = "TYPE" type = "NEString"/>
									<xsd:element name = "CODE" type = "NEString"/>
									<xsd:element name = "DESCRIPTION" type = "xsd:string" minOccurs = "0"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name = "SIMCARD">
		<xsd:sequence>
			<xsd:element name = "ICC_ABBREVIATION" type = "NEString"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name = "DEVICE">
		<xsd:sequence>
			<xsd:element name = "IMEI" type = "xsd:string" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name = "PAYMENT_AGREEMENT2">
		<xsd:sequence>
			<xsd:element name = "NUMBER" type = "NEString"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name = "USER_GROUP">
		<xsd:sequence>
			<xsd:element name = "REFERENCE" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "COST_PLACE" type = "xsd:string" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name = "IDENTIFICATION">
		<xsd:sequence>
			<xsd:element name = "TYPE" type = "NEString"/>
			<xsd:element name = "ID" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "EXPIRATION_DATE" type = "xsd:dateTime" minOccurs = "0"/>
			<xsd:element name = "ISSUED" type = "ADDRESS2" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>