ASTRIDAdapter/XSDSchemas/BSWAdapter/Request/CreateTroubleReport.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2006 sp2 U (http://www.altova.com) by Hans Postma (Atos Origin Nederland B.V.) -->
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns="http://xmlns.kpn.com/fixed/BSWAdapter/request/CreateTroubleReport.xsd" xmlns:Base.xsd="http://xmlns.kpn.com/common/cdm/Base.xsd" xmlns:ns6="http://xmlns.kpn.com/fixed/BSWAdapter/common/ContactPerson.xsd" xmlns:ns5="http://xmlns.kpn.com/fixed/BSWAdapter/common/PropertyAddress.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns4="http://xmlns.kpn.com/fixed/BSWAdapter/common/Attachment.xsd" xmlns:TroubleReport.xsd="http://xmlns.kpn.com/fixed/BSWAdapter/common/TroubleReport.xsd" targetNamespace="http://xmlns.kpn.com/fixed/BSWAdapter/request/CreateTroubleReport.xsd" elementFormDefault="unqualified" attributeFormDefault="unqualified">
	<xsd:import namespace="http://xmlns.kpn.com/common/cdm/Base.xsd" schemaLocation="../../Common/Base.xsd"/>
	<xsd:element name="CreateTroubleReport">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="Base.xsd:Base">
					<xsd:sequence>
						<xsd:element name="TROUBLE_REPORT">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="ANALYSIS_INFORMATION" type="xsd:string" minOccurs="0"/>
									<xsd:element name="CUSTOMER_INCIDENT_REPORT_ID" type="xsd:string" minOccurs="0"/>
									<xsd:element name="INCIDENT_FOUND" type="xsd:string" minOccurs="0"/>
									<xsd:element name="INCIDENT_REPORT_STATE" type="xsd:string" minOccurs="0"/>
									<xsd:element name="PERCEIVED_TROUBLE_SEVERITY" type="xsd:string" minOccurs="0"/>
									<xsd:element name="SLA_CLEARING_TIME" type="xsd:dateTime" minOccurs="0"/>
									<xsd:element name="TROUBLE_DESCRIPTION_LONG" type="xsd:string" minOccurs="0"/>
									<xsd:element name="TROUBLE_DESCRIPTION_SHORT" type="xsd:string" minOccurs="0"/>
									<xsd:element name="TROUBLE_DETECTION_DATETIME" type="xsd:dateTime" minOccurs="0"/>
									<xsd:element name="TROUBLE_REPORT_ID" type="xsd:string" minOccurs="0"/>
									<xsd:element name="TROUBLE_TYPE" type="xsd:string" minOccurs="0"/>
									<xsd:element name="CUSTOMER_INCIDENT_REPORT_INITIATION" type="xsd:string" minOccurs="0"/>
									<xsd:element name="ALARM_REPORT_ID" type="xsd:string" minOccurs="0"/>
									<xsd:element name="NETWORK_CLASS" type="xsd:string" minOccurs="0"/>
									<xsd:element name="QUESTIONS" minOccurs="0" maxOccurs="unbounded">
										<xsd:complexType>
											<xsd:sequence>
												<xsd:element name="ANALYSIS_QUESTION" type="xsd:string" minOccurs="0"/>
												<xsd:element name="ANALYSIS_ANSWER" type="xsd:string" minOccurs="0"/>
											</xsd:sequence>
										</xsd:complexType>
									</xsd:element>
									<xsd:element name="END_USER" minOccurs="0">
										<xsd:complexType>
											<xsd:sequence>
												<xsd:element name="NAME" type="xsd:string" minOccurs="0"/>
												<xsd:element name="PHONE_NUMBER" type="xsd:string" minOccurs="0"/>
											</xsd:sequence>
										</xsd:complexType>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="CUSTOMER_ORGANIZATION">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="CUSTOMER_ORGANIZATION_NAME" type="xsd:string" minOccurs="0"/>
									<xsd:element name="MANAGER_CONTACT_PERSON_NAME" type="xsd:string" minOccurs="0"/>
									<xsd:element name="PROPERTY_ADDRESS" minOccurs="0">
										<xsd:complexType>
											<xsd:sequence>
												<xsd:element name="CITY_NAME" type="xsd:string" minOccurs="0"/>
												<xsd:element name="COUNTRY" type="xsd:string" minOccurs="0"/>
												<xsd:element name="HOUSE_NUMBER" type="xsd:string" minOccurs="0"/>
												<xsd:element name="HOUSE_NUMBER_EXTENSION" type="xsd:string" minOccurs="0"/>
												<xsd:element name="STREET_NAME" type="xsd:string" minOccurs="0"/>
												<xsd:element name="ZIP_CODE" type="xsd:string" minOccurs="0"/>
											</xsd:sequence>
										</xsd:complexType>
									</xsd:element>
									<xsd:element name="CONTACT_PERSON" minOccurs="0">
										<xsd:complexType>
											<xsd:sequence>
												<xsd:element name="NAME" type="xsd:string" minOccurs="0"/>
												<xsd:element name="EMAIL" type="xsd:string" minOccurs="0"/>
												<xsd:element name="FAX_NUMBER" type="xsd:string" minOccurs="0"/>
												<xsd:element name="PHONE_NUMBER" type="xsd:string" minOccurs="0"/>
											</xsd:sequence>
										</xsd:complexType>
									</xsd:element>
									<xsd:element name="INCIDENT_REPORTER" minOccurs="0">
										<xsd:complexType>
											<xsd:sequence>
												<xsd:element name="NAME" type="xsd:string" minOccurs="0"/>
												<xsd:element name="EMAIL" type="xsd:string" minOccurs="0"/>
												<xsd:element name="FAX_NUMBER" type="xsd:string" minOccurs="0"/>
												<xsd:element name="PHONE_NUMBER" type="xsd:string" minOccurs="0"/>
											</xsd:sequence>
										</xsd:complexType>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="MANAGED_OBJECT_IN_TROUBLE">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="NETWORK_CLASS" type="xsd:string" minOccurs="0"/>
									<xsd:element name="NETWORK_INSTANCE" type="xsd:string" minOccurs="0"/>
									<xsd:element name="MANAGED_OBJECT_INSTANCE" type="xsd:string" minOccurs="0"/>
									<xsd:element name="SUPPORTED_SERVICE" minOccurs="0">
										<xsd:complexType>
											<xsd:sequence>
												<xsd:element name="PROPERTY_ADDRESS">
													<xsd:complexType>
														<xsd:sequence>
															<xsd:element name="CITY_NAME" type="xsd:string" minOccurs="0"/>
															<xsd:element name="COUNTRY" type="xsd:string" minOccurs="0"/>
															<xsd:element name="HOUSE_NUMBER" type="xsd:string" minOccurs="0"/>
															<xsd:element name="HOUSE_NUMBER_EXTENSION" type="xsd:string" minOccurs="0"/>
															<xsd:element name="STREET_NAME" type="xsd:string" minOccurs="0"/>
															<xsd:element name="ZIP_CODE" type="xsd:string" minOccurs="0"/>
														</xsd:sequence>
													</xsd:complexType>
												</xsd:element>
											</xsd:sequence>
										</xsd:complexType>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="MANAGED_OBJECT">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="MANAGED_OBJECT_INSTANCE" type="xsd:string" minOccurs="0"/>
									<xsd:element name="INSTANCE" type="xsd:string" minOccurs="0"/>
									<xsd:element name="MANAGED_OBJECT_CLASS" type="xsd:string" minOccurs="0"/>
									<xsd:element name="NETWORK_CLASS" type="xsd:string" minOccurs="0"/>
									<xsd:element name="NETWORK_INSTANCE" type="xsd:string" minOccurs="0"/>
									<xsd:element name="SUPPORTED_SERVICE" minOccurs="0">
										<xsd:complexType>
											<xsd:sequence>
												<xsd:element name="SUPPORTED_SERVICE_CLASS" type="xsd:string" minOccurs="0"/>
												<xsd:element name="SUPPORTED_SERVICE_INSTANCE" type="xsd:string" minOccurs="0"/>
												<xsd:element name="ATTRIBUTE_NAME" type="xsd:string" minOccurs="0"/>
												<xsd:element name="ATTRIBUTE_VALUE" type="xsd:string" minOccurs="0"/>
												<xsd:element name="SERVICE_INSTANCE" minOccurs="0" maxOccurs="unbounded">
													<xsd:complexType>
														<xsd:sequence>
															<xsd:element name="ATTRIBUTE_NAME" type="xsd:string" minOccurs="0"/>
															<xsd:element name="ATTRIBUTE_VALUE" type="xsd:string" minOccurs="0"/>
														</xsd:sequence>
													</xsd:complexType>
												</xsd:element>
											</xsd:sequence>
										</xsd:complexType>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="ATTACHMENTS">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="ATTACHMENT" minOccurs="0" maxOccurs="3">
										<xsd:complexType>
											<xsd:sequence>
												<xsd:element name="DATA" type="xsd:base64Binary" minOccurs="0"/>
												<xsd:element name="SIZE" type="xsd:integer" minOccurs="0"/>
												<xsd:element name="NAME" type="xsd:string" minOccurs="0"/>
											</xsd:sequence>
										</xsd:complexType>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
