ASTRIDAdapter/XSDSchemas/BSWAdapter/Request/GetTroubleReportStatus.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2006 sp2 U (http://www.altova.com) by Hans Postma (Atos Origin Nederland B.V.) -->
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns="http://xmlns.kpn.com/fixed/BSWAdapter/request/GetTroubleReportStatus.xsd" xmlns:Base.xsd="http://xmlns.kpn.com/common/cdm/Base.xsd" xmlns:ns6="http://xmlns.kpn.com/fixed/BSWAdapter/common/ContactPerson.xsd" xmlns:ns5="http://xmlns.kpn.com/fixed/BSWAdapter/common/PropertyAddress.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns4="http://xmlns.kpn.com/fixed/BSWAdapter/common/Attachment.xsd" xmlns:TroubleReport.xsd="http://xmlns.kpn.com/fixed/BSWAdapter/common/TroubleReport.xsd" targetNamespace="http://xmlns.kpn.com/fixed/BSWAdapter/request/GetTroubleReportStatus.xsd" elementFormDefault="unqualified" attributeFormDefault="unqualified">
	<xsd:import namespace="http://xmlns.kpn.com/common/cdm/Base.xsd" schemaLocation="../../Common/Base.xsd"/>
	<xsd:element name="GetTroubleReportStatus">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="Base.xsd:Base">
					<xsd:sequence>
						<xsd:element name="TROUBLE_REPORT">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="CUSTOMER_INCIDENT_REPORT_ID" type="xsd:string" minOccurs="0"/>
									<xsd:element name="TROUBLE_REPORT_ID" type="xsd:string" minOccurs="0"/>
									<xsd:element name="INCIDENT_REPORT_STATE" type="xsd:string" minOccurs="0"/>
									<xsd:element name="TROUBLE_TYPE" type="xsd:string" minOccurs="0"/>
									<xsd:element name="REQUEST_TYPE" type="xsd:string" minOccurs="0"/>
									<xsd:element name="CREATION_TYPE" type="xsd:string" minOccurs="0"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
