GenericOrderGateway/WSDL/WMP/WMP_homepage_v1.0.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Generated on 2008/11/04 14:33:18 with EAIPlugin 1.2.0 -->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:grp="http://kpn.com/products/WMP" xmlns:ord="http://kpn.com/eai/generic/order/1.0" xmlns:prd="http://kpn.com/products/WMP/homepage/data/v1.0" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://kpn.com/products/WMP/homepage/v1" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://kpn.com/products/WMP/homepage/v1">
<wsdl:documentation>
    Homepage commercial product

    Version History:
    * 1.0 - Initial version
</wsdl:documentation>
<wsdl:types>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://kpn.com/eai/generic/order/1.0" version="1.0">
  <!-- ================================================== -->
  <!-- =====  Simple Type Definitions  -->
  <!-- ================================================== -->
  <xsd:simpleType name="OrderStatusEnumeration">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="INITIAL"/>
      <xsd:enumeration value="ACCEPTED"/>
      <xsd:enumeration value="REJECTED"/>
      <xsd:enumeration value="ERROR"/>
      <xsd:enumeration value="COMPLETED"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ================================================== -->
  <!-- =====  Complex Type Definitions  -->
  <!-- ================================================== -->
  <xsd:complexType name="Error">
    <xsd:sequence>
      <xsd:element name="code" type="xsd:string"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="detail" type="xsd:string"/>
      <xsd:element name="description" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType abstract="true" name="Order">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="customerOrderId" type="xsd:string"/>
      <xsd:element name="orderDateTime" type="xsd:dateTime"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType abstract="true" name="OrderStatus">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="customerOrderId" type="xsd:string"/>
      <xsd:element name="supplierOrderId" type="xsd:string"/>
      <xsd:element minOccurs="0" name="error" type="ord:Error"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://kpn.com/products/WMP" version="1.0">
  <!-- ================================================== -->
  <!-- =====  Simple Type Definitions  -->
  <!-- ================================================== -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  E_activation  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:simpleType name="E_activation">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Active"/>
      <xsd:enumeration value="Inactive"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  E_callBarringServiceNumbers  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:simpleType name="E_callBarringServiceNumbers">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="0906"/>
      <xsd:enumeration value="0906-0909"/>
      <xsd:enumeration value="0900-0906-0909"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  E_carrierType  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:simpleType name="E_carrierType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="FTTC"/>
      <xsd:enumeration value="FTTH"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  E_orderScenario  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:simpleType name="E_orderScenario">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="New"/>
      <xsd:enumeration value="Migrate"/>
      <xsd:enumeration value="Move"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  E_qualityOfService  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:simpleType name="E_qualityOfService">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Best Effort"/>
      <xsd:enumeration value="Premium"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  T_telephoneNumber  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:simpleType name="T_telephoneNumber">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  T_zipcode  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:simpleType name="T_zipcode">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <!-- ================================================== -->
  <!-- =====  Complex Type Definitions  -->
  <!-- ================================================== -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  WMPOrder  <<order>>  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="WMPOrder"/>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  WMPOrderItem  <<orderItem>>  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="WMPOrderItem">
    <xsd:sequence>
      <xsd:element name="requesterId" type="xsd:string"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="requiredProductInstanceId" type="xsd:string"/>
      <xsd:element minOccurs="0" name="wegaId" type="xsd:string"/>
      <xsd:element minOccurs="0" name="refOrderId" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  WMPOrderStatus  <<orderStatus>>  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="WMPOrderStatus"/>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  WMPOrderStatusItem  <<orderStatusItem>>  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="WMPOrderStatusItem">
    <xsd:sequence>
      <xsd:element name="productInstanceId" type="xsd:string"/>
      <xsd:element minOccurs="0" name="refOrderId" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://kpn.com/products/WMP/homepage/data/v1.0" version="1.0">
  <xsd:import namespace="http://kpn.com/eai/generic/order/1.0"/>
  <xsd:import namespace="http://kpn.com/products/WMP"/>
  <!-- ================================================== -->
  <!-- =====  Element Declarations  -->
  <!-- ================================================== -->
  <xsd:element name="homepagecreateRequest" type="prd:homepagecreateRequest"/>
  <xsd:element name="homepagecreateResponse" type="prd:homepagecreateResponse"/>
  <xsd:element name="homepagedeleteRequest" type="prd:homepagedeleteRequest"/>
  <xsd:element name="homepagedeleteResponse" type="prd:homepagedeleteResponse"/>
  <xsd:element name="homepagereadRequest" type="prd:homepagereadRequest"/>
  <xsd:element name="homepagereadResponse" type="prd:homepagereadResponse"/>
  <xsd:element name="homepageupdateRequest" type="prd:homepageupdateRequest"/>
  <xsd:element name="homepageupdateResponse" type="prd:homepageupdateResponse"/>
  <!-- ================================================== -->
  <!-- =====  Simple Type Definitions  -->
  <!-- ================================================== -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  homepageStatusEnum  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:simpleType name="homepageStatusEnum">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Rejected"/>
      <xsd:enumeration value="Failed"/>
      <xsd:enumeration value="Completed"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ================================================== -->
  <!-- =====  Complex Type Definitions  -->
  <!-- ================================================== -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  createRequest  <<actionRequest>>  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="createRequest">
    <xsd:sequence>
      <xsd:element name="httpAccess" type="xsd:boolean"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  createResponse  <<actionResponse>>  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="createResponse"/>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  deleteRequest  <<actionRequest>>  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="deleteRequest"/>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  deleteResponse  <<actionResponse>>  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="deleteResponse"/>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  homepagecreateRequest  <<xsdGen>>  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="homepagecreateRequest">
    <xsd:complexContent>
      <xsd:extension base="ord:Order">
        <xsd:sequence>
          <xsd:element name="OrderItem" type="prd:homepagecreateRequestItem"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  homepagecreateRequestItem  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="homepagecreateRequestItem">
    <xsd:complexContent>
      <xsd:extension base="grp:WMPOrderItem">
        <xsd:sequence>
          <xsd:element name="Parameters" type="prd:createRequest"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  homepagecreateResponse  <<xsdGen>>  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="homepagecreateResponse">
    <xsd:complexContent>
      <xsd:extension base="ord:OrderStatus">
        <xsd:sequence>
          <xsd:element name="status" type="prd:homepageStatusEnum"/>
          <xsd:element name="OrderItem" type="prd:homepagecreateResponseItem"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  homepagecreateResponseItem  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="homepagecreateResponseItem">
    <xsd:complexContent>
      <xsd:extension base="grp:WMPOrderStatusItem"/>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  homepagedeleteRequest  <<xsdGen>>  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="homepagedeleteRequest">
    <xsd:complexContent>
      <xsd:extension base="ord:Order">
        <xsd:sequence>
          <xsd:element name="OrderItem" type="prd:homepagedeleteRequestItem"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  homepagedeleteRequestItem  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="homepagedeleteRequestItem">
    <xsd:complexContent>
      <xsd:extension base="grp:WMPOrderItem"/>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  homepagedeleteResponse  <<xsdGen>>  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="homepagedeleteResponse">
    <xsd:complexContent>
      <xsd:extension base="ord:OrderStatus">
        <xsd:sequence>
          <xsd:element name="status" type="prd:homepageStatusEnum"/>
          <xsd:element name="OrderItem" type="prd:homepagedeleteResponseItem"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  homepagedeleteResponseItem  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="homepagedeleteResponseItem">
    <xsd:complexContent>
      <xsd:extension base="grp:WMPOrderStatusItem"/>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  homepagereadRequest  <<xsdGen>>  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="homepagereadRequest">
    <xsd:complexContent>
      <xsd:extension base="ord:Order">
        <xsd:sequence>
          <xsd:element name="OrderItem" type="prd:homepagereadRequestItem"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  homepagereadRequestItem  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="homepagereadRequestItem">
    <xsd:complexContent>
      <xsd:extension base="grp:WMPOrderItem"/>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  homepagereadResponse  <<xsdGen>>  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="homepagereadResponse">
    <xsd:complexContent>
      <xsd:extension base="ord:OrderStatus">
        <xsd:sequence>
          <xsd:element name="status" type="prd:homepageStatusEnum"/>
          <xsd:element name="OrderItem" type="prd:homepagereadResponseItem"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  homepagereadResponseItem  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="homepagereadResponseItem">
    <xsd:complexContent>
      <xsd:extension base="grp:WMPOrderStatusItem">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="Parameters" type="prd:readResponse"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  homepageupdateRequest  <<xsdGen>>  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="homepageupdateRequest">
    <xsd:complexContent>
      <xsd:extension base="ord:Order">
        <xsd:sequence>
          <xsd:element name="OrderItem" type="prd:homepageupdateRequestItem"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  homepageupdateRequestItem  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="homepageupdateRequestItem">
    <xsd:complexContent>
      <xsd:extension base="grp:WMPOrderItem">
        <xsd:sequence>
          <xsd:element name="Parameters" type="prd:updateRequest"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  homepageupdateResponse  <<xsdGen>>  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="homepageupdateResponse">
    <xsd:complexContent>
      <xsd:extension base="ord:OrderStatus">
        <xsd:sequence>
          <xsd:element name="status" type="prd:homepageStatusEnum"/>
          <xsd:element name="OrderItem" type="prd:homepageupdateResponseItem"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  homepageupdateResponseItem  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="homepageupdateResponseItem">
    <xsd:complexContent>
      <xsd:extension base="grp:WMPOrderStatusItem"/>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  readRequest  <<actionRequest>>  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="readRequest"/>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  readResponse  <<actionResponse>>  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="readResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="quota" type="xsd:string"/>
      <xsd:element minOccurs="0" name="httpAccess" type="xsd:boolean"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  updateRequest  <<actionRequest>>  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="updateRequest">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="httpAccess" type="xsd:boolean"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  updateResponse  <<actionResponse>>  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="updateResponse"/>
</xsd:schema>
</wsdl:types>
<wsdl:message name="readStatusUpdateRequest">
<wsdl:part element="prd:homepagereadResponse" name="homepagereadStatusUpdateRequest"/>
</wsdl:message>
<wsdl:message name="Error">
<wsdl:part name="Error" type="ord:Error"/>
</wsdl:message>
<wsdl:message name="createStatusUpdateRequest">
<wsdl:part element="prd:homepagecreateResponse" name="homepagecreateStatusUpdateRequest"/>
</wsdl:message>
<wsdl:message name="readRequest">
<wsdl:part element="prd:homepagereadRequest" name="homepagereadRequest"/>
</wsdl:message>
<wsdl:message name="createRequest">
<wsdl:part element="prd:homepagecreateRequest" name="homepagecreateRequest"/>
</wsdl:message>
<wsdl:message name="updateStatusUpdateRequest">
<wsdl:part element="prd:homepageupdateResponse" name="homepageupdateStatusUpdateRequest"/>
</wsdl:message>
<wsdl:message name="deleteRequest">
<wsdl:part element="prd:homepagedeleteRequest" name="homepagedeleteRequest"/>
</wsdl:message>
<wsdl:message name="deleteStatusUpdateRequest">
<wsdl:part element="prd:homepagedeleteResponse" name="homepagedeleteStatusUpdateRequest"/>
</wsdl:message>
<wsdl:message name="updateRequest">
<wsdl:part element="prd:homepageupdateRequest" name="homepageupdateRequest"/>
</wsdl:message>
<wsdl:portType name="homepageServices">
<wsdl:operation name="create">
<wsdl:input message="tns:createRequest" name="createRequest"/>
</wsdl:operation>
<wsdl:operation name="update">
<wsdl:input message="tns:updateRequest" name="updateRequest"/>
</wsdl:operation>
<wsdl:operation name="delete">
<wsdl:input message="tns:deleteRequest" name="deleteRequest"/>
</wsdl:operation>
<wsdl:operation name="read">
<wsdl:input message="tns:readRequest" name="readRequest"/>
</wsdl:operation>
</wsdl:portType>
<wsdl:portType name="homepageCallbackServices">
<wsdl:operation name="createStatusUpdate">
<wsdl:input message="tns:createStatusUpdateRequest" name="createStatusUpdateRequest"/>
</wsdl:operation>
<wsdl:operation name="readStatusUpdate">
<wsdl:input message="tns:readStatusUpdateRequest" name="readStatusUpdateRequest"/>
</wsdl:operation>
<wsdl:operation name="deleteStatusUpdate">
<wsdl:input message="tns:deleteStatusUpdateRequest" name="deleteStatusUpdateRequest"/>
</wsdl:operation>
<wsdl:operation name="updateStatusUpdate">
<wsdl:input message="tns:updateStatusUpdateRequest" name="updateStatusUpdateRequest"/>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="homepageCallbackBindingSOAP" type="tns:homepageCallbackServices">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="createStatusUpdate">
<soap:operation soapAction="WMP_homepage_1.0_create_Asynchronous" style="document"/>
<wsdl:input name="createStatusUpdateRequest">
<soap:body use="literal"/>
</wsdl:input>
</wsdl:operation>
<wsdl:operation name="readStatusUpdate">
<soap:operation soapAction="WMP_homepage_1.0_read_Asynchronous" style="document"/>
<wsdl:input name="readStatusUpdateRequest">
<soap:body use="literal"/>
</wsdl:input>
</wsdl:operation>
<wsdl:operation name="deleteStatusUpdate">
<soap:operation soapAction="WMP_homepage_1.0_delete_Asynchronous" style="document"/>
<wsdl:input name="deleteStatusUpdateRequest">
<soap:body use="literal"/>
</wsdl:input>
</wsdl:operation>
<wsdl:operation name="updateStatusUpdate">
<soap:operation soapAction="WMP_homepage_1.0_update_Asynchronous" style="document"/>
<wsdl:input name="updateStatusUpdateRequest">
<soap:body use="literal"/>
</wsdl:input>
</wsdl:operation>
</wsdl:binding>
<wsdl:binding name="homepageBindingSOAP" type="tns:homepageServices">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="create">
<soap:operation soapAction="WMP_homepage_1.0_create_Asynchronous" style="document"/>
<wsdl:input name="createRequest">
<soap:body use="literal"/>
</wsdl:input>
</wsdl:operation>
<wsdl:operation name="update">
<soap:operation soapAction="WMP_homepage_1.0_update_Asynchronous" style="document"/>
<wsdl:input name="updateRequest">
<soap:body use="literal"/>
</wsdl:input>
</wsdl:operation>
<wsdl:operation name="delete">
<soap:operation soapAction="WMP_homepage_1.0_delete_Asynchronous" style="document"/>
<wsdl:input name="deleteRequest">
<soap:body use="literal"/>
</wsdl:input>
</wsdl:operation>
<wsdl:operation name="read">
<soap:operation soapAction="WMP_homepage_1.0_read_Asynchronous" style="document"/>
<wsdl:input name="readRequest">
<soap:body use="literal"/>
</wsdl:input>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="homepage">
<wsdl:port binding="tns:homepageBindingSOAP" name="homepageServices">
<soap:address location="http://localhost:8080/path/homepageServices"/>
</wsdl:port>
<wsdl:port binding="tns:homepageCallbackBindingSOAP" name="homepageCallbackServices">
<soap:address location="http://localhost:8080/path/homepageCallbackServices"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>
