GenericOrderGateway/WSDL/WMP/WMP_telephoneNumber_v1.0-NEW.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Generated on 2008/11/05 14:11:08 with EAIPlugin 1.2.1 -->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:grp="http://kpn.com/products/WMP" xmlns:ord="http://kpn.com/eai/generic/order/1.0" xmlns:prd="http://kpn.com/products/WMP/telephoneNumber/data/v1.0-NEW" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://kpn.com/products/WMP/telephoneNumber/v1" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://kpn.com/products/WMP/telephoneNumber/v1">
    <wsdl:documentation>
    Telephone number commercial product

    Version History:
    * 1.0-EXISTING - Version used for inporting existing telephone numbers.

    * 1.0-NEW - Version used for ordering new telephone numbers.
</wsdl:documentation>
    <wsdl:types>
        <xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://kpn.com/products/WMP" version="1.0">
            <!-- ================================================== -->
            <!-- =====  Simple Type Definitions  -->
            <!-- ================================================== -->
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <!--  E_activation  -->
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <xsd:simpleType name="E_activation">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="Active"/>
                    <xsd:enumeration value="Inactive"/>
                </xsd:restriction>
            </xsd:simpleType>
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <!--  E_callBarringServiceNumbers  -->
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <xsd:simpleType name="E_callBarringServiceNumbers">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="0906"/>
                    <xsd:enumeration value="0906-0909"/>
                    <xsd:enumeration value="0900-0906-0909"/>
                </xsd:restriction>
            </xsd:simpleType>
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <!--  E_carrierType  -->
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <xsd:simpleType name="E_carrierType">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="FTTC"/>
                    <xsd:enumeration value="FTTH"/>
                </xsd:restriction>
            </xsd:simpleType>
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <!--  E_orderScenario  -->
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <xsd:simpleType name="E_orderScenario">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="New"/>
                    <xsd:enumeration value="Migrate"/>
                    <xsd:enumeration value="Move"/>
                </xsd:restriction>
            </xsd:simpleType>
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <!--  E_qualityOfService  -->
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <xsd:simpleType name="E_qualityOfService">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="Best Effort"/>
                    <xsd:enumeration value="Premium"/>
                </xsd:restriction>
            </xsd:simpleType>
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <!--  T_telephoneNumber  -->
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <xsd:simpleType name="T_telephoneNumber">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <!--  T_zipcode  -->
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <xsd:simpleType name="T_zipcode">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <!-- ================================================== -->
            <!-- =====  Complex Type Definitions  -->
            <!-- ================================================== -->
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <!--  WMPOrder  <<order>>  -->
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <xsd:complexType name="WMPOrder"/>
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <!--  WMPOrderItem  <<orderItem>>  -->
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <xsd:complexType name="WMPOrderItem">
                <xsd:sequence>
                    <xsd:element name="requesterId" type="xsd:string"/>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="requiredProductInstanceId" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="wegaId" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="refOrderId" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <!--  WMPOrderStatus  <<orderStatus>>  -->
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <xsd:complexType name="WMPOrderStatus"/>
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <!--  WMPOrderStatusItem  <<orderStatusItem>>  -->
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <xsd:complexType name="WMPOrderStatusItem">
                <xsd:sequence>
                    <xsd:element name="productInstanceId" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="refOrderId" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
        <xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://kpn.com/eai/generic/order/1.0" version="1.0">
            <!-- ================================================== -->
            <!-- =====  Simple Type Definitions  -->
            <!-- ================================================== -->
            <xsd:simpleType name="OrderStatusEnumeration">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="INITIAL"/>
                    <xsd:enumeration value="ACCEPTED"/>
                    <xsd:enumeration value="REJECTED"/>
                    <xsd:enumeration value="ERROR"/>
                    <xsd:enumeration value="COMPLETED"/>
                </xsd:restriction>
            </xsd:simpleType>
            <!-- ================================================== -->
            <!-- =====  Complex Type Definitions  -->
            <!-- ================================================== -->
            <xsd:complexType name="Error">
                <xsd:sequence>
                    <xsd:element name="code" type="xsd:string"/>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="detail" type="xsd:string"/>
                    <xsd:element name="description" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType abstract="true" name="Order">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="customerOrderId" type="xsd:string"/>
                    <xsd:element name="orderDateTime" type="xsd:dateTime"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType abstract="true" name="OrderStatus">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="customerOrderId" type="xsd:string"/>
                    <xsd:element name="supplierOrderId" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="error" type="ord:Error"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
        <xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://kpn.com/products/WMP/telephoneNumber/data/v1.0-NEW" version="1.0">
            <xsd:import namespace="http://kpn.com/products/WMP"/>
            <xsd:import namespace="http://kpn.com/eai/generic/order/1.0"/>
            <!-- ================================================== -->
            <!-- =====  Element Declarations  -->
            <!-- ================================================== -->
            <xsd:element name="telephoneNumbercreateRequest" type="prd:telephoneNumbercreateRequest"/>
            <xsd:element name="telephoneNumbercreateResponse" type="prd:telephoneNumbercreateResponse"/>
            <!-- ================================================== -->
            <!-- =====  Simple Type Definitions  -->
            <!-- ================================================== -->
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <!--  telephoneNumberStatusEnum  -->
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <xsd:simpleType name="telephoneNumberStatusEnum">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="Rejected"/>
                    <xsd:enumeration value="Failed"/>
                    <xsd:enumeration value="Completed"/>
                    <xsd:enumeration value="Planned"/>
                    <xsd:enumeration value="Delivered"/>
                </xsd:restriction>
            </xsd:simpleType>
            <!-- ================================================== -->
            <!-- =====  Complex Type Definitions  -->
            <!-- ================================================== -->
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <!--  createRequest  <<actionRequest>>  -->
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <xsd:complexType name="createRequest">
                <xsd:sequence>
                    <xsd:element name="accessZipcode" type="grp:T_zipcode"/>
                    <xsd:element name="numberType" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <!--  createResponse  <<actionResponse>>  -->
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <xsd:complexType name="createResponse"/>
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <!--  telephoneNumbercreateRequest  <<xsdGen>>  -->
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <xsd:complexType name="telephoneNumbercreateRequest">
                <xsd:complexContent>
                    <xsd:extension base="ord:Order">
                        <xsd:sequence>
                            <xsd:element name="OrderItem" type="prd:telephoneNumbercreateRequestItem"/>
                        </xsd:sequence>
                    </xsd:extension>
                </xsd:complexContent>
            </xsd:complexType>
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <!--  telephoneNumbercreateRequestItem  -->
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <xsd:complexType name="telephoneNumbercreateRequestItem">
                <xsd:complexContent>
                    <xsd:extension base="grp:WMPOrderItem">
                        <xsd:sequence>
                            <xsd:element name="Parameters" type="prd:createRequest"/>
                        </xsd:sequence>
                    </xsd:extension>
                </xsd:complexContent>
            </xsd:complexType>
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <!--  telephoneNumbercreateResponse  <<xsdGen>>  -->
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <xsd:complexType name="telephoneNumbercreateResponse">
                <xsd:complexContent>
                    <xsd:extension base="ord:OrderStatus">
                        <xsd:sequence>
                            <xsd:element name="status" type="prd:telephoneNumberStatusEnum"/>
                            <xsd:element name="OrderItem" type="prd:telephoneNumbercreateResponseItem"/>
                        </xsd:sequence>
                    </xsd:extension>
                </xsd:complexContent>
            </xsd:complexType>
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <!--  telephoneNumbercreateResponseItem  -->
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <xsd:complexType name="telephoneNumbercreateResponseItem">
                <xsd:complexContent>
                    <xsd:extension base="grp:WMPOrderStatusItem"/>
                </xsd:complexContent>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="Error">
        <wsdl:part name="Error" type="ord:Error"/>
    </wsdl:message>
    <wsdl:message name="createStatusUpdateRequest">
        <wsdl:part element="prd:telephoneNumbercreateResponse" name="telephoneNumbercreateStatusUpdateRequest"/>
    </wsdl:message>
    <wsdl:message name="createRequest">
        <wsdl:part element="prd:telephoneNumbercreateRequest" name="telephoneNumbercreateRequest"/>
    </wsdl:message>
    <wsdl:portType name="telephoneNumberCallbackServices-new">
        <wsdl:operation name="createStatusUpdate">
            <wsdl:input message="tns:createStatusUpdateRequest" name="createStatusUpdateRequest"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="telephoneNumberServices-new">
        <wsdl:operation name="create">
            <wsdl:input message="tns:createRequest" name="createRequest"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="telephoneNumberBindingSOAP" type="tns:telephoneNumberServices-new">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="create">
            <soap:operation soapAction="WMP_telephoneNumber_1.0-NEW_create_Asynchronous" style="document"/>
            <wsdl:input name="createRequest">
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="telephoneNumberCallbackBindingSOAP" type="tns:telephoneNumberCallbackServices-new">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="createStatusUpdate">
            <soap:operation soapAction="WMP_telephoneNumber_1.0-NEW_create_Asynchronous" style="document"/>
            <wsdl:input name="createStatusUpdateRequest">
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="telephoneNumber">
        <wsdl:port binding="tns:telephoneNumberCallbackBindingSOAP" name="telephoneNumberCallbackServices">
            <soap:address location="http://localhost:8080/path/telephoneNumberCallbackServices"/>
        </wsdl:port>
        <wsdl:port binding="tns:telephoneNumberBindingSOAP" name="telephoneNumberServices">
            <soap:address location="http://localhost:8080/path/telephoneNumberServices"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>